{
    "swagger": "2.0",
    "info":
    {
        "description": "List of Non Balance Netting Account list",
        "version": "v1.0.0",
        "title": "Product Non Balance Netting Account List"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/holdings/cashManagement/bundles/{bundleId}/currentAccounts":
        {
            "get":
            {
                "description": "To list all the standalone account in relation with the Bundle arrangement customer.List of Non-BN Account list",
                "operationId": "getNonBalanceNettingAccounts",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "bundleId",
                    "in": "path",
                    "description": "",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "NonBalanceNettingAccountsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/NonBalanceNettingAccountsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "QueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                }
            }
        },
        "NonBalanceNettingAccountsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/NonBalanceNettingAccountsResponseBody"
                }
            },
            "description": "NonBalanceNettingAccountsResponse"
        },
        "NonBalanceNettingAccountsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "accountId":
                    {
                        "type": "string",
                        "description": "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."
                    },
                    "productName":
                    {
                        "type": "string",
                        "description": "Name of the product, which is also its Id."
                    },
                    "countryId":
                    {
                        "type": "string",
                        "description": "ISO country code of the financial institution. ",
                        "maxLength": 11
                    },
                    "companyCode":
                    {
                        "type": "string",
                        "description": "Company code in audit details",
                        "maxLength": 11
                    },
                    "displayName":
                    {
                        "type": "string",
                        "description": "Name used for display or enrichment purposes",
                        "maxLength": 35
                    },
                    "customerName":
                    {
                        "type": "string",
                        "description": "Name of the customer",
                        "maxLength": 10
                    },
                    "status":
                    {
                        "type": "string",
                        "description": "The status identifier"
                    },
                    "startDate":
                    {
                        "type": "string",
                        "format": "date",
                        "description": "Specifies the start date when the instruction will be made active"
                    },
                    "currency":
                    {
                        "type": "string",
                        "description": "Identifies the underlying currency used for the transaction.",
                        "maxLength": 3
                    },
                    "balance":
                    {
                        "type": "number",
                        "description": "The monetary value of each balance type for an account is itemised."
                    }
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "QueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/QueryErrorResponseBody"
                }
            },
            "description": "QueryErrorResponse"
        },
        "QueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        }
    }
}