{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retrieves the details of Draft Bundles Accounts",
    "version" : "v1.0.0",
    "title" : "Retrieves the details of Draft Bundles Accounts"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/cashManagement/{customerId}/bundles/drafts" : {
      "get" : {
        "summary" : "Retrieves the List of Draft Bundles available for a Customer",
        "description" : "Retrieves the List of Draft Bundles available for a Customer",
        "operationId" : "getDraftArrangements",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "The identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DraftArrangementsResponse",
            "schema" : {
              "$ref" : "#/definitions/DraftArrangementsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/{bundleId}/bundles/draftDetails" : {
      "get" : {
        "summary" : "Retrieves the details of the Draft Bundle Account",
        "description" : "Retrieves the details of the Draft Bundle Account",
        "operationId" : "getDraftBundleList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "bundleId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DraftBundleListResponse",
            "schema" : {
              "$ref" : "#/definitions/DraftBundleListResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "DraftArrangementsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DraftArrangementsResponseBody"
        }
      },
      "description" : "DraftArrangementsResponse"
    },
    "DraftArrangementsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrangementId" : {
            "type" : "string",
            "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
            "maxLength" : 20
          },
          "activityId" : {
            "type" : "string",
            "description" : "The identifier of the activity"
          },
          "productId" : {
            "type" : "string",
            "description" : "The identifier of the product",
            "maxLength" : 30
          },
          "productName" : {
            "type" : "string",
            "description" : "The name that is displayed for the product"
          },
          "customerId" : {
            "type" : "number",
            "description" : "The identifier of the customer"
          },
          "customerName" : {
            "type" : "string",
            "description" : "The name that is displayed for the customer"
          },
          "countryId" : {
            "type" : "string",
            "description" : "The identifier of the country, normally the SWIFT code of the country.",
            "maxLength" : 11
          },
          "companyCode" : {
            "type" : "string",
            "description" : "",
            "maxLength" : 11
          },
          "referenceCurrency" : {
            "type" : "string",
            "description" : "The reference currency"
          },
          "structureName" : {
            "type" : "string",
            "description" : ""
          },
          "status" : {
            "type" : "string",
            "description" : "The status identifier"
          },
          "title" : {
            "type" : "string",
            "description" : ""
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "DraftBundleListResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DraftBundleListResponseBody"
        }
      },
      "description" : "DraftBundleListResponse"
    },
    "DraftBundleListResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "aliases" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "alias" : {
                  "type" : "string",
                  "description" : ""
                }
              }
            }
          },
          "accounts" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "object",
              "properties" : {
                "account" : {
                  "type" : "string",
                  "description" : ""
                }
              }
            }
          },
          "customers" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "object",
              "properties" : {
                "customer" : {
                  "type" : "string",
                  "description" : ""
                }
              }
            }
          },
          "companies" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "object",
              "properties" : {
                "company" : {
                  "type" : "string",
                  "description" : ""
                }
              }
            }
          },
          "countries" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "object",
              "properties" : {
                "country" : {
                  "type" : "string",
                  "description" : ""
                }
              }
            }
          },
          "currencies" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "object",
              "properties" : {
                "currency" : {
                  "type" : "string",
                  "description" : ""
                }
              }
            }
          },
          "products" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "object",
              "properties" : {
                "product" : {
                  "type" : "string",
                  "description" : ""
                }
              }
            }
          },
          "productDescriptions" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "productDescription" : {
                  "type" : "string",
                  "description" : ""
                }
              }
            }
          },
          "names" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "name" : {
                  "type" : "string",
                  "description" : ""
                }
              }
            }
          },
          "alternateReferences" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "alternateReference" : {
                  "type" : "string",
                  "description" : ""
                }
              }
            }
          },
          "parents" : {
            "type" : "array",
            "description" : "This Field is to determine whether the order is a parent order, Allowed value is YES",
            "items" : {
              "type" : "object",
              "properties" : {
                "parent" : {
                  "type" : "string",
                  "description" : "This Field is to determine whether the order is a parent order, Allowed value is YES"
                }
              }
            }
          },
          "goLiveDates" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "goLiveDate" : {
                  "type" : "string",
                  "description" : ""
                }
              }
            }
          },
          "linkTypes" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "linkType" : {
                  "type" : "string",
                  "description" : ""
                }
              }
            }
          },
          "keepBalances" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "keepBalance" : {
                  "type" : "string",
                  "description" : ""
                }
              }
            }
          },
          "accountTitles" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "accountTitle" : {
                  "type" : "string",
                  "description" : ""
                }
              }
            }
          },
          "level" : {
            "type" : "string",
            "description" : ""
          },
          "bundleArrangement" : {
            "type" : "string",
            "description" : "",
            "maxLength" : 20
          }
        }
      }
    }
  }
}