{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retrieves the list of unapproved accounts for the given Accounts,Deposits,Loan Products",
    "version" : "v1.0.0",
    "title" : "Retrieves the list of unapproved accounts"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/productLine/{productLine}/unApprovedDeposits" : {
      "get" : {
        "summary" : "Retrieves the list of unapproved accounts for the given Accounts Product",
        "description" : "Retrieves the list of unapproved accounts for the given Accounts Product",
        "operationId" : "getUnapprovedArrangementsDeposits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productLine",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UnapprovedArrangementsDepositsResponse",
            "schema" : {
              "$ref" : "#/definitions/UnapprovedArrangementsDepositsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/productLine/{productLine}/unApprovedLoans" : {
      "get" : {
        "summary" : "Retrieves the list of unapproved accounts for the given Loan Product",
        "description" : "Retrieves the list of unapproved accounts for the given Loan Product",
        "operationId" : "getUnapprovedArrangementsLoans",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productLine",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UnapprovedArrangementsLoansResponse",
            "schema" : {
              "$ref" : "#/definitions/UnapprovedArrangementsLoansResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/productLine/{productLine}/unApprovedAccounts" : {
      "get" : {
        "summary" : "Retrieves the list of unapproved accounts for the given Account Product",
        "description" : "Retrieves the list of unapproved accounts for the given Account Product",
        "operationId" : "getUnapprovedArrangementsAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productLine",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UnapprovedArrangementsAccountsResponse",
            "schema" : {
              "$ref" : "#/definitions/UnapprovedArrangementsAccountsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/productLine/{productLine}/pendingAccounts" : {
      "get" : {
        "summary" : "Retrieves the list of accounts in Hold status for the given Accounts Product",
        "description" : "Retrieves the list of accounts in Hold status for the given Accounts Product",
        "operationId" : "getAAPendingArrangementAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productLine",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "activityId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AAPendingArrangementAccountsResponse",
            "schema" : {
              "$ref" : "#/definitions/AAPendingArrangementAccountsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/productLine/{productLine}/pendingDeposits" : {
      "get" : {
        "summary" : "Retrieves the list of accounts in Hold status for the given Deposit Product",
        "description" : "Retrieves the list of accounts in Hold status for the given Deposit Product",
        "operationId" : "getAAPendingArrangementDeposits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productLine",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "activityId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AAPendingArrangementDepositsResponse",
            "schema" : {
              "$ref" : "#/definitions/AAPendingArrangementDepositsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/productLine/{productLine}/pendingLoans" : {
      "get" : {
        "summary" : "Retrieves the list of accounts in Hold status for the given Lending Product",
        "description" : "Retrieves the list of accounts in Hold status for the given Lending Product",
        "operationId" : "getAAPendingArrangementLoans",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productLine",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "activityId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AAPendingArrangementLoansResponse",
            "schema" : {
              "$ref" : "#/definitions/AAPendingArrangementLoansResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/productLine/{productLine}/approvedAccounts" : {
      "get" : {
        "summary" : "Retrieves the list of approved accounts created from the Accounts Products",
        "description" : "Retrieves the list of approved accounts created from the Accounts Products",
        "operationId" : "getApprovedAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productLine",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroup",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "product",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ApprovedAccountsResponse",
            "schema" : {
              "$ref" : "#/definitions/ApprovedAccountsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/productLine/{productLine}/approvedDeposits" : {
      "get" : {
        "summary" : "Retrieves the list of approved accounts created from the Deposits Products",
        "description" : "Retrieves the list of approved accounts created from the Deposits Products",
        "operationId" : "getApprovedDeposits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productLine",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroup",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "product",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ApprovedDepositsResponse",
            "schema" : {
              "$ref" : "#/definitions/ApprovedDepositsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/productLine/{productLine}/approvedLoans" : {
      "get" : {
        "summary" : "Retrieves the list of approved accounts created from the Loan Products",
        "description" : "Retrieves the list of approved accounts created from the Loan Products",
        "operationId" : "getApprovedLoans",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productLine",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroup",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "product",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ApprovedLoansResponse",
            "schema" : {
              "$ref" : "#/definitions/ApprovedLoansResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "UnapprovedArrangementsDepositsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UnapprovedArrangementsDepositsResponseBody"
        }
      },
      "description" : "UnapprovedArrangementsDepositsResponse"
    },
    "UnapprovedArrangementsDepositsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "customers" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "object",
              "properties" : {
                "customerId" : {
                  "type" : "string",
                  "description" : "The identifier of the customer",
                  "maxLength" : 10
                },
                "customerName" : {
                  "type" : "string",
                  "description" : "The name that is displayed for the customer",
                  "maxLength" : 35
                }
              }
            }
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."
          },
          "accountId" : {
            "type" : "string",
            "description" : "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.",
            "maxLength" : 35
          },
          "displayName" : {
            "type" : "string",
            "description" : "The name used for display purposes"
          },
          "arrangementStatus" : {
            "type" : "string",
            "description" : "The status of the arrangement",
            "maxLength" : 15
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "UnapprovedArrangementsLoansResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UnapprovedArrangementsLoansResponseBody"
        }
      },
      "description" : "UnapprovedArrangementsLoansResponse"
    },
    "UnapprovedArrangementsLoansResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrangementId" : {
            "type" : "string",
            "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."
          },
          "accountId" : {
            "type" : "string",
            "description" : "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.",
            "maxLength" : 35
          },
          "displayName" : {
            "type" : "string",
            "description" : "The name used for display purposes"
          },
          "customerId" : {
            "type" : "string",
            "description" : "The identifier of the customer",
            "maxLength" : 10
          },
          "customerName" : {
            "type" : "string",
            "description" : "The name that is displayed for the customer",
            "maxLength" : 35
          },
          "arrangementStatus" : {
            "type" : "string",
            "description" : "The status of the arrangement",
            "maxLength" : 15
          }
        }
      }
    },
    "UnapprovedArrangementsAccountsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UnapprovedArrangementsAccountsResponseBody"
        }
      },
      "description" : "UnapprovedArrangementsAccountsResponse"
    },
    "UnapprovedArrangementsAccountsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrangementId" : {
            "type" : "string",
            "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."
          },
          "accountId" : {
            "type" : "string",
            "description" : "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.",
            "maxLength" : 35
          },
          "displayName" : {
            "type" : "string",
            "description" : "The name used for display purposes"
          },
          "customerId" : {
            "type" : "string",
            "description" : "The identifier of the customer",
            "maxLength" : 10
          },
          "customerName" : {
            "type" : "string",
            "description" : "The name that is displayed for the customer",
            "maxLength" : 35
          },
          "arrangementStatus" : {
            "type" : "string",
            "description" : "The status of the arrangement",
            "maxLength" : 15
          }
        }
      }
    },
    "AAPendingArrangementAccountsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AAPendingArrangementAccountsResponseBody"
        }
      },
      "description" : "AAPendingArrangementAccountsResponse"
    },
    "AAPendingArrangementAccountsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "customers" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "object",
              "properties" : {
                "customerId" : {
                  "type" : "string",
                  "description" : "The identifier of the customer",
                  "maxLength" : 10
                },
                "customerName" : {
                  "type" : "string",
                  "description" : "The name that is displayed for the customer",
                  "maxLength" : 35
                }
              }
            }
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
            "maxLength" : 20
          },
          "activityId" : {
            "type" : "string",
            "description" : "The identifier of the activity",
            "maxLength" : 55
          },
          "displayName" : {
            "type" : "string",
            "description" : "The name used for display purposes",
            "maxLength" : 30
          },
          "arrangementStatus" : {
            "type" : "string",
            "description" : "The status of the arrangement"
          }
        }
      }
    },
    "AAPendingArrangementDepositsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AAPendingArrangementDepositsResponseBody"
        }
      },
      "description" : "AAPendingArrangementDepositsResponse"
    },
    "AAPendingArrangementDepositsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrangementId" : {
            "type" : "string",
            "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
            "maxLength" : 20
          },
          "activityId" : {
            "type" : "string",
            "description" : "The identifier of the activity",
            "maxLength" : 55
          },
          "displayName" : {
            "type" : "string",
            "description" : "The name used for display purposes",
            "maxLength" : 30
          },
          "customerId" : {
            "type" : "string",
            "description" : "The identifier of the customer",
            "maxLength" : 10
          },
          "customerName" : {
            "type" : "string",
            "description" : "The name that is displayed for the customer",
            "maxLength" : 35
          },
          "arrangementStatus" : {
            "type" : "string",
            "description" : "The status of the arrangement"
          }
        }
      }
    },
    "AAPendingArrangementLoansResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AAPendingArrangementLoansResponseBody"
        }
      },
      "description" : "AAPendingArrangementLoansResponse"
    },
    "AAPendingArrangementLoansResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrangementId" : {
            "type" : "string",
            "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
            "maxLength" : 20
          },
          "activityId" : {
            "type" : "string",
            "description" : "The identifier of the activity",
            "maxLength" : 55
          },
          "displayName" : {
            "type" : "string",
            "description" : "The name used for display purposes",
            "maxLength" : 30
          },
          "customerId" : {
            "type" : "string",
            "description" : "The identifier of the customer",
            "maxLength" : 10
          },
          "customerName" : {
            "type" : "string",
            "description" : "The name that is displayed for the customer",
            "maxLength" : 35
          },
          "arrangementStatus" : {
            "type" : "string",
            "description" : "The status of the arrangement"
          }
        }
      }
    },
    "ApprovedAccountsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ApprovedAccountsResponseBody"
        }
      },
      "description" : "ApprovedAccountsResponse"
    },
    "ApprovedAccountsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrangementId" : {
            "type" : "string",
            "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."
          },
          "accountNumber" : {
            "type" : "string",
            "description" : "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.",
            "maxLength" : 35
          },
          "productDescription" : {
            "type" : "string",
            "description" : ""
          },
          "CustomerId" : {
            "type" : "string",
            "description" : "The identifier of the customer",
            "maxLength" : 10
          },
          "customerName" : {
            "type" : "string",
            "description" : "The name that is displayed for the customer",
            "maxLength" : 35
          },
          "Status" : {
            "type" : "string",
            "description" : "The status identifier",
            "maxLength" : 15
          }
        }
      }
    },
    "ApprovedDepositsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ApprovedDepositsResponseBody"
        }
      },
      "description" : "ApprovedDepositsResponse"
    },
    "ApprovedDepositsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrrangementId" : {
            "type" : "string",
            "description" : ""
          },
          "accountNumber" : {
            "type" : "string",
            "description" : "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.",
            "maxLength" : 35
          },
          "productDescription" : {
            "type" : "string",
            "description" : ""
          },
          "customerId" : {
            "type" : "string",
            "description" : "The identifier of the customer"
          },
          "customerName" : {
            "type" : "string",
            "description" : "The name that is displayed for the customer",
            "maxLength" : 35
          },
          "Status" : {
            "type" : "string",
            "description" : "The status identifier",
            "maxLength" : 15
          }
        }
      }
    },
    "ApprovedLoansResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ApprovedLoansResponseBody"
        }
      },
      "description" : "ApprovedLoansResponse"
    },
    "ApprovedLoansResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrangementId" : {
            "type" : "string",
            "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."
          },
          "accountId" : {
            "type" : "string",
            "description" : "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.",
            "maxLength" : 35
          },
          "productDescription" : {
            "type" : "string",
            "description" : ""
          },
          "CustomerId" : {
            "type" : "string",
            "description" : "The identifier of the customer",
            "maxLength" : 10
          },
          "customerName" : {
            "type" : "string",
            "description" : "The name that is displayed for the customer",
            "maxLength" : 35
          },
          "Status" : {
            "type" : "string",
            "description" : "The status identifier",
            "maxLength" : 15
          }
        }
      }
    }
  }
}