{
    "swagger": "2.0",
    "info":
    {
        "description": "Update Decision on Transaction Stop Instruction",
        "version": "v1.0.0",
        "title": "Order Transaction Stop Investigations"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/order/transactionStops/{transactionStopId}/investigations":
        {
            "put":
            {
                "operationId": "updateTransactionStopInvestigations",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "transactionStopId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/orderTransactionStopInvestigations"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "TransactionStopInvestigationsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/orderTransactionStopInvestigationsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "PayloadHeader":
        {
            "properties":
            {
                "override":
                {
                    "type": "object",
                    "properties":
                    {
                        "overrideDetails":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "id":
                                    {
                                        "type": "string",
                                        "description": "The identifier of the override"
                                    },
                                    "description":
                                    {
                                        "type": "string",
                                        "description": "The actual override message"
                                    },
                                    "responseCode":
                                    {
                                        "type": "string",
                                        "description": "The user input to accept/reject the override."
                                    }
                                }
                            }
                        }
                    }
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        }
                    }
                }
            }
        },
        "orderTransactionStopInvestigations":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/orderTransactionStopInvestigationsBody"
                }
            },
            "description": "orderTransactionStopInvestigations"
        },
        "orderTransactionStopInvestigationsBody":
        {
            "type": "object",
            "properties":
            {
                "decisionReasons":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "decisionReason":
                            {
                                "type": "string",
                                "description": ""
                            }
                        }
                    }
                },
                "transactionStopInstruction":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "instructionId":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "instrctionDecision":
                            {
                                "type": "string",
                                "description": ""
                            }
                        }
                    }
                },
                "debitAccount":
                {
                    "type": "string",
                    "description": ""
                },
                "accountCurrency":
                {
                    "type": "string",
                    "description": "The currency of the account"
                },
                "requestedCurrency":
                {
                    "type": "string",
                    "description": ""
                },
                "requestedAmount":
                {
                    "type": "number",
                    "description": ""
                },
                "fundsDecision":
                {
                    "type": "string",
                    "description": ""
                },
                "transactionReference":
                {
                    "type": "string",
                    "description": "The transaction reference identifier."
                },
                "fundsAuthorisationStatus":
                {
                    "type": "string",
                    "description": ""
                }
            }
        },
        "ScreenHeader":
        {
            "properties":
            {
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "The status of the record"
                },
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "orderTransactionStopInvestigationsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ScreenHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/orderTransactionStopInvestigationsResponseBody"
                }
            },
            "description": "orderTransactionStopInvestigationsResponse"
        },
        "orderTransactionStopInvestigationsResponseBody":
        {
            "type": "object",
            "properties":
            {
                "decisionReasons":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "decisionReason":
                            {
                                "type": "string",
                                "description": ""
                            }
                        }
                    }
                },
                "transactionStopInstruction":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "instructionId":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "instrctionDecision":
                            {
                                "type": "string",
                                "description": ""
                            }
                        }
                    }
                },
                "debitAccount":
                {
                    "type": "string",
                    "description": ""
                },
                "accountCurrency":
                {
                    "type": "string",
                    "description": "The currency of the account"
                },
                "requestedCurrency":
                {
                    "type": "string",
                    "description": ""
                },
                "requestedAmount":
                {
                    "type": "number",
                    "description": ""
                },
                "fundsDecision":
                {
                    "type": "string",
                    "description": ""
                },
                "transactionReference":
                {
                    "type": "string",
                    "description": "The transaction reference identifier."
                },
                "fundsAuthorisationStatus":
                {
                    "type": "string",
                    "description": ""
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "The status of the record"
                },
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "overrideBody":
        {
            "properties":
            {
                "overrideDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "id":
                            {
                                "type": "string",
                                "description": "The identifier of the override"
                            },
                            "description":
                            {
                                "type": "string",
                                "description": "The actual override message"
                            }
                        }
                    }
                }
            }
        },
        "ScreenErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/ScreenErrorResponseBody"
                },
                "override":
                {
                    "$ref": "#/definitions/overrideBody"
                }
            },
            "description": "ScreenErrorResponse"
        },
        "ScreenErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "errorDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "fieldName":
                            {
                                "type": "string",
                                "description": "The name of the field"
                            },
                            "code":
                            {
                                "type": "string",
                                "description": "The identifier of the error message"
                            },
                            "message":
                            {
                                "type": "string",
                                "description": "The actual t24 error message"
                            }
                        }
                    }
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        }
    }
}