{
  "swagger" : "2.0",
  "info" : {
    "description" : "Update Mandate setup",
    "version" : "v1.0.0",
    "title" : "Mandate Setup APIs"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/customers/{customerId}/mandates" : {
      "put" : {
        "summary" : "Update the existing customer",
        "description" : "Update the existing customer with mandate details",
        "operationId" : "updateCustomerMandate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "The identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CustomerMandate"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerMandateResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerMandateResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/mandates/{customerId}" : {
      "put" : {
        "summary" : "Update the mandate details for customer",
        "description" : "Update the existing mandate details for specific customer",
        "operationId" : "updateMandate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "The identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Mandate"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "MandateResponse",
            "schema" : {
              "$ref" : "#/definitions/MandateResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/mandates/parameters/{applicationId}" : {
      "put" : {
        "summary" : "Update the mandate parameter details",
        "description" : "Update the existing mandate parameter details for specific application",
        "operationId" : "updateMandateParameter",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "Application id.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MandateParameter"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "MandateParameterResponse",
            "schema" : {
              "$ref" : "#/definitions/MandateParameterResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/signatories/{signatoryGroupId}" : {
      "put" : {
        "summary" : "Update the signatory group details",
        "description" : "Update the existing signatory details for specific customer group",
        "operationId" : "updateSignatoryGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "signatoryGroupId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SignatoryGroup"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SignatoryGroupResponse",
            "schema" : {
              "$ref" : "#/definitions/SignatoryGroupResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "CustomerMandate" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerMandateBody"
        }
      },
      "description" : "CustomerMandate"
    },
    "CustomerMandateBody" : {
      "type" : "object",
      "properties" : {
        "mandates" : {
          "type" : "array",
          "description" : "It contains the signatory groups required for authorisation of transactions within a given range",
          "items" : {
            "type" : "object",
            "properties" : {
              "applicationId" : {
                "type" : "string",
                "description" : "Application id."
              },
              "ruleId" : {
                "type" : "string",
                "description" : "Used to provide the rule for non-financial transaction, for identified related signatory groups and Minimum number of signatories"
              },
              "recordId" : {
                "type" : "string",
                "description" : "record Id name for NOFILE enquiry for online upgrade"
              }
            }
          }
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "CustomerMandateResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerMandateResponseBody"
        }
      },
      "description" : "CustomerMandateResponse"
    },
    "CustomerMandateResponseBody" : {
      "type" : "object",
      "properties" : {
        "mandates" : {
          "type" : "array",
          "description" : "It contains the signatory groups required for authorisation of transactions within a given range",
          "items" : {
            "type" : "object",
            "properties" : {
              "applicationId" : {
                "type" : "string",
                "description" : "Application id."
              },
              "ruleId" : {
                "type" : "string",
                "description" : "Used to provide the rule for non-financial transaction, for identified related signatory groups and Minimum number of signatories"
              },
              "recordId" : {
                "type" : "string",
                "description" : "record Id name for NOFILE enquiry for online upgrade"
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "Mandate" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/MandateBody"
        }
      },
      "description" : "Mandate"
    },
    "MandateBody" : {
      "type" : "object",
      "properties" : {
        "mandates" : {
          "type" : "array",
          "description" : "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction",
          "items" : {
            "type" : "object",
            "properties" : {
              "upToAmount" : {
                "type" : "number",
                "description" : "This is a system maintained field containing the amount on which the commission rate is applied to arrive at the commission amount."
              },
              "signatories" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "signatoryGroup" : {
                      "type" : "string",
                      "description" : "Valid signatory groups belong to customer"
                    },
                    "minimumNumberOfSignatories" : {
                      "type" : "string",
                      "description" : "Minimum number of signatories required"
                    }
                  }
                }
              }
            }
          }
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes"
        },
        "limitCurrencyId" : {
          "type" : "string",
          "description" : "Currency used in this mandate for amounts"
        }
      }
    },
    "MandateResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/MandateResponseBody"
        }
      },
      "description" : "MandateResponse"
    },
    "MandateResponseBody" : {
      "type" : "object",
      "properties" : {
        "mandates" : {
          "type" : "array",
          "description" : "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction",
          "items" : {
            "type" : "object",
            "properties" : {
              "upToAmount" : {
                "type" : "number",
                "description" : "This is a system maintained field containing the amount on which the commission rate is applied to arrive at the commission amount."
              },
              "signatories" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "signatoryGroup" : {
                      "type" : "string",
                      "description" : "Valid signatory groups belong to customer"
                    },
                    "minimumNumberOfSignatories" : {
                      "type" : "string",
                      "description" : "Minimum number of signatories required"
                    }
                  }
                }
              }
            }
          }
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes"
        },
        "limitCurrencyId" : {
          "type" : "string",
          "description" : "Currency used in this mandate for amounts"
        }
      }
    },
    "MandateParameter" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/MandateParameterBody"
        }
      },
      "description" : "MandateParameter"
    },
    "MandateParameterBody" : {
      "type" : "object",
      "properties" : {
        "fieldIds" : {
          "type" : "array",
          "description" : "This field groups the mandate parameter values",
          "items" : {
            "type" : "object",
            "properties" : {
              "amount" : {
                "type" : "number",
                "description" : "This is the payment amount"
              },
              "currency" : {
                "type" : "string",
                "description" : "Identifies the underlying currency used for the transaction."
              },
              "valueDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Shows the date on which the underlying accounting entry is to be given value (for interest purposes)."
              }
            }
          }
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes"
        },
        "raiseAlert" : {
          "type" : "string",
          "description" : "Indicates if alerts should be raised to pending Signatories using Business events"
        }
      }
    },
    "MandateParameterResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/MandateParameterResponseBody"
        }
      },
      "description" : "MandateParameterResponse"
    },
    "MandateParameterResponseBody" : {
      "type" : "object",
      "properties" : {
        "fieldIds" : {
          "type" : "array",
          "description" : "This field groups the mandate parameter values",
          "items" : {
            "type" : "object",
            "properties" : {
              "amount" : {
                "type" : "number",
                "description" : "This is the payment amount"
              },
              "currency" : {
                "type" : "string",
                "description" : "Identifies the underlying currency used for the transaction."
              },
              "valueDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Shows the date on which the underlying accounting entry is to be given value (for interest purposes)."
              }
            }
          }
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes"
        },
        "raiseAlert" : {
          "type" : "string",
          "description" : "Indicates if alerts should be raised to pending Signatories using Business events"
        }
      }
    },
    "SignatoryGroup" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SignatoryGroupBody"
        }
      },
      "description" : "SignatoryGroup"
    },
    "SignatoryGroupBody" : {
      "type" : "object",
      "properties" : {
        "signatories" : {
          "type" : "array",
          "description" : "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "The identifier of the customer"
              },
              "startDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Specifies the start date when the instruction will be made active"
              },
              "endDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "This is the final payment date in  the payment schedule."
              }
            }
          }
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes"
        }
      }
    },
    "SignatoryGroupResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SignatoryGroupResponseBody"
        }
      },
      "description" : "SignatoryGroupResponse"
    },
    "SignatoryGroupResponseBody" : {
      "type" : "object",
      "properties" : {
        "signatories" : {
          "type" : "array",
          "description" : "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "The identifier of the customer"
              },
              "startDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Specifies the start date when the instruction will be made active"
              },
              "endDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "This is the final payment date in  the payment schedule."
              }
            }
          }
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes"
        }
      }
    }
  }
}