{
  "swagger" : "2.0",
  "info" : {
    "description" : "Api to retrieve deposit accounts/contracts details with customer information for deposits maturing within 30 days for a specific business date or for the current date",
    "version" : "v1.0.0",
    "title" : "Customer Deposits"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "https", "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/deposits/metrics/maturingDeposits" : {
      "get" : {
        "summary" : "Retrieves deposit accounts/contracts details with customer information for deposits maturing within 30 days for a specific business date or for the current date",
        "operationId" : "getCustomerDepositMaturity30Days",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "businessDate",
          "in" : "query",
          "description" : "Business snapshot date of the source data",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "useCurrentDate",
          "in" : "query",
          "description" : "Current Date flag for the Business date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "termToMaturity",
          "in" : "query",
          "description" : "The integer value of the remaining term to the maturity date of the product.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Customer DepositsResponse",
            "schema" : {
              "$ref" : "#/definitions/getCustomerDepositMaturity30DaysResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getCustomerDepositMaturity30DaysResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getCustomerDepositMaturity30DaysResponseBody"
        }
      },
      "description" : "getCustomerDepositMaturity30DaysResponse"
    },
    "getCustomerDepositMaturity30DaysResponseBody" : {
      "type" : "object",
      "properties" : {
        "depositsCustomerAccountDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountClass" : {
                "type" : "string",
                "description" : "Indicates if account is commercial; retail or other"
              },
              "affluentSegment" : {
                "type" : "string",
                "description" : "The affluent bucket of total balance to identify customer segment"
              },
              "ageGroup" : {
                "type" : "string",
                "description" : "Age Group"
              },
              "balance" : {
                "type" : "string",
                "description" : "Current balance of the account in reporting currency."
              },
              "lcyBalance" : {
                "type" : "string",
                "description" : "Current balance in local currency of the contract"
              },
              "balanceGroup" : {
                "type" : "string",
                "description" : "Groups based on balance"
              },
              "beneficiary" : {
                "type" : "string",
                "description" : "Beneficiary for the Letter of Credit"
              },
              "businessDate" : {
                "type" : "string",
                "description" : "Business snapshot date of the source data"
              },
              "closedDate" : {
                "type" : "string",
                "description" : "Date the contract was closed"
              },
              "contractBranchKey" : {
                "type" : "string",
                "description" : "Identifier field with no business meaning - Foreign key linking to Contract to Branch"
              },
              "contractBranchName" : {
                "type" : "string",
                "description" : "Branch name where Contract was created"
              },
              "contractBranchNumber" : {
                "type" : "string",
                "description" : "Branch Number"
              },
              "contractEmployeeFullName" : {
                "type" : "string",
                "description" : "Full name of the employee associated with the Contract"
              },
              "contractEmployeeKey" : {
                "type" : "string",
                "description" : "Identifier field with no business meaning - Foreign key linking to Contract to Employee"
              },
              "contractEmployeeNumber" : {
                "type" : "string",
                "description" : "Employee number of the employee associated with the Contract"
              },
              "contractNumber" : {
                "type" : "string",
                "description" : "Contract number of specific savings; chequing; term deposit; loan, letter of credit, etc."
              },
              "contractRegion" : {
                "type" : "string",
                "description" : "Region of the branch associated with the Contract"
              },
              "contractStatus" : {
                "type" : "string",
                "description" : "The status of the Contract. i.e Active, Closed, Dormant, Inactive etc"
              },
              "currency" : {
                "type" : "string",
                "description" : "The currency type for the contract.  Typically the standard ISO 3 character country code such as CAD; USD; EUR."
              },
              "useCurrentDate" : {
                "type" : "string",
                "description" : "Current Date flag for the Business date"
              },
              "customerClosedThisMonth" : {
                "type" : "string",
                "description" : "A Yes/No flag indicating if the customer has been closed within a month of the business date"
              },
              "customerNewThisMonth" : {
                "type" : "string",
                "description" : "A Yes/No flag indication if the customer has been opened within a month of the business date"
              },
              "customerClass" : {
                "type" : "string",
                "description" : "The classification for the member either retail or commercial"
              },
              "customerNumber" : {
                "type" : "string",
                "description" : "The customer number or customer identification number"
              },
              "customerStartDate" : {
                "type" : "string",
                "description" : "Date Customer started with�the FI�(customer opened date)"
              },
              "fixedOrVariable" : {
                "type" : "string",
                "description" : "Indicates if contract interest rate is fixed or variable"
              },
              "gender" : {
                "type" : "string",
                "description" : "Customer's gender"
              },
              "generation" : {
                "type" : "string",
                "description" : "The generation gap to identify the suitable product for the group of customers"
              },
              "interestRate" : {
                "type" : "string",
                "description" : "The interest rate for the contract"
              },
              "interestRateGroup" : {
                "type" : "string",
                "description" : "Groups based on account�interest rate�- '0' -.50%; .50 - 1.00%; 1% - 3% etc."
              },
              "interestRateIndex" : {
                "type" : "string",
                "description" : "Interest rate index Ex:Prime + 1.00. Usually configured on the banking system at the product level; defines the rate."
              },
              "interestRateType" : {
                "type" : "string",
                "description" : "Interest Rate Type."
              },
              "interestRateTypeDescription" : {
                "type" : "string",
                "description" : "Interest Rate Type Description - LD loans and deps."
              },
              "interestRateVariance" : {
                "type" : "string",
                "description" : "The contract interest rate variance. Eg. Prime -.50. -.50 is the variance."
              },
              "interpolate" : {
                "type" : "string",
                "description" : "BL Bill Interpolate"
              },
              "interestIncomeOrExpense" : {
                "type" : "string",
                "description" : "Daily interest for an contract on the business date; based on the balance and the rate. Negative if it's a demand contract; positive if it's a loan contract."
              },
              "interestIncomeOrExpenseLcy" : {
                "type" : "string",
                "description" : "Daily interest in local currency for an contract on the business date; based on the balance and the rate. Negative if it's a demand contract; positive if it's a loan contract."
              },
              "isClosedThisMonth" : {
                "type" : "string",
                "description" : "Yes/No flag indicating if the account was closed less than a month before the business date"
              },
              "isClosedToday" : {
                "type" : "string",
                "description" : "Yes/No flag indicating if the account was closed on the business date"
              },
              "isNewThisMonth" : {
                "type" : "string",
                "description" : "A Yes/No flag indicating if the account has been opened less than one month before the business date"
              },
              "isNewToday" : {
                "type" : "string",
                "description" : "A Yes/No flag indicating if the account has been opened on the business date"
              },
              "isOverdrawn" : {
                "type" : "string",
                "description" : "Indicates if contract is overdrawn  (yes/no)"
              },
              "isSME" : {
                "type" : "string",
                "description" : "Indicates if the customer is small/medium/enterprise corporate (yes/no))"
              },
              "liquidationMode" : {
                "type" : "string",
                "description" : "BL BILL Liquidation Mode"
              },
              "maritalStatus" : {
                "type" : "string",
                "description" : "Marital status of the customer such as single; married; divorced; separated"
              },
              "maturityDate" : {
                "type" : "string",
                "description" : "Date the loan or term account will mature"
              },
              "occupation" : {
                "type" : "string",
                "description" : "The working occupation of the customer."
              },
              "operation" : {
                "type" : "string",
                "description" : "Operation LC and Bills"
              },
              "overdrawnAmount" : {
                "type" : "string",
                "description" : "The amount the account is overdrawn"
              },
              "overdrawnAmountLcy" : {
                "type" : "string",
                "description" : "The amount the account is overdrawn in local currency"
              },
              "paymentFrequency" : {
                "type" : "string",
                "description" : "The frequency that the payment should be made on the loan contract"
              },
              "primaryCollateralCode" : {
                "type" : "string",
                "description" : "Primary collateral code for the loan account"
              },
              "primaryCollateralDescription" : {
                "type" : "string",
                "description" : "Primary collateral code for the loan account"
              },
              "productGroupCode" : {
                "type" : "string",
                "description" : "Grouping of product codes"
              },
              "productGroupDescription" : {
                "type" : "string",
                "description" : "Description of product groups"
              },
              "productGroupType" : {
                "type" : "string",
                "description" : "Grouping of product types"
              },
              "productLineCode" : {
                "type" : "string",
                "description" : "Line code of the product"
              },
              "productLineDescription" : {
                "type" : "string",
                "description" : "Line description of the product"
              },
              "productCode" : {
                "type" : "string",
                "description" : "The code used to identify the type of product the account represents.  This  code is the base for classifying products into  classifications; categories; groups and classes."
              },
              "productDescription" : {
                "type" : "string",
                "description" : "The description of the product based on the product code"
              },
              "productType" : {
                "type" : "string",
                "description" : "A classification field for product which is typically less granular than product code"
              },
              "standardizedTerm" : {
                "type" : "string",
                "description" : "The term length of the product calculated in standard months. i.e. 12; 24; 36 ....60.  If the term length is not a standard number; this value is rounded to the nearest standard term. For example a 13 month term is rounded to 12 months."
              },
              "startDate" : {
                "type" : "string",
                "description" : "Date the contract was opened"
              },
              "statementDescription" : {
                "type" : "string",
                "description" : "Text description of the account that is printed on statements. i.e Vacation Account"
              },
              "term" : {
                "type" : "string",
                "description" : "Term Length (0;1;3;6;9;12;18;24;36;48;60;84) could be months; days; years - see term unit."
              },
              "termInMonths" : {
                "type" : "string",
                "description" : "Term length converted to months. Calculated based on term and term Unit"
              },
              "termToMaturity" : {
                "type" : "string",
                "description" : "The integer value of the remaining term to the maturity date of the product."
              },
              "termUnit" : {
                "type" : "string",
                "description" : "Unit of term length (days; months; years)"
              },
              "totalBalance" : {
                "type" : "string",
                "description" : "The sum of all deposit and loan balances"
              },
              "totalBalanceLcy" : {
                "type" : "string",
                "description" : "Total Balance Amount in local currency)"
              },
              "totalCharges" : {
                "type" : "string",
                "description" : "Amount that is charged for operation by customer"
              },
              "totalChargesLcy" : {
                "type" : "string",
                "description" : "Amount in local currency that is charged for operation by customer"
              },
              "totalDiscount" : {
                "type" : "string",
                "description" : "Total Discount Amount"
              },
              "totalDiscountLcy" : {
                "type" : "string",
                "description" : "Total Discount Amount in local currency"
              },
              "transferRate" : {
                "type" : "string",
                "description" : "The funds transfer rate for the account based on values from the Profitability Model"
              },
              "unspecifiedAmount" : {
                "type" : "string",
                "description" : "Unspecified Amount"
              },
              "unspecifiedAmountLcy" : {
                "type" : "string",
                "description" : "Unspecified Amount in local currency"
              },
              "waiveCharge" : {
                "type" : "string",
                "description" : "WaiveCharge"
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    }
  }
}