{
  "swagger" : "2.0",
  "info" : {
    "description" : "Api to retrieve the number of transactions and the total amount of those transactions grouped by the product hierarchy for a specific business date or for the current date",
    "version" : "v1.0.0",
    "title" : "Product Transactions"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "https", "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/products/metrics/transactions/itemCount" : {
      "get" : {
        "summary" : "Retrieves the number of transactions and the total amount of those transactions grouped by the product hierarchy for a specific business date or for the current date",
        "operationId" : "getProductTransactionMetrics",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "businessDate",
          "in" : "query",
          "description" : "Business snapshot date of the source data",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "useCurrentDate",
          "in" : "query",
          "description" : "Current Date flag for the Business date",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Product TransactionsResponse",
            "schema" : {
              "$ref" : "#/definitions/getProductTransactionMetricsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getProductTransactionMetricsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getProductTransactionMetricsResponseBody"
        }
      },
      "description" : "getProductTransactionMetricsResponse"
    },
    "getProductTransactionMetricsResponseBody" : {
      "type" : "object",
      "properties" : {
        "productTransactionMetrics" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "productGroupCode" : {
                "type" : "string",
                "description" : "Grouping of product codes"
              },
              "productGroupDescription" : {
                "type" : "string",
                "description" : "Description of product groups"
              },
              "productGroupType" : {
                "type" : "string",
                "description" : "Grouping of product types"
              },
              "productLineCode" : {
                "type" : "string",
                "description" : "Line code of the product"
              },
              "productLineDescription" : {
                "type" : "string",
                "description" : "Line description of the product"
              },
              "productCode" : {
                "type" : "string",
                "description" : "The code used to identify the type of product the account represents.  This  code is the base for classifying products into  classifications; categories; groups and classes."
              },
              "productDescription" : {
                "type" : "string",
                "description" : "The description of the product based on the product code"
              },
              "transactionCount" : {
                "type" : "string",
                "description" : "Number of Transactions"
              },
              "transactionAmountAvg" : {
                "type" : "string",
                "description" : "Average Transaction amount"
              },
              "productType" : {
                "type" : "string",
                "description" : "A classification field for product which is typically less granular than product code"
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    }
  }
}