{
  "swagger" : "2.0",
  "info" : {
    "description" : "APIs to create and manage customer’s consent",
    "version" : "v1.0.0",
    "title" : "PSD II Consent management services"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/PSD2/customers/consentInititation" : {
      "post" : {
        "summary" : "Consent management.",
        "description" : "Consent creation. For PSD2, this API can be linked to 'create consent' and 'delete consent'published API in accordance to open banking standards. ",
        "operationId" : "createConsent",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Consent"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createConsentResponse",
            "schema" : {
              "$ref" : "#/definitions/ConsentResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/party/PSD2/customers/consentInititation/{consentId}" : {
      "put" : {
        "summary" : "Consent Initiation ",
        "description" : "Consent initiation and deletion. For PSD2, this API can be linked to 'initiateConsent' published API in accordance to open banking standards. ",
        "operationId" : "initiateConsent",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "consentId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Consent"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "initiateConsentResponse",
            "schema" : {
              "$ref" : "#/definitions/ConsentResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "summary" : "Consent deletion.",
        "description" : "Consent initiation and deletion. For PSD2, this API can be linked to 'initiateConsent' published API in accordance to open banking standards. ",
        "operationId" : "deleteConsent",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "consentId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "deleteConsentResponse",
            "schema" : {
              "$ref" : "#/definitions/ConsentResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/party/PSD2/customers/consentApprovals/{consentId}" : {
      "put" : {
        "summary" : "Consent authorization",
        "description" : "Consent authorization. For PSD2, this API can be linked to 'approveConsent' published API in accordance to open banking standards. ",
        "operationId" : "approveConsent",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "consentId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Consent"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "approveConsentResponse",
            "schema" : {
              "$ref" : "#/definitions/ConsentResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/party/PSD2/customers/consents/{consentId}" : {
      "get" : {
        "summary" : "Retrieves consent record",
        "description" : "Retrieves entire consent record. For PSD2, this API can be linked to 'get consent status request' published API in accordance to open banking standards.",
        "operationId" : "getConsentRequest",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "consentId",
          "in" : "path",
          "description" : "Identifier of the corresponding consent object as retrieved by an account Information consent Request.",
          "required" : true,
          "type" : "string",
          "x-example" : "AAACT19107S8SJRXN9"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ConsentRequestResponse",
            "schema" : {
              "$ref" : "#/definitions/ConsentRequestResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      },
      "put" : {
        "summary" : "Consent withdrawal.",
        "description" : "Consent withdrawal. For PSD2, this API can be linked to 'withdrawConsent' published API in accordance to open banking standards. ",
        "operationId" : "withdrawConsent",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "consentId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "x-example" : "AAACT19107S8SJRXN9"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Consent1"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "withdrawConsentResponse",
            "schema" : {
              "$ref" : "#/definitions/ConsentResponse1"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/party/PSD2/customers/consents/{consentId}/status" : {
      "get" : {
        "summary" : "Retrieves consent status",
        "description" : "Retrieves status of the consent record. For PSD2, this API can be linked to 'get consent status request' published API in accordance to open banking standards.",
        "operationId" : "getConsentStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "consentId",
          "in" : "path",
          "description" : "Identifier of the corresponding consent object as retrieved by an account Information consent Request.",
          "required" : true,
          "type" : "string",
          "x-example" : "AAACT19107S8SJRXN9"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ConsentStatusResponse",
            "schema" : {
              "$ref" : "#/definitions/ConsentStatusResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/PSD2/customers/{customerId}/consents" : {
      "get" : {
        "summary" : "Retrieves the consent information and status of TPP",
        "description" : "Retrieves the detailed consent information along with the status of third party payment provider, with specified consent id, consent status and customer. For PSD2 this API can be linked to 'getConsentData' published API in accordance to open banking standards to return details of all consents.",
        "operationId" : "getConsentData",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "consentStatus",
          "in" : "query",
          "description" : "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "consentId",
          "in" : "query",
          "description" : "Identifier of the corresponding consent object as retrieved by an account Information consent Request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ConsentDataResponse",
            "schema" : {
              "$ref" : "#/definitions/ConsentDataResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "Consent" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ConsentBody"
        }
      },
      "description" : "Consent",
      "example" : {
        "header" : {
          "audit" : {
            "versionNumber" : ""
          },
          "override" : {
            "overrideDetails" : [ {
              "description" : "",
              "id" : "",
              "responseCode" : ""
            } ]
          }
        },
        "body" : {
          "arrangement" : "NEW",
          "reason" : "",
          "product" : "PSD2.CONSENT",
          "activity" : "",
          "accountConsent" : {
            "accountIBANs" : [ {
              "accountBlock" : "",
              "blockTill" : "",
              "consentSubTypes" : [ {
                "consentSubType" : ""
              } ],
              "isConsentGiven" : "",
              "accountIBAN" : "",
              "blockNotes" : "",
              "blockFrom" : ""
            } ],
            "scaStatus" : "",
            "consentStatuses" : [ {
              "consentStatus" : "",
              "lastActionDate" : ""
            } ],
            "consentTypes" : [ {
              "consentType" : "allPsd2"
            } ],
            "link" : "",
            "recurringIndicator" : "",
            "onlineArrangement" : "",
            "externalUserId" : "",
            "thirdpartyprovider" : "",
            "combinedServiceIndicator" : "",
            "signUpService" : "AISP",
            "validUntil" : "",
            "frequencyPerDay" : "",
            "thirdpartyproviderId" : "GB-FST-1033"
          },
          "arrangementEffectiveDate" : "",
          "customer" : "100394"
        }
      }
    },
    "ConsentBody" : {
      "type" : "object",
      "properties" : {
        "arrangement" : {
          "type" : "string",
          "description" : "Unique identifier for the arrangement contract"
        },
        "customer" : {
          "type" : "string",
          "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed."
        },
        "product" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
        },
        "arrangementEffectiveDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date from which the arrangement activity is effective"
        },
        "activity" : {
          "type" : "string",
          "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity."
        },
        "reason" : {
          "type" : "string",
          "description" : "Contains the reason for performing the current activity"
        },
        "accountConsent" : {
          "type" : "object",
          "properties" : {
            "consentTypes" : {
              "type" : "array",
              "description" : "Consent Type for which the consent is given",
              "items" : {
                "type" : "object",
                "properties" : {
                  "consentType" : {
                    "type" : "string",
                    "description" : "Consent Type for which the consent is given"
                  }
                }
              }
            },
            "accountIBANs" : {
              "type" : "array",
              "description" : "Indicates the consent type provided for a particular account. For example, If consent sub type for account 100100 is given as allPsd2, the account is given global consent.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "accountIBAN" : {
                    "type" : "string",
                    "description" : "Represents the International Bank Account Number (IBAN) of the account.  E.g. GB29 NWBK 6016 1331 9268 19"
                  },
                  "isConsentGiven" : {
                    "type" : "string",
                    "description" : "Indicates whether the customer consents to adding this account to the TPP (third party provider) service they are signing up for or otherwise."
                  },
                  "accountBlock" : {
                    "type" : "string",
                    "description" : "Indicates whether the consent account has been blocked or not. Holds YES/NO/Blank."
                  },
                  "blockFrom" : {
                    "type" : "string",
                    "description" : "Specifies the date on which account consent is blocked."
                  },
                  "blockTill" : {
                    "type" : "string",
                    "description" : "Specifies until which date account consent to be blocked."
                  },
                  "blockNotes" : {
                    "type" : "string",
                    "description" : "Reason for blocking the account in the consent."
                  },
                  "consentSubTypes" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "consentSubType" : {
                          "type" : "string",
                          "description" : "Indicates the consent type provided for a particular account. For example, If consent sub type for account 100100 is given as allPsd2, the account is given global consent."
                        }
                      }
                    }
                  }
                }
              }
            },
            "consentStatuses" : {
              "type" : "array",
              "description" : "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "consentStatus" : {
                    "type" : "string",
                    "description" : "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu."
                  },
                  "lastActionDate" : {
                    "type" : "string",
                    "format" : "date",
                    "description" : "Indicates the date on which the status of the consent arrangement changed."
                  }
                }
              }
            },
            "thirdpartyproviderId" : {
              "type" : "string",
              "description" : "Unique TPP(third party provider) reference which is the global urn of the TPP. For example: PSDLU-CSSF-9db9074bf3be45550237a21cd2a11585"
            },
            "signUpService" : {
              "type" : "string",
              "description" : "Indicates whether the signing up information is to be AISP(Accounts information service provider) or PISP(Payments information service provider)."
            },
            "recurringIndicator" : {
              "type" : "string",
              "description" : "Indicates whether the expiry date to be recalculated for every duration of expiry period."
            },
            "validUntil" : {
              "type" : "string",
              "description" : "Valid until date"
            },
            "frequencyPerDay" : {
              "type" : "string",
              "description" : "Specifies the frequency in which the payment application executes the payment instruction"
            },
            "combinedServiceIndicator" : {
              "type" : "string",
              "description" : "Specifies whether the payment initiation service will be addressed in the same session as account information consent request"
            },
            "scaStatus" : {
              "type" : "string",
              "description" : "Contains the status of the strong customer authentication process for the payment or consent. Valid values are received, psuIdentified, scaMethodSelected, started, finalised or failed"
            },
            "link" : {
              "type" : "string",
              "description" : "Contains the arrangement activity reference of the parent. This is used during secondary activity processing where child activities are generated at runtime during processing."
            },
            "thirdpartyprovider" : {
              "type" : "string",
              "description" : "Contains the TPP (third party provider) name or text of the TPP reference"
            },
            "externalUserId" : {
              "type" : "string",
              "description" : "Contains the external user identifier for which the consent is created."
            },
            "onlineArrangement" : {
              "type" : "string",
              "description" : "Contains the arrangement identifier of the external user that contains the rights that the external user has access to."
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "ConsentResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ConsentResponseBody"
        }
      },
      "description" : "ConsentResponse"
    },
    "ConsentResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "arrangement" : {
              "type" : "string",
              "description" : "Unique identifier for the arrangement contract"
            },
            "customer" : {
              "type" : "string",
              "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed."
            },
            "product" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
            },
            "arrangementEffectiveDate" : {
              "type" : "string",
              "format" : "date",
              "description" : "Date from which the arrangement activity is effective"
            },
            "activity" : {
              "type" : "string",
              "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity."
            },
            "reason" : {
              "type" : "string",
              "description" : "Contains the reason for performing the current activity"
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "customer" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "officers" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "accountConsent" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "parseTime" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "consentTypes" : {
                      "type" : "array",
                      "description" : "Consent Type for which the consent is given",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "consentType" : {
                            "type" : "string",
                            "description" : "Consent Type for which the consent is given"
                          }
                        }
                      }
                    },
                    "accountIBANs" : {
                      "type" : "array",
                      "description" : "Indicates the consent type provided for a particular account. For example, If consent sub type for account 100100 is given as allPsd2, the account is given global consent.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "accountIBAN" : {
                            "type" : "string",
                            "description" : "Represents the International Bank Account Number (IBAN) of the account.  E.g. GB29 NWBK 6016 1331 9268 19"
                          },
                          "isConsentGiven" : {
                            "type" : "string",
                            "description" : "Indicates whether the customer consents to adding this account to the TPP (third party provider) service they are signing up for or otherwise."
                          },
                          "accountBlock" : {
                            "type" : "string",
                            "description" : "Indicates whether the consent account has been blocked or not. Holds YES/NO/Blank."
                          },
                          "blockFrom" : {
                            "type" : "string",
                            "description" : "Specifies the date on which account consent is blocked."
                          },
                          "blockTill" : {
                            "type" : "string",
                            "description" : "Specifies until which date account consent to be blocked."
                          },
                          "blockNotes" : {
                            "type" : "string",
                            "description" : "Reason for blocking the account in the consent."
                          },
                          "consentSubTypes" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "consentSubType" : {
                                  "type" : "string",
                                  "description" : "Indicates the consent type provided for a particular account. For example, If consent sub type for account 100100 is given as allPsd2, the account is given global consent."
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "consentStatuses" : {
                      "type" : "array",
                      "description" : "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "consentStatus" : {
                            "type" : "string",
                            "description" : "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu."
                          },
                          "lastActionDate" : {
                            "type" : "string",
                            "format" : "date",
                            "description" : "Indicates the date on which the status of the consent arrangement changed."
                          }
                        }
                      }
                    },
                    "thirdpartyproviderId" : {
                      "type" : "string",
                      "description" : "Unique TPP(third party provider) reference which is the global urn of the TPP. For example: PSDLU-CSSF-9db9074bf3be45550237a21cd2a11585"
                    },
                    "signUpService" : {
                      "type" : "string",
                      "description" : "Indicates whether the signing up information is to be AISP(Accounts information service provider) or PISP(Payments information service provider)."
                    },
                    "recurringIndicator" : {
                      "type" : "string",
                      "description" : "Indicates whether the expiry date to be recalculated for every duration of expiry period."
                    },
                    "validUntil" : {
                      "type" : "string",
                      "description" : "Valid until date"
                    },
                    "frequencyPerDay" : {
                      "type" : "string",
                      "description" : "Specifies the frequency in which the payment application executes the payment instruction"
                    },
                    "combinedServiceIndicator" : {
                      "type" : "string",
                      "description" : "Specifies whether the payment initiation service will be addressed in the same session as account information consent request"
                    },
                    "scaStatus" : {
                      "type" : "string",
                      "description" : "Contains the status of the strong customer authentication process for the payment or consent. Valid values are received, psuIdentified, scaMethodSelected, started, finalised or failed"
                    },
                    "link" : {
                      "type" : "string",
                      "description" : "Contains the arrangement activity reference of the parent. This is used during secondary activity processing where child activities are generated at runtime during processing."
                    },
                    "thirdpartyprovider" : {
                      "type" : "string",
                      "description" : "Contains the TPP (third party provider) name or text of the TPP reference"
                    },
                    "externalUserId" : {
                      "type" : "string",
                      "description" : "Contains the external user identifier for which the consent is created."
                    },
                    "onlineArrangement" : {
                      "type" : "string",
                      "description" : "Contains the arrangement identifier of the external user that contains the rights that the external user has access to."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ArrangementErrorResponse"
    },
    "ArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessArrangementErrorResponse"
    },
    "BusinessArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemArrangementErrorResponse"
    },
    "SystemArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "Consent1" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/Consent1Body"
        }
      },
      "description" : "Consent1"
    },
    "Consent1Body" : {
      "type" : "object",
      "properties" : {
        "arrangement" : {
          "type" : "string",
          "description" : "Unique identifier for the arrangement contract"
        },
        "customer" : {
          "type" : "string",
          "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed."
        },
        "product" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
        },
        "arrangementEffectiveDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date from which the arrangement activity is effective"
        },
        "activity" : {
          "type" : "string",
          "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity."
        },
        "reason" : {
          "type" : "string",
          "description" : "Contains the reason for performing the current activity"
        },
        "accountConsent" : {
          "type" : "object",
          "properties" : {
            "consentTypes" : {
              "type" : "array",
              "description" : "Consent Type for which the consent is given",
              "items" : {
                "type" : "object",
                "properties" : {
                  "consentType" : {
                    "type" : "string",
                    "description" : "Consent Type for which the consent is given"
                  }
                }
              }
            },
            "accountIBANs" : {
              "type" : "array",
              "description" : "Indicates the consent type provided for a particular account. For example, If consent sub type for account 100100 is given as allPsd2, the account is given global consent.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "accountIBAN" : {
                    "type" : "string",
                    "description" : "Represents the International Bank Account Number (IBAN) of the account.  E.g. GB29 NWBK 6016 1331 9268 19"
                  },
                  "isConsentGiven" : {
                    "type" : "string",
                    "description" : "Indicates whether the customer consents to adding this account to the TPP (third party provider) service they are signing up for or otherwise."
                  },
                  "accountBlock" : {
                    "type" : "string",
                    "description" : "Indicates whether the consent account has been blocked or not. Holds YES/NO/Blank."
                  },
                  "blockFrom" : {
                    "type" : "string",
                    "description" : "Specifies the date on which account consent is blocked."
                  },
                  "blockTill" : {
                    "type" : "string",
                    "description" : "Specifies until which date account consent to be blocked."
                  },
                  "blockNotes" : {
                    "type" : "string",
                    "description" : "Reason for blocking the account in the consent."
                  },
                  "consentSubTypes" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "consentSubType" : {
                          "type" : "string",
                          "description" : "Indicates the consent type provided for a particular account. For example, If consent sub type for account 100100 is given as allPsd2, the account is given global consent."
                        }
                      }
                    }
                  }
                }
              }
            },
            "consentStatuses" : {
              "type" : "array",
              "description" : "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "consentStatus" : {
                    "type" : "string",
                    "description" : "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu."
                  },
                  "lastActionDate" : {
                    "type" : "string",
                    "format" : "date",
                    "description" : "Indicates the date on which the status of the consent arrangement changed."
                  }
                }
              }
            },
            "thirdpartyproviderId" : {
              "type" : "string",
              "description" : "Unique TPP(third party provider) reference which is the global urn of the TPP. For example: PSDLU-CSSF-9db9074bf3be45550237a21cd2a11585"
            },
            "signUpService" : {
              "type" : "string",
              "description" : "Indicates whether the signing up information is to be AISP(Accounts information service provider) or PISP(Payments information service provider)."
            },
            "recurringIndicator" : {
              "type" : "string",
              "description" : "Indicates whether the expiry date to be recalculated for every duration of expiry period."
            },
            "validUntil" : {
              "type" : "string",
              "description" : "Valid until date"
            },
            "frequencyPerDay" : {
              "type" : "string",
              "description" : "Specifies the frequency in which the payment application executes the payment instruction"
            },
            "combinedServiceIndicator" : {
              "type" : "string",
              "description" : "Specifies whether the payment initiation service will be addressed in the same session as account information consent request"
            },
            "scaStatus" : {
              "type" : "string",
              "description" : "Contains the status of the strong customer authentication process for the payment or consent. Valid values are received, psuIdentified, scaMethodSelected, started, finalised or failed"
            },
            "link" : {
              "type" : "string",
              "description" : "Contains the arrangement activity reference of the parent. This is used during secondary activity processing where child activities are generated at runtime during processing."
            },
            "thirdpartyprovider" : {
              "type" : "string",
              "description" : "Contains the TPP (third party provider) name or text of the TPP reference"
            },
            "externalUserId" : {
              "type" : "string",
              "description" : "Contains the external user identifier for which the consent is created."
            },
            "onlineArrangement" : {
              "type" : "string",
              "description" : "Contains the arrangement identifier of the external user that contains the rights that the external user has access to."
            }
          }
        }
      }
    },
    "ConsentResponse1" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ConsentResponse1Body"
        }
      },
      "description" : "ConsentResponse1"
    },
    "ConsentResponse1Body" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "arrangement" : {
              "type" : "string",
              "description" : "Unique identifier for the arrangement contract"
            },
            "customer" : {
              "type" : "string",
              "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed."
            },
            "product" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
            },
            "arrangementEffectiveDate" : {
              "type" : "string",
              "format" : "date",
              "description" : "Date from which the arrangement activity is effective"
            },
            "activity" : {
              "type" : "string",
              "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity."
            },
            "reason" : {
              "type" : "string",
              "description" : "Contains the reason for performing the current activity"
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "accountConsent" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "parseTime" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "consentTypes" : {
                      "type" : "array",
                      "description" : "Consent Type for which the consent is given",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "consentType" : {
                            "type" : "string",
                            "description" : "Consent Type for which the consent is given"
                          }
                        }
                      }
                    },
                    "accountIBANs" : {
                      "type" : "array",
                      "description" : "Indicates the consent type provided for a particular account. For example, If consent sub type for account 100100 is given as allPsd2, the account is given global consent.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "accountIBAN" : {
                            "type" : "string",
                            "description" : "Represents the International Bank Account Number (IBAN) of the account.  E.g. GB29 NWBK 6016 1331 9268 19"
                          },
                          "isConsentGiven" : {
                            "type" : "string",
                            "description" : "Indicates whether the customer consents to adding this account to the TPP (third party provider) service they are signing up for or otherwise."
                          },
                          "accountBlock" : {
                            "type" : "string",
                            "description" : "Indicates whether the consent account has been blocked or not. Holds YES/NO/Blank."
                          },
                          "blockFrom" : {
                            "type" : "string",
                            "description" : "Specifies the date on which account consent is blocked."
                          },
                          "blockTill" : {
                            "type" : "string",
                            "description" : "Specifies until which date account consent to be blocked."
                          },
                          "blockNotes" : {
                            "type" : "string",
                            "description" : "Reason for blocking the account in the consent."
                          },
                          "consentSubTypes" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "consentSubType" : {
                                  "type" : "string",
                                  "description" : "Indicates the consent type provided for a particular account. For example, If consent sub type for account 100100 is given as allPsd2, the account is given global consent."
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "consentStatuses" : {
                      "type" : "array",
                      "description" : "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "consentStatus" : {
                            "type" : "string",
                            "description" : "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu."
                          },
                          "lastActionDate" : {
                            "type" : "string",
                            "format" : "date",
                            "description" : "Indicates the date on which the status of the consent arrangement changed."
                          }
                        }
                      }
                    },
                    "thirdpartyproviderId" : {
                      "type" : "string",
                      "description" : "Unique TPP(third party provider) reference which is the global urn of the TPP. For example: PSDLU-CSSF-9db9074bf3be45550237a21cd2a11585"
                    },
                    "signUpService" : {
                      "type" : "string",
                      "description" : "Indicates whether the signing up information is to be AISP(Accounts information service provider) or PISP(Payments information service provider)."
                    },
                    "recurringIndicator" : {
                      "type" : "string",
                      "description" : "Indicates whether the expiry date to be recalculated for every duration of expiry period."
                    },
                    "validUntil" : {
                      "type" : "string",
                      "description" : "Valid until date"
                    },
                    "frequencyPerDay" : {
                      "type" : "string",
                      "description" : "Specifies the frequency in which the payment application executes the payment instruction"
                    },
                    "combinedServiceIndicator" : {
                      "type" : "string",
                      "description" : "Specifies whether the payment initiation service will be addressed in the same session as account information consent request"
                    },
                    "scaStatus" : {
                      "type" : "string",
                      "description" : "Contains the status of the strong customer authentication process for the payment or consent. Valid values are received, psuIdentified, scaMethodSelected, started, finalised or failed"
                    },
                    "link" : {
                      "type" : "string",
                      "description" : "Contains the arrangement activity reference of the parent. This is used during secondary activity processing where child activities are generated at runtime during processing."
                    },
                    "thirdpartyprovider" : {
                      "type" : "string",
                      "description" : "Contains the TPP (third party provider) name or text of the TPP reference"
                    },
                    "externalUserId" : {
                      "type" : "string",
                      "description" : "Contains the external user identifier for which the consent is created."
                    },
                    "onlineArrangement" : {
                      "type" : "string",
                      "description" : "Contains the arrangement identifier of the external user that contains the rights that the external user has access to."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "ConsentStatusResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ConsentStatusResponseBody"
        }
      },
      "description" : "ConsentStatusResponse"
    },
    "ConsentStatusResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "consentStatus" : {
            "type" : "string",
            "description" : "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu."
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "ConsentRequestResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ConsentRequestResponseBody"
        }
      },
      "description" : "ConsentRequestResponse"
    },
    "ConsentRequestResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "defConsentTypes" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "defConsentType" : {
                  "type" : "array",
                  "description" : "Indicates the default consent type of the PSD2 consent created. Ex : If the default consent type is allPsd2, then the customer has requetsed for a global consent ",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "consentTypes" : {
            "type" : "array",
            "description" : "Consent Type for which the consent is given",
            "items" : {
              "type" : "object",
              "properties" : {
                "consentType" : {
                  "type" : "array",
                  "description" : "Consent Type for which the consent is given",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "consentStatuses" : {
            "type" : "array",
            "description" : "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu.",
            "items" : {
              "type" : "object",
              "properties" : {
                "consentStatus" : {
                  "type" : "array",
                  "description" : "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu.",
                  "items" : {
                    "type" : "string"
                  }
                },
                "lastActionDate" : {
                  "type" : "array",
                  "description" : "Indicates the date on which the status of the consent arrangement changed.",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          },
          "accountName" : {
            "type" : "string",
            "description" : "Display name or short name of the account specified."
          },
          "recurringIndicator" : {
            "type" : "string",
            "description" : "Indicates whether the expiry date to be recalculated for every duration of expiry period."
          },
          "validUntil" : {
            "type" : "string",
            "description" : "Valid until date"
          },
          "frequencyPerDay" : {
            "type" : "string",
            "description" : "Specifies the frequency in which the payment application executes the payment instruction"
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "Identifier of the arrangement"
          },
          "currency" : {
            "type" : "string",
            "description" : "Identifies the currency. E.g. USD, GBP etc"
          },
          "category" : {
            "type" : "string",
            "description" : "Indicates the account or contract product name. For example for an account this maybe current, savings etc."
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Description of the product"
          },
          "availableBalance" : {
            "type" : "string",
            "description" : "Available balance of the account which is the projected balance which includes the net movements of both debits and credits against the account."
          },
          "sortCode" : {
            "type" : "string",
            "description" : "Contains bank sort code or iban branch identifier for the account"
          },
          "IBAN" : {
            "type" : "string",
            "description" : "International Bank Account number, an identifier of the account. E.g. GB29 NWBK 6016 1331 9268 19"
          },
          "productId" : {
            "type" : "string",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
          }
        }
      }
    },
    "ConsentDataResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ConsentDataResponseBody"
        }
      },
      "description" : "ConsentDataResponse"
    },
    "ConsentDataResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "accountIBANs" : {
            "type" : "array",
            "description" : "Consent Type for which the consent is given",
            "items" : {
              "type" : "object",
              "properties" : {
                "accountIBAN" : {
                  "type" : "string",
                  "description" : "Represents the International Bank Account Number (IBAN) of the account.  E.g. GB29 NWBK 6016 1331 9268 19"
                },
                "isConsentGiven" : {
                  "type" : "string",
                  "description" : "Indicates whether the customer consents to adding this account to the TPP (third party provider) service they are signing up for or otherwise."
                },
                "accountBlock" : {
                  "type" : "string",
                  "description" : "Indicates whether the consent account has been blocked or not. Holds YES/NO/Blank."
                },
                "blockFrom" : {
                  "type" : "string",
                  "description" : "Specifies the date on which account consent is blocked."
                },
                "blockTill" : {
                  "type" : "string",
                  "description" : "Specifies until which date account consent to be blocked."
                },
                "blockNotes" : {
                  "type" : "string",
                  "description" : "Reason for blocking the account in the consent."
                },
                "categoryId" : {
                  "type" : "string",
                  "description" : "Unique identifier associated with the product name of the account or contract. For example: For customer/counterparty accounts, the identifier would be in the range 1000 to 9999. For ledger accounts, in the range 10000 to 19999."
                },
                "shortName" : {
                  "type" : "string",
                  "description" : "Contains the name of the account, basically the short title of the account."
                },
                "consentTypes" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "consentType" : {
                        "type" : "string",
                        "description" : "Consent Type for which the consent is given"
                      }
                    }
                  }
                }
              }
            }
          },
          "consentId" : {
            "type" : "string",
            "description" : "Identifier of the corresponding consent object as retrieved by an account Information consent Request.",
            "maxLength" : 35
          },
          "thirdpartyproviderId" : {
            "type" : "string",
            "description" : "Unique TPP(third party provider) reference which is the global urn of the TPP. For example: PSDLU-CSSF-9db9074bf3be45550237a21cd2a11585"
          },
          "thirdpartyprovider" : {
            "type" : "string",
            "description" : "Contains the TPP (third party provider) name or text of the TPP reference"
          },
          "tppStatus" : {
            "type" : "string",
            "description" : "Contains the status of the open banking directory created for consent. This is used for blocked consents. If the TPP (third party provider) is blocked based on open banking directory, this will contain 'BLOCKED', else null"
          },
          "signUpService" : {
            "type" : "string",
            "description" : "Indicates whether the signing up information is to be AISP(Accounts information service provider) or PISP(Payments information service provider)."
          },
          "recurringIndicator" : {
            "type" : "string",
            "description" : "Indicates whether the expiry date to be recalculated for every duration of expiry period."
          },
          "validUntil" : {
            "type" : "string",
            "description" : "Valid until date"
          },
          "consentStatus" : {
            "type" : "string",
            "description" : "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu.",
            "maxLength" : 35
          },
          "lastActionDate" : {
            "type" : "string",
            "description" : "Indicates the date on which the status of the consent arrangement changed."
          },
          "arrangementStatus" : {
            "type" : "string",
            "description" : "Status of the arrangement. E.g. AUTH, CLOSE, UNAUTH etc."
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "Identifier of the arrangement"
          },
          "imagePath" : {
            "type" : "string",
            "description" : "Identifies the image stored on the file system, specifically based on the logo url mentioned in open banking directory."
          }
        }
      }
    },
    "createConsent" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ConsentBody"
        }
      },
      "description" : "Consent",
      "example" : {
        "header" : {
          "audit" : {
            "versionNumber" : ""
          },
          "override" : {
            "overrideDetails" : [ {
              "description" : "",
              "id" : "",
              "responseCode" : ""
            } ]
          }
        },
        "body" : {
          "arrangement" : "NEW",
          "reason" : "",
          "product" : "PSD2.CONSENT",
          "activity" : "",
          "accountConsent" : {
            "accountIBANs" : [ {
              "accountBlock" : "",
              "blockTill" : "",
              "consentSubTypes" : [ {
                "consentSubType" : ""
              } ],
              "isConsentGiven" : "",
              "accountIBAN" : "",
              "blockNotes" : "",
              "blockFrom" : ""
            } ],
            "scaStatus" : "",
            "consentStatuses" : [ {
              "consentStatus" : "",
              "lastActionDate" : ""
            } ],
            "consentTypes" : [ {
              "consentType" : "allPsd2"
            } ],
            "link" : "",
            "recurringIndicator" : "",
            "onlineArrangement" : "",
            "externalUserId" : "",
            "thirdpartyprovider" : "",
            "combinedServiceIndicator" : "",
            "signUpService" : "AISP",
            "validUntil" : "",
            "frequencyPerDay" : "",
            "thirdpartyproviderId" : "GB-FST-1033"
          },
          "arrangementEffectiveDate" : "",
          "customer" : "100394"
        }
      }
    }
  }
}