{
  "swagger": "2.0",
  "info": {
    "description": "API to create Letter of Credit standby guarantees",
    "version": "v1.0.0",
    "title": "Letter of Credits standby Guarantees"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/holdings/guarantees/letterOfCredits/standBys": {
      "post": {
        "operationId": "createGuaranteeStandByLC",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createGuaranteeStandByLC"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "createGuaranteeStandByLCResponse",
            "schema": {
              "$ref": "#/definitions/createGuaranteeStandByLCResponse"
            }
          },
          "default": {
            "description": "createGuaranteeStandByLCErrorResponse",
            "schema": {
              "$ref": "#/definitions/createGuaranteeStandByLCErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "PayloadHeader": {
      "properties": {
        "override": {
          "type": "object",
          "properties": {
            "overrideDetails": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier of the override"
                  },
                  "description": {
                    "type": "string",
                    "description": "The actual override message"
                  },
                  "responseCode": {
                    "type": "string",
                    "description": "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit": {
          "type": "object",
          "properties": {
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "createGuaranteeStandByLC": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/createGuaranteeStandByLCBody"
        }
      },
      "description": "createGuaranteeStandByLC",
      "example": {
        "header": {},
        "body": {
          "expiryDate": "20200205",
          "amount": "10000",
          "customerId": "100100",
          "currency": "USD",
          "invocationStatus": "C"
        }
      }
    },
    "createGuaranteeStandByLCBody": {
      "type": "object",
      "properties": {
        "beneficiaryIds": {
          "type": "array",
          "description": "The identifier of the beneficiary",
          "items": {
            "type": "object",
            "properties": {
              "beneficiaryId": {
                "type": "string",
                "description": "The identifier of the beneficiary"
              }
            }
          }
        },
        "beneficiaryAddresses": {
          "type": "array",
          "description": "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items": {
            "type": "object",
            "properties": {
              "beneficiaryAddress": {
                "type": "string",
                "description": "The address of the Beneficiary if the customer number of the Beneficiary is not known"
              }
            }
          }
        },
        "charges": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "chargeDate": {
                "type": "string",
                "format": "date",
                "description": "The date on which the charge will be debited to the charge account"
              },
              "chargeCurrency": {
                "type": "string",
                "description": "Holds the currency code of the charge account from where the fee is deducted"
              },
              "debitChargeAccount": {
                "type": "string",
                "description": "The account from which the Charges will be debited"
              },
              "chargeCode": {
                "type": "string"
              }
            }
          }
        },
        "bankAddresses": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "bankAddress": {
                "type": "string"
              }
            }
          }
        },
        "detailsOfGuarantee": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "detailOfGuarantee": {
                "type": "string"
              }
            }
          }
        },
        "standByImportLC": {
          "type": "string",
          "description": "Another ID for the transaction for retrieval purposes"
        },
        "customerId": {
          "type": "string",
          "description": "The identifier of the customer"
        },
        "currency": {
          "type": "string"
        },
        "amount": {
          "type": "number"
        },
        "dealDate": {
          "type": "string",
          "format": "date",
          "description": "The date on which the deal was made."
        },
        "valueDate": {
          "type": "string",
          "format": "date",
          "description": "The applicable value date"
        },
        "expiryDate": {
          "type": "string",
          "format": "date",
          "description": "The date an agreement such as a credit facility or limit is due to expire"
        },
        "maturityDate": {
          "type": "string",
          "format": "date",
          "description": "The delivery period or maturity date of the contract transacted"
        },
        "termsAndConditions": {
          "type": "string",
          "description": "The description of the terms and conditions"
        },
        "eventsProcessing": {
          "type": "string",
          "description": "Determines whether the principal movements and raising entries will occur at Online or at End of Day"
        },
        "autoExpiry": {
          "type": "string",
          "description": "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not"
        },
        "liquidationMode": {
          "type": "string",
          "description": "Indicates the manner in which the overdue payments are handled"
        },
        "takeMargin": {
          "type": "string",
          "description": "Field to check whether provision is to be taken for the transaction or not"
        },
        "marginPercent": {
          "type": "string",
          "description": "Field to state the percentage of provision to be taken"
        },
        "marginAmount": {
          "type": "string",
          "description": "Actual amount of provision that is debited for the transaction"
        },
        "marginDebitAccount": {
          "type": "string",
          "description": "Field to state the account from which the provision amount is to be debited"
        },
        "receivingBank": {
          "type": "string"
        },
        "applicableRule": {
          "type": "string"
        },
        "narrative": {
          "type": "string",
          "description": "The additional text printed on descriptive statements in addition to the standard narrative and/or reference"
        },
        "furtherIdentification": {
          "type": "string"
        }
      }
    },
    "ScreenHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "createGuaranteeStandByLCResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/createGuaranteeStandByLCResponseBody"
        }
      },
      "description": "createGuaranteeStandByLCResponse"
    },
    "createGuaranteeStandByLCResponseBody": {
      "type": "object",
      "properties": {
        "beneficiaryIds": {
          "type": "array",
          "description": "The identifier of the beneficiary",
          "items": {
            "type": "object",
            "properties": {
              "beneficiaryId": {
                "type": "string",
                "description": "The identifier of the beneficiary"
              }
            }
          }
        },
        "beneficiaryAddresses": {
          "type": "array",
          "description": "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items": {
            "type": "object",
            "properties": {
              "beneficiaryAddress": {
                "type": "string",
                "description": "The address of the Beneficiary if the customer number of the Beneficiary is not known"
              }
            }
          }
        },
        "charges": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "chargeDate": {
                "type": "string",
                "format": "date",
                "description": "The date on which the charge will be debited to the charge account"
              },
              "chargeCurrency": {
                "type": "string",
                "description": "Holds the currency code of the charge account from where the fee is deducted"
              },
              "debitChargeAccount": {
                "type": "string",
                "description": "The account from which the Charges will be debited"
              },
              "chargeCode": {
                "type": "string"
              }
            }
          }
        },
        "bankAddresses": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "bankAddress": {
                "type": "string"
              }
            }
          }
        },
        "detailsOfGuarantee": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "detailOfGuarantee": {
                "type": "string"
              }
            }
          }
        },
        "standByImportLC": {
          "type": "string",
          "description": "Another ID for the transaction for retrieval purposes"
        },
        "customerId": {
          "type": "string",
          "description": "The identifier of the customer"
        },
        "guaranteeType": {
          "type": "string",
          "description": "Refers to the type of the contract that is being issued"
        },
        "category": {
          "type": "string"
        },
        "contractType": {
          "type": "string",
          "description": "Indicates if the position is related to Loan, Deposit ,FX-Forward/FX-Swap"
        },
        "currency": {
          "type": "string"
        },
        "amount": {
          "type": "number"
        },
        "dealDate": {
          "type": "string",
          "format": "date",
          "description": "The date on which the deal was made."
        },
        "valueDate": {
          "type": "string",
          "format": "date",
          "description": "The applicable value date"
        },
        "expiryDate": {
          "type": "string",
          "format": "date",
          "description": "The date an agreement such as a credit facility or limit is due to expire"
        },
        "maturityDate": {
          "type": "string",
          "format": "date",
          "description": "The delivery period or maturity date of the contract transacted"
        },
        "termsAndConditions": {
          "type": "string",
          "description": "The description of the terms and conditions"
        },
        "eventsProcessing": {
          "type": "string",
          "description": "Determines whether the principal movements and raising entries will occur at Online or at End of Day"
        },
        "autoExpiry": {
          "type": "string",
          "description": "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not"
        },
        "liquidationMode": {
          "type": "string",
          "description": "Indicates the manner in which the overdue payments are handled"
        },
        "takeMargin": {
          "type": "string",
          "description": "Field to check whether provision is to be taken for the transaction or not"
        },
        "marginPercent": {
          "type": "string",
          "description": "Field to state the percentage of provision to be taken"
        },
        "marginAmount": {
          "type": "string",
          "description": "Actual amount of provision that is debited for the transaction"
        },
        "marginDebitAccount": {
          "type": "string",
          "description": "Field to state the account from which the provision amount is to be debited"
        },
        "receivingBank": {
          "type": "string"
        },
        "applicableRule": {
          "type": "string"
        },
        "narrative": {
          "type": "string",
          "description": "The additional text printed on descriptive statements in addition to the standard narrative and/or reference"
        },
        "furtherIdentification": {
          "type": "string"
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody": {
      "properties": {
        "overrideDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier of the override"
              },
              "description": {
                "type": "string",
                "description": "The actual override message"
              }
            }
          }
        }
      }
    },
    "createGuaranteeStandByLCErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/createGuaranteeStandByLCErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "createGuaranteeStandByLCErrorResponse"
    },
    "createGuaranteeStandByLCErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type"
        }
      }
    }
  }
}