{
  "swagger" : "2.0",
  "info" : {
    "description" : "Management of Holdings Payment Stops",
    "version" : "v1.0.0",
    "title" : "Holdings Payment Stops APIs"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/paymentStops/{paymentStopId}" : {
      "post" : {
        "summary" : "Initiate payment stop",
        "description" : "Initiate a stop cheque request for an account",
        "operationId" : "createPaymentStop",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentStopId",
          "in" : "path",
          "description" : "Reference cheques details for stopped payment id",
          "required" : true,
          "type" : "string",
          "x-example" : "78093"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentStop"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentStopResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentStopResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "summary" : "Update payment stop",
        "description" : "Update an existing stop cheque request for an account",
        "operationId" : "updatePaymentStop",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentStopId",
          "in" : "path",
          "description" : "Reference cheques details for stopped payment id",
          "required" : true,
          "type" : "string",
          "x-example" : "78093"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentStop"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentStopResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentStopResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/paymentStops" : {
      "get" : {
        "summary" : "Retrieves payment stops",
        "description" : "Retrieves the list of stopped payment cheques details",
        "operationId" : "getPaymentStops",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "query",
          "description" : "Reference account id details",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Unique reference id for customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "stopTypeId",
          "in" : "query",
          "description" : "Stopped cheque payment type id details",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentStopsResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentStopsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/paymentStopsApprovals/{paymentStopId}" : {
      "put" : {
        "summary" : "Approve payment stop",
        "description" : "Approve a stop cheque request for an account",
        "operationId" : "approvePaymentStop",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentStopId",
          "in" : "path",
          "description" : "Reference cheques details for stopped payment id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentStopResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentStopResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/paymentStops/cancellations/{paymentStopId}" : {
      "delete" : {
        "summary" : "Reject Payment Stop",
        "description" : "Reject a stop cheque request for an account",
        "operationId" : "rejectPaymentStop",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentStopId",
          "in" : "path",
          "description" : "Reference cheques details for stopped payment id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PaymentStopDelete"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentStopResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentStopResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "PaymentStop" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentStopBody"
        }
      },
      "description" : "PaymentStop",
      "example" : {
        "header" : {
          "audit" : {
            "versionNumber" : ""
          },
          "override" : {
            "overrideDetails" : [ {
              "description" : "",
              "id" : "",
              "responseCode" : ""
            } ]
          }
        },
        "body" : {
          "recordStatus" : "",
          "stops" : [ {
            "waiveCharge" : "",
            "charges" : [ {
              "accountId" : "",
              "amount" : 0,
              "chargeId" : ""
            } ],
            "firstChequeId" : "",
            "amountTo" : 0,
            "stopTypeId" : "1",
            "amountFrom" : 0,
            "lastChequeId" : "",
            "chequeTypeId" : "",
            "stopDate" : "20190417",
            "beneficiaryId" : ""
          } ],
          "overrides" : [ {
            "override" : ""
          } ],
          "currencyId" : ""
        }
      }
    },
    "PaymentStopBody" : {
      "type" : "object",
      "properties" : {
        "stops" : {
          "type" : "array",
          "description" : "The charges or fees for this transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "stopTypeId" : {
                "type" : "string",
                "description" : "Indicates the reason why a Payment Stop is requested for e.g. Cheque lost, funds not available etc. ",
                "maxLength" : 30
              },
              "firstChequeId" : {
                "type" : "string",
                "description" : "It is possible to stop a range of cheques in one instruction. This indicates the first cheque number in the range for which payment stop instruction is effective",
                "maxLength" : 35
              },
              "lastChequeId" : {
                "type" : "string",
                "description" : "It is possible to stop a range of cheques in one instruction. This indicates the last cheque number in the range for which payment stop instruction is effective",
                "maxLength" : 35
              },
              "chequeTypeId" : {
                "type" : "string",
                "description" : "Indicates the type of Cheques for which payment stop instruction is effective",
                "maxLength" : 25
              },
              "stopDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Indicates the date on which the Payment Stop is placed"
              },
              "amountFrom" : {
                "type" : "number",
                "description" : "Specifies the Amount From which the Payment Stop instruction is effective."
              },
              "amountTo" : {
                "type" : "number",
                "description" : "Specifies the Amount up To which the Payment Stop instruction is effective."
              },
              "beneficiaryId" : {
                "type" : "string",
                "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
                "maxLength" : 35
              },
              "waiveCharge" : {
                "type" : "string",
                "description" : "Indicates if the charges are to be waived for the instruction",
                "maxLength" : 25
              },
              "charges" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "chargeId" : {
                      "type" : "string",
                      "description" : "This indicates the charge code which will be triggered for payment stop instruction. Applicable when financial institutions would like to charge for stop payment of cheque etc. ",
                      "maxLength" : 25
                    },
                    "accountId" : {
                      "type" : "string",
                      "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                      "maxLength" : 36
                    },
                    "amount" : {
                      "type" : "number",
                      "description" : "This is the payment amount"
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "maxLength" : 35
              }
            }
          }
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 25
        },
        "recordStatus" : {
          "type" : "string",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "maxLength" : 12
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "PaymentStopResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentStopResponseBody"
        }
      },
      "description" : "PaymentStopResponse"
    },
    "PaymentStopResponseBody" : {
      "type" : "object",
      "properties" : {
        "stops" : {
          "type" : "array",
          "description" : "The charges or fees for this transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "stopTypeId" : {
                "type" : "string",
                "description" : "Indicates the reason why a Payment Stop is requested for e.g. Cheque lost, funds not available etc. ",
                "maxLength" : 30
              },
              "firstChequeId" : {
                "type" : "string",
                "description" : "It is possible to stop a range of cheques in one instruction. This indicates the first cheque number in the range for which payment stop instruction is effective",
                "maxLength" : 35
              },
              "lastChequeId" : {
                "type" : "string",
                "description" : "It is possible to stop a range of cheques in one instruction. This indicates the last cheque number in the range for which payment stop instruction is effective",
                "maxLength" : 35
              },
              "chequeTypeId" : {
                "type" : "string",
                "description" : "Indicates the type of Cheques for which payment stop instruction is effective",
                "maxLength" : 25
              },
              "stopDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Indicates the date on which the Payment Stop is placed"
              },
              "amountFrom" : {
                "type" : "number",
                "description" : "Specifies the Amount From which the Payment Stop instruction is effective."
              },
              "amountTo" : {
                "type" : "number",
                "description" : "Specifies the Amount up To which the Payment Stop instruction is effective."
              },
              "beneficiaryId" : {
                "type" : "string",
                "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
                "maxLength" : 35
              },
              "waiveCharge" : {
                "type" : "string",
                "description" : "Indicates if the charges are to be waived for the instruction",
                "maxLength" : 25
              },
              "charges" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "chargeId" : {
                      "type" : "string",
                      "description" : "This indicates the charge code which will be triggered for payment stop instruction. Applicable when financial institutions would like to charge for stop payment of cheque etc. ",
                      "maxLength" : 25
                    },
                    "accountId" : {
                      "type" : "string",
                      "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                      "maxLength" : 36
                    },
                    "amount" : {
                      "type" : "number",
                      "description" : "This is the payment amount"
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "maxLength" : 35
              }
            }
          }
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 25
        },
        "recordStatus" : {
          "type" : "string",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "maxLength" : 12
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "PaymentStopsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentStopsResponseBody"
        }
      },
      "description" : "PaymentStopsResponse"
    },
    "PaymentStopsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "stops" : {
            "type" : "array",
            "description" : "Charge amount equivalent in currency of the charge account",
            "items" : {
              "type" : "object",
              "properties" : {
                "stopTypeId" : {
                  "type" : "string",
                  "description" : "Indicates the reason why a Payment Stop is requested for e.g. Cheque lost, funds not available etc. ",
                  "maxLength" : 30
                },
                "firstChequeId" : {
                  "type" : "string",
                  "description" : "It is possible to stop a range of cheques in one instruction. This indicates the first cheque number in the range for which payment stop instruction is effective",
                  "maxLength" : 35
                },
                "lastChequeId" : {
                  "type" : "string",
                  "description" : "It is possible to stop a range of cheques in one instruction. This indicates the last cheque number in the range for which payment stop instruction is effective",
                  "maxLength" : 35
                },
                "chequeTypeId" : {
                  "type" : "string",
                  "description" : "Indicates the type of Cheques for which payment stop instruction is effective",
                  "maxLength" : 4
                },
                "stopDate" : {
                  "type" : "string",
                  "format" : "date",
                  "description" : "Indicates the date on which the Payment Stop is placed"
                },
                "amountFrom" : {
                  "type" : "number",
                  "description" : "Specifies the Amount From which the Payment Stop instruction is effective."
                },
                "beneficiaryId" : {
                  "type" : "string",
                  "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
                  "maxLength" : 35
                },
                "chargeAmounts" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "chargeAmount" : {
                        "type" : "number",
                        "description" : "Retrieves the Charge Amount after redeem"
                      }
                    }
                  }
                }
              }
            }
          },
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
            "maxLength" : 36
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identifier of the customer",
            "maxLength" : 10
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
            "maxLength" : 3
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Current number of the record",
            "maxLength" : 6
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "PaymentStopDelete" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        }
      },
      "description" : "PaymentStopDelete"
    },
    "createPaymentStop" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentStopBody"
        }
      },
      "description" : "PaymentStop",
      "example" : {
        "header" : {
          "audit" : {
            "versionNumber" : ""
          },
          "override" : {
            "overrideDetails" : [ {
              "description" : "",
              "id" : "",
              "responseCode" : ""
            } ]
          }
        },
        "body" : {
          "recordStatus" : "",
          "stops" : [ {
            "waiveCharge" : "",
            "charges" : [ {
              "accountId" : "",
              "amount" : 0,
              "chargeId" : ""
            } ],
            "firstChequeId" : "",
            "amountTo" : 0,
            "stopTypeId" : "1",
            "amountFrom" : 0,
            "lastChequeId" : "",
            "chequeTypeId" : "",
            "stopDate" : "20190417",
            "beneficiaryId" : ""
          } ],
          "overrides" : [ {
            "override" : ""
          } ],
          "currencyId" : ""
        }
      }
    },
    "updatePaymentStop" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentStopBody"
        }
      },
      "description" : "PaymentStop",
      "example" : {
        "header" : {
          "audit" : {
            "versionNumber" : ""
          },
          "override" : {
            "overrideDetails" : [ {
              "description" : "",
              "id" : "",
              "responseCode" : ""
            } ]
          }
        },
        "body" : {
          "recordStatus" : "",
          "stops" : [ {
            "waiveCharge" : "",
            "charges" : [ {
              "accountId" : "",
              "amount" : 0,
              "chargeId" : ""
            } ],
            "firstChequeId" : "",
            "amountTo" : 0,
            "stopTypeId" : "1",
            "amountFrom" : 0,
            "lastChequeId" : "",
            "chequeTypeId" : "",
            "stopDate" : "20190417",
            "beneficiaryId" : ""
          } ],
          "overrides" : [ {
            "override" : ""
          } ],
          "currencyId" : ""
        }
      }
    }
  }
}