{
  "swagger": "2.0",
  "info": {
    "description": "API to create Issuance of Transferable Letter of Credits",
    "version": "v1.0.0",
    "title": "Issuance of Transferable Letter of Credits"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/holdings/letterOfCredits/transferables": {
      "post": {
        "description": "Creating an issuance of Transferable LC for a customer",
        "operationId": "createIssuanceOfTransferableLC",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createIssuanceOfTransferableLC"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "createIssuanceOfTransferableLCResponse",
            "schema": {
              "$ref": "#/definitions/createIssuanceOfTransferableLCResponse"
            }
          },
          "default": {
            "description": "createIssuanceOfTransferableLCErrorResponse",
            "schema": {
              "$ref": "#/definitions/createIssuanceOfTransferableLCErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "PayloadHeader": {
      "properties": {
        "override": {
          "type": "object",
          "properties": {
            "overrideDetails": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier of the override"
                  },
                  "description": {
                    "type": "string",
                    "description": "The actual override message"
                  },
                  "responseCode": {
                    "type": "string",
                    "description": "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit": {
          "type": "object",
          "properties": {
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "createIssuanceOfTransferableLC": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/createIssuanceOfTransferableLCBody"
        }
      },
      "description": "createIssuanceOfTransferableLC",
      "example": {
        "header": {},
        "body": {
          "lcCurrency": "USD",
          "expiryDate": "30 APR 2019",
          "lcType": "ESU",
          "applicableRule": "UCPURR LATEST VERSION",
          "parentLCReference": "TF1907990956",
          "lcAmount": "1000",
          "availableWithBank": "ANY BANK",
          "expiryPlace": "US",
          "issuingBankId": "100460",
          "firstBeneficiaries": [
            {
              "firstBeneficiaryID": "100282"
            }
          ],
          "secondBeneficiaries": [
            {
              "secondBeneficiary": "100100"
            }
          ]
        }
      }
    },
    "createIssuanceOfTransferableLCBody": {
      "type": "object",
      "properties": {
        "advisingBanks": {
          "type": "array",
          "description": "Identifies the advising bank under the LC, through whom Letter of Credit to be advised to second advising bank or beneficiary",
          "items": {
            "type": "object",
            "properties": {
              "advisingBank": {
                "type": "string",
                "description": "Identifies the advising bank under the LC, through whom Letter of Credit to be advised to second advising bank or beneficiary"
              }
            }
          }
        },
        "limitReferences": {
          "type": "array",
          "description": "Identifies the type of limit applicable to the Account",
          "items": {
            "type": "object",
            "properties": {
              "limitReference": {
                "type": "string",
                "description": "Identifies the type of limit applicable to the Account"
              }
            }
          }
        },
        "drawings": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "drawingType": {
                "type": "string"
              },
              "paymentPercent": {
                "type": "number"
              },
              "paymentPortion": {
                "type": "string"
              },
              "acptTimeBand": {
                "type": "string"
              },
              "additionalCoveredAmount": {
                "type": "number"
              },
              "limitReference": {
                "type": "string",
                "description": "Identifies the type of limit applicable to the Account"
              }
            }
          }
        },
        "charges": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "chargeCode": {
                "type": "string"
              },
              "partyCharged": {
                "type": "string"
              },
              "chargeDebitAccount": {
                "type": "string"
              },
              "chargeCurrency": {
                "type": "string",
                "description": "Holds the currency code of the charge account from where the fee is deducted"
              },
              "ChargeExchangeRate": {
                "type": "string"
              },
              "chargeAmount": {
                "type": "string",
                "description": "Holds the charge amount equivalent in charge account currency"
              },
              "amortiseCharges": {
                "type": "string"
              },
              "chargeStatus": {
                "type": "string"
              },
              "taxCurrency": {
                "type": "string"
              },
              "taxAmount": {
                "type": "string",
                "description": "The tax amount"
              }
            }
          }
        },
        "assignments": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "assignmentReference": {
                "type": "string"
              },
              "assigneeID": {
                "type": "string"
              },
              "assignmentAmount": {
                "type": "string"
              },
              "assigntOutstandingAmount": {
                "type": "string"
              },
              "assigneeAddresses": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "assigneeAddress": {
                      "type": "string"
                    }
                  }
                }
              },
              "assignmentNotes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "assignmentNote": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "firstBeneficiaries": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "firstBeneficiary": {
                "type": "string"
              }
            }
          }
        },
        "secondBeneficiaries": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "secondBeneficiary": {
                "type": "string"
              }
            }
          }
        },
        "availableWithBanks": {
          "type": "array",
          "description": "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit",
          "items": {
            "type": "object",
            "properties": {
              "availableWithBank": {
                "type": "string",
                "description": "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit"
              }
            }
          }
        },
        "draftsAt": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "draftAt": {
                "type": "string"
              }
            }
          }
        },
        "drawees": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "drawee": {
                "type": "string"
              }
            }
          }
        },
        "mixedPaymentDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "mixedPaymentDetail": {
                "type": "string"
              }
            }
          }
        },
        "negotiationDeferredPaymentDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "negotiationDeferredPaymentDetail": {
                "type": "string"
              }
            }
          }
        },
        "shipmentPeriods": {
          "type": "array",
          "description": "Indicates the period of time which the goods are to be loaded on board/dispatched/taken in charge.",
          "items": {
            "type": "object",
            "properties": {
              "shipmentPeriod": {
                "type": "string",
                "description": "Indicates the period of time which the goods are to be loaded on board/dispatched/taken in charge."
              }
            }
          }
        },
        "documentsRequired": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "documentRequired": {
                "type": "string"
              }
            }
          }
        },
        "additionalConditions": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "additionalCondition": {
                "type": "string"
              }
            }
          }
        },
        "narrativeCharges": {
          "type": "array",
          "description": "Field to specify the details of the charges to be borne by the beneficiary",
          "items": {
            "type": "object",
            "properties": {
              "narrativeCharge": {
                "type": "string",
                "description": "Field to specify the details of the charges to be borne by the beneficiary"
              }
            }
          }
        },
        "requestedConfirmBankNames": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "requestedConfirmBankName": {
                "type": "string"
              }
            }
          }
        },
        "instructionsToTheBanks": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "instructionsToTheBank": {
                "type": "string"
              }
            }
          }
        },
        "adviseThroughBanks": {
          "type": "array",
          "description": "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy.",
          "items": {
            "type": "object",
            "properties": {
              "adviseThroughBank": {
                "type": "string",
                "description": "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy."
              }
            }
          }
        },
        "lcType": {
          "type": "string",
          "description": "Indicates the type of LC, whether this is an Import/Export, Confirmed/Unconfirmed/Revolving/Transferrable/Back to Back LC/documentary collection/Clean collection etc."
        },
        "parentLCReference": {
          "type": "string",
          "description": "Indicates the parent LC number under the transfer LC."
        },
        "lcTransferAdvisingReference": {
          "type": "string",
          "description": "Identifies the advising banks LCs number for transfer credit (or reference of the L/C from legacy system)."
        },
        "issuingBankLCReference": {
          "type": "string",
          "description": "Indicates the Issuing Bank's reference of the Documentary Credit."
        },
        "issuingBankId": {
          "type": "string",
          "description": "Identifies the Issuing bank ID under the LC, who issues the LC"
        },
        "advisingBank": {
          "type": "string",
          "description": "Identifies the advising bank under the LC, through whom Letter of Credit to be advised to second advising bank or beneficiary"
        },
        "issuingBankName": {
          "type": "string",
          "description": "Identifies the Issuing bank name and address of the bank issuing the LC."
        },
        "lcAdvisingDate": {
          "type": "string",
          "format": "date",
          "description": "Date of advising the LC to beneficiary or Second advising bank."
        },
        "lcCurrency": {
          "type": "string",
          "description": "Denote the currency of the Letter of Credit."
        },
        "lcAmount": {
          "type": "number",
          "description": "This field indicates the amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
        },
        "creditTolerance": {
          "type": "string",
          "description": "This field defines the tolerance percentage to be added to the letter of credit amount to calculate the full liability amount or maximum amount that can be drawn."
        },
        "debitTolerance": {
          "type": "string",
          "description": "This field defines the negative tolerance percentage under the letter of credit, to calculate the minimum amount that can be presented under the LC."
        },
        "issueDate": {
          "type": "string",
          "format": "date",
          "description": "The date the item was issued."
        },
        "expiryDate": {
          "type": "string",
          "format": "date",
          "description": "The date an agreement such as a credit facility or limit is due to expire"
        },
        "expiryPlace": {
          "type": "string",
          "description": "Expiry place for presentation under the documentary credit."
        },
        "liabilityReversalDate": {
          "type": "string",
          "format": "date",
          "description": "Date on which the contigent entries and the limits raised on the LC will be reversed."
        },
        "autoExpiry": {
          "type": "string",
          "description": "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not"
        },
        "secondBeneficiaryID": {
          "type": "string",
          "description": "Indicates the  second Beneficiary ID on whose favour the transfer Letter of Credit is issued."
        },
        "secondBeneficiaryAddress": {
          "type": "string",
          "description": "Indicates the  second Beneficiary name and address on whose favour the transfer Letter of Credit is issued. "
        },
        "firstBeneficiaryName": {
          "type": "string",
          "description": "Indicates the  First Beneficairy name and address on whose request the transfer Letter of Credit is issued."
        },
        "availableWithBankId": {
          "type": "string",
          "description": "Indicates the bank ID that is authorised to pay, accept, or negotiate document presented under the letter of credit"
        },
        "availableWithBank": {
          "type": "string",
          "description": "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit"
        },
        "adviseThroughBankID": {
          "type": "string",
          "description": "Indicates the second advising bank ID under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy."
        },
        "adviseThroughBank": {
          "type": "string",
          "description": "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy."
        },
        "chargeFrom": {
          "type": "string"
        },
        "chargeDefaultAccount": {
          "type": "string"
        },
        "waiveCharge": {
          "type": "string",
          "description": "Defines whether charges are to be collected or waived"
        },
        "confirmationInstruction": {
          "type": "string"
        },
        "riskParty": {
          "type": "string"
        },
        "confirmationDate": {
          "type": "string",
          "format": "date"
        },
        "confirmationAmount": {
          "type": "number"
        },
        "confirmLiabilityAmount": {
          "type": "number"
        },
        "unconfirmLiabilityAmount": {
          "type": "number"
        },
        "unconfirmLimitReference": {
          "type": "string"
        },
        "revolvingType": {
          "type": "string"
        },
        "numberOfRevolution": {
          "type": "string"
        },
        "revolvingFrequency": {
          "type": "string"
        },
        "limitForRevolving": {
          "type": "string"
        },
        "curRevolLiab": {
          "type": "string"
        },
        "formOfDocCredit": {
          "type": "string"
        },
        "transferingBankReference": {
          "type": "string"
        },
        "documentaryCreditNumber": {
          "type": "string"
        },
        "lcIssueDate": {
          "type": "string",
          "format": "date"
        },
        "applicableRule": {
          "type": "string"
        },
        "applicableRuleDescription": {
          "type": "string"
        },
        "dateOfExpiry": {
          "type": "string",
          "format": "date"
        },
        "additionalAmountCovered": {
          "type": "number",
          "description": " Specifies any additional amounts available to the beneficiary under the Documentary Credit, such as insurance, freight, interest, etc."
        },
        "availableWithBankID": {
          "type": "string",
          "description": "Indicates the bank ID that is authorised to pay, accept, or negotiate document presented under the letter of credit"
        },
        "draweeID": {
          "type": "string"
        },
        "partialShipment": {
          "type": "string"
        },
        "transhipment": {
          "type": "string"
        },
        "placeOfTakingInCharge": {
          "type": "string",
          "description": "Indicates the place of taking in charge(in case of multimodal transport document), the place of receipt(in case of a road, rail or inland waterway transport document or a courier expedited delivery service document), the place of dispatch or the place of shipment to be indicated on the transport document"
        },
        "portOfLoading": {
          "type": "string",
          "description": "Indicates the place of dispatch or taking in charge of the goods or loading on board for shipments made under the LC."
        },
        "portOfDischarge": {
          "type": "string",
          "description": "Indicates the port of discharge or the airport of destination of the shipment under the LC."
        },
        "finalDestination": {
          "type": "string",
          "description": "Indicates the final destination or place of delivery of the shipment under the LC."
        },
        "latestShipmentDate": {
          "type": "string",
          "format": "date",
          "description": "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC."
        },
        "descriptionOfGoods": {
          "type": "string"
        },
        "daysAndPeriodForPresentation": {
          "type": "string",
          "description": "Secifies the number of calendar days after the date of shipment within which the documents must be presented for payment, acceptance or negotiation. "
        },
        "requestedConfirmBankName": {
          "type": "string"
        },
        "senderToReceiverInfo": {
          "type": "string"
        }
      }
    },
    "ScreenHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "createIssuanceOfTransferableLCResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/createIssuanceOfTransferableLCResponseBody"
        }
      },
      "description": "createIssuanceOfTransferableLCResponse"
    },
    "createIssuanceOfTransferableLCResponseBody": {
      "type": "object",
      "properties": {
        "advisingBanks": {
          "type": "array",
          "description": "Identifies the advising bank under the LC, through whom Letter of Credit to be advised to second advising bank or beneficiary",
          "items": {
            "type": "object",
            "properties": {
              "advisingBank": {
                "type": "string",
                "description": "Identifies the advising bank under the LC, through whom Letter of Credit to be advised to second advising bank or beneficiary"
              }
            }
          }
        },
        "limitReferences": {
          "type": "array",
          "description": "Identifies the type of limit applicable to the Account",
          "items": {
            "type": "object",
            "properties": {
              "limitReference": {
                "type": "string",
                "description": "Identifies the type of limit applicable to the Account"
              }
            }
          }
        },
        "drawings": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "drawingType": {
                "type": "string"
              },
              "paymentPercent": {
                "type": "number"
              },
              "paymentPortion": {
                "type": "string"
              },
              "acptTimeBand": {
                "type": "string"
              },
              "additionalCoveredAmount": {
                "type": "number"
              },
              "limitReference": {
                "type": "string",
                "description": "Identifies the type of limit applicable to the Account"
              }
            }
          }
        },
        "charges": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "chargeCode": {
                "type": "string"
              },
              "partyCharged": {
                "type": "string"
              },
              "chargeDebitAccount": {
                "type": "string"
              },
              "chargeCurrency": {
                "type": "string",
                "description": "Holds the currency code of the charge account from where the fee is deducted"
              },
              "ChargeExchangeRate": {
                "type": "string"
              },
              "chargeAmount": {
                "type": "string",
                "description": "Holds the charge amount equivalent in charge account currency"
              },
              "amortiseCharges": {
                "type": "string"
              },
              "chargeStatus": {
                "type": "string"
              },
              "taxCurrency": {
                "type": "string"
              },
              "taxAmount": {
                "type": "string",
                "description": "The tax amount"
              }
            }
          }
        },
        "assignments": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "assignmentReference": {
                "type": "string"
              },
              "assigneeID": {
                "type": "string"
              },
              "assignmentAmount": {
                "type": "string"
              },
              "assigntOutstandingAmount": {
                "type": "string"
              },
              "assigneeAddresses": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "assigneeAddress": {
                      "type": "string"
                    }
                  }
                }
              },
              "assignmentNotes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "assignmentNote": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "firstBeneficiaries": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "firstBeneficiary": {
                "type": "string"
              }
            }
          }
        },
        "secondBeneficiaries": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "secondBeneficiary": {
                "type": "string"
              }
            }
          }
        },
        "availableWithBanks": {
          "type": "array",
          "description": "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit",
          "items": {
            "type": "object",
            "properties": {
              "availableWithBank": {
                "type": "string",
                "description": "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit"
              }
            }
          }
        },
        "draftsAt": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "draftAt": {
                "type": "string"
              }
            }
          }
        },
        "drawees": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "drawee": {
                "type": "string"
              }
            }
          }
        },
        "mixedPaymentDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "mixedPaymentDetail": {
                "type": "string"
              }
            }
          }
        },
        "negotiationDeferredPaymentDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "negotiationDeferredPaymentDetail": {
                "type": "string"
              }
            }
          }
        },
        "shipmentPeriods": {
          "type": "array",
          "description": "Indicates the period of time which the goods are to be loaded on board/dispatched/taken in charge.",
          "items": {
            "type": "object",
            "properties": {
              "shipmentPeriod": {
                "type": "string",
                "description": "Indicates the period of time which the goods are to be loaded on board/dispatched/taken in charge."
              }
            }
          }
        },
        "documentsRequired": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "documentRequired": {
                "type": "string"
              }
            }
          }
        },
        "additionalConditions": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "additionalCondition": {
                "type": "string"
              }
            }
          }
        },
        "narrativeCharges": {
          "type": "array",
          "description": "Field to specify the details of the charges to be borne by the beneficiary",
          "items": {
            "type": "object",
            "properties": {
              "narrativeCharge": {
                "type": "string",
                "description": "Field to specify the details of the charges to be borne by the beneficiary"
              }
            }
          }
        },
        "requestedConfirmBankNames": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "requestedConfirmBankName": {
                "type": "string"
              }
            }
          }
        },
        "instructionsToTheBanks": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "instructionsToTheBank": {
                "type": "string"
              }
            }
          }
        },
        "adviseThroughBanks": {
          "type": "array",
          "description": "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy.",
          "items": {
            "type": "object",
            "properties": {
              "adviseThroughBank": {
                "type": "string",
                "description": "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy."
              }
            }
          }
        },
        "lcType": {
          "type": "string",
          "description": "Indicates the type of LC, whether this is an Import/Export, Confirmed/Unconfirmed/Revolving/Transferrable/Back to Back LC/documentary collection/Clean collection etc."
        },
        "parentLCReference": {
          "type": "string",
          "description": "Indicates the parent LC number under the transfer LC."
        },
        "lcTransferAdvisingReference": {
          "type": "string",
          "description": "Identifies the advising banks LCs number for transfer credit (or reference of the L/C from legacy system)."
        },
        "issuingBankLCReference": {
          "type": "string",
          "description": "Indicates the Issuing Bank's reference of the Documentary Credit."
        },
        "issuingBankId": {
          "type": "string",
          "description": "Identifies the Issuing bank ID under the LC, who issues the LC"
        },
        "advisingBank": {
          "type": "string",
          "description": "Identifies the advising bank under the LC, through whom Letter of Credit to be advised to second advising bank or beneficiary"
        },
        "issuingBankName": {
          "type": "string",
          "description": "Identifies the Issuing bank name and address of the bank issuing the LC."
        },
        "lcAdvisingDate": {
          "type": "string",
          "format": "date",
          "description": "Date of advising the LC to beneficiary or Second advising bank."
        },
        "lcCurrency": {
          "type": "string",
          "description": "Denote the currency of the Letter of Credit."
        },
        "lcAmount": {
          "type": "number",
          "description": "This field indicates the amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
        },
        "creditTolerance": {
          "type": "string",
          "description": "This field defines the tolerance percentage to be added to the letter of credit amount to calculate the full liability amount or maximum amount that can be drawn."
        },
        "debitTolerance": {
          "type": "string",
          "description": "This field defines the negative tolerance percentage under the letter of credit, to calculate the minimum amount that can be presented under the LC."
        },
        "issueDate": {
          "type": "string",
          "format": "date",
          "description": "The date the item was issued."
        },
        "expiryDate": {
          "type": "string",
          "format": "date",
          "description": "The date an agreement such as a credit facility or limit is due to expire"
        },
        "expiryPlace": {
          "type": "string",
          "description": "Expiry place for presentation under the documentary credit."
        },
        "liabilityReversalDate": {
          "type": "string",
          "format": "date",
          "description": "Date on which the contigent entries and the limits raised on the LC will be reversed."
        },
        "autoExpiry": {
          "type": "string",
          "description": "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not"
        },
        "secondBeneficiaryID": {
          "type": "string",
          "description": "Indicates the  second Beneficiary ID on whose favour the transfer Letter of Credit is issued."
        },
        "secondBeneficiaryAddress": {
          "type": "string",
          "description": "Indicates the  second Beneficiary name and address on whose favour the transfer Letter of Credit is issued. "
        },
        "firstBeneficiaryID": {
          "type": "string",
          "description": "Indicates the  First Beneficairy ID on whose request the transfer Letter of Credit is issued."
        },
        "firstBeneficiaryName": {
          "type": "string",
          "description": "Indicates the  First Beneficairy name and address on whose request the transfer Letter of Credit is issued."
        },
        "availableWithBankId": {
          "type": "string",
          "description": "Indicates the bank ID that is authorised to pay, accept, or negotiate document presented under the letter of credit"
        },
        "availableWithBank": {
          "type": "string",
          "description": "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit"
        },
        "adviseThroughBankID": {
          "type": "string",
          "description": "Indicates the second advising bank ID under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy."
        },
        "adviseThroughBank": {
          "type": "string",
          "description": "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy."
        },
        "chargeFrom": {
          "type": "string"
        },
        "chargeDefaultAccount": {
          "type": "string"
        },
        "waiveCharge": {
          "type": "string",
          "description": "Defines whether charges are to be collected or waived"
        },
        "confirmationInstruction": {
          "type": "string"
        },
        "riskParty": {
          "type": "string"
        },
        "confirmationDate": {
          "type": "string",
          "format": "date"
        },
        "confirmationAmount": {
          "type": "number"
        },
        "confirmLiabilityAmount": {
          "type": "number"
        },
        "unconfirmLiabilityAmount": {
          "type": "number"
        },
        "unconfirmLimitReference": {
          "type": "string"
        },
        "revolvingType": {
          "type": "string"
        },
        "numberOfRevolution": {
          "type": "string"
        },
        "revolvingFrequency": {
          "type": "string"
        },
        "limitForRevolving": {
          "type": "string"
        },
        "curRevolLiab": {
          "type": "string"
        },
        "formOfDocCredit": {
          "type": "string"
        },
        "transferingBankReference": {
          "type": "string"
        },
        "documentaryCreditNumber": {
          "type": "string"
        },
        "lcIssueDate": {
          "type": "string",
          "format": "date"
        },
        "applicableRule": {
          "type": "string"
        },
        "applicableRuleDescription": {
          "type": "string"
        },
        "dateOfExpiry": {
          "type": "string",
          "format": "date"
        },
        "additionalAmountCovered": {
          "type": "number",
          "description": " Specifies any additional amounts available to the beneficiary under the Documentary Credit, such as insurance, freight, interest, etc."
        },
        "availableWithBankID": {
          "type": "string",
          "description": "Indicates the bank ID that is authorised to pay, accept, or negotiate document presented under the letter of credit"
        },
        "draweeID": {
          "type": "string"
        },
        "partialShipment": {
          "type": "string"
        },
        "transhipment": {
          "type": "string"
        },
        "placeOfTakingInCharge": {
          "type": "string",
          "description": "Indicates the place of taking in charge(in case of multimodal transport document), the place of receipt(in case of a road, rail or inland waterway transport document or a courier expedited delivery service document), the place of dispatch or the place of shipment to be indicated on the transport document"
        },
        "portOfLoading": {
          "type": "string",
          "description": "Indicates the place of dispatch or taking in charge of the goods or loading on board for shipments made under the LC."
        },
        "portOfDischarge": {
          "type": "string",
          "description": "Indicates the port of discharge or the airport of destination of the shipment under the LC."
        },
        "finalDestination": {
          "type": "string",
          "description": "Indicates the final destination or place of delivery of the shipment under the LC."
        },
        "latestShipmentDate": {
          "type": "string",
          "format": "date",
          "description": "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC."
        },
        "descriptionOfGoods": {
          "type": "string"
        },
        "daysAndPeriodForPresentation": {
          "type": "string",
          "description": "Secifies the number of calendar days after the date of shipment within which the documents must be presented for payment, acceptance or negotiation. "
        },
        "requestedConfirmBankName": {
          "type": "string"
        },
        "senderToReceiverInfo": {
          "type": "string"
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody": {
      "properties": {
        "overrideDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier of the override"
              },
              "description": {
                "type": "string",
                "description": "The actual override message"
              }
            }
          }
        }
      }
    },
    "createIssuanceOfTransferableLCErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/createIssuanceOfTransferableLCErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "createIssuanceOfTransferableLCErrorResponse"
    },
    "createIssuanceOfTransferableLCErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type"
        }
      }
    }
  }
}