{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to view safe deposit box information",
    "version" : "v1.0.0",
    "title" : "Service API for safe deposit box"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/us/safeDeposits/{accountId}/safeDepositBoxOverview" : {
      "get" : {
        "summary" : "API to retrieve Safe deposit box information like Ownership, rent, due amounts, caution deposit, box status, visit information, etc,.",
        "description" : "Safe Deposit Box Overview",
        "operationId" : "getUsSafeDepositBoxOverview",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UsSafeDepositBoxOverviewResponse",
            "schema" : {
              "$ref" : "#/definitions/UsSafeDepositBoxOverviewResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "UsSafeDepositBoxOverviewResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsSafeDepositBoxOverviewResponseBody"
        }
      },
      "description" : "UsSafeDepositBoxOverviewResponse"
    },
    "UsSafeDepositBoxOverviewResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account"
          },
          "alternateAccountId" : {
            "type" : "string"
          },
          "alternateAccountType" : {
            "type" : "string"
          },
          "accountStatus" : {
            "type" : "string",
            "description" : "Specifies the current status of the account, which is either active, inactive or closed."
          },
          "branchId" : {
            "type" : "string"
          },
          "accountCompany" : {
            "type" : "string",
            "description" : "Company of the account to be created"
          },
          "productId" : {
            "type" : "string",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Indicates the description of the Product"
          },
          "productCategoryId" : {
            "type" : "string",
            "description" : "The identifier of the product category"
          },
          "openingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date the account is opened."
          },
          "customerId" : {
            "type" : "number",
            "description" : "Identifier of the customer"
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer"
          },
          "inActiveMilitaryService" : {
            "type" : "string",
            "description" : "Indicates if customer or account holder is in active military service"
          },
          "customerRole" : {
            "type" : "string",
            "description" : "The customer role with drop down of standard selections"
          },
          "accountTitle1" : {
            "type" : "string",
            "description" : "Title line 1 that will appear in notice and statements"
          },
          "accountTitle2" : {
            "type" : "string",
            "description" : "Title line 2 that will appear in notice and statements"
          },
          "accountTitle3" : {
            "type" : "string",
            "description" : "Title line 3 that will appear in notice and statements"
          },
          "accountTitle4" : {
            "type" : "string",
            "description" : "Title line 4 that will appear in notice and statements"
          },
          "boxType" : {
            "type" : "number",
            "description" : "Type of Safe deposit Box rented for the Customer. Ex, SMALL, MEDIUM, etc,. Allowed user defined values can be retreived through getEbLookups for virtualTableName AA.SDB.BOX.TYPE"
          },
          "boxdescription" : {
            "type" : "string",
            "description" : "Description or additional details of the safe deposit box"
          },
          "boxStatus" : {
            "type" : "string",
            "description" : "Status of the safe deposit Box"
          },
          "boxNumber" : {
            "type" : "number",
            "description" : "Internal identification number for the Safe deposit box"
          },
          "rentAmount" : {
            "type" : "number",
            "description" : "Safe deposit box rental amount"
          },
          "taxOnRentAmount" : {
            "type" : "number",
            "description" : "Tax amount for safe deposit rental service"
          },
          "rentDueDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Due date for safe deposit box rental payment"
          },
          "outstandingAmount" : {
            "type" : "number",
            "description" : "Identifies the total outstanding amount for the corresponding Liability number and Limit reference. "
          },
          "visitDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date the Customer visited safe deposit box"
          },
          "checkInTime" : {
            "type" : "string",
            "description" : "Time the customer checked in",
            "pattern" : "^([0-1]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          },
          "checkOutTime" : {
            "type" : "string",
            "description" : "Time the customer checked out",
            "pattern" : "^([0-1]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          },
          "visitCustomer" : {
            "type" : "number",
            "description" : "Customer number of the customer who visited the safe deposit box"
          },
          "visitCustomerName" : {
            "type" : "string",
            "description" : "Name of the customer who visited the safe deposit box"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}