{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retrieves the Bill Details of an account",
    "version" : "v1.0.0",
    "title" : "Retrieves the Bill Details of an account"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/accounts/{arrangementId}/outstandingBills" : {
      "get" : {
        "summary" : "Retrieves the Outstanding amount to be paid for an account",
        "description" : "Retrieves the Outstanding amount to be paid for an account",
        "operationId" : "getOutstandingBills",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
          "required" : true,
          "type" : "string",
          "x-example" : "AA19077ZCR4G"
        }, {
          "name" : "fileVersion",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "simulationReference",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deferDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "billedAmount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "outstandingAmount",
          "in" : "query",
          "description" : "Identifies the total outstanding amount for the corresponding Liability number and Limit reference. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "delinquentAmount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "billStatus",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "settlementStatus",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "agingStatus",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "settled",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentType",
          "in" : "query",
          "description" : "The payment type identifier",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "billDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "billType",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentMethod",
          "in" : "query",
          "description" : "The type of method used for the payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "infoPayType",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "advancePayment",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentIndicator",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OutstandingBillsResponse",
            "schema" : {
              "$ref" : "#/definitions/OutstandingBillsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{arrangementId}/deferredBills" : {
      "get" : {
        "summary" : "Retrieves the details of the deferred bills",
        "description" : "Retrieves the details of the deferred bills",
        "operationId" : "getDeferredBills",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
          "required" : true,
          "type" : "string",
          "x-example" : "AA1907957KC1"
        }, {
          "name" : "fileVersion",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "simulationReference",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deferDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "billedAmount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "outstandingAmount",
          "in" : "query",
          "description" : "Identifies the total outstanding amount for the corresponding Liability number and Limit reference. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "delinquentAmount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "billStatus",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "settlementStatus",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "agingStatus",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentType",
          "in" : "query",
          "description" : "The payment type identifier",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "billDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "billType",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentMethod",
          "in" : "query",
          "description" : "The type of method used for the payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "infoPayType",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "advancePayment",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentIndicator",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DeferredBillsResponse",
            "schema" : {
              "$ref" : "#/definitions/DeferredBillsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{arrangementId}/externalBills" : {
      "get" : {
        "summary" : "Retrieves the details of the external type of bills",
        "description" : "Retrieves the details of the external type of bills",
        "operationId" : "getExternalBills",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
          "required" : true,
          "type" : "string",
          "x-example" : "AA19079RZ823"
        }, {
          "name" : "simulationReference",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalBillsResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalBillsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{arrangementId}/billDetails" : {
      "get" : {
        "summary" : "Retrieves the details of all the types of bills",
        "description" : "Retrieves the details of all the types of bills",
        "operationId" : "getAllBills",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
          "required" : true,
          "type" : "string",
          "x-example" : "AA19079RZ823"
        }, {
          "name" : "fileVersion",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "simulationReference",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deferDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "billedAmount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "outstandingAmount",
          "in" : "query",
          "description" : "Identifies the total outstanding amount for the corresponding Liability number and Limit reference. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "delinquentAmount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "property",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "billStatus",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "settlementStatus",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "agingStatus",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "settled",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentType",
          "in" : "query",
          "description" : "The payment type identifier",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "billDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "billType",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentMethod",
          "in" : "query",
          "description" : "The type of method used for the payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "infoPayType",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "advancePayment",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentIndicator",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AllBillsResponse",
            "schema" : {
              "$ref" : "#/definitions/AllBillsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{arrangementId}/advanceBills" : {
      "get" : {
        "summary" : "Retrieves the details of the Advance bills",
        "description" : "Retrieves the details of the Advance bills",
        "operationId" : "getAdvanceBills",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
          "required" : true,
          "type" : "string",
          "x-example" : "AA1907957KC1"
        }, {
          "name" : "billStatus",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AdvanceBillsResponse",
            "schema" : {
              "$ref" : "#/definitions/AdvanceBillsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{arrangementId}/writeOffBills" : {
      "get" : {
        "summary" : "Retrieves the details of the write off bills",
        "description" : "Retrieves the details of the write off bills",
        "operationId" : "getWriteoffBills",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
          "required" : true,
          "type" : "string",
          "x-example" : "AA19079RZ823"
        }, {
          "name" : "billStatus",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "WriteoffBillsResponse",
            "schema" : {
              "$ref" : "#/definitions/WriteoffBillsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{arrangementId}/payOffBills" : {
      "get" : {
        "summary" : "Retrieves the Payoff Details of an account",
        "description" : "Retrieves the Payoff Details of an account",
        "operationId" : "getPayoffDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PayoffDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/PayoffDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/writeOff/{arrangementId}/activities" : {
      "get" : {
        "summary" : "Retrieves the details of write off bills based on activities",
        "description" : "Retrieves the details of write off bills based on activities",
        "operationId" : "getWriteOffActivitiesDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "fileVersion",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "simulationReference",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "WriteOffActivitiesDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/WriteOffActivitiesDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "OutstandingBillsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OutstandingBillsResponseBody"
        }
      },
      "description" : "OutstandingBillsResponse"
    },
    "OutstandingBillsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "billDate" : {
            "type" : "string"
          },
          "billType" : {
            "type" : "string"
          },
          "billed" : {
            "type" : "string",
            "maxLength" : 19
          },
          "outstanding" : {
            "type" : "string",
            "maxLength" : 19
          },
          "status" : {
            "type" : "string",
            "description" : "The status identifier"
          },
          "billStatus" : {
            "type" : "string",
            "maxLength" : 15
          },
          "billId" : {
            "type" : "string",
            "maxLength" : 35
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "message" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "message" : {
          "type" : "string",
          "description" : "for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "message" : {
          "type" : "string",
          "description" : "caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "DeferredBillsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DeferredBillsResponseBody"
        }
      },
      "description" : "DeferredBillsResponse"
    },
    "DeferredBillsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "billdate" : {
            "type" : "string"
          },
          "billType" : {
            "type" : "string"
          },
          "originalAmount" : {
            "type" : "string",
            "maxLength" : 19
          },
          "currentOutstanding" : {
            "type" : "string",
            "maxLength" : 19
          },
          "deferredTill" : {
            "type" : "string",
            "maxLength" : 11
          },
          "billId" : {
            "type" : "string",
            "maxLength" : 35
          }
        }
      }
    },
    "ExternalBillsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalBillsResponseBody"
        }
      },
      "description" : "ExternalBillsResponse"
    },
    "ExternalBillsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "billId" : {
            "type" : "string",
            "maxLength" : 35
          },
          "dueDate" : {
            "type" : "string",
            "maxLength" : 30
          },
          "infoCharge" : {
            "type" : "string"
          },
          "billedAmount" : {
            "type" : "string",
            "maxLength" : 19
          }
        }
      }
    },
    "AllBillsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AllBillsResponseBody"
        }
      },
      "description" : "AllBillsResponse"
    },
    "AllBillsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "billDate" : {
            "type" : "string"
          },
          "billType" : {
            "type" : "string"
          },
          "billedAmount" : {
            "type" : "string",
            "maxLength" : 19
          },
          "outstandingAmount" : {
            "type" : "string",
            "description" : "Identifies the total outstanding amount for the corresponding Liability number and Limit reference. ",
            "maxLength" : 19
          },
          "billStatus" : {
            "type" : "string"
          },
          "billId" : {
            "type" : "string",
            "maxLength" : 35
          }
        }
      }
    },
    "AdvanceBillsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AdvanceBillsResponseBody"
        }
      },
      "description" : "AdvanceBillsResponse"
    },
    "AdvanceBillsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "billDate" : {
            "type" : "string"
          },
          "billType" : {
            "type" : "string"
          },
          "originalAmount" : {
            "type" : "string",
            "maxLength" : 19
          },
          "repaidAmount" : {
            "type" : "string",
            "maxLength" : 19
          },
          "remainingAmount" : {
            "type" : "string",
            "maxLength" : 19
          },
          "settledOn" : {
            "type" : "string",
            "maxLength" : 11
          },
          "billId" : {
            "type" : "string",
            "maxLength" : 35
          }
        }
      }
    },
    "WriteoffBillsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/WriteoffBillsResponseBody"
        }
      },
      "description" : "WriteoffBillsResponse"
    },
    "WriteoffBillsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "paymentDate" : {
            "type" : "string"
          },
          "billType" : {
            "type" : "string"
          },
          "totAdjustAmount" : {
            "type" : "string",
            "maxLength" : 19
          },
          "writtenOffOn" : {
            "type" : "string",
            "maxLength" : 11
          },
          "billId" : {
            "type" : "string",
            "maxLength" : 35
          }
        }
      }
    },
    "PayoffDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PayoffDetailsResponseBody"
        }
      },
      "description" : "PayoffDetailsResponse"
    },
    "PayoffDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "payoffs" : {
            "type" : "array",
            "description" : "The Loan payoff",
            "items" : {
              "type" : "object",
              "properties" : {
                "payoffDate" : {
                  "type" : "string"
                },
                "totPayoffAmount" : {
                  "type" : "string",
                  "maxLength" : 19
                },
                "interestAmount" : {
                  "type" : "string",
                  "description" : "The accrued Interest due or accrued.",
                  "maxLength" : 19
                }
              }
            }
          },
          "infoPayments" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "infoPayDate" : {
                  "type" : "string"
                },
                "totPayAmount" : {
                  "type" : "string",
                  "maxLength" : 19
                },
                "totInterestAmount" : {
                  "type" : "string",
                  "maxLength" : 19
                }
              }
            }
          },
          "properties" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "propertyName" : {
                  "type" : "string",
                  "description" : "The name that is displayed for the property"
                },
                "propertyAmount" : {
                  "type" : "string",
                  "maxLength" : 19
                },
                "unallocatedAmount" : {
                  "type" : "string",
                  "maxLength" : 19
                }
              }
            }
          },
          "payments" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "paymentType" : {
                  "type" : "string",
                  "description" : "The payment type identifier",
                  "maxLength" : 19
                },
                "paymentAmount" : {
                  "type" : "string",
                  "maxLength" : 19
                }
              }
            }
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."
          }
        }
      }
    },
    "WriteOffActivitiesDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/WriteOffActivitiesDetailsResponseBody"
        }
      },
      "description" : "WriteOffActivitiesDetailsResponse"
    },
    "WriteOffActivitiesDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "propertyName" : {
                  "type" : "string",
                  "description" : "The name that is displayed for the property",
                  "maxLength" : 35
                },
                "propertyBalance" : {
                  "type" : "string"
                },
                "propertyAmount" : {
                  "type" : "string",
                  "maxLength" : 20
                }
              }
            }
          },
          "activityDate" : {
            "type" : "string",
            "maxLength" : 11
          },
          "activityName" : {
            "type" : "string",
            "description" : "The name of the activity that is displayed"
          },
          "totalAmount" : {
            "type" : "string",
            "description" : "The total amount",
            "maxLength" : 20
          }
        }
      }
    }
  }
}