{
  "swagger": "2.0",
  "info": {
    "description": "API to retrieve the customer limit sub-group details",
    "version": "v1.0.0",
    "title": "Customer Limit sub-groups"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/holdings/limits/{customerGroupId}/subGroups": {
      "get": {
        "summary": "Sub groups for a specific customer group",
        "description": "Retrieves all of the sub group information under specific customer group",
        "operationId": "getSubGroupList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerGroupId",
            "in": "path",
            "description": "Identifier of the CUSTOMER.GROUP that constitues one or more related customers which would be used while arrivnig collective risk exposure of credit line liable to them either individually or shared among them",
            "required": true,
            "type": "string",
            "x-example": "888"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "SubGroupListResponse",
            "schema": {
              "$ref": "#/definitions/SubGroupListResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "SubGroupListResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/SubGroupListResponseBody"
        }
      },
      "description": "SubGroupListResponse"
    },
    "SubGroupListResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "subGroupInfo": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "subGroup": {
                  "type": "string",
                  "description": "Identifier of the sub group within a CUSTOMER.GROUP that constitues one or more related customers which would be used while arrivnig collective risk exposure of credit line liable to them either individually or shared among them.",
                  "maxLength": 15
                },
                "subGroupName": {
                  "type": "string",
                  "description": "Specifies the SUB.GROUP name of the CUSTOMER.GROUP",
                  "maxLength": 35
                },
                "companyCode": {
                  "type": "string",
                  "description": "Company code in audit details",
                  "maxLength": 9
                },
                "accountOfficer": {
                  "type": "string",
                  "description": "Identifier of Department Account Officer",
                  "maxLength": 6
                },
                "customerInfo": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "partyType": {
                        "type": "string",
                        "description": "Indicates the type of customer which is part of the relationship. It may be Customer, Person or Entity.",
                        "maxLength": 13
                      },
                      "customerName": {
                        "type": "string",
                        "description": "Name of the customer"
                      },
                      "customerId": {
                        "type": "string",
                        "description": "The identifier of the customer",
                        "maxLength": 10
                      }
                    }
                  }
                }
              }
            }
          },
          "riskGroupId": {
            "type": "string",
            "description": "Identifier of the CUSTOMER.GROUP that constitues one or more related customers which would be used while arrivnig collective risk exposure of credit line liable to them either individually or shared among them.",
            "maxLength": 35
          }
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message "
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description": "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message for bad requests"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description": "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message caused by server"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    }
  }
}