{
  "swagger": "2.0",
  "info": {
    "description": "API to retrieve the currency balances for cash management",
    "version": "v1.0.0",
    "title": "Cash Management - Currency Balances"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/holdings/cashManagement/bundles/{bundleId}/currencies/{currencyId}/balances": {
      "get": {
        "description": "Simulated Balances",
        "operationId": "getBalanceInPreferredCurrency",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bundleId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-example": "AA190791Z7N2"
          },
          {
            "name": "currencyId",
            "in": "path",
            "description": "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
            "required": true,
            "type": "string",
            "x-example": "USD"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "BalanceInPreferredCurrencyResponse",
            "schema": {
              "$ref": "#/definitions/BalanceInPreferredCurrencyResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "BalanceInPreferredCurrencyResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/BalanceInPreferredCurrencyResponseBody"
        }
      },
      "description": "BalanceInPreferredCurrencyResponse"
    },
    "BalanceInPreferredCurrencyResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "product": {
            "type": "string",
            "description": "The product for which the pricing plan is applicable"
          },
          "accountId": {
            "type": "string",
            "description": "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."
          },
          "accountTitle": {
            "type": "string",
            "maxLength": 35
          },
          "customer": {
            "type": "string",
            "description": "The customer number"
          },
          "customerName": {
            "type": "string",
            "description": "Name of the customer"
          },
          "parentAccount": {
            "type": "string",
            "maxLength": 19
          },
          "currency": {
            "type": "string",
            "description": "Identifies the underlying currency used for the transaction.",
            "maxLength": 3
          },
          "preferredCurrency": {
            "type": "string",
            "maxLength": 3
          },
          "workingBalance": {
            "type": "number",
            "description": "Real-time balance including all authorised transactions posted against the account and, unless it is a nostro or internal account, unauthorised debit entries."
          },
          "ledgerBalance": {
            "type": "number",
            "description": "Real-time balance including all authorised transactions posted against the account, excluding any entries with a future processing date."
          },
          "clearedBalance": {
            "type": "number",
            "description": "Balance taking into consideration all cleared funds booked against the account, including credit and reversed debit entries with a future exposure date."
          },
          "lockedAmount": {
            "type": "number",
            "description": "Shows reserved amount for the underlying account for a given balance reservation event."
          },
          "availableBalance": {
            "type": "number",
            "description": "Shows the net balance of an account, however may or may not include unauthorized debits and credits depending on the business setup."
          }
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type"
        }
      }
    }
  }
}