{
  "swagger": "2.0",
  "info": {
    "description": "API to process amendments seeking beneficiary's consent",
    "version": "v1.0.0",
    "title": "Letter of Credits Beneficiary Consents"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/holdings/letterOfCredits/{letterOfCreditId}/beneficiaryConsents": {
      "put": {
        "description": "Amendment of a Letter of Credit with Beneficiary's consent",
        "operationId": "updateLCBeneficiaryConsent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "letterOfCreditId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateLCBeneficiaryConsent"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "updateLCBeneficiaryConsentResponse",
            "schema": {
              "$ref": "#/definitions/updateLCBeneficiaryConsentResponse"
            }
          },
          "default": {
            "description": "updateLCBeneficiaryConsentErrorResponse",
            "schema": {
              "$ref": "#/definitions/updateLCBeneficiaryConsentErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "PayloadHeader": {
      "properties": {
        "override": {
          "type": "object",
          "properties": {
            "overrideDetails": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier of the override"
                  },
                  "description": {
                    "type": "string",
                    "description": "The actual override message"
                  },
                  "responseCode": {
                    "type": "string",
                    "description": "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit": {
          "type": "object",
          "properties": {
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "updateLCBeneficiaryConsent": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/updateLCBeneficiaryConsentBody"
        }
      },
      "description": "updateLCBeneficiaryConsent",
      "example": {
        "header": {},
        "body": {
          "advisingBankReference": "REFER2",
          "newExpiryPlace": "CHENN"
        }
      }
    },
    "updateLCBeneficiaryConsentBody": {
      "type": "object",
      "properties": {
        "advisingBankIds": {
          "type": "array",
          "description": "It’s a system populated field which default the advising bank ID, name and address from the LC contract.",
          "items": {
            "type": "object",
            "properties": {
              "advisingBankId": {
                "type": "string",
                "description": "It’s a system populated field which default the advising bank ID, name and address from the LC contract."
              }
            }
          }
        },
        "beneficiaryAddresses": {
          "type": "array",
          "description": "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items": {
            "type": "object",
            "properties": {
              "beneficiaryAddress": {
                "type": "string",
                "description": "The address of the Beneficiary if the customer number of the Beneficiary is not known"
              }
            }
          }
        },
        "documentsRequired": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "documentRequired": {
                "type": "string"
              }
            }
          }
        },
        "additionalConditions": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "additionalCondition": {
                "type": "string"
              }
            }
          }
        },
        "charges": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "chargeCode": {
                "type": "string"
              },
              "partyCharged": {
                "type": "string"
              },
              "chargeDebitAccount": {
                "type": "string"
              },
              "chargeCurrency": {
                "type": "string",
                "description": "Holds the currency code of the charge account from where the fee is deducted"
              },
              "chargeExchangeRate": {
                "type": "string"
              },
              "chargeAmount": {
                "type": "string",
                "description": "Holds the charge amount equivalent in charge account currency"
              },
              "chargeStatus": {
                "type": "string"
              },
              "taxAmount": {
                "type": "string",
                "description": "The tax amount"
              }
            }
          }
        },
        "lcCurrency": {
          "type": "string",
          "description": "Denote the currency of the Letter of Credit."
        },
        "lcAmount": {
          "type": "number",
          "description": "This field indicates the amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
        },
        "issueDate": {
          "type": "string",
          "format": "date",
          "description": "The date the item was issued."
        },
        "beneficiaryId": {
          "type": "string",
          "description": "The identifier of the beneficiary"
        },
        "lcLiabilityAmountOutStanding": {
          "type": "string",
          "description": "It’s a system populated field that indicates the total liability amount in respect of each issued or confirmed letters of credit."
        },
        "pendingAmendMovement": {
          "type": "string",
          "description": "It’s a system populated field indicating the total amount of all the pending Amendments pertaining the Letter of Credit."
        },
        "debitTolerance": {
          "type": "string",
          "description": "This field defines the negative tolerance percentage under the letter of credit, to calculate the minimum amount that can be presented under the LC."
        },
        "creditTolerance": {
          "type": "string",
          "description": "This field defines the tolerance percentage to be added to the letter of credit amount to calculate the full liability amount or maximum amount that can be drawn."
        },
        "advisingBankReference": {
          "type": "string",
          "description": "Advising Bank reference number for use on messages and advices under the LC contract."
        },
        "increaseOrDecreaseAmount": {
          "type": "number",
          "description": "This field indicates the Revised increased/decreased amount in LC."
        },
        "newDebitTolerance": {
          "type": "number",
          "description": "This field defines the new negative tolerance percentage under the LC , to calculate the minimum amount that can be presented under the LC."
        },
        "newCreditTolerance": {
          "type": "string",
          "description": "This field defines the new tolerance percentage to be added to the LC amount to calculate the full liability amount or maximum amount that can be drawn."
        },
        "newExpiryDate": {
          "type": "string",
          "format": "date",
          "description": "New Expiry date for presentation under the documentary credit."
        },
        "newLiabilityReversalDate": {
          "type": "string",
          "format": "date",
          "description": "New Date on which the contigent entries and the limits raised on the LC will be reversed."
        },
        "newExpiryPlace": {
          "type": "string"
        },
        "cancellationRequest": {
          "type": "string",
          "description": "Indicates that the documentary credit is requested to be cancelled. Valid input in this field is CANCEL."
        },
        "additionalAmountCovered": {
          "type": "string",
          "description": " Specifies any additional amounts available to the beneficiary under the Documentary Credit, such as insurance, freight, interest, etc."
        },
        "separateLimitUpdate": {
          "type": "string"
        },
        "placeOfTakingInCharge": {
          "type": "string",
          "description": "Indicates the place of taking in charge(in case of multimodal transport document), the place of receipt(in case of a road, rail or inland waterway transport document or a courier expedited delivery service document), the place of dispatch or the place of shipment to be indicated on the transport document"
        },
        "portOfLoading": {
          "type": "string",
          "description": "Indicates the place of dispatch or taking in charge of the goods or loading on board for shipments made under the LC."
        },
        "portOfDischarge": {
          "type": "string",
          "description": "Indicates the port of discharge or the airport of destination of the shipment under the LC."
        },
        "finalDestination": {
          "type": "string",
          "description": "Indicates the final destination or place of delivery of the shipment under the LC."
        },
        "shipmentPeriod": {
          "type": "string",
          "description": "Indicates the period of time which the goods are to be loaded on board/dispatched/taken in charge."
        },
        "latestShipmentDate": {
          "type": "string",
          "description": "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC."
        },
        "sendReceiveInfo": {
          "type": "string"
        },
        "descriptionOfGoods": {
          "type": "string"
        },
        "chargeBaseAmount": {
          "type": "string"
        },
        "waiveCharge": {
          "type": "string",
          "description": "Defines whether charges are to be collected or waived"
        }
      }
    },
    "ScreenHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "updateLCBeneficiaryConsentResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/updateLCBeneficiaryConsentResponseBody"
        }
      },
      "description": "updateLCBeneficiaryConsentResponse"
    },
    "updateLCBeneficiaryConsentResponseBody": {
      "type": "object",
      "properties": {
        "advisingBankIds": {
          "type": "array",
          "description": "It’s a system populated field which default the advising bank ID, name and address from the LC contract.",
          "items": {
            "type": "object",
            "properties": {
              "advisingBankId": {
                "type": "string",
                "description": "It’s a system populated field which default the advising bank ID, name and address from the LC contract."
              }
            }
          }
        },
        "beneficiaryAddresses": {
          "type": "array",
          "description": "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items": {
            "type": "object",
            "properties": {
              "beneficiaryAddress": {
                "type": "string",
                "description": "The address of the Beneficiary if the customer number of the Beneficiary is not known"
              }
            }
          }
        },
        "documentsRequired": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "documentRequired": {
                "type": "string"
              }
            }
          }
        },
        "additionalConditions": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "additionalCondition": {
                "type": "string"
              }
            }
          }
        },
        "charges": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "chargeCode": {
                "type": "string"
              },
              "partyCharged": {
                "type": "string"
              },
              "chargeDebitAccount": {
                "type": "string"
              },
              "chargeCurrency": {
                "type": "string",
                "description": "Holds the currency code of the charge account from where the fee is deducted"
              },
              "chargeExchangeRate": {
                "type": "string"
              },
              "chargeAmount": {
                "type": "string",
                "description": "Holds the charge amount equivalent in charge account currency"
              },
              "chargeStatus": {
                "type": "string"
              },
              "taxAmount": {
                "type": "string",
                "description": "The tax amount"
              }
            }
          }
        },
        "lcCurrency": {
          "type": "string",
          "description": "Denote the currency of the Letter of Credit."
        },
        "lcAmount": {
          "type": "number",
          "description": "This field indicates the amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
        },
        "issueDate": {
          "type": "string",
          "format": "date",
          "description": "The date the item was issued."
        },
        "beneficiaryId": {
          "type": "string",
          "description": "The identifier of the beneficiary"
        },
        "lcLiabilityAmountOutStanding": {
          "type": "string",
          "description": "It’s a system populated field that indicates the total liability amount in respect of each issued or confirmed letters of credit."
        },
        "pendingAmendMovement": {
          "type": "string",
          "description": "It’s a system populated field indicating the total amount of all the pending Amendments pertaining the Letter of Credit."
        },
        "debitTolerance": {
          "type": "string",
          "description": "This field defines the negative tolerance percentage under the letter of credit, to calculate the minimum amount that can be presented under the LC."
        },
        "creditTolerance": {
          "type": "string",
          "description": "This field defines the tolerance percentage to be added to the letter of credit amount to calculate the full liability amount or maximum amount that can be drawn."
        },
        "purposeOfMessage": {
          "type": "string",
          "description": "Indicates the purpose of MT707 amendment message, whether its the isssuance of amendment message or advise of amendment message to the second advising bank or advise and confirmation of amendment message to the second advising bank."
        },
        "advisingBankReference": {
          "type": "string",
          "description": "Advising Bank reference number for use on messages and advices under the LC contract."
        },
        "increaseOrDecreaseAmount": {
          "type": "number",
          "description": "This field indicates the Revised increased/decreased amount in LC."
        },
        "newDebitTolerance": {
          "type": "number",
          "description": "This field defines the new negative tolerance percentage under the LC , to calculate the minimum amount that can be presented under the LC."
        },
        "newCreditTolerance": {
          "type": "string",
          "description": "This field defines the new tolerance percentage to be added to the LC amount to calculate the full liability amount or maximum amount that can be drawn."
        },
        "newExpiryDate": {
          "type": "string",
          "format": "date",
          "description": "New Expiry date for presentation under the documentary credit."
        },
        "newLiabilityReversalDate": {
          "type": "string",
          "format": "date",
          "description": "New Date on which the contigent entries and the limits raised on the LC will be reversed."
        },
        "newExpiryPlace": {
          "type": "string"
        },
        "cancellationRequest": {
          "type": "string",
          "description": "Indicates that the documentary credit is requested to be cancelled. Valid input in this field is CANCEL."
        },
        "additionalAmountCovered": {
          "type": "string",
          "description": " Specifies any additional amounts available to the beneficiary under the Documentary Credit, such as insurance, freight, interest, etc."
        },
        "separateLimitUpdate": {
          "type": "string"
        },
        "placeOfTakingInCharge": {
          "type": "string",
          "description": "Indicates the place of taking in charge(in case of multimodal transport document), the place of receipt(in case of a road, rail or inland waterway transport document or a courier expedited delivery service document), the place of dispatch or the place of shipment to be indicated on the transport document"
        },
        "portOfLoading": {
          "type": "string",
          "description": "Indicates the place of dispatch or taking in charge of the goods or loading on board for shipments made under the LC."
        },
        "portOfDischarge": {
          "type": "string",
          "description": "Indicates the port of discharge or the airport of destination of the shipment under the LC."
        },
        "finalDestination": {
          "type": "string",
          "description": "Indicates the final destination or place of delivery of the shipment under the LC."
        },
        "shipmentPeriod": {
          "type": "string",
          "description": "Indicates the period of time which the goods are to be loaded on board/dispatched/taken in charge."
        },
        "latestShipmentDate": {
          "type": "string",
          "description": "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC."
        },
        "sendReceiveInfo": {
          "type": "string"
        },
        "descriptionOfGoods": {
          "type": "string"
        },
        "chargeBaseAmount": {
          "type": "string"
        },
        "waiveCharge": {
          "type": "string",
          "description": "Defines whether charges are to be collected or waived"
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody": {
      "properties": {
        "overrideDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier of the override"
              },
              "description": {
                "type": "string",
                "description": "The actual override message"
              }
            }
          }
        }
      }
    },
    "updateLCBeneficiaryConsentErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/updateLCBeneficiaryConsentErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "updateLCBeneficiaryConsentErrorResponse"
    },
    "updateLCBeneficiaryConsentErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type"
        }
      }
    }
  }
}