{
  "swagger": "2.0",
  "info": {
    "description": "API to create, update and manage various types of bank issued guarantees and their associated status and details. Some of the types of guarantees that can be created are bid bonds, performance bonds and Trade Finance shipping guarantees",
    "version": "v1.0.0",
    "title": "Management of Guarantees"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/holdings/guarantees/clauses/{clauseId}": {
      "get": {
        "summary": "Details of guarantee clause",
        "description": "Retrieves the guarantee clause details of specific id",
        "operationId": "getClause",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "clauseId",
            "in": "path",
            "description": "Represents id of MD.CLAUSES. Id can be used in MD application and description is automatically populated in the deal.Records created for customer specific clauses, to have ID beginning with the customer ID followed by the alpha numeric text.",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ClauseResponse",
            "schema": {
              "$ref": "#/definitions/ClauseResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create guarantee clause",
        "description": "Creates the guarantee clause record for a specific customer",
        "operationId": "createClause",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "clauseId",
            "in": "path",
            "description": "Represents id of MD.CLAUSES. Id can be used in MD application and description is automatically populated in the deal.Records created for customer specific clauses, to have ID beginning with the customer ID followed by the alpha numeric text.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Clause"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ClauseResponse",
            "schema": {
              "$ref": "#/definitions/ClauseResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put": {
        "summary": "Update guarantee clause",
        "description": "Updates the guarantee clause for the specific id",
        "operationId": "updateClause",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "clauseId",
            "in": "path",
            "description": "Represents id of MD.CLAUSES. Id can be used in MD application and description is automatically populated in the deal.Records created for customer specific clauses, to have ID beginning with the customer ID followed by the alpha numeric text.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Clause"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ClauseResponse",
            "schema": {
              "$ref": "#/definitions/ClauseResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Remove guarantee clause",
        "description": "Removes the guarantee clause record",
        "operationId": "deleteClause",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "clauseId",
            "in": "path",
            "description": "Represents id of MD.CLAUSES. Id can be used in MD application and description is automatically populated in the deal.Records created for customer specific clauses, to have ID beginning with the customer ID followed by the alpha numeric text.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ClauseDelete"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ClauseResponse",
            "schema": {
              "$ref": "#/definitions/ClauseResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/guarantees/requests": {
      "get": {
        "summary": "Retrieves the guarantee initiation requests",
        "description": "Retrieves the list of guarantee initiation request details",
        "operationId": "getGuaranteeIssuanceRequests",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mdIbRequestId",
            "in": "query",
            "description": "The guarantees issuance id initiated by internet banking",
            "required": false,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Identifier of the customer",
            "required": false,
            "type": "string"
          },
          {
            "name": "ibEventStatus",
            "in": "query",
            "description": "Specifies the status of the guarantee issuance request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "GuaranteeIssuanceRequestsResponse",
            "schema": {
              "$ref": "#/definitions/GuaranteeIssuanceRequestsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create guarantee initiation request",
        "description": "Creates the guarantee initiation request from internet banking",
        "operationId": "createIbRequest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IbRequest"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "IbRequestResponse",
            "schema": {
              "$ref": "#/definitions/IbRequestResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/guarantees/requests/{requestId}": {
      "get": {
        "summary": "Details of guarantee initiation request",
        "description": "Retrieves the guarantee initiation request details for specific id",
        "operationId": "getIbRequest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "The guarantees issuance id initiated by internet banking",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "IbRequestResponse",
            "schema": {
              "$ref": "#/definitions/IbRequestResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put": {
        "summary": "Update guarantee initiation record",
        "description": "Updates the existing guarantee initiation record for a customer",
        "operationId": "updateIbRequest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "The guarantees issuance id initiated by internet banking",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IbRequest"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "IbRequestResponse",
            "schema": {
              "$ref": "#/definitions/IbRequestResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Remove guarantee initiation record",
        "description": "Removes the existing guarantee initiation record",
        "operationId": "deleteIbRequest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "The guarantees issuance id initiated by internet banking",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": false,
            "schema": {
              "$ref": "#/definitions/IbRequestDelete"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "IbRequestResponse",
            "schema": {
              "$ref": "#/definitions/IbRequestResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/guarantees/guaranteesApprovals/{requestId}": {
      "put": {
        "summary": "Approve guarantee initiation request",
        "description": "Approves the guarantee initiation request",
        "operationId": "approveGuarantee",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "The guarantees issuance id initiated by internet banking",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "GuaranteeResponse",
            "schema": {
              "$ref": "#/definitions/IbRequestResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/guarantees/cancellations/{requestId}": {
      "delete": {
        "summary": "Reject guarantee initiation request",
        "description": "Reject the guarantee initiation request",
        "operationId": "rejectGuarantee",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "The guarantees issuance id initiated by internet banking",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": false,
            "schema": {
              "$ref": "#/definitions/GuaranteeDelete"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "GuaranteeResponse",
            "schema": {
              "$ref": "#/definitions/IbRequestResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/guarantees/{guaranteeId}/receivedGuarantees": {
      "get": {
        "summary": "Retrieves received guarantee records",
        "description": "Retrieves the received guarantee records for the customer ",
        "operationId": "getReceivedGuaranteeHistory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "guaranteeId",
            "in": "path",
            "description": "The identifier of the guarantee record",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ReceivedGuaranteeHistoryResponse",
            "schema": {
              "$ref": "#/definitions/ReceivedGuaranteeHistoryResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/guarantees/clauses": {
      "get": {
        "summary": "Retrieves the guarantee clause records",
        "description": "Retrieves the list of guarantee clause records for specific customer",
        "operationId": "getGuaranteeClauses",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "clauseId",
            "in": "query",
            "description": "Represents id of MD.CLAUSES. Id can be used in MD application and description is automatically populated in the deal.Records created for customer specific clauses, to have ID beginning with the customer ID followed by the alpha numeric text.",
            "required": false,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Identifier of the customer",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "GuaranteeClausesResponse",
            "schema": {
              "$ref": "#/definitions/GuaranteeClausesResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/guarantees/receivedGuarantees/amendments": {
      "get": {
        "summary": "Retrieves the amended guarantee records",
        "description": "Retrieves the list of amended guarantee records",
        "operationId": "getReceivedGuaranteesAmendments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "alternateId",
            "in": "query",
            "description": "An Alternate Identification for the Deal. This can be used to retrieve the Deal for amendment.",
            "required": false,
            "type": "string"
          },
          {
            "name": "contractType",
            "in": "query",
            "description": "Defines the type of Miscellaneous Deal. It defines whether the deal is a Commitment or a Memorandum type deal and whether the deal represents an asset or liability.",
            "required": false,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Identifier of the customer",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ReceivedGuaranteesAmendmentsResponse",
            "schema": {
              "$ref": "#/definitions/ReceivedGuaranteesAmendmentsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/guarantees/{guaranteeId}/invocations": {
      "get": {
        "summary": "Retrieves the guarantee claim invocation details",
        "description": "Retrieves the list of guarantee claim invocation details",
        "operationId": "getClaimInvocationHistory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "guaranteeId",
            "in": "path",
            "description": "The identifier of the guarantee record",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ClaimInvocationHistoryResponse",
            "schema": {
              "$ref": "#/definitions/ClaimInvocationHistoryResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/guarantees/receivedClaims": {
      "get": {
        "summary": "Retrieves the received guarantee claims",
        "description": "Retrieves the list of received guarantee claim records for a customer",
        "operationId": "getReceivedGuaranteeClaims",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Identifier of the customer",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ReceivedGuaranteeClaimsResponse",
            "schema": {
              "$ref": "#/definitions/ReceivedGuaranteeClaimsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/guarantees/amendments": {
      "get": {
        "summary": "Retrieves guarantee amendment records",
        "description": "Retrieves the list of amended guarantee records for specific customer",
        "operationId": "getGuaranteeAmendments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Identifier of the customer",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "GuaranteeAmendmentsResponse",
            "schema": {
              "$ref": "#/definitions/GuaranteeAmendmentsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/guarantees/issuedGuarantees": {
      "get": {
        "summary": "Retrieves the issued guarantee details",
        "description": "Retrieves the list of issued guarantee request details for specific customer",
        "operationId": "getIssuedGuarantees",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Identifier of the customer",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "IssuedGuaranteesResponse",
            "schema": {
              "$ref": "#/definitions/IssuedGuaranteesResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/guarantees/limits": {
      "get": {
        "summary": "Retrieves the guarantee limits",
        "description": "Retrieves the list of guarantees limit details",
        "operationId": "getGuaranteeLimits",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Identifier of the customer",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "GuaranteeLimitsResponse",
            "schema": {
              "$ref": "#/definitions/GuaranteeLimitsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/guarantees/issuedClaims": {
      "get": {
        "summary": "Retrieves the received guarantee claims",
        "description": "Retrieves the list of received guarantee claim details",
        "operationId": "getIssuedGuaranteeClaims",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "IssuedGuaranteeClaimsResponse",
            "schema": {
              "$ref": "#/definitions/IssuedGuaranteeClaimsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/guarantees/deals": {
      "post": {
        "summary": "Create the guarantee amendment record",
        "description": "Creates the guarantees amendment record",
        "operationId": "createGuaranteesAmendment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GuaranteesAmendment"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "GuaranteesAmendmentResponse",
            "schema": {
              "$ref": "#/definitions/GuaranteesAmendmentResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/guarantees/{guaranteeId}/deals": {
      "put": {
        "summary": "Update guarantee amendment",
        "description": "Updates the existing guarantees amendment record for customer",
        "operationId": "updateGuaranteeAmendment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "guaranteeId",
            "in": "path",
            "description": "The identifier of the guarantee record",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GuaranteesAmendment"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "GuaranteeAmendmentResponse",
            "schema": {
              "$ref": "#/definitions/GuaranteesAmendmentResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/guarantees": {
      "get": {
        "summary": "Retrieves the guarantee details",
        "description": "Retrieves the list of guarantee details",
        "operationId": "getGuarantees",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "guaranteeId",
            "in": "query",
            "description": "The identifier of the guarantee record",
            "required": false,
            "type": "string"
          },
          {
            "name": "beneficiaryCustomerId",
            "in": "query",
            "description": "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank.",
            "required": false,
            "type": "string"
          },
          {
            "name": "contractType",
            "in": "query",
            "description": "Defines the type of Miscellaneous Deal. It defines whether the deal is a Commitment or a Memorandum type deal and whether the deal represents an asset or liability.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ibRequestId",
            "in": "query",
            "description": "The guarantees issuance id initiated by internet banking",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "GuaranteesResponse",
            "schema": {
              "$ref": "#/definitions/GuaranteesResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "PayloadHeader": {
      "properties": {
        "override": {
          "type": "object",
          "properties": {
            "overrideDetails": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier of the override"
                  },
                  "description": {
                    "type": "string",
                    "description": "The actual override message"
                  },
                  "responseCode": {
                    "type": "string",
                    "description": "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit": {
          "type": "object",
          "properties": {
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "Clause": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/ClauseBody"
        }
      },
      "description": "Clause"
    },
    "ClauseBody": {
      "type": "object",
      "properties": {
        "mdClausesDescriptions": {
          "type": "array",
          "description": "Contains the full clause text which is used in the construction of MD Advices/Documents generated as a result of MD transactions.",
          "items": {
            "type": "object",
            "properties": {
              "mdClausesDescription": {
                "type": "string",
                "description": "Contains the full clause text which is used in the construction of MD Advices/Documents generated as a result of MD transactions.",
                "maxLength": 20
              }
            }
          }
        },
        "mdClausesDisplayName": {
          "type": "string",
          "description": "Contains a short meaningful description of the MD.CLAUSES narrative for enrichment purposes.",
          "maxLength": 20
        }
      }
    },
    "ScreenHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "ClauseResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/ClauseResponseBody"
        }
      },
      "description": "ClauseResponse"
    },
    "ClauseResponseBody": {
      "type": "object",
      "properties": {
        "mdClausesDescriptions": {
          "type": "array",
          "description": "Contains the full clause text which is used in the construction of MD Advices/Documents generated as a result of MD transactions.",
          "items": {
            "type": "object",
            "properties": {
              "mdClausesDescription": {
                "type": "string",
                "description": "Contains the full clause text which is used in the construction of MD Advices/Documents generated as a result of MD transactions.",
                "maxLength": 20
              }
            }
          }
        },
        "mdClausesDisplayName": {
          "type": "string",
          "description": "Contains a short meaningful description of the MD.CLAUSES narrative for enrichment purposes.",
          "maxLength": 20
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody": {
      "properties": {
        "overrideDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier of the override"
              },
              "description": {
                "type": "string",
                "description": "The actual override message"
              },
              "options": {
                "type": "array",
                "description": "The usable options for the override",
                "items": {
                  "type": "string"
                }
              },
              "type": {
                "type": "string",
                "description": "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/ScreenErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message "
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemScreenErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    },
    "ClauseDelete": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        }
      },
      "description": "ClauseDelete"
    },
    "IbRequest": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/IbRequestBody"
        }
      },
      "description": "IbRequest"
    },
    "IbRequestBody": {
      "type": "object",
      "properties": {
        "beneficiaryIds": {
          "type": "array",
          "description": "Indicates the Id of beneficiary when beneficiary details are stored",
          "items": {
            "type": "object",
            "properties": {
              "beneficiaryId": {
                "type": "string",
                "description": "Indicates the Id of beneficiary when beneficiary details are stored",
                "maxLength": 16
              }
            }
          }
        },
        "guarantees": {
          "type": "array",
          "description": "Specifies the terms and conditions of the guarantee.",
          "items": {
            "type": "object",
            "properties": {
              "guaranteeDetails": {
                "type": "array",
                "description": "Specifies the terms and conditions of the guarantee.",
                "items": {
                  "type": "object",
                  "properties": {
                    "guaranteeDetail": {
                      "type": "string",
                      "description": "Specifies the terms and conditions of the guarantee.",
                      "maxLength": 16
                    }
                  }
                }
              }
            }
          }
        },
        "documentDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "supportDocument": {
                "type": "string",
                "description": "Holds the file name of the attached/uploaded documents.",
                "maxLength": 16
              },
              "documentName": {
                "type": "string",
                "description": "Holds the file name of the attached/uploaded documents.",
                "maxLength": 16
              }
            }
          }
        },
        "limits": {
          "type": "array",
          "description": "Specifies the reason for request of the guarantee when the system prompts that the limit is exceeded.",
          "items": {
            "type": "object",
            "properties": {
              "limitExceedReasons": {
                "type": "array",
                "description": "Specifies the reason for request of the guarantee when the system prompts that the limit is exceeded.",
                "items": {
                  "type": "object",
                  "properties": {
                    "limitExceedReason": {
                      "type": "string",
                      "description": "Specifies the reason for request of the guarantee when the system prompts that the limit is exceeded.",
                      "maxLength": 17
                    }
                  }
                }
              }
            }
          }
        },
        "messageFromBanks": {
          "type": "array",
          "description": "Field to input queries/clarifications by bank to be sought from Corporate customer on the request.",
          "items": {
            "type": "object",
            "properties": {
              "messageFromBank": {
                "type": "string",
                "description": "Field to input queries/clarifications by bank to be sought from Corporate customer on the request.",
                "maxLength": 16
              }
            }
          }
        },
        "messageFromCustomers": {
          "type": "array",
          "description": "Field to input any additional information/clarifications to be provided to the bank, by Corporate customer.",
          "items": {
            "type": "object",
            "properties": {
              "messageFromCustomer": {
                "type": "string",
                "description": "Field to input any additional information/clarifications to be provided to the bank, by Corporate customer.",
                "maxLength": 19
              }
            }
          }
        },
        "information": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "otherInformations": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "otherInformation": {
                      "type": "string",
                      "description": "Field to input any information that needs to be provided with regard to the issuance of guarantee.",
                      "maxLength": 16
                    }
                  }
                }
              }
            }
          }
        },
        "amendmentDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "amendmentDetail": {
                "type": "string",
                "description": "Field to corporate user to input the amendment details of the guarantee in this field.",
                "maxLength": 16
              }
            }
          }
        },
        "overrides": {
          "type": "array",
          "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items": {
            "type": "object",
            "properties": {
              "override": {
                "type": "string",
                "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "maxLength": 25
              }
            }
          }
        },
        "customerId": {
          "type": "string",
          "description": "Identifier of the customer",
          "maxLength": 16
        },
        "currencyId": {
          "type": "string",
          "description": "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength": 16
        },
        "principalAmount": {
          "type": "number",
          "description": "Indicates the Principal Amount of the loan or a deposit"
        },
        "startDate": {
          "type": "string",
          "format": "date",
          "description": "Contains the date on which the transaction or payment gets initiated."
        },
        "maturityDate": {
          "type": "string",
          "format": "date",
          "description": "Indicates maturity date of the contract"
        },
        "categoryName": {
          "type": "string",
          "description": "Name that is displayed for the product category",
          "maxLength": 16
        },
        "clientReference": {
          "type": "string",
          "description": "To specify the Corporate customer's reference.",
          "maxLength": 16
        },
        "chargeDebitAccountId": {
          "type": "string",
          "description": "Specifies the account from which charges is to be collected.",
          "maxLength": 20
        },
        "provisionDebitAccountId": {
          "type": "string",
          "description": "Specifies the account from which the cash margin/provision is to be taken.",
          "maxLength": 23
        },
        "commissionDebitAccountId": {
          "type": "string",
          "description": "Specifies the account from which the commission is to be collected.",
          "maxLength": 24
        },
        "invocationDebitAccountId": {
          "type": "string",
          "description": "Specifies the account from which the invocation amount is to be debited at the time of settlement of the claim.",
          "maxLength": 24
        },
        "issuedShippingGuaranteeType": {
          "type": "string",
          "description": "Specifies whether the request is for issuance of shipping guarantee under Letter of Credit or Documentary collections.",
          "maxLength": 27
        },
        "letterOfCreditId": {
          "type": "string",
          "description": "Specifies the LC reference under which the shipping guarantee has been requested.",
          "maxLength": 16
        },
        "eventStatus": {
          "type": "string",
          "description": "Specifies the status of the request.Allowed values are - With Bank_With Customer_Approved_Rejected.",
          "maxLength": 16
        },
        "additionalInformation": {
          "type": "string",
          "description": "Additional Information provided to add context",
          "maxLength": 21
        },
        "amendmentRequestId": {
          "type": "string",
          "description": "Hold number of amendment request.",
          "maxLength": 18
        },
        "amendmentStatus": {
          "type": "string",
          "description": "Specifies the status of the amendment request. Allowed values are - With Bank_With Customer_Approved_Rejected.",
          "maxLength": 16
        },
        "principalMovement": {
          "type": "number",
          "description": "Specifies the amount for which the guarantee request is placed. User input field."
        },
        "movementDate": {
          "type": "string",
          "format": "date",
          "description": "To specify the date from which the increase/decrease of the guarantee amount is effective."
        },
        "newExpireDate": {
          "type": "string",
          "format": "date",
          "description": "To specify the new end date of the guarantee during amendment."
        },
        "guaranteeId": {
          "type": "string",
          "description": "Identifier of guarantee record",
          "maxLength": 16
        },
        "invocationStatus": {
          "type": "string",
          "description": "Indicates the status of Invocation received under a guarantee.  Allowed values: - PROCESS - EXECUTE - CANCEL",
          "maxLength": 16
        },
        "invocationAmount": {
          "type": "number",
          "description": "Amount of invocation received under a guarantee"
        },
        "invocationSettleAccountId": {
          "type": "string",
          "description": "Specifies the beneficiary(Corporate customer) under a Received guarantee will choose a settlement account into which the invocation amount will be credited.",
          "maxLength": 25
        },
        "recordStatus": {
          "type": "string",
          "description": "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "maxLength": 25
        }
      }
    },
    "IbRequestResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/IbRequestResponseBody"
        }
      },
      "description": "IbRequestResponse"
    },
    "IbRequestResponseBody": {
      "type": "object",
      "properties": {
        "beneficiaryIds": {
          "type": "array",
          "description": "Indicates the Id of beneficiary when beneficiary details are stored",
          "items": {
            "type": "object",
            "properties": {
              "beneficiaryId": {
                "type": "string",
                "description": "Indicates the Id of beneficiary when beneficiary details are stored",
                "maxLength": 16
              }
            }
          }
        },
        "guarantees": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "guaranteeDetails": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "guaranteeDetail": {
                      "type": "string",
                      "description": "Specifies the terms and conditions of the guarantee.",
                      "maxLength": 16
                    }
                  }
                }
              }
            }
          }
        },
        "documentDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "supportDocument": {
                "type": "string",
                "description": "Holds the file name of the attached/uploaded documents.",
                "maxLength": 16
              },
              "documentName": {
                "type": "string",
                "description": "Holds the file name of the attached/uploaded documents.",
                "maxLength": 16
              }
            }
          }
        },
        "limits": {
          "type": "array",
          "description": "Specifies the reason for request of the guarantee when the system prompts that the limit is exceeded.",
          "items": {
            "type": "object",
            "properties": {
              "limitExceedReasons": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "limitExceedReason": {
                      "type": "string",
                      "description": "Specifies the reason for request of the guarantee when the system prompts that the limit is exceeded.",
                      "maxLength": 17
                    }
                  }
                }
              }
            }
          }
        },
        "messageFromBanks": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "messageFromBank": {
                "type": "string",
                "description": "Field to input queries/clarifications by bank to be sought from Corporate customer on the request.",
                "maxLength": 16
              }
            }
          }
        },
        "messageFromCustomers": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "messageFromCustomer": {
                "type": "string",
                "description": "Field to input any additional information/clarifications to be provided to the bank, by Corporate customer.",
                "maxLength": 19
              }
            }
          }
        },
        "information": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "otherInformations": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "otherInformation": {
                      "type": "string",
                      "description": "Field to input any information that needs to be provided with regard to the issuance of guarantee.",
                      "maxLength": 16
                    }
                  }
                }
              }
            }
          }
        },
        "amendmentDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "amendmentDetail": {
                "type": "string",
                "description": "Field to corporate user to input the amendment details of the guarantee in this field.",
                "maxLength": 16
              }
            }
          }
        },
        "overrides": {
          "type": "array",
          "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items": {
            "type": "object",
            "properties": {
              "override": {
                "type": "string",
                "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "maxLength": 25
              }
            }
          }
        },
        "customerId": {
          "type": "string",
          "description": "Identifier of the customer",
          "maxLength": 16
        },
        "currencyId": {
          "type": "string",
          "description": "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength": 16
        },
        "principalAmount": {
          "type": "number",
          "description": "Indicates the Principal Amount of the loan or a deposit"
        },
        "startDate": {
          "type": "string",
          "format": "date",
          "description": "Contains the date on which the transaction or payment gets initiated."
        },
        "maturityDate": {
          "type": "string",
          "format": "date",
          "description": "Indicates maturity date of the contract"
        },
        "categoryName": {
          "type": "string",
          "description": "Name that is displayed for the product category",
          "maxLength": 16
        },
        "clientReference": {
          "type": "string",
          "description": "To specify the Corporate customer's reference.",
          "maxLength": 16
        },
        "chargeDebitAccountId": {
          "type": "string",
          "description": "Specifies the account from which charges is to be collected.",
          "maxLength": 20
        },
        "provisionDebitAccountId": {
          "type": "string",
          "description": "Specifies the account from which the cash margin/provision is to be taken.",
          "maxLength": 23
        },
        "commissionDebitAccountId": {
          "type": "string",
          "description": "Specifies the account from which the commission is to be collected.",
          "maxLength": 24
        },
        "invocationDebitAccountId": {
          "type": "string",
          "description": "Specifies the account from which the invocation amount is to be debited at the time of settlement of the claim.",
          "maxLength": 24
        },
        "issuedShippingGuaranteeType": {
          "type": "string",
          "description": "Specifies whether the request is for issuance of shipping guarantee under Letter of Credit or Documentary collections.",
          "maxLength": 27
        },
        "letterOfCreditId": {
          "type": "string",
          "description": "Specifies the LC reference under which the shipping guarantee has been requested.",
          "maxLength": 16
        },
        "eventStatus": {
          "type": "string",
          "description": "Specifies the status of the request.Allowed values are - With Bank_With Customer_Approved_Rejected.",
          "maxLength": 16
        },
        "additionalInformation": {
          "type": "string",
          "description": "Additional Information provided to add context",
          "maxLength": 21
        },
        "amendmentRequestId": {
          "type": "string",
          "description": "Hold number of amendment request.",
          "maxLength": 18
        },
        "amendmentStatus": {
          "type": "string",
          "description": "Specifies the status of the amendment request. Allowed values are - With Bank_With Customer_Approved_Rejected.",
          "maxLength": 16
        },
        "principalMovement": {
          "type": "number",
          "description": "Specifies the amount for which the guarantee request is placed. User input field."
        },
        "movementDate": {
          "type": "string",
          "format": "date",
          "description": "To specify the date from which the increase/decrease of the guarantee amount is effective."
        },
        "newExpireDate": {
          "type": "string",
          "format": "date",
          "description": "To specify the new end date of the guarantee during amendment."
        },
        "guaranteeId": {
          "type": "string",
          "description": "Identifier of guarantee record",
          "maxLength": 16
        },
        "invocationStatus": {
          "type": "string",
          "description": "Indicates the status of Invocation received under a guarantee.  Allowed values: - PROCESS - EXECUTE - CANCEL",
          "maxLength": 16
        },
        "invocationAmount": {
          "type": "number",
          "description": "Amount of invocation received under a guarantee"
        },
        "invocationSettleAccountId": {
          "type": "string",
          "description": "Specifies the beneficiary(Corporate customer) under a Received guarantee will choose a settlement account into which the invocation amount will be credited.",
          "maxLength": 25
        },
        "recordStatus": {
          "type": "string",
          "description": "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "maxLength": 25
        }
      }
    },
    "IbRequestDelete": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        }
      },
      "description": "IbRequestDelete"
    },
    "GuaranteeDelete": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        }
      },
      "description": "GuaranteeDelete"
    },
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "ReceivedGuaranteeHistoryResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/ReceivedGuaranteeHistoryResponseBody"
        }
      },
      "description": "ReceivedGuaranteeHistoryResponse"
    },
    "ReceivedGuaranteeHistoryResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "principalBalances": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "effectiveDate": {
                  "type": "string",
                  "format": "date",
                  "description": "The date on which the principal movement is effected"
                },
                "principalBalance": {
                  "type": "number",
                  "description": "Records the principal balance on the deal at each stage throughout the life of the deal."
                }
              }
            }
          },
          "miscellaneousDealId": {
            "type": "string",
            "description": "The deal identifier.",
            "maxLength": 17
          },
          "previousAmendmentsDetails": {
            "type": "string",
            "description": "Specifies the previous guarantee amendment details",
            "maxLength": 17
          }
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message "
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description": "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message for bad requests"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description": "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message caused by server"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    },
    "GuaranteeClausesResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/GuaranteeClausesResponseBody"
        }
      },
      "description": "GuaranteeClausesResponse"
    },
    "GuaranteeClausesResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "clauseNames": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "clauseName": {
                  "type": "string",
                  "description": "Contains the full clause text which is used in the construction of MD Advices/Documents generated as a result of MD transactions.",
                  "maxLength": 65
                }
              }
            }
          },
          "clauseId": {
            "type": "string",
            "description": "Represents id of MD.CLAUSES. Id can be used in MD application and description is automatically populated in the deal. It accepts alpha numerical characters.",
            "maxLength": 16
          },
          "clauseDisplayName": {
            "type": "string",
            "description": "Contains a short meaningful description of the MD.CLAUSES narrative for enrichment purposes.",
            "maxLength": 25
          },
          "versionNumber": {
            "type": "string",
            "description": "The current number of the record",
            "maxLength": 6
          }
        }
      }
    },
    "ReceivedGuaranteesAmendmentsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/ReceivedGuaranteesAmendmentsResponseBody"
        }
      },
      "description": "ReceivedGuaranteesAmendmentsResponse"
    },
    "ReceivedGuaranteesAmendmentsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "alternateTransactionReference": {
            "type": "string",
            "description": "An Alternate reference for the Deal. This can be used to retrieve the Deal for amendment.",
            "maxLength": 35
          },
          "externalReference1": {
            "type": "string",
            "description": "Any non T24 references which identify the deal for the customer.Free format field to allow input of any customer reference of the deal.",
            "maxLength": 35
          },
          "issuingParty": {
            "type": "string",
            "description": "Identifies the issuing customer name",
            "maxLength": 50
          },
          "categoryId": {
            "type": "string",
            "description": "Unique identifier associated with the product name of the account or contract. For example: For customer/counterparty accounts, the identifier would be in the range 1000 to 9999. For ledger accounts, in the range 10000 to 19999.",
            "maxLength": 6
          },
          "adviceExpiryDate": {
            "type": "string",
            "format": "date",
            "description": "Specifies the actual expiry date of Guarantee."
          },
          "currencyId": {
            "type": "string",
            "description": "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
            "maxLength": 3
          },
          "principalAmount": {
            "type": "number",
            "description": "Indicates the Principal Amount of the loan or a deposit"
          },
          "mdReference": {
            "type": "string",
            "description": "The reference id of the deal",
            "maxLength": 17
          }
        }
      }
    },
    "GuaranteeIssuanceRequestsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/GuaranteeIssuanceRequestsResponseBody"
        }
      },
      "description": "GuaranteeIssuanceRequestsResponse"
    },
    "GuaranteeIssuanceRequestsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "beneficiaryIds": {
            "type": "array",
            "description": "Indicates the Id of beneficiary when beneficiary details are stored",
            "items": {
              "type": "object",
              "properties": {
                "beneficiaryId": {
                  "type": "string",
                  "description": "Indicates the Id of beneficiary when beneficiary details are stored",
                  "maxLength": 35
                }
              }
            }
          },
          "guarantees": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "guaranteeDetails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "guaranteeDetail": {
                        "type": "string",
                        "description": "Specifies the terms and conditions of the guarantee.",
                        "maxLength": 65
                      }
                    }
                  }
                }
              }
            }
          },
          "supportDocuments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "supportDocument": {
                  "type": "string",
                  "description": "Holds the file name of the attached/uploaded documents.",
                  "maxLength": 35
                },
                "documentName": {
                  "type": "string",
                  "description": "Holds the file name of the attached/uploaded documents.",
                  "maxLength": 65
                }
              }
            }
          },
          "limitDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "limitExceedReasons": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "limitExceedReason": {
                        "type": "string",
                        "description": "Specifies the reason for request of the guarantee when the system prompts that the limit is exceeded.",
                        "maxLength": 35
                      }
                    }
                  }
                }
              }
            }
          },
          "messageFromBanks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "messageFromBank": {
                  "type": "string",
                  "description": "Field to input queries/clarifications by bank to be sought from Corporate customer on the request.",
                  "maxLength": 65
                }
              }
            }
          },
          "messageFromCustomers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "messageFromCustomer": {
                  "type": "string",
[...]
