{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retrieves the Charge Amount for the given Charge Property",
    "version" : "v1.0.0",
    "title" : "Retrieves the Charge Amount"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/deposits/redeemCharge/{arrangementId}" : {
      "post" : {
        "summary" : "Retrieves the Charge Amount for the given Charge Property",
        "description" : "Retrieves the Charge Amount for the given Charge Property",
        "operationId" : "getRedeemChargeAmount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/getRedeemChargeAmount"
          }
        }, {
          "name" : "arrangementId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "chargeProperty",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ChargeAmountResponse",
            "schema" : {
              "$ref" : "#/definitions/ChargeAmountResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getRedeemChargeAmount" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/getRedeemChargeAmountBody"
        }
      },
      "description" : "RedeemDeposits"
    },
    "getRedeemChargeAmountBody" : {
      "type" : "object",
      "properties" : {
        "closureNotes" : {
          "type" : "array",
          "description" : "This field is used to hold the notes for the reason of account closure",
          "items" : {
            "type" : "object",
            "properties" : {
              "closureNote" : {
                "type" : "string",
                "maxLength" : 35
              }
            }
          }
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "maxLength" : 80
        },
        "automaticRun" : {
          "type" : "string",
          "maxLength" : 35
        },
        "simulationRunReference" : {
          "type" : "string",
          "maxLength" : 30
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date on which the principal movement is effected"
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 10
        },
        "transactionAmount" : {
          "type" : "number",
          "description" : "The transaction amount"
        },
        "closureReason" : {
          "type" : "string",
          "description" : "This field contains the reason for closing the account",
          "maxLength" : 35
        },
        "settlement" : {
          "type" : "object",
          "properties" : {
            "payinSettlement1" : {
              "type" : "string",
              "enum" : [ "Payin Settlement" ]
            },
            "ddMandateRef11" : {
              "type" : "string",
              "format" : "date"
            },
            "payinAccount11" : {
              "type" : "string",
              "enum" : [ "Payin Account" ]
            },
            "payinBeneficiary11" : {
              "type" : "string",
              "enum" : [ "Payin Beneficiary" ]
            },
            "payinPercentage11" : {
              "type" : "number"
            },
            "payinAmount11" : {
              "type" : "number"
            },
            "payoutSettlement1" : {
              "type" : "string",
              "enum" : [ "Payout Settlement" ]
            },
            "payoutAccount11" : {
              "type" : "string",
              "enum" : [ "Payout Account" ]
            },
            "payoutBeneficiary11" : {
              "type" : "string",
              "enum" : [ "Payout Beneficiary" ]
            },
            "payoutPercentage11" : {
              "type" : "number"
            },
            "payoutAmount11" : {
              "type" : "number"
            },
            "paymentType11" : {
              "type" : "string",
              "enum" : [ "Payment Type" ]
            },
            "payinPoProduct11" : {
              "type" : "string",
              "enum" : [ "Payin Product" ]
            },
            "payinActivity11" : {
              "type" : "string",
              "enum" : [ "Payin Activity" ]
            },
            "payinAcDbRule1" : {
              "type" : "string",
              "enum" : [ "Payin Account Debit Rule" ]
            },
            "payinSettleActivity1" : {
              "type" : "string",
              "enum" : [ "Payin Settle Activity" ]
            },
            "payinRcType1" : {
              "type" : "string",
              "enum" : [ "Payin RC Type" ]
            },
            "payinRcCondition1" : {
              "type" : "string",
              "enum" : [ "Payin RC Condition" ]
            },
            "defaultSettlementAccount" : {
              "type" : "string",
              "maxLength" : 26,
              "enum" : [ "Default Settlement Account" ]
            },
            "payoutPptyClass11" : {
              "type" : "string",
              "enum" : [ "Property Class" ]
            },
            "payoutProperty11" : {
              "type" : "string",
              "enum" : [ "Payout Property" ]
            },
            "payoutPoProduct11" : {
              "type" : "string",
              "enum" : [ "Payout Product" ]
            },
            "payoutActivity11" : {
              "type" : "string",
              "enum" : [ "Payout Activity" ]
            },
            "payoutAcCrRule1" : {
              "type" : "string",
              "enum" : [ "Payout Account Credit Rule" ]
            },
            "payoutSettleActivity1" : {
              "type" : "string",
              "enum" : [ "Payout Settle Activity" ]
            },
            "payoutRcType1" : {
              "type" : "string",
              "enum" : [ "Payout RC Type" ]
            },
            "payoutRcCondition1" : {
              "type" : "string",
              "enum" : [ "Payout RC Condition" ]
            }
          }
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "ChargeAmountResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ChargeAmountResponseBody"
        }
      },
      "description" : "ChargeAmountResponse"
    },
    "ChargeAmountResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrangementId" : {
            "type" : "string",
            "description" : "The identifier of the arrangement"
          },
          "chargeProperty" : {
            "type" : "string",
            "maxLength" : 30
          },
          "simulationReference" : {
            "type" : "string",
            "maxLength" : 40
          },
          "chargeAmount" : {
            "type" : "string",
            "description" : "Indicates the charge amount in the charge currency which is to be applied for instruction for e.g. charge to be taken for payment stop instruction",
            "maxLength" : 20
          }
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    }
  }
}