{
  "swagger" : "2.0",
  "info" : {
    "description" : "An API version for the benefit of fetch fixing date on the contract from T24 by inputting key details entered on the Non Deliverable Forward contract.",
    "version" : "v1.0.0",
    "title" : "Create Non Deliverable Forwards"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/nonDeliverableForwards" : {
      "post" : {
        "operationId" : "createNonDeliverableForwards",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/NonDeliverableForwards"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "NonDeliverableForwardsResponse",
            "schema" : {
              "$ref" : "#/definitions/NonDeliverableForwardsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "NonDeliverableForwards" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/NonDeliverableForwardsBody"
        }
      },
      "description" : "NonDeliverableForwards"
    },
    "NonDeliverableForwardsBody" : {
      "type" : "object",
      "properties" : {
        "NDFType" : {
          "type" : "string",
          "description" : "Type of NDF i.e EXOTIC, VANILLA"
        },
        "counterparty" : {
          "type" : "string",
          "description" : "The counterparty ID  for the  deal."
        },
        "portfolioId" : {
          "type" : "string",
          "description" : "Id of the portfolio or security account"
        },
        "buyOrSell" : {
          "type" : "string",
          "description" : "Whether the transaction is a buy or a sell."
        },
        "dealCurrency" : {
          "type" : "string",
          "description" : "Non deliverable currency i.e INR etc. "
        },
        "settlementCurrency" : {
          "type" : "string",
          "description" : "The currency of the trade settlement"
        },
        "dealAmount" : {
          "type" : "number",
          "description" : "ND deal amount. "
        },
        "notionalSettlementAmount" : {
          "type" : "number",
          "description" : "Notional Settlement Amount ."
        },
        "valueDate" : {
          "type" : "string",
          "description" : "Shows the date on which the underlying accounting entry is to be given value (for interest purposes)."
        },
        "dealDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the deal was agreed. "
        },
        "notionalRate" : {
          "type" : "string",
          "description" : "ND deal rate."
        },
        "settlementRateSource" : {
          "type" : "string",
          "description" : "ND settlement rate source."
        },
        "fixedDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "ND Fixing/Valuation date."
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "NonDeliverableForwardsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/NonDeliverableForwardsResponseBody"
        }
      },
      "description" : "NonDeliverableForwardsResponse"
    },
    "NonDeliverableForwardsResponseBody" : {
      "type" : "object",
      "properties" : {
        "NDFType" : {
          "type" : "string",
          "description" : "Type of NDF i.e EXOTIC, VANILLA"
        },
        "counterparty" : {
          "type" : "string",
          "description" : "The counterparty ID  for the  deal."
        },
        "portfolioId" : {
          "type" : "string",
          "description" : "Id of the portfolio or security account"
        },
        "buyOrSell" : {
          "type" : "string",
          "description" : "Whether the transaction is a buy or a sell."
        },
        "dealCurrency" : {
          "type" : "string",
          "description" : "Non deliverable currency i.e INR etc. "
        },
        "settlementCurrency" : {
          "type" : "string",
          "description" : "The currency of the trade settlement"
        },
        "dealAmount" : {
          "type" : "number",
          "description" : "ND deal amount. "
        },
        "notionalSettlementAmount" : {
          "type" : "number",
          "description" : "Notional Settlement Amount ."
        },
        "valueDate" : {
          "type" : "string",
          "description" : "Shows the date on which the underlying accounting entry is to be given value (for interest purposes)."
        },
        "dealDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the deal was agreed. "
        },
        "notionalRate" : {
          "type" : "string",
          "description" : "ND deal rate."
        },
        "settlementRateSource" : {
          "type" : "string",
          "description" : "ND settlement rate source."
        },
        "fixedDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "ND Fixing/Valuation date."
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    }
  }
}