{
  "swagger" : "2.0",
  "info" : {
    "description" : "Create an Arrangement Account(Savings/Current/Minor/NR accounts)",
    "version" : "v1.0.0",
    "title" : "Create an Arrangement Account"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/accounts/currentAccounts" : {
      "post" : {
        "summary" : "Create a Current Account",
        "description" : "Create a Current Account ",
        "operationId" : "createCurrentAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CurrentAccount"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createCurrentAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/CurrentAccountResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/corporateAccounts" : {
      "post" : {
        "summary" : "Create a Corporate Current Account",
        "description" : "Create a Corporate Current Account",
        "operationId" : "createCorporateAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CurrentAccount"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createCorporateAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/CurrentAccountResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/mudarabaSavingAccount" : {
      "post" : {
        "summary" : "Create a Mudaraba Savings Account",
        "description" : "Create a Mudaraba Savings Account",
        "operationId" : "createMudarabaSavingAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MudarabaSavingAccount"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createMudarabaSavingAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/MudarabaSavingAccountResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/savingsAccounts" : {
      "post" : {
        "summary" : "Create a Savings Account",
        "description" : "Create a Savings Account",
        "operationId" : "createSavingAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SavingAccount"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createSavingAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/SavingAccountResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/minorAccounts" : {
      "post" : {
        "summary" : "Create a Minor Savings Account",
        "description" : "Create a Minor Savings Account",
        "operationId" : "createMinorAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SavingAccount"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createMinorAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/SavingAccountResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/nonResidentAccounts" : {
      "post" : {
        "summary" : "Creates a Non Resident Savings Account",
        "description" : "Creates a Non Resident Savings Account",
        "operationId" : "createNonResidentAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SavingAccount"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createNonResidentAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/SavingAccountResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{activityId}/reverseAccounts" : {
      "delete" : {
        "summary" : "Reverse or Delete a Current Account",
        "description" : "Reverse or Delete a Current Account",
        "operationId" : "reverseAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "activityId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "x-example" : "AAACT19079B2D9NZHG\n\n"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "reverseAccountsResponse",
            "schema" : {
              "$ref" : "#/definitions/CurrentAccountResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "CurrentAccount" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CurrentAccountBody"
        }
      },
      "description" : "CurrentAccount"
    },
    "CurrentAccountBody" : {
      "type" : "object",
      "properties" : {
        "partyIds" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyId" : {
                "type" : "string",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "partyRoles" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyRole" : {
                "type" : "string",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "agentCustomerIds" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "agentCustomerId" : {
                "type" : "string",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "agentArrangementIds" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "agentArrangementId" : {
                "type" : "string",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "agentRoles" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "agentRole" : {
                "type" : "string",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "arrangmentId" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 45
        },
        "productId" : {
          "type" : "string",
          "description" : "The identifier of the product",
          "minLength" : 0,
          "maxLength" : 45
        },
        "activityId" : {
          "type" : "string",
          "description" : "The identifier of the activity",
          "minLength" : 0,
          "maxLength" : 45
        },
        "currency" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 45
        },
        "productVariation" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 45
        },
        "pricingSelection" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 45
        },
        "pricingPlan" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 45
        },
        "rewardsArrangementId" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 45
        },
        "tradeDate" : {
          "type" : "string",
          "description" : "The trade date of the contract",
          "minLength" : 0,
          "maxLength" : 45
        },
        "arrangementEffectiveDate" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 45
        },
        "reason" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 45
        },
        "balance" : {
          "type" : "object",
          "properties" : {
            "accountTitle" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "accountTitle2" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "shortTitle" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "altId1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Mnemonic" : {
              "type" : "string",
              "description" : "The alternative means of referencing the record",
              "minLength" : 0,
              "maxLength" : 18
            },
            "accountReference" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "customerReference" : {
              "type" : "string",
              "description" : "The reference quoted by customer of the ordering account in a payment that is to be communicated to the beneficiary when a payment takes place",
              "minLength" : 0,
              "maxLength" : 18
            },
            "originationRef" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "Category" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "postingRestrict" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 22
            },
            "baseDateType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "Anniversary" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 22
            },
            "dateConvention" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "dateAdjustment" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 22
            },
            "busDayCentres" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "portfolioId" : {
              "type" : "string",
              "description" : "The identifier of the portfolio",
              "minLength" : 0,
              "maxLength" : 22
            },
            "inactiveMonths" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "accountingCompany" : {
              "type" : "string",
              "description" : "The legal entity that processes the accounting",
              "minLength" : 0,
              "maxLength" : 22
            },
            "referalCode" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "baseDateKey" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 22
            },
            "Restriction" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 11,
              "enum" : [ "Reason for Posting Restrict" ]
            },
            "blockingCode1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 20,
              "enum" : [ "Reason for Posting Restrict" ]
            },
            "blockingReason11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "startDate1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "expiryDate1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "unblockingReason" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 20
            },
            "unblockingReason11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            }
          }
        },
        "messaging" : {
          "type" : "object",
          "properties" : {
            "advice1" : {
              "type" : "string",
              "minLength" : 0
            },
            "activityClass1" : {
              "type" : "string",
              "minLength" : 0
            },
            "activityId1" : {
              "type" : "string",
              "minLength" : 0
            },
            "role11" : {
              "type" : "string",
              "minLength" : 0
            },
            "msgContent1" : {
              "type" : "string",
              "minLength" : 0
            },
            "sendAdvice1" : {
              "type" : "string",
              "minLength" : 0
            },
            "preNotice" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 12
            },
            "preNoticeDays1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "activityCharges" : {
          "type" : "object",
          "properties" : {
            "appPeriod11" : {
              "type" : "string",
              "minLength" : 0
            },
            "appMethod11" : {
              "type" : "string",
              "minLength" : 0
            },
            "chargeAutoSettle11" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "agentCommission" : {
          "type" : "object",
          "properties" : {
            "agentId1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 1
            },
            "agentArrId1" : {
              "type" : "string",
              "minLength" : 0
            },
            "agentRole1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 2
            },
            "onlineEvent11" : {
              "type" : "string",
              "minLength" : 0
            },
            "scheduledEvent11" : {
              "type" : "string",
              "minLength" : 0
            },
            "fixedAmount11" : {
              "type" : "string",
              "minLength" : 0
            },
            "marginOperand11" : {
              "type" : "string",
              "minLength" : 0
            },
            "marginRate11" : {
              "type" : "string",
              "minLength" : 0
            },
            "marginPercent11" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "rewardsPoints" : {
          "type" : "object",
          "properties" : {
            "agentId1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 1
            },
            "agentArrId1" : {
              "type" : "string",
              "minLength" : 0
            },
            "agentRole1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 2
            },
            "onlineEvent11" : {
              "type" : "string",
              "minLength" : 0
            },
            "scheduledEvent11" : {
              "type" : "string",
              "minLength" : 0
            },
            "fixedAmount11" : {
              "type" : "string",
              "minLength" : 0
            },
            "marginOperand11" : {
              "type" : "string",
              "minLength" : 0
            },
            "marginRate11" : {
              "type" : "string",
              "minLength" : 0
            },
            "marginPercent11" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "alerts" : {
          "type" : "object",
          "properties" : {
            "event1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "field11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "operand11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "value11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            }
          }
        },
        "highestdebit" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "chequewd" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "minbalfee" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "noofcredits" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "noofdebits" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "turnovercredit" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "turnoverdebit" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "bonus" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "investcredit" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "achcreditfee" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "achdebitfee" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "atmdebitfee" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "atmposfee" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "wirefee" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "overdraft" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "odnotification" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "withdrawalfee" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "packagefee" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "closurefee" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Defines the type of the tier rate",
              "minLength" : 0,
[...]
