{
  "swagger": "2.0",
  "info": {
    "description": "API to retrieve list of all holdings",
    "version": "v1.0.0",
    "title": "List of all holdings"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/holdings/": {
      "get": {
        "summary": "Retrieves the list of product(Current/Saving/Loan/Deposit) details",
        "description": "Retrieves holdings details",
        "operationId": "getHoldings",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Identifier of the customer",
            "required": false,
            "type": "string"
          },
          {
            "name": "holdingsType",
            "in": "query",
            "description": "Contains the types of customer holdings",
            "required": false,
            "type": "string"
          },
          {
            "name": "holdingsId",
            "in": "query",
            "description": "Contains the identifier specific to the holding details of the customer",
            "required": false,
            "type": "string"
          },
          {
            "name": "getPreferredHoldings",
            "in": "query",
            "description": "Flag to fetch the preferred holding details (JWT required)",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "HoldingsResponse",
            "schema": {
              "$ref": "#/definitions/HoldingsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/customers/{customerId}/holdings": {
      "get": {
        "summary": "Retrieves the list of customer accounts",
        "description": "Retrieves the list of customer holdings",
        "operationId": "getCustomerHoldings",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Identifier of the customer",
            "required": true,
            "type": "string",
            "x-example": "100285"
          },
          {
            "name": "holdingsType",
            "in": "query",
            "description": "Contains the types of customer holdings",
            "required": false,
            "type": "string"
          },
          {
            "name": "holdingsId",
            "in": "query",
            "description": "Contains the identifier specific to the holding details of the customer",
            "required": false,
            "type": "string"
          },
          {
            "name": "getPreferredHoldings",
            "in": "query",
            "description": "Flag to fetch the preferred holding details (JWT required)",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "CustomerHoldingsResponse",
            "schema": {
              "$ref": "#/definitions/HoldingsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "number",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "number",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "status": {
          "type": "string",
          "description": "Status of the API(success/failed)"
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "HoldingsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/HoldingsResponseBody"
        }
      },
      "description": "HoldingsResponse"
    },
    "HoldingsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "products": {
            "type": "array",
            "description": "Contains the templates used for payment transactions",
            "items": {
              "type": "object",
              "properties": {
                "productLineName": {
                  "type": "string",
                  "description": "Description of the product line, e.g. Client Consent for product line CONSENT."
                },
                "arrangementId": {
                  "type": "string",
                  "description": "Indicates an unique identifier of an account"
                },
                "productGroupId": {
                  "type": "string",
                  "description": "The group, as defined by the institution, that the product belongs to."
                },
                "productGroupName": {
                  "type": "string",
                  "description": "Description of the product group"
                },
                "productId": {
                  "type": "string",
                  "description": "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
                },
                "productDescription": {
                  "type": "string",
                  "description": "Indicates the description of the Product"
                },
                "accountId": {
                  "type": "string",
                  "description": "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
                },
                "shortTitle": {
                  "type": "string",
                  "description": "Short title given to the name of the arrangement"
                },
                "categoryId": {
                  "type": "string",
                  "description": "Unique identifier associated with the product name of the account or contract. For example: For customer/counterparty accounts, the identifier would be in the range 1000 to 9999. For ledger accounts, in the range 10000 to 19999."
                },
                "companyCode": {
                  "type": "string",
                  "description": "The identifier of the underlying Entity/Company/Branch."
                },
                "currencyId": {
                  "type": "string",
                  "description": "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
                },
                "sortCode": {
                  "type": "string",
                  "description": "Contains bank sort code or iban branch identifier for the account"
                },
                "accountIBAN": {
                  "type": "string",
                  "description": "Represents the International Bank Account Number (IBAN) of the account.  E.g. GB29 NWBK 6016 1331 9268 19"
                },
                "workingBalance": {
                  "type": "number",
                  "description": "Real-time balance including all authorised transactions posted against the account and, unless it is a nostro or internal account, unauthorised debit entries."
                },
                "openingDate": {
                  "type": "string",
                  "format": "date",
                  "description": "The date the account is opened."
                },
                "companyName": {
                  "type": "string",
                  "description": "The company in which payment is processed"
                },
                "preferredProduct": {
                  "type": "string",
                  "description": "Indicates the preferred product of the arrangement contract. This is required for only new arrangements and product change is not permitted"
                },
                "preferredProductPosition": {
                  "type": "string",
                  "description": "Indicates to position of the preferred product of the arrangement contract. This is required for only new arrangements and product change is not permitted"
                },
                "preferredProductLabel": {
                  "type": "string",
                  "description": "Indicates the label of the Preferred Product of the Arrangement contract. This is required for only new arrangements and product change is not permitted"
                },
                "permission": {
                  "type": "string",
                  "description": "The act of permitting, especially in giving formal consent to access a particular file or repository."
                },
                "onlineActualBalance": {
                  "type": "number",
                  "description": "Real-time balance including all authorised transactions posted against the account, excluding any entries with a future processing date."
                },
                "availableBalance": {
                  "type": "number",
                  "description": "Available balance of the account which is the projected balance which includes the net movements of both debits and credits against the account."
                },
                "availableBalanceWithLimit": {
                  "type": "number",
                  "description": "Contains the maximum amount available to be drawn"
                },
                "outstandingAmount": {
                  "type": "number",
                  "description": "Contains the aggregate outstanding principal amount thereof after giving effect to any borrowings and prepayments or repayments of Committed Loans"
                },
                "paidOutAmount": {
                  "type": "number",
                  "description": "The amount paid out."
                },
                "arrangementStatus": {
                  "type": "string",
                  "description": "Status of the arrangement. E.g. AUTH, CLOSE, UNAUTH etc."
                },
                "totalPrincipal": {
                  "type": "number",
                  "description": "Contains the amount borrowed or the part of the amount borrowed which remains unpaid"
                },
                "connectionId": {
                  "type": "string",
                  "description": "Contains the id associated to the connect reference respective to a transaction of the account"
                },
                "balancesLastUpdated": {
                  "type": "string",
                  "description": "Contains the last updated balances details"
                },
                "transactionsLastUpdated": {
                  "type": "string",
                  "description": "Contains the list of last updated transactions"
                },
                "bankLogo": {
                  "type": "string",
                  "description": "Indicates the logo of the bank"
                },
                "extSourceProvider": {
                  "type": "string",
                  "description": "Contains the name of the external source provider for the customer"
                },
                "customerId": {
                  "type": "string",
                  "description": "Identifier of the customer"
                },
                "connectionStatus": {
                  "type": "string",
                  "description": "Contains the connection status of the transaction"
                },
                "connectionSubStatus": {
                  "type": "string",
                  "description": "Contains the connection sub status of the transaction"
                },
                "nextRefreshAvailableAt": {
                  "type": "string",
                  "description": "Denotes the next refresh time"
                },
                "acctSwiftRef": {
                  "type": "string",
                  "description": "Contains the swift reference of the account"
                },
                "extAccountNumber": {
                  "type": "string",
                  "description": "Denotes the external account number"
                },
                "paymentTemplates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "paymentTemplate": {
                        "type": "string",
                        "description": "Contains the template used for payment transactions"
                      }
                    }
                  }
                }
              }
            }
          },
          "productLineId": {
            "type": "string",
            "description": "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products."
          },
          "totalAccountBalances": {
            "type": "number",
            "description": "Contains the final balances of all accounts after all transactions have taken place"
          },
          "totalDepositBalances": {
            "type": "number",
            "description": "Contains the final balances of all deposit accounts after all transactions have taken place"
          },
          "totalLoanBalances": {
            "type": "number",
            "description": "Contains the final balances of all loans after all payments have taken place"
          },
          "totalExtAccountBalances": {
            "type": "string",
            "description": "Contains the final balances of all the external accounts"
          }
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "number",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "number",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "status": {
          "type": "string",
          "description": "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message "
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description": "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message for bad requests"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description": "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message caused by server"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    }
  }
}