{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retrieves the details of an arrangement account",
    "version" : "v1.0.0",
    "title" : "Retrieves the details of an arrangement account"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/accounts/{arrangementId}/chargeDetails" : {
      "get" : {
        "summary" : "Retrieves the Charge details of an account",
        "description" : "Retrieves the Charge details of an account",
        "operationId" : "getChargeDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string",
          "x-example" : "AA19079RZ823"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ChargeDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/ChargeDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{arrangementId}/interestDetails" : {
      "get" : {
        "summary" : "Retrieves the Interest Condition of an account",
        "description" : "Retrieves the Interest Condition of an account",
        "operationId" : "getInterestDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string",
          "x-example" : "AA190790940X"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "InterestDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/InterestDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/arrangements/{arrangementId}/limits" : {
      "get" : {
        "summary" : "Retrieves the Limit Details of an Arrangement Account",
        "description" : "Retrieves the Limit Details of an Arrangement Account",
        "operationId" : "getLimitDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "LimitDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/LimitDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/overdueStatistics" : {
      "get" : {
        "summary" : "Retrieves the Overdue details of an account",
        "description" : "Retrieves the Overdue details of an account",
        "operationId" : "getOverdueStatistics",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "overdueReference",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "overdueReference_ct",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OverdueStatisticsResponse",
            "schema" : {
              "$ref" : "#/definitions/OverdueStatisticsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{arrangementId}/scheduleDetails" : {
      "get" : {
        "summary" : "Retrieves the Payment Schedule Details of an account",
        "description" : "Retrieves the Payment Schedule Details of an account",
        "operationId" : "getScheduleDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string",
          "x-example" : "AA190790940X"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ScheduleDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/ScheduleDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{arrangementId}/repaymentDetails" : {
      "get" : {
        "summary" : "Retrieves the Repayment details of an account based on the payment schedule",
        "description" : "Retrieves the Repayment details of an account based on the payment schedule",
        "operationId" : "getRepaymentDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "simulationReference",
          "in" : "query",
          "description" : "Indicates the Reference ID for simulation activity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dueDate",
          "in" : "query",
          "description" : "Identifies the date on which the activity is due.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "includeExternalFees",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "RepaymentDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/RepaymentDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/agents/{arrangementId}/agentdetails" : {
      "get" : {
        "summary" : "Retrieves the Agent Details of an account",
        "description" : "Retrieves the Agent Details of an account",
        "operationId" : "getAgentDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string",
          "x-example" : "AA190792RSF1"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AgentDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/AgentDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{accountNumber}/activeAlerts" : {
      "get" : {
        "summary" : "Retrieves the details of active alerts for a given account number",
        "description" : "Retrieves the details of active alerts for a given account number",
        "operationId" : "getActiveAlerts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountNumber",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string",
          "x-example" : "79596"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ActiveAlertsResponse",
            "schema" : {
              "$ref" : "#/definitions/ActiveAlertsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{accountNumber}/historyAlerts" : {
      "get" : {
        "summary" : "Retrieves the details of history alerts for a given account number",
        "description" : "Retrieves the details of history alerts for a given account number",
        "operationId" : "getHistoryAlerts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountNumber",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "HistoryAlertsResponse",
            "schema" : {
              "$ref" : "#/definitions/HistoryAlertsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{arrangementId}/aprRateDetails" : {
      "get" : {
        "summary" : "Retrieves the Annual Percentage Rate of an account",
        "description" : "Retrieves the Annual Percentage Rate of an account",
        "operationId" : "getAprDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string",
          "x-example" : "AA190790940X"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AprDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/AprDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/arrangements/{arrangementId}/paymentSchedules" : {
      "get" : {
        "summary" : "Retrieves the Payment schedule of an arrangement account",
        "description" : "Retrieves the Payment schedule of an arrangement account",
        "operationId" : "getPaymentSchedule",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string",
          "x-example" : "AA19077R2VLK"
        }, {
          "name" : "dateFrom",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dateTo",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentScheduleResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentScheduleResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/arrangements/{arrangementId}/holidayLimit" : {
      "get" : {
        "summary" : "Retrieves the details of Payment Holiday Limit Amount",
        "description" : "Retrieves the details of Payment Holiday Limit Amount",
        "operationId" : "getHolidayLimit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "HolidayLimitResponse",
            "schema" : {
              "$ref" : "#/definitions/HolidayLimitResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{arrangementId}/commitmentDetails" : {
      "get" : {
        "summary" : "Retrieves the Commitment Details of an Account",
        "description" : "Retrieves the Commitment Details of an Account",
        "operationId" : "getCommitmentDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string",
          "x-example" : "AA190790940X"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CommitmentDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/CommitmentDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{arrangementId}/qualifierDetails" : {
      "get" : {
        "summary" : "Retrieves the Product Qualifier details of an account",
        "description" : "Retrieves the Product Qualifier details of an account",
        "operationId" : "getProductQualifierDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string",
          "x-example" : "AA19079GQKNK"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ProductQualifierDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/ProductQualifierDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{arrangementId}/evaluationDetails" : {
      "get" : {
        "summary" : "Retrieves the Pricing Evaluation details of an account",
        "description" : "Retrieves the Pricing Evaluation details of an accountRetrieves the Pricing Evaluation details of an account",
        "operationId" : "getEvaluationDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "EvaluationDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/EvaluationDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{arrangementId}/dates" : {
      "get" : {
        "summary" : "Retrieves the key dates of an account",
        "description" : "Retrieves the key dates of an account",
        "operationId" : "getArrangementDates",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string",
          "x-example" : "AA190790940X"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ArrangementDatesResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementDatesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/arrangements/interestDetailsCurrent/{arrangementId}" : {
      "get" : {
        "summary" : "Retrieves the interest accrued for the current period of an account",
        "description" : "Retrieves the interest accrued for the current period of an account",
        "operationId" : "getInterestDetailsCurrent",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string",
          "x-example" : "AA19077R2VLK"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "InterestDetailsCurrentResponse",
            "schema" : {
              "$ref" : "#/definitions/InterestDetailsCurrentResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/arrangements/interestDetailsPrevious/{arrangementId}" : {
      "get" : {
        "summary" : "Retrieve the past period's interest accruals",
        "description" : "Retrieve the past period's interest accruals",
        "operationId" : "getInterestDetailsPrevious",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string",
          "x-example" : "AA19077R2VLK"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "InterestDetailsPreviousResponse",
            "schema" : {
              "$ref" : "#/definitions/InterestDetailsPreviousResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/arrangements/interestDetailsYearToDate/{arrangementId}" : {
      "get" : {
        "summary" : "Retrieves the interest accruals of the Previous year",
        "description" : "Retrieves the interest accruals of the Previous year",
        "operationId" : "getInterestDetailsYearToDate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string",
          "x-example" : "AA19077R2VLK"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "InterestDetailsYearToDateResponse",
            "schema" : {
              "$ref" : "#/definitions/InterestDetailsYearToDateResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{arrangementId}/messages" : {
      "get" : {
        "summary" : "Retrieves the details of delivery messages for a given arrangement Id",
        "description" : "Retrieves the details of delivery messages for a given arrangement Id",
        "operationId" : "getDeliveryMessages",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DeliveryMessagesResponse",
            "schema" : {
              "$ref" : "#/definitions/DeliveryMessagesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{arrangementId}/historyMessages" : {
      "get" : {
        "summary" : "Retrieves the details of history delivery messages for a given arrangement Id",
        "description" : "Retrieves the details of history delivery messages for a given arrangement Id",
        "operationId" : "getDeliveryMessagesHistory",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DeliveryMessagesHistoryResponse",
            "schema" : {
              "$ref" : "#/definitions/DeliveryMessagesHistoryResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/paymentOrder/{creditAccountId}/paymentOrderPayments" : {
      "get" : {
        "summary" : "Retrieves the details of Payment Order receipts for a given account number",
        "description" : "Retrieves the details of Payment Order receipts for a given account number",
        "operationId" : "getPaymentOrderReceipts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "creditAccountId",
          "in" : "path",
          "description" : "Credit account identifier of the payment or transaction",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderReceiptsResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderReceiptsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/paymentOrder/{debitAccountId}/paymentOrderPayments" : {
      "get" : {
        "summary" : "Retrieves the details of Payment Order payments for a given account number",
        "description" : "Retrieves the details of Payment Order payments for a given account number",
        "operationId" : "getPaymentOrderPayments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "debitAccountId",
          "in" : "path",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderPaymentsResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderPaymentsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "ChargeDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ChargeDetailsResponseBody"
        }
      },
      "description" : "ChargeDetailsResponse"
    },
    "ChargeDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "chargeDate" : {
            "type" : "string",
            "description" : "The date on which the charge will be debited to the charge account",
            "maxLength" : 11
          },
          "charge" : {
            "type" : "string",
            "description" : "Indicates the charge property.",
            "maxLength" : 35
          },
          "chargeAmount" : {
            "type" : "string",
            "description" : "Retrieves the Charge Amount after redeem",
            "maxLength" : 19
          },
          "deferDate" : {
            "type" : "string",
            "description" : "Date that the payment has been deferred to"
          },
          "billId" : {
            "type" : "string",
            "description" : "Indicates the bill reference or Id",
            "maxLength" : 35
          },
          "tierSource" : {
            "type" : "string",
            "maxLength" : 35
          },
          "calculatedRate" : {
            "type" : "string"
          },
          "calcAmount" : {
            "type" : "string",
            "maxLength" : 35
          },
          "tierAdjAmount" : {
            "type" : "string"
          },
          "adjustmentAmount" : {
            "type" : "string",
            "description" : "Indicates the adjusted interest amount",
            "maxLength" : 19
          },
          "adjustmentReason" : {
            "type" : "string",
            "maxLength" : 100
          },
          "actualAmount" : {
            "type" : "string",
            "maxLength" : 19
          },
          "finalAmount" : {
            "type" : "string",
            "maxLength" : 19
          },
          "outstandingAmount" : {
            "type" : "string",
            "description" : "Identifies the total outstanding amount for the corresponding Liability number and Limit reference. ",
            "maxLength" : 19
          },
          "chargeType" : {
            "type" : "string",
            "description" : "Indicates the charge types which are applicable for the transaction. Example: CORRBKCHG"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "InterestDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/InterestDetailsResponseBody"
        }
      },
      "description" : "InterestDetailsResponse"
    },
    "InterestDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "interestProperty" : {
            "type" : "string",
            "description" : "Indicates the interest property name"
          },
          "compoundType" : {
            "type" : "string"
          },
          "interestType" : {
            "type" : "string"
          },
          "interestRateType" : {
            "type" : "string"
          },
          "interestRate" : {
            "type" : "string",
            "description" : "Identifies the bid rate of the related currency for the defined time period"
          },
          "uptoTierAmount" : {
            "type" : "string"
          },
          "negativeInterestRate" : {
            "type" : "string"
          }
        }
      }
    },
    "LimitDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/LimitDetailsResponseBody"
        }
      },
      "description" : "LimitDetailsResponse"
    },
    "LimitDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "limitCurrency" : {
            "type" : "string",
            "description" : "Currency in which the credit limit is granted",
            "maxLength" : 3
          },
          "onlineLimit" : {
            "type" : "string"
          },
          "limitType" : {
            "type" : "string",
            "description" : "Defines the limit type for the trade",
            "maxLength" : 10
          },
          "securedAmount" : {
            "type" : "string"
          },
          "outstandingAmount" : {
            "type" : "string",
            "description" : "Identifies the total outstanding amount for the corresponding Liability number and Limit reference. "
          },
          "availableOrExcessAmount" : {
            "type" : "string",
            "description" : "Indicates the available amount defined in the Limit Condition",
            "maxLength" : 19
          }
        }
      }
    },
    "OverdueStatisticsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OverdueStatisticsResponseBody"
        }
      },
      "description" : "OverdueStatisticsResponse"
    },
    "OverdueStatisticsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "overdueStatus" : {
            "type" : "string",
            "description" : "Status of the overdue amount"
          },
          "startDate" : {
            "type" : "string",
            "description" : "Contains the date on which the transaction or payment gets initiated.",
            "maxLength" : 25
          },
          "endDate" : {
            "type" : "string",
            "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned",
            "maxLength" : 25
          },
          "periodAvg" : {
            "type" : "string",
            "maxLength" : 19
          },
          "statusCount" : {
            "type" : "string",
            "maxLength" : 10
          },
          "totalDays" : {
            "type" : "string",
            "maxLength" : 10
          },
          "avgAmount" : {
            "type" : "string",
            "maxLength" : 19
          }
        }
      }
    },
    "ScheduleDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ScheduleDetailsResponseBody"
        }
      },
      "description" : "ScheduleDetailsResponse"
    },
    "ScheduleDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "paymentScheduleProperty" : {
            "type" : "string"
          },
          "paymentTypes" : {
            "type" : "string",
            "description" : "Indicates if the payment is Customer (C) type or Bank (B) type"
          },
          "paymentAmountOrPercentage" : {
            "type" : "string"
          },
          "paymentMethod" : {
            "type" : "string",
            "description" : "Method chosen to make the payment"
          },
          "paymentFrequency" : {
            "type" : "string",
            "description" : "The frequency at which a payment is required to be generated"
          },
          "scheduledProperty" : {
            "type" : "string"
          }
        }
      }
    },
    "RepaymentDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/RepaymentDetailsResponseBody"
        }
      },
      "description" : "RepaymentDetailsResponse"
    },
    "RepaymentDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "paymentTypeName" : {
            "type" : "string",
            "description" : "Indicates Payment type set to an account"
          },
          "dueAmount" : {
            "type" : "string",
            "maxLength" : 19
          },
          "paymentMethod" : {
            "type" : "string",
            "description" : "Method chosen to make the payment"
          },
          "propertyName" : {
            "type" : "string",
            "description" : "Indicates the Id of the product property"
          },
          "propertyAmount" : {
            "type" : "string",
            "maxLength" : 19
          }
        }
      }
    },
    "AgentDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AgentDetailsResponseBody"
        }
      },
      "description" : "AgentDetailsResponse"
    },
    "AgentDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "agentId" : {
            "type" : "string",
            "description" : "The agent ID"
          },
          "financialArrangement" : {
            "type" : "string",
            "description" : "Indicates the financial arrangement which was linked to the Agent."
          },
          "agentRole" : {
            "type" : "string",
            "description" : "The role of the 3rd party, select from standard list"
          }
        }
      }
    },
    "ActiveAlertsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ActiveAlertsResponseBody"
        }
      },
      "description" : "ActiveAlertsResponse"
    },
    "ActiveAlertsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "subscriptionRef" : {
            "type" : "string",
            "description" : "Indicates the alert subscription reference Id generated for the activity.",
            "maxLength" : 35
          },
          "description" : {
            "type" : "string",
            "description" : "Contains the description of purpose of the payment.",
            "maxLength" : 35
          },
          "details" : {
            "type" : "string",
            "description" : "Additional details"
          }
        }
      }
    },
    "HistoryAlertsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/HistoryAlertsResponseBody"
        }
      },
      "description" : "HistoryAlertsResponse"
    },
    "HistoryAlertsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "subscriptionRef" : {
            "type" : "string",
            "description" : "Indicates the alert subscription reference Id generated for the activity.",
            "maxLength" : 35
          },
          "description" : {
            "type" : "string",
            "description" : "Contains the description of purpose of the payment.",
            "maxLength" : 35
          },
          "details" : {
            "type" : "string",
            "description" : "Additional details"
          }
        }
      }
    },
    "AprDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AprDetailsResponseBody"
        }
      },
      "description" : "AprDetailsResponse"
    },
    "AprDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "aprRate" : {
            "type" : "string"
          },
          "aprType" : {
            "type" : "string",
            "maxLength" : 50
          },
          "source" : {
            "type" : "string",
            "maxLength" : 30
          }
        }
      }
    },
    "PaymentScheduleResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentScheduleResponseBody"
        }
      },
      "description" : "PaymentScheduleResponse"
    },
    "PaymentScheduleResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "date" : {
            "type" : "string",
            "description" : "Indicates the date on which activity was performed",
            "maxLength" : 11
          },
          "deferDate" : {
            "type" : "string",
            "description" : "Date that the payment has been deferred to",
            "maxLength" : 11
          },
          "totalDue" : {
            "type" : "string",
            "description" : "This amount represents the total due amount for that period.",
            "maxLength" : 19
          },
          "totalCap" : {
            "type" : "string",
            "maxLength" : 19
          },
          "principal" : {
            "type" : "string",
            "description" : "The principle amount",
            "maxLength" : 19
          },
          "interest" : {
            "type" : "string",
            "description" : "Interest amount",
            "maxLength" : 19
          },
          "charge" : {
            "type" : "string",
            "description" : "Indicates the charge property.",
            "maxLength" : 19
          },
          "taxAmount" : {
            "type" : "string",
            "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment.",
            "maxLength" : 20
          },
          "totalPayment" : {
            "type" : "string",
            "description" : "This amount represents the total payment that has happened for the period",
            "maxLength" : 20
          },
          "outstandingAmount" : {
            "type" : "string",
            "description" : "Identifies the total outstanding amount for the corresponding Liability number and Limit reference. ",
            "maxLength" : 19
          }
        }
      }
    },
    "HolidayLimitResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/HolidayLimitResponseBody"
        }
      },
      "description" : "HolidayLimitResponse"
    },
    "HolidayLimitResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "additionalDetail" : {
            "type" : "string",
            "description" : "Additional details provided to add context. Closure notes for closed accounts, positing restriction details for restricted accounts & joint holder notes or account title for active accounts"
          },
          "availableLimit" : {
            "type" : "string",
            "description" : "The portion of an allocated credit limit that is available for the nominated customer"
          }
        }
      }
    },
    "CommitmentDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CommitmentDetailsResponseBody"
        }
      },
      "description" : "CommitmentDetailsResponse"
    },
    "CommitmentDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "termAmount" : {
            "type" : "string",
            "description" : "The monetary amount applied to the account",
            "maxLength" : 19
          },
          "term" : {
            "type" : "string",
            "description" : "Indicates the term for which the contract is booked",
            "maxLength" : 6
          }
        }
      }
    },
    "ProductQualifierDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ProductQualifierDetailsResponseBody"
        }
      },
      "description" : "ProductQualifierDetailsResponse"
    },
    "ProductQualifierDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "date" : {
            "type" : "string",
            "description" : "Indicates the date on which activity was performed",
            "maxLength" : 11
          },
          "activity" : {
            "type" : "string",
            "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
            "maxLength" : 40
          },
          "ruleSet" : {
            "type" : "string",
            "maxLength" : 35
          },
          "ruleExpression" : {
            "type" : "string",
            "maxLength" : 100
          },
          "actualResult" : {
            "type" : "string",
            "maxLength" : 4
          },
          "decision" : {
            "type" : "string",
            "maxLength" : 45
          },
          "action" : {
            "type" : "string",
            "description" : "Refers to view or cancel options.",
            "maxLength" : 30
          }
        }
      }
    },
    "EvaluationDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/EvaluationDetailsResponseBody"
        }
      },
      "description" : "EvaluationDetailsResponse"
    },
    "EvaluationDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "date" : {
            "type" : "string",
            "description" : "Indicates the date on which activity was performed",
            "maxLength" : 11
          },
          "activity" : {
            "type" : "string",
            "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
            "maxLength" : 40
          },
          "ruleType" : {
            "type" : "string",
            "maxLength" : 20
          },
          "pricingProperty" : {
            "type" : "string",
            "maxLength" : 30
          },
          "pricingBenefit" : {
            "type" : "string",
            "maxLength" : 35
          }
        }
      }
    },
    "ArrangementDatesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ArrangementDatesResponseBody"
        }
      },
      "description" : "ArrangementDatesResponse"
    },
    "ArrangementDatesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "startDate" : {
            "type" : "string",
            "description" : "Contains the date on which the transaction or payment gets initiated.",
            "maxLength" : 11
          },
          "coolingDate" : {
            "type" : "string",
            "description" : "Indicates the end of cooling period after which account will be cancelled if not funded.",
            "maxLength" : 11
          },
          "effectiveDate" : {
            "type" : "string",
            "description" : "The date on which the principal movement is effected",
            "maxLength" : 11
          },
          "maturityDate" : {
            "type" : "string",
            "description" : "Indicates maturity date of the contract",
            "maxLength" : 11
          },
          "nextPaymentDate" : {
            "type" : "string",
            "description" : "Indicates next payment date for the contract"
          }
        }
      }
    },
    "InterestDetailsCurrentResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/InterestDetailsCurrentResponseBody"
        }
      },
      "description" : "InterestDetailsCurrentResponse"
    },
    "InterestDetailsCurrentResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "interestProperty" : {
            "type" : "string",
            "description" : "Indicates the interest property name"
          },
          "startDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Contains the date on which the transaction or payment gets initiated."
          },
          "positiveInterestAmount" : {
            "type" : "number",
            "description" : "Negative interest amount accrued"
          },
          "negativeInterestAmount" : {
            "type" : "number",
            "description" : "Indicates the negative amount of a interest property"
          },
          "adjustmentAmount" : {
            "type" : "number",
            "description" : "Indicates the adjusted interest amount"
          },
          "totalAmount" : {
            "type" : "number",
            "description" : "Total amount"
          },
          "endDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned"
          },
          "suppressStatus" : {
            "type" : "string"
          }
        }
      }
    },
    "InterestDetailsPreviousResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/InterestDetailsPreviousResponseBody"
        }
      },
      "description" : "InterestDetailsPreviousResponse"
    },
    "InterestDetailsPreviousResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "interestProperty" : {
            "type" : "string",
            "description" : "Indicates the interest property name"
          },
          "endDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned"
          },
          "positiveInterestAmount" : {
            "type" : "number",
            "description" : "Negative interest amount accrued"
          },
          "negativeInterestAmount" : {
            "type" : "number",
            "description" : "Indicates the negative amount of a interest property"
          },
          "adjustmentAmount" : {
            "type" : "string",
            "description" : "Indicates the adjusted interest amount"
          },
          "totalAmount" : {
            "type" : "number",
            "description" : "Total amount"
          },
          "supressStatus" : {
            "type" : "string",
            "description" : "Indicates the suppress status for an interest property"
          }
        }
      }
    },
    "InterestDetailsYearToDateResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/InterestDetailsYearToDateResponseBody"
        }
      },
      "description" : "InterestDetailsYearToDateResponse"
    },
    "InterestDetailsYearToDateResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "interestProperty" : {
            "type" : "string",
            "description" : "Indicates the interest property name"
          },
          "positiveInterestAmount" : {
            "type" : "number",
            "description" : "Negative interest amount accrued"
          },
          "negativeInterestAmount" : {
            "type" : "number",
            "description" : "Indicates the negative amount of a interest property"
          },
          "adjustmentAmount" : {
            "type" : "number",
            "description" : "Indicates the adjusted interest amount"
          },
          "totalAmount" : {
            "type" : "number",
            "description" : "Total amount"
          },
          "supressStatus" : {
            "type" : "string",
            "description" : "Indicates the suppress status for an interest property"
          }
        }
      }
    },
    "DeliveryMessagesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DeliveryMessagesResponseBody"
        }
      },
      "description" : "DeliveryMessagesResponse"
    },
    "DeliveryMessagesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "effectiveDate" : {
            "type" : "string",
            "description" : "The date on which the principal movement is effected",
            "maxLength" : 11
          },
          "activity" : {
            "type" : "string",
            "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity."
          },
          "deliveryReference" : {
            "type" : "string",
            "description" : "Indicates the delivery reference Id generated for the activity",
            "maxLength" : 16
          }
        }
      }
    },
    "DeliveryMessagesHistoryResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DeliveryMessagesHistoryResponseBody"
        }
      },
      "description" : "DeliveryMessagesHistoryResponse"
    },
    "DeliveryMessagesHistoryResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "effectiveDate" : {
            "type" : "string",
            "description" : "The date on which the principal movement is effected",
            "maxLength" : 11
          },
          "activity" : {
            "type" : "string",
            "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity."
          },
          "activityID" : {
            "type" : "string",
            "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
            "maxLength" : 40
          },
          "deliveryReference" : {
            "type" : "string",
            "description" : "Indicates the delivery reference Id generated for the activity",
            "maxLength" : 16
          }
        }
      }
    },
    "PaymentOrderReceiptsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentOrderReceiptsResponseBody"
        }
      },
      "description" : "PaymentOrderReceiptsResponse"
    },
    "PaymentOrderReceiptsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "paymentOrderId" : {
            "type" : "string",
            "description" : "The unique reference number of payment",
            "maxLength" : 35
          },
          "amount" : {
            "type" : "string",
            "description" : "This is the payment amount",
            "maxLength" : 19
          },
          "valueDate" : {
            "type" : "string",
            "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
          }
        }
      }
    },
    "PaymentOrderPaymentsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentOrderPaymentsResponseBody"
        }
      },
      "description" : "PaymentOrderPaymentsResponse"
    },
    "PaymentOrderPaymentsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "paymentOrderId" : {
            "type" : "string",
            "description" : "The unique reference number of payment",
            "maxLength" : 35
          },
          "amount" : {
            "type" : "string",
            "description" : "This is the payment amount",
            "maxLength" : 19
          },
          "valueDate" : {
            "type" : "string",
            "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
          }
        }
      }
    }
  }
}