{
  "swagger" : "2.0",
  "info" : {
    "description" : "Get and manage Holdings Loans",
    "version" : "v1.0.0",
    "title" : "Holdings Loans APIs"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/loans/{loanId}/bills" : {
      "get" : {
        "summary" : "Retrieves the simulation details of the contract based on the selection criteria. It returns the bill details of the loan",
        "description" : "Retrieves loan bills details",
        "operationId" : "getLoanBills",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "loanId",
          "in" : "path",
          "description" : "Denotes the arrangement id of the loan",
          "required" : true,
          "type" : "string",
          "x-example" : "AA190799ST0V"
        }, {
          "name" : "billType",
          "in" : "query",
          "description" : "The type of payment obligation generated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentDate",
          "in" : "query",
          "description" : "The date on which a payment is due",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "LoanBillsResponse",
            "schema" : {
              "$ref" : "#/definitions/LoanBillsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/loans/{loanId}" : {
      "get" : {
        "summary" : "Retrieves the loan account details",
        "description" : "Retrieves loan details",
        "operationId" : "getLoanDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "loanId",
          "in" : "path",
          "description" : "Denotes the arrangement id of the loan",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "dateFrom",
          "in" : "query",
          "description" : "Start date of the loan",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "dateTo",
          "in" : "query",
          "description" : "End date of the loan",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "balanceTypes",
          "in" : "query",
          "description" : "Type of balance (e.g. current balance, credit interest accrued, deferred commission, etc.) as defined in the institution's accounting schemas.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "LoanDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/LoanDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/loans/{loanId}/collaterals" : {
      "get" : {
        "summary" : "Retrieves the collateral details linked to the loan arrangement. The collateral right and status have to be passed within the api",
        "description" : "Retrieves loan collateral details",
        "operationId" : "getLoanCollaterals",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "loanId",
          "in" : "path",
          "description" : "Denotes the arrangement id of the loan",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "statusNE",
          "in" : "query",
          "description" : "Status not equal to",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "LoanCollateralsResponse",
            "schema" : {
              "$ref" : "#/definitions/LoanCollateralsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/loans/{loanId}/schedulePaymentFrequencies" : {
      "get" : {
        "summary" : "Retrieves the schedule payment information for paid and upcoming installments details",
        "description" : "Retrieves payment schedules details",
        "operationId" : "getPaymentSchedules",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "loanId",
          "in" : "path",
          "description" : "Denotes the arrangement id of the loan",
          "required" : true,
          "type" : "string",
          "x-example" : "AA190799ST0V"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentSchedulesResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentSchedulesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "LoanBillsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/LoanBillsResponseBody"
        }
      },
      "description" : "LoanBillsResponse"
    },
    "LoanBillsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "type" : "array",
            "description" : "Id of the product property",
            "items" : {
              "type" : "object",
              "properties" : {
                "propertyName" : {
                  "type" : "string",
                  "description" : "Indicates the Id of the product property",
                  "maxLength" : 15
                },
                "interestAmount" : {
                  "type" : "number",
                  "description" : "The accrued Interest due or accrued."
                }
              }
            }
          },
          "totalAmount" : {
            "type" : "number",
            "description" : "Total amount",
            "maximum" : 19
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "LoanDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/LoanDetailsResponseBody"
        }
      },
      "description" : "LoanDetailsResponse"
    },
    "LoanDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "interests" : {
            "type" : "array",
            "description" : "Interest amount",
            "items" : {
              "type" : "object",
              "properties" : {
                "interestRate" : {
                  "type" : "string",
                  "description" : "Identifies the bid rate of the related currency for the defined time period"
                },
                "interestProperty" : {
                  "type" : "string",
                  "description" : "Indicates the interest property name"
                },
                "interestPropertyName" : {
                  "type" : "string",
                  "description" : "Contains the property name of loan interest such as penalty Interest and principal interest."
                },
                "compoundType" : {
                  "type" : "string",
                  "description" : "Refers the type of the compound"
                },
                "rateType" : {
                  "type" : "string",
                  "description" : "Fixed or floating rate."
                },
                "effectiveRate" : {
                  "type" : "string",
                  "description" : "The actual interest rate for the account at this point in time."
                },
                "tierType" : {
                  "type" : "string",
                  "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                },
                "balanceTypes" : {
                  "type" : "string",
                  "description" : "Type of balance (e.g. current balance, credit interest accrued, deferred commission, etc.) as defined in the institution's accounting schemas."
                },
                "balanceAmount" : {
                  "type" : "number",
                  "description" : "Amount of the balance"
                }
              }
            }
          },
          "schedules" : {
            "type" : "array",
            "description" : "Indicates where this pool may be run either online or End of the day.",
            "items" : {
              "type" : "object",
              "properties" : {
                "paidScheduleCount" : {
                  "type" : "string",
                  "description" : "Count of the paid dates for repayment."
                },
                "dueScheduleCount" : {
                  "type" : "string",
                  "description" : "Count of the due dates for repayment."
                },
                "futureScheduleCount" : {
                  "type" : "string",
                  "description" : "Count of the future scheduled payments involving the principal and interest for a given loan"
                },
                "schedulePaymentType" : {
                  "type" : "string",
                  "description" : "Indicates payment schedule type"
                },
                "schedulePaymentMethod" : {
                  "type" : "string",
                  "description" : "Denotes the payment schedule method of the loan such as capitalise, pay, due and maintain."
                },
                "scheduleProperty" : {
                  "type" : "string",
                  "description" : "Denotes the property of the loans schedule"
                },
                "schedulePaymentAmount" : {
                  "type" : "number",
                  "description" : "Contains the amount payable in the schedule"
                },
                "schedulePaymentFrequency" : {
                  "type" : "string",
                  "description" : "Indicates the frequency associated - Eg. Pay to customer or paid by bank"
                }
              }
            }
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account"
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
          },
          "startDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Contains the date on which the transaction or payment gets initiated."
          },
          "maturityDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates maturity date of the contract"
          },
          "maturesIn" : {
            "type" : "string",
            "description" : "Indicates a date or period within which an account gets matured"
          },
          "coolingOffDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates cooling off period for an account until which pre-closure can be triggered without incurring any fees or charges."
          },
          "nextPaymentAmount" : {
            "type" : "number",
            "description" : "Indicates the payment amount to be settled in the next schedule"
          },
          "nextPaymentDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates next payment date for the contract"
          },
          "virtualBalance" : {
            "type" : "string",
            "description" : "Contains the virtual balance of the collateral"
          },
          "lastPayment" : {
            "type" : "string",
            "format" : "date",
            "description" : "Last committed transaction"
          },
          "term" : {
            "type" : "string",
            "description" : "Indicates the term for which the contract is booked"
          },
          "payoffRequest" : {
            "type" : "string",
            "description" : "Request for loans settlement"
          }
        }
      }
    },
    "LoanCollateralsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/LoanCollateralsResponseBody"
        }
      },
      "description" : "LoanCollateralsResponse"
    },
    "LoanCollateralsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "collateralName" : {
            "type" : "string",
            "description" : "Contains the name of the collateral",
            "maxLength" : 3
          },
          "executionValue" : {
            "type" : "number",
            "description" : "Denotes the value for signing the document at what is commonly referred to as the closing of the sale",
            "maximum" : 19
          },
          "thirdPartyValue" : {
            "type" : "number",
            "description" : "Denotes the value given by any individual who does not have a direct connection with a legal transaction but might be affected by it",
            "maximum" : 19
          },
          "netAmount" : {
            "type" : "number",
            "description" : "Holds the total amount"
          },
          "netNominal" : {
            "type" : "number",
            "description" : "Denotes the sum of the Quantity",
            "maximum" : 19
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
            "maxLength" : 3
          },
          "expiryDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
          }
        }
      }
    },
    "PaymentSchedulesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentSchedulesResponseBody"
        }
      },
      "description" : "PaymentSchedulesResponse"
    },
    "PaymentSchedulesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "paymentDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date on which a payment is due"
          },
          "totalAmount" : {
            "type" : "number",
            "description" : "Total amount",
            "maximum" : 19
          },
          "chargeAmount" : {
            "type" : "number",
            "description" : "Retrieves the Charge Amount after redeem",
            "maximum" : 19
          },
          "interestAmount" : {
            "type" : "number",
            "description" : "The accrued Interest due or accrued.",
            "maximum" : 19
          },
          "principalAmount" : {
            "type" : "number",
            "description" : "Indicates the Principal Amount of the loan or a deposit",
            "maximum" : 19
          },
          "outstandingAmount" : {
            "type" : "number",
            "description" : "Identifies the total outstanding amount for the corresponding Liability number and Limit reference. ",
            "maximum" : 19
          },
          "scheduleType" : {
            "type" : "string",
            "description" : "The type of event schedule. The main ones are interest payment (IP) , principal increase (PI), rate reset (RR)."
          }
        }
      }
    }
  }
}