{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retrieves the list and details of online accounts",
    "version" : "v1.0.0",
    "title" : "Holdings Online Accounts APIs"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/accounts/{accountId}" : {
      "get" : {
        "summary" : "Retrieves the account specific information for Internet Banking Users",
        "description" : "Retrieves account details",
        "operationId" : "getAccountDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/AccountDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "AccountDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AccountDetailsResponseBody"
        }
      },
      "description" : "AccountDetailsResponse"
    },
    "AccountDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "sharedLimitAccounts" : {
            "type" : "array",
            "description" : "Denotes the accounts in which the credit card Limit is assigned to the customer across all the credit cards",
            "items" : {
              "type" : "object",
              "properties" : {
                "sharedLimitAccount" : {
                  "type" : "string",
                  "description" : "Denotes the account in which the credit card limit is assigned to the customer across all the credit cards"
                },
                "sharedLimitAccountType" : {
                  "type" : "string",
                  "description" : "Indicates the type of shared limit account"
                }
              }
            }
          },
          "taxRates" : {
            "type" : "array",
            "description" : "Indicates tax charged to an account",
            "items" : {
              "type" : "object",
              "properties" : {
                "taxRate" : {
                  "type" : "string",
                  "description" : "Indicates tax charged to an account"
                }
              }
            }
          },
          "interests" : {
            "type" : "array",
            "description" : "Contains the sum of the cash interest expense (including that attributable to Capitalized Leases), net of cash interest income, of the borrower and the Restricted Subsidiaries, determined on a consolidated basis.",
            "items" : {
              "type" : "object",
              "properties" : {
                "interestPropertyName" : {
                  "type" : "string",
                  "description" : "Contains the property name of loan interest such as penalty Interest and principal interest."
                },
                "interestCompoundType" : {
                  "type" : "string",
                  "description" : "Indicates the interest compound type of an account"
                },
                "interestCompoundTypeValue" : {
                  "type" : "string",
                  "description" : "Indicates the interest compound type value of an account"
                },
                "consolidateInterests" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "consolidateInterest" : {
                        "type" : "string",
                        "description" : "Contains the sum of the cash interest expense and net of cash interest income of the borrower and the restricted subsidiaries determined on a consolidated basis"
                      }
                    }
                  }
                }
              }
            }
          },
          "sharedInterestAccounts" : {
            "type" : "array",
            "description" : "Contains the account details which shares the interest among the eligible or joint customers.",
            "items" : {
              "type" : "object",
              "properties" : {
                "sharedInterestAccount" : {
                  "type" : "string",
                  "description" : "Contains the account details which shares the interest among the eligible or joint customers."
                },
                "sharedInterestAccountType" : {
                  "type" : "string",
                  "description" : "Indicates the type of shared interest account"
                }
              }
            }
          },
          "charges" : {
            "type" : "array",
            "description" : "Specifies the charges which has incurred with processing of the cheque",
            "items" : {
              "type" : "object",
              "properties" : {
                "paymentFrequency" : {
                  "type" : "string",
                  "description" : "The frequency at which a payment is required to be generated"
                },
                "paymentTypeName" : {
                  "type" : "string",
                  "description" : "Indicates Payment type set to an account"
                },
                "propertyName" : {
                  "type" : "string",
                  "description" : "Indicates the Id of the product property"
                },
                "paymentMethod" : {
                  "type" : "string",
                  "description" : "Method chosen to make the payment"
                },
                "chargeSchedulePaymentValue" : {
                  "type" : "string",
                  "description" : "Indicates the payment frequency associated with the charge"
                }
              }
            }
          },
          "openActualBalance" : {
            "type" : "number",
            "description" : "Contains the opening actual balance of an account"
          },
          "availableOverdraftLimit" : {
            "type" : "number",
            "description" : "Contains the overdraft limit still available to be utilized"
          },
          "openingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date the account is opened."
          },
          "approvedOverdraftLimit" : {
            "type" : "number",
            "description" : "Contains the approved overdraft limit"
          },
          "limitExpiryDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "This field specifies the validity of the Limit, i.e. how long is it to remain in force"
          },
          "availableFunds" : {
            "type" : "number",
            "description" : "Total funds available in the account after all the ongoing transactions have been completed"
          },
          "outstandingOverdraftLimit" : {
            "type" : "number",
            "description" : "Indicates the outstanding overdraft limit of an account"
          },
          "onlineClearedBalance" : {
            "type" : "number",
            "description" : "Indicates the available balance allowed to use"
          },
          "openClearedBalance" : {
            "type" : "number",
            "description" : "Indicates the opening balance after clearing"
          },
          "accountWithBankBIC" : {
            "type" : "string",
            "description" : "This is the BIC code of the institution where beneficiary holds an account"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}