{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retrieves positions due to different transactions in a particular currency",
    "version" : "v1.0.0",
    "title" : "API to retrieve position information across all the treasury products in a particular currency"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/treasury/positions/cash" : {
      "get" : {
        "summary" : "Retrieves cash inflow and outflow positions",
        "description" : "Retrieves information from different transactions affecting the cash inflow/outflow, along with the projected cashflow data and arranges them into different time buckets as configured by the institution.",
        "operationId" : "getTreasuryCashPosition",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Indicates the type of currency to which the account belongs",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "dealerDesk",
          "in" : "query",
          "description" : "The dealer/desk responsible for monitoring and managing the currency positions.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currencyMarket",
          "in" : "query",
          "description" : "Identifies the currency market to be used to get the correct exchange and revaluation rates to be applied to each currency",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "calendar",
          "in" : "query",
          "description" : "Identifies the calendar to be used for the spreading of different position data into different time buckets. Ex: CAL-Standard calendar and DE1-Deutsche calendar",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "TreasuryCashPositionResponse",
            "schema" : {
              "$ref" : "#/definitions/TreasuryCashPositionResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/treasury/positions/gap" : {
      "get" : {
        "summary" : "Retrieves interest rate mismatch position",
        "description" : "Retrieves interest rate mismatch resulting from different transactions across all the applications, it arranges them into different time buckets as configured by the respective institution and also provides a breakeven interest rate to close the gap",
        "operationId" : "getTreasuryGapPosition",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Indicates the type of currency to which the account belongs",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "dealerDesk",
          "in" : "query",
          "description" : "The dealer/desk responsible for monitoring and managing the currency positions.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currencyMarket",
          "in" : "query",
          "description" : "Identifies the currency market to be used to get the correct exchange and revaluation rates to be applied to each currency",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "calendar",
          "in" : "query",
          "description" : "Identifies the calendar to be used for the spreading of different position data into different time buckets. Ex: CAL-Standard calendar and DE1-Deutsche calendar",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "TreasuryGapPositionResponse",
            "schema" : {
              "$ref" : "#/definitions/TreasuryGapPositionResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/treasury/positions/forexRevaluations" : {
      "get" : {
        "summary" : "Retrieves the mark to market revaluation of foreign exchange positions.",
        "description" : "Retrieves mark to market foreign currency positions(arranged into time buckets) detailing the daily unrealised profit/loss resulting from changes in the market value of the currency from spot date to settlement date.",
        "operationId" : "getForexRevaluationPositions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Indicates the type of currency to which the account belongs",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currencyMarket",
          "in" : "query",
          "description" : "Identifies the currency market to be used to get the correct exchange and revaluation rates to be applied to each currency",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dealerDesk",
          "in" : "query",
          "description" : "The dealer/desk responsible for monitoring and managing the currency positions.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ForexRevaluationPositionsResponse",
            "schema" : {
              "$ref" : "#/definitions/ForexRevaluationPositionsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "TreasuryCashPositionResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TreasuryCashPositionResponseBody"
        }
      },
      "description" : "TreasuryCashPositionResponse"
    },
    "TreasuryCashPositionResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "date" : {
            "type" : "string",
            "description" : "Date in the format YYYYMMDD. E.g. 20191231",
            "maxLength" : 12
          },
          "amountIn" : {
            "type" : "number",
            "description" : "The amount of cash inflow."
          },
          "amountOut" : {
            "type" : "number",
            "description" : "The amount of cash outflow. "
          },
          "netAmount" : {
            "type" : "number",
            "description" : "Holds the total amount"
          },
          "amountCarryForward" : {
            "type" : "number",
            "description" : "The balance amount carried forward for the next period."
          },
          "transactionIds" : {
            "type" : "string",
            "description" : "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
            "maxLength" : 35
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "TreasuryGapPositionResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TreasuryGapPositionResponseBody"
        }
      },
      "description" : "TreasuryGapPositionResponse"
    },
    "TreasuryGapPositionResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "period" : {
            "type" : "string",
            "description" : "Indicates spread of time buckets.Ex: 3M,6M,9M,10Y etc.",
            "maxLength" : 8
          },
          "assetAmount" : {
            "type" : "number",
            "description" : "The asset amount."
          },
          "assetRate" : {
            "type" : "number",
            "description" : "Weighted average rate for the asset balance amount."
          },
          "liabilityAmount" : {
            "type" : "number",
            "description" : "This is a system populated field that indicates the total liability amount in respect of each issued or confirmed letters of credit"
          },
          "liabilityRate" : {
            "type" : "number",
            "description" : "Weighted average rate for the liability balance amount."
          },
          "netAmount" : {
            "type" : "number",
            "description" : "Holds the total amount"
          },
          "breakEvenAmount" : {
            "type" : "number",
            "description" : "Rate at which there is no loss or profit."
          },
          "transactionIds" : {
            "type" : "string",
            "description" : "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
            "maxLength" : 35
          }
        }
      }
    },
    "ForexRevaluationPositionsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ForexRevaluationPositionsResponseBody"
        }
      },
      "description" : "ForexRevaluationPositionsResponse"
    },
    "ForexRevaluationPositionsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "period" : {
            "type" : "string",
            "description" : "Indicates spread of time buckets.Ex: 3M,6M,9M,10Y etc.",
            "maxLength" : 11
          },
          "netPosition" : {
            "type" : "number",
            "description" : "Net of buy and sell positions."
          },
          "effectiveRate" : {
            "type" : "string",
            "description" : "The actual interest rate for the account at this point in time.",
            "maxLength" : 15
          },
          "revaluationRate" : {
            "type" : "string",
            "description" : "The rate used to revalue the currency positions.",
            "maxLength" : 15
          },
          "unrealProfitLoss" : {
            "type" : "number",
            "description" : "The unrealised profit or loss i.e. Profit or loss arising out of revaluation of open positions."
          }
        }
      }
    }
  }
}