{
  "swagger": "2.0",
  "info": {
    "description": "API to retrieve the customer group limit relationships",
    "version": "v1.0.0",
    "title": "Customer group limit relationships"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/holdings/limits/relationships/{customerGroupId}": {
      "get": {
        "summary": "Relations among customers in the group",
        "description": "Retrieves all of the customer relations under specific customer group. ",
        "operationId": "getCustomerGroupRelations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerGroupId",
            "in": "path",
            "description": "Identifier of the CUSTOMER.GROUP that constitues one or more related customers which would be used while arrivnig collective risk exposure of credit line liable to them either individually or shared among them",
            "required": true,
            "type": "string",
            "x-example": "222"
          },
          {
            "name": "subGroup",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "showReverseRelation",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "CustomerGroupRelationsResponse",
            "schema": {
              "$ref": "#/definitions/CustomerGroupRelationsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "CustomerGroupRelationsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/CustomerGroupRelationsResponseBody"
        }
      },
      "description": "CustomerGroupRelationsResponse"
    },
    "CustomerGroupRelationsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "relationshipDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "partyType": {
                  "type": "string",
                  "description": "Indicates the type of customer which is part of the relationship. It may be Customer, Person or Entity."
                },
                "partyId": {
                  "type": "number",
                  "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
                },
                "partyName": {
                  "type": "string",
                  "description": "Specifies the short name of the customer in CUSTOMER.GROUP"
                },
                "relationDisplayName": {
                  "type": "string",
                  "description": "Specifies the description of the RELATION in CUSTOMER.GROUP"
                },
                "groupRelationDisplayName": {
                  "type": "string",
                  "description": "Specifies the description of the GROUP.RELATION in CUSTOMER.GROUP"
                },
                "relatedAs": {
                  "type": "string",
                  "description": "Entity Relationship with the partyType"
                },
                "relatedPartyType": {
                  "type": "string",
                  "description": "Indicates the related party's customer type. It may be Customer, Person or Entity."
                },
                "relatedPartyId": {
                  "type": "string",
                  "description": "Identifier of the Related Party"
                },
                "relatedPartyName": {
                  "type": "string",
                  "description": "Name of the Party related to the Customer"
                },
                "owningPercent": {
                  "type": "string",
                  "description": "Used to record the percentage of ownership in the relationship. For example an entity may be partially or wholly owned by another entity. This will only be allowed to be entered if the relation is indicated as a type allowing Ownership"
                }
              }
            }
          },
          "customerGroupId": {
            "type": "string",
            "description": "Identifier of the CUSTOMER.GROUP that constitues one or more related customers which would be used while arrivnig collective risk exposure of credit line liable to them either individually or shared among them",
            "maxLength": 35
          }
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message "
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description": "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message for bad requests"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description": "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message caused by server"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    }
  }
}