{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to view loan information",
    "version" : "v1.0.0",
    "title" : "Service API for Loan"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/us/loan/{accountId}/loanOverview" : {
      "get" : {
        "summary" : "API to view loan information like ownership, roles, balances, due amounts, payment history, collateral details, limit, etc,.",
        "description" : "Loan Overview",
        "operationId" : "getUsLoanOverview",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UsLoanOverviewResponse",
            "schema" : {
              "$ref" : "#/definitions/UsLoanOverviewResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "UsLoanOverviewResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsLoanOverviewResponseBody"
        }
      },
      "description" : "UsLoanOverviewResponse"
    },
    "UsLoanOverviewResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
            "maxLength" : 15
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account",
            "maxLength" : 15
          },
          "alternateAccountId" : {
            "type" : "string",
            "maxLength" : 55
          },
          "alternateAccountType" : {
            "type" : "string",
            "maxLength" : 55
          },
          "accountStatus" : {
            "type" : "string",
            "description" : "Specifies the current status of the account, which is either active, inactive or closed.",
            "maxLength" : 20
          },
          "branchId" : {
            "type" : "string",
            "maxLength" : 20
          },
          "accountCompany" : {
            "type" : "string",
            "description" : "Company of the account to be created",
            "maxLength" : 20
          },
          "productId" : {
            "type" : "string",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
            "maxLength" : 35
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Indicates the description of the Product",
            "maxLength" : 55
          },
          "categoryId" : {
            "type" : "string",
            "description" : "Unique identifier associated with the product name of the account or contract. For example: For customer/counterparty accounts, the identifier would be in the range 1000 to 9999. For ledger accounts, in the range 10000 to 19999.",
            "maxLength" : 20
          },
          "openingDate" : {
            "type" : "string",
            "description" : "The date the account is opened.",
            "maxLength" : 20
          },
          "maturityDate" : {
            "type" : "string",
            "description" : "Indicates maturity date of the contract",
            "maxLength" : 20
          },
          "daysToMaturity" : {
            "type" : "string",
            "description" : "Indicates number of days remaining for maturity",
            "maxLength" : 5
          },
          "dormancyDate" : {
            "type" : "string",
            "description" : "Date since when the account became dormant",
            "maxLength" : 20
          },
          "dormancyStatus" : {
            "type" : "string",
            "description" : "Indicates the Dormancy status",
            "maxLength" : 20
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identifier of the customer",
            "maxLength" : 20
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer",
            "maxLength" : 35
          },
          "customerRole" : {
            "type" : "string",
            "description" : "The customer role with drop down of standard selections",
            "maxLength" : 65
          },
          "accountTitle1" : {
            "type" : "string",
            "description" : "Title line 1 that will appear in notice and statements",
            "maxLength" : 35
          },
          "accountTitle2" : {
            "type" : "string",
            "description" : "Title line 2 that will appear in notice and statements",
            "maxLength" : 35
          },
          "accountTitle3" : {
            "type" : "string",
            "description" : "Title line 3 that will appear in notice and statements",
            "maxLength" : 35
          },
          "accountTitle4" : {
            "type" : "string",
            "description" : "Title line 4 that will appear in notice and statements",
            "maxLength" : 35
          },
          "accountType" : {
            "type" : "string",
            "description" : "Groups the products based on their type, eg, Checking, Savings, CD etc,.",
            "maxLength" : 35
          },
          "ownershipCode" : {
            "type" : "string",
            "description" : "Captures the ownership classification of the account as per FDIC rules",
            "maxLength" : 20
          },
          "purposeCode" : {
            "type" : "string",
            "description" : "Specifies the purpose of account, deposit or loan",
            "maxLength" : 20
          },
          "loanCurrency" : {
            "type" : "string",
            "description" : "Indicates the currency of the loan",
            "maxLength" : 20
          },
          "currentBalance" : {
            "type" : "string",
            "description" : "An accounts availableBalance plus any authorized credit and debit movements for the day, plus forward movements, minus funds in hold.",
            "maxLength" : 20
          },
          "overdueBalance" : {
            "type" : "string",
            "description" : "Sum of overdue balances",
            "maxLength" : 20
          },
          "overdueCount" : {
            "type" : "string",
            "description" : "Number of overdue bills",
            "maxLength" : 6
          },
          "balanceCurrency" : {
            "type" : "string",
            "description" : "Currency in which balance is displayed",
            "maxLength" : 10
          },
          "effectiveRate" : {
            "type" : "string",
            "description" : "The actual interest rate for the account at this point in time.",
            "maxLength" : 10
          },
          "paymentFrequency" : {
            "type" : "string",
            "description" : "The frequency at which a payment is required to be generated",
            "maxLength" : 35
          },
          "nextPaymentDate" : {
            "type" : "string",
            "description" : "Indicates next payment date for the contract",
            "maxLength" : 20
          },
          "nextPaymentAmount" : {
            "type" : "string",
            "description" : "Indicates the payment amount to be settled in the next schedule",
            "maxLength" : 20
          },
          "lastPaymentDate" : {
            "type" : "string",
            "description" : "Date last payment was made",
            "maxLength" : 20
          },
          "lastPaymentAmount" : {
            "type" : "string",
            "description" : "last transaction amount",
            "maxLength" : 20
          },
          "collateralValue" : {
            "type" : "string",
            "description" : "Value of the collateral considered by internal evaluation by the Financial Institution",
            "maxLength" : 20
          },
          "collateralTypeId" : {
            "type" : "string",
            "description" : "Collateral classification Id defined in the system.",
            "maxLength" : 20
          },
          "collateralId" : {
            "type" : "string",
            "description" : "The identifier of the collateral item",
            "maxLength" : 20
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}