{
  "swagger": "2.0",
  "info": {
    "description": "API to create issuance of negotiation Letter of Credits",
    "version": "v1.0.0",
    "title": "Issuance of Negotiation Letter of Credits"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/holdings/letterOfCredits/negotiations": {
      "post": {
        "operationId": "createIssuanceOfNegotiationLC",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createIssuanceOfNegotiationLC"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "createIssuanceOfNegotiationLCResponse",
            "schema": {
              "$ref": "#/definitions/createIssuanceOfNegotiationLCResponse"
            }
          },
          "default": {
            "description": "createIssuanceOfNegotiationLCErrorResponse",
            "schema": {
              "$ref": "#/definitions/createIssuanceOfNegotiationLCErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "PayloadHeader": {
      "properties": {
        "override": {
          "type": "object",
          "properties": {
            "overrideDetails": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier of the override"
                  },
                  "description": {
                    "type": "string",
                    "description": "The actual override message"
                  },
                  "responseCode": {
                    "type": "string",
                    "description": "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit": {
          "type": "object",
          "properties": {
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "createIssuanceOfNegotiationLC": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/createIssuanceOfNegotiationLCBody"
        }
      },
      "description": "createIssuanceOfNegotiationLC"
    },
    "createIssuanceOfNegotiationLCBody": {
      "type": "object",
      "properties": {
        "applicantAddresses": {
          "type": "array",
          "description": "Indicates the name and address of the applicant of the LC.",
          "items": {
            "type": "object",
            "properties": {
              "applicantAddress": {
                "type": "string",
                "description": "Indicates the name and address of the applicant of the LC."
              }
            }
          }
        },
        "beneficiaryAddresses": {
          "type": "array",
          "description": "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items": {
            "type": "object",
            "properties": {
              "beneficiaryAddress": {
                "type": "string",
                "description": "The address of the Beneficiary if the customer number of the Beneficiary is not known"
              }
            }
          }
        },
        "advisingBankAddresses": {
          "type": "array",
          "description": "Identifies the name and address of the advising bank under the LC, through whom Letter of Credit to be advised to second advisng bank or beneficiary.",
          "items": {
            "type": "object",
            "properties": {
              "advisingBankAddress": {
                "type": "string",
                "description": "Identifies the name and address of the advising bank under the LC, through whom Letter of Credit to be advised to second advisng bank or beneficiary."
              }
            }
          }
        },
        "adviseThroughBanks": {
          "type": "array",
          "description": "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy.",
          "items": {
            "type": "object",
            "properties": {
              "adviseThroughBank": {
                "type": "string",
                "description": "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy."
              }
            }
          }
        },
        "availableWithBanks": {
          "type": "array",
          "description": "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit",
          "items": {
            "type": "object",
            "properties": {
              "availableWithBank": {
                "type": "string",
                "description": "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit"
              }
            }
          }
        },
        "reimbursingBanks1": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "reimbursingBank1": {
                "type": "string"
              }
            }
          }
        },
        "requestedConfirmBankNames": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "requestedConfirmBankName": {
                "type": "string"
              }
            }
          }
        },
        "charges": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "chargeCode": {
                "type": "string"
              },
              "partyCharged": {
                "type": "string"
              },
              "chargeDebitAccount": {
                "type": "string"
              },
              "chargeCurrency": {
                "type": "string",
                "description": "Holds the currency code of the charge account from where the fee is deducted"
              },
              "ChargeExchangeRate": {
                "type": "string"
              },
              "chargeAmount": {
                "type": "string",
                "description": "Holds the charge amount equivalent in charge account currency"
              },
              "amortiseCharges": {
                "type": "string"
              },
              "chargeStatus": {
                "type": "string"
              },
              "taxCurrency": {
                "type": "string"
              },
              "taxAmount": {
                "type": "string",
                "description": "The tax amount"
              }
            }
          }
        },
        "importNegotiationLCType": {
          "type": "string",
          "description": "Identifies the Import Negotiation type of LC"
        },
        "lcNumber": {
          "type": "string",
          "description": "Identifies the banks LCs number (or reference of the L/C from legacy system)"
        },
        "applicant": {
          "type": "string",
          "description": "Indicates the  applicant on whose behalf the Letter of Credit is issued"
        },
        "lcCurrency": {
          "type": "string",
          "description": "Denote the currency of the Letter of Credit."
        },
        "lcAmount": {
          "type": "string",
          "description": "This field indicates the amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
        },
        "creditTolerance": {
          "type": "string",
          "description": "This field defines the tolerance percentage to be added to the letter of credit amount to calculate the full liability amount or maximum amount that can be drawn."
        },
        "debitTolerance": {
          "type": "string",
          "description": "This field defines the negative tolerance percentage under the letter of credit, to calculate the minimum amount that can be presented under the LC."
        },
        "issueDate": {
          "type": "string",
          "format": "date",
          "description": "The date the item was issued."
        },
        "expiryDate": {
          "type": "string",
          "format": "date",
          "description": "The date an agreement such as a credit facility or limit is due to expire"
        },
        "expiryPlace": {
          "type": "string",
          "description": "Expiry place for presentation under the documentary credit."
        },
        "liabilityReversalDate": {
          "type": "string",
          "format": "date",
          "description": "Date on which the contigent entries and the limits raised on the LC will be reversed."
        },
        "daysAndPeriodForPresentation": {
          "type": "string",
          "description": "Secifies the number of calendar days after the date of shipment within which the documents must be presented for payment, acceptance or negotiation. "
        },
        "shipmentDate": {
          "type": "string",
          "description": "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC"
        },
        "incoTerms": {
          "type": "string",
          "description": "This field holds the valid incoterms code"
        },
        "modeOfShipment": {
          "type": "string",
          "description": "Defining the mode of shipment allowed for transporting the goods and service under the LC."
        },
        "limitReference": {
          "type": "string",
          "description": "Identifies the type of limit applicable to the Account"
        },
        "autoExpiry": {
          "type": "string",
          "description": "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not"
        },
        "collMatCode": {
          "type": "string",
          "description": "Indicates the codes available for the drafts under a collection. Input allowed under this field for a documentary collection only if the TENOR field has no value"
        },
        "days": {
          "type": "string",
          "description": "This field indicate the tenor of the drafts under the collection."
        },
        "applicableRuleCodesMT740": {
          "type": "string"
        },
        "confirmationInstruction": {
          "type": "string"
        },
        "beneficiaryCustomerId": {
          "type": "string",
          "description": "The customer identifier where the beneficiary is a customer of the bank"
        },
        "advisingBankId": {
          "type": "string",
          "description": "It’s a system populated field which default the advising bank ID, name and address from the LC contract."
        },
        "adviseThroughBank": {
          "type": "string",
          "description": "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy."
        },
        "availableWithBankId": {
          "type": "string",
          "description": "Indicates the bank ID that is authorised to pay, accept, or negotiate document presented under the letter of credit"
        },
        "reimbursingBank": {
          "type": "string",
          "description": "Identifies the reimbursing bank ID under the LC, through whom reimbursement will be made to the paying/negotiating bank for a letter of credit. (Reimbursing bank should be a valid customer with customer ID)"
        },
        "requestedConfirmBank": {
          "type": "string"
        },
        "chargeFrom": {
          "type": "string"
        },
        "chargeDefaultAccount": {
          "type": "string"
        },
        "waiveCharge": {
          "type": "string",
          "description": "Defines whether charges are to be collected or waived"
        },
        "marginRequired": {
          "type": "string",
          "description": "Decision field if margin to be blocked for the LC contract or not."
        },
        "releaseProvision": {
          "type": "string",
          "description": "Field to decide whether the provision should be released or not"
        },
        "marginCalculationBase": {
          "type": "string",
          "description": "This field determines if the margin to be calculated based on the LC amount or the total liability amount."
        },
        "marginPercent": {
          "type": "string",
          "description": "Field to state the percentage of provision to be taken"
        },
        "marginDebitAccount": {
          "type": "string",
          "description": "Field to state the account from which the provision amount is to be debited"
        },
        "marginAmount": {
          "type": "number",
          "description": "Actual amount of provision that is debited for the transaction"
        },
        "marginExchangeRate": {
          "type": "string",
          "description": "This Field determines the exchange rate to be used between the provision debit account and the provision credit account, when the currencies differ"
        },
        "limitWithProvision": {
          "type": "string",
          "description": "This field determines if the margin calculated to be debited after considering the limits booked under the LC contract"
        },
        "documentId": {
          "type": "string",
          "description": "The identifier of the document"
        },
        "documentCode": {
          "type": "string"
        },
        "documentsText": {
          "type": "string"
        },
        "documentRequired": {
          "type": "string"
        },
        "additionalCondition": {
          "type": "string"
        }
      }
    },
    "ScreenHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "createIssuanceOfNegotiationLCResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/createIssuanceOfNegotiationLCResponseBody"
        }
      },
      "description": "createIssuanceOfNegotiationLCResponse"
    },
    "createIssuanceOfNegotiationLCResponseBody": {
      "type": "object",
      "properties": {
        "applicantAddresses": {
          "type": "array",
          "description": "Indicates the name and address of the applicant of the LC.",
          "items": {
            "type": "object",
            "properties": {
              "applicantAddress": {
                "type": "string",
                "description": "Indicates the name and address of the applicant of the LC."
              }
            }
          }
        },
        "beneficiaryAddresses": {
          "type": "array",
          "description": "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items": {
            "type": "object",
            "properties": {
              "beneficiaryAddress": {
                "type": "string",
                "description": "The address of the Beneficiary if the customer number of the Beneficiary is not known"
              }
            }
          }
        },
        "advisingBankAddresses": {
          "type": "array",
          "description": "Identifies the name and address of the advising bank under the LC, through whom Letter of Credit to be advised to second advisng bank or beneficiary.",
          "items": {
            "type": "object",
            "properties": {
              "advisingBankAddress": {
                "type": "string",
                "description": "Identifies the name and address of the advising bank under the LC, through whom Letter of Credit to be advised to second advisng bank or beneficiary."
              }
            }
          }
        },
        "adviseThroughBanks": {
          "type": "array",
          "description": "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy.",
          "items": {
            "type": "object",
            "properties": {
              "adviseThroughBank": {
                "type": "string",
                "description": "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy."
              }
            }
          }
        },
        "availableWithBanks": {
          "type": "array",
          "description": "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit",
          "items": {
            "type": "object",
            "properties": {
              "availableWithBank": {
                "type": "string",
                "description": "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit"
              }
            }
          }
        },
        "reimbursingBanks1": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "reimbursingBank1": {
                "type": "string"
              }
            }
          }
        },
        "requestedConfirmBankNames": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "requestedConfirmBankName": {
                "type": "string"
              }
            }
          }
        },
        "charges": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "chargeCode": {
                "type": "string"
              },
              "partyCharged": {
                "type": "string"
              },
              "chargeDebitAccount": {
                "type": "string"
              },
              "chargeCurrency": {
                "type": "string",
                "description": "Holds the currency code of the charge account from where the fee is deducted"
              },
              "ChargeExchangeRate": {
                "type": "string"
              },
              "chargeAmount": {
                "type": "string",
                "description": "Holds the charge amount equivalent in charge account currency"
              },
              "amortiseCharges": {
                "type": "string"
              },
              "chargeStatus": {
                "type": "string"
              },
              "taxCurrency": {
                "type": "string"
              },
              "taxAmount": {
                "type": "string",
                "description": "The tax amount"
              }
            }
          }
        },
        "importNegotiationLCType": {
          "type": "string",
          "description": "Identifies the Import Negotiation type of LC"
        },
        "lcNumber": {
          "type": "string",
          "description": "Identifies the banks LCs number (or reference of the L/C from legacy system)"
        },
        "applicant": {
          "type": "string",
          "description": "Indicates the  applicant on whose behalf the Letter of Credit is issued"
        },
        "lcCurrency": {
          "type": "string",
          "description": "Denote the currency of the Letter of Credit."
        },
        "lcAmount": {
          "type": "string",
          "description": "This field indicates the amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
        },
        "creditTolerance": {
          "type": "string",
          "description": "This field defines the tolerance percentage to be added to the letter of credit amount to calculate the full liability amount or maximum amount that can be drawn."
        },
        "debitTolerance": {
          "type": "string",
          "description": "This field defines the negative tolerance percentage under the letter of credit, to calculate the minimum amount that can be presented under the LC."
        },
        "issueDate": {
          "type": "string",
          "format": "date",
          "description": "The date the item was issued."
        },
        "expiryDate": {
          "type": "string",
          "format": "date",
          "description": "The date an agreement such as a credit facility or limit is due to expire"
        },
        "expiryPlace": {
          "type": "string",
          "description": "Expiry place for presentation under the documentary credit."
        },
        "liabilityReversalDate": {
          "type": "string",
          "format": "date",
          "description": "Date on which the contigent entries and the limits raised on the LC will be reversed."
        },
        "daysAndPeriodForPresentation": {
          "type": "string",
          "description": "Secifies the number of calendar days after the date of shipment within which the documents must be presented for payment, acceptance or negotiation. "
        },
        "shipmentDate": {
          "type": "string",
          "description": "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC"
        },
        "incoTerms": {
          "type": "string",
          "description": "This field holds the valid incoterms code"
        },
        "modeOfShipment": {
          "type": "string",
          "description": "Defining the mode of shipment allowed for transporting the goods and service under the LC."
        },
        "limitReference": {
          "type": "string",
          "description": "Identifies the type of limit applicable to the Account"
        },
        "autoExpiry": {
          "type": "string",
          "description": "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not"
        },
        "collMatCode": {
          "type": "string",
          "description": "Indicates the codes available for the drafts under a collection. Input allowed under this field for a documentary collection only if the TENOR field has no value"
        },
        "days": {
          "type": "string",
          "description": "This field indicate the tenor of the drafts under the collection."
        },
        "applicableRuleCodesMT740": {
          "type": "string"
        },
        "confirmationInstruction": {
          "type": "string"
        },
        "beneficiaryCustomerId": {
          "type": "string",
          "description": "The customer identifier where the beneficiary is a customer of the bank"
        },
        "advisingBankId": {
          "type": "string",
          "description": "It’s a system populated field which default the advising bank ID, name and address from the LC contract."
        },
        "adviseThroughBank": {
          "type": "string",
          "description": "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy."
        },
        "availableWithBankId": {
          "type": "string",
          "description": "Indicates the bank ID that is authorised to pay, accept, or negotiate document presented under the letter of credit"
        },
        "reimbursingBank": {
          "type": "string",
          "description": "Identifies the reimbursing bank ID under the LC, through whom reimbursement will be made to the paying/negotiating bank for a letter of credit. (Reimbursing bank should be a valid customer with customer ID)"
        },
        "requestedConfirmBank": {
          "type": "string"
        },
        "chargeFrom": {
          "type": "string"
        },
        "chargeDefaultAccount": {
          "type": "string"
        },
        "waiveCharge": {
          "type": "string",
          "description": "Defines whether charges are to be collected or waived"
        },
        "marginRequired": {
          "type": "string",
          "description": "Decision field if margin to be blocked for the LC contract or not."
        },
        "releaseProvision": {
          "type": "string",
          "description": "Field to decide whether the provision should be released or not"
        },
        "marginCalculationBase": {
          "type": "string",
          "description": "This field determines if the margin to be calculated based on the LC amount or the total liability amount."
        },
        "marginPercent": {
          "type": "string",
          "description": "Field to state the percentage of provision to be taken"
        },
        "marginDebitAccount": {
          "type": "string",
          "description": "Field to state the account from which the provision amount is to be debited"
        },
        "marginAmount": {
          "type": "number",
          "description": "Actual amount of provision that is debited for the transaction"
        },
        "marginExchangeRate": {
          "type": "string",
          "description": "This Field determines the exchange rate to be used between the provision debit account and the provision credit account, when the currencies differ"
        },
        "limitWithProvision": {
          "type": "string",
          "description": "This field determines if the margin calculated to be debited after considering the limits booked under the LC contract"
        },
        "documentId": {
          "type": "string",
          "description": "The identifier of the document"
        },
        "documentCode": {
          "type": "string"
        },
        "documentsText": {
          "type": "string"
        },
        "documentRequired": {
          "type": "string"
        },
        "additionalCondition": {
          "type": "string"
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody": {
      "properties": {
        "overrideDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier of the override"
              },
              "description": {
                "type": "string",
                "description": "The actual override message"
              }
            }
          }
        }
      }
    },
    "createIssuanceOfNegotiationLCErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/createIssuanceOfNegotiationLCErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "createIssuanceOfNegotiationLCErrorResponse"
    },
    "createIssuanceOfNegotiationLCErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type"
        }
      }
    }
  }
}