{
  "swagger" : "2.0",
  "info" : {
    "description" : "APIs to create, update account, change account product, retreive account summary and overview,  statement addresses and list of accounts available for a customer",
    "version" : "v1.0.0",
    "title" : "Service APIs for updating and retrieving account information"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/us/accounts/{accountId}/balances" : {
      "get" : {
        "summary" : "Retrieves summary level balance information for an account",
        "description" : "Account Summary",
        "operationId" : "getUsAccountSummary",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UsAccountSummaryResponse",
            "schema" : {
              "$ref" : "#/definitions/UsAccountSummaryResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/accounts/{accountId}/addresses" : {
      "get" : {
        "summary" : "Retrieves address information for the account",
        "description" : "Statement Address",
        "operationId" : "getUsStatementAddress",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UsStatementAddressResponse",
            "schema" : {
              "$ref" : "#/definitions/UsStatementAddressResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/customers/{customerId}/accounts" : {
      "get" : {
        "summary" : "API to list the available accounts details for a customer.",
        "description" : "Account list",
        "operationId" : "getUsAccountList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "accountId",
          "in" : "query",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UsAccountListResponse",
            "schema" : {
              "$ref" : "#/definitions/UsAccountListResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/accounts/{accountId}/accountOverview" : {
      "get" : {
        "summary" : "API to view account details, balances, due balances, interest earned, RegD and NSF details, etc,.",
        "description" : "Account Overview",
        "operationId" : "getUsAccountOverview",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UsAccountOverviewResponse",
            "schema" : {
              "$ref" : "#/definitions/UsAccountOverviewResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/accounts/consumerAccounts" : {
      "post" : {
        "summary" : "Create a new consumer account of type checkings or savings.",
        "description" : "Create a new consumer account",
        "operationId" : "createUsConsumerAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UsConsumerAccount"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createUsConsumerAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/UsConsumerAccountResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/accounts/{accountId}/consumerAccounts" : {
      "put" : {
        "summary" : "Modify existing account information like, customer and ownership information, settlement accounts, charges etc,.",
        "description" : "Update consumer Account",
        "operationId" : "updateUsConsumerAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UsConsumerAccount1"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateUsConsumerAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/UsConsumerAccountResponse1"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "UsAccountSummaryResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsAccountSummaryResponseBody"
        }
      },
      "description" : "UsAccountSummaryResponse"
    },
    "UsAccountSummaryResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "customers" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "customerId" : {
                  "type" : "array",
                  "description" : "Identifier of the customer",
                  "items" : {
                    "type" : "number"
                  }
                },
                "customerName" : {
                  "type" : "array",
                  "description" : "Name of the customer",
                  "items" : {
                    "type" : "string"
                  }
                },
                "customerRole" : {
                  "type" : "array",
                  "description" : "The customer role with drop down of standard selections",
                  "items" : {
                    "type" : "string"
                  }
                },
                "taxPercentage" : {
                  "type" : "array",
                  "description" : "Tax liability percentage for the associated Customer",
                  "items" : {
                    "type" : "number"
                  }
                },
                "liabilityPercentage" : {
                  "type" : "array",
                  "description" : "Liability percentage allocated to the associated Customer",
                  "items" : {
                    "type" : "number"
                  }
                }
              }
            }
          },
          "transactions" : {
            "type" : "array",
            "description" : "Contains the details of the transaction, for example transaction indicator, balance etc.",
            "items" : {
              "type" : "object",
              "properties" : {
                "lastPaymentDate" : {
                  "type" : "array",
                  "description" : "Date last payment was made",
                  "items" : {
                    "type" : "string"
                  }
                },
                "transactionDescription" : {
                  "type" : "array",
                  "description" : "Indicates the description based on the transaction type",
                  "items" : {
                    "type" : "string"
                  }
                },
                "transactionAmount" : {
                  "type" : "array",
                  "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
                  "items" : {
                    "type" : "number"
                  }
                },
                "runningBalance" : {
                  "type" : "array",
                  "items" : {
                    "type" : "number"
                  }
                }
              }
            }
          },
          "accountId" : {
            "type" : "number",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Indicates the description of the Product"
          },
          "productGroupName" : {
            "type" : "string",
            "description" : "Description of the product group"
          },
          "productLineId" : {
            "type" : "string",
            "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products."
          },
          "currency" : {
            "type" : "string",
            "description" : "Indicates the type of currency to which the account belongs"
          },
          "purposeCode" : {
            "type" : "string",
            "description" : "Specifies the purpose of account, deposit or loan"
          },
          "openingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date the account is opened."
          },
          "maturityDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates maturity date of the contract"
          },
          "accountOfficer" : {
            "type" : "number",
            "description" : "Identifier of Department Account Officer"
          },
          "accountTitle1" : {
            "type" : "string",
            "description" : "Title line 1 that will appear in notice and statements"
          },
          "accountTitle2" : {
            "type" : "string",
            "description" : "Title line 2 that will appear in notice and statements"
          },
          "accountTitle3" : {
            "type" : "string",
            "description" : "Title line 3 that will appear in notice and statements"
          },
          "accountTitle4" : {
            "type" : "string",
            "description" : "Title line 4 that will appear in notice and statements"
          },
          "accountTitlingOperand" : {
            "type" : "string",
            "description" : "Account Title operand to be used while building the Title information in notices. Can be AND or OR. When AND is specified, it indicates that all beneficiaries are jointly responsible. When OR is specified, it indicates that each beneficiary can be solely responsible for the account."
          },
          "accountName" : {
            "type" : "string",
            "description" : "Display name or short name of the account specified."
          },
          "branch" : {
            "type" : "string",
            "description" : "The branch information relevant to this BIC code."
          },
          "availableBalance" : {
            "type" : "number",
            "description" : "Available balance of the account which is the projected balance which includes the net movements of both debits and credits against the account."
          },
          "currentBalance" : {
            "type" : "number",
            "description" : "An accounts availableBalance plus any authorized credit and debit movements for the day, plus forward movements, minus funds in hold."
          },
          "floatBalance" : {
            "type" : "number",
            "description" : "Account balance with future exposure date, ie, uncleared funds in the account"
          },
          "collectedBalance" : {
            "type" : "number",
            "description" : "Accounts available balance plus authorized credit and debit movements for the day,  excluding uncleared funds"
          },
          "lockedAmount" : {
            "type" : "number",
            "description" : "Shows reserved amount for the underlying account for a given balance reservation event."
          },
          "status" : {
            "type" : "string",
            "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
          },
          "dateLastTransaction" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date of the last transaction that was performed on an account, deposit or loan"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "UsStatementAddressResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsStatementAddressResponseBody"
        }
      },
      "description" : "UsStatementAddressResponse"
    },
    "UsStatementAddressResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "accountTitle" : {
            "type" : "array",
            "description" : "Short title on an account",
            "items" : {
              "type" : "object",
              "properties" : {
                "accountTitle1" : {
                  "type" : "array",
                  "description" : "Title line 1 that will appear in notice and statements",
                  "items" : {
                    "type" : "string"
                  }
                },
                "accountTitle2" : {
                  "type" : "array",
                  "description" : "Title line 2 that will appear in notice and statements",
                  "items" : {
                    "type" : "string"
                  }
                },
                "accountTitle3" : {
                  "type" : "array",
                  "description" : "Title line 3 that will appear in notice and statements",
                  "items" : {
                    "type" : "string"
                  }
                },
                "accountTitle4" : {
                  "type" : "array",
                  "description" : "Title line 4 that will appear in notice and statements",
                  "items" : {
                    "type" : "string"
                  }
                },
                "accountTitlingOperand" : {
                  "type" : "array",
                  "description" : "Account Title operand to be used while building the Title information in notices. Can be AND or OR. When AND is specified, it indicates that all beneficiaries are jointly responsible. When OR is specified, it indicates that each beneficiary can be solely responsible for the account.",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "customerAddress" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "customerId" : {
                  "type" : "array",
                  "description" : "Identifier of the customer",
                  "items" : {
                    "type" : "number"
                  }
                },
                "givenName" : {
                  "type" : "array",
                  "description" : "Customer's given name",
                  "items" : {
                    "type" : "string"
                  }
                },
                "street" : {
                  "type" : "array",
                  "description" : "Contains the first line of customer's base address, example building number, street number etc.",
                  "items" : {
                    "type" : "string"
                  }
                },
                "city" : {
                  "type" : "array",
                  "description" : "City address stated on driver licence or utlility bill. For example London, New York etc.",
                  "items" : {
                    "type" : "string"
                  }
                },
                "state" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                },
                "county" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                },
                "zipCode" : {
                  "type" : "array",
                  "description" : "Zip code",
                  "items" : {
                    "type" : "string"
                  }
                },
                "zipPlusFour" : {
                  "type" : "array",
                  "description" : "Zip plus 4",
                  "items" : {
                    "type" : "string"
                  }
                },
                "addressPurpose" : {
                  "type" : "array",
                  "description" : "Identifies the purpose or usage of the address. Allowed values are CTC (Communication to Customer), CTICOP(Communication to In Care Of Party) or CTOP(Communication to Other Party).",
                  "items" : {
                    "type" : "string"
                  }
                },
                "addressStatus" : {
                  "type" : "array",
                  "description" : "Indicates the status of customer mailing address like foreign address, mailing address, bad address, etc.",
                  "items" : {
                    "type" : "string"
                  }
                },
                "customerContactIndicator" : {
                  "type" : "array",
                  "description" : "Flag to indicate if Customer made contact. If set to YES, contact date will be updated with system date",
                  "items" : {
                    "type" : "string"
                  }
                },
                "addressLocation" : {
                  "type" : "array",
                  "description" : "Identifies the nature of the postal address, like primary, secondary or office address",
                  "items" : {
                    "type" : "string"
                  }
                },
                "taxAddressType" : {
                  "type" : "array",
                  "description" : "Captures how the address can be used for tax purposes. Allowed values can be retrieved through getEbLookups for virtualTableName IRS.ADDRESS.TYPE",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "accountId" : {
            "type" : "number",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          }
        }
      }
    },
    "UsAccountListResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsAccountListResponseBody"
        }
      },
      "description" : "UsAccountListResponse"
    },
    "UsAccountListResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "customers" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "customerId" : {
                  "type" : "array",
                  "description" : "Identifier of the customer",
                  "items" : {
                    "type" : "number"
                  }
                },
                "customerName" : {
                  "type" : "array",
                  "description" : "Name of the customer",
                  "items" : {
                    "type" : "string"
                  }
                },
                "customerRole" : {
                  "type" : "array",
                  "description" : "The customer role with drop down of standard selections",
                  "items" : {
                    "type" : "string"
                  }
                },
                "taxPercentage" : {
                  "type" : "array",
                  "description" : "Tax liability percentage for the associated Customer",
                  "items" : {
                    "type" : "number"
                  }
                },
                "liabilityPercentage" : {
                  "type" : "array",
                  "description" : "Liability percentage allocated to the associated Customer",
                  "items" : {
                    "type" : "number"
                  }
                }
              }
            }
          },
          "accountTitle" : {
            "type" : "array",
            "description" : "Short title on an account",
            "items" : {
              "type" : "object",
              "properties" : {
                "accountTitle1" : {
                  "type" : "array",
                  "description" : "Title line 1 that will appear in notice and statements",
                  "items" : {
                    "type" : "string"
                  }
                },
                "accountTitle2" : {
                  "type" : "array",
                  "description" : "Title line 2 that will appear in notice and statements",
                  "items" : {
                    "type" : "string"
                  }
                },
                "accountTitle3" : {
                  "type" : "array",
                  "description" : "Title line 3 that will appear in notice and statements",
                  "items" : {
                    "type" : "string"
                  }
                },
                "accountTitle4" : {
                  "type" : "array",
                  "description" : "Title line 4 that will appear in notice and statements",
                  "items" : {
                    "type" : "string"
                  }
                },
                "accountTitlingOperand" : {
                  "type" : "array",
                  "description" : "Account Title operand to be used while building the Title information in notices. Can be AND or OR. When AND is specified, it indicates that all beneficiaries are jointly responsible. When OR is specified, it indicates that each beneficiary can be solely responsible for the account.",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "accountId" : {
            "type" : "number",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          },
          "alternateAccountType" : {
            "type" : "string"
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Indicates the description of the Product"
          },
          "productGroupName" : {
            "type" : "string",
            "description" : "Description of the product group"
          },
          "productLineId" : {
            "type" : "string",
            "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products."
          },
          "currency" : {
            "type" : "string",
            "description" : "Indicates the type of currency to which the account belongs"
          },
          "purposeCode" : {
            "type" : "string",
            "description" : "Specifies the purpose of account, deposit or loan"
          },
          "openingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date the account is opened."
          },
          "maturityDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates maturity date of the contract"
          },
          "accountOfficer" : {
            "type" : "number",
            "description" : "Identifier of Department Account Officer"
          },
          "accountName" : {
            "type" : "string",
            "description" : "Display name or short name of the account specified."
          },
          "branch" : {
            "type" : "string",
            "description" : "The branch information relevant to this BIC code."
          },
          "status" : {
            "type" : "string",
            "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
          }
        }
      }
    },
    "UsAccountOverviewResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsAccountOverviewResponseBody"
        }
      },
      "description" : "UsAccountOverviewResponse"
    },
    "UsAccountOverviewResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "accountId" : {
            "type" : "number",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account"
          },
          "alternateAccountId" : {
            "type" : "string"
          },
          "alternateAccountType" : {
            "type" : "string"
          },
          "accountStatus" : {
            "type" : "string",
            "description" : "Specifies the current status of the account, which is either active, inactive or closed."
          },
          "branchId" : {
            "type" : "string"
          },
          "accountCompany" : {
            "type" : "string",
            "description" : "Company of the account to be created"
          },
          "productId" : {
            "type" : "string",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Indicates the description of the Product"
          },
          "productCategoryId" : {
            "type" : "string",
            "description" : "The identifier of the product category"
          },
          "accountCurrency" : {
            "type" : "string",
            "description" : "Currency of the account. For example: USD, GBP."
          },
          "postingRestrictId" : {
            "type" : "string",
            "description" : "Identifies any restrictions for posting entries that are imposed on a Customer"
          },
          "customerId" : {
            "type" : "number",
            "description" : "Identifier of the customer"
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer"
          },
          "customerRole" : {
            "type" : "string",
            "description" : "The customer role with drop down of standard selections"
          },
          "accountTitle1" : {
            "type" : "string",
            "description" : "Title line 1 that will appear in notice and statements"
          },
          "accountTitle2" : {
            "type" : "string",
            "description" : "Title line 2 that will appear in notice and statements"
          },
          "accountTitle3" : {
            "type" : "string",
            "description" : "Title line 3 that will appear in notice and statements"
          },
          "accountTitle4" : {
            "type" : "string",
            "description" : "Title line 4 that will appear in notice and statements"
          },
          "accountTitlingOperand" : {
            "type" : "string",
            "description" : "Account Title operand to be used while building the Title information in notices. Can be AND or OR. When AND is specified, it indicates that all beneficiaries are jointly responsible. When OR is specified, it indicates that each beneficiary can be solely responsible for the account."
          },
          "availableBalance" : {
            "type" : "number",
            "description" : "Available balance of the account which is the projected balance which includes the net movements of both debits and credits against the account."
          },
          "currentBalance" : {
            "type" : "number",
            "description" : "An accounts availableBalance plus any authorized credit and debit movements for the day, plus forward movements, minus funds in hold."
          },
          "averageBalance" : {
            "type" : "number",
            "description" : "Current Month average balance"
          },
          "payableBalance" : {
            "type" : "number",
            "description" : "Payable balance is available balance of an account excluding Locked amount and including floatBalance."
          },
          "floatBalance" : {
            "type" : "number",
            "description" : "Account balance with future exposure date, ie, uncleared funds in the account"
          },
          "sweepbalance" : {
            "type" : "number",
            "description" : "Balances available for the account through cash pooling from other accounts or deposits"
          },
          "collectedBalance" : {
            "type" : "number",
            "description" : "Accounts available balance plus authorized credit and debit movements for the day,  excluding uncleared funds"
          },
          "availableLimit" : {
            "type" : "number",
            "description" : "The portion of an allocated credit limit that is available for the nominated customer"
          },
          "lockedAmount" : {
            "type" : "number",
            "description" : "Shows reserved amount for the underlying account for a given balance reservation event."
          },
          "regccHolds" : {
            "type" : "number",
            "description" : "Locked amount due to holds created for check clearing."
          },
          "regEOptIn" : {
            "type" : "string",
            "description" : "Indicates if the non-branch transaction is allowed to use limit balances in case there is insufficient funds in the account"
          },
          "regEActivity" : {
            "type" : "string",
            "description" : "An action on account that is considered as non-branch transaction and which requires overdraft processing"
          },
          "regDCount" : {
            "type" : "string",
            "description" : "Number of withdrawals done on a savings account for Regulation D purposes"
          },
          "regDStatus" : {
            "type" : "string",
            "description" : "Regulation D compliance status for the account based on the withdrawal count within the period defined for the account"
          },
          "regDStartDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Regulation D period start Date for the account."
          },
          "regDEndDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Regulation D period end Date for the account."
          },
          "overdraftProcessing" : {
            "type" : "string",
            "description" : "Indicates if NSF processing  is allowed for the account. NSF processing allows usage of different balance for different types of transactions and to allow default decision on approval or rejection when an overdraft occurs. Ex, an account with NSF processing can setup usage of available balance for ATM withdrawals while a merchant transaction can utilize sweep balances or limit balances"
          },
          "repeatODFlag" : {
            "type" : "string",
            "description" : "Indicates if an account has been repeatedly remained in overdrawn status."
          },
          "daysOverdrawn" : {
            "type" : "number",
            "description" : "Number of days the account has remained in overdrawn status."
          },
          "dailyNSFCount" : {
            "type" : "number",
            "description" : "NSF(Non sufficient Funds) transactions count for the day"
          },
          "accountType" : {
            "type" : "string",
            "description" : "Groups the products based on their type, eg, Checking, Savings, CD etc,."
          },
          "fdicOwnershipCode" : {
            "type" : "string",
            "description" : "Ownership codes defines an account or deposits specific to type of ownership for an account such as single, joint, partnership, trust and government."
          },
          "purposeCode" : {
            "type" : "string",
            "description" : "Specifies the purpose of account, deposit or loan"
          },
          "stopIndicator" : {
            "type" : "string",
            "description" : "Flag to indicate if there are Transaction stop requests set for the account"
          },
          "accountAnalysisIndicator" : {
            "type" : "string",
            "description" : "Indicates if the account is flagged for Account Analysis"
          },
          "rmdAmount" : {
            "type" : "number",
            "description" : "Indicates the RMD amount for an IRA account"
          },
          "isInheritedIRA" : {
            "type" : "string",
            "description" : "Indicates if the IRA account was inherited"
          },
          "dormancyStatus" : {
            "type" : "string",
            "description" : "Indicates the Dormancy status"
          },
          "perdiem" : {
            "type" : "number",
            "description" : "Per day interest for the account based on the account balance and interest rate"
          },
          "interestPaid" : {
            "type" : "number",
            "description" : "Interest earned on the account since account opening"
          },
          "accruedInterest" : {
            "type" : "number",
            "description" : "The amount of interest that has been accrued"
          },
          "interestPaidYtd" : {
            "type" : "number",
            "description" : "Interest paid from the start of current year till current date"
          },
          "interestTaxWithheld" : {
            "type" : "number",
            "description" : "Tax amount withheld on the interest paid in the account for the current year"
          },
          "interestTaxWithheldLastYear" : {
            "type" : "number",
            "description" : "Tax amount withheld on the interest paid in the account for the previous year"
          }
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "UsConsumerAccount" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsConsumerAccountBody"
        }
      },
      "description" : "UsConsumerAccount"
    },
    "UsConsumerAccountBody" : {
      "type" : "object",
      "properties" : {
        "customerIds" : {
          "type" : "array",
          "description" : "Identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "properties" : {
          "type" : "array",
          "description" : "Input is the valid field name for the metrics evaluation of alerts",
          "items" : {
            "type" : "object",
            "properties" : {
              "propertyId" : {
                "type" : "string",
                "description" : "The identifier of the product condition",
                "minLength" : 0,
                "maxLength" : 30
              },
              "fields" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fieldName" : {
                      "type" : "string",
                      "description" : "The name of the field",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "fieldValue" : {
                      "type" : "string",
                      "description" : "Value of the field",
                      "minLength" : 0,
                      "maxLength" : 100
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "masterArrangementId" : {
          "type" : "string",
          "description" : "The unique identifier to specify an arrangement reference which is act as a Master for the arrangement being created.",
          "minLength" : 0,
          "maxLength" : 20
        },
        "roleName" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date on which the principal movement is effected"
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "minLength" : 0,
          "maxLength" : 80
        },
        "transactionAmount" : {
          "type" : "number",
          "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
          "minimum" : 0,
          "maximum" : 17
        },
        "balance" : {
          "type" : "object",
          "properties" : {
            "accountTitle" : {
              "type" : "string",
              "description" : "Short title on an account",
              "minLength" : 0,
              "maxLength" : 18
            },
            "accountTitle2" : {
              "type" : "string",
              "description" : "Title line 2 that will appear in notice and statements",
              "minLength" : 0,
              "maxLength" : 18
            },
            "shortTitle" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "altId1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Mnemonic" : {
              "type" : "string",
              "description" : "Shortcut code for referring an Entity/Company/Branch.",
              "minLength" : 0,
              "maxLength" : 18
            },
            "accountReference" : {
              "type" : "string",
              "description" : "Account Reference of the error account",
              "minLength" : 0,
              "maxLength" : 18
            },
            "customerReference" : {
              "type" : "string",
              "description" : "The reference which is provided to the beneficiary/ creditor by the originator of payment",
              "minLength" : 0,
              "maxLength" : 18
            },
            "originationRef" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "Category" : {
              "type" : "string",
              "description" : "Indicates the account or contract product name. For example for an account this maybe current, savings etc.",
              "minLength" : 0,
              "maxLength" : 18
            },
            "postingRestrict" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 22
            },
            "baseDateType" : {
              "type" : "string",
              "description" : "Defines if anniversaryDate or start date is based on account creation or once disbursement is done. Allowed values are ARRANGEMENT and DISBURSEMENT. ARRANGEMENT indicates that account start period is considered as arrangement creation time. If set as DISBURSEMENT the account start period is based on disbursement activity date",
              "minLength" : 0,
              "maxLength" : 18
            },
            "Anniversary" : {
              "type" : "string",
              "description" : "The start or end period defined in MMDD format to indicate the period when charge rules has to be applied",
              "minLength" : 0,
              "maxLength" : 22
            },
            "dateConvention" : {
              "type" : "string",
              "description" : "Indicates how the schedule date has to be adjusted when the schedule falls on a holiday. Allowed values are BACKWARD, FORWARD, FORWARD SAME MONTH or CALENDAR.",
              "minLength" : 0,
              "maxLength" : 18
            },
            "dateAdjustment" : {
              "type" : "string",
              "description" : "Defines the behavior when recurring payment dates falls on a weekend or bank holiday. The payment is then executed either the 'preceding' or 'following' working day. ASPSP might reject the request due to the communicated value, if rules in Online-Banking are not supporting this execution rule.",
              "minLength" : 0,
              "maxLength" : 22
            },
            "busDayCentres" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "portfolioId" : {
              "type" : "string",
              "description" : "Id of the portfolio or security account",
              "minLength" : 0,
              "maxLength" : 22
            },
            "inactiveMonths" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "accountingCompany" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 22
            },
            "referalCode" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "baseDateKey" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 22
            },
            "Restriction" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 11,
              "enum" : [ "Reason for Posting Restrict" ]
            },
            "blockingCode1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 20,
              "enum" : [ "Reason for Posting Restrict" ]
            },
            "blockingReason11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "startDate1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "expiryDate1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "unblockingReason" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 20
            },
            "unblockingReason11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            }
          }
        },
        "messaging" : {
          "type" : "object",
          "properties" : {
            "advice1" : {
              "type" : "string",
              "minLength" : 0
            },
            "activityClass1" : {
              "type" : "string",
              "minLength" : 0
            },
            "activityId1" : {
              "type" : "string",
              "minLength" : 0
            },
            "role11" : {
              "type" : "string",
              "minLength" : 0
            },
            "msgContent1" : {
              "type" : "string",
              "minLength" : 0
            },
            "sendAdvice1" : {
              "type" : "string",
              "minLength" : 0
            },
            "preNotice" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 12
            },
            "preNoticeDays1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "activityCharges" : {
          "type" : "object",
          "properties" : {
            "appPeriod11" : {
              "type" : "string",
              "minLength" : 0
            },
            "appMethod11" : {
              "type" : "string",
              "minLength" : 0
            },
            "chargeAutoSettle11" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "alerts" : {
          "type" : "object",
          "properties" : {
            "event1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "field11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "operand11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "value11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            }
          }
        },
        "dormancyfees" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "servicechg" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "nsffees" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "nsfreversalfees" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "estmtcheckfrimg" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "estmtcheckonly" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "estmtnoimage" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "estmtwithimage" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "stmtcheckfrimg" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
[...]
