{
  "swagger": "2.0",
  "info": {
    "description": "API to retrieve currency positions based on open and closed contracts",
    "version": "v1.0.0",
    "title": "Treasury currency positions"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/holdings/currency/positions": {
      "get": {
        "summary": "Retrieves currency positions",
        "description": "Retrieves forex positions by currency and provides a break-up of closed positions(asset and liability position) and open positions(spot and forward position). It also arrives at the net currency position across each currency.",
        "operationId": "getCurrencyPositions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Indicates the type of currency to which the account belongs",
            "required": false,
            "type": "string"
          },
          {
            "name": "dealerDesk",
            "in": "query",
            "description": "The dealer/desk responsible for monitoring and managing the currency positions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "CurrencyPositionsResponse",
            "schema": {
              "$ref": "#/definitions/CurrencyPositionsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/currency/{currencyId}/calendarPositions": {
      "get": {
        "summary": "Retrieves currency positions",
        "description": "Retrieves forex positions by currency,provides a break-up of closed positions(asset and liability position) and open positions(spot and forward position) and arranges them according to effective dates.",
        "operationId": "getCurrencyCalendarPositions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "currencyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Indicates the type of currency to which the account belongs",
            "required": false,
            "type": "string"
          },
          {
            "name": "dealerDesk",
            "in": "query",
            "description": "The dealer/desk responsible for monitoring and managing the currency positions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "CurrencyCalendarPositionsResponse",
            "schema": {
              "$ref": "#/definitions/CurrencyCalendarPositionsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "CurrencyPositionsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/CurrencyPositionsResponseBody"
        }
      },
      "description": "CurrencyPositionsResponse"
    },
    "CurrencyPositionsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Indicates the type of currency to which the account belongs"
          },
          "assetLiabilityPosition": {
            "type": "number",
            "description": "Foreign currency position corresponding to the assets and liabilities."
          },
          "spotPosition": {
            "type": "number",
            "description": "Currency position corresponding to spot period."
          },
          "forwardPosition": {
            "type": "number",
            "description": "Currency position with value date greater than spot."
          },
          "netPosition": {
            "type": "number",
            "description": "Net of buy and sell positions."
          },
          "unauthAssetLiabilityPosition": {
            "type": "number",
            "description": "Amount of asset and liability position represented by transactions which were left in unauthorised status."
          }
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message "
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description": "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message for bad requests"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description": "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message caused by server"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    },
    "CurrencyCalendarPositionsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/CurrencyCalendarPositionsResponseBody"
        }
      },
      "description": "CurrencyCalendarPositionsResponse"
    },
    "CurrencyCalendarPositionsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "spotDate": {
            "type": "string",
            "format": "date",
            "description": "The Spot date. Spot in general refers to today plus two working days.  "
          },
          "assetLiabilityPosition": {
            "type": "number",
            "description": "Foreign currency position corresponding to the assets and liabilities."
          },
          "unauthorizedPosition": {
            "type": "number",
            "description": "The position amount represented by transactions which are in unauthorised status."
          },
          "spotPosition": {
            "type": "number",
            "description": "Currency position corresponding to spot period."
          },
          "forwardPosition": {
            "type": "number",
            "description": "Currency position with value date greater than spot."
          }
        }
      }
    }
  }
}