{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows to view the REPO/RESO positions and position movements",
    "version" : "v1.0.0",
    "title" : "Holdings REPO and RESO APIs"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/instruments/repurchaseAgreements/positions" : {
      "get" : {
        "summary" : "Allows to view the Repurchase Agreement Positions",
        "description" : "Allows to view the Repurchase Agreement Position details which can be filtered by positionId/portfolioId/instrumentId/depositoryId/quantity to view the specific details",
        "operationId" : "getREPOPosition",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "positionId",
          "in" : "query",
          "description" : "Key or Identifier of the Portfolio Position",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "portfolioId",
          "in" : "query",
          "description" : "Identifier of the portfolio or security account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "instrumentId",
          "in" : "query",
          "description" : "The identifier of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "depositoryId",
          "in" : "query",
          "description" : "Id of the securities depository.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "quantity",
          "in" : "query",
          "description" : "The nominal quantity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "REPOPositionResponse",
            "schema" : {
              "$ref" : "#/definitions/REPOPositionResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/instruments/reverseRepurchaseAgreements/positions" : {
      "get" : {
        "summary" : "Allows to view the Reverse Repurchase Agreement Positions",
        "description" : "Allows to view the Reverse Repurchase Agreement Position details which can be filtered by positionId/portfolioId/instrumentId/depositoryId/quantity to view the specific details",
        "operationId" : "getRESOPosition",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "positionId",
          "in" : "query",
          "description" : "Key or Identifier of the Portfolio Position",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "portfolioId",
          "in" : "query",
          "description" : "Id of the portfolio or security account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "instrumentId",
          "in" : "query",
          "description" : "The identifier of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "depositoryId",
          "in" : "query",
          "description" : "Id of the securities depository.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "quantity",
          "in" : "query",
          "description" : "The nominal quantity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "RESOPositionResponse",
            "schema" : {
              "$ref" : "#/definitions/RESOPositionResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/instruments/repurchaseAgreements/positionMovements" : {
      "get" : {
        "summary" : "Allows to view the Repurchase Agreement Position Movements",
        "description" : "Allows to view the Repurchase Agreement Position Movements which can be filtered by positionId/portfolioId/instrumentId/depositoryId to view the specific details",
        "operationId" : "getREPOPositionMovements",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "positionId",
          "in" : "query",
          "description" : "Key or Identifier of the Portfolio Position",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "portfolioId",
          "in" : "query",
          "description" : "Id of the portfolio or security account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "instrumentId",
          "in" : "query",
          "description" : "The identifier of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "depositoryId",
          "in" : "query",
          "description" : "Id of the securities depository.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "REPOPositionMovementsResponse",
            "schema" : {
              "$ref" : "#/definitions/REPOPositionMovementsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/instruments/reverseRepurchaseAgreements/positionMovements" : {
      "get" : {
        "summary" : "Allows to view the Reverse Repurchase Agreement Position Movements",
        "description" : "Allows to view the Reverse Repurchase Agreement Position Movements which can be filtered by positionId/portfolioId/instrumentId/depositoryId to view the specific details",
        "operationId" : "getRESOPositionMovements",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "positionId",
          "in" : "query",
          "description" : "Key or Identifier of the Portfolio Position",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "portfolioId",
          "in" : "query",
          "description" : "Id of the portfolio or security account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "instrumentId",
          "in" : "query",
          "description" : "The identifier of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "depositoryId",
          "in" : "query",
          "description" : "Id of the securities depository.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "RESOPositionMovementsResponse",
            "schema" : {
              "$ref" : "#/definitions/RESOPositionMovementsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "REPOPositionResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/REPOPositionResponseBody"
        }
      },
      "description" : "REPOPositionResponse"
    },
    "REPOPositionResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "positionId" : {
            "type" : "string",
            "description" : "Key or Identifier of the Portfolio Position",
            "maxLength" : 25
          },
          "portfolioId" : {
            "type" : "string",
            "description" : "Id of the portfolio or security account",
            "maxLength" : 14
          },
          "instrumentId" : {
            "type" : "string",
            "description" : "The identifier of the instrument",
            "maxLength" : 12
          },
          "depositoryId" : {
            "type" : "string",
            "description" : "Id of the securities depository.",
            "maxLength" : 10
          },
          "quantity" : {
            "type" : "number",
            "description" : "The nominal quantity"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    },
    "RESOPositionResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/RESOPositionResponseBody"
        }
      },
      "description" : "RESOPositionResponse"
    },
    "RESOPositionResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "positionId" : {
            "type" : "string",
            "description" : "Key or Identifier of the Portfolio Position",
            "maxLength" : 25
          },
          "portfolioId" : {
            "type" : "string",
            "description" : "Id of the portfolio or security account",
            "maxLength" : 14
          },
          "instrumentId" : {
            "type" : "string",
            "description" : "The identifier of the instrument",
            "maxLength" : 12
          },
          "depositoryId" : {
            "type" : "string",
            "description" : "Id of the securities depository.",
            "maxLength" : 10
          },
          "quantity" : {
            "type" : "number",
            "description" : "The nominal quantity"
          }
        }
      }
    },
    "REPOPositionMovementsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/REPOPositionMovementsResponseBody"
        }
      },
      "description" : "REPOPositionMovementsResponse"
    },
    "REPOPositionMovementsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "contractId" : {
            "type" : "string",
            "description" : "The identifier of the contract",
            "maxLength" : 30
          },
          "portfolioId" : {
            "type" : "string",
            "description" : "Id of the portfolio or security account",
            "maxLength" : 14
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
            "maxLength" : 3
          },
          "tradeDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Standard date field which records trade date of the account"
          },
          "repurchaseDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Repurchase date of the REPO contract"
          },
          "quantity" : {
            "type" : "number",
            "description" : "The nominal quantity"
          },
          "counterpartyId" : {
            "type" : "string",
            "description" : "The identifier of the counter party",
            "maxLength" : 16
          }
        }
      }
    },
    "RESOPositionMovementsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/RESOPositionMovementsResponseBody"
        }
      },
      "description" : "RESOPositionMovementsResponse"
    },
    "RESOPositionMovementsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "contractId" : {
            "type" : "string",
            "description" : "The identifier of the contract",
            "maxLength" : 30
          },
          "portfolioId" : {
            "type" : "string",
            "description" : "Id of the portfolio or security account",
            "maxLength" : 14
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
            "maxLength" : 3
          },
          "tradeDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Standard date field which records trade date of the account"
          },
          "repurchaseDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Repurchase date of the REPO contract"
          },
          "quantity" : {
            "type" : "number",
            "description" : "The nominal quantity"
          },
          "counterpartyId" : {
            "type" : "string",
            "description" : "The identifier of the counter party",
            "maxLength" : 14
          }
        }
      }
    }
  }
}