{
  "swagger" : "2.0",
  "info" : {
    "description" : "APIs to create, update deposit, change deposit product, retreive deposit summary and overview,  statement addresses and list of term deposits available for a customer",
    "version" : "v1.0.0",
    "title" : "Service APIs for updating and retrieving deposit information"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/us/deposits/termDeposits" : {
      "post" : {
        "summary" : "Create a new term deposit account",
        "description" : "Create a new term deposit account",
        "operationId" : "createUsDepositsAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UsDepositsAccount"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createUsDepositsAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/UsDepositsAccountResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/deposits/{accountId}/termDeposit" : {
      "put" : {
        "summary" : "Update term deposits account information, customer and ownership information, term, payment schedule, renewal and maturity information, settlement accounts, charges etc,.",
        "description" : "Update term deposit",
        "operationId" : "updateUsDepositsAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UsDepositsAccount1"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateUsDepositsAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/UsDepositsAccountResponse1"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/us/deposit/{accountId}/depositOverview" : {
      "get" : {
        "summary" : "API to view deposit details, balances, interest earned, APY, etc,.",
        "description" : "Deposit Overview",
        "operationId" : "getUsDepositOverview",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UsDepositOverviewResponse",
            "schema" : {
              "$ref" : "#/definitions/UsDepositOverviewResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "UsDepositsAccount" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsDepositsAccountBody"
        }
      },
      "description" : "UsDepositsAccount"
    },
    "UsDepositsAccountBody" : {
      "type" : "object",
      "properties" : {
        "customerIds" : {
          "type" : "array",
          "description" : "Identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "properties" : {
          "type" : "array",
          "description" : "Input is the valid field name for the metrics evaluation of alerts",
          "items" : {
            "type" : "object",
            "properties" : {
              "propertyId" : {
                "type" : "string",
                "description" : "The identifier of the product condition",
                "minLength" : 0,
                "maxLength" : 30
              },
              "fields" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fieldName" : {
                      "type" : "string",
                      "description" : "The name of the field",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "fieldValue" : {
                      "type" : "string",
                      "description" : "Value of the field",
                      "minLength" : 0,
                      "maxLength" : 100
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "masterArrangementId" : {
          "type" : "string",
          "description" : "The unique identifier to specify an arrangement reference which is act as a Master for the arrangement being created.",
          "minLength" : 0,
          "maxLength" : 20
        },
        "roleName" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date on which the principal movement is effected"
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "minLength" : 0,
          "maxLength" : 80
        },
        "transactionAmount" : {
          "type" : "number",
          "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
          "minimum" : 0,
          "maximum" : 17
        },
        "account" : {
          "type" : "object",
          "properties" : {
            "accountTitle" : {
              "type" : "string",
              "description" : "Short title on an account",
              "minLength" : 0,
              "maxLength" : 18
            },
            "accountTitle2" : {
              "type" : "string",
              "description" : "Title line 2 that will appear in notice and statements",
              "minLength" : 0,
              "maxLength" : 18
            },
            "shortTitle" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "altId1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Mnemonic" : {
              "type" : "string",
              "description" : "Shortcut code for referring an Entity/Company/Branch.",
              "minLength" : 0,
              "maxLength" : 18
            },
            "accountReference" : {
              "type" : "string",
              "description" : "Account Reference of the error account",
              "minLength" : 0,
              "maxLength" : 18
            },
            "customerReference" : {
              "type" : "string",
              "description" : "The reference which is provided to the beneficiary/ creditor by the originator of payment",
              "minLength" : 0,
              "maxLength" : 18
            },
            "originationRef" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "Category" : {
              "type" : "string",
              "description" : "Indicates the account or contract product name. For example for an account this maybe current, savings etc.",
              "minLength" : 0,
              "maxLength" : 18
            },
            "postingRestrict" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 22
            },
            "baseDateType" : {
              "type" : "string",
              "description" : "Defines if anniversaryDate or start date is based on account creation or once disbursement is done. Allowed values are ARRANGEMENT and DISBURSEMENT. ARRANGEMENT indicates that account start period is considered as arrangement creation time. If set as DISBURSEMENT the account start period is based on disbursement activity date",
              "minLength" : 0,
              "maxLength" : 18
            },
            "Anniversary" : {
              "type" : "string",
              "description" : "The start or end period defined in MMDD format to indicate the period when charge rules has to be applied",
              "minLength" : 0,
              "maxLength" : 22
            },
            "dateConvention" : {
              "type" : "string",
              "description" : "Indicates how the schedule date has to be adjusted when the schedule falls on a holiday. Allowed values are BACKWARD, FORWARD, FORWARD SAME MONTH or CALENDAR.",
              "minLength" : 0,
              "maxLength" : 18
            },
            "dateAdjustment" : {
              "type" : "string",
              "description" : "Defines the behavior when recurring payment dates falls on a weekend or bank holiday. The payment is then executed either the 'preceding' or 'following' working day. ASPSP might reject the request due to the communicated value, if rules in Online-Banking are not supporting this execution rule.",
              "minLength" : 0,
              "maxLength" : 22
            },
            "busDayCentres" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "portfolioId" : {
              "type" : "string",
              "description" : "Id of the portfolio or security account",
              "minLength" : 0,
              "maxLength" : 22
            },
            "inactiveMonths" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "accountingCompany" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 22
            },
            "referalCode" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "baseDateKey" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 22
            },
            "Restriction" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 11,
              "enum" : [ "Reason for Posting Restrict" ]
            },
            "blockingCode1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 20,
              "enum" : [ "Reason for Posting Restrict" ]
            },
            "blockingReason11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "startDate1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "expiryDate1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "unblockingReason" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 20
            },
            "unblockingReason11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            }
          }
        },
        "balanceMaintenance" : {
          "type" : "object",
          "properties" : {
            "adjustmentDescription" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 29
            },
            "netAdjustmentAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 29
            },
            "adjustmentDifferenceAccount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 29
            },
            "adjustProperty" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 15
            },
            "adjustBalanceType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 23
            },
            "originalBalanceAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 23
            },
            "newBalanceAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 23
            },
            "adjustmentAmount" : {
              "type" : "string",
              "description" : "Indicates the adjusted interest amount",
              "minLength" : 0,
              "maxLength" : 23
            },
            "writeOff" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 23
            },
            "writeOffAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 23
            },
            "billReference" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 15
            },
            "originalBillAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "outstandingBillAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "newBillAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "delinquentBillAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "writeOffBill" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "billAdjustmentNarrative" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "billDate" : {
              "type" : "string",
              "description" : "Indicates a date on which a bill has been raised",
              "minLength" : 0,
              "maxLength" : 25
            },
            "paymentDate" : {
              "type" : "string",
              "description" : "The date on which a payment is due",
              "minLength" : 0,
              "maxLength" : 25
            },
            "billType" : {
              "type" : "string",
              "description" : "The type of payment obligation generated",
              "minLength" : 0,
              "maxLength" : 25
            },
            "paymentType" : {
              "type" : "string",
              "description" : "Indicates if the payment is Customer (C) type or Bank (B) type",
              "minLength" : 0,
              "maxLength" : 25
            },
            "paymentMethod" : {
              "type" : "string",
              "description" : "Method chosen to make the payment",
              "minLength" : 0,
              "maxLength" : 25
            },
            "paymentAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "Property" : {
              "type" : "string",
              "description" : "Id of the product property",
              "minLength" : 0,
              "maxLength" : 25
            },
            "writeOffBillProperty" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 27
            },
            "originalPropertyAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 27
            },
            "outstandingPropertyAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 27
            },
            "newPropertyAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 27
            },
            "adjustedPropertyAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 27
            }
          }
        },
        "customer" : {
          "type" : "object",
          "properties" : {
            "Customer" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "taxLiabilityPerc1" : {
              "type" : "string",
              "description" : "Tax liability percentage of the customer",
              "minLength" : 0
            },
            "limitAllocPerc1" : {
              "type" : "string",
              "description" : "Percentage of limit allocated to the customer out of overall limit",
              "minLength" : 0
            },
            "glAllocPerc1" : {
              "type" : "string",
              "description" : "GL allocation percentage of the customer",
              "minLength" : 0
            },
            "jsLiable" : {
              "type" : "string",
              "description" : "Joint & Severally Liable",
              "minLength" : 0,
              "maxLength" : 9,
              "enum" : [ "Joint & Severally Liable" ]
            },
            "includeInCraOf" : {
              "type" : "string",
              "description" : "CRA of the customer",
              "minLength" : 0,
              "maxLength" : 17,
              "enum" : [ "Include in CRA of" ]
            }
          }
        },
        "prDeposit" : {
          "type" : "object",
          "properties" : {
            "financialStatus" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "applicationType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "applicationOrder" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "propertySequence" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "property11" : {
              "type" : "string",
              "minLength" : 0
            },
            "propApplType11" : {
              "type" : "string",
              "minLength" : 0
            },
            "remainderActivity" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "makeBillDue" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            }
          }
        },
        "prCurrentBalances" : {
          "type" : "object",
          "properties" : {
            "financialStatus" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "applicationType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "applicationOrder" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "propertySequence" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "property11" : {
              "type" : "string",
              "minLength" : 0
            },
            "propApplType11" : {
              "type" : "string",
              "minLength" : 0
            },
            "remainderActivity" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "makeBillDue" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            }
          }
        },
        "schedule" : {
          "type" : "object",
          "properties" : {
            "amortisationTerm" : {
              "type" : "string",
              "description" : "Indicates the amortisation term. When specified, the repayment amount is calculated based on the amortisation term insteam of the account term. When the amortisation term is less than account term, there will be a residual amount to be paid at the maturity.",
              "minLength" : 0,
              "maxLength" : 17
            },
            "residualAmount" : {
              "type" : "string",
              "description" : "The amount to be paid at the maturity date",
              "minLength" : 0,
              "maxLength" : 17
            },
            "Payment" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 7
            },
            "paymentMethod1" : {
              "type" : "string",
              "minLength" : 0
            },
            "paymentFreq1" : {
              "type" : "string",
              "minLength" : 0
            },
            "property11" : {
              "type" : "string",
              "minLength" : 0
            },
            "dueFreq11" : {
              "type" : "string",
              "minLength" : 0
            },
            "percentage11" : {
              "type" : "string",
              "minLength" : 0
            },
            "startDate11" : {
              "type" : "string",
              "minLength" : 0
            },
            "endDate11" : {
              "type" : "string",
              "minLength" : 0
            },
            "numPayments11" : {
              "type" : "string",
              "minLength" : 0
            },
            "actualAmt11" : {
              "type" : "string",
              "minLength" : 0
            },
            "billType1" : {
              "type" : "string",
              "minLength" : 0
            },
            "billProduced1" : {
              "type" : "string",
              "minLength" : 0
            },
            "issueBill1" : {
              "type" : "string",
              "minLength" : 0
            },
            "deferPeriod1" : {
              "type" : "string",
              "minLength" : 0
            },
            "minimumPayment" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "groupMinAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "groupMinProperty11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 1
            },
            "combineBills" : {
              "type" : "string",
              "description" : "Indicates if bills of same due date and same pament method(DUE or CAPITALISE) should be combined",
              "minLength" : 0,
              "maxLength" : 26
            },
            "holidayRestrictType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "holidayRestrictItem" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 26
            },
            "recalcFrequency" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "periodicAttribute" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "repaymentHolidayLimit" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 26
            },
            "includeFutureDisbursement" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 27,
              "enum" : [ "Include Future Disbursements" ]
            }
          }
        },
        "commitment" : {
          "type" : "object",
          "properties" : {
            "Amount" : {
              "type" : "string",
              "description" : "This is the payment amount",
              "minLength" : 0,
              "maxLength" : 18
            },
            "changeAmount" : {
              "type" : "string",
              "description" : "Indicates the amount by which the original commitment amount increased or decreased.",
              "minLength" : 0,
              "maxLength" : 19
            },
            "Term" : {
              "type" : "string",
              "description" : "Indicates the term for which the contract is booked",
              "minLength" : 0,
              "maxLength" : 18
            },
            "maturityDate" : {
              "type" : "string",
              "description" : "Indicates maturity date of the contract",
              "minLength" : 0,
              "maxLength" : 19
            },
            "Revolving" : {
              "type" : "string",
              "description" : "Indicates if commitment is revolving or non revolving in nature",
              "minLength" : 0,
              "maxLength" : 18
            },
            "updateLimit" : {
              "type" : "string",
              "description" : "Flag to define if the limits are to be booked or not at the time of issuing the pre-advice LC. Allowed values: - YES - NO (same as null) - null (default).",
              "minLength" : 0,
              "maxLength" : 19
            },
            "coolingPeriod" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "cancelPeriod" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 19
            },
            "onMaturity" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "Tranches" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 8,
              "enum" : [ "Specifies Tranches Defined For Arrangement" ]
            },
            "trancheStartDate1" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Tranche Number" ]
            },
            "trancheEndDate1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 15,
              "enum" : [ "Tranche End Date" ]
            },
            "trancheAmount1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 15,
              "enum" : [ "Tranche Amount" ]
            }
          }
        },
        "depositint" : {
          "type" : "object",
          "properties" : {
            "Fixed" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "Spread" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "Margin" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            },
            "marginOper11" : {
              "type" : "string",
              "minLength" : 0
            },
            "marginRate11" : {
              "type" : "string",
              "minLength" : 0
            },
            "minMaxRate" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierMaxRate1" : {
              "type" : "string",
              "minLength" : 0
            },
            "effectiveRate" : {
              "type" : "string",
              "description" : "The actual interest rate for the account at this point in time.",
              "minLength" : 0,
              "maxLength" : 14
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "negativeRate" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 13
            },
            "or_" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "Tiers" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "prAttribute1" : {
              "type" : "string",
              "minLength" : 0
            },
            "prValue1" : {
              "type" : "string",
              "minLength" : 0
            },
            "linkedArrangement" : {
              "type" : "string",
              "description" : "The account which is linked for calculating interest that should be applied to this account",
              "minLength" : 0,
              "maxLength" : 18
            },
            "linkedProperty" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 15
            },
            "periodicIndex1" : {
              "type" : "string",
              "minLength" : 0
            },
            "periodicRate1" : {
              "type" : "string",
              "minLength" : 0
            },
            "usagePercent1" : {
              "type" : "string",
              "minLength" : 0
            },
            "periodicPeriodType1" : {
              "type" : "string",
              "minLength" : 0
            },
            "periodicPeriod1" : {
              "type" : "string",
              "minLength" : 0
            },
            "periodicMethod1" : {
              "type" : "string",
              "minLength" : 0
            },
            "initialResetDate1" : {
              "type" : "string",
              "minLength" : 0
            },
            "periodicReset1" : {
              "type" : "string",
              "minLength" : 0
            },
            "marginType11" : {
              "type" : "string",
              "minLength" : 0
            },
            "effectiveRate1" : {
              "type" : "string",
              "minLength" : 0
            },
            "tierNegativeRate1" : {
              "type" : "string",
              "minLength" : 0
            },
            "dayBasis" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "calcThreshold" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 23
            },
            "accrualRule" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "Compounding" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "compoundYieldMethod" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 23
            },
            "onActivity" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "Recalculate" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 23
            },
            "minIntAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "minIntWaive" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 23
            },
            "referLimit" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "suppressAccrual" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 18
            },
            "customType1" : {
              "type" : "string",
              "minLength" : 0
            },
            "customName1" : {
              "type" : "string",
              "minLength" : 0
            },
            "customValue1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "renewal" : {
          "type" : "object",
          "properties" : {
            "renewalDateType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 17
            },
            "renewalPeriod" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 17
            },
            "renewalDate" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 17
            },
            "renewalActivity" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 17
            },
            "priorDays" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 17
            },
            "changeToProduct" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 17
            },
            "allowedProduct" : {
              "type" : "string",
              "description" : "Product or products allowed to be used within the product bundle.",
              "minLength" : 0,
              "maxLength" : 17
            },
            "Initiation" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 17
            },
            "defaultActivity" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 17
            }
          }
        },
        "messaging" : {
          "type" : "object",
          "properties" : {
            "advice1" : {
              "type" : "string",
              "minLength" : 0
            },
            "activityClass1" : {
              "type" : "string",
              "minLength" : 0
            },
            "activityId1" : {
              "type" : "string",
              "minLength" : 0
            },
            "role11" : {
              "type" : "string",
              "minLength" : 0
            },
            "msgContent1" : {
              "type" : "string",
              "minLength" : 0
            },
            "sendAdvice1" : {
              "type" : "string",
              "minLength" : 0
            },
            "preNotice" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 12
            },
            "preNoticeDays1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "arrangementRules" : {
          "type" : "object",
          "properties" : {
            "rule" : {
              "type" : "string",
              "description" : "A rule is assigned to a product and the rule determines whether a customer can buy that product or hold it after changes in circumstance.",
              "minLength" : 0,
              "maxLength" : 6
            },
            "periodicAttribute1" : {
              "type" : "string",
              "minLength" : 0
            },
            "ruleActivityClass11" : {
              "type" : "string",
              "minLength" : 0
            },
            "ruleActivityId11" : {
              "type" : "string",
              "minLength" : 0
            },
            "balanceType1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 1
            },
            "periodicValue1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 1
            },
            "activityClass11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "activityId11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "restrict1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "ruleId11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "restrictType11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "overrideErrorId" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 24
            },
            "restrictError11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "chargePeriodMethod" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 24
            },
            "appPeriod11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "appMethod11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "propertyId1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "propertyRuleName11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "evaluation1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "evaluationResult1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "altPropertyId1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            }
          }
        },
        "productRules" : {
          "type" : "object",
          "properties" : {
            "rule" : {
              "type" : "string",
              "description" : "A rule is assigned to a product and the rule determines whether a customer can buy that product or hold it after changes in circumstance.",
              "minLength" : 0,
              "maxLength" : 6
            },
            "periodicAttribute1" : {
              "type" : "string",
              "minLength" : 0
            },
            "ruleActivityClass11" : {
              "type" : "string",
              "minLength" : 0
            },
            "ruleActivityId11" : {
              "type" : "string",
              "minLength" : 0
            },
            "balanceType1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 1
            },
            "periodicValue1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 1
            },
            "activityClass11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "activityId11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "restrict1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "ruleId11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "restrictType11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "overrideErrorId" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 24
            },
            "restrictError11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "chargePeriodMethod" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 24
            },
            "appPeriod11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "appMethod11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "propertyId1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "propertyRuleName11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "evaluation1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "evaluationResult1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "altPropertyId1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            }
          }
        },
        "activityCharges" : {
          "type" : "object",
          "properties" : {
            "appPeriod11" : {
              "type" : "string",
              "minLength" : 0
            },
            "appMethod11" : {
              "type" : "string",
              "minLength" : 0
            },
            "chargeAutoSettle11" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "redemptionfee" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "minLength" : 0,
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "minLength" : 0,
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "minLength" : 0,
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Tier" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "minLength" : 0
            },
            "upTo" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingCode" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipProduct" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipVariation" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipPercentage" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "relationshipAmount" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "officers" : {
          "type" : "object",
          "properties" : {
            "primaryOfficer" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 19
            },
            "otherOfficer" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 19
            },
            "Role" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 19
            },
            "Notes" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 19
            }
          }
        },
        "closure" : {
          "type" : "object",
          "properties" : {
            "closureType" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 16
            },
            "closurePeriod" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 16
            },
            "closureMethod" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 16
            },
            "postingRestrict" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 16
            },
            "deferClosurePeriod" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 20
            },
            "closureActivity" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 16
            }
          }
        },
        "alerts" : {
          "type" : "object",
          "properties" : {
            "event1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "field11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "operand11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "value11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            }
          }
        },
        "tax" : {
          "type" : "object",
          "properties" : {
            "propertyClass" : {
              "type" : "string",
              "description" : "Condition that is used to build a product",
              "minLength" : 0,
              "maxLength" : 14
            },
            "taxCode11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "taxCondition11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "Property" : {
              "type" : "string",
              "description" : "Id of the product property",
              "minLength" : 0,
              "maxLength" : 14
            },
            "propTaxCode11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            },
            "propTaxCond11" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 0
            }
          }
        },
        "periodiccharge" : {
          "type" : "object",
          "properties" : {
            "Debit" : {
              "type" : "string",
              "description" : "Debit value of the transaction ",
              "minLength" : 0,
              "maxLength" : 6
            },
            "maxChgAmount1" : {
              "type" : "string",
              "minLength" : 0
            },
            "Credit" : {
              "type" : "string",
              "description" : "Credit value of the transaction",
              "minLength" : 0,
              "maxLength" : 6
            },
            "maxChgAmountCr1" : {
              "type" : "string",
              "minLength" : 0
            },
            "waiveCharges" : {
              "type" : "string",
              "description" : "Indicates if the charges are to be waived for the instruction",
              "minLength" : 0,
              "maxLength" : 14
            },
            "freeChargeGroup1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 1
            },
            "freeTxnCnt1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 1
            },
            "chargeGroup1" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 1
            },
            "allDeferredCharges" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 21
            }
          }
        },
        "reporting" : {
          "type" : "object",
          "properties" : {
            "ifrsClassification" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25,
              "enum" : [ "Indicates the IFRS category" ]
            },
            "ifrsSubtype" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25,
              "enum" : [ "Indicates the IFRS subtype" ]
            },
            "marketKey" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25,
              "enum" : [ "Indicates a valid PI key or a market rate" ]
            },
            "marketMargin" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25,
              "enum" : [ "Indicates the margin on the market rate" ]
            },
            "marketOperand" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25,
              "enum" : [ "Denotes the operand for the market margin" ]
            },
            "activityName" : {
              "type" : "string",
              "description" : "Id of the selected activity",
              "minLength" : 0,
              "maxLength" : 25
            },
            "cashFlow" : {
              "type" : "string",
              "description" : "Cash movement (in or out) from the institution. ",
              "minLength" : 0,
              "maxLength" : 25
            },
            "Property" : {
              "type" : "string",
              "description" : "Id of the product property",
              "minLength" : 0,
              "maxLength" : 25
            },
            "excludeEir" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "aprType1" : {
              "type" : "string",
              "minLength" : 0
            },
            "excludeProperty11" : {
              "type" : "string",
              "minLength" : 0
            },
            "linkedIntProperty1" : {
              "type" : "string",
              "minLength" : 0
            }
          }
        },
        "settlement" : {
          "type" : "object",
          "properties" : {
            "payinSettlement1" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payin Settlement" ]
            },
            "ddMandateRef11" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "DD Mandate Ref" ]
            },
            "payinAccount11" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payin Account" ]
            },
            "payinBeneficiary11" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payin Beneficiary" ]
            },
            "payinPercentage11" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payin Percentage" ]
            },
            "payinAmount11" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payin Amount" ]
            },
            "payoutSettlement1" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payout Settlement" ]
            },
            "payoutAccount11" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payout Account" ]
            },
            "payoutBeneficiary11" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payout Beneficiary" ]
            },
            "payoutPercentage11" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payout Percentage" ]
            },
            "payoutAmount11" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payout Amount" ]
            },
            "paymentType11" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payment Type" ]
            },
            "payinPoProduct11" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payin Product" ]
            },
            "payinActivity11" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payin Activity" ]
            },
            "payinAcDbRule1" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payin Account Debit Rule" ]
            },
            "payinSettleActivity1" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payin Settle Activity" ]
            },
            "payinRcType1" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payin RC Type" ]
            },
            "payinRcCondition1" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payin RC Condition" ]
            },
            "defaultSettlementAccount" : {
              "type" : "string",
              "description" : "Default settlement account to be used for all incoming payments and outgoing settlements when a specific settlement account is not provided for each payment type.",
              "minLength" : 0,
              "maxLength" : 26,
              "enum" : [ "Default Settlement Account" ]
            },
            "payoutPptyClass11" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Property Class" ]
            },
            "payoutProperty11" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payout Property" ]
            },
            "payoutPoProduct11" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payout Product" ]
            },
            "payoutActivity11" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payout Activity" ]
            },
            "payoutAcCrRule1" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payout Account Credit Rule" ]
            },
            "payoutSettleActivity1" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payout Settle Activity" ]
            },
            "payoutRcType1" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payout RC Type" ]
            },
            "payoutRcCondition1" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Payout RC Condition" ]
            }
          }
        },
        "prefpricing" : {
          "type" : "object",
          "properties" : {
            "Method" : {
              "type" : "string",
              "description" : "A pricing plan can be applied to an account, the selection is automatic or manual",
              "minLength" : 0,
              "maxLength" : 9
            },
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "minLength" : 0,
              "maxLength" : 9
            }
          }
        },
        "dormancy" : {
          "type" : "object",
          "properties" : {
            "status1" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Dormancy Status" ]
            },
            "period1" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Period since last updated status" ]
            },
            "autoResetStatus1" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Auto Rest status" ]
            },
            "noticeDays1" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Number of days after corresponding status" ]
            },
            "noticeFreq1" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Frequency for Notice" ]
            },
            "chargeFrequency1" : {
              "type" : "string",
              "minLength" : 0,
              "enum" : [ "Frequency for Charge" ]
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "UsDepositsAccountResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UsDepositsAccountResponseBody"
        }
      },
      "description" : "UsDepositsAccountResponse"
    },
    "UsDepositsAccountResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "customerIds" : {
              "type" : "array",
              "description" : "Identifier of the customer",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "Identifier of the customer",
                    "minLength" : 0,
                    "maxLength" : 10
                  }
                }
              }
            },
            "properties" : {
              "type" : "array",
              "description" : "Input is the valid field name for the metrics evaluation of alerts",
              "items" : {
                "type" : "object",
                "properties" : {
                  "propertyId" : {
                    "type" : "string",
                    "description" : "The identifier of the product condition",
                    "minLength" : 0,
                    "maxLength" : 30
                  },
                  "fields" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "fieldName" : {
                          "type" : "string",
                          "description" : "The name of the field",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "fieldValue" : {
                          "type" : "string",
                          "description" : "Value of the field",
                          "minLength" : 0,
                          "maxLength" : 100
                        }
                      }
                    }
                  }
                }
              }
            },
            "overrides" : {
              "type" : "array",
              "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "override" : {
                    "type" : "string",
                    "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                    "minLength" : 0,
                    "maxLength" : 35
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "Indicates an unique identifier of an account",
              "minLength" : 0,
              "maxLength" : 20
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
              "minLength" : 0,
              "maxLength" : 30
            },
            "masterArrangementId" : {
              "type" : "string",
              "description" : "The unique identifier to specify an arrangement reference which is act as a Master for the arrangement being created.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "roleName" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 35
            },
            "currencyId" : {
              "type" : "string",
              "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
              "minLength" : 0,
              "maxLength" : 10
            },
            "effectiveDate" : {
              "type" : "string",
              "format" : "date",
              "description" : "The date on which the principal movement is effected"
            },
            "activityId" : {
              "type" : "string",
              "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 80
            },
            "transactionAmount" : {
              "type" : "number",
              "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
              "minimum" : 0,
              "maximum" : 17
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "account" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "accountTitle" : {
                      "type" : "string",
                      "description" : "Short title on an account",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "accountTitle2" : {
                      "type" : "string",
                      "description" : "Title line 2 that will appear in notice and statements",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "shortTitle" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "altId1" : {
                      "type" : "string",
                      "minLength" : 0
                    },
                    "Mnemonic" : {
                      "type" : "string",
                      "description" : "Shortcut code for referring an Entity/Company/Branch.",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "accountReference" : {
                      "type" : "string",
                      "description" : "Account Reference of the error account",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "customerReference" : {
                      "type" : "string",
                      "description" : "The reference which is provided to the beneficiary/ creditor by the originator of payment",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "originationRef" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "Category" : {
                      "type" : "string",
                      "description" : "Indicates the account or contract product name. For example for an account this maybe current, savings etc.",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "postingRestrict" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "baseDateType" : {
                      "type" : "string",
                      "description" : "Defines if anniversaryDate or start date is based on account creation or once disbursement is done. Allowed values are ARRANGEMENT and DISBURSEMENT. ARRANGEMENT indicates that account start period is considered as arrangement creation time. If set as DISBURSEMENT the account start period is based on disbursement activity date",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "Anniversary" : {
                      "type" : "string",
                      "description" : "The start or end period defined in MMDD format to indicate the period when charge rules has to be applied",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "dateConvention" : {
                      "type" : "string",
                      "description" : "Indicates how the schedule date has to be adjusted when the schedule falls on a holiday. Allowed values are BACKWARD, FORWARD, FORWARD SAME MONTH or CALENDAR.",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "dateAdjustment" : {
                      "type" : "string",
                      "description" : "Defines the behavior when recurring payment dates falls on a weekend or bank holiday. The payment is then executed either the 'preceding' or 'following' working day. ASPSP might reject the request due to the communicated value, if rules in Online-Banking are not supporting this execution rule.",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "busDayCentres" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "portfolioId" : {
                      "type" : "string",
                      "description" : "Id of the portfolio or security account",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "inactiveMonths" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "accountingCompany" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "referalCode" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "baseDateKey" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "Restriction" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 11,
                      "enum" : [ "Reason for Posting Restrict" ]
                    },
                    "blockingCode1" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 20,
                      "enum" : [ "Reason for Posting Restrict" ]
                    },
                    "blockingReason11" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "startDate1" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 5
                    },
                    "expiryDate1" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 5
                    },
                    "unblockingReason" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "unblockingReason11" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    }
                  }
                }
              }
            },
            "balanceMaintenance" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "adjustmentDescription" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 29
                    },
                    "netAdjustmentAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 29
                    },
                    "adjustmentDifferenceAccount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 29
                    },
                    "adjustProperty" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 15
                    },
                    "adjustBalanceType" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 23
                    },
                    "originalBalanceAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 23
                    },
                    "newBalanceAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 23
                    },
                    "adjustmentAmount" : {
                      "type" : "string",
                      "description" : "Indicates the adjusted interest amount",
                      "minLength" : 0,
                      "maxLength" : 23
                    },
                    "writeOff" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 23
                    },
                    "writeOffAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 23
                    },
                    "billReference" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 15
                    },
                    "originalBillAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "outstandingBillAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "newBillAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "delinquentBillAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "writeOffBill" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "billAdjustmentNarrative" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "billDate" : {
                      "type" : "string",
                      "description" : "Indicates a date on which a bill has been raised",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "paymentDate" : {
                      "type" : "string",
                      "description" : "The date on which a payment is due",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "billType" : {
                      "type" : "string",
                      "description" : "The type of payment obligation generated",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "paymentType" : {
                      "type" : "string",
                      "description" : "Indicates if the payment is Customer (C) type or Bank (B) type",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "paymentMethod" : {
                      "type" : "string",
                      "description" : "Method chosen to make the payment",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "paymentAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "Property" : {
                      "type" : "string",
                      "description" : "Id of the product property",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "writeOffBillProperty" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 27
                    },
                    "originalPropertyAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 27
                    },
                    "outstandingPropertyAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 27
                    },
                    "newPropertyAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 27
                    },
                    "adjustedPropertyAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 27
                    }
                  }
                }
              }
            },
            "customer" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "Customer" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "taxLiabilityPerc1" : {
                      "type" : "string",
                      "description" : "Tax liability percentage of the customer",
                      "minLength" : 0
                    },
                    "limitAllocPerc1" : {
                      "type" : "string",
                      "description" : "Percentage of limit allocated to the customer out of overall limit",
                      "minLength" : 0
                    },
                    "glAllocPerc1" : {
                      "type" : "string",
                      "description" : "GL allocation percentage of the customer",
                      "minLength" : 0
                    },
                    "jsLiable" : {
                      "type" : "string",
                      "description" : "Joint & Severally Liable",
                      "minLength" : 0,
                      "maxLength" : 9,
                      "enum" : [ "Joint & Severally Liable" ]
                    },
                    "includeInCraOf" : {
                      "type" : "string",
                      "description" : "CRA of the customer",
                      "minLength" : 0,
                      "maxLength" : 17,
                      "enum" : [ "Include in CRA of" ]
                    }
                  }
                }
              }
            },
            "prDeposit" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "financialStatus" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "applicationType" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "applicationOrder" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "propertySequence" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "property11" : {
                      "type" : "string",
                      "minLength" : 0
                    },
                    "propApplType11" : {
                      "type" : "string",
                      "minLength" : 0
                    },
                    "remainderActivity" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "makeBillDue" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 18
                    }
                  }
                }
              }
            },
            "prCurrentBalances" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "financialStatus" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "applicationType" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "applicationOrder" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "propertySequence" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "property11" : {
                      "type" : "string",
                      "minLength" : 0
                    },
                    "propApplType11" : {
                      "type" : "string",
                      "minLength" : 0
                    },
                    "remainderActivity" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "makeBillDue" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 18
                    }
                  }
                }
              }
            },
[...]
