{
  "swagger": "2.0",
  "info": {
    "description": "API to retrieve the bundle arrangement details such as events and balances ",
    "version": "v1.0.0",
    "title": "Cash management - Bundle arrangement details"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/holdings/accounts/{arrangementId}/bundleDetails": {
      "get": {
        "summary": "Retrieves the Link Arrangement Details of an account",
        "description": "Retrieves the Link Arrangement Details of an account",
        "operationId": "getLinktArrDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "arrangementId",
            "in": "path",
            "description": "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
            "required": true,
            "type": "string",
            "x-example": "AA19079H0HH6"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "LinktArrDetailsResponse",
            "schema": {
              "$ref": "#/definitions/LinktArrDetailsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/bundles/{bundleId}/exceptions": {
      "get": {
        "summary": "List of account Exceptional in Bundle Hierarchy",
        "description": "List of account Exceptional in Bundle Hierarchy",
        "operationId": "getCashPoolExceptionLog",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bundleId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-example": "AA190797F3N4"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "CashPoolExceptionLogResponse",
            "schema": {
              "$ref": "#/definitions/CashPoolExceptionLogResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/bundles/{bundleId}/accounts": {
      "get": {
        "summary": "Retrieves the account details of a Bundle arrangement",
        "description": "Retrieves the account details of a Bundle arrangement",
        "operationId": "getBundleAccounts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bundleId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-example": "AA190791Z7N2"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "BundleAccountsResponse",
            "schema": {
              "$ref": "#/definitions/BundleAccountsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/bundles/{bundleId}/status": {
      "get": {
        "summary": "Retrieves the History of Bundle hierarchy",
        "description": "Retrieves the History of Bundle hierarchy",
        "operationId": "getBundleHistoryDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bundleId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-example": "AA190791Z7N2"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "BundleHistoryDetailsResponse",
            "schema": {
              "$ref": "#/definitions/BundleHistoryDetailsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/customers/{customerId}/bundles": {
      "get": {
        "summary": "To list the bundle arrangement details and status, events, Go-live dates, etc",
        "description": "To list the bundle arrangement details and status, events, Go-live dates, etc",
        "operationId": "getBundleArrangements",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The identifier of the customer",
            "required": true,
            "type": "string",
            "x-example": "190098"
          },
          {
            "name": "arrangementId",
            "in": "query",
            "description": "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "BundleArrangementsResponse",
            "schema": {
              "$ref": "#/definitions/BundleArrangementsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/bundles/{bundleId}/balances": {
      "get": {
        "summary": "Retrieves the balances of Master/Bundle Arrangement",
        "description": "Retrieves the balances of Master/Bundle Arrangement",
        "operationId": "getBundleBalances",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bundleId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-example": "AA190791Z7N2"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "BundleBalancesResponse",
            "schema": {
              "$ref": "#/definitions/BundleBalancesResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/customers/{customerId}/accounts": {
      "get": {
        "summary": "Retrieves the List of Bundle arrangements of a customer",
        "description": "Retrieves the List of Bundle arrangements of a customer",
        "operationId": "getCustomerBundleAccounts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The identifier of the customer",
            "required": true,
            "type": "string",
            "x-example": "190098"
          },
          {
            "name": "companyCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "CustomerBundleAccountsResponse",
            "schema": {
              "$ref": "#/definitions/CustomerBundleAccountsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/{customerId}/bundles/drafts": {
      "get": {
        "summary": "Retrieves the List of Draft Bundles available for a Customer",
        "description": "Retrieves the List of Draft Bundles available for a Customer",
        "operationId": "getDraftArrangements",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The identifier of the customer",
            "required": true,
            "type": "string",
            "x-example": "190098"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "DraftArrangementsResponse",
            "schema": {
              "$ref": "#/definitions/DraftArrangementsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/{bundleId}/bundles/draftDetails": {
      "get": {
        "summary": "Retrieves the details of the Draft Bundle Account",
        "description": "Retrieves the details of the Draft Bundle Account",
        "operationId": "getDraftBundleList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bundleId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-example": "AA190794VKJP"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "DraftBundleListResponse",
            "schema": {
              "$ref": "#/definitions/DraftBundleListResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/bundles/{bundleId}/currentAccounts": {
      "get": {
        "summary": "To list all the standalone account in relation with the Bundle arrangement customer.List of Non-BN Account list",
        "description": "To list all the standalone account in relation with the Bundle arrangement customer.List of Non-BN Account list",
        "operationId": "getNonBalanceNettingAccounts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bundleId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-example": "AA190791Z7N2"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "NonBalanceNettingAccountsResponse",
            "schema": {
              "$ref": "#/definitions/NonBalanceNettingAccountsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/accounts/{accountId}/balances": {
      "get": {
        "summary": "Retrieves the balances of a TR Account",
        "description": "Retrieves the balances of a TR Account",
        "operationId": "getBundleAccountBalances",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "BundleAccountBalancesResponse",
            "schema": {
              "$ref": "#/definitions/BundleAccountBalancesResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "number",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "number",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "status": {
          "type": "string",
          "description": "Status of the API(success/failed)"
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "LinktArrDetailsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/LinktArrDetailsResponseBody"
        }
      },
      "description": "LinktArrDetailsResponse"
    },
    "LinktArrDetailsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "linkArrangement": {
            "type": "string"
          },
          "linkArrangementsProduct": {
            "type": "string"
          },
          "linkArrangementType": {
            "type": "string"
          }
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "number",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "number",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "status": {
          "type": "string",
          "description": "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description": "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "for bad requests"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description": "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "caused by server"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    },
    "CashPoolExceptionLogResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/CashPoolExceptionLogResponseBody"
        }
      },
      "description": "CashPoolExceptionLogResponse"
    },
    "CashPoolExceptionLogResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "bundleArrangement": {
            "type": "string",
            "maxLength": 35
          },
          "accountAlias": {
            "type": "string",
            "maxLength": 35
          },
          "accountReference": {
            "type": "string",
            "maxLength": 35
          },
          "productName": {
            "type": "string",
            "description": "The name that is displayed for the product",
            "maxLength": 35
          },
          "accountCompany": {
            "type": "string",
            "maxLength": 11
          },
          "accountCountry": {
            "type": "string",
            "maxLength": 35
          },
          "accountCurrency": {
            "type": "string",
            "description": "The currency of the account",
            "maxLength": 3
          },
          "accountLevel": {
            "type": "string",
            "maxLength": 15
          },
          "accountProduct": {
            "type": "string",
            "maxLength": 30
          },
          "accountSequence": {
            "type": "string",
            "maxLength": 3
          },
          "activityReference": {
            "type": "string",
            "maxLength": 40
          },
          "alternateReference": {
            "type": "string",
            "maxLength": 30
          },
          "cancel": {
            "type": "string",
            "maxLength": 3
          },
          "customer": {
            "type": "string",
            "maxLength": 10
          },
          "errorMessage": {
            "type": "string",
            "maxLength": 100
          },
          "errorSource": {
            "type": "string",
            "maxLength": 35
          },
          "errorType": {
            "type": "string",
            "maxLength": 35
          },
          "keepBalance": {
            "type": "string",
            "maxLength": 3
          },
          "linkType": {
            "type": "string",
            "maxLength": 20
          },
          "liveDate": {
            "type": "string",
            "maxLength": 11
          },
          "newBundle": {
            "type": "string",
            "maxLength": 17
          },
          "parentAccount": {
            "type": "string",
            "maxLength": 35
          },
          "shortName": {
            "type": "string",
            "maxLength": 35
          },
          "status": {
            "type": "string",
            "description": "The status identifier",
            "maxLength": 5
          },
          "overallStatus": {
            "type": "string",
            "maxLength": 35
          }
        }
      }
    },
    "BundleAccountsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/BundleAccountsResponseBody"
        }
      },
      "description": "BundleAccountsResponse"
    },
    "BundleAccountsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The identifier of the product"
          },
          "productName": {
            "type": "string",
            "description": "The name that is displayed for the product"
          },
          "effectiveDate": {
            "type": "string"
          },
          "accountId": {
            "type": "string",
            "description": "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."
          },
          "displayName": {
            "type": "string",
            "description": "The name used for display purposes"
          },
          "customerId": {
            "type": "number",
            "description": "The identifier of the customer"
          },
          "customerName": {
            "type": "string",
            "description": "The name that is displayed for the customer"
          },
          "currency": {
            "type": "string",
            "maxLength": 3
          },
          "parentAccount": {
            "type": "string",
            "maxLength": 19
          },
          "workingBalance": {
            "type": "number",
            "description": "For Nostro and Internal Accounts, the same as Online Cleared Balance. For all other accounts it is the cleared balance plus the total of all unapproved debits."
          },
          "arrangementId": {
            "type": "string",
            "description": "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."
          },
          "countryId": {
            "type": "string",
            "description": "The identifier of the country, normally the SWIFT code of the country.",
            "maxLength": 11
          },
          "companyCode": {
            "type": "string",
            "maxLength": 11
          },
          "limitReference": {
            "type": "string",
            "description": "Identifies the type of limit applicable to the Account"
          },
          "limitSerialNumber": {
            "type": "number"
          },
          "internalCreditFacility": {
            "type": "string",
            "maxLength": 19
          },
          "creditCheckTransactionType": {
            "type": "string",
            "maxLength": 8
          },
          "isCreditCheckCondition": {
            "type": "boolean"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The total of all entries posted against the account excluding any entries with the processing date in the future."
          },
          "clearedBalance": {
            "type": "number",
            "description": "Total of cleared funds booked against the account. Same as onlineActuaBalance except credit or reversed debit entries with the exposure date in the future."
          },
          "lockedAmount": {
            "type": "number",
            "description": "The amount of funds that have been blocked (reserved) for specific purposes"
          },
          "availableBalance": {
            "type": "number",
            "description": "Projected net movements of funds against the account. Depending on the setup in the field AVAILABLE.BAL.UPD in the ACCOUNT.PARAMETER record, may or may not include unauthorised debits, credits, both debits and credits."
          },
          "alias": {
            "type": "string"
          },
          "alternateReference": {
            "type": "string"
          },
          "level": {
            "type": "string"
          },
          "goLiveDate": {
            "type": "string",
            "format": "date"
          },
          "linkType": {
            "type": "string"
          },
          "keepBalance": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "description": "The status identifier"
          },
          "newMaster": {
            "type": "string"
          },
          "poolEvent": {
            "type": "string"
          },
          "poolEventDate": {
            "type": "string",
            "format": "date"
          },
          "isMultiCurrency": {
            "type": "boolean"
          },
          "isExternalPosting": {
            "type": "boolean"
          },
          "parentBackValueDate": {
            "type": "string",
            "format": "date"
          },
          "allowedBackValueDate": {
            "type": "string",
            "format": "date"
          },
          "postingRestrictId": {
            "type": "number"
          },
          "postingRestrictDisplayName": {
            "type": "string"
          },
          "blockCode": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "The start date"
          },
          "expiryDate": {
            "type": "string",
            "format": "date",
            "description": "The date an agreement such as a credit facility or limit is due to expire"
          },
          "title": {
            "type": "string"
          },
          "bookedBalance": {
            "type": "number"
          },
          "valueDatedBalance": {
            "type": "number"
          },
          "creditFacility": {
            "type": "string"
          }
        }
      }
    },
    "BundleHistoryDetailsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/BundleHistoryDetailsResponseBody"
        }
      },
      "description": "BundleHistoryDetailsResponse"
    },
    "BundleHistoryDetailsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "account": {
            "type": "string"
          },
          "product": {
            "type": "string"
          },
          "customer": {
            "type": "string",
            "maxLength": 17
          },
          "customerName": {
            "type": "string",
            "description": "The name that is displayed for the customer",
            "maxLength": 35
          },
          "parentAccount": {
            "type": "string",
            "maxLength": 19
          },
          "country": {
            "type": "string",
            "maxLength": 40
          },
          "name": {
            "type": "string",
            "maxLength": 35
          },
          "status": {
            "type": "string",
            "description": "The status identifier"
          },
          "date": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "maxLength": 3
          },
          "bookingBalance": {
            "type": "string"
          },
          "valueDatedBalance": {
            "type": "string"
          },
          "balance": {
            "type": "string"
          }
        }
      }
    },
    "BundleArrangementsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/BundleArrangementsResponseBody"
        }
      },
      "description": "BundleArrangementsResponse"
    },
    "BundleArrangementsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "arrangementId": {
            "type": "string",
            "description": "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
            "maxLength": 17
          },
          "customerId": {
            "type": "number",
            "description": "The identifier of the customer",
            "maximum": 10
          },
          "customerName": {
            "type": "string",
            "description": "The name that is displayed for the customer"
          },
          "balance": {
            "type": "string"
          }
        }
      }
    },
    "BundleBalancesResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/BundleBalancesResponseBody"
        }
      },
      "description": "BundleBalancesResponse"
    },
    "BundleBalancesResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "ledgerBalance": {
            "type": "string",
            "description": "The total of all entries posted against the account excluding any entries with the processing date in the future."
          },
          "clearedBalance": {
            "type": "string",
            "description": "Total of cleared funds booked against the account. Same as onlineActuaBalance except credit or reversed debit entries with the exposure date in the future."
          },
          "workingBalance": {
            "type": "string",
            "description": "For Nostro and Internal Accounts, the same as Online Cleared Balance. For all other accounts it is the cleared balance plus the total of all unapproved debits."
          },
          "availableBalance": {
            "type": "string",
            "description": "Projected net movements of funds against the account. Depending on the setup in the field AVAILABLE.BAL.UPD in the ACCOUNT.PARAMETER record, may or may not include unauthorised debits, credits, both debits and credits."
          }
        }
      }
    },
    "CustomerBundleAccountsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/CustomerBundleAccountsResponseBody"
        }
      },
      "description": "CustomerBundleAccountsResponse"
    },
    "CustomerBundleAccountsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "arrangementId": {
            "type": "string",
            "description": "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."
          },
          "effectiveDate": {
            "type": "string",
            "format": "date"
          },
          "customerId": {
            "type": "number",
            "description": "The identifier of the customer",
            "maximum": 10
          },
          "customerName": {
            "type": "string",
            "description": "The name that is displayed for the customer"
          },
          "productId": {
            "type": "string",
            "description": "The identifier of the product",
            "maxLength": 30
          },
          "productName": {
            "type": "string",
            "description": "The name that is displayed for the product",
            "maxLength": 30
          },
          "companyName": {
            "type": "string",
            "description": "The name that is displayed for the company",
            "maxLength": 11
          },
          "countryId": {
            "type": "number",
            "description": "The identifier of the country, normally the SWIFT code of the country.",
            "maximum": 11
          },
          "companyCode": {
            "type": "string",
            "maxLength": 11
          },
          "status": {
            "type": "string",
            "description": "The status identifier",
            "maxLength": 15
          },
          "modifiedDate": {
            "type": "string",
            "format": "date"
          },
          "structureName": {
            "type": "string"
          },
          "recipientCurrency": {
            "type": "string"
          },
          "blockId": {
            "type": "string"
          },
          "isBlocked": {
            "type": "boolean"
          },
          "blockAuthoriser": {
            "type": "string"
          },
          "blockedDateTime": {
            "type": "string"
          },
          "blockCode": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "description": "The name used for display purposes"
          },
          "blockStartDate": {
            "type": "string",
            "format": "date"
          },
          "blockEndDate": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "poolEventDate": {
            "type": "string",
            "format": "date"
          },
          "poolEvent": {
            "type": "string",
            "maxLength": 35
          },
          "goLiveDate": {
            "type": "string"
          }
        }
      }
    },
    "DraftArrangementsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/DraftArrangementsResponseBody"
        }
      },
      "description": "DraftArrangementsResponse"
    },
    "DraftArrangementsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "arrangementId": {
            "type": "string",
            "description": "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
            "maxLength": 20
          },
          "activityId": {
            "type": "string",
            "description": "The identifier of the activity"
          },
          "productId": {
            "type": "string",
            "description": "The identifier of the product",
            "maxLength": 30
          },
          "productName": {
            "type": "string",
            "description": "The name that is displayed for the product"
          },
          "customerId": {
            "type": "number",
            "description": "The identifier of the customer",
            "maximum": 10
          },
          "customerName": {
            "type": "string",
            "description": "The name that is displayed for the customer"
          },
          "countryId": {
            "type": "string",
            "description": "The identifier of the country, normally the SWIFT code of the country.",
            "maxLength": 11
          },
          "companyCode": {
            "type": "string",
            "maxLength": 11
          },
          "referenceCurrency": {
            "type": "string",
            "description": "The reference currency"
          },
          "structureName": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "The status identifier"
          },
          "title": {
            "type": "string"
          }
        }
      }
    },
    "DraftBundleListResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/DraftBundleListResponseBody"
        }
      },
      "description": "DraftBundleListResponse"
    },
    "DraftBundleListResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "aliases": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "alias": {
                  "type": "string"
                }
              }
            }
          },
          "accounts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "account": {
                  "type": "string"
                }
              }
            }
          },
          "customers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "customer": {
                  "type": "string"
                }
              }
            }
          },
          "companies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "company": {
                  "type": "string"
                }
              }
            }
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string"
                }
              }
            }
          },
          "currencies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "currency": {
                  "type": "string"
                }
              }
            }
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product": {
                  "type": "string"
                }
              }
            }
          },
          "productDescriptions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "productDescription": {
                  "type": "string"
                }
              }
            }
          },
          "names": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "alternateReferences": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "alternateReference": {
                  "type": "string"
                }
              }
            }
          },
          "parents": {
            "type": "array",
            "description": "This Field is to determine whether the order is a parent order, Allowed value is YES",
            "items": {
              "type": "object",
              "properties": {
                "parent": {
                  "type": "string",
                  "description": "This Field is to determine whether the order is a parent order, Allowed value is YES"
                }
              }
            }
          },
          "goLiveDates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "goLiveDate": {
                  "type": "string"
                }
              }
            }
          },
          "linkTypes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "linkType": {
                  "type": "string"
                }
              }
            }
          },
          "keepBalances": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "keepBalance": {
                  "type": "string"
                }
              }
            }
          },
          "accountTitles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "accountTitle": {
                  "type": "string"
                }
              }
            }
          },
          "level": {
            "type": "string"
          },
          "bundleArrangement": {
            "type": "string",
            "maxLength": 20
          }
        }
      }
    },
    "NonBalanceNettingAccountsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/NonBalanceNettingAccountsResponseBody"
        }
      },
      "description": "NonBalanceNettingAccountsResponse"
    },
    "NonBalanceNettingAccountsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."
          },
          "productName": {
            "type": "string",
            "description": "The name that is displayed for the product"
          },
          "countryId": {
            "type": "string",
            "description": "The identifier of the country, normally the SWIFT code of the country.",
            "maxLength": 11
          },
          "companyCode": {
            "type": "string",
            "maxLength": 11
          },
          "displayName": {
            "type": "string",
            "description": "The name used for display purposes",
            "maxLength": 35
          },
          "customerName": {
            "type": "string",
            "description": "The name that is displayed for the customer",
            "maxLength": 10
          },
          "status": {
            "type": "string",
            "description": "The status identifier"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "The start date"
          },
          "currency": {
            "type": "string",
            "maxLength": 3
          },
          "balance": {
            "type": "number"
          }
        }
      }
    },
    "BundleAccountBalancesResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/BundleAccountBalancesResponseBody"
        }
      },
      "description": "BundleAccountBalancesResponse"
    },
    "BundleAccountBalancesResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "ledgerBalance": {
            "type": "string",
            "description": "The total of all entries posted against the account excluding any entries with the processing date in the future.",
            "maxLength": 40
          },
          "clearedBalance": {
            "type": "string",
            "description": "Total of cleared funds booked against the account. Same as onlineActuaBalance except credit or reversed debit entries with the exposure date in the future.",
            "maxLength": 40
          },
          "workingBalance": {
            "type": "string",
            "description": "For Nostro and Internal Accounts, the same as Online Cleared Balance. For all other accounts it is the cleared balance plus the total of all unapproved debits.",
            "maxLength": 40
          },
          "lockedAmount": {
            "type": "string",
            "description": "The amount of funds that have been blocked (reserved) for specific purposes",
            "maxLength": 40
          },
          "availableLimit": {
            "type": "string",
            "description": "The amount of an allocated credit limit that is available for the nomniated customer to utilise",
            "maxLength": 40
          }
        }
      }
    }
  }
}