{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retrieves information related to NPV revaluation of Interest rate swap contracts",
    "version" : "v1.0.0",
    "title" : "API to retrieve revaluation information on Interest rate swap contracts and cross currency interest rate swaps"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/treasury/swaps/NPV/revaluations" : {
      "get" : {
        "summary" : "Retrieves the currency wise daily profit/loss details for net present value method of revaluation.",
        "description" : "Retrieves the currency wise daily profit/loss details of swap contract resulting from NPV revaluation based on the discount rate provided.",
        "operationId" : "getSwapNPVRevaluations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Indicates the type of currency to which the account belongs",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "discountRate",
          "in" : "query",
          "description" : "The rate used to discount a future cash flow. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SwapNPVRevaluationsResponse",
            "schema" : {
              "$ref" : "#/definitions/SwapNPVRevaluationsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/treasury/swaps/NPV" : {
      "get" : {
        "summary" : "Retrieves cash flow details for selected swap contract and calculates the present value total cash flow.",
        "description" : "Retrieves cash flow details for selected swap contract and calculates the present value for both asset leg and liability leg.",
        "operationId" : "getSwapNPVDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "contractId",
          "in" : "query",
          "description" : "The identifier of the contract",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "discountRate",
          "in" : "query",
          "description" : "The rate used to discount a future cash flow. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SwapNPVDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/SwapNPVDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/treasury/swaps/NPV/currencies/revaluations" : {
      "get" : {
        "summary" : "Retrieves the present value of cross currency interest rate swap contracts and calculates the daily profit and loss.",
        "description" : "Retrieves the present value of asset leg and liability leg of cross currency interest rate swap contracts and calculates the daily profit and loss based on the discount rate provided.",
        "operationId" : "getSwapNPVCurrencyRevaluations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Indicates the type of currency to which the account belongs",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "discountRate",
          "in" : "query",
          "description" : "The rate used to discount a future cash flow. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SwapNPVCurrencyRevaluationsResponse",
            "schema" : {
              "$ref" : "#/definitions/SwapNPVCurrencyRevaluationsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "SwapNPVRevaluationsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SwapNPVRevaluationsResponseBody"
        }
      },
      "description" : "SwapNPVRevaluationsResponse"
    },
    "SwapNPVRevaluationsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "currency" : {
            "type" : "string",
            "description" : "Indicates the type of currency to which the account belongs"
          },
          "netPresentValueAsset" : {
            "type" : "number",
            "description" : "The total present value of asset side cash flows."
          },
          "netPresentValueLiability" : {
            "type" : "number",
            "description" : "The total present value of liability side cash flows."
          },
          "profitLossToDate" : {
            "type" : "number",
            "description" : "Cumulative profit or loss till date."
          },
          "profitLossToday" : {
            "type" : "number",
            "description" : "Profit or loss for the day."
          },
          "profitTillYesterday" : {
            "type" : "number",
            "description" : "Profit or loss till yesterday."
          },
          "transactionReference" : {
            "type" : "string",
            "description" : "Transaction reference identifier."
          },
          "maturityDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates maturity date of the contract"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "SwapNPVDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SwapNPVDetailsResponseBody"
        }
      },
      "description" : "SwapNPVDetailsResponse"
    },
    "SwapNPVDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "scheduleType" : {
            "type" : "string",
            "description" : "The type of event schedule. The main ones are interest payment (IP) , principal increase (PI), rate reset (RR).",
            "maxLength" : 24
          },
          "scheduleTypeDescription" : {
            "type" : "string",
            "description" : "The schedule type description.",
            "maxLength" : 25
          },
          "startDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Contains the date on which the transaction or payment gets initiated."
          },
          "endDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned"
          },
          "cashFlow" : {
            "type" : "number",
            "description" : "Cash movement (in or out) from the institution. "
          },
          "daysDifference" : {
            "type" : "string",
            "description" : "Number of days between two given dates.",
            "maxLength" : 5
          },
          "periodDays" : {
            "type" : "string",
            "description" : "Number of days in a given period.",
            "maxLength" : 5
          },
          "couponRates" : {
            "type" : "string",
            "description" : "The interest rate payable on Security",
            "maxLength" : 19
          },
          "cumulativePresentValue" : {
            "type" : "string",
            "description" : "The cumulative present value for the cash flow time buckets.",
            "maxLength" : 19
          },
          "zeroDiscountRates" : {
            "type" : "string",
            "description" : "Zero coupon rate used in discounting the cash flows.",
            "maxLength" : 19
          },
          "presentValue" : {
            "type" : "number",
            "description" : "The value of a future cash flow when discounted."
          },
          "effectiveDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date on which the principal movement is effected"
          },
          "swapType" : {
            "type" : "string",
            "description" : "Type of Interest rate swap."
          },
          "legType" : {
            "type" : "string",
            "description" : "Identifies the type of interest rate swap leg as asset or liability."
          },
          "currency" : {
            "type" : "string",
            "description" : "Indicates the type of currency to which the account belongs"
          },
          "maturityDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates maturity date of the contract"
          },
          "rateType" : {
            "type" : "string",
            "description" : "Fixed or floating rate."
          },
          "counterparty" : {
            "type" : "string",
            "description" : "The counterparty ID  for the  deal."
          }
        }
      }
    },
    "SwapNPVCurrencyRevaluationsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SwapNPVCurrencyRevaluationsResponseBody"
        }
      },
      "description" : "SwapNPVCurrencyRevaluationsResponse"
    },
    "SwapNPVCurrencyRevaluationsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "contractId" : {
            "type" : "string",
            "description" : "The identifier of the contract",
            "maxLength" : 14
          },
          "swapType" : {
            "type" : "number",
            "description" : "Type of Interest rate swap."
          },
          "maturityDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates maturity date of the contract"
          },
          "assetCurrency" : {
            "type" : "string",
            "description" : "Currency of the asset.",
            "maxLength" : 3
          },
          "netPresentValueAsset" : {
            "type" : "number",
            "description" : "The total present value of asset side cash flows."
          },
          "netPresentValueAssetLocalCurrency" : {
            "type" : "number",
            "description" : "The total present value of asset side cash flows  in local currency."
          },
          "liabilityCurrency" : {
            "type" : "string",
            "description" : "Currency of the liability.",
            "maxLength" : 3
          },
          "netPresentValueLiability" : {
            "type" : "number",
            "description" : "The total present value of liability side cash flows."
          },
          "netPresentValueLiabilityLocalCurrency" : {
            "type" : "number",
            "description" : "The total present value of liability side cash flows  in local currency."
          },
          "profitLossToDate" : {
            "type" : "number",
            "description" : "Cumulative profit or loss till date."
          },
          "profitLossToday" : {
            "type" : "number",
            "description" : "Profit or loss for the day."
          },
          "profitTillYesterday" : {
            "type" : "number",
            "description" : "Profit or loss till yesterday."
          },
          "currency" : {
            "type" : "string",
            "description" : "Indicates the type of currency to which the account belongs"
          }
        }
      }
    }
  }
}