{
  "swagger": "2.0",
  "info": {
    "description": "API to retrieve the customer group limit details",
    "version": "v1.0.0",
    "title": "Customer group limits"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/holdings/limits/customerGroupLimits": {
      "get": {
        "summary": "Customer group limit details",
        "description": "Retrieves all of the customer group limit exposures",
        "operationId": "getCustomerGroupLimits",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerLimitId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "riskGroupId",
            "in": "query",
            "required": false,
            "type": "string",
            "x-example": "888"
          },
          {
            "name": "liabilityNumber",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limitId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "creditLineNumber",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "recordParent",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limitProduct",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "serialNumber",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limitCurrency",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "businessUnit",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "expiryDate",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "timeBandName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "internalAmount",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "advisedAmount",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "outstandingAmount",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "availableAmount",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "availableOrExcess",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "totalCommitment",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "totalCredit",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "totalDebit",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "requestedCurrency",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "exchangeRate",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "idlType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "idlApprovedAmount",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "idlAdvisedAmount",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limitType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "relatedCustomer",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sharedLimit",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "adjustAvailableAmount",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "rebuildData",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "aggregateCustomerId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "aggregateCustomerRelation",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limitNote",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sessionId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "subGroup",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "originalInternalAmount",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "originalAdvisedAmount",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repaidAmount",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "totalRepaidAmount",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "excessFlag",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fixedOrVariable",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "securedAmount",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "multiCustomerLimit",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "groupClass",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "isAggregationExists",
            "in": "query",
            "description": "Indicates if there exists aggregation of one or many customer exposure under a primary customer",
            "required": false,
            "type": "string"
          },
          {
            "name": "mainGroupId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "creditLineProduct",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "gvIndicator",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "onlineLimit",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "amountInUnits",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "CustomerGroupLimitsResponse",
            "schema": {
              "$ref": "#/definitions/CustomerGroupLimitsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "CustomerGroupLimitsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/CustomerGroupLimitsResponseBody"
        }
      },
      "description": "CustomerGroupLimitsResponse"
    },
    "CustomerGroupLimitsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "idlDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "idlType": {
                  "type": "string",
                  "description": "The INTRA.DAY.LIMIT type that is applicable for a specific credit facility of the customer",
                  "maxLength": 35
                },
                "idlApprovedAmount": {
                  "type": "string",
                  "description": "The approved amount by the bank as INTRA.DAY.LIMIT on a credit facility within a specific period of the day",
                  "maxLength": 35
                },
                "idlAdvisedAmount": {
                  "type": "string",
                  "description": "The advised amount by the bank to the customer as INTRA.DAY.LIMIT on a credit facility within a specific period of the day",
                  "maxLength": 35
                }
              }
            }
          },
          "relatedCustomerDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "relatedCustomer": {
                  "type": "string",
                  "description": "Indicates the related customers of multi customer and joint limits",
                  "maxLength": 35
                },
                "aggregateCustomerId": {
                  "type": "string",
                  "description": "List of customer/person entity that are aggregated under a main customer on risk exposure view",
                  "maxLength": 35
                },
                "aggregateCustomerRelation": {
                  "type": "string",
                  "description": "Relation code that exists between the main customer and the aggregated customers",
                  "maxLength": 35
                },
                "relatedPartyName": {
                  "type": "string",
                  "description": "Name of the Party related to the Customer"
                }
              }
            }
          },
          "limitNotes": {
            "type": "array",
            "description": "Free format text bank had written while creating the credit facility ",
            "items": {
              "type": "object",
              "properties": {
                "limitNote": {
                  "type": "string",
                  "description": "Free format text bank had written while creating the credit facility ",
                  "maxLength": 35
                }
              }
            }
          },
          "subGroups": {
            "type": "array",
            "description": "Identifier of the sub group within a CUSTOMER.GROUP that constitues one or more related customers which would be used while arrivnig collective risk exposure of credit line liable to them either individually or shared among them.",
            "items": {
              "type": "object",
              "properties": {
                "subGroup": {
                  "type": "string",
                  "description": "Identifier of the sub group within a CUSTOMER.GROUP that constitues one or more related customers which would be used while arrivnig collective risk exposure of credit line liable to them either individually or shared among them.",
                  "maxLength": 35
                }
              }
            }
          },
          "customerLimitId": {
            "type": "string",
            "description": "The identifier of the customer limits application",
            "maxLength": 100
          },
          "riskGroupId": {
            "type": "number",
            "description": "Identifier of the CUSTOMER.GROUP that constitues one or more related customers which would be used while arrivnig collective risk exposure of credit line liable to them either individually or shared among them."
          },
          "liabilityNumber": {
            "type": "string",
            "description": "Identifier of the Liability Customer to the credit limit",
            "maxLength": 35
          },
          "limitId": {
            "type": "string",
            "description": "The identifier of credit limit",
            "maxLength": 35
          },
          "creditLineNumber": {
            "type": "string",
            "description": "Details of the top most parent credit line plus the limit product in the hierarchy. Eg : 300/LI1701101987 where 300 is the limit product of the topmost parent and second part is the respective creditline",
            "maxLength": 35
          },
          "recordParent": {
            "type": "string",
            "description": "Identifier of the immediate parent limit",
            "maxLength": 35
          },
          "limitProduct": {
            "type": "string",
            "description": "Identifier of the credit limit product",
            "maxLength": 35
          },
          "limitReferenceDisplayName": {
            "type": "string",
            "description": "Display Name of Limit product"
          },
          "limitProductName": {
            "type": "string",
            "description": "Display Short Name of Limit product"
          },
          "serialNumber": {
            "type": "number",
            "description": "A sequence reference for the limit, which when used together with other fields such as\ufffdLiability Number and/or Limit Reference, provides a unique identifier for a credit line"
          },
          "limitCurrency": {
            "type": "string",
            "description": "Currency in which the credit limit is granted",
            "maxLength": 35
          },
          "businessUnit": {
            "type": "string",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "maxLength": 35
          },
          "expiryDate": {
            "type": "string",
            "format": "date",
            "description": "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
          },
          "timeBandName": {
            "type": "string",
            "description": "Description of the individual time code under a credit facility",
            "maxLength": 35
          },
          "internalAmount": {
            "type": "string",
            "description": "Specifies the amount actually approved or authorised on a credit line by Management or the Credit Committee",
            "maxLength": 35
          },
          "advisedAmount": {
            "type": "string",
            "description": "Specifies the amount advised to the customer holding the credit facility",
            "maxLength": 35
          },
          "outstandingAmount": {
            "type": "string",
            "description": "Identifies the total outstanding amount for the corresponding Liability number and Limit reference. ",
            "maxLength": 35
          },
          "availableAmount": {
            "type": "string",
            "description": "The credit limit available to the customer for use",
            "maxLength": 35
          },
          "availableOrExcess": {
            "type": "string",
            "description": "The available amount for the corresponding liability number and limit reference. This amount is always expressed in the currency of the limit. Calculated as the sum of the online limit, the available balance and any sub allocation taken, less any sub allocation given, any commission available, the total outstanding.",
            "maxLength": 35
          },
          "totalCommitment": {
            "type": "string",
            "description": "Specifies the total available commitment amounts  specific to a credit facility ",
            "maxLength": 35
          },
          "totalCredit": {
            "type": "string",
            "description": "Indicates the total credit balance of the customer's account",
            "maxLength": 35
          },
          "totalDebit": {
            "type": "string",
            "description": "Indicates the total debit balance of the customer's account",
            "maxLength": 35
          },
          "requestedCurrency": {
            "type": "string",
            "description": "Indicates the currency of the amount which is requested in",
            "maxLength": 35
          },
          "exchangeRate": {
            "type": "string",
            "description": "Contains the exchange rate applicable",
            "maxLength": 35
          },
          "limitType": {
            "type": "string",
            "description": "Defines the limit type for the trade",
            "maxLength": 35
          },
          "jointLiability": {
            "type": "string",
            "description": "Identifies if there is a joint liability on the limit record Allowed values: -YES -NO  ",
            "maxLength": 35
          },
          "sharedLimit": {
            "type": "string",
            "description": "Indicates whether the credit line is of shared limit structure",
            "maxLength": 35
          },
          "adjustAvailableAmount": {
            "type": "string",
            "description": "Indicates to adjust the available funds to respective time bands.",
            "maxLength": 3
          },
          "rebuildData": {
            "type": "string",
            "description": "Indicates to rebuild the customer exposure when enquired by user.",
            "maxLength": 3
          },
          "sessionId": {
            "type": "string",
            "description": "Id of the T24 session where the risk exposure view executed",
            "maxLength": 35
          },
          "originalInternalAmount": {
            "type": "string",
            "description": "Specifies the orignal amount actually approved or authorised on a credit line by Management or the Credit Committee before any repayment made",
            "maxLength": 35
          },
          "originalAdvisedAmount": {
            "type": "string",
            "description": "Specifies the original amount advised to the customer holding the credit facility before any repayment made",
            "maxLength": 35
          },
          "repaidAmount": {
            "type": "string",
            "description": "Amount repaid under a credit facility",
            "maxLength": 35
          },
          "totalRepaidAmount": {
            "type": "string",
            "description": "Total of the repaid amount under a credit facility",
            "maxLength": 35
          },
          "excessFlag": {
            "type": "string",
            "description": "Flag to indicate the credit line has been over utilised",
            "maxLength": 3
          },
          "fixedOrVariable": {
            "type": "string",
            "description": "Indicates the secured nature of limit that has been covered by a customer collateral. When 'FIXED' the limit amount sanctioned will not have impact on changing value of collateral whereas when 'VARIABLE' limit amount will change based on the collateral amount changes.",
            "maxLength": 35
          },
          "securedAmount": {
            "type": "string",
            "description": "The total amount that has been covered by the collateral underlying the credit facility",
            "maxLength": 35
          },
          "multiCustomerLimit": {
            "type": "boolean",
            "description": "Specifies if a credit facility shall be used by multiple customers "
          },
          "groupClass": {
            "type": "string",
            "description": "Classify the type of group, whether it is a CUSTOMER.GROUP or SUB.GROUP",
            "maxLength": 10
          },
          "isAggregationExists": {
            "type": "boolean",
            "description": "Indicates if there exists aggregation of one or many customer exposure under a primary customer"
          },
          "mainGroupId": {
            "type": "string",
            "description": "Identifier of the main group under which the sub group has been defined",
            "maxLength": 35
          },
          "creditLineProduct": {
            "type": "string",
            "description": "Identifier of the limit product of the topmost credit facility in the hierarchy",
            "maxLength": 35
          },
          "gvIndicator": {
            "type": "string",
            "description": "Indicator which specifies the graphical view of risk exposure report requested",
            "maxLength": 35
          },
          "onlineLimit": {
            "type": "string",
            "description": "The limit amount under a credit line that is actually available for use",
            "maxLength": 35
          },
          "groupAccountOfficer": {
            "type": "string",
            "description": "Account officer who is allocated the responsibility of maintaining the customer group",
            "maxLength": 35
          },
          "groupCompanyId": {
            "type": "string",
            "description": "Identifier of the Company where the customer group resides",
            "maxLength": 35
          },
          "groupName": {
            "type": "string",
            "description": "The name that is displayed for the group",
            "maxLength": 40
          },
          "customerName": {
            "type": "string",
            "description": "Name of the customer"
          },
          "type": {
            "type": "string",
            "description": "The product condition has an activity type associated that drives an action.",
            "maxLength": 15
          },
          "deposits": {
            "type": "string",
            "description": "Total of the customer's account balance",
            "maxLength": 35
          }
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message "
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description": "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message for bad requests"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description": "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message caused by server"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    }
  }
}