{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows to view the transaction details for Cash, Interest Rate Gap and Currency Position enquiries",
    "version" : "v1.0.0",
    "title" : "Get transaction details"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/treasury/transactions/{transactionId}" : {
      "get" : {
        "operationId" : "getTreasuryTransactionDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionId",
          "in" : "path",
          "description" : "The unique transaction identifier",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "TreasuryTransactionDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/TreasuryTransactionDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "TreasuryTransactionDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TreasuryTransactionDetailsResponseBody"
        }
      },
      "description" : "TreasuryTransactionDetailsResponse"
    },
    "TreasuryTransactionDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "date" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date"
          },
          "transactionReference" : {
            "type" : "string",
            "description" : "The transaction reference identifier.",
            "maxLength" : 16
          },
          "transactionId" : {
            "type" : "string",
            "description" : "The unique transaction identifier",
            "maxLength" : 16
          },
          "currency" : {
            "type" : "string",
            "description" : "Identifies the underlying currency used for the transaction.",
            "maxLength" : 3
          },
          "transactionAmount" : {
            "type" : "number",
            "description" : "The transaction amount"
          },
          "transactionTotal" : {
            "type" : "number",
            "description" : "The total amount of the transaction"
          },
          "totalTransactionAmount" : {
            "type" : "number",
            "description" : "Total of transaction amount."
          },
          "totalConversionAmount" : {
            "type" : "number",
            "description" : "Total of conversion amounts."
          },
          "dailyTotal" : {
            "type" : "number",
            "description" : "Total for the day."
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    }
  }
}