{
  "swagger" : "2.0",
  "info" : {
    "description" : "List of credit limits overdrawn/excess",
    "version" : "v1.0.0",
    "title" : "getLimitOverdrawn"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/limits/{liabilityNumber}/overdrawnLimits" : {
      "get" : {
        "description" : "Gets the overdrawn details of the customer",
        "operationId" : "getCustomerOverdrawnLimits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "liabilityNumber",
          "in" : "path",
          "description" : "Identifier of the Liability Customer to the credit limit",
          "required" : true,
          "type" : "string",
          "x-example" : "190137"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerOverdrawnLimitsResponse",
            "schema" : {
              "$ref" : "#/definitions/holdingsCustomerOverdrawnLimitsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "holdingsCustomerOverdrawnLimitsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/holdingsCustomerOverdrawnLimitsResponseBody"
        }
      },
      "description" : "holdingsCustomerOverdrawnLimitsResponse"
    },
    "holdingsCustomerOverdrawnLimitsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "limitId" : {
            "type" : "string",
            "description" : "The identifier of credit limit",
            "maxLength" : 32
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer",
            "maxLength" : 10
          },
          "firstOverdrawnDate" : {
            "type" : "string",
            "format" : "date"
          },
          "lastMvmtDate" : {
            "type" : "string",
            "format" : "date"
          },
          "previousOutstanding" : {
            "type" : "number"
          },
          "currentOutstanding" : {
            "type" : "number"
          },
          "limitExcess" : {
            "type" : "number",
            "description" : "An indicator to show that a credit limit has been exceeded"
          },
          "excessNarrative" : {
            "type" : "string",
            "maxLength" : 35
          },
          "movedNarrative" : {
            "type" : "string",
            "maxLength" : 9
          },
          "currentOdStatus" : {
            "type" : "string",
            "maxLength" : 4
          },
          "previousOdStatus" : {
            "type" : "string",
            "maxLength" : 4
          },
          "statusChangeOn" : {
            "type" : "string",
            "format" : "date"
          },
          "currentOdStartDate" : {
            "type" : "string",
            "format" : "date"
          },
          "currentOdDays" : {
            "type" : "string",
            "maxLength" : 35
          },
          "overdrawnAmount" : {
            "type" : "number"
          },
          "thresholdAmount" : {
            "type" : "number"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    }
  }
}