{
  "swagger": "2.0",
  "info": {
    "description": "API to retrieve the security position details",
    "version": "v1.0.0",
    "title": "Security Positions"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/holdings/portfolios/transactions": {
      "get": {
        "summary": "Retrieves the security position details",
        "description": "Retrieves the security position details based on the security, portfolio and transaction reference",
        "operationId": "getPortfoliosTransactions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "securityNumber",
            "in": "query",
            "description": "Security Numbers",
            "required": false,
            "type": "string"
          },
          {
            "name": "securityAccount",
            "in": "query",
            "description": "Security Accounts",
            "required": false,
            "type": "string"
          },
          {
            "name": "referenceNumber",
            "in": "query",
            "description": "Reference Numbers",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "PortfoliosTransactionsResponse",
            "schema": {
              "$ref": "#/definitions/PortfoliosTransactionsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/securityInventoryPositions": {
      "get": {
        "summary": "Retrieves the security position details for own book portfolios",
        "description": "Retrieves the security position details for own book portfolios based on instrument id",
        "operationId": "getSecurityInventoryPositions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "instrumentId",
            "in": "query",
            "description": "The identifier of the instrument",
            "required": false,
            "type": "string"
          },
          {
            "name": "dealerBook",
            "in": "query",
            "description": "Dealer Book",
            "required": false,
            "type": "string"
          },
          {
            "name": "securityCode",
            "in": "query",
            "description": "Security Code",
            "required": false,
            "type": "string"
          },
          {
            "name": "currentPosition",
            "in": "query",
            "description": "Current Positions",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "SecurityInventoryPositionsResponse",
            "schema": {
              "$ref": "#/definitions/SecurityInventoryPositionsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/portfolios/{portfolioId}/transactions": {
      "get": {
        "summary": "Retrieves the security position details",
        "description": "Retrieves the security position details based on the security, portfolio and transaction reference",
        "operationId": "getPortfolioTransactions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "portfolioId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-example": "100404-2"
          },
          {
            "name": "securityNumber",
            "in": "query",
            "description": "Security Numbers",
            "required": false,
            "type": "string"
          },
          {
            "name": "securityAccount",
            "in": "query",
            "description": "Security Accounts",
            "required": false,
            "type": "string"
          },
          {
            "name": "referenceNumber",
            "in": "query",
            "description": "Reference Numbers",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "PortfolioTransactionsResponse",
            "schema": {
              "$ref": "#/definitions/PortfoliosTransactionsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/instruments/{instrumentId}/positions": {
      "get": {
        "summary": "Retrieves the position information",
        "description": "Retrieves the position information for the legal entities own book portfolios",
        "operationId": "getInstrumentPositions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "instrumentId",
            "in": "path",
            "description": "The identifier of the instrument",
            "required": true,
            "type": "string",
            "x-example": "100016-000"
          },
          {
            "name": "portfolioId",
            "in": "query",
            "description": "Id of the portfolio or security account",
            "required": false,
            "type": "string"
          },
          {
            "name": "depository",
            "in": "query",
            "description": "The custodian where securities are held",
            "required": false,
            "type": "string"
          },
          {
            "name": "subAccount",
            "in": "query",
            "description": "The sub-account that the security position is held in.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "InstrumentPositionsResponse",
            "schema": {
              "$ref": "#/definitions/InstrumentPositionsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/portfolios/{portfolioId}/positions": {
      "get": {
        "summary": "Retrieves the position information",
        "description": "Retrieves the position information of a portfolio",
        "operationId": "getPortfolioSecurityPositions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "portfolioId",
            "in": "path",
            "description": "Id of the portfolio or security account",
            "required": true,
            "type": "string",
            "x-example": "100256-1"
          },
          {
            "name": "instrumentId",
            "in": "query",
            "description": "The identifier of the instrument",
            "required": false,
            "type": "string"
          },
          {
            "name": "depository",
            "in": "query",
            "description": "The custodian where securities are held",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "PortfolioSecurityPositionsResponse",
            "schema": {
              "$ref": "#/definitions/PortfolioSecurityPositionsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "PortfoliosTransactionsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/PortfoliosTransactionsResponseBody"
        }
      },
      "description": "PortfoliosTransactionsResponse"
    },
    "PortfoliosTransactionsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "tradeDate": {
            "type": "string",
            "description": "Standard date field which records trade date of the account",
            "maxLength": 11
          },
          "transactionReference": {
            "type": "string",
            "description": "Transaction reference identifier."
          },
          "reversal": {
            "type": "string",
            "description": "Reversal"
          },
          "transactionType": {
            "type": "string",
            "description": "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
            "maxLength": 6
          },
          "tradeCurrency": {
            "type": "string",
            "description": "The trade currency is the settlement currency for the trade",
            "maxLength": 3
          },
          "price": {
            "type": "string",
            "description": "The Price at which the nominal amount of the Security is to be valued for the transaction."
          },
          "quantity": {
            "type": "number",
            "description": "The nominal quantity"
          }
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message "
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description": "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message for bad requests"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description": "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message caused by server"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    },
    "SecurityInventoryPositionsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/SecurityInventoryPositionsResponseBody"
        }
      },
      "description": "SecurityInventoryPositionsResponse"
    },
    "SecurityInventoryPositionsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "dealerBook": {
            "type": "string",
            "description": "Dealer Book",
            "maxLength": 14
          },
          "bookName": {
            "type": "string",
            "description": "Book name",
            "maxLength": 35
          },
          "subAssetType": {
            "type": "string",
            "description": "The name of the Sub Asset Type",
            "maxLength": 35
          },
          "securityNumber": {
            "type": "string",
            "description": "Security Numbers",
            "maxLength": 12
          },
          "securityDescription": {
            "type": "string",
            "description": "Security Description"
          },
          "currency": {
            "type": "string",
            "description": "Identifies the currency. E.g. USD, GBP etc",
            "maxLength": 3
          },
          "interestRate": {
            "type": "string",
            "description": "Identifies the bid rate of the related currency for the defined time period"
          },
          "averageLifeMaturityDate": {
            "type": "string",
            "format": "date",
            "description": "Average Life Maturity Date"
          },
          "maturityDate": {
            "type": "string",
            "format": "date",
            "description": "Indicates maturity date of the contract"
          },
          "currentPosition": {
            "type": "number",
            "description": "Current Positions"
          },
          "parValue": {
            "type": "number",
            "description": "Defines par value of the stock in the Security Currency"
          },
          "currentCostPosition": {
            "type": "number",
            "description": "Current Cost Position"
          },
          "unrealizedProfitLoss": {
            "type": "number",
            "description": "Unrealized profit and loss"
          },
          "currentRealizedProfitLoss": {
            "type": "number",
            "description": "Current realized profit loss"
          },
          "couponAccrualPosted": {
            "type": "number",
            "description": "Coupon accrual and posted"
          },
          "discountAccrued": {
            "type": "number",
            "description": "Discount accrued"
          },
          "dateLastTraded": {
            "type": "string",
            "format": "date",
            "description": "Date last  traded"
          },
          "yieldToMaturity": {
            "type": "number",
            "description": "Yield to  maturity"
          },
          "currentYield": {
            "type": "number",
            "description": "Current yield"
          },
          "duration": {
            "type": "number",
            "description": "Duration"
          },
          "scTradingPositionId": {
            "type": "string",
            "description": "Securities trading position id",
            "maxLength": 25
          }
        }
      }
    },
    "InstrumentPositionsResponseQueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        },
        "data": {
          "type": "object",
          "properties": {
            "instrumentId": {
              "type": "string",
              "description": "The identifier of the instrument",
              "maxLength": 12
            },
            "instrumentName": {
              "type": "string",
              "description": "The name that is displayed for the instrument, taken from the Security Master",
              "maxLength": 35
            },
            "ISIN": {
              "type": "string",
              "description": "The International Securities Identification Number of the instrument",
              "maxLength": 12
            },
            "priceCurrency": {
              "type": "string",
              "description": "The currency of the Price",
              "maxLength": 12
            },
            "marketPrice": {
              "type": "string",
              "description": "Current Market Price of the Security",
              "maxLength": 16
            }
          }
        }
      }
    },
    "InstrumentPositionsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/InstrumentPositionsResponseQueryHeader"
        },
        "body": {
          "$ref": "#/definitions/InstrumentPositionsResponseBody"
        }
      },
      "description": "InstrumentPositionsResponse"
    },
    "InstrumentPositionsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
            "maxLength": 120
          },
          "portfolioId": {
            "type": "string",
            "description": "Id of the portfolio or security account",
            "maxLength": 14
          },
          "portfolioName": {
            "type": "string",
            "description": "The name that is displayed for the portfolio",
            "maxLength": 35
          },
          "depository": {
            "type": "string",
            "description": "The custodian where securities are held",
            "maxLength": 10
          },
          "depositoryName": {
            "type": "string",
            "description": "The name that is displayed for the depository",
            "maxLength": 35
          },
          "subAccount": {
            "type": "string",
            "description": "The sub-account that the security position is held in.",
            "maxLength": 35
          },
          "position": {
            "type": "string",
            "description": "The final quantity of securities held"
          },
          "openOrderPosition": {
            "type": "string",
            "description": "The number of securities related to the security position",
            "maxLength": 18
          },
          "unsettledCredits": {
            "type": "string",
            "description": "The nominal of securities relating to this position that remains unreceived.",
            "maxLength": 18
          },
          "unsettledDebits": {
            "type": "string",
            "description": "The nominal of securities relating to this position that remains undelivered."
          },
          "blockedQuantity": {
            "type": "string",
            "description": "The nominal quantity on a securities instrument that prevents it from being traded when the blocked quantity is exceeded."
          },
          "instrumentCurrencyId": {
            "type": "string",
            "description": "The currency of the instrument",
            "maxLength": 3
          },
          "valueInInstrumentCurrency": {
            "type": "number",
            "description": "The amount converted to the currency of the instrument"
          },
          "referenceCurrency": {
            "type": "string",
            "description": "The reference currency"
          },
          "valueInReferenceCurrency": {
            "type": "string",
            "description": "The amount converted to the required reference currency"
          },
          "unrealizedMarkToMarket": {
            "type": "number",
            "description": "The amount of unrealised profit and loss calculated as a result of mark to market revaluation"
          },
          "unrealizedMarkToMarketNet": {
            "type": "string",
            "description": "The net mark to market gain or loss considering unrealised profits and losses"
          }
        }
      }
    },
    "PortfolioSecurityPositionsResponseQueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        },
        "data": {
          "type": "object",
          "properties": {
            "portfolioId": {
              "type": "string",
              "description": "Id of the portfolio or security account",
              "maxLength": 14
            },
            "portfolioName": {
              "type": "string",
              "description": "The name that is displayed for the portfolio",
              "maxLength": 35
            },
            "referenceCurrency": {
              "type": "string",
              "description": "The reference currency",
              "maxLength": 18
            },
            "investmentProgram": {
              "type": "string",
              "description": "The identifier of the investment strategy followed by the Portfolio",
              "maxLength": 35
            }
          }
        }
      }
    },
    "PortfolioSecurityPositionsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PortfolioSecurityPositionsResponseQueryHeader"
        },
        "body": {
          "$ref": "#/definitions/PortfolioSecurityPositionsResponseBody"
        }
      },
      "description": "PortfolioSecurityPositionsResponse"
    },
    "PortfolioSecurityPositionsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
            "maxLength": 80
          },
          "instrumentId": {
            "type": "string",
            "description": "The identifier of the instrument",
            "maxLength": 12
          },
          "ISIN": {
            "type": "string",
            "description": "The International Securities Identification Number of the instrument",
            "maxLength": 12
          },
          "instrumentName": {
            "type": "string",
            "description": "The name that is displayed for the instrument, taken from the Security Master",
            "maxLength": 35
          },
          "depository": {
            "type": "string",
            "description": "The custodian where securities are held",
            "maxLength": 10
          },
          "depositoryName": {
            "type": "string",
            "description": "The name that is displayed for the depository",
            "maxLength": 35
          },
          "subAccount": {
            "type": "string",
            "description": "The sub-account that the security position is held in.",
            "maxLength": 35
          },
          "position": {
            "type": "string",
            "description": "The final quantity of securities held"
          },
          "openOrderPosition": {
            "type": "string",
            "description": "The number of securities related to the security position"
          },
          "unsettledCredits": {
            "type": "string",
            "description": "The nominal of securities relating to this position that remains unreceived."
          },
          "unsettledDebits": {
            "type": "string",
            "description": "The nominal of securities relating to this position that remains undelivered."
          },
          "blockedQuantity": {
            "type": "string",
            "description": "The nominal quantity on a securities instrument that prevents it from being traded when the blocked quantity is exceeded."
          },
          "priceCurrency": {
            "type": "string",
            "description": "The currency of the Price",
            "maxLength": 3
          },
          "marketPrice": {
            "type": "string",
            "description": "Current Market Price of the Security",
            "maxLength": 16
          },
          "instrumentCurrencyId": {
            "type": "string",
            "description": "The currency of the instrument",
            "maxLength": 3
          },
          "valueInInstrumentCurrency": {
            "type": "number",
            "description": "The amount converted to the currency of the instrument"
          },
          "valueInReferenceCurrency": {
            "type": "number",
            "description": "The amount converted to the required reference currency"
          },
          "unrealizedMarkToMarket": {
            "type": "number",
            "description": "The amount of unrealised profit and loss calculated as a result of mark to market revaluation"
          },
          "unrealizedMarkToMarketNet": {
            "type": "number",
            "description": "The net mark to market gain or loss considering unrealised profits and losses"
          }
        }
      }
    }
  }
}