{
  "swagger": "2.0",
  "info": {
    "description": "API to cancel an Export letter of Credit",
    "version": "v1.0.0",
    "title": "Export Letter of Credit Cancellation"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/holdings/letterOfCredits/{letterOfCreditId}/exports/cancellations": {
      "put": {
        "operationId": "updateExportLCCancellation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "letterOfCreditId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateExportLCCancellation"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "updateExportLCCancellationResponse",
            "schema": {
              "$ref": "#/definitions/updateExportLCCancellationResponse"
            }
          },
          "default": {
            "description": "updateExportLCCancellationErrorResponse",
            "schema": {
              "$ref": "#/definitions/updateExportLCCancellationErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "PayloadHeader": {
      "properties": {
        "override": {
          "type": "object",
          "properties": {
            "overrideDetails": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier of the override"
                  },
                  "description": {
                    "type": "string",
                    "description": "The actual override message"
                  },
                  "responseCode": {
                    "type": "string",
                    "description": "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit": {
          "type": "object",
          "properties": {
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "updateExportLCCancellation": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/updateExportLCCancellationBody"
        }
      },
      "description": "updateExportLCCancellation",
      "example": {
        "header": {},
        "body": {
          "sendAmendmentAdvice": "NO",
          "issuingBankReference": "REEFERE",
          "cancellationRequest": "CANCEL"
        }
      }
    },
    "updateExportLCCancellationBody": {
      "type": "object",
      "properties": {
        "applicants": {
          "type": "array",
          "description": "Indicates the  applicant on whose behalf the Letter of Credit is issued",
          "items": {
            "type": "object",
            "properties": {
              "applicant": {
                "type": "string",
                "description": "Indicates the  applicant on whose behalf the Letter of Credit is issued"
              }
            }
          }
        },
        "additionalAmountsCovered": {
          "type": "array",
          "description": " Specifies any additional amounts available to the beneficiary under the Documentary Credit, such as insurance, freight, interest, etc.",
          "items": {
            "type": "object",
            "properties": {
              "additionalAmountCovered": {
                "type": "string",
                "description": " Specifies any additional amounts available to the beneficiary under the Documentary Credit, such as insurance, freight, interest, etc."
              }
            }
          }
        },
        "beneficiaries": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "beneficiary": {
                "type": "string"
              }
            }
          }
        },
        "charges": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "chargeCode": {
                "type": "string"
              },
              "partyCharged": {
                "type": "string"
              },
              "chargeDebitAccount": {
                "type": "string"
              },
              "chargeCurrency": {
                "type": "string",
                "description": "Holds the currency code of the charge account from where the fee is deducted"
              },
              "chargeExchangeRate": {
                "type": "string"
              },
              "chargeAmount": {
                "type": "string",
                "description": "Holds the charge amount equivalent in charge account currency"
              },
              "amortiseCharges": {
                "type": "string"
              },
              "chargeStatus": {
                "type": "string"
              },
              "taxCurrency": {
                "type": "string"
              },
              "taxAmount": {
                "type": "string",
                "description": "The tax amount"
              }
            }
          }
        },
        "lcNumber": {
          "type": "string",
          "description": "Identifies the banks LCs number (or reference of the L/C from legacy system)"
        },
        "sendAmendmentAdvice": {
          "type": "string",
          "description": "Decides if amendment is external or internal amendment. Valid input is YES, indicating that Amendment is external, amendment message to be communicated to other parties of the LC contract via  delivery messages. If NO, its an internal amendment and amendment message not required to be communicated to the other parties of the LC."
        },
        "lcType": {
          "type": "string",
          "description": "Indicates the type of LC, whether this is an Import/Export, Confirmed/Unconfirmed/Revolving/Transferrable/Back to Back LC/documentary collection/Clean collection etc."
        },
        "issuingBankReference": {
          "type": "string",
          "description": "Issuing Bank/Advising Bank/Customer reference number for use on messages and advices under the LC contract.For Export LCs this is the Issuing Bank's reference.For Import LCs this is the Advising Bank's reference"
        },
        "issuingBankId": {
          "type": "string",
          "description": "Identifies the Issuing bank ID under the LC, who issues the LC"
        },
        "lcIssueDate": {
          "type": "string"
        },
        "newLcCurrency": {
          "type": "string",
          "description": "Denote the currency of the Letter of Credit"
        },
        "newLcAmount": {
          "type": "string",
          "description": "This field indicates the new amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
        },
        "creditTolerance": {
          "type": "string",
          "description": "This field defines the tolerance percentage to be added to the letter of credit amount to calculate the full liability amount or maximum amount that can be drawn."
        },
        "debitTolerance": {
          "type": "string",
          "description": "This field defines the negative tolerance percentage under the letter of credit, to calculate the minimum amount that can be presented under the LC."
        },
        "purposeOfMessage": {
          "type": "string",
          "description": "Indicates the purpose of MT707 amendment message, whether its the isssuance of amendment message or advise of amendment message to the second advising bank or advise and confirmation of amendment message to the second advising bank."
        },
        "cancellationRequest": {
          "type": "string",
          "description": "Indicates that the documentary credit is requested to be cancelled. Valid input in this field is CANCEL."
        },
        "fullyUtilised": {
          "type": "string",
          "description": "This field indicate whether this LC is fully utilised"
        },
        "newLCExpiryDate": {
          "type": "string",
          "description": "New Expiry date for presentation under the documentary credit."
        },
        "newLCExpiryPlace": {
          "type": "string",
          "description": "New Expiry place for presentation under the documentary credit."
        },
        "liabilityReversalDate": {
          "type": "string",
          "description": "Date on which the contigent entries and the limits raised on the LC will be reversed."
        },
        "limitReference": {
          "type": "string",
          "description": "Identifies the type of limit applicable to the Account"
        },
        "latestShipmentDate": {
          "type": "string",
          "description": "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC."
        },
        "narrative": {
          "type": "string",
          "description": "The additional text printed on descriptive statements in addition to the standard narrative and/or reference"
        },
        "bankToBank": {
          "type": "string",
          "description": "Field to specify the additional information for the Receiver ie between banks hanlding the LC."
        },
        "draftPrint": {
          "type": "string",
          "description": "This field indicate whether a draft print of the Letter of Credit / Documentary Collection document created is to be produced on deal input (i.e. before the authorization stage)"
        },
        "amendStatus": {
          "type": "string",
          "description": "System updated field at the time of Amendment decision under the Letter of Credit using Operation 'D'. This field indicates the current status of the amendment whether amendment is pending, approved or rejected."
        },
        "chargeFrom": {
          "type": "string"
        },
        "chargeDefaultAccount": {
          "type": "string"
        },
        "waiveCharge": {
          "type": "string",
          "description": "Defines whether charges are to be collected or waived"
        },
        "commissionCode": {
          "type": "string"
        },
        "waiveCommission": {
          "type": "string"
        },
        "commissionStartDate": {
          "type": "string"
        },
        "commissionFrequency": {
          "type": "string"
        },
        "commissionRate": {
          "type": "string",
          "description": "The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."
        },
        "accrualParam": {
          "type": "string"
        },
        "commissionAmount": {
          "type": "number",
          "description": "The amount of commission charged"
        },
        "fixedCommissionAmount": {
          "type": "string"
        },
        "commissionAccount": {
          "type": "string"
        },
        "commissionExchangeRate": {
          "type": "string"
        },
        "backForwardKey": {
          "type": "string"
        },
        "returnCommission": {
          "type": "string"
        }
      }
    },
    "ScreenHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "updateExportLCCancellationResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/updateExportLCCancellationResponseBody"
        }
      },
      "description": "updateExportLCCancellationResponse"
    },
    "updateExportLCCancellationResponseBody": {
      "type": "object",
      "properties": {
        "applicants": {
          "type": "array",
          "description": "Indicates the  applicant on whose behalf the Letter of Credit is issued",
          "items": {
            "type": "object",
            "properties": {
              "applicant": {
                "type": "string",
                "description": "Indicates the  applicant on whose behalf the Letter of Credit is issued"
              }
            }
          }
        },
        "additionalAmountsCovered": {
          "type": "array",
          "description": " Specifies any additional amounts available to the beneficiary under the Documentary Credit, such as insurance, freight, interest, etc.",
          "items": {
            "type": "object",
            "properties": {
              "additionalAmountCovered": {
                "type": "string",
                "description": " Specifies any additional amounts available to the beneficiary under the Documentary Credit, such as insurance, freight, interest, etc."
              }
            }
          }
        },
        "beneficiaries": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "beneficiary": {
                "type": "string"
              }
            }
          }
        },
        "charges": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "chargeCode": {
                "type": "string"
              },
              "partyCharged": {
                "type": "string"
              },
              "chargeDebitAccount": {
                "type": "string"
              },
              "chargeCurrency": {
                "type": "string",
                "description": "Holds the currency code of the charge account from where the fee is deducted"
              },
              "chargeExchangeRate": {
                "type": "string"
              },
              "chargeAmount": {
                "type": "string",
                "description": "Holds the charge amount equivalent in charge account currency"
              },
              "amortiseCharges": {
                "type": "string"
              },
              "chargeStatus": {
                "type": "string"
              },
              "taxCurrency": {
                "type": "string"
              },
              "taxAmount": {
                "type": "string",
                "description": "The tax amount"
              }
            }
          }
        },
        "lcNumber": {
          "type": "string",
          "description": "Identifies the banks LCs number (or reference of the L/C from legacy system)"
        },
        "sendAmendmentAdvice": {
          "type": "string",
          "description": "Decides if amendment is external or internal amendment. Valid input is YES, indicating that Amendment is external, amendment message to be communicated to other parties of the LC contract via  delivery messages. If NO, its an internal amendment and amendment message not required to be communicated to the other parties of the LC."
        },
        "lcType": {
          "type": "string",
          "description": "Indicates the type of LC, whether this is an Import/Export, Confirmed/Unconfirmed/Revolving/Transferrable/Back to Back LC/documentary collection/Clean collection etc."
        },
        "issuingBankReference": {
          "type": "string",
          "description": "Issuing Bank/Advising Bank/Customer reference number for use on messages and advices under the LC contract.For Export LCs this is the Issuing Bank's reference.For Import LCs this is the Advising Bank's reference"
        },
        "issuingBankId": {
          "type": "string",
          "description": "Identifies the Issuing bank ID under the LC, who issues the LC"
        },
        "lcIssueDate": {
          "type": "string"
        },
        "newLcCurrency": {
          "type": "string",
          "description": "Denote the currency of the Letter of Credit"
        },
        "newLcAmount": {
          "type": "string",
          "description": "This field indicates the new amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
        },
        "creditTolerance": {
          "type": "string",
          "description": "This field defines the tolerance percentage to be added to the letter of credit amount to calculate the full liability amount or maximum amount that can be drawn."
        },
        "debitTolerance": {
          "type": "string",
          "description": "This field defines the negative tolerance percentage under the letter of credit, to calculate the minimum amount that can be presented under the LC."
        },
        "purposeOfMessage": {
          "type": "string",
          "description": "Indicates the purpose of MT707 amendment message, whether its the isssuance of amendment message or advise of amendment message to the second advising bank or advise and confirmation of amendment message to the second advising bank."
        },
        "cancellationRequest": {
          "type": "string",
          "description": "Indicates that the documentary credit is requested to be cancelled. Valid input in this field is CANCEL."
        },
        "fullyUtilised": {
          "type": "string",
          "description": "This field indicate whether this LC is fully utilised"
        },
        "newLCExpiryDate": {
          "type": "string",
          "description": "New Expiry date for presentation under the documentary credit."
        },
        "newLCExpiryPlace": {
          "type": "string",
          "description": "New Expiry place for presentation under the documentary credit."
        },
        "liabilityReversalDate": {
          "type": "string",
          "description": "Date on which the contigent entries and the limits raised on the LC will be reversed."
        },
        "limitReference": {
          "type": "string",
          "description": "Identifies the type of limit applicable to the Account"
        },
        "latestShipmentDate": {
          "type": "string",
          "description": "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC."
        },
        "narrative": {
          "type": "string",
          "description": "The additional text printed on descriptive statements in addition to the standard narrative and/or reference"
        },
        "bankToBank": {
          "type": "string",
          "description": "Field to specify the additional information for the Receiver ie between banks hanlding the LC."
        },
        "draftPrint": {
          "type": "string",
          "description": "This field indicate whether a draft print of the Letter of Credit / Documentary Collection document created is to be produced on deal input (i.e. before the authorization stage)"
        },
        "amendStatus": {
          "type": "string",
          "description": "System updated field at the time of Amendment decision under the Letter of Credit using Operation 'D'. This field indicates the current status of the amendment whether amendment is pending, approved or rejected."
        },
        "chargeFrom": {
          "type": "string"
        },
        "chargeDefaultAccount": {
          "type": "string"
        },
        "waiveCharge": {
          "type": "string",
          "description": "Defines whether charges are to be collected or waived"
        },
        "commissionCode": {
          "type": "string"
        },
        "waiveCommission": {
          "type": "string"
        },
        "commissionStartDate": {
          "type": "string"
        },
        "commissionFrequency": {
          "type": "string"
        },
        "commissionRate": {
          "type": "string",
          "description": "The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."
        },
        "accrualParam": {
          "type": "string"
        },
        "commissionAmount": {
          "type": "number",
          "description": "The amount of commission charged"
        },
        "fixedCommissionAmount": {
          "type": "string"
        },
        "commissionAccount": {
          "type": "string"
        },
        "commissionExchangeRate": {
          "type": "string"
        },
        "backForwardKey": {
          "type": "string"
        },
        "returnCommission": {
          "type": "string"
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody": {
      "properties": {
        "overrideDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier of the override"
              },
              "description": {
                "type": "string",
                "description": "The actual override message"
              }
            }
          }
        }
      }
    },
    "updateExportLCCancellationErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/updateExportLCCancellationErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "updateExportLCCancellationErrorResponse"
    },
    "updateExportLCCancellationErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type"
        }
      }
    }
  }
}