{
  "swagger" : "2.0",
  "info" : {
    "description" : "Payment Initiate",
    "version" : "v1.1.0",
    "title" : "Payment Initiate"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.1.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/PSD2/paymentsInitiation" : {
      "post" : {
        "operationId" : "createPaymentTransfer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentTransfer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentTransferResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentTransferResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "Contains the description of purpose of the payment."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            }
          }
        }
      }
    },
    "PaymentTransfer" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentTransferBody"
        }
      },
      "description" : "PaymentTransfer"
    },
    "PaymentTransferBody" : {
      "type" : "object",
      "properties" : {
        "benName" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "debitAccountId" : {
                "type" : "string",
                "description" : "Indicates the debit account number of the payment or transaction."
              },
              "beneficiaryName" : {
                "type" : "string",
                "description" : "Short title or short name of the beneficiary"
              },
              "beneficiaryAccountId" : {
                "type" : "string",
                "description" : "Unique account identifier of the beneficiary account number."
              }
            }
          }
        },
        "benAddressLine" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryIBAN" : {
                "type" : "string",
                "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189"
              },
              "beneficiaryAddressLine1" : {
                "type" : "string",
                "description" : "Address of the beneficiary or credit account."
              },
              "beneficiaryCountryId" : {
                "type" : "string",
                "description" : "Country of the beneficiary account number. For example: US, IN, EU"
              }
            }
          }
        },
        "benTown" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddressCity" : {
                "type" : "string",
                "description" : "City of the beneficiary account. For example: London, Dallas etc."
              }
            }
          }
        },
        "acctWithBk" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "creditorAgentBIC" : {
                "type" : "string",
                "description" : "BIC(Business Identifier Code) code used by an agent in a payment transaction. The BIC consists of 8 or 11 alphanumeric characters, comprising a Business party prefix (previous institution code), country code, business party suffix and branch identifier. The BIC Code structure is defined by the international standard under ISO 9362:2014 and country code ISO 3166-1. BIC Codes Examples: BARCGB22XXX or DEUTDEFFXXX or BNPAFRPPXXX"
              },
              "creditorAgentNationalCode" : {
                "type" : "string",
                "description" : "National code of the creditor account. For example: EU, US etc."
              }
            }
          }
        },
        "remittanceInformation" : {
          "type" : "array",
          "description" : "The Information about remittance",
          "items" : {
            "type" : "object",
            "properties" : {
              "creditReference" : {
                "type" : "string",
                "description" : "Reference quoted by the credit account for a payment"
              },
              "paymentDetail" : {
                "type" : "string",
                "description" : "Indicates the payment details for the beneficiary to apply the payment."
              },
              "chargeBearer" : {
                "type" : "string",
                "description" : "Bearer of the charges of the order. For example: BEN(All transaction charges are to be borne by the beneficiary customer.), OUR(All transaction charges are to be borne by the ordering customer.), SHA(Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)"
              }
            }
          }
        },
        "creditCurrencyId" : {
          "type" : "string",
          "description" : "Specifies the credit currency. For example: USD, EUR etc."
        },
        "creditAmount" : {
          "type" : "number",
          "description" : "Amount to be credited in a payment transaction"
        },
        "executionDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the transaction or payment gets processed, i.e. the processing date of the transaction."
        },
        "debitReference" : {
          "type" : "string",
          "description" : "Reference for debit party of a payment transaction"
        },
        "endToEndReference" : {
          "type" : "string",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment."
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "PaymentTransferResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentTransferResponseBody"
        }
      },
      "description" : "PaymentTransferResponse"
    },
    "PaymentTransferResponseBody" : {
      "type" : "object",
      "properties" : {
        "benName" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "debitAccountId" : {
                "type" : "string",
                "description" : "Indicates the debit account number of the payment or transaction."
              },
              "beneficiaryName" : {
                "type" : "string",
                "description" : "Short title or short name of the beneficiary"
              },
              "beneficiaryAccountId" : {
                "type" : "string",
                "description" : "Unique account identifier of the beneficiary account number."
              }
            }
          }
        },
        "benAddressLine" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryIBAN" : {
                "type" : "string",
                "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189"
              },
              "beneficiaryAddressLine1" : {
                "type" : "string",
                "description" : "Address of the beneficiary or credit account."
              },
              "beneficiaryCountryId" : {
                "type" : "string",
                "description" : "Country of the beneficiary account number. For example: US, IN, EU"
              }
            }
          }
        },
        "benTown" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddressCity" : {
                "type" : "string",
                "description" : "City of the beneficiary account. For example: London, Dallas etc."
              }
            }
          }
        },
        "acctWithBk" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "creditorAgentBIC" : {
                "type" : "string",
                "description" : "BIC(Business Identifier Code) code used by an agent in a payment transaction. The BIC consists of 8 or 11 alphanumeric characters, comprising a Business party prefix (previous institution code), country code, business party suffix and branch identifier. The BIC Code structure is defined by the international standard under ISO 9362:2014 and country code ISO 3166-1. BIC Codes Examples: BARCGB22XXX or DEUTDEFFXXX or BNPAFRPPXXX"
              },
              "creditorAgentNationalCode" : {
                "type" : "string",
                "description" : "National code of the creditor account. For example: EU, US etc."
              }
            }
          }
        },
        "remittanceInformation" : {
          "type" : "array",
          "description" : "The Information about remittance",
          "items" : {
            "type" : "object",
            "properties" : {
              "creditReference" : {
                "type" : "string",
                "description" : "Reference quoted by the credit account for a payment"
              },
              "paymentDetail" : {
                "type" : "string",
                "description" : "Indicates the payment details for the beneficiary to apply the payment."
              },
              "chargeBearer" : {
                "type" : "string",
                "description" : "Bearer of the charges of the order. For example: BEN(All transaction charges are to be borne by the beneficiary customer.), OUR(All transaction charges are to be borne by the ordering customer.), SHA(Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)"
              }
            }
          }
        },
        "creditCurrencyId" : {
          "type" : "string",
          "description" : "Specifies the credit currency. For example: USD, EUR etc."
        },
        "creditAmount" : {
          "type" : "number",
          "description" : "Amount to be credited in a payment transaction"
        },
        "executionDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the transaction or payment gets processed, i.e. the processing date of the transaction."
        },
        "debitReference" : {
          "type" : "string",
          "description" : "Reference for debit party of a payment transaction"
        },
        "endToEndReference" : {
          "type" : "string",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment."
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    }
  }
}