{
  "swagger" : "2.0",
  "info" : {
    "description" : "Initiate Calculate Payoff activity to calculate loan payment to close an account",
    "version" : "v1.0.0",
    "title" : "Initiate Calculate Payoff activity to calculate loan payment to close an account"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/calculatePayoff/{arrangementId}/homeLoans" : {
      "post" : {
        "summary" : "Initiate Calculate Payoff activity to calculate loan payment to close an account",
        "description" : "Initiate Calculate Payoff activity to calculate loan payment to close an account",
        "operationId" : "calculatePayoffHomeLoans",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PayoffHomeLoans"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "calculatePayoffHomeLoansResponse",
            "schema" : {
              "$ref" : "#/definitions/PayoffHomeLoansResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/calculatePayoff/{arrangementId}/creditLines" : {
      "post" : {
        "summary" : "Initiate Calculate Payoff activity to calculate loan payment to close an account",
        "description" : "Initiate Calculate Payoff activity to calculate loan payment to close an account",
        "operationId" : "calculatePayoffCreditLines",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PayoffCreditLines"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "calculatePayoffCreditLinesResponse",
            "schema" : {
              "$ref" : "#/definitions/PayoffCreditLinesResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/calculatePayoff/{arrangementId}/personalLoans" : {
      "post" : {
        "summary" : "Initiate Calculate Payoff activity to calculate loan payment to close an account",
        "description" : "Initiate Calculate Payoff activity to calculate loan payment to close an account",
        "operationId" : "calculatePayoffPersonalLoans",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PayoffPersonalLoans"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "calculatePayoffPersonalLoansResponse",
            "schema" : {
              "$ref" : "#/definitions/PayoffPersonalLoansResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/calculatePayoff/{arrangementId}/businessLoans" : {
      "post" : {
        "summary" : "Initiate Calculate Payoff activity to calculate loan payment to close an account",
        "description" : "Initiate Calculate Payoff activity to calculate loan payment to close an account",
        "operationId" : "calculatePayoffBusinessLoans",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PayoffBusinessLoans"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "calculatePayoffBusinessLoansResponse",
            "schema" : {
              "$ref" : "#/definitions/PayoffBusinessLoansResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "PayoffHomeLoans" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PayoffHomeLoansBody"
        }
      },
      "description" : "PayoffHomeLoans"
    },
    "PayoffHomeLoansBody" : {
      "type" : "object",
      "properties" : {
        "customerIds" : {
          "type" : "array",
          "description" : "The identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "The identifier of the customer",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "properties" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "propertyId" : {
                "type" : "string",
                "description" : "The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property",
                "minLength" : 0,
                "maxLength" : 30
              },
              "fields" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fieldName" : {
                      "type" : "string",
                      "description" : "The name of the field",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "fieldValue" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 100
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "Records the override messages generated during processing of an activity. ",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "Records the override messages generated during processing of an activity. ",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "The identifier of the product",
          "minLength" : 0,
          "maxLength" : 30
        },
        "masterArrangementId" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 20
        },
        "roleName" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "currencyId" : {
          "type" : "string",
          "description" : "The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date"
        },
        "activityId" : {
          "type" : "string",
          "description" : "The identifier of the activity",
          "minLength" : 0,
          "maxLength" : 80
        },
        "transactionAmount" : {
          "type" : "number",
          "description" : "The transaction amount",
          "minimum" : 0,
          "maximum" : 17
        },
        "payoff" : {
          "type" : "object",
          "properties" : {
            "expiryDays" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 12
            },
            "settleDues" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 12
            },
            "Percentage" : {
              "type" : "string",
              "description" : "The percentage of holdings redeemed/subscribed",
              "minLength" : 0,
              "maxLength" : 12
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 22
            },
            "Action" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "PayoffHomeLoansResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PayoffHomeLoansResponseBody"
        }
      },
      "description" : "PayoffHomeLoansResponse"
    },
    "PayoffHomeLoansResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "customerIds" : {
              "type" : "array",
              "description" : "The identifier of the customer",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "The identifier of the customer",
                    "minLength" : 0,
                    "maxLength" : 10
                  }
                }
              }
            },
            "properties" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "propertyId" : {
                    "type" : "string",
                    "description" : "The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property",
                    "minLength" : 0,
                    "maxLength" : 30
                  },
                  "fields" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "fieldName" : {
                          "type" : "string",
                          "description" : "The name of the field",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "fieldValue" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 100
                        }
                      }
                    }
                  }
                }
              }
            },
            "overrides" : {
              "type" : "array",
              "description" : "Records the override messages generated during processing of an activity. ",
              "items" : {
                "type" : "object",
                "properties" : {
                  "override" : {
                    "type" : "string",
                    "description" : "Records the override messages generated during processing of an activity. ",
                    "minLength" : 0,
                    "maxLength" : 35
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "productId" : {
              "type" : "string",
              "description" : "The identifier of the product",
              "minLength" : 0,
              "maxLength" : 30
            },
            "masterArrangementId" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 20
            },
            "roleName" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 35
            },
            "currencyId" : {
              "type" : "string",
              "description" : "The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.",
              "minLength" : 0,
              "maxLength" : 10
            },
            "effectiveDate" : {
              "type" : "string",
              "format" : "date"
            },
            "activityId" : {
              "type" : "string",
              "description" : "The identifier of the activity",
              "minLength" : 0,
              "maxLength" : 80
            },
            "transactionAmount" : {
              "type" : "number",
              "description" : "The transaction amount",
              "minimum" : 0,
              "maximum" : 17
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "payoff" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object"
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "expiryDays" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 12
                    },
                    "settleDues" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 12
                    },
                    "Percentage" : {
                      "type" : "string",
                      "description" : "The percentage of holdings redeemed/subscribed",
                      "minLength" : 0,
                      "maxLength" : 12
                    },
                    "fixedAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "Action" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 6
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ArrangementErrorResponse"
    },
    "ArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "message" : {
                "type" : "string"
              },
              "property" : {
                "type" : "string"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessArrangementErrorResponse"
    },
    "BusinessArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "message" : {
                "type" : "string",
                "description" : "for bad requests"
              },
              "property" : {
                "type" : "string"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemArrangementErrorResponse"
    },
    "SystemArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "message" : {
                "type" : "string",
                "description" : "caused by server"
              },
              "property" : {
                "type" : "string"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "PayoffCreditLines" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PayoffCreditLinesBody"
        }
      },
      "description" : "PayoffCreditLines"
    },
    "PayoffCreditLinesBody" : {
      "type" : "object",
      "properties" : {
        "customerIds" : {
          "type" : "array",
          "description" : "The identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "The identifier of the customer",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "properties" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "propertyId" : {
                "type" : "string",
                "description" : "The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property",
                "minLength" : 0,
                "maxLength" : 30
              },
              "fields" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fieldName" : {
                      "type" : "string",
                      "description" : "The name of the field",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "fieldValue" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 100
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "Records the override messages generated during processing of an activity. ",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "Records the override messages generated during processing of an activity. ",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "The identifier of the product",
          "minLength" : 0,
          "maxLength" : 30
        },
        "masterArrangementId" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 20
        },
        "roleName" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "currencyId" : {
          "type" : "string",
          "description" : "The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date"
        },
        "activityId" : {
          "type" : "string",
          "description" : "The identifier of the activity",
          "minLength" : 0,
          "maxLength" : 80
        },
        "transactionAmount" : {
          "type" : "number",
          "description" : "The transaction amount",
          "minimum" : 0,
          "maximum" : 17
        },
        "payoff" : {
          "type" : "object",
          "properties" : {
            "expiryDays" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 12
            },
            "settleDues" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 12
            },
            "Percentage" : {
              "type" : "string",
              "description" : "The percentage of holdings redeemed/subscribed",
              "minLength" : 0,
              "maxLength" : 12
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 22
            },
            "Action" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            }
          }
        }
      }
    },
    "PayoffCreditLinesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PayoffCreditLinesResponseBody"
        }
      },
      "description" : "PayoffCreditLinesResponse"
    },
    "PayoffCreditLinesResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "customerIds" : {
              "type" : "array",
              "description" : "The identifier of the customer",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "The identifier of the customer",
                    "minLength" : 0,
                    "maxLength" : 10
                  }
                }
              }
            },
            "properties" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "propertyId" : {
                    "type" : "string",
                    "description" : "The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property",
                    "minLength" : 0,
                    "maxLength" : 30
                  },
                  "fields" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "fieldName" : {
                          "type" : "string",
                          "description" : "The name of the field",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "fieldValue" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 100
                        }
                      }
                    }
                  }
                }
              }
            },
            "overrides" : {
              "type" : "array",
              "description" : "Records the override messages generated during processing of an activity. ",
              "items" : {
                "type" : "object",
                "properties" : {
                  "override" : {
                    "type" : "string",
                    "description" : "Records the override messages generated during processing of an activity. ",
                    "minLength" : 0,
                    "maxLength" : 35
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "productId" : {
              "type" : "string",
              "description" : "The identifier of the product",
              "minLength" : 0,
              "maxLength" : 30
            },
            "masterArrangementId" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 20
            },
            "roleName" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 35
            },
            "currencyId" : {
              "type" : "string",
              "description" : "The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.",
              "minLength" : 0,
              "maxLength" : 10
            },
            "effectiveDate" : {
              "type" : "string",
              "format" : "date"
            },
            "activityId" : {
              "type" : "string",
              "description" : "The identifier of the activity",
              "minLength" : 0,
              "maxLength" : 80
            },
            "transactionAmount" : {
              "type" : "number",
              "description" : "The transaction amount",
              "minimum" : 0,
              "maximum" : 17
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "payoff" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object"
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "expiryDays" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 12
                    },
                    "settleDues" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 12
                    },
                    "Percentage" : {
                      "type" : "string",
                      "description" : "The percentage of holdings redeemed/subscribed",
                      "minLength" : 0,
                      "maxLength" : 12
                    },
                    "fixedAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "Action" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 6
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "PayoffPersonalLoans" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PayoffPersonalLoansBody"
        }
      },
      "description" : "PayoffPersonalLoans"
    },
    "PayoffPersonalLoansBody" : {
      "type" : "object",
      "properties" : {
        "customerIds" : {
          "type" : "array",
          "description" : "The identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "The identifier of the customer",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "properties" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "propertyId" : {
                "type" : "string",
                "description" : "The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property",
                "minLength" : 0,
                "maxLength" : 30
              },
              "fields" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fieldName" : {
                      "type" : "string",
                      "description" : "The name of the field",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "fieldValue" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 100
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "Records the override messages generated during processing of an activity. ",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "Records the override messages generated during processing of an activity. ",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "The identifier of the product",
          "minLength" : 0,
          "maxLength" : 30
        },
        "masterArrangementId" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 20
        },
        "roleName" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "currencyId" : {
          "type" : "string",
          "description" : "The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date"
        },
        "activityId" : {
          "type" : "string",
          "description" : "The identifier of the activity",
          "minLength" : 0,
          "maxLength" : 80
        },
        "transactionAmount" : {
          "type" : "number",
          "description" : "The transaction amount",
          "minimum" : 0,
          "maximum" : 17
        },
        "payoff" : {
          "type" : "object",
          "properties" : {
            "expiryDays" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 12
            },
            "settleDues" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 12
            },
            "Percentage" : {
              "type" : "string",
              "description" : "The percentage of holdings redeemed/subscribed",
              "minLength" : 0,
              "maxLength" : 12
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 22
            },
            "Action" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            }
          }
        }
      }
    },
    "PayoffPersonalLoansResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PayoffPersonalLoansResponseBody"
        }
      },
      "description" : "PayoffPersonalLoansResponse"
    },
    "PayoffPersonalLoansResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "customerIds" : {
              "type" : "array",
              "description" : "The identifier of the customer",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "The identifier of the customer",
                    "minLength" : 0,
                    "maxLength" : 10
                  }
                }
              }
            },
            "properties" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "propertyId" : {
                    "type" : "string",
                    "description" : "The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property",
                    "minLength" : 0,
                    "maxLength" : 30
                  },
                  "fields" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "fieldName" : {
                          "type" : "string",
                          "description" : "The name of the field",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "fieldValue" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 100
                        }
                      }
                    }
                  }
                }
              }
            },
            "overrides" : {
              "type" : "array",
              "description" : "Records the override messages generated during processing of an activity. ",
              "items" : {
                "type" : "object",
                "properties" : {
                  "override" : {
                    "type" : "string",
                    "description" : "Records the override messages generated during processing of an activity. ",
                    "minLength" : 0,
                    "maxLength" : 35
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "productId" : {
              "type" : "string",
              "description" : "The identifier of the product",
              "minLength" : 0,
              "maxLength" : 30
            },
            "masterArrangementId" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 20
            },
            "roleName" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 35
            },
            "currencyId" : {
              "type" : "string",
              "description" : "The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.",
              "minLength" : 0,
              "maxLength" : 10
            },
            "effectiveDate" : {
              "type" : "string",
              "format" : "date"
            },
            "activityId" : {
              "type" : "string",
              "description" : "The identifier of the activity",
              "minLength" : 0,
              "maxLength" : 80
            },
            "transactionAmount" : {
              "type" : "number",
              "description" : "The transaction amount",
              "minimum" : 0,
              "maximum" : 17
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "payoff" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object"
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "expiryDays" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 12
                    },
                    "settleDues" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 12
                    },
                    "Percentage" : {
                      "type" : "string",
                      "description" : "The percentage of holdings redeemed/subscribed",
                      "minLength" : 0,
                      "maxLength" : 12
                    },
                    "fixedAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "Action" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 6
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "PayoffBusinessLoans" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PayoffBusinessLoansBody"
        }
      },
      "description" : "PayoffBusinessLoans"
    },
    "PayoffBusinessLoansBody" : {
      "type" : "object",
      "properties" : {
        "customerIds" : {
          "type" : "array",
          "description" : "The identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "The identifier of the customer",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "properties" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "propertyId" : {
                "type" : "string",
                "description" : "The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property",
                "minLength" : 0,
                "maxLength" : 30
              },
              "fields" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fieldName" : {
                      "type" : "string",
                      "description" : "The name of the field",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "fieldValue" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 100
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "Records the override messages generated during processing of an activity. ",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "Records the override messages generated during processing of an activity. ",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "The identifier of the product",
          "minLength" : 0,
          "maxLength" : 30
        },
        "masterArrangementId" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 20
        },
        "roleName" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "currencyId" : {
          "type" : "string",
          "description" : "The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date"
        },
        "activityId" : {
          "type" : "string",
          "description" : "The identifier of the activity",
          "minLength" : 0,
          "maxLength" : 80
        },
        "transactionAmount" : {
          "type" : "number",
          "description" : "The transaction amount",
          "minimum" : 0,
          "maximum" : 17
        },
        "payoff" : {
          "type" : "object",
          "properties" : {
            "expiryDays" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 12
            },
            "settleDues" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 12
            },
            "Percentage" : {
              "type" : "string",
              "description" : "The percentage of holdings redeemed/subscribed",
              "minLength" : 0,
              "maxLength" : 12
            },
            "fixedAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 22
            },
            "Action" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 6
            }
          }
        }
      }
    },
    "PayoffBusinessLoansResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PayoffBusinessLoansResponseBody"
        }
      },
      "description" : "PayoffBusinessLoansResponse"
    },
    "PayoffBusinessLoansResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "customerIds" : {
              "type" : "array",
              "description" : "The identifier of the customer",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "The identifier of the customer",
                    "minLength" : 0,
                    "maxLength" : 10
                  }
                }
              }
            },
            "properties" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "propertyId" : {
                    "type" : "string",
                    "description" : "The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property",
                    "minLength" : 0,
                    "maxLength" : 30
                  },
                  "fields" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "fieldName" : {
                          "type" : "string",
                          "description" : "The name of the field",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "fieldValue" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 100
                        }
                      }
                    }
                  }
                }
              }
            },
            "overrides" : {
              "type" : "array",
              "description" : "Records the override messages generated during processing of an activity. ",
              "items" : {
                "type" : "object",
                "properties" : {
                  "override" : {
                    "type" : "string",
                    "description" : "Records the override messages generated during processing of an activity. ",
                    "minLength" : 0,
                    "maxLength" : 35
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "productId" : {
              "type" : "string",
              "description" : "The identifier of the product",
              "minLength" : 0,
              "maxLength" : 30
            },
            "masterArrangementId" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 20
            },
            "roleName" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 35
            },
            "currencyId" : {
              "type" : "string",
              "description" : "The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.",
              "minLength" : 0,
              "maxLength" : 10
            },
            "effectiveDate" : {
              "type" : "string",
              "format" : "date"
            },
            "activityId" : {
              "type" : "string",
              "description" : "The identifier of the activity",
              "minLength" : 0,
              "maxLength" : 80
            },
            "transactionAmount" : {
              "type" : "number",
              "description" : "The transaction amount",
              "minimum" : 0,
              "maximum" : 17
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "payoff" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object"
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "expiryDays" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 12
                    },
                    "settleDues" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 12
                    },
                    "Percentage" : {
                      "type" : "string",
                      "description" : "The percentage of holdings redeemed/subscribed",
                      "minLength" : 0,
                      "maxLength" : 12
                    },
                    "fixedAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "Action" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 6
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}