{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retrieves information about the API ecosystem, both reference information and runtime metrics",
    "version" : "v1.0.0",
    "title" : "Meta - APIs about APIs"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0",
  "schemes" : [ "https", "http" ],
  "paths" : {
    "/meta/apidocs" : {
      "get" : {
        "operationId" : "getApiDocs",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "getApiDocsResponse",
            "schema" : {
              "$ref" : "#/definitions/getApiDocsResponse"
            }
          },
          "default" : {
            "description" : "getApiDocsErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/getApiDocsErrorResponse"
            }
          }
        }
      }
    },
    "/meta/apis" : {
      "get" : {
        "operationId" : "getApis",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "getApisResponse",
            "schema" : {
              "$ref" : "#/definitions/getApisResponse"
            }
          },
          "default" : {
            "description" : "getApisResponse",
            "schema" : {
              "$ref" : "#/definitions/getApiDocsErrorResponse"
            }
          }
        }
      }
    },
    "/meta/internal/apis" : {
      "get" : {
        "operationId" : "getInternalApis",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "getInternalApisResponse",
            "schema" : {
              "$ref" : "#/definitions/getApiDocsErrorResponse"
            }
          },
          "default" : {
            "description" : "getInternalApisResponse",
            "schema" : {
              "$ref" : "#/definitions/getInternalApisResponse"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "getApiDocsResponse" : {
      "properties" : {
        "header" : {
          "type" : "object"
        },
        "body" : {
          "$ref" : "#/definitions/getApiDocsResponseBody"
        }
      },
      "description" : "getApiDocsResponse"
    },
    "getApiDocsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "description" : "getApiDocsResponseBody",
        "properties" : {
          "title" : {
            "type" : "string"
          },
          "key" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      }
    },
    "getApiDocsErrorResponse" : {
      "properties" : {
        "header" : {
          "type" : "object"
        },
        "error" : {
          "$ref" : "#/definitions/getApiDocsErrorResponseBody"
        }
      },
      "description" : "getApiDocsErrorResponse"
    },
    "getApiDocsErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string"
        },
        "message" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        }
      }
    },
    "getApisResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/getApisResponseBody"
        }
      },
      "description" : "getApisResponse"
    },
    "getApisResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "description" : "getApisResponseBody",
        "properties" : {
          "services" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "service" : {
                  "type" : "string"
                },
                "endPoints" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "method" : {
                        "type" : "string"
                      },
                      "uri" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "key" : {
            "type" : "string"
          }
        }
      }
    },
    "getApisErrorResponse" : {
      "properties" : {
        "header" : {
          "type" : "object"
        },
        "error" : {
          "$ref" : "#/definitions/getApisErrorResponseBody"
        }
      },
      "description" : "getApisErrorResponse"
    },
    "getApisErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string"
        },
        "message" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        }
      }
    },
    "ScreenHeader" : {
      "type" : "object",
      "properties" : {
        "endPointCount" : {
          "type" : "integer",
          "format" : "int32"
        },
        "serviceCount" : {
          "type" : "integer",
          "format" : "int32"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "processTime" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        },
        "apiCount" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "getInternalApisResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/getInternalApisResponseBody"
        }
      },
      "description" : "getInternalApisResponse"
    },
    "getInternalApisResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "description" : "getInternalApisResponseBody",
        "properties" : {
          "services" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "service" : {
                  "type" : "string"
                },
                "endPoints" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "method" : {
                        "type" : "string"
                      },
                      "uri" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "key" : {
            "type" : "string"
          }
        }
      }
    },
    "getInternalApisErrorResponse" : {
      "properties" : {
        "header" : {
          "type" : "object"
        },
        "error" : {
          "$ref" : "#/definitions/getInternalApisErrorResponseBody"
        }
      },
      "description" : "getInternalApisErrorResponse"
    },
    "getInternalApisErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string"
        },
        "message" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        }
      }
    }
  }
}