{
  "swagger": "2.0",
  "info": {
    "description": "API to retrieve the sweep cancellations",
    "version": "v1.0.0",
    "title": "Account sweep cancellation"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/order/sweeps/cancellations": {
      "get": {
        "operationId": "getSweepCancellations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sweepId",
            "in": "query",
            "description": "Identifier of the Retail account sweep",
            "required": false,
            "type": "string"
          },
          {
            "name": "creditAccountId",
            "in": "query",
            "description": "This is the account which will be credited for the instruction",
            "required": false,
            "type": "string"
          },
          {
            "name": "debitAccountId",
            "in": "query",
            "description": "Indicates the debit account number of the payment",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "SweepCancellationsResponse",
            "schema": {
              "$ref": "#/definitions/orderSweepCancellationsResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "orderSweepCancellationsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/orderSweepCancellationsResponseBody"
        }
      },
      "description": "orderSweepCancellationsResponse"
    },
    "orderSweepCancellationsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "debitAccountDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "debitAccountId": {
                  "type": "string",
                  "description": "Indicates the debit account number of the payment"
                },
                "debitCurrency": {
                  "type": "string",
                  "description": "Indicates the currency of debit account"
                }
              }
            }
          },
          "creditAccountDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "creditAccountId": {
                  "type": "number",
                  "description": "This is the account which will be credited for the instruction"
                },
                "creditCurrency": {
                  "type": "string"
                },
                "minimumBalance": {
                  "type": "number",
                  "description": "The minimum account balance required"
                }
              }
            }
          },
          "sweepId": {
            "type": "string",
            "description": "Identifier of the Retail account sweep"
          },
          "sweepType": {
            "type": "string",
            "description": "Sweep types defined to the user"
          },
          "frequency": {
            "type": "string",
            "format": "date",
            "description": "Identifies the frequency of instruction execution. It specifies the next execution date and frequency i.e. daily, weekly, fortnightly, monthly, yearly or fortnightly. "
          }
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type"
        }
      }
    }
  }
}