{
  "swagger": "2.0",
  "info": {
    "description": "API for cash management to create and update bundle accounts",
    "version": "v1.0.0",
    "title": "Cash management - Bundle Account management"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/order/cashManagement/bundles/accounts/summaryAccounts/transactionStops": {
      "post": {
        "summary": "Create Block on Summary Accounts",
        "description": "Create Block on Summary Accounts",
        "operationId": "createBlockOnSummaryAccounts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlockOnSummaryAccounts"
            }
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "createBlockOnSummaryAccountsResponse",
            "schema": {
              "$ref": "#/definitions/BlockOnSummaryAccountsResponse"
            }
          },
          "400": {
            "description": "BusinessArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500": {
            "description": "SystemArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default": {
            "description": "ArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      },
      "put": {
        "summary": "Update Block on Summary Accounts",
        "description": "Update Block on Summary Accounts",
        "operationId": "updateBlockOnSummaryAccounts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlockOnSummaryAccounts"
            }
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "updateBlockOnSummaryAccountsResponse",
            "schema": {
              "$ref": "#/definitions/BlockOnSummaryAccountsResponse"
            }
          },
          "400": {
            "description": "BusinessArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500": {
            "description": "SystemArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default": {
            "description": "ArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/order/cashManagement/bundles/accounts/currencySummaryAccounts/transactionStops": {
      "post": {
        "summary": "Create Block on Currency Summary Accounts",
        "description": "Create Block on Currency Summary Accounts",
        "operationId": "createBlockOnCurrencySummaryAccounts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlockOnSummaryAccounts"
            }
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "createBlockOnCurrencySummaryAccountsResponse",
            "schema": {
              "$ref": "#/definitions/BlockOnSummaryAccountsResponse"
            }
          },
          "400": {
            "description": "BusinessArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500": {
            "description": "SystemArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default": {
            "description": "ArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      },
      "put": {
        "summary": "Update Block on Currency Summary Accounts",
        "description": "Update Block on Currency Summary Accounts",
        "operationId": "updateBlockOnCurrencySummaryAccounts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlockOnSummaryAccounts"
            }
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "updateBlockOnCurrencySummaryAccountsResponse",
            "schema": {
              "$ref": "#/definitions/BlockOnSummaryAccountsResponse"
            }
          },
          "400": {
            "description": "BusinessArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500": {
            "description": "SystemArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default": {
            "description": "ArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/order/cashManagement/bundles/accounts/transactionAccounts/transactionStops": {
      "post": {
        "summary": "Create Block on Transaction Accounts",
        "description": "Create Block on Transaction Accounts",
        "operationId": "createBlockOnTransactionAccounts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlockOnTransactionAccounts"
            }
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "createBlockOnTransactionAccountsResponse",
            "schema": {
              "$ref": "#/definitions/BlockOnTransactionAccountsResponse"
            }
          },
          "400": {
            "description": "BusinessArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500": {
            "description": "SystemArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default": {
            "description": "ArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      },
      "put": {
        "summary": "Update Block on Transaction Accounts",
        "description": "Update Block on Transaction Accounts",
        "operationId": "updateBlockOnTransactionAccounts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlockOnTransactionAccounts"
            }
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "updateBlockOnTransactionAccountsResponse",
            "schema": {
              "$ref": "#/definitions/BlockOnTransactionAccountsResponse"
            }
          },
          "400": {
            "description": "BusinessArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500": {
            "description": "SystemArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default": {
            "description": "ArrangementErrorResponse",
            "schema": {
              "$ref": "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "PayloadHeader": {
      "properties": {
        "override": {
          "type": "object",
          "properties": {
            "overrideDetails": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier of the override."
                  },
                  "description": {
                    "type": "string",
                    "description": "The actual override message."
                  },
                  "code": {
                    "type": "string",
                    "description": "The code related to override message."
                  },
                  "responseCode": {
                    "type": "string",
                    "description": "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit": {
          "type": "object",
          "properties": {
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "BlockOnSummaryAccounts": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/BlockOnSummaryAccountsBody"
        }
      },
      "description": "BlockOnSummaryAccounts",
      "example": {
        "header": {
          "audit": {
            "versionNumber": ""
          },
          "override": {
            "overrideDetails": [
              {
                "description": "",
                "id": "",
                "responseCode": ""
              }
            ]
          }
        },
        "body": {
          "summary": {
            "expiryDate": "",
            "restriction": "1",
            "blockingCode": "OTHER",
            "blockingReason": "",
            "startDate": ""
          },
          "partyIds": [
            {
              "partyId": "100336"
            }
          ],
          "activityId": "ACCOUNTS-UPDATE-SUMMARY",
          "arrangmentId": "AA19087VR5HN",
          "productId": "SUMMARY.ACCOUNT",
          "currency": "USD",
          "arrangementEffectiveDate": "20190417"
        }
      }
    },
    "BlockOnSummaryAccountsBody": {
      "type": "object",
      "properties": {
        "partyIds": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "partyId": {
                "type": "string",
                "minLength": 0,
                "maxLength": 45
              }
            }
          }
        },
        "arrangmentId": {
          "type": "string",
          "minLength": 0,
          "maxLength": 45
        },
        "arrangementEffectiveDate": {
          "type": "string",
          "minLength": 0,
          "maxLength": 45
        },
        "productId": {
          "type": "string",
          "description": "The identifier of the product",
          "minLength": 0,
          "maxLength": 45
        },
        "activityId": {
          "type": "string",
          "description": "The identifier of the activity",
          "minLength": 0,
          "maxLength": 45
        },
        "summary": {
          "type": "object",
          "properties": {
            "restriction": {
              "type": "string",
              "minLength": 0,
              "maxLength": 11
            },
            "blockingCode": {
              "type": "string",
              "minLength": 0,
              "maxLength": 20
            },
            "blockingReason": {
              "type": "string",
              "minLength": 0,
              "maxLength": 25
            },
            "startDate": {
              "type": "string",
              "format": "date",
              "description": "The start date"
            },
            "expiryDate": {
              "type": "string",
              "format": "date",
              "description": "The date an agreement such as a credit facility or limit is due to expire"
            }
          }
        }
      }
    },
    "ArrangementHeader": {
      "properties": {
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "aaaId": {
          "type": "string",
          "description": "The Identifier of the aa record created"
        },
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "Status of the API(success/failed)"
        },
        "uniqueIdentifier": {
          "type": "string",
          "description": "The unique identifier/Message Reference of the record created."
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "number",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "number",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "BlockOnSummaryAccountsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ArrangementHeader"
        },
        "body": {
          "$ref": "#/definitions/BlockOnSummaryAccountsResponseBody"
        }
      },
      "description": "BlockOnSummaryAccountsResponse"
    },
    "BlockOnSummaryAccountsResponseBody": {
      "type": "object",
      "properties": {
        "arrangementActivity": {
          "type": "object",
          "properties": {
            "partyIds": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "partyId": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 45
                  }
                }
              }
            },
            "arrangmentId": {
              "type": "string",
              "minLength": 0,
              "maxLength": 45
            },
            "arrangementEffectiveDate": {
              "type": "string",
              "minLength": 0,
              "maxLength": 45
            },
            "productId": {
              "type": "string",
              "description": "The identifier of the product",
              "minLength": 0,
              "maxLength": 45
            },
            "activityId": {
              "type": "string",
              "description": "The identifier of the activity",
              "minLength": 0,
              "maxLength": 45
            }
          }
        },
        "activities": {
          "type": "object",
          "properties": {
            "{activityName}": {
              "type": "object",
              "properties": {
                "activity": {
                  "type": "string"
                },
                "transactionStatus": {
                  "type": "string",
                  "description": "The status of the transaction"
                },
                "id": {
                  "type": "string",
                  "description": "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties": {
          "type": "object",
          "properties": {
            "summary": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "description": "The status of the transaction"
                    },
                    "audit": {
                      "type": "object"
                    },
                    "id": {
                      "type": "string",
                      "description": "The Identifier of the record created"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status of the record"
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "properties": {
                    "restriction": {
                      "type": "string",
                      "minLength": 0,
                      "maxLength": 11
                    },
                    "blockingCode": {
                      "type": "string",
                      "minLength": 0,
                      "maxLength": 20
                    },
                    "blockingReason": {
                      "type": "string",
                      "minLength": 0,
                      "maxLength": 25
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date",
                      "description": "The start date"
                    },
                    "expiryDate": {
                      "type": "string",
                      "format": "date",
                      "description": "The date an agreement such as a credit facility or limit is due to expire"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "overrideBody": {
      "properties": {
        "overrideDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier of the override."
              },
              "description": {
                "type": "string",
                "description": "The actual override message."
              },
              "code": {
                "type": "string",
                "description": "The code related to override message."
              },
              "options": {
                "type": "array",
                "description": "The usable options for the override.",
                "items": {
                  "type": "string"
                }
              },
              "type": {
                "type": "string",
                "description": "The type of the override."
              }
            }
          }
        }
      }
    },
    "ArrangementErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ArrangementHeader"
        },
        "error": {
          "$ref": "#/definitions/ArrangementErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "ArrangementErrorResponse"
    },
    "ArrangementErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "message": {
                "type": "string"
              },
              "property": {
                "type": "string"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessArrangementErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ArrangementHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessArrangementErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "BusinessArrangementErrorResponse"
    },
    "BusinessArrangementErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "message": {
                "type": "string",
                "description": "for bad requests"
              },
              "property": {
                "type": "string"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemArrangementErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ArrangementHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemArrangementErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "SystemArrangementErrorResponse"
    },
    "SystemArrangementErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "message": {
                "type": "string",
                "description": "caused by server"
              },
              "property": {
                "type": "string"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    },
    "BlockOnTransactionAccounts": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/BlockOnTransactionAccountsBody"
        }
      },
      "description": "BlockOnTransactionAccounts",
      "example": {
        "header": {
          "audit": {
            "versionNumber": ""
          },
          "override": {
            "overrideDetails": [
              {
                "description": "",
                "id": "",
                "responseCode": ""
              }
            ]
          }
        },
        "body": {
          "partyIds": [
            {
              "partyId": "100292"
            }
          ],
          "activityId": "ACCOUNTS-UPDATE-BALANCE",
          "arrangmentId": "AA190770396S",
          "productId": "TR.ACCOUNT",
          "balance": {
            "expiryDate": "",
            "restriction": "1",
            "blockingCode": "OTHERS",
            "blockingReason": "",
            "startDate": ""
          },
          "arrangementEffectiveDate": ""
        }
      }
    },
    "BlockOnTransactionAccountsBody": {
      "type": "object",
      "properties": {
        "partyIds": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "partyId": {
                "type": "string",
                "minLength": 0,
                "maxLength": 45
              }
            }
          }
        },
        "arrangmentId": {
          "type": "string",
          "minLength": 0,
          "maxLength": 45
        },
        "arrangementEffectiveDate": {
          "type": "string",
          "minLength": 0,
          "maxLength": 45
        },
        "productId": {
          "type": "string",
          "description": "The identifier of the product",
          "minLength": 0,
          "maxLength": 45
        },
        "activityId": {
          "type": "string",
          "description": "The identifier of the activity",
          "minLength": 0,
          "maxLength": 45
        },
        "balance": {
          "type": "object",
          "properties": {
            "restriction": {
              "type": "string",
              "minLength": 0,
              "maxLength": 11
            },
            "blockingCode": {
              "type": "string",
              "minLength": 0,
              "maxLength": 20
            },
            "blockingReason": {
              "type": "string",
              "minLength": 0,
              "maxLength": 25
            },
            "startDate": {
              "type": "string",
              "format": "date",
              "description": "The start date"
            },
            "expiryDate": {
              "type": "string",
              "format": "date",
              "description": "The date an agreement such as a credit facility or limit is due to expire"
            }
          }
        }
      }
    },
    "BlockOnTransactionAccountsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ArrangementHeader"
        },
        "body": {
          "$ref": "#/definitions/BlockOnTransactionAccountsResponseBody"
        }
      },
      "description": "BlockOnTransactionAccountsResponse"
    },
    "BlockOnTransactionAccountsResponseBody": {
      "type": "object",
      "properties": {
        "arrangementActivity": {
          "type": "object",
          "properties": {
            "partyIds": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "partyId": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 45
                  }
                }
              }
            },
            "arrangmentId": {
              "type": "string",
              "minLength": 0,
              "maxLength": 45
            },
            "arrangementEffectiveDate": {
              "type": "string",
              "minLength": 0,
              "maxLength": 45
            },
            "productId": {
              "type": "string",
              "description": "The identifier of the product",
              "minLength": 0,
              "maxLength": 45
            },
            "activityId": {
              "type": "string",
              "description": "The identifier of the activity",
              "minLength": 0,
              "maxLength": 45
            }
          }
        },
        "activities": {
          "type": "object",
          "properties": {
            "{activityName}": {
              "type": "object",
              "properties": {
                "activity": {
                  "type": "string"
                },
                "transactionStatus": {
                  "type": "string",
                  "description": "The status of the transaction"
                },
                "id": {
                  "type": "string",
                  "description": "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties": {
          "type": "object",
          "properties": {
            "balance": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "description": "The status of the transaction"
                    },
                    "audit": {
                      "type": "object"
                    },
                    "id": {
                      "type": "string",
                      "description": "The Identifier of the record created"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status of the record"
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "properties": {
                    "restriction": {
                      "type": "string",
                      "minLength": 0,
                      "maxLength": 11
                    },
                    "blockingCode": {
                      "type": "string",
                      "minLength": 0,
                      "maxLength": 20
                    },
                    "blockingReason": {
                      "type": "string",
                      "minLength": 0,
                      "maxLength": 25
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date",
                      "description": "The start date"
                    },
                    "expiryDate": {
                      "type": "string",
                      "format": "date",
                      "description": "The date an agreement such as a credit facility or limit is due to expire"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "updateBlockOnSummaryAccounts": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/BlockOnSummaryAccountsBody"
        }
      },
      "description": "BlockOnSummaryAccounts",
      "example": {
        "header": {
          "audit": {
            "versionNumber": ""
          },
          "override": {
            "overrideDetails": [
              {
                "description": "",
                "id": "",
                "responseCode": ""
              }
            ]
          }
        },
        "body": {
          "summary": {
            "expiryDate": "",
            "restriction": "1",
            "blockingCode": "OTHER",
            "blockingReason": "",
            "startDate": ""
          },
          "partyIds": [
            {
              "partyId": "100336"
            }
          ],
          "activityId": "ACCOUNTS-UPDATE-SUMMARY",
          "arrangmentId": "AA19087VR5HN",
          "productId": "SUMMARY.ACCOUNT",
          "currency": "USD",
          "arrangementEffectiveDate": "20190417"
        }
      }
    },
    "updateBlockOnTransactionAccounts": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/BlockOnTransactionAccountsBody"
        }
      },
      "description": "BlockOnTransactionAccounts",
      "example": {
        "header": {
          "audit": {
            "versionNumber": ""
          },
          "override": {
            "overrideDetails": [
              {
                "description": "",
                "id": "",
                "responseCode": ""
              }
            ]
          }
        },
        "body": {
          "partyIds": [
            {
              "partyId": "100292"
            }
          ],
          "activityId": "ACCOUNTS-UPDATE-BALANCE",
          "arrangmentId": "AA190770396S",
          "productId": "TR.ACCOUNT",
          "balance": {
            "expiryDate": "",
            "restriction": "1",
            "blockingCode": "OTHERS",
            "blockingReason": "",
            "startDate": ""
          },
          "arrangementEffectiveDate": ""
        }
      }
    },
    "createBlockOnSummaryAccounts": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/BlockOnSummaryAccountsBody"
        }
      },
      "description": "BlockOnSummaryAccounts",
      "example": {
        "header": {
          "audit": {
            "versionNumber": ""
          },
          "override": {
            "overrideDetails": [
              {
                "description": "",
                "id": "",
                "responseCode": ""
              }
            ]
          }
        },
        "body": {
          "summary": {
            "expiryDate": "",
            "restriction": "1",
            "blockingCode": "OTHER",
            "blockingReason": "",
            "startDate": ""
          },
          "partyIds": [
            {
              "partyId": "100336"
            }
          ],
          "activityId": "ACCOUNTS-UPDATE-SUMMARY",
          "arrangmentId": "AA19087VR5HN",
          "productId": "SUMMARY.ACCOUNT",
          "currency": "USD",
          "arrangementEffectiveDate": "20190417"
        }
      }
    },
    "createBlockOnTransactionAccounts": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/BlockOnTransactionAccountsBody"
        }
      },
      "description": "BlockOnTransactionAccounts",
      "example": {
        "header": {
          "audit": {
            "versionNumber": ""
          },
          "override": {
            "overrideDetails": [
              {
                "description": "",
                "id": "",
                "responseCode": ""
              }
            ]
          }
        },
        "body": {
          "partyIds": [
            {
              "partyId": "100292"
            }
          ],
          "activityId": "ACCOUNTS-UPDATE-BALANCE",
          "arrangmentId": "AA190770396S",
          "productId": "TR.ACCOUNT",
          "balance": {
            "expiryDate": "",
            "restriction": "1",
            "blockingCode": "OTHERS",
            "blockingReason": "",
            "startDate": ""
          },
          "arrangementEffectiveDate": ""
        }
      }
    }
  }
}