{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retail Sweep Details where the requested Account is a Credit Account to the Sweep",
    "version" : "v1.0.0",
    "title" : "Order Credit Account Sweeps"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/sweeps/accounts/{accountId}/creditAccounts" : {
      "get" : {
        "operationId" : "getSweepCreditAccountDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SweepCreditAccountDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/orderSweepCreditAccountDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "orderSweepCreditAccountDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/orderSweepCreditAccountDetailsResponseBody"
        }
      },
      "description" : "orderSweepCreditAccountDetailsResponse"
    },
    "orderSweepCreditAccountDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "debitAccountDetails" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "debitAccountId" : {
                  "type" : "string",
                  "description" : "Indicates the debit account number of the payment"
                },
                "debitCurrency" : {
                  "type" : "string",
                  "description" : "Indicates the currency of debit account"
                }
              }
            }
          },
          "creditAccountDetails" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "creditAccountId" : {
                  "type" : "number",
                  "description" : "This is the account which will be credited for the instruction"
                },
                "creditCurrency" : {
                  "type" : "string"
                },
                "minimumBalance" : {
                  "type" : "number",
                  "description" : "The minimum account balance required"
                },
                "maximumBalance" : {
                  "type" : "number",
                  "description" : "The maximum account balance allowed"
                }
              }
            }
          },
          "sweepId" : {
            "type" : "string",
            "description" : "Identifier of the Retail account sweep"
          },
          "sweepType" : {
            "type" : "string",
            "description" : "Sweep types defined to the user"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    }
  }
}