{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows the viewing and creation of Order Simulations",
    "version" : "v1.0.0",
    "title" : "API for order simulation"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/portfolios/orderSimulations/{orderSimulationId}" : {
      "get" : {
        "summary" : "Retrieves the security order simulation",
        "description" : "Retrieves the security order simulation",
        "operationId" : "getSecurityOrderSimulation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "orderSimulationId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityOrderSimulationResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityOrderSimulationResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "post" : {
        "summary" : "Creates the security order simulation",
        "description" : "Creates the security order simulation",
        "operationId" : "createSecurityOrderSimulation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "orderSimulationId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SecurityOrderSimulation"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityOrderSimulationResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityOrderSimulationResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "SecurityOrderSimulation" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SecurityOrderSimulationBody"
        }
      },
      "description" : "SecurityOrderSimulation"
    },
    "SecurityOrderSimulationBody" : {
      "type" : "object",
      "properties" : {
        "orderDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "instrumentId" : {
                "type" : "string",
                "description" : "The identifier of the instrument",
                "maxLength" : 45
              },
              "contractId" : {
                "type" : "string",
                "description" : "The identifier of the contract",
                "maxLength" : 45
              },
              "accountId" : {
                "type" : "string",
                "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                "maxLength" : 45
              },
              "contractType" : {
                "type" : "string",
                "description" : "Indicates if the position is related to Loan, Deposit ,FX-Forward/FX-Swap",
                "maxLength" : 45
              },
              "callOrPut" : {
                "type" : "string",
                "description" : "Indicates whether the transaction is a call or put.  Allowed values: - CALL  - PUT",
                "maxLength" : 45
              },
              "maturityDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Indicates maturity date of the contract"
              },
              "buyCurrency" : {
                "type" : "string",
                "description" : "ISO Currency code for the bought currency.  ",
                "maxLength" : 45
              },
              "sellCurrency" : {
                "type" : "string",
                "description" : "ISO Currency code for the sold currency.  ",
                "maxLength" : 45
              },
              "marketValueCurrency" : {
                "type" : "string",
                "description" : "Currency in which the market value for the associated position belongs to",
                "maxLength" : 45
              },
              "marketValue" : {
                "type" : "number",
                "description" : "Market value for the associated position"
              },
              "marginValue" : {
                "type" : "number",
                "description" : "Margin value for the associated position"
              }
            }
          }
        },
        "breachInformations" : {
          "type" : "array",
          "description" : "Contains the information about any breach on Collateral",
          "items" : {
            "type" : "object",
            "properties" : {
              "breachInformation" : {
                "type" : "string",
                "description" : "Contains the information about any breach on Collateral",
                "maxLength" : 45
              }
            }
          }
        },
        "customerId" : {
          "type" : "number",
          "description" : "Identifier of the customer"
        },
        "portfolioId" : {
          "type" : "string",
          "description" : "Id of the portfolio or security account",
          "maxLength" : 45
        },
        "initialMarketValue" : {
          "type" : "number",
          "description" : "The initial market value for the portfolio before considering the new orders from the session."
        },
        "initialMarginValue" : {
          "type" : "number",
          "description" : "The initial margin value for the portfolio before considering the new orders from the session."
        },
        "initialLiabilityPosition" : {
          "type" : "number",
          "description" : "The initial liability value for the portfolio before considering new orders from the session."
        },
        "initialCollateralSurplusDeficit" : {
          "type" : "number",
          "description" : "Collateral Surplus before considering the new orders from this session"
        },
        "newMarketValue" : {
          "type" : "number",
          "description" : "The market value for the portfolio after considering the new orders from the session."
        },
        "newMarginValue" : {
          "type" : "number",
          "description" : "The margin value for the portfolio after considering the new orders from the session."
        },
        "newLiabilityPosition" : {
          "type" : "number",
          "description" : "The liability value for the portfolio after considering the new orders from the session"
        },
        "collateralSurplusDeficit" : {
          "type" : "number",
          "description" : "Collateral Surplus after considering the new orders from the session"
        },
        "creditCheck" : {
          "type" : "boolean",
          "description" : "Set to yes if the Collateral Surplus Deficit is positive"
        },
        "collateralCheck" : {
          "type" : "string",
          "description" : "Checks the Collateral of the Portfolio",
          "maxLength" : 45
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "SecurityOrderSimulationResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SecurityOrderSimulationResponseBody"
        }
      },
      "description" : "SecurityOrderSimulationResponse"
    },
    "SecurityOrderSimulationResponseBody" : {
      "type" : "object",
      "properties" : {
        "orderDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "instrumentId" : {
                "type" : "string",
                "description" : "The identifier of the instrument",
                "maxLength" : 45
              },
              "contractId" : {
                "type" : "string",
                "description" : "The identifier of the contract",
                "maxLength" : 45
              },
              "accountId" : {
                "type" : "string",
                "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                "maxLength" : 45
              },
              "contractType" : {
                "type" : "string",
                "description" : "Indicates if the position is related to Loan, Deposit ,FX-Forward/FX-Swap",
                "maxLength" : 45
              },
              "callOrPut" : {
                "type" : "string",
                "description" : "Indicates whether the transaction is a call or put.  Allowed values: - CALL  - PUT",
                "maxLength" : 45
              },
              "maturityDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Indicates maturity date of the contract"
              },
              "buyCurrency" : {
                "type" : "string",
                "description" : "ISO Currency code for the bought currency.  ",
                "maxLength" : 45
              },
              "sellCurrency" : {
                "type" : "string",
                "description" : "ISO Currency code for the sold currency.  ",
                "maxLength" : 45
              },
              "marketValueCurrency" : {
                "type" : "string",
                "description" : "Currency in which the market value for the associated position belongs to",
                "maxLength" : 45
              },
              "marketValue" : {
                "type" : "number",
                "description" : "Market value for the associated position"
              },
              "marginValue" : {
                "type" : "number",
                "description" : "Margin value for the associated position"
              }
            }
          }
        },
        "breachInformations" : {
          "type" : "array",
          "description" : "Contains the information about any breach on Collateral",
          "items" : {
            "type" : "object",
            "properties" : {
              "breachInformation" : {
                "type" : "string",
                "description" : "Contains the information about any breach on Collateral",
                "maxLength" : 45
              }
            }
          }
        },
        "customerId" : {
          "type" : "number",
          "description" : "Identifier of the customer"
        },
        "portfolioId" : {
          "type" : "string",
          "description" : "Id of the portfolio or security account",
          "maxLength" : 45
        },
        "initialMarketValue" : {
          "type" : "number",
          "description" : "The initial market value for the portfolio before considering the new orders from the session."
        },
        "initialMarginValue" : {
          "type" : "number",
          "description" : "The initial margin value for the portfolio before considering the new orders from the session."
        },
        "initialLiabilityPosition" : {
          "type" : "number",
          "description" : "The initial liability value for the portfolio before considering new orders from the session."
        },
        "initialCollateralSurplusDeficit" : {
          "type" : "number",
          "description" : "Collateral Surplus before considering the new orders from this session"
        },
        "newMarketValue" : {
          "type" : "number",
          "description" : "The market value for the portfolio after considering the new orders from the session."
        },
        "newMarginValue" : {
          "type" : "number",
          "description" : "The margin value for the portfolio after considering the new orders from the session."
        },
        "newLiabilityPosition" : {
          "type" : "number",
          "description" : "The liability value for the portfolio after considering the new orders from the session"
        },
        "collateralSurplusDeficit" : {
          "type" : "number",
          "description" : "Collateral Surplus after considering the new orders from the session"
        },
        "creditCheck" : {
          "type" : "boolean",
          "description" : "Set to yes if the Collateral Surplus Deficit is positive"
        },
        "collateralCheck" : {
          "type" : "string",
          "description" : "Checks the Collateral of the Portfolio",
          "maxLength" : 45
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}