{
  "swagger" : "2.0",
  "info" : {
    "description" : "Update Settlement instructions to an Account",
    "version" : "v1.0.0",
    "title" : "Update Settlement instructions to an Account"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/cashManagement/bundles/updateSettlement" : {
      "put" : {
        "summary" : "Update Settlement instructions to an Account",
        "description" : "Update Settlement instructions to an Account",
        "operationId" : "updateBundleSettlementAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BundleSettlementAccount"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateBundleSettlementAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/BundleSettlementAccountResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "BundleSettlementAccount" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BundleSettlementAccountBody"
        }
      },
      "description" : "BundleSettlementAccount",
      "example" : {
        "header" : {
          "audit" : {
            "versionNumber" : ""
          },
          "override" : {
            "overrideDetails" : [ {
              "description" : "Default Settlement Account not specified. Charges will not be processed.",
              "id" : "AA-DEF.SETTLE.ACCOUNT.MAND",
              "type" : "Override",
              "responseCode" : "RECEIVED"
            } ]
          }
        },
        "body" : {
          "partyIds" : [ {
            "partyId" : ""
          } ],
          "activityId" : "BUNDLE-UPDATE-SETTLEMENT",
          "arrangmentId" : "AA19085F2HQB",
          "productId" : "MASTER.ACCOUNT",
          "arrangementEffectiveDate" : "",
          "settlement" : {
            "settlement" : [ {
              "reference" : [ {
                "payinPercentage" : "",
                "payoutAmount" : "",
                "payinAccount" : "",
                "payinAmount" : "",
                "payoutAccount" : "",
                "payoutPercentage" : "",
                "payinBeneficiary" : "",
                "payoutBeneficiary" : "",
                "ddMandateReference" : ""
              } ],
              "payinSettlement" : "",
              "payoutSettlement" : ""
            } ]
          }
        }
      }
    },
    "BundleSettlementAccountBody" : {
      "type" : "object",
      "properties" : {
        "partyIds" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyId" : {
                "type" : "string",
                "maxLength" : 45
              }
            }
          }
        },
        "arrangmentId" : {
          "type" : "string",
          "maxLength" : 45
        },
        "arrangementEffectiveDate" : {
          "type" : "string",
          "maxLength" : 45
        },
        "productId" : {
          "type" : "string",
          "description" : "The identifier of the product",
          "maxLength" : 45
        },
        "activityId" : {
          "type" : "string",
          "description" : "The identifier of the activity",
          "maxLength" : 45
        },
        "settlement" : {
          "type" : "object",
          "properties" : {
            "settlement" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "payinSettlement" : {
                    "type" : "string",
                    "maxLength" : 15
                  },
                  "payoutSettlement" : {
                    "type" : "string",
                    "maxLength" : 16
                  },
                  "reference" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "ddMandateReference" : {
                          "type" : "string",
                          "maxLength" : 18
                        },
                        "payinAccount" : {
                          "type" : "string",
                          "maxLength" : 12
                        },
                        "payinBeneficiary" : {
                          "type" : "string",
                          "maxLength" : 16
                        },
                        "payinPercentage" : {
                          "type" : "string",
                          "maxLength" : 15
                        },
                        "payinAmount" : {
                          "type" : "string",
                          "maxLength" : 11
                        },
                        "payoutAccount" : {
                          "type" : "string",
                          "maxLength" : 13
                        },
                        "payoutBeneficiary" : {
                          "type" : "string",
                          "maxLength" : 17
                        },
                        "payoutPercentage" : {
                          "type" : "string",
                          "maxLength" : 16
                        },
                        "payoutAmount" : {
                          "type" : "string",
                          "maxLength" : 12
                        }
                      }
                    }
                  }
                }
              }
            },
            "assocSettlement" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "payinSettlement" : {
                    "type" : "string",
                    "maxLength" : 15
                  },
                  "payinRule" : {
                    "type" : "string",
                    "maxLength" : 9
                  },
                  "payinSettlementActivity" : {
                    "type" : "string",
                    "maxLength" : 23
                  },
                  "payinRCType" : {
                    "type" : "string",
                    "maxLength" : 11
                  },
                  "payinRCCondition" : {
                    "type" : "string",
                    "maxLength" : 16
                  },
                  "reference" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "ddMandateReference" : {
                          "type" : "string",
                          "maxLength" : 18
                        },
                        "payinAccount" : {
                          "type" : "string",
                          "maxLength" : 12
                        },
                        "payinBeneficiary" : {
                          "type" : "string",
                          "maxLength" : 16
                        },
                        "payinPOProduct" : {
                          "type" : "string",
                          "maxLength" : 14
                        },
                        "payinPercentage" : {
                          "type" : "string",
                          "maxLength" : 15
                        },
                        "payinAmount" : {
                          "type" : "string",
                          "maxLength" : 11
                        },
                        "payinActivity" : {
                          "type" : "string",
                          "maxLength" : 13
                        }
                      }
                    }
                  }
                }
              }
            },
            "payout" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "payoutSettlement" : {
                    "type" : "string",
                    "maxLength" : 16
                  },
                  "payoutSettlementActivity" : {
                    "type" : "string",
                    "maxLength" : 24
                  },
                  "property" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "payoutPropertyClass" : {
                          "type" : "string",
                          "maxLength" : 19
                        },
                        "payoutProperty" : {
                          "type" : "string",
                          "maxLength" : 14
                        },
                        "payoutAccount" : {
                          "type" : "string",
                          "maxLength" : 13
                        },
                        "payoutBeneficiary" : {
                          "type" : "string",
                          "maxLength" : 17
                        },
                        "payoutPOProduct" : {
                          "type" : "string",
                          "maxLength" : 15
                        },
                        "payoutPercentage" : {
                          "type" : "string",
                          "maxLength" : 16
                        },
                        "payoutAmount" : {
                          "type" : "string",
                          "maxLength" : 12
                        },
                        "payoutActivity" : {
                          "type" : "string",
                          "maxLength" : 14
                        }
                      }
                    }
                  }
                }
              }
            },
            "paymentType" : {
              "type" : "string",
              "description" : "The payment type identifier",
              "maxLength" : 11
            },
            "defaultSettlementAccount" : {
              "type" : "string",
              "maxLength" : 26
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "BundleSettlementAccountResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BundleSettlementAccountResponseBody"
        }
      },
      "description" : "BundleSettlementAccountResponse"
    },
    "BundleSettlementAccountResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "partyIds" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "partyId" : {
                    "type" : "string",
                    "maxLength" : 45
                  }
                }
              }
            },
            "arrangmentId" : {
              "type" : "string",
              "maxLength" : 45
            },
            "arrangementEffectiveDate" : {
              "type" : "string",
              "maxLength" : 45
            },
            "productId" : {
              "type" : "string",
              "description" : "The identifier of the product",
              "maxLength" : 45
            },
            "activityId" : {
              "type" : "string",
              "description" : "The identifier of the activity",
              "maxLength" : 45
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "settlement" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "settlement" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "payinSettlement" : {
                            "type" : "string",
                            "maxLength" : 15
                          },
                          "payoutSettlement" : {
                            "type" : "string",
                            "maxLength" : 16
                          },
                          "reference" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "ddMandateReference" : {
                                  "type" : "string",
                                  "maxLength" : 18
                                },
                                "payinAccount" : {
                                  "type" : "string",
                                  "maxLength" : 12
                                },
                                "payinBeneficiary" : {
                                  "type" : "string",
                                  "maxLength" : 16
                                },
                                "payinPercentage" : {
                                  "type" : "string",
                                  "maxLength" : 15
                                },
                                "payinAmount" : {
                                  "type" : "string",
                                  "maxLength" : 11
                                },
                                "payoutAccount" : {
                                  "type" : "string",
                                  "maxLength" : 13
                                },
                                "payoutBeneficiary" : {
                                  "type" : "string",
                                  "maxLength" : 17
                                },
                                "payoutPercentage" : {
                                  "type" : "string",
                                  "maxLength" : 16
                                },
                                "payoutAmount" : {
                                  "type" : "string",
                                  "maxLength" : 12
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "assocSettlement" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "payinSettlement" : {
                            "type" : "string",
                            "maxLength" : 15
                          },
                          "payinRule" : {
                            "type" : "string",
                            "maxLength" : 9
                          },
                          "payinSettlementActivity" : {
                            "type" : "string",
                            "maxLength" : 23
                          },
                          "payinRCType" : {
                            "type" : "string",
                            "maxLength" : 11
                          },
                          "payinRCCondition" : {
                            "type" : "string",
                            "maxLength" : 16
                          },
                          "reference" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "ddMandateReference" : {
                                  "type" : "string",
                                  "maxLength" : 18
                                },
                                "payinAccount" : {
                                  "type" : "string",
                                  "maxLength" : 12
                                },
                                "payinBeneficiary" : {
                                  "type" : "string",
                                  "maxLength" : 16
                                },
                                "payinPOProduct" : {
                                  "type" : "string",
                                  "maxLength" : 14
                                },
                                "payinPercentage" : {
                                  "type" : "string",
                                  "maxLength" : 15
                                },
                                "payinAmount" : {
                                  "type" : "string",
                                  "maxLength" : 11
                                },
                                "payinActivity" : {
                                  "type" : "string",
                                  "maxLength" : 13
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "payout" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "payoutSettlement" : {
                            "type" : "string",
                            "maxLength" : 16
                          },
                          "payoutSettlementActivity" : {
                            "type" : "string",
                            "maxLength" : 24
                          },
                          "property" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "payoutPropertyClass" : {
                                  "type" : "string",
                                  "maxLength" : 19
                                },
                                "payoutProperty" : {
                                  "type" : "string",
                                  "maxLength" : 14
                                },
                                "payoutAccount" : {
                                  "type" : "string",
                                  "maxLength" : 13
                                },
                                "payoutBeneficiary" : {
                                  "type" : "string",
                                  "maxLength" : 17
                                },
                                "payoutPOProduct" : {
                                  "type" : "string",
                                  "maxLength" : 15
                                },
                                "payoutPercentage" : {
                                  "type" : "string",
                                  "maxLength" : 16
                                },
                                "payoutAmount" : {
                                  "type" : "string",
                                  "maxLength" : 12
                                },
                                "payoutActivity" : {
                                  "type" : "string",
                                  "maxLength" : 14
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "paymentType" : {
                      "type" : "string",
                      "description" : "The payment type identifier",
                      "maxLength" : 11
                    },
                    "defaultSettlementAccount" : {
                      "type" : "string",
                      "maxLength" : 26
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ArrangementErrorResponse"
    },
    "ArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessArrangementErrorResponse"
    },
    "BusinessArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemArrangementErrorResponse"
    },
    "SystemArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "updateBundleSettlementAccount" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BundleSettlementAccountBody"
        }
      },
      "description" : "BundleSettlementAccount",
      "example" : {
        "header" : {
          "audit" : {
            "versionNumber" : ""
          },
          "override" : {
            "overrideDetails" : [ {
              "description" : "Default Settlement Account not specified. Charges will not be processed.",
              "id" : "AA-DEF.SETTLE.ACCOUNT.MAND",
              "type" : "Override",
              "responseCode" : "RECEIVED"
            } ]
          }
        },
        "body" : {
          "partyIds" : [ {
            "partyId" : ""
          } ],
          "activityId" : "BUNDLE-UPDATE-SETTLEMENT",
          "arrangmentId" : "AA19085F2HQB",
          "productId" : "MASTER.ACCOUNT",
          "arrangementEffectiveDate" : "",
          "settlement" : {
            "settlement" : [ {
              "reference" : [ {
                "payinPercentage" : "",
                "payoutAmount" : "",
                "payinAccount" : "",
                "payinAmount" : "",
                "payoutAccount" : "",
                "payoutPercentage" : "",
                "payinBeneficiary" : "",
                "payoutBeneficiary" : "",
                "ddMandateReference" : ""
              } ],
              "payinSettlement" : "",
              "payoutSettlement" : ""
            } ]
          }
        }
      }
    }
  }
}