{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows the creation, viewing and management of security transfer orders, view the inbound and outbound security transfer orders and creation of orders through channels",
    "version" : "v1.0.0",
    "title" : "API for security transfer orders"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/securityTransferOrders/inboundOrders" : {
      "get" : {
        "summary" : "Retrieves the inbound security transfers",
        "description" : "Retrieves the inbound free of payment security transfers",
        "operationId" : "getInboundSecurityTransferOrders",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "InboundSecurityTransferOrdersResponse",
            "schema" : {
              "$ref" : "#/definitions/InboundSecurityTransferOrdersResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/securityTransferOrders/outboundOrders" : {
      "get" : {
        "summary" : "Retrieves the outbound security transfers",
        "description" : "Retrieves the outbound free of payment security transfers",
        "operationId" : "getOutboundSecurityTransferOrders",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OutboundSecurityTransferOrdersResponse",
            "schema" : {
              "$ref" : "#/definitions/OutboundSecurityTransferOrdersResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/securityTransferOrders" : {
      "post" : {
        "summary" : "Creates a security transfer order",
        "description" : "Creates a security transfer order",
        "operationId" : "createSecurityTransferOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SecurityTransferOrder"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityTransferOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityTransferOrderResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/securityTransferOrders/{securityTransferOrderId}" : {
      "get" : {
        "summary" : "Retreives the security transfer order",
        "description" : "Retreives the security transfer order",
        "operationId" : "getSecurityTransferOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "securityTransferOrderId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityTransferOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityTransferOrderResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "summary" : "Updates the security transfer order",
        "description" : "Updates the security transfer order",
        "operationId" : "updateSecurityTransferOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "securityTransferOrderId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SecurityTransferOrder"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityTransferOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityTransferOrderResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/securityTransferOrders/drafts" : {
      "post" : {
        "summary" : "Creates a security transfer order draft",
        "description" : "Creates a security transfer order draft",
        "operationId" : "createSecurityTransferDraftOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SecurityTransferOrder"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityTransferDraftOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityTransferOrderResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/securityTransferOrders/requests/" : {
      "post" : {
        "summary" : "Creates the security transfer request",
        "description" : "Creates the security transfer request",
        "operationId" : "createSecurityTransferRequest",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SecurityTransferRequest"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityTransferRequestResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityTransferRequestResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "InboundSecurityTransferOrdersResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/InboundSecurityTransferOrdersResponseBody"
        }
      },
      "description" : "InboundSecurityTransferOrdersResponse"
    },
    "InboundSecurityTransferOrdersResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "transactionId" : {
            "type" : "string",
            "description" : "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
            "maxLength" : 16
          },
          "transactionType" : {
            "type" : "string",
            "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
            "maxLength" : 30
          },
          "instrumentId" : {
            "type" : "string",
            "description" : "The identifier of the instrument",
            "maxLength" : 30
          },
          "tradeDate" : {
            "type" : "string",
            "description" : "Standard date field which records trade date of the account",
            "maxLength" : 11
          },
          "valueDate" : {
            "type" : "string",
            "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)",
            "maxLength" : 11
          },
          "depositoryName" : {
            "type" : "string",
            "description" : "The name that is displayed for the depository",
            "maxLength" : 30
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer",
            "maxLength" : 30
          },
          "portfolioName" : {
            "type" : "string",
            "description" : "The name that is displayed for the portfolio",
            "maxLength" : 30
          },
          "quantity" : {
            "type" : "string",
            "description" : "The nominal quantity"
          },
          "price" : {
            "type" : "string",
            "description" : "The Price at which the nominal amount of the Security is to be valued for the transaction."
          },
          "inputter" : {
            "type" : "string",
            "description" : "The user identifier who input the transaction",
            "maxLength" : 35
          },
          "dateTime" : {
            "type" : "string",
            "description" : "Date and time separated by '-'",
            "maxLength" : 15
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "OutboundSecurityTransferOrdersResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OutboundSecurityTransferOrdersResponseBody"
        }
      },
      "description" : "OutboundSecurityTransferOrdersResponse"
    },
    "OutboundSecurityTransferOrdersResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "transactionId" : {
            "type" : "string",
            "description" : "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
            "maxLength" : 16
          },
          "transactionType" : {
            "type" : "string",
            "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
            "maxLength" : 30
          },
          "instrumentId" : {
            "type" : "string",
            "description" : "The identifier of the instrument",
            "maxLength" : 30
          },
          "tradeDate" : {
            "type" : "string",
            "description" : "Standard date field which records trade date of the account",
            "maxLength" : 11
          },
          "valueDate" : {
            "type" : "string",
            "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)",
            "maxLength" : 11
          },
          "depositoryName" : {
            "type" : "string",
            "description" : "The name that is displayed for the depository",
            "maxLength" : 30
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer",
            "maxLength" : 30
          },
          "portfolioName" : {
            "type" : "string",
            "description" : "The name that is displayed for the portfolio",
            "maxLength" : 30
          },
          "quantity" : {
            "type" : "string",
            "description" : "The nominal quantity"
          },
          "price" : {
            "type" : "string",
            "description" : "The Price at which the nominal amount of the Security is to be valued for the transaction."
          },
          "inputter" : {
            "type" : "string",
            "description" : "The user identifier who input the transaction",
            "maxLength" : 35
          },
          "dateTime" : {
            "type" : "string",
            "description" : "Date and time separated by '-'",
            "maxLength" : 15
          }
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "SecurityTransferOrder" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SecurityTransferOrderBody"
        }
      },
      "description" : "SecurityTransferOrder"
    },
    "SecurityTransferOrderBody" : {
      "type" : "object",
      "properties" : {
        "taxes" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerChargeTaxType" : {
                "type" : "string",
                "description" : "The type of charge or tax to be paid by the customer",
                "maxLength" : 30
              },
              "customerChargeTaxAmount" : {
                "type" : "number",
                "description" : "The amount of charges or taxes to be paid by customer"
              },
              "customerChargeTaxCode" : {
                "type" : "string",
                "description" : "The Charge or tax identifier",
                "maxLength" : 30
              }
            }
          }
        },
        "instructions" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerInstructions" : {
                "type" : "string",
                "description" : "Instructions given by the customer",
                "maxLength" : 30
              }
            }
          }
        },
        "capitalGainTaxes" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "taxAmount" : {
                "type" : "number",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment."
              }
            }
          }
        },
        "taxesInTradeCurrency" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "taxAmount" : {
                "type" : "number",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment."
              },
              "manualTaxAmount" : {
                "type" : "number",
                "description" : "The manually entered tax amount"
              }
            }
          }
        },
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "maxLength" : 30
        },
        "instrumentId" : {
          "type" : "string",
          "description" : "The identifier of the instrument",
          "maxLength" : 30
        },
        "instrumentCurrencyId" : {
          "type" : "string",
          "description" : "The currency of the instrument",
          "maxLength" : 30
        },
        "transferDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The transfer date of the transaction"
        },
        "valueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
        },
        "depositoryId" : {
          "type" : "string",
          "description" : "Id of the securities depository.",
          "maxLength" : 30
        },
        "deliveryInstruction" : {
          "type" : "string",
          "description" : "Type of Delivery to be made for this transaction. Allowed values: - DAP: Delivery Against Payment - FOP: Free of Payment",
          "maxLength" : 30
        },
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "maxLength" : 30
        },
        "portfolioId" : {
          "type" : "string",
          "description" : "Id of the portfolio or security account",
          "maxLength" : 30
        },
        "quantity" : {
          "type" : "string",
          "description" : "The nominal quantity",
          "maxLength" : 30
        },
        "price" : {
          "type" : "number",
          "description" : "The Price at which the nominal amount of the Security is to be valued for the transaction."
        },
        "nominee" : {
          "type" : "string",
          "description" : "Represents the Nominee Company record",
          "maxLength" : 30
        },
        "grossCost" : {
          "type" : "number",
          "description" : "Total cost of the transaction"
        },
        "valueInInstrumentCurrency" : {
          "type" : "string",
          "description" : "The amount converted to the currency of the instrument",
          "maxLength" : 30
        },
        "charges" : {
          "type" : "number",
          "description" : "The charges or fees for this transaction"
        },
        "localTaxAmount" : {
          "type" : "number",
          "description" : "Holds the local tax amount"
        },
        "actualCharges" : {
          "type" : "string",
          "maxLength" : 30
        },
        "accountId" : {
          "type" : "string",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "maxLength" : 30
        },
        "interestAmount" : {
          "type" : "number",
          "description" : "The accrued Interest due or accrued."
        },
        "netAmountInInstrumentCurrency" : {
          "type" : "number",
          "description" : "The net amount of the current valuation of the Securities being transferred, i.e.. the gross amount +/- Charges + accrued Interest"
        },
        "netAmountInAccountCurrency" : {
          "type" : "number",
          "description" : "The net amount due to or from the Customer after +/- Charges"
        },
        "exchangeRate" : {
          "type" : "number",
          "description" : "Contains the exchange rate returned from the system. i.e. For entries over foreign currency accounts, this contains the rate which used to convert the currency amount to the local equivalent at the time of the originating transaction."
        },
        "commission" : {
          "type" : "number",
          "description" : "The bank fees or commission charged for the transaction"
        },
        "customerCommissionTax" : {
          "type" : "number",
          "description" : "Specifies the tax amount based on the commission charged"
        },
        "commissionName" : {
          "type" : "string",
          "description" : "The name that is displayed for the commission",
          "maxLength" : 30
        },
        "commissionRate" : {
          "type" : "string",
          "description" : "The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually.",
          "maxLength" : 25
        },
        "changeInBeneficialOwner" : {
          "type" : "string",
          "description" : "Indicates whether there is a beneficial owner change as a result of the transfer",
          "maxLength" : 25
        },
        "stampTax" : {
          "type" : "string",
          "description" : "The Stamp Tax amount charged to the Customer for the trade",
          "maxLength" : 25
        },
        "counterpartyId" : {
          "type" : "string",
          "description" : "The identifier of the counter party",
          "maxLength" : 25
        },
        "BIC" : {
          "type" : "string",
          "description" : "The BIC code of the Beneficiary bank",
          "maxLength" : 25
        },
        "nostroId" : {
          "type" : "string",
          "description" : "Nostro account id",
          "maxLength" : 25
        },
        "nostroCurrency" : {
          "type" : "string",
          "description" : "Currency of the nostro account",
          "maxLength" : 25
        },
        "counterpartyDepository" : {
          "type" : "string",
          "description" : "Specifies the Depository(ies) that the Broker will be delivering the Securities from or to.",
          "maxLength" : 25
        },
        "brokerAmount" : {
          "type" : "number",
          "description" : "Net amount due to/from the broker for the transaction. Applicable only where the security transfer is made against payment."
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "SecurityTransferOrderResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SecurityTransferOrderResponseBody"
        }
      },
      "description" : "SecurityTransferOrderResponse"
    },
    "SecurityTransferOrderResponseBody" : {
      "type" : "object",
      "properties" : {
        "taxes" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerChargeTaxType" : {
                "type" : "string",
                "description" : "The type of charge or tax to be paid by the customer",
                "maxLength" : 30
              },
              "customerChargeTaxAmount" : {
                "type" : "number",
                "description" : "The amount of charges or taxes to be paid by customer"
              },
              "customerChargeTaxCode" : {
                "type" : "string",
                "description" : "The Charge or tax identifier",
                "maxLength" : 30
              }
            }
          }
        },
        "instructions" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerInstructions" : {
                "type" : "string",
                "description" : "Instructions given by the customer",
                "maxLength" : 30
              }
            }
          }
        },
        "capitalGainTaxes" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "taxAmount" : {
                "type" : "number",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment."
              }
            }
          }
        },
        "taxesInTradeCurrency" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "taxAmount" : {
                "type" : "number",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment."
              },
              "manualTaxAmount" : {
                "type" : "number",
                "description" : "The manually entered tax amount"
              }
            }
          }
        },
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "maxLength" : 30
        },
        "instrumentId" : {
          "type" : "string",
          "description" : "The identifier of the instrument",
          "maxLength" : 30
        },
        "instrumentCurrencyId" : {
          "type" : "string",
          "description" : "The currency of the instrument",
          "maxLength" : 30
        },
        "transferDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The transfer date of the transaction"
        },
        "valueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
        },
        "depositoryId" : {
          "type" : "string",
          "description" : "Id of the securities depository.",
          "maxLength" : 30
        },
        "deliveryInstruction" : {
          "type" : "string",
          "description" : "Type of Delivery to be made for this transaction. Allowed values: - DAP: Delivery Against Payment - FOP: Free of Payment",
          "maxLength" : 30
        },
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "maxLength" : 30
        },
        "portfolioId" : {
          "type" : "string",
          "description" : "Id of the portfolio or security account",
          "maxLength" : 30
        },
        "quantity" : {
          "type" : "string",
          "description" : "The nominal quantity",
          "maxLength" : 30
        },
        "price" : {
          "type" : "number",
          "description" : "The Price at which the nominal amount of the Security is to be valued for the transaction."
        },
        "nominee" : {
          "type" : "string",
          "description" : "Represents the Nominee Company record",
          "maxLength" : 30
        },
        "grossCost" : {
          "type" : "number",
          "description" : "Total cost of the transaction"
        },
        "valueInInstrumentCurrency" : {
          "type" : "string",
          "description" : "The amount converted to the currency of the instrument",
          "maxLength" : 30
        },
        "charges" : {
          "type" : "number",
          "description" : "The charges or fees for this transaction"
        },
        "localTaxAmount" : {
          "type" : "number",
          "description" : "Holds the local tax amount"
        },
        "actualCharges" : {
          "type" : "string",
          "maxLength" : 30
        },
        "accountId" : {
          "type" : "string",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "maxLength" : 30
        },
        "interestAmount" : {
          "type" : "number",
          "description" : "The accrued Interest due or accrued."
        },
        "netAmountInInstrumentCurrency" : {
          "type" : "number",
          "description" : "The net amount of the current valuation of the Securities being transferred, i.e.. the gross amount +/- Charges + accrued Interest"
        },
        "netAmountInAccountCurrency" : {
          "type" : "number",
          "description" : "The net amount due to or from the Customer after +/- Charges"
        },
        "exchangeRate" : {
          "type" : "number",
          "description" : "Contains the exchange rate returned from the system. i.e. For entries over foreign currency accounts, this contains the rate which used to convert the currency amount to the local equivalent at the time of the originating transaction."
        },
        "commission" : {
          "type" : "number",
          "description" : "The bank fees or commission charged for the transaction"
        },
        "customerCommissionTax" : {
          "type" : "number",
          "description" : "Specifies the tax amount based on the commission charged"
        },
        "commissionName" : {
          "type" : "string",
          "description" : "The name that is displayed for the commission",
          "maxLength" : 30
        },
        "commissionRate" : {
          "type" : "string",
          "description" : "The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually.",
          "maxLength" : 25
        },
        "changeInBeneficialOwner" : {
          "type" : "string",
          "description" : "Indicates whether there is a beneficial owner change as a result of the transfer",
          "maxLength" : 25
        },
        "stampTax" : {
          "type" : "string",
          "description" : "The Stamp Tax amount charged to the Customer for the trade",
          "maxLength" : 25
        },
        "counterpartyId" : {
          "type" : "string",
          "description" : "The identifier of the counter party",
          "maxLength" : 25
        },
        "BIC" : {
          "type" : "string",
          "description" : "The BIC code of the Beneficiary bank",
          "maxLength" : 25
        },
        "nostroId" : {
          "type" : "string",
          "description" : "Nostro account id",
          "maxLength" : 25
        },
        "nostroCurrency" : {
          "type" : "string",
          "description" : "Currency of the nostro account",
          "maxLength" : 25
        },
        "counterpartyDepository" : {
          "type" : "string",
          "description" : "Specifies the Depository(ies) that the Broker will be delivering the Securities from or to.",
          "maxLength" : 25
        },
        "brokerAmount" : {
          "type" : "number",
          "description" : "Net amount due to/from the broker for the transaction. Applicable only where the security transfer is made against payment."
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "SecurityTransferRequest" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SecurityTransferRequestBody"
        }
      },
      "description" : "SecurityTransferRequest"
    },
    "SecurityTransferRequestBody" : {
      "type" : "object",
      "properties" : {
        "taxes" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerChargeTaxType" : {
                "type" : "string",
                "description" : "The type of charge or tax to be paid by the customer",
                "maxLength" : 30
              },
              "customerChargeTaxAmount" : {
                "type" : "number",
                "description" : "The amount of charges or taxes to be paid by customer"
              },
              "customerChargeTaxCode" : {
                "type" : "string",
                "description" : "The Charge or tax identifier",
                "maxLength" : 30
              }
            }
          }
        },
        "instructions" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerInstructions" : {
                "type" : "string",
                "description" : "Instructions given by the customer",
                "maxLength" : 30
              }
            }
          }
        },
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "maxLength" : 30
        },
        "instrumentId" : {
          "type" : "string",
          "description" : "The identifier of the instrument",
          "maxLength" : 30
        },
        "instrumentCurrencyId" : {
          "type" : "string",
          "description" : "The currency of the instrument",
          "maxLength" : 30
        },
        "transferDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The transfer date of the transaction"
        },
        "valueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
        },
        "depositoryId" : {
          "type" : "string",
          "description" : "Id of the securities depository.",
          "maxLength" : 30
        },
        "deliveryInstruction" : {
          "type" : "string",
          "description" : "Type of Delivery to be made for this transaction. Allowed values: - DAP: Delivery Against Payment - FOP: Free of Payment",
          "maxLength" : 30
        },
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "maxLength" : 30
        },
        "portfolioId" : {
          "type" : "string",
          "description" : "Id of the portfolio or security account",
          "maxLength" : 30
        },
        "quantity" : {
          "type" : "number",
          "description" : "The nominal quantity"
        },
        "price" : {
          "type" : "number",
          "description" : "The Price at which the nominal amount of the Security is to be valued for the transaction."
        },
        "nominee" : {
          "type" : "string",
          "description" : "Represents the Nominee Company record",
          "maxLength" : 30
        },
        "grossCost" : {
          "type" : "number",
          "description" : "Total cost of the transaction"
        },
        "valueInInstrumentCurrency" : {
          "type" : "number",
          "description" : "The amount converted to the currency of the instrument"
        },
        "charges" : {
          "type" : "number",
          "description" : "The charges or fees for this transaction"
        },
        "actualCharges" : {
          "type" : "number"
        },
        "accountId" : {
          "type" : "string",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "maxLength" : 30
        },
        "interestAmount" : {
          "type" : "number",
          "description" : "The accrued Interest due or accrued."
        },
        "netAmountInInstrumentCurrency" : {
          "type" : "number",
          "description" : "The net amount of the current valuation of the Securities being transferred, i.e.. the gross amount +/- Charges + accrued Interest"
        },
        "netAmountInAccountCurrency" : {
          "type" : "number",
          "description" : "The net amount due to or from the Customer after +/- Charges"
        },
        "exchangeRate" : {
          "type" : "number",
          "description" : "Contains the exchange rate returned from the system. i.e. For entries over foreign currency accounts, this contains the rate which used to convert the currency amount to the local equivalent at the time of the originating transaction."
        },
        "commission" : {
          "type" : "number",
          "description" : "The bank fees or commission charged for the transaction"
        },
        "commissionName" : {
          "type" : "string",
          "description" : "The name that is displayed for the commission",
          "maxLength" : 30
        },
        "commissionRate" : {
          "type" : "number",
          "description" : "The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."
        },
        "changeInBeneficialOwner" : {
          "type" : "boolean",
          "description" : "Indicates whether there is a beneficial owner change as a result of the transfer"
        },
        "stampTax" : {
          "type" : "number",
          "description" : "The Stamp Tax amount charged to the Customer for the trade"
        },
        "counterpartyId" : {
          "type" : "string",
          "description" : "The identifier of the counter party",
          "maxLength" : 30
        },
        "BIC" : {
          "type" : "string",
          "description" : "The BIC code of the Beneficiary bank",
          "maxLength" : 30
        },
        "nostroId" : {
          "type" : "string",
          "description" : "Nostro account id",
          "maxLength" : 30
        },
        "nostroCurrency" : {
          "type" : "string",
          "description" : "Currency of the nostro account",
          "maxLength" : 30
        },
        "counterpartyDepository" : {
          "type" : "string",
          "description" : "Specifies the Depository(ies) that the Broker will be delivering the Securities from or to.",
          "maxLength" : 30
        },
        "brokerAmount" : {
          "type" : "number",
          "description" : "Net amount due to/from the broker for the transaction. Applicable only where the security transfer is made against payment."
        }
      }
    },
    "SecurityTransferRequestResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SecurityTransferRequestResponseBody"
        }
      },
      "description" : "SecurityTransferRequestResponse"
    },
    "SecurityTransferRequestResponseBody" : {
      "type" : "object",
      "properties" : {
        "taxes" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerChargeTaxType" : {
                "type" : "string",
                "description" : "The type of charge or tax to be paid by the customer",
                "maxLength" : 30
              },
              "customerChargeTaxAmount" : {
                "type" : "number",
                "description" : "The amount of charges or taxes to be paid by customer"
              },
              "customerChargeTaxCode" : {
                "type" : "string",
                "description" : "The Charge or tax identifier",
                "maxLength" : 30
              }
            }
          }
        },
        "instructions" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerInstructions" : {
                "type" : "string",
                "description" : "Instructions given by the customer",
                "maxLength" : 30
              }
            }
          }
        },
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "maxLength" : 30
        },
        "instrumentId" : {
          "type" : "string",
          "description" : "The identifier of the instrument",
          "maxLength" : 30
        },
        "instrumentCurrencyId" : {
          "type" : "string",
          "description" : "The currency of the instrument",
          "maxLength" : 30
        },
        "transferDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The transfer date of the transaction"
        },
        "valueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
        },
        "depositoryId" : {
          "type" : "string",
          "description" : "Id of the securities depository.",
          "maxLength" : 30
        },
        "deliveryInstruction" : {
          "type" : "string",
          "description" : "Type of Delivery to be made for this transaction. Allowed values: - DAP: Delivery Against Payment - FOP: Free of Payment",
          "maxLength" : 30
        },
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "maxLength" : 30
        },
        "portfolioId" : {
          "type" : "string",
          "description" : "Id of the portfolio or security account",
          "maxLength" : 30
        },
        "quantity" : {
          "type" : "number",
          "description" : "The nominal quantity"
        },
        "price" : {
          "type" : "number",
          "description" : "The Price at which the nominal amount of the Security is to be valued for the transaction."
        },
        "nominee" : {
          "type" : "string",
          "description" : "Represents the Nominee Company record",
          "maxLength" : 30
        },
        "grossCost" : {
          "type" : "number",
          "description" : "Total cost of the transaction"
        },
        "valueInInstrumentCurrency" : {
          "type" : "number",
          "description" : "The amount converted to the currency of the instrument"
        },
        "charges" : {
          "type" : "number",
          "description" : "The charges or fees for this transaction"
        },
        "actualCharges" : {
          "type" : "number"
        },
        "accountId" : {
          "type" : "string",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "maxLength" : 30
        },
        "interestAmount" : {
          "type" : "number",
          "description" : "The accrued Interest due or accrued."
        },
        "netAmountInInstrumentCurrency" : {
          "type" : "number",
          "description" : "The net amount of the current valuation of the Securities being transferred, i.e.. the gross amount +/- Charges + accrued Interest"
        },
        "netAmountInAccountCurrency" : {
          "type" : "number",
          "description" : "The net amount due to or from the Customer after +/- Charges"
        },
        "exchangeRate" : {
          "type" : "number",
          "description" : "Contains the exchange rate returned from the system. i.e. For entries over foreign currency accounts, this contains the rate which used to convert the currency amount to the local equivalent at the time of the originating transaction."
        },
        "commission" : {
          "type" : "number",
          "description" : "The bank fees or commission charged for the transaction"
        },
        "commissionName" : {
          "type" : "string",
          "description" : "The name that is displayed for the commission",
          "maxLength" : 30
        },
        "commissionRate" : {
          "type" : "number",
          "description" : "The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."
        },
        "changeInBeneficialOwner" : {
          "type" : "boolean",
          "description" : "Indicates whether there is a beneficial owner change as a result of the transfer"
        },
        "stampTax" : {
          "type" : "number",
          "description" : "The Stamp Tax amount charged to the Customer for the trade"
        },
        "counterpartyId" : {
          "type" : "string",
          "description" : "The identifier of the counter party",
          "maxLength" : 30
        },
        "BIC" : {
          "type" : "string",
          "description" : "The BIC code of the Beneficiary bank",
          "maxLength" : 30
        },
        "nostroId" : {
          "type" : "string",
          "description" : "Nostro account id",
          "maxLength" : 30
        },
        "nostroCurrency" : {
          "type" : "string",
          "description" : "Currency of the nostro account",
          "maxLength" : 30
        },
        "counterpartyDepository" : {
          "type" : "string",
          "description" : "Specifies the Depository(ies) that the Broker will be delivering the Securities from or to.",
          "maxLength" : 30
        },
        "brokerAmount" : {
          "type" : "number",
          "description" : "Net amount due to/from the broker for the transaction. Applicable only where the security transfer is made against payment."
        }
      }
    }
  }
}