{
  "swagger" : "2.0",
  "info" : {
    "description" : "Get, Creation and management of Standing Orders",
    "version" : "v1.0.0",
    "title" : "Standing Orders APIs"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/standingOrders" : {
      "get" : {
        "summary" : "Retrieves standing orders details",
        "description" : "Retrieves the list of standing orders for a customer",
        "operationId" : "getStandingOrders",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "debitCustomerId",
          "in" : "query",
          "description" : "Debtor customer details",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "standingOrderId",
          "in" : "query",
          "description" : "Reference id for standing order payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "accountId",
          "in" : "query",
          "description" : "Account details for specific id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "orderingCustomerId",
          "in" : "query",
          "description" : "Debtor customer id details",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "StandingOrdersResponse",
            "schema" : {
              "$ref" : "#/definitions/StandingOrdersResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/standingOrders/{standingOrderId}" : {
      "post" : {
        "summary" : "Create standing order",
        "description" : "Creates a new standing order",
        "operationId" : "createStandingOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "standingOrderId",
          "in" : "path",
          "description" : "The unique standing order identifier",
          "required" : true,
          "type" : "string",
          "x-example" : "79707"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/StandingOrder"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "StandingOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/StandingOrderResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "summary" : "Update standing order details",
        "description" : "Updates an existing standing order",
        "operationId" : "updateStandingOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "standingOrderId",
          "in" : "path",
          "description" : "The unique standing order identifier",
          "required" : true,
          "type" : "string",
          "x-example" : "79707"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/StandingOrder"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "StandingOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/StandingOrderResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "summary" : "Cancel standing order",
        "description" : "Cancels an existing standing order",
        "operationId" : "deleteStandingOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "standingOrderId",
          "in" : "path",
          "description" : "The unique standing order identifier",
          "required" : true,
          "type" : "string",
          "x-example" : "79707"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/StandingOrderDelete"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "StandingOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/StandingOrderResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/standingOrders/standingOrderApprovals/{standingOrderId}" : {
      "put" : {
        "summary" : "Approve standing order",
        "description" : "Approves an unauthorized standing order",
        "operationId" : "approveStandingOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "standingOrderId",
          "in" : "path",
          "description" : "The unique standing order identifier",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "StandingOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/StandingOrderResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/standingOrders/cancellations/{standingOrderId}" : {
      "delete" : {
        "summary" : "Reject standing order",
        "description" : "Rejects an unauthorized standing order",
        "operationId" : "rejectStandingOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "standingOrderId",
          "in" : "path",
          "description" : "The unique standing order identifier",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/StandingOrderDelete"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "StandingOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/StandingOrderResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "StandingOrdersResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/StandingOrdersResponseBody"
        }
      },
      "description" : "StandingOrdersResponse"
    },
    "StandingOrdersResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "displayNames" : {
            "type" : "array",
            "description" : "Name used for display or enrichment purposes",
            "items" : {
              "type" : "object",
              "properties" : {
                "displayName" : {
                  "type" : "string",
                  "description" : "Name used for display or enrichment purposes",
                  "maxLength" : 35
                }
              }
            }
          },
          "accountWithBanks" : {
            "type" : "array",
            "description" : "Identifies the bank where the beneficiary maintains his account",
            "items" : {
              "type" : "object",
              "properties" : {
                "accountWithBank" : {
                  "type" : "string",
                  "description" : "Identifies the bank where the beneficiary maintains his account",
                  "maxLength" : 35
                }
              }
            }
          },
          "standingOrderId" : {
            "type" : "string",
            "description" : "The unique standing order identifier",
            "maxLength" : 35
          },
          "orderType" : {
            "type" : "string",
            "description" : "Order type i.e.  single, if done, revolving and one cancels other.",
            "maxLength" : 5
          },
          "paymentMethod" : {
            "type" : "string",
            "description" : "Method chosen to make the payment",
            "maxLength" : 4
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
            "maxLength" : 3
          },
          "amount" : {
            "type" : "number",
            "description" : "This is the payment amount"
          },
          "frequency" : {
            "type" : "string",
            "description" : "Specifies the frequency in which the payment application(periodic payments) execute the payment instruction.",
            "maxLength" : 50
          },
          "counterPartyAccountId" : {
            "type" : "string",
            "description" : "The identifier of the counter party's account",
            "maxLength" : 35
          },
          "beneficiaryId" : {
            "type" : "string",
            "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
            "maxLength" : 17
          },
          "percentageOverCurrentBalance" : {
            "type" : "string",
            "description" : "This is used to specify a percentage value, which would be applied on the accounts excess amount(Accounts cleared balance - CURRENT.AMOUNT) to arrive at ",
            "maxLength" : 6
          },
          "payTo" : {
            "type" : "string",
            "description" : "Paying to account/creditor details"
          },
          "currentFrequencyDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates the date based on current frequency"
          },
          "currentFrequency" : {
            "type" : "string",
            "description" : "Indicates the current frequency of the standing order",
            "maxLength" : 35
          },
          "startDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Contains the date on which the transaction or payment gets initiated."
          },
          "currentEndDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Identifies the current end date of the standing order for the currency, amount and frequency specified. When the bank has received from the customer clear instructions which stipulate that the standing order must  only be executed during a determined period of time.  This is the date of the last execution of the standing order or when the customer has requested the bank to pay a certain amount during a determined period of time and then another amount starting from that date. In this case, this field specifies the end date of the first standing order amount.  After that date the second amount will then be executed."
          },
          "futureNotice" : {
            "type" : "string",
            "description" : "Flag to indicate that the standing order should execute until future notice, i.e. until an end date is provided.",
            "maxLength" : 10
          },
          "creditAccountId" : {
            "type" : "string",
            "description" : "Credit account identifier of the payment or transaction"
          },
          "creditAccountName" : {
            "type" : "string",
            "description" : "Account name details of the creditor"
          },
          "bankSortCode" : {
            "type" : "string",
            "description" : "The sort code or the national clearing code of the beneficiary bank. "
          },
          "stoStartDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "STO initiation start date"
          },
          "beneficiaryBIC" : {
            "type" : "string",
            "description" : "BIC (Bank Identifier Code) of the beneficiary customer ",
            "maxLength" : 11
          },
          "beneficiaryIBAN" : {
            "type" : "string",
            "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
            "maxLength" : 35
          },
          "beneficiaryOurCharges" : {
            "type" : "string",
            "description" : "Indicates the bearer of the charges. For example: BEN( All transaction charges are to be borne by the beneficiary customer.), OUR (All transaction charges are to be borne by the ordering customer.), SHA (Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
            "maxLength" : 3
          },
          "paymentOrderProductName" : {
            "type" : "string",
            "description" : "Indicates the name of payment order product ",
            "maxLength" : 10
          },
          "beneficiaryCountryId" : {
            "type" : "string",
            "description" : "Country of the beneficiary account number. For example: US, IN, EU",
            "maxLength" : 2
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Current number of the record",
            "maxLength" : 6
          },
          "accountName" : {
            "type" : "string",
            "description" : "Denotes the Name of the Account"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "StandingOrder" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/StandingOrderBody"
        }
      },
      "description" : "StandingOrder"
    },
    "StandingOrderBody" : {
      "type" : "object",
      "properties" : {
        "beneficiaryNames" : {
          "type" : "array",
          "description" : "Short title or short name of the beneficiary",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryName" : {
                "type" : "string",
                "description" : "Short title or short name of the beneficiary",
                "maxLength" : 35
              }
            }
          }
        },
        "accountWithBanks" : {
          "type" : "array",
          "description" : "Identifies the bank where the beneficiary maintains his account",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithBank" : {
                "type" : "string",
                "description" : "Identifies the bank where the beneficiary maintains his account",
                "maxLength" : 35
              }
            }
          }
        },
        "displayNames" : {
          "type" : "array",
          "description" : "Name used for display or enrichment purposes",
          "items" : {
            "type" : "object",
            "properties" : {
              "displayName" : {
                "type" : "string",
                "description" : "Name used for display or enrichment purposes",
                "maxLength" : 35
              }
            }
          }
        },
        "beneficiaryBICNames" : {
          "type" : "array",
          "description" : "The name of the beneficiary bank",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryBICName" : {
                "type" : "string",
                "description" : "The name of the beneficiary bank",
                "maxLength" : 35
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "maxLength" : 35
              }
            }
          }
        },
        "paymentMethod" : {
          "type" : "string",
          "description" : "Method chosen to make the payment",
          "maxLength" : 13
        },
        "currentFrequency" : {
          "type" : "string",
          "description" : "Indicates the current frequency of the standing order",
          "maxLength" : 50
        },
        "currentEndDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Identifies the current end date of the standing order for the currency, amount and frequency specified. When the bank has received from the customer clear instructions which stipulate that the standing order must  only be executed during a determined period of time.  This is the date of the last execution of the standing order or when the customer has requested the bank to pay a certain amount during a determined period of time and then another amount starting from that date. In this case, this field specifies the end date of the first standing order amount.  After that date the second amount will then be executed."
        },
        "futureNotice" : {
          "type" : "string",
          "description" : "Flag to indicate that the standing order should execute until future notice, i.e. until an end date is provided.",
          "maxLength" : 12
        },
        "counterPartyAccountId" : {
          "type" : "string",
          "description" : "The identifier of the counter party's account",
          "maxLength" : 35
        },
        "startDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Contains the date on which the transaction or payment gets initiated."
        },
        "frequency" : {
          "type" : "string",
          "description" : "Specifies the frequency in which the payment application(periodic payments) execute the payment instruction.",
          "maxLength" : 35
        },
        "beneficiaryAccountId" : {
          "type" : "string",
          "description" : "Unique account identifier of the beneficiary account number.",
          "maxLength" : 34
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
          "maxLength" : 17
        },
        "beneficiaryReference" : {
          "type" : "string",
          "description" : "The reference which is provided to the beneficiary by the originator of payment",
          "maxLength" : 27
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 10
        },
        "amount" : {
          "type" : "number",
          "description" : "This is the payment amount"
        },
        "bankSortCode" : {
          "type" : "string",
          "description" : "The sort code or the national clearing code of the beneficiary bank. ",
          "maxLength" : 20
        },
        "beneficiaryIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "maxLength" : 35
        },
        "beneficiaryBICIBAN" : {
          "type" : "string",
          "description" : "Beneficiary IBAN details",
          "maxLength" : 18
        },
        "beneficiaryBICCity" : {
          "type" : "string",
          "description" : "The city associated with beneficiary bank BIC (Bank Identifier Code)",
          "maxLength" : 35
        },
        "beneficiaryBIC" : {
          "type" : "string",
          "description" : "BIC (Bank Identifier Code) of the beneficiary customer ",
          "maxLength" : 14
        },
        "currentFrequencyDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates the date based on current frequency"
        },
        "paymentOrderProductName" : {
          "type" : "string",
          "description" : "Indicates the name of payment order product ",
          "maxLength" : 23
        },
        "beneficiaryOurCharges" : {
          "type" : "string",
          "description" : "Indicates the bearer of the charges. For example: BEN( All transaction charges are to be borne by the beneficiary customer.), OUR (All transaction charges are to be borne by the ordering customer.), SHA (Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
          "maxLength" : 21
        },
        "accountWithBankIBAN" : {
          "type" : "string",
          "description" : "This is the IBAN of the institution where beneficiary holds an account",
          "maxLength" : 35
        },
        "paymentCategory" : {
          "type" : "string",
          "description" : "The purpose code for the payment. Should be one of the pre-defined purpose codes in the application and information will be used for payment processing",
          "maxLength" : 15
        },
        "suppressFT" : {
          "type" : "string",
          "description" : "Payment processed by details",
          "maxLength" : 10
        },
        "customerSpread" : {
          "type" : "string",
          "description" : "The spread that is applied to the published internal exchange rates to derive the final exchange rate or the customer rate for the transaction",
          "maxLength" : 14
        },
        "customerRate" : {
          "type" : "string",
          "description" : "The exchange rate that is actually applied for currency conversion in case of transactions involving FX conversion. ",
          "maxLength" : 12
        },
        "paymentOrderVersion" : {
          "type" : "string",
          "description" : "Specifies the payment order screen which will be used when executing standing instruction",
          "maxLength" : 54
        },
        "recordStatus" : {
          "type" : "string",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "maxLength" : 12
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "StandingOrderResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/StandingOrderResponseBody"
        }
      },
      "description" : "StandingOrderResponse"
    },
    "StandingOrderResponseBody" : {
      "type" : "object",
      "properties" : {
        "beneficiaryNames" : {
          "type" : "array",
          "description" : "Short title or short name of the beneficiary",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryName" : {
                "type" : "string",
                "description" : "Short title or short name of the beneficiary",
                "maxLength" : 35
              }
            }
          }
        },
        "accountWithBanks" : {
          "type" : "array",
          "description" : "Identifies the bank where the beneficiary maintains his account",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithBank" : {
                "type" : "string",
                "description" : "Identifies the bank where the beneficiary maintains his account",
                "maxLength" : 35
              }
            }
          }
        },
        "displayNames" : {
          "type" : "array",
          "description" : "Name used for display or enrichment purposes",
          "items" : {
            "type" : "object",
            "properties" : {
              "displayName" : {
                "type" : "string",
                "description" : "Name used for display or enrichment purposes",
                "maxLength" : 35
              }
            }
          }
        },
        "beneficiaryBICNames" : {
          "type" : "array",
          "description" : "The name of the beneficiary bank",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryBICName" : {
                "type" : "string",
                "description" : "The name of the beneficiary bank",
                "maxLength" : 35
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "maxLength" : 35
              }
            }
          }
        },
        "paymentMethod" : {
          "type" : "string",
          "description" : "Method chosen to make the payment",
          "maxLength" : 13
        },
        "currentFrequency" : {
          "type" : "string",
          "description" : "Indicates the current frequency of the standing order",
          "maxLength" : 50
        },
        "currentEndDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Identifies the current end date of the standing order for the currency, amount and frequency specified. When the bank has received from the customer clear instructions which stipulate that the standing order must  only be executed during a determined period of time.  This is the date of the last execution of the standing order or when the customer has requested the bank to pay a certain amount during a determined period of time and then another amount starting from that date. In this case, this field specifies the end date of the first standing order amount.  After that date the second amount will then be executed."
        },
        "futureNotice" : {
          "type" : "string",
          "description" : "Flag to indicate that the standing order should execute until future notice, i.e. until an end date is provided.",
          "maxLength" : 12
        },
        "counterPartyAccountId" : {
          "type" : "string",
          "description" : "The identifier of the counter party's account",
          "maxLength" : 35
        },
        "startDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Contains the date on which the transaction or payment gets initiated."
        },
        "frequency" : {
          "type" : "string",
          "description" : "Specifies the frequency in which the payment application(periodic payments) execute the payment instruction.",
          "maxLength" : 35
        },
        "beneficiaryAccountId" : {
          "type" : "string",
          "description" : "Unique account identifier of the beneficiary account number.",
          "maxLength" : 34
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
          "maxLength" : 17
        },
        "beneficiaryReference" : {
          "type" : "string",
          "description" : "The reference which is provided to the beneficiary by the originator of payment",
          "maxLength" : 27
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 10
        },
        "amount" : {
          "type" : "number",
          "description" : "This is the payment amount"
        },
        "bankSortCode" : {
          "type" : "string",
          "description" : "The sort code or the national clearing code of the beneficiary bank. ",
          "maxLength" : 20
        },
        "beneficiaryIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "maxLength" : 35
        },
        "beneficiaryBICIBAN" : {
          "type" : "string",
          "description" : "Beneficiary IBAN details",
          "maxLength" : 18
        },
        "beneficiaryBICCity" : {
          "type" : "string",
          "description" : "The city associated with beneficiary bank BIC (Bank Identifier Code)",
          "maxLength" : 35
        },
        "beneficiaryBIC" : {
          "type" : "string",
          "description" : "BIC (Bank Identifier Code) of the beneficiary customer ",
          "maxLength" : 14
        },
        "currentFrequencyDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates the date based on current frequency"
        },
        "paymentOrderProductName" : {
          "type" : "string",
          "description" : "Indicates the name of payment order product ",
          "maxLength" : 23
        },
        "beneficiaryOurCharges" : {
          "type" : "string",
          "description" : "Indicates the bearer of the charges. For example: BEN( All transaction charges are to be borne by the beneficiary customer.), OUR (All transaction charges are to be borne by the ordering customer.), SHA (Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
          "maxLength" : 21
        },
        "accountWithBankIBAN" : {
          "type" : "string",
          "description" : "This is the IBAN of the institution where beneficiary holds an account",
          "maxLength" : 35
        },
        "paymentCategory" : {
          "type" : "string",
          "description" : "The purpose code for the payment. Should be one of the pre-defined purpose codes in the application and information will be used for payment processing",
          "maxLength" : 15
        },
        "suppressFT" : {
          "type" : "string",
          "description" : "Payment processed by details",
          "maxLength" : 10
        },
        "customerSpread" : {
          "type" : "string",
          "description" : "The spread that is applied to the published internal exchange rates to derive the final exchange rate or the customer rate for the transaction",
          "maxLength" : 14
        },
        "customerRate" : {
          "type" : "string",
          "description" : "The exchange rate that is actually applied for currency conversion in case of transactions involving FX conversion. ",
          "maxLength" : 12
        },
        "paymentOrderVersion" : {
          "type" : "string",
          "description" : "Specifies the payment order screen which will be used when executing standing instruction",
          "maxLength" : 54
        },
        "recordStatus" : {
          "type" : "string",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "maxLength" : 12
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "StandingOrderDelete" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        }
      },
      "description" : "StandingOrderDelete"
    }
  }
}