{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows the creation, viewing and management of derivative orders",
    "version" : "v1.0.0",
    "title" : "API for derivative orders"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/deriviativeOrders/OTCOrders" : {
      "get" : {
        "summary" : "Retrieves the over the counter derivative trades",
        "description" : "Retrieves the over the counter derivative trades based on the contract code and trade type",
        "operationId" : "getOTCDerivativeOrders",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "instrumentId",
          "in" : "query",
          "description" : "The identifier of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tradeType",
          "in" : "query",
          "description" : "The trade type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "callOrPut",
          "in" : "query",
          "description" : "Indicates whether the transaction is a call or put.  Allowed values: - CALL  - PUT",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OTCDerivativeOrdersResponse",
            "schema" : {
              "$ref" : "#/definitions/OTCDerivativeOrdersResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/deriviativeOrders/ETDOrders" : {
      "get" : {
        "summary" : "Retrieves the exchange traded derivative trades",
        "description" : "Retrieves the exchange traded derivative trades based on the contract code and trade type",
        "operationId" : "getETDDerivativeOrders",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "instrumentId",
          "in" : "query",
          "description" : "The identifier of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tradeType",
          "in" : "query",
          "description" : "The trade type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "callOrPut",
          "in" : "query",
          "description" : "Indicates whether the transaction is a call or put.  Allowed values: - CALL  - PUT",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ETDDerivativeOrdersResponse",
            "schema" : {
              "$ref" : "#/definitions/ETDDerivativeOrdersResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/deriviativeOrders" : {
      "post" : {
        "summary" : "Creates the derivatives order",
        "description" : "Creates the derivatives order",
        "operationId" : "createDerivativesOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DerivativesOrder"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DerivativesOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/DerivativesOrderResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/deriviativeOrders/{deriviativeOrderId}" : {
      "get" : {
        "summary" : "Retrieves the derivatives order",
        "description" : "Retrieves the derivatives order",
        "operationId" : "getDerivativesOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "deriviativeOrderId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DerivativesOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/DerivativesOrderResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "summary" : "Updates the derivatives order",
        "description" : "Updates the derivatives order",
        "operationId" : "updateDerivativesOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "deriviativeOrderId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DerivativesOrder"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DerivativesOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/DerivativesOrderResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "OTCDerivativeOrdersResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OTCDerivativeOrdersResponseBody"
        }
      },
      "description" : "OTCDerivativeOrdersResponse"
    },
    "OTCDerivativeOrdersResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "inOrOutFlag" : {
            "type" : "string",
            "maxLength" : 16
          },
          "transactionId" : {
            "type" : "string",
            "description" : "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
            "maxLength" : 17
          },
          "instrumentId" : {
            "type" : "string",
            "description" : "The identifier of the instrument",
            "maxLength" : 12
          },
          "instrumentName" : {
            "type" : "string",
            "description" : "The name that is displayed for the instrument, taken from the Security Master",
            "maxLength" : 30
          },
          "maturityDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates maturity date of the contract"
          },
          "exoticType" : {
            "type" : "string",
            "maxLength" : 35
          },
          "underlying" : {
            "type" : "string",
            "maxLength" : 35
          },
          "strikePrice" : {
            "type" : "string",
            "description" : "The price at which the option holder has the right to buy (Call Options) or sell (Put Options) the underlying instrument, or to cash-settle the option if appropriate"
          },
          "underlyingPrice" : {
            "type" : "string"
          },
          "payoff" : {
            "type" : "string"
          },
          "callOrPut" : {
            "type" : "string",
            "description" : "Indicates whether the transaction is a call or put.  Allowed values: - CALL  - PUT",
            "maxLength" : 4
          },
          "lots" : {
            "type" : "string",
            "description" : "The number of lots/contracts traded"
          },
          "buyer" : {
            "type" : "string",
            "maxLength" : 10
          },
          "buyerName" : {
            "type" : "string",
            "maxLength" : 25
          },
          "portfolioId" : {
            "type" : "string",
            "description" : "Id of the portfolio or security account",
            "maxLength" : 14
          },
          "seller" : {
            "type" : "string",
            "maxLength" : 10
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "ETDDerivativeOrdersResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ETDDerivativeOrdersResponseBody"
        }
      },
      "description" : "ETDDerivativeOrdersResponse"
    },
    "ETDDerivativeOrdersResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "inOrOutFlag" : {
            "type" : "string",
            "maxLength" : 16
          },
          "transactionId" : {
            "type" : "string",
            "description" : "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
            "maxLength" : 17
          },
          "instrumentId" : {
            "type" : "string",
            "description" : "The identifier of the instrument",
            "maxLength" : 12
          },
          "instrumentName" : {
            "type" : "string",
            "description" : "The name that is displayed for the instrument, taken from the Security Master",
            "maxLength" : 30
          },
          "maturityDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates maturity date of the contract"
          },
          "exoticType" : {
            "type" : "string",
            "maxLength" : 35
          },
          "underlying" : {
            "type" : "string",
            "maxLength" : 35
          },
          "strikePrice" : {
            "type" : "string",
            "description" : "The price at which the option holder has the right to buy (Call Options) or sell (Put Options) the underlying instrument, or to cash-settle the option if appropriate"
          },
          "underlyingPrice" : {
            "type" : "string"
          },
          "payoff" : {
            "type" : "string"
          },
          "callOrPut" : {
            "type" : "string",
            "description" : "Indicates whether the transaction is a call or put.  Allowed values: - CALL  - PUT",
            "maxLength" : 4
          },
          "lots" : {
            "type" : "string",
            "description" : "The number of lots/contracts traded"
          },
          "buyer" : {
            "type" : "string",
            "maxLength" : 10
          },
          "buyerName" : {
            "type" : "string",
            "maxLength" : 25
          },
          "portfolioId" : {
            "type" : "string",
            "description" : "Id of the portfolio or security account",
            "maxLength" : 14
          },
          "seller" : {
            "type" : "string",
            "maxLength" : 10
          }
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "DerivativesOrder" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DerivativesOrderBody"
        }
      },
      "description" : "DerivativesOrder"
    },
    "DerivativesOrderBody" : {
      "type" : "object",
      "properties" : {
        "customers" : {
          "type" : "array",
          "description" : "The bank fees or commission charged for the transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "number",
                "description" : "Identifier of the customer"
              },
              "portfolioId" : {
                "type" : "string",
                "description" : "Id of the portfolio or security account",
                "maxLength" : 30
              },
              "lots" : {
                "type" : "number",
                "description" : "The number of lots/contracts traded"
              },
              "autoOrManual" : {
                "type" : "string",
                "description" : "Determines whether the system will automatically process",
                "maxLength" : 30
              },
              "transactionChannel" : {
                "type" : "string",
                "description" : "The channel through which the transaction has been placed",
                "maxLength" : 30
              },
              "commissions" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "commissionName" : {
                      "type" : "string",
                      "description" : "The name that is displayed for the commission",
                      "maxLength" : 30
                    },
                    "commissionRate" : {
                      "type" : "number",
                      "description" : "The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."
                    },
                    "currency" : {
                      "type" : "string",
                      "description" : "Identifies the currency. E.g. USD, GBP etc",
                      "maxLength" : 30
                    },
                    "commissionAmount" : {
                      "type" : "number",
                      "description" : "Amount of commission charged for the payment created with respect to the commission type used."
                    },
                    "taxAmount" : {
                      "type" : "number",
                      "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment."
                    }
                  }
                }
              }
            }
          }
        },
        "rates" : {
          "type" : "array",
          "description" : "The rate applied",
          "items" : {
            "type" : "object",
            "properties" : {
              "commissionRate" : {
                "type" : "number",
                "description" : "The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."
              }
            }
          }
        },
        "closeout" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "closeoutTrade" : {
                "type" : "string",
                "description" : "The identifier of the opposite Trade that closed out this trade",
                "maxLength" : 30
              },
              "closeoutLots" : {
                "type" : "number",
                "description" : "The lots to be closed out for the trades provided."
              }
            }
          }
        },
        "instrumentId" : {
          "type" : "string",
          "description" : "The identifier of the instrument",
          "maxLength" : 30
        },
        "stockExchange" : {
          "type" : "string",
          "description" : "The stock exchange identifier",
          "maxLength" : 30
        },
        "orderDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The order date of the instructions contained within the transaction"
        },
        "orderedAt" : {
          "type" : "string",
          "description" : "The time at which the order has been transacted",
          "maxLength" : 30
        },
        "tradeDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Standard date field which records trade date of the account"
        },
        "maturityDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates maturity date of the contract"
        },
        "tradeCurrency" : {
          "type" : "string",
          "description" : "The trade currency is the settlement currency for the trade",
          "maxLength" : 30
        },
        "priceOrPremium" : {
          "type" : "number",
          "description" : "The price per unit of lot/lots traded. For option trades, it denotes the premium price in the trade currency."
        },
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "maxLength" : 30
        },
        "cutOffTime" : {
          "type" : "string",
          "description" : "The Cut off time when all executions for the day are consolidated to create a trade",
          "maxLength" : 30
        },
        "callOrPut" : {
          "type" : "string",
          "description" : "Indicates whether the transaction is a call or put.  Allowed values: - CALL  - PUT",
          "maxLength" : 30
        },
        "strikePrice" : {
          "type" : "number",
          "description" : "The price at which the option holder has the right to buy (Call Options) or sell (Put Options) the underlying instrument, or to cash-settle the option if appropriate"
        },
        "price" : {
          "type" : "number",
          "description" : "The Price at which the nominal amount of the Security is to be valued for the transaction."
        },
        "limitType" : {
          "type" : "string",
          "description" : "Defines the limit type for the trade",
          "maxLength" : 30
        },
        "limitPrice" : {
          "type" : "number",
          "description" : "The Price at which the shares are to be bought or sold"
        },
        "limitDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the Limit order is valid until ."
        },
        "orderType" : {
          "type" : "string",
          "description" : "Order type i.e.  single, if done, revolving and one cancels other.",
          "maxLength" : 30
        },
        "brokerId" : {
          "type" : "number",
          "description" : "The identifier of the broker"
        },
        "autoOrManual" : {
          "type" : "string",
          "description" : "Determines whether the system will automatically process",
          "maxLength" : 30
        },
        "orderToClose" : {
          "type" : "string",
          "description" : "Defines whether the trade order is to be Closed or not. When set to CLOSE the order is considered as a square-off order.",
          "maxLength" : 30
        },
        "orderStatus" : {
          "type" : "string",
          "description" : "Status of the order.",
          "maxLength" : 30
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "DerivativesOrderResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DerivativesOrderResponseBody"
        }
      },
      "description" : "DerivativesOrderResponse"
    },
    "DerivativesOrderResponseBody" : {
      "type" : "object",
      "properties" : {
        "customers" : {
          "type" : "array",
          "description" : "The bank fees or commission charged for the transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "number",
                "description" : "Identifier of the customer"
              },
              "portfolioId" : {
                "type" : "string",
                "description" : "Id of the portfolio or security account",
                "maxLength" : 30
              },
              "lots" : {
                "type" : "number",
                "description" : "The number of lots/contracts traded"
              },
              "autoOrManual" : {
                "type" : "string",
                "description" : "Determines whether the system will automatically process",
                "maxLength" : 30
              },
              "transactionChannel" : {
                "type" : "string",
                "description" : "The channel through which the transaction has been placed",
                "maxLength" : 30
              },
              "commissions" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "commissionName" : {
                      "type" : "string",
                      "description" : "The name that is displayed for the commission",
                      "maxLength" : 30
                    },
                    "commissionRate" : {
                      "type" : "number",
                      "description" : "The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."
                    },
                    "currency" : {
                      "type" : "string",
                      "description" : "Identifies the currency. E.g. USD, GBP etc",
                      "maxLength" : 30
                    },
                    "commissionAmount" : {
                      "type" : "number",
                      "description" : "Amount of commission charged for the payment created with respect to the commission type used."
                    },
                    "taxAmount" : {
                      "type" : "number",
                      "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment."
                    }
                  }
                }
              }
            }
          }
        },
        "rates" : {
          "type" : "array",
          "description" : "The rate applied",
          "items" : {
            "type" : "object",
            "properties" : {
              "commissionRate" : {
                "type" : "number",
                "description" : "The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."
              }
            }
          }
        },
        "closeout" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "closeoutTrade" : {
                "type" : "string",
                "description" : "The identifier of the opposite Trade that closed out this trade",
                "maxLength" : 30
              },
              "closeoutLots" : {
                "type" : "number",
                "description" : "The lots to be closed out for the trades provided."
              }
            }
          }
        },
        "instrumentId" : {
          "type" : "string",
          "description" : "The identifier of the instrument",
          "maxLength" : 30
        },
        "stockExchange" : {
          "type" : "string",
          "description" : "The stock exchange identifier",
          "maxLength" : 30
        },
        "orderDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The order date of the instructions contained within the transaction"
        },
        "orderedAt" : {
          "type" : "string",
          "description" : "The time at which the order has been transacted",
          "maxLength" : 30
        },
        "tradeDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Standard date field which records trade date of the account"
        },
        "maturityDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates maturity date of the contract"
        },
        "tradeCurrency" : {
          "type" : "string",
          "description" : "The trade currency is the settlement currency for the trade",
          "maxLength" : 30
        },
        "priceOrPremium" : {
          "type" : "number",
          "description" : "The price per unit of lot/lots traded. For option trades, it denotes the premium price in the trade currency."
        },
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "maxLength" : 30
        },
        "cutOffTime" : {
          "type" : "string",
          "description" : "The Cut off time when all executions for the day are consolidated to create a trade",
          "maxLength" : 30
        },
        "callOrPut" : {
          "type" : "string",
          "description" : "Indicates whether the transaction is a call or put.  Allowed values: - CALL  - PUT",
          "maxLength" : 30
        },
        "strikePrice" : {
          "type" : "number",
          "description" : "The price at which the option holder has the right to buy (Call Options) or sell (Put Options) the underlying instrument, or to cash-settle the option if appropriate"
        },
        "price" : {
          "type" : "number",
          "description" : "The Price at which the nominal amount of the Security is to be valued for the transaction."
        },
        "limitType" : {
          "type" : "string",
          "description" : "Defines the limit type for the trade",
          "maxLength" : 30
        },
        "limitPrice" : {
          "type" : "number",
          "description" : "The Price at which the shares are to be bought or sold"
        },
        "limitDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the Limit order is valid until ."
        },
        "orderType" : {
          "type" : "string",
          "description" : "Order type i.e.  single, if done, revolving and one cancels other.",
          "maxLength" : 30
        },
        "brokerId" : {
          "type" : "number",
          "description" : "The identifier of the broker"
        },
        "autoOrManual" : {
          "type" : "string",
          "description" : "Determines whether the system will automatically process",
          "maxLength" : 30
        },
        "orderToClose" : {
          "type" : "string",
          "description" : "Defines whether the trade order is to be Closed or not. When set to CLOSE the order is considered as a square-off order.",
          "maxLength" : 30
        },
        "orderStatus" : {
          "type" : "string",
          "description" : "Status of the order.",
          "maxLength" : 30
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}