{
  "swagger": "2.0",
  "info": {
    "description": "API to create, update and retrieve details of beneficiaries",
    "version": "v1.0.0",
    "title": "Management of Beneficiaries"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/party/beneficiaries/{beneficiaryId}": {
      "put": {
        "summary": "Update beneficiary details",
        "description": "Updates an existing beneficiary",
        "operationId": "updateBeneficiary",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "beneficiaryId",
            "in": "path",
            "description": "Indicates the Id of beneficiary when beneficiary details are stored",
            "required": true,
            "type": "string",
            "x-example": "EN9415700007"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Beneficiary"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "BeneficiaryResponse",
            "schema": {
              "$ref": "#/definitions/BeneficiaryResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Remove beneficiary",
        "description": "Delete an existing beneficiary record",
        "operationId": "deleteBeneficiary",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "beneficiaryId",
            "in": "path",
            "description": "Indicates the Id of beneficiary when beneficiary details are stored",
            "required": true,
            "type": "string",
            "x-example": "EN9415700007"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BeneficiaryDelete"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "BeneficiaryResponse",
            "schema": {
              "$ref": "#/definitions/BeneficiaryResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/beneficiaries": {
      "post": {
        "summary": "Create beneficiary",
        "description": "Create a new beneficiary",
        "operationId": "createBeneficiary",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Beneficiary"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "BeneficiaryResponse",
            "schema": {
              "$ref": "#/definitions/BeneficiaryResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/beneficiaries/beneficiariesApprovals/{beneficiaryId}": {
      "put": {
        "summary": "Approve beneficiary",
        "description": "Approve an existing beneficiary record",
        "operationId": "approveBeneficiary",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "beneficiaryId",
            "in": "path",
            "description": "Indicates the Id of beneficiary when beneficiary details are stored",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "BeneficiaryResponse",
            "schema": {
              "$ref": "#/definitions/BeneficiaryResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/beneficiaries/cancellations/{beneficiaryId}": {
      "delete": {
        "summary": "Reject beneficiary",
        "description": "Reject an existing beneficiary record",
        "operationId": "rejectBeneficiary",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "beneficiaryId",
            "in": "path",
            "description": "Indicates the Id of beneficiary when beneficiary details are stored",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BeneficiaryDelete"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "BeneficiaryResponse",
            "schema": {
              "$ref": "#/definitions/BeneficiaryResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/{customerId}/beneficiaries": {
      "get": {
        "summary": "Retrieves the list of beneficiary record details for a customers",
        "description": "Retrieves customer beneficiary details",
        "operationId": "getCustomerBeneficiary",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Identifier of the customer",
            "required": true,
            "type": "string",
            "x-example": "100283"
          },
          {
            "name": "nickName",
            "in": "query",
            "description": "Nickname of the beneficiary",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "CustomerBeneficiaryResponse",
            "schema": {
              "$ref": "#/definitions/CustomerBeneficiaryResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/{customerId}/onlineBeneficiaries": {
      "get": {
        "summary": "Retrieves the list of beneficiaries details for specific customer",
        "description": "Retrieves customer beneficiaries details",
        "operationId": "getCustomerBeneficiaries",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Identifier of the customer",
            "required": true,
            "type": "string",
            "x-example": "190098"
          },
          {
            "name": "externalBeneficiaryFlag",
            "in": "query",
            "description": "Flag to identify if the beneficiary is external",
            "required": false,
            "type": "string"
          },
          {
            "name": "paymentScheme",
            "in": "query",
            "description": "Payment scheme details",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "CustomerBeneficiariesResponse",
            "schema": {
              "$ref": "#/definitions/CustomerBeneficiariesResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "PayloadHeader": {
      "properties": {
        "override": {
          "type": "object",
          "properties": {
            "overrideDetails": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier of the override."
                  },
                  "description": {
                    "type": "string",
                    "description": "The actual override message."
                  },
                  "code": {
                    "type": "string",
                    "description": "The code related to override message."
                  },
                  "responseCode": {
                    "type": "string",
                    "description": "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit": {
          "type": "object",
          "properties": {
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "Beneficiary": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/BeneficiaryBody"
        }
      },
      "description": "Beneficiary",
      "example": {
        "header": {
          "audit": {
            "versionNumber": ""
          },
          "override": {
            "overrideDetails": [
              {
                "description": "Beneficiary BIC is missing. Only name provided",
                "id": "FT-BIC.BEN.CODE.MISSING.NAME.GIVEN",
                "type": "Override"
              }
            ]
          }
        },
        "body": {
          "beneficiaryIBAN": "DE89370400440532013000",
          "beneficiaryAccountId": "",
          "beneficiaryNickNames": [
            {
              "beneficiaryNickName": "Ozil"
            }
          ],
          "overrides": [
            {
              "override": ""
            }
          ],
          "preferredPaymentProduct": "",
          "beneficiaryOurCharges": "",
          "paymentCountry": "",
          "beneficiaryBICIBAN": "",
          "transactionType": "",
          "beneficiaryBICIBANNames": [
            {
              "beneficiaryBICIBANName": "DRESDNER BANK AG"
            }
          ],
          "paymentCurrencyId": "USD",
          "beneficiaryCustomerId": "Ozil",
          "beneficiaryBIC": "",
          "recordStatus": "",
          "preferredPaymentAmount": 0,
          "bankSortCode": "",
          "customerReference": "",
          "customerId": "100336",
          "linkToBeneficiaryId": "",
          "beneficiaryBICIBANCity": "",
          "defaultNarrative": "",
          "paymentDetails": [
            {
              "paymentDetail": ""
            }
          ],
          "accountWithBankSortCode": "",
          "accountWithBank": ""
        }
      }
    },
    "BeneficiaryBody": {
      "type": "object",
      "properties": {
        "beneficiaryNickNames": {
          "type": "array",
          "description": "Nickname of the beneficiary",
          "items": {
            "type": "object",
            "properties": {
              "beneficiaryNickName": {
                "type": "string",
                "description": "Nickname of the beneficiary",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "beneficiaryBICIBANNames": {
          "type": "array",
          "description": "Contains the name of the beneficiary's BIC IBAN number",
          "items": {
            "type": "object",
            "properties": {
              "beneficiaryBICIBANName": {
                "type": "string",
                "description": "Contains the name of the beneficiary's BIC IBAN number",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "paymentDetails": {
          "type": "array",
          "description": "Indicates the payment details for the beneficiary to apply the payment.",
          "items": {
            "type": "object",
            "properties": {
              "paymentDetail": {
                "type": "string",
                "description": "Indicates the payment details for the beneficiary to apply the payment.",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "overrides": {
          "type": "array",
          "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items": {
            "type": "object",
            "properties": {
              "override": {
                "type": "string",
                "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "beneficiaryAddresses": {
          "type": "array",
          "description": "It provides the address of the payee ",
          "items": {
            "type": "object",
            "properties": {
              "beneficiaryAddress": {
                "type": "string",
                "description": "It provides the address of the payee",
                "maxLength": 100
              }
            }
          }
        },
        "transactionType": {
          "type": "string",
          "description": "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "minLength": 0,
          "maxLength": 30
        },
        "beneficiaryCustomerId": {
          "type": "string",
          "description": "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank.",
          "minLength": 0,
          "maxLength": 40
        },
        "customerId": {
          "type": "string",
          "description": "Identifier of the customer",
          "minLength": 0,
          "maxLength": 35
        },
        "beneficiaryAccountId": {
          "type": "string",
          "description": "Unique account identifier of the beneficiary account number.",
          "minLength": 0,
          "maxLength": 40
        },
        "bankSortCode": {
          "type": "string",
          "description": "The sort code or the national clearing code of the beneficiary bank. ",
          "minLength": 0,
          "maxLength": 40
        },
        "customerReference": {
          "type": "string",
          "description": "The reference which is provided to the beneficiary/ creditor by the originator of payment",
          "minLength": 0,
          "maxLength": 40
        },
        "beneficiaryBIC": {
          "type": "string",
          "description": "BIC (Bank Identifier Code) of the beneficiary customer ",
          "minLength": 0,
          "maxLength": 40
        },
        "defaultNarrative": {
          "type": "string",
          "description": "The default narrative which will be provided on the debit and credit side of the payment. ",
          "minLength": 0,
          "maxLength": 30
        },
        "linkToBeneficiaryId": {
          "type": "string",
          "description": "For a customer defined beneficiaries, it specifies the link to bank defined beneficiaries. ",
          "minLength": 0,
          "maxLength": 35
        },
        "beneficiaryIBAN": {
          "type": "string",
          "description": "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "minLength": 0,
          "maxLength": 35
        },
        "beneficiaryBICIBAN": {
          "type": "string",
          "description": "Beneficiary IBAN details",
          "minLength": 0,
          "maxLength": 35
        },
        "beneficiaryBICIBANCity": {
          "type": "string",
          "description": "Beneficiaries city details",
          "minLength": 0,
          "maxLength": 35
        },
        "preferredPaymentAmount": {
          "type": "number",
          "description": "Preferred payment amount can be specified for the beneficiary. If specified, it will be populated during payment processing. ",
          "minimum": 0,
          "maximum": 24
        },
        "preferredPaymentProduct": {
          "type": "string",
          "description": "Preferred payment product can be specified for Beneficiary. This will be used for defaulting the payment product for specific beneficiary. ",
          "minLength": 0,
          "maxLength": 25
        },
        "accountWithBank": {
          "type": "string",
          "description": "Identifies the bank where the beneficiary maintains his account",
          "minLength": 0,
          "maxLength": 35
        },
        "paymentCurrencyId": {
          "type": "string",
          "description": "The currency of payment.",
          "minLength": 0,
          "maxLength": 17
        },
        "beneficiaryOurCharges": {
          "type": "string",
          "description": "Indicates the bearer of the charges. For example: BEN( All transaction charges are to be borne by the beneficiary customer.), OUR (All transaction charges are to be borne by the ordering customer.), SHA (Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
          "minLength": 0,
          "maxLength": 40
        },
        "paymentCountry": {
          "type": "string",
          "description": "The country to which a payment is sent, usually where the beneficiary resides",
          "minLength": 0,
          "maxLength": 35
        },
        "accountWithBankSortCode": {
          "type": "string",
          "description": "Bank sort code details with account",
          "minLength": 0,
          "maxLength": 35
        },
        "recordStatus": {
          "type": "string",
          "description": "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "minLength": 0,
          "maxLength": 13
        }
      }
    },
    "ScreenHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "Status of the API(success/failed)"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "uniqueIdentifier": {
          "type": "string",
          "description": "The unique identifier/Message Reference of the record created."
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "number",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "number",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "BeneficiaryResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/BeneficiaryResponseBody"
        }
      },
      "description": "BeneficiaryResponse"
    },
    "BeneficiaryResponseBody": {
      "type": "object",
      "properties": {
        "beneficiaryNickNames": {
          "type": "array",
          "description": "Nickname of the beneficiary",
          "items": {
            "type": "object",
            "properties": {
              "beneficiaryNickName": {
                "type": "string",
                "description": "Nickname of the beneficiary",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "beneficiaryBICIBANNames": {
          "type": "array",
          "description": "Contains the name of the beneficiary's BIC IBAN number",
          "items": {
            "type": "object",
            "properties": {
              "beneficiaryBICIBANName": {
                "type": "string",
                "description": "Contains the name of the beneficiary's BIC IBAN number",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "paymentDetails": {
          "type": "array",
          "description": "Indicates the payment details for the beneficiary to apply the payment.",
          "items": {
            "type": "object",
            "properties": {
              "paymentDetail": {
                "type": "string",
                "description": "Indicates the payment details for the beneficiary to apply the payment.",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "overrides": {
          "type": "array",
          "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items": {
            "type": "object",
            "properties": {
              "override": {
                "type": "string",
                "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "beneficiaryAddresses": {
          "type": "array",
          "description": "It provides the address of the payee ",
          "items": {
            "type": "object",
            "properties": {
              "beneficiaryAddress": {
                "type": "string",
                "description": "It provides the address of the payee",
                "maxLength": 100
              }
            }
          }
        },
        "transactionType": {
          "type": "string",
          "description": "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "minLength": 0,
          "maxLength": 30
        },
        "beneficiaryCustomerId": {
          "type": "string",
          "description": "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank.",
          "minLength": 0,
          "maxLength": 40
        },
        "customerId": {
          "type": "string",
          "description": "Identifier of the customer",
          "minLength": 0,
          "maxLength": 35
        },
        "beneficiaryAccountId": {
          "type": "string",
          "description": "Unique account identifier of the beneficiary account number.",
          "minLength": 0,
          "maxLength": 40
        },
        "bankSortCode": {
          "type": "string",
          "description": "The sort code or the national clearing code of the beneficiary bank. ",
          "minLength": 0,
          "maxLength": 40
        },
        "customerReference": {
          "type": "string",
          "description": "The reference which is provided to the beneficiary/ creditor by the originator of payment",
          "minLength": 0,
          "maxLength": 40
        },
        "beneficiaryBIC": {
          "type": "string",
          "description": "BIC (Bank Identifier Code) of the beneficiary customer ",
          "minLength": 0,
          "maxLength": 40
        },
        "defaultNarrative": {
          "type": "string",
          "description": "The default narrative which will be provided on the debit and credit side of the payment. ",
          "minLength": 0,
          "maxLength": 30
        },
        "linkToBeneficiaryId": {
          "type": "string",
          "description": "For a customer defined beneficiaries, it specifies the link to bank defined beneficiaries. ",
          "minLength": 0,
          "maxLength": 35
        },
        "beneficiaryIBAN": {
          "type": "string",
          "description": "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "minLength": 0,
          "maxLength": 35
        },
        "beneficiaryBICIBAN": {
          "type": "string",
          "description": "Beneficiary IBAN details",
          "minLength": 0,
          "maxLength": 35
        },
        "beneficiaryBICIBANCity": {
          "type": "string",
          "description": "Beneficiaries city details",
          "minLength": 0,
          "maxLength": 35
        },
        "preferredPaymentAmount": {
          "type": "number",
          "description": "Preferred payment amount can be specified for the beneficiary. If specified, it will be populated during payment processing. ",
          "minimum": 0,
          "maximum": 24
        },
        "preferredPaymentProduct": {
          "type": "string",
          "description": "Preferred payment product can be specified for Beneficiary. This will be used for defaulting the payment product for specific beneficiary. ",
          "minLength": 0,
          "maxLength": 25
        },
        "accountWithBank": {
          "type": "string",
          "description": "Identifies the bank where the beneficiary maintains his account",
          "minLength": 0,
          "maxLength": 35
        },
        "paymentCurrencyId": {
          "type": "string",
          "description": "The currency of payment.",
          "minLength": 0,
          "maxLength": 17
        },
        "beneficiaryOurCharges": {
          "type": "string",
          "description": "Indicates the bearer of the charges. For example: BEN( All transaction charges are to be borne by the beneficiary customer.), OUR (All transaction charges are to be borne by the ordering customer.), SHA (Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
          "minLength": 0,
          "maxLength": 40
        },
        "paymentCountry": {
          "type": "string",
          "description": "The country to which a payment is sent, usually where the beneficiary resides",
          "minLength": 0,
          "maxLength": 35
        },
        "accountWithBankSortCode": {
          "type": "string",
          "description": "Bank sort code details with account",
          "minLength": 0,
          "maxLength": 35
        },
        "recordStatus": {
          "type": "string",
          "description": "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "minLength": 0,
          "maxLength": 13
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "Status of the API(success/failed)"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "uniqueIdentifier": {
          "type": "string",
          "description": "The unique identifier/Message Reference of the record created."
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "number",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "number",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody": {
      "properties": {
        "overrideDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier of the override."
              },
              "description": {
                "type": "string",
                "description": "The actual override message."
              },
              "code": {
                "type": "string",
                "description": "The code related to override message."
              },
              "options": {
                "type": "array",
                "description": "The usable options for the override.",
                "items": {
                  "type": "string"
                }
              },
              "type": {
                "type": "string",
                "description": "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/ScreenErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message "
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemScreenErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    },
    "BeneficiaryDelete": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        }
      },
      "description": "BeneficiaryDelete"
    },
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "number",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "number",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "status": {
          "type": "string",
          "description": "Status of the API(success/failed)"
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "CustomerBeneficiaryResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/CustomerBeneficiaryResponseBody"
        }
      },
      "description": "CustomerBeneficiaryResponse"
    },
    "CustomerBeneficiaryResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "beneficiaryId": {
            "type": "string",
            "description": "Indicates the Id of beneficiary when beneficiary details are stored",
            "maxLength": 17
          },
          "nickName": {
            "type": "string",
            "description": "Nickname of the beneficiary",
            "maxLength": 35
          },
          "categoryId": {
            "type": "string",
            "description": "Unique identifier associated with the product name of the account or contract. For example: For customer/counterparty accounts, the identifier would be in the range 1000 to 9999. For ledger accounts, in the range 10000 to 19999.",
            "maxLength": 35
          },
          "beneficiaryAccountId": {
            "type": "string",
            "description": "Unique account identifier of the beneficiary account number.",
            "maxLength": 34
          },
          "beneficiaryCustomerId": {
            "type": "string",
            "description": "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank.",
            "maxLength": 35
          },
          "transactionName": {
            "type": "string",
            "description": "The transaction description"
          },
          "bankSortCode": {
            "type": "string",
            "description": "The sort code or the national clearing code of the beneficiary bank. ",
            "maxLength": 20
          },
          "BIC": {
            "type": "string",
            "description": "The BIC code of the Beneficiary bank",
            "maxLength": 35
          },
          "IBAN": {
            "type": "string",
            "description": "International Bank Account number, an identifier of the account. E.g. GB29 NWBK 6016 1331 9268 19",
            "maxLength": 35
          },
          "linkBeneficiaryId": {
            "type": "string",
            "description": "The identifier of a beneficiary (defined by the institution) being linked to a customer-defined beneficiary",
            "maxLength": 35
          },
          "customerReference": {
            "type": "string",
            "description": "The reference which is provided to the beneficiary/ creditor by the originator of payment",
            "maxLength": 35
          },
          "accountWithBank": {
            "type": "string",
            "description": "Identifies the bank where the beneficiary maintains his account",
            "maxLength": 35
          },
          "paymentCurrencyId": {
            "type": "string",
            "description": "The currency of payment.",
            "maxLength": 3
          },
          "preferredPaymentAmount": {
            "type": "number",
            "description": "Preferred payment amount can be specified for the beneficiary. If specified, it will be populated during payment processing. ",
            "maximum": 19
          },
          "ourCharges": {
            "type": "string",
            "description": "The charge borne by the bank for providing a financial service. Possible values: -BEN -OUR -SHA",
            "maxLength": 35
          },
          "paymentCountry": {
            "type": "string",
            "description": "The country to which a payment is sent, usually where the beneficiary resides",
            "maxLength": 35
          },
          "beneficiaryNickName": {
            "type": "string",
            "description": "Nickname of the beneficiary"
          },
          "preferredPaymentProduct": {
            "type": "string",
            "description": "Preferred payment product can be specified for Beneficiary. This will be used for defaulting the payment product for specific beneficiary. ",
            "maxLength": 10
          },
          "defaultNarrative": {
            "type": "string",
            "description": "The default narrative which will be provided on the debit and credit side of the payment. ",
            "maxLength": 16
          }
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message "
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description": "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message for bad requests"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description": "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message caused by server"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    },
    "CustomerBeneficiariesResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/CustomerBeneficiariesResponseBody"
        }
      },
      "description": "CustomerBeneficiariesResponse"
    },
    "CustomerBeneficiariesResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "beneficiaries": {
            "type": "array",
            "description": "Identifies the Beneficiary name and address of the Standing Order",
            "items": {
              "type": "object",
              "properties": {
                "beneficiaryAccountId": {
                  "type": "string",
                  "description": "Unique account identifier of the beneficiary account number."
                },
                "beneficiaryCustomerId": {
                  "type": "string",
                  "description": "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank."
                },
                "beneficiaryBIC": {
                  "type": "string",
                  "description": "BIC (Bank Identifier Code) of the beneficiary customer "
                },
                "beneficiaryIBAN": {
                  "type": "string",
                  "description": "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189"
                },
                "beneficiaryNickName": {
                  "type": "string",
                  "description": "Nickname of the beneficiary"
                },
                "beneficiaryCustomerNickName": {
                  "type": "string",
                  "description": "Contains the nickname of the beneficiary Customer"
                },
                "beneficiaryOurCharges": {
                  "type": "string",
                  "description": "Indicates the bearer of the charges. For example: BEN( All transaction charges are to be borne by the beneficiary customer.), OUR (All transaction charges are to be borne by the ordering customer.), SHA (Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)"
                }
              }
            }
          },
          "beneficiaryId": {
            "type": "string",
            "description": "Indicates the Id of beneficiary when beneficiary details are stored"
          },
          "companyName": {
            "type": "string",
            "description": "The company in which payment is processed"
          },
          "categoryId": {
            "type": "string",
            "description": "Unique identifier associated with the product name of the account or contract. For example: For customer/counterparty accounts, the identifier would be in the range 1000 to 9999. For ledger accounts, in the range 10000 to 19999."
          },
          "transactionName": {
            "type": "string",
            "description": "The transaction description"
          },
          "transactionType": {
            "type": "string",
            "description": "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc."
          },
          "bankSortCode": {
            "type": "string",
            "description": "The sort code or the national clearing code of the beneficiary bank. "
          },
          "linkToBeneficiaryId": {
            "type": "string",
            "description": "For a customer defined beneficiaries, it specifies the link to bank defined beneficiaries. "
          },
          "customerReference": {
            "type": "string",
            "description": "The reference which is provided to the beneficiary/ creditor by the originator of payment"
          },
          "comment": {
            "type": "string",
            "description": "Comments added by the User"
          },
          "accountWithBank": {
            "type": "string",
            "description": "Identifies the bank where the beneficiary maintains his account"
          },
          "paymentCurrencyId": {
            "type": "string",
            "description": "The currency of payment."
          },
          "preferredPaymentAmount": {
            "type": "number",
            "description": "Preferred payment amount can be specified for the beneficiary. If specified, it will be populated during payment processing. "
          },
          "paymentCountry": {
            "type": "string",
            "description": "The country to which a payment is sent, usually where the beneficiary resides"
          },
          "preferredPaymentProductId": {
            "type": "string",
            "description": "Denotes the identifier of the preferred payment product "
          },
          "accountWithBankSortCode": {
            "type": "string",
            "description": "Bank sort code details with account"
          },
          "versionNumber": {
            "type": "string",
            "description": "Current number of the record"
          },
          "dateTime": {
            "type": "string",
            "description": "Contains the date and time separated by '-'"
          }
        }
      }
    },
    "deleteBeneficiary": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/BeneficiaryBody"
        }
      },
      "description": "Beneficiary",
      "example": {
        "header": {
          "audit": {
            "versionNumber": ""
          },
          "override": {
            "overrideDetails": [
              {
                "description": "Beneficiary BIC is missing. Only name provided",
                "id": "FT-BIC.BEN.CODE.MISSING.NAME.GIVEN",
                "type": "Override"
              }
            ]
          }
        },
        "body": {
          "beneficiaryIBAN": "DE89370400440532013000",
          "beneficiaryAccountId": "",
          "beneficiaryNickNames": [
            {
              "beneficiaryNickName": "Ozil"
            }
          ],
          "overrides": [
            {
              "override": ""
            }
          ],
          "preferredPaymentProduct": "",
          "beneficiaryOurCharges": "",
          "paymentCountry": "",
          "beneficiaryBICIBAN": "",
          "transactionType": "",
          "beneficiaryBICIBANNames": [
            {
              "beneficiaryBICIBANName": "DRESDNER BANK AG"
            }
          ],
          "paymentCurrencyId": "USD",
          "beneficiaryCustomerId": "Ozil",
          "beneficiaryBIC": "",
          "recordStatus": "",
          "preferredPaymentAmount": 0,
          "bankSortCode": "",
          "customerReference": "",
          "customerId": "100336",
          "linkToBeneficiaryId": "",
          "beneficiaryBICIBANCity": "",
          "defaultNarrative": "",
          "paymentDetails": [
            {
              "paymentDetail": ""
            }
          ],
          "accountWithBankSortCode": "",
          "accountWithBank": ""
        }
      }
    },
    "updateBeneficiary": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/BeneficiaryBody"
        }
      },
      "description": "Beneficiary",
      "example": {
        "header": {
          "audit": {
            "versionNumber": ""
          },
          "override": {
            "overrideDetails": [
              {
                "description": "Beneficiary BIC is missing. Only name provided",
                "id": "FT-BIC.BEN.CODE.MISSING.NAME.GIVEN",
                "type": "Override"
              }
            ]
          }
        },
        "body": {
          "beneficiaryIBAN": "DE89370400440532013000",
          "beneficiaryAccountId": "",
          "beneficiaryNickNames": [
            {
              "beneficiaryNickName": "Ozil"
            }
          ],
          "overrides": [
            {
              "override": ""
            }
          ],
          "preferredPaymentProduct": "",
          "beneficiaryOurCharges": "",
          "paymentCountry": "",
          "beneficiaryBICIBAN": "",
          "transactionType": "",
          "beneficiaryBICIBANNames": [
            {
              "beneficiaryBICIBANName": "DRESDNER BANK AG"
            }
          ],
          "paymentCurrencyId": "USD",
          "beneficiaryCustomerId": "Ozil",
          "beneficiaryBIC": "",
          "recordStatus": "",
          "preferredPaymentAmount": 0,
          "bankSortCode": "",
          "customerReference": "",
          "customerId": "100336",
          "linkToBeneficiaryId": "",
          "beneficiaryBICIBANCity": "",
          "defaultNarrative": "",
          "paymentDetails": [
            {
              "paymentDetail": ""
            }
          ],
          "accountWithBankSortCode": "",
          "accountWithBank": ""
        }
      }
    }
  }
}