{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows the viewing, creation and management of MiFID client information",
    "version" : "v1.0.0",
    "title" : "API for party customer MiFiD"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/customers/{customerId}/MiFID" : {
      "get" : {
        "summary" : "Retrieves the MiFiD client information",
        "description" : "Retrieves the MiFiD client information",
        "operationId" : "getMiFIDClientInformation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "MiFIDClientInformationResponse",
            "schema" : {
              "$ref" : "#/definitions/MiFIDClientInformationResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "post" : {
        "summary" : "Creates the MiFiD client information",
        "description" : "Creates the MiFiD client information",
        "operationId" : "createMiFIDClientInformation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MiFIDClientInformation"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "MiFIDClientInformationResponse",
            "schema" : {
              "$ref" : "#/definitions/MiFIDClientInformationResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "summary" : "Updates the MiFiD client information",
        "description" : "Updates the MiFiD client information",
        "operationId" : "updateMiFIDClientInformation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MiFIDClientInformation"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "MiFIDClientInformationResponse",
            "schema" : {
              "$ref" : "#/definitions/MiFIDClientInformationResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "MiFIDClientInformation" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/MiFIDClientInformationBody"
        }
      },
      "description" : "MiFIDClientInformation"
    },
    "MiFIDClientInformationBody" : {
      "type" : "object",
      "properties" : {
        "classification" : {
          "type" : "string",
          "description" : "This indicates a high-level classification of payment purpose code. i.e. purpose of the instruction based on a set of pre-defined categories.",
          "maxLength" : 30
        },
        "requestDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the client's request to be classified as professional has been received."
        },
        "MiFIDRequired" : {
          "type" : "string",
          "description" : "Specifies whether MiFID check is required or not",
          "maxLength" : 30
        },
        "reviewDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date when Review was made or review date returned for applicant"
        },
        "educationLevel" : {
          "type" : "string",
          "description" : "Denotes the clients's education Level.Possible Values : Degree, Diploma, A Level, O Level, Post Graduate, 0 - None, 1 - Not Defined, 2 - High School, 3 - Graduate, 4 - Post Graduate",
          "maxLength" : 30
        },
        "knowledgeInHedgeFunds" : {
          "type" : "string",
          "description" : "Denotes the client's knowledge level in Hedge Funds.Possible Values : 0 - None 1 - Not Defined 2 - Knowledgeable/Experienced 3 - No Knowledge/Experience",
          "maxLength" : 30
        },
        "knowledgeInPrivateEquity" : {
          "type" : "string",
          "description" : "Denotes the client's knowledge level in Private Equity.Possible Values : 0 - None 1 - Not Defined 2 - Knowledgeable/Experienced 3 - No Knowledge/Experience",
          "maxLength" : 30
        },
        "knowledgeInStructuredProducts" : {
          "type" : "string",
          "description" : "Denotes the client's knowledge level in Structured Products.Possible Values : 0 - None 1 - Not Defined 2 - Knowledgeable/Experienced 3 - No Knowledge/Experience",
          "maxLength" : 30
        },
        "knowledgeInDerivatives" : {
          "type" : "string",
          "description" : "Denotes the client's knowledge level in Derivatives.Possible Values : 0 - None 1 - Not Defined 2 - Knowledgeable/Experienced 3 - No Knowledge/Experience",
          "maxLength" : 30
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "MiFIDClientInformationResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/MiFIDClientInformationResponseBody"
        }
      },
      "description" : "MiFIDClientInformationResponse"
    },
    "MiFIDClientInformationResponseBody" : {
      "type" : "object",
      "properties" : {
        "classification" : {
          "type" : "string",
          "description" : "This indicates a high-level classification of payment purpose code. i.e. purpose of the instruction based on a set of pre-defined categories.",
          "maxLength" : 30
        },
        "requestDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the client's request to be classified as professional has been received."
        },
        "MiFIDRequired" : {
          "type" : "string",
          "description" : "Specifies whether MiFID check is required or not",
          "maxLength" : 30
        },
        "reviewDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date when Review was made or review date returned for applicant"
        },
        "educationLevel" : {
          "type" : "string",
          "description" : "Denotes the clients's education Level.Possible Values : Degree, Diploma, A Level, O Level, Post Graduate, 0 - None, 1 - Not Defined, 2 - High School, 3 - Graduate, 4 - Post Graduate",
          "maxLength" : 30
        },
        "knowledgeInHedgeFunds" : {
          "type" : "string",
          "description" : "Denotes the client's knowledge level in Hedge Funds.Possible Values : 0 - None 1 - Not Defined 2 - Knowledgeable/Experienced 3 - No Knowledge/Experience",
          "maxLength" : 30
        },
        "knowledgeInPrivateEquity" : {
          "type" : "string",
          "description" : "Denotes the client's knowledge level in Private Equity.Possible Values : 0 - None 1 - Not Defined 2 - Knowledgeable/Experienced 3 - No Knowledge/Experience",
          "maxLength" : 30
        },
        "knowledgeInStructuredProducts" : {
          "type" : "string",
          "description" : "Denotes the client's knowledge level in Structured Products.Possible Values : 0 - None 1 - Not Defined 2 - Knowledgeable/Experienced 3 - No Knowledge/Experience",
          "maxLength" : 30
        },
        "knowledgeInDerivatives" : {
          "type" : "string",
          "description" : "Denotes the client's knowledge level in Derivatives.Possible Values : 0 - None 1 - Not Defined 2 - Knowledgeable/Experienced 3 - No Knowledge/Experience",
          "maxLength" : 30
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}