{
  "swagger" : "2.0",
  "info" : {
    "description" : "User Administration",
    "version" : "v1.0.0",
    "title" : "Customer management"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/customers/externalUser" : {
      "post" : {
        "operationId" : "createExternalUserCustomer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ExternalUserCustomer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserCustomerResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserCustomerResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/externalUsers" : {
      "get" : {
        "operationId" : "getExternalUsers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserId",
          "in" : "query",
          "description" : "The identifier of the external user",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "externalUserName",
          "in" : "query",
          "description" : "External or Digital Channel User Name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "The identifier of the arrangement",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "subArrangementId",
          "in" : "query",
          "description" : "The identifier of the subarrangement",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "channelId",
          "in" : "query",
          "description" : "Id of the (digital) channel",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "externalUserStatus",
          "in" : "query",
          "description" : "External User Access status. Can be Active,  Inactive, Barred, Initiated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "The identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUsersResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerExternalUsersResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      },
      "post" : {
        "operationId" : "createExternalUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ExternalUser"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/externalUsers/{externalUserId}" : {
      "get" : {
        "operationId" : "getExternalUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserId",
          "in" : "path",
          "description" : "The identifier of the external user",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserResponse1"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      },
      "put" : {
        "operationId" : "updateExternalUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ExternalUser"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "operationId" : "deleteExternalUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/externalUserApprovals" : {
      "post" : {
        "operationId" : "initiateExternalUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ExternalUser"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/externalUserApprovals/amendments/{externalUserId}" : {
      "put" : {
        "operationId" : "amendExternalUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ExternalUser"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/externalUserApprovals/{externalUserId}" : {
      "put" : {
        "operationId" : "approveExternalUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "operationId" : "rejectExternalUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/externalUserRequests/{externalUserId}" : {
      "delete" : {
        "operationId" : "initiateExternalUserDelete",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserDeleteResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/users/userProfiles/" : {
      "get" : {
        "operationId" : "getUserProfile",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "query",
          "description" : "The user name to be loaded for reporting jobs during Close of Business If no user name is entered in this field then the default profile for the user 'operator' is used.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userSignOnName",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UserProfileResponse",
            "schema" : {
              "$ref" : "#/definitions/UserProfileResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/externalUsers/externalUserApprovals" : {
      "get" : {
        "operationId" : "getExternalUserApprovals",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserId",
          "in" : "query",
          "description" : "The identifier of the external user",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "externalUserName",
          "in" : "query",
          "description" : "External or Digital Channel User Name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "The identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "The identifier of the arrangement",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "subArrangementId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "channelId",
          "in" : "query",
          "description" : "Id of the (digital) channel",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "externalUserStatus",
          "in" : "query",
          "description" : "External User Access status. Can be Active,  Inactive, Barred, Initiated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserApprovalsResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserApprovalsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/{customerId}/externalUsers" : {
      "get" : {
        "operationId" : "getCustomerExternalUsers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "The identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "externalUserId",
          "in" : "query",
          "description" : "The identifier of the external user",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "externalUserName",
          "in" : "query",
          "description" : "External or Digital Channel User Name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "The identifier of the arrangement",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "channelId",
          "in" : "query",
          "description" : "Id of the (digital) channel",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "externalUserStatus",
          "in" : "query",
          "description" : "External User Access status. Can be Active,  Inactive, Barred, Initiated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerExternalUsersResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerExternalUsersResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/{customerId}/relationships" : {
      "get" : {
        "operationId" : "getCustomerRelations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "The identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "relationType",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "excludeCustomerType",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerRelationsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerRelationsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/{customerId}" : {
      "get" : {
        "operationId" : "getCustomer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "The identifier of the customer",
          "required" : true,
          "type" : "string",
          "x-example" : "190218"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers" : {
      "get" : {
        "operationId" : "getCustomers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "query",
          "description" : "The identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerMnemonic",
          "in" : "query",
          "description" : "Specifies an alternative easy means of referencing the Customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerName",
          "in" : "query",
          "description" : "Name of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "firstName",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lastName",
          "in" : "query",
          "description" : "The last name of an individual customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "street",
          "in" : "query",
          "description" : "The first line of the base address of a customer or prospect",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "addressCity",
          "in" : "query",
          "description" : "The town and/or city component of the base address of a customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "postCode",
          "in" : "query",
          "description" : "The postal code of the customer or prospect",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "The country component of the base address of a customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dateOfBirth",
          "in" : "query",
          "description" : "The date of birth of an individual customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "email",
          "in" : "query",
          "description" : "Email Identifier of the Customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "phoneNumber",
          "in" : "query",
          "description" : "The phone number of the customer or prospect",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mobilePhoneNumber",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerType",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerStatus",
          "in" : "query",
          "description" : "The internal bank status of a customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "industryId",
          "in" : "query",
          "description" : "An institution-defined identifier of the industry in which the customer is trading, operating or is associated with",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sectorId",
          "in" : "query",
          "description" : "An institution-defined identifier of the type of customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "nationalityId",
          "in" : "query",
          "description" : "The identifier of the nationality of a customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "residenceId",
          "in" : "query",
          "description" : "The identifier of the country of residence of a customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "accountOfficerId",
          "in" : "query",
          "description" : "The identifier of the�department head or specific account officer responsible for the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomersResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomersResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/externalUserApprovals/viewExternalUser/{externalUserId}" : {
      "get" : {
        "operationId" : "viewExternalUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "ExternalUserCustomer" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserCustomerBody"
        }
      },
      "description" : "ExternalUserCustomer"
    },
    "ExternalUserCustomerBody" : {
      "type" : "object",
      "required" : [ "givenName", "lastName" ],
      "properties" : {
        "email" : {
          "type" : "array",
          "description" : "Email Identifier of the Customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "email" : {
                "type" : "string",
                "description" : "Email Identifier of the Customer"
              }
            }
          }
        },
        "sms" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "smsNumber" : {
                "type" : "string",
                "description" : "The mobile SMS number of the customer"
              }
            }
          }
        },
        "legalDoc" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "documentName" : {
                "type" : "string"
              },
              "documentId" : {
                "type" : "string",
                "description" : "Based on documentCode, the field defaults the required document codes"
              },
              "holderName" : {
                "type" : "string"
              },
              "issueDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "The date the item was issued."
              },
              "expiryDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
              }
            },
            "required" : [ "documentId", "documentName" ]
          }
        },
        "street" : {
          "type" : "array",
          "description" : "The first line of the base address of a customer or prospect",
          "items" : {
            "type" : "object",
            "properties" : {
              "street" : {
                "type" : "string",
                "description" : "The first line of the base address of a customer or prospect"
              }
            }
          }
        },
        "postCode" : {
          "type" : "array",
          "description" : "The postal code of the customer or prospect",
          "items" : {
            "type" : "object",
            "properties" : {
              "postCode" : {
                "type" : "string",
                "description" : "The postal code of the customer or prospect"
              }
            }
          }
        },
        "townCountry" : {
          "type" : "array",
          "description" : "The town and country associated with the address",
          "items" : {
            "type" : "object",
            "properties" : {
              "townCountry" : {
                "type" : "string",
                "description" : "The town and country associated with the address"
              }
            }
          }
        },
        "country" : {
          "type" : "array",
          "description" : "The country component of the base address of a customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "country" : {
                "type" : "string",
                "description" : "The country component of the base address of a customer"
              }
            }
          }
        },
        "relation" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "relationCode" : {
                "type" : "string"
              },
              "relatedCustomerId" : {
                "type" : "string"
              }
            },
            "required" : [ "relationCode" ]
          }
        },
        "override" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database."
              }
            }
          }
        },
        "title" : {
          "type" : "string",
          "description" : "Main menu title or header which the user wants to display on the screen when requesting the display of this main menu. This field can be expanded to allow the user to enter the description of the main menu in various languages."
        },
        "givenName" : {
          "type" : "string"
        },
        "lastName" : {
          "type" : "string",
          "description" : "The last name of an individual customer"
        },
        "gender" : {
          "type" : "string",
          "description" : "Gender of the Individual Customer"
        },
        "languageId" : {
          "type" : "string",
          "description" : "Represents the language code of the underlying Entity/Company/Branch."
        },
        "dateOfBirth" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date of birth of an individual customer"
        },
        "nationalityId" : {
          "type" : "string",
          "description" : "The identifier of the nationality of a customer"
        },
        "residenceId" : {
          "type" : "string",
          "description" : "The identifier of the country of residence of a customer"
        },
        "sectorId" : {
          "type" : "string",
          "description" : "An institution-defined identifier of the type of customer"
        },
        "companyId" : {
          "type" : "string",
          "description" : "The identifier of the underlying Entity/Company/Branch."
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "ExternalUserCustomerResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserCustomerResponseBody"
        }
      },
      "description" : "ExternalUserCustomerResponse"
    },
    "ExternalUserCustomerResponseBody" : {
      "type" : "object",
      "properties" : {
        "email" : {
          "type" : "array",
          "description" : "Email Identifier of the Customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "email" : {
                "type" : "string",
                "description" : "Email Identifier of the Customer"
              }
            }
          }
        },
        "sms" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "smsNumber" : {
                "type" : "string",
                "description" : "The mobile SMS number of the customer"
              }
            }
          }
        },
        "legalDoc" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "documentName" : {
                "type" : "string"
              },
              "documentId" : {
                "type" : "string",
                "description" : "Based on documentCode, the field defaults the required document codes"
              },
              "holderName" : {
                "type" : "string"
              },
              "issueDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "The date the item was issued."
              },
              "expiryDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
              }
            }
          }
        },
        "street" : {
          "type" : "array",
          "description" : "The first line of the base address of a customer or prospect",
          "items" : {
            "type" : "object",
            "properties" : {
              "street" : {
                "type" : "string",
                "description" : "The first line of the base address of a customer or prospect"
              }
            }
          }
        },
        "postCode" : {
          "type" : "array",
          "description" : "The postal code of the customer or prospect",
          "items" : {
            "type" : "object",
            "properties" : {
              "postCode" : {
                "type" : "string",
                "description" : "The postal code of the customer or prospect"
              }
            }
          }
        },
        "townCountry" : {
          "type" : "array",
          "description" : "The town and country associated with the address",
          "items" : {
            "type" : "object",
            "properties" : {
              "townCountry" : {
                "type" : "string",
                "description" : "The town and country associated with the address"
              }
            }
          }
        },
        "country" : {
          "type" : "array",
          "description" : "The country component of the base address of a customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "country" : {
                "type" : "string",
                "description" : "The country component of the base address of a customer"
              }
            }
          }
        },
        "shortName" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerShortName" : {
                "type" : "string"
              }
            }
          }
        },
        "name" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerName" : {
                "type" : "string",
                "description" : "Name of the customer"
              }
            }
          }
        },
        "relation" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "relationCode" : {
                "type" : "string"
              },
              "relatedCustomerId" : {
                "type" : "string"
              }
            }
          }
        },
        "override" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database."
              }
            }
          }
        },
        "title" : {
          "type" : "string",
          "description" : "Main menu title or header which the user wants to display on the screen when requesting the display of this main menu. This field can be expanded to allow the user to enter the description of the main menu in various languages."
        },
        "givenName" : {
          "type" : "string"
        },
        "lastName" : {
          "type" : "string",
          "description" : "The last name of an individual customer"
        },
        "gender" : {
          "type" : "string",
          "description" : "Gender of the Individual Customer"
        },
        "languageId" : {
          "type" : "string",
          "description" : "Represents the language code of the underlying Entity/Company/Branch."
        },
        "dateOfBirth" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date of birth of an individual customer"
        },
        "nationalityId" : {
          "type" : "string",
          "description" : "The identifier of the nationality of a customer"
        },
        "residenceId" : {
          "type" : "string",
          "description" : "The identifier of the country of residence of a customer"
        },
        "customerMnemonic" : {
          "type" : "string",
          "description" : "Specifies an alternative easy means of referencing the Customer"
        },
        "internetBankingService" : {
          "type" : "boolean"
        },
        "customerType" : {
          "type" : "string"
        },
        "sectorId" : {
          "type" : "string",
          "description" : "An institution-defined identifier of the type of customer"
        },
        "companyId" : {
          "type" : "string",
          "description" : "The identifier of the underlying Entity/Company/Branch."
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "ExternalUser" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserBody"
        }
      },
      "description" : "ExternalUser"
    },
    "ExternalUserBody" : {
      "type" : "object",
      "properties" : {
        "channels" : {
          "type" : "array",
          "description" : "The ID of the Channel",
          "items" : {
            "type" : "object",
            "properties" : {
              "channelId" : {
                "type" : "string",
                "description" : "Id of the (digital) channel"
              },
              "externalUserStatus" : {
                "type" : "string",
                "description" : "External User Access status. Can be Active,  Inactive, Barred, Initiated"
              },
              "statusChangeReason" : {
                "type" : "string"
              },
              "productLineId" : {
                "type" : "string",
                "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products."
              },
              "arrangementId" : {
                "type" : "string",
                "description" : "The identifier of the arrangement"
              },
              "subArrangementId" : {
                "type" : "string"
              },
              "termsAccepted" : {
                "type" : "boolean",
                "description" : "Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time."
              },
              "userType" : {
                "type" : "string",
                "description" : "The type of the user. Can be CORPORATE, INTERMEDIARY,�PERSONAL"
              },
              "loginMethod" : {
                "type" : "string",
                "description" : "The type of login method e.g. password, PIN, OTP"
              },
              "startDateTime" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "startDate" : {
                      "type" : "string",
                      "format" : "date",
                      "description" : "Specifies the start date when the instruction will be made active"
                    },
                    "startTime" : {
                      "type" : "string",
                      "description" : "The time job was started"
                    }
                  }
                }
              },
              "endDateTime" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "endDate" : {
                      "type" : "string",
                      "format" : "date",
                      "description" : "This is the final payment date in  the payment schedule."
                    },
                    "endTime" : {
                      "type" : "string",
                      "description" : "The time the job was ended.  "
                    }
                  }
                }
              }
            },
            "required" : [ "arrangementId", "productLineId" ]
          }
        },
        "externalUserName" : {
          "type" : "string",
          "description" : "External or Digital Channel User Name"
        },
        "customerId" : {
          "type" : "string",
          "description" : "The identifier of the customer"
        },
        "companyId" : {
          "type" : "string",
          "description" : "The identifier of the underlying Entity/Company/Branch."
        },
        "authenticationServerUpdate" : {
          "type" : "boolean"
        },
        "externalUserSignMethod" : {
          "type" : "string"
        },
        "languageId" : {
          "type" : "string",
          "description" : "Represents the language code of the underlying Entity/Company/Branch."
        },
        "dateFormat" : {
          "type" : "string",
          "format" : "date"
        },
        "override" : {
          "type" : "string",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database."
        }
      }
    },
    "ExternalUserResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserResponseBody"
        }
      },
      "description" : "ExternalUserResponse"
    },
    "ExternalUserResponseBody" : {
      "type" : "object",
      "properties" : {
        "channels" : {
          "type" : "array",
          "description" : "The ID of the Channel",
          "items" : {
            "type" : "object",
            "properties" : {
              "channelId" : {
                "type" : "string",
                "description" : "Id of the (digital) channel"
              },
              "externalUserStatus" : {
                "type" : "string",
                "description" : "External User Access status. Can be Active,  Inactive, Barred, Initiated"
              },
              "statusChangeReason" : {
                "type" : "string"
              },
              "productLineId" : {
                "type" : "string",
                "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products."
              },
              "arrangementId" : {
                "type" : "string",
                "description" : "The identifier of the arrangement"
              },
              "subArrangementId" : {
                "type" : "string"
              },
              "termsAccepted" : {
                "type" : "boolean",
                "description" : "Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time."
              },
              "userType" : {
                "type" : "string",
                "description" : "The type of the user. Can be CORPORATE, INTERMEDIARY,�PERSONAL"
              },
              "loginMethod" : {
                "type" : "string",
                "description" : "The type of login method e.g. password, PIN, OTP"
              },
              "startDateTime" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "startDate" : {
                      "type" : "string",
                      "format" : "date",
                      "description" : "Specifies the start date when the instruction will be made active"
                    },
                    "startTime" : {
                      "type" : "string",
                      "description" : "The time job was started"
                    }
                  }
                }
              },
              "endDateTime" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "endDate" : {
                      "type" : "string",
                      "format" : "date",
                      "description" : "This is the final payment date in  the payment schedule."
                    },
                    "endTime" : {
                      "type" : "string",
                      "description" : "The time the job was ended.  "
                    }
                  }
                }
              }
            }
          }
        },
        "externalUserName" : {
          "type" : "string",
          "description" : "External or Digital Channel User Name"
        },
        "customerId" : {
          "type" : "string",
          "description" : "The identifier of the customer"
        },
        "companyId" : {
          "type" : "string",
          "description" : "The identifier of the underlying Entity/Company/Branch."
        },
        "authenticationServerUpdate" : {
          "type" : "boolean"
        },
        "externalUserSignMethod" : {
          "type" : "string"
        },
        "languageId" : {
          "type" : "string",
          "description" : "Represents the language code of the underlying Entity/Company/Branch."
        },
        "dateFormat" : {
          "type" : "string",
          "format" : "date"
        },
        "override" : {
          "type" : "string",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database."
        }
      }
    },
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "UserProfileResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UserProfileResponseBody"
        }
      },
      "description" : "UserProfileResponse"
    },
    "UserProfileResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "userId" : {
            "type" : "string",
            "description" : "The user name to be loaded for reporting jobs during Close of Business If no user name is entered in this field then the default profile for the user 'operator' is used.",
            "maxLength" : 16
          },
          "userName" : {
            "type" : "string",
            "maxLength" : 35
          },
          "userSignOnName" : {
            "type" : "string",
            "maxLength" : 16
          },
          "dateLastUsed" : {
            "type" : "string",
            "format" : "date",
            "description" : "The last Date and time when the Customer logged in to the Digital Channel"
          },
          "timeLastUsed" : {
            "type" : "string",
            "description" : "Last time the system was used by the user",
            "maxLength" : 8
          },
          "dateFormat" : {
            "type" : "string",
            "maxLength" : 1
          },
          "languageId" : {
            "type" : "string",
            "description" : "Represents the language code of the underlying Entity/Company/Branch.",
            "maxLength" : 2
          },
          "currentWorkingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date of the current business day for all online activities in the selected Company. This field is updated automatically with the date from 'nextWorkingDay' during the Close of Business processing."
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "ExternalUserResponse1" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserResponse1Body"
        }
      },
      "description" : "ExternalUserResponse1"
    },
    "ExternalUserResponse1Body" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "channels" : {
            "type" : "array",
            "description" : "The ID of the Channel",
            "items" : {
              "type" : "object",
              "properties" : {
                "channelId" : {
                  "type" : "string",
                  "description" : "Id of the (digital) channel",
                  "maxLength" : 20
                },
                "externalUserStatus" : {
                  "type" : "string",
                  "description" : "External User Access status. Can be Active,  Inactive, Barred, Initiated",
                  "maxLength" : 35
                },
                "statusChangeReason" : {
                  "type" : "string",
                  "maxLength" : 100
                },
                "productLineId" : {
                  "type" : "string",
                  "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products.",
                  "maxLength" : 35
                },
                "arrangementId" : {
                  "type" : "string",
                  "description" : "The identifier of the arrangement",
                  "maxLength" : 35
                },
                "subArrangementId" : {
                  "type" : "string",
                  "maxLength" : 35
                },
                "termsAccepted" : {
                  "type" : "boolean",
                  "description" : "Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time."
                },
                "userType" : {
                  "type" : "string",
                  "description" : "The type of the user. Can be CORPORATE, INTERMEDIARY,�PERSONAL",
                  "maxLength" : 12
                },
                "loginMethod" : {
                  "type" : "string",
                  "description" : "The type of login method e.g. password, PIN, OTP",
                  "maxLength" : 20
                },
                "startDateTime" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "startDate" : {
                        "type" : "string",
                        "format" : "date",
                        "description" : "Specifies the start date when the instruction will be made active"
                      },
                      "startTime" : {
                        "type" : "string",
                        "description" : "The time job was started",
                        "pattern" : "^([0-1]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
                      }
                    }
                  }
                },
                "endDateTime" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "endDate" : {
                        "type" : "string",
                        "format" : "date",
                        "description" : "This is the final payment date in  the payment schedule."
                      },
                      "endTime" : {
                        "type" : "string",
                        "description" : "The time the job was ended.  ",
                        "pattern" : "^([0-1]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
                      }
                    }
                  }
                }
              }
            }
          },
          "audit" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "versionNumber" : {
                  "type" : "string",
                  "maxLength" : 4
                },
                "recordStatus" : {
                  "type" : "string",
                  "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
                  "maxLength" : 4
                },
                "inputterId" : {
                  "type" : "string",
                  "maxLength" : 100
                },
                "inputterName" : {
                  "type" : "string"
                },
                "externalInputterName" : {
                  "type" : "string"
                }
              }
            }
          },
          "externalUserId" : {
            "type" : "string",
            "description" : "The identifier of the external user",
            "maxLength" : 70
          },
          "externalUserName" : {
            "type" : "string",
            "description" : "External or Digital Channel User Name",
            "maxLength" : 70
          },
          "customerId" : {
            "type" : "string",
            "description" : "The identifier of the customer",
            "maxLength" : 10
          },
          "companyId" : {
            "type" : "string",
            "description" : "The identifier of the underlying Entity/Company/Branch.",
            "maxLength" : 11
          },
          "authenticationServerUpdate" : {
            "type" : "boolean"
          },
          "externalUserSignMethod" : {
            "type" : "string",
            "maxLength" : 35
          },
          "languageId" : {
            "type" : "string",
            "description" : "Represents the language code of the underlying Entity/Company/Branch.",
            "maxLength" : 2
          },
          "dateFormat" : {
            "type" : "string",
            "maxLength" : 1
          },
          "override" : {
            "type" : "string",
            "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
            "maxLength" : 35
          }
        }
      }
    },
    "ExternalUserApprovalsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserApprovalsResponseBody"
        }
      },
      "description" : "ExternalUserApprovalsResponse"
    },
    "ExternalUserApprovalsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "channels" : {
            "type" : "array",
            "description" : "The ID of the Channel",
            "items" : {
              "type" : "object",
              "properties" : {
                "arrangementId" : {
                  "type" : "string",
                  "description" : "The identifier of the arrangement",
                  "maxLength" : 35
                },
                "subArrangementId" : {
                  "type" : "string",
                  "maxLength" : 35
                },
                "subArrangementName" : {
                  "type" : "string",
                  "maxLength" : 35
                },
                "productId" : {
                  "type" : "string",
                  "description" : "Id of the product.",
                  "maxLength" : 35
                },
                "productName" : {
                  "type" : "string",
                  "description" : "Name of the product, which is also its Id."
                },
                "channelId" : {
                  "type" : "string",
                  "description" : "Id of the (digital) channel",
                  "maxLength" : 20
                },
                "externalUserStatus" : {
                  "type" : "string",
                  "description" : "External User Access status. Can be Active,  Inactive, Barred, Initiated",
                  "maxLength" : 35
                }
              }
            }
          },
          "audit" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "recordStatus" : {
                  "type" : "string",
                  "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
                  "maxLength" : 4
                },
                "currentNumber" : {
                  "type" : "string",
                  "maxLength" : 4
                },
                "inputterId" : {
                  "type" : "string",
                  "maxLength" : 100
                },
                "inputterName" : {
                  "type" : "string"
                },
                "externalInputterName" : {
                  "type" : "string"
                }
              }
            }
          },
          "externalUserId" : {
            "type" : "string",
            "description" : "The identifier of the external user",
            "maxLength" : 70
          },
          "externalUserName" : {
            "type" : "string",
            "description" : "External or Digital Channel User Name",
            "maxLength" : 70
          },
          "customerId" : {
            "type" : "string",
            "description" : "The identifier of the customer",
            "maxLength" : 10
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer"
          },
          "authenticationType" : {
            "type" : "string",
            "description" : "The type of authentication for this external user. It should be either External or User Maintained.",
            "maxLength" : 35
          }
        }
      }
    },
    "CustomerExternalUsersResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerExternalUsersResponseBody"
        }
      },
      "description" : "CustomerExternalUsersResponse"
    },
    "CustomerExternalUsersResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "channels" : {
            "type" : "array",
            "description" : "The ID of the Channel",
            "items" : {
              "type" : "object",
              "properties" : {
                "arrangementId" : {
                  "type" : "string",
                  "description" : "The identifier of the arrangement",
                  "maxLength" : 35
                },
                "subArrangementId" : {
                  "type" : "string",
                  "maxLength" : 35
                },
                "subArrangementName" : {
                  "type" : "string"
                },
                "productId" : {
                  "type" : "string",
                  "description" : "Id of the product."
                },
                "productName" : {
                  "type" : "string",
                  "description" : "Name of the product, which is also its Id."
                },
                "channelId" : {
                  "type" : "string",
                  "description" : "Id of the (digital) channel",
                  "maxLength" : 20
                },
                "externalUserStatus" : {
                  "type" : "string",
                  "description" : "External User Access status. Can be Active,  Inactive, Barred, Initiated",
                  "maxLength" : 35
                },
                "userType" : {
                  "type" : "string",
                  "description" : "The type of the user. Can be CORPORATE, INTERMEDIARY,�PERSONAL",
                  "maxLength" : 12
                },
                "loginMethod" : {
                  "type" : "string",
                  "description" : "The type of login method e.g. password, PIN, OTP",
                  "maxLength" : 20
                },
                "termsAccepted" : {
                  "type" : "boolean",
                  "description" : "Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time."
                },
                "dateTimeLastUsed" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "dateLastUsed" : {
                        "type" : "string",
                        "format" : "date",
                        "description" : "The last Date and time when the Customer logged in to the Digital Channel"
                      },
                      "timeLastUsed" : {
                        "type" : "string",
                        "format" : "date-time",
                        "description" : "Last time the system was used by the user"
                      }
                    }
                  }
                }
              }
            }
          },
          "emails" : {
            "type" : "array",
            "description" : "Email Identifier of the Customer",
            "items" : {
              "type" : "object",
              "properties" : {
                "email" : {
                  "type" : "string",
                  "description" : "Email Identifier of the Customer"
                }
              }
            }
          },
          "audit" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "recordStatus" : {
                  "type" : "string",
                  "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
                  "maxLength" : 4
                },
                "currentNumber" : {
                  "type" : "string",
                  "maxLength" : 4
                },
                "inputterId" : {
                  "type" : "string",
                  "maxLength" : 100
                },
                "inputterName" : {
                  "type" : "string"
                },
                "externalInputterName" : {
                  "type" : "string"
                }
              }
            }
          },
          "externalUserId" : {
            "type" : "string",
            "description" : "The identifier of the external user",
            "maxLength" : 70
          },
          "externalUserName" : {
            "type" : "string",
            "description" : "External or Digital Channel User Name",
            "maxLength" : 70
          },
          "customerId" : {
            "type" : "string",
            "description" : "The identifier of the customer",
            "maxLength" : 10
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer"
          },
          "txnSign" : {
            "type" : "string",
            "maxLength" : 35
          },
          "languageId" : {
            "type" : "string",
            "description" : "Represents the language code of the underlying Entity/Company/Branch.",
            "maxLength" : 2
          },
          "gender" : {
            "type" : "string",
            "description" : "Gender of the Individual Customer"
          }
        }
      }
    },
    "CustomerRelationsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerRelationsResponseBody"
        }
      },
      "description" : "CustomerRelationsResponse"
    },
    "CustomerRelationsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "relatedCustomerId" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string",
            "description" : "Main menu title or header which the user wants to display on the screen when requesting the display of this main menu. This field can be expanded to allow the user to enter the description of the main menu in various languages."
          },
          "relatedCustomerName" : {
            "type" : "string"
          },
          "street" : {
            "type" : "string",
            "description" : "The first line of the base address of a customer or prospect"
          },
          "townCountry" : {
            "type" : "string",
            "description" : "The town and country associated with the address"
          },
          "country" : {
            "type" : "string",
            "description" : "The country component of the base address of a customer"
          },
          "postCode" : {
            "type" : "string",
            "description" : "The postal code of the customer or prospect"
          },
          "relationCodeId" : {
            "type" : "string"
          },
          "relationCodeName" : {
            "type" : "string"
          },
          "reverseRelationCodeId" : {
            "type" : "string"
          },
          "reverseRelationCodeName" : {
            "type" : "string"
          },
          "relationType" : {
            "type" : "string",
            "maxLength" : 35
          },
          "excludeCustomerType" : {
            "type" : "string",
            "maxLength" : 35
          }
        }
      }
    },
    "CustomerResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerResponseBody"
        }
      },
      "description" : "CustomerResponse"
    },
    "CustomerResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "addresses" : {
            "type" : "array",
            "description" : "Holds unstructured address information, e.g. Contact Person. Building, Floor, Apartment, Street Number, Street Name, Town, Area, Code",
            "items" : {
              "type" : "object",
              "properties" : {
                "street" : {
                  "type" : "string",
                  "description" : "The first line of the base address of a customer or prospect"
                },
                "addressCity" : {
                  "type" : "string",
                  "description" : "The town and/or city component of the base address of a customer"
                },
                "postCode" : {
                  "type" : "string",
                  "description" : "The postal code of the customer or prospect"
                },
                "country" : {
                  "type" : "string",
                  "description" : "The country component of the base address of a customer"
                },
                "addressDetails" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "addressDetail" : {
                        "type" : "string",
                        "description" : "Holds unstructured address information, e.g. Contact Person. Building, Floor, Apartment, Street Number, Street Name, Town, Area, Code"
                      }
                    }
                  }
                }
              }
            }
          },
          "contactDetails" : {
            "type" : "array",
            "description" : "The phone number of the customer or prospect",
            "items" : {
              "type" : "object",
              "properties" : {
                "contactType" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "contactType" : {
                        "type" : "string"
                      }
                    }
                  }
                },
                "emails" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "email" : {
                        "type" : "string",
                        "description" : "Email Identifier of the Customer"
                      }
                    }
                  }
                },
                "phoneNumbers" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "phoneNumber" : {
                        "type" : "string",
                        "description" : "The phone number of the customer or prospect"
                      }
                    }
                  }
                },
                "mobilePhoneNumbers" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "mobilePhoneNumber" : {
                        "type" : "string"
                      }
                    }
                  }
                }
[...]
