{
  "swagger" : "2.0",
  "info" : {
    "description" : "Create / Update/ Retrieve Customer Relationship",
    "version" : "v1.0.0",
    "title" : "Customer management"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/customers/relationships" : {
      "get" : {
        "summary" : "Customer relationship details.",
        "description" : "Retrieves a customer relationship details for specific party.",
        "operationId" : "getCustomerRelationship",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerRelationGroupId",
          "in" : "query",
          "description" : "Identifies the key to Customer Relationship Group to form a relation",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "partyId",
          "in" : "query",
          "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "relatedPartyId",
          "in" : "query",
          "description" : "Identifier of the Related Party",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "relationId",
          "in" : "query",
          "description" : "Identifier of the Customer Relationship and Party Relationship",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerRelationshipResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerRelationshipResponse1"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      },
      "post" : {
        "summary" : "Customer relationship record creation.",
        "description" : "Creates a relationships between records held on the customer or the person entity.",
        "operationId" : "createCustomerRelationship",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CustomerRelationship"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerRelationshipResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerRelationshipResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/relationships/{relationId}" : {
      "put" : {
        "summary" : "Customer relationship record updation.",
        "description" : "Updates a  customer relationships details for the given customer relationship Id.",
        "operationId" : "updateCustomerRelationship",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "relationId",
          "in" : "path",
          "description" : "Identifier of the Customer Relationship and Party Relationship",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CustomerRelationship"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerRelationshipResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerRelationshipResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "CustomerRelationship" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerRelationshipBody"
        }
      },
      "description" : "CustomerRelationship"
    },
    "CustomerRelationshipBody" : {
      "type" : "object",
      "properties" : {
        "originatingRelation" : {
          "type" : "array",
          "description" : "Details about the Customer Relationships and Party Relationships",
          "items" : {
            "type" : "object",
            "properties" : {
              "relationReference" : {
                "type" : "string",
                "description" : "Customer Relationship of originating party. It is used in conjunction with the relatedRelationReference attribute."
              },
              "party" : {
                "type" : "string"
              },
              "partyId" : {
                "type" : "string",
                "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
              },
              "owningPercent" : {
                "type" : "string",
                "description" : "Used to record the percentage of ownership in the relationship. For example an entity may be partially or wholly owned by another entity. This will only be allowed to be entered if the relation is indicated as a type allowing Ownership"
              },
              "partyRelation" : {
                "type" : "string",
                "description" : "Originating Party's relationship to the underlying portfolio. Should be a valid relationship."
              },
              "partyRole" : {
                "type" : "string",
                "description" : "The role of the customer on the account - select from standard list"
              },
              "partyEffectiveDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Effective date from which there is a relationship between originating party and the portfolio."
              },
              "relationships" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "relatedRelationReference" : {
                      "type" : "string",
                      "description" : "To relate the Customer Relationship between Originating party and other parties. It is used in conjunction with the relationReference attribute"
                    },
                    "relatedParty" : {
                      "type" : "string",
                      "description" : "Whether the related party is an Active Customer or Individual/Corporate Prospect.Valid options - CUSTOMER, PERSON, ENTITY"
                    },
                    "relatedPartyId" : {
                      "type" : "string",
                      "description" : "Identifier of the Related Party"
                    },
                    "relatedPartyRelation" : {
                      "type" : "string",
                      "description" : "The relation between the originating party and the related party.For Example:Mother, Daughter"
                    },
                    "relatedPartyRole" : {
                      "type" : "string",
                      "description" : "To define the role of the related party.For example: SOLICITOR, AUTHORISED SIGNATORY and POWER OF ATTORNEY"
                    },
                    "relatedPartyEffectiveDate" : {
                      "type" : "string",
                      "format" : "date",
                      "description" : "To state the effective date of the relationship."
                    },
                    "owningPercent" : {
                      "type" : "number",
                      "description" : "Used to record the percentage of ownership in the relationship. For example an entity may be partially or wholly owned by another entity. This will only be allowed to be entered if the relation is indicated as a type allowing Ownership"
                    }
                  }
                }
              }
            }
          }
        },
        "customerRelationGroupId" : {
          "type" : "number",
          "description" : "Identifies the key to Customer Relationship Group to form a relation"
        },
        "customerRelationGroupName" : {
          "type" : "string",
          "description" : "Name of a Customer Relationship Group if applicable to the relationship."
        },
        "purposeOfRelationship" : {
          "type" : "string",
          "description" : "The purpose of the relationship between the Originating Party and the Related Party. Valid options - TAX, LIMIT, ADVICES, OTHERS or can be left blank"
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "CustomerRelationshipResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerRelationshipResponseBody"
        }
      },
      "description" : "CustomerRelationshipResponse"
    },
    "CustomerRelationshipResponseBody" : {
      "type" : "object",
      "properties" : {
        "originatingRelation" : {
          "type" : "array",
          "description" : "Details about the Customer Relationships and Party Relationships",
          "items" : {
            "type" : "object",
            "properties" : {
              "relationReference" : {
                "type" : "string",
                "description" : "Customer Relationship of originating party. It is used in conjunction with the relatedRelationReference attribute."
              },
              "party" : {
                "type" : "string"
              },
              "partyId" : {
                "type" : "string",
                "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
              },
              "owningPercent" : {
                "type" : "string",
                "description" : "Used to record the percentage of ownership in the relationship. For example an entity may be partially or wholly owned by another entity. This will only be allowed to be entered if the relation is indicated as a type allowing Ownership"
              },
              "partyRelation" : {
                "type" : "string",
                "description" : "Originating Party's relationship to the underlying portfolio. Should be a valid relationship."
              },
              "partyRole" : {
                "type" : "string",
                "description" : "The role of the customer on the account - select from standard list"
              },
              "partyEffectiveDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Effective date from which there is a relationship between originating party and the portfolio."
              },
              "relationships" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "relatedRelationReference" : {
                      "type" : "string",
                      "description" : "To relate the Customer Relationship between Originating party and other parties. It is used in conjunction with the relationReference attribute"
                    },
                    "relatedParty" : {
                      "type" : "string",
                      "description" : "Whether the related party is an Active Customer or Individual/Corporate Prospect.Valid options - CUSTOMER, PERSON, ENTITY"
                    },
                    "relatedPartyId" : {
                      "type" : "string",
                      "description" : "Identifier of the Related Party"
                    },
                    "relatedPartyRelation" : {
                      "type" : "string",
                      "description" : "The relation between the originating party and the related party.For Example:Mother, Daughter"
                    },
                    "relatedPartyRole" : {
                      "type" : "string",
                      "description" : "To define the role of the related party.For example: SOLICITOR, AUTHORISED SIGNATORY and POWER OF ATTORNEY"
                    },
                    "relatedPartyEffectiveDate" : {
                      "type" : "string",
                      "format" : "date",
                      "description" : "To state the effective date of the relationship."
                    },
                    "owningPercent" : {
                      "type" : "number",
                      "description" : "Used to record the percentage of ownership in the relationship. For example an entity may be partially or wholly owned by another entity. This will only be allowed to be entered if the relation is indicated as a type allowing Ownership"
                    }
                  }
                }
              }
            }
          }
        },
        "customerRelationGroupId" : {
          "type" : "number",
          "description" : "Identifies the key to Customer Relationship Group to form a relation"
        },
        "customerRelationGroupName" : {
          "type" : "string",
          "description" : "Name of a Customer Relationship Group if applicable to the relationship."
        },
        "purposeOfRelationship" : {
          "type" : "string",
          "description" : "The purpose of the relationship between the Originating Party and the Related Party. Valid options - TAX, LIMIT, ADVICES, OTHERS or can be left blank"
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "CustomerRelationshipResponse1" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerRelationshipResponse1Body"
        }
      },
      "description" : "CustomerRelationshipResponse1"
    },
    "CustomerRelationshipResponse1Body" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "originatingRelation" : {
            "type" : "array",
            "description" : "Details about the Customer Relationships and Party Relationships",
            "items" : {
              "type" : "object",
              "properties" : {
                "relationReference" : {
                  "type" : "string",
                  "description" : "Customer Relationship of originating party. It is used in conjunction with the relatedRelationReference attribute."
                },
                "party" : {
                  "type" : "string"
                },
                "partyId" : {
                  "type" : "string",
                  "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
                },
                "owningPercent" : {
                  "type" : "string",
                  "description" : "Used to record the percentage of ownership in the relationship. For example an entity may be partially or wholly owned by another entity. This will only be allowed to be entered if the relation is indicated as a type allowing Ownership"
                },
                "partyRelation" : {
                  "type" : "string",
                  "description" : "Originating Party's relationship to the underlying portfolio. Should be a valid relationship."
                },
                "partyRole" : {
                  "type" : "string",
                  "description" : "The role of the customer on the account - select from standard list"
                },
                "partyEffectiveDate" : {
                  "type" : "string",
                  "format" : "date",
                  "description" : "Effective date from which there is a relationship between originating party and the portfolio."
                },
                "relationships" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "relatedRelationReference" : {
                        "type" : "string",
                        "description" : "To relate the Customer Relationship between Originating party and other parties. It is used in conjunction with the relationReference attribute"
                      },
                      "relatedParty" : {
                        "type" : "string",
                        "description" : "Whether the related party is an Active Customer or Individual/Corporate Prospect.Valid options - CUSTOMER, PERSON, ENTITY"
                      },
                      "relatedPartyId" : {
                        "type" : "string",
                        "description" : "Identifier of the Related Party"
                      },
                      "relatedPartyRelation" : {
                        "type" : "string",
                        "description" : "The relation between the originating party and the related party.For Example:Mother, Daughter"
                      },
                      "relatedPartyRole" : {
                        "type" : "string",
                        "description" : "To define the role of the related party.For example: SOLICITOR, AUTHORISED SIGNATORY and POWER OF ATTORNEY"
                      },
                      "relatedPartyEffectiveDate" : {
                        "type" : "string",
                        "format" : "date",
                        "description" : "To state the effective date of the relationship."
                      },
                      "owningPercent" : {
                        "type" : "string",
                        "description" : "Used to record the percentage of ownership in the relationship. For example an entity may be partially or wholly owned by another entity. This will only be allowed to be entered if the relation is indicated as a type allowing Ownership"
                      }
                    }
                  }
                }
              }
            }
          },
          "relationId" : {
            "type" : "string",
            "description" : "Identifier of the Customer Relationship and Party Relationship"
          },
          "customerRelationGroupId" : {
            "type" : "string",
            "description" : "Identifies the key to Customer Relationship Group to form a relation"
          },
          "customerRelationGroupName" : {
            "type" : "string",
            "description" : "Name of a Customer Relationship Group if applicable to the relationship."
          },
          "purposeOfRelationship" : {
            "type" : "string",
            "description" : "The purpose of the relationship between the Originating Party and the Related Party. Valid options - TAX, LIMIT, ADVICES, OTHERS or can be left blank"
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}