{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retrieves a customer basic information.",
    "version" : "v2.0.0",
    "title" : "Party Customer Information"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v2.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/customers" : {
      "get" : {
        "summary" : "Customer basic information",
        "description" : "Retrieves a customer basic information.",
        "operationId" : "getCustomerInformation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerIdCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerIdBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerIdMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerName",
          "in" : "query",
          "description" : "Name of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerNameCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerNameBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerNameMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "street",
          "in" : "query",
          "description" : "Contains the first line of customer's base address, example building number, street number etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "streetCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "streetBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "streetMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "addressCity",
          "in" : "query",
          "description" : "The town and/or city component of the base address of a customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "addressCityCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "addressCityBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "addressCityMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "countryId",
          "in" : "query",
          "description" : "ISO country code of the financial institution. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "countryIdCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "countryIdBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "countryIdMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "postCode",
          "in" : "query",
          "description" : "Identifies the address postal code for the customer.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "postCodeCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "postCodeBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "postCodeMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dateOfBirth",
          "in" : "query",
          "description" : "The date of birth of an individual customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dateOfBirthCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dateOfBirthBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dateOfBirthMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerStatus",
          "in" : "query",
          "description" : "The internal bank status of a customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerStatusCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerStatusBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerStatusMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sectorId",
          "in" : "query",
          "description" : "An institution-defined identifier of the type of customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sectorIdCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sectorIdBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sectorIdMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "accountOfficerId",
          "in" : "query",
          "description" : "The identifier of the department head or specific account officer responsible for the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "accountOfficerIdCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "accountOfficerIdBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "accountOfficerIdMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "industryId",
          "in" : "query",
          "description" : "An institution-defined identifier of the industry in which the customer is trading, operating or is associated with",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "industryIdCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "industryIdBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "industryIdMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "nationalityId",
          "in" : "query",
          "description" : "The identifier of the nationality of a customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "nationalityIdCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "nationalityIdBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "nationalityIdMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "residenceId",
          "in" : "query",
          "description" : "The identifier of the country of residence of a customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "residenceIdCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "residenceIdBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "residenceIdMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lastName",
          "in" : "query",
          "description" : "The last name of an individual customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lastNameCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lastNameBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lastNameMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "phoneNumber",
          "in" : "query",
          "description" : "The phone number of the customer or prospect",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "phoneNumberCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "phoneNumberBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "phoneNumberMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerMnemonic",
          "in" : "query",
          "description" : "Specifies an alternative easy means of referencing the Customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerMnemonicCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerMnemonicBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerMnemonicMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "firstName",
          "in" : "query",
          "description" : "Specifies customer's first name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "firstNameCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "firstNameBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "firstNameMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerType",
          "in" : "query",
          "description" : "Illustrates the capacity in which a client is acting.Possible Values : Customer, Broker, Depository, Client, Counterparty, External Account Manager",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerTypeCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerTypeBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerTypeMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "email",
          "in" : "query",
          "description" : "Email Identifier of the Customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "emailCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "emailBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "emailMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mobilePhoneNumber",
          "in" : "query",
          "description" : "Represents the phone number of a customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mobilePhoneNumberCT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mobilePhoneNumberBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mobilePhoneNumberMT",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerInformationResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerInformationResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "CustomerInformationResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerInformationResponseBody"
        }
      },
      "description" : "CustomerInformationResponse"
    },
    "CustomerInformationResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "addresses" : {
            "type" : "array",
            "description" : "Communication Address of the Customer",
            "items" : {
              "type" : "object",
              "properties" : {
                "street" : {
                  "type" : "string",
                  "description" : "Contains the first line of customer's base address, example building number, street number etc.",
                  "maxLength" : 35
                },
                "address" : {
                  "type" : "string",
                  "description" : "Communication Address of the Customer",
                  "maxLength" : 35
                },
                "addressCity" : {
                  "type" : "string",
                  "description" : "The town and/or city component of the base address of a customer",
                  "maxLength" : 35
                },
                "postCode" : {
                  "type" : "string",
                  "description" : "Identifies the address postal code for the customer.",
                  "maxLength" : 35
                },
                "country" : {
                  "type" : "string",
                  "description" : "Identifies the country of the customer.",
                  "maxLength" : 35
                }
              }
            }
          },
          "contactDetails" : {
            "type" : "array",
            "description" : "Email Identifier of the Customer",
            "items" : {
              "type" : "object",
              "properties" : {
                "phoneNumbers" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "phoneNumber" : {
                        "type" : "string",
                        "description" : "The phone number of the customer or prospect",
                        "maxLength" : 17
                      }
                    }
                  }
                },
                "officePhoneNumbers" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "officePhoneNumber" : {
                        "type" : "string",
                        "description" : "The office phone number of the customer",
                        "maxLength" : 17
                      }
                    }
                  }
                },
                "mobilePhoneNumbers" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "mobilePhoneNumber" : {
                        "type" : "string",
                        "description" : "Represents the phone number of a customer",
                        "maxLength" : 17
                      }
                    }
                  }
                },
                "emails" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "email" : {
                        "type" : "string",
                        "description" : "Email Identifier of the Customer",
                        "maxLength" : 50
                      }
                    }
                  }
                },
                "addressLocations" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "addressLocation" : {
                        "type" : "string",
                        "maxLength" : 10
                      }
                    }
                  }
                }
              }
            }
          },
          "vulnerabilities" : {
            "type" : "array",
            "description" : "The type of vulnerability (physical impairment) the customer had.",
            "items" : {
              "type" : "object",
              "properties" : {
                "vulnerability" : {
                  "type" : "string",
                  "description" : "The type of vulnerability (physical impairment) the customer had.",
                  "maxLength" : 35
                }
              }
            }
          },
          "profileTypes" : {
            "type" : "array",
            "description" : "Identifies the type of profile that can be assigned to the customer. Bank needs to profile its clients in order to be effective in cross selling and campaign management.",
            "items" : {
              "type" : "object",
              "properties" : {
                "profileType" : {
                  "type" : "string",
                  "description" : "Identifies the type of profile that can be assigned to the customer. Bank needs to profile its clients in order to be effective in cross selling and campaign management.",
                  "maxLength" : 35
                },
                "profileTypeName" : {
                  "type" : "string",
                  "description" : "Specifies the description of the profile Type.",
                  "maxLength" : 35
                },
                "profile" : {
                  "type" : "string",
                  "description" : "Identifies the profile that can be assigned to the customer. Bank needs to profile its clients in order to be effective in cross selling and campaign management.",
                  "maxLength" : 35
                },
                "profileName" : {
                  "type" : "string",
                  "description" : "Specifies the description of the profile.",
                  "maxLength" : 35
                }
              }
            }
          },
          "legalDocuments" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "legalId" : {
                  "type" : "string",
                  "description" : "Unique reference number of the legal documents submitted as identification proof",
                  "maxLength" : 35
                },
                "legalDocumentName" : {
                  "type" : "string",
                  "description" : "Name of the legal documents such as passport, driving licence etc., provided as identification proof",
                  "maxLength" : 35
                },
                "legalHolderName" : {
                  "type" : "string",
                  "description" : "Name of the account holder in the Legal Document",
                  "maxLength" : 100
                },
                "legalIssueAuthorisedDate" : {
                  "type" : "string",
                  "format" : "date",
                  "description" : "Authority who issued the legal document"
                },
                "legalIssueDate" : {
                  "type" : "string",
                  "format" : "date",
                  "description" : "Date of Issue of the legal document"
                },
                "legalExpiredDate" : {
                  "type" : "string",
                  "format" : "date",
                  "description" : "Expiry date of the legal document submitted as proof"
                }
              }
            }
          },
          "otherNationalityIds" : {
            "type" : "array",
            "description" : "Other Nationality of the Customer",
            "items" : {
              "type" : "object",
              "properties" : {
                "otherNationalityId" : {
                  "type" : "string",
                  "description" : "Other Nationality of the Customer",
                  "maxLength" : 9
                }
              }
            }
          },
          "contactTypes" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "contactType" : {
                  "type" : "string",
                  "description" : "Types of contacts available to users to communicate",
                  "maxLength" : 35
                }
              }
            }
          },
          "preferredChannels" : {
            "type" : "array",
            "description" : "Preferred method of contact to the customer",
            "items" : {
              "type" : "object",
              "properties" : {
                "preferredChannel" : {
                  "type" : "string",
                  "description" : "Preferred method of contact to the customer",
                  "maxLength" : 20
                }
              }
            }
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identifier of the customer",
            "maxLength" : 10
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer",
            "maxLength" : 35
          },
          "faxId" : {
            "type" : "string",
            "description" : "The fax (facsimile) number of the customer",
            "maxLength" : 17
          },
          "dateOfBirth" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date of birth of an individual customer"
          },
          "customerStatus" : {
            "type" : "string",
            "description" : "The internal bank status of a customer",
            "maxLength" : 4
          },
          "statusName" : {
            "type" : "string",
            "description" : "An institution-defined high level description or segmentation of the customer",
            "maxLength" : 4
          },
          "customerMnemonic" : {
            "type" : "string",
            "description" : "Specifies an alternative easy means of referencing the Customer",
            "maxLength" : 10
          },
          "nationalityId" : {
            "type" : "string",
            "description" : "The identifier of the nationality of a customer",
            "maxLength" : 2
          },
          "nationalityName" : {
            "type" : "string",
            "maxLength" : 2
          },
          "residenceId" : {
            "type" : "string",
            "description" : "The identifier of the country of residence of a customer",
            "maxLength" : 2
          },
          "accountOfficerId" : {
            "type" : "number",
            "description" : "The identifier of the department head or specific account officer responsible for the customer",
            "maximum" : 4
          },
          "industryId" : {
            "type" : "number",
            "description" : "An institution-defined identifier of the industry in which the customer is trading, operating or is associated with",
            "maximum" : 4
          },
          "sectorId" : {
            "type" : "number",
            "description" : "An institution-defined identifier of the type of customer",
            "maximum" : 4
          },
          "lastName" : {
            "type" : "string",
            "description" : "The last name of an individual customer",
            "maxLength" : 50
          },
          "accountOfficerName" : {
            "type" : "string",
            "description" : "Name of the Account/Relationship Officer attached to the Customer",
            "maxLength" : 4
          },
          "title" : {
            "type" : "string",
            "description" : "Main menu title or header which the user wants to display on the screen when requesting the display of this main menu. This field can be expanded to allow the user to enter the description of the main menu in various languages.",
            "maxLength" : 15
          },
          "gender" : {
            "type" : "string",
            "description" : "Gender of the Individual Customer",
            "maxLength" : 10
          },
          "sectorName" : {
            "type" : "string",
            "description" : "An institution-defined identifier of the type of customer",
            "maxLength" : 4
          },
          "targetName" : {
            "type" : "string",
            "description" : "Describes the target in an abbreviated form which can be used for reporting when space is limited.This can be expanded to allow the User to enter a short description of the Target code in various languages. ",
            "maxLength" : 4
          },
          "maritalStatus" : {
            "type" : "string",
            "description" : "Marital status of the customer",
            "maxLength" : 15
          },
          "industryName" : {
            "type" : "string",
            "description" : "Industry associated with the Customer",
            "maxLength" : 4
          },
          "residenceName" : {
            "type" : "string",
            "description" : "Name of the residence country.",
            "maxLength" : 2
          },
          "dateOfDeath" : {
            "type" : "string",
            "format" : "date",
            "description" : "The death date of customer."
          },
          "notificationDateOfDeath" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date on which the bank gets the notification that the customer is dead."
          },
          "companyId" : {
            "type" : "string",
            "description" : "The identifier of the underlying Entity/Company/Branch.",
            "maxLength" : 11
          },
          "customerLiability" : {
            "type" : "string",
            "description" : "Indicates the customer consolidation number for credit grouping purposes, within the same branch/country.",
            "maxLength" : 10
          },
          "firstName" : {
            "type" : "string",
            "description" : "Specifies customer's first name",
            "maxLength" : 50
          },
          "language" : {
            "type" : "string",
            "description" : "The language that the contents of the field are displayed in.",
            "maxLength" : 2
          },
          "birthIncorpDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date on which the entity is incorporated"
          },
          "target" : {
            "type" : "string",
            "description" : "Specifies how the Customer is considered by the bank and how he fits in with the Account Officer's overall marketing strategy",
            "maxLength" : 4
          },
          "customerType" : {
            "type" : "string",
            "description" : "Illustrates the capacity in which a client is acting.Possible Values : Customer, Broker, Depository, Client, Counterparty, External Account Manager",
            "maxLength" : 35
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Current number of the record",
            "maxLength" : 6
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}