{
  "swagger": "2.0",
  "info": {
    "description": "API to retrieve the list of cards issued to the Customer",
    "version": "v1.0.0",
    "title": "Customer Cards issued"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/party/customers/{customerId}/cards": {
      "get": {
        "operationId": "getCustomerCreditCards",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The identifier of the customer",
            "required": true,
            "type": "string",
            "x-example": "100384"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "CustomerCreditCardsResponse",
            "schema": {
              "$ref": "#/definitions/CustomerCreditCardsResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "CustomerCreditCardsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/CustomerCreditCardsResponseBody"
        }
      },
      "description": "CustomerCreditCardsResponse"
    },
    "CustomerCreditCardsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.",
            "maxLength": 12
          },
          "cardType": {
            "type": "string",
            "description": "The type of the card, e.g. Visa, Mastercard, etc."
          },
          "cardNumber": {
            "type": "string",
            "description": "The cardType and number of the card. Card issues are defined with an ID consisting of three elements. The card type, a full stop and the card number. The card type must be a valid cardType. The card number may be any alphanumeric construction, e.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222",
            "maxLength": 25
          },
          "currencyId": {
            "type": "string",
            "description": "The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.",
            "maxLength": 3
          },
          "issueDate": {
            "type": "string",
            "format": "date",
            "description": "The date the item was issued."
          },
          "expiryDate": {
            "type": "string",
            "format": "date",
            "description": "The date an agreement such as a credit facility or limit is due to expire"
          },
          "onlineActualBalance": {
            "type": "number",
            "description": "Balance of the account that represents total of transactions posted against the account excluding any entries with the processing date in the future."
          },
          "limit": {
            "type": "string",
            "description": "This field indicates the withdraw limit of the particular account"
          },
          "accountName": {
            "type": "string",
            "description": "Display name or short name of the account specified.",
            "maxLength": 35
          }
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type"
        }
      }
    }
  }
}