{
  "swagger": "2.0",
  "info": {
    "description": "API to create, update and retrieve details for a new Customer that is being onboarded",
    "version": "v1.0.0",
    "title": "Customer on boarding"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/party/onboarding/customers/{customerId}": {
      "get": {
        "summary": "Customer Information for specific customer.",
        "description": "Retrieve Customer Information",
        "operationId": "getOnboardingCustomer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Identifier of the customer",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OnboardingCustomerResponse",
            "schema": {
              "$ref": "#/definitions/OnboardingCustomerResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put": {
        "summary": "update the customer information",
        "description": "Customer Updation",
        "operationId": "updateOnboardingCustomer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Identifier of the customer",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OnboardingCustomer"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OnboardingCustomerResponse",
            "schema": {
              "$ref": "#/definitions/OnboardingCustomerResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/onboarding/customers": {
      "post": {
        "summary": "Create the customer",
        "description": "Customer Creation",
        "operationId": "createOnboardingCustomer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OnboardingCustomer"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OnboardingCustomerResponse",
            "schema": {
              "$ref": "#/definitions/OnboardingCustomerResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "ScreenHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "uniqueIdentifier": {
          "type": "string",
          "description": "The unique identifier/Message Reference of the record created."
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "number",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "number",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "OnboardingCustomerResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/OnboardingCustomerResponseBody"
        }
      },
      "description": "OnboardingCustomerResponse"
    },
    "OnboardingCustomerResponseBody": {
      "type": "object",
      "properties": {
        "displayNames": {
          "type": "array",
          "description": "Contains the name used for display or enrichment purposes",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "Contains the name used for display or enrichment purposes",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "customerNames": {
          "type": "array",
          "description": "Name of the customer",
          "items": {
            "type": "object",
            "properties": {
              "customerName": {
                "type": "string",
                "description": "Name of the customer",
                "minLength": 0,
                "maxLength": 35
              },
              "customerNameAdditional": {
                "type": "string",
                "description": "Continuation/Extension to the Customer Name.",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "communicationDevices": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "phoneNumber": {
                "type": "string",
                "description": "The phone number of the customer or prospect",
                "minLength": 0,
                "maxLength": 35
              },
              "smsNumber": {
                "type": "string",
                "description": "The mobile SMS number of the customer",
                "minLength": 0,
                "maxLength": 35
              },
              "email": {
                "type": "string",
                "description": "Email Identifier of the Customer",
                "minLength": 0,
                "maxLength": 35
              },
              "communicationType": {
                "type": "string",
                "description": "Communication type to the customer, as defined by the institution. E.g. Proposal, Alert, Campaign, New Product Update, Robinson List, Statement.",
                "minLength": 0,
                "maxLength": 35
              },
              "preferredChannel": {
                "type": "string",
                "description": "Preferred method of contact to the customer",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "faxIds": {
          "type": "array",
          "description": "The fax (facsimile) number of the customer",
          "items": {
            "type": "object",
            "properties": {
              "faxId": {
                "type": "string",
                "description": "The fax (facsimile) number of the customer",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "officePhoneNumbers": {
          "type": "array",
          "description": "The office phone number of the customer",
          "items": {
            "type": "object",
            "properties": {
              "officePhoneNumber": {
                "type": "string",
                "description": "The office phone number of the customer",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "streets": {
          "type": "array",
          "description": "Contains the first line of customer's base address, example building number, street number etc.",
          "items": {
            "type": "object",
            "properties": {
              "street": {
                "type": "string",
                "description": "Contains the first line of customer's base address, example building number, street number etc.",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "addresses": {
          "type": "array",
          "description": "Communication Address of the Customer",
          "items": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string",
                "description": "Communication Address of the Customer",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "addressCities": {
          "type": "array",
          "description": "The town and/or city component of the base address of a customer",
          "items": {
            "type": "object",
            "properties": {
              "addressCity": {
                "type": "string",
                "description": "The town and/or city component of the base address of a customer",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "countries": {
          "type": "array",
          "description": "Identifies the country of the customer.",
          "items": {
            "type": "object",
            "properties": {
              "country": {
                "type": "string",
                "description": "Identifies the country of the customer.",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "legalDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "legalId": {
                "type": "string",
                "description": "Unique reference number of the legal documents submitted as identification proof",
                "minLength": 0,
                "maxLength": 35
              },
              "legalDocumentName": {
                "type": "string",
                "description": "Name of the legal documents such as passport, driving licence etc., provided as identification proof",
                "minLength": 0,
                "maxLength": 35
              },
              "legalHolderName": {
                "type": "string",
                "description": "Name of the account holder in the Legal Document",
                "minLength": 0,
                "maxLength": 35
              },
              "legalIssueAuthorisedDate": {
                "type": "string",
                "description": "Authority who issued the legal document",
                "minLength": 0,
                "maxLength": 35
              },
              "legalIssueDate": {
                "type": "string",
                "format": "date",
                "description": "Date of Issue of the legal document"
              },
              "legalExpiredDate": {
                "type": "string",
                "format": "date",
                "description": "Expiry date of the legal document submitted as proof"
              }
            }
          }
        },
        "otherNationalityIds": {
          "type": "array",
          "description": "Other Nationality of the Customer",
          "items": {
            "type": "object",
            "properties": {
              "otherNationalityId": {
                "type": "string",
                "description": "Other Nationality of the Customer",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "employDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "employStatus": {
                "type": "string",
                "description": "Employment status of the customer",
                "minLength": 0,
                "maxLength": 35
              },
              "occupation": {
                "type": "string",
                "description": "Occupation of the customer",
                "minLength": 0,
                "maxLength": 35
              },
              "employJobTitle": {
                "type": "string",
                "description": "Employment Job Title of the Customer",
                "minLength": 0,
                "maxLength": 35
              },
              "employerName": {
                "type": "string",
                "description": "Name of the customer's employer",
                "minLength": 0,
                "maxLength": 35
              },
              "employStartDate": {
                "type": "string",
                "format": "date",
                "description": "Starting date of the customer's employment"
              },
              "salaryCurrency": {
                "type": "string",
                "description": "Currency in which the Salary information of the customer is maintained",
                "minLength": 0,
                "maxLength": 35
              },
              "salaryAmount": {
                "type": "number",
                "description": "Gross Salary details of the customer",
                "minimum": 0,
                "maximum": 35
              }
            }
          }
        },
        "residenceDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "residenceStatus": {
                "type": "string",
                "description": "Residence Status of the Customer for CRM purpose like Owner, Tenant, Householder, Nester etc.",
                "minLength": 0,
                "maxLength": 35
              },
              "residenceSince": {
                "type": "string",
                "format": "date",
                "description": "The date since the user has obtained the residence."
              },
              "residenceType": {
                "type": "string",
                "description": "Residence type of the customer like Farmhouse, Independent house, Residential Apartment, Serviced Apartments",
                "minLength": 0,
                "maxLength": 35
              },
              "residenceValue": {
                "type": "number",
                "description": "Market Value of the customer's residence",
                "minimum": 0,
                "maximum": 35
              },
              "residenceMortgageValue": {
                "type": "number",
                "description": "Mortgage value of the residence property of the customer",
                "minimum": 0,
                "maximum": 35
              }
            }
          }
        },
        "relationshipDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "jointRelationCode": {
                "type": "number",
                "description": "The identifier of the relationship between joint holder and owner ",
                "minimum": 0,
                "maximum": 35
              },
              "jointCustomer": {
                "type": "number",
                "minimum": 0,
                "maximum": 35
              },
              "reverseJointRelationCode": {
                "type": "number",
                "description": "Relationship code for the Related Customer",
                "minimum": 0,
                "maximum": 35
              },
              "jointRelationRoleId": {
                "type": "number",
                "description": "Role of joint customer with the main customer",
                "minimum": 0,
                "maximum": 35
              },
              "jointRelationRoleNote": {
                "type": "string",
                "description": "Additional notes about the role",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "postingRestrictIds": {
          "type": "array",
          "description": "Identifies any restrictions for posting entries that are imposed on a Customer",
          "items": {
            "type": "object",
            "properties": {
              "postingRestrictId": {
                "type": "number",
                "description": "Identifies any restrictions for posting entries that are imposed on a Customer",
                "minimum": 0,
                "maximum": 35
              }
            }
          }
        },
        "taxIds": {
          "type": "array",
          "description": "Holds the Customer's TAX/SSN Id.",
          "items": {
            "type": "object",
            "properties": {
              "taxId": {
                "type": "string",
                "description": "Holds the Customer's TAX/SSN Id.",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "contactTypes": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "contactType": {
                "type": "string",
                "description": "Types of contacts available to users to communicate",
                "minLength": 0,
                "maxLength": 35
              },
              "countryCode": {
                "type": "string",
                "minLength": 0,
                "maxLength": 35
              },
              "contactData": {
                "type": "string",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "externalId": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "externalSystemId": {
                "type": "string",
                "minLength": 0,
                "maxLength": 35
              },
              "externalCustomerId": {
                "type": "string",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "language": {
          "type": "number",
          "description": "The language that the contents of the field are displayed in.",
          "minimum": 0,
          "maximum": 35
        },
        "dateOfBirth": {
          "type": "string",
          "format": "date",
          "description": "The date of birth of an individual customer"
        },
        "customerStatus": {
          "type": "number",
          "description": "The internal bank status of a customer",
          "minimum": 0,
          "maximum": 35
        },
        "customerMnemonic": {
          "type": "string",
          "description": "Specifies an alternative easy means of referencing the Customer",
          "minLength": 0,
          "maxLength": 35
        },
        "nationalityId": {
          "type": "string",
          "description": "The identifier of the nationality of a customer",
          "minLength": 0,
          "maxLength": 35
        },
        "residenceId": {
          "type": "string",
          "description": "The identifier of the country of residence of a customer",
          "minLength": 0,
          "maxLength": 35
        },
        "accountOfficerId": {
          "type": "number",
          "description": "The identifier of the department head or specific account officer responsible for the customer",
          "minimum": 0,
          "maximum": 35
        },
        "industryId": {
          "type": "number",
          "description": "An institution-defined identifier of the industry in which the customer is trading, operating or is associated with",
          "minimum": 0,
          "maximum": 35
        },
        "target": {
          "type": "number",
          "description": "Specifies how the Customer is considered by the bank and how he fits in with the Account Officer's overall marketing strategy",
          "minimum": 0,
          "maximum": 35
        },
        "sectorId": {
          "type": "number",
          "description": "An institution-defined identifier of the type of customer",
          "minimum": 0,
          "maximum": 35
        },
        "gender": {
          "type": "string",
          "description": "Gender of the Individual Customer",
          "minLength": 0,
          "maxLength": 35
        },
        "maritalStatus": {
          "type": "string",
          "description": "Marital status of the customer",
          "minLength": 0,
          "maxLength": 35
        },
        "customerCompany": {
          "type": "string",
          "description": "Branch of the customer. Accepts the id of the COMPANY which shares customer with currently signed in company",
          "minLength": 0,
          "maxLength": 35
        },
        "customerLiability": {
          "type": "number",
          "description": "Indicates the customer consolidation number for credit grouping purposes, within the same branch/country.",
          "minimum": 0,
          "maximum": 35
        },
        "postCode": {
          "type": "number",
          "description": "Identifies the address postal code for the customer.",
          "minimum": 0,
          "maximum": 35
        },
        "contactDate": {
          "type": "string",
          "format": "date",
          "description": "Date that first contact was made with the Customer."
        },
        "introducer": {
          "type": "string",
          "description": "Name of the person who introduced the Customer to the bank",
          "minLength": 0,
          "maxLength": 35
        },
        "kycRelationship": {
          "type": "string",
          "description": "Indicates the Customer Relationship details of the customer",
          "minLength": 0,
          "maxLength": 35
        },
        "isKycComplete": {
          "type": "boolean",
          "description": "Whether information related to the customer has been collected and verified"
        },
        "kycLastReviewDate": {
          "type": "string",
          "format": "date",
          "description": "Date customer KYC information was last reviewed"
        },
        "kycNextSystemReviewDate": {
          "type": "string",
          "format": "date",
          "description": "Date system has calculated customer should next be reviewed."
        },
        "kycNextReviewDate": {
          "type": "string",
          "format": "date",
          "description": "Next date of KYC review defined manually by the User"
        },
        "amlCheck": {
          "type": "string",
          "description": "Describe the legal controls that is required by institutions to prevent or report Anti Money Laundering activities. It can have YES, SENT or NULL values.",
          "minLength": 0,
          "maxLength": 35
        },
        "amlResult": {
          "type": "string",
          "description": "Describe the results of Anti Money Laundering.",
          "minLength": 0,
          "maxLength": 35
        },
        "amlLastResultDate": {
          "type": "string",
          "description": "The last date when Anti Money Laundering result is performed and updated",
          "minLength": 0,
          "maxLength": 35
        },
        "title": {
          "type": "string",
          "description": "Main menu title or header which the user wants to display on the screen when requesting the display of this main menu. This field can be expanded to allow the user to enter the description of the main menu in various languages.",
          "minLength": 0,
          "maxLength": 35
        },
        "isSecureMessage": {
          "type": "string",
          "description": "If 'Yes', then the customer will receive a SECURE message.",
          "minLength": 0,
          "maxLength": 35
        },
        "lastName": {
          "type": "string",
          "description": "The last name of an individual customer",
          "minLength": 0,
          "maxLength": 35
        },
        "givenName": {
          "type": "string",
          "description": "Customer's given name",
          "minLength": 0,
          "maxLength": 35
        },
        "birthIncorpDate": {
          "type": "string",
          "format": "date",
          "description": "Date on which the entity is incorporated"
        },
        "domicile": {
          "type": "string",
          "minLength": 0,
          "maxLength": 35
        },
        "manualRiskClass": {
          "type": "string",
          "description": "Customer's risk class updated manually by the User overriding the risk class calculated by the KYC process",
          "minLength": 0,
          "maxLength": 35
        },
        "overrideReason": {
          "type": "string",
          "description": "Reason for changing the customer's risk class from the calculated risk class.",
          "minLength": 0,
          "maxLength": 35
        },
        "numberOfDependents": {
          "type": "number",
          "minimum": 0,
          "maximum": 35
        },
        "customerType": {
          "type": "string",
          "description": "Illustrates the capacity in which a client is acting.Possible Values : Customer, Broker, Depository, Client, Counterparty, External Account Manager",
          "minLength": 0,
          "maxLength": 35
        },
        "state": {
          "type": "string",
          "minLength": 0,
          "maxLength": 35
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "uniqueIdentifier": {
          "type": "string",
          "description": "The unique identifier/Message Reference of the record created."
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "number",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "number",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody": {
      "properties": {
        "overrideDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier of the override."
              },
              "description": {
                "type": "string",
                "description": "The actual override message."
              },
              "code": {
                "type": "string",
                "description": "The code related to override message."
              },
              "options": {
                "type": "array",
                "description": "The usable options for the override.",
                "items": {
                  "type": "string"
                }
              },
              "type": {
                "type": "string",
                "description": "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/ScreenErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message "
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemScreenErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    },
    "PayloadHeader": {
      "properties": {
        "override": {
          "type": "object",
          "properties": {
            "overrideDetails": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier of the override."
                  },
                  "description": {
                    "type": "string",
                    "description": "The actual override message."
                  },
                  "code": {
                    "type": "string",
                    "description": "The code related to override message."
                  },
                  "responseCode": {
                    "type": "string",
                    "description": "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit": {
          "type": "object",
          "properties": {
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "OnboardingCustomer": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/OnboardingCustomerBody"
        }
      },
      "description": "OnboardingCustomer"
    },
    "OnboardingCustomerBody": {
      "type": "object",
      "properties": {
        "displayNames": {
          "type": "array",
          "description": "Contains the name used for display or enrichment purposes",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "Contains the name used for display or enrichment purposes",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "customerNames": {
          "type": "array",
          "description": "Name of the customer",
          "items": {
            "type": "object",
            "properties": {
              "customerName": {
                "type": "string",
                "description": "Name of the customer",
                "minLength": 0,
                "maxLength": 35
              },
              "customerNameAdditional": {
                "type": "string",
                "description": "Continuation/Extension to the Customer Name.",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "communicationDevices": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "phoneNumber": {
                "type": "string",
                "description": "The phone number of the customer or prospect",
                "minLength": 0,
                "maxLength": 35
              },
              "smsNumber": {
                "type": "string",
                "description": "The mobile SMS number of the customer",
                "minLength": 0,
                "maxLength": 35
              },
              "email": {
                "type": "string",
                "description": "Email Identifier of the Customer",
                "minLength": 0,
                "maxLength": 35
              },
              "communicationType": {
                "type": "string",
                "description": "Communication type to the customer, as defined by the institution. E.g. Proposal, Alert, Campaign, New Product Update, Robinson List, Statement.",
                "minLength": 0,
                "maxLength": 35
              },
              "preferredChannel": {
                "type": "string",
                "description": "Preferred method of contact to the customer",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "faxIds": {
          "type": "array",
          "description": "The fax (facsimile) number of the customer",
          "items": {
            "type": "object",
            "properties": {
              "faxId": {
                "type": "string",
                "description": "The fax (facsimile) number of the customer",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "officePhoneNumbers": {
          "type": "array",
          "description": "The office phone number of the customer",
          "items": {
            "type": "object",
            "properties": {
              "officePhoneNumber": {
                "type": "string",
                "description": "The office phone number of the customer",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "streets": {
          "type": "array",
          "description": "Contains the first line of customer's base address, example building number, street number etc.",
          "items": {
            "type": "object",
            "properties": {
              "street": {
                "type": "string",
                "description": "Contains the first line of customer's base address, example building number, street number etc.",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "addresses": {
          "type": "array",
          "description": "Communication Address of the Customer",
          "items": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string",
                "description": "Communication Address of the Customer",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "addressCities": {
          "type": "array",
          "description": "The town and/or city component of the base address of a customer",
          "items": {
            "type": "object",
            "properties": {
              "addressCity": {
                "type": "string",
                "description": "The town and/or city component of the base address of a customer",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "countries": {
          "type": "array",
          "description": "Identifies the country of the customer.",
          "items": {
            "type": "object",
            "properties": {
              "country": {
                "type": "string",
                "description": "Identifies the country of the customer.",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "legalDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "legalId": {
                "type": "string",
                "description": "Unique reference number of the legal documents submitted as identification proof",
                "minLength": 0,
                "maxLength": 35
              },
              "legalDocumentName": {
                "type": "string",
                "description": "Name of the legal documents such as passport, driving licence etc., provided as identification proof",
                "minLength": 0,
                "maxLength": 35
              },
              "legalHolderName": {
                "type": "string",
                "description": "Name of the account holder in the Legal Document",
                "minLength": 0,
                "maxLength": 35
              },
              "legalIssueAuthorisedDate": {
                "type": "string",
                "description": "Authority who issued the legal document",
                "minLength": 0,
                "maxLength": 35
              },
              "legalIssueDate": {
                "type": "string",
                "format": "date",
                "description": "Date of Issue of the legal document"
              },
              "legalExpiredDate": {
                "type": "string",
                "format": "date",
                "description": "Expiry date of the legal document submitted as proof"
              }
            }
          }
        },
        "otherNationalityIds": {
          "type": "array",
          "description": "Other Nationality of the Customer",
          "items": {
            "type": "object",
            "properties": {
              "otherNationalityId": {
                "type": "string",
                "description": "Other Nationality of the Customer",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "employDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "employStatus": {
                "type": "string",
                "description": "Employment status of the customer",
                "minLength": 0,
                "maxLength": 35
              },
              "occupation": {
                "type": "string",
                "description": "Occupation of the customer",
                "minLength": 0,
                "maxLength": 35
              },
              "employJobTitle": {
                "type": "string",
                "description": "Employment Job Title of the Customer",
                "minLength": 0,
                "maxLength": 35
              },
              "employerName": {
                "type": "string",
                "description": "Name of the customer's employer",
                "minLength": 0,
                "maxLength": 35
              },
              "employStartDate": {
                "type": "string",
                "format": "date",
                "description": "Starting date of the customer's employment"
              },
              "salaryCurrency": {
                "type": "string",
                "description": "Currency in which the Salary information of the customer is maintained",
                "minLength": 0,
                "maxLength": 35
              },
              "salaryAmount": {
                "type": "number",
                "description": "Gross Salary details of the customer",
                "minimum": 0,
                "maximum": 35
              }
            }
          }
        },
        "residenceDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "residenceStatus": {
                "type": "string",
                "description": "Residence Status of the Customer for CRM purpose like Owner, Tenant, Householder, Nester etc.",
                "minLength": 0,
                "maxLength": 35
              },
              "residenceSince": {
                "type": "string",
                "format": "date",
                "description": "The date since the user has obtained the residence."
              },
              "residenceType": {
                "type": "string",
                "description": "Residence type of the customer like Farmhouse, Independent house, Residential Apartment, Serviced Apartments",
                "minLength": 0,
                "maxLength": 35
              },
              "residenceValue": {
                "type": "number",
                "description": "Market Value of the customer's residence",
                "minimum": 0,
                "maximum": 35
              },
              "residenceMortgageValue": {
                "type": "number",
                "description": "Mortgage value of the residence property of the customer",
                "minimum": 0,
                "maximum": 35
              }
            }
          }
        },
        "relationshipDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "jointRelationCode": {
                "type": "number",
                "description": "The identifier of the relationship between joint holder and owner ",
                "minimum": 0,
                "maximum": 35
              },
              "jointCustomer": {
                "type": "number",
                "minimum": 0,
                "maximum": 35
              },
              "reverseJointRelationCode": {
                "type": "number",
                "description": "Relationship code for the Related Customer",
                "minimum": 0,
                "maximum": 35
              },
              "jointRelationRoleId": {
                "type": "number",
                "description": "Role of joint customer with the main customer",
                "minimum": 0,
                "maximum": 35
              },
              "jointRelationRoleNote": {
                "type": "string",
                "description": "Additional notes about the role",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "postingRestrictIds": {
          "type": "array",
          "description": "Identifies any restrictions for posting entries that are imposed on a Customer",
          "items": {
            "type": "object",
            "properties": {
              "postingRestrictId": {
                "type": "number",
                "description": "Identifies any restrictions for posting entries that are imposed on a Customer",
                "minimum": 0,
                "maximum": 35
              }
            }
          }
        },
        "taxIds": {
          "type": "array",
          "description": "Holds the Customer's TAX/SSN Id.",
          "items": {
            "type": "object",
            "properties": {
              "taxId": {
                "type": "string",
                "description": "Holds the Customer's TAX/SSN Id.",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "contactTypes": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "contactType": {
                "type": "string",
                "description": "Types of contacts available to users to communicate",
                "minLength": 0,
                "maxLength": 35
              },
              "countryCode": {
                "type": "string",
                "description": "Country code for the mobile of the user",
                "minLength": 0,
                "maxLength": 35
              },
              "contactData": {
                "type": "string",
                "description": "Mobile number of the user",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "externalId": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "externalSystemId": {
                "type": "string",
                "minLength": 0,
                "maxLength": 35
              },
              "externalCustomerId": {
                "type": "string",
                "minLength": 0,
                "maxLength": 35
              }
            }
          }
        },
        "language": {
          "type": "number",
          "description": "The language that the contents of the field are displayed in.",
          "minimum": 0,
          "maximum": 35
        },
        "dateOfBirth": {
          "type": "string",
          "format": "date",
          "description": "The date of birth of an individual customer"
        },
        "customerStatus": {
          "type": "number",
          "description": "The internal bank status of a customer",
          "minimum": 0,
          "maximum": 35
        },
        "customerMnemonic": {
          "type": "string",
          "description": "Specifies an alternative easy means of referencing the Customer",
          "minLength": 0,
          "maxLength": 35
        },
        "nationalityId": {
          "type": "string",
          "description": "The identifier of the nationality of a customer",
          "minLength": 0,
          "maxLength": 35
        },
        "residenceId": {
          "type": "string",
          "description": "The identifier of the country of residence of a customer",
          "minLength": 0,
          "maxLength": 35
        },
        "accountOfficerId": {
          "type": "number",
          "description": "The identifier of the department head or specific account officer responsible for the customer",
          "minimum": 0,
          "maximum": 35
        },
        "industryId": {
          "type": "number",
          "description": "An institution-defined identifier of the industry in which the customer is trading, operating or is associated with",
          "minimum": 0,
          "maximum": 35
        },
        "target": {
          "type": "number",
          "description": "Specifies how the Customer is considered by the bank and how he fits in with the Account Officer's overall marketing strategy",
          "minimum": 0,
          "maximum": 35
        },
        "sectorId": {
          "type": "number",
          "description": "An institution-defined identifier of the type of customer",
          "minimum": 0,
          "maximum": 35
        },
        "gender": {
          "type": "string",
          "description": "Gender of the Individual Customer",
          "minLength": 0,
          "maxLength": 35
        },
        "maritalStatus": {
          "type": "string",
          "description": "Marital status of the customer",
          "minLength": 0,
          "maxLength": 35
        },
        "customerCompany": {
          "type": "string",
          "description": "Branch of the customer. Accepts the id of the COMPANY which shares customer with currently signed in company",
          "minLength": 0,
          "maxLength": 35
        },
        "customerLiability": {
          "type": "number",
          "description": "Indicates the customer consolidation number for credit grouping purposes, within the same branch/country.",
          "minimum": 0,
          "maximum": 35
        },
        "postCode": {
          "type": "number",
          "description": "Identifies the address postal code for the customer.",
          "minimum": 0,
          "maximum": 35
        },
        "contactDate": {
          "type": "string",
          "format": "date",
          "description": "Date that first contact was made with the Customer."
        },
        "introducer": {
          "type": "string",
          "description": "Name of the person who introduced the Customer to the bank",
          "minLength": 0,
          "maxLength": 35
        },
        "kycRelationship": {
          "type": "string",
          "description": "Indicates the Customer Relationship details of the customer",
          "minLength": 0,
          "maxLength": 35
        },
        "isKycComplete": {
          "type": "boolean",
          "description": "Whether information related to the customer has been collected and verified"
        },
        "kycLastReviewDate": {
          "type": "string",
          "format": "date",
          "description": "Date customer KYC information was last reviewed"
        },
        "kycNextSystemReviewDate": {
          "type": "string",
          "format": "date",
          "description": "Date system has calculated customer should next be reviewed."
        },
        "kycNextReviewDate": {
          "type": "string",
          "format": "date",
          "description": "Next date of KYC review defined manually by the User"
        },
        "amlCheck": {
          "type": "string",
          "description": "Describe the legal controls that is required by institutions to prevent or report Anti Money Laundering activities. It can have YES, SENT or NULL values.",
          "minLength": 0,
          "maxLength": 35
        },
        "amlResult": {
          "type": "string",
          "description": "Describe the results of Anti Money Laundering.",
          "minLength": 0,
          "maxLength": 35
        },
        "amlLastResultDate": {
          "type": "string",
          "description": "The last date when Anti Money Laundering result is performed and updated",
          "minLength": 0,
          "maxLength": 35
        },
        "title": {
          "type": "string",
          "description": "Main menu title or header which the user wants to display on the screen when requesting the display of this main menu. This field can be expanded to allow the user to enter the description of the main menu in various languages.",
          "minLength": 0,
          "maxLength": 35
        },
        "isSecureMessage": {
          "type": "string",
          "description": "If 'Yes', then the customer will receive a SECURE message.",
          "minLength": 0,
          "maxLength": 35
        },
        "lastName": {
          "type": "string",
          "description": "The last name of an individual customer",
          "minLength": 0,
          "maxLength": 35
        },
        "givenName": {
          "type": "string",
          "description": "Customer's given name",
          "minLength": 0,
          "maxLength": 35
        },
        "birthIncorpDate": {
          "type": "string",
          "format": "date",
          "description": "Date on which the entity is incorporated"
        },
        "domicile": {
          "type": "string",
          "minLength": 0,
          "maxLength": 35
        },
        "manualRiskClass": {
          "type": "string",
          "description": "Customer's risk class updated manually by the User overriding the risk class calculated by the KYC process",
          "minLength": 0,
          "maxLength": 35
        },
        "overrideReason": {
          "type": "string",
          "description": "Reason for changing the customer's risk class from the calculated risk class.",
          "minLength": 0,
          "maxLength": 35
        },
        "numberOfDependents": {
          "type": "number",
          "minimum": 0,
          "maximum": 35
        },
        "customerType": {
          "type": "string",
          "description": "Illustrates the capacity in which a client is acting.Possible Values : Customer, Broker, Depository, Client, Counterparty, External Account Manager",
          "minLength": 0,
          "maxLength": 35
        },
        "state": {
          "type": "string",
          "description": "The state/province for the address of the customer",
          "minLength": 0,
          "maxLength": 35
        }
      }
    }
  }
}