{
  "swagger" : "2.0",
  "info" : {
    "description" : "Get and Management of Party External users",
    "version" : "v1.0.0",
    "title" : "Party External Users APIs "
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/externalUsers/userProfiles" : {
      "get" : {
        "summary" : "Retrieves the external user details",
        "description" : "Retrieves the details of logged in external user.",
        "operationId" : "getExternalUserProfile",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "channelId",
          "in" : "query",
          "description" : "Reference id for a channels details",
          "required" : false,
          "type" : "string",
          "x-example" : "INTERNET"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "Reference id for an arranegement details",
          "required" : false,
          "type" : "string",
          "x-example" : "AA18107YDHN4"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserProfileResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserProfileResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/externalUsers/externalUserPreferences" : {
      "get" : {
        "summary" : "Retrieves the external user preferences",
        "description" : "Retrieves the list of external user preferences for logged in user",
        "operationId" : "getExternalUserPreferences",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserPreferencessId",
          "in" : "query",
          "description" : "Reference id for an external user details",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "externalUserPreferencesIdBW",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserPreferencesResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserPreferencesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/externalUsers/{externalUserId}/status" : {
      "put" : {
        "summary" : "Update external user status",
        "description" : "Update an existing external user status",
        "operationId" : "updateExternalUserStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserId",
          "in" : "path",
          "description" : "Contains the external user identifier for which the consent is created.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ExternalUserStatus"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserStatusResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserStatusResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/externalUsers/externalUserPreferences/{externalUserPreferencesId}" : {
      "post" : {
        "summary" : "Create new external user preferences",
        "description" : "Create a new external user preferences for logged in user",
        "operationId" : "createExternalUserPreference",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserPreferencesId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "x-example" : "ROLFAPI*AA18107K26NN*FAVOURITES"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ExternalUserPreference"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserPreferenceResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserPreferenceResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "summary" : "Update the external user preferences",
        "description" : "Update an existing external user preferences",
        "operationId" : "updateExternalUserPreference",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserPreferencesId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "x-example" : "ROLFAPI*AA18107K26NN*FAVOURITES"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ExternalUserPreference"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserPreferenceResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserPreferenceResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "summary" : "Remove external user preferences",
        "description" : "Remove an existing external user preference for logged in user",
        "operationId" : "deleteExternalUserPreference",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserPreferencesId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "x-example" : "ROLFAPI*AA18107K26NN*FAVOURITES"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ExternalUserPreferenceDelete"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserPreferenceResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserPreferenceResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/externalUsers/externalUserPreference/{externalUserPreferencesId}" : {
      "get" : {
        "summary" : "Overview of external user preferences",
        "description" : "Retrieves the overview of external user preference for logged in user",
        "operationId" : "getExternalUserPreference",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "externalUserPreferencesId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserPreferenceResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserPreferenceResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "ExternalUserProfileResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserProfileResponseBody"
        }
      },
      "description" : "ExternalUserProfileResponse"
    },
    "ExternalUserProfileResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "supportedModules" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "supportedModule" : {
                  "type" : "string",
                  "description" : "Updated external user profile details"
                }
              }
            }
          },
          "extSmsServices" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "extSmsService" : {
                  "type" : "string",
                  "description" : "External message service details"
                },
                "extSmsOperations" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "extSmsOperation" : {
                        "type" : "string",
                        "description" : "External message operation details"
                      }
                    }
                  }
                }
              }
            }
          },
          "channels" : {
            "type" : "array",
            "description" : "The ID of the Channel",
            "items" : {
              "type" : "object",
              "properties" : {
                "channelId" : {
                  "type" : "string",
                  "description" : "Id of the (digital) channel"
                },
                "channelPosition" : {
                  "type" : "string",
                  "description" : "Position details of the channel"
                },
                "channelStartDate" : {
                  "type" : "string",
                  "format" : "date",
                  "description" : "Start date of the channel"
                },
                "channelArrangementType" : {
                  "type" : "string",
                  "description" : "Arrangement type details for a channel"
                },
                "arrangementId" : {
                  "type" : "string",
                  "description" : "Identifier of the arrangement"
                },
                "productId" : {
                  "type" : "string",
                  "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
                },
                "productName" : {
                  "type" : "string",
                  "description" : "Product name of the bank for this account, proprietary definition."
                },
                "arrangementCustomerId" : {
                  "type" : "string",
                  "description" : "Customer id details of the specific arrangement"
                },
                "arrangementCustomerName" : {
                  "type" : "string",
                  "description" : "Customer name details of the specific arrangement"
                },
                "subArrangementId" : {
                  "type" : "string",
                  "description" : "The subset of Master arrangement."
                },
                "subArrangementName" : {
                  "type" : "string",
                  "description" : "The name of the sub arrangement that is displayed."
                },
                "channelStatus" : {
                  "type" : "string",
                  "description" : "Status update of the channel"
                },
                "termsAccepted" : {
                  "type" : "string",
                  "description" : "Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time."
                },
                "loginMethod" : {
                  "type" : "string",
                  "description" : "The type of login method e.g. password, PIN, OTP"
                },
                "dateUsed" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "dateLastUsed" : {
                        "type" : "string",
                        "format" : "date",
                        "description" : "The last Date and time when the Customer logged in to the Digital Channel"
                      }
                    }
                  }
                },
                "timeUsed" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "timeLastUsed" : {
                        "type" : "string",
                        "description" : "Indicates the time stamp at which the transaction history for the account is retreived."
                      }
                    }
                  }
                }
              }
            }
          },
          "contactDetails" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "email" : {
                  "type" : "string",
                  "description" : "Email Identifier of the Customer"
                },
                "smsNumber" : {
                  "type" : "string",
                  "description" : "The mobile SMS number of the customer"
                },
                "phoneNumber" : {
                  "type" : "string",
                  "description" : "The phone number of the customer or prospect"
                }
              }
            }
          },
          "homeScreen" : {
            "type" : "string",
            "description" : "Home screen details"
          },
          "extSmsCustomers" : {
            "type" : "string",
            "description" : "Customer external message details"
          },
          "privilegesCheckEnabled" : {
            "type" : "string",
            "description" : "Enable the privilege check options"
          },
          "localCurrencyId" : {
            "type" : "string",
            "description" : "The ISO code (3 letters) for the institution's local currency."
          },
          "countryId" : {
            "type" : "string",
            "description" : "ISO country code of the financial institution. "
          },
          "currentWorkingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date of the current business day for all online activities in the selected Company. This field is updated automatically with the date from 'nextWorkingDay' during the Close of Business processing."
          },
          "companyId" : {
            "type" : "string",
            "description" : "The identifier of the underlying Entity/Company/Branch."
          },
          "noOfArrangements" : {
            "type" : "string",
            "description" : "View the no of arrangement details"
          },
          "externalUserName" : {
            "type" : "string",
            "description" : "External or Digital Channel User Name"
          },
          "externalUserSignMethod" : {
            "type" : "string",
            "description" : "External users sign method details"
          },
          "languageId" : {
            "type" : "string",
            "description" : "Represents the language code of the underlying Entity/Company/Branch."
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identifier of the customer"
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer"
          },
          "gender" : {
            "type" : "string",
            "description" : "Gender of the Individual Customer"
          },
          "holdingsAvailable" : {
            "type" : "string",
            "description" : "Available account details for a customer"
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Current number of the record"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "ExternalUserPreferencesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserPreferencesResponseBody"
        }
      },
      "description" : "ExternalUserPreferencesResponse"
    },
    "ExternalUserPreferencesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "balanceProductLines" : {
            "type" : "array",
            "description" : "Id of the product line (e.g. DEPOSITS), which is used in the calculation of the total balance.",
            "items" : {
              "type" : "object",
              "properties" : {
                "balanceProductLine" : {
                  "type" : "string",
                  "description" : "Id of the product line (e.g. DEPOSITS), which is used in the calculation of the total balance.",
                  "maxLength" : 20
                }
              }
            }
          },
          "serviceNames" : {
            "type" : "array",
            "description" : "The service related to an arrangement",
            "items" : {
              "type" : "object",
              "properties" : {
                "serviceName" : {
                  "type" : "string",
                  "description" : "The service related to an arrangement",
                  "maxLength" : 35
                }
              }
            }
          },
          "externalUserPreferenceId" : {
            "type" : "string",
            "description" : "The identifier of the external user's preferences",
            "maxLength" : 110
          },
          "groupName" : {
            "type" : "string",
            "description" : "The name that is displayed for the group",
            "maxLength" : 25
          },
          "groupDisplayName" : {
            "type" : "string",
            "description" : "Display the details of group name",
            "maxLength" : 40
          },
          "groupPosition" : {
            "type" : "string",
            "description" : "Group position",
            "maxLength" : 35
          },
          "favouriteGroup" : {
            "type" : "string",
            "description" : "Favourite group",
            "maxLength" : 35
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Current number of the record",
            "maxLength" : 4
          }
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "ExternalUserStatus" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserStatusBody"
        }
      },
      "description" : "ExternalUserStatus",
      "example" : {
        "header" : { },
        "body" : {
          "Infinity" : [ {
            "termsAccepted" : "YES",
            "externalUserStatus" : "ACTIVE"
          } ],
          "languageId" : "2"
        }
      }
    },
    "ExternalUserStatusBody" : {
      "type" : "object",
      "properties" : {
        "channels" : {
          "type" : "array",
          "description" : "The ID of the Channel",
          "items" : {
            "type" : "object",
            "properties" : {
              "externalUserStatus" : {
                "type" : "string",
                "description" : "External User Access status. Can be Active,  Inactive, Barred, Initiated",
                "maxLength" : 35
              },
              "termsAccepted" : {
                "type" : "string",
                "description" : "Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time.",
                "maxLength" : 25
              }
            }
          }
        },
        "languageId" : {
          "type" : "string",
          "description" : "Represents the language code of the underlying Entity/Company/Branch.",
          "maxLength" : 10
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "ExternalUserStatusResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserStatusResponseBody"
        }
      },
      "description" : "ExternalUserStatusResponse"
    },
    "ExternalUserStatusResponseBody" : {
      "type" : "object",
      "properties" : {
        "channels" : {
          "type" : "array",
          "description" : "The ID of the Channel",
          "items" : {
            "type" : "object",
            "properties" : {
              "externalUserStatus" : {
                "type" : "string",
                "description" : "External User Access status. Can be Active,  Inactive, Barred, Initiated",
                "maxLength" : 35
              },
              "termsAccepted" : {
                "type" : "string",
                "description" : "Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time.",
                "maxLength" : 25
              }
            }
          }
        },
        "languageId" : {
          "type" : "string",
          "description" : "Represents the language code of the underlying Entity/Company/Branch.",
          "maxLength" : 10
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "ExternalUserPreference" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserPreferenceBody"
        }
      },
      "description" : "ExternalUserPreference"
    },
    "ExternalUserPreferenceBody" : {
      "type" : "object",
      "properties" : {
        "customers" : {
          "type" : "array",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer",
                "maxLength" : 45
              },
              "products" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "productLineId" : {
                      "type" : "string",
                      "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products.",
                      "maxLength" : 45
                    },
                    "productGroupId" : {
                      "type" : "string",
                      "description" : "The group, as defined by the institution, that the product belongs to.",
                      "maxLength" : 45
                    },
                    "product" : {
                      "type" : "string",
                      "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
                      "maxLength" : 45
                    },
                    "productName" : {
                      "type" : "string",
                      "description" : "Product name of the bank for this account, proprietary definition.",
                      "maxLength" : 45
                    },
                    "productPosition" : {
                      "type" : "string",
                      "description" : "Update the position of product",
                      "maxLength" : 45
                    }
                  }
                }
              }
            }
          }
        },
        "balanceCustomers" : {
          "type" : "array",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "items" : {
            "type" : "object",
            "properties" : {
              "balanceCustomer" : {
                "type" : "string",
                "description" : "View the balance of customer",
                "maxLength" : 45
              },
              "products" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "balanceProductLine" : {
                      "type" : "string",
                      "description" : "Id of the product line (e.g. DEPOSITS), which is used in the calculation of the total balance.",
                      "maxLength" : 45
                    },
                    "balanceProductGroup" : {
                      "type" : "string",
                      "description" : "View the product group details of customer",
                      "maxLength" : 45
                    },
                    "balanceProduct" : {
                      "type" : "string",
                      "description" : "View the balance of product",
                      "maxLength" : 45
                    }
                  }
                }
              }
            }
          }
        },
        "serviceNames" : {
          "type" : "array",
          "description" : "The service related to an arrangement",
          "items" : {
            "type" : "object",
            "properties" : {
              "serviceName" : {
                "type" : "string",
                "description" : "The service related to an arrangement",
                "maxLength" : 45
              }
            }
          }
        },
        "groupName" : {
          "type" : "string",
          "description" : "The name that is displayed for the group",
          "maxLength" : 45
        },
        "groupDisplayName" : {
          "type" : "string",
          "description" : "Display the details of group name",
          "maxLength" : 45
        },
        "groupPosition" : {
          "type" : "string",
          "description" : "Group position",
          "maxLength" : 45
        },
        "favouriteGroup" : {
          "type" : "string",
          "description" : "Favourite group",
          "maxLength" : 45
        }
      }
    },
    "ExternalUserPreferenceResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserPreferenceResponseBody"
        }
      },
      "description" : "ExternalUserPreferenceResponse"
    },
    "ExternalUserPreferenceResponseBody" : {
      "type" : "object",
      "properties" : {
        "customers" : {
          "type" : "array",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer",
                "maxLength" : 45
              },
              "products" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "productLineId" : {
                      "type" : "string",
                      "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products.",
                      "maxLength" : 45
                    },
                    "productGroupId" : {
                      "type" : "string",
                      "description" : "The group, as defined by the institution, that the product belongs to.",
                      "maxLength" : 45
                    },
                    "product" : {
                      "type" : "string",
                      "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
                      "maxLength" : 45
                    },
                    "productName" : {
                      "type" : "string",
                      "description" : "Product name of the bank for this account, proprietary definition.",
                      "maxLength" : 45
                    },
                    "productPosition" : {
                      "type" : "string",
                      "description" : "Update the position of product",
                      "maxLength" : 45
                    }
                  }
                }
              }
            }
          }
        },
        "balanceCustomers" : {
          "type" : "array",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "items" : {
            "type" : "object",
            "properties" : {
              "balanceCustomer" : {
                "type" : "string",
                "description" : "View the balance of customer",
                "maxLength" : 45
              },
              "products" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "balanceProductLine" : {
                      "type" : "string",
                      "description" : "Id of the product line (e.g. DEPOSITS), which is used in the calculation of the total balance.",
                      "maxLength" : 45
                    },
                    "balanceProductGroup" : {
                      "type" : "string",
                      "description" : "View the product group details of customer",
                      "maxLength" : 45
                    },
                    "balanceProduct" : {
                      "type" : "string",
                      "description" : "View the balance of product",
                      "maxLength" : 45
                    }
                  }
                }
              }
            }
          }
        },
        "serviceNames" : {
          "type" : "array",
          "description" : "The service related to an arrangement",
          "items" : {
            "type" : "object",
            "properties" : {
              "serviceName" : {
                "type" : "string",
                "description" : "The service related to an arrangement",
                "maxLength" : 45
              }
            }
          }
        },
        "groupName" : {
          "type" : "string",
          "description" : "The name that is displayed for the group",
          "maxLength" : 45
        },
        "groupDisplayName" : {
          "type" : "string",
          "description" : "Display the details of group name",
          "maxLength" : 45
        },
        "groupPosition" : {
          "type" : "string",
          "description" : "Group position",
          "maxLength" : 45
        },
        "favouriteGroup" : {
          "type" : "string",
          "description" : "Favourite group",
          "maxLength" : 45
        }
      }
    },
    "ExternalUserPreferenceDelete" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        }
      },
      "description" : "ExternalUserPreferenceDelete"
    },
    "updateExternalUserStatus" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ExternalUserStatusBody"
        }
      },
      "description" : "ExternalUserStatus",
      "example" : {
        "header" : { },
        "body" : {
          "Infinity" : [ {
            "termsAccepted" : "YES",
            "externalUserStatus" : "ACTIVE"
          } ],
          "languageId" : "2"
        }
      }
    }
  }
}