{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows the creation, viewing and management of customer external account aggregation.",
    "version" : "v1.0.0",
    "title" : "Party Customer Open Banking Connections APIs"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/customers/openBankingConnections/{connectionId}" : {
      "post" : {
        "summary" : "Initiate a request to map a new external account into customer profile",
        "description" : "Create open banking connection",
        "operationId" : "createOpenBankingConnection",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "connectionId",
          "in" : "path",
          "description" : "Contains the id associated to the connect reference respective to a transaction of the account",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OpenBankingConnection"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OpenBankingConnectionResponse",
            "schema" : {
              "$ref" : "#/definitions/OpenBankingConnectionResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "summary" : "Revoke the access of existing external accounts for a customer",
        "description" : "Remove open banking connection",
        "operationId" : "removeOpenBankingConnection",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "connectionId",
          "in" : "path",
          "description" : "Contains the id associated to the connect reference respective to a transaction of the account",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OpenBankingConnection1"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OpenBankingConnectionResponse",
            "schema" : {
              "$ref" : "#/definitions/OpenBankingConnectionResponse1"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/connectionReconnections/{connectionId}" : {
      "put" : {
        "summary" : "Renew the access of existing external accounts for a customer",
        "description" : "Reconnect open banking connection",
        "operationId" : "reconnectOpenBankingConnection",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "connectionId",
          "in" : "path",
          "description" : "Contains the id associated to the connect reference respective to a transaction of the account",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OpenBankingConnection"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OpenBankingConnectionResponse",
            "schema" : {
              "$ref" : "#/definitions/OpenBankingConnectionResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/connectionRefreshes/{connectionId}" : {
      "put" : {
        "summary" : "Refresh the existing external accounts to get the up to date details",
        "description" : "Refresh open banking connection",
        "operationId" : "refreshOpenBankingConnection",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "connectionId",
          "in" : "path",
          "description" : "Contains the id associated to the connect reference respective to a transaction of the account",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OpenBankingConnection2"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OpenBankingConnectionResponse",
            "schema" : {
              "$ref" : "#/definitions/OpenBankingConnectionResponse2"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/consents/thirdPartyProviderConsents" : {
      "get" : {
        "summary" : "Retrieves the list of details on third parties, banks and customers",
        "description" : "Retrieves third party provider consents details",
        "operationId" : "getThirdPartyProviderConsents",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "connectionId",
          "in" : "query",
          "description" : "Contains the id associated to the connect reference respective to a transaction of the account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currentState",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "connectionStatus",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ThirdPartyProviderConsentsResponse",
            "schema" : {
              "$ref" : "#/definitions/ThirdPartyProviderConsentsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "OpenBankingConnection" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OpenBankingConnectionBody"
        }
      },
      "description" : "OpenBankingConnection"
    },
    "OpenBankingConnectionBody" : {
      "type" : "object",
      "properties" : {
        "otherBankConsentTypes" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "otherBankConsentType" : {
                "type" : "string",
                "description" : "Refers to the Other Banks Consent Types.",
                "minLength" : 0,
                "maxLength" : 20
              }
            }
          }
        },
        "consents" : {
          "type" : "array",
          "description" : "Refers the consents given by the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "consentType" : {
                "type" : "string",
                "description" : "Consent Type for which the consent is given",
                "minLength" : 0,
                "maxLength" : 12
              },
              "consentStartAt" : {
                "type" : "string",
                "description" : "Refers to the time at which the consent starts",
                "minLength" : 0,
                "maxLength" : 14
              },
              "consentExpiryAt" : {
                "type" : "string",
                "description" : "Refers to the time at which the consent expires",
                "minLength" : 0,
                "maxLength" : 15
              }
            }
          }
        },
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "minLength" : 0,
          "maxLength" : 10
        },
        "bankId" : {
          "type" : "string",
          "description" : "Refers to the ID of the bank with which the transaction is performed.",
          "minLength" : 0,
          "maxLength" : 6
        },
        "bankName" : {
          "type" : "string",
          "description" : "The name of the bank being referred to.",
          "minLength" : 0,
          "maxLength" : 8
        },
        "bankCode" : {
          "type" : "string",
          "description" : "Refers to the Code of the bank with which the transaction is performed.",
          "minLength" : 0,
          "maxLength" : 8
        },
        "countryId" : {
          "type" : "string",
          "description" : "ISO country code of the financial institution. ",
          "minLength" : 0,
          "maxLength" : 15
        },
        "obcpId" : {
          "type" : "string",
          "description" : "Refers to the ID of the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 6
        },
        "obcpConnectionId" : {
          "type" : "string",
          "description" : "Refers to the  ConnectionID of the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "connectionStatus" : {
          "type" : "string",
          "description" : "Updates the Connection Status of the Transaction.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "subStatus" : {
          "type" : "string",
          "description" : "Updates the Sub Status of the Transaction.",
          "minLength" : 0,
          "maxLength" : 9
        },
        "currentState" : {
          "type" : "string",
          "description" : "Refers to the Current State of the Transaction.",
          "minLength" : 0,
          "maxLength" : 12
        },
        "latestToken" : {
          "type" : "string",
          "description" : "Refers to the Latest Token of the ongoing Transaction.",
          "minLength" : 0,
          "maxLength" : 11
        },
        "latestRedirectUrl" : {
          "type" : "string",
          "description" : "Refers to the Latest Redirected URL of the ongoing Transaction.",
          "minLength" : 0,
          "maxLength" : 17
        },
        "defaultConsentArrangementId" : {
          "type" : "string",
          "description" : "Refers to the ID of the Default Consent Arrangement.",
          "minLength" : 0,
          "maxLength" : 27
        },
        "obcpToken" : {
          "type" : "string",
          "description" : "Refers to the Token of the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 9
        },
        "obcpRedirectUrl" : {
          "type" : "string",
          "description" : "Refers to the  Redirected URL of the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 15
        },
        "otherBankConsentPeriodDays" : {
          "type" : "string",
          "description" : "Refers to the number of days in the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 26
        },
        "otherBankConsentGivenAt" : {
          "type" : "string",
          "description" : "Refers to when the Other Banks Consent Period Starts.",
          "minLength" : 0,
          "maxLength" : 23
        },
        "otherBankConsentExpiresAt" : {
          "type" : "string",
          "description" : "Refers to when the Other Banks Consent Period Expires.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "consentGivenAt" : {
          "type" : "string",
          "description" : "Refers to when the Consent was given at.",
          "minLength" : 0,
          "maxLength" : 14
        },
        "termsAccepted" : {
          "type" : "string",
          "description" : "Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time.",
          "minLength" : 0,
          "maxLength" : 13
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "OpenBankingConnectionResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OpenBankingConnectionResponseBody"
        }
      },
      "description" : "OpenBankingConnectionResponse"
    },
    "OpenBankingConnectionResponseBody" : {
      "type" : "object",
      "properties" : {
        "otherBankConsentTypes" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "otherBankConsentType" : {
                "type" : "string",
                "description" : "Refers to the Other Banks Consent Types.",
                "minLength" : 0,
                "maxLength" : 20
              }
            }
          }
        },
        "consents" : {
          "type" : "array",
          "description" : "Refers the consents given by the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "consentType" : {
                "type" : "string",
                "description" : "Consent Type for which the consent is given",
                "minLength" : 0,
                "maxLength" : 12
              },
              "consentStartAt" : {
                "type" : "string",
                "description" : "Refers to the time at which the consent starts",
                "minLength" : 0,
                "maxLength" : 14
              },
              "consentExpiryAt" : {
                "type" : "string",
                "description" : "Refers to the time at which the consent expires",
                "minLength" : 0,
                "maxLength" : 15
              }
            }
          }
        },
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "minLength" : 0,
          "maxLength" : 10
        },
        "bankId" : {
          "type" : "string",
          "description" : "Refers to the ID of the bank with which the transaction is performed.",
          "minLength" : 0,
          "maxLength" : 6
        },
        "bankName" : {
          "type" : "string",
          "description" : "The name of the bank being referred to.",
          "minLength" : 0,
          "maxLength" : 8
        },
        "bankCode" : {
          "type" : "string",
          "description" : "Refers to the Code of the bank with which the transaction is performed.",
          "minLength" : 0,
          "maxLength" : 8
        },
        "countryId" : {
          "type" : "string",
          "description" : "ISO country code of the financial institution. ",
          "minLength" : 0,
          "maxLength" : 15
        },
        "obcpId" : {
          "type" : "string",
          "description" : "Refers to the ID of the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 6
        },
        "obcpConnectionId" : {
          "type" : "string",
          "description" : "Refers to the  ConnectionID of the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "connectionStatus" : {
          "type" : "string",
          "description" : "Updates the Connection Status of the Transaction.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "subStatus" : {
          "type" : "string",
          "description" : "Updates the Sub Status of the Transaction.",
          "minLength" : 0,
          "maxLength" : 9
        },
        "currentState" : {
          "type" : "string",
          "description" : "Refers to the Current State of the Transaction.",
          "minLength" : 0,
          "maxLength" : 12
        },
        "latestToken" : {
          "type" : "string",
          "description" : "Refers to the Latest Token of the ongoing Transaction.",
          "minLength" : 0,
          "maxLength" : 11
        },
        "latestRedirectUrl" : {
          "type" : "string",
          "description" : "Refers to the Latest Redirected URL of the ongoing Transaction.",
          "minLength" : 0,
          "maxLength" : 17
        },
        "defaultConsentArrangementId" : {
          "type" : "string",
          "description" : "Refers to the ID of the Default Consent Arrangement.",
          "minLength" : 0,
          "maxLength" : 27
        },
        "obcpToken" : {
          "type" : "string",
          "description" : "Refers to the Token of the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 9
        },
        "obcpRedirectUrl" : {
          "type" : "string",
          "description" : "Refers to the  Redirected URL of the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 15
        },
        "otherBankConsentPeriodDays" : {
          "type" : "string",
          "description" : "Refers to the number of days in the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 26
        },
        "otherBankConsentGivenAt" : {
          "type" : "string",
          "description" : "Refers to when the Other Banks Consent Period Starts.",
          "minLength" : 0,
          "maxLength" : 23
        },
        "otherBankConsentExpiresAt" : {
          "type" : "string",
          "description" : "Refers to when the Other Banks Consent Period Expires.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "consentGivenAt" : {
          "type" : "string",
          "description" : "Refers to when the Consent was given at.",
          "minLength" : 0,
          "maxLength" : 14
        },
        "termsAccepted" : {
          "type" : "string",
          "description" : "Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time.",
          "minLength" : 0,
          "maxLength" : 13
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "OpenBankingConnection1" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OpenBankingConnection1Body"
        }
      },
      "description" : "OpenBankingConnection1"
    },
    "OpenBankingConnection1Body" : {
      "type" : "object",
      "properties" : {
        "otherBankConsentTypes" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "otherBankConsentType" : {
                "type" : "string",
                "description" : "Refers to the Other Banks Consent Types.",
                "minLength" : 0,
                "maxLength" : 20
              }
            }
          }
        },
        "consents" : {
          "type" : "array",
          "description" : "Refers the consents given by the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "consentType" : {
                "type" : "string",
                "description" : "Consent Type for which the consent is given",
                "minLength" : 0,
                "maxLength" : 12
              },
              "consentStartAt" : {
                "type" : "string",
                "description" : "Refers to the time at which the consent starts",
                "minLength" : 0,
                "maxLength" : 14
              },
              "consentExpiryAt" : {
                "type" : "string",
                "description" : "Refers to the time at which the consent expires",
                "minLength" : 0,
                "maxLength" : 15
              }
            }
          }
        },
        "obcp" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "arrangementId" : {
                "type" : "string",
                "description" : "Indicates an unique identifier of an account",
                "minLength" : 0,
                "maxLength" : 13
              },
              "obcpAccountId" : {
                "type" : "string",
                "description" : "Refers to the Account Id of the Other Banks Consent Period.",
                "minLength" : 0,
                "maxLength" : 13
              },
              "obcpStatus" : {
                "type" : "string",
                "description" : "Refers to the Status of the Other Banks Consent Period.",
                "minLength" : 0,
                "maxLength" : 10
              },
              "balancesLastUpdated" : {
                "type" : "string",
                "description" : "Refers to when the Balances where last updated.",
                "minLength" : 0,
                "maxLength" : 21
              },
              "transactionsLastUpdated" : {
                "type" : "string",
                "description" : "Refers to when the Transactions where last updated.",
                "minLength" : 0,
                "maxLength" : 25
              }
            }
          }
        },
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "minLength" : 0,
          "maxLength" : 10
        },
        "bankId" : {
          "type" : "string",
          "description" : "Refers to the ID of the bank with which the transaction is performed.",
          "minLength" : 0,
          "maxLength" : 6
        },
        "bankCode" : {
          "type" : "string",
          "description" : "Refers to the Code of the bank with which the transaction is performed.",
          "minLength" : 0,
          "maxLength" : 8
        },
        "bankName" : {
          "type" : "string",
          "description" : "The name of the bank being referred to.",
          "minLength" : 0,
          "maxLength" : 8
        },
        "countryId" : {
          "type" : "string",
          "description" : "ISO country code of the financial institution. ",
          "minLength" : 0,
          "maxLength" : 15
        },
        "obcpId" : {
          "type" : "string",
          "description" : "Refers to the ID of the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 6
        },
        "obcpConnectionId" : {
          "type" : "string",
          "description" : "Refers to the  ConnectionID of the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "obcpBankId" : {
          "type" : "string",
          "description" : "Refers to the ID of the Other Bank.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "obcpCustomerId" : {
          "type" : "string",
          "description" : "Refers to the ID of the customer of Other Bank.",
          "minLength" : 0,
          "maxLength" : 14
        },
        "connectionStatus" : {
          "type" : "string",
          "description" : "Updates the Connection Status of the Transaction.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "subStatus" : {
          "type" : "string",
          "description" : "Updates the Sub Status of the Transaction.",
          "minLength" : 0,
          "maxLength" : 9
        },
        "currentState" : {
          "type" : "string",
          "description" : "Refers to the Current State of the Transaction.",
          "minLength" : 0,
          "maxLength" : 12
        },
        "latestToken" : {
          "type" : "string",
          "description" : "Refers to the Latest Token of the ongoing Transaction.",
          "minLength" : 0,
          "maxLength" : 11
        },
        "latestRedirectUrl" : {
          "type" : "string",
          "description" : "Refers to the Latest Redirected URL of the ongoing Transaction.",
          "minLength" : 0,
          "maxLength" : 17
        },
        "defaultConsentArrangementId" : {
          "type" : "string",
          "description" : "Refers to the ID of the Default Consent Arrangement.",
          "minLength" : 0,
          "maxLength" : 27
        },
        "obcpToken" : {
          "type" : "string",
          "description" : "Refers to the Token of the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 9
        },
        "obcpRedirectUrl" : {
          "type" : "string",
          "description" : "Refers to the  Redirected URL of the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 15
        },
        "createdAt" : {
          "type" : "string",
          "description" : "Refers to the time at which the arrangement was created.",
          "minLength" : 0,
          "maxLength" : 9
        },
        "updatedAt" : {
          "type" : "string",
          "description" : "Refers to the time at which the arrangement was updated.",
          "minLength" : 0,
          "maxLength" : 9
        },
        "lastSuccessAt" : {
          "type" : "string",
          "description" : "Refers to the time of the latest success.",
          "minLength" : 0,
          "maxLength" : 13
        },
        "otherBankConsentPeriodDays" : {
          "type" : "string",
          "description" : "Refers to the number of days in the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 26
        },
        "otherBankConsentGivenAt" : {
          "type" : "string",
          "description" : "Refers to when the Other Banks Consent Period Starts.",
          "minLength" : 0,
          "maxLength" : 23
        },
        "otherBankConsentExpiresAt" : {
          "type" : "string",
          "description" : "Refers to when the Other Banks Consent Period Expires.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "consentGivenAt" : {
          "type" : "string",
          "description" : "Refers to when the Consent was given at.",
          "minLength" : 0,
          "maxLength" : 14
        },
        "channelId" : {
          "type" : "string",
          "description" : "Id of the (digital) channel",
          "minLength" : 0,
          "maxLength" : 14
        },
        "termsAccepted" : {
          "type" : "string",
          "description" : "Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time.",
          "minLength" : 0,
          "maxLength" : 13
        }
      }
    },
    "OpenBankingConnectionResponse1" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OpenBankingConnectionResponse1Body"
        }
      },
      "description" : "OpenBankingConnectionResponse1"
    },
    "OpenBankingConnectionResponse1Body" : {
      "type" : "object",
      "properties" : {
        "otherBankConsentTypes" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "otherBankConsentType" : {
                "type" : "string",
                "description" : "Refers to the Other Banks Consent Types.",
                "minLength" : 0,
                "maxLength" : 20
              }
            }
          }
        },
        "consents" : {
          "type" : "array",
          "description" : "Refers the consents given by the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "consentType" : {
                "type" : "string",
                "description" : "Consent Type for which the consent is given",
                "minLength" : 0,
                "maxLength" : 12
              },
              "consentStartAt" : {
                "type" : "string",
                "description" : "Refers to the time at which the consent starts",
                "minLength" : 0,
                "maxLength" : 14
              },
              "consentExpiryAt" : {
                "type" : "string",
                "description" : "Refers to the time at which the consent expires",
                "minLength" : 0,
                "maxLength" : 15
              }
            }
          }
        },
        "obcp" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "arrangementId" : {
                "type" : "string",
                "description" : "Indicates an unique identifier of an account",
                "minLength" : 0,
                "maxLength" : 13
              },
              "obcpAccountId" : {
                "type" : "string",
                "description" : "Refers to the Account Id of the Other Banks Consent Period.",
                "minLength" : 0,
                "maxLength" : 13
              },
              "obcpStatus" : {
                "type" : "string",
                "description" : "Refers to the Status of the Other Banks Consent Period.",
                "minLength" : 0,
                "maxLength" : 10
              },
              "balancesLastUpdated" : {
                "type" : "string",
                "description" : "Refers to when the Balances where last updated.",
                "minLength" : 0,
                "maxLength" : 21
              },
              "transactionsLastUpdated" : {
                "type" : "string",
                "description" : "Refers to when the Transactions where last updated.",
                "minLength" : 0,
                "maxLength" : 25
              }
            }
          }
        },
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "minLength" : 0,
          "maxLength" : 10
        },
        "bankId" : {
          "type" : "string",
          "description" : "Refers to the ID of the bank with which the transaction is performed.",
          "minLength" : 0,
          "maxLength" : 6
        },
        "bankCode" : {
          "type" : "string",
          "description" : "Refers to the Code of the bank with which the transaction is performed.",
          "minLength" : 0,
          "maxLength" : 8
        },
        "bankName" : {
          "type" : "string",
          "description" : "The name of the bank being referred to.",
          "minLength" : 0,
          "maxLength" : 8
        },
        "countryId" : {
          "type" : "string",
          "description" : "ISO country code of the financial institution. ",
          "minLength" : 0,
          "maxLength" : 15
        },
        "obcpId" : {
          "type" : "string",
          "description" : "Refers to the ID of the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 6
        },
        "obcpConnectionId" : {
          "type" : "string",
          "description" : "Refers to the  ConnectionID of the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "obcpBankId" : {
          "type" : "string",
          "description" : "Refers to the ID of the Other Bank.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "obcpCustomerId" : {
          "type" : "string",
          "description" : "Refers to the ID of the customer of Other Bank.",
          "minLength" : 0,
          "maxLength" : 14
        },
        "connectionStatus" : {
          "type" : "string",
          "description" : "Updates the Connection Status of the Transaction.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "subStatus" : {
          "type" : "string",
          "description" : "Updates the Sub Status of the Transaction.",
          "minLength" : 0,
          "maxLength" : 9
        },
        "currentState" : {
          "type" : "string",
          "description" : "Refers to the Current State of the Transaction.",
          "minLength" : 0,
          "maxLength" : 12
        },
        "latestToken" : {
          "type" : "string",
          "description" : "Refers to the Latest Token of the ongoing Transaction.",
          "minLength" : 0,
          "maxLength" : 11
        },
        "latestRedirectUrl" : {
          "type" : "string",
          "description" : "Refers to the Latest Redirected URL of the ongoing Transaction.",
          "minLength" : 0,
          "maxLength" : 17
        },
        "defaultConsentArrangementId" : {
          "type" : "string",
          "description" : "Refers to the ID of the Default Consent Arrangement.",
          "minLength" : 0,
          "maxLength" : 27
        },
        "obcpToken" : {
          "type" : "string",
          "description" : "Refers to the Token of the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 9
        },
        "obcpRedirectUrl" : {
          "type" : "string",
          "description" : "Refers to the  Redirected URL of the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 15
        },
        "createdAt" : {
          "type" : "string",
          "description" : "Refers to the time at which the arrangement was created.",
          "minLength" : 0,
          "maxLength" : 9
        },
        "updatedAt" : {
          "type" : "string",
          "description" : "Refers to the time at which the arrangement was updated.",
          "minLength" : 0,
          "maxLength" : 9
        },
        "lastSuccessAt" : {
          "type" : "string",
          "description" : "Refers to the time of the latest success.",
          "minLength" : 0,
          "maxLength" : 13
        },
        "otherBankConsentPeriodDays" : {
          "type" : "string",
          "description" : "Refers to the number of days in the Other Banks Consent Period.",
          "minLength" : 0,
          "maxLength" : 26
        },
        "otherBankConsentGivenAt" : {
          "type" : "string",
          "description" : "Refers to when the Other Banks Consent Period Starts.",
          "minLength" : 0,
          "maxLength" : 23
        },
        "otherBankConsentExpiresAt" : {
          "type" : "string",
          "description" : "Refers to when the Other Banks Consent Period Expires.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "consentGivenAt" : {
          "type" : "string",
          "description" : "Refers to when the Consent was given at.",
          "minLength" : 0,
          "maxLength" : 14
        },
        "channelId" : {
          "type" : "string",
          "description" : "Id of the (digital) channel",
          "minLength" : 0,
          "maxLength" : 14
        },
        "termsAccepted" : {
          "type" : "string",
          "description" : "Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time.",
          "minLength" : 0,
          "maxLength" : 13
        }
      }
    },
    "OpenBankingConnection2" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OpenBankingConnection2Body"
        }
      },
      "description" : "OpenBankingConnection2"
    },
    "OpenBankingConnection2Body" : {
      "type" : "object",
      "properties" : {
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "minLength" : 0,
          "maxLength" : 10
        },
        "defaultConsentArrangementId" : {
          "type" : "string",
          "description" : "Refers to the ID of the Default Consent Arrangement.",
          "minLength" : 0,
          "maxLength" : 27
        },
        "connectionStatus" : {
          "type" : "string",
          "description" : "Updates the Connection Status of the Transaction.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "subStatus" : {
          "type" : "string",
          "description" : "Updates the Sub Status of the Transaction.",
          "minLength" : 0,
          "maxLength" : 9
        },
        "currentState" : {
          "type" : "string",
          "description" : "Refers to the Current State of the Transaction.",
          "minLength" : 0,
          "maxLength" : 12
        },
        "updatedAt" : {
          "type" : "string",
          "description" : "Refers to the time at which the arrangement was updated.",
          "minLength" : 0,
          "maxLength" : 9
        }
      }
    },
    "OpenBankingConnectionResponse2" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OpenBankingConnectionResponse2Body"
        }
      },
      "description" : "OpenBankingConnectionResponse2"
    },
    "OpenBankingConnectionResponse2Body" : {
      "type" : "object",
      "properties" : {
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "minLength" : 0,
          "maxLength" : 10
        },
        "defaultConsentArrangementId" : {
          "type" : "string",
          "description" : "Refers to the ID of the Default Consent Arrangement.",
          "minLength" : 0,
          "maxLength" : 27
        },
        "connectionStatus" : {
          "type" : "string",
          "description" : "Updates the Connection Status of the Transaction.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "subStatus" : {
          "type" : "string",
          "description" : "Updates the Sub Status of the Transaction.",
          "minLength" : 0,
          "maxLength" : 9
        },
        "currentState" : {
          "type" : "string",
          "description" : "Refers to the Current State of the Transaction.",
          "minLength" : 0,
          "maxLength" : 12
        },
        "updatedAt" : {
          "type" : "string",
          "description" : "Refers to the time at which the arrangement was updated.",
          "minLength" : 0,
          "maxLength" : 9
        }
      }
    },
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "ThirdPartyProviderConsentsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ThirdPartyProviderConsentsResponseBody"
        }
      },
      "description" : "ThirdPartyProviderConsentsResponse"
    },
    "ThirdPartyProviderConsentsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "otherBankConsentTypes" : {
            "type" : "array",
            "description" : "Refers to the Other Banks Consent Types.",
            "items" : {
              "type" : "object",
              "properties" : {
                "otherBankConsentType" : {
                  "type" : "string",
                  "description" : "Refers to the Other Banks Consent Types.",
                  "maxLength" : 65
                }
              }
            }
          },
          "consents" : {
            "type" : "array",
            "description" : "Refers the consents given by the customer",
            "items" : {
              "type" : "object",
              "properties" : {
                "consentType" : {
                  "type" : "string",
                  "description" : "Consent Type for which the consent is given",
                  "maxLength" : 65
                },
                "consentGivenAt" : {
                  "type" : "string",
                  "description" : "Refers to when the Consent was given at.",
                  "maxLength" : 65
                },
                "consentStartsAt" : {
                  "type" : "string",
                  "description" : "Refers to the time at which the consent starts",
                  "maxLength" : 65
                },
                "consentExpiryAt" : {
                  "type" : "string",
                  "description" : "Refers to the time at which the consent expires",
                  "maxLength" : 65
                }
              }
            }
          },
          "obcp" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "arrangementId" : {
                  "type" : "string",
                  "description" : "Indicates an unique identifier of an account",
                  "maxLength" : 65
                },
                "obcpAccountId" : {
                  "type" : "string",
                  "description" : "Refers to the Account Id of the Other Banks Consent Period.",
                  "maxLength" : 65
                },
                "obcpStatus" : {
                  "type" : "string",
                  "description" : "Refers to the Status of the Other Banks Consent Period.",
                  "maxLength" : 35
                },
                "balancesLastUpdated" : {
                  "type" : "string",
                  "description" : "Refers to when the Balances where last updated.",
                  "maxLength" : 65
                },
                "transactionsLastUpdated" : {
                  "type" : "string",
                  "description" : "Refers to when the Transactions where last updated.",
                  "maxLength" : 65
                },
                "accountId" : {
                  "type" : "string",
                  "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
                },
                "shortTitle" : {
                  "type" : "string",
                  "description" : "Short Title given to the name of the arrangement ."
                },
                "sortCode" : {
                  "type" : "string",
                  "description" : "Contains bank sort code or iban branch identifier for the account"
                }
              }
            }
          },
          "transactionNextPageIds" : {
            "type" : "array",
            "description" : "Refers to the ID of the Next Page of the Transaction.",
            "items" : {
              "type" : "object",
              "properties" : {
                "transactionNextPageId" : {
                  "type" : "string",
                  "description" : "Refers to the ID of the Next Page of the Transaction.",
                  "maxLength" : 65
                }
              }
            }
          },
          "allTransactionsReceived" : {
            "type" : "array",
            "description" : "Refers to when the Transactions where last received.",
            "items" : {
              "type" : "object",
              "properties" : {
                "allTransactionReceived" : {
                  "type" : "string",
                  "description" : "Refers to when the Transactions where last received.",
                  "maxLength" : 65
                }
              }
            }
          },
          "connectionId" : {
            "type" : "string",
            "description" : "Refers to the ID associated to the Connect Reference respective to a transaction of the Account.",
            "maxLength" : 35
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identifier of the customer",
            "maxLength" : 65
          },
          "bankId" : {
            "type" : "string",
            "description" : "Refers to the ID of the bank with which the transaction is performed.",
            "maxLength" : 65
          },
          "bankName" : {
            "type" : "string",
            "description" : "The name of the bank being referred to.",
            "maxLength" : 65
          },
          "countryId" : {
            "type" : "string",
            "description" : "ISO country code of the financial institution. ",
            "maxLength" : 65
          },
          "obcpId" : {
            "type" : "string",
            "description" : "Refers to the ID of the Other Banks Consent Period.",
            "maxLength" : 65
          },
          "obcpConnectionId" : {
            "type" : "string",
            "description" : "Refers to the  ConnectionID of the Other Banks Consent Period.",
            "maxLength" : 65
          },
          "obcpBankId" : {
            "type" : "string",
            "description" : "Refers to the ID of the Other Bank.",
            "maxLength" : 65
          },
          "obcpCustomerId" : {
            "type" : "string",
            "description" : "Refers to the ID of the customer of Other Bank.",
            "maxLength" : 65
          },
          "connectionStatus" : {
            "type" : "string",
            "description" : "Updates the Connection Status of the Transaction.",
            "maxLength" : 35
          },
          "subStatus" : {
            "type" : "string",
            "description" : "Updates the Sub Status of the Transaction.",
            "maxLength" : 35
          },
          "currentState" : {
            "type" : "string",
            "description" : "Refers to the Current State of the Transaction.",
            "maxLength" : 65
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Refers to the time at which the arrangement was created.",
            "maxLength" : 65
          },
          "latestToken" : {
            "type" : "string",
            "description" : "Refers to the Latest Token of the ongoing Transaction.",
            "maxLength" : 65
          },
          "latestRedirectUrl" : {
            "type" : "string",
            "description" : "Refers to the Latest Redirected URL of the ongoing Transaction.",
            "maxLength" : 65
          },
          "defaultConsentArrangementId" : {
            "type" : "string",
            "description" : "Refers to the ID of the Default Consent Arrangement.",
            "maxLength" : 65
          },
          "obcpToken" : {
            "type" : "string",
            "description" : "Refers to the Token of the Other Banks Consent Period.",
            "maxLength" : 65
          },
          "obcpRedirectUrl" : {
            "type" : "string",
            "description" : "Refers to the  Redirected URL of the Other Banks Consent Period.",
            "maxLength" : 65
          },
          "otherBankConsentPeriodDays" : {
            "type" : "string",
            "description" : "Refers to the number of days in the Other Banks Consent Period.",
            "maxLength" : 65
          },
          "otherBankConsentGivenAt" : {
            "type" : "string",
            "description" : "Refers to when the Other Banks Consent Period Starts.",
            "maxLength" : 65
          },
          "otherBankConsentExpiresAt" : {
            "type" : "string",
            "description" : "Refers to when the Other Banks Consent Period Expires.",
            "maxLength" : 65
          },
          "channelId" : {
            "type" : "string",
            "description" : "Id of the (digital) channel",
            "maxLength" : 70
          },
          "bankCode" : {
            "type" : "string",
            "description" : "Refers to the Code of the bank with which the transaction is performed.",
            "maxLength" : 65
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Current number of the record",
            "maxLength" : 4
          },
          "nextRefreshAvailableAt" : {
            "type" : "string",
            "description" : "Refers to when the next Refresh will be Available At.",
            "maxLength" : 65
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}