{
  "swagger" : "2.0",
  "info" : {
    "description" : "Management of Travel Notifications",
    "version" : "v1.0.0",
    "title" : "Party Travel Notifications APIs"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/travelNotifications/{travelNotificationId}" : {
      "put" : {
        "summary" : "Updates an existing travel notification record for a customer",
        "description" : "Update travel notification details",
        "operationId" : "updateTravelNotification",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "travelNotificationId",
          "in" : "path",
          "description" : "Denotes the identifier associated with the travel for notifications",
          "required" : true,
          "type" : "string",
          "x-example" : "CTN19107HYTSBKY"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TravelNotification"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "TravelNotificationResponse",
            "schema" : {
              "$ref" : "#/definitions/TravelNotificationResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "summary" : "Remove an existing travel notification record  for a customer",
        "description" : "Remove travel notification",
        "operationId" : "deleteTravelNotification",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "travelNotificationId",
          "in" : "path",
          "description" : "Denotes the identifier associated with the travel for notifications",
          "required" : true,
          "type" : "string",
          "x-example" : "CTN19107HYTSBKY"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/TravelNotificationDelete"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "TravelNotificationResponse",
            "schema" : {
              "$ref" : "#/definitions/TravelNotificationResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/travelNotifications" : {
      "post" : {
        "summary" : "Creates a new travel notification record for a customers",
        "description" : "Create travel notification",
        "operationId" : "createTravelNotification",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TravelNotification"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "TravelNotificationResponse",
            "schema" : {
              "$ref" : "#/definitions/TravelNotificationResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/{customerId}/travelNotifications" : {
      "get" : {
        "summary" : "Retrieves the list of travel notification details for specific customer",
        "description" : "Retrieves customer travel notifications details",
        "operationId" : "getCustomerTravelNotifications",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string",
          "x-example" : "100297"
        }, {
          "name" : "overallStatus",
          "in" : "query",
          "description" : "Contains the overall status",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "overallStatusNE",
          "in" : "query",
          "description" : "Overall status not equal to",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "travelNotificationId",
          "in" : "query",
          "description" : "Denotes the identifier associated with the travel for notifications",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerTravelNotificationsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerTravelNotificationsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "TravelNotification" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TravelNotificationBody"
        }
      },
      "description" : "TravelNotification",
      "example" : {
        "header" : {
          "audit" : {
            "versionNumber" : ""
          },
          "override" : {
            "overrideDetails" : [ {
              "description" : "",
              "id" : "",
              "responseCode" : ""
            } ]
          }
        },
        "body" : {
          "travelNotifications" : [ {
            "additionalInformation" : "",
            "travelStatus" : "",
            "scheduleType" : "",
            "endDate" : "2019 04 18",
            "accountIds" : [ {
              "accountId" : ""
            } ],
            "visitPurpose" : "",
            "startTime" : "00:00",
            "endTime" : "23:59",
            "contactDetails" : [ {
              "contactDetail" : ""
            } ],
            "countryId" : "IN",
            "startDate" : "2019 04 18"
          } ],
          "customerId" : "100336",
          "cancelRequest" : "NO",
          "overrides" : [ {
            "override" : ""
          } ],
          "overallStatus" : "ACTIVE"
        }
      }
    },
    "TravelNotificationBody" : {
      "type" : "object",
      "properties" : {
        "travelNotifications" : {
          "type" : "array",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "items" : {
            "type" : "object",
            "properties" : {
              "countryId" : {
                "type" : "string",
                "description" : "ISO country code of the financial institution. ",
                "minLength" : 0,
                "maxLength" : 25
              },
              "startDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Contains the date on which the transaction or payment gets initiated."
              },
              "startTime" : {
                "type" : "string",
                "description" : "Contains the time job was started",
                "minLength" : 0,
                "maxLength" : 25
              },
              "endTime" : {
                "type" : "string",
                "description" : "Contains the time the job  ended.",
                "minLength" : 0,
                "maxLength" : 25
              },
              "endDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned"
              },
              "visitPurpose" : {
                "type" : "string",
                "description" : "Specifies the purpose of the travel",
                "minLength" : 0,
                "maxLength" : 25
              },
              "scheduleType" : {
                "type" : "string",
                "description" : "The type of event schedule. The main ones are interest payment (IP) , principal increase (PI), rate reset (RR).",
                "minLength" : 0,
                "maxLength" : 35
              },
              "travelStatus" : {
                "type" : "string",
                "description" : "Indicates the status of travel.",
                "minLength" : 0,
                "maxLength" : 35
              },
              "additionalInformation" : {
                "type" : "string",
                "description" : "Additional Information provided to add context",
                "minLength" : 0,
                "maxLength" : 100
              },
              "contactDetails" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "contactDetail" : {
                      "type" : "string",
                      "description" : "Contains the contact details of the traveller",
                      "minLength" : 0,
                      "maxLength" : 100
                    }
                  }
                }
              },
              "accountIds" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "accountId" : {
                      "type" : "string",
                      "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                      "minLength" : 0,
                      "maxLength" : 25
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "minLength" : 0,
          "maxLength" : 25
        },
        "overallStatus" : {
          "type" : "string",
          "description" : "Contains the overall status",
          "minLength" : 0,
          "maxLength" : 35
        },
        "cancelRequest" : {
          "type" : "string",
          "description" : "Flag to cancel the request which is under process",
          "minLength" : 0,
          "maxLength" : 35
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "TravelNotificationResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TravelNotificationResponseBody"
        }
      },
      "description" : "TravelNotificationResponse"
    },
    "TravelNotificationResponseBody" : {
      "type" : "object",
      "properties" : {
        "travelNotifications" : {
          "type" : "array",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "items" : {
            "type" : "object",
            "properties" : {
              "countryId" : {
                "type" : "string",
                "description" : "ISO country code of the financial institution. ",
                "minLength" : 0,
                "maxLength" : 25
              },
              "startDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Contains the date on which the transaction or payment gets initiated."
              },
              "startTime" : {
                "type" : "string",
                "description" : "Contains the time job was started",
                "minLength" : 0,
                "maxLength" : 25
              },
              "endTime" : {
                "type" : "string",
                "description" : "Contains the time the job  ended.",
                "minLength" : 0,
                "maxLength" : 25
              },
              "endDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned"
              },
              "visitPurpose" : {
                "type" : "string",
                "description" : "Specifies the purpose of the travel",
                "minLength" : 0,
                "maxLength" : 25
              },
              "scheduleType" : {
                "type" : "string",
                "description" : "The type of event schedule. The main ones are interest payment (IP) , principal increase (PI), rate reset (RR).",
                "minLength" : 0,
                "maxLength" : 35
              },
              "travelStatus" : {
                "type" : "string",
                "description" : "Indicates the status of travel.",
                "minLength" : 0,
                "maxLength" : 35
              },
              "additionalInformation" : {
                "type" : "string",
                "description" : "Additional Information provided to add context",
                "minLength" : 0,
                "maxLength" : 100
              },
              "contactDetails" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "contactDetail" : {
                      "type" : "string",
                      "description" : "Contains the contact details of the traveller",
                      "minLength" : 0,
                      "maxLength" : 100
                    }
                  }
                }
              },
              "accountIds" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "accountId" : {
                      "type" : "string",
                      "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                      "minLength" : 0,
                      "maxLength" : 25
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "minLength" : 0,
          "maxLength" : 25
        },
        "overallStatus" : {
          "type" : "string",
          "description" : "Contains the overall status",
          "minLength" : 0,
          "maxLength" : 35
        },
        "cancelRequest" : {
          "type" : "string",
          "description" : "Flag to cancel the request which is under process",
          "minLength" : 0,
          "maxLength" : 35
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "TravelNotificationDelete" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        }
      },
      "description" : "TravelNotificationDelete"
    },
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "CustomerTravelNotificationsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerTravelNotificationsResponseBody"
        }
      },
      "description" : "CustomerTravelNotificationsResponse"
    },
    "CustomerTravelNotificationsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "travelNotifications" : {
            "type" : "array",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
            "items" : {
              "type" : "object",
              "properties" : {
                "countryId" : {
                  "type" : "string",
                  "description" : "ISO country code of the financial institution. ",
                  "maxLength" : 2
                },
                "startDate" : {
                  "type" : "string",
                  "format" : "date",
                  "description" : "Contains the date on which the transaction or payment gets initiated."
                },
                "endDate" : {
                  "type" : "string",
                  "format" : "date",
                  "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned"
                },
                "startTime" : {
                  "type" : "string",
                  "description" : "Contains the time job was started",
                  "maxLength" : 5
                },
                "endTime" : {
                  "type" : "string",
                  "description" : "Contains the time the job  ended.",
                  "maxLength" : 5
                },
                "visitPurpose" : {
                  "type" : "string",
                  "description" : "Specifies the purpose of the travel",
                  "maxLength" : 15
                },
                "scheduleType" : {
                  "type" : "string",
                  "description" : "The type of event schedule. The main ones are interest payment (IP) , principal increase (PI), rate reset (RR).",
                  "maxLength" : 35
                },
                "travelStatus" : {
                  "type" : "string",
                  "description" : "Indicates the status of travel.",
                  "maxLength" : 35
                },
                "additionalInformation" : {
                  "type" : "string",
                  "description" : "Additional Information provided to add context",
                  "maxLength" : 100
                },
                "contactDetails" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "contactDetail" : {
                        "type" : "string",
                        "description" : "Contains the contact details of the traveller",
                        "maxLength" : 100
                      }
                    }
                  }
                },
                "accountIds" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "accountId" : {
                        "type" : "string",
                        "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                        "maxLength" : 19
                      }
                    }
                  }
                }
              }
            }
          },
          "travelNotificationId" : {
            "type" : "string",
            "description" : "Denotes the identifier associated with the travel for notifications",
            "maxLength" : 15
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identifier of the customer",
            "maxLength" : 10
          },
          "overallStatus" : {
            "type" : "string",
            "description" : "Contains the overall status",
            "maxLength" : 35
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Current number of the record",
            "maxLength" : 4
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "updateTravelNotification" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TravelNotificationBody"
        }
      },
      "description" : "TravelNotification",
      "example" : {
        "header" : {
          "audit" : {
            "versionNumber" : ""
          },
          "override" : {
            "overrideDetails" : [ {
              "description" : "",
              "id" : "",
              "responseCode" : ""
            } ]
          }
        },
        "body" : {
          "travelNotifications" : [ {
            "additionalInformation" : "",
            "travelStatus" : "",
            "scheduleType" : "",
            "endDate" : "2019 04 18",
            "accountIds" : [ {
              "accountId" : ""
            } ],
            "visitPurpose" : "",
            "startTime" : "00:00",
            "endTime" : "23:59",
            "contactDetails" : [ {
              "contactDetail" : ""
            } ],
            "countryId" : "IN",
            "startDate" : "2019 04 18"
          } ],
          "customerId" : "100336",
          "cancelRequest" : "NO",
          "overrides" : [ {
            "override" : ""
          } ],
          "overallStatus" : "ACTIVE"
        }
      }
    },
    "deleteTravelNotification" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TravelNotificationBody"
        }
      },
      "description" : "TravelNotification",
      "example" : {
        "header" : {
          "audit" : {
            "versionNumber" : ""
          },
          "override" : {
            "overrideDetails" : [ {
              "description" : "",
              "id" : "",
              "responseCode" : ""
            } ]
          }
        },
        "body" : {
          "travelNotifications" : [ {
            "additionalInformation" : "",
            "travelStatus" : "",
            "scheduleType" : "",
            "endDate" : "2019 04 18",
            "accountIds" : [ {
              "accountId" : ""
            } ],
            "visitPurpose" : "",
            "startTime" : "00:00",
            "endTime" : "23:59",
            "contactDetails" : [ {
              "contactDetail" : ""
            } ],
            "countryId" : "IN",
            "startDate" : "2019 04 18"
          } ],
          "customerId" : "100336",
          "cancelRequest" : "NO",
          "overrides" : [ {
            "override" : ""
          } ],
          "overallStatus" : "ACTIVE"
        }
      }
    }
  }
}