{
  "swagger" : "2.0",
  "info" : {
    "description" : "Create or Update Party Relationship",
    "version" : "v1.0.0",
    "title" : "Customer management"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/relationships/{relationId}" : {
      "post" : {
        "summary" : "Create Party Relationship",
        "description" : "Creation of Party Relationship.",
        "operationId" : "createPartyRelationship",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "relationId",
          "in" : "path",
          "description" : "Identifier of the Customer Relationship and Party Relationship",
          "required" : true,
          "type" : "string",
          "x-example" : "PR1908500001\n"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PartyRelationship"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PartyRelationshipResponse",
            "schema" : {
              "$ref" : "#/definitions/PartyRelationshipResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "summary" : "Update Party Relationship",
        "description" : "Updation of Party Relationship.",
        "operationId" : "updatePartyRelationship",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "relationId",
          "in" : "path",
          "description" : "Identifier of the Customer Relationship and Party Relationship",
          "required" : true,
          "type" : "string",
          "x-example" : "PR1908500001\n"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PartyRelationship"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PartyRelationshipResponse",
            "schema" : {
              "$ref" : "#/definitions/PartyRelationshipResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "PartyRelationship" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PartyRelationshipBody"
        }
      },
      "description" : "PartyRelationship",
      "example" : {
        "header" : {
          "audit" : {
            "versionNumber" : ""
          },
          "override" : {
            "overrideDetails" : [ {
              "description" : "Relation code 400 is not set as child allowed",
              "id" : "ST-PARTY.RELATED.AS.CHILD",
              "type" : "Override"
            }, {
              "description" : "Relation code 403 is not set as child allowed",
              "id" : "ST-PARTY.RELATED.AS.CHILD",
              "type" : "Override"
            } ]
          }
        },
        "body" : {
          "partyRelationships" : [ {
            "owningPercent" : "20",
            "relatedPartyType" : "CUSTOMER",
            "relatedAs" : "CHILD ENTITY",
            "relationPartyId" : "190202",
            "relationshipCode" : "400",
            "partyType" : "CUSTOMER",
            "partyId" : "190215"
          } ],
          "partyDisplayNames" : [ {
            "partyDisplayName" : "Group"
          } ]
        }
      }
    },
    "PartyRelationshipBody" : {
      "type" : "object",
      "properties" : {
        "partyDisplayNames" : {
          "type" : "array",
          "description" : "A description of the Party Relationship",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyDisplayName" : {
                "type" : "string",
                "description" : "A description of the Party Relationship"
              }
            }
          }
        },
        "partyRelationships" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyType" : {
                "type" : "string",
                "description" : "Indicates the type of customer which is part of the relationship. It may be Customer, Person or Entity."
              },
              "partyId" : {
                "type" : "string",
                "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
              },
              "relatedPartyType" : {
                "type" : "string",
                "description" : "Indicates the related party's customer type. It may be Customer, Person or Entity."
              },
              "relationPartyId" : {
                "type" : "string",
                "description" : "Related customers or persons/entities that are part of the relationship."
              },
              "relationshipCode" : {
                "type" : "string",
                "description" : "Relationship identifier between the partyType and relatedPartyType"
              },
              "relatedAs" : {
                "type" : "string",
                "description" : "Entity Relationship with the partyType"
              },
              "owningPercent" : {
                "type" : "string",
                "description" : "Used to record the percentage of ownership in the relationship. For example an entity may be partially or wholly owned by another entity. This will only be allowed to be entered if the relation is indicated as a type allowing Ownership"
              }
            }
          }
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "PartyRelationshipResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PartyRelationshipResponseBody"
        }
      },
      "description" : "PartyRelationshipResponse"
    },
    "PartyRelationshipResponseBody" : {
      "type" : "object",
      "properties" : {
        "partyDisplayNames" : {
          "type" : "array",
          "description" : "A description of the Party Relationship",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyDisplayName" : {
                "type" : "string",
                "description" : "A description of the Party Relationship"
              }
            }
          }
        },
        "partyRelationships" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyType" : {
                "type" : "string",
                "description" : "Indicates the type of customer which is part of the relationship. It may be Customer, Person or Entity."
              },
              "partyId" : {
                "type" : "string",
                "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
              },
              "relatedPartyType" : {
                "type" : "string",
                "description" : "Indicates the related party's customer type. It may be Customer, Person or Entity."
              },
              "relationPartyId" : {
                "type" : "string",
                "description" : "Related customers or persons/entities that are part of the relationship."
              },
              "relationshipCode" : {
                "type" : "string",
                "description" : "Relationship identifier between the partyType and relatedPartyType"
              },
              "relatedAs" : {
                "type" : "string",
                "description" : "Entity Relationship with the partyType"
              },
              "owningPercent" : {
                "type" : "string",
                "description" : "Used to record the percentage of ownership in the relationship. For example an entity may be partially or wholly owned by another entity. This will only be allowed to be entered if the relation is indicated as a type allowing Ownership"
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "createPartyRelationship" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PartyRelationshipBody"
        }
      },
      "description" : "PartyRelationship",
      "example" : {
        "header" : {
          "audit" : {
            "versionNumber" : ""
          },
          "override" : {
            "overrideDetails" : [ {
              "description" : "Relation code 400 is not set as child allowed",
              "id" : "ST-PARTY.RELATED.AS.CHILD",
              "type" : "Override"
            }, {
              "description" : "Relation code 403 is not set as child allowed",
              "id" : "ST-PARTY.RELATED.AS.CHILD",
              "type" : "Override"
            } ]
          }
        },
        "body" : {
          "partyRelationships" : [ {
            "owningPercent" : "20",
            "relatedPartyType" : "CUSTOMER",
            "relatedAs" : "CHILD ENTITY",
            "relationPartyId" : "190202",
            "relationshipCode" : "400",
            "partyType" : "CUSTOMER",
            "partyId" : "190215"
          } ],
          "partyDisplayNames" : [ {
            "partyDisplayName" : "Group"
          } ]
        }
      }
    },
    "updatePartyRelationship" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PartyRelationshipBody"
        }
      },
      "description" : "PartyRelationship",
      "example" : {
        "header" : {
          "audit" : {
            "versionNumber" : ""
          },
          "override" : {
            "overrideDetails" : [ {
              "description" : "Relation code 400 is not set as child allowed",
              "id" : "ST-PARTY.RELATED.AS.CHILD",
              "type" : "Override"
            }, {
              "description" : "Relation code 403 is not set as child allowed",
              "id" : "ST-PARTY.RELATED.AS.CHILD",
              "type" : "Override"
            } ]
          }
        },
        "body" : {
          "partyRelationships" : [ {
            "owningPercent" : "20",
            "relatedPartyType" : "CUSTOMER",
            "relatedAs" : "CHILD ENTITY",
            "relationPartyId" : "190202",
            "relationshipCode" : "400",
            "partyType" : "CUSTOMER",
            "partyId" : "190215"
          } ],
          "partyDisplayNames" : [ {
            "partyDisplayName" : "Group"
          } ]
        }
      }
    }
  }
}