{
  "swagger" : "2.0",
  "info" : {
    "description" : "APIs to create and manage various types of payments such as recurring, SEPA and cross border payments. ",
    "version" : "v2.0.0",
    "title" : "PSD II Payment services"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v2.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/PSD2/payments/TPPrequests/{paymentId}" : {
      "post" : {
        "summary" : "Updates additional payment information for payment initiation requests",
        "description" : "Updates additional payment information for payment initiation requests made through PSD2 APIs. For PSD2 this API can be linked to 'Update PSU data for payment initiation and Update PSU Data for payment initiation cancellation' published API in accordance to open banking standards.",
        "operationId" : "updatePaymentResource",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Indicates the unique reference number of the payment",
          "required" : true,
          "type" : "string",
          "x-example" : "FT1909442TCL"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentResource"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentResourceResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentResourceResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/PSD2/paymentsInitiation" : {
      "post" : {
        "summary" : "Payment initiation for cross border credit transfers.",
        "description" : "Creates a payment order request initiation for cross border credit transfers.For PSD2 this API can be linked to 'Payment Initiation Request' published API in accordance to open banking standards to create a payment.",
        "operationId" : "createPaymentInitiation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentInitiation"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentInitiationResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentInitiationResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/PSD2/payments/{paymentId}/status" : {
      "get" : {
        "summary" : "Retrieves the details of the payment",
        "description" : "Retrieves the payment status and all the necessary details of the payment specified with paymentId. For PSD2 this API can be linked to 'Get Payment Information and Payment initiation status request' published API in accordance to open banking standards to fetch the payment details.",
        "operationId" : "getPaymentStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Indicates the unique reference number of the payment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentStatusResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentStatusResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/PSD2/payments/SEPAinitiation" : {
      "post" : {
        "summary" : "Payment initiation for a SEPA credit transfer",
        "description" : "Creates a SEPA payment credit transfer request.For PSD2 this API can be linked to 'Payment Initiation Request' published API in accordance to open banking standards to create a SEPA payment.",
        "operationId" : "createSEPAPaymentInitiation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SEPAPaymentInitiation"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SEPAPaymentInitiationResponse",
            "schema" : {
              "$ref" : "#/definitions/SEPAPaymentInitiationResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/PSD2/standingOrdersInitiation/SEPA/{standingOrderId}" : {
      "post" : {
        "summary" : "Initiates creation of SEPA standing order instruction",
        "description" : "Creates a standing order (periodic) payment initation request for SEPA credit transfers. For PSD2 this API can be linked to 'createSepaPayment' published API in accordance to open banking standards to create a periodic payment.",
        "operationId" : "createSEPAStandingOrderInitiation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "standingOrderId",
          "in" : "path",
          "description" : "The unique standing order identifier",
          "required" : true,
          "type" : "string",
          "x-example" : "14095"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SEPAStandingOrderInitiation"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SEPAStandingOrderInitiationResponse",
            "schema" : {
              "$ref" : "#/definitions/SEPAStandingOrderInitiationResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/PSD2/standingOrdersInitiation/crossBorder/{standingOrderId}" : {
      "post" : {
        "summary" : "Initiates creation of standing order instruction",
        "description" : "Creates a standing order(periodic) payment initiation request for cross border credit transfers. For PSD2 this API can be linked to 'createPeriodicPayment' published API in accordance to open banking standards to create a periodic payment.",
        "operationId" : "createPSD2StandingOrderInitiation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "standingOrderId",
          "in" : "path",
          "description" : "The unique standing order identifier",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PSD2StandingOrderInitiation"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PSD2StandingOrderInitiationResponse",
            "schema" : {
              "$ref" : "#/definitions/PSD2StandingOrderInitiationResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/PSD2/standingOrdersInitiation/{standingOrderId}" : {
      "delete" : {
        "summary" : "Cancels a standing order instruction",
        "description" : "Cancels a standing order payment instruction",
        "operationId" : "deletePSD2StandingOrderInitiation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "standingOrderId",
          "in" : "path",
          "description" : "The unique standing order identifier",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PSD2StandingOrderInitiationDelete"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PSD2StandingOrderInitiationResponse",
            "schema" : {
              "$ref" : "#/definitions/PSD2StandingOrderInitiationResponse1"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/PSD2/standingOrderApprovals/{standingOrderId}" : {
      "put" : {
        "summary" : "Creates the standing order instruction request",
        "description" : "Creates the standing order (periodic) payment instruction from the initiated request",
        "operationId" : "approvePSD2StandingOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "standingOrderId",
          "in" : "path",
          "description" : "The unique standing order identifier",
          "required" : true,
          "type" : "string",
          "x-example" : "17515"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PSD2StandingOrder"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PSD2StandingOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/PSD2StandingOrderResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/PSD2/paymentsApprovals/{paymentId}" : {
      "put" : {
        "summary" : "Creates the payment transfer",
        "description" : "Creates the funds transfer payment from the initiated transfer request",
        "operationId" : "approvePayment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Indicates the unique reference number of the payment",
          "required" : true,
          "type" : "string",
          "x-example" : "FT19085DGC3V"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Payment"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/PSD2/payments/{paymentId}/subResources" : {
      "get" : {
        "summary" : "Retrieves payment sub resource information",
        "description" : "Retrieves the sub resource information for a particular payment. For PSD2, this API is used by 'get Authorisations', 'get SCA Status of payment authorisations', 'get SCA status of payment cancellations' and 'getcancellations' published APIs in accordance to open banking standards.",
        "operationId" : "getSubResources",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Indicates the unique reference number of the payment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "subResourceType",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "x-example" : "AUTH"
        }, {
          "name" : "subResourceId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SubResourcesResponse",
            "schema" : {
              "$ref" : "#/definitions/SubResourcesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/PSD2/paymentsInitiation/{paymentId}" : {
      "delete" : {
        "summary" : "Cancels a payment that has been initiated ",
        "description" : "Cancels a payment request that was initiated and updates the transaction status to CANC. For PSD2 this API can be linked to 'deletePayment' published API in accordance to open banking standards to delete an unauthorised payment.",
        "operationId" : "deletePaymentInitiation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Indicates the unique reference number of the payment",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PaymentInitiationDelete"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentInitiationResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentInitiationResponse1"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "PaymentResource" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentResourceBody"
        }
      },
      "description" : "PaymentResource",
      "example" : {
        "header" : {
          "audit" : {
            "versionNumber" : ""
          },
          "override" : {
            "overrideDetails" : [ {
              "description" : "",
              "id" : "",
              "responseCode" : ""
            } ]
          }
        },
        "body" : {
          "failureRedirectURL" : "",
          "scaStatus" : "RECEIVED",
          "successRedirectURL" : "",
          "trustedBeneficiary" : "",
          "scaExempt" : "",
          "certificate" : "",
          "subResourceIds" : [ {
            "subResourceScaStatus" : "",
            "subResourceCaptureMethod" : "",
            "subResourceId" : "",
            "subResourceRequestId" : ""
          } ],
          "externalPaymentStatus" : "",
          "scaHint" : "TEST",
          "globalURN" : "TEST",
          "defaultRedirectURL" : "",
          "externalStatusReason" : "",
          "thirdpartyprovider" : "TEST",
          "customerId" : "",
          "authorisationKey" : "",
          "paymentStatus" : "RCVD"
        }
      }
    },
    "PaymentResourceBody" : {
      "type" : "object",
      "properties" : {
        "subResourceIds" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "subResourceId" : {
                "type" : "string",
                "description" : "Contains the sub resource identifier which is constructed of the payment Id, status of the payment and sequence number during authorisation or deletion of a payment. Applies to both implicit & explicit payment workflows. For example: FT0003003-AUTH-1",
                "maxLength" : 25
              },
              "subResourceScaStatus" : {
                "type" : "string",
                "description" : "Contains the SCA(Strong Customer Authentication) status of a sub resource linked to a payment transaction. For example: received,started,finalised,exempted,psuIdentified etc.",
                "maxLength" : 25
              },
              "subResourceCaptureMethod" : {
                "type" : "string",
                "description" : "Specifies whether the payment was automatically created by the system (AUTO / Implicit) or based on a TPP (third party provider) request (TPP / Explicit)  ",
                "maxLength" : 25
              },
              "subResourceRequestId" : {
                "type" : "string",
                "description" : "Specifes if the sub-resource is created by a TPP (third party provider), this contains the incoming X-Request-ID which created it.",
                "maxLength" : 25
              }
            }
          }
        },
        "globalURN" : {
          "type" : "string",
          "description" : "globalURNSpecifies the GLOBAL.URN reference of the TPP (third party provider). This will be retrieved from the request and should match a GLOBAL.URN from a record within the Open Banking Directory.",
          "maxLength" : 25
        },
        "thirdpartyprovider" : {
          "type" : "string",
          "description" : "Contains the TPP (third party provider) name or text of the TPP reference",
          "maxLength" : 125
        },
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "maxLength" : 25
        },
        "scaHint" : {
          "type" : "string",
          "description" : "Specifies whether the SCA (strong customer authentication) is required or not. For example: scaRequired, scaNotRequired.",
          "maxLength" : 25
        },
        "paymentStatus" : {
          "type" : "string",
          "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent.",
          "maxLength" : 25
        },
        "scaStatus" : {
          "type" : "string",
          "description" : "Contains the status of the strong customer authentication process for the payment or consent. Valid values are received, psuIdentified, scaMethodSelected, started, finalised or failed",
          "maxLength" : 25
        },
        "defaultRedirectURL" : {
          "type" : "string",
          "description" : "Default redirection URL provided by the TPP (third party provider).",
          "maxLength" : 25
        },
        "successRedirectURL" : {
          "type" : "string",
          "description" : "successRedirectURL",
          "maxLength" : 25
        },
        "failureRedirectURL" : {
          "type" : "string",
          "description" : "Contains the default redirection URL provided by the TPP (third party provider) for a failed or cancelled payment in the case where TPP specifies different URLs for different payment outcomes.",
          "maxLength" : 25
        },
        "externalPaymentStatus" : {
          "type" : "string",
          "description" : "Status of the payment when the payment processing system is external",
          "maxLength" : 25
        },
        "externalStatusReason" : {
          "type" : "string",
          "description" : "Status reason of the payment when the payment processing system is external",
          "maxLength" : 25
        },
        "trustedBeneficiary" : {
          "type" : "string",
          "description" : "Indicator to determine whether the credit account number belongs to one of the customer's trusted beneficiaries. Contains TRUE/FALSE.",
          "maxLength" : 25
        },
        "scaExempt" : {
          "type" : "string",
          "description" : "Indicates actual SCA(Strong Customer Authentication) status of the payment. Possible values YES or NO.",
          "maxLength" : 25
        },
        "authorisationKey" : {
          "type" : "string",
          "maxLength" : 25
        },
        "certificate" : {
          "type" : "string",
          "maxLength" : 25
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "PaymentResourceResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentResourceResponseBody"
        }
      },
      "description" : "PaymentResourceResponse"
    },
    "PaymentResourceResponseBody" : {
      "type" : "object",
      "properties" : {
        "subResourceIds" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "subResourceId" : {
                "type" : "string",
                "description" : "Contains the sub resource identifier which is constructed of the payment Id, status of the payment and sequence number during authorisation or deletion of a payment. Applies to both implicit & explicit payment workflows. For example: FT0003003-AUTH-1",
                "maxLength" : 25
              },
              "subResourceScaStatus" : {
                "type" : "string",
                "description" : "Contains the SCA(Strong Customer Authentication) status of a sub resource linked to a payment transaction. For example: received,started,finalised,exempted,psuIdentified etc.",
                "maxLength" : 25
              },
              "subResourceCaptureMethod" : {
                "type" : "string",
                "description" : "Specifies whether the payment was automatically created by the system (AUTO / Implicit) or based on a TPP (third party provider) request (TPP / Explicit)  ",
                "maxLength" : 25
              },
              "subResourceRequestId" : {
                "type" : "string",
                "description" : "Specifes if the sub-resource is created by a TPP (third party provider), this contains the incoming X-Request-ID which created it.",
                "maxLength" : 25
              }
            }
          }
        },
        "globalURN" : {
          "type" : "string",
          "description" : "globalURNSpecifies the GLOBAL.URN reference of the TPP (third party provider). This will be retrieved from the request and should match a GLOBAL.URN from a record within the Open Banking Directory.",
          "maxLength" : 25
        },
        "thirdpartyprovider" : {
          "type" : "string",
          "description" : "Contains the TPP (third party provider) name or text of the TPP reference",
          "maxLength" : 125
        },
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "maxLength" : 25
        },
        "scaHint" : {
          "type" : "string",
          "description" : "Specifies whether the SCA (strong customer authentication) is required or not. For example: scaRequired, scaNotRequired.",
          "maxLength" : 25
        },
        "paymentStatus" : {
          "type" : "string",
          "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent.",
          "maxLength" : 25
        },
        "scaStatus" : {
          "type" : "string",
          "description" : "Contains the status of the strong customer authentication process for the payment or consent. Valid values are received, psuIdentified, scaMethodSelected, started, finalised or failed",
          "maxLength" : 25
        },
        "defaultRedirectURL" : {
          "type" : "string",
          "description" : "Default redirection URL provided by the TPP (third party provider).",
          "maxLength" : 25
        },
        "successRedirectURL" : {
          "type" : "string",
          "description" : "successRedirectURL",
          "maxLength" : 25
        },
        "failureRedirectURL" : {
          "type" : "string",
          "description" : "Contains the default redirection URL provided by the TPP (third party provider) for a failed or cancelled payment in the case where TPP specifies different URLs for different payment outcomes.",
          "maxLength" : 25
        },
        "externalPaymentStatus" : {
          "type" : "string",
          "description" : "Status of the payment when the payment processing system is external",
          "maxLength" : 25
        },
        "externalStatusReason" : {
          "type" : "string",
          "description" : "Status reason of the payment when the payment processing system is external",
          "maxLength" : 25
        },
        "trustedBeneficiary" : {
          "type" : "string",
          "description" : "Indicator to determine whether the credit account number belongs to one of the customer's trusted beneficiaries. Contains TRUE/FALSE.",
          "maxLength" : 25
        },
        "scaExempt" : {
          "type" : "string",
          "description" : "Indicates actual SCA(Strong Customer Authentication) status of the payment. Possible values YES or NO.",
          "maxLength" : 25
        },
        "authorisationKey" : {
          "type" : "string",
          "maxLength" : 25
        },
        "certificate" : {
          "type" : "string",
          "maxLength" : 25
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "PaymentInitiation" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentInitiationBody"
        }
      },
      "description" : "PaymentInitiation"
    },
    "PaymentInitiationBody" : {
      "type" : "object",
      "properties" : {
        "benName" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "debitAccountId" : {
                "type" : "string",
                "description" : "Indicates the debit account number of the payment or transaction.",
                "maxLength" : 55
              },
              "beneficiaryName" : {
                "type" : "string",
                "description" : "Short title or short name of the beneficiary account account",
                "maxLength" : 55
              },
              "beneficiaryAccountId" : {
                "type" : "string",
                "description" : "Unique account identifier of the beneficiary account number.",
                "maxLength" : 55
              }
            }
          }
        },
        "benAddressLine" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryIBAN" : {
                "type" : "string",
                "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
                "maxLength" : 55
              },
              "beneficiaryAddressLine1" : {
                "type" : "string",
                "description" : "Address of the beneficiary or credit account.",
                "maxLength" : 55
              },
              "beneficiaryCountryId" : {
                "type" : "string",
                "description" : "Country of the beneficiary account number. For example: US, IN, EU",
                "maxLength" : 55
              }
            }
          }
        },
        "benTown" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddressCity" : {
                "type" : "string",
                "description" : "City of the beneficiary account. For example: London, Dallas etc.",
                "maxLength" : 55
              }
            }
          }
        },
        "acctWithBk" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "creditorAgentBIC" : {
                "type" : "string",
                "description" : "BIC(Business Identifier Code) code used by an agent in a payment transaction. The BIC consists of 8 or 11 alphanumeric characters, comprising a Business party prefix (previous institution code), country code, business party suffix and branch identifier. The BIC Code structure is defined by the international standard under ISO 9362:2014 and country code ISO 3166-1. BIC Codes Examples: BARCGB22XXX or DEUTDEFFXXX or BNPAFRPPXXX",
                "maxLength" : 55
              },
              "creditorAgentNationalCode" : {
                "type" : "string",
                "description" : "National code of the creditor account. For example: EU, US etc.",
                "maxLength" : 55
              }
            }
          }
        },
        "remittanceInformation" : {
          "type" : "array",
          "description" : "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
          "items" : {
            "type" : "object",
            "properties" : {
              "creditReference" : {
                "type" : "string",
                "description" : "Reference quoted by the credit account for a payment",
                "maxLength" : 55
              },
              "paymentDetail" : {
                "type" : "string",
                "description" : "Indicates the payment details for the beneficiary to apply the payment.",
                "maxLength" : 55
              },
              "chargeBearer" : {
                "type" : "string",
                "description" : "Bearer of the charges of the order. For example: BEN(All transaction charges are to be borne by the beneficiary customer.), OUR(All transaction charges are to be borne by the ordering customer.), SHA(Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
                "maxLength" : 55
              }
            }
          }
        },
        "creditCurrencyId" : {
          "type" : "string",
          "description" : "Specifies the credit currency. For example: USD, EUR etc.",
          "maxLength" : 55
        },
        "creditAmount" : {
          "type" : "string",
          "description" : "Amount to be credited in a payment transaction",
          "maxLength" : 55
        },
        "executionDate" : {
          "type" : "string",
          "description" : "Date on which the transaction or payment gets processed, i.e. the processing date of the transaction.",
          "maxLength" : 55
        },
        "debitReference" : {
          "type" : "string",
          "description" : "Reference for debit party of a payment transaction",
          "maxLength" : 55
        }
      }
    },
    "PaymentInitiationResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentInitiationResponseBody"
        }
      },
      "description" : "PaymentInitiationResponse"
    },
    "PaymentInitiationResponseBody" : {
      "type" : "object",
      "properties" : {
        "benName" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "debitAccountId" : {
                "type" : "string",
                "description" : "Indicates the debit account number of the payment or transaction.",
                "maxLength" : 55
              },
              "beneficiaryName" : {
                "type" : "string",
                "description" : "Short title or short name of the beneficiary account account",
                "maxLength" : 55
              },
              "beneficiaryAccountId" : {
                "type" : "string",
                "description" : "Unique account identifier of the beneficiary account number.",
                "maxLength" : 55
              }
            }
          }
        },
        "benAddressLine" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryIBAN" : {
                "type" : "string",
                "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
                "maxLength" : 55
              },
              "beneficiaryAddressLine1" : {
                "type" : "string",
                "description" : "Address of the beneficiary or credit account.",
                "maxLength" : 55
              },
              "beneficiaryCountryId" : {
                "type" : "string",
                "description" : "Country of the beneficiary account number. For example: US, IN, EU",
                "maxLength" : 55
              }
            }
          }
        },
        "benTown" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddressCity" : {
                "type" : "string",
                "description" : "City of the beneficiary account. For example: London, Dallas etc.",
                "maxLength" : 55
              }
            }
          }
        },
        "acctWithBk" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "creditorAgentBIC" : {
                "type" : "string",
                "description" : "BIC(Business Identifier Code) code used by an agent in a payment transaction. The BIC consists of 8 or 11 alphanumeric characters, comprising a Business party prefix (previous institution code), country code, business party suffix and branch identifier. The BIC Code structure is defined by the international standard under ISO 9362:2014 and country code ISO 3166-1. BIC Codes Examples: BARCGB22XXX or DEUTDEFFXXX or BNPAFRPPXXX",
                "maxLength" : 55
              },
              "creditorAgentNationalCode" : {
                "type" : "string",
                "description" : "National code of the creditor account. For example: EU, US etc.",
                "maxLength" : 55
              }
            }
          }
        },
        "remittanceInformation" : {
          "type" : "array",
          "description" : "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
          "items" : {
            "type" : "object",
            "properties" : {
              "creditReference" : {
                "type" : "string",
                "description" : "Reference quoted by the credit account for a payment",
                "maxLength" : 55
              },
              "paymentDetail" : {
                "type" : "string",
                "description" : "Indicates the payment details for the beneficiary to apply the payment.",
                "maxLength" : 55
              },
              "chargeBearer" : {
                "type" : "string",
                "description" : "Bearer of the charges of the order. For example: BEN(All transaction charges are to be borne by the beneficiary customer.), OUR(All transaction charges are to be borne by the ordering customer.), SHA(Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
                "maxLength" : 55
              }
            }
          }
        },
        "creditCurrencyId" : {
          "type" : "string",
          "description" : "Specifies the credit currency. For example: USD, EUR etc.",
          "maxLength" : 55
        },
        "creditAmount" : {
          "type" : "string",
          "description" : "Amount to be credited in a payment transaction",
          "maxLength" : 55
        },
        "executionDate" : {
          "type" : "string",
          "description" : "Date on which the transaction or payment gets processed, i.e. the processing date of the transaction.",
          "maxLength" : 55
        },
        "debitReference" : {
          "type" : "string",
          "description" : "Reference for debit party of a payment transaction",
          "maxLength" : 55
        }
      }
    },
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "PaymentStatusResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentStatusResponseBody"
        }
      },
      "description" : "PaymentStatusResponse"
    },
    "PaymentStatusResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "debtorReference" : {
            "type" : "string",
            "description" : "Reference number for the debit side of the transaction."
          },
          "debitAccountId" : {
            "type" : "string",
            "description" : "Indicates the debit account number of the payment or transaction."
          },
          "debitAmount" : {
            "type" : "string",
            "description" : "Amount to be debited in a payment transaction"
          },
          "debitAccountIBAN" : {
            "type" : "string",
            "description" : "International Bank Account Number (IBAN) of the debtor account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189"
          },
          "debitCurrency" : {
            "type" : "string",
            "description" : "Currency of the debit account. For example: USD, EUR etc."
          },
          "payoutSortCode" : {
            "type" : "string",
            "description" : "Contains the bank sort code or iban branch identifier for the settlement account"
          },
          "availableBalance" : {
            "type" : "string",
            "description" : "Available balance of the account which is the projected balance which includes the net movements of both debits and credits against the account."
          },
          "creditorName" : {
            "type" : "string",
            "description" : "Name or short title of the credit account"
          },
          "creditAccountId" : {
            "type" : "string",
            "description" : "Credit account identifier of the payment or transaction"
          },
          "creditAmount" : {
            "type" : "string",
            "description" : "Amount to be credited in a payment transaction"
          },
          "creditCurrency" : {
            "type" : "string",
            "description" : "Currency of the account which funds will be transferred to."
          },
          "payInSortCode" : {
            "type" : "string",
            "description" : "Contains the bank sort code or iban branch identifier for the credit account"
          },
          "street" : {
            "type" : "string",
            "description" : "Contains the first line of customer's base address, example building number, street number etc."
          },
          "addressDetail" : {
            "type" : "string",
            "description" : "Additional address information, e.g. Contact Person. Building, Floor, Apartment, Street Number, Street Name, Town, Area, Code"
          },
          "city" : {
            "type" : "string",
            "description" : "City address stated on driver licence or utlility bill. For example London, New York etc."
          },
          "postCode" : {
            "type" : "string",
            "description" : "Identifies the address postal code for the customer."
          },
          "country" : {
            "type" : "string",
            "description" : "Identifies the country of the customer."
          },
          "debitValueDate" : {
            "type" : "string",
            "description" : "Date on which the amount will be debited for settlement"
          },
          "creditValueDate" : {
            "type" : "string",
            "description" : "Reference quoted by the credit account for a payment"
          },
          "executionDate" : {
            "type" : "string",
            "description" : "Date on which the transaction or payment gets processed, i.e. the processing date of the transaction."
          },
          "currentFrequency" : {
            "type" : "string",
            "description" : "Indicates the current frequency of the standing order"
          },
          "currentEndDate" : {
            "type" : "string",
            "description" : "Identifies the current end date of the standing order for the currency, amount and frequency specified. When the bank has received from the customer clear instructions which stipulate that the standing order must  only be executed during a determined period of time.  This is the date of the last execution of the standing order or when the customer has requested the bank to pay a certain amount during a determined period of time and then another amount starting from that date. In this case, this field specifies the end date of the first standing order amount.  After that date the second amount will then be executed."
          },
          "description" : {
            "type" : "string",
            "description" : "Contains the description of purpose of the payment."
          },
          "exchangeRate" : {
            "type" : "string",
            "description" : "Contains the exchange rate returned from the system. i.e. For entries over foreign currency accounts, this contains the rate which used to convert the currency amount to the local equivalent at the time of the originating transaction."
          },
          "chargeAmount" : {
            "type" : "string",
            "description" : "Retrieves the Charge Amount after redeem"
          },
          "chargeCurrency" : {
            "type" : "string",
            "description" : "Indicates the currency code of the charge account from where the fee is deducted"
          },
          "beneficiaryOurCharges" : {
            "type" : "string",
            "description" : "Indicates the bearer of the charges. For example: BEN( All transaction charges are to be borne by the beneficiary customer.), OUR (All transaction charges are to be borne by the ordering customer.), SHA (Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)"
          },
          "chargeCode" : {
            "type" : "string",
            "description" : "Indicates the charge code to which the charges are identified and calculated and to be debited to the customer account. For example: C(Credit less Charges The Credit less Charges), D(Debit plus Charge The Debit plus Charge) , W(Waive)."
          },
          "chargeType" : {
            "type" : "string",
            "description" : "Indicates the charge types which are applicable for the transaction. Example: CORRBKCHG"
          },
          "commissionAmount" : {
            "type" : "string",
            "description" : "Amount of commission charged for the payment created with respect to the commission type used."
          },
          "commissionCurrency" : {
            "type" : "string",
            "description" : "Currency of the account from which commission is deducted. For example: USD, EUR, GBP etc."
          },
          "taxAmount" : {
            "type" : "string",
            "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment."
          },
          "taxCurrency" : {
            "type" : "string",
            "description" : "Contains the currency that tax is to be levied in. Example USD, GBP etc."
          },
          "remittanceInformation" : {
            "type" : "string",
            "description" : "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form."
          },
          "trustedBeneficiary" : {
            "type" : "string",
            "description" : "Indicator to determine whether the credit account number belongs to one of the customer's trusted beneficiaries. Contains TRUE/FALSE."
          },
          "paymentStatus" : {
            "type" : "string",
            "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
          },
          "scaStatus" : {
            "type" : "string",
            "description" : "Contains the status of the strong customer authentication process for the payment or consent. Valid values are received, psuIdentified, scaMethodSelected, started, finalised or failed"
          },
          "transactionType" : {
            "type" : "string",
            "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc."
          },
          "startDate" : {
            "type" : "string",
            "description" : "Contains the date on which the transaction or payment gets initiated."
          },
          "frequency" : {
            "type" : "string",
            "description" : "Specifies the frequency in which the payment application(periodic payments) execute the payment instruction."
          },
          "tppName" : {
            "type" : "string",
            "description" : "Indicates the name of the third party provider."
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "SEPAPaymentInitiation" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SEPAPaymentInitiationBody"
        }
      },
      "description" : "SEPAPaymentInitiation",
      "example" : {
        "header" : {
          "audit" : {
            "versionNumber" : ""
          },
          "override" : {
            "overrideDetails" : [ {
              "description" : "",
              "id" : "",
              "responseCode" : ""
            } ]
          }
        },
        "body" : {
          "creditorAddresses" : [ {
            "creditorAddress" : ""
          } ],
          "creditorName" : "TEST",
          "purpose" : "",
          "endToEndReference" : "TEST",
          "creditCurrencyId" : "EUR",
          "chargeType" : "",
          "executionDate" : "",
          "structuredCreditorReference" : "",
          "debitAccountId" : "14044",
          "paymentDetail" : "",
          "chargeAmount" : "",
          "creditAccountId" : "FR7614006000000209615304162",
          "creditorAgentBIC" : "AGRIGPGX",
          "creditAmount" : "10"
        }
      }
    },
    "SEPAPaymentInitiationBody" : {
      "type" : "object",
      "properties" : {
        "creditorAddresses" : {
          "type" : "array",
          "description" : "Address of the creditor or beneficiary account",
          "items" : {
            "type" : "object",
            "properties" : {
              "creditorAddress" : {
                "type" : "string",
                "description" : "Address of the creditor or beneficiary account",
                "maxLength" : 55
              }
            }
          }
        },
        "endToEndReference" : {
          "type" : "string",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment.",
          "maxLength" : 55
        },
        "debitAccountId" : {
          "type" : "string",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "maxLength" : 55
        },
        "creditAmount" : {
          "type" : "string",
          "description" : "Amount to be credited in a payment transaction",
          "maxLength" : 55
        },
        "creditCurrencyId" : {
          "type" : "string",
          "description" : "Specifies the credit currency. For example: USD, EUR etc.",
          "maxLength" : 55
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "Credit account identifier of the payment or transaction",
          "maxLength" : 55
        },
        "creditorName" : {
          "type" : "string",
          "description" : "Name or short title of the credit account",
          "maxLength" : 55
        },
        "creditorAgentBIC" : {
          "type" : "string",
          "description" : "BIC(Business Identifier Code) code used by an agent in a payment transaction. The BIC consists of 8 or 11 alphanumeric characters, comprising a Business party prefix (previous institution code), country code, business party suffix and branch identifier. The BIC Code structure is defined by the international standard under ISO 9362:2014 and country code ISO 3166-1. BIC Codes Examples: BARCGB22XXX or DEUTDEFFXXX or BNPAFRPPXXX",
          "maxLength" : 55
        },
        "purpose" : {
          "type" : "string",
          "description" : "Purpose identifier of the payment or transaction, for SEPA payments in general.",
          "maxLength" : 55
        },
        "chargeType" : {
          "type" : "string",
          "description" : "Indicates the charge types which are applicable for the transaction. Example: CORRBKCHG",
          "maxLength" : 55
        },
        "chargeAmount" : {
          "type" : "string",
          "description" : "Retrieves the Charge Amount after redeem",
          "maxLength" : 55
        },
        "paymentDetail" : {
          "type" : "string",
          "description" : "Indicates the payment details for the beneficiary to apply the payment.",
          "maxLength" : 55
        },
        "structuredCreditorReference" : {
          "type" : "string",
          "description" : "Contains description of the credit account reference",
          "maxLength" : 55
        },
        "executionDate" : {
          "type" : "string",
          "description" : "Date on which the transaction or payment gets processed, i.e. the processing date of the transaction.",
          "maxLength" : 55
        }
      }
    },
    "SEPAPaymentInitiationResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SEPAPaymentInitiationResponseBody"
        }
      },
      "description" : "SEPAPaymentInitiationResponse"
    },
    "SEPAPaymentInitiationResponseBody" : {
      "type" : "object",
      "properties" : {
        "creditorAddresses" : {
          "type" : "array",
          "description" : "Address of the creditor or beneficiary account",
          "items" : {
            "type" : "object",
            "properties" : {
              "creditorAddress" : {
                "type" : "string",
                "description" : "Address of the creditor or beneficiary account",
                "maxLength" : 55
              }
            }
          }
        },
        "endToEndReference" : {
          "type" : "string",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment.",
          "maxLength" : 55
        },
        "debitAccountId" : {
          "type" : "string",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "maxLength" : 55
        },
        "creditAmount" : {
          "type" : "string",
          "description" : "Amount to be credited in a payment transaction",
          "maxLength" : 55
        },
        "creditCurrencyId" : {
          "type" : "string",
          "description" : "Specifies the credit currency. For example: USD, EUR etc.",
          "maxLength" : 55
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "Credit account identifier of the payment or transaction",
          "maxLength" : 55
        },
        "creditorName" : {
          "type" : "string",
          "description" : "Name or short title of the credit account",
          "maxLength" : 55
        },
        "creditorAgentBIC" : {
          "type" : "string",
          "description" : "BIC(Business Identifier Code) code used by an agent in a payment transaction. The BIC consists of 8 or 11 alphanumeric characters, comprising a Business party prefix (previous institution code), country code, business party suffix and branch identifier. The BIC Code structure is defined by the international standard under ISO 9362:2014 and country code ISO 3166-1. BIC Codes Examples: BARCGB22XXX or DEUTDEFFXXX or BNPAFRPPXXX",
          "maxLength" : 55
        },
        "purpose" : {
          "type" : "string",
          "description" : "Purpose identifier of the payment or transaction, for SEPA payments in general.",
          "maxLength" : 55
        },
        "chargeType" : {
          "type" : "string",
          "description" : "Indicates the charge types which are applicable for the transaction. Example: CORRBKCHG",
          "maxLength" : 55
        },
        "chargeAmount" : {
          "type" : "string",
          "description" : "Retrieves the Charge Amount after redeem",
          "maxLength" : 55
        },
        "paymentDetail" : {
          "type" : "string",
          "description" : "Indicates the payment details for the beneficiary to apply the payment.",
          "maxLength" : 55
        },
        "structuredCreditorReference" : {
          "type" : "string",
          "description" : "Contains description of the credit account reference",
          "maxLength" : 55
        },
        "executionDate" : {
          "type" : "string",
          "description" : "Date on which the transaction or payment gets processed, i.e. the processing date of the transaction.",
          "maxLength" : 55
        }
      }
    },
    "SEPAStandingOrderInitiation" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SEPAStandingOrderInitiationBody"
        }
      },
      "description" : "SEPAStandingOrderInitiation",
      "example" : {
        "header" : {
          "audit" : {
            "versionNumber" : ""
          },
          "override" : {
            "overrideDetails" : [ {
              "description" : "",
              "id" : "",
              "responseCode" : ""
            } ]
          }
        },
        "body" : {
          "creditorAddress" : [ {
            "beneficiaryAddress" : ""
          } ],
          "paymentDetail" : "test",
          "debitCurrency" : "GBP",
          "ultimateCreditor" : "TEST",
          "endToEndReference" : "TEST",
          "beneficiaryIBAN" : "FR7614006000000209615304162",
          "currentEndDate" : "",
          "instructionIdReference" : "",
          "currentAmountBalance" : "10",
          "BIC" : "AGRIGPGX",
          "currentFrequencyDate" : "20190418 e0Y e0M e0W e1D e0F",
          "beneficiaryOurCharges" : ""
        }
      }
    },
    "SEPAStandingOrderInitiationBody" : {
      "type" : "object",
      "properties" : {
        "creditorAddress" : {
          "type" : "array",
          "description" : "Address of the creditor or beneficiary account",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddress" : {
                "type" : "string",
                "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
                "maxLength" : 55
              }
            }
          }
        },
        "endToEndReference" : {
          "type" : "string",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment.",
          "maxLength" : 55
        },
        "beneficiaryIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "maxLength" : 55
        },
        "BIC" : {
          "type" : "string",
          "description" : "The BIC code of the Beneficiary bank",
          "maxLength" : 55
        },
        "ultimateCreditor" : {
          "type" : "string",
          "description" : "Contains the actual creditor account number",
          "maxLength" : 55
        },
        "instructionIdReference" : {
          "type" : "string",
          "description" : "Indicates the SEPA purpose of the SEPA Payment",
          "maxLength" : 55
        },
        "paymentDetail" : {
          "type" : "string",
          "description" : "Indicates the payment details for the beneficiary to apply the payment.",
          "maxLength" : 55
        },
        "currentFrequencyDate" : {
          "type" : "string",
          "description" : "Indicates the date based on current frequency",
          "maxLength" : 55
        },
        "currentEndDate" : {
          "type" : "string",
          "description" : "Identifies the current end date of the standing order for the currency, amount and frequency specified. When the bank has received from the customer clear instructions which stipulate that the standing order must  only be executed during a determined period of time.  This is the date of the last execution of the standing order or when the customer has requested the bank to pay a certain amount during a determined period of time and then another amount starting from that date. In this case, this field specifies the end date of the first standing order amount.  After that date the second amount will then be executed.",
          "maxLength" : 55
        },
        "debitCurrency" : {
          "type" : "string",
          "description" : "Currency of the debit account. For example: USD, EUR etc.",
          "maxLength" : 55
        },
        "currentAmountBalance" : {
          "type" : "string",
          "description" : "Indicates the amount of the Standing Order.Incase of Balance Maintenance Standing Order, this field will define the Balance to be maintained in the Account.",
          "maxLength" : 55
        },
        "beneficiaryOurCharges" : {
          "type" : "string",
          "description" : "Indicates the bearer of the charges. For example: BEN( All transaction charges are to be borne by the beneficiary customer.), OUR (All transaction charges are to be borne by the ordering customer.), SHA (Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
          "maxLength" : 55
        }
      }
    },
    "SEPAStandingOrderInitiationResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SEPAStandingOrderInitiationResponseBody"
        }
      },
      "description" : "SEPAStandingOrderInitiationResponse"
    },
    "SEPAStandingOrderInitiationResponseBody" : {
      "type" : "object",
      "properties" : {
        "creditorAddress" : {
          "type" : "array",
          "description" : "Address of the creditor or beneficiary account",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddress" : {
                "type" : "string",
                "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
                "maxLength" : 55
              }
            }
          }
        },
        "endToEndReference" : {
          "type" : "string",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment.",
          "maxLength" : 55
        },
        "beneficiaryIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "maxLength" : 55
        },
        "BIC" : {
          "type" : "string",
          "description" : "The BIC code of the Beneficiary bank",
          "maxLength" : 55
        },
        "ultimateCreditor" : {
          "type" : "string",
          "description" : "Contains the actual creditor account number",
          "maxLength" : 55
        },
        "instructionIdReference" : {
          "type" : "string",
          "description" : "Indicates the SEPA purpose of the SEPA Payment",
          "maxLength" : 55
        },
        "paymentDetail" : {
          "type" : "string",
          "description" : "Indicates the payment details for the beneficiary to apply the payment.",
          "maxLength" : 55
        },
        "currentFrequencyDate" : {
          "type" : "string",
          "description" : "Indicates the date based on current frequency",
          "maxLength" : 55
        },
        "currentEndDate" : {
          "type" : "string",
          "description" : "Identifies the current end date of the standing order for the currency, amount and frequency specified. When the bank has received from the customer clear instructions which stipulate that the standing order must  only be executed during a determined period of time.  This is the date of the last execution of the standing order or when the customer has requested the bank to pay a certain amount during a determined period of time and then another amount starting from that date. In this case, this field specifies the end date of the first standing order amount.  After that date the second amount will then be executed.",
          "maxLength" : 55
        },
        "debitCurrency" : {
          "type" : "string",
          "description" : "Currency of the debit account. For example: USD, EUR etc.",
          "maxLength" : 55
        },
        "currentAmountBalance" : {
          "type" : "string",
          "description" : "Indicates the amount of the Standing Order.Incase of Balance Maintenance Standing Order, this field will define the Balance to be maintained in the Account.",
          "maxLength" : 55
        },
        "beneficiaryOurCharges" : {
          "type" : "string",
          "description" : "Indicates the bearer of the charges. For example: BEN( All transaction charges are to be borne by the beneficiary customer.), OUR (All transaction charges are to be borne by the ordering customer.), SHA (Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
          "maxLength" : 55
        }
      }
    },
    "PSD2StandingOrderInitiation" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PSD2StandingOrderInitiationBody"
        }
      },
      "description" : "PSD2StandingOrderInitiation"
    },
    "PSD2StandingOrderInitiationBody" : {
      "type" : "object",
      "properties" : {
        "creditorAddresses" : {
          "type" : "array",
          "description" : "Address of the creditor or beneficiary account",
          "items" : {
            "type" : "object",
            "properties" : {
              "creditorAddress" : {
                "type" : "string",
                "description" : "Address of the creditor or beneficiary account",
                "maxLength" : 55
              }
            }
          }
        },
        "currency" : {
          "type" : "string",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "maxLength" : 55
        },
        "instructedAmount" : {
          "type" : "string",
          "description" : "Specifies the amount which is allocated or instructed for the account reference included in the selection for a specific transaction.",
          "maxLength" : 55
        },
        "currentFrequencyDate" : {
          "type" : "string",
          "description" : "Indicates the date based on current frequency",
          "maxLength" : 55
        },
        "dateAdjustment" : {
          "type" : "string",
          "description" : "Defines the behavior when recurring payment dates falls on a weekend or bank holiday. The payment is then executed either the 'preceding' or 'following' working day. ASPSP might reject the request due to the communicated value, if rules in Online-Banking are not supporting this execution rule.",
          "maxLength" : 55
        },
        "currentEndDate" : {
          "type" : "string",
          "description" : "Identifies the current end date of the standing order for the currency, amount and frequency specified. When the bank has received from the customer clear instructions which stipulate that the standing order must  only be executed during a determined period of time.  This is the date of the last execution of the standing order or when the customer has requested the bank to pay a certain amount during a determined period of time and then another amount starting from that date. In this case, this field specifies the end date of the first standing order amount.  After that date the second amount will then be executed.",
          "maxLength" : 55
        },
        "creditorName" : {
          "type" : "string",
          "description" : "Name or short title of the credit account",
          "maxLength" : 55
        },
        "beneficiaryAccountId" : {
          "type" : "string",
          "description" : "Unique account identifier of the beneficiary account number.",
          "maxLength" : 55
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "Credit account identifier of the payment or transaction",
          "maxLength" : 55
        },
        "creditorAgent" : {
          "type" : "string",
          "description" : "Available balance of account",
          "maxLength" : 55
        },
        "beneficiaryOurCharges" : {
          "type" : "string",
          "description" : "Indicates the bearer of the charges. For example: BEN( All transaction charges are to be borne by the beneficiary customer.), OUR (All transaction charges are to be borne by the ordering customer.), SHA (Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
          "maxLength" : 55
        },
        "beneficiaryIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "maxLength" : 55
        },
        "paymentDetail" : {
          "type" : "string",
          "description" : "Indicates the payment details for the beneficiary to apply the payment.",
          "maxLength" : 55
        }
      }
    },
    "PSD2StandingOrderInitiationResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PSD2StandingOrderInitiationResponseBody"
        }
      },
      "description" : "PSD2StandingOrderInitiationResponse"
    },
    "PSD2StandingOrderInitiationResponseBody" : {
      "type" : "object",
      "properties" : {
        "creditorAddresses" : {
          "type" : "array",
          "description" : "Address of the creditor or beneficiary account",
          "items" : {
            "type" : "object",
            "properties" : {
              "creditorAddress" : {
                "type" : "string",
                "description" : "Address of the creditor or beneficiary account",
                "maxLength" : 55
              }
            }
          }
        },
        "currency" : {
          "type" : "string",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "maxLength" : 55
        },
        "instructedAmount" : {
          "type" : "string",
          "description" : "Specifies the amount which is allocated or instructed for the account reference included in the selection for a specific transaction.",
          "maxLength" : 55
        },
        "currentFrequencyDate" : {
          "type" : "string",
          "description" : "Indicates the date based on current frequency",
          "maxLength" : 55
        },
        "dateAdjustment" : {
          "type" : "string",
          "description" : "Defines the behavior when recurring payment dates falls on a weekend or bank holiday. The payment is then executed either the 'preceding' or 'following' working day. ASPSP might reject the request due to the communicated value, if rules in Online-Banking are not supporting this execution rule.",
          "maxLength" : 55
        },
        "currentEndDate" : {
          "type" : "string",
          "description" : "Identifies the current end date of the standing order for the currency, amount and frequency specified. When the bank has received from the customer clear instructions which stipulate that the standing order must  only be executed during a determined period of time.  This is the date of the last execution of the standing order or when the customer has requested the bank to pay a certain amount during a determined period of time and then another amount starting from that date. In this case, this field specifies the end date of the first standing order amount.  After that date the second amount will then be executed.",
          "maxLength" : 55
        },
        "creditorName" : {
          "type" : "string",
          "description" : "Name or short title of the credit account",
          "maxLength" : 55
        },
        "beneficiaryAccountId" : {
          "type" : "string",
          "description" : "Unique account identifier of the beneficiary account number.",
          "maxLength" : 55
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "Credit account identifier of the payment or transaction",
          "maxLength" : 55
        },
        "creditorAgent" : {
          "type" : "string",
          "description" : "Available balance of account",
          "maxLength" : 55
        },
        "beneficiaryOurCharges" : {
          "type" : "string",
          "description" : "Indicates the bearer of the charges. For example: BEN( All transaction charges are to be borne by the beneficiary customer.), OUR (All transaction charges are to be borne by the ordering customer.), SHA (Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
          "maxLength" : 55
        },
        "beneficiaryIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189",
          "maxLength" : 55
        },
        "paymentDetail" : {
          "type" : "string",
          "description" : "Indicates the payment details for the beneficiary to apply the payment.",
          "maxLength" : 55
        }
      }
    },
    "PSD2StandingOrderInitiationDelete" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        }
      },
      "description" : "PSD2StandingOrderInitiationDelete"
    },
    "PSD2StandingOrderInitiationResponse1" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PSD2StandingOrderInitiationResponse1Body"
        }
      },
      "description" : "PSD2StandingOrderInitiationResponse1"
    },
    "PSD2StandingOrderInitiationResponse1Body" : {
      "type" : "object"
    },
    "PSD2StandingOrder" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PSD2StandingOrderBody"
        }
      },
      "description" : "PSD2StandingOrder"
    },
    "PSD2StandingOrderBody" : {
      "type" : "object"
    },
    "PSD2StandingOrderResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PSD2StandingOrderResponseBody"
        }
      },
      "description" : "PSD2StandingOrderResponse"
    },
    "PSD2StandingOrderResponseBody" : {
      "type" : "object"
    },
    "Payment" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentBody"
        }
      },
[...]
