{
  "swagger": "2.0",
  "info": {
    "description": "API to update actions on a specific product such as PROOF and PUBLISH",
    "version": "v1.0.0",
    "title": "Management of Products"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/product/productManagers/{productId}": {
      "put": {
        "summary": "Update the action for product",
        "description": "Update the action such as PROOF and PUBLISH for the specific product",
        "operationId": "updateProductManager",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Id of the product.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductManager"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ProductManagerResponse",
            "schema": {
              "$ref": "#/definitions/ProductManagerResponse"
            }
          },
          "400": {
            "description": "BusinessScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500": {
            "description": "SystemScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "PayloadHeader": {
      "properties": {
        "override": {
          "type": "object",
          "properties": {
            "overrideDetails": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier of the override"
                  },
                  "description": {
                    "type": "string",
                    "description": "The actual override message"
                  },
                  "responseCode": {
                    "type": "string",
                    "description": "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit": {
          "type": "object",
          "properties": {
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "ProductManager": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/ProductManagerBody"
        }
      },
      "description": "ProductManager"
    },
    "ProductManagerBody": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Name used for display or enrichment purposes"
        },
        "action": {
          "type": "string",
          "description": "Refers to view or cancel options."
        },
        "availableDate": {
          "type": "string",
          "format": "date",
          "description": "Date from which current product available"
        },
        "processMethod": {
          "type": "string",
          "description": "Suggesting the processing method actions Proof/Publish"
        }
      }
    },
    "ScreenHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "ProductManagerResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/ProductManagerResponseBody"
        }
      },
      "description": "ProductManagerResponse"
    },
    "ProductManagerResponseBody": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Name used for display or enrichment purposes"
        },
        "action": {
          "type": "string",
          "description": "Refers to view or cancel options."
        },
        "availableDate": {
          "type": "string",
          "format": "date",
          "description": "Date from which current product available"
        },
        "processMethod": {
          "type": "string",
          "description": "Suggesting the processing method actions Proof/Publish"
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody": {
      "properties": {
        "overrideDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier of the override"
              },
              "description": {
                "type": "string",
                "description": "The actual override message"
              },
              "options": {
                "type": "array",
                "description": "The usable options for the override",
                "items": {
                  "type": "string"
                }
              },
              "type": {
                "type": "string",
                "description": "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/ScreenErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message "
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemScreenErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    }
  }
}