{
  "swagger" : "2.0",
  "info" : {
    "description" : "List the Marketing Catalogues Products",
    "version" : "v1.0.0",
    "title" : "List the Marketing Catalogues Products"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/product/products" : {
      "get" : {
        "summary" : "Retrieves the list of Products available in Marketing Catalogue",
        "description" : "Retrieves the list of Products available in Marketing Catalogue",
        "operationId" : "getProductMarketingCatalogue",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ProductMarketingCatalogueResponse",
            "schema" : {
              "$ref" : "#/definitions/ProductMarketingCatalogueResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/products/savingsAccounts" : {
      "get" : {
        "summary" : "Retrieves the List of Savings Accounts related products from Marketing Catalogue",
        "description" : "Retrieves the List of Savings Accounts related products from Marketing Catalogue",
        "operationId" : "getSavingsAccountCatalog",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SavingsAccountCatalogResponse",
            "schema" : {
              "$ref" : "#/definitions/SavingsAccountCatalogResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/products/currentAccounts" : {
      "get" : {
        "summary" : "Retrieves the List of product related to Current Accounts Products",
        "description" : "Retrieves the List of product related to Current Accounts Products",
        "operationId" : "getCurrentAccountCatalog",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CurrentAccountCatalogResponse",
            "schema" : {
              "$ref" : "#/definitions/CurrentAccountCatalogResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/products/termDeposits" : {
      "get" : {
        "summary" : "Retrieves the List of products related to Term Deposit",
        "description" : "Retrieves the List of products related to Term Deposit",
        "operationId" : "getTermDepositsCatalog",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minTerm",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxTerm",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minAmount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "TermDepositsCatalogResponse",
            "schema" : {
              "$ref" : "#/definitions/TermDepositsCatalogResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/products/shortTermFinance" : {
      "get" : {
        "summary" : "Retrieves the List of Short term finance products from Catalogue",
        "description" : "Retrieves the List of Short term finance products from Catalogue",
        "operationId" : "getShortTermFinanceCatalog",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minTerm",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxTerm",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minAmount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxAmount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ShortTermFinanceCatalogResponse",
            "schema" : {
              "$ref" : "#/definitions/ShortTermFinanceCatalogResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/products/personalLoans" : {
      "get" : {
        "summary" : "Retrieves the List of Personal Loans Products from marketing catalogue",
        "description" : "Retrieves the List of Personal Loans Products from marketing catalogue",
        "operationId" : "getPersonalLoanCatalog",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minTerm",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxTerm",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minAmount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxAmount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PersonalLoanCatalogResponse",
            "schema" : {
              "$ref" : "#/definitions/PersonalLoanCatalogResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/products/mortgages" : {
      "get" : {
        "summary" : "Retrieves the List of Mortgage Products available in Marketing Catalogue",
        "description" : "Retrieves the List of Mortgage Products available in Marketing Catalogue",
        "operationId" : "getMortgageCatalog",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minTerm",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxTerm",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minAmount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxAmount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "MortgageCatalogResponse",
            "schema" : {
              "$ref" : "#/definitions/MortgageCatalogResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/products/homePurchase" : {
      "get" : {
        "summary" : "Retrieves the List of Home Purchase Products available from Marketing Catalogue",
        "description" : "Retrieves the List of Home Purchase Products available from Marketing Catalogue",
        "operationId" : "getHomePurchaseCatalog",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minTerm",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxTerm",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minAmount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxAmount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "HomePurchaseCatalogResponse",
            "schema" : {
              "$ref" : "#/definitions/HomePurchaseCatalogResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "ProductMarketingCatalogueResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ProductMarketingCatalogueResponseBody"
        }
      },
      "description" : "ProductMarketingCatalogueResponse"
    },
    "ProductMarketingCatalogueResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "catalogue" : {
            "type" : "string",
            "maxLength" : 35
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "SavingsAccountCatalogResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SavingsAccountCatalogResponseBody"
        }
      },
      "description" : "SavingsAccountCatalogResponse"
    },
    "SavingsAccountCatalogResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "productId" : {
            "type" : "string",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
            "maxLength" : 100
          },
          "currency" : {
            "type" : "string",
            "description" : "Identifies the currency. E.g. USD, GBP etc",
            "maxLength" : 100
          },
          "variation" : {
            "type" : "string",
            "description" : "Additional product specification based on particular criteria for example the account was opened on-line and attracted a higher interest rate. Drop down list to select appropriate variation or applied automatically",
            "maxLength" : 100
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Description of the product",
            "maxLength" : 100
          },
          "creditInterestType" : {
            "type" : "string",
            "maxLength" : 100
          },
          "creditBaseRate" : {
            "type" : "string",
            "maxLength" : 100
          },
          "creditIntMargin" : {
            "type" : "string",
            "maxLength" : 100
          }
        }
      }
    },
    "CurrentAccountCatalogResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CurrentAccountCatalogResponseBody"
        }
      },
      "description" : "CurrentAccountCatalogResponse"
    },
    "CurrentAccountCatalogResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "productId" : {
            "type" : "string",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
            "maxLength" : 100
          },
          "currency" : {
            "type" : "string",
            "description" : "Identifies the currency. E.g. USD, GBP etc",
            "maxLength" : 100
          },
          "variation" : {
            "type" : "string",
            "description" : "Additional product specification based on particular criteria for example the account was opened on-line and attracted a higher interest rate. Drop down list to select appropriate variation or applied automatically",
            "maxLength" : 100
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Description of the product",
            "maxLength" : 100
          },
          "creditInterestType" : {
            "type" : "string",
            "maxLength" : 100
          },
          "creditBaseRate" : {
            "type" : "string",
            "maxLength" : 100
          },
          "creditIntMargin" : {
            "type" : "string",
            "maxLength" : 100
          },
          "debitIntType" : {
            "type" : "string",
            "maxLength" : 100
          },
          "drBaseIntRate" : {
            "type" : "string",
            "maxLength" : 100
          },
          "debitIntMargin" : {
            "type" : "string",
            "maxLength" : 100
          }
        }
      }
    },
    "TermDepositsCatalogResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TermDepositsCatalogResponseBody"
        }
      },
      "description" : "TermDepositsCatalogResponse"
    },
    "TermDepositsCatalogResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "productId" : {
            "type" : "string",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
            "maxLength" : 100
          },
          "currency" : {
            "type" : "string",
            "description" : "Identifies the currency. E.g. USD, GBP etc",
            "maxLength" : 100
          },
          "variation" : {
            "type" : "string",
            "description" : "Additional product specification based on particular criteria for example the account was opened on-line and attracted a higher interest rate. Drop down list to select appropriate variation or applied automatically",
            "maxLength" : 100
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Description of the product",
            "maxLength" : 100
          },
          "minTerm" : {
            "type" : "string",
            "maxLength" : 100
          },
          "maxTerm" : {
            "type" : "string",
            "maxLength" : 100
          },
          "minAmount" : {
            "type" : "string",
            "maxLength" : 100
          },
          "rateType" : {
            "type" : "string",
            "description" : "Fixed or floating rate.",
            "maxLength" : 100
          },
          "baseInterestRate" : {
            "type" : "string",
            "maxLength" : 100
          },
          "interestMargin" : {
            "type" : "string",
            "maxLength" : 100
          }
        }
      }
    },
    "ShortTermFinanceCatalogResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ShortTermFinanceCatalogResponseBody"
        }
      },
      "description" : "ShortTermFinanceCatalogResponse"
    },
    "ShortTermFinanceCatalogResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "productId" : {
            "type" : "string",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
            "maxLength" : 100
          },
          "currency" : {
            "type" : "string",
            "description" : "Identifies the currency. E.g. USD, GBP etc",
            "maxLength" : 100
          },
          "variation" : {
            "type" : "string",
            "description" : "Additional product specification based on particular criteria for example the account was opened on-line and attracted a higher interest rate. Drop down list to select appropriate variation or applied automatically",
            "maxLength" : 100
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Description of the product",
            "maxLength" : 100
          },
          "minTerm" : {
            "type" : "string",
            "maxLength" : 100
          },
          "maxTerm" : {
            "type" : "string",
            "maxLength" : 100
          },
          "minAmount" : {
            "type" : "string",
            "maxLength" : 100
          },
          "maxAmount" : {
            "type" : "string",
            "maxLength" : 100
          },
          "rateType" : {
            "type" : "string",
            "description" : "Fixed or floating rate.",
            "maxLength" : 100
          },
          "baseInterestRate" : {
            "type" : "string",
            "maxLength" : 100
          },
          "interestMargin" : {
            "type" : "string",
            "maxLength" : 100
          }
        }
      }
    },
    "PersonalLoanCatalogResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PersonalLoanCatalogResponseBody"
        }
      },
      "description" : "PersonalLoanCatalogResponse"
    },
    "PersonalLoanCatalogResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "productId" : {
            "type" : "string",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
            "maxLength" : 100
          },
          "currency" : {
            "type" : "string",
            "description" : "Identifies the currency. E.g. USD, GBP etc",
            "maxLength" : 100
          },
          "variation" : {
            "type" : "string",
            "description" : "Additional product specification based on particular criteria for example the account was opened on-line and attracted a higher interest rate. Drop down list to select appropriate variation or applied automatically",
            "maxLength" : 100
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Description of the product",
            "maxLength" : 100
          },
          "minTerm" : {
            "type" : "string",
            "maxLength" : 100
          },
          "maxTerm" : {
            "type" : "string",
            "maxLength" : 100
          },
          "minAmount" : {
            "type" : "string",
            "maxLength" : 100
          },
          "maxAmount" : {
            "type" : "string",
            "maxLength" : 100
          },
          "rateType" : {
            "type" : "string",
            "description" : "Fixed or floating rate.",
            "maxLength" : 100
          },
          "baseInterestRate" : {
            "type" : "string",
            "maxLength" : 100
          },
          "interestMargin" : {
            "type" : "string",
            "maxLength" : 100
          }
        }
      }
    },
    "MortgageCatalogResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/MortgageCatalogResponseBody"
        }
      },
      "description" : "MortgageCatalogResponse"
    },
    "MortgageCatalogResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "productId" : {
            "type" : "string",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
            "maxLength" : 100
          },
          "currency" : {
            "type" : "string",
            "description" : "Identifies the currency. E.g. USD, GBP etc",
            "maxLength" : 100
          },
          "variation" : {
            "type" : "string",
            "description" : "Additional product specification based on particular criteria for example the account was opened on-line and attracted a higher interest rate. Drop down list to select appropriate variation or applied automatically",
            "maxLength" : 100
          },
          "minTerm" : {
            "type" : "string",
            "maxLength" : 100
          },
          "maxTerm" : {
            "type" : "string",
            "maxLength" : 100
          },
          "minAmount" : {
            "type" : "string",
            "maxLength" : 100
          },
          "maxAmount" : {
            "type" : "string",
            "maxLength" : 100
          },
          "interestRateType" : {
            "type" : "string",
            "maxLength" : 100
          }
        }
      }
    },
    "HomePurchaseCatalogResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/HomePurchaseCatalogResponseBody"
        }
      },
      "description" : "HomePurchaseCatalogResponse"
    },
    "HomePurchaseCatalogResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "productId" : {
            "type" : "string",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
            "maxLength" : 100
          },
          "currency" : {
            "type" : "string",
            "description" : "Identifies the currency. E.g. USD, GBP etc",
            "maxLength" : 100
          },
          "variation" : {
            "type" : "string",
            "description" : "Additional product specification based on particular criteria for example the account was opened on-line and attracted a higher interest rate. Drop down list to select appropriate variation or applied automatically",
            "maxLength" : 100
          },
          "minTerm" : {
            "type" : "string",
            "maxLength" : 100
          },
          "maxTerm" : {
            "type" : "string",
            "maxLength" : 100
          },
          "minAmount" : {
            "type" : "string",
            "maxLength" : 100
          },
          "maxAmount" : {
            "type" : "string",
            "maxLength" : 100
          },
          "interestRateType" : {
            "type" : "string",
            "maxLength" : 100
          }
        }
      }
    }
  }
}