{
  "swagger": "2.0",
  "info": {
    "description": "API to retrieve the product conditions",
    "version": "v1.0.0",
    "title": "Product conditions"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/product/{productId}/protectionLimitConditions": {
      "get": {
        "operationId": "getProtectionLimitConditions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Id of the product.",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyId",
            "in": "query",
            "description": "The identifier of the product condition",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ProtectionLimitConditionsResponse",
            "schema": {
              "$ref": "#/definitions/ProtectionLimitConditionsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/{productId}/availabilityConditions": {
      "get": {
        "operationId": "getAvailabilityConditions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Id of the product.",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyId",
            "in": "query",
            "description": "The identifier of the product condition",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "AvailabilityConditionsResponse",
            "schema": {
              "$ref": "#/definitions/AvailabilityConditionsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/{productLineId}/products": {
      "get": {
        "operationId": "getProductsByProductLine",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productLineId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "productGroupId",
            "in": "query",
            "description": "The group, as defined by the institution, that the product belongs to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "eligibilityFilter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "multiBookEligible",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "productId",
            "in": "query",
            "description": "Id of the product.",
            "required": false,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "The identifier of the customer",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ProductsByProductLineResponse",
            "schema": {
              "$ref": "#/definitions/ProductsByProductLineResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/{productId}/permissionConditions": {
      "get": {
        "operationId": "getPermissionConditions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyId",
            "in": "query",
            "description": "The identifier of the product condition",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "PermissionConditionsResponse",
            "schema": {
              "$ref": "#/definitions/PermissionConditionsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/{productId}/licensingConditions": {
      "get": {
        "operationId": "getLicensingConditions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyId",
            "in": "query",
            "description": "The identifier of the product condition",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "LicensingConditionsResponse",
            "schema": {
              "$ref": "#/definitions/LicensingConditionsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/{productId}/privilegeConditions": {
      "get": {
        "operationId": "getPrivilegeConditions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Id of the product.",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "PrivilegeConditionsResponse",
            "schema": {
              "$ref": "#/definitions/PrivilegeConditionsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "ProtectionLimitConditionsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/ProtectionLimitConditionsResponseBody"
        }
      },
      "description": "ProtectionLimitConditionsResponse"
    },
    "ProtectionLimitConditionsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "negotiation": {
            "type": "array",
            "description": "The product condition has an activity type associated that drives an action.",
            "items": {
              "type": "object",
              "properties": {
                "negotiationRulesAttribute": {
                  "type": "string",
                  "description": "Defines which individual attribute (field) has the negotiation rules defined in fields ",
                  "maxLength": 25
                },
                "options": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "negotiationRulesOptions": {
                        "type": "string",
                        "description": "Defines named values to indicate if an option applies to the associated NR.ATTRIBUTE. More than one option can be associated with the NR.ATTRIBUTE, with certain restrictions.",
                        "maxLength": 35
                      }
                    }
                  }
                },
                "type": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "negotiationRulesType": {
                        "type": "string",
                        "description": "Defines the negotiation rule that is linked to the field defined in Nr.Attribute. If an attribute has a negotiation rule linked to it It is possible to define more than one negotiation rule for an attribute.",
                        "maxLength": 25
                      },
                      "negotiationRulesValue": {
                        "type": "string",
                        "description": "Defines the value that links to the rule in field Nr.Type",
                        "maxLength": 60
                      },
                      "negotiationRulesMessage": {
                        "type": "string",
                        "description": "This field indicates whether to raise error or override message when rule is broken,Allows only two values ERROR or OVERRIDE,ERROR - Error message is raisedOVERRIDE - Override message is generated.",
                        "maxLength": 10
                      }
                    }
                  }
                }
              }
            }
          },
          "productId": {
            "type": "string",
            "description": "Id of the product.",
            "maxLength": 30
          },
          "propertyId": {
            "type": "string",
            "description": "The identifier of the product condition",
            "maxLength": 30
          },
          "limitAmount": {
            "type": "number",
            "description": "The Limit amount that is actually available for use.\ufffdThe system limit checks are preformed against the online limit"
          },
          "currencyId": {
            "type": "string",
            "description": "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
            "maxLength": 3
          }
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message "
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description": "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message for bad requests"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description": "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message caused by server"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    },
    "AvailabilityConditionsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/AvailabilityConditionsResponseBody"
        }
      },
      "description": "AvailabilityConditionsResponse"
    },
    "AvailabilityConditionsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "day": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dayName": {
                  "type": "string",
                  "description": "The Day for which availabilities are defined.This is a multi value set of fields, one set for each week day.",
                  "maxLength": 11
                },
                "daySelect": {
                  "type": "boolean",
                  "description": "The permissions for the current Day.,Possible values: Null/Yes/No"
                },
                "time": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "string",
                        "description": "The time job was started",
                        "pattern": "^([0-1]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
                      },
                      "endTime": {
                        "type": "string",
                        "description": "The time the job was ended.  ",
                        "pattern": "^([0-1]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
                      }
                    }
                  }
                }
              }
            }
          },
          "productId": {
            "type": "string",
            "description": "Id of the product.",
            "maxLength": 30
          },
          "propertyId": {
            "type": "string",
            "description": "The identifier of the product condition",
            "maxLength": 30
          }
        }
      }
    },
    "ProductsByProductLineResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/ProductsByProductLineResponseBody"
        }
      },
      "description": "ProductsByProductLineResponse"
    },
    "ProductsByProductLineResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "currencies": {
            "type": "array",
            "description": "Identifies the underlying currency used for the transaction.",
            "items": {
              "type": "object",
              "properties": {
                "currencyId": {
                  "type": "string",
                  "description": "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
                },
                "currencyName": {
                  "type": "string",
                  "description": "The name that is displayed for the currency"
                }
              }
            }
          },
          "termDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "minimumTerm": {
                  "type": "string",
                  "description": "Refers to the minimum term associated with the loan process."
                },
                "maximumTerm": {
                  "type": "string",
                  "description": "Refers to the maximum term associated with the loan process."
                }
              }
            }
          },
          "productLineId": {
            "type": "string",
            "description": "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products."
          },
          "productLineName": {
            "type": "string",
            "description": "\"Description of the product line, e.g. \"\"Client Consent\"\" for product line CONSENT.\""
          },
          "productGroupId": {
            "type": "string",
            "description": "The group, as defined by the institution, that the product belongs to.",
            "maxLength": 35
          },
          "productGroupName": {
            "type": "string",
            "description": "Description of the product group",
            "maxLength": 35
          },
          "productId": {
            "type": "string",
            "description": "Id of the product.",
            "maxLength": 30
          },
          "productName": {
            "type": "string",
            "description": "Name of the product, which is also its Id.",
            "maxLength": 35
          },
          "availableFromDate": {
            "type": "string",
            "format": "date",
            "description": "The date the product is available in the catalogue for sale to customers"
          }
        }
      }
    },
    "PermissionConditionsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/PermissionConditionsResponseBody"
        }
      },
      "description": "PermissionConditionsResponse"
    },
    "PermissionConditionsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "productGroup": {
            "type": "array",
            "description": "The group, as defined by the institution, that the product belongs to.",
            "items": {
              "type": "object",
              "properties": {
                "productGroupId": {
                  "type": "string",
                  "description": "The group, as defined by the institution, that the product belongs to.",
                  "maxLength": 30
                },
                "displayName": {
                  "type": "string",
                  "description": "Name used for display or enrichment purposes",
                  "maxLength": 35
                },
                "permission": {
                  "type": "string",
                  "description": "The act of permitting, especially in giving formal consent to access a particular file or repository.",
                  "maxLength": 10
                }
              }
            }
          },
          "productId": {
            "type": "string",
            "description": "Id of the product.",
            "maxLength": 30
          },
          "propertyId": {
            "type": "string",
            "description": "The identifier of the product condition",
            "maxLength": 30
          }
        }
      }
    },
    "LicensingConditionsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/LicensingConditionsResponseBody"
        }
      },
      "description": "LicensingConditionsResponse"
    },
    "LicensingConditionsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "Id of the product.",
            "maxLength": 30
          },
          "propertyId": {
            "type": "string",
            "description": "The identifier of the product condition",
            "maxLength": 30
          },
          "noOfUsers": {
            "type": "string",
            "description": "The maximum number of users that can be linked to a master arrangement or its roles",
            "maxLength": 4
          },
          "noOfRoles": {
            "type": "string",
            "description": "The maximum number of roles that can be linked to the master arrangement",
            "maxLength": 4
          }
        }
      }
    },
    "PrivilegeConditionsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/PrivilegeConditionsResponseBody"
        }
      },
      "description": "PrivilegeConditionsResponse"
    },
    "PrivilegeConditionsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "operations": {
            "type": "array",
            "description": "Identifies the required operation to be executed for a Trade Finance contract. Input of valid codes as: O for opening of LC, P for Pre-advise of LC, A for Amend LC, C for Collect Charges, D for Decision on Amendments, T for Tracer, IO for LC through Internet Banking Operation and M for Ancillary Message (MT759)",
            "items": {
              "type": "object",
              "properties": {
                "operationId": {
                  "type": "string",
                  "description": "ID of the operation which Identifies the required operation to be executed for a Trade Finance contract."
                },
                "operationName": {
                  "type": "string",
                  "description": "Name of the operation which Identifies the required operation to be executed for a Trade Finance contract."
                },
                "mandatoryOperation": {
                  "type": "boolean",
                  "description": "Indicate whether it is a mandatory operation or not."
                },
                "operationActive": {
                  "type": "boolean",
                  "description": "Indiciate whether operation is active or not"
                },
                "dependency": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "dependentService": {
                        "type": "string",
                        "description": "Indicate whether it is a dependent service or not."
                      },
                      "dependentOperation": {
                        "type": "string",
                        "description": "Indicate whether it is a dependent operation or not."
                      }
                    }
                  }
                }
              }
            }
          },
          "propertyId": {
            "type": "string",
            "description": "The identifier of the product condition"
          },
          "productId": {
            "type": "string",
            "description": "Id of the product.",
            "maxLength": 100
          },
          "serviceId": {
            "type": "string",
            "description": "Provides the id of the service that has to be run."
          },
          "serviceName": {
            "type": "string",
            "description": "The service related to an arrangement"
          },
          "mandatoryService": {
            "type": "boolean",
            "description": "Indicate whether it is a mandatory service or not."
          },
          "serviceActive": {
            "type": "boolean",
            "description": "Indiciate whether service is active or not"
          }
        }
      }
    }
  }
}