{
  "swagger": "2.0",
  "info": {
    "description": "API to create, update and retrieve details of external products that are imported",
    "version": "v1.0.0",
    "title": "Import of external products"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/product/loans/mortgages/externalProducts/{productId}": {
      "get": {
        "operationId": "getExternalMortgageProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the product",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ExternalMortgageProductResponse",
            "schema": {
              "$ref": "#/definitions/ExternalMortgageProductResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "createExternalMortgageProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the product",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExternalMortgageProduct"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ExternalMortgageProductResponse",
            "schema": {
              "$ref": "#/definitions/ExternalMortgageProductResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "updateExternalMortgageProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the product",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExternalMortgageProduct"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ExternalMortgageProductResponse",
            "schema": {
              "$ref": "#/definitions/ExternalMortgageProductResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/product/accounts/currentAccounts/externalProducts/{productId}": {
      "get": {
        "operationId": "getExternalCurrentAccountProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the product",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ExternalCurrentAccountProductResponse",
            "schema": {
              "$ref": "#/definitions/ExternalCurrentAccountProductResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "createExternalCurrentAccountProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the product",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExternalCurrentAccountProduct"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ExternalCurrentAccountProductResponse",
            "schema": {
              "$ref": "#/definitions/ExternalCurrentAccountProductResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "updateExternalCurrentAccountProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the product",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExternalCurrentAccountProduct"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ExternalCurrentAccountProductResponse",
            "schema": {
              "$ref": "#/definitions/ExternalCurrentAccountProductResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/product/accounts/savingsAccounts/externalProducts/{productId}": {
      "get": {
        "operationId": "getExternalSavingsAccountProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the product",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ExternalSavingsAccountProductResponse",
            "schema": {
              "$ref": "#/definitions/ExternalSavingsAccountProductResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "createExternalSavingsAccountProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the product",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExternalSavingsAccountProduct"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ExternalSavingsAccountProductResponse",
            "schema": {
              "$ref": "#/definitions/ExternalSavingsAccountProductResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "updateExternalSavingsAccountProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the product",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExternalSavingsAccountProduct"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ExternalSavingsAccountProductResponse",
            "schema": {
              "$ref": "#/definitions/ExternalSavingsAccountProductResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/product/deposits/termDeposits/externalProducts/{productId}": {
      "post": {
        "operationId": "createExternalDepositProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the product",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExternalDepositProduct"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ExternalDepositProductResponse",
            "schema": {
              "$ref": "#/definitions/ExternalDepositProductResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "updateExternalDepositProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the product",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExternalDepositProduct"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ExternalDepositProductResponse",
            "schema": {
              "$ref": "#/definitions/ExternalDepositProductResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/product/deposits/termDepsoits/externalProducts/{productId}": {
      "get": {
        "operationId": "getExternalDepositProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the product",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ExternalDepositProductResponse",
            "schema": {
              "$ref": "#/definitions/ExternalDepositProductResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "PayloadHeader": {
      "properties": {
        "override": {
          "type": "object",
          "properties": {
            "overrideDetails": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier of the override"
                  },
                  "description": {
                    "type": "string",
                    "description": "The actual override message"
                  },
                  "responseCode": {
                    "type": "string",
                    "description": "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit": {
          "type": "object",
          "properties": {
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "ExternalMortgageProduct": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/ExternalMortgageProductBody"
        }
      },
      "description": "ExternalMortgageProduct"
    },
    "ExternalMortgageProductBody": {
      "type": "object",
      "properties": {
        "displayNames": {
          "type": "array",
          "description": "The name used for display purposes",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The name used for display purposes"
              }
            }
          }
        },
        "organizations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "organizationLevel": {
                "type": "string"
              },
              "organizationCode": {
                "type": "string"
              },
              "organizationExclude": {
                "type": "string"
              }
            }
          }
        },
        "lineOfBusinesses": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "lineOfBusiness": {
                "type": "string"
              },
              "lineOfBusinessExclude": {
                "type": "string"
              }
            }
          }
        },
        "channels": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "channel": {
                "type": "string"
              },
              "channelExclude": {
                "type": "string"
              }
            }
          }
        },
        "principals": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fixedRate": {
                "type": "string",
                "description": "A fixed rate is directly entered by the user specifying the Defined Property and is not defined by an index table.Three basic types of interest are supported by T24; Fixed, Floating, and Periodic. "
              }
            }
          }
        },
        "schedules": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "schedulePaymentType": {
                "type": "string",
                "description": "The payment schedule type"
              },
              "schedulepPaymentMethod": {
                "type": "string"
              },
              "schedulepaymentFrequency": {
                "type": "string",
                "description": "The frequency of the payment schedule"
              },
              "scheduleProperties": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "scheduleProperty": {
                      "type": "string",
                      "description": "The payment schedule property"
                    }
                  }
                }
              },
              "scheduleDates": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "scheduleStartDate": {
                      "type": "string",
                      "format": "date"
                    },
                    "scheduleEndDate": {
                      "type": "string",
                      "format": "date"
                    },
                    "scheduleActualAmt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "optionDescription": {
          "type": "string",
          "description": "The description of the Option"
        },
        "product": {
          "type": "string"
        },
        "availableFromDate": {
          "type": "string",
          "format": "date",
          "description": "The date when the product is available for creating arrangements"
        },
        "expiryDate": {
          "type": "string",
          "format": "date",
          "description": "The date an agreement such as a credit facility or limit is due to expire"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date"
        },
        "currency": {
          "type": "string"
        },
        "variation": {
          "type": "string"
        },
        "commitmentTerm": {
          "type": "string"
        },
        "commitmentCancelPeriod": {
          "type": "string"
        },
        "commitmentCoolingPeriod": {
          "type": "string"
        },
        "minCommitmentTerm": {
          "type": "string"
        },
        "maxCommitmentTerm": {
          "type": "string"
        },
        "newarrfeeFixedAmount": {
          "type": "number"
        },
        "payofffeeFixedAmount": {
          "type": "number"
        },
        "renewalChangeDateType": {
          "type": "string",
          "format": "date"
        },
        "renewalChangePeriod": {
          "type": "string"
        }
      }
    },
    "ScreenHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "ExternalMortgageProductResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/ExternalMortgageProductResponseBody"
        }
      },
      "description": "ExternalMortgageProductResponse"
    },
    "ExternalMortgageProductResponseBody": {
      "type": "object",
      "properties": {
        "displayNames": {
          "type": "array",
          "description": "The name used for display purposes",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The name used for display purposes"
              }
            }
          }
        },
        "organizations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "organizationLevel": {
                "type": "string"
              },
              "organizationCode": {
                "type": "string"
              },
              "organizationExclude": {
                "type": "string"
              }
            }
          }
        },
        "lineOfBusinesses": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "lineOfBusiness": {
                "type": "string"
              },
              "lineOfBusinessExclude": {
                "type": "string"
              }
            }
          }
        },
        "channels": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "channel": {
                "type": "string"
              },
              "channelExclude": {
                "type": "string"
              }
            }
          }
        },
        "principals": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fixedRate": {
                "type": "string",
                "description": "A fixed rate is directly entered by the user specifying the Defined Property and is not defined by an index table.Three basic types of interest are supported by T24; Fixed, Floating, and Periodic. "
              }
            }
          }
        },
        "schedules": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "schedulePaymentType": {
                "type": "string",
                "description": "The payment schedule type"
              },
              "schedulepPaymentMethod": {
                "type": "string"
              },
              "schedulepaymentFrequency": {
                "type": "string",
                "description": "The frequency of the payment schedule"
              },
              "scheduleProperties": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "scheduleProperty": {
                      "type": "string",
                      "description": "The payment schedule property"
                    }
                  }
                }
              },
              "scheduleDates": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "scheduleStartDate": {
                      "type": "string",
                      "format": "date"
                    },
                    "scheduleEndDate": {
                      "type": "string",
                      "format": "date"
                    },
                    "scheduleActualAmt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "optionDescription": {
          "type": "string",
          "description": "The description of the Option"
        },
        "product": {
          "type": "string"
        },
        "availableFromDate": {
          "type": "string",
          "format": "date",
          "description": "The date when the product is available for creating arrangements"
        },
        "expiryDate": {
          "type": "string",
          "format": "date",
          "description": "The date an agreement such as a credit facility or limit is due to expire"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date"
        },
        "currency": {
          "type": "string"
        },
        "variation": {
          "type": "string"
        },
        "commitmentTerm": {
          "type": "string"
        },
        "commitmentCancelPeriod": {
          "type": "string"
        },
        "commitmentCoolingPeriod": {
          "type": "string"
        },
        "minCommitmentTerm": {
          "type": "string"
        },
        "maxCommitmentTerm": {
          "type": "string"
        },
        "newarrfeeFixedAmount": {
          "type": "number"
        },
        "payofffeeFixedAmount": {
          "type": "number"
        },
        "renewalChangeDateType": {
          "type": "string",
          "format": "date"
        },
        "renewalChangePeriod": {
          "type": "string"
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody": {
      "properties": {
        "overrideDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier of the override"
              },
              "description": {
                "type": "string",
                "description": "The actual override message"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/ScreenErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type"
        }
      }
    },
    "ExternalCurrentAccountProduct": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/ExternalCurrentAccountProductBody"
        }
      },
      "description": "ExternalCurrentAccountProduct"
    },
    "ExternalCurrentAccountProductBody": {
      "type": "object",
      "properties": {
        "displayNames": {
          "type": "array",
          "description": "The name used for display purposes",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The name used for display purposes"
              }
            }
          }
        },
        "organizations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "organizationLevel": {
                "type": "string"
              },
              "organizationCode": {
                "type": "string"
              },
              "organizationExclude": {
                "type": "string"
              }
            }
          }
        },
        "lineOfBusinesses": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "lineOfBusiness": {
                "type": "string"
              },
              "lineofBusinessExclude": {
                "type": "string"
              }
            }
          }
        },
        "channels": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "channel": {
                "type": "string"
              },
              "channelExclude": {
                "type": "string"
              }
            }
          }
        },
        "creditInterests": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "creditInterestFixedRate": {
                "type": "string"
              }
            }
          }
        },
        "debitInterests": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "debitInterestFixedRate": {
                "type": "string"
              }
            }
          }
        },
        "schedules": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "schedulePaymentType": {
                "type": "string",
                "description": "The payment schedule type"
              },
              "schedulepaymentFrequency": {
                "type": "string",
                "description": "The frequency of the payment schedule"
              }
            }
          }
        },
        "periodiccharges": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "periodicchargeCurrency": {
                "type": "string"
              },
              "periodicchargeMaxChgAmount": {
                "type": "number"
              },
              "periodicchargeMinChgAmount": {
                "type": "number"
              }
            }
          }
        },
        "optionDescription": {
          "type": "string",
          "description": "The description of the Option"
        },
        "product": {
          "type": "string"
        },
        "availableFromDate": {
          "type": "string",
          "format": "date",
          "description": "The date when the product is available for creating arrangements"
        },
        "expiryDate": {
          "type": "string",
          "format": "date",
          "description": "The date an agreement such as a credit facility or limit is due to expire"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date"
        },
        "currency": {
          "type": "string"
        },
        "variation": {
          "type": "string"
        },
        "chequewdFixedAmount": {
          "type": "number"
        },
        "highestdebitFixedAmount": {
          "type": "number"
        },
        "balanceAvailabilityCreditCheck": {
          "type": "string"
        },
        "balanceAvailabilityAvailBalanceUpdate": {
          "type": "string"
        },
        "balanceAvailabilityOverdraftProcessing": {
          "type": "string"
        },
        "mgmtfeeFixedAmount": {
          "type": "number"
        },
        "cardissuefeeFixedAmount": {
          "type": "number"
        },
        "limitfeesFixedAmount": {
          "type": "number"
        },
        "payfeesFixedAmount": {
          "type": "number"
        },
        "returnfeesFixedAmount": {
          "type": "number"
        },
        "nsfreversalfeeFixedAmount": {
          "type": "number"
        }
      }
    },
    "ExternalCurrentAccountProductResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/ExternalCurrentAccountProductResponseBody"
        }
      },
      "description": "ExternalCurrentAccountProductResponse"
    },
    "ExternalCurrentAccountProductResponseBody": {
      "type": "object",
      "properties": {
        "displayNames": {
          "type": "array",
          "description": "The name used for display purposes",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The name used for display purposes"
              }
            }
          }
        },
        "organizations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "organizationLevel": {
                "type": "string"
              },
              "organizationCode": {
                "type": "string"
              },
              "organizationExclude": {
                "type": "string"
              }
            }
          }
        },
        "lineOfBusinesses": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "lineOfBusiness": {
                "type": "string"
              },
              "lineofBusinessExclude": {
                "type": "string"
              }
            }
          }
        },
        "channels": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "channel": {
                "type": "string"
              },
              "channelExclude": {
                "type": "string"
              }
            }
          }
        },
        "creditInterests": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "creditInterestFixedRate": {
                "type": "string"
              }
            }
          }
        },
        "debitInterests": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "debitInterestFixedRate": {
                "type": "string"
              }
            }
          }
        },
        "schedules": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "schedulePaymentType": {
                "type": "string",
                "description": "The payment schedule type"
              },
              "schedulepaymentFrequency": {
                "type": "string",
                "description": "The frequency of the payment schedule"
              }
            }
          }
        },
        "periodiccharges": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "periodicchargeCurrency": {
                "type": "string"
              },
              "periodicchargeMaxChgAmount": {
                "type": "number"
              },
              "periodicchargeMinChgAmount": {
                "type": "number"
              }
            }
          }
        },
        "optionDescription": {
          "type": "string",
          "description": "The description of the Option"
        },
        "product": {
          "type": "string"
        },
        "availableFromDate": {
          "type": "string",
          "format": "date",
          "description": "The date when the product is available for creating arrangements"
        },
        "expiryDate": {
          "type": "string",
          "format": "date",
          "description": "The date an agreement such as a credit facility or limit is due to expire"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date"
        },
        "currency": {
          "type": "string"
        },
        "variation": {
          "type": "string"
        },
        "chequewdFixedAmount": {
          "type": "number"
        },
        "highestdebitFixedAmount": {
          "type": "number"
        },
        "balanceAvailabilityCreditCheck": {
          "type": "string"
        },
        "balanceAvailabilityAvailBalanceUpdate": {
          "type": "string"
        },
        "balanceAvailabilityOverdraftProcessing": {
          "type": "string"
        },
        "mgmtfeeFixedAmount": {
          "type": "number"
        },
        "cardissuefeeFixedAmount": {
          "type": "number"
        },
        "limitfeesFixedAmount": {
          "type": "number"
        },
        "payfeesFixedAmount": {
          "type": "number"
        },
        "returnfeesFixedAmount": {
          "type": "number"
        },
        "nsfreversalfeeFixedAmount": {
          "type": "number"
        }
      }
    },
    "ExternalSavingsAccountProduct": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/ExternalSavingsAccountProductBody"
        }
      },
      "description": "ExternalSavingsAccountProduct"
    },
    "ExternalSavingsAccountProductBody": {
      "type": "object",
      "properties": {
        "displayNames": {
          "type": "array",
          "description": "The name used for display purposes",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The name used for display purposes"
              }
            }
          }
        },
        "organizations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "organizationLevel": {
                "type": "string"
              },
              "organizationCode": {
                "type": "string"
              },
              "organizationExclude": {
                "type": "string"
              }
            }
          }
        },
        "lineOfBusinesses": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "lineOfBusiness": {
                "type": "string"
              },
              "lineOfBusinessExclude": {
                "type": "string"
              }
            }
          }
        },
        "channels": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "channel": {
                "type": "string"
              },
              "channelExclude": {
                "type": "string"
              }
            }
          }
        },
        "creditInterests": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "crinterestFixedRate": {
                "type": "string"
              }
            }
          }
        },
        "schedules": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "schedulePaymentType": {
                "type": "string",
                "description": "The payment schedule type"
              },
              "schedulepaymentFrequency": {
                "type": "string",
                "description": "The frequency of the payment schedule"
              },
              "scheduleProperties": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "scheduleProperty": {
                      "type": "string",
                      "description": "The payment schedule property"
                    }
                  }
                }
              }
            }
          }
        },
        "optionDescription": {
          "type": "string",
          "description": "The description of the Option"
        },
        "product": {
          "type": "string"
        },
        "availableFromDate": {
          "type": "string",
          "format": "date",
          "description": "The date when the product is available for creating arrangements"
        },
        "expiryDate": {
          "type": "string",
          "format": "date",
          "description": "The date an agreement such as a credit facility or limit is due to expire"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date"
        },
        "currency": {
          "type": "string"
        },
        "variation": {
          "type": "string"
        },
        "balanceAvailabilityCreditCheck": {
          "type": "string"
        },
        "balanceAvailabilityAvailBalanceUpdate": {
          "type": "string"
        },
        "mgmtfeeFixedAmount": {
          "type": "number"
        },
        "limitfeesFixedAmount": {
          "type": "number"
        },
        "payfeesFixedAmount": {
          "type": "number"
        },
        "returnfeesFixedAmount": {
          "type": "number"
        },
        "nsfreversalfeeFixedAmount": {
          "type": "number"
        },
        "minbalfeeFixedAmount": {
          "type": "number"
        }
      }
    },
    "ExternalSavingsAccountProductResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/ExternalSavingsAccountProductResponseBody"
        }
      },
      "description": "ExternalSavingsAccountProductResponse"
    },
    "ExternalSavingsAccountProductResponseBody": {
      "type": "object",
      "properties": {
        "displayNames": {
          "type": "array",
          "description": "The name used for display purposes",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The name used for display purposes"
              }
            }
          }
        },
        "organizations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "organizationLevel": {
                "type": "string"
              },
              "organizationCode": {
                "type": "string"
              },
              "organizationExclude": {
                "type": "string"
              }
            }
          }
        },
        "lineOfBusinesses": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "lineOfBusiness": {
                "type": "string"
              },
              "lineOfBusinessExclude": {
                "type": "string"
              }
            }
          }
        },
        "channels": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "channel": {
                "type": "string"
              },
              "channelExclude": {
                "type": "string"
              }
            }
          }
        },
        "creditInterests": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "crinterestFixedRate": {
                "type": "string"
              }
            }
          }
        },
        "schedules": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "schedulePaymentType": {
                "type": "string",
                "description": "The payment schedule type"
              },
              "schedulepaymentFrequency": {
                "type": "string",
                "description": "The frequency of the payment schedule"
              },
              "scheduleProperties": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "scheduleProperty": {
                      "type": "string",
                      "description": "The payment schedule property"
                    }
                  }
                }
              }
            }
          }
        },
        "optionDescription": {
          "type": "string",
          "description": "The description of the Option"
        },
        "product": {
          "type": "string"
        },
        "availableFromDate": {
          "type": "string",
          "format": "date",
          "description": "The date when the product is available for creating arrangements"
        },
        "expiryDate": {
          "type": "string",
          "format": "date",
          "description": "The date an agreement such as a credit facility or limit is due to expire"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date"
        },
        "currency": {
          "type": "string"
        },
        "variation": {
          "type": "string"
        },
        "balanceAvailabilityCreditCheck": {
          "type": "string"
        },
        "balanceAvailabilityAvailBalanceUpdate": {
          "type": "string"
        },
        "mgmtfeeFixedAmount": {
          "type": "number"
        },
        "limitfeesFixedAmount": {
          "type": "number"
        },
        "payfeesFixedAmount": {
          "type": "number"
        },
        "returnfeesFixedAmount": {
          "type": "number"
        },
        "nsfreversalfeeFixedAmount": {
          "type": "number"
        },
        "minbalfeeFixedAmount": {
          "type": "number"
        }
      }
    },
    "ExternalDepositProduct": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/ExternalDepositProductBody"
        }
      },
      "description": "ExternalDepositProduct"
    },
    "ExternalDepositProductBody": {
      "type": "object",
      "properties": {
        "displayNames": {
          "type": "array",
          "description": "The name used for display purposes",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The name used for display purposes"
              }
            }
          }
        },
        "organizations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "organizationLevel": {
                "type": "string"
              },
              "organizationCode": {
                "type": "string"
              },
              "organizationExclude": {
                "type": "string"
              }
            }
          }
        },
        "lineOfBusinesses": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "lineOfBusiness": {
                "type": "string"
              },
              "lineOfBusinessExclude": {
                "type": "string"
              }
            }
          }
        },
        "channels": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "channel": {
                "type": "string"
              },
              "channelExclude": {
                "type": "string"
              }
            }
          }
        },
        "depositInterests": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "depositintFixedRate": {
                "type": "string"
              },
              "depositintTierNegativeRate": {
                "type": "string"
              }
            }
          }
        },
        "schedules": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "schedulePaymentType": {
                "type": "string",
                "description": "The payment schedule type"
              },
              "schedulepPaymentMethod": {
                "type": "string"
              },
              "schedulepaymentFrequency": {
                "type": "string",
                "description": "The frequency of the payment schedule"
              },
              "scheduleProperties": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "scheduleProperty": {
                      "type": "string",
                      "description": "The payment schedule property"
                    }
                  }
                }
              },
              "scheduleDates": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "scheduleStartDate": {
                      "type": "string",
                      "format": "date"
                    },
                    "scheduleEndDate": {
                      "type": "string",
                      "format": "date"
                    },
                    "scheduleActualAmt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "optionDescription": {
          "type": "string",
          "description": "The description of the Option"
        },
        "product": {
          "type": "string"
        },
        "availableFromDate": {
          "type": "string",
          "format": "date",
          "description": "The date when the product is available for creating arrangements"
        },
        "expiryDate": {
          "type": "string",
          "format": "date",
          "description": "The date an agreement such as a credit facility or limit is due to expire"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date"
        },
        "currency": {
          "type": "string"
        },
        "variation": {
          "type": "string"
        },
        "commitmentAmount": {
          "type": "number"
        },
        "commitmentTerm": {
          "type": "string"
        },
        "commitmentTermTolDays": {
          "type": "string"
        },
        "commitmentCancelPeriod": {
          "type": "string"
        },
        "commitmentCoolingPeriod": {
          "type": "string"
        },
        "minCommitmentAmount": {
          "type": "number"
        },
        "maxCommitmentAmount": {
          "type": "number"
        },
        "maxCommitmentTerm": {
          "type": "string"
        },
        "mgmtfeesFixedAmount": {
          "type": "number"
        },
        "redemptionfeeFixedAmount": {
          "type": "number"
        },
        "renewalChangeDateType": {
          "type": "string",
          "format": "date"
        },
        "renewalChangePeriod": {
          "type": "string"
        }
      }
    },
    "ExternalDepositProductResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/ExternalDepositProductResponseBody"
        }
      },
      "description": "ExternalDepositProductResponse"
    },
    "ExternalDepositProductResponseBody": {
      "type": "object",
      "properties": {
        "displayNames": {
          "type": "array",
          "description": "The name used for display purposes",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The name used for display purposes"
              }
            }
          }
        },
        "organizations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "organizationLevel": {
                "type": "string"
              },
              "organizationCode": {
                "type": "string"
              },
              "organizationExclude": {
                "type": "string"
              }
            }
          }
        },
        "lineOfBusinesses": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "lineOfBusiness": {
                "type": "string"
              },
              "lineOfBusinessExclude": {
                "type": "string"
              }
            }
          }
        },
        "channels": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "channel": {
                "type": "string"
              },
              "channelExclude": {
                "type": "string"
              }
            }
          }
        },
        "depositInterests": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "depositintFixedRate": {
                "type": "string"
              },
              "depositintTierNegativeRate": {
                "type": "string"
              }
            }
          }
        },
        "schedules": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "schedulePaymentType": {
                "type": "string",
                "description": "The payment schedule type"
              },
              "schedulepPaymentMethod": {
                "type": "string"
              },
              "schedulepaymentFrequency": {
                "type": "string",
                "description": "The frequency of the payment schedule"
              },
              "scheduleProperties": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "scheduleProperty": {
                      "type": "string",
                      "description": "The payment schedule property"
                    }
                  }
                }
              },
              "scheduleDates": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "scheduleStartDate": {
                      "type": "string",
                      "format": "date"
                    },
                    "scheduleEndDate": {
                      "type": "string",
                      "format": "date"
                    },
                    "scheduleActualAmt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "optionDescription": {
          "type": "string",
          "description": "The description of the Option"
        },
        "product": {
          "type": "string"
        },
        "availableFromDate": {
          "type": "string",
          "format": "date",
          "description": "The date when the product is available for creating arrangements"
        },
        "expiryDate": {
          "type": "string",
          "format": "date",
          "description": "The date an agreement such as a credit facility or limit is due to expire"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date"
        },
        "currency": {
          "type": "string"
        },
        "variation": {
          "type": "string"
        },
        "commitmentAmount": {
          "type": "number"
        },
        "commitmentTerm": {
          "type": "string"
        },
        "commitmentTermTolDays": {
          "type": "string"
        },
        "commitmentCancelPeriod": {
          "type": "string"
        },
        "commitmentCoolingPeriod": {
          "type": "string"
        },
        "minCommitmentAmount": {
          "type": "number"
        },
        "maxCommitmentAmount": {
          "type": "number"
        },
        "maxCommitmentTerm": {
          "type": "string"
        },
        "mgmtfeesFixedAmount": {
          "type": "number"
        },
        "redemptionfeeFixedAmount": {
          "type": "number"
        },
        "renewalChangeDateType": {
          "type": "string",
          "format": "date"
        },
        "renewalChangePeriod": {
          "type": "string"
        }
      }
    }
  }
}