{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retrieve the Catalogued details of a Product",
    "version" : "v2.0.0",
    "title" : "Retrieve the Catalogued details of a Product"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v2.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/product/marketingCatalogue/{productId}/deposits" : {
      "get" : {
        "summary" : "Retrieve the Catalogued details of a Product",
        "description" : "Retrieve the Catalogued details of a Product",
        "operationId" : "getTermDepositsCatalogue",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productId",
          "in" : "path",
          "description" : "Id of the product.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "variation",
          "in" : "query",
          "description" : "Additional product specification based on particular criteria for example the account was opened on-line and attracted a higher interest rate. Drop down list to select appropriate variation or applied automatically",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "availableCompany",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "term",
          "in" : "query",
          "description" : "Indicates the term for which the contract is booked",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "amount",
          "in" : "query",
          "description" : "This is the payment amount",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minTerm",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxTerm",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minAmount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "interestApplicable",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rateType",
          "in" : "query",
          "description" : "Fixed or floating rate.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rate",
          "in" : "query",
          "description" : "The rate applied",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "baseInterestRate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "standardRate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "interestMargin",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentFrequency",
          "in" : "query",
          "description" : "The frequency at which a payment is required to be generated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "noticeDays",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productRiskCategory",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "coolingPeriod",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxAmount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rolloverType",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "TermDepositsCatalogueResponse",
            "schema" : {
              "$ref" : "#/definitions/TermDepositsCatalogueResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "TermDepositsCatalogueResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TermDepositsCatalogueResponseBody"
        }
      },
      "description" : "TermDepositsCatalogueResponse"
    },
    "TermDepositsCatalogueResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "terms" : {
            "type" : "array",
            "description" : "Indicates the period to which the BID and OFFER rates apply",
            "items" : {
              "type" : "object",
              "properties" : {
                "term" : {
                  "type" : "array",
                  "description" : "Indicates the period to which the BID and OFFER rates apply",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "amounts" : {
            "type" : "array",
            "description" : "This is the payment amount",
            "items" : {
              "type" : "object",
              "properties" : {
                "amount" : {
                  "type" : "array",
                  "description" : "This is the payment amount",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "productId" : {
            "type" : "string",
            "description" : "Id of the product.",
            "maxLength" : 100
          },
          "currency" : {
            "type" : "string",
            "description" : "Identifies the currency. E.g. USD, GBP etc",
            "maxLength" : 100
          },
          "variation" : {
            "type" : "string",
            "description" : "Additional product specification based on particular criteria for example the account was opened on-line and attracted a higher interest rate.� Drop down list to select appropriate variation or applied automatically?",
            "maxLength" : 100
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Description of the product",
            "maxLength" : 100
          },
          "availableCompany" : {
            "type" : "string",
            "maxLength" : 100
          },
          "minTerm" : {
            "type" : "string",
            "maxLength" : 100
          },
          "maxTerm" : {
            "type" : "string",
            "maxLength" : 100
          },
          "minAmount" : {
            "type" : "string",
            "maxLength" : 100
          },
          "interestApplicable" : {
            "type" : "string",
            "maxLength" : 100
          },
          "rateType" : {
            "type" : "string",
            "description" : "Fixed or floating rate.",
            "maxLength" : 100
          },
          "rate" : {
            "type" : "string",
            "description" : "The rate applied",
            "maxLength" : 100
          },
          "baseInterestRate" : {
            "type" : "string",
            "maxLength" : 100
          },
          "standardRate" : {
            "type" : "string",
            "maxLength" : 100
          },
          "interestMargin" : {
            "type" : "string",
            "maxLength" : 100
          },
          "paymentFrequency" : {
            "type" : "string",
            "description" : "The frequency at which a payment is required to be generated",
            "maxLength" : 100
          },
          "noticeDays" : {
            "type" : "string",
            "maxLength" : 100
          },
          "productRiskCategory" : {
            "type" : "string",
            "maxLength" : 100
          },
          "coolingPeriod" : {
            "type" : "string",
            "maxLength" : 100
          },
          "maxAmount" : {
            "type" : "string",
            "maxLength" : 100
          },
          "rolloverType" : {
            "type" : "string",
            "maxLength" : 100
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}