{
  "swagger" : "2.0",
  "info" : {
    "description" : "Create and manage Product related conditions and applications",
    "version" : "v1.0.0",
    "title" : "Create and manage Product related conditions and applications"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/product/productDetails/productLines/{productLineId}/productGroups/{productGroupId}/products/" : {
      "get" : {
        "summary" : "Retrieves the details of all the products based on a given Product line and Product group",
        "description" : "Retrieves the details of all the products based on a given Product line and Product group",
        "operationId" : "getProductsPerLineAndGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productLineId",
          "in" : "path",
          "description" : "The identifier of the product line",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "path",
          "description" : "The identifier of the product group",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ProductsPerLineAndGroupResponse",
            "schema" : {
              "$ref" : "#/definitions/ProductsPerLineAndGroupResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/productDetails/productLines/{productLineId}/productGroups" : {
      "get" : {
        "summary" : "Retrieves the details of all the products based on a given Product line",
        "description" : "Retrieves the details of all the products based on a given Product line",
        "operationId" : "getProductGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productLineId",
          "in" : "path",
          "description" : "The identifier of the product line",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ProductGroupsResponse",
            "schema" : {
              "$ref" : "#/definitions/ProductGroupsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/productDetails/productLines/{productLineId}/activities" : {
      "get" : {
        "summary" : "Retrieves the list of activities applicable for a given product line",
        "description" : "Retrieves the list of activities applicable for a given product line",
        "operationId" : "getProductLineActivities",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productLineId",
          "in" : "path",
          "description" : "The identifier of the product line",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ProductLineActivitiesResponse",
            "schema" : {
              "$ref" : "#/definitions/ProductLineActivitiesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/productDetails/productLines" : {
      "get" : {
        "summary" : "Retrieves the list of available Product Line",
        "description" : "Retrieves the list of available Product Line",
        "operationId" : "getProductLines",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ProductLinesResponse",
            "schema" : {
              "$ref" : "#/definitions/ProductLinesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/productDetails/products/" : {
      "get" : {
        "summary" : "Retrieves all the Product available in the Catalogue",
        "description" : "Retrieves all the Product available in the Catalogue",
        "operationId" : "getAllProducts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AllProductsResponse",
            "schema" : {
              "$ref" : "#/definitions/ProductsPerLineAndGroupResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/productDetails/products/{productId}" : {
      "get" : {
        "summary" : "Retrieves the details of a given Product",
        "description" : "Retrieves the details of a given Product",
        "operationId" : "getProducts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ProductsResponse",
            "schema" : {
              "$ref" : "#/definitions/ProductsPerLineAndGroupResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/productDetails/propertyClasses" : {
      "get" : {
        "summary" : "Retrieves the product's property class information, which is used for building products",
        "description" : "Retrieves the product's property class information, which is used for building products",
        "operationId" : "getPropertyClasses",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PropertyClassesResponse",
            "schema" : {
              "$ref" : "#/definitions/PropertyClassesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/productDetails/productGroups" : {
      "get" : {
        "summary" : "Retrieves the List of Product Group available with its Product Line",
        "description" : "Retrieves the List of Product Group available with its Product Line",
        "operationId" : "getAllProductGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AllProductGroupsResponse",
            "schema" : {
              "$ref" : "#/definitions/ProductGroupsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/{productId}/productDetails" : {
      "get" : {
        "summary" : "List product details for a catalogued product",
        "description" : "List product details for a catalogued product",
        "operationId" : "getProductDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productId",
          "in" : "path",
          "description" : "The identifier of the product",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ProductDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/ProductDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/productBuilder/interestConditions" : {
      "get" : {
        "summary" : "Retrieves the list of all the available interest conditions",
        "description" : "Retrieves the list of all the available interest conditions",
        "operationId" : "getAllInterestConditions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AllInterestConditionsResponse",
            "schema" : {
              "$ref" : "#/definitions/AllInterestConditionsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/productBuilder/interestConditions/{interestConditionId}" : {
      "get" : {
        "summary" : "Retrieves the details of the given interest condition",
        "description" : "Retrieves the details of the given interest condition",
        "operationId" : "getInterestConditions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "interestConditionId",
          "in" : "path",
          "description" : "This field represents the key to the product level conditions for defining interest rate. ",
          "required" : true,
          "type" : "string",
          "x-example" : "CORP.AR.OVERDRAFT-USD--20100825"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "InterestConditionsResponse",
            "schema" : {
              "$ref" : "#/definitions/InterestConditionsResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "post" : {
        "summary" : "Creates a new interest condition record",
        "description" : "Creates a new interest condition record",
        "operationId" : "createInterestCondition",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "interestConditionId",
          "in" : "path",
          "description" : "This field represents the key to the product level conditions for defining interest rate. ",
          "required" : true,
          "type" : "string",
          "x-example" : "CORP.AR.OVERDRAFT-USD--20100825"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InterestCondition"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "InterestConditionResponse",
            "schema" : {
              "$ref" : "#/definitions/InterestConditionsResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "summary" : "Updates an existing interest condition record",
        "description" : "Updates an existing interest condition record",
        "operationId" : "updateInterestCondition",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "interestConditionId",
          "in" : "path",
          "description" : "This field represents the key to the product level conditions for defining interest rate. ",
          "required" : true,
          "type" : "string",
          "x-example" : "CORP.AR.OVERDRAFT-USD--20100825"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InterestCondition"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "InterestConditionResponse",
            "schema" : {
              "$ref" : "#/definitions/InterestConditionsResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/product/productBuilder/productConditions" : {
      "get" : {
        "summary" : "Retrieves the list of Product Conditions available",
        "description" : "Retrieves the list of Product Conditions available",
        "operationId" : "getProductConditions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ProductConditionsResponse",
            "schema" : {
              "$ref" : "#/definitions/ProductConditionsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/productBuilder/properties/" : {
      "get" : {
        "summary" : "Retrieves the details of all the available properties",
        "description" : "Retrieves the details of all the available properties",
        "operationId" : "getProperties",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PropertiesResponse",
            "schema" : {
              "$ref" : "#/definitions/PropertiesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/productBuilder/projects" : {
      "get" : {
        "summary" : "Retrieves the list of available projects created to build a product",
        "description" : "Retrieves the list of available projects created to build a product",
        "operationId" : "getProjects",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ProjectsResponse",
            "schema" : {
              "$ref" : "#/definitions/ProjectsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "ProductsPerLineAndGroupResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ProductsPerLineAndGroupResponseBody"
        }
      },
      "description" : "ProductsPerLineAndGroupResponse"
    },
    "ProductsPerLineAndGroupResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "currencies" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "currencyId" : {
                  "type" : "string",
                  "description" : "The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."
                },
                "currencyName" : {
                  "type" : "string",
                  "description" : "The name that is displayed for the currency"
                }
              }
            }
          },
          "termDetails" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "minimumTerm" : {
                  "type" : "string"
                },
                "maximumTerm" : {
                  "type" : "string"
                }
              }
            }
          },
          "productLineId" : {
            "type" : "string",
            "description" : "The identifier of the product line"
          },
          "productLineName" : {
            "type" : "string",
            "description" : "The name that is displayed for the product line"
          },
          "productGroupId" : {
            "type" : "string",
            "description" : "The identifier of the product group",
            "maxLength" : 35
          },
          "productGroupName" : {
            "type" : "string",
            "description" : "The name that is displayed for the product group",
            "maxLength" : 35
          },
          "productId" : {
            "type" : "string",
            "description" : "The identifier of the product",
            "maxLength" : 30
          },
          "productName" : {
            "type" : "string",
            "description" : "The name that is displayed for the product",
            "maxLength" : 35
          },
          "availableFromDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date when the product is available for creating arrangements"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "message" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "message" : {
          "type" : "string",
          "description" : "for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "message" : {
          "type" : "string",
          "description" : "caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "ProductGroupsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ProductGroupsResponseBody"
        }
      },
      "description" : "ProductGroupsResponse"
    },
    "ProductGroupsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "productGroupId" : {
            "type" : "string",
            "description" : "The identifier of the product group",
            "maxLength" : 30
          },
          "productLineId" : {
            "type" : "string",
            "description" : "The identifier of the product line",
            "maxLength" : 20
          },
          "displayName" : {
            "type" : "string",
            "description" : "The name used for display purposes",
            "maxLength" : 35
          }
        }
      }
    },
    "ProductLineActivitiesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ProductLineActivitiesResponseBody"
        }
      },
      "description" : "ProductLineActivitiesResponse"
    },
    "ProductLineActivitiesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "activityClassId" : {
            "type" : "string",
            "description" : "The identifier of the activity class",
            "maxLength" : 65
          },
          "displayName" : {
            "type" : "string",
            "description" : "The name used for display purposes",
            "maxLength" : 35
          }
        }
      }
    },
    "ProductLinesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ProductLinesResponseBody"
        }
      },
      "description" : "ProductLinesResponse"
    },
    "ProductLinesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "productLine" : {
            "type" : "string",
            "maxLength" : 20
          },
          "displayName" : {
            "type" : "string",
            "description" : "The name used for display purposes",
            "maxLength" : 35
          }
        }
      }
    },
    "PropertyClassesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PropertyClassesResponseBody"
        }
      },
      "description" : "PropertyClassesResponse"
    },
    "PropertyClassesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "displayNames" : {
            "type" : "array",
            "description" : "The name used for display purposes",
            "items" : {
              "type" : "object",
              "properties" : {
                "displayName" : {
                  "type" : "string",
                  "description" : "The name used for display purposes",
                  "maxLength" : 50
                }
              }
            }
          },
          "propertyClassId" : {
            "type" : "string",
            "description" : "The identifier of the property class",
            "maxLength" : 29
          },
          "propertyClassName" : {
            "type" : "string",
            "description" : "The name that is displayed for the property class",
            "maxLength" : 35
          }
        }
      }
    },
    "ProductDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ProductDetailsResponseBody"
        }
      },
      "description" : "ProductDetailsResponse"
    },
    "ProductDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "ccySpecific" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "currency" : {
                  "type" : "string",
                  "maxLength" : 20
                },
                "creditInterest" : {
                  "type" : "string",
                  "maxLength" : 40
                },
                "creditInterestType" : {
                  "type" : "string",
                  "maxLength" : 10
                },
                "creditInterestMinimumBalance" : {
                  "type" : "string",
                  "maxLength" : 25
                },
                "creditInterestMaximumBalance" : {
                  "type" : "string",
                  "maxLength" : 25
                },
                "creditInterestMarginRate" : {
                  "type" : "string",
                  "maxLength" : 10
                },
                "debitInterest" : {
                  "type" : "string",
                  "maxLength" : 40
                },
                "debitInterestType" : {
                  "type" : "string",
                  "maxLength" : 20
                },
                "debitInterestMinimumBalance" : {
                  "type" : "string",
                  "maxLength" : 30
                },
                "debitInterestMaximumBalance" : {
                  "type" : "string",
                  "maxLength" : 30
                },
                "debitInterestMarginRate" : {
                  "type" : "string",
                  "maxLength" : 10
                },
                "overdraftAmount" : {
                  "type" : "string",
                  "maxLength" : 30
                },
                "minimumAmount" : {
                  "type" : "string",
                  "maxLength" : 30
                },
                "maximumAmount" : {
                  "type" : "string",
                  "maxLength" : 40
                },
                "amount" : {
                  "type" : "string",
                  "maxLength" : 40
                },
                "noticePeriod" : {
                  "type" : "string",
                  "maxLength" : 10
                },
                "term" : {
                  "type" : "string",
                  "description" : "The period to which the rate applies",
                  "maxLength" : 10
                },
                "minimumTerm" : {
                  "type" : "string",
                  "maxLength" : 10
                },
                "maximumTerm" : {
                  "type" : "string",
                  "maxLength" : 10
                },
                "interestRates" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "creditInterestTierAmount" : {
                        "type" : "string",
                        "maxLength" : 30
                      },
                      "creditInterestTierPercentage" : {
                        "type" : "string",
                        "maxLength" : 5
                      },
                      "creditInterestRate" : {
                        "type" : "string",
                        "maxLength" : 20
                      },
                      "debitInterestTierAmount" : {
                        "type" : "string",
                        "maxLength" : 30
                      },
                      "debitInterestTierPercentage" : {
                        "type" : "string",
                        "maxLength" : 5
                      },
                      "debitInterestRate" : {
                        "type" : "string",
                        "maxLength" : 10
                      }
                    }
                  }
                },
                "fees" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "fee" : {
                        "type" : "string",
                        "maxLength" : 40
                      },
                      "feeAmount" : {
                        "type" : "string",
                        "description" : "Holds the charge amount equivalent in fee currency",
                        "maxLength" : 40
                      },
                      "feeFrequency" : {
                        "type" : "string",
                        "maxLength" : 60
                      }
                    }
                  }
                }
              }
            }
          },
          "productId" : {
            "type" : "string",
            "description" : "The identifier of the product"
          },
          "productGroupId" : {
            "type" : "string",
            "description" : "The identifier of the product group",
            "maxLength" : 20
          },
          "productLine" : {
            "type" : "string",
            "maxLength" : 5
          },
          "productDescription" : {
            "type" : "string",
            "maxLength" : 60
          }
        }
      }
    },
    "AllInterestConditionsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AllInterestConditionsResponseBody"
        }
      },
      "description" : "AllInterestConditionsResponse"
    },
    "AllInterestConditionsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "interestConditionId" : {
            "type" : "string",
            "description" : "This field represents the key to the product level conditions for defining interest rate. ",
            "maxLength" : 80
          },
          "displayName" : {
            "type" : "string",
            "description" : "The name used for display purposes",
            "maxLength" : 35
          }
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "InterestConditionsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/InterestConditionsResponseBody"
        }
      },
      "description" : "InterestConditionsResponse"
    },
    "InterestConditionsResponseBody" : {
      "type" : "object",
      "properties" : {
        "rates" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fixedRate" : {
                "type" : "string",
                "description" : "A fixed rate is directly entered by the user specifying the Defined Property and is not defined by an index table.Three basic types of interest are supported by T24; Fixed, Floating, and Periodic. ",
                "minLength" : 0,
                "maxLength" : 9
              },
              "floatingRate" : {
                "type" : "string",
                "description" : "Three basic types of interest are supported by T24; Fixed, Floating, and Periodic. Each of these interest types can include one or more margins and can be specified in a tiered structure.A floating interest rate is tied to a variable base rate (i.e. BASIC.INTEREST). ",
                "minLength" : 0,
                "maxLength" : 12
              },
              "linkedRateIndicator" : {
                "type" : "string",
                "description" : "Defines whether the rate for a given tier is Linked",
                "minLength" : 0,
                "maxLength" : 19
              },
              "customRateIndicator" : {
                "type" : "string",
                "description" : "This is a Yes or No flag field; if this field is set to yes then Interest rate would allow input of data required for calculation for the respective Arrangements'. ",
                "minLength" : 0,
                "maxLength" : 19
              },
              "minimumTierRate" : {
                "type" : "string",
                "description" : "In this field for each tier defined, a user can specify a minimum rate for the tier. This is applicable for variable and periodic rates and allows the tier rate to be controlled.",
                "minLength" : 0,
                "maxLength" : 15
              },
              "maximumTierRate" : {
                "type" : "string",
                "description" : "The maximum rate for the tier",
                "minLength" : 0,
                "maxLength" : 15
              },
              "tierAmount" : {
                "type" : "string",
                "description" : "The applicable tier amount",
                "minLength" : 0,
                "maxLength" : 10
              },
              "tierNegativeRate" : {
                "type" : "string",
                "description" : "Defines whether a tier rate can be negative",
                "minLength" : 0,
                "maxLength" : 16
              },
              "tierPercent" : {
                "type" : "string",
                "description" : "The applicable tier percentage",
                "minLength" : 0,
                "maxLength" : 11
              },
              "margins" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "marginType" : {
                      "type" : "string",
                      "description" : "Defines whether there are single or multiple margins to be considered while arriving at the applicable interest rate",
                      "minLength" : 0,
                      "maxLength" : 10
                    },
                    "marginOperand" : {
                      "type" : "string",
                      "description" : " Defines whether the marginRate should be added or subtracted from the Floating or Periodic Rate. The options are ADD or SUB. ",
                      "minLength" : 0,
                      "maxLength" : 13
                    },
                    "marginRate" : {
                      "type" : "string",
                      "description" : "The margin rate used to adjust the specified rate of interest and to appropriately reflect any rate profit realized. The result is the nominal rate of interest.  ",
                      "minLength" : 0,
                      "maxLength" : 10
                    }
                  }
                }
              }
            }
          }
        },
        "displayNames" : {
          "type" : "array",
          "description" : "The name used for display purposes",
          "items" : {
            "type" : "object",
            "properties" : {
              "displayName" : {
                "type" : "string",
                "description" : "The name used for display purposes",
                "minLength" : 0,
                "maxLength" : 11
              }
            }
          }
        },
        "rateTierType" : {
          "type" : "string",
          "description" : "Defines the interest or tax rate tier type e.g. Single, Level, Banded etc",
          "minLength" : 0,
          "maxLength" : 18
        },
        "linkedArrangement" : {
          "type" : "string",
          "description" : "The Arrangement to be linked for calculating the Interest Rate",
          "minLength" : 0,
          "maxLength" : 18
        },
        "defaultNegotiable" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 17
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "message" : {
                "type" : "string"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "message" : {
                "type" : "string",
                "description" : "for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "message" : {
                "type" : "string",
                "description" : "caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "InterestCondition" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/InterestConditionBody"
        }
      },
      "description" : "InterestCondition"
    },
    "InterestConditionBody" : {
      "type" : "object",
      "properties" : {
        "rates" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fixedRate" : {
                "type" : "string",
                "description" : "A fixed rate is directly entered by the user specifying the Defined Property and is not defined by an index table.Three basic types of interest are supported by T24; Fixed, Floating, and Periodic. ",
                "minLength" : 0,
                "maxLength" : 9
              },
              "floatingRate" : {
                "type" : "string",
                "description" : "Three basic types of interest are supported by T24; Fixed, Floating, and Periodic. Each of these interest types can include one or more margins and can be specified in a tiered structure.A floating interest rate is tied to a variable base rate (i.e. BASIC.INTEREST). ",
                "minLength" : 0,
                "maxLength" : 12
              },
              "linkedRateIndicator" : {
                "type" : "string",
                "description" : "Defines whether the rate for a given tier is Linked",
                "minLength" : 0,
                "maxLength" : 19
              },
              "customRateIndicator" : {
                "type" : "string",
                "description" : "This is a Yes or No flag field; if this field is set to yes then Interest rate would allow input of data required for calculation for the respective Arrangements'. ",
                "minLength" : 0,
                "maxLength" : 19
              },
              "minimumTierRate" : {
                "type" : "string",
                "description" : "In this field for each tier defined, a user can specify a minimum rate for the tier. This is applicable for variable and periodic rates and allows the tier rate to be controlled.",
                "minLength" : 0,
                "maxLength" : 15
              },
              "maximumTierRate" : {
                "type" : "string",
                "description" : "The maximum rate for the tier",
                "minLength" : 0,
                "maxLength" : 15
              },
              "tierAmount" : {
                "type" : "string",
                "description" : "The applicable tier amount",
                "minLength" : 0,
                "maxLength" : 10
              },
              "tierNegativeRate" : {
                "type" : "string",
                "description" : "Defines whether a tier rate can be negative",
                "minLength" : 0,
                "maxLength" : 16
              },
              "tierPercent" : {
                "type" : "string",
                "description" : "The applicable tier percentage",
                "minLength" : 0,
                "maxLength" : 11
              },
              "margins" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "marginType" : {
                      "type" : "string",
                      "description" : "Defines whether there are single or multiple margins to be considered while arriving at the applicable interest rate",
                      "minLength" : 0,
                      "maxLength" : 10
                    },
                    "marginOperand" : {
                      "type" : "string",
                      "description" : " Defines whether the marginRate should be added or subtracted from the Floating or Periodic Rate. The options are ADD or SUB. ",
                      "minLength" : 0,
                      "maxLength" : 13
                    },
                    "marginRate" : {
                      "type" : "string",
                      "description" : "The margin rate used to adjust the specified rate of interest and to appropriately reflect any rate profit realized. The result is the nominal rate of interest.  ",
                      "minLength" : 0,
                      "maxLength" : 10
                    }
                  }
                }
              }
            }
          }
        },
        "displayNames" : {
          "type" : "array",
          "description" : "The name used for display purposes",
          "items" : {
            "type" : "object",
            "properties" : {
              "displayName" : {
                "type" : "string",
                "description" : "The name used for display purposes",
                "minLength" : 0,
                "maxLength" : 11
              }
            }
          }
        },
        "rateTierType" : {
          "type" : "string",
          "description" : "Defines the interest or tax rate tier type e.g. Single, Level, Banded etc",
          "minLength" : 0,
          "maxLength" : 18
        },
        "linkedArrangement" : {
          "type" : "string",
          "description" : "The Arrangement to be linked for calculating the Interest Rate",
          "minLength" : 0,
          "maxLength" : 18
        },
        "defaultNegotiable" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 17
        }
      }
    },
    "ProductConditionsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ProductConditionsResponseBody"
        }
      },
      "description" : "ProductConditionsResponse"
    },
    "ProductConditionsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "productConditionId" : {
            "type" : "string",
            "description" : "The identifier of the product condition",
            "maxLength" : 50
          },
          "productConditionName" : {
            "type" : "string",
            "description" : "The name that is displayed for the product condition",
            "maxLength" : 35
          }
        }
      }
    },
    "PropertiesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PropertiesResponseBody"
        }
      },
      "description" : "PropertiesResponse"
    },
    "PropertiesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "propertyId" : {
            "type" : "string",
            "description" : "The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property",
            "maxLength" : 30
          },
          "displayName" : {
            "type" : "string",
            "description" : "The name used for display purposes",
            "maxLength" : 50
          },
          "propertyClass" : {
            "type" : "string",
            "maxLength" : 30
          },
          "propertyType" : {
            "type" : "string",
            "description" : "The property type of the arrangement e.g. Forward.dated, product.only, credit etc.",
            "maxLength" : 25
          }
        }
      }
    },
    "ProjectsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ProjectsResponseBody"
        }
      },
      "description" : "ProjectsResponse"
    },
    "ProjectsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "displayId" : {
            "type" : "string",
            "description" : "The identifier to be displayed",
            "maxLength" : 35
          },
          "displayName" : {
            "type" : "string",
            "description" : "The name used for display purposes",
            "maxLength" : 35
          },
          "user" : {
            "type" : "string",
            "maxLength" : 35
          }
        }
      }
    }
  }
}