{
  "swagger" : "2.0",
  "info" : {
    "description" : "For a given Participant ID, will provide the Participant details. When no matching record found for the requested criteria , the default record will be returned. ",
    "version" : "v1.0.0",
    "title" : "Reference GPIs API"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/reference/GPIs/{participantId}" : {
      "get" : {
        "summary" : "Get GPI Participant Record",
        "description" : "Retrieves the details of the Participant",
        "operationId" : "getParticipantDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "participantId",
          "in" : "path",
          "description" : "Process Workflow Participant ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "currencyCode",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "requestDate",
          "in" : "query",
          "description" : "Date on which the client's request to be classified as professional has been received.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "channelType",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "reachableThrough",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "intMedFlg",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ParticipantDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/ParticipantDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "ParticipantDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ParticipantDetailsResponseBody"
        }
      },
      "description" : "ParticipantDetailsResponse"
    },
    "ParticipantDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "participantId" : {
            "type" : "string",
            "description" : "Process Workflow Participant ID"
          },
          "idType" : {
            "type" : "string"
          },
          "participantName" : {
            "type" : "string"
          },
          "countryCode" : {
            "type" : "string"
          },
          "currencyCode" : {
            "type" : "string"
          },
          "cutOffTime" : {
            "type" : "string",
            "description" : "The Cut off time when all executions for the day are consolidated to create a trade"
          },
          "cutOffDay" : {
            "type" : "string"
          },
          "localTimezone" : {
            "type" : "string"
          },
          "actAsIntermediary" : {
            "type" : "string"
          },
          "reachableThrough" : {
            "type" : "string"
          },
          "channelType" : {
            "type" : "string"
          },
          "startDate" : {
            "type" : "string",
            "description" : "Contains the date on which the transaction or payment gets initiated."
          },
          "stopDate" : {
            "type" : "string",
            "description" : "Indicates the date on which the Payment Stop is placed"
          },
          "ssiRecordKey" : {
            "type" : "string"
          },
          "delegatedTo" : {
            "type" : "string"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}