{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows the viewing of Instruments - Bonds, Equities, Futures, Options, Active IPOs and Funds",
    "version" : "v1.0.0",
    "title" : "API for security instruments"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/reference/instruments/initialPublicOfferings" : {
      "get" : {
        "summary" : "Retrieves the intial public offerings",
        "description" : "Retrieves the initial offer IPO instruments filtered based on the instrument id, start and end date of the offering",
        "operationId" : "getActiveIPOs",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "instrumentId",
          "in" : "query",
          "description" : "The identifier of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Contains the date on which the transaction or payment gets initiated.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ActiveIPOsResponse",
            "schema" : {
              "$ref" : "#/definitions/ActiveIPOsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/instruments/bonds" : {
      "get" : {
        "summary" : "Retrieves the bond instruments",
        "description" : "Retrieves the bond instruments filtered based on the instrument id and instrument currency",
        "operationId" : "getInstrumentsBonds",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "instrumentId",
          "in" : "query",
          "description" : "The identifier of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "instrumentCurrencyId",
          "in" : "query",
          "description" : "The currency of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mnemonic",
          "in" : "query",
          "description" : "Shortcut code for referring an Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "subAssetTypeId",
          "in" : "query",
          "description" : "Identifies the group of like Securities, which are reported together ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "priceType",
          "in" : "query",
          "description" : "Defines the method to be used when calculating the price of a trade",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "ISIN",
          "in" : "query",
          "description" : "The International Securities Identification Number of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "stockExchange",
          "in" : "query",
          "description" : "The stock exchange identifier",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "depositoryId",
          "in" : "query",
          "description" : "Id of the securities depository.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "InstrumentsBondsResponse",
            "schema" : {
              "$ref" : "#/definitions/InstrumentsBondsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      },
      "post" : {
        "summary" : "Creates the bond skeleton instrument",
        "description" : "Creates the bond skeleton instrument",
        "operationId" : "createSecurityBond",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SecurityBond"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityBondResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityBondResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/reference/instruments/shares" : {
      "get" : {
        "summary" : "Retrieves the share instruments",
        "description" : "Retrieves the share instruments filtered based on the instrument id and instrument currency",
        "operationId" : "getInstrumentShares",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "instrumentId",
          "in" : "query",
          "description" : "The identifier of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "instrumentCurrencyId",
          "in" : "query",
          "description" : "The currency of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mnemonic",
          "in" : "query",
          "description" : "Shortcut code for referring an Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "subAssetTypeId",
          "in" : "query",
          "description" : "Identifies the group of like Securities, which are reported together ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "priceType",
          "in" : "query",
          "description" : "Defines the method to be used when calculating the price of a trade",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "ISIN",
          "in" : "query",
          "description" : "The International Securities Identification Number of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "stockExchange",
          "in" : "query",
          "description" : "The stock exchange identifier",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "depositoryId",
          "in" : "query",
          "description" : "Id of the securities depository.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "InstrumentSharesResponse",
            "schema" : {
              "$ref" : "#/definitions/InstrumentSharesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      },
      "post" : {
        "summary" : "Creates the share skeleton instrument",
        "description" : "Creates the share skeleton instrument",
        "operationId" : "createSecurityShare",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SecurityShare"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityShareResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityShareResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/reference/instruments/futures" : {
      "get" : {
        "summary" : "Retrieves the derivatives futures",
        "description" : "Retrieves the future type contracts filtered based on the contract code",
        "operationId" : "getFutureContracts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FutureContractsResponse",
            "schema" : {
              "$ref" : "#/definitions/FutureContractsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/instruments/options" : {
      "get" : {
        "summary" : "Retrieves the derivatives options",
        "description" : "Retrieves the option type contracts filtered based on the contract code",
        "operationId" : "getOptionContracts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OptionContractsResponse",
            "schema" : {
              "$ref" : "#/definitions/OptionContractsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/instruments/{instrumentId}/bonds" : {
      "get" : {
        "summary" : "Retrieves the bond skeleton instrument",
        "description" : "Retrieves the bond skeleton instrument",
        "operationId" : "getSecurityBond",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "instrumentId",
          "in" : "path",
          "description" : "The identifier of the instrument",
          "required" : true,
          "type" : "string",
          "x-example" : "GB00B0LSFV82"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityBondResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityBondResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/reference/instruments/{instrumentId}/shares" : {
      "get" : {
        "summary" : "Retrieves the share skeleton instrument",
        "description" : "Retrieves the share skeleton instrument",
        "operationId" : "getSecurityShare",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "instrumentId",
          "in" : "path",
          "description" : "The identifier of the instrument",
          "required" : true,
          "type" : "string",
          "x-example" : "US8552441094"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityShareResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityShareResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/reference/instruments/structuredNotes" : {
      "post" : {
        "summary" : "Creates the structured notes instruments",
        "description" : "Creates the structured notes instruments",
        "operationId" : "createStructuredNotes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/StructuredNotes"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "StructuredNotesResponse",
            "schema" : {
              "$ref" : "#/definitions/StructuredNotesResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/reference/instruments/{instrumentId}/structuredNotes" : {
      "get" : {
        "summary" : "Retrieves the structured notes instruments",
        "description" : "Retrieves the structured notes instruments",
        "operationId" : "getStructuredNote",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "instrumentId",
          "in" : "path",
          "description" : "The identifier of the instrument",
          "required" : true,
          "type" : "string",
          "x-example" : "GB00BVJF7H80"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "StructuredNoteResponse",
            "schema" : {
              "$ref" : "#/definitions/StructuredNotesResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/reference/instruments/{instrumentId}/funds" : {
      "get" : {
        "summary" : "Retrieves the fund security",
        "description" : "Retrieves the fund security",
        "operationId" : "getFundInstrument",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "instrumentId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FundInstrumentResponse",
            "schema" : {
              "$ref" : "#/definitions/FundInstrumentResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "post" : {
        "summary" : "Creates the fund security",
        "description" : "Creates the mutual fund instrument",
        "operationId" : "createFundInstrument",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "instrumentId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FundInstrument"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FundInstrumentResponse",
            "schema" : {
              "$ref" : "#/definitions/FundInstrumentResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "ActiveIPOsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ActiveIPOsResponseBody"
        }
      },
      "description" : "ActiveIPOsResponse"
    },
    "ActiveIPOsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "instrumentId" : {
            "type" : "string",
            "description" : "The identifier of the instrument",
            "maxLength" : 12
          },
          "displayName" : {
            "type" : "string",
            "description" : "Name used for display or enrichment purposes",
            "maxLength" : 35
          },
          "stockExchange" : {
            "type" : "string",
            "description" : "The stock exchange identifier",
            "maxLength" : 5
          },
          "startDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Contains the date on which the transaction or payment gets initiated."
          },
          "endDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned"
          },
          "lot" : {
            "type" : "number",
            "description" : "The number of lots/contracts traded"
          },
          "priceCurrency" : {
            "type" : "string",
            "description" : "The currency of the Price",
            "maxLength" : 3
          },
          "minOfferPrice" : {
            "type" : "number",
            "description" : "Minimum price used for bidding in IPO order"
          },
          "maxOfferPrice" : {
            "type" : "number",
            "description" : " Maximum price allowed to bid in IPO order"
          },
          "issueOfferPrice" : {
            "type" : "number",
            "description" : "Price used in IPO order when the Type of Issue is Single Bid."
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "InstrumentsBondsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/InstrumentsBondsResponseBody"
        }
      },
      "description" : "InstrumentsBondsResponse"
    },
    "InstrumentsBondsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "instrumentId" : {
            "type" : "string",
            "description" : "The identifier of the instrument",
            "maxLength" : 12
          },
          "ISIN" : {
            "type" : "string",
            "description" : "The International Securities Identification Number of the instrument",
            "maxLength" : 12
          },
          "instrumentName" : {
            "type" : "string",
            "description" : "The name that is displayed for the instrument, taken from the Security Master",
            "maxLength" : 35
          },
          "instrumentCurrencyId" : {
            "type" : "string",
            "description" : "The currency of the instrument",
            "maxLength" : 3
          },
          "stockExchange" : {
            "type" : "string",
            "description" : "The stock exchange identifier",
            "maxLength" : 5
          },
          "priceCurrency" : {
            "type" : "string",
            "description" : "The currency of the Price",
            "maxLength" : 3
          },
          "lastPrice" : {
            "type" : "number",
            "description" : "Indicates the last recorded price of the instrument"
          },
          "priceType" : {
            "type" : "string",
            "description" : "Defines the method to be used when calculating the price of a trade",
            "maxLength" : 5
          },
          "interestRate" : {
            "type" : "number",
            "description" : "Identifies the bid rate of the related currency for the defined time period"
          },
          "couponDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Effective Date of Coupon Rate"
          },
          "couponRate" : {
            "type" : "number",
            "description" : "Rate at which a periodic payment is made under a bond/security and also in interest rate derivatives such as Interest rate Swaps."
          },
          "inflationIndex" : {
            "type" : "number",
            "description" : "Inflation Index to be considered for the Bonds"
          },
          "inflationIndexComponent" : {
            "type" : "string",
            "description" : "Component of Bond Security on which the inflation Index is applicable. - Interest - Principal - Both (Interest and Pricipal)",
            "maxLength" : 11
          },
          "maturityDate" : {
            "type" : "number",
            "description" : "Indicates maturity date of the contract"
          },
          "tradingUnits" : {
            "type" : "number",
            "description" : "Specifies the smallest nominal amount that may be traded"
          },
          "depositoryId" : {
            "type" : "string",
            "description" : "Id of the securities depository.",
            "maxLength" : 10
          }
        }
      }
    },
    "InstrumentSharesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/InstrumentSharesResponseBody"
        }
      },
      "description" : "InstrumentSharesResponse"
    },
    "InstrumentSharesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "instrumentId" : {
            "type" : "string",
            "description" : "The identifier of the instrument",
            "maxLength" : 12
          },
          "instrumentName" : {
            "type" : "string",
            "description" : "The name that is displayed for the instrument, taken from the Security Master",
            "maxLength" : 35
          },
          "companyDomicile" : {
            "type" : "string",
            "description" : "Specifies the country of domicile, of the parent company or government or establishment issuing the Security",
            "maxLength" : 2
          },
          "instrumentDomicile" : {
            "type" : "string",
            "description" : "Specifies the country domicile of the Security being issued",
            "maxLength" : 2
          },
          "instrumentCurrencyId" : {
            "type" : "string",
            "description" : "The currency of the instrument",
            "maxLength" : 3
          },
          "priceCurrency" : {
            "type" : "string",
            "description" : "The currency of the Price",
            "maxLength" : 3
          },
          "lastPrice" : {
            "type" : "number",
            "description" : "Indicates the last recorded price of the instrument"
          },
          "lastPriceDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Effective Date of Last Price of the Security"
          },
          "subAssetTypeId" : {
            "type" : "number",
            "description" : "Identifies the group of like Securities, which are reported together "
          },
          "subAssetType" : {
            "type" : "string",
            "description" : "The name of the Sub Asset Type",
            "maxLength" : 20
          },
          "priceType" : {
            "type" : "string",
            "description" : "Defines the method to be used when calculating the price of a trade",
            "maxLength" : 5
          },
          "priceUpdateCode" : {
            "type" : "string",
            "description" : "Specifies the type of price update that will update the price of this security",
            "maxLength" : 5
          },
          "interestRate" : {
            "type" : "number",
            "description" : "Identifies the bid rate of the related currency for the defined time period"
          },
          "maturityDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates maturity date of the contract"
          },
          "tradingUnits" : {
            "type" : "number",
            "description" : "Specifies the smallest nominal amount that may be traded"
          }
        }
      }
    },
    "FutureContractsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/FutureContractsResponseBody"
        }
      },
      "description" : "FutureContractsResponse"
    },
    "FutureContractsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "contractId" : {
            "type" : "number",
            "description" : "The identifier of the contract"
          },
          "displayName" : {
            "type" : "string",
            "description" : "Name used for display or enrichment purposes",
            "maxLength" : 35
          }
        }
      }
    },
    "OptionContractsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OptionContractsResponseBody"
        }
      },
      "description" : "OptionContractsResponse"
    },
    "OptionContractsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "contractId" : {
            "type" : "number",
            "description" : "The identifier of the contract"
          },
          "displayName" : {
            "type" : "string",
            "description" : "Name used for display or enrichment purposes",
            "maxLength" : 35
          }
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "SecurityBond" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SecurityBondBody"
        }
      },
      "description" : "SecurityBond"
    },
    "SecurityBondBody" : {
      "type" : "object",
      "required" : [ "interestRate", "lastPrice", "maturityDate", "mnemonic" ],
      "properties" : {
        "alternateInstrumentDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "alternateInstrument" : {
                "type" : "string",
                "description" : "The alternate security identifier",
                "maxLength" : 25
              },
              "alternateInstrumentId" : {
                "type" : "string",
                "description" : "The alternate security reference for the instrument",
                "maxLength" : 25
              }
            }
          }
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes",
          "maxLength" : 25
        },
        "mnemonic" : {
          "type" : "string",
          "description" : "Shortcut code for referring an Entity/Company/Branch.",
          "maxLength" : 25
        },
        "ISIN" : {
          "type" : "string",
          "description" : "The International Securities Identification Number of the instrument",
          "maxLength" : 25
        },
        "subAssetTypeId" : {
          "type" : "number",
          "description" : "Identifies the group of like Securities, which are reported together "
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 25
        },
        "depositoryId" : {
          "type" : "number",
          "description" : "Id of the securities depository."
        },
        "priceType" : {
          "type" : "string",
          "description" : "Defines the method to be used when calculating the price of a trade",
          "maxLength" : 25
        },
        "lastPrice" : {
          "type" : "number",
          "description" : "Indicates the last recorded price of the instrument"
        },
        "companyDomicile" : {
          "type" : "string",
          "description" : "Specifies the country of domicile, of the parent company or government or establishment issuing the Security",
          "maxLength" : 25
        },
        "instrumentDomicile" : {
          "type" : "string",
          "description" : "Specifies the country domicile of the Security being issued",
          "maxLength" : 25
        },
        "priceUpdateCode" : {
          "type" : "string",
          "description" : "Specifies the type of price update that will update the price of this security",
          "maxLength" : 25
        },
        "industryId" : {
          "type" : "number",
          "description" : "An institution-defined identifier of the industry in which the customer is trading, operating or is associated with"
        },
        "stockExchange" : {
          "type" : "string",
          "description" : "The stock exchange identifier",
          "maxLength" : 25
        },
        "interestRate" : {
          "type" : "number",
          "description" : "Identifies the bid rate of the related currency for the defined time period"
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "maturityDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates maturity date of the contract"
        },
        "initialPaymentDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Specifies the date on which the 1st interest payment or coupon falls due"
        },
        "accrualDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the accrual is effective"
        },
        "numberOfPayments" : {
          "type" : "number",
          "description" : "Specifies the number of coupon or interest payments a year"
        },
        "tradingUnits" : {
          "type" : "number",
          "description" : "Specifies the smallest nominal amount that may be traded"
        },
        "brokerTradingUnits" : {
          "type" : "number",
          "description" : "Specifies the smallest nominal amount that may be traded"
        },
        "minimumHolding" : {
          "type" : "number",
          "description" : "Specifies the Minimum holding for the security."
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "SecurityBondResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SecurityBondResponseBody"
        }
      },
      "description" : "SecurityBondResponse"
    },
    "SecurityBondResponseBody" : {
      "type" : "object",
      "properties" : {
        "alternateInstrumentDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "alternateInstrument" : {
                "type" : "string",
                "description" : "The alternate security identifier",
                "maxLength" : 25
              },
              "alternateInstrumentId" : {
                "type" : "string",
                "description" : "The alternate security reference for the instrument",
                "maxLength" : 25
              }
            }
          }
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes",
          "maxLength" : 25
        },
        "mnemonic" : {
          "type" : "string",
          "description" : "Shortcut code for referring an Entity/Company/Branch.",
          "maxLength" : 25
        },
        "ISIN" : {
          "type" : "string",
          "description" : "The International Securities Identification Number of the instrument",
          "maxLength" : 25
        },
        "subAssetTypeId" : {
          "type" : "number",
          "description" : "Identifies the group of like Securities, which are reported together "
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 25
        },
        "depositoryId" : {
          "type" : "number",
          "description" : "Id of the securities depository."
        },
        "priceType" : {
          "type" : "string",
          "description" : "Defines the method to be used when calculating the price of a trade",
          "maxLength" : 25
        },
        "instrumentType" : {
          "type" : "string",
          "description" : "Indicates the type of the security ",
          "maxLength" : 25
        },
        "lastPrice" : {
          "type" : "number",
          "description" : "Indicates the last recorded price of the instrument"
        },
        "companyDomicile" : {
          "type" : "string",
          "description" : "Specifies the country of domicile, of the parent company or government or establishment issuing the Security",
          "maxLength" : 25
        },
        "instrumentDomicile" : {
          "type" : "string",
          "description" : "Specifies the country domicile of the Security being issued",
          "maxLength" : 25
        },
        "priceUpdateCode" : {
          "type" : "string",
          "description" : "Specifies the type of price update that will update the price of this security",
          "maxLength" : 25
        },
        "industryId" : {
          "type" : "number",
          "description" : "An institution-defined identifier of the industry in which the customer is trading, operating or is associated with"
        },
        "stockExchange" : {
          "type" : "string",
          "description" : "The stock exchange identifier",
          "maxLength" : 25
        },
        "interestRate" : {
          "type" : "number",
          "description" : "Identifies the bid rate of the related currency for the defined time period"
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "maturityDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates maturity date of the contract"
        },
        "initialPaymentDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Specifies the date on which the 1st interest payment or coupon falls due"
        },
        "accrualDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the accrual is effective"
        },
        "numberOfPayments" : {
          "type" : "number",
          "description" : "Specifies the number of coupon or interest payments a year"
        },
        "tradingUnits" : {
          "type" : "number",
          "description" : "Specifies the smallest nominal amount that may be traded"
        },
        "brokerTradingUnits" : {
          "type" : "number",
          "description" : "Specifies the smallest nominal amount that may be traded"
        },
        "minimumHolding" : {
          "type" : "number",
          "description" : "Specifies the Minimum holding for the security."
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "SecurityShare" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SecurityShareBody"
        }
      },
      "description" : "SecurityShare",
      "example" : {
        "header" : { },
        "body" : {
          "stockExchange" : "NYSE",
          "interestRate" : "5.0",
          "subAssetType" : "200",
          "parValue" : "10",
          "initialPaymentDate" : "20180317",
          "couponTaxCodeId" : "US",
          "displayName" : "New Bond",
          "priceType" : "0",
          "priceUpdateCode" : "MANU",
          "companyDomicile" : "US",
          "industryId" : "10",
          "maturityDate" : "20180417",
          "mnemonic" : "M991002009",
          "currencyId" : "USD",
          "lastPrice" : "100"
        }
      }
    },
    "SecurityShareBody" : {
      "type" : "object",
      "required" : [ "lastPrice", "mnemonic" ],
      "properties" : {
        "alternateInstrumentDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "alternateInstrument" : {
                "type" : "string",
                "description" : "The alternate security identifier",
                "maxLength" : 25
              },
              "alternateInstrumentId" : {
                "type" : "string",
                "description" : "The alternate security reference for the instrument",
                "maxLength" : 25
              }
            }
          }
        },
        "minimumInvestmentDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "currencyId" : {
                "type" : "string",
                "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
                "maxLength" : 25
              },
              "initialInvestment" : {
                "type" : "number",
                "description" : "Indicates the amount of initial investment"
              },
              "subsequentInvestment" : {
                "type" : "number",
                "description" : "Indicates the amount of subsequent investment"
              },
              "SIPAmount" : {
                "type" : "number",
                "description" : "Indicates the SIP(Systematic Investment Plan) amount"
              },
              "redemptionAmount" : {
                "type" : "number",
                "description" : "Indicates the redemption amount"
              }
            }
          }
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes",
          "maxLength" : 25
        },
        "mnemonic" : {
          "type" : "string",
          "description" : "Shortcut code for referring an Entity/Company/Branch.",
          "maxLength" : 25
        },
        "ISIN" : {
          "type" : "string",
          "description" : "The International Securities Identification Number of the instrument",
          "maxLength" : 25
        },
        "subAssetType" : {
          "type" : "number",
          "description" : "The name of the Sub Asset Type"
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 25
        },
        "depositoryId" : {
          "type" : "number",
          "description" : "Id of the securities depository."
        },
        "priceType" : {
          "type" : "string",
          "description" : "Defines the method to be used when calculating the price of a trade",
          "maxLength" : 25
        },
        "lastPrice" : {
          "type" : "number",
          "description" : "Indicates the last recorded price of the instrument"
        },
        "companyDomicile" : {
          "type" : "string",
          "description" : "Specifies the country of domicile, of the parent company or government or establishment issuing the Security",
          "maxLength" : 25
        },
        "instrumentDomicile" : {
          "type" : "string",
          "description" : "Specifies the country domicile of the Security being issued",
          "maxLength" : 25
        },
        "priceUpdateCode" : {
          "type" : "string",
          "description" : "Specifies the type of price update that will update the price of this security",
          "maxLength" : 25
        },
        "industryId" : {
          "type" : "number",
          "description" : "An institution-defined identifier of the industry in which the customer is trading, operating or is associated with"
        },
        "stockExchange" : {
          "type" : "string",
          "description" : "The stock exchange identifier",
          "maxLength" : 25
        },
        "parValue" : {
          "type" : "number",
          "description" : "Defines par value of the stock in the Security Currency"
        },
        "tradingUnits" : {
          "type" : "number",
          "description" : "Specifies the smallest nominal amount that may be traded"
        },
        "brokerTradingUnits" : {
          "type" : "number",
          "description" : "Specifies the smallest nominal amount that may be traded"
        },
        "couponTaxCodeId" : {
          "type" : "string",
          "description" : "Indicates the tax position",
          "maxLength" : 25
        },
        "minimumHolding" : {
          "type" : "number",
          "description" : "Specifies the Minimum holding for the security."
        },
        "minimumHoldingPeriod" : {
          "type" : "string",
          "description" : "Holds the notice period required for redemption requests",
          "maxLength" : 25
        },
        "minimumHoldingOverride" : {
          "type" : "boolean",
          "description" : "Indicates if the minimum holding period can be overridden by paying a fee"
        }
      }
    },
    "SecurityShareResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SecurityShareResponseBody"
        }
      },
      "description" : "SecurityShareResponse"
    },
    "SecurityShareResponseBody" : {
      "type" : "object",
      "properties" : {
        "alternateInstrumentDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "alternateInstrument" : {
                "type" : "string",
                "description" : "The alternate security identifier",
                "maxLength" : 25
              },
              "alternateInstrumentId" : {
                "type" : "string",
                "description" : "The alternate security reference for the instrument",
                "maxLength" : 25
              }
            }
          }
        },
        "minimumInvestmentDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "currencyId" : {
                "type" : "string",
                "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
                "maxLength" : 25
              },
              "initialInvestment" : {
                "type" : "number",
                "description" : "Indicates the amount of initial investment"
              },
              "subsequentInvestment" : {
                "type" : "number",
                "description" : "Indicates the amount of subsequent investment"
              },
              "SIPAmount" : {
                "type" : "number",
                "description" : "Indicates the SIP(Systematic Investment Plan) amount"
              },
              "redemptionAmount" : {
                "type" : "number",
                "description" : "Indicates the redemption amount"
              }
            }
          }
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes",
          "maxLength" : 25
        },
        "mnemonic" : {
          "type" : "string",
          "description" : "Shortcut code for referring an Entity/Company/Branch.",
          "maxLength" : 25
        },
        "ISIN" : {
          "type" : "string",
          "description" : "The International Securities Identification Number of the instrument",
          "maxLength" : 25
        },
        "subAssetType" : {
          "type" : "number",
          "description" : "The name of the Sub Asset Type"
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 25
        },
        "depositoryId" : {
          "type" : "number",
          "description" : "Id of the securities depository."
        },
        "priceType" : {
          "type" : "string",
          "description" : "Defines the method to be used when calculating the price of a trade",
          "maxLength" : 25
        },
        "instrumentType" : {
          "type" : "string",
          "description" : "Indicates the type of the security ",
          "maxLength" : 25
        },
        "lastPrice" : {
          "type" : "number",
          "description" : "Indicates the last recorded price of the instrument"
        },
        "companyDomicile" : {
          "type" : "string",
          "description" : "Specifies the country of domicile, of the parent company or government or establishment issuing the Security",
          "maxLength" : 25
        },
        "instrumentDomicile" : {
          "type" : "string",
          "description" : "Specifies the country domicile of the Security being issued",
          "maxLength" : 25
        },
        "priceUpdateCode" : {
          "type" : "string",
          "description" : "Specifies the type of price update that will update the price of this security",
          "maxLength" : 25
        },
        "industryId" : {
          "type" : "number",
          "description" : "An institution-defined identifier of the industry in which the customer is trading, operating or is associated with"
        },
        "stockExchange" : {
          "type" : "string",
          "description" : "The stock exchange identifier",
          "maxLength" : 25
        },
        "parValue" : {
          "type" : "number",
          "description" : "Defines par value of the stock in the Security Currency"
        },
        "tradingUnits" : {
          "type" : "number",
          "description" : "Specifies the smallest nominal amount that may be traded"
        },
        "brokerTradingUnits" : {
          "type" : "number",
          "description" : "Specifies the smallest nominal amount that may be traded"
        },
        "couponTaxCodeId" : {
          "type" : "string",
          "description" : "Indicates the tax position",
          "maxLength" : 25
        },
        "minimumHolding" : {
          "type" : "number",
          "description" : "Specifies the Minimum holding for the security."
        },
        "minimumHoldingPeriod" : {
          "type" : "string",
          "description" : "Holds the notice period required for redemption requests",
          "maxLength" : 25
        },
        "minimumHoldingOverride" : {
          "type" : "boolean",
          "description" : "Indicates if the minimum holding period can be overridden by paying a fee"
        }
      }
    },
    "StructuredNotes" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/StructuredNotesBody"
        }
      },
      "description" : "StructuredNotes",
      "example" : {
        "header" : {
          "override" : {
            "overrideDetails" : [ {
              "description" : "NEW ISSUE",
              "id" : "NEW ISSUE",
              "type" : "Override"
            } ]
          }
        },
        "body" : {
          "stockExchange" : "NYSE",
          "instrumentName" : "JP Morgan",
          "interestRates" : [ {
            "interestRate" : 5.0
          } ],
          "maturityDate" : "20180417",
          "currencyId" : "USD",
          "lastPrice" : 100
        }
      }
    },
    "StructuredNotesBody" : {
      "type" : "object",
      "required" : [ "lastPrice", "maturityDate" ],
      "properties" : {
        "alternateInstrumentDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "alternateInstrument" : {
                "type" : "string",
                "description" : "The alternate security identifier",
                "maxLength" : 40
              },
              "alternateInstrumentId" : {
                "type" : "string",
                "description" : "The alternate security reference for the instrument",
                "maxLength" : 40
              }
            }
          }
        },
        "interestRates" : {
          "type" : "array",
          "description" : "Identifies the bid rate of the related currency for the defined time period",
          "items" : {
            "type" : "object",
            "properties" : {
              "interestRate" : {
                "type" : "number",
                "description" : "Identifies the bid rate of the related currency for the defined time period"
              }
            },
            "required" : [ "interestRate" ]
          }
        },
        "instrumentName" : {
          "type" : "string",
          "description" : "The name that is displayed for the instrument, taken from the Security Master",
          "maxLength" : 40
        },
        "ISIN" : {
          "type" : "string",
          "description" : "The International Securities Identification Number of the instrument",
          "maxLength" : 40
        },
        "structureNote" : {
          "type" : "boolean",
          "description" : "Flag to indicate whether the instrument is a structured note. Allowed values: - YES - null (default)"
        },
        "subAssetTypeId" : {
          "type" : "number",
          "description" : "Identifies the group of like Securities, which are reported together "
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 40
        },
        "priceType" : {
          "type" : "string",
          "description" : "Defines the method to be used when calculating the price of a trade",
          "maxLength" : 40
        },
        "lastPrice" : {
          "type" : "number",
          "description" : "Indicates the last recorded price of the instrument"
        },
        "companyDomicile" : {
          "type" : "string",
          "description" : "Specifies the country of domicile, of the parent company or government or establishment issuing the Security",
          "maxLength" : 40
        },
        "instrumentDomicile" : {
          "type" : "string",
          "description" : "Specifies the country domicile of the Security being issued",
          "maxLength" : 40
        },
        "priceUpdateCode" : {
          "type" : "string",
          "description" : "Specifies the type of price update that will update the price of this security",
          "maxLength" : 40
        },
        "industryId" : {
          "type" : "number",
          "description" : "An institution-defined identifier of the industry in which the customer is trading, operating or is associated with"
        },
        "stockExchange" : {
          "type" : "string",
          "description" : "The stock exchange identifier",
          "maxLength" : 40
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "maturityDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates maturity date of the contract"
        },
        "initialPaymentDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Specifies the date on which the 1st interest payment or coupon falls due"
        },
        "accrualDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the accrual is effective"
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes",
          "maxLength" : 40
        }
      }
    },
    "StructuredNotesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/StructuredNotesResponseBody"
        }
      },
      "description" : "StructuredNotesResponse"
    },
    "StructuredNotesResponseBody" : {
      "type" : "object",
      "properties" : {
        "alternateInstrumentDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "alternateInstrument" : {
                "type" : "string",
                "description" : "The alternate security identifier",
                "maxLength" : 40
              },
              "alternateInstrumentId" : {
                "type" : "string",
                "description" : "The alternate security reference for the instrument",
                "maxLength" : 40
              }
            }
          }
        },
        "interestRates" : {
          "type" : "array",
          "description" : "Identifies the bid rate of the related currency for the defined time period",
          "items" : {
            "type" : "object",
            "properties" : {
              "interestRate" : {
                "type" : "number",
                "description" : "Identifies the bid rate of the related currency for the defined time period"
              }
            }
          }
        },
        "instrumentName" : {
          "type" : "string",
          "description" : "The name that is displayed for the instrument, taken from the Security Master",
          "maxLength" : 40
        },
        "ISIN" : {
          "type" : "string",
          "description" : "The International Securities Identification Number of the instrument",
          "maxLength" : 40
        },
        "structureNote" : {
          "type" : "boolean",
          "description" : "Flag to indicate whether the instrument is a structured note. Allowed values: - YES - null (default)"
        },
        "subAssetTypeId" : {
          "type" : "number",
          "description" : "Identifies the group of like Securities, which are reported together "
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 40
        },
        "priceType" : {
          "type" : "string",
          "description" : "Defines the method to be used when calculating the price of a trade",
          "maxLength" : 40
        },
        "instrumentType" : {
          "type" : "string",
          "description" : "Indicates the type of the security ",
          "maxLength" : 40
        },
        "lastPrice" : {
          "type" : "number",
          "description" : "Indicates the last recorded price of the instrument"
        },
        "companyDomicile" : {
          "type" : "string",
          "description" : "Specifies the country of domicile, of the parent company or government or establishment issuing the Security",
          "maxLength" : 40
        },
        "instrumentDomicile" : {
          "type" : "string",
          "description" : "Specifies the country domicile of the Security being issued",
          "maxLength" : 40
        },
        "priceUpdateCode" : {
          "type" : "string",
          "description" : "Specifies the type of price update that will update the price of this security",
          "maxLength" : 40
        },
        "industryId" : {
          "type" : "number",
          "description" : "An institution-defined identifier of the industry in which the customer is trading, operating or is associated with"
        },
        "stockExchange" : {
          "type" : "string",
          "description" : "The stock exchange identifier",
          "maxLength" : 40
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "maturityDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates maturity date of the contract"
        },
        "initialPaymentdate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Specifies the date on which the 1st interest payment or coupon falls due"
        },
        "accrualDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the accrual is effective"
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes",
          "maxLength" : 40
        }
      }
    },
    "FundInstrumentResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/FundInstrumentResponseBody"
        }
      },
      "description" : "FundInstrumentResponse"
    },
    "FundInstrumentResponseBody" : {
      "type" : "object",
      "properties" : {
        "alternateInstrumentDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "alternateInstrument" : {
                "type" : "string",
                "description" : "The alternate security identifier",
                "maxLength" : 40
              },
              "alternateInstrumentId" : {
                "type" : "string",
                "description" : "The alternate security reference for the instrument",
                "maxLength" : 40
              }
            }
          }
        },
        "interestRates" : {
          "type" : "array",
          "description" : "Identifies the bid rate of the related currency for the defined time period",
          "items" : {
            "type" : "object",
            "properties" : {
              "interestRate" : {
                "type" : "number",
                "description" : "Identifies the bid rate of the related currency for the defined time period"
              }
            }
          }
        },
        "instrumentName" : {
          "type" : "string",
          "description" : "The name that is displayed for the instrument, taken from the Security Master",
          "maxLength" : 40
        },
        "ISIN" : {
          "type" : "string",
          "description" : "The International Securities Identification Number of the instrument",
          "maxLength" : 40
        },
        "structureNote" : {
          "type" : "boolean",
          "description" : "Flag to indicate whether the instrument is a structured note. Allowed values: - YES - null (default)"
        },
        "subAssetTypeId" : {
          "type" : "number",
          "description" : "Identifies the group of like Securities, which are reported together "
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 40
        },
        "priceType" : {
          "type" : "string",
          "description" : "Defines the method to be used when calculating the price of a trade",
          "maxLength" : 40
        },
        "instrumentType" : {
          "type" : "string",
          "description" : "Indicates the type of the security ",
          "maxLength" : 40
        },
        "lastPrice" : {
          "type" : "number",
          "description" : "Indicates the last recorded price of the instrument"
        },
        "companyDomicile" : {
          "type" : "string",
          "description" : "Specifies the country of domicile, of the parent company or government or establishment issuing the Security",
          "maxLength" : 40
        },
        "instrumentDomicile" : {
          "type" : "string",
          "description" : "Specifies the country domicile of the Security being issued",
          "maxLength" : 40
        },
        "priceUpdateCode" : {
          "type" : "string",
          "description" : "Specifies the type of price update that will update the price of this security",
          "maxLength" : 40
        },
        "industryId" : {
          "type" : "string",
          "description" : "An institution-defined identifier of the industry in which the customer is trading, operating or is associated with",
          "maxLength" : 40
        },
        "stockExchange" : {
          "type" : "string",
          "description" : "The stock exchange identifier",
          "maxLength" : 40
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "maturityDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates maturity date of the contract"
        },
        "initialPaymentDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Specifies the date on which the 1st interest payment or coupon falls due"
        },
        "accrualDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the accrual is effective"
        },
        "companyName" : {
          "type" : "string",
          "description" : "The company in which payment is processed",
          "maxLength" : 40
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes",
          "maxLength" : 40
        },
        "couponTaxCodeId" : {
          "type" : "string",
          "description" : "Indicates the tax position",
          "maxLength" : 15
        },
        "interestDayBasis" : {
          "type" : "string",
          "description" : "Defines the method of calculation for accrued interest on a Security",
          "maxLength" : 35
        },
        "priceFrequency" : {
          "type" : "string",
          "description" : "This is the identifier to differentiate between daily and non-daily priced funds",
          "maxLength" : 40
        },
        "fundSubsFreq" : {
          "type" : "string",
          "description" : "This is to indicate the subscription frequency of the fund",
          "maxLength" : 40
        },
        "subsDayOffset" : {
          "type" : "string",
          "description" : "This is to indicate the number of days offset applied on the subscription frequency",
          "maxLength" : 40
        },
        "fundRedmFreq" : {
          "type" : "string",
          "description" : "This is to indicate the redemption frequency of the fund",
          "maxLength" : 40
        },
        "redmDayOffset" : {
          "type" : "string",
          "description" : "This is to indicate the number of days offset applied on the redemption frequency",
          "maxLength" : 40
        },
        "domicileRegion" : {
          "type" : "string",
          "description" : "This is the identifier of the domicile region based on which the next cut off date will be calculated",
          "maxLength" : 40
        }
      }
    },
    "FundInstrument" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/FundInstrumentBody"
        }
      },
      "description" : "FundInstrument"
    },
    "FundInstrumentBody" : {
      "type" : "object",
      "required" : [ "lastPrice", "maturityDate" ],
      "properties" : {
        "alternateInstrumentDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "alternateInstrument" : {
                "type" : "string",
                "description" : "The alternate security identifier",
                "maxLength" : 40
              },
              "alternateInstrumentId" : {
                "type" : "string",
                "description" : "The alternate security reference for the instrument",
                "maxLength" : 40
              }
            }
          }
        },
        "interestRates" : {
          "type" : "array",
          "description" : "Identifies the bid rate of the related currency for the defined time period",
          "items" : {
            "type" : "object",
            "properties" : {
              "interestRate" : {
                "type" : "number",
                "description" : "Identifies the bid rate of the related currency for the defined time period"
              }
            },
            "required" : [ "interestRate" ]
          }
        },
        "instrumentName" : {
          "type" : "string",
          "description" : "The name that is displayed for the instrument, taken from the Security Master",
          "maxLength" : 40
        },
        "ISIN" : {
          "type" : "string",
          "description" : "The International Securities Identification Number of the instrument",
          "maxLength" : 40
        },
        "structureNote" : {
          "type" : "boolean",
          "description" : "Flag to indicate whether the instrument is a structured note. Allowed values: - YES - null (default)"
        },
        "subAssetTypeId" : {
          "type" : "number",
          "description" : "Identifies the group of like Securities, which are reported together "
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 40
        },
        "priceType" : {
          "type" : "string",
          "description" : "Defines the method to be used when calculating the price of a trade",
          "maxLength" : 40
        },
        "lastPrice" : {
          "type" : "number",
          "description" : "Indicates the last recorded price of the instrument"
        },
        "companyDomicile" : {
          "type" : "string",
          "description" : "Specifies the country of domicile, of the parent company or government or establishment issuing the Security",
          "maxLength" : 40
        },
        "instrumentDomicile" : {
          "type" : "string",
          "description" : "Specifies the country domicile of the Security being issued",
          "maxLength" : 40
        },
        "priceUpdateCode" : {
          "type" : "string",
          "description" : "Specifies the type of price update that will update the price of this security",
          "maxLength" : 40
        },
        "industryId" : {
          "type" : "string",
          "description" : "An institution-defined identifier of the industry in which the customer is trading, operating or is associated with",
          "maxLength" : 40
        },
        "stockExchange" : {
          "type" : "string",
          "description" : "The stock exchange identifier",
          "maxLength" : 40
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "maturityDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates maturity date of the contract"
        },
        "initialPaymentDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Specifies the date on which the 1st interest payment or coupon falls due"
        },
        "accrualDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the accrual is effective"
        },
        "companyName" : {
          "type" : "string",
          "description" : "The company in which payment is processed",
          "maxLength" : 40
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes",
          "maxLength" : 40
        },
        "couponTaxCodeId" : {
          "type" : "string",
          "description" : "Indicates the tax position",
          "maxLength" : 15
        },
        "interestDayBasis" : {
          "type" : "string",
          "description" : "Defines the method of calculation for accrued interest on a Security",
          "maxLength" : 35
        },
        "priceFrequency" : {
          "type" : "string",
          "description" : "This is the identifier to differentiate between daily and non-daily priced funds",
          "maxLength" : 40
        },
        "fundSubsFreq" : {
          "type" : "string",
          "description" : "This is to indicate the subscription frequency of the fund",
          "maxLength" : 40
        },
        "subsDayOffset" : {
          "type" : "string",
          "description" : "This is to indicate the number of days offset applied on the subscription frequency",
          "maxLength" : 40
        },
        "fundRedmFreq" : {
          "type" : "string",
          "description" : "This is to indicate the redemption frequency of the fund",
          "maxLength" : 40
        },
        "redmDayOffset" : {
          "type" : "string",
          "description" : "This is to indicate the number of days offset applied on the redemption frequency",
          "maxLength" : 40
        },
        "domicileRegion" : {
          "type" : "string",
          "description" : "This is the identifier of the domicile region based on which the next cut off date will be calculated",
          "maxLength" : 40
        }
      }
    },
    "createStructuredNotes" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/StructuredNotesBody"
        }
      },
      "description" : "StructuredNotes",
      "example" : {
        "header" : {
          "override" : {
            "overrideDetails" : [ {
              "description" : "NEW ISSUE",
              "id" : "NEW ISSUE",
              "type" : "Override"
            } ]
          }
        },
        "body" : {
          "stockExchange" : "NYSE",
          "instrumentName" : "JP Morgan",
          "interestRates" : [ {
            "interestRate" : 5.0
          } ],
          "maturityDate" : "20180417",
          "currencyId" : "USD",
          "lastPrice" : 100
        }
      }
    },
    "createSecurityShare" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SecurityShareBody"
        }
      },
      "description" : "SecurityShare",
      "example" : {
        "header" : { },
        "body" : {
          "stockExchange" : "NYSE",
          "interestRate" : "5.0",
          "subAssetType" : "200",
          "parValue" : "10",
          "initialPaymentDate" : "20180317",
          "couponTaxCodeId" : "US",
          "displayName" : "New Bond",
          "priceType" : "0",
          "priceUpdateCode" : "MANU",
          "companyDomicile" : "US",
          "industryId" : "10",
          "maturityDate" : "20180417",
          "mnemonic" : "M991002009",
          "currencyId" : "USD",
          "lastPrice" : "100"
        }
      }
    }
  }
}