{
  "swagger": "2.0",
  "info": {
    "description": "API to retrieve the list of US states defined in the system",
    "version": "v1.0.0",
    "title": "US Model Bank - US States"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/reference/us/states": {
      "get": {
        "summary": "Retrieves list of US States",
        "description": "US States",
        "operationId": "getUsStateList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "countryId",
            "in": "query",
            "description": "ISO country code of the financial institution. ",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "The identifier of the underlying Entity/Company/Branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "UsStateListResponse",
            "schema": {
              "$ref": "#/definitions/UsStateListResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "number",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "number",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "UsStateListResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/UsStateListResponseBody"
        }
      },
      "description": "UsStateListResponse"
    },
    "UsStateListResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "stateIds": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "stateId": {
                  "type": "array",
                  "description": "Represents the US State to which the address belongs to.",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "stateDescriptions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "array",
                  "description": "Contains the description of purpose of the payment.",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "countries": {
            "type": "array",
            "description": "Identifies the country of the customer.",
            "items": {
              "type": "object",
              "properties": {
                "countryId": {
                  "type": "array",
                  "description": "ISO country code of the financial institution. ",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "number",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "number",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message "
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description": "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message for bad requests"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description": "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message caused by server"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    }
  }
}