{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retrieves treasury configuration details",
    "version" : "v1.0.0",
    "title" : "API to retrieve configuration of treasury parameters"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/reference/treasury/forex/agreementTypes" : {
      "get" : {
        "summary" : "Retrieves description of all forex agreement types",
        "description" : "Retrieves description of all forex agreement types and displays default agreement(if any) set by the institution",
        "operationId" : "getForexAgreementTypes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ForexAgreementTypesResponse",
            "schema" : {
              "$ref" : "#/definitions/ForexAgreementTypesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/treasury/forex/agreementTypes/{agreementTypeId}" : {
      "get" : {
        "summary" : "Retrieves description of the given forex agreement type ",
        "description" : "Retrieves description of the given forex agreement type and displays default agreement(if any) set by the institution",
        "operationId" : "getForexAgreementType",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "agreementTypeId",
          "in" : "path",
          "description" : "Identifier of the agreement type, e.g. ISDA.",
          "required" : true,
          "type" : "string",
          "x-example" : "ISDA"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ForexAgreementTypeResponse",
            "schema" : {
              "$ref" : "#/definitions/ForexAgreementTypesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/treasury/forex/dealMethods" : {
      "get" : {
        "summary" : "Retrieves list of foreign exchange deal methods",
        "description" : "Retrieves list of forex deal methods like Mail,Reuters etc. as configured by the institution",
        "operationId" : "getForexDealMethods",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ForexDealMethodsResponse",
            "schema" : {
              "$ref" : "#/definitions/ForexDealMethodsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/treasury/forex/dealMethods/{dealMethodId}" : {
      "get" : {
        "summary" : "Retrieves description of forex deal method",
        "description" : "Retrieves description of a given forex deal method",
        "operationId" : "getForexDealMethod",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "dealMethodId",
          "in" : "path",
          "description" : "Deal method identifier as defined by the institution, e.g. RE for Reuters, TL for Telex etc.",
          "required" : true,
          "type" : "string",
          "x-example" : "ML"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ForexDealMethodResponse",
            "schema" : {
              "$ref" : "#/definitions/ForexDealMethodsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/treasury/forex/revaluationTypes" : {
      "get" : {
        "summary" : "Retrieves different revaluation methods ",
        "description" : "Retrieves different revaluation methods for foreign exchange deals configured by the bank",
        "operationId" : "getForexRevaluationTypes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ForexRevaluationTypesResponse",
            "schema" : {
              "$ref" : "#/definitions/ForexRevaluationTypesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/treasury/forex/revaluationTypes/{revaluationTypeId}" : {
      "get" : {
        "summary" : "Retrieves information of a given revaluation method",
        "description" : "Retrieves information of a given revaluation method available for foreign exchange deals ",
        "operationId" : "getForexRevaluationType",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "revaluationTypeId",
          "in" : "path",
          "description" : "Identifies the revaluation type. Possible values are RB,SL,IN,IH,SF",
          "required" : true,
          "type" : "string",
          "x-example" : "IN"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ForexRevaluationTypeResponse",
            "schema" : {
              "$ref" : "#/definitions/ForexRevaluationTypesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/treasury/settings" : {
      "get" : {
        "summary" : "Retrieves generic treasury settings of all the companies",
        "description" : "Retrieves general treasury settings of all the companies such as the local currency, current and the next working dates, rate provider and the revaluation currency",
        "operationId" : "getTreasurySettings",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "TreasurySettingsResponse",
            "schema" : {
              "$ref" : "#/definitions/TreasurySettingsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/treasury/dates/{currencyOrPair}" : {
      "get" : {
        "summary" : "Retrieves reference period dates",
        "description" : "Retrieves reference period dates under different time buckets for a currency or currency pair ",
        "operationId" : "getPeriodDates",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "currencyOrPair",
          "in" : "path",
          "description" : "A single currency or a currency pair.",
          "required" : true,
          "type" : "string",
          "x-example" : "GBP"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Contains the date on which the transaction or payment gets initiated.",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "period",
          "in" : "query",
          "description" : "Indicates spread of time buckets.Ex: 3M,6M,9M,10Y etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PeriodDatesResponse",
            "schema" : {
              "$ref" : "#/definitions/PeriodDatesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/treasury/agreementTypes" : {
      "get" : {
        "summary" : "Retrieves description of all the agreement types ",
        "description" : "Retrieves description of all the treasury agreement types and displays default agreement(if any) set by the institution",
        "operationId" : "getAgreementTypes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AgreementTypesResponse",
            "schema" : {
              "$ref" : "#/definitions/AgreementTypesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/treasury/agreementTypes/{agreementTypeId}" : {
      "get" : {
        "summary" : "Retrieves description of the given agreement type ",
        "description" : "Retrieves description of the given treasury agreement type and displays default agreement(if any) set by the institution",
        "operationId" : "getAgreementType",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "agreementTypeId",
          "in" : "path",
          "description" : "Identifier of the agreement type, e.g. ISDA.",
          "required" : true,
          "type" : "string",
          "x-example" : "ISDA"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AgreementTypeResponse",
            "schema" : {
              "$ref" : "#/definitions/AgreementTypesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/treasury/dealMethods" : {
      "get" : {
        "summary" : "Retrieves description of forex deal methods along with broker details",
        "description" : "Retrieves description of forex deal methods and also broker settlement details.",
        "operationId" : "getDealMethods",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "fileName",
          "in" : "query",
          "description" : "Identifies the type of methods to be listed. Possible values are FX.DEAL.METHOD, BROKER or blank.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DealMethodsResponse",
            "schema" : {
              "$ref" : "#/definitions/DealMethodsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "ForexAgreementTypesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ForexAgreementTypesResponseBody"
        }
      },
      "description" : "ForexAgreementTypesResponse"
    },
    "ForexAgreementTypesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "agreementTypeId" : {
            "type" : "string",
            "description" : "Identifier of the agreement type, e.g. ISDA.",
            "maxLength" : 21
          },
          "displayName" : {
            "type" : "string",
            "description" : "Name used for display or enrichment purposes",
            "maxLength" : 35
          },
          "departmentId" : {
            "type" : "string",
            "description" : "Department identifier.",
            "maxLength" : 4
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "ForexDealMethodsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ForexDealMethodsResponseBody"
        }
      },
      "description" : "ForexDealMethodsResponse"
    },
    "ForexDealMethodsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "dealMethodId" : {
            "type" : "string",
            "description" : "Deal method identifier as defined by the institution, e.g. RE for Reuters, TL for Telex etc.",
            "maxLength" : 2
          },
          "displayName" : {
            "type" : "string",
            "description" : "Name used for display or enrichment purposes",
            "maxLength" : 34
          }
        }
      }
    },
    "ForexRevaluationTypesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ForexRevaluationTypesResponseBody"
        }
      },
      "description" : "ForexRevaluationTypesResponse"
    },
    "ForexRevaluationTypesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "revaluationTypeId" : {
            "type" : "string",
            "description" : "Identifies the revaluation type. Possible values are RB,SL,IN,IH,SF",
            "maxLength" : 2
          },
          "displayName" : {
            "type" : "string",
            "description" : "Name used for display or enrichment purposes",
            "maxLength" : 25
          },
          "swapFowardProfitLoss" : {
            "type" : "string",
            "description" : "Option to give differential treatment to forward position in an FX Swap with SF revaluation type",
            "maxLength" : 3
          }
        }
      }
    },
    "TreasurySettingsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TreasurySettingsResponseBody"
        }
      },
      "description" : "TreasurySettingsResponse"
    },
    "TreasurySettingsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "companyId" : {
            "type" : "string",
            "description" : "The identifier of the underlying Entity/Company/Branch.",
            "maxLength" : 20
          },
          "localCurrencyId" : {
            "type" : "string",
            "description" : "The ISO code (3 letters) for the institution's local currency."
          },
          "currentWorkingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date of the current business day for all online activities in the selected Company. This field is updated automatically with the date from 'nextWorkingDay' during the Close of Business processing."
          },
          "nextWorkingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date of the next business day which will be processed in this Company."
          },
          "rateSource" : {
            "type" : "string",
            "description" : "The market rates source in general. In the case of currency rate, whether rate is to be sourced from  currency table (front office) or from market rates table (back office)."
          },
          "rateProvider" : {
            "type" : "string",
            "description" : "The market rate provider, e.g. Bloomberg, Reuters, etc."
          },
          "revaluationCurrencyId" : {
            "type" : "string",
            "description" : "The revaluation currency code."
          },
          "exceptionWorkflow" : {
            "type" : "string",
            "description" : "To enable the exceptional workflow in parameter settings"
          },
          "dealerEquivalent" : {
            "type" : "string",
            "description" : "A valid record from the PW.PARTICIPANT"
          },
          "chiefDealerEquivalent" : {
            "type" : "string",
            "description" : "A valid record from the PW.PARTICIPANT"
          }
        }
      }
    },
    "PeriodDatesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PeriodDatesResponseBody"
        }
      },
      "description" : "PeriodDatesResponse"
    },
    "PeriodDatesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "displacement" : {
            "type" : "string",
            "description" : "Period between the time buckets."
          },
          "date" : {
            "type" : "string",
            "description" : "Date in the format YYYYMMDD. E.g. 20191231"
          }
        }
      }
    },
    "AgreementTypesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AgreementTypesResponseBody"
        }
      },
      "description" : "AgreementTypesResponse"
    },
    "AgreementTypesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "agreementTypeId" : {
            "type" : "string",
            "description" : "Identifier of the agreement type, e.g. ISDA.",
            "maxLength" : 30
          },
          "displayName" : {
            "type" : "string",
            "description" : "Name used for display or enrichment purposes",
            "maxLength" : 35
          },
          "defaultAgreement" : {
            "type" : "string",
            "description" : "The master agreement type to be to be defaulted  on the contract.",
            "maxLength" : 30
          },
          "defaultDate" : {
            "type" : "string",
            "description" : "The date to indicate the year of the version of the ISDA agreement.",
            "maxLength" : 11
          }
        }
      }
    },
    "DealMethodsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DealMethodsResponseBody"
        }
      },
      "description" : "DealMethodsResponse"
    },
    "DealMethodsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "methodId" : {
            "type" : "string",
            "description" : "The method used to enter into a deal, e.g. telephone, Reuters, email and etc.",
            "maxLength" : 15
          },
          "displayName" : {
            "type" : "string",
            "description" : "Name used for display or enrichment purposes",
            "maxLength" : 30
          },
          "paymentCurrencyId" : {
            "type" : "string",
            "description" : "The currency of payment.",
            "maxLength" : 6
          },
          "paymentAccountId" : {
            "type" : "string",
            "description" : "The account used for payment",
            "maxLength" : 20
          }
        }
      }
    }
  }
}