{
  "swagger" : "2.0",
  "info" : {
    "description" : "Create and manage customer data Rights",
    "version" : "v1.0.0",
    "title" : "Customer Data Protection Data Rights Management"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/dataProtection/customers/dataRightsInitiation" : {
      "post" : {
        "summary" : "Creates data Rights details",
        "description" : "Creates data Rights details for a customer on how associated data should be managed.",
        "operationId" : "createDataRightsRequest",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DataRightsRequest"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DataRightsRequestResponse",
            "schema" : {
              "$ref" : "#/definitions/DataRightsRequestResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/dataProtection/customers/dataRightsApprovals/{dataRightsId}" : {
      "put" : {
        "summary" : "Approves data Rights details",
        "description" : "Approves data Rights details for a customer.",
        "operationId" : "approveDataRightsRequest",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "dataRightsId",
          "in" : "path",
          "description" : "Indicates the resource id of data rights request.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DataRightsRequestResponse",
            "schema" : {
              "$ref" : "#/definitions/DataRightsRequestResponse1"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/dataProtection/customers/dataRights/{dataRightsId}" : {
      "put" : {
        "summary" : "Updates data Rights details",
        "description" : "Updates data Rights details for a customer.",
        "operationId" : "updateDataRightsRequest",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "dataRightsId",
          "in" : "path",
          "description" : "Indicates the resource id of data rights request.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DataRightsRequest1"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DataRightsRequestResponse",
            "schema" : {
              "$ref" : "#/definitions/DataRightsRequestResponse2"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/dataProtection/customers/dataRights" : {
      "get" : {
        "summary" : "Retrieves data Rights details",
        "description" : "Retrieves data Rights details for a customer.",
        "operationId" : "getDataRightsRequest",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "dataRightsId",
          "in" : "query",
          "description" : "Indicates the resource id of data rights request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "partyId",
          "in" : "query",
          "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "requestStatus",
          "in" : "query",
          "description" : "The current status of the request. The possible values includes New, send to printer, cancelled and processed.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currExpiryDate",
          "in" : "query",
          "description" : "Contains the current expiry date.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "requestType",
          "in" : "query",
          "description" : "Contains customer data rights request type. Example: ERASURE/DATAPORTABILITY.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DataRightsRequestResponse",
            "schema" : {
              "$ref" : "#/definitions/DataRightsRequestResponse3"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "DataRightsRequest" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DataRightsRequestBody"
        }
      },
      "description" : "DataRightsRequest"
    },
    "DataRightsRequestBody" : {
      "type" : "object",
      "properties" : {
        "purposeDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "erasurePurpose" : {
                "type" : "string",
                "description" : "Specifies the customer data protection purpose for erasure",
                "minLength" : 0,
                "maxLength" : 14
              }
            }
          }
        },
        "partyId" : {
          "type" : "string",
          "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
          "minLength" : 0,
          "maxLength" : 7
        },
        "partyType" : {
          "type" : "string",
          "description" : "Defines the application id, to which the party id belongs to. Example, CUSTOMER/PERSON.ENTITY.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "requestType" : {
          "type" : "string",
          "description" : "Contains customer data rights request type. Example: ERASURE/DATAPORTABILITY.",
          "minLength" : 0,
          "maxLength" : 11
        },
        "newExpiryDate" : {
          "type" : "string",
          "description" : "Contains the new expiry date.",
          "minLength" : 0,
          "maxLength" : 13
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts.",
          "minLength" : 0,
          "maxLength" : 13
        },
        "requestNewAction" : {
          "type" : "string",
          "description" : "Contains the action which the account officer has initiated.Values allowed are NEW, EXTEND, COMPLETE, REJECT.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "newAmendmentNotes" : {
          "type" : "string",
          "description" : "Contains the new amendment notes.",
          "minLength" : 0,
          "maxLength" : 17
        },
        "approveRequest" : {
          "type" : "string",
          "description" : "Indicates whether the data rights request is to be approved. Allowed values:  - YES,NO",
          "minLength" : 0,
          "maxLength" : 14
        },
        "channelId" : {
          "type" : "string",
          "description" : "Id of the (digital) channel",
          "minLength" : 0,
          "maxLength" : 9
        },
        "accountOfficer" : {
          "type" : "string",
          "description" : "Identifier of Department Account Officer",
          "minLength" : 0,
          "maxLength" : 14
        },
        "applicationName" : {
          "type" : "string",
          "description" : "The name of the application. ",
          "minLength" : 0,
          "maxLength" : 19
        },
        "contractId" : {
          "type" : "string",
          "description" : "The identifier of the contract",
          "minLength" : 0,
          "maxLength" : 10
        },
        "companyId" : {
          "type" : "string",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "minLength" : 0,
          "maxLength" : 19
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "DataRightsRequestResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DataRightsRequestResponseBody"
        }
      },
      "description" : "DataRightsRequestResponse"
    },
    "DataRightsRequestResponseBody" : {
      "type" : "object",
      "properties" : {
        "purposeDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "erasurePurpose" : {
                "type" : "string",
                "description" : "Specifies the customer data protection purpose for erasure",
                "minLength" : 0,
                "maxLength" : 14
              }
            }
          }
        },
        "partyId" : {
          "type" : "string",
          "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
          "minLength" : 0,
          "maxLength" : 7
        },
        "partyType" : {
          "type" : "string",
          "description" : "Defines the application id, to which the party id belongs to. Example, CUSTOMER/PERSON.ENTITY.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "requestType" : {
          "type" : "string",
          "description" : "Contains customer data rights request type. Example: ERASURE/DATAPORTABILITY.",
          "minLength" : 0,
          "maxLength" : 11
        },
        "newExpiryDate" : {
          "type" : "string",
          "description" : "Contains the new expiry date.",
          "minLength" : 0,
          "maxLength" : 13
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts.",
          "minLength" : 0,
          "maxLength" : 13
        },
        "requestNewAction" : {
          "type" : "string",
          "description" : "Contains the action which the account officer has initiated.Values allowed are NEW, EXTEND, COMPLETE, REJECT.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "newAmendmentNotes" : {
          "type" : "string",
          "description" : "Contains the new amendment notes.",
          "minLength" : 0,
          "maxLength" : 17
        },
        "approveRequest" : {
          "type" : "string",
          "description" : "Indicates whether the data rights request is to be approved. Allowed values:  - YES,NO",
          "minLength" : 0,
          "maxLength" : 14
        },
        "channelId" : {
          "type" : "string",
          "description" : "Id of the (digital) channel",
          "minLength" : 0,
          "maxLength" : 9
        },
        "accountOfficer" : {
          "type" : "string",
          "description" : "Identifier of Department Account Officer",
          "minLength" : 0,
          "maxLength" : 14
        },
        "applicationName" : {
          "type" : "string",
          "description" : "The name of the application. ",
          "minLength" : 0,
          "maxLength" : 19
        },
        "contractId" : {
          "type" : "string",
          "description" : "The identifier of the contract",
          "minLength" : 0,
          "maxLength" : 10
        },
        "companyId" : {
          "type" : "string",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "minLength" : 0,
          "maxLength" : 19
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "DataRightsRequestResponse1" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DataRightsRequestResponse1Body"
        }
      },
      "description" : "DataRightsRequestResponse1"
    },
    "DataRightsRequestResponse1Body" : {
      "type" : "object",
      "properties" : {
        "purposeDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "erasurePurpose" : {
                "type" : "string",
                "description" : "Specifies the customer data protection purpose for erasure",
                "minLength" : 0,
                "maxLength" : 14
              }
            }
          }
        },
        "partyId" : {
          "type" : "string",
          "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
          "minLength" : 0,
          "maxLength" : 7
        },
        "partyType" : {
          "type" : "string",
          "description" : "Defines the application id, to which the party id belongs to. Example, CUSTOMER/PERSON.ENTITY.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "requestType" : {
          "type" : "string",
          "description" : "Contains customer data rights request type. Example: ERASURE/DATAPORTABILITY.",
          "minLength" : 0,
          "maxLength" : 11
        },
        "newExpiryDate" : {
          "type" : "string",
          "description" : "Contains the new expiry date.",
          "minLength" : 0,
          "maxLength" : 13
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts.",
          "minLength" : 0,
          "maxLength" : 13
        },
        "requestNewAction" : {
          "type" : "string",
          "description" : "Contains the action which the account officer has initiated.Values allowed are NEW, EXTEND, COMPLETE, REJECT.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "newAmendmentNotes" : {
          "type" : "string",
          "description" : "Contains the new amendment notes.",
          "minLength" : 0,
          "maxLength" : 17
        },
        "approveRequest" : {
          "type" : "string",
          "description" : "Indicates whether the data rights request is to be approved. Allowed values:  - YES,NO",
          "minLength" : 0,
          "maxLength" : 14
        },
        "channelId" : {
          "type" : "string",
          "description" : "Id of the (digital) channel",
          "minLength" : 0,
          "maxLength" : 9
        },
        "accountOfficer" : {
          "type" : "string",
          "description" : "Identifier of Department Account Officer",
          "minLength" : 0,
          "maxLength" : 14
        },
        "applicationName" : {
          "type" : "string",
          "description" : "The name of the application. ",
          "minLength" : 0,
          "maxLength" : 19
        },
        "contractId" : {
          "type" : "string",
          "description" : "The identifier of the contract",
          "minLength" : 0,
          "maxLength" : 10
        },
        "companyId" : {
          "type" : "string",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "minLength" : 0,
          "maxLength" : 19
        }
      }
    },
    "DataRightsRequest1" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DataRightsRequest1Body"
        }
      },
      "description" : "DataRightsRequest1"
    },
    "DataRightsRequest1Body" : {
      "type" : "object",
      "properties" : {
        "purposeDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "erasurePurpose" : {
                "type" : "string",
                "description" : "Specifies the customer data protection purpose for erasure",
                "minLength" : 0,
                "maxLength" : 14
              }
            }
          }
        },
        "partyId" : {
          "type" : "string",
          "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "partyType" : {
          "type" : "string",
          "description" : "Defines the application id, to which the party id belongs to. Example, CUSTOMER/PERSON.ENTITY.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "requestType" : {
          "type" : "string",
          "description" : "Contains customer data rights request type. Example: ERASURE/DATAPORTABILITY.",
          "minLength" : 0,
          "maxLength" : 11
        },
        "newExpiryDate" : {
          "type" : "string",
          "description" : "Contains the new expiry date.",
          "minLength" : 0,
          "maxLength" : 13
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts.",
          "minLength" : 0,
          "maxLength" : 13
        },
        "requestNewAction" : {
          "type" : "string",
          "description" : "Contains the action which the account officer has initiated.Values allowed are NEW, EXTEND, COMPLETE, REJECT.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "newAmendmentNotes" : {
          "type" : "string",
          "description" : "Contains the new amendment notes.",
          "minLength" : 0,
          "maxLength" : 17
        },
        "accountOfficer" : {
          "type" : "string",
          "description" : "Identifier of Department Account Officer",
          "minLength" : 0,
          "maxLength" : 14
        },
        "isReqComplete" : {
          "type" : "string",
          "description" : "Specifies whether the request is complete or not.",
          "minLength" : 0,
          "maxLength" : 13
        },
        "approveRequest" : {
          "type" : "string",
          "description" : "Indicates whether the data rights request is to be approved. Allowed values:  - YES,NO",
          "minLength" : 0,
          "maxLength" : 14
        },
        "channelId" : {
          "type" : "string",
          "description" : "Id of the (digital) channel",
          "minLength" : 0,
          "maxLength" : 9
        },
        "internalAction" : {
          "type" : "string",
          "description" : "Indicates if the request is to be resubmitted or cancelled. Allowed values are RESUBMIT, CANCELLED",
          "minLength" : 0,
          "maxLength" : 14
        },
        "applicationName" : {
          "type" : "string",
          "description" : "The name of the application. ",
          "minLength" : 0,
          "maxLength" : 19
        },
        "contractId" : {
          "type" : "string",
          "description" : "The identifier of the contract",
          "minLength" : 0,
          "maxLength" : 10
        },
        "companyId" : {
          "type" : "string",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "minLength" : 0,
          "maxLength" : 19
        }
      }
    },
    "DataRightsRequestResponse2" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DataRightsRequestResponse2Body"
        }
      },
      "description" : "DataRightsRequestResponse2"
    },
    "DataRightsRequestResponse2Body" : {
      "type" : "object",
      "properties" : {
        "purposeDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "erasurePurpose" : {
                "type" : "string",
                "description" : "Specifies the customer data protection purpose for erasure",
                "minLength" : 0,
                "maxLength" : 14
              }
            }
          }
        },
        "partyId" : {
          "type" : "string",
          "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "partyType" : {
          "type" : "string",
          "description" : "Defines the application id, to which the party id belongs to. Example, CUSTOMER/PERSON.ENTITY.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "requestType" : {
          "type" : "string",
          "description" : "Contains customer data rights request type. Example: ERASURE/DATAPORTABILITY.",
          "minLength" : 0,
          "maxLength" : 11
        },
        "newExpiryDate" : {
          "type" : "string",
          "description" : "Contains the new expiry date.",
          "minLength" : 0,
          "maxLength" : 13
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts.",
          "minLength" : 0,
          "maxLength" : 13
        },
        "requestNewAction" : {
          "type" : "string",
          "description" : "Contains the action which the account officer has initiated.Values allowed are NEW, EXTEND, COMPLETE, REJECT.",
          "minLength" : 0,
          "maxLength" : 16
        },
        "newAmendmentNotes" : {
          "type" : "string",
          "description" : "Contains the new amendment notes.",
          "minLength" : 0,
          "maxLength" : 17
        },
        "accountOfficer" : {
          "type" : "string",
          "description" : "Identifier of Department Account Officer",
          "minLength" : 0,
          "maxLength" : 14
        },
        "isReqComplete" : {
          "type" : "string",
          "description" : "Specifies whether the request is complete or not.",
          "minLength" : 0,
          "maxLength" : 13
        },
        "approveRequest" : {
          "type" : "string",
          "description" : "Indicates whether the data rights request is to be approved. Allowed values:  - YES,NO",
          "minLength" : 0,
          "maxLength" : 14
        },
        "channelId" : {
          "type" : "string",
          "description" : "Id of the (digital) channel",
          "minLength" : 0,
          "maxLength" : 9
        },
        "internalAction" : {
          "type" : "string",
          "description" : "Indicates if the request is to be resubmitted or cancelled. Allowed values are RESUBMIT, CANCELLED",
          "minLength" : 0,
          "maxLength" : 14
        },
        "applicationName" : {
          "type" : "string",
          "description" : "The name of the application. ",
          "minLength" : 0,
          "maxLength" : 19
        },
        "contractId" : {
          "type" : "string",
          "description" : "The identifier of the contract",
          "minLength" : 0,
          "maxLength" : 10
        },
        "companyId" : {
          "type" : "string",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "minLength" : 0,
          "maxLength" : 19
        }
      }
    },
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "DataRightsRequestResponse3" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DataRightsRequestResponse3Body"
        }
      },
      "description" : "DataRightsRequestResponse3"
    },
    "DataRightsRequestResponse3Body" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "purposeDetails" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "erasurePurpose" : {
                  "type" : "string",
                  "description" : "Specifies the customer data protection purpose for erasure",
                  "maxLength" : 35
                }
              }
            }
          },
          "partyId" : {
            "type" : "string",
            "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
            "maxLength" : 20
          },
          "dataRightsId" : {
            "type" : "string",
            "description" : "Indicates the resource id of data rights request.",
            "maxLength" : 16
          },
          "requestType" : {
            "type" : "string",
            "description" : "Contains customer data rights request type. Example: ERASURE/DATAPORTABILITY.",
            "maxLength" : 20
          },
          "originalExpiryDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Contains the original expiry date."
          },
          "creationDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Contains the creation date."
          },
          "newExpiryDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Contains the new expiry date."
          },
          "status" : {
            "type" : "string",
            "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts.",
            "maxLength" : 35
          },
          "requestNewAction" : {
            "type" : "string",
            "description" : "Contains the action which the account officer has initiated.Values allowed are NEW, EXTEND, COMPLETE, REJECT.",
            "maxLength" : 55
          },
          "newAmendmentNotes" : {
            "type" : "string",
            "description" : "Contains the new amendment notes.",
            "maxLength" : 65
          },
          "newOfficer" : {
            "type" : "string",
            "description" : "Specifies officer in charge of action specified. Contains valid id from DEPT.ACCT.OFFICER.",
            "maxLength" : 55
          },
          "internalAction" : {
            "type" : "string",
            "description" : "Indicates if the request is to be resubmitted or cancelled. Allowed values are RESUBMIT, CANCELLED",
            "maxLength" : 20
          },
          "isReqComplete" : {
            "type" : "boolean",
            "description" : "Specifies whether the request is complete or not."
          },
          "approveRequest" : {
            "type" : "boolean",
            "description" : "Indicates whether the data rights request is to be approved. Allowed values:  - YES,NO"
          },
          "systemStatus" : {
            "type" : "string",
            "description" : "Contains status of request in the system. Examples are INITIATED, ERROR, COMPLETED.",
            "maxLength" : 20
          },
          "currExpiryDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Contains the current expiry date."
          },
          "applicationName" : {
            "type" : "string",
            "description" : "The name of the application. ",
            "maxLength" : 35
          },
          "contractId" : {
            "type" : "string",
            "description" : "The identifier of the contract",
            "maxLength" : 35
          },
          "companyId" : {
            "type" : "string",
            "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
            "maxLength" : 9
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}