{
  "swagger": "2.0",
  "info": {
    "description": "API to retrieve the application resources available in the Transact system",
    "version": "v1.0.0",
    "title": "System Application Resources"
  },
  "host": "temenos.api-server.com",
  "basePath": "/ra/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/system/resources/{resourceType}/{resourceId}/attributes": {
      "get": {
        "summary": "Get a particular resource attributes",
        "description": "Get a particular resource attributes",
        "operationId": "getAttributeDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "AttributeDetailsResponse",
            "schema": {
              "$ref": "#/definitions/AttributeDetailsResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/system/resourceManagers/{resourceManagerId}/resources": {
      "get": {
        "summary": "To get Details of all the resources in t24",
        "description": "To get Details of all the resources in t24",
        "operationId": "getDetailsForResources",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "resourceManagerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "DetailsForResourcesResponse",
            "schema": {
              "$ref": "#/definitions/DetailsForResourcesResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "AttributeDetailsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/AttributeDetailsResponseBody"
        }
      },
      "description": "AttributeDetailsResponse"
    },
    "AttributeDetailsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "options": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          },
          "id": {
            "type": "string"
          },
          "multiValued": {
            "type": "boolean"
          },
          "dataType": {
            "type": "string",
            "maxLength": 40
          }
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message "
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description": "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message for bad requests"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description": "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message "
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message caused by server"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    },
    "DetailsForResourcesResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/DetailsForResourcesResponseBody"
        }
      },
      "description": "DetailsForResourcesResponse"
    },
    "DetailsForResourcesResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string",
            "maxLength": 25
          },
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "description": "Name used for display or enrichment purposes"
          }
        }
      }
    }
  }
}