{
  "swagger" : "2.0",
  "info" : {
    "description" : "UserAdministration",
    "version" : "v1.0.0",
    "title" : "UserAdministration"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/userAdministration/onlineServices/masterApprovals" : {
      "get" : {
        "operationId" : "getOnlineServiceMasterApprovals",
        "parameters" : [ {
          "name" : "customerId",
          "in" : "query",
          "description" : "The identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "The identifier of the arrangement",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "masterOnly",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "roleOnly",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "masterArrangementId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Id of the product.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementStatus",
          "in" : "query",
          "description" : "Status of the arrangement: UNAUTH - input but not authorised yet. AUTH - authorised. AUTH-FWD (Forward) - authorised, will become active on a future date. CURRENT - the arrangement has begun full or partial disbursement. MATURED - the contract has matured and all dues have been cleared. EXPIRED - the contract has gone past its final payment date with some dues left unsettled. REVERSED - reversed. CANCELLED - cancelled (only for deposits) CLOSE - closed PENDING.CLOSURE - ready for closure",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "The group, as defined by the institution, that the product belongs to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "subArrangementName",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "inputter",
          "in" : "query",
          "description" : "The user identifier who input the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OnlineServiceApprovalsResponse",
            "schema" : {
              "$ref" : "#/definitions/holdingsOnlineServiceApprovalsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/userAdministration/onlineServices/roleApprovals" : {
      "get" : {
        "operationId" : "getOnlineServiceRoleApprovals",
        "parameters" : [ {
          "name" : "customerId",
          "in" : "query",
          "description" : "The identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "The identifier of the arrangement",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "masterOnly",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "roleOnly",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "masterArrangementId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Id of the product.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementStatus",
          "in" : "query",
          "description" : "Status of the arrangement: UNAUTH - input but not authorised yet. AUTH - authorised. AUTH-FWD (Forward) - authorised, will become active on a future date. CURRENT - the arrangement has begun full or partial disbursement. MATURED - the contract has matured and all dues have been cleared. EXPIRED - the contract has gone past its final payment date with some dues left unsettled. REVERSED - reversed. CANCELLED - cancelled (only for deposits) CLOSE - closed PENDING.CLOSURE - ready for closure",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "The group, as defined by the institution, that the product belongs to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "subArrangementName",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "inputter",
          "in" : "query",
          "description" : "The user identifier who input the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OnlineServiceApprovalsResponse",
            "schema" : {
              "$ref" : "#/definitions/holdingsOnlineServiceApprovalsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/userAdministration/onlineServices/masters" : {
      "get" : {
        "operationId" : "getOnlineServiceMasters",
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "The identifier of the arrangement",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementStatus",
          "in" : "query",
          "description" : "Status of the arrangement: UNAUTH - input but not authorised yet. AUTH - authorised. AUTH-FWD (Forward) - authorised, will become active on a future date. CURRENT - the arrangement has begun full or partial disbursement. MATURED - the contract has matured and all dues have been cleared. EXPIRED - the contract has gone past its final payment date with some dues left unsettled. REVERSED - reversed. CANCELLED - cancelled (only for deposits) CLOSE - closed PENDING.CLOSURE - ready for closure",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "masterOnly",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "roleOnly",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "masterArrangementId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "The group, as defined by the institution, that the product belongs to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Id of the product.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "The identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "subArrangementName",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OnlineServicesResponse",
            "schema" : {
              "$ref" : "#/definitions/holdingsOnlineServicesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/userAdministration/onlineServices/roles" : {
      "get" : {
        "operationId" : "getOnlineServiceRoles",
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "The identifier of the arrangement",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementStatus",
          "in" : "query",
          "description" : "Status of the arrangement: UNAUTH - input but not authorised yet. AUTH - authorised. AUTH-FWD (Forward) - authorised, will become active on a future date. CURRENT - the arrangement has begun full or partial disbursement. MATURED - the contract has matured and all dues have been cleared. EXPIRED - the contract has gone past its final payment date with some dues left unsettled. REVERSED - reversed. CANCELLED - cancelled (only for deposits) CLOSE - closed PENDING.CLOSURE - ready for closure",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "masterOnly",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "roleOnly",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "masterArrangementId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "The group, as defined by the institution, that the product belongs to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Id of the product.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "The identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "subArrangementName",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OnlineServicesResponse",
            "schema" : {
              "$ref" : "#/definitions/holdingsOnlineServicesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "holdingsOnlineServiceApprovalsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/holdingsOnlineServiceApprovalsResponseBody"
        }
      },
      "description" : "holdingsOnlineServiceApprovalsResponse"
    },
    "holdingsOnlineServiceApprovalsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "linkedSubArrangements" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "linkedSubArrangementId" : {
                  "type" : "string"
                },
                "linkedSubArrangementName" : {
                  "type" : "string"
                }
              }
            }
          },
          "audit" : {
            "type" : "array",
            "description" : "The user identifier who input the transaction",
            "items" : {
              "type" : "object",
              "properties" : {
                "recordStatus" : {
                  "type" : "string",
                  "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides"
                },
                "inputterName" : {
                  "type" : "string"
                },
                "externalInputterName" : {
                  "type" : "string"
                },
                "inputters" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "inputter" : {
                        "type" : "string",
                        "description" : "The user identifier who input the transaction"
                      }
                    }
                  }
                }
              }
            }
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "The identifier of the arrangement"
          },
          "arrangementStatus" : {
            "type" : "string",
            "description" : "Status of the arrangement: UNAUTH - input but not authorised yet. AUTH - authorised. AUTH-FWD (Forward) - authorised, will become active on a future date. CURRENT - the arrangement has begun full or partial disbursement. MATURED - the contract has matured and all dues have been cleared. EXPIRED - the contract has gone past its final payment date with some dues left unsettled. REVERSED - reversed. CANCELLED - cancelled (only for deposits) CLOSE - closed PENDING.CLOSURE - ready for closure"
          },
          "subArrangementName" : {
            "type" : "string"
          },
          "productGroupId" : {
            "type" : "string",
            "description" : "The group, as defined by the institution, that the product belongs to."
          },
          "productGroupName" : {
            "type" : "string",
            "description" : "Description of the product group"
          },
          "productId" : {
            "type" : "string",
            "description" : "Id of the product."
          },
          "productName" : {
            "type" : "string",
            "description" : "Name of the product, which is also its Id."
          },
          "customerId" : {
            "type" : "string",
            "description" : "The identifier of the customer"
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer"
          },
          "startDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Specifies the start date when the instruction will be made active"
          },
          "masterArrangementId" : {
            "type" : "string"
          },
          "activityId" : {
            "type" : "string",
            "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
          },
          "pendingActivityId" : {
            "type" : "string"
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    },
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              }
            }
          }
        }
      }
    },
    "holdingsOnlineServicesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/holdingsOnlineServicesResponseBody"
        }
      },
      "description" : "holdingsOnlineServicesResponse"
    },
    "holdingsOnlineServicesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "linkedSubArrangements" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "linkedSubArrangementId" : {
                  "type" : "string",
                  "maxLength" : 20
                },
                "linkedSubArrangementName" : {
                  "type" : "string",
                  "maxLength" : 35
                }
              }
            }
          },
          "audit" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "pendingActivityId" : {
                  "type" : "string"
                },
                "recordStatus" : {
                  "type" : "string",
                  "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides"
                },
                "inputter" : {
                  "type" : "string",
                  "description" : "The user identifier who input the transaction"
                },
                "inputterName" : {
                  "type" : "string"
                },
                "externalInputterName" : {
                  "type" : "string"
                }
              }
            }
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "The identifier of the arrangement",
            "maxLength" : 17
          },
          "arrangementStatus" : {
            "type" : "string",
            "description" : "Status of the arrangement: UNAUTH - input but not authorised yet. AUTH - authorised. AUTH-FWD (Forward) - authorised, will become active on a future date. CURRENT - the arrangement has begun full or partial disbursement. MATURED - the contract has matured and all dues have been cleared. EXPIRED - the contract has gone past its final payment date with some dues left unsettled. REVERSED - reversed. CANCELLED - cancelled (only for deposits) CLOSE - closed PENDING.CLOSURE - ready for closure",
            "maxLength" : 15
          },
          "subArrangementName" : {
            "type" : "string",
            "maxLength" : 35
          },
          "productGroupId" : {
            "type" : "string",
            "description" : "The group, as defined by the institution, that the product belongs to.",
            "maxLength" : 30
          },
          "productGroupName" : {
            "type" : "string",
            "description" : "Description of the product group",
            "maxLength" : 30
          },
          "productId" : {
            "type" : "string",
            "description" : "Id of the product.",
            "maxLength" : 30
          },
          "productName" : {
            "type" : "string",
            "description" : "Name of the product, which is also its Id.",
            "maxLength" : 30
          },
          "customerId" : {
            "type" : "string",
            "description" : "The identifier of the customer",
            "maxLength" : 10
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer",
            "maxLength" : 35
          },
          "masterArrangementId" : {
            "type" : "string",
            "maxLength" : 20
          },
          "activityId" : {
            "type" : "string",
            "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
          }
        }
      }
    }
  }
}