{
    "swagger": "2.0",
    "info":
    {
        "description": "APIs to retrieve account related information such as balances, transaction details, list of accessible accounts, availability of funds for an account, account details, list of transactions available for an account. The details include debtorAccount, creditorAccount, transactionReference, exchange rate, balance type, remittance information, booking date etc.",
        "version": "v2.0.0",
        "title": "PSD II Account data services"
    },
    "host": "api.temenos.com",
    "basePath": "/api/v1.0.0/",
    "tags": [ ],
    "schemes": [ "http", "https" ],
    "security": [
    {
        "basicAuth": [ ]
    },
    {
        "apiKey": [ ]
    } ],
    "paths":
    {
        "/holdings/PSD2/consents/{consentId}/accounts":
        {
            "get":
            {
                "tags": [ ],
                "summary": "Retrieves Account information in detail based on the Consent given.",
                "description": "API to retrieve the list of all the accounts and their relevant information to which consent to access is provided. The API requires a valid and an active Consent reference to process the request and also provides an option to return balance details of the consented accounts.    The information returned includes:  1. The Name of the Customer holding the Account  2. The Short Title of the account holder  3. The Internation Bank Account Number (IBAN)  4. The Account currency  5. The Balances of the accounts including Closing Booked Balance, Ledger Balance, Interim Balance along with the limit avaialble if access to the balances is also consented  6. Entry reference of the last transaction made in the accounts.",
                "operationId": "getAccessibleAccounts",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "consentId",
                    "in": "path",
                    "description": "Identifier of the corresponding consent object as retrieved by an account Information consent Request.",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "withBalance",
                    "in": "query",
                    "description": "Identifies whether balance information needs to be retrieved. Possible values YES or NO. Default is NO.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "disablePagination",
                    "in": "header",
                    "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                    "required": false,
                    "type": "boolean"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "AccessibleAccountsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/AccessibleAccountsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/holdings/PSD2/accounts/{accountId}/balances":
        {
            "get":
            {
                "tags": [ ],
                "summary": "Retrieves customer account's balance information",
                "description": "This API retrieves the balance information of the account number requested.  This information includes:  1. The International Bank Account Number (IBAN)  2. Entry reference of the last trasanction committed  3. Balance data including the credit limit available under different balance types as of a particular date   The different balances types that are catered are  1. Opening Booked  2. Interim Booked 3. Interim Available 4. Forward Available 5. Expected   6. Closing Booked   This API shall be linked to  the 'Read Balance' published API in accordance with the Open Banking norms to return the balance data of a requested account.",
                "operationId": "getAccountBalance",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "accountId",
                    "in": "path",
                    "description": "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "date",
                    "in": "query",
                    "description": "Indicates the date on which activity was performed",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "disablePagination",
                    "in": "header",
                    "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                    "required": false,
                    "type": "boolean"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "AccountBalanceResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/AccountBalanceResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/holdings/PSD2/accounts/{accountId}":
        {
            "get":
            {
                "tags": [ ],
                "summary": "Retrieves detailed customer account information.",
                "description": "This API is to retrieve information of the account requested also with an option to return Ledger balance data.  The details of the account includes :  1. The Name of the Customer holding the Account  2. The Short Title of the account holder  3. The Internation Bank Account Number (IBAN)  4. The Account currency  5. The type of the Account  6. The Bank Identifier Code (BIC) of the Account  7. The status of the Account - if Active, Blocked or Closed  8. The Available Balance and Ledger Balance if requested for  The API shall be linked to  the 'Read Account Details published API in accordance with the Open Banking norms to return the details of the requested account.",
                "operationId": "getAccountDetails",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "accountId",
                    "in": "path",
                    "description": "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "withBalance",
                    "in": "query",
                    "description": "Identifies whether balance information needs to be retrieved. Possible values YES or NO. Default is NO.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "disablePagination",
                    "in": "header",
                    "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                    "required": false,
                    "type": "boolean"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "AccountDetailsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/AccountDetailsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/holdings/PSD2/transactions/{transactionId}":
        {
            "get":
            {
                "tags": [ ],
                "summary": "Retrieves detailed transaction information.",
                "description": "API to provide details of a particular transaction belonging to the requested account provided a valid entry reference to the transaction is given.  The information on the transaction include :   1. Transaction Reference  2. Mandate and Cheque references 3. Remittance information  4. Creditor, Ultimate Creditor , Debtor and Ultimate Debtor data 5. Booking and Value date of the transaction 6. Transaction Amount, Currencies and the exchange rate involved  The API shall be linked to  the 'get-transaction-detail' published API in accordance with the Open Banking norms to return the information of the accounts consented to be accessed.",
                "operationId": "getTransactionDetails",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "transactionId",
                    "in": "path",
                    "description": "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "description": "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "disablePagination",
                    "in": "header",
                    "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                    "required": false,
                    "type": "boolean"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "TransactionDetailsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/TransactionDetailsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/holdings/PSD2/accounts/{accountId}/confirmationOfFunds":
        {
            "get":
            {
                "tags": [ ],
                "summary": "Confirms funds availability of an account.",
                "description": "API to confirm availability of balances for a requested account provided the access to the account and its balance is consented. The API also allows querying with an Instructed Amount, Currency , Card Number, Transaction Code and Payee reference.     The API shall be linked to  the 'Confirmation of Funds Request' published API in accordance with the Open Banking norms to return balance confirmation.",
                "operationId": "getBalance",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "accountId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "account",
                    "in": "query",
                    "description": "Identifies the unique account Id of the payment entered.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "cardNumber",
                    "in": "query",
                    "description": "Cards issued are defined with an identifier consisting of three elements. The card type, a full stop and the card number. The card number may be any alphanumeric construction, commonly a 16 numeric number is used. VISA.5332870296579001. The id must be in the form of:  CCCC.AAAAAAAAAAAAAAAA  Where CCCC is the card type and AAAAAAAAAAAAAAAA is a unique identifier.  Examples:   VISA.1234567887654321   GC.1111222233334444   AB21.1111111122222222",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "instructedAmount",
                    "in": "query",
                    "description": "Specifies the amount which is allocated or instructed for the account reference included in the selection for a specific transaction.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "payee",
                    "in": "query",
                    "description": "Creditor account which receives payment from a transaction.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "currency",
                    "in": "query",
                    "description": "Identifies the currency. E.g. USD, GBP etc",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "transactionCode",
                    "in": "query",
                    "description": "Identifies the system internal transaction code applicable to the transaction",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "creditDebitIndicator",
                    "in": "query",
                    "description": "Identifies the type of transaction i.e. DEBIT or CREDIT",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "disablePagination",
                    "in": "header",
                    "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                    "required": false,
                    "type": "boolean"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "BalanceResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BalanceResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/holdings/PSD2/accounts/{accountId}/transactions":
        {
            "get":
            {
                "tags": [ ],
                "summary": "Retrieves account transaction history.",
                "description": "API to provide details of all transactions belonging to the requested account.  The information on the transaction include :   1. Transaction Reference 3. Remittance information  4. Creditor, Debtor data 5. Booking and Value date of the transaction 6. Transaction Amount, Currencies and the exchange rate involved  The API shall be linked to  the 'get-transaction-list' published API in accordance with the Open Banking norms to return the information of the accounts consented to be accessed.",
                "operationId": "getTransactionsDetails",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "accountId",
                    "in": "path",
                    "description": "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "startDate",
                    "in": "query",
                    "description": "Contains the date on which the transaction or payment gets initiated.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "endDate",
                    "in": "query",
                    "description": "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "reference",
                    "in": "query",
                    "description": "Indicates the transaction reference for which the history of transactions is requested. It is steered by the attribute 'booked' given the start date and end date or the entry from which the history is requested",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "noOfEntries",
                    "in": "query",
                    "description": "Indicates the number of entries to be retrieved when transaction history for an account is requested.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "transactionStatus",
                    "in": "query",
                    "description": "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deltaList",
                    "in": "query",
                    "description": "Indicates the entry from which the transaction history needs to be retreived. If an end date is not specified, transactions from delta list till today are retreived.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "withBalance",
                    "in": "query",
                    "description": "Identifies whether balance information needs to be retrieved. Possible values YES or NO. Default is NO.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "disablePagination",
                    "in": "header",
                    "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                    "required": false,
                    "type": "boolean"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "TransactionsDetailsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/TransactionsDetailsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        },
        "apiKey":
        {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "definitions":
    {
        "QueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "requestParse_time":
                        {
                            "type": "number",
                            "description": "Time taken to parse the request by IRIS"
                        },
                        "responseParse_time":
                        {
                            "type": "number",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "status":
                {
                    "type": "string",
                    "description": "Status of the API(success/failed)"
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                }
            }
        },
        "AccessibleAccountsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/AccessibleAccountsResponseBody"
                }
            },
            "description": "AccessibleAccountsResponse"
        },
        "AccessibleAccountsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "accountId":
                    {
                        "type": "string",
                        "description": "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                        "maxLength": 35
                    },
                    "accountIBAN":
                    {
                        "type": "string",
                        "description": "Represents the International Bank Account Number (IBAN) of the account.  E.g. GB29 NWBK 6016 1331 9268 19",
                        "maxLength": 35
                    },
                    "currency":
                    {
                        "type": "string",
                        "description": "Identifies the currency. E.g. USD, GBP etc",
                        "maxLength": 3
                    },
                    "openingBooked":
                    {
                        "type": "string",
                        "description": " Booked balance at the start of the account reporting period. It is always equal to the closingBooked balance from the previous account balances report.",
                        "maxLength": 35
                    },
                    "interimBooked":
                    {
                        "type": "string",
                        "description": "Balance calculated in the course of the account servicer's business day, at the time specified, and subject to further changes during the business day. The interim balance is calculated on the basis of booked credit and debit items during the calculation time/period specified.",
                        "maxLength": 35
                    },
                    "interimAvailable":
                    {
                        "type": "string",
                        "description": "Available balance calculated in the course of the account servicer’s business day, at the time specified. This balance will be subject to further changes during the business day. The interim balance is calculated on the basis of  booked credit and debit items during the calculation time/period specified.",
                        "maxLength": 35
                    },
                    "productId":
                    {
                        "type": "string",
                        "description": "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
                        "maxLength": 35
                    },
                    "displayName":
                    {
                        "type": "string",
                        "description": "Contains the name used for display or enrichment purposes",
                        "maxLength": 35
                    },
                    "balances":
                    {
                        "type": "string",
                        "description": "Monetary value of each balance",
                        "maxLength": 10
                    },
                    "transactions":
                    {
                        "type": "string",
                        "description": "Contains the details of the transaction, for example transaction indicator, balance etc.",
                        "maxLength": 35
                    },
                    "lastCommittedTransaction":
                    {
                        "type": "string",
                        "description": "Contains the record of the last committed transaction"
                    },
                    "lastChangeDateTime":
                    {
                        "type": "string",
                        "description": "Indicates the ISO date time zone in which the latest statement record fetched or the transaction committed."
                    },
                    "referenceDate":
                    {
                        "type": "string",
                        "description": "Booking date on which the transaction is committed "
                    },
                    "additionalDetail":
                    {
                        "type": "string",
                        "description": "Additional details provided to add context. Closure notes for closed accounts, positing restriction details for restricted accounts & joint holder notes or account title for active accounts"
                    }
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "requestParse_time":
                        {
                            "type": "number",
                            "description": "Time taken to parse the request by IRIS"
                        },
                        "responseParse_time":
                        {
                            "type": "number",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "status":
                {
                    "type": "string",
                    "description": "Status of the API(success/failed)"
                }
            }
        },
        "QueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/QueryErrorResponseBody"
                }
            },
            "description": "QueryErrorResponse"
        },
        "QueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message "
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type: "
                }
            }
        },
        "BusinessQueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/BusinessQueryErrorResponseBody"
                }
            },
            "description": "BusinessQueryErrorResponse"
        },
        "BusinessQueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message for bad requests"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type: Business"
                }
            }
        },
        "SystemQueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/SystemQueryErrorResponseBody"
                }
            },
            "description": "SystemQueryErrorResponse"
        },
        "SystemQueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message caused by server"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type: System"
                }
            }
        },
        "AccountBalanceResponseQueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "requestParse_time":
                        {
                            "type": "number",
                            "description": "Time taken to parse the request by IRIS"
                        },
                        "responseParse_time":
                        {
                            "type": "number",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "status":
                {
                    "type": "string",
                    "description": "Status of the API(success/failed)"
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                },
                "data":
                {
                    "type": "object",
                    "properties":
                    {
                        "accountId":
                        {
                            "type": "string",
                            "description": "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
                        },
                        "accountIBAN":
                        {
                            "type": "string",
                            "description": "Represents the International Bank Account Number (IBAN) of the account.  E.g. GB29 NWBK 6016 1331 9268 19"
                        },
                        "lastPayment":
                        {
                            "type": "string",
                            "description": "Last committed transaction"
                        }
                    }
                }
            }
        },
        "AccountBalanceResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/AccountBalanceResponseQueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/AccountBalanceResponseBody"
                }
            },
            "description": "AccountBalanceResponse"
        },
        "AccountBalanceResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "balanceType":
                    {
                        "type": "string",
                        "description": "Type of balance (e.g. current balance, credit interest accrued, deferred commission, etc.) as defined in the institution's accounting schemas."
                    },
                    "creditLimitIncluded":
                    {
                        "type": "boolean",
                        "description": "Identifies whether the credit limit amount has been included in the balance amount. Set to 'true' if the associated balance amount includes value of credit limits"
                    },
                    "balanceAmount":
                    {
                        "type": "number",
                        "description": "Amount of the balance"
                    },
                    "currency":
                    {
                        "type": "string",
                        "description": "Identifies the currency. E.g. USD, GBP etc"
                    },
                    "referenceDate":
                    {
                        "type": "string",
                        "description": "Booking date on which the transaction is committed "
                    },
                    "dateTime":
                    {
                        "type": "string",
                        "description": "Contains the date and time separated by '-'"
                    }
                }
            }
        },
        "AccountDetailsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/AccountDetailsResponseBody"
                }
            },
            "description": "AccountDetailsResponse"
        },
        "AccountDetailsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "accountId":
                    {
                        "type": "string",
                        "description": "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
                    },
                    "accountIBAN":
                    {
                        "type": "string",
                        "description": "Represents the International Bank Account Number (IBAN) of the account.  E.g. GB29 NWBK 6016 1331 9268 19"
                    },
                    "BIC":
                    {
                        "type": "string",
                        "description": "The BIC code of the Beneficiary bank"
                    },
                    "accountName":
                    {
                        "type": "string",
                        "description": "Display name or short name of the account specified."
                    },
                    "productName":
                    {
                        "type": "string",
                        "description": "Product name of the bank for this account, proprietary definition."
                    },
                    "currency":
                    {
                        "type": "string",
                        "description": "Identifies the currency. E.g. USD, GBP etc"
                    },
                    "ledgerBalance":
                    {
                        "type": "string",
                        "description": "Contains the ledger balance of the account which is the total of all entries posted against the account excluding any entries with the processing date in the future."
                    },
                    "availableBalance":
                    {
                        "type": "string",
                        "description": "Available balance of the account which is the projected balance which includes the net movements of both debits and credits against the account."
                    },
                    "accountStatus":
                    {
                        "type": "string",
                        "description": "Specifies the current status of the account, which is either active, inactive or closed.",
                        "maxLength": 25
                    },
                    "additionalDetail":
                    {
                        "type": "string",
                        "description": "Additional details provided to add context. Closure notes for closed accounts, positing restriction details for restricted accounts & joint holder notes or account title for active accounts"
                    }
                }
            }
        },
        "TransactionDetailsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/TransactionDetailsResponseBody"
                }
            },
            "description": "TransactionDetailsResponse"
        },
        "TransactionDetailsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "accountId":
                    {
                        "type": "string",
                        "description": "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
                    },
                    "accountIBAN":
                    {
                        "type": "string",
                        "description": "Represents the International Bank Account Number (IBAN) of the account.  E.g. GB29 NWBK 6016 1331 9268 19"
                    },
                    "transactionId":
                    {
                        "type": "string",
                        "description": "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc."
                    },
                    "transactionReference":
                    {
                        "type": "string",
                        "description": "Reference number of the originating transaction"
                    },
                    "endToEndReference":
                    {
                        "type": "string",
                        "description": "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment."
                    },
                    "mandateId":
                    {
                        "type": "string",
                        "description": "Contains the mandatory SEPA(Single Euro Payment Area) payment identifier from the transaction"
                    },
                    "chequeNumber":
                    {
                        "type": "string",
                        "description": "Cheque number associated with the transaction or accounting entry."
                    },
                    "creditorAgentId":
                    {
                        "type": "string",
                        "description": "Clearing system identifier for the beneficiary institution. Contains a valid ISO code for the clearing."
                    },
                    "bookingDate":
                    {
                        "type": "string",
                        "description": "Business date on which the accounting entry was generated."
                    },
                    "valueDate":
                    {
                        "type": "string",
                        "description": "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
                    },
                    "accountCurrency":
                    {
                        "type": "string",
                        "description": "Currency of the account. For example: USD, GBP."
                    },
                    "transactionCurrency":
                    {
                        "type": "string",
                        "description": "Indicates the currency of the transaction. For example GBP, USD etc."
                    },
                    "exchangeRate":
                    {
                        "type": "string",
                        "description": "Contains the exchange rate returned from the system. i.e. For entries over foreign currency accounts, this contains the rate which used to convert the currency amount to the local equivalent at the time of the originating transaction."
                    },
                    "amountInAccountCurrency":
                    {
                        "type": "number",
                        "description": "Amount in the currency of the account"
                    },
                    "transactionAmount":
                    {
                        "type": "number",
                        "description": "Contains the transaction amount. This is based on the currency, either local or foreign currency"
                    },
                    "creditorName":
                    {
                        "type": "string",
                        "description": "Name or short title of the credit account"
                    },
                    "creditAccountId":
                    {
                        "type": "string",
                        "description": "Credit account identifier of the payment or transaction"
                    },
                    "ultimateCreditor":
                    {
                        "type": "string",
                        "description": "Contains the actual creditor account number"
                    },
                    "debtorReference":
                    {
                        "type": "string",
                        "description": "Reference number for the debit side of the transaction."
                    },
                    "debitAccountId":
                    {
                        "type": "string",
                        "description": "Indicates the debit account number of the payment or transaction."
                    },
                    "ultimateDebtor":
                    {
                        "type": "string",
                        "description": "Contains the actual debitor account number"
                    },
                    "remittanceInformation":
                    {
                        "type": "string",
                        "description": "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form."
                    },
                    "paymentDetail":
                    {
                        "type": "string",
                        "description": "Indicates the payment details for the beneficiary to apply the payment."
                    },
                    "purposeId":
                    {
                        "type": "string",
                        "description": "Purpose identifier of the payment or transaction, for SEPA payments in general."
                    },
                    "bankTransactionCode":
                    {
                        "type": "string",
                        "description": "Identifies the type of transaction.  The code is used to determine what references and narratives will be printed on statements."
                    },
                    "transactionType":
                    {
                        "type": "string",
                        "description": "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc."
                    },
                    "debitCurrency":
                    {
                        "type": "string",
                        "description": "Currency of the debit account. For example: USD, EUR etc."
                    },
                    "creditCurrency":
                    {
                        "type": "string",
                        "description": "Currency of the account which funds will be transferred to."
                    },
                    "beneficiaryIBAN":
                    {
                        "type": "string",
                        "description": "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189"
                    }
                }
            }
        },
        "BalanceResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/BalanceResponseBody"
                }
            },
            "description": "BalanceResponse"
        },
        "BalanceResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "accountId":
                    {
                        "type": "string",
                        "description": "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
                    },
                    "accountIBAN":
                    {
                        "type": "string",
                        "description": "Represents the International Bank Account Number (IBAN) of the account.  E.g. GB29 NWBK 6016 1331 9268 19"
                    },
                    "cardNumber":
                    {
                        "type": "string",
                        "description": "Cards issued are defined with an identifier consisting of three elements. The card type, a full stop and the card number. The card number may be any alphanumeric construction, commonly a 16 numeric number is used. VISA.5332870296579001. The id must be in the form of:  CCCC.AAAAAAAAAAAAAAAA  Where CCCC is the card type and AAAAAAAAAAAAAAAA is a unique identifier.  Examples:   VISA.1234567887654321   GC.1111222233334444   AB21.1111111122222222",
                        "maxLength": 20
                    },
                    "instructedAmount":
                    {
                        "type": "string",
                        "description": "Specifies the amount which is allocated or instructed for the account reference included in the selection for a specific transaction.",
                        "maxLength": 19
                    },
                    "currency":
                    {
                        "type": "string",
                        "description": "Identifies the currency. E.g. USD, GBP etc",
                        "maxLength": 19
                    },
                    "accountStatus":
                    {
                        "type": "string",
                        "description": "Specifies the current status of the account, which is either active, inactive or closed.",
                        "maxLength": 19
                    },
                    "dateTime":
                    {
                        "type": "string",
                        "description": "Contains the date and time separated by '-'",
                        "maxLength": 20
                    },
                    "fundsAvailable":
                    {
                        "type": "boolean",
                        "description": "Indicator which determines whether the entered amount/balance is available for the account or not. The values returned are TRUE/FALSE.",
                        "maxLength": 19
                    }
                }
            }
        },
        "TransactionsDetailsResponseQueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "requestParse_time":
                        {
                            "type": "number",
                            "description": "Time taken to parse the request by IRIS"
                        },
                        "responseParse_time":
                        {
                            "type": "number",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "status":
                {
                    "type": "string",
                    "description": "Status of the API(success/failed)"
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                },
                "data":
                {
                    "type": "object",
                    "properties":
                    {
                        "accountId":
                        {
                            "type": "string",
                            "description": "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
                        },
                        "accountIBAN":
                        {
                            "type": "string",
                            "description": "Represents the International Bank Account Number (IBAN) of the account.  E.g. GB29 NWBK 6016 1331 9268 19"
                        },
                        "balanceAmount":
                        {
                            "type": "string",
                            "description": "Amount of the balance"
                        },
                        "lastUsedAt":
                        {
                            "type": "string",
                            "description": "Indicates the time stamp at which the transaction history for the account is retreived."
                        }
                    }
                }
            }
        },
        "TransactionsDetailsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/TransactionsDetailsResponseQueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/TransactionsDetailsResponseBody"
                }
            },
            "description": "TransactionsDetailsResponse"
        },
        "TransactionsDetailsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "remittanceDetails":
                    {
                        "type": "array",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "remittanceInformation":
                                {
                                    "type": "string",
                                    "description": "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
                                    "maxLength": 150
                                }
                            }
                        }
                    },
                    "bookingDate":
                    {
                        "type": "string",
                        "description": "Business date on which the accounting entry was generated.",
                        "maxLength": 11
                    },
                    "valueDate":
                    {
                        "type": "string",
                        "description": "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)",
                        "maxLength": 11
                    },
                    "transactionId":
                    {
                        "type": "string",
                        "description": "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
                        "maxLength": 90
                    },
                    "transactionReference":
                    {
                        "type": "string",
                        "description": "Reference number of the originating transaction",
                        "maxLength": 150
                    },
                    "accountCurrency":
                    {
                        "type": "string",
                        "description": "Currency of the account. For example: USD, GBP."
                    },
                    "transactionAmount":
                    {
                        "type": "number",
                        "description": "Contains the transaction amount. This is based on the currency, either local or foreign currency"
                    },
                    "creditorAgentId":
                    {
                        "type": "string",
                        "description": "Clearing system identifier for the beneficiary institution. Contains a valid ISO code for the clearing."
                    },
                    "creditAccountId":
                    {
                        "type": "string",
                        "description": "Credit account identifier of the payment or transaction"
                    },
                    "debtorReference":
                    {
                        "type": "string",
                        "description": "Reference number for the debit side of the transaction."
                    },
                    "debitAccountId":
                    {
                        "type": "string",
                        "description": "Indicates the debit account number of the payment or transaction."
                    },
                    "paymentDetail":
                    {
                        "type": "string",
                        "description": "Indicates the payment details for the beneficiary to apply the payment.",
                        "maxLength": 34
                    },
                    "balanceType":
                    {
                        "type": "string",
                        "description": "Type of balance (e.g. current balance, credit interest accrued, deferred commission, etc.) as defined in the institution's accounting schemas.",
                        "maxLength": 20
                    },
                    "bankTransactionCode":
                    {
                        "type": "string",
                        "description": "Identifies the type of transaction.  The code is used to determine what references and narratives will be printed on statements."
                    },
                    "exchangeRate":
                    {
                        "type": "string",
                        "description": "Contains the exchange rate returned from the system. i.e. For entries over foreign currency accounts, this contains the rate which used to convert the currency amount to the local equivalent at the time of the originating transaction.",
                        "maxLength": 16
                    },
                    "debitCurrency":
                    {
                        "type": "string",
                        "description": "Currency of the debit account. For example: USD, EUR etc."
                    },
                    "creditCurrency":
                    {
                        "type": "string",
                        "description": "Currency of the account which funds will be transferred to."
                    }
                }
            }
        }
    }
}