{
    "swagger": "2.0",
    "info":
    {
        "description": "APIs to create and manage consents : Account Consent (AISP consent resource at the ASPSP, defining access rights to dedicated accounts of a given PSU-ID) and Confirmation of Funds Consent (CBPII consent resource at the ASPSP regarding confirmation of funds access to a specific account)",
        "version": "v1.2.0",
        "title": "PSD II Consent management services"
    },
    "host": "api.temenos.com",
    "basePath": "/api/v1.2.0/",
    "tags": [ ],
    "schemes": [ "http", "https" ],
    "security": [
    {
        "basicAuth": [ ]
    },
    {
        "apiKey": [ ]
    } ],
    "paths":
    {
        "/party/PSD2/customers/consentInititation":
        {
            "post":
            {
                "tags": [ ],
                "summary": "Records Customer Account Consent",
                "description": "This API is to record a Customer's Consent to the Account Information Service of the TPP. This also records the account references for which the consent is provided, any accounts that are blocked and the period of blocking, the type of consent, expiry date and the status of the consent and the last modified date.   The API shall be linked to  the 'create consent' published API in accordance with the Open Banking norms to record Account Consent details.",
                "operationId": "createConsent",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/Consent"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "createConsentResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessArrangementErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemArrangementErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/PSD2/customers/consentInititation/{consentId}":
        {
            "put":
            {
                "tags": [ ],
                "summary": "Records Customer Account Consent after successful Strong Customer Authentication",
                "description": "API to record consent creation of a user/customer to share his/her account information after successful Strong Customer Authentication and used to set customer context in consent.",
                "operationId": "initiateConsent",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/Consent"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "initiateConsentResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessArrangementErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemArrangementErrorResponse"
                        }
                    }
                }
            },
            "delete":
            {
                "tags": [ ],
                "summary": "Deletes Customer Account Consent.",
                "description": "API to delete consent of a user/customer with account information.",
                "operationId": "deleteConsent",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "deleteConsentResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessArrangementErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemArrangementErrorResponse"
                        }
                    }
                }
            },
            "parameters": [
            {
                "name": "consentId",
                "in": "path",
                "required": true,
                "type": "string"
            } ]
        },
        "/party/PSD2/customers/consentApprovals/{consentId}":
        {
            "put":
            {
                "tags": [ ],
                "summary": "Consent authorization.",
                "description": "API to authorise a Consent received from a Payment Service User/Customer to sharing of his/her Account information.",
                "operationId": "approveConsent",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/Consent"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "approveConsentResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessArrangementErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemArrangementErrorResponse"
                        }
                    }
                }
            },
            "parameters": [
            {
                "name": "consentId",
                "in": "path",
                "required": true,
                "type": "string"
            } ]
        },
        "/party/PSD2/customers/consents/{consentId}":
        {
            "get":
            {
                "tags": [ ],
                "summary": "Returns Customer Account Consent record details",
                "description": "API to return the list of Accounts and the details for which Consent is given provided the Consent reference is queried. Unauthorised Consents are also included in the search.  The information on the Accounts include:  1. The Validity of the Consent, Access Frequency, Recurring Indicator and its current Status including the last modified date  2. The Account Consent data including the Consent Type, the Account references, the respective Category and Currency and the Avaialable Balance for each of the Account consented by the Customer  The API shall be linked to the 'get consent request' published API in accordance with the Open Banking norms to get Account Consent details.",
                "operationId": "getConsentRequest",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "consentId",
                    "in": "path",
                    "description": "Identifier of the corresponding consent object as retrieved by an account Information consent Request.",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "disablePagination",
                    "in": "header",
                    "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                    "required": false,
                    "type": "boolean"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "ConsentRequestResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentRequestResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            },
            "put":
            {
                "tags": [ ],
                "summary": "Consent withdrawal.",
                "description": "API to allow a User/Customer to Withdraw the Consent provided earlier to the sharing of his/her Account information.   The API shall be linked to  the 'withdrawConsent' published API in accordance with the Open Banking norms to approve a received Consent.",
                "operationId": "withdrawConsent",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/Consent1"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "withdrawConsentResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentResponse1"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessArrangementErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemArrangementErrorResponse"
                        }
                    }
                }
            },
            "parameters": [
            {
                "name": "consentId",
                "in": "path",
                "required": true,
                "type": "string"
            } ]
        },
        "/party/PSD2/customers/consents/{consentId}/status":
        {
            "get":
            {
                "tags": [ ],
                "summary": "Returns Status of the customer Account Consent.",
                "description": "API to retrieve the Status of the Consent provided by a Customer when the Consent Reference ID is queried.  The different statuses reported are Consent Received (in case of unauthorised), Expired, Terminated by TPP and Revoked by PSU.  The API shall be linked to  the 'get consent status request' published API in accordance with the Open Banking norms to get Account Consent Status",
                "operationId": "getConsentStatus",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "consentId",
                    "in": "path",
                    "description": "Identifier of the corresponding consent object as retrieved by an account Information consent Request.",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "disablePagination",
                    "in": "header",
                    "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                    "required": false,
                    "type": "boolean"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "ConsentStatusResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentStatusResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/PSD2/customers/{customerId}/consents":
        {
            "get":
            {
                "tags": [ ],
                "summary": "Retrieves the consent information and status of TPP",
                "description": "API to retrieve Account Consent information in detail provided the customer ID, the Consent Status, Consent ID are provided.  The detailed informantion includes:  1. The Third Party Provider Reference  Name and Status 2. The signed up service  3. The Expiry Date of the Consent and its current Status including the last modified date  4. The Account Consent data including the Consent Type, the Account references, the Short Titles, the respective Category and whether or not the account consent is blocked and if blocked the start and the end date information for each of the Account consented by the Customer.",
                "operationId": "getConsentData",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "Identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "consentStatus",
                    "in": "query",
                    "description": "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "consentId",
                    "in": "query",
                    "description": "Identifier of the corresponding consent object as retrieved by an account Information consent Request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "disablePagination",
                    "in": "header",
                    "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                    "required": false,
                    "type": "boolean"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "ConsentDataResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentDataResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/PSD2/customers/consentExpiry/{consentId}":
        {
            "put":
            {
                "tags": [ ],
                "summary": "Expires Customer Account Consent",
                "description": "Consent expiry. For PSD2, this API can be linked to 'expireConsent' published API in accordance to open banking standards.",
                "operationId": "expireConsent",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/Consent2"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "expireConsentResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentResponse2"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessArrangementErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemArrangementErrorResponse"
                        }
                    }
                }
            },
            "parameters": [
            {
                "name": "consentId",
                "in": "path",
                "required": true,
                "type": "string"
            } ]
        },
        "/party/PSD2/accounts/eligibility/{accountIds}":
        {
            "get":
            {
                "tags": [ ],
                "summary": "Check PSD2 Eligibility of given account(s)",
                "description": "API to check if the given account(s) are PSD2 eligible or not.",
                "operationId": "getPsd2Eligibility",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "accountIds",
                    "in": "path",
                    "description": "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "disablePagination",
                    "in": "header",
                    "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                    "required": false,
                    "type": "boolean"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "Psd2EligibilityResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/Psd2EligibilityResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/PSD2/eligibleProducts":
        {
            "get":
            {
                "tags": [ ],
                "summary": "Returns PSD2 eligible AA Products",
                "description": "API to retrieve the list of AA Products considered as Payment Accounts and therefore eligible for PSD2 based on the Product configuration defined within the parameters. Any products not meeting the criteria defined within the parameters will not be included within this list.",
                "operationId": "getPsd2EligibileProducts",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "productDefinition",
                    "in": "query",
                    "description": "Indicates the product definition (PZ/PX)",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "disablePagination",
                    "in": "header",
                    "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                    "required": false,
                    "type": "boolean"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "Psd2EligibileProductsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/Psd2EligibileProductsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        },
        "apiKey":
        {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "definitions":
    {
        "PayloadHeader":
        {
            "properties":
            {
                "override":
                {
                    "type": "object",
                    "properties":
                    {
                        "overrideDetails":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "id":
                                    {
                                        "type": "string",
                                        "description": "The identifier of the override."
                                    },
                                    "description":
                                    {
                                        "type": "string",
                                        "description": "The actual override message."
                                    },
                                    "code":
                                    {
                                        "type": "string",
                                        "description": "The code related to override message."
                                    },
                                    "responseCode":
                                    {
                                        "type": "string",
                                        "description": "The user input to accept/reject the override."
                                    }
                                }
                            }
                        }
                    }
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        }
                    }
                }
            }
        },
        "Consent":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/ConsentBody"
                }
            },
            "description": "Consent"
        },
        "ConsentBody":
        {
            "type": "object",
            "properties":
            {
                "arrangement":
                {
                    "type": "string",
                    "description": "Unique identifier for the arrangement contract",
                    "minLength": 0,
                    "maxLength": 35
                },
                "customer":
                {
                    "type": "string",
                    "description": "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
                    "minLength": 0,
                    "maxLength": 35
                },
                "product":
                {
                    "type": "string",
                    "description": "Indicates an id or name of a product",
                    "minLength": 0,
                    "maxLength": 35
                },
                "arrangementEffectiveDate":
                {
                    "type": "string",
                    "description": "It is a date on/upon which an account is considered to take effect",
                    "minLength": 0,
                    "maxLength": 35
                },
                "activity":
                {
                    "type": "string",
                    "description": "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
                    "minLength": 0,
                    "maxLength": 35
                },
                "reason":
                {
                    "type": "string",
                    "description": "Contains the reason for performing the current activity",
                    "minLength": 0,
                    "maxLength": 35
                },
                "accountConsent":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "consentTypes":
                            {
                                "type": "array",
                                "description": "Consent Type for which the consent is given",
                                "items":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "consentType":
                                        {
                                            "type": "string",
                                            "description": "Consent Type for which the consent is given",
                                            "minLength": 0,
                                            "maxLength": 11
                                        }
                                    }
                                }
                            },
                            "accountIBANs":
                            {
                                "type": "array",
                                "description": "Indicates the consent sub type linked to corresponding consent type.",
                                "items":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "accountIBAN":
                                        {
                                            "type": "string",
                                            "description": "Represents the International Bank Account Number (IBAN) of the account.  E.g. GB29 NWBK 6016 1331 9268 19",
                                            "minLength": 0,
                                            "maxLength": 11
                                        },
                                        "isConsentGiven":
                                        {
                                            "type": "string",
                                            "description": "Indicates whether the consent is given for a specific type. Allowed values:  - YES,NO",
                                            "minLength": 0,
                                            "maxLength": 14
                                        },
                                        "accountBlock":
                                        {
                                            "type": "string",
                                            "description": "Indicates whether the consent account has been blocked or not. Holds YES/NO/Blank.",
                                            "minLength": 0,
                                            "maxLength": 12
                                        },
                                        "blockFrom":
                                        {
                                            "type": "string",
                                            "description": "Specifies the date on which account consent is blocked.",
                                            "minLength": 0,
                                            "maxLength": 9
                                        },
                                        "blockTill":
                                        {
                                            "type": "string",
                                            "description": "Specifies until which date account consent to be blocked.",
                                            "minLength": 0,
                                            "maxLength": 9
                                        },
                                        "blockNotes":
                                        {
                                            "type": "string",
                                            "description": "Indicates the reason for which the consent is blocked.",
                                            "minLength": 0,
                                            "maxLength": 10
                                        },
                                        "consentSubTypes":
                                        {
                                            "type": "array",
                                            "items":
                                            {
                                                "type": "object",
                                                "properties":
                                                {
                                                    "consentSubType":
                                                    {
                                                        "type": "string",
                                                        "description": "Indicates the consent sub type linked to corresponding consent type.",
                                                        "minLength": 0,
                                                        "maxLength": 18
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "consentStatuses":
                            {
                                "type": "array",
                                "description": "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu.",
                                "items":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "consentStatus":
                                        {
                                            "type": "string",
                                            "description": "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu.",
                                            "minLength": 0,
                                            "maxLength": 13
                                        },
                                        "lastActionDate":
                                        {
                                            "type": "string",
                                            "description": "Indicates the date on which the status of the consent arrangement changed.",
                                            "minLength": 0,
                                            "maxLength": 14
                                        }
                                    }
                                }
                            },
                            "thirdpartyproviderId":
                            {
                                "type": "string",
                                "description": "Unique TPP(third party provider) reference which is the global urn of the TPP. For example: PSDLU-CSSF-9db9074bf3be45550237a21cd2a11585",
                                "minLength": 0,
                                "maxLength": 20
                            },
                            "signUpService":
                            {
                                "type": "string",
                                "description": "Indicates whether the signing up information is to be AISP(Accounts information service provider) or PISP(Payments information service provider).",
                                "minLength": 0,
                                "maxLength": 13
                            },
                            "recurringIndicator":
                            {
                                "type": "string",
                                "description": "Indicates whether the expiry date to be recalculated for every duration of expiry period.",
                                "minLength": 0,
                                "maxLength": 18
                            },
                            "validUntil":
                            {
                                "type": "string",
                                "description": "Valid until date",
                                "minLength": 0,
                                "maxLength": 10
                            },
                            "frequencyPerDay":
                            {
                                "type": "string",
                                "description": "Specifies the frequency in which the payment application executes the payment instruction",
                                "minLength": 0,
                                "maxLength": 15
                            },
                            "combinedServiceIndicator":
                            {
                                "type": "string",
                                "description": "Specifies whether the payment initiation service will be addressed in the same session as account information consent request",
                                "minLength": 0,
                                "maxLength": 24
                            },
                            "scaStatus":
                            {
                                "type": "string",
                                "description": "Contains the status of the strong customer authentication process for the payment or consent. Valid values are received, psuIdentified, scaMethodSelected, started, finalised or failed",
                                "minLength": 0,
                                "maxLength": 9
                            },
                            "link":
                            {
                                "type": "string",
                                "description": "Contains the arrangement activity reference of the parent. This is used during secondary activity processing where child activities are generated at runtime during processing.",
                                "minLength": 0,
                                "maxLength": 4
                            },
                            "thirdpartyprovider":
                            {
                                "type": "string",
                                "description": "Contains the TPP (third party provider) name or text of the TPP reference",
                                "minLength": 0,
                                "maxLength": 60
                            },
                            "externalUserId":
                            {
                                "type": "string",
                                "description": "Contains the external user identifier for which the consent is created.",
                                "minLength": 0,
                                "maxLength": 70
                            },
                            "onlineArrangement":
                            {
                                "type": "string",
                                "description": "Contains the arrangement identifier of the external user that contains the rights that the external user has access to.",
                                "minLength": 0,
                                "maxLength": 35
                            },
                            "cardNumber":
                            {
                                "type": "string",
                                "description": "Cards issued are defined with an identifier consisting of three elements. The card type, a full stop and the card number. The card number may be any alphanumeric construction, commonly a 16 numeric number is used. VISA.5332870296579001. The id must be in the form of:  CCCC.AAAAAAAAAAAAAAAA  Where CCCC is the card type and AAAAAAAAAAAAAAAA is a unique identifier.  Examples:   VISA.1234567887654321   GC.1111222233334444   AB21.1111111122222222",
                                "minLength": 0,
                                "maxLength": 35
                            },
                            "expiryDate":
                            {
                                "type": "string",
                                "description": "The date an agreement such as an arrangement, product, credit facility or limit is due to expire",
                                "minLength": 0,
                                "maxLength": 14
                            },
                            "cardType":
                            {
                                "type": "string",
                                "description": "The type of the card, e.g. Visa, Mastercard, etc.",
                                "minLength": 0,
                                "maxLength": 140
                            },
                            "additionalInformation":
                            {
                                "type": "string",
                                "description": "Additional Information provided to add context",
                                "minLength": 0,
                                "maxLength": 140
                            }
                        }
                    }
                }
            }
        },
        "ArrangementHeader":
        {
            "properties":
            {
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "aaaId":
                {
                    "type": "string",
                    "description": "The Identifier of the aa record created"
                },
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "Status of the API(success/failed)"
                },
                "uniqueIdentifier":
                {
                    "type": "string",
                    "description": "The unique identifier/Message Reference of the record created."
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "requestParse_time":
                        {
                            "type": "number",
                            "description": "Time taken to parse the request by IRIS"
                        },
                        "responseParse_time":
                        {
                            "type": "number",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "ConsentResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/ConsentResponseBody"
                }
            },
            "description": "ConsentResponse"
        },
        "ConsentResponseBody":
        {
            "type": "object",
            "properties":
            {
                "arrangementActivity":
                {
                    "type": "object",
                    "properties":
                    {
                        "arrangement":
                        {
                            "type": "string",
                            "description": "Unique identifier for the arrangement contract",
                            "minLength": 0,
                            "maxLength": 35
                        },
                        "customer":
                        {
                            "type": "string",
                            "description": "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
                            "minLength": 0,
                            "maxLength": 35
                        },
                        "product":
                        {
                            "type": "string",
                            "description": "Indicates an id or name of a product",
                            "minLength": 0,
                            "maxLength": 35
                        },
                        "arrangementEffectiveDate":
                        {
                            "type": "string",
                            "description": "It is a date on/upon which an account is considered to take effect",
                            "minLength": 0,
                            "maxLength": 35
                        },
                        "activity":
                        {
                            "type": "string",
                            "description": "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
                            "minLength": 0,
                            "maxLength": 35
                        },
                        "reason":
                        {
                            "type": "string",
                            "description": "Contains the reason for performing the current activity",
                            "minLength": 0,
                            "maxLength": 35
                        }
                    }
                },
                "activities":
                {
                    "type": "object",
                    "properties":
                    {
                        "{activityName}":
                        {
                            "type": "object",
                            "properties":
                            {
                                "activity":
                                {
                                    "type": "string"
                                },
                                "transactionStatus":
                                {
                                    "type": "string",
                                    "description": "The status of the transaction"
                                },
                                "id":
                                {
                                    "type": "string",
                                    "description": "The Identifier of the record created"
                                }
                            }
                        }
                    }
                },
                "properties":
                {
                    "type": "object",
                    "properties":
                    {
                        "customer":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "officers":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "accountConsent":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string",
                                            "description": "The status of the transaction"
                                        },
                                        "audit":
                                        {
                                            "type": "object",
                                            "properties":
                                            {
                                                "T24_time":
                                                {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Time taken to response by T24"
                                                },
                                                "versionNumber":
                                                {
                                                    "type": "string",
                                                    "description": "Current number of the record"
                                                },
                                                "requestParse_time":
                                                {
                                                    "type": "number",
                                                    "description": "Time taken to parse the request by IRIS"
                                                },
                                                "responseParse_time":
                                                {
                                                    "type": "number",
                                                    "description": "Time taken to parse the response by IRIS"
                                                }
                                            }
                                        },
                                        "id":
                                        {
                                            "type": "string",
                                            "description": "The Identifier of the record created"
                                        },
                                        "status":
                                        {
                                            "type": "string",
                                            "description": "The status of the record"
                                        }
                                    }
                                },
                                "body":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "consentTypes":
                                        {
                                            "type": "array",
                                            "description": "Consent Type for which the consent is given",
                                            "items":
                                            {
                                                "type": "object",
                                                "properties":
                                                {
                                                    "consentType":
                                                    {
                                                        "type": "string",
                                                        "description": "Consent Type for which the consent is given",
                                                        "minLength": 0,
                                                        "maxLength": 11
                                                    }
                                                }
                                            }
                                        },
                                        "accountIBANs":
                                        {
                                            "type": "array",
                                            "description": "Indicates the consent sub type linked to corresponding consent type.",
                                            "items":
                                            {
                                                "type": "object",
                                                "properties":
                                                {
                                                    "accountIBAN":
                                                    {
                                                        "type": "string",
                                                        "description": "Represents the International Bank Account Number (IBAN) of the account.  E.g. GB29 NWBK 6016 1331 9268 19",
                                                        "minLength": 0,
                                                        "maxLength": 11
                                                    },
                                                    "isConsentGiven":
                                                    {
                                                        "type": "string",
                                                        "description": "Indicates whether the consent is given for a specific type. Allowed values:  - YES,NO",
                                                        "minLength": 0,
                                                        "maxLength": 14
                                                    },
                                                    "accountBlock":
                                                    {
                                                        "type": "string",
                                                        "description": "Indicates whether the consent account has been blocked or not. Holds YES/NO/Blank.",
                                                        "minLength": 0,
                                                        "maxLength": 12
                                                    },
                                                    "blockFrom":
                                                    {
                                                        "type": "string",
                                                        "description": "Specifies the date on which account consent is blocked.",
                                                        "minLength": 0,
                                                        "maxLength": 9
                                                    },
                                                    "blockTill":
                                                    {
                                                        "type": "string",
                                                        "description": "Specifies until which date account consent to be blocked.",
                                                        "minLength": 0,
                                                        "maxLength": 9
                                                    },
                                                    "blockNotes":
                                                    {
                                                        "type": "string",
                                                        "description": "Indicates the reason for which the consent is blocked.",
                                                        "minLength": 0,
                                                        "maxLength": 10
                                                    },
                                                    "consentSubTypes":
                                                    {
                                                        "type": "array",
                                                        "items":
                                                        {
                                                            "type": "object",
                                                            "properties":
                                                            {
                                                                "consentSubType":
                                                                {
                                                                    "type": "string",
                                                                    "description": "Indicates the consent sub type linked to corresponding consent type.",
                                                                    "minLength": 0,
                                                                    "maxLength": 18
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "consentStatuses":
                                        {
                                            "type": "array",
                                            "description": "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu.",
                                            "items":
                                            {
                                                "type": "object",
                                                "properties":
                                                {
                                                    "consentStatus":
                                                    {
                                                        "type": "string",
                                                        "description": "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu.",
                                                        "minLength": 0,
                                                        "maxLength": 13
                                                    },
                                                    "lastActionDate":
                                                    {
                                                        "type": "string",
                                                        "description": "Indicates the date on which the status of the consent arrangement changed.",
                                                        "minLength": 0,
                                                        "maxLength": 14
                                                    }
                                                }
                                            }
                                        },
                                        "thirdpartyproviderId":
                                        {
                                            "type": "string",
                                            "description": "Unique TPP(third party provider) reference which is the global urn of the TPP. For example: PSDLU-CSSF-9db9074bf3be45550237a21cd2a11585",
                                            "minLength": 0,
                                            "maxLength": 20
                                        },
                                        "signUpService":
                                        {
                                            "type": "string",
                                            "description": "Indicates whether the signing up information is to be AISP(Accounts information service provider) or PISP(Payments information service provider).",
                                            "minLength": 0,
                                            "maxLength": 13
                                        },
                                        "recurringIndicator":
                                        {
                                            "type": "string",
                                            "description": "Indicates whether the expiry date to be recalculated for every duration of expiry period.",
                                            "minLength": 0,
                                            "maxLength": 18
                                        },
                                        "validUntil":
                                        {
                                            "type": "string",
                                            "description": "Valid until date",
                                            "minLength": 0,
                                            "maxLength": 10
                                        },
                                        "frequencyPerDay":
                                        {
                                            "type": "string",
                                            "description": "Specifies the frequency in which the payment application executes the payment instruction",
                                            "minLength": 0,
                                            "maxLength": 15
                                        },
                                        "combinedServiceIndicator":
                                        {
                                            "type": "string",
                                            "description": "Specifies whether the payment initiation service will be addressed in the same session as account information consent request",
                                            "minLength": 0,
                                            "maxLength": 24
                                        },
                                        "scaStatus":
                                        {
                                            "type": "string",
                                            "description": "Contains the status of the strong customer authentication process for the payment or consent. Valid values are received, psuIdentified, scaMethodSelected, started, finalised or failed",
                                            "minLength": 0,
                                            "maxLength": 9
                                        },
                                        "link":
                                        {
                                            "type": "string",
                                            "description": "Contains the arrangement activity reference of the parent. This is used during secondary activity processing where child activities are generated at runtime during processing.",
                                            "minLength": 0,
                                            "maxLength": 4
                                        },
                                        "thirdpartyprovider":
                                        {
                                            "type": "string",
                                            "description": "Contains the TPP (third party provider) name or text of the TPP reference",
                                            "minLength": 0,
                                            "maxLength": 60
                                        },
                                        "externalUserId":
                                        {
                                            "type": "string",
                                            "description": "Contains the external user identifier for which the consent is created.",
                                            "minLength": 0,
                                            "maxLength": 70
                                        },
                                        "onlineArrangement":
                                        {
                                            "type": "string",
                                            "description": "Contains the arrangement identifier of the external user that contains the rights that the external user has access to.",
                                            "minLength": 0,
                                            "maxLength": 35
                                        },
                                        "cardNumber":
                                        {
                                            "type": "string",
                                            "description": "Cards issued are defined with an identifier consisting of three elements. The card type, a full stop and the card number. The card number may be any alphanumeric construction, commonly a 16 numeric number is used. VISA.5332870296579001. The id must be in the form of:  CCCC.AAAAAAAAAAAAAAAA  Where CCCC is the card type and AAAAAAAAAAAAAAAA is a unique identifier.  Examples:   VISA.1234567887654321   GC.1111222233334444   AB21.1111111122222222",
                                            "minLength": 0,
                                            "maxLength": 35
                                        },
                                        "expiryDate":
                                        {
                                            "type": "string",
                                            "description": "The date an agreement such as an arrangement, product, credit facility or limit is due to expire",
                                            "minLength": 0,
                                            "maxLength": 14
                                        },
                                        "cardType":
                                        {
                                            "type": "string",
                                            "description": "The type of the card, e.g. Visa, Mastercard, etc.",
                                            "minLength": 0,
                                            "maxLength": 140
                                        },
                                        "additionalInformation":
                                        {
                                            "type": "string",
                                            "description": "Additional Information provided to add context",
                                            "minLength": 0,
                                            "maxLength": 140
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "overrideBody":
        {
            "properties":
            {
                "overrideDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "id":
                            {
                                "type": "string",
                                "description": "The identifier of the override."
                            },
                            "description":
                            {
                                "type": "string",
                                "description": "The actual override message."
                            },
                            "code":
                            {
                                "type": "string",
                                "description": "The code related to override message."
                            },
                            "options":
                            {
                                "type": "array",
                                "description": "The usable options for the override.",
                                "items":
                                {
                                    "type": "string"
                                }
                            },
                            "type":
                            {
                                "type": "string",
                                "description": "The type of the override."
                            }
                        }
                    }
                }
            }
        },
        "ArrangementErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/ArrangementErrorResponseBody"
                },
                "override":
                {
                    "$ref": "#/definitions/overrideBody"
                }
            },
            "description": "ArrangementErrorResponse"
        },
        "ArrangementErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "errorDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "fieldName":
                            {
                                "type": "string",
                                "description": "The name of the field"
                            },
                            "code":
                            {
                                "type": "string",
                                "description": "The identifier of the error message"
                            },
                            "message":
                            {
                                "type": "string",
                                "description": "The actual t24 error message "
                            },
                            "property":
                            {
                                "type": "string",
                                "description": "Id of the product property"
                            }
                        }
                    }
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type: "
                }
            }
        },
        "BusinessArrangementErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/BusinessArrangementErrorResponseBody"
                },
                "override":
                {
                    "$ref": "#/definitions/overrideBody"
                }
            },
            "description": "BusinessArrangementErrorResponse"
        },
        "BusinessArrangementErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "errorDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "fieldName":
                            {
                                "type": "string",
                                "description": "The name of the field"
                            },
                            "code":
                            {
                                "type": "string",
                                "description": "The identifier of the error message"
                            },
                            "message":
                            {
                                "type": "string",
                                "description": "The actual t24 error message for bad requests"
                            },
                            "property":
                            {
                                "type": "string",
                                "description": "Id of the product property"
                            }
                        }
                    }
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type: Business"
                }
            }
        },
        "SystemArrangementErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/SystemArrangementErrorResponseBody"
                },
                "override":
                {
                    "$ref": "#/definitions/overrideBody"
                }
            },
            "description": "SystemArrangementErrorResponse"
        },
        "SystemArrangementErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "errorDetails":
                {
                    "type": "array",
                    "items":
[...]
