{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows management of Forex utilisations for external settlement contracts ",
    "version" : "v1.0.0",
    "title" : "Management of Forex Utilisations"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ {
    "name" : "TREASURY"
  } ],
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/holdings/treasury/forex/utilisations/{utilisationId}" : {
      "get" : {
        "tags" : [ "TREASURY" ],
        "summary" : "Retrieves the forex contracts for the provided reference",
        "description" : "View Forex contracts which are utilised",
        "operationId" : "getUtilisations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "utilisationId",
          "in" : "path",
          "description" : "Identifies the unique identifier of the transaction or contract which will be utilised.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UtilisationsResponse",
            "schema" : {
              "$ref" : "#/definitions/UtilisationsResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/treasury/forex/utilisationsInitiations/{utilisationId}" : {
      "put" : {
        "tags" : [ "TREASURY" ],
        "summary" : "Initiation of the Forex contract which will be utilised for external settlement",
        "description" : "Amend the Forex to add utilisations",
        "operationId" : "addUtilisations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "utilisationId",
          "in" : "path",
          "description" : "Identifies the unique identifier of the transaction or contract which will be utilised.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Utilisations"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UtilisationsResponse",
            "schema" : {
              "$ref" : "#/definitions/UtilisationsResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/treasury/forex/utilisationsApprovals/{utilisationId}" : {
      "put" : {
        "tags" : [ "TREASURY" ],
        "summary" : "Authorization of the Forex contract which has been utilised for external settlement",
        "description" : "Authorises the utilisation added on Forex contracts",
        "operationId" : "approveUtilisations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "utilisationId",
          "in" : "path",
          "description" : "Identifies the unique identifier of the transaction or contract which will be utilised.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UtilisationsResponse",
            "schema" : {
              "$ref" : "#/definitions/UtilisationsResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "UtilisationsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UtilisationsResponseBody"
        }
      },
      "description" : "UtilisationsResponse"
    },
    "UtilisationsResponseBody" : {
      "type" : "object",
      "properties" : {
        "utilisations" : {
          "type" : "array",
          "description" : "Retrieves the forex contracts which are utilized",
          "items" : {
            "type" : "object",
            "properties" : {
              "utilisationAmountBuy" : {
                "type" : "string",
                "description" : "Contains the utilized buy amount of the Forex contract",
                "minLength" : 0,
                "maxLength" : 20
              },
              "utilisationAmountSell" : {
                "type" : "string",
                "description" : "Contains the utilized sell amount of the Forex contract",
                "minLength" : 0,
                "maxLength" : 21
              },
              "utilisationDateBuy" : {
                "type" : "string",
                "description" : "Contains the buy date when the utilisation has been done on the Forex deal",
                "minLength" : 0,
                "maxLength" : 18
              },
              "utilisationDateSell" : {
                "type" : "string",
                "description" : "Contains the sell date when the utilisation has been done on the Forex deal",
                "minLength" : 0,
                "maxLength" : 19
              },
              "utilisationReference" : {
                "type" : "string",
                "description" : "Contains the reference to the contracts which have utilized the Forex.",
                "minLength" : 0,
                "maxLength" : 20
              }
            }
          }
        },
        "customerName" : {
          "type" : "string",
          "description" : "Name of the customer",
          "minLength" : 0,
          "maxLength" : 25
        },
        "valueDateBuy" : {
          "type" : "string",
          "description" : "Settlement date for buy side amount",
          "minLength" : 0,
          "maxLength" : 25
        },
        "valueDateSell" : {
          "type" : "string",
          "description" : "Date on which the sold currency is settled.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "optionDate" : {
          "type" : "string",
          "description" : "Contains the date post which an options contract can be utilized",
          "minLength" : 0,
          "maxLength" : 25
        },
        "projectedOutstandingAmount" : {
          "type" : "string",
          "description" : "Contains the outstanding amount of the utilized contracts.",
          "minLength" : 0,
          "maxLength" : 26
        },
        "buyCurrency" : {
          "type" : "string",
          "description" : "ISO Currency code for the bought currency.  ",
          "minLength" : 0,
          "maxLength" : 25
        },
        "sellCurrency" : {
          "type" : "string",
          "description" : "ISO Currency code for the sold currency.  ",
          "minLength" : 0,
          "maxLength" : 25
        },
        "baseCurrency" : {
          "type" : "string",
          "description" : "Currency against which exchange rate is quoted.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "optionCurrency" : {
          "type" : "string",
          "description" : "The currency of the option",
          "minLength" : 0,
          "maxLength" : 25
        },
        "buyAmount" : {
          "type" : "string",
          "description" : "Amount bought in the FX deal.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "sellAmount" : {
          "type" : "string",
          "description" : "Amount sold in the FX deal.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "spotRate" : {
          "type" : "string",
          "description" : "Exchange rate applicable for spot trades.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "forwardRate" : {
          "type" : "string",
          "description" : "FX rate applicable for forward period contracts. ",
          "minLength" : 0,
          "maxLength" : 25
        },
        "treasuryRate" : {
          "type" : "string",
          "description" : "The Treasury rate for the conversion between payment currency and the ordering currency",
          "minLength" : 0,
          "maxLength" : 25
        },
        "externalDealReference" : {
          "type" : "string",
          "description" : "Contains the external deal reference number",
          "minLength" : 0,
          "maxLength" : 25
        },
        "dealType" : {
          "type" : "string",
          "description" : "Foreign Exchange deal type. Allowed values: - SP(spot) - FW(forward) - SW(Swap)",
          "minLength" : 0,
          "maxLength" : 25
        },
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "minLength" : 0,
          "maxLength" : 15
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "Utilisations" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UtilisationsBody"
        }
      },
      "description" : "Utilisations"
    },
    "UtilisationsBody" : {
      "type" : "object",
      "properties" : {
        "utilisations" : {
          "type" : "array",
          "description" : "Retrieves the forex contracts which are utilized",
          "items" : {
            "type" : "object",
            "properties" : {
              "utilisationAmountBuy" : {
                "type" : "string",
                "description" : "Contains the utilized buy amount of the Forex contract",
                "minLength" : 0,
                "maxLength" : 20
              },
              "utilisationAmountSell" : {
                "type" : "string",
                "description" : "Contains the utilized sell amount of the Forex contract",
                "minLength" : 0,
                "maxLength" : 21
              },
              "utilisationDateBuy" : {
                "type" : "string",
                "description" : "Contains the buy date when the utilisation has been done on the Forex deal",
                "minLength" : 0,
                "maxLength" : 18
              },
              "utilisationDateSell" : {
                "type" : "string",
                "description" : "Contains the sell date when the utilisation has been done on the Forex deal",
                "minLength" : 0,
                "maxLength" : 19
              },
              "utilisationReference" : {
                "type" : "string",
                "description" : "Contains the reference to the contracts which have utilized the Forex.",
                "minLength" : 0,
                "maxLength" : 20
              }
            }
          }
        },
        "customerName" : {
          "type" : "string",
          "description" : "Name of the customer",
          "minLength" : 0,
          "maxLength" : 25
        },
        "valueDateBuy" : {
          "type" : "string",
          "description" : "Settlement date for buy side amount",
          "minLength" : 0,
          "maxLength" : 25
        },
        "valueDateSell" : {
          "type" : "string",
          "description" : "Date on which the sold currency is settled.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "optionDate" : {
          "type" : "string",
          "description" : "Contains the date post which an options contract can be utilized",
          "minLength" : 0,
          "maxLength" : 25
        },
        "projectedOutstandingAmount" : {
          "type" : "string",
          "description" : "Contains the outstanding amount of the utilized contracts.",
          "minLength" : 0,
          "maxLength" : 26
        },
        "buyCurrency" : {
          "type" : "string",
          "description" : "ISO Currency code for the bought currency.  ",
          "minLength" : 0,
          "maxLength" : 25
        },
        "sellCurrency" : {
          "type" : "string",
          "description" : "ISO Currency code for the sold currency.  ",
          "minLength" : 0,
          "maxLength" : 25
        },
        "baseCurrency" : {
          "type" : "string",
          "description" : "Currency against which exchange rate is quoted.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "optionCurrency" : {
          "type" : "string",
          "description" : "The currency of the option",
          "minLength" : 0,
          "maxLength" : 25
        },
        "buyAmount" : {
          "type" : "string",
          "description" : "Amount bought in the FX deal.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "sellAmount" : {
          "type" : "string",
          "description" : "Amount sold in the FX deal.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "spotRate" : {
          "type" : "string",
          "description" : "Exchange rate applicable for spot trades.",
          "minLength" : 0,
          "maxLength" : 25
        },
        "forwardRate" : {
          "type" : "string",
          "description" : "FX rate applicable for forward period contracts. ",
          "minLength" : 0,
          "maxLength" : 25
        },
        "treasuryRate" : {
          "type" : "string",
          "description" : "The Treasury rate for the conversion between payment currency and the ordering currency",
          "minLength" : 0,
          "maxLength" : 25
        },
        "externalDealReference" : {
          "type" : "string",
          "description" : "Contains the external deal reference number",
          "minLength" : 0,
          "maxLength" : 25
        },
        "dealType" : {
          "type" : "string",
          "description" : "Foreign Exchange deal type. Allowed values: - SP(spot) - FW(forward) - SW(Swap)",
          "minLength" : 0,
          "maxLength" : 25
        },
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "minLength" : 0,
          "maxLength" : 15
        }
      }
    }
  }
}