{
  "swagger" : "2.0",
  "info" : {
    "description" : "API for the creation and management of credit agreements for Corporate customers. The types of credit agreements are Single Level Facility, Credit Agreement with Multiple Facilities, Club Loans with Agency and Syndicated Loans.",
    "version" : "v2.0.0",
    "title" : "Corporate Credit Agreements"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/holdings/creditAgreements/deals/offers" : {
      "post" : {
        "summary" : "Creates an offer for a deal contract",
        "description" : "Creates new offer Deal for the required customer when the Mandatory input details are provided. Offer Deal creates a draft contract and allow the users to negotiate multiple times. Offer Deal is a draft contract and will not affect the Balance sheet of the bank.",
        "operationId" : "createDealOffer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DealOffer"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createDealOfferResponse",
            "schema" : {
              "$ref" : "#/definitions/DealOfferResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/creditAgreements/facilities/offers" : {
      "post" : {
        "summary" : "Creates an offer for a facility contract",
        "description" : "Creates a new offer Facility for the required customer when at least the Mandatory input is provided. Offer Facility creates a draft contract and allow the users to negotiate multiple times. Offer facility is a draft contract and will not affect the Balance sheet of the bank.",
        "operationId" : "createFacilityOffer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FacilityOffer"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createFacilityOfferResponse",
            "schema" : {
              "$ref" : "#/definitions/FacilityOfferResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/creditAgreements/deals/offers/cancellations" : {
      "post" : {
        "summary" : "Deletes an offer for a deal contract",
        "description" : "Deletes a new offer for the required deal contract when at least the Mandatory input is provided. Deal offer is a draft contract, which allow the user to delete the contract online and deal offer contract will not affect the balance sheet of the bank.",
        "operationId" : "deleteDealOffer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DealOffer1"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "deleteDealOfferResponse",
            "schema" : {
              "$ref" : "#/definitions/DealOfferResponse1"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/creditAgreements/facilities/offers/cancellations" : {
      "post" : {
        "summary" : "Deletes an offer for a facility contract",
        "description" : "Deletes a new offer for the required facility contract when at least the Mandatory input is provided. Facility offer is a draft contract, which allow the user to delete the contract online and facility offer contract will not affect the balance sheet of the bank.",
        "operationId" : "deleteFacilityOffer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FacilityOffer1"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "deleteFacilityOfferResponse",
            "schema" : {
              "$ref" : "#/definitions/FacilityOfferResponse1"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/creditAgreements/deals/offers/acceptances" : {
      "post" : {
        "summary" : "Accept the deal offer and execute the contract to live",
        "description" : "On executing acceptance, the contract is changed from Offer to live Deal for the required customer when at least the Mandatory input is provided. Process will check all the required mandatory inputs and prompt an error message when mandatory details are not provided. Once the accept deal offer is processed further offer negotiation is not allowed.",
        "operationId" : "acceptDealOffer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DealOffer2"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "acceptDealOfferResponse",
            "schema" : {
              "$ref" : "#/definitions/DealOfferResponse2"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/creditAgreements/facilities/offers/acceptances" : {
      "post" : {
        "summary" : "Accept the facility offer and the execute the contract to live",
        "description" : "On executing acceptance, the contract is changed from Offer to live Facility for the required customer when at least the Mandatory input is provided. Process will check all the required mandatory inputs and prompt an error message when mandatory details are not provided. Once the accept deal offer is processed further offer negotiation is not allowed.",
        "operationId" : "acceptFacilityOffer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FacilityOffer2"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "acceptFacilityOfferResponse",
            "schema" : {
              "$ref" : "#/definitions/FacilityOfferResponse2"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/creditAgreements/drawdowns/offers" : {
      "post" : {
        "summary" : "Creates a new drawdown offer for the required customer. ",
        "description" : "Creates a new drawdown offer for the required customer. ",
        "operationId" : "createDrawdownOffer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DrawdownOffer"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createDrawdownOfferResponse",
            "schema" : {
              "$ref" : "#/definitions/DrawdownOfferResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/creditAgreements/drawdowns/offers/negotiations" : {
      "post" : {
        "summary" : "Renegotiate the offer drawdown for the required customer.",
        "description" : "Renegotiate the offer drawdown for the required customer.",
        "operationId" : "createOfferDrawdownRenegotiation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OfferDrawdownRenegotiation"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createOfferDrawdownRenegotiationResponse",
            "schema" : {
              "$ref" : "#/definitions/OfferDrawdownRenegotiationResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/creditAgreements/drawdowns/offers/cancellations" : {
      "post" : {
        "summary" : "Cancellation of offer drawdown for the required customer.",
        "description" : "Cancellation of offer drawdown for the required customer.",
        "operationId" : "deleteDrawdownOffer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DrawdownOffer1"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "deleteDrawdownOfferResponse",
            "schema" : {
              "$ref" : "#/definitions/DrawdownOfferResponse1"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/creditAgreements/drawdowns/offers/acceptances" : {
      "post" : {
        "summary" : "Convert an offer drawdown to a live drawdown for the required customer.",
        "description" : "Convert an offer drawdown to a live drawdown for the required customer.",
        "operationId" : "acceptOfferDrawdown",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OfferDrawdown"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "acceptOfferDrawdownResponse",
            "schema" : {
              "$ref" : "#/definitions/OfferDrawdownResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/creditAgreements/facilities/{facilityId}/drawingProducts" : {
      "get" : {
        "summary" : "Retrieves the available drawing products under the facility ",
        "description" : "Retrieves the available drawing products under the facility ",
        "operationId" : "getFacilityDrawingProducts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "facilityId",
          "in" : "path",
          "description" : "Unique identifier (contract number) of the facility",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "FacilityDrawingProductsResponse",
            "schema" : {
              "$ref" : "#/definitions/FacilityDrawingProductsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/creditAgreements/facilities/{facilityId}/combinedSchedules" : {
      "get" : {
        "summary" : "Retrieves the payment schedule of facility and its drawings",
        "description" : "Retrieves the payment schedule of facility and its drawings",
        "operationId" : "getCombinedSchedules",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "facilityId",
          "in" : "path",
          "description" : "Unique identifier (contract number) of the facility",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CombinedSchedulesResponse",
            "schema" : {
              "$ref" : "#/definitions/CombinedSchedulesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/creditAgreements/facilities" : {
      "post" : {
        "summary" : "Creates corporate facilities",
        "description" : "Creates corporate facilities",
        "operationId" : "createFacilities",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Facilities"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createFacilitiesResponse",
            "schema" : {
              "$ref" : "#/definitions/FacilitiesResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/creditAgreements/drawdowns" : {
      "post" : {
        "summary" : "Creates drawdowns under facility",
        "description" : "Creates drawdowns under facility",
        "operationId" : "createDrawdowns",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Drawdowns"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createDrawdownsResponse",
            "schema" : {
              "$ref" : "#/definitions/DrawdownsResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "DealOffer" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DealOfferBody"
        }
      },
      "description" : "DealOffer"
    },
    "DealOfferBody" : {
      "type" : "object",
      "properties" : {
        "customers" : {
          "type" : "array",
          "description" : "Contains the customer identifier",
          "items" : {
            "type" : "object",
            "properties" : {
              "customer" : {
                "type" : "string",
                "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
                "minLength" : 0,
                "maxLength" : 8
              },
              "customerRole" : {
                "type" : "string",
                "description" : "Indicates role of a customer for an arrangement.",
                "minLength" : 0,
                "maxLength" : 12
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 9
        },
        "currency" : {
          "type" : "string",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "minLength" : 0,
          "maxLength" : 8
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format"
        },
        "activity" : {
          "type" : "string",
          "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "settlement" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "payInAccounts" : {
                "type" : "array",
                "description" : "Contains the account from which funds are to be debited against the payment type",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "payInAccount" : {
                      "type" : "string",
                      "description" : "Contains the account from which funds are to be debited against the payment type",
                      "minLength" : 0,
                      "maxLength" : 12
                    }
                  }
                }
              },
              "payOutAccounts" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "payoutAccount" : {
                      "type" : "string",
                      "description" : "The account to which a settlement amount is transferred.",
                      "minLength" : 0,
                      "maxLength" : 13
                    }
                  }
                }
              }
            }
          }
        },
        "facilityRules" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "requiredCurrencies" : {
                "type" : "array",
                "description" : "Contains the required currency for the sub contract, typical values can be PARENT.CURRENCY, ALLOWED.LIST or ANY",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "requiredCurrency" : {
                      "type" : "string",
                      "description" : "Contains the required currency for the sub contract, typical values can be PARENT.CURRENCY, ALLOWED.LIST or ANY",
                      "minLength" : 0,
                      "maxLength" : 22
                    }
                  }
                }
              },
              "allowedCurrencies" : {
                "type" : "array",
                "description" : "Field denotes the currency set as allowed currency in Master account conditions.",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "allowedCurrency" : {
                      "type" : "string",
                      "description" : "Available currencies for the product",
                      "minLength" : 0,
                      "maxLength" : 25
                    }
                  }
                }
              },
              "allowedProductGroups" : {
                "type" : "array",
                "description" : "Group allowed to be used for a sub contract, for example Mortgages or Term Loans",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "allowedProductGroup" : {
                      "type" : "string",
                      "description" : "Group allowed to be used for a sub contract, for example Mortgages or Term Loans",
                      "minLength" : 0,
                      "maxLength" : 25
                    }
                  }
                }
              },
              "allowedProducts" : {
                "type" : "array",
                "description" : "Product or products allowed to be used within the product bundle.",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "allowedProduct" : {
                      "type" : "string",
                      "description" : "Product or products allowed to be used within the product bundle.",
                      "minLength" : 0,
                      "maxLength" : 25
                    }
                  }
                }
              },
              "borrower" : {
                "type" : "string",
                "description" : "Contains the nature of the borrower, typical values can be PARENT.OWNERS, PARENT.CUSTOMERS, ALLOWED.LIST and ANY",
                "minLength" : 0,
                "maxLength" : 8
              },
              "requiredBorrower" : {
                "type" : "string",
                "description" : "Contains the required borrowers for the sub contract, typical values can be ANY or ALL",
                "minLength" : 0,
                "maxLength" : 17
              },
              "allowedCustomer" : {
                "type" : "string",
                "description" : "Customers who are part of Limit sharing Group.",
                "minLength" : 0,
                "maxLength" : 25
              },
              "requiredProducts" : {
                "type" : "string",
                "description" : "Contains the restrictions on the products to be used in the sub-contract, typical values can be ALLOWED.LIST or ANY. When ANY is given, it allows the sub-contract to be created with any product defined.",
                "minLength" : 0,
                "maxLength" : 21
              }
            }
          }
        },
        "dacommitment" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "amount" : {
                "type" : "number",
                "description" : "This is the payment amount",
                "minimum" : 0,
                "maximum" : 6
              },
              "term" : {
                "type" : "string",
                "description" : "Indicates the period to which the BID and OFFER rates apply",
                "minLength" : 0,
                "maxLength" : 4
              }
            }
          }
        },
        "limit" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "validationLimit" : {
                "type" : "string",
                "description" : "The maximum limit that will be validated for which the bank is willing to lend the borrower",
                "minLength" : 0,
                "maxLength" : 15
              }
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "DealOfferResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DealOfferResponseBody"
        }
      },
      "description" : "DealOfferResponse"
    },
    "DealOfferResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "customers" : {
              "type" : "array",
              "description" : "Contains the customer identifier",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customer" : {
                    "type" : "string",
                    "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
                    "minLength" : 0,
                    "maxLength" : 8
                  },
                  "customerRole" : {
                    "type" : "string",
                    "description" : "Indicates role of a customer for an arrangement.",
                    "minLength" : 0,
                    "maxLength" : 12
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "Indicates an unique identifier of an account",
              "minLength" : 0,
              "maxLength" : 13
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
              "minLength" : 0,
              "maxLength" : 9
            },
            "currency" : {
              "type" : "string",
              "description" : "Identifies the currency. E.g. USD, GBP etc",
              "minLength" : 0,
              "maxLength" : 8
            },
            "effectiveDate" : {
              "type" : "string",
              "format" : "date",
              "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format"
            },
            "activity" : {
              "type" : "string",
              "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
              "minLength" : 0,
              "maxLength" : 10
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "account" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "messaging" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "customer" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "curcommitfee" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "schedule" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "payoff" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "officers" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "settlement" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to response by T24"
                        },
                        "versionNumber" : {
                          "type" : "string",
                          "description" : "Current number of the record"
                        },
                        "requestParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the request by IRIS"
                        },
                        "responseParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "payInAccounts" : {
                      "type" : "array",
                      "description" : "Contains the account from which funds are to be debited against the payment type",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "payInAccount" : {
                            "type" : "string",
                            "description" : "Contains the account from which funds are to be debited against the payment type",
                            "minLength" : 0,
                            "maxLength" : 12
                          }
                        }
                      }
                    },
                    "payOutAccounts" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "payoutAccount" : {
                            "type" : "string",
                            "description" : "The account to which a settlement amount is transferred.",
                            "minLength" : 0,
                            "maxLength" : 13
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "facilityRules" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to response by T24"
                        },
                        "versionNumber" : {
                          "type" : "string",
                          "description" : "Current number of the record"
                        },
                        "requestParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the request by IRIS"
                        },
                        "responseParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "requiredCurrencies" : {
                      "type" : "array",
                      "description" : "Contains the required currency for the sub contract, typical values can be PARENT.CURRENCY, ALLOWED.LIST or ANY",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "requiredCurrency" : {
                            "type" : "string",
                            "description" : "Contains the required currency for the sub contract, typical values can be PARENT.CURRENCY, ALLOWED.LIST or ANY",
                            "minLength" : 0,
                            "maxLength" : 22
                          }
                        }
                      }
                    },
                    "allowedCurrencies" : {
                      "type" : "array",
                      "description" : "Field denotes the currency set as allowed currency in Master account conditions.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "allowedCurrency" : {
                            "type" : "string",
                            "description" : "Available currencies for the product",
                            "minLength" : 0,
                            "maxLength" : 25
                          }
                        }
                      }
                    },
                    "allowedProductGroups" : {
                      "type" : "array",
                      "description" : "Group allowed to be used for a sub contract, for example Mortgages or Term Loans",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "allowedProductGroup" : {
                            "type" : "string",
                            "description" : "Group allowed to be used for a sub contract, for example Mortgages or Term Loans",
                            "minLength" : 0,
                            "maxLength" : 25
                          }
                        }
                      }
                    },
                    "allowedProducts" : {
                      "type" : "array",
                      "description" : "Product or products allowed to be used within the product bundle.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "allowedProduct" : {
                            "type" : "string",
                            "description" : "Product or products allowed to be used within the product bundle.",
                            "minLength" : 0,
                            "maxLength" : 25
                          }
                        }
                      }
                    },
                    "borrower" : {
                      "type" : "string",
                      "description" : "Contains the nature of the borrower, typical values can be PARENT.OWNERS, PARENT.CUSTOMERS, ALLOWED.LIST and ANY",
                      "minLength" : 0,
                      "maxLength" : 8
                    },
                    "requiredBorrower" : {
                      "type" : "string",
                      "description" : "Contains the required borrowers for the sub contract, typical values can be ANY or ALL",
                      "minLength" : 0,
                      "maxLength" : 17
                    },
                    "allowedCustomer" : {
                      "type" : "string",
                      "description" : "Customers who are part of Limit sharing Group.",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "requiredProducts" : {
                      "type" : "string",
                      "description" : "Contains the restrictions on the products to be used in the sub-contract, typical values can be ALLOWED.LIST or ANY. When ANY is given, it allows the sub-contract to be created with any product defined.",
                      "minLength" : 0,
                      "maxLength" : 21
                    }
                  }
                }
              }
            },
            "dacommitment" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to response by T24"
                        },
                        "versionNumber" : {
                          "type" : "string",
                          "description" : "Current number of the record"
                        },
                        "requestParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the request by IRIS"
                        },
                        "responseParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "amount" : {
                      "type" : "number",
                      "description" : "This is the payment amount",
                      "minimum" : 0,
                      "maximum" : 6
                    },
                    "term" : {
                      "type" : "string",
                      "description" : "Indicates the period to which the BID and OFFER rates apply",
                      "minLength" : 0,
                      "maxLength" : 4
                    }
                  }
                }
              }
            },
            "adminfee" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "upfrontfee" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "tax" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "limit" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to response by T24"
                        },
                        "versionNumber" : {
                          "type" : "string",
                          "description" : "Current number of the record"
                        },
                        "requestParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the request by IRIS"
                        },
                        "responseParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "validationLimit" : {
                      "type" : "string",
                      "description" : "The maximum limit that will be validated for which the bank is willing to lend the borrower",
                      "minLength" : 0,
                      "maxLength" : 15
                    }
                  }
                }
              }
            },
            "pricinggrid" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "drawingConditions" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "covenantConditions" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "activityCharges" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ArrangementErrorResponse"
    },
    "ArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              },
              "property" : {
                "type" : "string",
                "description" : "Id of the product property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessArrangementErrorResponse"
    },
    "BusinessArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              },
              "property" : {
                "type" : "string",
                "description" : "Id of the product property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemArrangementErrorResponse"
    },
    "SystemArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              },
              "property" : {
                "type" : "string",
                "description" : "Id of the product property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "FacilityOffer" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/FacilityOfferBody"
        }
      },
      "description" : "FacilityOffer"
    },
    "FacilityOfferBody" : {
      "type" : "object",
      "properties" : {
        "customers" : {
          "type" : "array",
          "description" : "Contains the customer identifier",
          "items" : {
            "type" : "object",
            "properties" : {
              "customer" : {
                "type" : "string",
                "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
                "minLength" : 0,
                "maxLength" : 8
              },
              "customerRole" : {
                "type" : "string",
                "description" : "Indicates role of a customer for an arrangement.",
                "minLength" : 0,
                "maxLength" : 12
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 9
        },
        "currency" : {
          "type" : "string",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "minLength" : 0,
          "maxLength" : 8
        },
        "dealId" : {
          "type" : "string",
          "description" : "Unique identifier (contract number) of the corporate deals",
          "minLength" : 0,
          "maxLength" : 25
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format"
        },
        "activity" : {
          "type" : "string",
          "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "settlement" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "payInAccounts" : {
                "type" : "array",
                "description" : "Contains the account from which funds are to be debited against the payment type",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "payInAccount" : {
                      "type" : "string",
                      "description" : "Contains the account from which funds are to be debited against the payment type",
                      "minLength" : 0,
                      "maxLength" : 12
                    }
                  }
                }
              },
              "payOutAccounts" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "payoutAccount" : {
                      "type" : "string",
                      "description" : "The account to which a settlement amount is transferred.",
                      "minLength" : 0,
                      "maxLength" : 13
                    }
                  }
                }
              }
            }
          }
        },
        "facilityRules" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "requiredCurrencies" : {
                "type" : "array",
                "description" : "Contains the required currency for the sub contract, typical values can be PARENT.CURRENCY, ALLOWED.LIST or ANY",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "requiredCurrency" : {
                      "type" : "string",
                      "description" : "Contains the required currency for the sub contract, typical values can be PARENT.CURRENCY, ALLOWED.LIST or ANY",
                      "minLength" : 0,
                      "maxLength" : 22
                    }
                  }
                }
              },
              "allowedCurrencies" : {
                "type" : "array",
                "description" : "Field denotes the currency set as allowed currency in Master account conditions.",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "allowedCurrency" : {
                      "type" : "string",
                      "description" : "Available currencies for the product",
                      "minLength" : 0,
                      "maxLength" : 25
                    }
                  }
                }
              },
              "allowedProductGroups" : {
                "type" : "array",
                "description" : "Group allowed to be used for a sub contract, for example Mortgages or Term Loans",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "allowedProductGroup" : {
                      "type" : "string",
                      "description" : "Group allowed to be used for a sub contract, for example Mortgages or Term Loans",
                      "minLength" : 0,
                      "maxLength" : 25
                    }
                  }
                }
              },
              "allowedProducts" : {
                "type" : "array",
                "description" : "Product or products allowed to be used within the product bundle.",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "allowedProduct" : {
                      "type" : "string",
                      "description" : "Product or products allowed to be used within the product bundle.",
                      "minLength" : 0,
                      "maxLength" : 25
                    }
                  }
                }
              },
              "borrower" : {
                "type" : "string",
                "description" : "Contains the nature of the borrower, typical values can be PARENT.OWNERS, PARENT.CUSTOMERS, ALLOWED.LIST and ANY",
                "minLength" : 0,
                "maxLength" : 8
              },
              "requiredBorrower" : {
                "type" : "string",
                "description" : "Contains the required borrowers for the sub contract, typical values can be ANY or ALL",
                "minLength" : 0,
                "maxLength" : 17
              },
              "allowedCustomer" : {
                "type" : "string",
                "description" : "Customers who are part of Limit sharing Group.",
                "minLength" : 0,
                "maxLength" : 25
              },
              "requiredProducts" : {
                "type" : "string",
                "description" : "Contains the restrictions on the products to be used in the sub-contract, typical values can be ALLOWED.LIST or ANY. When ANY is given, it allows the sub-contract to be created with any product defined.",
                "minLength" : 0,
                "maxLength" : 21
              }
            }
          }
        },
        "facommitment" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "amount" : {
                "type" : "number",
                "description" : "This is the payment amount",
                "minimum" : 0,
                "maximum" : 6
              },
              "term" : {
                "type" : "string",
                "description" : "Indicates the period to which the BID and OFFER rates apply",
                "minLength" : 0,
                "maxLength" : 4
              }
            }
          }
        },
        "limit" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "limitReference" : {
                "type" : "array",
                "description" : "Identifies the credit limit reference for the underlying account.",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "limitReference" : {
                      "type" : "string",
                      "description" : "Identifies the credit limit reference for the underlying account.",
                      "minLength" : 0,
                      "maxLength" : 19
                    }
                  }
                }
              },
              "limitSerialNumber" : {
                "type" : "array",
                "description" : "Sequence number of the Limits.",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "limitSerialNumber" : {
                      "type" : "string",
                      "description" : "Sequence number of the Limits.",
                      "minLength" : 0,
                      "maxLength" : 17
                    }
                  }
                }
              },
              "limitId" : {
                "type" : "array",
                "description" : "The identifier of credit limit",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "limitId" : {
                      "type" : "string",
                      "description" : "The identifier of credit limit",
                      "minLength" : 0,
                      "maxLength" : 15
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "FacilityOfferResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/FacilityOfferResponseBody"
        }
      },
      "description" : "FacilityOfferResponse"
    },
    "FacilityOfferResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "customers" : {
              "type" : "array",
              "description" : "Contains the customer identifier",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customer" : {
                    "type" : "string",
                    "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
                    "minLength" : 0,
                    "maxLength" : 8
                  },
                  "customerRole" : {
                    "type" : "string",
                    "description" : "Indicates role of a customer for an arrangement.",
                    "minLength" : 0,
                    "maxLength" : 12
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "Indicates an unique identifier of an account",
              "minLength" : 0,
              "maxLength" : 13
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
              "minLength" : 0,
              "maxLength" : 9
            },
            "currency" : {
              "type" : "string",
              "description" : "Identifies the currency. E.g. USD, GBP etc",
              "minLength" : 0,
              "maxLength" : 8
            },
            "dealId" : {
              "type" : "string",
              "description" : "Unique identifier (contract number) of the corporate deals",
              "minLength" : 0,
              "maxLength" : 25
            },
            "effectiveDate" : {
              "type" : "string",
              "format" : "date",
              "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format"
            },
            "activity" : {
              "type" : "string",
              "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
              "minLength" : 0,
              "maxLength" : 10
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "account" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "activityCharges" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "messaging" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "customer" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "curcommitfee" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "utlcommitfee" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "facilityfee" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "schedule" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "feeschedule" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "payoff" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string"
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            },
            "settlement" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
[...]
