{
  "swagger" : "2.0",
  "info" : {
    "description" : "This is version 1.0 of our API for updating payment holiday activity for a loan account. A payment holiday is a temporary break from regular loan repayments. Banks may offer payment holidays to help customers through periods of economic disruption, and are an important part of pandemic response plans in many countries.\n\n\nThis API enables you to update payment holiday activity for a:\n\n\n\n - Mortgage loan\n - Home loan\n - Personal loan\n - Small business loan\n - Credit line\n\n**Note:** To use this API, request an API key from the Temenos [Base Camp community](https://basecamp.temenos.com/). Create an account with the community to get started.",
    "version" : "v1.0.0 | June 2021",
    "title" : "Updating payment holiday activity for a loan account"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/holdings/arrangements/{arrangementId}/paymentHoliday/mortgages" : {
      "post" : {
        "summary" : "Update payment holiday activity for a mortgage loan",
        "description" : "Update payment holiday activity for a mortgage loan.",
        "operationId" : "updatePaymentHolidayMortgages",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "This identifier indicates if the account details should be validated or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentHolidayMortgages"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "This identifier is needed for customer data protection. It identifies the lead company - the entity, company or bank branch - that's behind a particular customer contract. Example: US0010001.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updatePaymentHolidayMortgagesResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentHolidayMortgagesResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/arrangements/{arrangementId}/paymentHoliday/homeLoans" : {
      "post" : {
        "summary" : "Update payment holiday activity for a home loan",
        "description" : "Update payment holiday activity for a home loan.",
        "operationId" : "updatePaymentHolidayHomeLoans",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "This identifier indicates if the account details should be validated or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentHolidayHomeLoans"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "This identifier is needed for customer data protection. It identifies the lead company - the entity, company or bank branch - that's behind a particular customer contract. Example: US0010001.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updatePaymentHolidayHomeLoansResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentHolidayHomeLoansResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/arrangements/{arrangementId}/paymentHoliday/personalLoans" : {
      "post" : {
        "summary" : "Update payment holiday activity for a personal loan",
        "description" : "Update payment holiday activity for a personal loan.",
        "operationId" : "updatePaymentHolidayPersonalLoans",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "This identifier indicates if the account details should be validated or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentHolidayPersonalLoans"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "This identifier is needed for customer data protection. It identifies the lead company - the entity, company or bank branch - that's behind a particular customer contract. Example: US0010001.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updatePaymentHolidayPersonalLoansResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentHolidayPersonalLoansResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/arrangements/{arrangementId}/paymentHoliday/businessLoans" : {
      "post" : {
        "summary" : "Update payment holiday activity for a small business loan",
        "description" : "Update payment holiday activity for a small business loan",
        "operationId" : "updatePaymentHolidayBusinessLoans",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "This identifier indicates if the account details should be validated or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentHolidayBusinessLoans"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "This identifier is needed for customer data protection. It identifies the lead company - the entity, company or bank branch - that's behind a particular customer contract. Example: US0010001.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updatePaymentHolidayBusinessLoansResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentHolidayBusinessLoansResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/arrangements/{arrangementId}/paymentHoliday/creditLines" : {
      "post" : {
        "summary" : "Update payment holiday activity for a credit line",
        "description" : "Update payment holiday activity for a credit line.",
        "operationId" : "updatePaymentHolidayCreditLines",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "This identifier indicates if the account details should be validated or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentHolidayCreditLines"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "This identifier is needed for customer data protection. It identifies the lead company - the entity, company or bank branch - that's behind a particular customer contract. Example: US0010001.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updatePaymentHolidayCreditLinesResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentHolidayCreditLinesResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The code related to override message."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record."
            }
          }
        }
      }
    },
    "PaymentHolidayMortgages" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentHolidayMortgagesBody"
        }
      },
      "description" : "PaymentHolidayMortgages"
    },
    "PaymentHolidayMortgagesBody" : {
      "type" : "object",
      "properties" : {
        "customerIds" : {
          "type" : "array",
          "description" : "Identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "properties" : {
          "type" : "array",
          "description" : "Input is the valid field name for the metrics evaluation of alerts.",
          "items" : {
            "type" : "object",
            "properties" : {
              "propertyId" : {
                "type" : "string",
                "description" : "The identifier of the product condition.",
                "minLength" : 0,
                "maxLength" : 30
              },
              "fields" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fieldName" : {
                      "type" : "string",
                      "description" : "The name of the field.",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "fieldValue" : {
                      "type" : "string",
                      "description" : "Value of the field.",
                      "minLength" : 0,
                      "maxLength" : 100
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "Captures the override message that was generated when the transaction was committed to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "Captures the override message that was generated when the transaction was committed to the database.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, for example, the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "masterArrangementId" : {
          "type" : "string",
          "description" : "A unique identifier that specifies an arrangement reference. This acts as a Master for the arrangement that is being created.",
          "minLength" : 0,
          "maxLength" : 20
        },
        "roleName" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code for the currency. For example, GBP or USD.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date on which the principal movement is effected."
        },
        "activityId" : {
          "type" : "string",
          "description" : "The identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "minLength" : 0,
          "maxLength" : 80
        },
        "transactionAmount" : {
          "type" : "number",
          "description" : "This contains the transaction amount. This is based on either the local currency or a foreign currency.",
          "minimum" : 0,
          "maximum" : 17
        },
        "paymentHoliday" : {
          "type" : "object",
          "properties" : {
            "activityId" : {
              "type" : "string",
              "description" : "The identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 20
            },
            "activityAction" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "paymentDate" : {
              "type" : "string",
              "description" : "The date on which a payment is due.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "paymentType" : {
              "type" : "string",
              "description" : "This indicates if the payment is a Customer (C) type or a Bank (B) type.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "billType" : {
              "type" : "string",
              "description" : "The type of payment obligation generated.",
              "minLength" : 0,
              "maxLength" : 25
            },
            "newPaymentAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 20
            },
            "numberOfInstallments" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "recalculationMethod" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction."
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created."
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created."
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record."
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference for the record that's created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "The time taken to send the response by Transact, Temenos' core banking product."
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record."
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS,(Interaction, Reporting and Information Services), the Temenos interaction framework."
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS."
            }
          }
        }
      }
    },
    "PaymentHolidayMortgagesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentHolidayMortgagesResponseBody"
        }
      },
      "description" : "PaymentHolidayMortgagesResponse"
    },
    "PaymentHolidayMortgagesResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "customerIds" : {
              "type" : "array",
              "description" : "Identifier of the customer.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "Identifier of the customer.",
                    "minLength" : 0,
                    "maxLength" : 10
                  }
                }
              }
            },
            "properties" : {
              "type" : "array",
              "description" : "Input is the valid field name for the metrics evaluation of alerts.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "propertyId" : {
                    "type" : "string",
                    "description" : "The identifier of the product condition.",
                    "minLength" : 0,
                    "maxLength" : 30
                  },
                  "fields" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "fieldName" : {
                          "type" : "string",
                          "description" : "The name of the field.",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "fieldValue" : {
                          "type" : "string",
                          "description" : "Value of the field.",
                          "minLength" : 0,
                          "maxLength" : 100
                        }
                      }
                    }
                  }
                }
              }
            },
            "overrides" : {
              "type" : "array",
              "description" : "Captures the override message that was generated when the transaction was committed to the database.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "override" : {
                    "type" : "string",
                    "description" : "Captures the override message that was generated when the transaction was committed to the database.",
                    "minLength" : 0,
                    "maxLength" : 35
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "Indicates a unique identifier for an account.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, for example, the product id of the arrangement account.",
              "minLength" : 0,
              "maxLength" : 30
            },
            "masterArrangementId" : {
              "type" : "string",
              "description" : "The unique identifier that specifies an arrangement reference. This acts as a Master for the arrangement that's created.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "roleName" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 35
            },
            "currencyId" : {
              "type" : "string",
              "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency. For example, GBP or USD.",
              "minLength" : 0,
              "maxLength" : 10
            },
            "effectiveDate" : {
              "type" : "string",
              "format" : "date",
              "description" : "The date on which the principal movement is effected."
            },
            "activityId" : {
              "type" : "string",
              "description" : "Identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 80
            },
            "transactionAmount" : {
              "type" : "number",
              "description" : "Contains the transaction amount. This is based on the currency, which can be either a local or a foreign currency.",
              "minimum" : 0,
              "maximum" : 17
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction."
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created."
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "paymentHoliday" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction."
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to response by Transact."
                        },
                        "versionNumber" : {
                          "type" : "string",
                          "description" : "Current number of the record."
                        },
                        "requestParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the request by IRIS (Interaction, Reporting and Information Services), the Temenos interaction framework."
                        },
                        "responseParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the response by IRIS."
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created."
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record."
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "activityId" : {
                      "type" : "string",
                      "description" : "Identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "activityAction" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "paymentDate" : {
                      "type" : "string",
                      "description" : "The date on which a payment is due.",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "paymentType" : {
                      "type" : "string",
                      "description" : "Indicates if the payment is a Customer (C) type or Bank (B) type.",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "billType" : {
                      "type" : "string",
                      "description" : "The type of payment obligation generated.",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "newPaymentAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "numberOfInstallments" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "recalculationMethod" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override."
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message."
              },
              "code" : {
                "type" : "string",
                "description" : "The code related to override message."
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override.",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override."
              }
            }
          }
        }
      }
    },
    "ArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ArrangementErrorResponse"
    },
    "ArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field."
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message."
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message. "
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property."
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "Identifies the error type. "
        }
      }
    },
    "BusinessArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessArrangementErrorResponse"
    },
    "BusinessArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field."
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message."
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message for bad requests."
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property."
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "Identifies the error type: Business"
        }
      }
    },
    "SystemArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemArrangementErrorResponse"
    },
    "SystemArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field."
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message."
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message caused by server."
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property."
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "Identifies the error type: System"
        }
      }
    },
    "PaymentHolidayHomeLoans" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentHolidayHomeLoansBody"
        }
      },
      "description" : "PaymentHolidayHomeLoans"
    },
    "PaymentHolidayHomeLoansBody" : {
      "type" : "object",
      "properties" : {
        "customerIds" : {
          "type" : "array",
          "description" : "Identifier of the customer.",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer.",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "properties" : {
          "type" : "array",
          "description" : "The input is the valid field name for the metrics evaluation of alerts.",
          "items" : {
            "type" : "object",
            "properties" : {
              "propertyId" : {
                "type" : "string",
                "description" : "The identifier of the product condition.",
                "minLength" : 0,
                "maxLength" : 30
              },
              "fields" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fieldName" : {
                      "type" : "string",
                      "description" : "The name of the field.",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "fieldValue" : {
                      "type" : "string",
                      "description" : "Value of the field.",
                      "minLength" : 0,
                      "maxLength" : 100
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "Captures the override message that was generated when the transaction was committed to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "Captures the override message that was generated when the transaction was committed to the database.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, for example, the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "masterArrangementId" : {
          "type" : "string",
          "description" : "The unique identifier that specifies an arrangement reference. This acts as a Master for the arrangement being created.",
          "minLength" : 0,
          "maxLength" : 20
        },
        "roleName" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency. For example, GBP or USD.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date on which the principal movement is effected."
        },
        "activityId" : {
          "type" : "string",
          "description" : "The identifiers of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "minLength" : 0,
          "maxLength" : 80
        },
        "transactionAmount" : {
          "type" : "number",
          "description" : "Contains the transaction amount. This is based on the currency, which can be either the local or a foreign currency.",
          "minimum" : 0,
          "maximum" : 17
        },
        "paymentHoliday" : {
          "type" : "object",
          "properties" : {
            "activityId" : {
              "type" : "string",
              "description" : "Identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 20
            },
            "activityAction" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "paymentDate" : {
              "type" : "string",
              "description" : "The date on which a payment is due.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "paymentType" : {
              "type" : "string",
              "description" : "Indicates if the payment is a Customer (C) type or a Bank (B) type.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "billType" : {
              "type" : "string",
              "description" : "The type of payment obligation generated.",
              "minLength" : 0,
              "maxLength" : 25
            },
            "newPaymentAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 20
            },
            "numberOfInstallments" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "recalculationMethod" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            }
          }
        }
      }
    },
    "PaymentHolidayHomeLoansResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentHolidayHomeLoansResponseBody"
        }
      },
      "description" : "PaymentHolidayHomeLoansResponse"
    },
    "PaymentHolidayHomeLoansResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "customerIds" : {
              "type" : "array",
              "description" : "Identifier of the customer.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "Identifier of the customer.",
                    "minLength" : 0,
                    "maxLength" : 10
                  }
                }
              }
            },
            "properties" : {
              "type" : "array",
              "description" : "The input is the valid field name for the metrics evaluation of alerts.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "propertyId" : {
                    "type" : "string",
                    "description" : "The identifier of the product condition.",
                    "minLength" : 0,
                    "maxLength" : 30
                  },
                  "fields" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "fieldName" : {
                          "type" : "string",
                          "description" : "The name of the field.",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "fieldValue" : {
                          "type" : "string",
                          "description" : "The value of the field.",
                          "minLength" : 0,
                          "maxLength" : 100
                        }
                      }
                    }
                  }
                }
              }
            },
            "overrides" : {
              "type" : "array",
              "description" : "Captures the override message that was generated when the transaction was committed to the database.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "override" : {
                    "type" : "string",
                    "description" : "Captures the override message that was generated when the transaction was committed to the database.",
                    "minLength" : 0,
                    "maxLength" : 35
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "Indicates a unique identifier for an account.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, for example, the product id of the arrangement account.",
              "minLength" : 0,
              "maxLength" : 30
            },
            "masterArrangementId" : {
              "type" : "string",
              "description" : "The unique identifier that specifies an arrangement reference. This acts as a Master for the arrangement being created.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "roleName" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 35
            },
            "currencyId" : {
              "type" : "string",
              "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency. For example, GBP or USD.",
              "minLength" : 0,
              "maxLength" : 10
            },
            "effectiveDate" : {
              "type" : "string",
              "format" : "date",
              "description" : "The date on which the principal movement is effected."
            },
            "activityId" : {
              "type" : "string",
              "description" : "Identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 80
            },
            "transactionAmount" : {
              "type" : "number",
              "description" : "Contains the transaction amount. This is based on the currency, which can be either the local or a foreign currency.",
              "minimum" : 0,
              "maximum" : 17
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction."
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created."
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "paymentHoliday" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction."
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "The time taken to send the response by Transact, Temenos' core banking product."
                        },
                        "versionNumber" : {
                          "type" : "string",
                          "description" : "The current number of the record."
                        },
                        "requestParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the request by IRIS (Interaction, Reporting and Information Services), the Temenos interaction framework."
                        },
                        "responseParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the response by IRIS."
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created."
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record."
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "activityId" : {
                      "type" : "string",
                      "description" : "Identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "activityAction" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "paymentDate" : {
                      "type" : "string",
                      "description" : "The date on which a payment is due.",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "paymentType" : {
                      "type" : "string",
                      "description" : "Indicates if the payment is a Customer (C) type or a Bank (B) type.",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "billType" : {
                      "type" : "string",
                      "description" : "The type of payment obligation generated.",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "newPaymentAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "numberOfInstallments" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "recalculationMethod" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "PaymentHolidayPersonalLoans" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentHolidayPersonalLoansBody"
        }
      },
      "description" : "PaymentHolidayPersonalLoans"
    },
    "PaymentHolidayPersonalLoansBody" : {
      "type" : "object",
      "properties" : {
        "customerIds" : {
          "type" : "array",
          "description" : "Identifier of the customer.",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer.",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "properties" : {
          "type" : "array",
          "description" : "The input is the valid field name for the metrics evaluation of alerts.",
          "items" : {
            "type" : "object",
            "properties" : {
              "propertyId" : {
                "type" : "string",
                "description" : "The identifier of the product condition.",
                "minLength" : 0,
                "maxLength" : 30
              },
              "fields" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fieldName" : {
                      "type" : "string",
                      "description" : "The name of the field.",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "fieldValue" : {
                      "type" : "string",
                      "description" : "Value of the field.",
                      "minLength" : 0,
                      "maxLength" : 100
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "Captures the override message that was generated when the transaction was committed to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "Captures the override message that was generated when the transaction was committed to the database.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, for example, the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "masterArrangementId" : {
          "type" : "string",
          "description" : "The unique identifier that specifies an arrangement reference. This acts as a Master for the arrangement that's created.",
          "minLength" : 0,
          "maxLength" : 20
        },
        "roleName" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency. For example, GBP or USD.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date on which the principal movement is effected."
        },
        "activityId" : {
          "type" : "string",
          "description" : "Identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "minLength" : 0,
          "maxLength" : 80
        },
        "transactionAmount" : {
          "type" : "number",
          "description" : "Contains the transaction amount. This is based on the currency, which can be either the local or a foreign currency.",
          "minimum" : 0,
          "maximum" : 17
        },
        "paymentHoliday" : {
          "type" : "object",
          "properties" : {
            "activityId" : {
              "type" : "string",
              "description" : "Identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 20
            },
            "activityAction" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "paymentDate" : {
              "type" : "string",
              "description" : "The date on which a payment is due.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "paymentType" : {
              "type" : "string",
              "description" : "Indicates if the payment is a Customer (C) type or a Bank (B) type.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "billType" : {
              "type" : "string",
              "description" : "The type of payment obligation generated.",
              "minLength" : 0,
              "maxLength" : 25
            },
            "newPaymentAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 20
            },
            "numberOfInstallments" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "recalculationMethod" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            }
          }
        }
      }
    },
    "PaymentHolidayPersonalLoansResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentHolidayPersonalLoansResponseBody"
        }
      },
      "description" : "PaymentHolidayPersonalLoansResponse"
    },
    "PaymentHolidayPersonalLoansResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "customerIds" : {
              "type" : "array",
              "description" : "Identifier of the customer.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "Identifier of the customer.",
                    "minLength" : 0,
                    "maxLength" : 10
                  }
                }
              }
            },
            "properties" : {
              "type" : "array",
              "description" : "The input is the valid field name for the metrics evaluation of alerts.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "propertyId" : {
                    "type" : "string",
                    "description" : "The identifier of the product condition.",
                    "minLength" : 0,
                    "maxLength" : 30
                  },
                  "fields" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "fieldName" : {
                          "type" : "string",
                          "description" : "The name of the field.",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "fieldValue" : {
                          "type" : "string",
                          "description" : "Value of the field.",
                          "minLength" : 0,
                          "maxLength" : 100
                        }
                      }
                    }
                  }
                }
              }
            },
            "overrides" : {
              "type" : "array",
              "description" : "Captures the override message that was generated when the transaction was committed to the database.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "override" : {
                    "type" : "string",
                    "description" : "Captures the override message that was generated when the transaction was committed to the database.",
                    "minLength" : 0,
                    "maxLength" : 35
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "Indicates a unique identifier for an account.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, for example, the product id of the arrangement account.",
              "minLength" : 0,
              "maxLength" : 30
            },
            "masterArrangementId" : {
              "type" : "string",
              "description" : "The unique identifier that specifies an arrangement reference. This acts as a Master for the arrangement that's created.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "roleName" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 35
            },
            "currencyId" : {
              "type" : "string",
              "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency. For example, GBP or USD.",
              "minLength" : 0,
              "maxLength" : 10
            },
            "effectiveDate" : {
              "type" : "string",
              "format" : "date",
              "description" : "The date on which the principal movement is effected."
            },
            "activityId" : {
              "type" : "string",
              "description" : "Identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 80
            },
            "transactionAmount" : {
              "type" : "number",
              "description" : "Contains the transaction amount. This is based on the currency, which can be either the local currency or a foreign currency.",
              "minimum" : 0,
              "maximum" : 17
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction."
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created."
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "paymentHoliday" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction."
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to send the response by Transact, Temenos' core banking product."
                        },
                        "versionNumber" : {
                          "type" : "string",
                          "description" : "Current number of the record"
                        },
                        "requestParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the request by IRIS (Interaction, Reporting and Information Services), the Temenos interaction framework."
                        },
                        "responseParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the response by IRIS."
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created."
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record."
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "activityId" : {
                      "type" : "string",
                      "description" : "Identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "activityAction" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "paymentDate" : {
                      "type" : "string",
                      "description" : "The date on which a payment is due.",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "paymentType" : {
                      "type" : "string",
                      "description" : "Indicates if the payment is a Customer (C) type or a Bank (B) type.",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "billType" : {
                      "type" : "string",
                      "description" : "The type of payment obligation generated.",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "newPaymentAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "numberOfInstallments" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "recalculationMethod" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "PaymentHolidayBusinessLoans" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentHolidayBusinessLoansBody"
        }
      },
      "description" : "PaymentHolidayBusinessLoans"
    },
    "PaymentHolidayBusinessLoansBody" : {
      "type" : "object",
      "properties" : {
        "customerIds" : {
          "type" : "array",
          "description" : "Identifier of the customer.",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer.",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "properties" : {
          "type" : "array",
          "description" : "The input is the valid field name for the metrics evaluation of alerts.",
          "items" : {
            "type" : "object",
            "properties" : {
              "propertyId" : {
                "type" : "string",
                "description" : "The identifier of the product condition.",
                "minLength" : 0,
                "maxLength" : 30
              },
              "fields" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fieldName" : {
                      "type" : "string",
                      "description" : "The name of the field.",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "fieldValue" : {
                      "type" : "string",
                      "description" : "Value of the field.",
                      "minLength" : 0,
                      "maxLength" : 100
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "Captures the override message that was generated when the transaction was committed to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "Captures the override message that was generated when the transaction was committed to the database.",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, for example, the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "masterArrangementId" : {
          "type" : "string",
          "description" : "The unique identifier that specifies an arrangement reference. This acts as a Master for the arrangement that's created.",
          "minLength" : 0,
          "maxLength" : 20
        },
        "roleName" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency. For example, GBP or USD.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date on which the principal movement is effected."
        },
        "activityId" : {
          "type" : "string",
          "description" : "Identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "minLength" : 0,
          "maxLength" : 80
        },
        "transactionAmount" : {
          "type" : "number",
          "description" : "Contains the transaction amount. This is based on the currency, which can be either the local or a foreign currency.",
          "minimum" : 0,
          "maximum" : 17
        },
        "paymentHoliday" : {
          "type" : "object",
          "properties" : {
            "activityId" : {
              "type" : "string",
              "description" : "Identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 20
            },
            "activityAction" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "paymentDate" : {
              "type" : "string",
              "description" : "The date on which a payment is due.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "paymentType" : {
              "type" : "string",
              "description" : "Indicates if the payment is a Customer (C) type or Bank (B) type.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "billType" : {
              "type" : "string",
              "description" : "The type of payment obligation generated.",
              "minLength" : 0,
              "maxLength" : 25
            },
            "newPaymentAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 20
            },
            "numberOfInstallments" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "recalculationMethod" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            }
          }
        }
      }
    },
    "PaymentHolidayBusinessLoansResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentHolidayBusinessLoansResponseBody"
        }
      },
      "description" : "PaymentHolidayBusinessLoansResponse"
    },
    "PaymentHolidayBusinessLoansResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "customerIds" : {
              "type" : "array",
              "description" : "Identifier of the customer.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "Identifier of the customer.",
                    "minLength" : 0,
                    "maxLength" : 10
                  }
                }
              }
            },
            "properties" : {
              "type" : "array",
              "description" : "The input is the valid field name for the metrics evaluation of alerts.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "propertyId" : {
                    "type" : "string",
                    "description" : "The identifier of the product condition.",
                    "minLength" : 0,
                    "maxLength" : 30
                  },
                  "fields" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "fieldName" : {
                          "type" : "string",
                          "description" : "The name of the field.",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "fieldValue" : {
                          "type" : "string",
                          "description" : "Value of the field.",
                          "minLength" : 0,
                          "maxLength" : 100
                        }
                      }
                    }
                  }
                }
              }
            },
            "overrides" : {
              "type" : "array",
              "description" : "Captures the override message that was generated when the transaction was committed to the database.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "override" : {
                    "type" : "string",
                    "description" : "Captures the override message that was generated when the transaction was committed to the database.",
                    "minLength" : 0,
                    "maxLength" : 35
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "Indicates a unique identifier for an account.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, for example, the product id of the arrangement account.",
              "minLength" : 0,
              "maxLength" : 30
            },
            "masterArrangementId" : {
              "type" : "string",
              "description" : "The unique identifier that specifies an arrangement reference. This acts as a Master for the arrangement being created.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "roleName" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 35
            },
            "currencyId" : {
              "type" : "string",
              "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency. For example, GBP or USD.",
              "minLength" : 0,
              "maxLength" : 10
            },
            "effectiveDate" : {
              "type" : "string",
              "format" : "date",
              "description" : "The date on which the principal movement is effected."
            },
            "activityId" : {
              "type" : "string",
              "description" : "Identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 80
            },
            "transactionAmount" : {
              "type" : "number",
              "description" : "Contains the transaction amount. This is based on the currency, which can be either the local currency or a foreign currency.",
              "minimum" : 0,
              "maximum" : 17
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction."
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created."
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "paymentHoliday" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to send the response by Transact, Temenos' core banking product."
                        },
                        "versionNumber" : {
                          "type" : "string",
                          "description" : "Current number of the record."
                        },
                        "requestParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the request by IRIS (Interaction, Reporting and Information Services), the Temenos interaction framework."
                        },
                        "responseParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created."
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record."
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "activityId" : {
                      "type" : "string",
                      "description" : "Identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "activityAction" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "paymentDate" : {
                      "type" : "string",
                      "description" : "The date on which a payment is due.",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "paymentType" : {
                      "type" : "string",
                      "description" : "Indicates if the payment is a Customer (C) type or a Bank (B) type.",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "billType" : {
                      "type" : "string",
                      "description" : "The type of payment obligation generated.",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "newPaymentAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "numberOfInstallments" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "recalculationMethod" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "PaymentHolidayCreditLines" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentHolidayCreditLinesBody"
        }
      },
      "description" : "PaymentHolidayCreditLines"
    },
    "PaymentHolidayCreditLinesBody" : {
      "type" : "object",
      "properties" : {
        "customerIds" : {
          "type" : "array",
          "description" : "Identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer",
                "minLength" : 0,
                "maxLength" : 10
              }
            }
          }
        },
        "properties" : {
          "type" : "array",
          "description" : "The input is the valid field name for the metrics evaluation of alerts.",
          "items" : {
            "type" : "object",
            "properties" : {
              "propertyId" : {
                "type" : "string",
                "description" : "The identifier of the product condition.",
                "minLength" : 0,
                "maxLength" : 30
              },
              "fields" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fieldName" : {
                      "type" : "string",
                      "description" : "The name of the field.",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "fieldValue" : {
                      "type" : "string",
                      "description" : "Value of the field.",
                      "minLength" : 0,
                      "maxLength" : 100
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "Captures the override message that was generated when the transaction was committed to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "Captures the override message that was generated when the transaction was committed to the database..",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, for example, the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "masterArrangementId" : {
          "type" : "string",
          "description" : "The unique identifier that specifies an arrangement reference. This acts as a Master for the arrangement being created.",
          "minLength" : 0,
          "maxLength" : 20
        },
        "roleName" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency. For example, GBP or USD.",
          "minLength" : 0,
          "maxLength" : 10
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date on which the principal movement is effected."
        },
        "activityId" : {
          "type" : "string",
          "description" : "Identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "minLength" : 0,
          "maxLength" : 80
        },
        "transactionAmount" : {
          "type" : "number",
          "description" : "Contains the transaction amount. This is based on the currency, which can be either the local currency or a foreign currency.",
          "minimum" : 0,
          "maximum" : 17
        },
        "paymentHoliday" : {
          "type" : "object",
          "properties" : {
            "activityId" : {
              "type" : "string",
              "description" : "Identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 20
            },
            "activityAction" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "paymentDate" : {
              "type" : "string",
              "description" : "The date on which a payment is due.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "paymentType" : {
              "type" : "string",
              "description" : "Indicates if the payment is a Customer (C) type or a Bank (B) type.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "billType" : {
              "type" : "string",
              "description" : "The type of payment obligation generated.",
              "minLength" : 0,
              "maxLength" : 25
            },
            "newPaymentAmount" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 20
            },
            "numberOfInstallments" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            },
            "recalculationMethod" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 25
            }
          }
        }
      }
    },
    "PaymentHolidayCreditLinesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentHolidayCreditLinesResponseBody"
        }
      },
      "description" : "PaymentHolidayCreditLinesResponse"
    },
    "PaymentHolidayCreditLinesResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "customerIds" : {
              "type" : "array",
              "description" : "Identifier of the customer",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "Identifier of the customer",
                    "minLength" : 0,
                    "maxLength" : 10
                  }
                }
              }
            },
            "properties" : {
              "type" : "array",
              "description" : "The input is the valid field name for the metrics evaluation of alerts.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "propertyId" : {
                    "type" : "string",
                    "description" : "The identifier of the product condition.",
                    "minLength" : 0,
                    "maxLength" : 30
                  },
                  "fields" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "fieldName" : {
                          "type" : "string",
                          "description" : "The name of the field.",
                          "minLength" : 0,
                          "maxLength" : 35
                        },
                        "fieldValue" : {
                          "type" : "string",
                          "description" : "Value of the field.",
                          "minLength" : 0,
                          "maxLength" : 100
                        }
                      }
                    }
                  }
                }
              }
            },
            "overrides" : {
              "type" : "array",
              "description" : "Captures the override message that was generated when the transaction was committed to the database.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "override" : {
                    "type" : "string",
                    "description" : "Captures the override message that was generated when the transaction was committed to the database.",
                    "minLength" : 0,
                    "maxLength" : 35
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "Indicates an unique identifier for an account.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, for example, the product id of the arrangement account.",
              "minLength" : 0,
              "maxLength" : 30
            },
            "masterArrangementId" : {
              "type" : "string",
              "description" : "The unique identifier that specifies an arrangement reference. This acts as a Master for the arrangement being created.",
              "minLength" : 0,
              "maxLength" : 20
            },
            "roleName" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 35
            },
            "currencyId" : {
              "type" : "string",
              "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency. For example, GBP or USD.",
              "minLength" : 0,
              "maxLength" : 10
            },
            "effectiveDate" : {
              "type" : "string",
              "format" : "date",
              "description" : "The date on which the principal movement is effected."
            },
            "activityId" : {
              "type" : "string",
              "description" : "Identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 80
            },
            "transactionAmount" : {
              "type" : "number",
              "description" : "Contains the transaction amount. This is based on the currency, which can be either the local or a foreign currency.",
              "minimum" : 0,
              "maximum" : 17
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction."
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created."
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "paymentHoliday" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction."
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to send the response by Transact, Temenos' core banking product."
                        },
                        "versionNumber" : {
                          "type" : "string",
                          "description" : "Current number of the record."
                        },
                        "requestParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the request by IRIS (Interaction, Reporting and Information Services), the Temenos interaction framework."
                        },
                        "responseParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the response by IRIS."
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created."
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record."
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "activityId" : {
                      "type" : "string",
                      "description" : "Identifier of the activity, for example, ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "activityAction" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "paymentDate" : {
                      "type" : "string",
                      "description" : "The date on which a payment is due.",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "paymentType" : {
                      "type" : "string",
                      "description" : "Indicates if the payment is a Customer (C) type or a Bank (B) type.",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "billType" : {
                      "type" : "string",
                      "description" : "The type of payment obligation generated.",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "newPaymentAmount" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "numberOfInstallments" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "recalculationMethod" : {
                      "type" : "string",
                      "minLength" : 0,
                      "maxLength" : 25
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}