{
    "swagger": "2.0",
    "info":
    {
        "description": "API offers the following services : Initiation and update of a payment request and Status information of a payment. Variants of Payment Initiation Requests : Payment products - sepa-credit-transfers, instant-sepa-credit-transfers, target-2-payments and cross-border-credit-transfers. Furthermore request depends on the Payment services - payments, bulk-payments and periodic-payments",
        "version": "v2.0.0",
        "title": "PSD II Payment services"
    },
    "host": "api.server.com",
    "basePath": "/api/v2.0.0/",
    "tags": [ ],
    "schemes": [ "http", "https" ],
    "security": [
    {
        "basicAuth": [ ]
    },
    {
        "apiKey": [ ]
    } ],
    "paths":
    {
        "/order/PSD2/payments/TPPrequests/{paymentId}":
        {
            "post":
            {
                "tags": [ ],
                "summary": "Updates Payment Resource information",
                "description": "API to update Payment Resource information. This mainly updates the various status of the payment request anytime during its lifecycle. The API shall be linked to  the  'Update PSU data for payment initiation and Update PSU Data for payment initiation cancellation' published API in accordance with the Open Banking norms to update the resource record.",
                "operationId": "updatePaymentResource",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "paymentId",
                    "in": "path",
                    "description": "Indicates the unique reference number of the payment",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/PaymentResource"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "PaymentResourceResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/PaymentResourceResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/paymentsInitiation":
        {
            "post":
            {
                "tags": [ ],
                "summary": "Payment initiation for cross border credit transfers.",
                "description": "Among the different Payment Products supported, this API is to initiate a request for Cross Border Credit Transfers by Funds Transfer. The API shall be linked to  the 'Payment Initiation Request' published API in accordance with the Open Banking norms to initiate a request.",
                "operationId": "createPaymentInitiation",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/PaymentInitiation"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "PaymentInitiationResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/PaymentInitiationResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/payments/{paymentId}/status":
        {
            "get":
            {
                "tags": [ ],
                "summary": "Retrieves details of a Payment Request",
                "description": "API to retrieve information of a Payment request of different Payment Products when a reference is queried. This information includes: 1. Debtor's Name,Account, IBAN, Currency, Available Balance, Address  2. Creditor's Name,Account,Currency, Remittance information  3. Transaction Value date, Start and End date incase or recurring payment, Frequency, Exchange Rate  4. Charge type, code and currency involved 5. Commission amount and Currency involved  6. Tax Amount and Currency  7. Transaction Status, SCA Status, TPP reference.  The API shall be linked to the 'Get Payment Information and Payment initiation status request' published API in accordance with the Open Banking norms to fetch Payment Details.",
                "operationId": "getPaymentStatus",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "paymentId",
                    "in": "path",
                    "description": "Indicates the unique reference number of the payment",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "disablePagination",
                    "in": "header",
                    "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                    "required": false,
                    "type": "boolean"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "PaymentStatusResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/PaymentStatusResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/payments/SEPAinitiation":
        {
            "post":
            {
                "tags": [ ],
                "summary": "Payment initiation for a SEPA credit transfer",
                "description": "Among the different Payment Products supported, this API is to initiate a request for a SEPA Credit Transfer via Funds Transfer.   The API shall be linked to  the 'Payment Initiation Request' published API in accordance with the Open Banking norms to initiate a request.",
                "operationId": "createSEPAPaymentInitiation",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/SEPAPaymentInitiation"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "SEPAPaymentInitiationResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SEPAPaymentInitiationResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/standingOrdersInitiation/SEPA/{standingOrderId}":
        {
            "post":
            {
                "tags": [ ],
                "summary": "Initiates creation of SEPA standing order instruction",
                "description": "API to create Standing Instruction for SEPA credit transfers.   The API shall be linked to  the 'createSepaPayment' published API in accordance with the Open Banking norms to create a periodic SEPA payment.",
                "operationId": "createSEPAStandingOrderInitiation",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "standingOrderId",
                    "in": "path",
                    "description": "The unique standing order identifier",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/SEPAStandingOrderInitiation"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "SEPAStandingOrderInitiationResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SEPAStandingOrderInitiationResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/standingOrdersInitiation/crossBorder/{standingOrderId}":
        {
            "post":
            {
                "tags": [ ],
                "summary": "Initiates creation of standing order instruction",
                "description": "API to create Standing Instruction for Cross Border credit transfers.   The API shall be linked to  the 'createSepaPayment' published API in accordance with the Open Banking norms to create a periodic cross border payment.",
                "operationId": "createPSD2StandingOrderInitiation",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "standingOrderId",
                    "in": "path",
                    "description": "The unique standing order identifier",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/PSD2StandingOrderInitiation"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "PSD2StandingOrderInitiationResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/PSD2StandingOrderInitiationResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/standingOrdersInitiation/{standingOrderId}":
        {
            "delete":
            {
                "tags": [ ],
                "summary": "Cancels a standing order instruction",
                "description": "API to cancel  an existing Standing Instruction. The payment instruction involves SEPA Credit Transfers and Cross Border Credit Transfers.",
                "operationId": "deletePSD2StandingOrderInitiation",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "standingOrderId",
                    "in": "path",
                    "description": "The unique standing order identifier",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": false,
                    "schema":
                    {
                        "$ref": "#/definitions/PSD2StandingOrderInitiationDelete"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "PSD2StandingOrderInitiationResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/PSD2StandingOrderInitiationResponse1"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/standingOrderApprovals/{standingOrderId}":
        {
            "put":
            {
                "tags": [ ],
                "summary": "Creates the standing order instruction request",
                "description": "Creates the standing order (periodic) payment instruction from the initiated request",
                "operationId": "approvePSD2StandingOrder",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "standingOrderId",
                    "in": "path",
                    "description": "The unique standing order identifier",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/PSD2StandingOrder"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "PSD2StandingOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/PSD2StandingOrderResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/paymentsApprovals/{paymentId}":
        {
            "put":
            {
                "tags": [ ],
                "summary": "Creates the payment transfer",
                "description": "Creates the funds transfer payment from the initiated transfer request",
                "operationId": "approvePayment",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "paymentId",
                    "in": "path",
                    "description": "Indicates the unique reference number of the payment",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/Payment"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "PaymentResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/PaymentResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/payments/{paymentId}/subResources":
        {
            "get":
            {
                "tags": [ ],
                "summary": "Retrieves payment sub resource information",
                "description": "API to retrieve the subresource information of a particular payment request. The information retrieved includes the Payment Type, current and subsequent Subresource reference, SCA Status and Flow.   This API shall be used by 'get Authorisations', 'get SCA Status of payment authorisations', 'get SCA status of payment cancellations' and 'getcancellations' published APIs in accordance to open banking standards to get the status details.",
                "operationId": "getSubResources",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "paymentId",
                    "in": "path",
                    "description": "Indicates the unique reference number of the payment",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "subResourceType",
                    "in": "query",
                    "description": "Indicates if the sub resource is created for authorization or cancellation of the PSD2 payment. Can contain values 'AUTH' or 'CANC' which indicates authorization and cancellation respectively.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "subResourceId",
                    "in": "query",
                    "description": "Contains the sub resource identifier which is constructed of the payment Id, status of the payment and sequence number during authorisation or deletion of a payment. Applies to both implicit & explicit payment workflows. For example: FT0003003-AUTH-1",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "disablePagination",
                    "in": "header",
                    "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                    "required": false,
                    "type": "boolean"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "SubResourcesResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SubResourcesResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/paymentsInitiation/{paymentId}":
        {
            "delete":
            {
                "tags": [ ],
                "summary": "Cancels a payment that has been initiated ",
                "description": "API to cancel an existing funds transfer that has been initiated and to update the status of the transaction as Cancelled.  The API shall be linked to  the 'deletePayment' published API in accordance with the Open Banking norms to delete an unauthorised payment request.",
                "operationId": "deletePaymentInitiation",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "paymentId",
                    "in": "path",
                    "description": "Indicates the unique reference number of the payment",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": false,
                    "schema":
                    {
                        "$ref": "#/definitions/PaymentInitiationDelete"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "PaymentInitiationResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/PaymentInitiationResponse1"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/bulkPayments/paymentsInitiation":
        {
            "post":
            {
                "tags": [ ],
                "summary": "Creates bulk payment.",
                "description": "API to create Bulk Payment Requests for different Payment Types. The payment types include: 1. Cross Border Transfer 2. SEPA Transfer 3. Target2 Transfer 4. Instant Transfer",
                "operationId": "createBulkMaster",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/BulkMaster"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "BulkMasterResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BulkMasterResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/bulkPayments/{paymentId}/status":
        {
            "put":
            {
                "tags": [ ],
                "summary": "Updates bulk payment status.",
                "description": "API to update Bulk Payment Request Status for different Payment Types.  The payment types include: 1. Cross Border Transfer 2. SEPA Transfer 3. Target2 Transfer 4. Instant Transfer",
                "operationId": "updateBulkStatus",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "paymentId",
                    "in": "path",
                    "description": "Indicates the unique reference number of the payment",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/BulkStatus"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "BulkStatusResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BulkStatusResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/bulkPayments/paymentOrderInitiation/instantPayment":
        {
            "post":
            {
                "tags": [ ],
                "summary": "Initiates bulk instant payments",
                "description": "API to initiate payment order requests as part of a bulk payment for Instant Transfers.",
                "operationId": "createInstantBulkPaymentOrder",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/InstantBulkPaymentOrder"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "InstantBulkPaymentOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/InstantBulkPaymentOrderResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/bulkPayments/paymentOrderInitiation/SEPA":
        {
            "post":
            {
                "tags": [ ],
                "summary": "Initiates bulk SEPA payments",
                "description": "API to initiate payment order requests as part of a bulk payment for SEPA Credit Transfers.",
                "operationId": "createSepaBulkPaymentOrder",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/SepaBulkPaymentOrder"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "SepaBulkPaymentOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SepaBulkPaymentOrderResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/bulkPayments/paymentOrderInitiation/target2":
        {
            "post":
            {
                "tags": [ ],
                "summary": "Initiates bulk Eurosystem Target2 payments",
                "description": "API to initiate payment order requests as part of a bulk payment  TARGET2 (RTGS) Transfers.",
                "operationId": "createTgtBulkPaymentOrder",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/TgtBulkPaymentOrder"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "TgtBulkPaymentOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/TgtBulkPaymentOrderResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/bulkPayments/paymentOrderInitiation/crossBorder":
        {
            "post":
            {
                "tags": [ ],
                "summary": "Initiates bulk cross border payments",
                "description": "API to initiate payment order requests as part of a bulk payment Cross Border Credit Transfers.",
                "operationId": "createCbctBulkPaymentOrder",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/CbctBulkPaymentOrder"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "CbctBulkPaymentOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/CbctBulkPaymentOrderResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/recurringPaymentOrderInitiation/crossBorder/{standingOrderId}":
        {
            "post":
            {
                "tags": [ ],
                "summary": "Initiates creation of standing order instruction for cross border payment order product.",
                "description": "API to create Standing Instruction requests for Cross Border Credit Transfers payment orders. The API shall be linked to the 'createPeriodicPayment' published API in accordance with the Open Banking norms to create a Periodic Payment Request for Cross Border payment product.",
                "operationId": "createCBStandingOrder",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "standingOrderId",
                    "in": "path",
                    "description": "The unique standing order identifier",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/CBStandingOrder"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "CBStandingOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/CBStandingOrderResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/recurringPaymentOrderInitiation/SEPA/{standingOrderId}":
        {
            "post":
            {
                "tags": [ ],
                "summary": "Initiates creation of SEPA standing order instruction for SEPA payment order product.",
                "description": "API to create Standing Instruction requests for SEPA Credit Transfers for payment orders.   The API shall be linked to  the 'createSepaPayment' published API in accordance with the Open Banking norms to create a Periodic Payment Request for SEPA payment product.",
                "operationId": "createSEPAStandingOrder",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "standingOrderId",
                    "in": "path",
                    "description": "The unique standing order identifier",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/SEPAStandingOrder"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "SEPAStandingOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SEPAStandingOrderResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/paymentOrderInitiation/crossBorder":
        {
            "post":
            {
                "tags": [ ],
                "summary": "To initiate cross border payments",
                "description": "API to initiate payment order requests as part of a bulk payment Cross Border Credit Transfers.",
                "operationId": "createCbctPaymentOrder",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/CbctPaymentOrder"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "CbctPaymentOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/CbctPaymentOrderResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/paymentOrderInitiation/instantPayment":
        {
            "post":
            {
                "tags": [ ],
                "summary": "Initiates a instant payment",
                "description": "API to initiate payment order requests as part of a bulk payment for Instant Transfers.",
                "operationId": "createInstantPaymentOrder",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/InstantPaymentOrder"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "InstantPaymentOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/InstantPaymentOrderResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/paymentOrderInitiation/{paymentId}":
        {
            "delete":
            {
                "tags": [ ],
                "summary": "Cancels a payment that has been initiated",
                "description": "API to cancel an existing payment order that has been initiated and to update the status of the transaction as Cancelled.  The API shall be linked to  the 'deletePayment' published API in accordance with the Open Banking norms to delete an unauthorised payment request.",
                "operationId": "deletePaymentOrder",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "paymentId",
                    "in": "path",
                    "description": "Indicates the unique reference number of the payment",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": false,
                    "schema":
                    {
                        "$ref": "#/definitions/PaymentOrderDelete"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "PaymentOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/PaymentOrderResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/paymentOrderApprovals/{paymentId}":
        {
            "put":
            {
                "tags": [ ],
                "summary": "Creates the payment transfer",
                "description": "Creates the payment order from the initiated transfer request",
                "operationId": "updatePaymentOrder",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "paymentId",
                    "in": "path",
                    "description": "Indicates the unique reference number of the payment",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/PaymentOrder"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "PaymentOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/PaymentOrderResponse1"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/paymentOrderInitiation/target2":
        {
            "post":
            {
                "tags": [ ],
                "summary": "Initiates a payment that processes through target2 channel",
                "description": "API to initiate payment order requests as part of a bulk payment  TARGET2 (RTGS) Transfers.",
                "operationId": "createTgtPaymentOrder",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/TgtPaymentOrder"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "TgtPaymentOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/TgtPaymentOrderResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/PSD2/paymentOrderInitiation/SEPA":
        {
            "post":
            {
                "tags": [ ],
                "summary": "Initiate a SEPA payment",
                "description": "API to initiate payment order requests as part of a bulk payment for SEPA Credit Transfers.",
                "operationId": "createSepaPaymentOrder",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/SepaPaymentOrder"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "description": "Username and password to authenticate the API against core-banking.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "description": "The identifier of the underlying Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deviceId",
                    "in": "header",
                    "description": "Identifies the device type",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "userRole",
                    "in": "header",
                    "description": "User who initiated the transaction",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "SepaPaymentOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SepaPaymentOrderResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        },
        "apiKey":
        {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "definitions":
    {
        "PayloadHeader":
        {
            "properties":
            {
                "override":
                {
                    "type": "object",
                    "properties":
                    {
                        "overrideDetails":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "id":
                                    {
                                        "type": "string",
                                        "description": "The identifier of the override."
                                    },
                                    "description":
                                    {
                                        "type": "string",
                                        "description": "The actual override message."
                                    },
                                    "code":
                                    {
                                        "type": "string",
                                        "description": "The code related to override message."
                                    },
                                    "responseCode":
                                    {
                                        "type": "string",
                                        "description": "The user input to accept/reject the override."
                                    }
                                }
                            }
                        }
                    }
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        }
                    }
                }
            }
        },
        "PaymentResource":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
[...]
