{
  "swagger" : "2.0",
  "info" : {
    "description" : "Account Aggregation is a provision for the user to access their accounts from other banks. The Account Aggregation API is associated with a third party provider called SaltEdge. This third party provider fetches your accounts from other banks and provides the data to the micro service.",
    "version" : "1.0",
    "title" : "AccountAggregationAPI"
  },
  "host" : "vivekiyer1.konycloud.com/services",
  "basePath" : "/AccountAggregationJava",
  "tags" : [ {
    "name" : "AccountAggregationJava",
    "description" : ""
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/getBanks" : {
      "post" : {
        "tags" : [ "AccountAggregationJava" ],
        "summary" : "This API fetches the list of available banks in a country based on the country code. The third party provider Salt Edge has been leveraged to fetch the list of all the banks in a country.",
        "operationId" : "getBanks",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Request_AccountAggregationJava_getBanks"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_AccountAggregationJava_getBanks"
            }
          }
        }
      }
    },
    "/updateStatus" : {
      "post" : {
        "tags" : [ "AccountAggregationJava" ],
        "summary" : "This API updates the status callback for SaltEdge activities (Integration Service used for SaltEdge Callback).",
        "operationId" : "updateStatus",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Request_AccountAggregationJava_updateStatus"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_AccountAggregationJava_updateStatus"
            }
          }
        }
      }
    },
    "/deleteConnection" : {
      "post" : {
        "tags" : [ "AccountAggregationJava" ],
        "summary" : "This API is used to delete all the connections established with the bank backend, Account Aggregation microservice, and SaltEdge. When there is a change in the core backend system this API can be leveraged to remove and all the delete all the connections with the older core backend system.",
        "operationId" : "deleteConnection",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Request_AccountAggregationJava_deleteConnection"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_AccountAggregationJava_deleteConnection"
            }
          }
        }
      }
    },
    "/createTermsAndConditions" : {
      "post" : {
        "tags" : [ "AccountAggregationJava" ],
        "summary" : "This API creates a new customer and also creates consent. This consent is in a format of terms and conditions, which the customer must approve and acknowledge before proceeding further.",
        "operationId" : "createTermsAndConditions",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Request_AccountAggregationJava_createTermsAndConditions"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_AccountAggregationJava_createTermsAndConditions"
            }
          }
        }
      }
    },
    "/refreshConnection" : {
      "post" : {
        "tags" : [ "AccountAggregationJava" ],
        "summary" : "This API is used to refresh all the connections established between the backend, Account Aggregation microservice, and SaltEdge. The connections must be refreshed regularly to reflect the latest changes that have been made. With this API, you can refresh and update the data on the client application.",
        "operationId" : "refreshConnection",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Request_AccountAggregationJava_refreshConnection"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_AccountAggregationJava_refreshConnection"
            }
          }
        }
      }
    },
    "/getTermsAndConditions" : {
      "post" : {
        "tags" : [ "AccountAggregationJava" ],
        "summary" : "This API fetches all the terms and conditions that a customer has acknowledged. This data can then be used by the bank to allow the customer to perform his next action.",
        "operationId" : "getTermsAndConditions",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Request_AccountAggregationJava_getTermsAndConditions"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_AccountAggregationJava_getTermsAndConditions"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Request_AccountAggregationJava_createTermsAndConditions" : {
      "type" : "object",
      "properties" : {
        "providerCode" : {
          "type" : "string",
          "description" : "Specifies the provider code of the bank"
        },
        "from_date" : {
          "type" : "string",
          "description" : "Specifies the beginning date for the terms and conditions to be valid"
        },
        "digitalProfileId" : {
          "type" : "string",
          "description" : "Specifies the Party ID. Party ID specifies the identification number of a particular party record."
        },
        "javascript_callback_type" : {
          "type" : "string",
          "description" : ""
        },
        "period_days" : {
          "type" : "string",
          "description" : "Specifies the number of days for which the terms and conditions are valid"
        },
        "scopes" : {
          "type" : "string",
          "description" : "Specifies the list of scopes such as Accounts, Transactions, Account Aggregation and so on"
        },
        "fetch_scopes" : {
          "type" : "string",
          "description" : "Specifies the scopes that have to be fetched."
        },
        "operation" : {
          "type" : "string",
          "description" : "Specifies the flow in which the API is called. There are two types of flows called createConnection and reauthenticateConnection."
        }
      }
    },
    "Request_AccountAggregationJava_updateStatus" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "string",
          "description" : "Specifies the data of the status that must be updated"
        }
      }
    },
    "Response_AccountAggregationJava_deleteConnection" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        }
      }
    },
    "Response_AccountAggregationJava_createTermsAndConditions" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "expires_at" : {
          "type" : "string",
          "description" : "Specifies the date of expiration for the terms and conditions"
        },
        "connect_url" : {
          "type" : "string",
          "description" : "Specifies the connection URL"
        }
      }
    },
    "Response_AccountAggregationJava_refreshConnection" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "expires_at" : {
          "type" : "string",
          "description" : "Specifies the date of expiry for the connections"
        },
        "connect_url" : {
          "type" : "string",
          "description" : "Specifies the connection URL of the bank"
        }
      }
    },
    "Request_AccountAggregationJava_getTermsAndConditions" : {
      "type" : "object",
      "properties" : {
        "bankCode" : {
          "type" : "string",
          "description" : "Specifies the bank code for which the terms and conditions are to be updated."
        },
        "termsAndConditionsCode" : {
          "type" : "string",
          "description" : "Specifies the unique code for the terms and conditions that are to be fetched",
          "default" : "AccountAggregation_TnC"
        },
        "languageCode" : {
          "type" : "string",
          "description" : "Specifies the language code.",
          "default" : "en-US"
        },
        "operation" : {
          "type" : "string",
          "description" : "Specifies the flow in which the API is called. There are two types of flows called createConnection and reauthenticateConnection."
        }
      }
    },
    "Request_AccountAggregationJava_getBanks" : {
      "type" : "object",
      "properties" : {
        "countryCode" : {
          "type" : "string",
          "description" : "Specifies the code of the country. All the banks present within the country are fetched"
        }
      }
    },
    "Response_AccountAggregationJava_updateStatus" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        }
      }
    },
    "Request_AccountAggregationJava_refreshConnection" : {
      "type" : "object",
      "properties" : {
        "providerCode" : {
          "type" : "string",
          "description" : "Specifies the provider code of the bank"
        },
        "digitalProfileId" : {
          "type" : "string",
          "description" : "Specifies the Party ID. The Party ID specifies the identification number of a particular party record."
        }
      }
    },
    "Response_AccountAggregationJava_getTermsAndConditions" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "bankCode" : {
          "type" : "string",
          "description" : "Specifies the bank code for which the terms and conditions are to be updated."
        },
        "consentDuration" : {
          "type" : "string",
          "description" : "Specifies the duration for the content"
        },
        "bank_scope" : {
          "type" : "string",
          "description" : ""
        },
        "expiry_date" : {
          "type" : "string",
          "description" : "Specifies the data of expiry for the terms and conditions"
        },
        "bank_url" : {
          "type" : "string",
          "description" : "Specifies the URL of the bank from which the terms and conditions have been fetched"
        },
        "id" : {
          "type" : "string",
          "description" : "Specifies the content type such as text, URL, or so on."
        },
        "operation" : {
          "type" : "string",
          "description" : "Specifies the flow in which the API is called. There are two types of flows called createConnection and reauthenticateConnection."
        },
        "content" : {
          "type" : "string",
          "description" : "Specifies the content for the terms and conditions."
        }
      }
    },
    "Request_AccountAggregationJava_deleteConnection" : {
      "type" : "object",
      "properties" : {
        "providerCode" : {
          "type" : "string",
          "description" : "Specifies the provider code of the bank"
        },
        "digitalProfileId" : {
          "type" : "string",
          "description" : "Specifies the Party ID. Party ID specifies the identification number of a particular party record."
        }
      }
    },
    "Response_AccountAggregationJava_getBanks" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        }
      }
    }
  }
}