{

   "swagger": "2.0",
"info" : {
    "description" : "The Campaign Designer Engine helps a user to create or update any campaign. The Campaigns allow banks to market their products based on customer behavior. The banks can set a target audience for the campaign by selecting the available attributes and their values. For example, the bank can set a campaign targeting an audience whose annual income is above $5000.\nCampaign APIs also allow the bank to choose the event that can trigger the campaign. For example, upon making a transaction the customer triggers a campaign.",
    "version" : "1.0",
    "title" : "CampaignDesignerAPIs"
  },
  "host" : "KH2606.temenosgroup.com:8080/services",
  "basePath" : "/CampaignManagementMSAPI",
  "tags" : [ {
    "name" : "CampaignManagementMSAPI",
    "description" : ""
  } ],
  "schemes" : [ "http" ],
  "paths" : {
    "/updateDefaultCampaigns" : {
      "post" : {
        "tags" : [ "CampaignManagementMSAPI" ],
        "summary" : "This API is used to update the details of the default campaign. By default, certain campaigns will be configured for the customer and this API helps you to update these default campaigns. To update the campaign you must pass various details about the campaign such as name, description, type, and so on.",
        "operationId" : "updateDefaultCampaigns",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Request_CampaignManagementMSAPI_updateDefaultCampaigns"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_CampaignManagementMSAPI_updateDefaultCampaigns"
            }
          }
        }
      }
    },
    "/createProfile" : {
      "post" : {
        "tags" : [ "CampaignManagementMSAPI" ],
        "summary" : "This API creates a profile for your customers. Every campaign is associated with a particular customer profile. Based on the profile and the profile condition that you set, the campaigns get displayed to your customers. To create the customer profile you must pass several details such as profile name, profile condition and so on through the body request.",
        "operationId" : "createProfile",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Request_CampaignManagementMSAPI_createProfile"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_CampaignManagementMSAPI_createProfile"
            }
          }
        }
      }
    },
    "/getAllDefaultCampaigns" : {
      "post" : {
        "tags" : [ "CampaignManagementMSAPI" ],
        "summary" : "This API is used to fetch all the available default campaigns and its respective details . By default certain campaigns would have been configured for the customer and this API helps you to fetch these default campaigns.",
        "operationId" : "getAllDefaultCampaigns",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_CampaignManagementMSAPI_getAllDefaultCampaigns"
            }
          }
        }
      }
    },
    "/createCampaign" : {
      "post" : {
        "tags" : [ "CampaignManagementMSAPI" ],
        "summary" : "This API is used to create a campaign from the client-side with the help of Spotlight. These campaigns are then stored in the backend. To create a campaign you must pass various details about the campaign such as name, description, type and so on through the body request.",
        "operationId" : "createCampaign",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Request_CampaignManagementMSAPI_createCampaign"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_CampaignManagementMSAPI_createCampaign"
            }
          }
        }
      }
    },
    "/getPlaceholders" : {
      "post" : {
        "tags" : [ "CampaignManagementMSAPI" ],
        "summary" : "This API fetches the pre-configured channel's information (Web/Mobile) and screen information (pre-login/post-login/dashboard). Based on the fetched placeholder values you can set the campaign on the screen of the customer device",
        "operationId" : "getPlaceholders",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_CampaignManagementMSAPI_getPlaceholders"
            }
          }
        }
      }
    },
    "/updateCampaign" : {
      "post" : {
        "tags" : [ "CampaignManagementMSAPI" ],
        "summary" : "This API is used to update the details and status of a campaign from the client-side. The campaign is stored in the backend. To update the campaign you must pass the various details associated with the campaign such as campaign name, description, type, and so on.",
        "operationId" : "updateCampaign",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Request_CampaignManagementMSAPI_updateCampaign"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_CampaignManagementMSAPI_updateCampaign"
            }
          }
        }
      }
    },
    "/getEvents" : {
      "post" : {
        "tags" : [ "CampaignManagementMSAPI" ],
        "summary" : "This API fetches all available events and event details such as event name, code, description, and so on. Based on the events fetched, you can set your campaigns.",
        "operationId" : "getEvents",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_CampaignManagementMSAPI_getEvents"
            }
          }
        }
      }
    },
    "/getProfiles" : {
      "post" : {
        "tags" : [ "CampaignManagementMSAPI" ],
        "summary" : "This API fetches all customer profiles. Each and every campaign is associated with a customer profile. Based on the profile and the profile condition that is set, the campaigns get displayed to the customers",
        "operationId" : "getProfiles",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_CampaignManagementMSAPI_getProfiles"
            }
          }
        }
      }
    },
    "/updateProfile" : {
      "post" : {
        "tags" : [ "CampaignManagementMSAPI" ],
        "summary" : "This API is used to update the customer profile and the respective profile conditions. Every campaign is associated with a particular customer profile. Based on the profile and the profile condition that is set, the campaigns get displayed to the customers.",
        "operationId" : "updateProfile",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Request_CampaignManagementMSAPI_updateProfile"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_CampaignManagementMSAPI_updateProfile"
            }
          }
        }
      }
    },
    "/getCampaigns" : {
      "post" : {
        "tags" : [ "CampaignManagementMSAPI" ],
        "summary" : "This API fetches all the available campaigns from the backend that have been created by using the Spotlight application. By using this API the campaigns are fetched and displayed to the banking customer",
        "operationId" : "getCampaigns",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_CampaignManagementMSAPI_getCampaigns"
            }
          }
        }
      }
    },
	"/getAndUpdateUsersForSegment" : {
      "post" : {
        "tags" : [ "CampaignManagementAPI" ],
        "summary" : "This API is used to fetch the dynamic count of the customers that belong to a profile category. When you fetch the count of customers based on a profile condition there is a time interval and within this period there could have been new customers added with the same profile condition. This API helps you in such a condition by continuously updating the count.",
        "operationId" : "getAndUpdateUsersForSegment",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Request_CampaignManagementAPI_getAndUpdateUsersForSegment"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_CampaignManagementAPI_getAndUpdateUsersForSegment"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Response_CampaignManagementMSAPI_createCampaign" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "code" : {
          "type" : "string",
          "description" : ""
        },
        "id" : {
          "type" : "string",
          "description" : ""
        },
        "message" : {
          "type" : "string",
          "description" : ""
        }
      }
    },
    "Request_CampaignManagementMSAPI_updateCampaign" : {
      "type" : "object",
      "properties" : {
        "productId" : {
          "type" : "string",
          "description" : "Specifies the unique ID of the product"
        },
        "endDate" : {
          "type" : "string",
          "description" : "Specifies the date on which the campaign ends"
        },
        "offlineTemplate" : {
          "type" : "array",
          "description" : "Specifies the offline templates that are configured for the campaign such as SMS, Email, or push notifications",
          "items" : {
            "type" : "object",
            "properties" : { }
          },
          "default" : "[]"
        },
        "campaignId" : {
          "type" : "string",
          "description" : "Specifies the unique ID of the campaign that must be updated"
        },
        "productGroupId" : {
          "type" : "string",
          "description" : "Specfies the unique ID of the group/category to which the product belongs"
        },
        "eventTriggerIdList" : {
          "type" : "array",
          "description" : "Specifies the list of trigger IDs for various events",
          "items" : {
            "type" : "object",
            "properties" : { }
          },
          "default" : "[]"
        },
        "channelType" : {
          "type" : "array",
          "description" : "Specifies the channel types that are configured for the campaign (Online/Offline)",
          "items" : {
            "type" : "object",
            "properties" : { }
          },
          "default" : "[]"
        },
        "onlineContent" : {
          "type" : "array",
          "description" : "Specifies the online channels that are configured for the campaign",
          "items" : {
            "type" : "object",
            "properties" : { }
          },
          "default" : "[{ \"placeholderId\": \"PH001\", \"targetURL\": \"https://dbxint5.konylabs.net:8443/apps/konyOLB/?actionType=internal&moduleName=Personal_Loan\", \"imageURL\": \"/personalloan.jpg\" }]"
        },
        "channelDetails" : {
          "type" : "array",
          "description" : "Specifies the list of all channels that are configured for the campaign (Online and Offline)",
          "items" : {
            "type" : "object",
            "properties" : { }
          },
          "default" : "[]"
        },
        "objectiveType" : {
          "type" : "string",
          "description" : "Specifies the type of objective for the campaign such as SINGLE or DOUBLE"
        },
        "campaignPriority" : {
          "type" : "string",
          "description" : "Specifies the priority of the campaign. Based in the priority level the campaigns get displayed to the customer"
        },
        "profileIdList" : {
          "type" : "array",
          "description" : "Specifies the profile details that are configured for the campaign.",
          "items" : {
            "type" : "object",
            "properties" : { }
          },
          "default" : "[]"
        },
        "campaignStatus" : {
          "type" : "string",
          "description" : "Specifies the status of the campaign (Active/Paused/Terminated)."
        },
        "campaignDescription" : {
          "type" : "string",
          "description" : "Specifies a description of the campaign"
        },
        "campaignName" : {
          "type" : "string",
          "description" : "Specifies the name of the campaign that is to be created"
        },
        "startDate" : {
          "type" : "string",
          "description" : "Specifies the date from which the campaign starts"
        }
      }
    },
    "Request_CampaignManagementMSAPI_updateDefaultCampaigns" : {
      "type" : "object",
      "properties" : {
        "defaultCampaign" : {
          "type" : "array",
          "description" : "Specifies the details of the default campaign that must be updated",
          "items" : {
            "type" : "object",
            "properties" : { }
          }
        }
      }
    },
    "Response_CampaignManagementMSAPI_getEvents" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "eventTrigger" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : { }
          }
        }
      }
    },
    "Response_CampaignManagementMSAPI_getCampaigns" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "code" : {
          "type" : "string",
          "description" : ""
        },
        "campaignList" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : { }
          }
        },
        "message" : {
          "type" : "string",
          "description" : ""
        }
      }
    },
    "Request_CampaignManagementMSAPI_createProfile" : {
      "type" : "object",
      "properties" : {
        "profileName" : {
          "type" : "string",
          "description" : "Specifies the name of the profile"
        },
        "profileDescription" : {
          "type" : "string",
          "description" : "Specifies the description of the profile"
        },
        "profileConditions" : {
          "type" : "array",
          "description" : "Specifies the list of conditions that are to be selected for creating the profile.",
          "items" : {
            "type" : "object",
            "properties" : { }
          }
        }
      }
    },
    "Response_CampaignManagementMSAPI_updateDefaultCampaigns" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "message" : {
          "type" : "string",
          "description" : ""
        },
        "onlineContentId" : {
          "type" : "string",
          "description" : ""
        },
        "status" : {
          "type" : "string",
          "description" : ""
        }
      }
    },
    "Request_CampaignManagementMSAPI_updateProfile" : {
      "type" : "object",
      "properties" : {
        "profileName" : {
          "type" : "string",
          "description" : "Specifies the name of the profile that has to be updated"
        },
        "profileDescription" : {
          "type" : "string",
          "description" : "Specifies the description related to the profile that must be updated"
        },
        "profileId" : {
          "type" : "string",
          "description" : "Specifies the unique ID of the profile that must be updated"
        },
        "profileConditions" : {
          "type" : "array",
          "description" : "Specifies the list of conditions that are to be selected for updating the profile",
          "items" : {
            "type" : "object",
            "properties" : { }
          }
        },
        "profileStatus" : {
          "type" : "string",
          "description" : "Specifies the status of the profile (Active/Inactive)"
        }
      }
    },
    "Response_CampaignManagementMSAPI_getAllDefaultCampaigns" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "campaignList" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "placeholderIdentifier" : {
                "type" : "string",
                "description" : ""
              },
              "placeholderId" : {
                "type" : "string",
                "description" : ""
              },
              "placeholderDescription" : {
                "type" : "string",
                "description" : ""
              },
              "imageURL" : {
                "type" : "string",
                "description" : ""
              },
              "placeholderName" : {
                "type" : "string",
                "description" : ""
              },
              "channelSubType" : {
                "type" : "string",
                "description" : ""
              },
              "imageResolution" : {
                "type" : "string",
                "description" : ""
              },
              "targetURL" : {
                "type" : "string",
                "description" : ""
              },
              "onlineContentId" : {
                "type" : "string",
                "description" : ""
              },
              "imageScale" : {
                "type" : "string",
                "description" : ""
              },
              "imageIndex" : {
                "type" : "integer",
                "description" : ""
              }
            }
          }
        }
      }
    },
    "Response_CampaignManagementMSAPI_getPlaceholders" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "placeHolder" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : { }
          }
        }
      }
    },
    "Response_CampaignManagementMSAPI_updateCampaign" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "code" : {
          "type" : "string",
          "description" : ""
        },
        "id" : {
          "type" : "string",
          "description" : ""
        },
        "message" : {
          "type" : "string",
          "description" : ""
        },
        "status" : {
          "type" : "string",
          "description" : ""
        }
      }
    },
    "Response_CampaignManagementMSAPI_createProfile" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "code" : {
          "type" : "string",
          "description" : ""
        },
        "id" : {
          "type" : "string",
          "description" : ""
        },
        "message" : {
          "type" : "string",
          "description" : ""
        },
        "status" : {
          "type" : "string",
          "description" : ""
        }
      }
    },
    "Response_CampaignManagementMSAPI_updateProfile" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "profileId" : {
          "type" : "string",
          "description" : ""
        },
        "message" : {
          "type" : "string",
          "description" : ""
        },
        "status" : {
          "type" : "string",
          "description" : ""
        }
      }
    },
    "Request_CampaignManagementMSAPI_createCampaign" : {
      "type" : "object",
      "properties" : {
        "campaignType" : {
          "type" : "string",
          "description" : "Specifies the type of campaign"
        },
        "productId" : {
          "type" : "string",
          "description" : "Specifies the unique ID of the product"
        },
        "endDate" : {
          "type" : "string",
          "description" : "Specifies the date on which the campaign ends"
        },
        "offlineTemplate" : {
          "type" : "array",
          "description" : "Specifies the offline templates that are configured for the campaign such as SMS, Email, or push notifications",
          "items" : {
            "type" : "object",
            "properties" : { }
          },
          "default" : "[]"
        },
        "productGroupId" : {
          "type" : "string",
          "description" : "Specfies the unique ID of the group/category to which the product belongs"
        },
        "eventTriggerIdList" : {
          "type" : "array",
          "description" : "Specifies the list of trigger IDs for various events",
          "items" : {
            "type" : "object",
            "properties" : { }
          },
          "default" : "[]"
        },
        "channelType" : {
          "type" : "array",
          "description" : "Specifies the channel types that are configured for the campaign (Online/Offline)",
          "items" : {
            "type" : "object",
            "properties" : { }
          },
          "default" : "[]"
        },
        "onlineContent" : {
          "type" : "array",
          "description" : "Specifies the online channels that are configured for the campaign",
          "items" : {
            "type" : "object",
            "properties" : { }
          },
          "default" : "[{ \"placeholderId\": \"PH001\", \"targetURL\": \"https://dbxint5.konylabs.net:8443/apps/konyOLB/?actionType=internal&moduleName=Personal_Loan\", \"imageURL\": \"/personalloan.jpg\" }]"
        },
        "channelDetails" : {
          "type" : "array",
          "description" : "Specifies the list of all channels that are configured for the campaign (Online and Offline)",
          "items" : {
            "type" : "object",
            "properties" : { }
          },
          "default" : "[]"
        },
        "objectiveType" : {
          "type" : "string",
          "description" : "Specfies the type of obective for the campaign such as SINGLE or DOUBLE"
        },
        "campaignPriority" : {
          "type" : "string",
          "description" : "Specifies the priority of the campaign. Based in the priority level the campagins get displayed to the customer"
        },
        "profileIdList" : {
          "type" : "array",
          "description" : "Specifies the profile details that are configured for the campaign.",
          "items" : {
            "type" : "object",
            "properties" : { }
          },
          "default" : "[]"
        },
        "campaignDescription" : {
          "type" : "string",
          "description" : "Specifies a description of the campaign"
        },
        "campaignName" : {
          "type" : "string",
          "description" : "Specifies the name of the campaign that is to be created"
        },
        "startDate" : {
          "type" : "string",
          "description" : "Specifies the date from which the campaign starts"
        }
      }
    },
    "Response_CampaignManagementMSAPI_getProfiles" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "code" : {
          "type" : "string",
          "description" : ""
        },
        "allProfiles" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : { }
          }
        },
        "message" : {
          "type" : "string",
          "description" : ""
        }
      }
    },
	    "Response_CampaignManagementAPI_getAndUpdateUsersForSegment" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        }
      }
    },
    "Request_CampaignManagementAPI_getAndUpdateUsersForSegment" : {
      "type" : "object",
      "properties" : {
        "segment" : {
          "type" : "array",
          "description" : "Specifies the segment that is required to fetch and update the customers",
          "items" : {
            "type" : "object",
            "properties" : { }
          }
        }
      }
	
  }
}
}