{
  "swagger" : "2.0",
  "info" : {
    "description" : "Marketing Catalog APIs help you to interact with the Marketing Catalog Microservice and its Enterprise APIs. By using these APIs you can manage the marketing information of the core banking products. Marketing Catalog micro service receives marketing information in the form of events (asynchronous call) from the record-keeping system. This marketing information is fetched from the Marketing Catalog microservice with the help of Marketing Catalog Experience APIs.",
    "version" : "1.0",
    "title" : "MarketCatalogAPIs"
  },
  "host" : "KH2606.temenosgroup.com:8080/services",
  "basePath" : "/MarketCatalogAPIs",
  "tags" : [ {
    "name" : "MarketCatalogAPIs",
    "description" : ""
  } ],
  "schemes" : [ "http" ],
  "paths" : {
    "/fetchProductList" : {
      "post" : {
        "tags" : [ "MarketCatalogAPIs" ],
        "summary" : "This API fetches the marketing information of all the products from all the product groups in every product line. When a customer wants to view the entire range of available products at once, this API can be leveraged to fetch and display the data of all the products across all product groups and product lines. The fetched data can also be massaged or modulated before displaying the data to the customer by using a postprocessor or preprocessor code in Quantum Fabric.",
        "operationId" : "fetchProductList",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_MarketCatalogAPIs_fetchProductList"
            }
          }
        }
      }
    },
    "/getProductsByProductGroup" : {
      "post" : {
        "tags" : [ "MarketCatalogAPIs" ],
        "summary" : "This API fetches the list of all products and respective product details that belong to a product group. When a customer selects a product group, this API is leveraged to fetch all the products that belong to the selected product group",
        "operationId" : "getProductsByProductGroup",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Request_MarketCatalogAPIs_getProductsByProductGroup"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_MarketCatalogAPIs_getProductsByProductGroup"
            }
          }
        }
      }
    },
    "/getProductGroupsByProductLine" : {
      "post" : {
        "tags" : [ "MarketCatalogAPIs" ],
        "summary" : "This API fetches all the product groups in a product line. For example, when a customer selects a product line such as PC or computers, this API is leveraged to fetch various categories of PCs based on type, company, specs, and so on.",
        "operationId" : "getProductGroupsByProductLine",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Request_MarketCatalogAPIs_getProductGroupsByProductLine"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_MarketCatalogAPIs_getProductGroupsByProductLine"
            }
          }
        }
      }
    },
    "/GetProductsForPurprose" : {
      "post" : {
        "tags" : [ "MarketCatalogAPIs" ],
        "summary" : "This API fetches the marketing information of all the products that are used for a specific purpose. When a customer specifies the purpose or provides requirements for a product, this API can be leveraged to display various types of products that are based on his purpose or requirement.",
        "operationId" : "GetProductsForPurprose",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_MarketCatalogAPIs_GetProductsForPurprose"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Request_MarketCatalogAPIs_getProductGroupsByProductLine" : {
      "type" : "object",
      "properties" : {
        "productLine" : {
          "type" : "string",
          "description" : "Specifies the product line for which the product groups are to be fetched."
        }
      }
    },
    "Response_MarketCatalogAPIs_GetProductsForPurprose" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "records" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "productId" : {
                "type" : "string",
                "description" : "Specifies the unique ID of the fetched product."
              },
              "Status_id" : {
                "type" : "string",
                "description" : "Specifies the status of the operation (success/failure)"
              },
              "productName" : {
                "type" : "string",
                "description" : "Specifies the name of the fetched product"
              },
              "productDescription" : {
                "type" : "string",
                "description" : "Specifies a description of the fetched product"
              },
              "productTypeId" : {
                "type" : "string",
                "description" : "Specifies the unique ID of the type of products that have been fetched"
              },
              "productType" : {
                "type" : "string",
                "description" : "Specifies the name of the product type"
              }
            }
          }
        }
      }
    },
    "Request_MarketCatalogAPIs_getProductsByProductGroup" : {
      "type" : "object",
      "properties" : {
        "productGroups" : {
          "type" : "string",
          "description" : "Specifies the product groups for which the products are fetched"
        }
      }
    },
    "Response_MarketCatalogAPIs_getProductsByProductGroup" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "items" : {
          "type" : "object",
          "properties" : {
            "productGroupId" : {
              "type" : "string",
              "description" : "Specifies the unique ID of the group to which the product belongs"
            },
            "productGroupDisplayName" : {
              "type" : "string",
              "description" : "Specifies the display name of the product group"
            },
            "products" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "productId" : {
                    "type" : "string",
                    "description" : "Specifies the unique ID of the fetched product"
                  },
                  "productName" : {
                    "type" : "string",
                    "description" : "Specifies the name of the fetched product"
                  },
                  "productDescription" : {
                    "type" : "string",
                    "description" : "Specifies the description of the fetched product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "Response_MarketCatalogAPIs_getProductGroupsByProductLine" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "productGroups" : {
          "type" : "array",
          "description" : "Specifies the list of product groups that have been fetched based on the product group",
          "items" : {
            "type" : "object",
            "properties" : { }
          }
        }
      }
    },
    "Response_MarketCatalogAPIs_fetchProductList" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        }
      }
    }
  }
}