{

   "swagger": "2.0",

  "info" : {
    "description" : "The Payment API is used to perform payment transactions to different types of accounts such as a domestic account or an international account. Payment API allows you to transfer, edit, or delete the transactions that occur within your own bank, other domestic banks, or international banks. Payment APIs leverage the Payment order microservice to perform the transactions.",
    "version" : "1.0",
    "title" : "PaymentAPI"
  },
  "host" : "KH2606.temenosgroup.com:8080/services",
  "basePath" : "/data/v1/PaymentAPI/objects",
  "tags" : [ {
    "name" : "Transaction"
  } ],
  "schemes" : [ "http" ],
  "paths" : {

    "/Transaction/InternationalAccFundTransfer" : {
      "post" : {
        "tags" : [ "Transaction" ],
        "summary" : "This API is used to perform a transaction between a domestic bank account and an international bank account. This allows customer to perform an international transaction.",
        "operationId" : "InternationalAccFundTransferTransaction",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Transaction"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_Custom"
            }
          }
        }
      }
    },
    "/Transaction/TransferToOwnAccounts" : {
      "post" : {
        "tags" : [ "Transaction" ],
        "summary" : "This API is used to perform a transaction between two bank accounts that belong to the same branch.",
        "operationId" : "TransferToOwnAccountsTransaction",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Transaction"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_Custom"
            }
          }
        }
      }
    },
    "/Transaction/IntraBankAccFundTransferDelete" : {
      "post" : {
        "tags" : [ "Transaction" ],
        "summary" : "This API is used to delete an internal transaction that has occurred between accounts that belong to two or more branches of the same bank. This API alllows the customer to delete the transaction that he/she has made to an account that belongs to another branch of the same bank located in different region.",
        "operationId" : "IntraBankAccFundTransferDeleteTransaction",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Transaction"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_Custom"
            }
          }
        }
      }
    },
    "/Transaction" : { },
    "/Transaction/IntraBankAccFundTransfer" : {
      "post" : {
        "tags" : [ "Transaction" ],
        "summary" : "This API is used to perfrom an external transaction between accounts that belong to two or more branches of the same bank. This allows customer to transfer amount to a branch of the bank that is located in another region or locality.",
        "operationId" : "IntraBankAccFundTransferTransaction",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Transaction"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_Custom"
            }
          }
        }
      }
    },
    "/Transaction/InternationalFundTransferDelete" : {
      "post" : {
        "tags" : [ "Transaction" ],
        "summary" : "This API is used to delete the transaction that has occurred between a domestic bank account and an international bank account.",
        "operationId" : "InternationalFundTransferDeleteTransaction",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Transaction"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_Custom"
            }
          }
        }
      }
    },
    "/Transaction/InterBankAccFundTransfer" : {
      "post" : {
        "tags" : [ "Transaction" ],
        "summary" : "This API is used to perfrom an external transaction between accounts that belong to two different banks. This allows customer to transfer amount to other bank accounts.",
        "operationId" : "InterBankAccFundTransferTransaction",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Transaction"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_Custom"
            }
          }
        }
      }
    },
    "/Transaction/TransferToOwnAccountsEdit" : {
      "post" : {
        "tags" : [ "Transaction" ],
        "summary" : "This API is used to edit a transaction that has occurred between two or more accounts that belong to the same bank branch. This allows customers to edit a transcation that has occurred to his own accounts.",
        "operationId" : "TransferToOwnAccountsEditTransaction",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Transaction"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_Custom"
            }
          }
        }
      }
    },
    "/Transaction/CreateBulkWireTransfer" : {
      "post" : {
        "tags" : [ "Transaction" ],
        "summary" : "This API is used to create multiple domestic transactions at the same time. This allows customer to transfer amount to multiple accounts at once",
        "operationId" : "CreateBulkWireTransferTransaction",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Transaction"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_Custom"
            }
          }
        }
      }
    },
    "/Transaction/IntraBankAccFundTransferEdit" : {
      "post" : {
        "tags" : [ "Transaction" ],
        "summary" : "This API is used to edit the internal transaction that has occurred between accounts that belong to two or more branches of the same bank. This allows customers to edit his/her transactions to other branches of the same bank located in a different region.",
        "operationId" : "IntraBankAccFundTransferEditTransaction",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Transaction"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_Custom"
            }
          }
        }
      }
    },
    "/Transaction/InterBankFundTransferDelete" : {
      "post" : {
        "tags" : [ "Transaction" ],
        "summary" : "This API is used to delete the transaction that has occurred between accounts that belong to two or more branches of the same bank.",
        "operationId" : "InterBankFundTransferDeleteTransaction",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Transaction"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_Custom"
            }
          }
        }
      }
    },

    "/Transaction/InternationalFundTransferEdit" : {
      "post" : {
        "tags" : [ "Transaction" ],
        "summary" : "This API is used to edit a transaction that has occurred between a domestic account and an international account. This allows customers to edit any international transaction.",
        "operationId" : "InternationalFundTransferEditTransaction",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Transaction"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_Custom"
            }
          }
        }
      }
    },
    "/Transaction/TransferToOwnAccountsDelete" : {
      "post" : {
        "tags" : [ "Transaction" ],
        "summary" : "This API is used to delete the transaction that has occurred between two accounts that belong to the same bank.",
        "operationId" : "TransferToOwnAccountsDeleteTransaction",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Transaction"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_Custom"
            }
          }
        }
      }
    },
    "/Transaction/InterBankFundTransferEdit" : {
      "post" : {
        "tags" : [ "Transaction" ],
        "summary" : "This API is used to edit the external transaction that has occurred between accounts that belong to two different banks. This allows customers to edit a transcation that he has performed with a beneficiary who belongs to another bank.",
        "operationId" : "InterBankFundTransferEditTransaction",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Transaction"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_Custom"
            }
          }
        }
      }
    },
	    "/ExternalAccounts/getAllExternalAccountsWithPagination" : {
      "post" : {
        "tags" : [ "ExternalAccounts" ],
        "summary" : "This API fetches all the recipient accounts with pagination. Pagination allows you to display only a fixed set of records at a given point of time and provides you an option such as a button to click and view the complete set of records. This improves the application performance with faster data loading and less number of application crashes as the entire data need not be fetched at once.",
        "operationId" : "getAllExternalAccountsWithPaginationExternalAccounts",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ExternalAccounts"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_Custom"
            }
          }
        }
      }
    },
    "/ExternalAccounts" : { },
	"/Recipients" : { },
    "/Recipients/deleteExternalPayee" : {
      "post" : {
        "tags" : [ "Recipients" ],
        "summary" : "This API is used to delete a recipient from your list of beneficiaries. In the Infinity base application, this API is used in the  Transaction module.",
        "operationId" : "deleteExternalPayeeRecipients",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Recipients"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_Custom"
            }
          }
        }
      }
    },
    "/Recipients/editExternalPayee" : {
      "post" : {
        "tags" : [ "Recipients" ],
        "summary" : "This API is used to edit the recipient details such as account number, name, phone number or so on. In the Infinity base application, this API is used in the  Transaction module.",
        "operationId" : "editExternalPayeeRecipients",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Recipients"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_Custom"
            }
          }
        }
      }
    },
    "/Recipients/createExternalPayee" : {
      "post" : {
        "tags" : [ "Recipients" ],
        "summary" : "This API is used to create/add a new recipient to the list of beneficiaries. In the Infinity base application, this API is used in the  Transaction module.",
        "operationId" : "createExternalPayeeRecipients",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Kony-Authorization",
          "in" : "header",
          "description" : "This service invocation requires authentication.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Recipients"
          }
        } ],
        "responses" : {
          "200" : {
            "schema" : {
              "$ref" : "#/definitions/Response_Custom"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Transaction" : {
      "type" : "object",
      "properties" : {
        "Transaction_id" : {
          "type" : "string",
          "description" : "Specifies the unique ID of each transaction performed by the customer"
        },
        "dbpErrCode" : {
          "type" : "string",
          "description" : "Specifies the error code"
        },
        "dbpErrMsg" : {
          "type" : "string",
          "description" : "Specifies the error message"
        },
        "opstatus" : {
          "type" : "string",
          "description" : "Specifies the status of the operation (Success/Failure)."
        },
        "httpStatusCode" : {
          "type" : "string",
          "description" : "htttpstatuscode"
        },
        "amount" : {
          "type" : "string",
          "description" : "Specifies the amount that is to be transferred to other accounts"
        },
        "frequencyEndDate" : {
          "type" : "string",
          "description" : "Specifies the date at which the messages must be stopped. (This parameter is valid only when frequencyType has been provided)"
        },
        "frequencyType" : {
          "type" : "string",
          "description" : "Specifies the frequency at which the payment transfers must be made. The transfers can be made on a daily, weekly, or on a monthly basis."
        },
        "fromAccountNumber" : {
          "type" : "string",
          "description" : "Specifies the Account Number from which the amount must be debited."
        },
        "isScheduled" : {
          "type" : "string",
          "description" : "Specifies whether the transfer is a scheduled transfer or a normal transfer."
        },
        "scheduledDate" : {
          "type" : "string",
          "description" : "Specifies the date on which the scheduled transfer payment must occur (This parameter is valid only if the isScheduled parameter is set to true)"
        },
        "toAccountNumber" : {
          "type" : "string",
          "description" : "Specifies the account number to which the amount must be credited."
        },
        "transactionsNotes" : {
          "type" : "string",
          "description" : "Specifies additional information about the transaction."
        },
        "transactionType" : {
          "type" : "string",
          "description" : "Specifies whether the transaction type is an internal transfer, an external transfer, or an international transfer."
        },
        "transactionCurrency" : {
          "type" : "string",
          "description" : "Specifies the currency type of the transaction, such as USD, Euro, or Pound."
        },
        "MFAAttributes" : {
          "type" : "string",
          "description" : "Specifies the attributes for Multi-Factor Authentication"
        },
        "serviceName" : {
          "type" : "string",
          "description" : "Specifies the name of the Quantum Fabric service."
        },
        "fromAccountCurrency" : {
          "type" : "string",
          "description" : "Specifies the currency of account from which the amount must be debited."
        },
        "toAccountCurrency" : {
          "type" : "string",
          "description" : "Specifies the currency of the account to which the amount must be credited."
        },
        "numberOfRecurrences" : {
          "type" : "string",
          "description" : "Specifies the number of times the transaction should execute (This parameter is valid only when frequencyType has been provided)."
        },
        "p2pContact" : {
          "type" : "string",
          "description" : "Specifies the Person to Person Contact details"
        },
        "personId" : {
          "type" : "string",
          "description" : "Specifies the unique individual ID"
        },
        "deliverBy" : {
          "type" : "string",
          "description" : "Specifies the date by which the amount must be delivered"
        },
        "zipCode" : {
          "type" : "string",
          "description" : "Specifies the zip code of the customer"
        },
        "billerId" : {
          "type" : "string",
          "description" : "Specifies the unique ID of the biller"
        },
        "billid" : {
          "type" : "string",
          "description" : "Specifies the unique ID of the generated bill"
        },
        "payeeId" : {
          "type" : "string",
          "description" : "Specifies the unique ID of the Payee"
        },
        "payeeAccountNumber" : {
          "type" : "string",
          "description" : "Specifies the account number of the payee"
        },
        "payeeAddressLine1" : {
          "type" : "string",
          "description" : "Specifies the first line of the payee's address"
        },
        "payeeName" : {
          "type" : "string",
          "description" : "Specifies the name of the payee"
        },
        "payeeNickName" : {
          "type" : "string",
          "description" : "Specifies the nickname of the payee"
        },
        "payeeCurrency" : {
          "type" : "string",
          "description" : "Specifies the currency used by the payee to perform the transaction"
        },
        "wireAccountType" : {
          "type" : "string",
          "description" : "Specifies the type of wire account"
        },
        "bankName" : {
          "type" : "string",
          "description" : "Specifies the name of the bank"
        },
        "routingNumber" : {
          "type" : "string",
          "description" : "routingnumber"
        },
        "cityName" : {
          "type" : "string",
          "description" : "Specifies the name of the city"
        },
        "state" : {
          "type" : "string",
          "description" : "Specifies the name of the state"
        },
        "bankAddressLine1" : {
          "type" : "string",
          "description" : "Specifies the first line of the bank's adress"
        },
        "bankAddressLine2" : {
          "type" : "string",
          "description" : "Specifies the second line of the bank's address"
        },
        "bankCity" : {
          "type" : "string",
          "description" : "Specifies the name of the city in which the bank is located"
        },
        "bankState" : {
          "type" : "string",
          "description" : "Specifies the name of the state in which the bank is located"
        },
        "bankZip" : {
          "type" : "string",
          "description" : "Specifies the zip/postal code of the bank's location"
        },
        "payeeType" : {
          "type" : "string",
          "description" : "Specifies the type of payee"
        },
        "payeeAddressLine2" : {
          "type" : "string",
          "description" : "Specifies the second line of the payee's address"
        },
        "swiftCode" : {
          "type" : "string",
          "description" : "Specifies the swift code for international transactions"
        },
        "country" : {
          "type" : "string",
          "description" : "Specifies the name of the country"
        },
        "internationalRoutingCode" : {
          "type" : "string",
          "description" : "Specifies the international routing number of the customer"
        },
        "frequencyStartDate" : {
          "type" : "string",
          "description" : "Specifies the date on which messages must start being sent. (This parameter is valid only when frequencyType has been provided)"
        },
        "message" : {
          "type" : "string",
          "description" : "message"
        },
        "status" : {
          "type" : "string",
          "description" : "Specifies the status (success/failure)"
        },
        "bulkPayString" : {
          "type" : "string",
          "description" : "bulkpaystring"
        },
        "referenceId" : {
          "type" : "string",
          "description" : "Specifies a unique refernce ID of the transaction for the customer"
        },
        "errmsg" : {
          "type" : "string",
          "description" : "errmsg"
        },
        "initiationId" : {
          "type" : "string",
          "description" : "Specifies the unique ID required for the initiation"
        },
        "mfaType" : {
          "type" : "string",
          "description" : "Specifies the type of Multi Factor Authentication that is required"
        },
        "transactionId" : {
          "type" : "string",
          "description" : "Specifies the unique ID generated for the transaction"
        },
        "confirmationNumber" : {
          "type" : "string",
          "description" : "Specifies the confirmation number for the transaction"
        },
        "iban" : {
          "type" : "string",
          "description" : "Specifies the international bank account number of the customer"
        },
        "wireTemplateExecution_id" : {
          "type" : "string",
          "description" : "Specifies the unique execution ID generated for the wire transfers"
        },
        "bicCode" : {
          "type" : "string",
          "description" : "bicCode"
        },
        "BulkWireExecutionDetails" : {
          "type" : "string",
          "description" : "Specifies the execution details for bulk wire transfers"
        },
        "bankId" : {
          "type" : "string",
          "description" : "Specifies the ID of the bank"
        },
        "feeCurrency" : {
          "type" : "string",
          "description" : "Specifies the currency type of the fee such as USD, Euro, or Pound."
        },
        "beneficiaryName" : {
          "type" : "string",
          "description" : "Specifies the name of the beneficiary"
        },
        "paidBy" : {
          "type" : "string",
          "description" : "Specifies the name of the person who performed the payment"
        },
        "paymentType" : {
          "type" : "string",
          "description" : "Specifies the type of payment"
        },
        "feeAmount" : {
          "type" : "string",
          "description" : "Specifies the amount of fee that is to be paid by the customer for processing the transaction"
        },
        "beneficiaryAddressNickName" : {
          "type" : "string",
          "description" : "Specifies the address of the beneficairy"
        },
        "beneficiaryAddressLine1" : {
          "type" : "string",
          "description" : "Specifies the first line of beneficiary's address"
        },
        "beneficiaryCity" : {
          "type" : "string",
          "description" : "Specifies the name of the city in which the beneficiary resides"
        },
        "beneficiaryZipcode" : {
          "type" : "string",
          "description" : "Specifies the zip/postal code of the beneficiary's residence"
        },
        "beneficiarycountry" : {
          "type" : "string",
          "description" : "Specifies the name of the country to which the beneficiary belongs"
        },
        "backendReferenceId" : {
          "type" : "string",
          "description" : "Specifies the reference ID for the backend used by the banking application"
        },
        "checkDateOfIssue" : {
          "type" : "string",
          "description" : "checkDateOfIssue"
        },
        "checkImage" : {
          "type" : "string",
          "description" : "checkImage"
        },
        "checkImageBack" : {
          "type" : "string",
          "description" : "checkImageBack"
        },
        "toAccountType" : {
          "type" : "string"
        },
        "profileId" : {
          "type" : "string"
        }
      }
    },

    "Response_Get_Transaction" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "records" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Transaction"
          }
        }
      }
    },
    "Response_Transaction" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "Transaction_id" : {
          "type" : "string",
          "description" : "Specifies the unique ID of each transaction performed by the customer"
        }
      }
    },
    "Response_Custom" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        }
      }
    },
    "Response_Delete" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "deletedRecords" : {
          "type" : "integer"
        }
      }
    }
  },
      "Response_Get_ExternalAccounts" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "records" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ExternalAccounts"
          }
        }
      }
    },
    "ExternalAccounts" : {
      "type" : "object",
      "properties" : {
        "accountNumber" : {
          "type" : "string",
          "description" : "Specifies the external account number of the customer"
        },
        "accountType" : {
          "type" : "string",
          "description" : "Specifies the type of external account"
        },
        "bankName" : {
          "type" : "string",
          "description" : "Specifies the name of the bank"
        },
        "beneficiaryName" : {
          "type" : "string",
          "description" : "Specifies the name of the beneficiary"
        },
        "countryName" : {
          "type" : "string",
          "description" : "Specifies the name of the country"
        },
        "createdOn" : {
          "type" : "string",
          "description" : "Specifies the date and time on which the operation is executed"
        },
        "errmsg" : {
          "type" : "string",
          "description" : "Specifies the error message"
        },
        "firstName" : {
          "type" : "string",
          "description" : "Specifies the first name of the customer"
        },
        "Id" : {
          "type" : "string",
          "description" : "Specifies the unique ID of the customer"
        },
        "isInternationalAccount" : {
          "type" : "string",
          "description" : "Specifies whether the external account is an international account"
        },
        "isSameBankAccount" : {
          "type" : "string",
          "description" : "Specifies whether the external account is the same as the bank account"
        },
        "isVerified" : {
          "type" : "string",
          "description" : "Specifies whether the external account is a verified account"
        },
        "lastName" : {
          "type" : "string",
          "description" : "Specifies the last name of the customer"
        },
        "limit" : {
          "type" : "string",
          "description" : "Specifies the ending index of the sorted records that are used in pagination"
        },
        "nickName" : {
          "type" : "string",
          "description" : "Specifies the nickname of the customer"
        },
        "notes" : {
          "type" : "string",
          "description" : "Specifies additional notes written by the customer"
        },
        "offset" : {
          "type" : "string",
          "description" : "Specifies the starting index of the sorted records that are used in pagination"
        },
        "order" : {
          "type" : "string",
          "description" : "Specifies the sorting order for the response (Ascending/Descending)"
        },
        "routingNumber" : {
          "type" : "string",
          "description" : "routingNumber"
        },
        "searchString" : {
          "type" : "string",
          "description" : "searchString"
        },
        "sortBy" : {
          "type" : "string",
          "description" : "Specifies the sorting criteria for the response such as amount or transaction date"
        },
        "success" : {
          "type" : "string",
          "description" : "success"
        },
        "swiftCode" : {
          "type" : "string",
          "description" : "Specifies the swift code of the bank to perform any international transaction"
        },
        "IBAN" : {
          "type" : "string",
          "description" : "Specifies the international bank account number of the customer"
        },
        "sortCode" : {
          "type" : "string",
          "description" : "Specifies the code for sorting the records"
        },
        "phoneExtension" : {
          "type" : "string",
          "description" : "phoneExtension"
        },
        "phoneNumber" : {
          "type" : "string",
          "description" : "Specifies the phone number of the customer"
        },
        "phoneCountryCode" : {
          "type" : "string",
          "description" : "Specifies the country code for the customer's mobile device"
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Specifies the unique ID of the beneficiary"
        },
        "addressNickName" : {
          "type" : "string",
          "description" : "Specifies the address of the customer"
        },
        "addressLine1" : {
          "type" : "string",
          "description" : "Specifies the first line of address of the customer"
        },
        "city" : {
          "type" : "string",
          "description" : "Specifies the city of the customer"
        },
        "zipcode" : {
          "type" : "string",
          "description" : "Specifies the zip/postal code of the customer"
        },
        "country" : {
          "type" : "string",
          "description" : "Specifies the country of the customer"
        }
      }
    },
    "Response_ExternalAccounts" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "Id" : {
          "type" : "string",
          "description" : "Specifies the unique ID of the customer"
        }
      }
    },
	
	    "Response_Get_Recipients" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "records" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Recipients"
          }
        }
      }
    },
    "Recipients" : {
      "type" : "object",
      "properties" : {
        "lastName" : {
          "type" : "string",
          "description" : "Specifies the last name of the customer"
        },
        "zipCode" : {
          "type" : "string",
          "description" : "Specifies the zip/postal code of the customer"
        },
        "isAutoPayEnabled" : {
          "type" : "string",
          "description" : "Indicates if Auto Pay is enabled (True/False)"
        },
        "companyName" : {
          "type" : "string",
          "description" : "Specifies the name of the company"
        },
        "ebillSupport" : {
          "type" : "string",
          "description" : "Specifies whether the account supports Electronic bill"
        },
        "lastPaidAmount" : {
          "type" : "string",
          "description" : "Specifies the amount that was last paid"
        },
        "EBillEnable" : {
          "type" : "string",
          "description" : "Indicates if E Bill is enabled (True/False)"
        },
        "billermaster_id" : {
          "type" : "string",
          "description" : "Specifies the ID of the master biller"
        },
        "lastPaidDate" : {
          "type" : "string",
          "description" : "Specifies the date on which the amount was last paid"
        },
        "cityName" : {
          "type" : "string",
          "description" : "Specifies the name of the city"
        },
        "addressLine1" : {
          "type" : "string",
          "description" : "Specifie the first line of the address of the customer"
        },
        "addressLine2" : {
          "type" : "string",
          "description" : "Specifies the second line of the address of the customer"
        },
        "isManuallyAdded" : {
          "type" : "string",
          "description" : "isManuallyAdded"
        },
        "id" : {
          "type" : "string",
          "description" : "Specifies the ID of the customer"
        },
        "state" : {
          "type" : "string",
          "description" : "Specifies the name of the state in which the customer resides"
        },
        "email" : {
          "type" : "string",
          "description" : "Specifies the Email ID of the customer"
        },
        "nameOnBill" : {
          "type" : "string",
          "description" : "Specifies the name of the customer on the generated bill for payment"
        },
        "isWiredRecepient" : {
          "type" : "string",
          "description" : "Specifies if the recepient supports wire mode of transactions"
        },
        "nickName" : {
          "type" : "string",
          "description" : "Specifies the nick name of the customer"
        },
        "transitDays" : {
          "type" : "string",
          "description" : "transitDays"
        },
        "accountNumber" : {
          "type" : "string",
          "description" : "Specifies the account number"
        },
        "userId" : {
          "type" : "string",
          "description" : "Specifies the unique user ID"
        },
        "isBusinessPayee" : {
          "type" : "string",
          "description" : "Specifies whether the payee is a business user"
        },
        "firstName" : {
          "type" : "string",
          "description" : "Specifies the first name of the customer"
        },
        "phone" : {
          "type" : "string",
          "description" : "Specifies the phone details of the customer"
        },
        "billid" : {
          "type" : "string",
          "description" : "Specifies the unique ID of the generated bill"
        },
        "name" : {
          "type" : "string",
          "description" : "Specifies the name of the customer"
        },
        "payeeAccountNumber" : {
          "type" : "string",
          "description" : "Specifies the account number of the payee"
        },
        "payeeId" : {
          "type" : "string",
          "description" : "Specifies the unique ID of the payee"
        },
        "payeeName" : {
          "type" : "string",
          "description" : "Specifies the name of the payee"
        },
        "payeeNickName" : {
          "type" : "string",
          "description" : "Specifies the nickname of the payee"
        },
        "eBillStatus" : {
          "type" : "string",
          "description" : "Specifies the status of the electronic bill payment (Success/Failure)"
        },
        "limit" : {
          "type" : "string",
          "description" : "Specifies the ending index of the sorted records that are used in pagination."
        },
        "offset" : {
          "type" : "string",
          "description" : "Specifies the starting index of the sorted records that are used in pagination."
        },
        "sortBy" : {
          "type" : "string",
          "description" : "Specifies the sorting criteria for the response such as amount or transaction date"
        },
        "order" : {
          "type" : "string",
          "description" : "Specifies the sorting order for the response (Ascending/Descending)."
        },
        "searchString" : {
          "type" : "string",
          "description" : "searchString"
        },
        "bankAddressLine1" : {
          "type" : "string",
          "description" : "Specifies the first line of the bank's address"
        },
        "bankAddressLine2" : {
          "type" : "string",
          "description" : "Specifies the second line of the bank's address"
        },
        "bankState" : {
          "type" : "string",
          "description" : "Specifies the name of the state in which the bank is located"
        },
        "bankCity" : {
          "type" : "string",
          "description" : "Specifies the name of the city in which the bank is located"
        },
        "bankZip" : {
          "type" : "string",
          "description" : "Specifies the zip/postal code of the bank's location"
        },
        "bankName" : {
          "type" : "string",
          "description" : "Specifies the name of the bank"
        },
        "accountType" : {
          "type" : "string",
          "description" : "Specifies the type of accounts such as credit, debit, or savings account."
        },
        "beneficiaryName" : {
          "type" : "string",
          "description" : "Specifies the name of the beneficiary"
        },
        "countryName" : {
          "type" : "string",
          "description" : "Specifies the name of the country"
        },
        "createdOn" : {
          "type" : "string",
          "description" : "Specifies the date and time on when the operation was created"
        },
        "isInternationalAccount" : {
          "type" : "string",
          "description" : "Specifies whether the account has international validity"
        },
        "isSameBankAccount" : {
          "type" : "string",
          "description" : "Specifies if the payment is made to the same bank account"
        },
        "isVerified" : {
          "type" : "string",
          "description" : "Specifies if the payment is verified"
        },
        "notes" : {
          "type" : "string",
          "description" : "Specifies notes for additional information"
        },
        "routingNumber" : {
          "type" : "string",
          "description" : "Specifies the number to which all the calls are to be routed."
        },
        "swiftCode" : {
          "type" : "string",
          "description" : "Specifies the code that allows the customer to perform international transactions"
        },
        "iban" : {
          "type" : "string",
          "description" : "Specifies the International Bank Account Number of the customer"
        },
        "sortCode" : {
          "type" : "string",
          "description" : "Specifies the code for sorting the list of payments. Based on this code the type of sorting gets decided"
        },
        "phoneCountryCode" : {
          "type" : "string",
          "description" : "Specifies the country code for a phone number. This allows you to make international calls"
        },
        "phoneNumber" : {
          "type" : "string",
          "description" : "Specifies the phone number of the customer"
        },
        "phoneExtension" : {
          "type" : "string",
          "description" : "Speciifes the extension digits for the mobile number"
        },
        "cif" : {
          "type" : "string",
          "description" : "Specifies the customer information file that contains all details about the customer"
        },
        "dbpErrMsg" : {
          "type" : "string",
          "description" : "Specifies the error message"
        },
        "dbpErrCode" : {
          "type" : "string",
          "description" : "Specifies the error code"
        },
        "errmsg" : {
          "type" : "string",
          "description" : "errmsg"
        },
        "success" : {
          "type" : "string",
          "description" : "success"
        },
        "type" : {
          "type" : "string",
          "description" : "type"
        },
        "internationalRoutingCode" : {
          "type" : "string",
          "description" : "Specifies the international code for routing of your phone number"
        },
        "routingCode" : {
          "type" : "string",
          "description" : "Specifies the code for routing of your phone number"
        },
        "wireAccountType" : {
          "type" : "string",
          "description" : "Specifies the type of account used for wire transfers"
        },
        "country" : {
          "type" : "string",
          "description" : "Specifies the name of the country"
        }
      }
    },
    "Response_Recipients" : {
      "type" : "object",
      "properties" : {
        "opstatus" : {
          "type" : "integer"
        },
        "httpStatusCode" : {
          "type" : "integer"
        },
        "id" : {
          "type" : "string",
          "description" : "Specifies the ID of the customer"
        }
      }
    },

}