{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retrieves the details of a facility arrangement account",
    "version" : "v1.0.0",
    "title" : "Retrieves the details of a facility arrangement account"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/holdings/facilities/{facilityId}/combinedSchedules" : {
      "get" : {
        "summary" : "Retrieves the payment schedule of facility and its drawings",
        "description" : "Retrieves the payment schedule of facility and its drawings",
        "operationId" : "getCombinedSchedules",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "facilityId",
          "in" : "path",
          "description" : "Unique identifier (contract number) of the facility",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CombinedSchedulesResponse",
            "schema" : {
              "$ref" : "#/definitions/CombinedSchedulesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/facilities/{facilityId}/installments/{txnAmount}" : {
      "get" : {
        "summary" : "Retrieves the interest rates, installment dates, installment amounts, total payment amounts and cash back applicable for the installment products under the facility arrangement account",
        "description" : "Retrieves the interest rates, installment dates, installment amounts, total payment amounts and cash back applicable for the installment products under the facility arrangement account",
        "operationId" : "getFacilityInstallments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "facilityId",
          "in" : "path",
          "description" : "Unique identifier (contract number) of the facility",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "txnAmount",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FacilityInstallmentsResponse",
            "schema" : {
              "$ref" : "#/definitions/FacilityInstallmentsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/facilities/purchases" : {
      "get" : {
        "summary" : "Retrieves the Recent Purchase summary",
        "description" : "Retrieves the Recent Purchase summary",
        "operationId" : "getPosTxnDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PosTxnDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/PosTxnDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "CombinedSchedulesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CombinedSchedulesResponseBody"
        }
      },
      "description" : "CombinedSchedulesResponse"
    },
    "CombinedSchedulesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "scheduleDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Scheduled date for the payment."
          },
          "deferDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date that the payment has been deferred to"
          },
          "totalDue" : {
            "type" : "number",
            "description" : "This amount represents the total due amount for that period.",
            "maximum" : 19
          },
          "totalCapitalization" : {
            "type" : "number",
            "description" : "This amount represents the total capitalization amount for that period.",
            "maximum" : 19
          },
          "totalPrincipal" : {
            "type" : "number",
            "description" : "Sum of the amounts that is apportioned to the principal outstanding of all the drawings.",
            "maximum" : 19
          },
          "totalInterest" : {
            "type" : "number",
            "description" : "Sum of the amounts that is apportioned to the interest of the facility and its drawings.",
            "maximum" : 19
          },
          "totalCharge" : {
            "type" : "number",
            "description" : "Sum of the amounts that is apportioned to the charges of the facility and its drawings.",
            "maximum" : 19
          },
          "totalTax" : {
            "type" : "number",
            "description" : "The total amount of Tax on outstanding interest and charges calculated up to the specified Capitalisation Date",
            "maximum" : 20
          },
          "totalPayment" : {
            "type" : "number",
            "description" : "This amount represents the total payment that has happened for the period",
            "maximum" : 20
          },
          "outstandingAmount" : {
            "type" : "number",
            "description" : "Identifies the total outstanding amount for the corresponding Liability number and Limit reference. ",
            "maximum" : 19
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "FacilityInstallmentsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/FacilityInstallmentsResponseBody"
        }
      },
      "description" : "FacilityInstallmentsResponse"
    },
    "FacilityInstallmentsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "instProducts" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "installmentStartDate" : {
                  "type" : "string",
                  "maxLength" : 10
                },
                "installmentProducts" : {
                  "type" : "string",
                  "maxLength" : 20
                },
                "interestRates" : {
                  "type" : "string",
                  "description" : "Identifies the bid rate of the related currency for the defined time period"
                },
                "installmentAmount" : {
                  "type" : "string",
                  "maxLength" : 20
                },
                "totalPaymentAmount" : {
                  "type" : "string",
                  "maxLength" : 20
                },
                "cashBack" : {
                  "type" : "string",
                  "maxLength" : 20
                }
              }
            }
          },
          "facilityId" : {
            "type" : "string",
            "description" : "Unique identifier (contract number) of the facility",
            "maxLength" : 15
          },
          "txnAmount" : {
            "type" : "string",
            "maxLength" : 20
          },
          "preAuth" : {
            "type" : "string",
            "maxLength" : 5
          },
          "creditLineId" : {
            "type" : "string",
            "maxLength" : 15
          }
        }
      }
    },
    "PosTxnDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PosTxnDetailsResponseBody"
        }
      },
      "description" : "PosTxnDetailsResponse"
    },
    "PosTxnDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "txnId" : {
            "type" : "string",
            "maxLength" : 60
          },
          "merchantName" : {
            "type" : "string"
          },
          "merchantBeneficiaryId" : {
            "type" : "string",
            "maxLength" : 30
          },
          "merchantAccount" : {
            "type" : "string",
            "maxLength" : 20
          },
          "purchaseDescription" : {
            "type" : "string"
          },
          "purchaseAmount" : {
            "type" : "string",
            "maxLength" : 19
          },
          "facilityId" : {
            "type" : "string",
            "description" : "Unique identifier (contract number) of the facility",
            "maxLength" : 15
          }
        }
      }
    }
  }
}