{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows to set and read the configured BaseURL and also allows to set the Flush Count.",
    "version" : "v1.0.0",
    "title" : "Metric Meta APIs"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/meta/metrics/basePath" : {
      "get" : {
        "operationId" : "getMetricsFlushBasePath",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "getMetricsFlushBasePath",
            "schema" : {
              "$ref" : "#/definitions/SwaggerResponse"
            }
          },
          "default" : {
            "description" : "getMetricsFlushBasePathErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SwaggerErrorResponse"
            }
          }
        }
      },
      "put" : {
        "operationId" : "updateMetricsFlushBasePath",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "baseURL",
          "in" : "header",
          "description" : "The baseURL to be configured for MS metering flusher.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateMetricsFlushBasePath",
            "schema" : {
              "$ref" : "#/definitions/SwaggerResponse"
            }
          },
          "default" : {
            "description" : "updateMetricsFlushBasePathErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SwaggerErrorResponse"
            }
          }
        }
      }
    },
    "/meta/metrics/flush/{flushCount}" : {
      "put" : {
        "operationId" : "updateMetricsFlushCounter",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "flushCount",
          "in" : "path",
          "description" : "The flush count to be configured as limit to initiate flushing of data.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateMetricsFlushCounter",
            "schema" : {
              "$ref" : "#/definitions/MetricFlusherResponse"
            }
          },
          "default" : {
            "description" : "updateMetricsFlushBasePathErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SwaggerErrorResponse"
            }
          }
        }
      }
    },
    "/meta/metrics/flush" : {
      "get" : {
        "operationId" : "getMetricsFlushCounter",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "getMetricsFlushCounter",
            "schema" : {
              "$ref" : "#/definitions/MetricFlusherResponse"
            }
          },
          "default" : {
            "description" : "getMetricsFlushBasePathErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SwaggerErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int64",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "SwaggerResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/QueryResponseBody"
        }
      },
      "description" : "SwaggerResponse"
    },
    "MetricFlusherResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/MetricFlusherResponseBody"
        }
      },
      "description" : "MetricFlusherResponse"
    },
    "MetricFlusherResponseBody" : {
      "type" : "object",
      "properties" : {
        "flushCounter" : {
          "type" : "integer",
          "description" : "The flushCount identifier."
        }
      }
    },
    "QueryResponseBody" : {
      "type" : "object",
      "properties" : {
        "baseURL" : {
          "type" : "string",
          "description" : "The identifier of the MS baseURL configured."
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int64",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "SwaggerErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SwaggerErrorResponseBody"
        }
      },
      "description" : "getSwaggerSheetErrorResponse"
    },
    "SwaggerErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    }
  }
}