{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows the creation, viewing and management of payments and transfers",
    "version" : "v1.0.0",
    "title" : "Order Payments APIs"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/order/payments/fees" : {
      "get" : {
        "operationId" : "getPaymentFeesAndCharges",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionReference",
          "in" : "query",
          "description" : "Transaction reference identifier.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentFeesAndChargesResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentFeesAndChargesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/paymentStatus" : {
      "get" : {
        "operationId" : "getPaymentsAuditTrail",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionReference",
          "in" : "query",
          "description" : "Transaction reference identifier.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentsAuditTrailResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentsAuditTrailResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/{paymentId}/paymentStatus" : {
      "get" : {
        "operationId" : "getPaymentAuditTrail",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Indicates the unique reference number of the payment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentAuditTrailResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentsAuditTrailResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/pendingOrders" : {
      "get" : {
        "operationId" : "getPendingPayments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "processingDate",
          "in" : "query",
          "description" : "The date when payment instruction is processed in system.",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "transactionReference",
          "in" : "query",
          "description" : "Transaction reference identifier.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "Indicates the direction of the Direct debit claim for which mandate is received. The claim can be 'Outward' i.e. Claim is sent to the other bank or 'Inward'  i.e. other bank submit their claim to debit our customer's account. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentCurrency",
          "in" : "query",
          "description" : "This field holds the transaction currency or currency in which payment is initiated. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "toAmount",
          "in" : "query",
          "required" : false,
          "type" : "number"
        }, {
          "name" : "debitCustomerId",
          "in" : "query",
          "description" : "Debtor customer details",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditCustomerId",
          "in" : "query",
          "description" : "Creditor customer id details",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitCurrency",
          "in" : "query",
          "description" : "Currency of the debit account. For example: USD, EUR etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitAccountId",
          "in" : "query",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditAccountId",
          "in" : "query",
          "description" : "Credit account identifier of the payment or transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PendingPaymentsResponse",
            "schema" : {
              "$ref" : "#/definitions/PendingPaymentsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/pendingRepairOrders" : {
      "get" : {
        "operationId" : "getPendingRepairPayments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "processingDate",
          "in" : "query",
          "description" : "The date when payment instruction is processed in system.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "Indicates the direction of the Direct debit claim for which mandate is received. The claim can be 'Outward' i.e. Claim is sent to the other bank or 'Inward'  i.e. other bank submit their claim to debit our customer's account. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "transactionCurrency",
          "in" : "query",
          "description" : "Indicates the currency of the transaction. For example GBP, USD etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "transactionAmount",
          "in" : "query",
          "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitCurrencyId",
          "in" : "query",
          "description" : "The currency of the debit side in payment transaction. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitAccountId",
          "in" : "query",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditCurrencyId",
          "in" : "query",
          "description" : "Specifies the credit currency. For example: USD, EUR etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditAccountId",
          "in" : "query",
          "description" : "Credit account identifier of the payment or transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sendersReference",
          "in" : "query",
          "description" : "Indicates the incoming sender's reference i.e. tag 20 of incoming SWIFT or in case when transaction is received from other system/ application, this can also indicate the reference number of that system/ application",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PendingRepairPaymentsResponse",
            "schema" : {
              "$ref" : "#/definitions/PendingRepairPaymentsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/cutoffs" : {
      "get" : {
        "summary" : "Retrieves the Channel cutoff and Currency cutoff based payment details",
        "description" : "Retrieves the cutoff based payment details ",
        "operationId" : "getCutoffGraphs",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "company",
          "in" : "query",
          "description" : "The company code",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CutoffGraphsResponse",
            "schema" : {
              "$ref" : "#/definitions/CutoffGraphsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/meta/payments/queryFilters" : {
      "get" : {
        "summary" : "Retrieves the query filters which can be applied on payment transaction api",
        "description" : "Retrieves the payment transaction api query filters",
        "operationId" : "getQueryFilters",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "QueryFiltersResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryFiltersResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/transactions" : {
      "get" : {
        "summary" : "Retrieves the payment transactions by using the query filters retrieved from meta api queryFilters",
        "description" : "Retrieves all type of payment transactions",
        "operationId" : "getPendingAndProcessedPayments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "processingCompany",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentType",
          "in" : "query",
          "description" : "Indicates if the payment is Customer (C) type or Bank (B) type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "clearingName",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "processingDate",
          "in" : "query",
          "description" : "The date when payment instruction is processed in system.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "fTNumber",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "Indicates the direction of the Direct debit claim for which mandate is received. The claim can be 'Outward' i.e. Claim is sent to the other bank or 'Inward'  i.e. other bank submit their claim to debit our customer's account. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "transactionCurrency",
          "in" : "query",
          "description" : "Indicates the currency of the transaction. For example GBP, USD etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "transactionAmount",
          "in" : "query",
          "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "statusCode",
          "in" : "query",
          "description" : "Status code, as defined by the institution",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "messageType",
          "in" : "query",
          "description" : "Defines the type of swift messages that are sent or received for a transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitAccountCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitAccountNumber",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditAccCompany",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditAccountCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditAccountNumber",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "The ID of the Channel",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "originatingSource",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sendersReferenceIncoming",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sendersReferenceOutgoing",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customer_Specified_Reference",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "transactionReference",
          "in" : "query",
          "description" : "Transaction reference identifier.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cTRBTRIndicator",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditValueDate",
          "in" : "query",
          "description" : "Reference quoted by the credit account for a payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitValueDate",
          "in" : "query",
          "description" : "Date on which the amount will be debited for settlement",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endToEndReference",
          "in" : "query",
          "description" : "Indicates the end to end reference for the payment. This field can be provided by the person who instructs the payment and this flows through the lifecycle of the payment.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "clearingTransactionType",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tabView",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PendingAndProcessedPaymentsResponse",
            "schema" : {
              "$ref" : "#/definitions/PendingAndProcessedPaymentsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/swiftQueries" : {
      "get" : {
        "summary" : "Retrieves the list of sent swift queries",
        "description" : "Retrieves the list of sent swift queries",
        "operationId" : "getSwiftQueries",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionRef",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "receiverBank",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "ebAdviceNumber",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SwiftQueriesResponse",
            "schema" : {
              "$ref" : "#/definitions/SwiftQueriesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/instantPayments/transactions" : {
      "get" : {
        "summary" : "Retrieves timeout and unconfirmed instant payment transactions",
        "description" : "Retrieves instant payment transactions",
        "operationId" : "getPendingAndProcessedPaymentsOthers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "fTNumber",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "messageType",
          "in" : "query",
          "description" : "Defines the type of swift messages that are sent or received for a transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerSpecifiedReference",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sendersReferenceIncoming",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentType",
          "in" : "query",
          "description" : "Indicates if the payment is Customer (C) type or Bank (B) type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PendingAndProcessedPaymentsOthersResponse",
            "schema" : {
              "$ref" : "#/definitions/PendingAndProcessedPaymentsOthersResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/summary/transactions" : {
      "get" : {
        "summary" : "Retrieves the payment transactions count for various payment types",
        "description" : "Retrieves the payment transactions count",
        "operationId" : "getStatusMonitor",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "tabView",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "StatusMonitorResponse",
            "schema" : {
              "$ref" : "#/definitions/StatusMonitorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/investigation/transactions" : {
      "get" : {
        "summary" : "Retrieves the outward cancellation and claim payment requests for non receipt",
        "description" : "Retrieves the outward cancellation and claim payment requests for non receipt",
        "operationId" : "getPaymentsSepaInvestigations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "ClearingName",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "OriginalMessageType",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "OriginalTrnReference",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "OriginatorBIC",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "SettlementDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "TransactionType",
          "in" : "query",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "TransactionAmount",
          "in" : "query",
          "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "TransactionAmountCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "DebtorAccount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "CreditorAccount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "RecallDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "CancellationRequestID",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Status",
          "in" : "query",
          "description" : "The status of the early maturity request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentsSepaInvestigationsResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentsSepaInvestigationsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/{id}/repairTransaction" : {
      "get" : {
        "summary" : "Retrieves the payment transaction content for a payment",
        "description" : "Retrieves the payment transaction content",
        "operationId" : "getRepairViewScreen",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "RepairViewScreenResponse",
            "schema" : {
              "$ref" : "#/definitions/RepairViewScreenResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/{id}/sepaTransaction" : {
      "get" : {
        "summary" : "Retrieves the sepa payment transaction content for a given payment",
        "description" : "Retrieves the sepa payment transaction content",
        "operationId" : "getSepaViewScreen",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SepaViewScreenResponse",
            "schema" : {
              "$ref" : "#/definitions/SepaViewScreenResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/{id}/transaction" : {
      "get" : {
        "summary" : "Retrieves the payment transaction without the extended details",
        "description" : "Retrieves the payment transaction ",
        "operationId" : "getViewScreen",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ViewScreenResponse",
            "schema" : {
              "$ref" : "#/definitions/ViewScreenResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "PaymentFeesAndChargesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentFeesAndChargesResponseBody"
        }
      },
      "description" : "PaymentFeesAndChargesResponse"
    },
    "PaymentFeesAndChargesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "feeType" : {
            "type" : "string",
            "description" : "Indicates the type of fee which is applied for payment instruction",
            "maxLength" : 35
          },
          "feeName" : {
            "type" : "string",
            "description" : "Indicates the description for type of fee which is applied for payment instruction",
            "maxLength" : 35
          },
          "chargeType" : {
            "type" : "string",
            "description" : "Indicates the charge types which are applicable for the transaction. Example: CORRBKCHG",
            "maxLength" : 1
          },
          "feeCurrency" : {
            "type" : "string",
            "description" : "Indicates the fee currency in which fee amount is applied for the payment instruction",
            "maxLength" : 3
          },
          "feeAmount" : {
            "type" : "string",
            "description" : "Indicates the fee amount which is applied for the payment instruction",
            "maxLength" : 15
          },
          "chargeCurrency" : {
            "type" : "string",
            "description" : "Indicates the currency code of the charge account from where the fee is deducted",
            "maxLength" : 3
          },
          "chargeAmount" : {
            "type" : "string",
            "description" : "Retrieves the Charge Amount after redeem",
            "maxLength" : 15
          },
          "chargeBearer" : {
            "type" : "string",
            "description" : "Bearer of the charges of the order. For example: BEN(All transaction charges are to be borne by the beneficiary customer.), OUR(All transaction charges are to be borne by the ordering customer.), SHA(Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)",
            "maxLength" : 1
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "PaymentsAuditTrailResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentsAuditTrailResponseBody"
        }
      },
      "description" : "PaymentsAuditTrailResponse"
    },
    "PaymentsAuditTrailResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "eventId" : {
            "type" : "string",
            "description" : "Event identifier",
            "maxLength" : 3
          },
          "eventName" : {
            "type" : "string",
            "description" : "The name that is displayed for the event"
          },
          "errorCode" : {
            "type" : "string",
            "description" : "Indicates the error code which is encountered during payment processing as returned by payment system ",
            "maxLength" : 10
          },
          "additionalInformation" : {
            "type" : "string",
            "description" : "Additional Information provided to add context",
            "maxLength" : 128
          },
          "dateTime" : {
            "type" : "string",
            "description" : "Contains the date and time separated by '-'",
            "maxLength" : 11
          }
        }
      }
    },
    "PendingPaymentsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PendingPaymentsResponseBody"
        }
      },
      "description" : "PendingPaymentsResponse"
    },
    "PendingPaymentsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "company" : {
            "type" : "string",
            "description" : "The company code"
          },
          "transactionReference" : {
            "type" : "string",
            "description" : "Transaction reference identifier.",
            "maxLength" : 16
          },
          "currency" : {
            "type" : "string",
            "description" : "Indicates the type of currency to which the account belongs"
          },
          "amount" : {
            "type" : "string",
            "description" : "This is the payment amount",
            "maxLength" : 17
          },
          "direction" : {
            "type" : "string",
            "description" : "Indicates the direction of the Direct debit claim for which mandate is received. The claim can be 'Outward' i.e. Claim is sent to the other bank or 'Inward'  i.e. other bank submit their claim to debit our customer's account. ",
            "maxLength" : 1
          },
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          },
          "date" : {
            "type" : "string",
            "description" : "Indicates the date on which activity was performed",
            "maxLength" : 10
          },
          "customerReference" : {
            "type" : "string",
            "description" : "The reference which is provided to the beneficiary/ creditor by the originator of payment"
          },
          "sendersReference" : {
            "type" : "string",
            "description" : "Indicates the incoming sender's reference i.e. tag 20 of incoming SWIFT or in case when transaction is received from other system/ application, this can also indicate the reference number of that system/ application",
            "maxLength" : 16
          },
          "paymentStatus" : {
            "type" : "string",
            "description" : "Describes the current status of the payment order in the payment system",
            "maxLength" : 3
          },
          "displayName" : {
            "type" : "string",
            "description" : "Contains the name used for display or enrichment purposes"
          },
          "receivedAt" : {
            "type" : "string",
            "description" : "Indicates the date and time when the record was created in DD MON YYYY HH:MM:SS.MMM format",
            "maxLength" : 17
          }
        }
      }
    },
    "PendingRepairPaymentsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PendingRepairPaymentsResponseBody"
        }
      },
      "description" : "PendingRepairPaymentsResponse"
    },
    "PendingRepairPaymentsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "company" : {
            "type" : "string",
            "description" : "The company code",
            "maxLength" : 3
          },
          "transactionReference" : {
            "type" : "string",
            "description" : "Transaction reference identifier.",
            "maxLength" : 16
          },
          "transactionCurrency" : {
            "type" : "string",
            "description" : "Indicates the currency of the transaction. For example GBP, USD etc.",
            "maxLength" : 3
          },
          "transactionAmount" : {
            "type" : "string",
            "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
            "maxLength" : 17
          },
          "paymentSource" : {
            "type" : "string",
            "description" : "Indicates the source from where the payment is originated",
            "maxLength" : 10
          },
          "paymentDirection" : {
            "type" : "string",
            "description" : "Indicates the direction of payment i.e. incoming, outgoing, book or redirect",
            "maxLength" : 35
          },
          "paymentType" : {
            "type" : "string",
            "description" : "Indicates if the payment is Customer (C) type or Bank (B) type",
            "maxLength" : 35
          },
          "paymentId" : {
            "type" : "string",
            "description" : "Indicates the unique reference number of the payment",
            "maxLength" : 255
          }
        }
      }
    },
    "CutoffGraphsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CutoffGraphsResponseBody"
        }
      },
      "description" : "CutoffGraphsResponse"
    },
    "CutoffGraphsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "greenFlag" : {
            "type" : "string"
          },
          "redFlag" : {
            "type" : "string"
          },
          "NORECTODISPLAY" : {
            "type" : "string"
          },
          "amberFlag" : {
            "type" : "string"
          },
          "cutOffTime" : {
            "type" : "string",
            "description" : "The Cut off time when all executions for the day are consolidated to create a trade",
            "maxLength" : 65
          },
          "channel" : {
            "type" : "string",
            "description" : "The ID of the Channel",
            "maxLength" : 2
          },
          "message" : {
            "type" : "string",
            "description" : "The actual t24 error message ",
            "maxLength" : 65
          },
          "currency" : {
            "type" : "string",
            "description" : "Indicates the type of currency to which the account belongs",
            "maxLength" : 2
          },
          "totalAmount" : {
            "type" : "string",
            "description" : "Total amount"
          },
          "totalAmountInLocalCcy" : {
            "type" : "string"
          },
          "noOfPayments" : {
            "type" : "string"
          },
          "recId" : {
            "type" : "string"
          }
        }
      }
    },
    "QueryFiltersResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/QueryFiltersResponseBody"
        }
      },
      "description" : "QueryFiltersResponse"
    },
    "QueryFiltersResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "screenName" : {
            "type" : "string",
            "maxLength" : 60
          },
          "ZERONORECORDS" : {
            "type" : "string",
            "description" : "zero records display for NOFILE (an enquiry does not exist in a single file) enquiry for online upgrade"
          },
          "filterName" : {
            "type" : "string",
            "maxLength" : 35
          },
          "filterField" : {
            "type" : "string",
            "maxLength" : 35
          },
          "filterValue" : {
            "type" : "string",
            "maxLength" : 65
          }
        }
      }
    },
    "PendingAndProcessedPaymentsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PendingAndProcessedPaymentsResponseBody"
        }
      },
      "description" : "PendingAndProcessedPaymentsResponse"
    },
    "PendingAndProcessedPaymentsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "company" : {
            "type" : "string",
            "description" : "The company code",
            "maxLength" : 3
          },
          "ZERONORECORDS" : {
            "type" : "string",
            "description" : "zero records display for NOFILE (an enquiry does not exist in a single file) enquiry for online upgrade"
          },
          "fTNumber" : {
            "type" : "string",
            "maxLength" : 16
          },
          "currency" : {
            "type" : "string",
            "description" : "Indicates the type of currency to which the account belongs",
            "maxLength" : 3
          },
          "amount" : {
            "type" : "string",
            "description" : "This is the payment amount"
          },
          "direction" : {
            "type" : "string",
            "description" : "Indicates the direction of the Direct debit claim for which mandate is received. The claim can be 'Outward' i.e. Claim is sent to the other bank or 'Inward'  i.e. other bank submit their claim to debit our customer's account. ",
            "maxLength" : 1
          },
          "accComp" : {
            "type" : "string"
          },
          "channel" : {
            "type" : "string",
            "description" : "The ID of the Channel",
            "maxLength" : 10
          },
          "accountNumber" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          },
          "accountCurrency" : {
            "type" : "string",
            "description" : "Currency of the account. For example: USD, GBP."
          },
          "processingDate" : {
            "type" : "string",
            "description" : "The date when payment instruction is processed in system.",
            "maxLength" : 10
          },
          "customerReference" : {
            "type" : "string",
            "description" : "The reference which is provided to the beneficiary/ creditor by the originator of payment"
          },
          "sendersReference" : {
            "type" : "string",
            "description" : "Indicates the incoming sender's reference i.e. tag 20 of incoming SWIFT or in case when transaction is received from other system/ application, this can also indicate the reference number of that system/ application",
            "maxLength" : 16
          },
          "sendersReferenceOutgoing" : {
            "type" : "string",
            "maxLength" : 16
          },
          "statusCode" : {
            "type" : "string",
            "description" : "Status code, as defined by the institution",
            "maxLength" : 3
          },
          "statusDescription" : {
            "type" : "string",
            "maxLength" : 30
          },
          "cancelReq" : {
            "type" : "string",
            "maxLength" : 2
          },
          "errorCode" : {
            "type" : "string",
            "description" : "Indicates the error code which is encountered during payment processing as returned by payment system "
          },
          "batchIndicator" : {
            "type" : "string",
            "maxLength" : 1
          },
          "tabName" : {
            "type" : "string"
          },
          "tabLine" : {
            "type" : "string"
          },
          "oVersion" : {
            "type" : "string"
          },
          "viewDetails" : {
            "type" : "string"
          }
        }
      }
    },
    "SwiftQueriesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SwiftQueriesResponseBody"
        }
      },
      "description" : "SwiftQueriesResponse"
    },
    "SwiftQueriesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "transactionRef" : {
            "type" : "string",
            "maxLength" : 25
          },
          "ZERONORECORDS" : {
            "type" : "string",
            "description" : "zero records display for NOFILE (an enquiry does not exist in a single file) enquiry for online upgrade"
          },
          "msgType" : {
            "type" : "string",
            "maxLength" : 20
          },
          "referenceNo" : {
            "type" : "string",
            "maxLength" : 16
          },
          "receiverName" : {
            "type" : "string",
            "maxLength" : 30
          },
          "ebAdvice" : {
            "type" : "string",
            "maxLength" : 20
          },
          "tabName" : {
            "type" : "string"
          },
          "tabLine" : {
            "type" : "string"
          }
        }
      }
    },
    "PendingAndProcessedPaymentsOthersResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PendingAndProcessedPaymentsOthersResponseBody"
        }
      },
      "description" : "PendingAndProcessedPaymentsOthersResponse"
    },
    "PendingAndProcessedPaymentsOthersResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "company" : {
            "type" : "string",
            "description" : "The company code",
            "maxLength" : 3
          },
          "ZERONORECORDS" : {
            "type" : "string",
            "description" : "zero records display for NOFILE (an enquiry does not exist in a single file) enquiry for online upgrade"
          },
          "fTNumber" : {
            "type" : "string",
            "maxLength" : 16
          },
          "currency" : {
            "type" : "string",
            "description" : "Indicates the type of currency to which the account belongs",
            "maxLength" : 3
          },
          "amount" : {
            "type" : "string",
            "description" : "This is the payment amount"
          },
          "direction" : {
            "type" : "string",
            "description" : "Indicates the direction of the Direct debit claim for which mandate is received. The claim can be 'Outward' i.e. Claim is sent to the other bank or 'Inward'  i.e. other bank submit their claim to debit our customer's account. ",
            "maxLength" : 1
          },
          "accComp" : {
            "type" : "string"
          },
          "channel" : {
            "type" : "string",
            "description" : "The ID of the Channel",
            "maxLength" : 10
          },
          "accountNumber" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          },
          "accountCurrency" : {
            "type" : "string",
            "description" : "Currency of the account. For example: USD, GBP."
          },
          "processingDate" : {
            "type" : "string",
            "description" : "The date when payment instruction is processed in system.",
            "maxLength" : 10
          },
          "customerSpecifiedReference" : {
            "type" : "string"
          },
          "sendersReference" : {
            "type" : "string",
            "description" : "Indicates the incoming sender's reference i.e. tag 20 of incoming SWIFT or in case when transaction is received from other system/ application, this can also indicate the reference number of that system/ application",
            "maxLength" : 16
          },
          "sendersReferenceOutgoing" : {
            "type" : "string",
            "maxLength" : 16
          },
          "statusCode" : {
            "type" : "string",
            "description" : "Status code, as defined by the institution",
            "maxLength" : 3
          },
          "statusDescription" : {
            "type" : "string"
          },
          "entryDateTime" : {
            "type" : "string",
            "maxLength" : 17
          },
          "cancelReq" : {
            "type" : "string",
            "maxLength" : 2
          },
          "timeOut" : {
            "type" : "string"
          },
          "tabName" : {
            "type" : "string"
          },
          "tabLine" : {
            "type" : "string"
          },
          "oVersion" : {
            "type" : "string"
          },
          "viewDetails" : {
            "type" : "string"
          }
        }
      }
    },
    "StatusMonitorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/StatusMonitorResponseBody"
        }
      },
      "description" : "StatusMonitorResponse"
    },
    "StatusMonitorResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Short title for the Account to be created"
          },
          "totalCount" : {
            "type" : "string"
          },
          "NORECTODISPLAY" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "description" : "The product condition has an activity type associated that drives an action."
          }
        }
      }
    },
    "PaymentsSepaInvestigationsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentsSepaInvestigationsResponseBody"
        }
      },
      "description" : "PaymentsSepaInvestigationsResponse"
    },
    "PaymentsSepaInvestigationsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "OriginalTransactionReference" : {
            "type" : "string",
            "maxLength" : 16
          },
          "Status" : {
            "type" : "string",
            "description" : "The status of the early maturity request",
            "maxLength" : 18
          },
          "NOZERORECORDS" : {
            "type" : "string"
          },
          "SettlementDate" : {
            "type" : "string",
            "maxLength" : 8
          },
          "ClearingName" : {
            "type" : "string",
            "maxLength" : 8
          },
          "TransactionAmount" : {
            "type" : "string",
            "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
            "maxLength" : 19
          },
          "TransactionAmountCurrency" : {
            "type" : "string",
            "maxLength" : 3
          },
          "DebtorAccount" : {
            "type" : "string",
            "maxLength" : 35
          },
          "CreditorAccount" : {
            "type" : "string",
            "maxLength" : 35
          },
          "OriginatedBy" : {
            "type" : "string",
            "maxLength" : 8
          },
          "RecallDate" : {
            "type" : "string",
            "maxLength" : 11
          },
          "CancellationRequestID" : {
            "type" : "string",
            "maxLength" : 35
          },
          "tabName" : {
            "type" : "string",
            "maxLength" : 30
          },
          "tabLine" : {
            "type" : "string",
            "maxLength" : 30
          },
          "ORIG_TXN_TYPE" : {
            "type" : "string",
            "maxLength" : 4
          },
          "ISO_MSG_TYPE" : {
            "type" : "string",
            "maxLength" : 35
          },
          "ORIGINAL_MSG_TYPE" : {
            "type" : "string",
            "maxLength" : 3
          }
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "RepairViewScreenResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/RepairViewScreenResponseBody"
        }
      },
      "description" : "RepairViewScreenResponse"
    },
    "RepairViewScreenResponseBody" : {
      "type" : "object",
      "properties" : {
        "fatalerror" : {
          "type" : "string",
          "minLength" : 0
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts.",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Status" ]
        },
        "processingCompany" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Processing Company" ]
        },
        "transactionReferenceNumber" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "FT Number" ]
        },
        "processingDate" : {
          "type" : "string",
          "description" : "The date when payment instruction is processed in system.",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Processing Date" ]
        },
        "processingdateimposedflag" : {
          "type" : "string",
          "minLength" : 0
        },
        "sender_sReferenceNumber" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Sender's Reference Number" ]
        },
        "sender_sReferenceOutgoing" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Sender's Reference Outgoing" ]
        },
        "priority" : {
          "type" : "string",
          "description" : "Defines the Campaign priority",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Priority" ]
        },
        "relatedReference" : {
          "type" : "string",
          "description" : "An external reference id for the transaction.",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Related Reference" ]
        },
        "product" : {
          "type" : "string",
          "description" : "Indicates an id or name of a product",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Product" ]
        },
        "draftNumber" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "source" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Source" ]
        },
        "outputChannel" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Output Channel" ]
        },
        "outputchannelimposedflag" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Output Channel Imposed Flag" ]
        },
        "paymentDirection" : {
          "type" : "string",
          "description" : "Indicates the direction of payment i.e. incoming, outgoing, book or redirect",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Direction" ]
        },
        "transactionCurrency" : {
          "type" : "string",
          "description" : "Indicates the currency of the transaction. For example GBP, USD etc.",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Transaction Currency" ]
        },
        "instructedCurrency" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Instructed Currency" ]
        },
        "transferType" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Transfer Type" ]
        },
        "transactionAmount" : {
          "type" : "string",
          "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Transaction Amount" ]
        },
        "instructedAmount" : {
          "type" : "string",
          "description" : "Specifies the amount which is allocated or instructed for the account reference included in the selection for a specific transaction.",
          "minLength" : 0,
          "maxLength" : 40
        },
        "incomingMessageType" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Incoming Message Type" ]
        },
        "chargeOption" : {
          "type" : "string",
          "description" : "This field will hold the charge applicable for the order",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Charge Option" ]
        },
        "balanceReservation" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Balance Reservation" ]
        },
        "balanceReservationNumber" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Balance Reservation Number" ]
        },
        "balanceReservationDebitChgAcct" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Balance Reservation Debit Chg Acct" ]
        },
        "pre_AuthorizationNumber" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Pre-Authorization Number" ]
        },
        "beneficiaryID" : {
          "type" : "string",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
          "minLength" : 0,
          "maxLength" : 40
        },
        "senderInstitution" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "senderClearingCode" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Sender Clearing System Code" ]
        },
        "receiverInstitution" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Receiver Institution BIC" ]
        },
        "receiverinstitutionncc" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Receiver Institution NCC" ]
        },
        "receiverClearingCode" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "Receiver Clearing System Code" ]
        },
        "intraCompPayment" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "uniqueEndToEndReference" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40,
          "enum" : [ "UETR" ]
        },
        "dbCrInfo_debitAccountCompany" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_creditAccountCompany" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_orderPartyTagOptionFlag" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_debitAccountNumber" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "debitaccountnumberimposedflag" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 1
        },
        "dbCrInfo_creditAccountNumber" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "creditaccountnumberimposedflag" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 1
        },
        "dbCrInfo_debitAccountNumberBIC" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_creditAccountNumberBIC" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_debitAccountCurrency" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_creditAccountCurrency" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_debitAmount" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_creditAmount" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_debitCustomerRate" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "debitexchangerateimposedflag" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 1
        },
        "dbCrInfo_creditCustomerRate" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "creditexchangerateimposedflag" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 1
        },
        "dbCrInfo_debitCustomerSpread" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "debitcustspreadimposedflag" : {
          "type" : "string",
          "minLength" : 0
        },
        "dbCrInfo_creditCustomerSpread" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "creditcustspreadimposedflag" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 1
        },
        "dbCrInfo_debitTreasuryRate" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "debittreasuryrateimposedflag" : {
          "type" : "string",
          "minLength" : 0
        },
        "dbCrInfo_creditTreasuryRate" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "credittreasuryrateimposedflag" : {
          "type" : "string",
          "minLength" : 0
        },
        "dbCrInfo_debitExchangeRateReference" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_creditExchangeRateReference" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_debitValueDate" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "debitvaluedateimposedflag" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 3
        },
        "dbCrInfo_creditValueDate" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "creditvaluedateimposedflag" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 1
        },
        "dbCrInfo_orderingAccount" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_beneficiaryAccount" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_orderingBIC" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_beneficiaryBIC" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_orderingName" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_beneficiaryName" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_debitInstruction" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "dbCrInfo_creditInstruction" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "errorInfo_rejectDescription" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "errorInfo_cancelDescription" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "errorInfo_return_rejectPayment" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "errorInfo_return_rejectCode" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "errorInfo_return_rejectDescription" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "errorInfo_return_rejectOriginatedBy" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "errorInfo_information" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "errorInfo_warning" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "errorInfo_acceptWarning" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "errorInfo_functionalError" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "errorInfo_technicalError" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "chargeInfo_waiveDebitCharges" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "chargeInfo_repairFee" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "chargeInfo_debitChargeImposedFlag" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "chargeInfo_debitChargeComponent" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "chargeInfo_debitChargeCurrency" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 30
        },
        "chargeInfo_debitChargeAmount" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 28
        },
        "chargeInfo_debitChargeAccountCompany" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "chargeInfo_debitChargeAccount" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "debitchargeaccountimposedflag" : {
          "type" : "string",
          "minLength" : 0
        },
        "chargeInfo_debitChargeAccountCurrency" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "chargeInfo_outgoingReceiver_sCharge" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "debitreceiverchargeimposedflag" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 3
        },
        "chargeInfo_waiveCreditCharges" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "chargeInfo_creditChargeImposedFlag" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "chargeInfo_creditChargeComponent" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "chargeInfo_creditChargeCurrency" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 31
        },
        "chargeInfo_creditChargeAmount" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 29
        },
        "chargeInfo_creditChargeAccountCompany" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "chargeInfo_creditChargeAccount" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "creditchargeaccountimposedflag" : {
          "type" : "string",
          "minLength" : 0
        },
        "chargeInfo_creditChargeAccountCurrency" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 40
        },
        "routingInfo_originalRoutingInfo" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 31,
          "enum" : [ "Original Routing Info" ]
        },
        "orderinginstidentifiercode" : {
          "type" : "string",
          "minLength" : 0
        },
        "orderinginstaccount" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Ordering Institution Account" ]
        },
        "ordinstclearingsystemidcode" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Ordering Institution Clearing System Code" ]
        },
        "orderinginstaddress1" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Ordering Institution Address" ]
        },
        "senderscorresidentifiercode" : {
          "type" : "string",
          "minLength" : 0
        },
        "senderscorresaccount" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Sender's Correspondent Account" ]
        },
        "sendercorrclearingsystemidcode" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Sender Correspondent Clearing System Code" ]
        },
        "senderscorresaddress1" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Sender's Correspondent Address" ]
        },
        "receiverscorresidentifiercode" : {
          "type" : "string",
          "minLength" : 0
        },
        "receiverscorresaccount" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Receiver Correspondent Account" ]
        },
        "receivcorrclearingsystemidcode" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Receiver Correspondent Clearing System Code" ]
        },
        "receiverscorresaddress1" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Receiver Correspondent Address" ]
        },
        "thirdreimburseinstidentifiercd" : {
          "type" : "string",
          "minLength" : 0
        },
        "thirdreimburseinstaccount" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Third Reimbursement Institution Account" ]
        },
        "thirdreimclearingsystemidcode" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Third Reimbursement Inst Clearing System Code" ]
        },
        "thirdreimburseinstaddress1" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Third Reimbursement Institution Address" ]
        },
        "intermediaryinstidentifiercode" : {
          "type" : "string",
          "minLength" : 0
        },
        "intermediaryinstaccount" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Intermediary Institution Account" ]
        },
        "interclearingsystemidcode" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Intermediary Inst Clearing System Code" ]
        },
        "intermediaryinstaddress1" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Intermediary Institution Address" ]
        },
        "accountwithinstidentifiercode" : {
          "type" : "string",
          "minLength" : 0
        },
        "accountwithinstaccount" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Account With Institution Account" ]
        },
        "acntwithclearingsystemidcode" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Account With Inst Clearing System Code" ]
        },
        "accountwithinstaddress1" : {
          "type" : "string",
          "minLength" : 0,
          "enum" : [ "Account With Institution Address" ]
        },
        "adInfo_instructionCode" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35,
          "enum" : [ "Instruction Code" ]
        },
        "adInfo_paymentDetails" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35,
          "enum" : [ "Payment Details" ]
        },
        "adInfo_CategoryPurposeCode" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35,
          "enum" : [ "Category Purpose Code" ]
        },
        "adInfo_categoryPurposeProprietary" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35,
          "enum" : [ "Category Purpose Proprietary" ]
        },
        "adInfo_transactionPurposeCode" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35,
          "enum" : [ "Transaction Purpose Code" ]
        },
        "adInfo_originalSettlementDate" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35,
          "enum" : [ "Original Settlement Date" ]
        },
        "adInfo_originalCollectionDate" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35,
          "enum" : [ "Original Collection Date" ]
        },
        "adInfo_action" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 35
        },
        "auditInfo_aoverride" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 25
        },
        "auditInfo_recordStatus" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 25
        },
        "auditInfo_currNumber" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 25
        },
        "auditInfo_inputterId" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 25
        },
        "auditInfo_dateTime" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 25
        },
        "auditInfo_authoriser" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 25
        },
        "auditInfo_companyCode" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 25
        },
        "auditInfo_departmentCode" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 25
        },
        "auditInfo_auditorId" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 25
        },
        "auditDate_Time" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 25
        },
        "fieldprompt1" : {
          "type" : "string",
          "minLength" : 0
        },
        "oldvalue1" : {
          "type" : "string",
          "minLength" : 0
        },
        "newvalue1" : {
          "type" : "string",
          "minLength" : 0
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
[...]
