{
  "swagger" : "2.0",
  "info" : {
    "description" : "Redeem a Deposit Account",
    "version" : "v1.0.0",
    "title" : "Redeem a Deposit Account"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/deposits/redeemDeposits" : {
      "post" : {
        "summary" : "Redeem a Deposit Account",
        "description" : "Redeem a Deposit Account",
        "operationId" : "redeemDeposits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Deposits"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "redeemDepositsResponse",
            "schema" : {
              "$ref" : "#/definitions/DepositsResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "Deposits" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DepositsBody"
        }
      },
      "description" : "Deposits"
    },
    "DepositsBody" : {
      "type" : "object",
      "properties" : {
        "partyIds" : {
          "type" : "array",
          "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyId" : {
                "type" : "string",
                "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                "maxLength" : 45
              }
            }
          }
        },
        "partyRoles" : {
          "type" : "array",
          "description" : "The role of the customer on the account - select from standard list",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyRole" : {
                "type" : "string",
                "description" : "The role of the customer on the account - select from standard list",
                "maxLength" : 45
              }
            }
          }
        },
        "agentCustomerIds" : {
          "type" : "array",
          "description" : "The id of the 3rd party who sold the product on behalf of the institution.",
          "items" : {
            "type" : "object",
            "properties" : {
              "agentCustomerId" : {
                "type" : "string",
                "description" : "The id of the 3rd party who sold the product on behalf of the institution.",
                "maxLength" : 45
              }
            }
          }
        },
        "agentArrangementIds" : {
          "type" : "array",
          "description" : "The id of the arrangement with the 3rd party that has sold the product on behalf of the institution",
          "items" : {
            "type" : "object",
            "properties" : {
              "agentArrangementId" : {
                "type" : "string",
                "description" : "The id of the arrangement with the 3rd party that has sold the product on behalf of the institution",
                "maxLength" : 45
              }
            }
          }
        },
        "agentRoles" : {
          "type" : "array",
          "description" : "The role of the 3rd party, select from standard list",
          "items" : {
            "type" : "object",
            "properties" : {
              "agentRole" : {
                "type" : "string",
                "description" : "The role of the 3rd party, select from standard list",
                "maxLength" : 45
              }
            }
          }
        },
        "arrangmentId" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 45
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "maxLength" : 45
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "maxLength" : 45
        },
        "currency" : {
          "type" : "string",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "maxLength" : 45
        },
        "productVariation" : {
          "type" : "string",
          "description" : "The product variation that is selected from standard set of values.  ",
          "maxLength" : 45
        },
        "pricingSelection" : {
          "type" : "string",
          "description" : "If the account has an associated pricing arrangement, the way the pricing is applied is indicated from standard set of values - automatic, manual or No Pricing.",
          "maxLength" : 45
        },
        "pricingPlan" : {
          "type" : "string",
          "description" : "The pricing plan for an account, this gives preferential interest rate or charge schedule based on customer segment. Selection can be manual, automatic",
          "maxLength" : 45
        },
        "rewardsArrangementId" : {
          "type" : "string",
          "description" : "The id of the rewards arrangement assigned to this account.",
          "maxLength" : 45
        },
        "tradeDate" : {
          "type" : "string",
          "description" : "Standard date field which records trade date of the account",
          "maxLength" : 45
        },
        "arrangementEffectiveDate" : {
          "type" : "string",
          "description" : "Date from which the arrangement activity is effective",
          "maxLength" : 45
        },
        "reason" : {
          "type" : "string",
          "description" : "Contains the reason for performing the current activity",
          "maxLength" : 45
        },
        "settlement" : {
          "type" : "object",
          "properties" : {
            "payinSettlement1" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payin Settlement" ]
            },
            "ddMandateRef11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "DD Mandate Ref" ]
            },
            "payinAccount11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payin Account" ]
            },
            "payinBeneficiary11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payin Beneficiary" ]
            },
            "payinPercentage11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payin Percentage" ]
            },
            "payinAmount11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payin Amount" ]
            },
            "payoutSettlement1" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payout Settlement" ]
            },
            "payoutAccount11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payout Account" ]
            },
            "payoutBeneficiary11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payout Beneficiary" ]
            },
            "payoutPercentage11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payout Percentage" ]
            },
            "payoutAmount11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payout Amount" ]
            },
            "paymentType11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payment Type" ]
            },
            "payinPoProduct11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payin Product" ]
            },
            "payinActivity11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payin Activity" ]
            },
            "payinAcDbRule1" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payin Account Debit Rule" ]
            },
            "payinSettleActivity1" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payin Settle Activity" ]
            },
            "payinRcType1" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payin RC Type" ]
            },
            "payinRcCondition1" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payin RC Condition" ]
            },
            "defaultSettlementAccount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 26,
              "enum" : [ "Default Settlement Account" ]
            },
            "payoutPptyClass11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Property Class" ]
            },
            "payoutProperty11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payout Property" ]
            },
            "payoutPoProduct11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payout Product" ]
            },
            "payoutActivity11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payout Activity" ]
            },
            "payoutAcCrRule1" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payout Account Credit Rule" ]
            },
            "payoutSettleActivity1" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payout Settle Activity" ]
            },
            "payoutRcType1" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payout RC Type" ]
            },
            "payoutRcCondition1" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payout RC Condition" ]
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "DepositsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DepositsResponseBody"
        }
      },
      "description" : "DepositsResponse"
    },
    "DepositsResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "partyIds" : {
              "type" : "array",
              "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "partyId" : {
                    "type" : "string",
                    "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                    "maxLength" : 45
                  }
                }
              }
            },
            "partyRoles" : {
              "type" : "array",
              "description" : "The role of the customer on the account - select from standard list",
              "items" : {
                "type" : "object",
                "properties" : {
                  "partyRole" : {
                    "type" : "string",
                    "description" : "The role of the customer on the account - select from standard list",
                    "maxLength" : 45
                  }
                }
              }
            },
            "agentCustomerIds" : {
              "type" : "array",
              "description" : "The id of the 3rd party who sold the product on behalf of the institution.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "agentCustomerId" : {
                    "type" : "string",
                    "description" : "The id of the 3rd party who sold the product on behalf of the institution.",
                    "maxLength" : 45
                  }
                }
              }
            },
            "agentArrangementIds" : {
              "type" : "array",
              "description" : "The id of the arrangement with the 3rd party that has sold the product on behalf of the institution",
              "items" : {
                "type" : "object",
                "properties" : {
                  "agentArrangementId" : {
                    "type" : "string",
                    "description" : "The id of the arrangement with the 3rd party that has sold the product on behalf of the institution",
                    "maxLength" : 45
                  }
                }
              }
            },
            "agentRoles" : {
              "type" : "array",
              "description" : "The role of the 3rd party, select from standard list",
              "items" : {
                "type" : "object",
                "properties" : {
                  "agentRole" : {
                    "type" : "string",
                    "description" : "The role of the 3rd party, select from standard list",
                    "maxLength" : 45
                  }
                }
              }
            },
            "arrangmentId" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 45
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
              "maxLength" : 45
            },
            "activityId" : {
              "type" : "string",
              "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "maxLength" : 45
            },
            "currency" : {
              "type" : "string",
              "description" : "Identifies the currency. E.g. USD, GBP etc",
              "maxLength" : 45
            },
            "productVariation" : {
              "type" : "string",
              "description" : "The product variation that is selected from standard set of values.  ",
              "maxLength" : 45
            },
            "pricingSelection" : {
              "type" : "string",
              "description" : "If the account has an associated pricing arrangement, the way the pricing is applied is indicated from standard set of values - automatic, manual or No Pricing.",
              "maxLength" : 45
            },
            "pricingPlan" : {
              "type" : "string",
              "description" : "The pricing plan for an account, this gives preferential interest rate or charge schedule based on customer segment. Selection can be manual, automatic",
              "maxLength" : 45
            },
            "rewardsArrangementId" : {
              "type" : "string",
              "description" : "The id of the rewards arrangement assigned to this account.",
              "maxLength" : 45
            },
            "tradeDate" : {
              "type" : "string",
              "description" : "Standard date field which records trade date of the account",
              "maxLength" : 45
            },
            "arrangementEffectiveDate" : {
              "type" : "string",
              "description" : "Date from which the arrangement activity is effective",
              "maxLength" : 45
            },
            "reason" : {
              "type" : "string",
              "description" : "Contains the reason for performing the current activity",
              "maxLength" : 45
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "settlement" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "payinSettlement1" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payin Settlement" ]
                    },
                    "ddMandateRef11" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "DD Mandate Ref" ]
                    },
                    "payinAccount11" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payin Account" ]
                    },
                    "payinBeneficiary11" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payin Beneficiary" ]
                    },
                    "payinPercentage11" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payin Percentage" ]
                    },
                    "payinAmount11" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payin Amount" ]
                    },
                    "payoutSettlement1" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payout Settlement" ]
                    },
                    "payoutAccount11" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payout Account" ]
                    },
                    "payoutBeneficiary11" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payout Beneficiary" ]
                    },
                    "payoutPercentage11" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payout Percentage" ]
                    },
                    "payoutAmount11" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payout Amount" ]
                    },
                    "paymentType11" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payment Type" ]
                    },
                    "payinPoProduct11" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payin Product" ]
                    },
                    "payinActivity11" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payin Activity" ]
                    },
                    "payinAcDbRule1" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payin Account Debit Rule" ]
                    },
                    "payinSettleActivity1" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payin Settle Activity" ]
                    },
                    "payinRcType1" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payin RC Type" ]
                    },
                    "payinRcCondition1" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payin RC Condition" ]
                    },
                    "defaultSettlementAccount" : {
                      "type" : "string",
                      "description" : "",
                      "maxLength" : 26,
                      "enum" : [ "Default Settlement Account" ]
                    },
                    "payoutPptyClass11" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Property Class" ]
                    },
                    "payoutProperty11" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payout Property" ]
                    },
                    "payoutPoProduct11" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payout Product" ]
                    },
                    "payoutActivity11" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payout Activity" ]
                    },
                    "payoutAcCrRule1" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payout Account Credit Rule" ]
                    },
                    "payoutSettleActivity1" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payout Settle Activity" ]
                    },
                    "payoutRcType1" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payout RC Type" ]
                    },
                    "payoutRcCondition1" : {
                      "type" : "string",
                      "description" : "",
                      "enum" : [ "Payout RC Condition" ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ArrangementErrorResponse"
    },
    "ArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessArrangementErrorResponse"
    },
    "BusinessArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemArrangementErrorResponse"
    },
    "SystemArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}