{
    "swagger": "2.0",
    "info":
    {
        "description": "Create or Update Transaction Stop Instruction",
        "version": "v1.0.0",
        "title": "Order Transaction Stop"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/order/transactionStops":
        {
            "post":
            {
                "operationId": "createTransactionStop",
                "produces": ["application/json"],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/orderTransactionStop"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "TransactionStopResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/orderTransactionStopResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/transactionStops/{transactionStopId}":
        {
            "put":
            {
                "operationId": "updateTransactionStop",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "transactionStopId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/orderTransactionStop"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "TransactionStopResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/orderTransactionStopResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "PayloadHeader":
        {
            "properties":
            {
                "override":
                {
                    "type": "object",
                    "properties":
                    {
                        "overrideDetails":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "id":
                                    {
                                        "type": "string",
                                        "description": "The identifier of the override"
                                    },
                                    "description":
                                    {
                                        "type": "string",
                                        "description": "The actual override message"
                                    },
                                    "responseCode":
                                    {
                                        "type": "string",
                                        "description": "The user input to accept/reject the override."
                                    }
                                }
                            }
                        }
                    }
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        }
                    }
                }
            }
        },
        "orderTransactionStop":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/orderTransactionStopBody"
                }
            },
            "description": "orderTransactionStop"
        },
        "orderTransactionStopBody":
        {
            "type": "object",
            "properties":
            {
                "attributes":
                {
                    "type": "array",
                    "description": "The value of the field on which the Alert criteria is based",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "attributeName":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "operand":
                            {
                                "type": "string",
                                "description": "This field along with fieldName and value, defines the conditions for the alert to be triggered."
                            },
                            "values":
                            {
                                "type": "array",
                                "items":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "value":
                                        {
                                            "type": "string",
                                            "description": "The value of the field on which the Alert criteria is based"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "customerId":
                {
                    "type": "number",
                    "description": "The identifier of the customer"
                },
                "accountId":
                {
                    "type": "number",
                    "description": "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."
                },
                "transactionStopConditionId":
                {
                    "type": "string",
                    "description": ""
                },
                "transactionStopChannel":
                {
                    "type": "string",
                    "description": ""
                },
                "stopInstructionChannel":
                {
                    "type": "string",
                    "description": ""
                },
                "stopReason":
                {
                    "type": "string",
                    "description": ""
                }
            }
        },
        "ScreenHeader":
        {
            "properties":
            {
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "The status of the record"
                },
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "orderTransactionStopResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ScreenHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/orderTransactionStopResponseBody"
                }
            },
            "description": "orderTransactionStopResponse"
        },
        "orderTransactionStopResponseBody":
        {
            "type": "object",
            "properties":
            {
                "attributes":
                {
                    "type": "array",
                    "description": "The value of the field on which the Alert criteria is based",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "attributeName":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "operand":
                            {
                                "type": "string",
                                "description": "This field along with fieldName and value, defines the conditions for the alert to be triggered."
                            },
                            "values":
                            {
                                "type": "array",
                                "items":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "value":
                                        {
                                            "type": "string",
                                            "description": "The value of the field on which the Alert criteria is based"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "customerId":
                {
                    "type": "number",
                    "description": "The identifier of the customer"
                },
                "accountId":
                {
                    "type": "number",
                    "description": "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."
                },
                "transactionStopConditionId":
                {
                    "type": "string",
                    "description": ""
                },
                "transactionStopChannel":
                {
                    "type": "string",
                    "description": ""
                },
                "stopInstructionChannel":
                {
                    "type": "string",
                    "description": ""
                },
                "stopReason":
                {
                    "type": "string",
                    "description": ""
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "The status of the record"
                },
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "overrideBody":
        {
            "properties":
            {
                "overrideDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "id":
                            {
                                "type": "string",
                                "description": "The identifier of the override"
                            },
                            "description":
                            {
                                "type": "string",
                                "description": "The actual override message"
                            }
                        }
                    }
                }
            }
        },
        "ScreenErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/ScreenErrorResponseBody"
                },
                "override":
                {
                    "$ref": "#/definitions/overrideBody"
                }
            },
            "description": "ScreenErrorResponse"
        },
        "ScreenErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "errorDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "fieldName":
                            {
                                "type": "string",
                                "description": "The name of the field"
                            },
                            "code":
                            {
                                "type": "string",
                                "description": "The identifier of the error message"
                            },
                            "message":
                            {
                                "type": "string",
                                "description": "The actual t24 error message"
                            }
                        }
                    }
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        }
    }
}