{
  "swagger": "2.0",
  "info": {
    "description": "Retrieves all the Holdings",
    "version": "v1.0.0",
    "title": "Holdings APIs"
  },
  "host": "api.temenos.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/holdings/": {
      "get": {
        "operationId": "getHoldings",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "The identifier of the customer",
            "required": false,
            "type": "string"
          },
          {
            "name": "holdingsType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "holdingsId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "getPreferredHoldings",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "credentials",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "HoldingsResponse",
            "schema": {
              "$ref": "#/definitions/HoldingsResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "HoldingsResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryHeader"
        },
        "body": {
          "$ref": "#/definitions/HoldingsResponseBody"
        }
      },
      "description": "HoldingsResponse"
    },
    "HoldingsResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "products": {
            "type": "array",
            "description": "The product for which the pricing plan is applicable",
            "items": {
              "type": "object",
              "properties": {
                "productLineName": {
                  "type": "string",
                  "description": "\"Description of the product line, e.g. \"\"Client Consent\"\" for product line CONSENT.\""
                },
                "arrangementId": {
                  "type": "string",
                  "description": "The identifier of the arrangement"
                },
                "productGroupId": {
                  "type": "string",
                  "description": "The group, as defined by the institution, that the product belongs to."
                },
                "productGroupName": {
                  "type": "string",
                  "description": "Description of the product group"
                },
                "productId": {
                  "type": "string",
                  "description": "Id of the product."
                },
                "productDescription": {
                  "type": "string",
                  "description": "Description of the product"
                },
                "accountId": {
                  "type": "string",
                  "description": "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."
                },
                "shortTitle": {
                  "type": "string",
                  "description": ""
                },
                "categoryId": {
                  "type": "string",
                  "description": "Identifier of the product category"
                },
                "companyCode": {
                  "type": "string",
                  "description": "Company code in audit details"
                },
                "currencyId": {
                  "type": "string",
                  "description": "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
                },
                "sortCode": {
                  "type": "string",
                  "description": "The bank identifier code which identifies both the bank and the branch where the account is held."
                },
                "accountIBAN": {
                  "type": "string",
                  "description": "Represents the International Bank Account Number (IBAN)"
                },
                "workingBalance": {
                  "type": "number",
                  "description": "Real-time balance including all authorised transactions posted against the account and, unless it is a nostro or internal account, unauthorised debit entries."
                },
                "openingDate": {
                  "type": "string",
                  "format": "date",
                  "description": "The date the account is opened."
                },
                "companyName": {
                  "type": "string",
                  "description": "The company in which payment is processed"
                },
                "preferredProduct": {
                  "type": "string",
                  "description": ""
                },
                "preferredProductPosition": {
                  "type": "string",
                  "description": ""
                },
                "preferredProductLabel": {
                  "type": "string",
                  "description": ""
                },
                "permission": {
                  "type": "string",
                  "description": ""
                },
                "onlineActualBalance": {
                  "type": "number",
                  "description": "Real-time balance including all authorised transactions posted against the account, excluding any entries with a future processing date."
                },
                "availableBalance": {
                  "type": "number",
                  "description": "Shows the net balance of an account, however may or may not include unauthorized debits and credits depending on the business setup."
                },
                "availableBalanceWithLimit": {
                  "type": "number",
                  "description": ""
                },
                "outstandingAmount": {
                  "type": "number",
                  "description": "Identifies the total outstanding amount for the corresponding Liability number and Limit reference. "
                },
                "paidOutAmount": {
                  "type": "number",
                  "description": "The amount paid out."
                },
                "arrangementStatus": {
                  "type": "string",
                  "description": "Status of the arrangement: UNAUTH - input but not authorised yet. AUTH - authorised. AUTH-FWD (Forward) - authorised, will become active on a future date. CURRENT - the arrangement has begun full or partial disbursement. MATURED - the contract has matured and all dues have been cleared. EXPIRED - the contract has gone past its final payment date with some dues left unsettled. REVERSED - reversed. CANCELLED - cancelled (only for deposits) CLOSE - closed PENDING.CLOSURE - ready for closure"
                },
                "totalPrincipal": {
                  "type": "number",
                  "description": ""
                },
                "connectionId": {
                  "type": "string",
                  "description": ""
                },
                "balancesLastUpdated": {
                  "type": "string",
                  "description": ""
                },
                "transactionsLastUpdated": {
                  "type": "string",
                  "description": ""
                },
                "bankLogo": {
                  "type": "string",
                  "description": ""
                },
                "extSourceProvider": {
                  "type": "string",
                  "description": ""
                },
                "customerId": {
                  "type": "string",
                  "description": "The identifier of the customer"
                },
                "connectionStatus": {
                  "type": "string",
                  "description": ""
                },
                "connectionSubStatus": {
                  "type": "string",
                  "description": ""
                },
                "nextRefreshAvailableAt": {
                  "type": "string",
                  "description": ""
                },
                "acctSwiftRef": {
                  "type": "string",
                  "description": ""
                },
                "extAccountNumber": {
                  "type": "string",
                  "description": ""
                },
                "paymentTemplates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "paymentTemplate": {
                        "type": "string",
                        "description": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "productLineId": {
            "type": "string",
            "description": "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products."
          },
          "totalAccountBalances": {
            "type": "number",
            "description": ""
          },
          "totalDepositBalances": {
            "type": "number",
            "description": ""
          },
          "totalLoanBalances": {
            "type": "number",
            "description": ""
          },
          "totalExtAccountBalances": {
            "type": "string",
            "description": ""
          }
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual t24 error message"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type"
        }
      }
    }
  }
}