{
    "swagger": "2.0",
    "info":
    {
        "description": "List the bundle accounts moved into exception due to setup issue",
        "version": "v1.0.0",
        "title": "Pool Exception Log APIs"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/holdings/cashManagement/bundles/{bundleId}/exceptions":
        {
            "get":
            {
                "description": "List of account Exceptional in Bundle Hierarchy",
                "operationId": "getCashPoolExceptionLog",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "bundleId",
                    "in": "path",
                    "description": "",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "CashPoolExceptionLogResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/CashPoolExceptionLogResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "QueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                }
            }
        },
        "CashPoolExceptionLogResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/CashPoolExceptionLogResponseBody"
                }
            },
            "description": "CashPoolExceptionLogResponse"
        },
        "CashPoolExceptionLogResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "bundleArrangement":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 35
                    },
                    "accountAlias":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 35
                    },
                    "accountReference":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 35
                    },
                    "productName":
                    {
                        "type": "string",
                        "description": "Name of the product, which is also its Id.",
                        "maxLength": 35
                    },
                    "accountCompany":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 11
                    },
                    "accountCountry":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 35
                    },
                    "accountCurrency":
                    {
                        "type": "string",
                        "description": "The currency of the account",
                        "maxLength": 3
                    },
                    "accountLevel":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 15
                    },
                    "accountProduct":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 30
                    },
                    "accountSequence":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 3
                    },
                    "activityReference":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 40
                    },
                    "alternateReference":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 30
                    },
                    "cancel":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 3
                    },
                    "customer":
                    {
                        "type": "string",
                        "description": "The customer number",
                        "maxLength": 10
                    },
                    "errorMessage":
                    {
                        "type": "string",
                        "description": "Description of the error.",
                        "maxLength": 100
                    },
                    "errorSource":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 35
                    },
                    "errorType":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 35
                    },
                    "keepBalance":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 3
                    },
                    "linkType":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 20
                    },
                    "liveDate":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 11
                    },
                    "newBundle":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 17
                    },
                    "parentAccount":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 35
                    },
                    "shortName":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 35
                    },
                    "status":
                    {
                        "type": "string",
                        "description": "The status identifier",
                        "maxLength": 5
                    },
                    "overallStatus":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 35
                    }
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "QueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/QueryErrorResponseBody"
                }
            },
            "description": "QueryErrorResponse"
        },
        "QueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        }
    }
}