{
  "swagger" : "2.0",
  "info" : {
    "description" : "Reverse or Delete a Current Account",
    "version" : "v1.0.0",
    "title" : "Reverse or Delete a Current Account"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/accounts/{activityId}/reverseAccounts" : {
      "delete" : {
        "summary" : "Reverse or Delete a Current Account",
        "description" : "Reverse or Delete a Current Account",
        "operationId" : "reverseAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "reverseAccountsResponse",
            "schema" : {
              "$ref" : "#/definitions/AccountsResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "activityId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "AccountsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AccountsResponseBody"
        }
      },
      "description" : "AccountsResponse"
    },
    "AccountsResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "partyIds" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "partyId" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "partyRoles" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "partyRole" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "agentCustomerIds" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "agentCustomerId" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "agentArrangementIds" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "agentArrangementId" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "agentRoles" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "agentRole" : {
                    "type" : "string",
                    "description" : "",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "arrangmentId" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 45
            },
            "productId" : {
              "type" : "string",
              "description" : "The identifier of the product",
              "minLength" : 0,
              "maxLength" : 45
            },
            "activityId" : {
              "type" : "string",
              "description" : "The identifier of the activity",
              "minLength" : 0,
              "maxLength" : 45
            },
            "currency" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 45
            },
            "productVariation" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 45
            },
            "pricingSelection" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 45
            },
            "pricingPlan" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 45
            },
            "rewardsArrangementId" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 45
            },
            "tradeDate" : {
              "type" : "string",
              "description" : "The trade date of the contract",
              "minLength" : 0,
              "maxLength" : 45
            },
            "arrangementEffectiveDate" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 45
            },
            "reason" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 45
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "balance" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "accountTitle" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "accountTitle2" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "shortTitle" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "altId1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "Mnemonic" : {
                      "type" : "string",
                      "description" : "The alternative means of referencing the record",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "accountReference" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "customerReference" : {
                      "type" : "string",
                      "description" : "The reference quoted by customer of the ordering account in a payment that is to be communicated to the beneficiary when a payment takes place",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "originationRef" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "Category" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "postingRestrict" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "baseDateType" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "Anniversary" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "dateConvention" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "dateAdjustment" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "busDayCentres" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "portfolioId" : {
                      "type" : "string",
                      "description" : "The identifier of the portfolio",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "inactiveMonths" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "accountingCompany" : {
                      "type" : "string",
                      "description" : "The legal entity that processes the accounting",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "referalCode" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 18
                    },
                    "baseDateKey" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 22
                    },
                    "Restriction" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 11,
                      "enum" : [ "Reason for Posting Restrict" ]
                    },
                    "blockingCode1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 20,
                      "enum" : [ "Reason for Posting Restrict" ]
                    },
                    "blockingReason11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 25
                    },
                    "startDate1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 5
                    },
                    "expiryDate1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 5
                    },
                    "unblockingReason" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 20
                    },
                    "unblockingReason11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 25
                    }
                  }
                }
              }
            },
            "messaging" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "advice1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "activityClass1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "activityId1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "role11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "msgContent1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "sendAdvice1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "preNotice" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 12
                    },
                    "preNoticeDays1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    }
                  }
                }
              }
            },
            "activityCharges" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "appPeriod11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "appMethod11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "chargeAutoSettle11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    }
                  }
                }
              }
            },
            "agentCommission" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "agentId1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 1
                    },
                    "agentArrId1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "agentRole1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 2
                    },
                    "onlineEvent11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "scheduledEvent11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "fixedAmount11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "marginOperand11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "marginRate11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "marginPercent11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    }
                  }
                }
              }
            },
            "rewardsPoints" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "agentId1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 1
                    },
                    "agentArrId1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "agentRole1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 2
                    },
                    "onlineEvent11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "scheduledEvent11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "fixedAmount11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "marginOperand11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "marginRate11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "marginPercent11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    }
                  }
                }
              }
            },
            "alerts" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "event1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 0
                    },
                    "field11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 0
                    },
                    "operand11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 0
                    },
                    "value11" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 0
                    }
                  }
                }
              }
            },
            "highestdebit" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "Type" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "fixedAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "chargeRoutine" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierGroups" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierType" : {
                      "type" : "string",
                      "description" : "Defines the type of the tier rate",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "calcType" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "Charge" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "chgAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "Tier" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierMaxCharge1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "upTo" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 5
                    },
                    "tierCount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingLevel" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingCode" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjPercent" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipProduct" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipVariation" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipPercentage" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesBenefit1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjOperand1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjPercentage1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    }
                  }
                }
              }
            },
            "chequewd" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "Type" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "fixedAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "chargeRoutine" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierGroups" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierType" : {
                      "type" : "string",
                      "description" : "Defines the type of the tier rate",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "calcType" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "Charge" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "chgAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "Tier" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierMaxCharge1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "upTo" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 5
                    },
                    "tierCount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingLevel" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingCode" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjPercent" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipProduct" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipVariation" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipPercentage" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesBenefit1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjOperand1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjPercentage1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    }
                  }
                }
              }
            },
            "minbalfee" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "Type" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "fixedAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "chargeRoutine" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierGroups" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierType" : {
                      "type" : "string",
                      "description" : "Defines the type of the tier rate",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "calcType" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "Charge" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "chgAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "Tier" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierMaxCharge1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "upTo" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 5
                    },
                    "tierCount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingLevel" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingCode" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjPercent" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipProduct" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipVariation" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipPercentage" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesBenefit1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjOperand1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjPercentage1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    }
                  }
                }
              }
            },
            "noofcredits" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "Type" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "fixedAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "chargeRoutine" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierGroups" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierType" : {
                      "type" : "string",
                      "description" : "Defines the type of the tier rate",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "calcType" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "Charge" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "chgAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "Tier" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierMaxCharge1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "upTo" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 5
                    },
                    "tierCount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingLevel" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingCode" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjPercent" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipProduct" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipVariation" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipPercentage" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesBenefit1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjOperand1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjPercentage1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    }
                  }
                }
              }
            },
            "noofdebits" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "Type" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "fixedAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "chargeRoutine" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierGroups" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierType" : {
                      "type" : "string",
                      "description" : "Defines the type of the tier rate",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "calcType" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "Charge" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "chgAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "Tier" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierMaxCharge1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "upTo" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 5
                    },
                    "tierCount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingLevel" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingCode" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjPercent" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipProduct" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipVariation" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipPercentage" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesBenefit1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjOperand1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjPercentage1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    }
                  }
                }
              }
            },
            "turnovercredit" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "Type" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "fixedAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "chargeRoutine" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierGroups" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierType" : {
                      "type" : "string",
                      "description" : "Defines the type of the tier rate",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "calcType" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "Charge" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "chgAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "Tier" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierMaxCharge1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "upTo" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 5
                    },
                    "tierCount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingLevel" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingCode" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjPercent" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipProduct" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipVariation" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipPercentage" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesBenefit1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjOperand1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjPercentage1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    }
                  }
                }
              }
            },
            "turnoverdebit" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "Type" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "fixedAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "chargeRoutine" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierGroups" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierType" : {
                      "type" : "string",
                      "description" : "Defines the type of the tier rate",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "calcType" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "Charge" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "chgAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "Tier" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierMaxCharge1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "upTo" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 5
                    },
                    "tierCount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingLevel" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingCode" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjPercent" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipProduct" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipVariation" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipPercentage" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesBenefit1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjOperand1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjPercentage1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    }
                  }
                }
              }
            },
            "bonus" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "Type" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "fixedAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "chargeRoutine" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierGroups" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierType" : {
                      "type" : "string",
                      "description" : "Defines the type of the tier rate",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "calcType" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "Charge" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "chgAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "Tier" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierMaxCharge1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "upTo" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 5
                    },
                    "tierCount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingLevel" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingCode" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjPercent" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipProduct" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipVariation" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipPercentage" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesBenefit1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjOperand1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjPercentage1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    }
                  }
                }
              }
            },
            "investcredit" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "Type" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "fixedAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "chargeRoutine" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierGroups" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "tierType" : {
                      "type" : "string",
                      "description" : "Defines the type of the tier rate",
                      "minLength" : 0,
                      "maxLength" : 14
                    },
                    "calcType" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 9
                    },
                    "Charge" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 6
                    },
                    "chgAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "Tier" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 4
                    },
                    "tierMaxCharge1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "upTo" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 5
                    },
                    "tierCount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingLevel" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingCode" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjPercent" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "regionalPricingAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipProduct" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipVariation" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjOperand" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipPercentage" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAdjAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "relationshipAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesBenefit1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjOperand1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjPercentage1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAdjAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    },
                    "pricingRulesAmount1" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0
                    }
                  }
                }
              }
            },
            "achcreditfee" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
[...]
