{
  "swagger" : "2.0",
  "info" : {
    "description" : "External amendment to LCs",
    "version" : "v1.0.0",
    "title" : "updateLC"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/letterOfCredits/{letterOfCreditId}" : {
      "put" : {
        "operationId" : "updateLC",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "letterOfCreditId",
          "in" : "path",
          "description" : "Identifier of the Letter Of Credit",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/LC"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "LCResponse",
            "schema" : {
              "$ref" : "#/definitions/LCResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "LC" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/LCBody"
        }
      },
      "description" : "LC"
    },
    "LCBody" : {
      "type" : "object",
      "required" : [ "advisingBankReference" ],
      "properties" : {
        "additionalAmountsCovered" : {
          "type" : "array",
          "description" : "Specifies any additional amounts available under the Letter of Credit, such as insurance, freight, interest, etc.",
          "items" : {
            "type" : "object",
            "properties" : {
              "additionalAmountCovered" : {
                "type" : "string",
                "description" : "Specifies any additional amounts available under the Letter of Credit, such as insurance, freight, interest, etc.",
                "maxLength" : 33
              }
            }
          }
        },
        "beneficiaries" : {
          "type" : "array",
          "description" : "Identifies the Beneficiary name and address of the Standing Order",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiary" : {
                "type" : "string",
                "description" : "Identifies the Beneficiary name and address of the Standing Order",
                "maxLength" : 32
              }
            }
          }
        },
        "shipmentPeriods" : {
          "type" : "array",
          "description" : "Indicates the period of time which the goods are to be loaded on board/dispatched/taken in charge.",
          "items" : {
            "type" : "object",
            "properties" : {
              "shipmentPeriod" : {
                "type" : "string",
                "description" : "Indicates the period of time which the goods are to be loaded on board/dispatched/taken in charge.",
                "maxLength" : 32
              }
            }
          }
        },
        "narrativeCharges" : {
          "type" : "array",
          "description" : "Field to specify the details of the charges to be borne by the beneficiary",
          "items" : {
            "type" : "object",
            "properties" : {
              "narrativeCharge" : {
                "type" : "string",
                "description" : "Field to specify the details of the charges to be borne by the beneficiary",
                "maxLength" : 32
              }
            }
          }
        },
        "charges" : {
          "type" : "array",
          "description" : "The charges or fees for this transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeCode" : {
                "type" : "string",
                "description" : "Indicates the charge code to which the charges are identified and calculated and to be debited to the customer account. For example: C(Credit less Charges The Credit less Charges), D(Debit plus Charge The Debit plus Charge) , W(Waive).",
                "maxLength" : 25
              },
              "partyCharged" : {
                "type" : "string",
                "description" : "Code to determine the identity of the party from whom the related charge is to be taken. Allowed values: -B(eneficiary) - O(pener) - T(hird Party).",
                "maxLength" : 25
              },
              "chargeDebitAccount" : {
                "type" : "string",
                "description" : "The account number of the account where charges will be debited to.",
                "maxLength" : 25
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted",
                "maxLength" : 25
              },
              "chargeExchangeRate" : {
                "type" : "string",
                "description" : "Indicates the exchange rate to be used between the charge debit account and the charge currency is different.",
                "maxLength" : 25
              },
              "chargeAmount" : {
                "type" : "string",
                "description" : "Retrieves the Charge Amount after redeem",
                "maxLength" : 25
              },
              "amortiseCharge" : {
                "type" : "string",
                "description" : "Define if charges are to be amortised over the life of the LC. Y or N  input",
                "maxLength" : 25
              },
              "chargeStatus" : {
                "type" : "string",
                "description" : "Indicates the codes to identify the different status of the charge. If the charge has been taken, claimed, or to be deferred or waived. The codes that are used to identify various states of the charge are: null, 2, 3, 4, 5, 15. ",
                "maxLength" : 25
              },
              "taxCurrency" : {
                "type" : "string",
                "description" : "Contains the currency that tax is to be levied in. Example USD, GBP etc.",
                "maxLength" : 25
              },
              "taxAmount" : {
                "type" : "string",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment.",
                "maxLength" : 25
              }
            }
          }
        },
        "reimNarratives" : {
          "type" : "array",
          "description" : "This field holds the details of the amendments (Tag 77), while generating/receiving MT747 message type.(Amendment to an authorisation to reimburse.)",
          "items" : {
            "type" : "object",
            "properties" : {
              "reimNarrative" : {
                "type" : "string",
                "description" : "This field holds the details of the amendments (Tag 77), while generating/receiving MT747 message type.(Amendment to an authorisation to reimburse.)",
                "maxLength" : 33
              }
            }
          }
        },
        "lcNumber" : {
          "type" : "string",
          "description" : "Identifies the Advising banks LCs number (or reference of the L/C from legacy system) or it can be used for the bank to use a unique Letter of Credit number rather than the system generated ID",
          "maxLength" : 32
        },
        "advisingBankReference" : {
          "type" : "string",
          "description" : "Advising Bank reference number for use on messages and advices under the LC contract",
          "maxLength" : 25
        },
        "issueDate" : {
          "type" : "string",
          "description" : "The date the item was issued.",
          "maxLength" : 32
        },
        "amendmentDate" : {
          "type" : "string",
          "description" : "Date of the last external amendment, on which the issuing bank considers the Letter of Credit as being amended.",
          "maxLength" : 25
        },
        "lcType" : {
          "type" : "string",
          "description" : "Indicates the type of LC, whether this is an Import/Export, Confirmed/Unconfirmed/Revolving/Transferrable/Back to Back LC/documentary collection/Clean collection etc.",
          "maxLength" : 32
        },
        "applicant" : {
          "type" : "string",
          "description" : "Indicates the applicant name and address on whose behalf the Letter of Credit is being pre advised.",
          "maxLength" : 32
        },
        "advisingBank" : {
          "type" : "string",
          "description" : "Identifies the advising bank under the Letter of Credit, through whom the Letter of Credit is to be advised to the second advising bank or beneficiary",
          "maxLength" : 32
        },
        "newLcCurrency" : {
          "type" : "string",
          "description" : "Denote the currency of the Letter of Credit",
          "maxLength" : 32
        },
        "newLcAmount" : {
          "type" : "string",
          "description" : "This field indicates the new amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit.",
          "maxLength" : 25
        },
        "creditTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit the amount can be specified plus or minus a tolerance expressed as a percentage which will always impact the LC liability for the greater amount including the plus tolerance as defined in this field.",
          "maxLength" : 33
        },
        "debitTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit, the amount can be specified with a tolerance, which will impact the LC liability for the greater amount. The amount in this field specifies a negative tolerance expressed as a percentage of the LC amount. It can impact the final drawing amount but not the live LC amount.",
          "maxLength" : 33
        },
        "purposeOfMessage" : {
          "type" : "string",
          "description" : "Indicates the purpose of MT707 amendment message, whether its the issuance of amendment message or advise of amendment message to the second advising bank or advise and confirmation of amendment message to the second advising bank. Permitted Codes are: ACNF - Advice and confirmation of the credit amendment ADVI - Advice of the credit amendment ISSU - Issuance of the credit amendment",
          "maxLength" : 32
        },
        "cancellationRequest" : {
          "type" : "string",
          "description" : "Indicates that the documentary credit is requested to be cancelled. Valid input in this field is CANCEL.",
          "maxLength" : 25
        },
        "daysAndPeriodForPresentation" : {
          "type" : "string",
          "description" : "Specifies the number of calendar days after the date of shipment within which the documents must be presented for payment, acceptance or negotiation. ",
          "maxLength" : 32
        },
        "latestShipmentDate" : {
          "type" : "string",
          "description" : "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC.",
          "maxLength" : 25
        },
        "newLCExpiryDate" : {
          "type" : "string",
          "description" : "New Expiry date for presentation under the Letter of Credit",
          "maxLength" : 33
        },
        "newLCExpiryPlace" : {
          "type" : "string",
          "description" : "New Expiry place for presentation under the documentary credit.",
          "maxLength" : 25
        },
        "liabilityReversalDate" : {
          "type" : "string",
          "description" : "Date on which the contingent entries and the limits raised on the LC will be reversed.",
          "maxLength" : 32
        },
        "limitReference" : {
          "type" : "string",
          "description" : "Identifies the credit limit reference for the underlying account.",
          "maxLength" : 25
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
          "maxLength" : 32
        },
        "autoExpiry" : {
          "type" : "string",
          "description" : "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not Allowed values: - YES - NO - null (default value, same as NO)",
          "maxLength" : 25
        },
        "placeOfTakingInCharge" : {
          "type" : "string",
          "description" : "Indicates the place of taking in charge(in case of multimodal transport document), the place of receipt(in case of a road, rail or inland waterway transport document or a courier expedited delivery service document), the place of dispatch or the place of shipment to be indicated on the transport document",
          "maxLength" : 32
        },
        "portOfLoading" : {
          "type" : "string",
          "description" : "Indicates the place of dispatch or taking in charge of the goods or loading on board for shipments made under the LC.",
          "maxLength" : 32
        },
        "portOfDischarge" : {
          "type" : "string",
          "description" : "Indicates the port of discharge or the airport of destination of the shipment under the LC.",
          "maxLength" : 32
        },
        "finalDestination" : {
          "type" : "string",
          "description" : "Indicates the final destination or place of delivery of the shipment under the LC.",
          "maxLength" : 32
        },
        "reimbursingBank" : {
          "type" : "string",
          "description" : "Identifies the reimbursing bank ID under the LC, through whom reimbursement will be made to the paying/negotiating bank for a letter of credit. (Reimbursing bank should be a valid customer with customer ID)",
          "maxLength" : 32
        },
        "reimbursingBankAndAddress" : {
          "type" : "string",
          "description" : "Identifies the Name & Address of the reimbursing bank under the LC. If the third party reimbursing bank is not one of the banks customers (i.e. not on the customer list), then this field allows the input of a name and address of the reimbursing bank.",
          "maxLength" : 32
        },
        "applicableRuleCodesMT740" : {
          "type" : "string",
          "description" : "Indicates the reimbursement rules that the Letter of Credit contract is subject to. Allowed values: - URR LATEST VERSION - NOTURR - null (default)",
          "maxLength" : 32
        },
        "chargeFrom" : {
          "type" : "string",
          "description" : "Code to identify from whom the bank is to claim its charges. Allowed values: - O(pener) - B(eneficiary) - T(hird Party)",
          "maxLength" : 25
        },
        "chargeBaseAmount" : {
          "type" : "string",
          "description" : "Indicates the portion of the Letter of Credit amount for which the charges are to be applied at the time of amendment instead of recalculation the charges for the full LC value. If left blank, LC.AMOUNT will be used for calculating default charges",
          "maxLength" : 16
        },
        "chargeDefaultAccount" : {
          "type" : "string",
          "description" : "This field identifies the default charge account under which all present and future charges under the letter of credit will be debited to. This eliminates the need to specify the charge account for every charge",
          "maxLength" : 25
        },
        "waiveCharge" : {
          "type" : "string",
          "description" : "Indicates if the charges are to be waived for the instruction",
          "maxLength" : 25
        },
        "marginRequired" : {
          "type" : "string",
          "description" : "Decision field enabling a cash margin to be blocked for the LC contract. Yes or No, default is No",
          "maxLength" : 25
        },
        "marginCalculationBase" : {
          "type" : "string",
          "description" : "This field determines if the margin to be calculated based on the LC base amount or the total liability amount including tolerance etc.",
          "maxLength" : 25
        },
        "marginPercent" : {
          "type" : "string",
          "description" : "Field to state the percentage of provision to be taken",
          "maxLength" : 25
        },
        "marginDebitAccount" : {
          "type" : "string",
          "description" : "Field to state the account from which the provision amount is to be debited",
          "maxLength" : 25
        },
        "marginAmount" : {
          "type" : "number",
          "description" : "Actual amount of provision that is debited for the transaction"
        },
        "marginExchangeRate" : {
          "type" : "string",
          "description" : "This Field determines the exchange rate to be used between the provision debit account and the provision credit account, when the currencies differ",
          "maxLength" : 25
        },
        "limitWithProvision" : {
          "type" : "string",
          "description" : "This field determines if the margin calculated to be debited after considering the limits booked under the LC contract. Yes or No",
          "maxLength" : 25
        },
        "docyCreditNumber" : {
          "type" : "string",
          "description" : "Identifies the Advising banks LCs number (or reference of the L/C from legacy system) or it can be used for the bank to use a unique Letter of Credit number rather than the system generated ID",
          "maxLength" : 33
        },
        "reimbursingBankReference" : {
          "type" : "string",
          "description" : "Identifies the reimbursing banks number, to be input at the time of generating the SWIFT MT747 (Amendment to an authorisation to reimburse.)",
          "maxLength" : 33
        },
        "dateOfOriginalAuthorisation" : {
          "type" : "string",
          "description" : "This is a system populated field to display the date on which MT740 (Authorization to Reimburse) was sent.",
          "maxLength" : 33
        },
        "newDocyCreditAmount" : {
          "type" : "number",
          "description" : "Denote the currency of the Letter of Credit."
        },
        "senderToReceiverInfo" : {
          "type" : "string",
          "description" : "This field holds the additional information for the Receiver (Tag 72Z), while receiving/generating MT740 message.",
          "maxLength" : 33
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "LCResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/LCResponseBody"
        }
      },
      "description" : "LCResponse"
    },
    "LCResponseBody" : {
      "type" : "object",
      "properties" : {
        "additionalAmountsCovered" : {
          "type" : "array",
          "description" : "Specifies any additional amounts available under the Letter of Credit, such as insurance, freight, interest, etc.",
          "items" : {
            "type" : "object",
            "properties" : {
              "additionalAmountCovered" : {
                "type" : "string",
                "description" : "Specifies any additional amounts available under the Letter of Credit, such as insurance, freight, interest, etc.",
                "maxLength" : 33
              }
            }
          }
        },
        "beneficiaries" : {
          "type" : "array",
          "description" : "Identifies the Beneficiary name and address of the Standing Order",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiary" : {
                "type" : "string",
                "description" : "Identifies the Beneficiary name and address of the Standing Order",
                "maxLength" : 32
              }
            }
          }
        },
        "shipmentPeriods" : {
          "type" : "array",
          "description" : "Indicates the period of time which the goods are to be loaded on board/dispatched/taken in charge.",
          "items" : {
            "type" : "object",
            "properties" : {
              "shipmentPeriod" : {
                "type" : "string",
                "description" : "Indicates the period of time which the goods are to be loaded on board/dispatched/taken in charge.",
                "maxLength" : 32
              }
            }
          }
        },
        "narrativeCharges" : {
          "type" : "array",
          "description" : "Field to specify the details of the charges to be borne by the beneficiary",
          "items" : {
            "type" : "object",
            "properties" : {
              "narrativeCharge" : {
                "type" : "string",
                "description" : "Field to specify the details of the charges to be borne by the beneficiary",
                "maxLength" : 32
              }
            }
          }
        },
        "charges" : {
          "type" : "array",
          "description" : "The charges or fees for this transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeCode" : {
                "type" : "string",
                "description" : "Indicates the charge code to which the charges are identified and calculated and to be debited to the customer account. For example: C(Credit less Charges The Credit less Charges), D(Debit plus Charge The Debit plus Charge) , W(Waive).",
                "maxLength" : 25
              },
              "partyCharged" : {
                "type" : "string",
                "description" : "Code to determine the identity of the party from whom the related charge is to be taken. Allowed values: -B(eneficiary) - O(pener) - T(hird Party).",
                "maxLength" : 25
              },
              "chargeDebitAccount" : {
                "type" : "string",
                "description" : "The account number of the account where charges will be debited to.",
                "maxLength" : 25
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted",
                "maxLength" : 25
              },
              "chargeExchangeRate" : {
                "type" : "string",
                "description" : "Indicates the exchange rate to be used between the charge debit account and the charge currency is different.",
                "maxLength" : 25
              },
              "chargeAmount" : {
                "type" : "string",
                "description" : "Retrieves the Charge Amount after redeem",
                "maxLength" : 25
              },
              "amortiseCharge" : {
                "type" : "string",
                "description" : "Define if charges are to be amortised over the life of the LC. Y or N  input",
                "maxLength" : 25
              },
              "chargeStatus" : {
                "type" : "string",
                "description" : "Indicates the codes to identify the different status of the charge. If the charge has been taken, claimed, or to be deferred or waived. The codes that are used to identify various states of the charge are: null, 2, 3, 4, 5, 15. ",
                "maxLength" : 25
              },
              "taxCurrency" : {
                "type" : "string",
                "description" : "Contains the currency that tax is to be levied in. Example USD, GBP etc.",
                "maxLength" : 25
              },
              "taxAmount" : {
                "type" : "string",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment.",
                "maxLength" : 25
              }
            }
          }
        },
        "reimNarratives" : {
          "type" : "array",
          "description" : "This field holds the details of the amendments (Tag 77), while generating/receiving MT747 message type.(Amendment to an authorisation to reimburse.)",
          "items" : {
            "type" : "object",
            "properties" : {
              "reimNarrative" : {
                "type" : "string",
                "description" : "This field holds the details of the amendments (Tag 77), while generating/receiving MT747 message type.(Amendment to an authorisation to reimburse.)",
                "maxLength" : 33
              }
            }
          }
        },
        "operation" : {
          "type" : "string",
          "description" : "Identifies the required operation to be executed for a Trade Finance contract. Input of valid codes as: O for opening of LC, P for Pre-advise of LC, A for Amend LC, C for Collect Charges, D for Decision on Amendments, T for Tracer, IO for LC through Internet Banking Operation and M for Ancillary Message (MT759)",
          "maxLength" : 32
        },
        "sendAmendmentAdvice" : {
          "type" : "string",
          "description" : "Decides if an amendment is external or internal . Valid input is YES, indicating that an amendment is external and that a message is to be communicated to other parties of the Letter of Credit. Otherwise, NO indicates an internal amendment hence no message output.",
          "maxLength" : 25
        },
        "lcNumber" : {
          "type" : "string",
          "description" : "Identifies the Advising banks LCs number (or reference of the L/C from legacy system) or it can be used for the bank to use a unique Letter of Credit number rather than the system generated ID",
          "maxLength" : 32
        },
        "advisingBankReference" : {
          "type" : "string",
          "description" : "Advising Bank reference number for use on messages and advices under the LC contract",
          "maxLength" : 25
        },
        "issueDate" : {
          "type" : "string",
          "description" : "The date the item was issued.",
          "maxLength" : 32
        },
        "amendmentDate" : {
          "type" : "string",
          "description" : "Date of the last external amendment, on which the issuing bank considers the Letter of Credit as being amended.",
          "maxLength" : 25
        },
        "lcType" : {
          "type" : "string",
          "description" : "Indicates the type of LC, whether this is an Import/Export, Confirmed/Unconfirmed/Revolving/Transferrable/Back to Back LC/documentary collection/Clean collection etc.",
          "maxLength" : 32
        },
        "applicant" : {
          "type" : "string",
          "description" : "Indicates the applicant name and address on whose behalf the Letter of Credit is being pre advised.",
          "maxLength" : 32
        },
        "advisingBank" : {
          "type" : "string",
          "description" : "Identifies the advising bank under the Letter of Credit, through whom the Letter of Credit is to be advised to the second advising bank or beneficiary",
          "maxLength" : 32
        },
        "newLcCurrency" : {
          "type" : "string",
          "description" : "Denote the currency of the Letter of Credit",
          "maxLength" : 32
        },
        "newLcAmount" : {
          "type" : "string",
          "description" : "This field indicates the new amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit.",
          "maxLength" : 25
        },
        "creditTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit the amount can be specified plus or minus a tolerance expressed as a percentage which will always impact the LC liability for the greater amount including the plus tolerance as defined in this field.",
          "maxLength" : 33
        },
        "debitTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit, the amount can be specified with a tolerance, which will impact the LC liability for the greater amount. The amount in this field specifies a negative tolerance expressed as a percentage of the LC amount. It can impact the final drawing amount but not the live LC amount.",
          "maxLength" : 33
        },
        "purposeOfMessage" : {
          "type" : "string",
          "description" : "Indicates the purpose of MT707 amendment message, whether its the issuance of amendment message or advise of amendment message to the second advising bank or advise and confirmation of amendment message to the second advising bank. Permitted Codes are: ACNF - Advice and confirmation of the credit amendment ADVI - Advice of the credit amendment ISSU - Issuance of the credit amendment",
          "maxLength" : 32
        },
        "cancellationRequest" : {
          "type" : "string",
          "description" : "Indicates that the documentary credit is requested to be cancelled. Valid input in this field is CANCEL.",
          "maxLength" : 25
        },
        "daysAndPeriodForPresentation" : {
          "type" : "string",
          "description" : "Specifies the number of calendar days after the date of shipment within which the documents must be presented for payment, acceptance or negotiation. ",
          "maxLength" : 32
        },
        "latestShipmentDate" : {
          "type" : "string",
          "description" : "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC.",
          "maxLength" : 25
        },
        "newLCExpiryDate" : {
          "type" : "string",
          "description" : "New Expiry date for presentation under the Letter of Credit",
          "maxLength" : 33
        },
        "newLCExpiryPlace" : {
          "type" : "string",
          "description" : "New Expiry place for presentation under the documentary credit.",
          "maxLength" : 25
        },
        "liabilityReversalDate" : {
          "type" : "string",
          "description" : "Date on which the contingent entries and the limits raised on the LC will be reversed.",
          "maxLength" : 32
        },
        "limitReference" : {
          "type" : "string",
          "description" : "Identifies the credit limit reference for the underlying account.",
          "maxLength" : 25
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
          "maxLength" : 32
        },
        "autoExpiry" : {
          "type" : "string",
          "description" : "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not Allowed values: - YES - NO - null (default value, same as NO)",
          "maxLength" : 25
        },
        "placeOfTakingInCharge" : {
          "type" : "string",
          "description" : "Indicates the place of taking in charge(in case of multimodal transport document), the place of receipt(in case of a road, rail or inland waterway transport document or a courier expedited delivery service document), the place of dispatch or the place of shipment to be indicated on the transport document",
          "maxLength" : 32
        },
        "portOfLoading" : {
          "type" : "string",
          "description" : "Indicates the place of dispatch or taking in charge of the goods or loading on board for shipments made under the LC.",
          "maxLength" : 32
        },
        "portOfDischarge" : {
          "type" : "string",
          "description" : "Indicates the port of discharge or the airport of destination of the shipment under the LC.",
          "maxLength" : 32
        },
        "finalDestination" : {
          "type" : "string",
          "description" : "Indicates the final destination or place of delivery of the shipment under the LC.",
          "maxLength" : 32
        },
        "reimbursingBank" : {
          "type" : "string",
          "description" : "Identifies the reimbursing bank ID under the LC, through whom reimbursement will be made to the paying/negotiating bank for a letter of credit. (Reimbursing bank should be a valid customer with customer ID)",
          "maxLength" : 32
        },
        "reimbursingBankAndAddress" : {
          "type" : "string",
          "description" : "Identifies the Name & Address of the reimbursing bank under the LC. If the third party reimbursing bank is not one of the banks customers (i.e. not on the customer list), then this field allows the input of a name and address of the reimbursing bank.",
          "maxLength" : 32
        },
        "applicableRuleCodesMT740" : {
          "type" : "string",
          "description" : "Indicates the reimbursement rules that the Letter of Credit contract is subject to. Allowed values: - URR LATEST VERSION - NOTURR - null (default)",
          "maxLength" : 32
        },
        "amendStatus" : {
          "type" : "string",
          "description" : "System updated field at the time of Amendment decision under the Letter of Credit using Operation 'D'. This field indicates the current status of the amendment whether amendment is pending, approved or rejected.",
          "maxLength" : 32
        },
        "draftPrint" : {
          "type" : "string",
          "description" : "This field indicate whether a draft print of the Letter of Credit / Documentary Collection document created is to be produced on deal input (i.e. before the authorization stage) Y' or 'N'. Default from LC.PARAMETERS file.",
          "maxLength" : 32
        },
        "releaseProvision" : {
          "type" : "string",
          "description" : "Flag to enable the online release of the cash margin. Allowed values: - YES - null (default)",
          "maxLength" : 25
        },
        "chargeFrom" : {
          "type" : "string",
          "description" : "Code to identify from whom the bank is to claim its charges. Allowed values: - O(pener) - B(eneficiary) - T(hird Party)",
          "maxLength" : 25
        },
        "chargeBaseAmount" : {
          "type" : "string",
          "description" : "Indicates the portion of the Letter of Credit amount for which the charges are to be applied at the time of amendment instead of recalculation the charges for the full LC value. If left blank, LC.AMOUNT will be used for calculating default charges",
          "maxLength" : 16
        },
        "chargeDefaultAccount" : {
          "type" : "string",
          "description" : "This field identifies the default charge account under which all present and future charges under the letter of credit will be debited to. This eliminates the need to specify the charge account for every charge",
          "maxLength" : 25
        },
        "waiveCharge" : {
          "type" : "string",
          "description" : "Indicates if the charges are to be waived for the instruction",
          "maxLength" : 25
        },
        "marginRequired" : {
          "type" : "string",
          "description" : "Decision field enabling a cash margin to be blocked for the LC contract. Yes or No, default is No",
          "maxLength" : 25
        },
        "marginCalculationBase" : {
          "type" : "string",
          "description" : "This field determines if the margin to be calculated based on the LC base amount or the total liability amount including tolerance etc.",
          "maxLength" : 25
        },
        "marginPercent" : {
          "type" : "string",
          "description" : "Field to state the percentage of provision to be taken",
          "maxLength" : 25
        },
        "marginDebitAccount" : {
          "type" : "string",
          "description" : "Field to state the account from which the provision amount is to be debited",
          "maxLength" : 25
        },
        "marginAmount" : {
          "type" : "number",
          "description" : "Actual amount of provision that is debited for the transaction"
        },
        "marginExchangeRate" : {
          "type" : "string",
          "description" : "This Field determines the exchange rate to be used between the provision debit account and the provision credit account, when the currencies differ",
          "maxLength" : 25
        },
        "limitWithProvision" : {
          "type" : "string",
          "description" : "This field determines if the margin calculated to be debited after considering the limits booked under the LC contract. Yes or No",
          "maxLength" : 25
        },
        "docyCreditNumber" : {
          "type" : "string",
          "description" : "Identifies the Advising banks LCs number (or reference of the L/C from legacy system) or it can be used for the bank to use a unique Letter of Credit number rather than the system generated ID",
          "maxLength" : 33
        },
        "reimbursingBankReference" : {
          "type" : "string",
          "description" : "Identifies the reimbursing banks number, to be input at the time of generating the SWIFT MT747 (Amendment to an authorisation to reimburse.)",
          "maxLength" : 33
        },
        "dateOfOriginalAuthorisation" : {
          "type" : "string",
          "description" : "This is a system populated field to display the date on which MT740 (Authorization to Reimburse) was sent.",
          "maxLength" : 33
        },
        "newDocyCreditAmount" : {
          "type" : "number",
          "description" : "Denote the currency of the Letter of Credit."
        },
        "senderToReceiverInfo" : {
          "type" : "string",
          "description" : "This field holds the additional information for the Receiver (Tag 72Z), while receiving/generating MT740 message.",
          "maxLength" : 33
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}