{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows the viewing and management of entitlements",
    "version" : "v1.0.0",
    "title" : "Holdings Entitlement APIs"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/entitlements/{entitlementId}" : {
      "get" : {
        "operationId" : "getSecurityEntitlement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "entitlementId",
          "in" : "path",
          "description" : "The identifier of the entitlement",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityEntitlementResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityEntitlementResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "operationId" : "updateSecurityEntitlement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "entitlementId",
          "in" : "path",
          "description" : "The identifier of the entitlement",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SecurityEntitlement"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityEntitlementResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityEntitlementResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "SecurityEntitlement" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SecurityEntitlementBody"
        }
      },
      "description" : "SecurityEntitlement"
    },
    "SecurityEntitlementBody" : {
      "type" : "object",
      "properties" : {
        "optionDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "optionDescription" : {
                "type" : "string",
                "description" : "The description of the Option",
                "maxLength" : 35
              },
              "optionQuantity" : {
                "type" : "number",
                "description" : "The quantity of the option trade"
              },
              "enitlementAmountInDividendCurrency" : {
                "type" : "number",
                "description" : "Entitlement amount in Dividend currency"
              },
              "dividendRateInOptionCurrency" : {
                "type" : "number",
                "description" : "The Dividend rate in Option Currency"
              },
              "entitlementAmount" : {
                "type" : "number",
                "description" : "The amount resulting from the execution of a corporate action that the portfolio owner is entitled to receive"
              },
              "optionCurrency" : {
                "type" : "string",
                "description" : "The currency of the option",
                "maxLength" : 35
              },
              "defaultOption" : {
                "type" : "boolean",
                "description" : "Indicates whether the option will be selected by default if no instruction is provided by the account owner"
              },
              "accountId" : {
                "type" : "string",
                "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                "maxLength" : 35
              },
              "sourceTaxAmount" : {
                "type" : "number",
                "description" : "Holds the source tax amount"
              },
              "localTaxAmount" : {
                "type" : "number",
                "description" : "Holds the local tax amount"
              },
              "commissionAmount" : {
                "type" : "number",
                "description" : "Amount of commission charged for the payment created with respect to the commission type used."
              },
              "customerCommissionTax" : {
                "type" : "number",
                "description" : "Specifies the tax amount based on the commission charged"
              },
              "chargeAmount" : {
                "type" : "number",
                "description" : "Retrieves the Charge Amount after redeem"
              },
              "netAmount" : {
                "type" : "number",
                "description" : "Holds the total amount"
              },
              "optionReplyByDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "The corporate action cut-off date to choose a particular option."
              },
              "optionReplyByTime" : {
                "type" : "string",
                "description" : "The corporate action cut-off time to choose a particular option.",
                "maxLength" : 35
              },
              "referenceId" : {
                "type" : "string",
                "description" : "",
                "maxLength" : 35
              },
              "newInstrumentDetails" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "newInstrumentId" : {
                      "type" : "string",
                      "description" : "The identifier of a new instrument ",
                      "maxLength" : 35
                    },
                    "quantity" : {
                      "type" : "number",
                      "description" : "The nominal quantity"
                    },
                    "ratio" : {
                      "type" : "string",
                      "description" : "The ratio in which new shares are offered",
                      "maxLength" : 35
                    },
                    "price" : {
                      "type" : "number",
                      "description" : "The Price at which the nominal amount of the Security is to be valued for the transaction."
                    },
                    "bookCost" : {
                      "type" : "number",
                      "description" : "Book cost is equal to the asset's carrying value on the balance sheet"
                    }
                  }
                }
              }
            }
          }
        },
        "sellBuyOptionDescriptions" : {
          "type" : "array",
          "description" : "The description of the sell/buy Option",
          "items" : {
            "type" : "object",
            "properties" : {
              "sellBuyOptionDescription" : {
                "type" : "string",
                "description" : "The description of the sell/buy Option",
                "maxLength" : 35
              }
            }
          }
        },
        "localTaxAmounts" : {
          "type" : "array",
          "description" : "Holds the local tax amount",
          "items" : {
            "type" : "object",
            "properties" : {
              "localTaxAmount" : {
                "type" : "number",
                "description" : "Holds the local tax amount"
              }
            }
          }
        },
        "eventResult" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "instrumentName" : {
                "type" : "string",
                "description" : "The name that is displayed for the instrument, taken from the Security Master",
                "maxLength" : 35
              },
              "quantity" : {
                "type" : "number",
                "description" : "The nominal quantity"
              }
            }
          }
        },
        "brokerDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "OptionDetails" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "optionQuantity" : {
                      "type" : "number",
                      "description" : "The quantity of the option trade"
                    }
                  }
                }
              }
            }
          }
        },
        "eventOptionDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "optionDescription" : {
                "type" : "string",
                "description" : "The description of the Option",
                "maxLength" : 35
              }
            }
          }
        },
        "accountCurrencyTax" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "taxAmount" : {
                "type" : "number",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment."
              },
              "manualTaxAmount" : {
                "type" : "number",
                "description" : "The manually entered tax amount"
              }
            }
          }
        },
        "depositoryId" : {
          "type" : "number",
          "description" : "Id of the securities depository."
        },
        "portfolioId" : {
          "type" : "string",
          "description" : "Id of the portfolio or security account",
          "maxLength" : 35
        },
        "instrumentId" : {
          "type" : "string",
          "description" : "The identifier of the instrument",
          "maxLength" : 35
        },
        "diaryId" : {
          "type" : "string",
          "description" : "The identifier of the diary",
          "maxLength" : 35
        },
        "accountId" : {
          "type" : "string",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "maxLength" : 35
        },
        "qualifyingHolding" : {
          "type" : "number",
          "description" : "The Portfolio's holding in the original security"
        },
        "eventQuantity" : {
          "type" : "number",
          "description" : "Nominal amount provided by the Depository / Issuer"
        },
        "currency" : {
          "type" : "string",
          "description" : "Indicates the type of currency to which the account belongs",
          "maxLength" : 35
        },
        "valueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
        },
        "optionSelected" : {
          "type" : "number",
          "description" : "The option selected from the total number of options available"
        },
        "overOptionDescription" : {
          "type" : "string",
          "description" : "Option description or indicator for oversubscription",
          "maxLength" : 35
        },
        "overSubscriptionPrice" : {
          "type" : "number",
          "description" : "Holds the price at which Over subscribed quantity is to be sold"
        },
        "overSubscribedQuantity" : {
          "type" : "number",
          "description" : "Holds Amount of additional shares that the user want to subscribe"
        },
        "accountCurrency" : {
          "type" : "string",
          "description" : "Currency of the account. For example: USD, GBP.",
          "maxLength" : 35
        },
        "sourceTaxAmount" : {
          "type" : "number",
          "description" : "Holds the source tax amount"
        },
        "initialSourceTaxAmount" : {
          "type" : "number",
          "description" : "Amount of Source Tax that has previously been debited by initiator of the Corporate Action"
        },
        "foreignFee" : {
          "type" : "number",
          "description" : "This field Records the Foreign Fee amount charged to the Customer for the trade."
        },
        "commissionAmount" : {
          "type" : "number",
          "description" : "Amount of commission charged for the payment created with respect to the commission type used."
        },
        "customerCommissionTax" : {
          "type" : "number",
          "description" : "Specifies the tax amount based on the commission charged"
        },
        "netAmount" : {
          "type" : "number",
          "description" : "Holds the total amount"
        },
        "exchangeRate" : {
          "type" : "number",
          "description" : "Contains the exchange rate returned from the system. i.e. For entries over foreign currency accounts, this contains the rate which used to convert the currency amount to the local equivalent at the time of the originating transaction."
        },
        "referenceCurrencyExchangeRate" : {
          "type" : "number",
          "description" : "Exchange rate between the Portfolio Reference Currency and the Local Currency"
        },
        "foreignFeeTax" : {
          "type" : "number",
          "description" : "The tax calculated on the foreign charges"
        },
        "netAmountInAccountCurrency" : {
          "type" : "number",
          "description" : "The net amount due to or from the Customer after +/- Charges"
        },
        "optionStatus" : {
          "type" : "string",
          "description" : "Current status of the entitlement",
          "maxLength" : 35
        },
        "externalCustodian" : {
          "type" : "string",
          "description" : "The external custodian where position is held",
          "maxLength" : 35
        },
        "eventCurrency" : {
          "type" : "string",
          "description" : "Currency in which the event occurs",
          "maxLength" : 35
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "SecurityEntitlementResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SecurityEntitlementResponseBody"
        }
      },
      "description" : "SecurityEntitlementResponse"
    },
    "SecurityEntitlementResponseBody" : {
      "type" : "object",
      "properties" : {
        "optionDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "optionDescription" : {
                "type" : "string",
                "description" : "The description of the Option",
                "maxLength" : 35
              },
              "optionQuantity" : {
                "type" : "number",
                "description" : "The quantity of the option trade"
              },
              "enitlementAmountInDividendCurrency" : {
                "type" : "number",
                "description" : "Entitlement amount in Dividend currency"
              },
              "dividendRateInOptionCurrency" : {
                "type" : "number",
                "description" : "The Dividend rate in Option Currency"
              },
              "entitlementAmount" : {
                "type" : "number",
                "description" : "The amount resulting from the execution of a corporate action that the portfolio owner is entitled to receive"
              },
              "optionCurrency" : {
                "type" : "string",
                "description" : "The currency of the option",
                "maxLength" : 35
              },
              "defaultOption" : {
                "type" : "boolean",
                "description" : "Indicates whether the option will be selected by default if no instruction is provided by the account owner"
              },
              "accountId" : {
                "type" : "string",
                "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                "maxLength" : 35
              },
              "sourceTaxAmount" : {
                "type" : "number",
                "description" : "Holds the source tax amount"
              },
              "localTaxAmount" : {
                "type" : "number",
                "description" : "Holds the local tax amount"
              },
              "commissionAmount" : {
                "type" : "number",
                "description" : "Amount of commission charged for the payment created with respect to the commission type used."
              },
              "customerCommissionTax" : {
                "type" : "number",
                "description" : "Specifies the tax amount based on the commission charged"
              },
              "chargeAmount" : {
                "type" : "number",
                "description" : "Retrieves the Charge Amount after redeem"
              },
              "netAmount" : {
                "type" : "number",
                "description" : "Holds the total amount"
              },
              "optionReplyByDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "The corporate action cut-off date to choose a particular option."
              },
              "optionReplyByTime" : {
                "type" : "string",
                "description" : "The corporate action cut-off time to choose a particular option.",
                "maxLength" : 35
              },
              "referenceId" : {
                "type" : "string",
                "description" : "",
                "maxLength" : 35
              },
              "newInstrumentDetails" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "newInstrumentId" : {
                      "type" : "string",
                      "description" : "The identifier of a new instrument ",
                      "maxLength" : 35
                    },
                    "quantity" : {
                      "type" : "number",
                      "description" : "The nominal quantity"
                    },
                    "ratio" : {
                      "type" : "string",
                      "description" : "The ratio in which new shares are offered",
                      "maxLength" : 35
                    },
                    "price" : {
                      "type" : "number",
                      "description" : "The Price at which the nominal amount of the Security is to be valued for the transaction."
                    },
                    "bookCost" : {
                      "type" : "number",
                      "description" : "Book cost is equal to the asset's carrying value on the balance sheet"
                    }
                  }
                }
              }
            }
          }
        },
        "sellBuyOptionDescriptions" : {
          "type" : "array",
          "description" : "The description of the sell/buy Option",
          "items" : {
            "type" : "object",
            "properties" : {
              "sellBuyOptionDescription" : {
                "type" : "string",
                "description" : "The description of the sell/buy Option",
                "maxLength" : 35
              }
            }
          }
        },
        "localTaxAmounts" : {
          "type" : "array",
          "description" : "Holds the local tax amount",
          "items" : {
            "type" : "object",
            "properties" : {
              "localTaxAmount" : {
                "type" : "number",
                "description" : "Holds the local tax amount"
              }
            }
          }
        },
        "eventResult" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "instrumentName" : {
                "type" : "string",
                "description" : "The name that is displayed for the instrument, taken from the Security Master",
                "maxLength" : 35
              },
              "quantity" : {
                "type" : "number",
                "description" : "The nominal quantity"
              }
            }
          }
        },
        "brokerDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "OptionDetails" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "optionQuantity" : {
                      "type" : "number",
                      "description" : "The quantity of the option trade"
                    }
                  }
                }
              }
            }
          }
        },
        "eventOptionDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "optionDescription" : {
                "type" : "string",
                "description" : "The description of the Option",
                "maxLength" : 35
              }
            }
          }
        },
        "accountCurrencyTax" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "taxAmount" : {
                "type" : "number",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment."
              },
              "manualTaxAmount" : {
                "type" : "number",
                "description" : "The manually entered tax amount"
              }
            }
          }
        },
        "depositoryId" : {
          "type" : "number",
          "description" : "Id of the securities depository."
        },
        "portfolioId" : {
          "type" : "string",
          "description" : "Id of the portfolio or security account",
          "maxLength" : 35
        },
        "instrumentId" : {
          "type" : "string",
          "description" : "The identifier of the instrument",
          "maxLength" : 35
        },
        "diaryId" : {
          "type" : "string",
          "description" : "The identifier of the diary",
          "maxLength" : 35
        },
        "accountId" : {
          "type" : "string",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "maxLength" : 35
        },
        "qualifyingHolding" : {
          "type" : "number",
          "description" : "The Portfolio's holding in the original security"
        },
        "eventQuantity" : {
          "type" : "number",
          "description" : "Nominal amount provided by the Depository / Issuer"
        },
        "currency" : {
          "type" : "string",
          "description" : "Indicates the type of currency to which the account belongs",
          "maxLength" : 35
        },
        "valueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
        },
        "optionSelected" : {
          "type" : "number",
          "description" : "The option selected from the total number of options available"
        },
        "overOptionDescription" : {
          "type" : "string",
          "description" : "Option description or indicator for oversubscription",
          "maxLength" : 35
        },
        "overSubscriptionPrice" : {
          "type" : "number",
          "description" : "Holds the price at which Over subscribed quantity is to be sold"
        },
        "overSubscribedQuantity" : {
          "type" : "number",
          "description" : "Holds Amount of additional shares that the user want to subscribe"
        },
        "accountCurrency" : {
          "type" : "string",
          "description" : "Currency of the account. For example: USD, GBP.",
          "maxLength" : 35
        },
        "sourceTaxAmount" : {
          "type" : "number",
          "description" : "Holds the source tax amount"
        },
        "initialSourceTaxAmount" : {
          "type" : "number",
          "description" : "Amount of Source Tax that has previously been debited by initiator of the Corporate Action"
        },
        "foreignFee" : {
          "type" : "number",
          "description" : "This field Records the Foreign Fee amount charged to the Customer for the trade."
        },
        "commissionAmount" : {
          "type" : "number",
          "description" : "Amount of commission charged for the payment created with respect to the commission type used."
        },
        "customerCommissionTax" : {
          "type" : "number",
          "description" : "Specifies the tax amount based on the commission charged"
        },
        "netAmount" : {
          "type" : "number",
          "description" : "Holds the total amount"
        },
        "exchangeRate" : {
          "type" : "number",
          "description" : "Contains the exchange rate returned from the system. i.e. For entries over foreign currency accounts, this contains the rate which used to convert the currency amount to the local equivalent at the time of the originating transaction."
        },
        "referenceCurrencyExchangeRate" : {
          "type" : "number",
          "description" : "Exchange rate between the Portfolio Reference Currency and the Local Currency"
        },
        "foreignFeeTax" : {
          "type" : "number",
          "description" : "The tax calculated on the foreign charges"
        },
        "netAmountInAccountCurrency" : {
          "type" : "number",
          "description" : "The net amount due to or from the Customer after +/- Charges"
        },
        "optionStatus" : {
          "type" : "string",
          "description" : "Current status of the entitlement",
          "maxLength" : 35
        },
        "externalCustodian" : {
          "type" : "string",
          "description" : "The external custodian where position is held",
          "maxLength" : 35
        },
        "eventCurrency" : {
          "type" : "string",
          "description" : "Currency in which the event occurs",
          "maxLength" : 35
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}