{
  "swagger" : "2.0",
  "info" : {
    "description" : "List of draft arrangement and account details",
    "version" : "v1.0.0",
    "title" : "getDraftBundleList"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/cashManagement/bundles/{bundleId}/drafts/accounts" : {
      "get" : {
        "description" : "List of draft arrangement and account details",
        "operationId" : "getDraftBundleList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "bundleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DraftBundleListResponse",
            "schema" : {
              "$ref" : "#/definitions/DraftBundleListResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "DraftBundleListResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DraftBundleListResponseBody"
        }
      },
      "description" : "DraftBundleListResponse"
    },
    "DraftBundleListResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "aliases" : {
            "type" : "array",
            "description" : "This field forms part of an associated multi-value set to specify the details of an Account during one of Restructure events.",
            "items" : {
              "type" : "object",
              "properties" : {
                "alias" : {
                  "type" : "string",
                  "description" : "This field forms part of an associated multi-value set to specify the details of an Account during one of Restructure events."
                }
              }
            }
          },
          "accounts" : {
            "type" : "array",
            "description" : "Identifies the unique account Id of the payment entered.",
            "items" : {
              "type" : "object",
              "properties" : {
                "account" : {
                  "type" : "string",
                  "description" : "Identifies the unique account Id of the payment entered."
                }
              }
            }
          },
          "customers" : {
            "type" : "array",
            "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
            "items" : {
              "type" : "object",
              "properties" : {
                "customer" : {
                  "type" : "string",
                  "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed."
                }
              }
            }
          },
          "companies" : {
            "type" : "array",
            "description" : "The company code",
            "items" : {
              "type" : "object",
              "properties" : {
                "company" : {
                  "type" : "string",
                  "description" : "The company code"
                }
              }
            }
          },
          "countries" : {
            "type" : "array",
            "description" : "Identifies the country of the customer.",
            "items" : {
              "type" : "object",
              "properties" : {
                "country" : {
                  "type" : "string",
                  "description" : "Identifies the country of the customer."
                }
              }
            }
          },
          "currencies" : {
            "type" : "array",
            "description" : "Identifies the currency. E.g. USD, GBP etc",
            "items" : {
              "type" : "object",
              "properties" : {
                "currency" : {
                  "type" : "string",
                  "description" : "Indicates the type of currency to which the account belongs"
                }
              }
            }
          },
          "products" : {
            "type" : "array",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
            "items" : {
              "type" : "object",
              "properties" : {
                "product" : {
                  "type" : "string",
                  "description" : "Indicates an id or name of a product"
                }
              }
            }
          },
          "productDescriptions" : {
            "type" : "array",
            "description" : "Indicates the description of the Product",
            "items" : {
              "type" : "object",
              "properties" : {
                "productDescription" : {
                  "type" : "string",
                  "description" : "Indicates the description of the Product"
                }
              }
            }
          },
          "names" : {
            "type" : "array",
            "description" : "Short title for the Account to be created",
            "items" : {
              "type" : "object",
              "properties" : {
                "name" : {
                  "type" : "string",
                  "description" : "Short title for the Account to be created"
                }
              }
            }
          },
          "alternateReferences" : {
            "type" : "array",
            "description" : "If the new Account to be created is a shadow of another Account already exisitng in another system, then the Account reference of that system can be specified here. The value given in this field will be mapped to ALTERNATE.ID field in arrangement activity and ensure that this Account doesn't already exist in T24 with another reference (because ALTERNATE.ID would be configured to be unique across T24).",
            "items" : {
              "type" : "object",
              "properties" : {
                "alternateReference" : {
                  "type" : "string",
                  "description" : "If the new Account to be created is a shadow of another Account already exisitng in another system, then the Account reference of that system can be specified here. The value given in this field will be mapped to ALTERNATE.ID field in arrangement activity and ensure that this Account doesn't already exist in T24 with another reference (because ALTERNATE.ID would be configured to be unique across T24)."
                }
              }
            }
          },
          "parents" : {
            "type" : "array",
            "description" : "This Field is to determine whether the order is a parent order, Allowed value is YES",
            "items" : {
              "type" : "object",
              "properties" : {
                "parent" : {
                  "type" : "string",
                  "description" : "This Field is to determine whether the order is a parent order, Allowed value is YES"
                }
              }
            }
          },
          "goLiveDates" : {
            "type" : "array",
            "description" : "Denotes the date on which the Account is expected to go live in cash pool structure. Input is prohibited when bundle is in Draft status Input is allowed for NEW.OFFER accounts only for setting live date for link type SET.LIVE.DATE Input is mandatory for any restructure activity on Live accounts. Restructure activity on preliminary accounts will be effective current dated.",
            "items" : {
              "type" : "object",
              "properties" : {
                "goLiveDate" : {
                  "type" : "string",
                  "description" : "Denotes the date on which the Account is expected to go live in cash pool structure. Input is prohibited when bundle is in Draft status Input is allowed for NEW.OFFER accounts only for setting live date for link type SET.LIVE.DATE Input is mandatory for any restructure activity on Live accounts. Restructure activity on preliminary accounts will be effective current dated."
                }
              }
            }
          },
          "linkTypes" : {
            "type" : "array",
            "description" : "Denotes associated multi value set to specify Accounts involved in the Pool Restructuring and dictates what should happen to the Account in the corresponding row.",
            "items" : {
              "type" : "object",
              "properties" : {
                "linkType" : {
                  "type" : "string",
                  "description" : "Denotes associated multi value set to specify Accounts involved in the Pool Restructuring and dictates what should happen to the Account in the corresponding row."
                }
              }
            }
          },
          "keepBalances" : {
            "type" : "array",
            "description" : "When an Account is removed from a Hierarchy, it is possible to dictate if it should be removed with or without Balance. Allows YES and Null  Yes - The account will move out of pool with balance while delinking account or during change pool. Null - The account will move out of pool with ZERO balance while delinking/change pool. Amount will be settled to its settlement account.",
            "items" : {
              "type" : "object",
              "properties" : {
                "keepBalance" : {
                  "type" : "string",
                  "description" : "When an Account is removed from a Hierarchy, it is possible to dictate if it should be removed with or without Balance. Allows YES and Null  Yes - The account will move out of pool with balance while delinking account or during change pool. Null - The account will move out of pool with ZERO balance while delinking/change pool. Amount will be settled to its settlement account."
                }
              }
            }
          },
          "accountTitles" : {
            "type" : "array",
            "description" : "Short title on an account",
            "items" : {
              "type" : "object",
              "properties" : {
                "accountTitle" : {
                  "type" : "string",
                  "description" : "Short title on an account"
                }
              }
            }
          },
          "level" : {
            "type" : "string",
            "description" : "Captured for information purpose to render the placeholders in GUI"
          },
          "bundleArrangement" : {
            "type" : "string",
            "description" : " Bundle arrangement is to link all the participant accounts to create a Balance Netting services.",
            "maxLength" : 20
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}