{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows the viewing and management of the Rights holdings",
    "version" : "v1.0.0",
    "title" : "Holdigs Buy Sell Rights APIs"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/entitlements/{entitlementId}/buySellRights" : {
      "get" : {
        "operationId" : "getEntitlementBuySellRights",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "entitlementId",
          "in" : "path",
          "description" : "The identifier of the entitlement",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitlementBuySellRightsResponse",
            "schema" : {
              "$ref" : "#/definitions/EntitlementBuySellRightsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "operationId" : "updateEntitlementBuySellRights",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "entitlementId",
          "in" : "path",
          "description" : "The identifier of the entitlement",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/EntitlementBuySellRights"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitlementBuySellRightsResponse",
            "schema" : {
              "$ref" : "#/definitions/EntitlementBuySellRightsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "EntitlementBuySellRights" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/EntitlementBuySellRightsBody"
        }
      },
      "description" : "EntitlementBuySellRights"
    },
    "EntitlementBuySellRightsBody" : {
      "type" : "object",
      "properties" : {
        "optionDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "sellBuyOptionDescription" : {
                "type" : "string",
                "description" : "The description of the sell/buy Option",
                "maxLength" : 25
              },
              "sellBuyOptionNo" : {
                "type" : "number",
                "description" : "Option number is mapped from tag 13A in Option details sequence"
              },
              "sellBuySec" : {
                "type" : "string",
                "description" : "Denotes the rights security number for which there is an option to sell or buy rights",
                "maxLength" : 25
              },
              "optionReplyByDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "The corporate action cut-off date to choose a particular option."
              },
              "tradeFromDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Specifies the Start date of action (Trading) period for the option"
              },
              "tradeToDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Specifies the End date of action (Trading) period for the option"
              },
              "sellBuyQuantity" : {
                "type" : "number",
                "description" : "The quantity of rights being sold or underlying security or rights security being purchased"
              },
              "price" : {
                "type" : "number",
                "description" : "The Price at which the nominal amount of the Security is to be valued for the transaction."
              },
              "tradeDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Standard date field which records trade date of the account"
              },
              "valueDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
              },
              "considAmount" : {
                "type" : "number",
                "description" : "The consideration amount to be received or paid in the event currency (Quantity x Price)."
              },
              "tradeReference" : {
                "type" : "string",
                "description" : "The Id of the SEC.TRADE generated",
                "maxLength" : 25
              }
            }
          }
        },
        "diaryId" : {
          "type" : "string",
          "description" : "The identifier of the diary",
          "maxLength" : 25
        },
        "portfolioId" : {
          "type" : "string",
          "description" : "Id of the portfolio or security account",
          "maxLength" : 25
        },
        "depositoryId" : {
          "type" : "number",
          "description" : "Id of the securities depository."
        },
        "nominee" : {
          "type" : "string",
          "description" : "Represents the Nominee Company record",
          "maxLength" : 25
        },
        "subAccount" : {
          "type" : "string",
          "description" : "The sub-account that the security position is held in.",
          "maxLength" : 25
        },
        "instrumentId" : {
          "type" : "string",
          "description" : "The identifier of the instrument",
          "maxLength" : 25
        },
        "eventType" : {
          "type" : "string",
          "description" : "Event Type of the corporate action",
          "maxLength" : 25
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 25
        },
        "qualifyingHolding" : {
          "type" : "number",
          "description" : "The Portfolio's holding in the original security"
        },
        "rightsPosition" : {
          "type" : "number",
          "description" : "Represents the eligible rights position"
        },
        "recordType" : {
          "type" : "string",
          "description" : "Denotes the sub account type",
          "maxLength" : 25
        },
        "netNominal" : {
          "type" : "number",
          "description" : "Denotes the sum of the Quantity"
        },
        "generateInstruction" : {
          "type" : "boolean",
          "description" : "Specifies whether MT565 has to be generated"
        },
        "MT566Confirmation" : {
          "type" : "boolean",
          "description" : "Specifies whether the transaction status will be updated based on the incoming MT566 confirmation"
        },
        "MT565Ref" : {
          "type" : "string",
          "description" : "MT565 message reference",
          "maxLength" : 25
        },
        "MT566Ref" : {
          "type" : "string",
          "description" : "When set to processed, the security trade is created and authorised and the reference number is updated once the MT566 confirmation is received",
          "maxLength" : 25
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts.",
          "maxLength" : 25
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "EntitlementBuySellRightsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/EntitlementBuySellRightsResponseBody"
        }
      },
      "description" : "EntitlementBuySellRightsResponse"
    },
    "EntitlementBuySellRightsResponseBody" : {
      "type" : "object",
      "properties" : {
        "optionDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "sellBuyOptionDescription" : {
                "type" : "string",
                "description" : "The description of the sell/buy Option",
                "maxLength" : 25
              },
              "sellBuyOptionNo" : {
                "type" : "number",
                "description" : "Option number is mapped from tag 13A in Option details sequence"
              },
              "sellBuySec" : {
                "type" : "string",
                "description" : "Denotes the rights security number for which there is an option to sell or buy rights",
                "maxLength" : 25
              },
              "optionReplyByDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "The corporate action cut-off date to choose a particular option."
              },
              "tradeFromDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Specifies the Start date of action (Trading) period for the option"
              },
              "tradeToDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Specifies the End date of action (Trading) period for the option"
              },
              "sellBuyQuantity" : {
                "type" : "number",
                "description" : "The quantity of rights being sold or underlying security or rights security being purchased"
              },
              "price" : {
                "type" : "number",
                "description" : "The Price at which the nominal amount of the Security is to be valued for the transaction."
              },
              "tradeDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Standard date field which records trade date of the account"
              },
              "valueDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
              },
              "considAmount" : {
                "type" : "number",
                "description" : "The consideration amount to be received or paid in the event currency (Quantity x Price)."
              },
              "tradeReference" : {
                "type" : "string",
                "description" : "The Id of the SEC.TRADE generated",
                "maxLength" : 25
              }
            }
          }
        },
        "diaryId" : {
          "type" : "string",
          "description" : "The identifier of the diary",
          "maxLength" : 25
        },
        "portfolioId" : {
          "type" : "string",
          "description" : "Id of the portfolio or security account",
          "maxLength" : 25
        },
        "depositoryId" : {
          "type" : "number",
          "description" : "Id of the securities depository."
        },
        "nominee" : {
          "type" : "string",
          "description" : "Represents the Nominee Company record",
          "maxLength" : 25
        },
        "subAccount" : {
          "type" : "string",
          "description" : "The sub-account that the security position is held in.",
          "maxLength" : 25
        },
        "instrumentId" : {
          "type" : "string",
          "description" : "The identifier of the instrument",
          "maxLength" : 25
        },
        "eventType" : {
          "type" : "string",
          "description" : "Event Type of the corporate action",
          "maxLength" : 25
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 25
        },
        "qualifyingHolding" : {
          "type" : "number",
          "description" : "The Portfolio's holding in the original security"
        },
        "rightsPosition" : {
          "type" : "number",
          "description" : "Represents the eligible rights position"
        },
        "recordType" : {
          "type" : "string",
          "description" : "Denotes the sub account type",
          "maxLength" : 25
        },
        "netNominal" : {
          "type" : "number",
          "description" : "Denotes the sum of the Quantity"
        },
        "generateInstruction" : {
          "type" : "boolean",
          "description" : "Specifies whether MT565 has to be generated"
        },
        "MT566Confirmation" : {
          "type" : "boolean",
          "description" : "Specifies whether the transaction status will be updated based on the incoming MT566 confirmation"
        },
        "MT565Ref" : {
          "type" : "string",
          "description" : "MT565 message reference",
          "maxLength" : 25
        },
        "MT566Ref" : {
          "type" : "string",
          "description" : "When set to processed, the security trade is created and authorised and the reference number is updated once the MT566 confirmation is received",
          "maxLength" : 25
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts.",
          "maxLength" : 25
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}