{
  "swagger" : "2.0",
  "info" : {
    "description" : "Issuance of Back to Back LCs",
    "version" : "v1.0.0",
    "title" : "createIssuanceOfBackToBackLC"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/letterOfCredits/backToBacks" : {
      "post" : {
        "operationId" : "createIssuanceOfBackToBackLC",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/IssuanceOfBackToBackLC"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "IssuanceOfBackToBackLCResponse",
            "schema" : {
              "$ref" : "#/definitions/IssuanceOfBackToBackLCResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "IssuanceOfBackToBackLC" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/IssuanceOfBackToBackLCBody"
        }
      },
      "description" : "IssuanceOfBackToBackLC"
    },
    "IssuanceOfBackToBackLCBody" : {
      "type" : "object",
      "required" : [ "backToBackLCRequired", "expiryDate", "expiryPlace", "issueDate", "issuingBankId" ],
      "properties" : {
        "limitReferences" : {
          "type" : "array",
          "description" : "Identifies the credit limit reference for the underlying account.",
          "items" : {
            "type" : "object",
            "properties" : {
              "limitReference" : {
                "type" : "string",
                "description" : "Identifies the credit limit reference for the underlying account.",
                "maxLength" : 25
              }
            }
          }
        },
        "beneficiaryAddresses" : {
          "type" : "array",
          "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddress" : {
                "type" : "string",
                "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
                "maxLength" : 25
              }
            }
          }
        },
        "applicantNames" : {
          "type" : "array",
          "description" : "Indicates the name and address of the applicant of the Letter of Credit",
          "items" : {
            "type" : "object",
            "properties" : {
              "applicantName" : {
                "type" : "string",
                "description" : "Indicates the name and address of the applicant of the Letter of Credit",
                "maxLength" : 25
              }
            }
          }
        },
        "availableWithBanks" : {
          "type" : "array",
          "description" : "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit",
          "items" : {
            "type" : "object",
            "properties" : {
              "availableWithBank" : {
                "type" : "string",
                "description" : "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit",
                "maxLength" : 25
              }
            }
          }
        },
        "adviseThroughBanks" : {
          "type" : "array",
          "description" : "Identifies the bank ID, if different from the Receiver, through which the Letter of Credit is to be advised/confirmed to the beneficiary.",
          "items" : {
            "type" : "object",
            "properties" : {
              "adviseThroughBank" : {
                "type" : "string",
                "description" : "Identifies the bank ID, if different from the Receiver, through which the Letter of Credit is to be advised/confirmed to the beneficiary.",
                "maxLength" : 25
              }
            }
          }
        },
        "charges" : {
          "type" : "array",
          "description" : "The charges or fees for this transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeCode" : {
                "type" : "string",
                "description" : "Indicates the charge code to which the charges are identified and calculated and to be debited to the customer account. For example: C(Credit less Charges The Credit less Charges), D(Debit plus Charge The Debit plus Charge) , W(Waive).",
                "maxLength" : 25
              },
              "partyCharged" : {
                "type" : "string",
                "description" : "Code to determine the identity of the party from whom the related charge is to be taken. Allowed values: -B(eneficiary) - O(pener) - T(hird Party).",
                "maxLength" : 25
              },
              "chargeDebitAccount" : {
                "type" : "string",
                "description" : "The account number of the account where charges will be debited to.",
                "maxLength" : 25
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted",
                "maxLength" : 25
              },
              "ChargeExchangeRate" : {
                "type" : "string",
                "description" : "Indicates the exchange rate to be used between the charge debit account and the charge currency is different.",
                "maxLength" : 25
              },
              "chargeAmount" : {
                "type" : "string",
                "description" : "Retrieves the Charge Amount after redeem",
                "maxLength" : 25
              },
              "amortiseCharges" : {
                "type" : "string",
                "description" : "Define if charges are to be amortised over the life of the LC. Y or N  input",
                "maxLength" : 25
              },
              "chargeStatus" : {
                "type" : "string",
                "description" : "Indicates the codes to identify the different status of the charge. If the charge has been taken, claimed, or to be deferred or waived. The codes that are used to identify various states of the charge are: null, 2, 3, 4, 5, 15. ",
                "maxLength" : 25
              },
              "taxCurrency" : {
                "type" : "string",
                "description" : "Contains the currency that tax is to be levied in. Example USD, GBP etc.",
                "maxLength" : 25
              },
              "taxAmount" : {
                "type" : "string",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment.",
                "maxLength" : 25
              },
              "charge" : {
                "type" : "string",
                "description" : "The charges or fees for this transaction",
                "maxLength" : 30
              }
            }
          }
        },
        "drawings" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "drawingType" : {
                "type" : "string",
                "description" : "This field is correlated to the other field payment type and identifies the Draw type under Letter of credit. Whether its a sight LC payment, acceptance, deferred payment or Mixed payment.",
                "maxLength" : 25
              },
              "paymentPercent" : {
                "type" : "string",
                "description" : "This field identifies the percentage amount of LC that is available for a particular draw type.",
                "maxLength" : 25
              },
              "paymentPortion" : {
                "type" : "string",
                "description" : "Identifies the amount of LC that is available for a particular draw type.",
                "maxLength" : 25
              },
              "AcptTimeBand" : {
                "type" : "string",
                "description" : "This field indicate the number of days applicable to an Acceptance or Deferred Payment period under a letter of credit. ",
                "maxLength" : 25
              },
              "AdditionalCoveredAmount" : {
                "type" : "string",
                "description" : "This field allows input of an amount that will be added to the liability amount of the LC and the limit will be updated accordingly.",
                "maxLength" : 25
              },
              "portionNo" : {
                "type" : "string",
                "description" : "This is a system generated field to display the revolution number under a revolving letter of credit.",
                "maxLength" : 25
              },
              "drawingAmount" : {
                "type" : "number",
                "description" : "System populated field that holds the amount of drawing processed under the related draw type multi value set."
              },
              "provisionOutstandingAmount" : {
                "type" : "number",
                "description" : "This is a system populated field to display the provision / margin outstanding amount."
              },
              "provisionAwaitAmount" : {
                "type" : "number",
                "description" : "This is a system populated field to display the related provision amount to be released subsequently on maturity date of a related drawing."
              },
              "liabilityPortionAmount" : {
                "type" : "string",
                "description" : "This is a system populated field to display the liability relating to each portion (MX or revolving type of LC) such as sight, acceptance or deferred payment is stored here.",
                "maxLength" : 25
              },
              "localCurrencyPortiomAmount" : {
                "type" : "number",
                "description" : "This is a system populated field to display the local currency equivalent of the liability portion stored in liability portion amount."
              },
              "limitReference" : {
                "type" : "string",
                "description" : "Identifies the credit limit reference for the underlying account.",
                "maxLength" : 25
              },
              "portionOverdrawn" : {
                "type" : "string",
                "description" : "This is a system populated field to display the amount overdrawn for a particular portion in a mixed payment transaction.",
                "maxLength" : 25
              }
            }
          }
        },
        "accountWithBanks" : {
          "type" : "array",
          "description" : "Identifies the bank where the beneficiary maintains his account",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithBank" : {
                "type" : "string",
                "description" : "Identifies the bank where the beneficiary maintains his account",
                "maxLength" : 30
              }
            }
          }
        },
        "senderReceiversInfoMT730" : {
          "type" : "array",
          "description" : "This field holds the additional information for the Receiver (Tag 72Z), while receiving/generating MT730 message.",
          "items" : {
            "type" : "object",
            "properties" : {
              "senderReceiverInfoMT730" : {
                "type" : "string",
                "description" : "This field holds the additional information for the Receiver (Tag 72Z), while receiving/generating MT730 message.",
                "maxLength" : 30
              }
            }
          }
        },
        "exportLCType" : {
          "type" : "string",
          "description" : "Identifies the Export type of LC",
          "maxLength" : 25
        },
        "backToBackLCRequired" : {
          "type" : "string",
          "description" : "This field indicates if a Back to Back Letter of Credit is to be generated.",
          "maxLength" : 25
        },
        "relatedImportLCReference" : {
          "type" : "string",
          "description" : "This is a system updated field for displaying the corresponding import letter of credit number when a back to back LC transaction is generated.",
          "maxLength" : 25
        },
        "advisingBankReference" : {
          "type" : "string",
          "description" : "Advising Bank reference number for use on messages and advices under the LC contract",
          "maxLength" : 25
        },
        "lcAdvisingReference" : {
          "type" : "string",
          "description" : "Identifies the Advising banks LCs number (or reference of the L/C from legacy system) or it can be used for the bank to use a unique Letter of Credit number rather than the system generated ID",
          "maxLength" : 25
        },
        "issuingBankLCReference" : {
          "type" : "string",
          "description" : "Indicates the Issuing Bank's reference of the Letter of Credit.",
          "maxLength" : 30
        },
        "issuingBankId" : {
          "type" : "string",
          "description" : "Identifies the Issuing bank ID under the LC, who issues the LC under when a bank is advising the Letter of Credit",
          "maxLength" : 25
        },
        "issuingBankName" : {
          "type" : "string",
          "description" : "Identifies the Issuing bank name and address of the bank issuing the LC.",
          "maxLength" : 25
        },
        "lcCurrency" : {
          "type" : "string",
          "description" : "Denote the currency of the Letter of Credit.",
          "maxLength" : 25
        },
        "lcAmount" : {
          "type" : "number",
          "description" : "This field indicates the amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
        },
        "creditTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit the amount can be specified plus or minus a tolerance expressed as a percentage which will always impact the LC liability for the greater amount including the plus tolerance as defined in this field.",
          "maxLength" : 25
        },
        "debitTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit, the amount can be specified with a tolerance, which will impact the LC liability for the greater amount. The amount in this field specifies a negative tolerance expressed as a percentage of the LC amount. It can impact the final drawing amount but not the live LC amount.",
          "maxLength" : 25
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "expiryDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
        },
        "expiryPlace" : {
          "type" : "string",
          "description" : "Expiry place for presentation under the documentary credit.",
          "maxLength" : 25
        },
        "liabilityReversalDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the contingent entries and the limits raised on the LC will be reversed."
        },
        "autoExpiry" : {
          "type" : "string",
          "description" : "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not Allowed values: - YES - NO - null (default value, same as NO)",
          "maxLength" : 25
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
          "maxLength" : 25
        },
        "applicant" : {
          "type" : "string",
          "description" : "Indicates the applicant name and address on whose behalf the Letter of Credit is being pre advised.",
          "maxLength" : 25
        },
        "availableWithBankId" : {
          "type" : "string",
          "description" : "Indicates the bank ID that is authorised to pay, accept, or negotiate document presented under the letter of credit",
          "maxLength" : 25
        },
        "adviseThroughBankID" : {
          "type" : "string",
          "description" : "Identifies the bank ID, if different from the Receiver, through which the Letter of Credit is to be advised/confirmed to the beneficiary.",
          "maxLength" : 25
        },
        "applicableRuleCodes" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 40
        },
        "confirmationInstruction" : {
          "type" : "string",
          "description" : "This field contains confirmation instructions for the receiver of the SWIFT MT700 / MT710 ",
          "maxLength" : 23
        },
        "chargeFrom" : {
          "type" : "string",
          "description" : "Code to identify from whom the bank is to claim its charges. Allowed values: - O(pener) - B(eneficiary) - T(hird Party)",
          "maxLength" : 25
        },
        "chargeDefaultAccount" : {
          "type" : "string",
          "description" : "This field identifies the default charge account under which all present and future charges under the letter of credit will be debited to. This eliminates the need to specify the charge account for every charge",
          "maxLength" : 25
        },
        "waiveCharge" : {
          "type" : "string",
          "description" : "Indicates if the charges are to be waived for the instruction",
          "maxLength" : 25
        },
        "revolvingType" : {
          "type" : "string",
          "description" : "Identifies the type of Revolving Letter of Credit , if Cumulative (CM) or Non-Cumulative type. (NC) ",
          "maxLength" : 25
        },
        "nunmberOfRevolution" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 25
        },
        "revolvingFrequency" : {
          "type" : "string",
          "description" : "Defines the frequency at which the letter of credit is to revolve.",
          "maxLength" : 25
        },
        "limitForRevolving" : {
          "type" : "string",
          "description" : "This field determines if the limit to be impacted to the current LC cycle or for the entire cycle including all the revolving values. Valid input in this field is SINGLE, and Input allowed only if the LC is revolving and non-cumulative in nature.",
          "maxLength" : 25
        },
        "curRevolLiab" : {
          "type" : "string",
          "description" : "Related to revolving Letters of Credit, this is a system populated field to display the liability in terms of the LC currency for the Current revolution.",
          "maxLength" : 25
        },
        "advisingBank" : {
          "type" : "string",
          "description" : "Identifies the advising bank under the Letter of Credit, through whom the Letter of Credit is to be advised to the second advising bank or beneficiary",
          "maxLength" : 30
        },
        "amountOfChargeMT730" : {
          "type" : "string",
          "description" : "This field indicated the currency and the total amount of charges to be claimed by the Sender of MT730 message type.",
          "maxLength" : 30
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "IssuanceOfBackToBackLCResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/IssuanceOfBackToBackLCResponseBody"
        }
      },
      "description" : "IssuanceOfBackToBackLCResponse"
    },
    "IssuanceOfBackToBackLCResponseBody" : {
      "type" : "object",
      "properties" : {
        "limitReferences" : {
          "type" : "array",
          "description" : "Identifies the credit limit reference for the underlying account.",
          "items" : {
            "type" : "object",
            "properties" : {
              "limitReference" : {
                "type" : "string",
                "description" : "Identifies the credit limit reference for the underlying account.",
                "maxLength" : 25
              }
            }
          }
        },
        "beneficiaryAddresses" : {
          "type" : "array",
          "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddress" : {
                "type" : "string",
                "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
                "maxLength" : 25
              }
            }
          }
        },
        "applicantNames" : {
          "type" : "array",
          "description" : "Indicates the name and address of the applicant of the Letter of Credit",
          "items" : {
            "type" : "object",
            "properties" : {
              "applicantName" : {
                "type" : "string",
                "description" : "Indicates the name and address of the applicant of the Letter of Credit",
                "maxLength" : 25
              }
            }
          }
        },
        "availableWithBanks" : {
          "type" : "array",
          "description" : "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit",
          "items" : {
            "type" : "object",
            "properties" : {
              "availableWithBank" : {
                "type" : "string",
                "description" : "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit",
                "maxLength" : 25
              }
            }
          }
        },
        "adviseThroughBanks" : {
          "type" : "array",
          "description" : "Identifies the bank ID, if different from the Receiver, through which the Letter of Credit is to be advised/confirmed to the beneficiary.",
          "items" : {
            "type" : "object",
            "properties" : {
              "adviseThroughBank" : {
                "type" : "string",
                "description" : "Identifies the bank ID, if different from the Receiver, through which the Letter of Credit is to be advised/confirmed to the beneficiary.",
                "maxLength" : 25
              }
            }
          }
        },
        "charges" : {
          "type" : "array",
          "description" : "The charges or fees for this transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeCode" : {
                "type" : "string",
                "description" : "Indicates the charge code to which the charges are identified and calculated and to be debited to the customer account. For example: C(Credit less Charges The Credit less Charges), D(Debit plus Charge The Debit plus Charge) , W(Waive).",
                "maxLength" : 25
              },
              "partyCharged" : {
                "type" : "string",
                "description" : "Code to determine the identity of the party from whom the related charge is to be taken. Allowed values: -B(eneficiary) - O(pener) - T(hird Party).",
                "maxLength" : 25
              },
              "chargeDebitAccount" : {
                "type" : "string",
                "description" : "The account number of the account where charges will be debited to.",
                "maxLength" : 25
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted",
                "maxLength" : 25
              },
              "ChargeExchangeRate" : {
                "type" : "string",
                "description" : "Indicates the exchange rate to be used between the charge debit account and the charge currency is different.",
                "maxLength" : 25
              },
              "chargeAmount" : {
                "type" : "string",
                "description" : "Retrieves the Charge Amount after redeem",
                "maxLength" : 25
              },
              "amortiseCharges" : {
                "type" : "string",
                "description" : "Define if charges are to be amortised over the life of the LC. Y or N  input",
                "maxLength" : 25
              },
              "chargeStatus" : {
                "type" : "string",
                "description" : "Indicates the codes to identify the different status of the charge. If the charge has been taken, claimed, or to be deferred or waived. The codes that are used to identify various states of the charge are: null, 2, 3, 4, 5, 15. ",
                "maxLength" : 25
              },
              "taxCurrency" : {
                "type" : "string",
                "description" : "Contains the currency that tax is to be levied in. Example USD, GBP etc.",
                "maxLength" : 25
              },
              "taxAmount" : {
                "type" : "string",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment.",
                "maxLength" : 25
              },
              "charge" : {
                "type" : "string",
                "description" : "The charges or fees for this transaction",
                "maxLength" : 30
              }
            }
          }
        },
        "drawings" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "drawingType" : {
                "type" : "string",
                "description" : "This field is correlated to the other field payment type and identifies the Draw type under Letter of credit. Whether its a sight LC payment, acceptance, deferred payment or Mixed payment.",
                "maxLength" : 25
              },
              "paymentPercent" : {
                "type" : "string",
                "description" : "This field identifies the percentage amount of LC that is available for a particular draw type.",
                "maxLength" : 25
              },
              "paymentPortion" : {
                "type" : "string",
                "description" : "Identifies the amount of LC that is available for a particular draw type.",
                "maxLength" : 25
              },
              "AcptTimeBand" : {
                "type" : "string",
                "description" : "This field indicate the number of days applicable to an Acceptance or Deferred Payment period under a letter of credit. ",
                "maxLength" : 25
              },
              "AdditionalCoveredAmount" : {
                "type" : "string",
                "description" : "This field allows input of an amount that will be added to the liability amount of the LC and the limit will be updated accordingly.",
                "maxLength" : 25
              },
              "portionNo" : {
                "type" : "string",
                "description" : "This is a system generated field to display the revolution number under a revolving letter of credit.",
                "maxLength" : 25
              },
              "drawingAmount" : {
                "type" : "number",
                "description" : "System populated field that holds the amount of drawing processed under the related draw type multi value set."
              },
              "provisionOutstandingAmount" : {
                "type" : "number",
                "description" : "This is a system populated field to display the provision / margin outstanding amount."
              },
              "provisionAwaitAmount" : {
                "type" : "number",
                "description" : "This is a system populated field to display the related provision amount to be released subsequently on maturity date of a related drawing."
              },
              "liabilityPortionAmount" : {
                "type" : "string",
                "description" : "This is a system populated field to display the liability relating to each portion (MX or revolving type of LC) such as sight, acceptance or deferred payment is stored here.",
                "maxLength" : 25
              },
              "localCurrencyPortiomAmount" : {
                "type" : "number",
                "description" : "This is a system populated field to display the local currency equivalent of the liability portion stored in liability portion amount."
              },
              "limitReference" : {
                "type" : "string",
                "description" : "Identifies the credit limit reference for the underlying account.",
                "maxLength" : 25
              },
              "portionOverdrawn" : {
                "type" : "string",
                "description" : "This is a system populated field to display the amount overdrawn for a particular portion in a mixed payment transaction.",
                "maxLength" : 25
              }
            }
          }
        },
        "accountWithBanks" : {
          "type" : "array",
          "description" : "Identifies the bank where the beneficiary maintains his account",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountWithBank" : {
                "type" : "string",
                "description" : "Identifies the bank where the beneficiary maintains his account",
                "maxLength" : 30
              }
            }
          }
        },
        "senderReceiversInfoMT730" : {
          "type" : "array",
          "description" : "This field holds the additional information for the Receiver (Tag 72Z), while receiving/generating MT730 message.",
          "items" : {
            "type" : "object",
            "properties" : {
              "senderReceiverInfoMT730" : {
                "type" : "string",
                "description" : "This field holds the additional information for the Receiver (Tag 72Z), while receiving/generating MT730 message.",
                "maxLength" : 30
              }
            }
          }
        },
        "exportLCType" : {
          "type" : "string",
          "description" : "Identifies the Export type of LC",
          "maxLength" : 25
        },
        "backToBackLCRequired" : {
          "type" : "string",
          "description" : "This field indicates if a Back to Back Letter of Credit is to be generated.",
          "maxLength" : 25
        },
        "relatedImportLCReference" : {
          "type" : "string",
          "description" : "This is a system updated field for displaying the corresponding import letter of credit number when a back to back LC transaction is generated.",
          "maxLength" : 25
        },
        "advisingBankReference" : {
          "type" : "string",
          "description" : "Advising Bank reference number for use on messages and advices under the LC contract",
          "maxLength" : 25
        },
        "lcAdvisingReference" : {
          "type" : "string",
          "description" : "Identifies the Advising banks LCs number (or reference of the L/C from legacy system) or it can be used for the bank to use a unique Letter of Credit number rather than the system generated ID",
          "maxLength" : 25
        },
        "issuingBankLCReference" : {
          "type" : "string",
          "description" : "Indicates the Issuing Bank's reference of the Letter of Credit.",
          "maxLength" : 30
        },
        "issuingBankId" : {
          "type" : "string",
          "description" : "Identifies the Issuing bank ID under the LC, who issues the LC under when a bank is advising the Letter of Credit",
          "maxLength" : 25
        },
        "issuingBankName" : {
          "type" : "string",
          "description" : "Identifies the Issuing bank name and address of the bank issuing the LC.",
          "maxLength" : 25
        },
        "lcCurrency" : {
          "type" : "string",
          "description" : "Denote the currency of the Letter of Credit.",
          "maxLength" : 25
        },
        "lcAmount" : {
          "type" : "number",
          "description" : "This field indicates the amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
        },
        "creditTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit the amount can be specified plus or minus a tolerance expressed as a percentage which will always impact the LC liability for the greater amount including the plus tolerance as defined in this field.",
          "maxLength" : 25
        },
        "debitTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit, the amount can be specified with a tolerance, which will impact the LC liability for the greater amount. The amount in this field specifies a negative tolerance expressed as a percentage of the LC amount. It can impact the final drawing amount but not the live LC amount.",
          "maxLength" : 25
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "expiryDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
        },
        "expiryPlace" : {
          "type" : "string",
          "description" : "Expiry place for presentation under the documentary credit.",
          "maxLength" : 25
        },
        "liabilityReversalDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the contingent entries and the limits raised on the LC will be reversed."
        },
        "autoExpiry" : {
          "type" : "string",
          "description" : "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not Allowed values: - YES - NO - null (default value, same as NO)",
          "maxLength" : 25
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
          "maxLength" : 25
        },
        "applicant" : {
          "type" : "string",
          "description" : "Indicates the applicant name and address on whose behalf the Letter of Credit is being pre advised.",
          "maxLength" : 25
        },
        "availableWithBankId" : {
          "type" : "string",
          "description" : "Indicates the bank ID that is authorised to pay, accept, or negotiate document presented under the letter of credit",
          "maxLength" : 25
        },
        "adviseThroughBankID" : {
          "type" : "string",
          "description" : "Identifies the bank ID, if different from the Receiver, through which the Letter of Credit is to be advised/confirmed to the beneficiary.",
          "maxLength" : 25
        },
        "applicableRuleCodes" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 40
        },
        "confirmationInstruction" : {
          "type" : "string",
          "description" : "This field contains confirmation instructions for the receiver of the SWIFT MT700 / MT710 ",
          "maxLength" : 23
        },
        "chargeFrom" : {
          "type" : "string",
          "description" : "Code to identify from whom the bank is to claim its charges. Allowed values: - O(pener) - B(eneficiary) - T(hird Party)",
          "maxLength" : 25
        },
        "chargeDefaultAccount" : {
          "type" : "string",
          "description" : "This field identifies the default charge account under which all present and future charges under the letter of credit will be debited to. This eliminates the need to specify the charge account for every charge",
          "maxLength" : 25
        },
        "waiveCharge" : {
          "type" : "string",
          "description" : "Indicates if the charges are to be waived for the instruction",
          "maxLength" : 25
        },
        "revolvingType" : {
          "type" : "string",
          "description" : "Identifies the type of Revolving Letter of Credit , if Cumulative (CM) or Non-Cumulative type. (NC) ",
          "maxLength" : 25
        },
        "nunmberOfRevolution" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 25
        },
        "revolvingFrequency" : {
          "type" : "string",
          "description" : "Defines the frequency at which the letter of credit is to revolve.",
          "maxLength" : 25
        },
        "limitForRevolving" : {
          "type" : "string",
          "description" : "This field determines if the limit to be impacted to the current LC cycle or for the entire cycle including all the revolving values. Valid input in this field is SINGLE, and Input allowed only if the LC is revolving and non-cumulative in nature.",
          "maxLength" : 25
        },
        "curRevolLiab" : {
          "type" : "string",
          "description" : "Related to revolving Letters of Credit, this is a system populated field to display the liability in terms of the LC currency for the Current revolution.",
          "maxLength" : 25
        },
        "advisingBank" : {
          "type" : "string",
          "description" : "Identifies the advising bank under the Letter of Credit, through whom the Letter of Credit is to be advised to the second advising bank or beneficiary",
          "maxLength" : 30
        },
        "amountOfChargeMT730" : {
          "type" : "string",
          "description" : "This field indicated the currency and the total amount of charges to be claimed by the Sender of MT730 message type.",
          "maxLength" : 30
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}