{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows the closure of the portfolio or delinking an account from the portfolio",
    "version" : "v1.0.0",
    "title" : "Holdings Portfolio Closure and Delink Account APIs"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/portfolios/{portfolioId}/portfolioClosures" : {
      "put" : {
        "operationId" : "updatePortfolioClosure",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "portfolioId",
          "in" : "path",
          "description" : "Id of the portfolio or security account",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PortfolioClosure"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PortfolioClosureResponse",
            "schema" : {
              "$ref" : "#/definitions/PortfolioClosureResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/portfolios/{portfolioId}/accountRemovals" : {
      "put" : {
        "operationId" : "updatePortfolioDelinkAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "portfolioId",
          "in" : "path",
          "description" : "Id of the portfolio or security account",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PortfolioClosure"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PortfolioDelinkAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/PortfolioClosureResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "PortfolioClosure" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PortfolioClosureBody"
        }
      },
      "description" : "PortfolioClosure"
    },
    "PortfolioClosureBody" : {
      "type" : "object",
      "properties" : {
        "accountIds" : {
          "type" : "array",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "items" : {
            "type" : "object",
            "properties" : {
              "account" : {
                "type" : "string",
                "description" : "Identifies the unique account Id of the payment entered.",
                "maxLength" : 25
              }
            }
          }
        },
        "jointHolder" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "jointHolderId" : {
                "type" : "string",
                "description" : "The identifier of the joint holder",
                "maxLength" : 25
              },
              "jointRelationCode" : {
                "type" : "number",
                "description" : "The identifier of the relationship between joint holder and owner "
              },
              "additionalDetail" : {
                "type" : "string",
                "description" : "Additional details provided to add context. Closure notes for closed accounts, positing restriction details for restricted accounts & joint holder notes or account title for active accounts",
                "maxLength" : 25
              }
            }
          }
        },
        "customerId" : {
          "type" : "number",
          "description" : "Identifier of the customer"
        },
        "referenceCurrency" : {
          "type" : "string",
          "description" : "The reference currency",
          "maxLength" : 25
        },
        "valuationCurrency" : {
          "type" : "string",
          "description" : "The currency in which the account or portfolio is valued",
          "maxLength" : 25
        },
        "portfolioName" : {
          "type" : "string",
          "description" : "The name that is displayed for the portfolio",
          "maxLength" : 25
        },
        "accountOfficer" : {
          "type" : "number",
          "description" : "Identifier of Department Account Officer"
        },
        "investmentProgram" : {
          "type" : "number",
          "description" : "The identifier of the investment strategy followed by the Portfolio"
        },
        "managedAccount" : {
          "type" : "number",
          "description" : "The type of managed account- Discretionary or otherwise"
        },
        "safekeepChargeAccount" : {
          "type" : "string",
          "description" : "The cash account to which safe custody charges need to be posted",
          "maxLength" : 25
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 25
        },
        "startDate" : {
          "type" : "string",
          "description" : "Contains the date on which the transaction or payment gets initiated.",
          "maxLength" : 25
        },
        "closureDate" : {
          "type" : "string",
          "description" : "The date when the Security Account is to be closed",
          "maxLength" : 25
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "PortfolioClosureResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PortfolioClosureResponseBody"
        }
      },
      "description" : "PortfolioClosureResponse"
    },
    "PortfolioClosureResponseBody" : {
      "type" : "object",
      "properties" : {
        "accountIds" : {
          "type" : "array",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "items" : {
            "type" : "object",
            "properties" : {
              "account" : {
                "type" : "string",
                "description" : "Identifies the unique account Id of the payment entered.",
                "maxLength" : 25
              }
            }
          }
        },
        "jointHolder" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "jointHolderId" : {
                "type" : "string",
                "description" : "The identifier of the joint holder",
                "maxLength" : 25
              },
              "jointRelationCode" : {
                "type" : "number",
                "description" : "The identifier of the relationship between joint holder and owner "
              },
              "additionalDetail" : {
                "type" : "string",
                "description" : "Additional details provided to add context. Closure notes for closed accounts, positing restriction details for restricted accounts & joint holder notes or account title for active accounts",
                "maxLength" : 25
              }
            }
          }
        },
        "customerId" : {
          "type" : "number",
          "description" : "Identifier of the customer"
        },
        "referenceCurrency" : {
          "type" : "string",
          "description" : "The reference currency",
          "maxLength" : 25
        },
        "valuationCurrency" : {
          "type" : "string",
          "description" : "The currency in which the account or portfolio is valued",
          "maxLength" : 25
        },
        "portfolioName" : {
          "type" : "string",
          "description" : "The name that is displayed for the portfolio",
          "maxLength" : 25
        },
        "accountOfficer" : {
          "type" : "number",
          "description" : "Identifier of Department Account Officer"
        },
        "investmentProgram" : {
          "type" : "number",
          "description" : "The identifier of the investment strategy followed by the Portfolio"
        },
        "managedAccount" : {
          "type" : "number",
          "description" : "The type of managed account- Discretionary or otherwise"
        },
        "safekeepChargeAccount" : {
          "type" : "string",
          "description" : "The cash account to which safe custody charges need to be posted",
          "maxLength" : 25
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 25
        },
        "startDate" : {
          "type" : "string",
          "description" : "Contains the date on which the transaction or payment gets initiated.",
          "maxLength" : 25
        },
        "closureDate" : {
          "type" : "string",
          "description" : "The date when the Security Account is to be closed",
          "maxLength" : 25
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}