{
  "swagger" : "2.0",
  "info" : {
    "description" : "Creates a Savings Account",
    "version" : "v1.0.0",
    "title" : "createSavingAccount"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/accounts/savingsAccounts" : {
      "post" : {
        "operationId" : "createSavingAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SavingAccount"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createSavingAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/SavingAccountResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "SavingAccount" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SavingAccountBody"
        }
      },
      "description" : "SavingAccount"
    },
    "SavingAccountBody" : {
      "type" : "object",
      "properties" : {
        "partyIds" : {
          "type" : "array",
          "description" : "It is an unique identifier of a customer or party",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyId" : {
                "type" : "string",
                "description" : "It is an unique identifier of a customer or party",
                "maxLength" : 45
              }
            }
          }
        },
        "partyRoles" : {
          "type" : "array",
          "description" : "Indicates the role of a customer or party, Eg: Benefial Owner, Nominee etc",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyRole" : {
                "type" : "string",
                "description" : "Indicates the role of a customer or party, Eg: Benefial Owner, Nominee etc",
                "maxLength" : 45
              }
            }
          }
        },
        "agentCustomerIds" : {
          "type" : "array",
          "description" : "It is a unique identifier of an agent",
          "items" : {
            "type" : "object",
            "properties" : {
              "agentCustomerId" : {
                "type" : "string",
                "description" : "It is a unique identifier of an agent",
                "maxLength" : 45
              }
            }
          }
        },
        "agentArrangementIds" : {
          "type" : "array",
          "description" : "Indicates the unique reference of an agent account",
          "items" : {
            "type" : "object",
            "properties" : {
              "agentArrangementId" : {
                "type" : "string",
                "description" : "Indicates the unique reference of an agent account",
                "maxLength" : 45
              }
            }
          }
        },
        "agentRoles" : {
          "type" : "array",
          "description" : "Indicates the role of a agent",
          "items" : {
            "type" : "object",
            "properties" : {
              "agentRole" : {
                "type" : "string",
                "description" : "Indicates the role of a agent",
                "maxLength" : 45
              }
            }
          }
        },
        "arrangmentId" : {
          "type" : "string",
          "description" : "It is the unique identifier of an arrangement account",
          "maxLength" : 45
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "maxLength" : 45
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "maxLength" : 45
        },
        "currency" : {
          "type" : "string",
          "description" : "Indicates the type of currency to which the account belongs",
          "maxLength" : 45
        },
        "productVariation" : {
          "type" : "string",
          "description" : "It defines the type of a customer based on criteria defined by Bank, Eg: Gold Customer, Mobile Banking Customer",
          "maxLength" : 45
        },
        "pricingSelection" : {
          "type" : "string",
          "description" : "If the account has an associated pricing arrangement, the way the pricing is applied is indicated from standard set of values - automatic, manual or No Pricing.",
          "maxLength" : 45
        },
        "pricingPlan" : {
          "type" : "string",
          "description" : "Indicates the Pricing Plan of an account, it gives preferential interest rate/charge schedule based on customer segment",
          "maxLength" : 45
        },
        "rewardsArrangementId" : {
          "type" : "string",
          "description" : "Indicates the Rewards account id assigned to a financial account(Loans,Deposits)",
          "maxLength" : 45
        },
        "tradeDate" : {
          "type" : "string",
          "description" : "Standard date field which records trade date of the account",
          "maxLength" : 45
        },
        "arrangementEffectiveDate" : {
          "type" : "string",
          "description" : "It is a date on/upon which an account is considered to take effect",
          "maxLength" : 45
        },
        "reason" : {
          "type" : "string",
          "description" : "Indicates the reason for performing an activity",
          "maxLength" : 45
        },
        "balance" : {
          "type" : "object",
          "properties" : {
            "accountTitle" : {
              "type" : "string",
              "description" : "Short title on an account",
              "maxLength" : 18
            },
            "accountTitle2" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 18
            },
            "shortTitle" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 18
            },
            "altId1" : {
              "type" : "string",
              "description" : ""
            },
            "Mnemonic" : {
              "type" : "string",
              "description" : "Shortcut code for referring an Entity/Company/Branch.",
              "maxLength" : 18
            },
            "accountReference" : {
              "type" : "string",
              "description" : "Account Reference of the error account",
              "maxLength" : 18
            },
            "customerReference" : {
              "type" : "string",
              "description" : "The reference which is provided to the beneficiary/ creditor by the originator of payment",
              "maxLength" : 18
            },
            "originationRef" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 18
            },
            "Category" : {
              "type" : "string",
              "description" : "Indicates the account or contract product name. For example for an account this maybe current, savings etc.",
              "maxLength" : 18
            },
            "postingRestrict" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 22
            },
            "baseDateType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 18
            },
            "Anniversary" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 22
            },
            "dateConvention" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 18
            },
            "dateAdjustment" : {
              "type" : "string",
              "description" : "Defines the behavior when recurring payment dates falls on a weekend or bank holiday. The payment is then executed either the 'preceding' or 'following' working day. ASPSP might reject the request due to the communicated value, if rules in Online-Banking are not supporting this execution rule.",
              "maxLength" : 22
            },
            "busDayCentres" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 18
            },
            "portfolioId" : {
              "type" : "string",
              "description" : "Id of the portfolio or security account",
              "maxLength" : 22
            },
            "inactiveMonths" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 18
            },
            "accountingCompany" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 22
            },
            "referalCode" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 18
            },
            "baseDateKey" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 22
            },
            "Restriction" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 11,
              "enum" : [ "Reason for Posting Restrict" ]
            },
            "blockingCode1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 20,
              "enum" : [ "Reason for Posting Restrict" ]
            },
            "blockingReason11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "startDate1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 5
            },
            "expiryDate1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 5
            },
            "unblockingReason" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 20
            },
            "unblockingReason11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            }
          }
        },
        "activityCharges" : {
          "type" : "object",
          "properties" : {
            "appPeriod11" : {
              "type" : "string",
              "description" : ""
            },
            "appMethod11" : {
              "type" : "string",
              "description" : ""
            },
            "chargeAutoSettle11" : {
              "type" : "string",
              "description" : ""
            }
          }
        },
        "messaging" : {
          "type" : "object",
          "properties" : {
            "advice1" : {
              "type" : "string",
              "description" : ""
            },
            "activityClass1" : {
              "type" : "string",
              "description" : ""
            },
            "activityId1" : {
              "type" : "string",
              "description" : ""
            },
            "role11" : {
              "type" : "string",
              "description" : ""
            },
            "msgContent1" : {
              "type" : "string",
              "description" : ""
            },
            "sendAdvice1" : {
              "type" : "string",
              "description" : ""
            },
            "preNotice" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 12
            },
            "preNoticeDays1" : {
              "type" : "string",
              "description" : ""
            }
          }
        },
        "arrangementRules" : {
          "type" : "object",
          "properties" : {
            "rule" : {
              "type" : "string",
              "description" : "A rule is assigned to a product and the rule determines whether a customer can buy that product or hold it after changes in circumstance.",
              "maxLength" : 6
            },
            "periodicAttribute1" : {
              "type" : "string",
              "description" : ""
            },
            "ruleActivityClass11" : {
              "type" : "string",
              "description" : ""
            },
            "ruleActivityId11" : {
              "type" : "string",
              "description" : ""
            },
            "balanceType1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 1
            },
            "periodicValue1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 1
            },
            "activityClass11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "activityId11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "restrict1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "ruleId11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "restrictType11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "overrideErrorId" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 24
            },
            "restrictError11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "chargePeriodMethod" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 24
            },
            "appPeriod11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "appMethod11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "propertyId1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "propertyRuleName11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "evaluation1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "evaluationResult1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "altPropertyId1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            }
          }
        },
        "productQualifierRules" : {
          "type" : "object",
          "properties" : {
            "rule" : {
              "type" : "string",
              "description" : "A rule is assigned to a product and the rule determines whether a customer can buy that product or hold it after changes in circumstance.",
              "maxLength" : 6
            },
            "periodicAttribute1" : {
              "type" : "string",
              "description" : ""
            },
            "ruleActivityClass11" : {
              "type" : "string",
              "description" : ""
            },
            "ruleActivityId11" : {
              "type" : "string",
              "description" : ""
            },
            "balanceType1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 1
            },
            "periodicValue1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 1
            },
            "activityClass11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "activityId11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "restrict1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "ruleId11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "restrictType11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "overrideErrorId" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 24
            },
            "restrictError11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "chargePeriodMethod" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 24
            },
            "appPeriod11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "appMethod11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "propertyId1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "propertyRuleName11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "evaluation1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "evaluationResult1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "altPropertyId1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            }
          }
        },
        "agentCommission" : {
          "type" : "object",
          "properties" : {
            "agentId1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 1
            },
            "agentArrId1" : {
              "type" : "string",
              "description" : ""
            },
            "agentRole1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 2
            },
            "onlineEvent11" : {
              "type" : "string",
              "description" : ""
            },
            "scheduledEvent11" : {
              "type" : "string",
              "description" : ""
            },
            "fixedAmount11" : {
              "type" : "string",
              "description" : ""
            },
            "marginOperand11" : {
              "type" : "string",
              "description" : ""
            },
            "marginRate11" : {
              "type" : "string",
              "description" : ""
            },
            "marginPercent11" : {
              "type" : "string",
              "description" : ""
            }
          }
        },
        "rewardsPoints" : {
          "type" : "object",
          "properties" : {
            "agentId1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 1
            },
            "agentArrId1" : {
              "type" : "string",
              "description" : ""
            },
            "agentRole1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 2
            },
            "onlineEvent11" : {
              "type" : "string",
              "description" : ""
            },
            "scheduledEvent11" : {
              "type" : "string",
              "description" : ""
            },
            "fixedAmount11" : {
              "type" : "string",
              "description" : ""
            },
            "marginOperand11" : {
              "type" : "string",
              "description" : ""
            },
            "marginRate11" : {
              "type" : "string",
              "description" : ""
            },
            "marginPercent11" : {
              "type" : "string",
              "description" : ""
            }
          }
        },
        "alerts" : {
          "type" : "object",
          "properties" : {
            "event1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "field11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "operand11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            },
            "value11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 0
            }
          }
        },
        "balanceAvailability" : {
          "type" : "object",
          "properties" : {
            "noticeAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 19
            },
            "noticePeriod" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 19
            },
            "noticeAvailability" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 19
            },
            "creditCheck" : {
              "type" : "string",
              "description" : "Set to yes if the Collateral Surplus Deficit is positive",
              "maxLength" : 12
            },
            "balanceAvailabilityUpdate" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 27
            }
          }
        },
        "balanceMaintenance" : {
          "type" : "object",
          "properties" : {
            "adjustmentDescription" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 29
            },
            "netAdjustmentAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 29
            },
            "adjustmentDifferenceAccount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 29
            },
            "adjustProperty" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 15
            },
            "adjustBalanceType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 23
            },
            "originalBalanceAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 23
            },
            "newBalanceAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 23
            },
            "adjustmentAmount" : {
              "type" : "string",
              "description" : "Indicates the adjusted interest amount",
              "maxLength" : 23
            },
            "writeOff" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 23
            },
            "writeOffAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 23
            },
            "billReference" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 15
            },
            "originalBillAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "outstandingBillAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "newBillAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "delinquentBillAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "writeOffBill" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "billAdjustmentNarrative" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "billDate" : {
              "type" : "string",
              "description" : "Indicates a date on which a bill has been raised",
              "maxLength" : 25
            },
            "paymentDate" : {
              "type" : "string",
              "description" : "The date on which a payment is due",
              "maxLength" : 25
            },
            "billType" : {
              "type" : "string",
              "description" : "The type of payment obligation generated",
              "maxLength" : 25
            },
            "paymentType" : {
              "type" : "string",
              "description" : "Indicates if the payment is Customer (C) type or Bank (B) type",
              "maxLength" : 25
            },
            "paymentMethod" : {
              "type" : "string",
              "description" : "Method chosen to make the payment",
              "maxLength" : 25
            },
            "paymentAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "Property" : {
              "type" : "string",
              "description" : "The corresponding property",
              "maxLength" : 25
            },
            "writeOffBillProperty" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 27
            },
            "originalPropertyAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 27
            },
            "outstandingPropertyAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 27
            },
            "newPropertyAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 27
            },
            "adjustedPropertyAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 27
            }
          }
        },
        "renewal" : {
          "type" : "object",
          "properties" : {
            "renewalDateType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 17
            },
            "renewalPeriod" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 17
            },
            "renewalDate" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 17
            },
            "renewalActivity" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 17
            },
            "priorDays" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 17
            },
            "changeToProduct" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 17
            },
            "allowedProduct" : {
              "type" : "string",
              "description" : "Product or products allowed to be used within the product bundle.",
              "maxLength" : 17
            },
            "Initiation" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 17
            },
            "defaultActivity" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 17
            }
          }
        },
        "txnfee" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "Tier" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "description" : ""
            },
            "upTo" : {
              "type" : "string",
              "description" : "indicates the date upto which rate was applicable",
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingCode" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipProduct" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipVariation" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipPercentage" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAmount" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "description" : ""
            }
          }
        },
        "minbalfee" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "Tier" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "description" : ""
            },
            "upTo" : {
              "type" : "string",
              "description" : "indicates the date upto which rate was applicable",
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingCode" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipProduct" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipVariation" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipPercentage" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAmount" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "description" : ""
            }
          }
        },
        "bonus" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "Tier" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "description" : ""
            },
            "upTo" : {
              "type" : "string",
              "description" : "indicates the date upto which rate was applicable",
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingCode" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipProduct" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipVariation" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipPercentage" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAmount" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "description" : ""
            }
          }
        },
        "closurefee" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "Tier" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "description" : ""
            },
            "upTo" : {
              "type" : "string",
              "description" : "indicates the date upto which rate was applicable",
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingCode" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipProduct" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipVariation" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipPercentage" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAmount" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "description" : ""
            }
          }
        },
        "dormancyfee" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "Tier" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "description" : ""
            },
            "upTo" : {
              "type" : "string",
              "description" : "indicates the date upto which rate was applicable",
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingCode" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipProduct" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipVariation" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipPercentage" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAmount" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "description" : ""
            }
          }
        },
        "mgmtfee" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "Tier" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "description" : ""
            },
            "upTo" : {
              "type" : "string",
              "description" : "indicates the date upto which rate was applicable",
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingCode" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipProduct" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipVariation" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipPercentage" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAmount" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "description" : ""
            }
          }
        },
        "cardissuefee" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "Tier" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "description" : ""
            },
            "upTo" : {
              "type" : "string",
              "description" : "indicates the date upto which rate was applicable",
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingCode" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipProduct" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipVariation" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipPercentage" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAmount" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "description" : ""
            }
          }
        },
        "limitfees" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "Tier" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "description" : ""
            },
            "upTo" : {
              "type" : "string",
              "description" : "indicates the date upto which rate was applicable",
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingCode" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipProduct" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipVariation" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipPercentage" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAmount" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "description" : ""
            }
          }
        },
        "payfees" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "Tier" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "description" : ""
            },
            "upTo" : {
              "type" : "string",
              "description" : "indicates the date upto which rate was applicable",
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingCode" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipProduct" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipVariation" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipPercentage" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAmount" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "description" : ""
            }
          }
        },
        "returnfees" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "Tier" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "description" : ""
            },
            "upTo" : {
              "type" : "string",
              "description" : "indicates the date upto which rate was applicable",
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingCode" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipProduct" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipVariation" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipPercentage" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAmount" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "description" : ""
            }
          }
        },
        "nsfreversalfees" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "Tier" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "description" : ""
            },
            "upTo" : {
              "type" : "string",
              "description" : "indicates the date upto which rate was applicable",
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingCode" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipProduct" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipVariation" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipPercentage" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAmount" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "description" : ""
            }
          }
        },
        "dorcloseadvfee" : {
          "type" : "object",
          "properties" : {
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "maxLength" : 14
            },
            "fixedAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "chargeRoutine" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierGroups" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 14
            },
            "tierType" : {
              "type" : "string",
              "description" : "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level",
              "maxLength" : 14
            },
            "calcType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 9
            },
            "Charge" : {
              "type" : "string",
              "description" : "The charges or fees for this transaction",
              "maxLength" : 6
            },
            "chgAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "Tier" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 4
            },
            "tierMaxCharge1" : {
              "type" : "string",
              "description" : ""
            },
            "upTo" : {
              "type" : "string",
              "description" : "indicates the date upto which rate was applicable",
              "maxLength" : 5
            },
            "tierCount1" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingLevel" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingCode" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjPercent" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "regionalPricingAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipProduct" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipVariation" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjOperand" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipPercentage" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAdjAmount" : {
              "type" : "string",
              "description" : ""
            },
            "relationshipAmount" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesBenefit1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjOperand1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjPercentage1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAdjAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "pricingRulesAmount1" : {
              "type" : "string",
              "description" : ""
            }
          }
        },
        "closure" : {
          "type" : "object",
          "properties" : {
            "closureType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 16
            },
            "closurePeriod" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 16
            },
            "closureMethod" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 16
            },
            "postingRestrict" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 16
            },
            "deferClosurePeriod" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 20
            },
            "closureActivity" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 16
            }
          }
        },
        "customer" : {
          "type" : "object",
          "properties" : {
            "Customer" : {
              "type" : "string",
              "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
              "maxLength" : 9
            },
            "taxLiabilityPerc1" : {
              "type" : "string",
              "description" : "Tax liability percentage of the customer"
            },
            "limitAllocPerc1" : {
              "type" : "string",
              "description" : "Percentage of limit allocated to the customer out of overall limit"
            },
            "glAllocPerc1" : {
              "type" : "string",
              "description" : "GL allocation percentage of the customer"
            },
            "jsLiable" : {
              "type" : "string",
              "description" : "Joint & Severally Liable",
              "maxLength" : 9,
              "enum" : [ "Joint & Severally Liable" ]
            },
            "includeInCraOf" : {
              "type" : "string",
              "description" : "CRA of the customer",
              "maxLength" : 17,
              "enum" : [ "Include in CRA of" ]
            }
          }
        },
        "crinterest" : {
          "type" : "object",
          "properties" : {
            "Fixed" : {
              "type" : "string",
              "description" : "Indicates the fixed interest rate applied to an account",
              "maxLength" : 5
            },
            "Spread" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 6
            },
            "Margin" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 6
            },
            "marginOper11" : {
              "type" : "string",
              "description" : ""
            },
            "marginRate11" : {
              "type" : "string",
              "description" : ""
            },
            "minMaxRate" : {
              "type" : "string",
              "description" : "Indicates whether minimum and maximum rate defined for the tier",
              "maxLength" : 14
            },
            "tierMaxRate1" : {
              "type" : "string",
              "description" : ""
            },
            "effectiveRate" : {
              "type" : "string",
              "description" : "Indicates the actual interest rate applied for the account after adjustment/tier calculation/based on basic or Periodic index value",
              "maxLength" : 14
            },
            "upTo" : {
              "type" : "string",
              "description" : "indicates the date upto which rate was applicable",
              "maxLength" : 5
            },
            "negativeRate" : {
              "type" : "string",
              "description" : "Indicates the negative interest rate applied to an account",
              "maxLength" : 13
            },
            "or_" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 4
            },
            "Tiers" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 5
            },
            "prAttribute1" : {
              "type" : "string",
              "description" : ""
            },
            "prValue1" : {
              "type" : "string",
              "description" : ""
            },
            "linkedArrangement" : {
              "type" : "string",
              "description" : "The account which is linked for calculating interest that should be applied to this account",
              "maxLength" : 18
            },
            "linkedProperty" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 15
            },
            "periodicIndex1" : {
              "type" : "string",
              "description" : ""
            },
            "periodicRate1" : {
              "type" : "string",
              "description" : ""
            },
            "usagePercent1" : {
              "type" : "string",
              "description" : ""
            },
            "periodicPeriodType1" : {
              "type" : "string",
              "description" : ""
            },
            "periodicPeriod1" : {
              "type" : "string",
              "description" : ""
            },
            "periodicMethod1" : {
              "type" : "string",
              "description" : ""
            },
            "initialResetDate1" : {
              "type" : "string",
              "description" : ""
            },
            "periodicReset1" : {
              "type" : "string",
              "description" : ""
            },
            "marginType11" : {
              "type" : "string",
              "description" : ""
            },
            "effectiveRate1" : {
              "type" : "string",
              "description" : ""
            },
            "tierNegativeRate1" : {
              "type" : "string",
              "description" : ""
            },
            "dayBasis" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "calcThreshold" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 23
            },
            "accrualRule" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "Compounding" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "compoundYieldMethod" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 23
            },
            "onActivity" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "Recalculate" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 23
            },
            "minIntAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "minIntWaive" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 23
            },
            "referLimit" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "suppressAccrual" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 18
            },
            "customType1" : {
              "type" : "string",
              "description" : ""
            },
            "customName1" : {
              "type" : "string",
              "description" : ""
            },
            "customValue1" : {
              "type" : "string",
              "description" : ""
            }
          }
        },
        "officers" : {
          "type" : "object",
          "properties" : {
            "primaryOfficer" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 19
            },
            "otherOfficer" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 19
            },
            "Role" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 19
            },
            "Notes" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 19
            }
          }
        },
        "schedule" : {
          "type" : "object",
          "properties" : {
            "amortisationTerm" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 17
            },
            "residualAmount" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 17
            },
            "Payment" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 7
            },
            "paymentMethod1" : {
              "type" : "string",
              "description" : ""
            },
            "paymentFreq1" : {
              "type" : "string",
              "description" : ""
            },
            "property11" : {
              "type" : "string",
              "description" : ""
            },
            "dueFreq11" : {
              "type" : "string",
              "description" : ""
            },
            "percentage11" : {
              "type" : "string",
              "description" : ""
            },
            "startDate11" : {
              "type" : "string",
              "description" : ""
            },
            "endDate11" : {
              "type" : "string",
              "description" : ""
            },
            "numPayments11" : {
              "type" : "string",
              "description" : ""
            },
            "actualAmt11" : {
              "type" : "string",
              "description" : ""
            },
            "billType1" : {
              "type" : "string",
              "description" : ""
            },
            "billProduced1" : {
              "type" : "string",
              "description" : ""
            },
            "deferPeriod1" : {
              "type" : "string",
              "description" : ""
            },
            "minimumPayment" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "groupMinAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "groupMinProperty11" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 1
            },
            "combineBills" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 26
            },
            "holidayRestrictType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "holidayRestrictItem" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 26
            },
            "recalcFrequency" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "periodicAttribute" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 25
            },
            "repaymentHolidayLimit" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 26
            },
            "includeFutureDisbursement" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 27,
              "enum" : [ "Include Future Disbursements" ]
            }
          }
        },
        "accountsPaymentRules" : {
          "type" : "object",
          "properties" : {
            "financialStatus" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 18
            },
            "applicationType" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 18
            },
            "applicationOrder" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 18
            },
            "propertySequence" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 18
            },
            "property11" : {
              "type" : "string",
              "description" : ""
            },
            "propApplType11" : {
              "type" : "string",
              "description" : ""
            },
            "remainderActivity" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 18
            },
            "makeBillDue" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 18
            }
          }
        },
        "periodiccharges" : {
          "type" : "object",
          "properties" : {
            "Debit" : {
              "type" : "string",
              "description" : "Debit value of the transaction ",
              "maxLength" : 6
            },
            "maxChgAmount1" : {
              "type" : "string",
              "description" : ""
            },
            "Credit" : {
              "type" : "string",
              "description" : "Credit value of the transaction",
              "maxLength" : 6
            },
            "maxChgAmountCr1" : {
              "type" : "string",
              "description" : ""
            },
            "waiveCharges" : {
              "type" : "string",
              "description" : "Indicates if the charges are to be waived for the instruction",
              "maxLength" : 14
            },
            "freeChargeGroup1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 1
            },
            "freeTxnCnt1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 1
            },
            "chargeGroup1" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 1
            },
            "allDeferredCharges" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 21
            }
          }
        },
        "prefpricing" : {
          "type" : "object",
          "properties" : {
            "Method" : {
              "type" : "string",
              "description" : "A pricing plan can be applied to an account, the selection is automatic or manual",
              "maxLength" : 9
            },
            "Type" : {
              "type" : "string",
              "description" : "The product condition has an activity type associated that drives an action.",
              "maxLength" : 9
            }
          }
        },
        "settlement" : {
          "type" : "object",
          "properties" : {
            "payinSettlement1" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payin Settlement" ]
            },
            "ddMandateRef11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "DD Mandate Ref" ]
            },
            "payinAccount11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payin Account" ]
            },
            "payinBeneficiary11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payin Beneficiary" ]
            },
            "payinPercentage11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payin Percentage" ]
            },
            "payinAmount11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payin Amount" ]
            },
            "payoutSettlement1" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payout Settlement" ]
            },
            "payoutAccount11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payout Account" ]
            },
            "payoutBeneficiary11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payout Beneficiary" ]
            },
            "payoutPercentage11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payout Percentage" ]
            },
            "payoutAmount11" : {
              "type" : "string",
              "description" : "",
              "enum" : [ "Payout Amount" ]
            },
            "paymentType11" : {
              "type" : "string",
[...]
