{
  "swagger" : "2.0",
  "info" : {
    "description" : "Issuance of Performance Bond guarantees",
    "version" : "v1.0.0",
    "title" : "createGuaranteesPerformanceBond"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/guarantee/performanceBonds" : {
      "post" : {
        "operationId" : "createGuaranteePerformanceBond",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/GuaranteePerformanceBond"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "GuaranteePerformanceBondResponse",
            "schema" : {
              "$ref" : "#/definitions/GuaranteePerformanceBondResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "GuaranteePerformanceBond" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/GuaranteePerformanceBondBody"
        }
      },
      "description" : "GuaranteePerformanceBond"
    },
    "GuaranteePerformanceBondBody" : {
      "type" : "object",
      "properties" : {
        "beneficiaryIds" : {
          "type" : "array",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryId" : {
                "type" : "string",
                "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
                "maxLength" : 25
              }
            }
          }
        },
        "beneficiaryaddresses" : {
          "type" : "array",
          "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryaddress" : {
                "type" : "string",
                "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
                "maxLength" : 25
              }
            }
          }
        },
        "charges" : {
          "type" : "array",
          "description" : "The charges or fees for this transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "The date on which the charge will be debited to the charge account"
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted",
                "maxLength" : 25
              },
              "debitChargeAccount" : {
                "type" : "string",
                "description" : "The account from which the Charges will be debited",
                "maxLength" : 25
              },
              "chargeCode" : {
                "type" : "string",
                "description" : "Indicates the charge code to which the charges are identified and calculated and to be debited to the customer account. For example: C(Credit less Charges The Credit less Charges), D(Debit plus Charge The Debit plus Charge) , W(Waive).",
                "maxLength" : 10
              }
            }
          }
        },
        "bankAddresses" : {
          "type" : "array",
          "description" : "Hold the name and address of the RECEIVING.BANK.",
          "items" : {
            "type" : "object",
            "properties" : {
              "bankAddress" : {
                "type" : "string",
                "description" : "Hold the name and address of the RECEIVING.BANK.",
                "maxLength" : 20
              }
            }
          }
        },
        "detailsOfGuarantee" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "detailOfGuarantee" : {
                "type" : "string",
                "description" : "This field contains all terms, conditions and details of the guarantee undertaking. ",
                "maxLength" : 18
              }
            }
          }
        },
        "performanceBondReference" : {
          "type" : "string",
          "description" : "Another ID for the transaction for retrieval purposes or it can be used for the bank to use a unique guarantee number rather than the system generated ID",
          "maxLength" : 25
        },
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "maxLength" : 25
        },
        "currency" : {
          "type" : "string",
          "description" : "Indicates the type of currency to which the account belongs",
          "maxLength" : 25
        },
        "amount" : {
          "type" : "number",
          "description" : "This is the payment amount"
        },
        "dealDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the deal was agreed. "
        },
        "valueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
        },
        "expiryDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
        },
        "maturityDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates maturity date of the contract"
        },
        "termsAndConditions" : {
          "type" : "string",
          "description" : "Specifies the terms and conditions in the text format for the payment instruction, if any.",
          "maxLength" : 25
        },
        "eventsProcessing" : {
          "type" : "string",
          "description" : "Determines whether the principal movements and raising entries will occur Online or at End of Day Allowed values: - ONLINE (default) - END.OF.DAY",
          "maxLength" : 25
        },
        "autoExpiry" : {
          "type" : "string",
          "description" : "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not Allowed values: - YES - NO - null (default value, same as NO)",
          "maxLength" : 25
        },
        "liquidationMode" : {
          "type" : "string",
          "description" : "Indicates the manner in which the overdue payments are handled There are three options available: AUTOMATIC - will liquidate across the charge/commission account on the contract SEMI AUTOMATIC - will liquidate the charge/commission to the account only if sufficient balance is available. Else, PD will be written MANUAL - will create a PD contract irrespective of availability of funds",
          "maxLength" : 25
        },
        "takeMargin" : {
          "type" : "string",
          "description" : "Field to check whether provision is to be taken for the transaction or not. YES or NO",
          "maxLength" : 25
        },
        "marginPercent" : {
          "type" : "string",
          "description" : "Field to state the percentage of provision to be taken",
          "maxLength" : 25
        },
        "marginAmount" : {
          "type" : "string",
          "description" : "Actual amount of provision that is debited for the transaction",
          "maxLength" : 25
        },
        "marginDebitAccount" : {
          "type" : "string",
          "description" : "Field to state the account from which the provision amount is to be debited",
          "maxLength" : 25
        },
        "receivingBank" : {
          "type" : "string",
          "description" : "Identifies the counter party Bank to whom the Guarantee message is to be sent when it is an issue of undertaking.",
          "maxLength" : 15
        },
        "applicableRule" : {
          "type" : "string",
          "description" : "Specifies the rules the Letter of credit is subject to. Following are the valid inputs under this field: UCP LATEST VERSION, EUCP LATEST VERSION, UCPURR LATEST VERSION, EUCPURR LATEST VERSION, ISP LATEST VERSION, OTHR. If OTHR is input then, the rule under which credit is subject to must be input in applicable rules description field.",
          "maxLength" : 14
        },
        "narrative" : {
          "type" : "string",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "maxLength" : 9
        },
        "furtherIdentification" : {
          "type" : "string",
          "description" : "This field identifies the purpose of the guarantee message (ISSUE or REQUEST). Ie to identify if the message conveys the issuance of guarantee from the guarantor or requesting the receiver bank to issue the another guarantee undertaking based on the undertaking received from guarantor.",
          "maxLength" : 21
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "GuaranteePerformanceBondResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/GuaranteePerformanceBondResponseBody"
        }
      },
      "description" : "GuaranteePerformanceBondResponse"
    },
    "GuaranteePerformanceBondResponseBody" : {
      "type" : "object",
      "properties" : {
        "beneficiaryIds" : {
          "type" : "array",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryId" : {
                "type" : "string",
                "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
                "maxLength" : 25
              }
            }
          }
        },
        "beneficiaryaddresses" : {
          "type" : "array",
          "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryaddress" : {
                "type" : "string",
                "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
                "maxLength" : 25
              }
            }
          }
        },
        "charges" : {
          "type" : "array",
          "description" : "The charges or fees for this transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "The date on which the charge will be debited to the charge account"
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted",
                "maxLength" : 25
              },
              "debitChargeAccount" : {
                "type" : "string",
                "description" : "The account from which the Charges will be debited",
                "maxLength" : 25
              },
              "chargeCode" : {
                "type" : "string",
                "description" : "Indicates the charge code to which the charges are identified and calculated and to be debited to the customer account. For example: C(Credit less Charges The Credit less Charges), D(Debit plus Charge The Debit plus Charge) , W(Waive).",
                "maxLength" : 10
              }
            }
          }
        },
        "bankAddresses" : {
          "type" : "array",
          "description" : "Hold the name and address of the RECEIVING.BANK.",
          "items" : {
            "type" : "object",
            "properties" : {
              "bankAddress" : {
                "type" : "string",
                "description" : "Hold the name and address of the RECEIVING.BANK.",
                "maxLength" : 20
              }
            }
          }
        },
        "detailsOfGuarantee" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "detailOfGuarantee" : {
                "type" : "string",
                "description" : "This field contains all terms, conditions and details of the guarantee undertaking. ",
                "maxLength" : 18
              }
            }
          }
        },
        "performanceBondReference" : {
          "type" : "string",
          "description" : "Another ID for the transaction for retrieval purposes or it can be used for the bank to use a unique guarantee number rather than the system generated ID",
          "maxLength" : 25
        },
        "customerId" : {
          "type" : "string",
          "description" : "Identifier of the customer",
          "maxLength" : 25
        },
        "guaranteeType" : {
          "type" : "string",
          "description" : "Refers to the type of the contract that is being issued.",
          "maxLength" : 25
        },
        "category" : {
          "type" : "string",
          "description" : "Indicates the account or contract product name. For example for an account this maybe current, savings etc.",
          "maxLength" : 25
        },
        "contractType" : {
          "type" : "string",
          "description" : "Indicates if the position is related to Loan, Deposit ,FX-Forward/FX-Swap",
          "maxLength" : 25
        },
        "currency" : {
          "type" : "string",
          "description" : "Indicates the type of currency to which the account belongs",
          "maxLength" : 25
        },
        "amount" : {
          "type" : "number",
          "description" : "This is the payment amount"
        },
        "dealDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the deal was agreed. "
        },
        "valueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
        },
        "expiryDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
        },
        "maturityDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates maturity date of the contract"
        },
        "termsAndConditions" : {
          "type" : "string",
          "description" : "Specifies the terms and conditions in the text format for the payment instruction, if any.",
          "maxLength" : 25
        },
        "eventsProcessing" : {
          "type" : "string",
          "description" : "Determines whether the principal movements and raising entries will occur Online or at End of Day Allowed values: - ONLINE (default) - END.OF.DAY",
          "maxLength" : 25
        },
        "autoExpiry" : {
          "type" : "string",
          "description" : "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not Allowed values: - YES - NO - null (default value, same as NO)",
          "maxLength" : 25
        },
        "liquidationMode" : {
          "type" : "string",
          "description" : "Indicates the manner in which the overdue payments are handled There are three options available: AUTOMATIC - will liquidate across the charge/commission account on the contract SEMI AUTOMATIC - will liquidate the charge/commission to the account only if sufficient balance is available. Else, PD will be written MANUAL - will create a PD contract irrespective of availability of funds",
          "maxLength" : 25
        },
        "takeMargin" : {
          "type" : "string",
          "description" : "Field to check whether provision is to be taken for the transaction or not. YES or NO",
          "maxLength" : 25
        },
        "marginPercent" : {
          "type" : "string",
          "description" : "Field to state the percentage of provision to be taken",
          "maxLength" : 25
        },
        "marginAmount" : {
          "type" : "string",
          "description" : "Actual amount of provision that is debited for the transaction",
          "maxLength" : 25
        },
        "marginDebitAccount" : {
          "type" : "string",
          "description" : "Field to state the account from which the provision amount is to be debited",
          "maxLength" : 25
        },
        "receivingBank" : {
          "type" : "string",
          "description" : "Identifies the counter party Bank to whom the Guarantee message is to be sent when it is an issue of undertaking.",
          "maxLength" : 15
        },
        "applicableRule" : {
          "type" : "string",
          "description" : "Specifies the rules the Letter of credit is subject to. Following are the valid inputs under this field: UCP LATEST VERSION, EUCP LATEST VERSION, UCPURR LATEST VERSION, EUCPURR LATEST VERSION, ISP LATEST VERSION, OTHR. If OTHR is input then, the rule under which credit is subject to must be input in applicable rules description field.",
          "maxLength" : 14
        },
        "narrative" : {
          "type" : "string",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "maxLength" : 9
        },
        "furtherIdentification" : {
          "type" : "string",
          "description" : "This field identifies the purpose of the guarantee message (ISSUE or REQUEST). Ie to identify if the message conveys the issuance of guarantee from the guarantor or requesting the receiver bank to issue the another guarantee undertaking based on the undertaking received from guarantor.",
          "maxLength" : 21
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}