{
  "swagger" : "2.0",
  "info" : {
    "description" : "Transaction Stop related Enquiries",
    "version" : "v1.0.0",
    "title" : "Order transaction Stop"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/transactionStops/{transactionStopId}" : {
      "get" : {
        "operationId" : "getStopInstructions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionStopId",
          "in" : "path",
          "description" : "Identifier  of the Transaction Stops.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "StopInstructionsResponse",
            "schema" : {
              "$ref" : "#/definitions/StopInstructionsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/transactionStops/investigations" : {
      "get" : {
        "operationId" : "getPaymentStopInvestigationDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentStopInvestigationDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentStopInvestigationDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "StopInstructionsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/StopInstructionsResponseBody"
        }
      },
      "description" : "StopInstructionsResponse"
    },
    "StopInstructionsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "multigroup" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "attributeName" : {
                  "type" : "array",
                  "description" : "Attribute name for  transaction stop",
                  "items" : {
                    "type" : "string"
                  }
                },
                "operand" : {
                  "type" : "array",
                  "description" : "This field along with fieldName and value, defines the conditions for the alert to be triggered.",
                  "items" : {
                    "type" : "string"
                  }
                },
                "attributeValue" : {
                  "type" : "array",
                  "description" : "This field along with 'attribute type' acts as a place holder for storing any parameters which are unique to that service.",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "stopInstructionId" : {
            "type" : "string",
            "description" : "ID of stop instruction",
            "maxLength" : 16
          },
          "createDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "create date for transaction stop"
          },
          "customerId" : {
            "type" : "number",
            "description" : "Identifier of the customer"
          },
          "expiryDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
          },
          "cancelDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Cancel date for  transaction stop"
          },
          "transactionStopStatus" : {
            "type" : "string",
            "description" : "Transaction stop status for  transaction stop",
            "maxLength" : 35
          },
          "stopConditionId" : {
            "type" : "string",
            "description" : "Stop condition id for  transaction stop",
            "maxLength" : 35
          },
          "stopInstructionChannel" : {
            "type" : "string",
            "description" : "Stop instruction channel for  transaction stop",
            "maxLength" : 35
          },
          "stopReason" : {
            "type" : "string",
            "description" : "Stop reason for  transaction stop",
            "maxLength" : 35
          },
          "transactionChannel" : {
            "type" : "string",
            "description" : "The channel through which the transaction has been placed",
            "maxLength" : 35
          },
          "status" : {
            "type" : "string",
            "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts.",
            "maxLength" : 35
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "PaymentStopInvestigationDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentStopInvestigationDetailsResponseBody"
        }
      },
      "description" : "PaymentStopInvestigationDetailsResponse"
    },
    "PaymentStopInvestigationDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "multigroup" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "relatedInsructionid" : {
                  "type" : "array",
                  "description" : "Related instruction id for funds authorisation",
                  "items" : {
                    "type" : "string"
                  }
                },
                "relatedDecision" : {
                  "type" : "array",
                  "description" : "Related decision for funds authorisation",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "acFundsAuthorisationId" : {
            "type" : "string",
            "description" : "ID for funds authorisation",
            "maxLength" : 16
          },
          "debitAccount" : {
            "type" : "number",
            "description" : " Refers to the account which will be debited and funds moved out."
          },
          "requestedAmount" : {
            "type" : "number",
            "description" : "Requested amount for funds authorisation"
          },
          "originalTransactionReference" : {
            "type" : "string",
            "description" : "",
            "maxLength" : 35
          },
          "setTypeOrOriginalDecision" : {
            "type" : "string",
            "description" : "Original decision status for funds authorisation",
            "maxLength" : 4
          },
          "requestSource" : {
            "type" : "string",
            "description" : "Request source for funds authorisation",
            "maxLength" : 6
          },
          "requestCode" : {
            "type" : "string",
            "description" : "Request code for funds authorisation",
            "maxLength" : 15
          }
        }
      }
    }
  }
}