{
  "swagger" : "2.0",
  "info" : {
    "description" : "Cross Currency Maintenance Sweeps of Cash Pool Transfer Service",
    "version" : "v1.0.0",
    "title" : "Order Cash Pool Transfer Services"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/cashManagement/sweeps/{accountId}/maintainBalances/crossCurrencies" : {
      "post" : {
        "description" : "Create Cross Currency Maintenance Sweeps of Cash Pool Transfer Service",
        "operationId" : "createFXCurrencyMaintainBalanceSweeps",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FXCurrencyMaintainBalanceSweeps"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FXCurrencyMaintainBalanceSweepsResponse",
            "schema" : {
              "$ref" : "#/definitions/FXCurrencyMaintainBalanceSweepsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "description" : "Update Cross Currency Maintenance Sweeps of Cash Pool Transfer Service",
        "operationId" : "updateFXCurrencyMaintainBalanceSweeps",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FXCurrencyMaintainBalanceSweeps"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FXCurrencyMaintainBalanceSweepsResponse",
            "schema" : {
              "$ref" : "#/definitions/FXCurrencyMaintainBalanceSweepsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "FXCurrencyMaintainBalanceSweeps" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/FXCurrencyMaintainBalanceSweepsBody"
        }
      },
      "description" : "FXCurrencyMaintainBalanceSweeps"
    },
    "FXCurrencyMaintainBalanceSweepsBody" : {
      "type" : "object",
      "properties" : {
        "sweepRelationshipDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "linkAccount" : {
                "type" : "string",
                "description" : "The account which with the source account (the cash pool key) has the sweep relationship.Depending on the rule entered , the link  will either debit or credit the source account.",
                "maxLength" : 35
              },
              "rule" : {
                "type" : "string",
                "description" : "A rule is assigned to a product and the rule determines whether a customer can buy that product or hold it after changes in circumstance.",
                "maxLength" : 35
              },
              "frequency" : {
                "type" : "string",
                "description" : "Specifies the frequency in which the payment application(periodic payments) execute the payment instruction.",
                "maxLength" : 35
              },
              "minimumBalance" : {
                "type" : "number",
                "description" : "The minimum account balance required"
              },
              "maximumBalance" : {
                "type" : "number",
                "description" : "The maximum account balance allowed"
              },
              "minimumDebitsToTransfer" : {
                "type" : "number",
                "description" : "Used to restrict the creation of sweep amount for a small amount. The amount entered here will get validated against the sweep amount and only when the sweep amount is greater than this, sweep takes place."
              },
              "minimumCreditsToTransfer" : {
                "type" : "number",
                "description" : "Used to restrict the creation of sweep amount for a small amount.The amount entered here will get validated against the sweep amount and only when the sweep amount is greater than this, sweep takes place."
              },
              "schedule" : {
                "type" : "string",
                "description" : "Indicates where this pool may be run either online or End of the day.",
                "maxLength" : 35
              }
            }
          }
        },
        "narratives" : {
          "type" : "array",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items" : {
            "type" : "object",
            "properties" : {
              "narrative" : {
                "type" : "string",
                "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
                "maxLength" : 35
              }
            }
          }
        },
        "groupId" : {
          "type" : "string",
          "description" : "Unique ID of the group",
          "maxLength" : 35
        },
        "mainAccount" : {
          "type" : "string",
          "description" : "The Account that is defined as the Main Master on AC.CP.GROUP.PARAM. This will be defaulted by the system on entering the GROUP.ID and is not user accessible.",
          "maxLength" : 35
        },
        "sequenceNumber" : {
          "type" : "number",
          "description" : " The sequence in which this cash pool record will be processed within the group. "
        },
        "sweepCancelDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the end date for the sweep record. The record will become inactive after this date, which means that no sweep will be executed after this date."
        },
        "suspensionStartDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the start date for suspending the sweep. No sweep will be done between this date and the date defined in SUSP.END.DATE."
        },
        "suspensionEndDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the start date for suspending the sweep. No sweep will be done between this date and the date defined in SUSP.END.DATE."
        },
        "suspendIndefinite" : {
          "type" : "string",
          "description" : "To suspending the cashpool for indefinite period.",
          "maxLength" : 35
        },
        "counterBookingSweepAccount" : {
          "type" : "string",
          "description" : "Counter Booking Account for the ID Account.This Account is used by the system to raise an equal and opposite entry posted against ID Account.",
          "maxLength" : 35
        },
        "counterBookingLinkAccount" : {
          "type" : "string",
          "description" : "Counter Booking Account for the Link Account. This Account is used by the system to raise an equal and opposite entry posted against Link Account.",
          "maxLength" : 35
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "FXCurrencyMaintainBalanceSweepsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/FXCurrencyMaintainBalanceSweepsResponseBody"
        }
      },
      "description" : "FXCurrencyMaintainBalanceSweepsResponse"
    },
    "FXCurrencyMaintainBalanceSweepsResponseBody" : {
      "type" : "object",
      "properties" : {
        "sweepRelationshipDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "linkAccount" : {
                "type" : "string",
                "description" : "The account which with the source account (the cash pool key) has the sweep relationship.Depending on the rule entered , the link  will either debit or credit the source account.",
                "maxLength" : 35
              },
              "rule" : {
                "type" : "string",
                "description" : "A rule is assigned to a product and the rule determines whether a customer can buy that product or hold it after changes in circumstance.",
                "maxLength" : 35
              },
              "frequency" : {
                "type" : "string",
                "description" : "Specifies the frequency in which the payment application(periodic payments) execute the payment instruction.",
                "maxLength" : 35
              },
              "minimumBalance" : {
                "type" : "number",
                "description" : "The minimum account balance required"
              },
              "maximumBalance" : {
                "type" : "number",
                "description" : "The maximum account balance allowed"
              },
              "minimumDebitsToTransfer" : {
                "type" : "number",
                "description" : "Used to restrict the creation of sweep amount for a small amount. The amount entered here will get validated against the sweep amount and only when the sweep amount is greater than this, sweep takes place."
              },
              "minimumCreditsToTransfer" : {
                "type" : "number",
                "description" : "Used to restrict the creation of sweep amount for a small amount.The amount entered here will get validated against the sweep amount and only when the sweep amount is greater than this, sweep takes place."
              },
              "schedule" : {
                "type" : "string",
                "description" : "Indicates where this pool may be run either online or End of the day.",
                "maxLength" : 35
              }
            }
          }
        },
        "narratives" : {
          "type" : "array",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items" : {
            "type" : "object",
            "properties" : {
              "narrative" : {
                "type" : "string",
                "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
                "maxLength" : 35
              }
            }
          }
        },
        "groupId" : {
          "type" : "string",
          "description" : "Unique ID of the group",
          "maxLength" : 35
        },
        "mainAccount" : {
          "type" : "string",
          "description" : "The Account that is defined as the Main Master on AC.CP.GROUP.PARAM. This will be defaulted by the system on entering the GROUP.ID and is not user accessible.",
          "maxLength" : 35
        },
        "sequenceNumber" : {
          "type" : "number",
          "description" : " The sequence in which this cash pool record will be processed within the group. "
        },
        "sweepCancelDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the end date for the sweep record. The record will become inactive after this date, which means that no sweep will be executed after this date."
        },
        "suspensionStartDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the start date for suspending the sweep. No sweep will be done between this date and the date defined in SUSP.END.DATE."
        },
        "suspensionEndDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the start date for suspending the sweep. No sweep will be done between this date and the date defined in SUSP.END.DATE."
        },
        "suspendIndefinite" : {
          "type" : "string",
          "description" : "To suspending the cashpool for indefinite period.",
          "maxLength" : 35
        },
        "counterBookingSweepAccount" : {
          "type" : "string",
          "description" : "Counter Booking Account for the ID Account.This Account is used by the system to raise an equal and opposite entry posted against ID Account.",
          "maxLength" : 35
        },
        "counterBookingLinkAccount" : {
          "type" : "string",
          "description" : "Counter Booking Account for the Link Account. This Account is used by the system to raise an equal and opposite entry posted against Link Account.",
          "maxLength" : 35
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}