{
  "swagger" : "2.0",
  "info" : {
    "description" : "Update Decision on Transaction Stop Instruction",
    "version" : "v1.0.0",
    "title" : "Order Transaction Stop Investigations"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/transactionStops/{transactionStopId}/investigations" : {
      "put" : {
        "operationId" : "updateTransactionStopInvestigations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionStopId",
          "in" : "path",
          "description" : "Identifier  of the Transaction Stops.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TransactionStopInvestigations"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "TransactionStopInvestigationsResponse",
            "schema" : {
              "$ref" : "#/definitions/TransactionStopInvestigationsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "TransactionStopInvestigations" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TransactionStopInvestigationsBody"
        }
      },
      "description" : "TransactionStopInvestigations"
    },
    "TransactionStopInvestigationsBody" : {
      "type" : "object",
      "properties" : {
        "decisionReasons" : {
          "type" : "array",
          "description" : "Contains the narrative describing the reason for rejection by CAO officer.",
          "items" : {
            "type" : "object",
            "properties" : {
              "decisionReason" : {
                "type" : "string",
                "description" : "Contains the narrative describing the reason for rejection by CAO officer.",
                "maxLength" : 35
              }
            }
          }
        },
        "transactionStopInstruction" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "instructionId" : {
                "type" : "string",
                "description" : "Id of the Transaction Stop instruction against which the transaction has been matched.",
                "maxLength" : 35
              },
              "instructionDecision" : {
                "type" : "string",
                "description" : "This will store the decision Pay/Return decision took when the instruction has been matched with the Transaction Stop Instruction indicated in the associated field.",
                "maxLength" : 35
              }
            }
          }
        },
        "debitAccount" : {
          "type" : "string",
          "description" : " Refers to the account which will be debited and funds moved out.",
          "maxLength" : 35
        },
        "accountCurrency" : {
          "type" : "string",
          "description" : "Currency of the account. For example: USD, GBP.",
          "maxLength" : 35
        },
        "requestedCurrency" : {
          "type" : "string",
          "description" : "The currency the amount is requested in.",
          "maxLength" : 35
        },
        "requestedAmount" : {
          "type" : "string",
          "description" : "Requested amount for funds authorisation",
          "maxLength" : 35
        },
        "fundsDecision" : {
          "type" : "string",
          "description" : "Contains the approval decision entered by the CAO.",
          "maxLength" : 35
        },
        "transactionReference" : {
          "type" : "string",
          "description" : "Transaction reference identifier.",
          "maxLength" : 35
        },
        "fundsAuthorisationStatus" : {
          "type" : "string",
          "description" : "Contains the status of the request based on which level of authorisation, the request has gone through in its lifecycle.",
          "maxLength" : 35
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "TransactionStopInvestigationsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TransactionStopInvestigationsResponseBody"
        }
      },
      "description" : "TransactionStopInvestigationsResponse"
    },
    "TransactionStopInvestigationsResponseBody" : {
      "type" : "object",
      "properties" : {
        "decisionReasons" : {
          "type" : "array",
          "description" : "Contains the narrative describing the reason for rejection by CAO officer.",
          "items" : {
            "type" : "object",
            "properties" : {
              "decisionReason" : {
                "type" : "string",
                "description" : "Contains the narrative describing the reason for rejection by CAO officer.",
                "maxLength" : 35
              }
            }
          }
        },
        "transactionStopInstruction" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "instructionId" : {
                "type" : "string",
                "description" : "Id of the Transaction Stop instruction against which the transaction has been matched.",
                "maxLength" : 35
              },
              "instructionDecision" : {
                "type" : "string",
                "description" : "This will store the decision Pay/Return decision took when the instruction has been matched with the Transaction Stop Instruction indicated in the associated field.",
                "maxLength" : 35
              }
            }
          }
        },
        "debitAccount" : {
          "type" : "string",
          "description" : " Refers to the account which will be debited and funds moved out.",
          "maxLength" : 35
        },
        "accountCurrency" : {
          "type" : "string",
          "description" : "Currency of the account. For example: USD, GBP.",
          "maxLength" : 35
        },
        "requestedCurrency" : {
          "type" : "string",
          "description" : "The currency the amount is requested in.",
          "maxLength" : 35
        },
        "requestedAmount" : {
          "type" : "string",
          "description" : "Requested amount for funds authorisation",
          "maxLength" : 35
        },
        "fundsDecision" : {
          "type" : "string",
          "description" : "Contains the approval decision entered by the CAO.",
          "maxLength" : 35
        },
        "transactionReference" : {
          "type" : "string",
          "description" : "Transaction reference identifier.",
          "maxLength" : 35
        },
        "fundsAuthorisationStatus" : {
          "type" : "string",
          "description" : "Contains the status of the request based on which level of authorisation, the request has gone through in its lifecycle.",
          "maxLength" : 35
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}