{
  "swagger" : "2.0",
  "info" : {
    "description" : "Create or Update Person Entity",
    "version" : "v1.0.0",
    "title" : "Party Prospect Customers"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/customers/prospects" : {
      "post" : {
        "operationId" : "createProspectCustomer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ProspectCustomer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ProspectCustomerResponse",
            "schema" : {
              "$ref" : "#/definitions/ProspectCustomerResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/prospects/{prospectId}" : {
      "put" : {
        "operationId" : "updateProspectCustomer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "prospectId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ProspectCustomer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ProspectCustomerResponse",
            "schema" : {
              "$ref" : "#/definitions/ProspectCustomerResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "ProspectCustomer" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ProspectCustomerBody"
        }
      },
      "description" : "ProspectCustomer"
    },
    "ProspectCustomerBody" : {
      "type" : "object",
      "properties" : {
        "customerNames" : {
          "type" : "array",
          "description" : "Name of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerName" : {
                "type" : "string",
                "description" : "Name of the customer",
                "maxLength" : 35
              }
            }
          }
        },
        "streets" : {
          "type" : "array",
          "description" : "Contains the first line of customer's base address, example building number, street number etc.",
          "items" : {
            "type" : "object",
            "properties" : {
              "street" : {
                "type" : "string",
                "description" : "Contains the first line of customer's base address, example building number, street number etc.",
                "maxLength" : 35
              }
            }
          }
        },
        "addresses" : {
          "type" : "array",
          "description" : "Communication Address of the Customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "address" : {
                "type" : "string",
                "description" : "Communication Address of the Customer",
                "maxLength" : 35
              }
            }
          }
        },
        "townCountries" : {
          "type" : "array",
          "description" : "The town and country associated with the address",
          "items" : {
            "type" : "object",
            "properties" : {
              "townCountry" : {
                "type" : "string",
                "description" : "The town and country associated with the address",
                "maxLength" : 35
              }
            }
          }
        },
        "postCodes" : {
          "type" : "array",
          "description" : "Identifies the address postal code for the customer.",
          "items" : {
            "type" : "object",
            "properties" : {
              "postCode" : {
                "type" : "string",
                "description" : "Identifies the address postal code for the customer.",
                "maxLength" : 35
              }
            }
          }
        },
        "countries" : {
          "type" : "array",
          "description" : "Identifies the country of the customer.",
          "items" : {
            "type" : "object",
            "properties" : {
              "country" : {
                "type" : "string",
                "description" : "Identifies the country of the customer.",
                "maxLength" : 35
              }
            }
          }
        },
        "phoneNumbers" : {
          "type" : "array",
          "description" : "The phone number of the customer or prospect",
          "items" : {
            "type" : "object",
            "properties" : {
              "phoneNumber" : {
                "type" : "string",
                "description" : "The phone number of the customer or prospect",
                "maxLength" : 35
              }
            }
          }
        },
        "emails" : {
          "type" : "array",
          "description" : "Email Identifier of the Customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "email" : {
                "type" : "string",
                "description" : "Email Identifier of the Customer",
                "maxLength" : 35
              }
            }
          }
        },
        "socialNetworkIds" : {
          "type" : "array",
          "description" : "Social Network Identification of the person/entity",
          "items" : {
            "type" : "object",
            "properties" : {
              "socialNetworkId" : {
                "type" : "string",
                "description" : "Social Network Identification of the person/entity",
                "maxLength" : 35
              }
            }
          }
        },
        "prospectLegalDetails" : {
          "type" : "array",
          "description" : "",
          "items" : {
            "type" : "object",
            "properties" : {
              "legalId" : {
                "type" : "string",
                "description" : "Unique reference number of the legal documents submitted as identification proof",
                "maxLength" : 35
              },
              "legalDocumentName" : {
                "type" : "string",
                "description" : "Name of the legal documents such as passport, driving licence etc., provided as identification proof",
                "maxLength" : 35
              }
            }
          }
        },
        "personEntity" : {
          "type" : "string",
          "description" : "Identifies if the record is for a real person or a legal entity. Allowed Options: Person or Entity.",
          "maxLength" : 35
        },
        "gender" : {
          "type" : "string",
          "description" : "Gender of the Individual Customer",
          "maxLength" : 35
        },
        "birthIncorpDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the entity is incorporated"
        },
        "registeredCountry" : {
          "type" : "string",
          "description" : "Identify which country an entity has been registered.",
          "maxLength" : 35
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "ProspectCustomerResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ProspectCustomerResponseBody"
        }
      },
      "description" : "ProspectCustomerResponse"
    },
    "ProspectCustomerResponseBody" : {
      "type" : "object",
      "properties" : {
        "customerNames" : {
          "type" : "array",
          "description" : "Name of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerName" : {
                "type" : "string",
                "description" : "Name of the customer",
                "maxLength" : 35
              }
            }
          }
        },
        "streets" : {
          "type" : "array",
          "description" : "Contains the first line of customer's base address, example building number, street number etc.",
          "items" : {
            "type" : "object",
            "properties" : {
              "street" : {
                "type" : "string",
                "description" : "Contains the first line of customer's base address, example building number, street number etc.",
                "maxLength" : 35
              }
            }
          }
        },
        "addresses" : {
          "type" : "array",
          "description" : "Communication Address of the Customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "address" : {
                "type" : "string",
                "description" : "Communication Address of the Customer",
                "maxLength" : 35
              }
            }
          }
        },
        "townCountries" : {
          "type" : "array",
          "description" : "The town and country associated with the address",
          "items" : {
            "type" : "object",
            "properties" : {
              "townCountry" : {
                "type" : "string",
                "description" : "The town and country associated with the address",
                "maxLength" : 35
              }
            }
          }
        },
        "postCodes" : {
          "type" : "array",
          "description" : "Identifies the address postal code for the customer.",
          "items" : {
            "type" : "object",
            "properties" : {
              "postCode" : {
                "type" : "string",
                "description" : "Identifies the address postal code for the customer.",
                "maxLength" : 35
              }
            }
          }
        },
        "countries" : {
          "type" : "array",
          "description" : "Identifies the country of the customer.",
          "items" : {
            "type" : "object",
            "properties" : {
              "country" : {
                "type" : "string",
                "description" : "Identifies the country of the customer.",
                "maxLength" : 35
              }
            }
          }
        },
        "phoneNumbers" : {
          "type" : "array",
          "description" : "The phone number of the customer or prospect",
          "items" : {
            "type" : "object",
            "properties" : {
              "phoneNumber" : {
                "type" : "string",
                "description" : "The phone number of the customer or prospect",
                "maxLength" : 35
              }
            }
          }
        },
        "emails" : {
          "type" : "array",
          "description" : "Email Identifier of the Customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "email" : {
                "type" : "string",
                "description" : "Email Identifier of the Customer",
                "maxLength" : 35
              }
            }
          }
        },
        "socialNetworkIds" : {
          "type" : "array",
          "description" : "Social Network Identification of the person/entity",
          "items" : {
            "type" : "object",
            "properties" : {
              "socialNetworkId" : {
                "type" : "string",
                "description" : "Social Network Identification of the person/entity",
                "maxLength" : 35
              }
            }
          }
        },
        "prospectLegalDetails" : {
          "type" : "array",
          "description" : "",
          "items" : {
            "type" : "object",
            "properties" : {
              "legalId" : {
                "type" : "string",
                "description" : "Unique reference number of the legal documents submitted as identification proof",
                "maxLength" : 35
              },
              "legalDocumentName" : {
                "type" : "string",
                "description" : "Name of the legal documents such as passport, driving licence etc., provided as identification proof",
                "maxLength" : 35
              }
            }
          }
        },
        "personEntity" : {
          "type" : "string",
          "description" : "Identifies if the record is for a real person or a legal entity. Allowed Options: Person or Entity.",
          "maxLength" : 35
        },
        "gender" : {
          "type" : "string",
          "description" : "Gender of the Individual Customer",
          "maxLength" : 35
        },
        "birthIncorpDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the entity is incorporated"
        },
        "registeredCountry" : {
          "type" : "string",
          "description" : "Identify which country an entity has been registered.",
          "maxLength" : 35
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}