{
  "swagger" : "2.0",
  "info" : {
    "description" : "Unauthorized accounts, deposits or loan arrangements",
    "version" : "v1.0.0",
    "title" : "Unauthorized arrangements"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/productLine/{productLineId}/unApprovedArrangements" : {
      "get" : {
        "operationId" : "getUnapprovedArrangementsDeposits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productLineId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UnapprovedArrangementsDepositsResponse",
            "schema" : {
              "$ref" : "#/definitions/UnapprovedArrangementsDepositsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/productLine/{productLineId}/unApprovedArrangements1" : {
      "get" : {
        "operationId" : "getUnapprovedArrangementsLoans",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productLineId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UnapprovedArrangementsLoansResponse",
            "schema" : {
              "$ref" : "#/definitions/UnapprovedArrangementsLoansResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/productLine/{productLineId}/unApprovedArrangements2" : {
      "get" : {
        "operationId" : "getUnapprovedArrangementsAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productLineId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "UnapprovedArrangementsAccountsResponse",
            "schema" : {
              "$ref" : "#/definitions/UnapprovedArrangementsAccountsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "UnapprovedArrangementsDepositsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UnapprovedArrangementsDepositsResponseBody"
        }
      },
      "description" : "UnapprovedArrangementsDepositsResponse"
    },
    "UnapprovedArrangementsDepositsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "customers" : {
            "type" : "array",
            "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
            "items" : {
              "type" : "object",
              "properties" : {
                "customerId" : {
                  "type" : "string",
                  "description" : "Identifier of the customer",
                  "maxLength" : 10
                },
                "customerName" : {
                  "type" : "string",
                  "description" : "Name of the customer",
                  "maxLength" : 35
                }
              }
            }
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account"
          },
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
            "maxLength" : 35
          },
          "displayName" : {
            "type" : "string",
            "description" : "Name used for display or enrichment purposes"
          },
          "arrangementStatus" : {
            "type" : "string",
            "description" : "Status of the arrangement. E.g. AUTH, CLOSE, UNAUTH etc.",
            "maxLength" : 15
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "UnapprovedArrangementsLoansResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UnapprovedArrangementsLoansResponseBody"
        }
      },
      "description" : "UnapprovedArrangementsLoansResponse"
    },
    "UnapprovedArrangementsLoansResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account"
          },
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
            "maxLength" : 35
          },
          "displayName" : {
            "type" : "string",
            "description" : "Name used for display or enrichment purposes"
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identifier of the customer",
            "maxLength" : 10
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer",
            "maxLength" : 35
          },
          "arrangementStatus" : {
            "type" : "string",
            "description" : "Status of the arrangement. E.g. AUTH, CLOSE, UNAUTH etc.",
            "maxLength" : 15
          }
        }
      }
    },
    "UnapprovedArrangementsAccountsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/UnapprovedArrangementsAccountsResponseBody"
        }
      },
      "description" : "UnapprovedArrangementsAccountsResponse"
    },
    "UnapprovedArrangementsAccountsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account"
          },
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
            "maxLength" : 35
          },
          "displayName" : {
            "type" : "string",
            "description" : "Name used for display or enrichment purposes"
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identifier of the customer",
            "maxLength" : 10
          },
          "customerName" : {
            "type" : "string",
            "description" : "Name of the customer",
            "maxLength" : 35
          },
          "arrangementStatus" : {
            "type" : "string",
            "description" : "Status of the arrangement. E.g. AUTH, CLOSE, UNAUTH etc.",
            "maxLength" : 15
          }
        }
      }
    }
  }
}