{
  "swagger" : "2.0",
  "info" : {
    "description" : "Cashpool Restructure",
    "version" : "v1.0.0",
    "title" : "Bundle Structure API"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/product/cashManagement/bundles" : {
      "post" : {
        "description" : "Cashpool Restructure",
        "operationId" : "updateBundleStructure",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BundleStructure"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateBundleStructureResponse",
            "schema" : {
              "$ref" : "#/definitions/BundleStructureResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "BundleStructure" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BundleStructureBody"
        }
      },
      "description" : "BundleStructure"
    },
    "BundleStructureBody" : {
      "type" : "object",
      "properties" : {
        "partyIds" : {
          "type" : "array",
          "description" : "It is an unique identifier of a customer or party",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyId" : {
                "type" : "string",
                "description" : "It is an unique identifier of a customer or party",
                "maxLength" : 45
              }
            }
          }
        },
        "arrangmentId" : {
          "type" : "string",
          "description" : "It is the unique identifier of an arrangement account",
          "maxLength" : 45
        },
        "arrangementEffectiveDate" : {
          "type" : "string",
          "description" : "It is a date on/upon which an account is considered to take effect",
          "maxLength" : 45
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "maxLength" : 45
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "maxLength" : 45
        },
        "bundlehierarchy" : {
          "type" : "object",
          "properties" : {
            "aliases" : {
              "type" : "array",
              "description" : "This field forms part of an associated multi-value set to specify the details of an Account during one of Restructure events.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "alias" : {
                    "type" : "string",
                    "description" : "This field forms part of an associated multi-value set to specify the details of an Account during one of Restructure events.",
                    "maxLength" : 5
                  }
                }
              }
            },
            "accounts" : {
              "type" : "array",
              "description" : "Identifies the unique account Id of the payment entered.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "account" : {
                    "type" : "string",
                    "description" : "Identifies the unique account Id of the payment entered.",
                    "maxLength" : 7
                  }
                }
              }
            },
            "customers" : {
              "type" : "array",
              "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customer" : {
                    "type" : "string",
                    "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
                    "maxLength" : 8
                  }
                }
              }
            },
            "companies" : {
              "type" : "array",
              "description" : "The company code",
              "items" : {
                "type" : "object",
                "properties" : {
                  "company" : {
                    "type" : "string",
                    "description" : "The company code",
                    "maxLength" : 7
                  }
                }
              }
            },
            "currencies" : {
              "type" : "array",
              "description" : "Identifies the currency. E.g. USD, GBP etc",
              "items" : {
                "type" : "object",
                "properties" : {
                  "currency" : {
                    "type" : "string",
                    "description" : "Indicates the type of currency to which the account belongs",
                    "maxLength" : 8
                  }
                }
              }
            },
            "products" : {
              "type" : "array",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "product" : {
                    "type" : "string",
                    "description" : "Indicates an id or name of a product",
                    "maxLength" : 7
                  }
                }
              }
            },
            "names" : {
              "type" : "array",
              "description" : "Short title for the Account to be created",
              "items" : {
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string",
                    "description" : "Short title for the Account to be created",
                    "maxLength" : 4
                  }
                }
              }
            },
            "alternateReferences" : {
              "type" : "array",
              "description" : "If the new Account to be created is a shadow of another Account already exisitng in another system, then the Account reference of that system can be specified here. The value given in this field will be mapped to ALTERNATE.ID field in arrangement activity and ensure that this Account doesn't already exist in T24 with another reference (because ALTERNATE.ID would be configured to be unique across T24).",
              "items" : {
                "type" : "object",
                "properties" : {
                  "alternateReference" : {
                    "type" : "string",
                    "description" : "If the new Account to be created is a shadow of another Account already exisitng in another system, then the Account reference of that system can be specified here. The value given in this field will be mapped to ALTERNATE.ID field in arrangement activity and ensure that this Account doesn't already exist in T24 with another reference (because ALTERNATE.ID would be configured to be unique across T24).",
                    "maxLength" : 18
                  }
                }
              }
            },
            "parents" : {
              "type" : "array",
              "description" : "This Field is to determine whether the order is a parent order, Allowed value is YES",
              "items" : {
                "type" : "object",
                "properties" : {
                  "parent" : {
                    "type" : "string",
                    "description" : "This Field is to determine whether the order is a parent order, Allowed value is YES",
                    "maxLength" : 6
                  }
                }
              }
            },
            "levels" : {
              "type" : "array",
              "description" : "Captured for information purpose to render the placeholders in GUI",
              "items" : {
                "type" : "object",
                "properties" : {
                  "level" : {
                    "type" : "string",
                    "description" : "Captured for information purpose to render the placeholders in GUI",
                    "maxLength" : 5
                  }
                }
              }
            },
            "goLiveDates" : {
              "type" : "array",
              "description" : "Denotes the date on which the Account is expected to go live in cash pool structure. Input is prohibited when bundle is in Draft status Input is allowed for NEW.OFFER accounts only for setting live date for link type SET.LIVE.DATE Input is mandatory for any restructure activity on Live accounts. Restructure activity on preliminary accounts will be effective current dated.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "goLiveDate" : {
                    "type" : "string",
                    "description" : "Denotes the date on which the Account is expected to go live in cash pool structure. Input is prohibited when bundle is in Draft status Input is allowed for NEW.OFFER accounts only for setting live date for link type SET.LIVE.DATE Input is mandatory for any restructure activity on Live accounts. Restructure activity on preliminary accounts will be effective current dated.",
                    "maxLength" : 10
                  }
                }
              }
            },
            "linkTypes" : {
              "type" : "array",
              "description" : "Denotes associated multi value set to specify Accounts involved in the Pool Restructuring and dictates what should happen to the Account in the corresponding row.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "linkType" : {
                    "type" : "string",
                    "description" : "Denotes associated multi value set to specify Accounts involved in the Pool Restructuring and dictates what should happen to the Account in the corresponding row.",
                    "maxLength" : 8
                  }
                }
              }
            },
            "keepBalances" : {
              "type" : "array",
              "description" : "When an Account is removed from a Hierarchy, it is possible to dictate if it should be removed with or without Balance. Allows YES and Null  Yes - The account will move out of pool with balance while delinking account or during change pool. Null - The account will move out of pool with ZERO balance while delinking/change pool. Amount will be settled to its settlement account.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "keepBalance" : {
                    "type" : "string",
                    "description" : "When an Account is removed from a Hierarchy, it is possible to dictate if it should be removed with or without Balance. Allows YES and Null  Yes - The account will move out of pool with balance while delinking account or during change pool. Null - The account will move out of pool with ZERO balance while delinking/change pool. Amount will be settled to its settlement account.",
                    "maxLength" : 11
                  }
                }
              }
            },
            "newMasters" : {
              "type" : "array",
              "description" : "The new bundle reference is specified in this field when a account moves from the current pool to another pool. Accepts bundle arrangement reference.Bundle reference must be given with mnemonic in case of other company. Example AA24DGRYHY/CO3. This field is allowed to be input only for link type Change Pool..",
              "items" : {
                "type" : "object",
                "properties" : {
                  "newMaster" : {
                    "type" : "string",
                    "description" : "The new bundle reference is specified in this field when a account moves from the current pool to another pool. Accepts bundle arrangement reference.Bundle reference must be given with mnemonic in case of other company. Example AA24DGRYHY/CO3. This field is allowed to be input only for link type Change Pool..",
                    "maxLength" : 9
                  }
                }
              }
            },
            "cancelRestructures" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "cancelRestructure" : {
                    "type" : "string",
                    "description" : "",
                    "maxLength" : 17
                  }
                }
              }
            },
            "integrityCheckDay" : {
              "type" : "string",
              "description" : "",
              "maxLength" : 20,
              "enum" : [ "integrityCheckDay" ]
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "BundleStructureResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BundleStructureResponseBody"
        }
      },
      "description" : "BundleStructureResponse"
    },
    "BundleStructureResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "partyIds" : {
              "type" : "array",
              "description" : "It is an unique identifier of a customer or party",
              "items" : {
                "type" : "object",
                "properties" : {
                  "partyId" : {
                    "type" : "string",
                    "description" : "It is an unique identifier of a customer or party",
                    "maxLength" : 45
                  }
                }
              }
            },
            "arrangmentId" : {
              "type" : "string",
              "description" : "It is the unique identifier of an arrangement account",
              "maxLength" : 45
            },
            "arrangementEffectiveDate" : {
              "type" : "string",
              "description" : "It is a date on/upon which an account is considered to take effect",
              "maxLength" : 45
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
              "maxLength" : 45
            },
            "activityId" : {
              "type" : "string",
              "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "maxLength" : 45
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "bundlehierarchy" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "aliases" : {
                      "type" : "array",
                      "description" : "This field forms part of an associated multi-value set to specify the details of an Account during one of Restructure events.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "alias" : {
                            "type" : "string",
                            "description" : "This field forms part of an associated multi-value set to specify the details of an Account during one of Restructure events.",
                            "maxLength" : 5
                          }
                        }
                      }
                    },
                    "accounts" : {
                      "type" : "array",
                      "description" : "Identifies the unique account Id of the payment entered.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "account" : {
                            "type" : "string",
                            "description" : "Identifies the unique account Id of the payment entered.",
                            "maxLength" : 7
                          }
                        }
                      }
                    },
                    "customers" : {
                      "type" : "array",
                      "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "customer" : {
                            "type" : "string",
                            "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed.",
                            "maxLength" : 8
                          }
                        }
                      }
                    },
                    "companies" : {
                      "type" : "array",
                      "description" : "The company code",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "company" : {
                            "type" : "string",
                            "description" : "The company code",
                            "maxLength" : 7
                          }
                        }
                      }
                    },
                    "currencies" : {
                      "type" : "array",
                      "description" : "Identifies the currency. E.g. USD, GBP etc",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "currency" : {
                            "type" : "string",
                            "description" : "Indicates the type of currency to which the account belongs",
                            "maxLength" : 8
                          }
                        }
                      }
                    },
                    "products" : {
                      "type" : "array",
                      "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "product" : {
                            "type" : "string",
                            "description" : "Indicates an id or name of a product",
                            "maxLength" : 7
                          }
                        }
                      }
                    },
                    "names" : {
                      "type" : "array",
                      "description" : "Short title for the Account to be created",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "name" : {
                            "type" : "string",
                            "description" : "Short title for the Account to be created",
                            "maxLength" : 4
                          }
                        }
                      }
                    },
                    "alternateReferences" : {
                      "type" : "array",
                      "description" : "If the new Account to be created is a shadow of another Account already exisitng in another system, then the Account reference of that system can be specified here. The value given in this field will be mapped to ALTERNATE.ID field in arrangement activity and ensure that this Account doesn't already exist in T24 with another reference (because ALTERNATE.ID would be configured to be unique across T24).",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "alternateReference" : {
                            "type" : "string",
                            "description" : "If the new Account to be created is a shadow of another Account already exisitng in another system, then the Account reference of that system can be specified here. The value given in this field will be mapped to ALTERNATE.ID field in arrangement activity and ensure that this Account doesn't already exist in T24 with another reference (because ALTERNATE.ID would be configured to be unique across T24).",
                            "maxLength" : 18
                          }
                        }
                      }
                    },
                    "parents" : {
                      "type" : "array",
                      "description" : "This Field is to determine whether the order is a parent order, Allowed value is YES",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "parent" : {
                            "type" : "string",
                            "description" : "This Field is to determine whether the order is a parent order, Allowed value is YES",
                            "maxLength" : 6
                          }
                        }
                      }
                    },
                    "levels" : {
                      "type" : "array",
                      "description" : "Captured for information purpose to render the placeholders in GUI",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "level" : {
                            "type" : "string",
                            "description" : "Captured for information purpose to render the placeholders in GUI",
                            "maxLength" : 5
                          }
                        }
                      }
                    },
                    "goLiveDates" : {
                      "type" : "array",
                      "description" : "Denotes the date on which the Account is expected to go live in cash pool structure. Input is prohibited when bundle is in Draft status Input is allowed for NEW.OFFER accounts only for setting live date for link type SET.LIVE.DATE Input is mandatory for any restructure activity on Live accounts. Restructure activity on preliminary accounts will be effective current dated.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "goLiveDate" : {
                            "type" : "string",
                            "description" : "Denotes the date on which the Account is expected to go live in cash pool structure. Input is prohibited when bundle is in Draft status Input is allowed for NEW.OFFER accounts only for setting live date for link type SET.LIVE.DATE Input is mandatory for any restructure activity on Live accounts. Restructure activity on preliminary accounts will be effective current dated.",
                            "maxLength" : 10
                          }
                        }
                      }
                    },
                    "linkTypes" : {
                      "type" : "array",
                      "description" : "Denotes associated multi value set to specify Accounts involved in the Pool Restructuring and dictates what should happen to the Account in the corresponding row.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "linkType" : {
                            "type" : "string",
                            "description" : "Denotes associated multi value set to specify Accounts involved in the Pool Restructuring and dictates what should happen to the Account in the corresponding row.",
                            "maxLength" : 8
                          }
                        }
                      }
                    },
                    "keepBalances" : {
                      "type" : "array",
                      "description" : "When an Account is removed from a Hierarchy, it is possible to dictate if it should be removed with or without Balance. Allows YES and Null  Yes - The account will move out of pool with balance while delinking account or during change pool. Null - The account will move out of pool with ZERO balance while delinking/change pool. Amount will be settled to its settlement account.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "keepBalance" : {
                            "type" : "string",
                            "description" : "When an Account is removed from a Hierarchy, it is possible to dictate if it should be removed with or without Balance. Allows YES and Null  Yes - The account will move out of pool with balance while delinking account or during change pool. Null - The account will move out of pool with ZERO balance while delinking/change pool. Amount will be settled to its settlement account.",
                            "maxLength" : 11
                          }
                        }
                      }
                    },
                    "newMasters" : {
                      "type" : "array",
                      "description" : "The new bundle reference is specified in this field when a account moves from the current pool to another pool. Accepts bundle arrangement reference.Bundle reference must be given with mnemonic in case of other company. Example AA24DGRYHY/CO3. This field is allowed to be input only for link type Change Pool..",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "newMaster" : {
                            "type" : "string",
                            "description" : "The new bundle reference is specified in this field when a account moves from the current pool to another pool. Accepts bundle arrangement reference.Bundle reference must be given with mnemonic in case of other company. Example AA24DGRYHY/CO3. This field is allowed to be input only for link type Change Pool..",
                            "maxLength" : 9
                          }
                        }
                      }
                    },
                    "cancelRestructures" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "cancelRestructure" : {
                            "type" : "string",
                            "description" : "",
                            "maxLength" : 17
                          }
                        }
                      }
                    },
                    "integrityCheckDay" : {
                      "type" : "string",
                      "description" : "",
                      "maxLength" : 20,
                      "enum" : [ "integrityCheckDay" ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ArrangementErrorResponse"
    },
    "ArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessArrangementErrorResponse"
    },
    "BusinessArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemArrangementErrorResponse"
    },
    "SystemArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}