{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retrieves interest condition information for products, groups and lines",
    "version" : "v1.0.0",
    "title" : "Product Interest Conditions APIs"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/product/interestConditions" : {
      "get" : {
        "operationId" : "getInterestConditions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "InterestConditionsResponse",
            "schema" : {
              "$ref" : "#/definitions/InterestConditionsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/product/interestConditions/{interestConditionId}" : {
      "get" : {
        "operationId" : "getInterestCondition",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "interestConditionId",
          "in" : "path",
          "description" : "The identifier of the product condition used to define the interest rate",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "InterestConditionResponse",
            "schema" : {
              "$ref" : "#/definitions/InterestConditionResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "post" : {
        "operationId" : "createInterestCondition",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "interestConditionId",
          "in" : "path",
          "description" : "The identifier of the product condition used to define the interest rate",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InterestCondition"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "InterestConditionResponse",
            "schema" : {
              "$ref" : "#/definitions/InterestConditionResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "operationId" : "updateInterestCondition",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "interestConditionId",
          "in" : "path",
          "description" : "The identifier of the product condition used to define the interest rate",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "InterestConditionResponse",
            "schema" : {
              "$ref" : "#/definitions/InterestConditionResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "InterestConditionsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/InterestConditionsResponseBody"
        }
      },
      "description" : "InterestConditionsResponse"
    },
    "InterestConditionsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "interestConditionId" : {
            "type" : "string",
            "description" : "The identifier of the product condition used to define the interest rate",
            "maxLength" : 80
          },
          "displayName" : {
            "type" : "string",
            "description" : "Name used for display or enrichment purposes",
            "maxLength" : 35
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "InterestConditionResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/InterestConditionResponseBody"
        }
      },
      "description" : "InterestConditionResponse"
    },
    "InterestConditionResponseBody" : {
      "type" : "object",
      "properties" : {
        "rates" : {
          "type" : "array",
          "description" : "The rate applied",
          "items" : {
            "type" : "object",
            "properties" : {
              "fixedRate" : {
                "type" : "string",
                "description" : "Numeric value for the interest rate entered manually.",
                "maxLength" : 9
              },
              "floatingRate" : {
                "type" : "string",
                "description" : "The interest rate is chosen from a selection of values which represent different interest types and rates.",
                "maxLength" : 12
              },
              "linkedRateIndicator" : {
                "type" : "string",
                "description" : "The interest rate for the tier can be linked to that of another account, YES/NO indicator",
                "maxLength" : 19
              },
              "customRateIndicator" : {
                "type" : "string",
                "description" : "A custom rate can be calculated and applied to an account, flag set to Yes for this to be invoked otherwise No.",
                "maxLength" : 19
              },
              "minimumTierRate" : {
                "type" : "string",
                "description" : "A minimum interest rate can be applied at each tier.",
                "maxLength" : 15
              },
              "maximumTierRate" : {
                "type" : "string",
                "description" : "The maximum rate that can be applied at each tier.",
                "maxLength" : 15
              },
              "tierAmount" : {
                "type" : "string",
                "description" : "The monetary amount for the tier.",
                "maxLength" : 10
              },
              "tierNegativeRate" : {
                "type" : "string",
                "description" : "A negative interest rate can be applied at each tier, select Yes, No, Block margin",
                "maxLength" : 16
              },
              "tierPercent" : {
                "type" : "string",
                "description" : "Applicable tier percentage (between 0 and 100) for interest calculations based on amount bands",
                "maxLength" : 11
              },
              "margins" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "marginType" : {
                      "type" : "string",
                      "description" : "Defines whether there are single or multiple margins to be considered while arriving at the applicable interest rate  Allowed values:  null (default): multiple margins may be defined SINGLE: only a single margin is allowed",
                      "maxLength" : 10
                    },
                    "marginOperand" : {
                      "type" : "string",
                      "description" : "This is the operand which determines if a  margin is added or subtracted from the interest rate.  Options are ADD or SUB.",
                      "maxLength" : 13
                    },
                    "marginRate" : {
                      "type" : "string",
                      "description" : "This is the rate applied over the default interest rate or commission rate to achieve the actual rate.",
                      "maxLength" : 10
                    }
                  }
                }
              }
            }
          }
        },
        "displayNames" : {
          "type" : "array",
          "description" : "Name used for display or enrichment purposes",
          "items" : {
            "type" : "object",
            "properties" : {
              "displayName" : {
                "type" : "string",
                "description" : "Name used for display or enrichment purposes",
                "maxLength" : 11
              }
            }
          }
        },
        "rateTierType" : {
          "type" : "string",
          "description" : "Different interest rates can be applied for tiers determined by monetary amounts.  Standard selection to choose from - Single, Level, Banded",
          "maxLength" : 18
        },
        "linkedArrangement" : {
          "type" : "string",
          "description" : "The account which is linked for calculating interest that should be applied to this account",
          "maxLength" : 18
        },
        "defaultNegotiable" : {
          "type" : "string",
          "description" : "Flag to indicate whether the fields of a property class can be fully negotiable at arrangement level",
          "maxLength" : 17
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "InterestCondition" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/InterestConditionBody"
        }
      },
      "description" : "InterestCondition"
    },
    "InterestConditionBody" : {
      "type" : "object",
      "properties" : {
        "rates" : {
          "type" : "array",
          "description" : "The rate applied",
          "items" : {
            "type" : "object",
            "properties" : {
              "fixedRate" : {
                "type" : "string",
                "description" : "Numeric value for the interest rate entered manually.",
                "maxLength" : 9
              },
              "floatingRate" : {
                "type" : "string",
                "description" : "The interest rate is chosen from a selection of values which represent different interest types and rates.",
                "maxLength" : 12
              },
              "linkedRateIndicator" : {
                "type" : "string",
                "description" : "The interest rate for the tier can be linked to that of another account, YES/NO indicator",
                "maxLength" : 19
              },
              "customRateIndicator" : {
                "type" : "string",
                "description" : "A custom rate can be calculated and applied to an account, flag set to Yes for this to be invoked otherwise No.",
                "maxLength" : 19
              },
              "minimumTierRate" : {
                "type" : "string",
                "description" : "A minimum interest rate can be applied at each tier.",
                "maxLength" : 15
              },
              "maximumTierRate" : {
                "type" : "string",
                "description" : "The maximum rate that can be applied at each tier.",
                "maxLength" : 15
              },
              "tierAmount" : {
                "type" : "string",
                "description" : "The monetary amount for the tier.",
                "maxLength" : 10
              },
              "tierNegativeRate" : {
                "type" : "string",
                "description" : "A negative interest rate can be applied at each tier, select Yes, No, Block margin",
                "maxLength" : 16
              },
              "tierPercent" : {
                "type" : "string",
                "description" : "Applicable tier percentage (between 0 and 100) for interest calculations based on amount bands",
                "maxLength" : 11
              },
              "margins" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "marginType" : {
                      "type" : "string",
                      "description" : "Defines whether there are single or multiple margins to be considered while arriving at the applicable interest rate  Allowed values:  null (default): multiple margins may be defined SINGLE: only a single margin is allowed",
                      "maxLength" : 10
                    },
                    "marginOperand" : {
                      "type" : "string",
                      "description" : "This is the operand which determines if a  margin is added or subtracted from the interest rate.  Options are ADD or SUB.",
                      "maxLength" : 13
                    },
                    "marginRate" : {
                      "type" : "string",
                      "description" : "This is the rate applied over the default interest rate or commission rate to achieve the actual rate.",
                      "maxLength" : 10
                    }
                  }
                }
              }
            }
          }
        },
        "displayNames" : {
          "type" : "array",
          "description" : "Name used for display or enrichment purposes",
          "items" : {
            "type" : "object",
            "properties" : {
              "displayName" : {
                "type" : "string",
                "description" : "Name used for display or enrichment purposes",
                "maxLength" : 11
              }
            }
          }
        },
        "rateTierType" : {
          "type" : "string",
          "description" : "Different interest rates can be applied for tiers determined by monetary amounts.  Standard selection to choose from - Single, Level, Banded",
          "maxLength" : 18
        },
        "linkedArrangement" : {
          "type" : "string",
          "description" : "The account which is linked for calculating interest that should be applied to this account",
          "maxLength" : 18
        },
        "defaultNegotiable" : {
          "type" : "string",
          "description" : "Flag to indicate whether the fields of a property class can be fully negotiable at arrangement level",
          "maxLength" : 17
        }
      }
    }
  }
}