{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows the viewing and creation of Instruments Share Skeleton",
    "version" : "v1.0.0",
    "title" : "Reference Instrument Share Skeleton APIs"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/reference/instruments/shares" : {
      "post" : {
        "operationId" : "createSecurityShare",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SecurityShare"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityShareResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityShareResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/reference/instruments/{instrumentId}/shares" : {
      "get" : {
        "operationId" : "getSecurityShare",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "instrumentId",
          "in" : "path",
          "description" : "The identifier of the instrument",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "SecurityShareResponse",
            "schema" : {
              "$ref" : "#/definitions/SecurityShareResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "SecurityShare" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SecurityShareBody"
        }
      },
      "description" : "SecurityShare"
    },
    "SecurityShareBody" : {
      "type" : "object",
      "required" : [ "lastPrice", "mnemonic" ],
      "properties" : {
        "alternateInstrumentDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "alternateInstrument" : {
                "type" : "string",
                "description" : "The alternate security identifier",
                "maxLength" : 25
              },
              "alternateInstrumentId" : {
                "type" : "string",
                "description" : "The alternate security reference for the instrument",
                "maxLength" : 25
              }
            }
          }
        },
        "minimumInvestmentDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "currencyId" : {
                "type" : "string",
                "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
                "maxLength" : 25
              },
              "initialInvestment" : {
                "type" : "number",
                "description" : "Indicates the amount of initial investment"
              },
              "subsequentInvestment" : {
                "type" : "number",
                "description" : "Indicates the amount of subsequent investment"
              },
              "SIPAmount" : {
                "type" : "number",
                "description" : "Indicates the SIP(Systematic Investment Plan) amount"
              },
              "redemptionAmount" : {
                "type" : "number",
                "description" : "Indicates the redemption amount"
              }
            }
          }
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes",
          "maxLength" : 25
        },
        "mnemonic" : {
          "type" : "string",
          "description" : "Shortcut code for referring an Entity/Company/Branch.",
          "maxLength" : 25
        },
        "ISIN" : {
          "type" : "string",
          "description" : "The International Securities Identification Number of the instrument",
          "maxLength" : 25
        },
        "subAssetType" : {
          "type" : "number",
          "description" : "The name of the Sub Asset Type"
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 25
        },
        "depositoryId" : {
          "type" : "number",
          "description" : "Id of the securities depository."
        },
        "priceType" : {
          "type" : "string",
          "description" : "Defines the method to be used when calculating the price of a trade",
          "maxLength" : 25
        },
        "lastPrice" : {
          "type" : "number",
          "description" : "Indicates the last recorded price of the instrument"
        },
        "companyDomicile" : {
          "type" : "string",
          "description" : "Specifies the country of domicile, of the parent company or government or establishment issuing the Security",
          "maxLength" : 25
        },
        "instrumentDomicile" : {
          "type" : "string",
          "description" : "Specifies the country domicile of the Security being issued",
          "maxLength" : 25
        },
        "priceUpdateCode" : {
          "type" : "string",
          "description" : "Specifies the type of price update that will update the price of this security",
          "maxLength" : 25
        },
        "industryId" : {
          "type" : "number",
          "description" : "An institution-defined identifier of the industry in which the customer is trading, operating or is associated with"
        },
        "stockExchange" : {
          "type" : "string",
          "description" : "The stock exchange identifier",
          "maxLength" : 25
        },
        "parValue" : {
          "type" : "number",
          "description" : "Defines par value of the stock in the Security Currency"
        },
        "tradingUnits" : {
          "type" : "number",
          "description" : "Specifies the smallest nominal amount that may be traded"
        },
        "brokerTradingUnits" : {
          "type" : "number",
          "description" : "Specifies the smallest nominal amount that may be traded"
        },
        "couponTaxCodeId" : {
          "type" : "string",
          "description" : "Indicates the tax position",
          "maxLength" : 25
        },
        "minimumHolding" : {
          "type" : "number",
          "description" : "Specifies the Minimum holding for the security."
        },
        "minimumHoldingPeriod" : {
          "type" : "string",
          "description" : "Holds the notice period required for redemption requests",
          "maxLength" : 25
        },
        "minimumHoldingOverride" : {
          "type" : "boolean",
          "description" : "Indicates if the minimum holding period can be overridden by paying a fee"
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "SecurityShareResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/SecurityShareResponseBody"
        }
      },
      "description" : "SecurityShareResponse"
    },
    "SecurityShareResponseBody" : {
      "type" : "object",
      "properties" : {
        "alternateInstrumentDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "alternateInstrument" : {
                "type" : "string",
                "description" : "The alternate security identifier",
                "maxLength" : 25
              },
              "alternateInstrumentId" : {
                "type" : "string",
                "description" : "The alternate security reference for the instrument",
                "maxLength" : 25
              }
            }
          }
        },
        "minimumInvestmentDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "currencyId" : {
                "type" : "string",
                "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
                "maxLength" : 25
              },
              "initialInvestment" : {
                "type" : "number",
                "description" : "Indicates the amount of initial investment"
              },
              "subsequentInvestment" : {
                "type" : "number",
                "description" : "Indicates the amount of subsequent investment"
              },
              "SIPAmount" : {
                "type" : "number",
                "description" : "Indicates the SIP(Systematic Investment Plan) amount"
              },
              "redemptionAmount" : {
                "type" : "number",
                "description" : "Indicates the redemption amount"
              }
            }
          }
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes",
          "maxLength" : 25
        },
        "mnemonic" : {
          "type" : "string",
          "description" : "Shortcut code for referring an Entity/Company/Branch.",
          "maxLength" : 25
        },
        "ISIN" : {
          "type" : "string",
          "description" : "The International Securities Identification Number of the instrument",
          "maxLength" : 25
        },
        "subAssetType" : {
          "type" : "number",
          "description" : "The name of the Sub Asset Type"
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "maxLength" : 25
        },
        "depositoryId" : {
          "type" : "number",
          "description" : "Id of the securities depository."
        },
        "priceType" : {
          "type" : "string",
          "description" : "Defines the method to be used when calculating the price of a trade",
          "maxLength" : 25
        },
        "instrumentType" : {
          "type" : "string",
          "description" : "Indicates the type of the security ",
          "maxLength" : 25
        },
        "lastPrice" : {
          "type" : "number",
          "description" : "Indicates the last recorded price of the instrument"
        },
        "companyDomicile" : {
          "type" : "string",
          "description" : "Specifies the country of domicile, of the parent company or government or establishment issuing the Security",
          "maxLength" : 25
        },
        "instrumentDomicile" : {
          "type" : "string",
          "description" : "Specifies the country domicile of the Security being issued",
          "maxLength" : 25
        },
        "priceUpdateCode" : {
          "type" : "string",
          "description" : "Specifies the type of price update that will update the price of this security",
          "maxLength" : 25
        },
        "industryId" : {
          "type" : "number",
          "description" : "An institution-defined identifier of the industry in which the customer is trading, operating or is associated with"
        },
        "stockExchange" : {
          "type" : "string",
          "description" : "The stock exchange identifier",
          "maxLength" : 25
        },
        "parValue" : {
          "type" : "number",
          "description" : "Defines par value of the stock in the Security Currency"
        },
        "tradingUnits" : {
          "type" : "number",
          "description" : "Specifies the smallest nominal amount that may be traded"
        },
        "brokerTradingUnits" : {
          "type" : "number",
          "description" : "Specifies the smallest nominal amount that may be traded"
        },
        "couponTaxCodeId" : {
          "type" : "string",
          "description" : "Indicates the tax position",
          "maxLength" : 25
        },
        "minimumHolding" : {
          "type" : "number",
          "description" : "Specifies the Minimum holding for the security."
        },
        "minimumHoldingPeriod" : {
          "type" : "string",
          "description" : "Holds the notice period required for redemption requests",
          "maxLength" : 25
        },
        "minimumHoldingOverride" : {
          "type" : "boolean",
          "description" : "Indicates if the minimum holding period can be overridden by paying a fee"
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}