{
  "swagger" : "2.0",
  "info" : {
    "description" : "POSTPUTRequests",
    "version" : "v2.0.0",
    "title" : "Serviceautomation"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v2.0.0/v2.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/system/services/processes/{processId}" : {
      "post" : {
        "operationId" : "createCloseOfBusinessProcess",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "processId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CloseOfBusinessProcess"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CloseOfBusinessProcessResponse",
            "schema" : {
              "$ref" : "#/definitions/CloseOfBusinessProcessResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "operationId" : "updateCloseOfBusinessProcess",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "processId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CloseOfBusinessProcess"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CloseOfBusinessProcessResponse",
            "schema" : {
              "$ref" : "#/definitions/CloseOfBusinessProcessResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/system/services/{serviceId}" : {
      "post" : {
        "operationId" : "createService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Service"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ServiceResponse",
            "schema" : {
              "$ref" : "#/definitions/ServiceResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "operationId" : "updateService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Service"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ServiceResponse",
            "schema" : {
              "$ref" : "#/definitions/ServiceResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/system/services/workProfiles/{workProfileId}" : {
      "post" : {
        "operationId" : "createWorkloadProfile",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workProfileId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WorkloadProfile"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "WorkloadProfileResponse",
            "schema" : {
              "$ref" : "#/definitions/WorkloadProfileResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "operationId" : "updateWorkloadProfile",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workProfileId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WorkloadProfile"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "WorkloadProfileResponse",
            "schema" : {
              "$ref" : "#/definitions/WorkloadProfileResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "CloseOfBusinessProcess" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CloseOfBusinessProcessBody"
        }
      },
      "description" : "CloseOfBusinessProcess"
    },
    "CloseOfBusinessProcessBody" : {
      "type" : "object",
      "properties" : {
        "batchStage" : {
          "type" : "string",
          "description" : "User can group the processes into four distinct stages.   The first character is used to define the stage, which must be one of the following:  A: Application  D: Start of Day  R: Reporting  S: System  O: Online Within the batch control system, each stage verifies that all the processes in the previous stage have completed successfully before continuing.  The remaining 3 characters are process sequence number. Modifications to the sequence number should adhere to the following guidelines: Range 000 to 099: should not be modified. Range 100 to 899: only the last two digits should be modified. Range 900 - 999: should not be modified. If no sequence number (process dependency) has been appended to the batch stage, then this process can be run concurrently within the stage. However if a sequence number (e.g. A009) has been specified then the process can be run only when all other processes with sequence numbers lower than this have completed successfully. Processes with the same sequence number can be run concurrently.",
          "maxLength" : 32
        },
        "batchEnvironment" : {
          "type" : "string",
          "description" : "Environment where the process run.  Allowed values: F: Foreground - Run directly on the user's terminal. B: Background - Run as a background task.",
          "maxLength" : 32,
          "enum" : [ "B", "F" ]
        },
        "jobId" : {
          "type" : "string",
          "description" : "The job name entered must be an entry on the main program file.",
          "maxLength" : 32
        },
        "verificationJobId" : {
          "type" : "string",
          "description" : "Same as jobID, but functionally it does the verification as to whether a job is completed before the jobID is executed.",
          "maxLength" : 32
        },
        "jobFrequency" : {
          "type" : "string",
          "description" : "Defines the frequency at which the job is processed next.  POSSIBLE VALUES: - D: Every working day.  - Dnn: Every nn'th working day. - W: Weekly every Friday.  - M: Last working day of every month. - Mnn: nn represents the offset added to the first day of every month to arrive at Next Run date. When the resultant date is a holiday, previous Working day is considered. - A: The job is picked on the any ad-hoc date. The next run date has to be updated manually.  - Y: Last working day of the year.  - Ynn: Last working day of the nn'th month.  - Jxxx: Always run with job name xxx.",
          "maxLength" : 32
        },
        "nextRunDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Specifies bank date on which the job is to be next run"
        },
        "data" : {
          "type" : "string",
          "description" : "Input parameter",
          "maxLength" : 32
        },
        "userId" : {
          "type" : "string",
          "description" : "The user name to be loaded for reporting jobs during Close of Business If no user name is entered in this field then the default profile for the user 'operator' is used.",
          "maxLength" : 32
        },
        "recordStatus" : {
          "type" : "string",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "maxLength" : 25
        },
        "currNo" : {
          "type" : "string",
          "description" : "Current Number which indicates how many times the record is modified.",
          "maxLength" : 25
        },
        "inputter" : {
          "type" : "string",
          "description" : "The user identifier who input the transaction",
          "maxLength" : 25
        },
        "authoriser" : {
          "type" : "string",
          "description" : "This indicates the user who authorized the transaction.",
          "maxLength" : 25
        },
        "dateTime" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date and time separated by '-'"
        },
        "companyId" : {
          "type" : "string",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "maxLength" : 25
        },
        "deptCode" : {
          "type" : "string",
          "description" : "The department code where the transaction was authorized.",
          "maxLength" : 25
        },
        "auditorCode" : {
          "type" : "string",
          "description" : "Reference to the auditor code.",
          "maxLength" : 25
        },
        "auditTimeDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Reference to the audit date and time."
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "CloseOfBusinessProcessResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CloseOfBusinessProcessResponseBody"
        }
      },
      "description" : "CloseOfBusinessProcessResponse"
    },
    "CloseOfBusinessProcessResponseBody" : {
      "type" : "object",
      "properties" : {
        "batchStage" : {
          "type" : "string",
          "description" : "User can group the processes into four distinct stages.   The first character is used to define the stage, which must be one of the following:  A: Application  D: Start of Day  R: Reporting  S: System  O: Online Within the batch control system, each stage verifies that all the processes in the previous stage have completed successfully before continuing.  The remaining 3 characters are process sequence number. Modifications to the sequence number should adhere to the following guidelines: Range 000 to 099: should not be modified. Range 100 to 899: only the last two digits should be modified. Range 900 - 999: should not be modified. If no sequence number (process dependency) has been appended to the batch stage, then this process can be run concurrently within the stage. However if a sequence number (e.g. A009) has been specified then the process can be run only when all other processes with sequence numbers lower than this have completed successfully. Processes with the same sequence number can be run concurrently.",
          "maxLength" : 32
        },
        "batchEnvironment" : {
          "type" : "string",
          "description" : "Environment where the process run.  Allowed values: F: Foreground - Run directly on the user's terminal. B: Background - Run as a background task.",
          "maxLength" : 32,
          "enum" : [ "B", "F" ]
        },
        "jobId" : {
          "type" : "string",
          "description" : "The job name entered must be an entry on the main program file.",
          "maxLength" : 32
        },
        "verificationJobId" : {
          "type" : "string",
          "description" : "Same as jobID, but functionally it does the verification as to whether a job is completed before the jobID is executed.",
          "maxLength" : 32
        },
        "jobFrequency" : {
          "type" : "string",
          "description" : "Defines the frequency at which the job is processed next.  POSSIBLE VALUES: - D: Every working day.  - Dnn: Every nn'th working day. - W: Weekly every Friday.  - M: Last working day of every month. - Mnn: nn represents the offset added to the first day of every month to arrive at Next Run date. When the resultant date is a holiday, previous Working day is considered. - A: The job is picked on the any ad-hoc date. The next run date has to be updated manually.  - Y: Last working day of the year.  - Ynn: Last working day of the nn'th month.  - Jxxx: Always run with job name xxx.",
          "maxLength" : 32
        },
        "nextRunDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Specifies bank date on which the job is to be next run"
        },
        "data" : {
          "type" : "string",
          "description" : "Input parameter",
          "maxLength" : 32
        },
        "userId" : {
          "type" : "string",
          "description" : "The user name to be loaded for reporting jobs during Close of Business If no user name is entered in this field then the default profile for the user 'operator' is used.",
          "maxLength" : 32
        },
        "recordStatus" : {
          "type" : "string",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "maxLength" : 25
        },
        "currNo" : {
          "type" : "string",
          "description" : "Current Number which indicates how many times the record is modified.",
          "maxLength" : 25
        },
        "inputter" : {
          "type" : "string",
          "description" : "The user identifier who input the transaction",
          "maxLength" : 25
        },
        "authoriser" : {
          "type" : "string",
          "description" : "This indicates the user who authorized the transaction.",
          "maxLength" : 25
        },
        "dateTime" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date and time separated by '-'"
        },
        "companyId" : {
          "type" : "string",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "maxLength" : 25
        },
        "deptCode" : {
          "type" : "string",
          "description" : "The department code where the transaction was authorized.",
          "maxLength" : 25
        },
        "auditorCode" : {
          "type" : "string",
          "description" : "Reference to the auditor code.",
          "maxLength" : 25
        },
        "auditTimeDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Reference to the audit date and time."
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "Service" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ServiceBody"
        }
      },
      "description" : "Service"
    },
    "ServiceBody" : {
      "type" : "object",
      "properties" : {
        "jobServerProfiles" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "jobProfileId" : {
                "type" : "string",
                "description" : "",
                "maxLength" : 25
              },
              "serverName" : {
                "type" : "string",
                "description" : "Hostname of the Server on which the service will run.",
                "maxLength" : 25
              },
              "jobServerStatus" : {
                "type" : "string",
                "description" : "Status of Server  POSSIBLE VALUES: ACTIVE: To set the server as active INACTIVE: To set the server as inactive",
                "maxLength" : 25
              }
            }
          }
        },
        "serviceDescription" : {
          "type" : "string",
          "description" : "Description of the Service",
          "maxLength" : 25
        },
        "userId" : {
          "type" : "string",
          "description" : "The user name to be loaded for reporting jobs during Close of Business If no user name is entered in this field then the default profile for the user 'operator' is used.",
          "maxLength" : 25
        },
        "jobOperation" : {
          "type" : "string",
          "description" : "The control which user be exercise upon the current service.   Allowed values: - START: to start the current service.  - STOP: to stop the current service - AUTO: to start the current service automatically and stop at the end of the process.",
          "maxLength" : 25,
          "enum" : [ "START", "STOP", "AUTO" ]
        },
        "recordStatus" : {
          "type" : "string",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "maxLength" : 25,
          "enum" : [ "Status of record -authorised/on hold/unauth etc" ]
        },
        "currNo" : {
          "type" : "string",
          "description" : "Current Number which indicates how many times the record is modified.",
          "maxLength" : 25,
          "enum" : [ "No of times record has been changed" ]
        },
        "inputter" : {
          "type" : "string",
          "description" : "The user identifier who input the transaction",
          "maxLength" : 25,
          "enum" : [ "User who has input or changed the record" ]
        },
        "dateTime" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date and time separated by '-'"
        },
        "authoriser" : {
          "type" : "string",
          "description" : "This indicates the user who authorized the transaction.",
          "maxLength" : 25,
          "enum" : [ "User who has authorised the input or change" ]
        },
        "deptCode" : {
          "type" : "string",
          "description" : "The department code where the transaction was authorized.",
          "maxLength" : 25,
          "enum" : [ "Department handling the record" ]
        },
        "auditorCode" : {
          "type" : "string",
          "description" : "Reference to the auditor code.",
          "maxLength" : 25,
          "enum" : [ "Code of Auditor who has audited the record" ]
        },
        "auditTimeDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Reference to the audit date and time."
        }
      }
    },
    "ServiceResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ServiceResponseBody"
        }
      },
      "description" : "ServiceResponse"
    },
    "ServiceResponseBody" : {
      "type" : "object",
      "properties" : {
        "jobServerProfiles" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "jobProfileId" : {
                "type" : "string",
                "description" : "",
                "maxLength" : 25
              },
              "serverName" : {
                "type" : "string",
                "description" : "Hostname of the Server on which the service will run.",
                "maxLength" : 25
              },
              "jobServerStatus" : {
                "type" : "string",
                "description" : "Status of Server  POSSIBLE VALUES: ACTIVE: To set the server as active INACTIVE: To set the server as inactive",
                "maxLength" : 25
              }
            }
          }
        },
        "serviceDescription" : {
          "type" : "string",
          "description" : "Description of the Service",
          "maxLength" : 25
        },
        "userId" : {
          "type" : "string",
          "description" : "The user name to be loaded for reporting jobs during Close of Business If no user name is entered in this field then the default profile for the user 'operator' is used.",
          "maxLength" : 25
        },
        "jobOperation" : {
          "type" : "string",
          "description" : "The control which user be exercise upon the current service.   Allowed values: - START: to start the current service.  - STOP: to stop the current service - AUTO: to start the current service automatically and stop at the end of the process.",
          "maxLength" : 25,
          "enum" : [ "START", "STOP", "AUTO" ]
        },
        "recordStatus" : {
          "type" : "string",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "maxLength" : 25,
          "enum" : [ "Status of record -authorised/on hold/unauth etc" ]
        },
        "currNo" : {
          "type" : "string",
          "description" : "Current Number which indicates how many times the record is modified.",
          "maxLength" : 25,
          "enum" : [ "No of times record has been changed" ]
        },
        "inputter" : {
          "type" : "string",
          "description" : "The user identifier who input the transaction",
          "maxLength" : 25,
          "enum" : [ "User who has input or changed the record" ]
        },
        "dateTime" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date and time separated by '-'"
        },
        "authoriser" : {
          "type" : "string",
          "description" : "This indicates the user who authorized the transaction.",
          "maxLength" : 25,
          "enum" : [ "User who has authorised the input or change" ]
        },
        "deptCode" : {
          "type" : "string",
          "description" : "The department code where the transaction was authorized.",
          "maxLength" : 25,
          "enum" : [ "Department handling the record" ]
        },
        "auditorCode" : {
          "type" : "string",
          "description" : "Reference to the auditor code.",
          "maxLength" : 25,
          "enum" : [ "Code of Auditor who has audited the record" ]
        },
        "auditTimeDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Reference to the audit date and time."
        }
      }
    },
    "WorkloadProfile" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/WorkloadProfileBody"
        }
      },
      "description" : "WorkloadProfile"
    },
    "WorkloadProfileBody" : {
      "type" : "object",
      "properties" : {
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes",
          "maxLength" : 25
        },
        "startTime" : {
          "type" : "string",
          "description" : "The time job was started",
          "maxLength" : 25
        },
        "agentsRequired" : {
          "type" : "string",
          "description" : "The number of agents required",
          "maxLength" : 25
        },
        "recordStatus" : {
          "type" : "string",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "maxLength" : 25
        },
        "CurrNo" : {
          "type" : "number",
          "description" : "Current Number which indicates how many times the record is modified."
        },
        "inputter" : {
          "type" : "string",
          "description" : "The user identifier who input the transaction",
          "maxLength" : 25
        },
        "authoriser" : {
          "type" : "string",
          "description" : "This indicates the user who authorized the transaction.",
          "maxLength" : 25
        },
        "datetime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date and time separated by '-'"
        },
        "coCode" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 25
        },
        "deptCode" : {
          "type" : "string",
          "description" : "The department code where the transaction was authorized.",
          "maxLength" : 25
        },
        "auditorCode" : {
          "type" : "string",
          "description" : "Reference to the auditor code.",
          "maxLength" : 25
        },
        "auditTimeDate" : {
          "type" : "string",
          "description" : "Reference to the audit date and time.",
          "maxLength" : 25
        }
      }
    },
    "WorkloadProfileResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/WorkloadProfileResponseBody"
        }
      },
      "description" : "WorkloadProfileResponse"
    },
    "WorkloadProfileResponseBody" : {
      "type" : "object",
      "properties" : {
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes",
          "maxLength" : 25
        },
        "startTime" : {
          "type" : "string",
          "description" : "The time job was started",
          "maxLength" : 25
        },
        "agentsRequired" : {
          "type" : "string",
          "description" : "The number of agents required",
          "maxLength" : 25
        },
        "recordStatus" : {
          "type" : "string",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "maxLength" : 25
        },
        "CurrNo" : {
          "type" : "number",
          "description" : "Current Number which indicates how many times the record is modified."
        },
        "inputter" : {
          "type" : "string",
          "description" : "The user identifier who input the transaction",
          "maxLength" : 25
        },
        "authoriser" : {
          "type" : "string",
          "description" : "This indicates the user who authorized the transaction.",
          "maxLength" : 25
        },
        "datetime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date and time separated by '-'"
        },
        "coCode" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 25
        },
        "deptCode" : {
          "type" : "string",
          "description" : "The department code where the transaction was authorized.",
          "maxLength" : 25
        },
        "auditorCode" : {
          "type" : "string",
          "description" : "Reference to the auditor code.",
          "maxLength" : 25
        },
        "auditTimeDate" : {
          "type" : "string",
          "description" : "Reference to the audit date and time.",
          "maxLength" : 25
        }
      }
    }
  }
}