{
  "swagger" : "2.0",
  "info" : {
    "description" : "GETRequests",
    "version" : "v2.0.0",
    "title" : "Serviceautomation"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v2.0.0/v2.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/system/services" : {
      "get" : {
        "operationId" : "getAvailableServices",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "serverName",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "serverStatus",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "workloadProfileId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "processStatus",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AvailableServicesResponse",
            "schema" : {
              "$ref" : "#/definitions/AvailableServicesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/system/services/{serviceId}" : {
      "get" : {
        "operationId" : "getAvailableService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "Provides the id of the service that has to be run.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "serverName",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "serverStatus",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "workloadProfileId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "processStatus",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AvailableServiceResponse",
            "schema" : {
              "$ref" : "#/definitions/AvailableServicesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/system/services/{serviceId}/status" : {
      "get" : {
        "operationId" : "getServiceStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "Provides the id of the service that has to be run.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ServiceStatusResponse",
            "schema" : {
              "$ref" : "#/definitions/ServiceStatusResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/system/services/status" : {
      "get" : {
        "operationId" : "getServicesStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "query",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ServicesStatusResponse",
            "schema" : {
              "$ref" : "#/definitions/ServiceStatusResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/system/services/workProfiles" : {
      "get" : {
        "operationId" : "getWorkLoadProfiles",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workloadProfileId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "agentsRequired",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "workLoadProfileTime",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "WorkLoadProfilesResponse",
            "schema" : {
              "$ref" : "#/definitions/WorkLoadProfilesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/system/services/workProfiles/{workProfileId}" : {
      "get" : {
        "operationId" : "getWorkLoadProfile",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workProfileId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "agentsRequired",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "workLoadProfileTime",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "WorkLoadProfileResponse",
            "schema" : {
              "$ref" : "#/definitions/WorkLoadProfilesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/system/services/{servicesId}/companies/{companyId}" : {
      "get" : {
        "operationId" : "getCompanyCloseBusinessStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "servicesId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "path",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "cobDate",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CompanyCloseBusinessStatusResponse",
            "schema" : {
              "$ref" : "#/definitions/CompanyCloseBusinessStatusResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/system/services/jobTimes" : {
      "get" : {
        "operationId" : "getJobTimes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "JobTimesResponse",
            "schema" : {
              "$ref" : "#/definitions/JobTimesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    },
    "/system/services/reportTimes" : {
      "get" : {
        "operationId" : "getReportTimes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "batchDate",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "report",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ReportTimesResponse",
            "schema" : {
              "$ref" : "#/definitions/ReportTimesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "AvailableServicesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AvailableServicesResponseBody"
        }
      },
      "description" : "AvailableServicesResponse"
    },
    "AvailableServicesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "serverDetails" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "serverName" : {
                  "type" : "string",
                  "description" : "Hostname of the Server on which the service will run.",
                  "maxLength" : 50
                },
                "serverStatus" : {
                  "type" : "string",
                  "description" : "Status of Server  POSSIBLE VALUES: ACTIVE: To set the server as active INACTIVE: To set the server as inactive",
                  "maxLength" : 7
                },
                "workloadProfileId" : {
                  "type" : "string",
                  "description" : "The ID of a record that is in a multithreaded process",
                  "maxLength" : 25
                }
              }
            }
          },
          "jobs" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "jobId" : {
                  "type" : "string",
                  "description" : "The job name entered must be an entry on the main program file."
                },
                "jobStatus" : {
                  "type" : "string",
                  "description" : "The current status of the job.  POSSIBLE VALUES: 0: Ready  1: Running  2: Completed successfully  3: On hold or in error",
                  "maxLength" : 2
                },
                "verificationJobId" : {
                  "type" : "string",
                  "description" : "Same as jobID, but functionally it does the verification as to whether a job is completed before the jobID is executed.",
                  "maxLength" : 50
                },
                "jobFrequency" : {
                  "type" : "string",
                  "description" : "Defines the frequency at which the job is processed next.  POSSIBLE VALUES: - D: Every working day.  - Dnn: Every nn'th working day. - W: Weekly every Friday.  - M: Last working day of every month. - Mnn: nn represents the offset added to the first day of every month to arrive at Next Run date. When the resultant date is a holiday, previous Working day is considered. - A: The job is picked on the any ad-hoc date. The next run date has to be updated manually.  - Y: Last working day of the year.  - Ynn: Last working day of the nn'th month.  - Jxxx: Always run with job name xxx.",
                  "maxLength" : 50
                }
              }
            }
          },
          "serviceId" : {
            "type" : "string",
            "description" : "Provides the id of the service that has to be run.",
            "maxLength" : 50
          },
          "serviceControl" : {
            "type" : "string",
            "description" : "The control which user be exercise upon the current service.   POSSIBLE VALUES: START: to start the current service.  STOP: to stop the current service AUTO: to start the current service automatically and stop at the end of the process."
          },
          "processStatus" : {
            "type" : "string",
            "description" : "The current process status.   Allowed values: - 0: Ready - 1: Running  - 2: Completed successfully  - 3: On hold or in error",
            "maxLength" : 2
          },
          "jobLastStartedAt" : {
            "type" : "string",
            "description" : "The time on which the service was started."
          },
          "jobLastStoppedAt" : {
            "type" : "string",
            "description" : "The time on which the service was stopped."
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message "
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "ServiceStatusResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ServiceStatusResponseBody"
        }
      },
      "description" : "ServiceStatusResponse"
    },
    "ServiceStatusResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "serviceId" : {
            "type" : "string",
            "description" : "Provides the id of the service that has to be run.",
            "maxLength" : 30
          },
          "agentId" : {
            "type" : "string",
            "description" : "The agent ID",
            "maxLength" : 10
          },
          "serverName" : {
            "type" : "string",
            "description" : "Hostname of the Server on which the service will run.",
            "maxLength" : 35
          },
          "agentStatus" : {
            "type" : "string",
            "description" : "The status of the agent.  Possible values: - RUNNING - STOPPED",
            "maxLength" : 35
          },
          "portId" : {
            "type" : "string",
            "description" : "The port in which agent is running",
            "maxLength" : 12
          },
          "sessionNo" : {
            "type" : "number",
            "description" : "The session number in which agent is running"
          },
          "lastContactTime" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "The Last contact time of agent."
          }
        }
      }
    },
    "WorkLoadProfilesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/WorkLoadProfilesResponseBody"
        }
      },
      "description" : "WorkLoadProfilesResponse"
    },
    "WorkLoadProfilesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "group" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "object",
              "properties" : {
                "agentsRequired" : {
                  "type" : "number",
                  "description" : "The number of agents required"
                },
                "workLoadProfileTime" : {
                  "type" : "string",
                  "format" : "date-time",
                  "description" : "The time a multithreaded process takes."
                }
              }
            }
          },
          "workloadProfileId" : {
            "type" : "string",
            "description" : "The ID of a record that is in a multithreaded process",
            "maxLength" : 30
          }
        }
      }
    },
    "CompanyCloseBusinessStatusResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CompanyCloseBusinessStatusResponseBody"
        }
      },
      "description" : "CompanyCloseBusinessStatusResponse"
    },
    "CompanyCloseBusinessStatusResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "cobDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The time and date on which the error occurred. The information in this field will hold the machine date and time, not the system date."
          },
          "companyId" : {
            "type" : "string",
            "description" : "The identifier of the underlying Entity/Company/Branch.",
            "maxLength" : 3
          },
          "detailKey" : {
            "type" : "string",
            "description" : "The keys to those records that were saved at the time the error was reported.",
            "maxLength" : 30
          },
          "dateTime" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "Date and time separated by '-'"
          },
          "errorMessage" : {
            "type" : "string",
            "description" : "Description of the error.",
            "maxLength" : 30
          },
          "applicationId" : {
            "type" : "string",
            "description" : "Application id.",
            "maxLength" : 2
          },
          "isFixRequired" : {
            "type" : "string",
            "description" : "Indicates if error is considered to be a critical error or not. For Critical Error, the batch control application will not be able to be invoked until this error has been resolved. For a Non Critical Error, the batch control application may be invoked even when this error is unresolved, by overriding it.  Allowed values: - YES: Critical Error - NO: Non Critical Error",
            "maxLength" : 3
          },
          "dateResolved" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "The date on which error has been resolved."
          }
        }
      }
    },
    "JobTimesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/JobTimesResponseBody"
        }
      },
      "description" : "JobTimesResponse"
    },
    "JobTimesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "group" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "object",
              "properties" : {
                "controlList" : {
                  "type" : "string",
                  "description" : "Control List value.",
                  "maxLength" : 70
                },
                "processedJob" : {
                  "type" : "string",
                  "description" : "The total number of records/contracts that was processed.",
                  "maxLength" : 70
                },
                "completed" : {
                  "type" : "string",
                  "description" : "The number of contracts completed processing.",
                  "maxLength" : 70
                }
              }
            }
          },
          "serviceId" : {
            "type" : "string",
            "description" : "Provides the id of the service that has to be run.",
            "maxLength" : 70
          },
          "startTime" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "The time job was started"
          },
          "endTime" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "The time the job was ended.  "
          },
          "throughPut" : {
            "type" : "string",
            "description" : "The number of records processed per minute.   Calculated as:  keys processed / elapsed time * 60",
            "maxLength" : 70
          },
          "lastTime" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "The time taken to run the job.  Indicates the time taken to Select the job plus the time difference of Start time and End time."
          }
        }
      }
    },
    "ReportTimesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ReportTimesResponseBody"
        }
      },
      "description" : "ReportTimesResponse"
    },
    "ReportTimesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "group" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "object",
              "properties" : {
                "batchDate" : {
                  "type" : "string",
                  "format" : "date-time",
                  "description" : "The bank date on which the particular report was generated."
                },
                "sessionNo" : {
                  "type" : "number",
                  "description" : "The session number in which agent is running"
                },
                "startTime" : {
                  "type" : "string",
                  "format" : "date-time",
                  "description" : "The time job was started"
                },
                "endTime" : {
                  "type" : "string",
                  "format" : "date-time",
                  "description" : "The time the job was ended.  "
                },
                "elapsedTime" : {
                  "type" : "string",
                  "format" : "date-time",
                  "description" : "The elapsed time of the report in seconds."
                }
              }
            }
          },
          "processReport" : {
            "type" : "string",
            "description" : "Key to the Report Times, containing Process Name and Report Type name ",
            "maxLength" : 70
          }
        }
      }
    }
  }
}