{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the arrangement details",
    "version" : "v1.0.0",
    "title" : "Arrangement Details"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "https", "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/customers/{customerId}/arrangements" : {
      "get" : {
        "summary" : "Retrieves the arrangement details for specific customer ",
        "operationId" : "getArrangementsForCustomers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "arrangementStatus",
          "in" : "query",
          "description" : "Indicates the status of the Arrangement during the life cycle of the contract",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productLineId",
          "in" : "query",
          "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "The group, as defined by the institution, that the product belongs to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getArrangementsForCustomersResponse",
            "schema" : {
              "$ref" : "#/definitions/getArrangementsForCustomersResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/arrangements/{recordId}" : {
      "get" : {
        "summary" : "Retrieves the arrangement details for specific id ",
        "operationId" : "getArrangement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "path",
          "description" : "Unique identifier of an entity",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "arrangementStatus",
          "in" : "query",
          "description" : "Indicates the status of the Arrangement during the life cycle of the contract",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productLineId",
          "in" : "query",
          "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "The group, as defined by the institution, that the product belongs to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getArrangementResponse",
            "schema" : {
              "$ref" : "#/definitions/getArrangementResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/customers/{customerId}/arrangements/{recordId}" : {
      "get" : {
        "summary" : "Retrieves the arrangement details for specific id and specific customer",
        "operationId" : "getArrangementsForCustomer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "recordId",
          "in" : "path",
          "description" : "Unique identifier of an entity",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "arrangementStatus",
          "in" : "query",
          "description" : "Indicates the status of the Arrangement during the life cycle of the contract",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productLineId",
          "in" : "query",
          "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "The group, as defined by the institution, that the product belongs to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getArrangementsForCustomerResponse",
            "schema" : {
              "$ref" : "#/definitions/getArrangementsForCustomerResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/arrangements/{recordId}/balances" : {
      "get" : {
        "summary" : "Retrieves the Arrangement contract informations such as product line, product group, currency",
        "operationId" : "getArrangements",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "path",
          "description" : "Unique identifier of an entity",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "productLineId",
          "in" : "query",
          "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "The group, as defined by the institution, that the product belongs to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getArrangementsResponse",
            "schema" : {
              "$ref" : "#/definitions/getArrangementsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cashManagement/customers/bundles/drafts" : {
      "get" : {
        "summary" : "Retrieves the Arrangement Activity details ",
        "operationId" : "getArrangementActivities",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getArrangementActivitiesResponse",
            "schema" : {
              "$ref" : "#/definitions/getArrangementActivitiesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/pending/activity/" : {
      "get" : {
        "summary" : "Retrieve the list of pending Arrangement Activity details",
        "operationId" : "getPendingArrangementActivity",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "activity",
          "in" : "query",
          "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "recordStatus",
          "in" : "query",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getPendingArrangementActivityResponse",
            "schema" : {
              "$ref" : "#/definitions/getPendingArrangementActivityResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/pending/activity/bundles" : {
      "get" : {
        "summary" : "Retrieve the list of pending bundle Arragement Activity details",
        "operationId" : "getPendingBundleArrangement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "activity",
          "in" : "query",
          "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "recordStatus",
          "in" : "query",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getPendingBundleArrangementResponse",
            "schema" : {
              "$ref" : "#/definitions/getPendingBundleArrangementResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/pending/activity/deposits" : {
      "get" : {
        "summary" : "Retrieve the list of pending deposit Arragement Activity details",
        "operationId" : "getPendingDepositArrangement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "activity",
          "in" : "query",
          "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "recordStatus",
          "in" : "query",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getPendingDepositArrangementResponse",
            "schema" : {
              "$ref" : "#/definitions/getPendingDepositArrangementResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/pending/activity/loans" : {
      "get" : {
        "summary" : "Retrieve the list of pending loan Arragement Activity details",
        "operationId" : "getPendingLoanArrangement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "activity",
          "in" : "query",
          "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "recordStatus",
          "in" : "query",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getPendingLoanArrangementResponse",
            "schema" : {
              "$ref" : "#/definitions/getPendingLoanArrangementResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/pending/activity/consents" : {
      "get" : {
        "summary" : "Retrieve the list of pending consents Arragement Activity details",
        "operationId" : "getPendingConsentArrangement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "activity",
          "in" : "query",
          "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "recordStatus",
          "in" : "query",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getPendingConsentArrangementResponse",
            "schema" : {
              "$ref" : "#/definitions/getPendingConsentArrangementResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getArrangementsForCustomersResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getArrangementsForCustomersResponseBody"
        }
      },
      "description" : "getArrangementsForCustomersResponse"
    },
    "getArrangementsForCustomersResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangement" : {
          "type" : "array",
          "description" : "Generic information of the arrangement contract, which is common for all product lines.",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "linkedApplication" : {
                "type" : "object",
                "description" : "Denotes the T24 application linked to the Arrangement contract",
                "properties" : {
                  "accountId" : {
                    "type" : "string",
                    "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
                  }
                }
              },
              "currencyId" : {
                "type" : "string",
                "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
              },
              "depositProduct" : {
                "type" : "object",
                "description" : "The deposit account product ",
                "properties" : {
                  "productId" : {
                    "type" : "string",
                    "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
                  }
                }
              },
              "productGroupId" : {
                "type" : "string",
                "description" : "The group, as defined by the institution, that the product belongs to."
              },
              "productLineId" : {
                "type" : "string",
                "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products."
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "getArrangementResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getArrangementResponseBody"
        }
      },
      "description" : "getArrangementResponse"
    },
    "getArrangementResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangement" : {
          "type" : "array",
          "description" : "Generic information of the arrangement contract, which is common for all product lines.",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "linkedApplication" : {
                "type" : "object",
                "description" : "Denotes the T24 application linked to the Arrangement contract",
                "properties" : {
                  "accountId" : {
                    "type" : "string",
                    "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
                  }
                }
              },
              "currencyId" : {
                "type" : "string",
                "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
              },
              "depositProduct" : {
                "type" : "object",
                "description" : "The deposit account product ",
                "properties" : {
                  "productId" : {
                    "type" : "string",
                    "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
                  }
                }
              },
              "productGroupId" : {
                "type" : "string",
                "description" : "The group, as defined by the institution, that the product belongs to."
              },
              "productLineId" : {
                "type" : "string",
                "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products."
              }
            }
          }
        }
      }
    },
    "getArrangementsForCustomerResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getArrangementsForCustomerResponseBody"
        }
      },
      "description" : "getArrangementsForCustomerResponse"
    },
    "getArrangementsForCustomerResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangement" : {
          "type" : "array",
          "description" : "Generic information of the arrangement contract, which is common for all product lines.",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "linkedApplication" : {
                "type" : "object",
                "description" : "Denotes the T24 application linked to the Arrangement contract",
                "properties" : {
                  "accountId" : {
                    "type" : "string",
                    "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
                  }
                }
              },
              "currencyId" : {
                "type" : "string",
                "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
              },
              "depositProduct" : {
                "type" : "object",
                "description" : "The deposit account product ",
                "properties" : {
                  "productId" : {
                    "type" : "string",
                    "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
                  }
                }
              },
              "productGroupId" : {
                "type" : "string",
                "description" : "The group, as defined by the institution, that the product belongs to."
              },
              "productLineId" : {
                "type" : "string",
                "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products."
              }
            }
          }
        }
      }
    },
    "getArrangementsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getArrangementsResponseBody"
        }
      },
      "description" : "getArrangementsResponse"
    },
    "getArrangementsResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangement" : {
          "type" : "array",
		  "description" : "Generic information of the arrangement contract, which is common for all product lines.",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "productLineId" : {
                "type" : "string",
                "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products."
              },
              "productGroupId" : {
                "type" : "string",
                "description" : "The group, as defined by the institution, that the product belongs to."
              },
              "currencyId" : {
                "type" : "string",
                "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
              }
            }
          }
        }
      }
    },
    "getArrangementActivitiesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getArrangementActivitiesResponseBody"
        }
      },
      "description" : "getArrangementActivitiesResponse"
    },
    "getArrangementActivitiesResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "activityClass" : {
                "type" : "string",
                "description" : "The identifier of the activity class"
              },
              "currencyId" : {
                "type" : "string",
                "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
              },
              "arrangementId" : {
                "type" : "string",
                "description" : "The unique identifier of an arrangement contract."
              },
              "activity" : {
                "type" : "string",
                "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity."
              },
              "arrangementEffectiveDate" : {
                "type" : "string",
                "description" : "It is a date on/upon which an account is considered to take effect"
              },
              "arrangementLinkType" : {
                "type" : "string",
                "description" : "Capture the type of relationship between the arrangements"
              },
              "productId" : {
                "type" : "string",
                "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
              },
              "channelId" : {
                "type" : "string",
                "description" : "Id of the (digital) channel"
              },
              "transactionAmount" : {
                "type" : "string",
                "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency"
              }
            }
          }
        }
      }
    },
    "getPendingArrangementActivityResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getPendingArrangementActivityResponseBody"
        }
      },
      "description" : "getPendingArrangementActivityResponse"
    },
    "getPendingArrangementActivityResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "array",
          "description" : "Arrangement Activity application serves both as a mechanism to allow a user to initiate an Activity and as a record of each Activity that has been processed against the Arrangement.",
          "items" : {
            "type" : "object",
            "properties" : {
              "arrangementId" : {
                "type" : "string",
                "description" : "The unique identifier of an arrangement contract."
              },
              "masterArrangement" : {
                "type" : "string",
                "description" : "Indicate the Master arrangement activity which initiated the transaction"
              },
              "productId" : {
                "type" : "string",
                "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
              },
              "customerId" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "Identifier of the customer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "getPendingBundleArrangementResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getPendingBundleArrangementResponseBody"
        }
      },
      "description" : "getPendingBundleArrangementResponse"
    },
    "getPendingBundleArrangementResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "array",
          "description" : "Arrangement Activity application serves both as a mechanism to allow a user to initiate an Activity and as a record of each Activity that has been processed against the Arrangement.",
          "items" : {
            "type" : "object",
            "properties" : {
              "arrangementId" : {
                "type" : "string",
                "description" : "The unique identifier of an arrangement contract."
              },
              "masterArrangement" : {
                "type" : "string",
                "description" : "Indicate the Master arrangement activity which initiated the transaction"
              },
              "productId" : {
                "type" : "string",
                "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
              },
              "customerId" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "Identifier of the customer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "getPendingDepositArrangementResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getPendingDepositArrangementResponseBody"
        }
      },
      "description" : "getPendingDepositArrangementResponse"
    },
    "getPendingDepositArrangementResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "array",
          "description" : "Arrangement Activity application serves both as a mechanism to allow a user to initiate an Activity and as a record of each Activity that has been processed against the Arrangement.",
          "items" : {
            "type" : "object",
            "properties" : {
              "arrangementId" : {
                "type" : "string",
                "description" : "The unique identifier of an arrangement contract."
              },
              "masterArrangement" : {
                "type" : "string",
                "description" : "Indicate the Master arrangement activity which initiated the transaction"
              },
              "productId" : {
                "type" : "string",
                "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
              },
              "customerId" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "Identifier of the customer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "getPendingLoanArrangementResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getPendingLoanArrangementResponseBody"
        }
      },
      "description" : "getPendingLoanArrangementResponse"
    },
    "getPendingLoanArrangementResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "array",
          "description" : "Arrangement Activity application serves both as a mechanism to allow a user to initiate an Activity and as a record of each Activity that has been processed against the Arrangement.",
          "items" : {
            "type" : "object",
            "properties" : {
              "arrangementId" : {
                "type" : "string",
                "description" : "The unique identifier of an arrangement contract."
              },
              "masterArrangement" : {
                "type" : "string",
                "description" : "Indicate the Master arrangement activity which initiated the transaction"
              },
              "productId" : {
                "type" : "string",
                "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
              },
              "customerId" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "Identifier of the customer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "getPendingConsentArrangementResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getPendingConsentArrangementResponseBody"
        }
      },
      "description" : "getPendingConsentArrangementResponse"
    },
    "getPendingConsentArrangementResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "array",
          "description" : "Arrangement Activity application serves both as a mechanism to allow a user to initiate an Activity and as a record of each Activity that has been processed against the Arrangement.",
          "items" : {
            "type" : "object",
            "properties" : {
              "arrangementId" : {
                "type" : "string",
                "description" : "The unique identifier of an arrangement contract."
              },
              "masterArrangement" : {
                "type" : "string",
                "description" : "Indicate the Master arrangement activity which initiated the transaction"
              },
              "productId" : {
                "type" : "string",
                "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
              },
              "customerId" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "Identifier of the customer"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}