{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the BIC data informations",
    "version" : "v1.0.0",
    "title" : "List of Swift Bank Identifier Codes"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/reference/BICs" : {
      "get" : {
        "summary" : "Retrieves the BIC data informations such as BIC code, institution name, city of the branch, branch name, country name of the institution, country code of the institution, physical address where BIC code relates, name of the national code provider, national bank code of the institution",
        "operationId" : "getBankBICDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "nationalityId",
          "in" : "query",
          "description" : "The identifier of the nationality of a customer",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "List of Swift Bank Identifier CodesResponse",
            "schema" : {
              "$ref" : "#/definitions/getBankBICDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getBankBICDetailsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getBankBICDetailsResponseBody"
        }
      },
      "description" : "getBankBICDetailsResponse"
    },
    "getBankBICDetailsResponseBody" : {
      "type" : "object",
      "properties" : {
        "deBic" : {
          "type" : "array",
          "description" : "Contains BIC data updated from SWIFT",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "addressCity" : {
                "type" : "string",
                "description" : "The town and/or city component of the base address of a customer"
              },
              "countryId" : {
                "type" : "string",
                "description" : "ISO country code of the financial institution. "
              },
              "nationalityName" : {
                "type" : "string",
                "description" : "Indicates the name of the nationality of the beneficiary"
              },
              "nationalityId" : {
                "type" : "string",
                "description" : "The identifier of the nationality of a customer"
              },
              "institutionName" : {
                "type" : "object",
                "description" : "Contains the name of the institution",
                "properties" : {
                  "institutionName" : {
                    "type" : "string",
                    "description" : "Indicates the name of the institution"
                  }
                }
              },
              "branch" : {
                "type" : "object",
                "description" : "The branch information relevant to this BIC code.",
                "properties" : {
                  "branch" : {
                    "type" : "string",
                    "description" : "The branch information relevant to this BIC code."
                  }
                }
              },
              "countryName" : {
                "type" : "object",
                "description" : "This is the country name that the financial institution resides in.",
                "properties" : {
                  "countryName" : {
                    "type" : "string",
                    "description" : "This is the country name that the financial institution resides in."
                  }
                }
              },
              "addressDetail" : {
                "type" : "object",
                "description" : "Additional address information, e.g. Contact Person. Building, Floor, Apartment, Street Number, Street Name, Town, Area, Code",
                "properties" : {
                  "carrierPosition" : {
                    "type" : "string",
                    "description" : "Specifies the Version of address to which the message should be sent to"
                  }
                }
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    }
  }
}