{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the details of currency",
    "version" : "v1.0.0",
    "title" : "Currency codes"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/reference/currencies" : {
      "get" : {
        "summary" : "Retrieves the currency informations such as currency Id, currency market, currency name, market buy rate, market sell rate",
        "operationId" : "getCurrencies",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getCurrenciesResponse",
            "schema" : {
              "$ref" : "#/definitions/getCurrenciesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/currencies/{recordId}" : {
      "get" : {
        "summary" : "Retrieves the details of a specific currency",
        "operationId" : "getCurrency",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "path",
          "description" : "Unique identifier of an entity",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getCurrencyResponse",
            "schema" : {
              "$ref" : "#/definitions/getCurrencyResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getCurrenciesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getCurrenciesResponseBody"
        }
      },
      "description" : "getCurrenciesResponse"
    },
    "getCurrenciesResponseBody" : {
      "type" : "object",
      "properties" : {
        "currencyId" : {
          "type" : "array",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "market" : {
                "type" : "object",
                "description" : "The currency market for which the currency rates applies to.",
                "properties" : {
                  "market" : {
                    "type" : "string",
                    "description" : "The currency market for which the currency rates applies to."
                  },
                  "sellRate" : {
                    "type" : "string",
                    "description" : "The exchange rate at which is currency is sold."
                  },
                  "buyRate" : {
                    "type" : "string",
                    "description" : "The exchange rate at which is currency is bought."
                  }
                }
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "getCurrencyResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getCurrencyResponseBody"
        }
      },
      "description" : "getCurrencyResponse"
    },
    "getCurrencyResponseBody" : {
      "type" : "object",
      "properties" : {
        "currencyId" : {
          "type" : "array",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "market" : {
                "type" : "object",
                "description" : "The currency market for which the currency rates applies to.",
                "properties" : {
                  "market" : {
                    "type" : "string",
                    "description" : "The currency market for which the currency rates applies to."
                  },
                  "sellRate" : {
                    "type" : "string",
                    "description" : "The exchange rate at which is currency is sold."
                  },
                  "buyRate" : {
                    "type" : "string",
                    "description" : "The exchange rate at which is currency is bought."
                  }
                }
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}