{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the Treasury dealer details",
    "version" : "v1.0.0",
    "title" : "Treasury dealer desks"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "https", "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/reference/treasury/forex/agreementTypes/{recordId}" : {
      "get" : {
        "summary" : "Retrieves description of the given forex agreement type",
        "operationId" : "getForexAgreementType",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "path",
          "description" : "Unique identifier of an entity",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "displayName",
          "in" : "query",
          "description" : "Contains the name used for display or enrichment purposes",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getForexAgreementTypeResponse",
            "schema" : {
              "$ref" : "#/definitions/getForexAgreementTypeResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/treasury/forex/dealMethods/{recordId}" : {
      "get" : {
        "summary" : "Retrieves description of forex deal method",
        "operationId" : "getForexDealMethod",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "path",
          "description" : "Unique identifier of an entity",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getForexDealMethodResponse",
            "schema" : {
              "$ref" : "#/definitions/getForexDealMethodResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/treasury/forex/revaluationTypes/{recordId}" : {
      "get" : {
        "summary" : "Retrieves information of a given revaluation method",
        "operationId" : "getForexRevaluationType",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "path",
          "description" : "Unique identifier of an entity",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "displayName",
          "in" : "query",
          "description" : "Contains the name used for display or enrichment purposes",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "swapForwardposition",
          "in" : "query",
          "description" : "Indicates the profit or loss position through positive and negative signs respectively",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getForexRevaluationTypeResponse",
            "schema" : {
              "$ref" : "#/definitions/getForexRevaluationTypeResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/treasury/agreementTypes/{recordId}" : {
      "get" : {
        "summary" : "Retrieves description of the given agreement type",
        "operationId" : "getAgreementType",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "path",
          "description" : "Unique identifier of an entity",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "displayName",
          "in" : "query",
          "description" : "Contains the name used for display or enrichment purposes",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "defaultAgreement",
          "in" : "query",
          "description" : "The master agreement type to be to be defaulted  on the contract.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "defaultDate",
          "in" : "query",
          "description" : "The date to indicate the year of the version of the ISDA agreement.",
          "required" : false,
          "type" : "string",
          "format" : "date"
        } ],
        "responses" : {
          "200" : {
            "description" : "getAgreementTypeResponse",
            "schema" : {
              "$ref" : "#/definitions/getAgreementTypeResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/dealers" : {
      "get" : {
        "summary" : "Retrieves the dealer details such as dealer id, description",
        "operationId" : "getDealersList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "displayName",
          "in" : "query",
          "description" : "Contains the name used for display or enrichment purposes",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getDealersListResponse",
            "schema" : {
              "$ref" : "#/definitions/getDealersListResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/treasury/forex/agreementTypes" : {
      "get" : {
        "summary" : "Retrieves description of the given forex agreement type ",
        "operationId" : "getForexAgreementTypes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "displayName",
          "in" : "query",
          "description" : "Contains the name used for display or enrichment purposes",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getForexAgreementTypesResponse",
            "schema" : {
              "$ref" : "#/definitions/getForexAgreementTypesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/treasury/forex/dealMethods" : {
      "get" : {
        "summary" : "Retrieve description of the forex deal method ",
        "operationId" : "getForexDealMethods",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getForexDealMethodsResponse",
            "schema" : {
              "$ref" : "#/definitions/getForexDealMethodsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/treasury/forex/revaluationTypes" : {
      "get" : {
        "summary" : "Retrieves information of a given revaluation method ",
        "operationId" : "getForexRevaluationTypes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "displayName",
          "in" : "query",
          "description" : "Contains the name used for display or enrichment purposes",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "swapForwardposition",
          "in" : "query",
          "description" : "Indicates the profit or loss position through positive and negative signs respectively",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getForexRevaluationTypesResponse",
            "schema" : {
              "$ref" : "#/definitions/getForexRevaluationTypesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/treasury/agreementTypes" : {
      "get" : {
        "summary" : "Retrieves description of the given agreement type",
        "operationId" : "getAgreementTypes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "displayName",
          "in" : "query",
          "description" : "Contains the name used for display or enrichment purposes",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "defaultAgreement",
          "in" : "query",
          "description" : "The master agreement type to be to be defaulted  on the contract.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "defaultDate",
          "in" : "query",
          "description" : "The date to indicate the year of the version of the ISDA agreement.",
          "required" : false,
          "type" : "string",
          "format" : "date"
        } ],
        "responses" : {
          "200" : {
            "description" : "getAgreementTypesResponse",
            "schema" : {
              "$ref" : "#/definitions/getAgreementTypesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getForexAgreementTypeResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getForexAgreementTypeResponseBody"
        }
      },
      "description" : "getForexAgreementTypeResponse"
    },
    "getForexAgreementTypeResponseBody" : {
      "type" : "object",
      "properties" : {
        "agreementTypeId" : {
          "type" : "array",
          "description" : "Identifier of the agreement type, e.g. ISDA.",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              },
              "departmentId" : {
                "type" : "string",
                "description" : "Department identifier."
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "getForexDealMethodResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getForexDealMethodResponseBody"
        }
      },
      "description" : "getForexDealMethodResponse"
    },
    "getForexDealMethodResponseBody" : {
      "type" : "object",
      "properties" : {
        "fxDealMethod" : {
          "type" : "array",
          "description" : "Allows the user to define which are the accepted deal methods within his environment",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              }
            }
          }
        }
      }
    },
    "getForexRevaluationTypeResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getForexRevaluationTypeResponseBody"
        }
      },
      "description" : "getForexRevaluationTypeResponse"
    },
    "getForexRevaluationTypeResponseBody" : {
      "type" : "object",
      "properties" : {
        "fxRevalType" : {
          "type" : "array",
          "description" : "Holds the revaluation types available in the Foreign Exchange Application",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              },
              "swapForwardposition" : {
                "type" : "string",
                "description" : "Indicates the profit or loss position through positive and negative signs respectively"
              }
            }
          }
        }
      }
    },
    "getAgreementTypeResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getAgreementTypeResponseBody"
        }
      },
      "description" : "getAgreementTypeResponse"
    },
    "getAgreementTypeResponseBody" : {
      "type" : "object",
      "properties" : {
        "agreementType" : {
          "type" : "array",
          "description" : "Holds the types of agreements used in contracts",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              },
              "defaultAgreement" : {
                "type" : "string",
                "description" : "The master agreement type to be to be defaulted  on the contract."
              },
              "defaultDate" : {
                "type" : "string",
                "description" : "The date to indicate the year of the version of the ISDA agreement."
              }
            }
          }
        }
      }
    },
    "getDealersListResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getDealersListResponseBody"
        }
      },
      "description" : "getDealersListResponse"
    },
    "getDealersListResponseBody" : {
      "type" : "object",
      "properties" : {
        "dealerDesk" : {
          "type" : "array",
          "description" : "Specify to the system how its dealing room activity is organised",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              }
            }
          }
        }
      }
    },
    "getForexAgreementTypesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getForexAgreementTypesResponseBody"
        }
      },
      "description" : "getForexAgreementTypesResponse"
    },
    "getForexAgreementTypesResponseBody" : {
      "type" : "object",
      "properties" : {
        "agreementTypeId" : {
          "type" : "array",
          "description" : "Identifier of the agreement type, e.g. ISDA.",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              },
              "departmentId" : {
                "type" : "string",
                "description" : "Department identifier."
              }
            }
          }
        }
      }
    },
    "getForexDealMethodsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getForexDealMethodsResponseBody"
        }
      },
      "description" : "getForexDealMethodsResponse"
    },
    "getForexDealMethodsResponseBody" : {
      "type" : "object",
      "properties" : {
        "fxDealMethod" : {
          "type" : "array",
          "description" : "Allows the user to define which are the accepted deal methods within his environment",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              }
            }
          }
        }
      }
    },
    "getForexRevaluationTypesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getForexRevaluationTypesResponseBody"
        }
      },
      "description" : "getForexRevaluationTypesResponse"
    },
    "getForexRevaluationTypesResponseBody" : {
      "type" : "object",
      "properties" : {
        "fxRevalType" : {
          "type" : "array",
          "description" : "Holds the revaluation types available in the Foreign Exchange Application",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              },
              "swapForwardposition" : {
                "type" : "string",
                "description" : "Indicates the profit or loss position through positive and negative signs respectively"
              }
            }
          }
        }
      }
    },
    "getAgreementTypesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getAgreementTypesResponseBody"
        }
      },
      "description" : "getAgreementTypesResponse"
    },
    "getAgreementTypesResponseBody" : {
      "type" : "object",
      "properties" : {
        "agreementType" : {
          "type" : "array",
          "description" : "Holds the types of agreements used in contracts",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              },
              "defaultAgreement" : {
                "type" : "string",
                "description" : "The master agreement type to be to be defaulted  on the contract."
              },
              "defaultDate" : {
                "type" : "string",
                "description" : "The date to indicate the year of the version of the ISDA agreement."
              }
            }
          }
        }
      }
    }
  }
}