{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the funds transfer details",
    "version" : "v1.0.0",
    "title" : "Funds Transfer details"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/transfers/bulkTransfers/{inwardPayType}" : {
      "get" : {
        "summary" : "Retrieves the bulk transfer details",
        "operationId" : "getBulkTransfers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "inwardPayType",
          "in" : "path",
          "description" : "Identifies the incoming SWIFT payment received direct from Delivery, payments generated by standing orders, and local clearing payments.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getBulkTransfersResponse",
            "schema" : {
              "$ref" : "#/definitions/getBulkTransfersResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/transfers/{debitAccountId}/{creditAccountId}" : {
      "get" : {
        "summary" : "Retrieves the Funds Transfer details between Customer Accounts",
        "operationId" : "getAccountTransfers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "debitAccountId",
          "in" : "path",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "creditAccountId",
          "in" : "path",
          "description" : "Credit account identifier of the payment or transaction",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getAccountTransfersResponse",
            "schema" : {
              "$ref" : "#/definitions/getAccountTransfersResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/transfers/inwards/{debitAccountId}/{creditAccountId}" : {
      "get" : {
        "summary" : "Retrieves the Inward Funds Transfer details between Customer Accounts",
        "operationId" : "getInwardFundsTransfer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "debitAccountId",
          "in" : "path",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "creditAccountId",
          "in" : "path",
          "description" : "Credit account identifier of the payment or transaction",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getInwardFundsTransferResponse",
            "schema" : {
              "$ref" : "#/definitions/getInwardFundsTransferResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/transfers/outwards/{debitAccountId}/{creditAccountId}" : {
      "get" : {
        "summary" : "Retrieves the Outward Funds Transfer details between Customer Accounts",
        "operationId" : "getOutwardFundsTransfer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "debitAccountId",
          "in" : "path",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "creditAccountId",
          "in" : "path",
          "description" : "Credit account identifier of the payment or transaction",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getOutwardFundsTransferResponse",
            "schema" : {
              "$ref" : "#/definitions/getOutwardFundsTransferResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getBulkTransfersResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getBulkTransfersResponseBody"
        }
      },
      "description" : "getBulkTransfersResponse"
    },
    "getBulkTransfersResponseBody" : {
      "type" : "object",
      "properties" : {
        "fundsTransfer" : {
          "type" : "array",
		  "description" : "Handle all types of Local and Foreign Currency, Inward, Outward and Onward payments",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "transactionType" : {
                "type" : "string",
                "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc."
              },
              "inwardPayType" : {
                "type" : "string",
                "description" : "Identifies the incoming SWIFT payment received direct from Delivery, payments generated by standing orders, and local clearing payments."
              },
              "debitAccountId" : {
                "type" : "string",
                "description" : "Indicates the debit account number of the payment or transaction."
              },
              "debitCurrency" : {
                "type" : "string",
                "description" : "Currency of the debit account. For example: USD, EUR etc."
              },
              "debitAmount" : {
                "type" : "string",
                "description" : "Amount to be debited in a payment transaction"
              },
              "creditAccountId" : {
                "type" : "string",
                "description" : "Credit account identifier of the payment or transaction"
              },
              "creditCurrencyId" : {
                "type" : "string",
                "description" : "Specifies the credit currency. For example: USD, EUR etc."
              },
              "creditAmount" : {
                "type" : "string",
                "description" : "Amount to be credited in a payment transaction"
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "getAccountTransfersResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getAccountTransfersResponseBody"
        }
      },
      "description" : "getAccountTransfersResponse"
    },
    "getAccountTransfersResponseBody" : {
      "type" : "object",
      "properties" : {
        "fundsTransfer" : {
          "type" : "array",
          "description" : "Handle all types of Local and Foreign Currency, Inward, Outward and Onward payments",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "transactionType" : {
                "type" : "string",
                "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc."
              },
              "debitAccountId" : {
                "type" : "string",
                "description" : "Indicates the debit account number of the payment or transaction."
              },
              "debitCurrency" : {
                "type" : "string",
                "description" : "Currency of the debit account. For example: USD, EUR etc."
              },
              "debitAmount" : {
                "type" : "string",
                "description" : "Amount to be debited in a payment transaction"
              },
              "debitValueDate" : {
                "type" : "string",
                "description" : "Indicates the value date for the debit side of the payment"
              },
              "creditAccountId" : {
                "type" : "string",
                "description" : "Credit account identifier of the payment or transaction"
              },
              "creditCurrencyId" : {
                "type" : "string",
                "description" : "Specifies the credit currency. For example: USD, EUR etc."
              },
              "creditAmount" : {
                "type" : "string",
                "description" : "Amount to be credited in a payment transaction"
              },
              "requiredCreditValueDate" : {
                "type" : "string",
                "description" : "The credit value date i.e. tentative date on which the payment system will process the payment"
              },
              "commissionCode" : {
                "type" : "string",
                "description" : "These field control the allocation of Periodic commission where the field COMM.CODE is the trigger for periodic commission and the field CSN.CODE is a system maintained field and hold the commission amount relating to the period band"
              },
              "commissionType" : {
                "type" : "object",
                "description" : "Indicates the commission type",
                "properties" : {
                  "commissionType" : {
                    "type" : "string",
                    "description" : "Indicates the commission type"
                  },
                  "commissionAmount" : {
                    "type" : "string",
                    "description" : "Amount of commission charged for the payment created with respect to the commission type used."
                  }
                }
              }
            }
          }
        }
      }
    },
    "getInwardFundsTransferResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getInwardFundsTransferResponseBody"
        }
      },
      "description" : "getInwardFundsTransferResponse"
    },
    "getInwardFundsTransferResponseBody" : {
      "type" : "object",
      "properties" : {
        "fundsTransfer" : {
          "type" : "array",
          "description" : "Handle all types of Local and Foreign Currency, Inward, Outward and Onward payments",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "transactionType" : {
                "type" : "string",
                "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc."
              },
              "debitAccountId" : {
                "type" : "string",
                "description" : "Indicates the debit account number of the payment or transaction."
              },
              "debitAmount" : {
                "type" : "string",
                "description" : "Amount to be debited in a payment transaction"
              },
              "debitCurrency" : {
                "type" : "string",
                "description" : "Currency of the debit account. For example: USD, EUR etc."
              },
              "debitValueDate" : {
                "type" : "string",
                "description" : "Indicates the value date for the debit side of the payment"
              },
              "creditAccountId" : {
                "type" : "string",
                "description" : "Credit account identifier of the payment or transaction"
              },
              "creditAmount" : {
                "type" : "string",
                "description" : "Amount to be credited in a payment transaction"
              },
              "creditCurrencyId" : {
                "type" : "string",
                "description" : "Specifies the credit currency. For example: USD, EUR etc."
              },
              "requiredCreditValueDate" : {
                "type" : "string",
                "description" : "The credit value date i.e. tentative date on which the payment system will process the payment"
              },
              "orderingCustomerId" : {
                "type" : "object",
                "description" : "Indicates the customer id for the ordering customer",
                "properties" : {
                  "orderingCustomerId" : {
                    "type" : "string",
                    "description" : "Indicates the customer id for the ordering customer"
                  }
                }
              },
              "orderingBank" : {
                "type" : "object",
                "description" : "Bank which intiates the transaction",
                "properties" : {
                  "orderingBank" : {
                    "type" : "string",
                    "description" : "Bank which intiates the transaction"
                  }
                }
              }
            }
          }
        }
      }
    },
    "getOutwardFundsTransferResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getOutwardFundsTransferResponseBody"
        }
      },
      "description" : "getOutwardFundsTransferResponse"
    },
    "getOutwardFundsTransferResponseBody" : {
      "type" : "object",
      "properties" : {
        "fundsTransfer" : {
          "type" : "array",
          "description" : "Handle all types of Local and Foreign Currency, Inward, Outward and Onward payments",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "transactionType" : {
                "type" : "string",
                "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc."
              },
              "debitAccountId" : {
                "type" : "string",
                "description" : "Indicates the debit account number of the payment or transaction."
              },
              "debitAmount" : {
                "type" : "string",
                "description" : "Amount to be debited in a payment transaction"
              },
              "debitCurrency" : {
                "type" : "string",
                "description" : "Currency of the debit account. For example: USD, EUR etc."
              },
              "debitValueDate" : {
                "type" : "string",
                "description" : "Indicates the value date for the debit side of the payment"
              },
              "creditAccountId" : {
                "type" : "string",
                "description" : "Credit account identifier of the payment or transaction"
              },
              "creditAmount" : {
                "type" : "string",
                "description" : "Amount to be credited in a payment transaction"
              },
              "creditCurrencyId" : {
                "type" : "string",
                "description" : "Specifies the credit currency. For example: USD, EUR etc."
              },
              "requiredCreditValueDate" : {
                "type" : "string",
                "description" : "The credit value date i.e. tentative date on which the payment system will process the payment"
              },
              "beneficiaryName" : {
                "type" : "object",
                "description" : "Short title or short name of the beneficiary",
                "properties" : {
                  "beneficiaryName" : {
                    "type" : "string",
                    "description" : "Short title or short name of the beneficiary"
                  }
                }
              },
              "beneficiaryBank" : {
                "type" : "object",
                "description" : "Bank for the beneficiary",
                "properties" : {
                  "beneficiaryBank" : {
                    "type" : "string",
                    "description" : "Bank for the beneficiary"
                  }
                }
              },
              "beneficiaryCustomerId" : {
                "type" : "object",
                "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank.",
                "properties" : {
                  "beneficiaryCustomerId" : {
                    "type" : "string",
                    "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank."
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}