{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the available hold types in the system ",
    "version" : "v1.0.0",
    "title" : "US model bank  hold types"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "https", "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/reference/us/holdtypes" : {
      "get" : {
        "summary" : "Retrieves the available hold types in the system ",
        "operationId" : "getHoldTypes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getHoldTypesResponse",
            "schema" : {
              "$ref" : "#/definitions/getHoldTypesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getHoldTypesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getHoldTypesResponseBody"
        }
      },
      "description" : "getHoldTypesResponse"
    },
    "getHoldTypesResponseBody" : {
      "type" : "object",
      "properties" : {
        "uscoreHoldParam" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "expirationPeriod" : {
                "type" : "string",
                "description" : "Number of days after which expiry date should be set in relation to the transaction date. Accept value is ND, where N is number of days."
              },
              "maturityDateConvention" : {
                "type" : "string",
                "description" : "Specifies the date convention for the maturity date calculation. When DATE.CONVENTION is specified, holiday calendar will be checked against date convention specified for the account. Otherwise the business calendar will be used for checking holidays."
              },
              "placeFullHold" : {
                "type" : "string",
                "description" : "Indicates if a full hold has to be placed on the account. When set to Y  any future credits made to be account will be locked automatically"
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    }
  }
}