{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the interest details for specific interest catalog",
    "version" : "v1.0.0",
    "title" : "Product Interest catalog"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "https", "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/product/interestCatalog/{recordId}" : {
      "get" : {
        "summary" : "Retrieves the interest details for specific interest catalog",
        "operationId" : "getInterestCatalog",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "path",
          "description" : "Unique identifier of an entity",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Product Interest catalogResponse",
            "schema" : {
              "$ref" : "#/definitions/getInterestCatalogResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getInterestCatalogResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getInterestCatalogResponseBody"
        }
      },
      "description" : "getInterestCatalogResponse"
    },
    "getInterestCatalogResponseBody" : {
      "type" : "object",
      "properties" : {
        "interestProperties" : {
          "type" : "array",
          "description" : "INTEREST Property Class holds all interest definition and processing in AA.A T24 product defined and processed in AA can have multiple interest properties defined (e.g. principal interest, penalty interest, commission, etc.).",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "fixedRate" : {
                "type" : "object",
                "description" : "Numeric value for the interest rate entered manually.",
                "properties" : {
                  "periodicIndex" : {
                    "type" : "string",
                    "description" : "Denotes an index which points to the right period of the securities or holdings."
                  }
                }
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    }
  }
}