{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the IBAN related data's",
    "version" : "v1.0.0",
    "title" : "IBAN details"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/reference/IBANs/{recordId}" : {
      "get" : {
        "summary" : "Retrieves the IBAN related data's such as Institution name of the IBAN issuer, Residence country name",
        "operationId" : "getIBANBankDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "path",
          "description" : "Unique identifier of an entity",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "IBAN detailsResponse",
            "schema" : {
              "$ref" : "#/definitions/getIBANBankDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getIBANBankDetailsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getIBANBankDetailsResponseBody"
        }
      },
      "description" : "getIBANBankDetailsResponse"
    },
    "getIBANBankDetailsResponseBody" : {
      "type" : "object",
      "properties" : {
        "ibanPlus" : {
          "type" : "array",
          "description" : "Contains IBAN-related data for financial institutions to generate or validate the IBAN number",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "institutionName" : {
                "type" : "object",
                "description" : "Contains the name of the institution",
                "properties" : {
                  "institutionName" : {
                    "type" : "string",
                    "description" : "Indicates the name of the institution"
                  }
                }
              },
              "countryName" : {
                "type" : "string",
                "description" : "This is the country name that the financial institution resides in."
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    }
  }
}