{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the lookup table details",
    "version" : "v1.0.0",
    "title" : "Lookup tables"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/reference/lookups" : {
      "get" : {
        "summary" : "Retrieves the lookup table details",
        "operationId" : "getEbLookups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "virtualTable",
          "in" : "query",
          "description" : "Holds the table name value which will be derived from EB.LOOKUP table ID",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "otherInfo",
          "in" : "query",
          "description" : "Specifies the other information about the lookup",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Lookup tablesResponse",
            "schema" : {
              "$ref" : "#/definitions/getLookUpTableDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getLookUpTableDetailsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getLookUpTableDetailsResponseBody"
        }
      },
      "description" : "getLookUpTableDetailsResponse"
    },
    "getLookUpTableDetailsResponseBody" : {
      "type" : "object",
      "properties" : {
        "lookup" : {
          "type" : "array",
          "description" : "Holds all the lookups for data access service. Rather than creating separate tables for each fields, the user can define EB.LOOKUP definitions and use them as drop-down lists in applications",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              },
              "lookupId" : {
                "type" : "string",
                "description" : "The identifier of the lookup.  The second part of the ID (after the asterisk *) will be automatically populated in this non-input field.  Used to specify lookup requests on virtual tables. See lookups"
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    }
  }
}