{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the Payment Stop information of all accounts ",
    "version" : "v1.0.0",
    "title" : "Payment stops"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/paymentStops" : {
      "get" : {
        "summary" : "Retrieves the Payment Stop information of all accounts ",
        "operationId" : "getPaymentStops",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "stopTypeId",
          "in" : "query",
          "description" : "Indicates the reason why a Payment Stop is requested for e.g. Cheque lost, funds not available etc. ",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getPaymentStopsResponse",
            "schema" : {
              "$ref" : "#/definitions/getPaymentStopsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getPaymentStopsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getPaymentStopsResponseBody"
        }
      },
      "description" : "getPaymentStopsResponse"
    },
    "getPaymentStopsResponseBody" : {
      "type" : "object",
      "properties" : {
        "paymentStop" : {
          "type" : "array",
          "description" : "Table allows all Payment Stop instructions to be recorded.",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer"
              },
              "currencyId" : {
                "type" : "string",
                "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
              },
              "stopTypeId" : {
                "type" : "object",
                "description" : "Indicates the reason why a Payment Stop is requested for e.g. Cheque lost, funds not available etc. ",
                "properties" : {
                  "amountTo" : {
                    "type" : "string",
                    "description" : "Specifies the Amount up To which the Payment Stop instruction is effective."
                  },
                  "firstChequeId" : {
                    "type" : "string",
                    "description" : "It is possible to stop a range of cheques in one instruction. This indicates the first cheque number in the range for which payment stop instruction is effective"
                  },
                  "stopTypeId" : {
                    "type" : "string",
                    "description" : "Indicates the reason why a Payment Stop is requested for e.g. Cheque lost, funds not available etc. "
                  },
                  "amountFrom" : {
                    "type" : "string",
                    "description" : "Specifies the Amount From which the Payment Stop instruction is effective."
                  },
                  "lastChequeId" : {
                    "type" : "string",
                    "description" : "It is possible to stop a range of cheques in one instruction. This indicates the last cheque number in the range for which payment stop instruction is effective"
                  },
                  "chargeAmount" : {
                    "type" : "string",
                    "description" : "Charge amount equivalent in currency of the charge account"
                  },
                  "chequeTypeId" : {
                    "type" : "string",
                    "description" : "Indicates the type of Cheques for which payment stop instruction is effective"
                  },
                  "stopDate" : {
                    "type" : "string",
                    "description" : "Indicates the date on which the Payment Stop is placed"
                  },
                  "beneficiaryId" : {
                    "type" : "string",
                    "description" : "Indicates the Id of beneficiary when beneficiary details are stored"
                  },
                  "chargeCode" : {
                    "type" : "object",
                    "description" : "Indicates the charge code to which the charges are identified and calculated and to be debited to the customer account. For example: C(Credit less Charges The Credit less Charges), D(Debit plus Charge The Debit plus Charge) , W(Waive).",
                    "properties" : {
                      "chargeAmount" : {
                        "type" : "string",
                        "description" : "Charge amount equivalent in currency of the charge account"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    }
  }
}