{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the payment details",
    "version" : "v1.0.0",
    "title" : "Payments"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/paymentOrders/purposes" : {
      "get" : {
        "summary" : "Retrieves the payment purpose code details such as short description, classification and definition",
        "operationId" : "getPaymentOrderPurposeCodes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getPaymentOrderPurposeCodesResponse",
            "schema" : {
              "$ref" : "#/definitions/getPaymentOrderPurposeCodesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/products" : {
      "get" : {
        "summary" : "Retrieves the payment features defined for each product",
        "operationId" : "getPaymentOrderProductDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentProductGroupId",
          "in" : "query",
          "description" : "Payment method group details of the payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getPaymentOrderProductDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/getPaymentOrderProductDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/countryRules" : {
      "get" : {
        "summary" : "Retrieves the country specific rule details such as IBAN, BIC, Bank Sort code to be allowed or not allowed, Clearing code format for each clearing channel, list of payment currencies accepted",
        "operationId" : "getPaymentOrderCountryRules",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getPaymentOrderCountryRulesResponse",
            "schema" : {
              "$ref" : "#/definitions/getPaymentOrderCountryRulesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/pendingOrders" : {
      "get" : {
        "summary" : "Retrieves the overall transaction information",
        "operationId" : "getPendingPayments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "company",
          "in" : "query",
          "description" : "The company code",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "date",
          "in" : "query",
          "description" : "Indicates the date on which activity was performed",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "transactionReference",
          "in" : "query",
          "description" : "Contains the identifier for the transaction in the core system",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "Indicates the direction of the Direct debit claim for which mandate is received. The claim can be 'Outward' i.e. Claim is sent to the other bank or 'Inward'  i.e. other bank submit their claim to debit our customer's account. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "Contains all details of each individual currency, for example, currency name, number of decimal places together with other information such as the buy and sell rates",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "amount",
          "in" : "query",
          "description" : "This is the payment amount",
          "required" : false,
          "type" : "number"
        }, {
          "name" : "debitClientID",
          "in" : "query",
          "description" : "Indicates the debit customer client Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditClientID",
          "in" : "query",
          "description" : "Indicates the credit customer client Id",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitMainAccountCurrencyCode",
          "in" : "query",
          "description" : "ISO Currency for Debit Main Account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitAccountId",
          "in" : "query",
          "description" : "Indicates the debit account number of the payment or transaction.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "creditAccountId",
          "in" : "query",
          "description" : "Credit account identifier of the payment or transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getPendingPaymentsResponse",
            "schema" : {
              "$ref" : "#/definitions/getPendingPaymentsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/payments/fees" : {
      "get" : {
        "summary" : "Retrieves the charge details applied for transactions",
        "operationId" : "getPaymentFeesAndCharges",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getPaymentFeesAndChargesResponse",
            "schema" : {
              "$ref" : "#/definitions/getPaymentFeesAndChargesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/bulkPayments/uploads/fileTypes" : {
      "get" : {
        "summary" : "Retrieves the file uploading details which includes extension of the file, directory and maximum file size details",
        "operationId" : "getUploadFileTypes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getUploadFileTypesResponse",
            "schema" : {
              "$ref" : "#/definitions/getUploadFileTypesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getPaymentOrderPurposeCodesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getPaymentOrderPurposeCodesResponseBody"
        }
      },
      "description" : "getPaymentOrderPurposeCodesResponse"
    },
    "getPaymentOrderPurposeCodesResponseBody" : {
      "type" : "object",
      "properties" : {
        "paymentPurposeCode" : {
          "type" : "array",
          "description" : "Holds information related to the SEPA payment purpose codes",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "definition" : {
                "type" : "string",
                "description" : "This indicates a full description of payment purpose code. i.e. purpose of the instruction based on a set of pre-defined categories."
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  },
                  "classification" : {
                    "type" : "string",
                    "description" : "This indicates a high-level classification of payment purpose code. i.e. purpose of the instruction based on a set of pre-defined categories."
                  }
                }
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "getPaymentOrderProductDetailsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getPaymentOrderProductDetailsResponseBody"
        }
      },
      "description" : "getPaymentOrderProductDetailsResponse"
    },
    "getPaymentOrderProductDetailsResponseBody" : {
      "type" : "object",
      "properties" : {
        "paymentOrderProduct" : {
          "type" : "array",
          "description" : "Payment Features that are specific to a product",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "rank" : {
                "type" : "string",
                "description" : "Indicates the rank of the payment order product within the group. "
              },
              "payThroughBeneficiary" : {
                "type" : "string",
                "description" : "Defines whether payment initiation can be done by providing beneficiary details. This is applicable when beneficiary is not within the same bank"
              },
              "futureDate" : {
                "type" : "string",
                "description" : "Indicates if a future dated instruction can be inputted for the specific payment order product"
              },
              "requiredCreditValue" : {
                "type" : "string",
                "description" : "Indicates if required credit value date can be inputted for the specific payment order product while initiating a payment"
              },
              "IBANSupport" : {
                "type" : "string",
                "description" : "Check for payment support for IBAN or not"
              },
              "BICSupport" : {
                "type" : "string",
                "description" : "Check for payment support for BIC or not"
              },
              "sortCodeSupport" : {
                "type" : "string",
                "description" : "Check for payment support for sortCode or not"
              },
              "narrative" : {
                "type" : "string",
                "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference"
              },
              "weblink" : {
                "type" : "string",
                "description" : "The web link for additional information"
              },
              "forexSupport" : {
                "type" : "string",
                "description" : "Check for payment support for forex or not"
              },
              "defaultChargeOption" : {
                "type" : "string",
                "description" : "Indicates the charge option which will be defaulted at the time of payment initiation for specific payment order product i.e. Recipient To Pay All Charges, Pay My Bank's Charges or Pay My Bank Charges Only."
              },
              "checkTransparency" : {
                "type" : "string",
                "description" : "Used to set if simulation is required or not"
              },
              "awaitExternalSubmit" : {
                "type" : "string",
                "description" : "External payment request for approval details"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              },
              "paymentProductGroupId" : {
                "type" : "object",
                "description" : "Payment method group details of the payment",
                "properties" : {
                  "paymentProductGroupId" : {
                    "type" : "string",
                    "description" : "Payment method group details of the payment"
                  }
                }
              },
              "paymentCurrencyId" : {
                "type" : "object",
                "description" : "The currency of payment.",
                "properties" : {
                  "paymentCurrencyId" : {
                    "type" : "string",
                    "description" : "The currency of payment."
                  }
                }
              },
              "orderingCurrencyId" : {
                "type" : "object",
                "description" : "Debit Account currency specific details",
                "properties" : {
                  "orderingCurrencyId" : {
                    "type" : "string",
                    "description" : "Debit Account currency specific details"
                  }
                }
              },
              "countryId" : {
                "type" : "object",
                "description" : "ISO country code of the financial institution. ",
                "properties" : {
                  "countryId" : {
                    "type" : "string",
                    "description" : "ISO country code of the financial institution. "
                  }
                }
              },
              "clearingChannelId" : {
                "type" : "object",
                "description" : "Indicates the clearing channel details to be used",
                "properties" : {
                  "clearingChannelId" : {
                    "type" : "string",
                    "description" : "Indicates the clearing channel details to be used"
                  }
                }
              },
              "additionalInformation" : {
                "type" : "object",
                "description" : "Additional Information provided to add context",
                "properties" : {
                  "additionalInformation" : {
                    "type" : "string",
                    "description" : "Additional Information provided to add context"
                  }
                }
              }
            }
          }
        }
      }
    },
    "getPaymentOrderCountryRulesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getPaymentOrderCountryRulesResponseBody"
        }
      },
      "description" : "getPaymentOrderCountryRulesResponse"
    },
    "getPaymentOrderCountryRulesResponseBody" : {
      "type" : "object",
      "properties" : {
        "paymentOrderCountryRules" : {
          "type" : "array",
          "description" : "Holds Country specific validations details",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              },
              "IBANSupport" : {
                "type" : "string",
                "description" : "Check for payment support for IBAN or not"
              },
              "BICSupport" : {
                "type" : "string",
                "description" : "Check for payment support for BIC or not"
              },
              "sortCodeSupport" : {
                "type" : "string",
                "description" : "Check for payment support for sortCode or not"
              },
              "clearingChannelId" : {
                "type" : "object",
                "description" : "Indicates the clearing channel details to be used",
                "properties" : {
                  "clearingChannelId" : {
                    "type" : "string",
                    "description" : "Indicates the clearing channel details to be used"
                  }
                }
              },
              "paymentCurrency" : {
                "type" : "object",
                "description" : "This field holds the transaction currency or currency in which payment is initiated. ",
                "properties" : {
                  "paymentCurrency" : {
                    "type" : "string",
                    "description" : "This field holds the transaction currency or currency in which payment is initiated. "
                  }
                }
              }
            }
          }
        }
      }
    },
    "getPendingPaymentsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getPendingPaymentsResponseBody"
        }
      },
      "description" : "getPendingPaymentsResponse"
    },
    "getPendingPaymentsResponseBody" : {
      "type" : "object",
      "properties" : {
        "porTransaction" : {
          "type" : "array",
		  "description" : "Information of the overall transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "company" : {
                "type" : "string",
                "description" : "The company code"
              },
              "debitMainAccountCurrencyCode" : {
                "type" : "string",
                "description" : "ISO Currency for Debit Main Account"
              },
              "creditMainAccountCurrencyCode" : {
                "type" : "string",
                "description" : "ISO Currency for Credit Main Account"
              },
              "ctrBtrIndicator" : {
                "type" : "string",
                "description" : "Indicates Customer transfer (CTR) or Bank transfer (BTR)"
              },
              "date" : {
                "type" : "string",
                "description" : "Date in the format YYYYMMDD. E.g. 20191231"
              },
              "customerSpecifiedReference" : {
                "type" : "string",
                "description" : "Indicates the customer sepecified reference"
              },
              "transactionReferenceIncoming" : {
                "type" : "string",
                "description" : "Indicates the transaction related reference"
              },
              "transactionReference" : {
                "type" : "string",
                "description" : "Contains the identifier for the transaction in the core system"
              },
              "sendersReference" : {
                "type" : "string",
                "description" : "Indicates the incoming sender's reference i.e. tag 20 of incoming SWIFT or in case when transaction is received from other system/ application, this can also indicate the reference number of that system/ application"
              },
              "displayName" : {
                "type" : "string",
                "description" : "Contains the name used for display or enrichment purposes"
              },
              "receivedAt" : {
                "type" : "string",
                "description" : "Indicates the date and time when the record was created in DD MON YYYY HH:MM:SS.MMM format"
              },
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "currency" : {
                "type" : "string",
                "description" : "Identifies the currency. E.g. USD, GBP etc"
              },
              "amount" : {
                "type" : "string",
                "description" : "This is the payment amount"
              },
              "direction" : {
                "type" : "string",
                "description" : "Indicates the direction of the Direct debit claim for which mandate is received. The claim can be 'Outward' i.e. Claim is sent to the other bank or 'Inward'  i.e. other bank submit their claim to debit our customer's account. "
              },
              "debitAccountId" : {
                "type" : "string",
                "description" : "Indicates the debit account number of the payment or transaction."
              },
              "creditAccountId" : {
                "type" : "string",
                "description" : "Credit account identifier of the payment or transaction"
              },
              "creditMainAccountCompanyID" : {
                "type" : "string",
                "description" : "Indicates the credit main account company ID"
              },
              "debitMainAccountCompanyID" : {
                "type" : "string",
                "description" : "Indicates the debit main account company ID"
              }
            }
          }
        }
      }
    },
    "getPaymentFeesAndChargesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getPaymentFeesAndChargesResponseBody"
        }
      },
      "description" : "getPaymentFeesAndChargesResponse"
    },
    "getPaymentFeesAndChargesResponseBody" : {
      "type" : "object",
      "properties" : {
        "postingAndConfirmation" : {
          "type" : "array",
          "description" : "Holds the charges applied for a transaction",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeBearer" : {
                "type" : "object",
                "properties" : {
                  "chargeBearer" : {
                    "type" : "string",
                    "description" : "Bearer of the charges of the order. For example: BEN(All transaction charges are to be borne by the beneficiary customer.), OUR(All transaction charges are to be borne by the ordering customer.), SHA(Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)"
                  },
                  "feeDescription" : {
                    "type" : "string",
                    "description" : "Describes the Fee type"
                  },
                  "typeOfCharge" : {
                    "type" : "string",
                    "description" : "Indicates the type of fee calculated"
                  },
                  "feeCurrency" : {
                    "type" : "string",
                    "description" : "Indicates the currency code in which the fee will be charged"
                  },
                  "chargeAmount" : {
                    "type" : "string",
                    "description" : "Indicates the charge amount equivalent in charge account currency"
                  },
                  "chargeAmountFeeCcy" : {
                    "type" : "string",
                    "description" : "Indicates the charge amount equivalent in fee currency"
                  },
                  "feeType" : {
                    "type" : "string",
                    "description" : "Indicates the Fee type applied from the PPT.FEETYPE table"
                  },
                  "chargeAmountCcy" : {
                    "type" : "string",
                    "description" : "Indicates the currency code of the charge account from where the fee is deducted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "getUploadFileTypesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getUploadFileTypesResponseBody"
        }
      },
      "description" : "getUploadFileTypesResponse"
    },
    "getUploadFileTypesResponseBody" : {
      "type" : "object",
      "properties" : {
        "fileUploadType" : {
          "type" : "array",
		  "description" : "Application allows parameters for a type of upload to be defined. These include the upload directory, optional maximum file size limit, and optional extension",
          "items" : {
            "type" : "object",
            "properties" : {
              "uploadDirectory" : {
                "type" : "string",
                "description" : "specifies in which directory files will be uploaded to"
              },
              "fileExtension" : {
                "type" : "string",
                "description" : "Specifies the upload file extension type. For example CSV, XML or PDF etc."
              },
              "fileMaximumSize" : {
                "type" : "string",
                "description" : "Specifies a maximum size (in bytes) to be uploaded"
              }
            }
          }
        }
      }
    }
  }
}