{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the details of rejected collections",
    "version" : "v1.0.0",
    "title" : "Order Rejected Collections"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/rejectedCollections" : {
      "get" : {
        "summary" : "Retrieves the details of rejected collections",
        "operationId" : "getRejectedCollections",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "claimStatus",
          "in" : "query",
          "description" : "Status update of the claim records",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "accountId",
          "in" : "query",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getRejectedCollectionsResponse",
            "schema" : {
              "$ref" : "#/definitions/getRejectedCollectionsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getRejectedCollectionsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getRejectedCollectionsResponseBody"
        }
      },
      "description" : "getRejectedCollectionsResponse"
    },
    "getRejectedCollectionsResponseBody" : {
      "type" : "object",
      "properties" : {
        "ddItem" : {
          "type" : "array",
          "description" : "Contains the details related to the Claim",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "direction" : {
                "type" : "string",
                "description" : "Indicates the direction of the Direct debit claim for which mandate is received. The claim can be 'Outward' i.e. Claim is sent to the other bank or 'Inward'  i.e. other bank submit their claim to debit our customer's account. "
              },
              "accountId" : {
                "type" : "string",
                "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
              },
              "currencyId" : {
                "type" : "string",
                "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
              },
              "termAmount" : {
                "type" : "string",
                "description" : "The monetary amount applied to the account"
              },
              "valueDate" : {
                "type" : "string",
                "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
              },
              "resubmittedClaimId" : {
                "type" : "object",
                "description" : "Rejected collection updated details",
                "properties" : {
                  "resubmittedClaimId" : {
                    "type" : "string",
                    "description" : "Rejected collection updated details"
                  }
                }
              },
              "claimStatus" : {
                "type" : "string",
                "description" : "Status update of the claim records"
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    }
  }
}