{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the Repurchase Agreement Positions and Movements",
    "version" : "v1.0.0",
    "title" : "Repurchase agreements"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "https", "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/instruments/repurchaseAgreements/positionMovements" : {
      "get" : {
        "summary" : "Retrieves the repurchase agreement position movements ",
        "operationId" : "getREPOPositionMovements",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "portfolioId",
          "in" : "query",
          "description" : "Id of the portfolio or security account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "instrumentId",
          "in" : "query",
          "description" : "The identifier of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "depositoryId",
          "in" : "query",
          "description" : "Id of the securities depository.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getREPOPositionMovementsResponse",
            "schema" : {
              "$ref" : "#/definitions/getREPOPositionMovementsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/instruments/reverseRepurchaseAgreements/positionMovements" : {
      "get" : {
        "summary" : "Retrieves the reverse repurchase agreement positions  and movements",
        "operationId" : "getRESOPositionMovements",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "portfolioId",
          "in" : "query",
          "description" : "Id of the portfolio or security account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "instrumentId",
          "in" : "query",
          "description" : "The identifier of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "depositoryId",
          "in" : "query",
          "description" : "Id of the securities depository.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getRESOPositionMovementsResponse",
            "schema" : {
              "$ref" : "#/definitions/getRESOPositionMovementsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/instruments/reverseRepurchaseAgreements/positions" : {
      "get" : {
        "summary" : "Retrieves the  reverse repurchase agreement positions",
        "operationId" : "getRESOPosition",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "portfolioId",
          "in" : "query",
          "description" : "Id of the portfolio or security account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "instrumentId",
          "in" : "query",
          "description" : "The identifier of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "depositoryId",
          "in" : "query",
          "description" : "Id of the securities depository.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "quantity",
          "in" : "query",
          "description" : "The nominal quantity",
          "required" : false,
          "type" : "number"
        } ],
        "responses" : {
          "200" : {
            "description" : "getRESOPositionResponse",
            "schema" : {
              "$ref" : "#/definitions/getRESOPositionResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/instruments/repurchaseAgreements/positions" : {
      "get" : {
        "summary" : "Retrieves the repurchase agreement positions",
        "operationId" : "getREPOPosition",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "portfolioId",
          "in" : "query",
          "description" : "Id of the portfolio or security account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "depositoryId",
          "in" : "query",
          "description" : "Id of the securities depository.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "instrumentId",
          "in" : "query",
          "description" : "The identifier of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "quantity",
          "in" : "query",
          "description" : "The nominal quantity",
          "required" : false,
          "type" : "number"
        } ],
        "responses" : {
          "200" : {
            "description" : "getREPOPositionResponse",
            "schema" : {
              "$ref" : "#/definitions/getREPOPositionResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getREPOPositionMovementsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getREPOPositionMovementsResponseBody"
        }
      },
      "description" : "getREPOPositionMovementsResponse"
    },
    "getREPOPositionMovementsResponseBody" : {
      "type" : "object",
      "properties" : {
        "repoPosition" : {
          "type" : "array",
          "description" : "Holds all security positions which have been repo'd out of the Bank's own book(s)",
          "items" : {
            "type" : "object",
            "properties" : {
              "portfolioId" : {
                "type" : "string",
                "description" : "Id of the portfolio or security account"
              },
              "costPrice" : {
                "type" : "object",
                "properties" : {
                  "counterpartyId" : {
                    "type" : "string",
                    "description" : "The identifier of the counter party"
                  },
                  "quantity" : {
                    "type" : "string",
                    "description" : "The nominal quantity"
                  },
                  "contractId" : {
                    "type" : "string",
                    "description" : "Identifies the unique identifier of the transaction or contract."
                  }
                }
              }
            }
          }
        },
        "repo" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "currencyId" : {
                "type" : "string",
                "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
              },
              "tradeDate" : {
                "type" : "string",
                "description" : "Standard date field which records trade date of the account"
              },
              "maturityDate" : {
                "type" : "string",
                "description" : "Indicates maturity date of the contract"
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "getRESOPositionMovementsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getRESOPositionMovementsResponseBody"
        }
      },
      "description" : "getRESOPositionMovementsResponse"
    },
    "getRESOPositionMovementsResponseBody" : {
      "type" : "object",
      "properties" : {
        "resoPosition" : {
          "type" : "array",
          "description" : "Shows the Bank's overall reverse repo positions. It holds all security positions which have been received by the Bank under its reverse repo transactions",
          "items" : {
            "type" : "object",
            "properties" : {
              "portfolioId" : {
                "type" : "string",
                "description" : "Id of the portfolio or security account"
              },
              "costPrice" : {
                "type" : "object",
                "properties" : {
                  "counterpartyId" : {
                    "type" : "string",
                    "description" : "The identifier of the counter party"
                  },
                  "quantity" : {
                    "type" : "string",
                    "description" : "The nominal quantity"
                  },
                  "contractId" : {
                    "type" : "string",
                    "description" : "Identifies the unique identifier of the transaction or contract."
                  }
                }
              }
            }
          }
        },
        "repo" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "currencyId" : {
                "type" : "string",
                "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
              },
              "tradeDate" : {
                "type" : "string",
                "description" : "Standard date field which records trade date of the account"
              },
              "maturityDate" : {
                "type" : "string",
                "description" : "Indicates maturity date of the contract"
              }
            }
          }
        }
      }
    },
    "getRESOPositionResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getRESOPositionResponseBody"
        }
      },
      "description" : "getRESOPositionResponse"
    },
    "getRESOPositionResponseBody" : {
      "type" : "object",
      "properties" : {
        "resoPosition" : {
          "type" : "array",
          "description" : "Shows the Bank's overall reverse repo positions. It holds all security positions which have been received by the Bank under its reverse repo transactions",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "portfolioId" : {
                "type" : "string",
                "description" : "Id of the portfolio or security account"
              },
              "depositoryId" : {
                "type" : "string",
                "description" : "Id of the securities depository."
              },
              "instrumentId" : {
                "type" : "string",
                "description" : "The identifier of the instrument"
              },
              "quantity" : {
                "type" : "string",
                "description" : "The nominal quantity"
              },
              "costPrice" : {
                "type" : "object",
                "description" : "Cost price of the Instrument",
                "properties" : {
                  "contractId" : {
                    "type" : "string",
                    "description" : "Identifies the unique identifier of the transaction or contract."
                  }
                }
              }
            }
          }
        }
      }
    },
    "getREPOPositionResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getREPOPositionResponseBody"
        }
      },
      "description" : "getREPOPositionResponse"
    },
    "getREPOPositionResponseBody" : {
      "type" : "object",
      "properties" : {
        "repoPosition" : {
          "type" : "array",
		  "description" : "Holds all security positions which have been repo'd out of the Bank's own book(s)",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "portfolioId" : {
                "type" : "string",
                "description" : "Id of the portfolio or security account"
              },
              "depositoryId" : {
                "type" : "string",
                "description" : "Id of the securities depository."
              },
              "instrumentId" : {
                "type" : "string",
                "description" : "The identifier of the instrument"
              },
              "quantity" : {
                "type" : "string",
                "description" : "The nominal quantity"
              }
            }
          }
        }
      }
    }
  }
}