{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the service related information",
    "version" : "v1.0.0",
    "title" : "Service Automation"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "https", "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/system/services/reportTimes" : {
      "get" : {
        "summary" : "Retrieves the list of elapsed times for reports ",
        "operationId" : "getAllReportTimes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "batchDate",
          "in" : "query",
          "description" : "The bank date on which the particular report was generated.",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getAllReportTimesResponse",
            "schema" : {
              "$ref" : "#/definitions/getAllReportTimesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/system/reports/{batchDate}/elapsedTimeservices/reportTimes" : {
      "get" : {
        "summary" : "Retrieves the list of elapsed times for reports generated during close of business processing ",
        "operationId" : "getAllReportTimesCOB",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "batchDate",
          "in" : "path",
          "description" : "The bank date on which the particular report was generated.",
          "required" : true,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getAllReportTimesCOBResponse",
            "schema" : {
              "$ref" : "#/definitions/getAllReportTimesCOBResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getAllReportTimesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getAllReportTimesResponseBody"
        }
      },
      "description" : "getAllReportTimesResponse"
    },
    "getAllReportTimesResponseBody" : {
      "type" : "object",
      "properties" : {
        "reportTimes" : {
          "type" : "array",
          "description" : "Application to Update the Process Time for every individual report generated during Batch.",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "batchDate" : {
                "type" : "object",
                "description" : "The bank date on which the particular report was generated.",
                "properties" : {
                  "batchDate" : {
                    "type" : "string",
                    "description" : "The bank date on which the particular report was generated."
                  },
                  "startTime" : {
                    "type" : "string",
                    "description" : "The beginning of the time interval in the current Day"
                  },
                  "endTime" : {
                    "type" : "string",
                    "description" : "The end of the time interval in corresponding Day"
                  },
                  "sessionNo" : {
                    "type" : "string",
                    "description" : "Contains the session number in which the agent is running"
                  },
                  "elapsedTime" : {
                    "type" : "string",
                    "description" : "Contains the elapsed time of the report in seconds"
                  }
                }
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "getAllReportTimesCOBResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getAllReportTimesCOBResponseBody"
        }
      },
      "description" : "getAllReportTimesCOBResponse"
    },
    "getAllReportTimesCOBResponseBody" : {
      "type" : "object",
      "properties" : {
        "reportTimes" : {
          "type" : "array",
          "description" : "Application to Update the Process Time for every individual report generated during Batch.",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "batchDate" : {
                "type" : "object",
                "description" : "The bank date on which the particular report was generated.",
                "properties" : {
                  "batchDate" : {
                    "type" : "string",
                    "description" : "The bank date on which the particular report was generated."
                  },
                  "startTime" : {
                    "type" : "string",
                    "description" : "The beginning of the time interval in the current Day"
                  },
                  "endTime" : {
                    "type" : "string",
                    "description" : "The end of the time interval in corresponding Day"
                  },
                  "sessionNo" : {
                    "type" : "string",
                    "description" : "Contains the session number in which the agent is running"
                  },
                  "elapsedTime" : {
                    "type" : "string",
                    "description" : "Contains the elapsed time of the report in seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}