{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the security instruments",
    "version" : "v1.0.0",
    "title" : "Security instruments"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/reference/instruments/initialPublicOfferings" : {
      "get" : {
        "summary" : "Retrieves the details of all securities such as Id, fixed offer price, Security description, stock exchange code, IPO book start date, IPO book end date, IPO lot size, price currency code, minimum bid price, maximum bid price",
        "operationId" : "getActiveIPOs",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "ipoStatus",
          "in" : "query",
          "description" : "Indicates the IPO is open, closed, alloted, listed, reopened and so on",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Contains the date on which the transaction or payment gets initiated.",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned",
          "required" : false,
          "type" : "string",
          "format" : "date"
        } ],
        "responses" : {
          "200" : {
            "description" : "getActiveIPOsResponse",
            "schema" : {
              "$ref" : "#/definitions/getActiveIPOsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/instruments/bonds" : {
      "get" : {
        "summary" : "Retrieves the International security identification number details of all securities",
        "operationId" : "getInstrumentsBonds",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "instrumentType",
          "in" : "query",
          "description" : "Indicates the type of the security ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "instrumentCurrencyId",
          "in" : "query",
          "description" : "The currency of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mnemonic",
          "in" : "query",
          "description" : "Shortcut code for referring an Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "subAssetType",
          "in" : "query",
          "description" : "Contains a further definition of an asset",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "priceType",
          "in" : "query",
          "description" : "Defines the method to be used when calculating the price of a trade",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "ISIN",
          "in" : "query",
          "description" : "The International Securities Identification Number of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "stockExchange",
          "in" : "query",
          "description" : "The stock exchange identifier",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "depositoryId",
          "in" : "query",
          "description" : "Id of the securities depository.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getInstrumentsBondsResponse",
            "schema" : {
              "$ref" : "#/definitions/getInstrumentsBondsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/instruments/futures" : {
      "get" : {
        "summary" : "Retrieves the contract definitions such as contract code, description of all the FUTURE contract types",
        "operationId" : "getFutureContracts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "contractType",
          "in" : "query",
          "description" : "Indicates the type of contract that has been traded on an exchange",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getFutureContractsResponse",
            "schema" : {
              "$ref" : "#/definitions/getFutureContractsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/reference/instruments/options" : {
      "get" : {
        "summary" : "Retrieves the contract definitions such as contract code, description of all the OPTION contract types",
        "operationId" : "getOptionContracts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "contractType",
          "in" : "query",
          "description" : "Indicates the type of contract that has been traded on an exchange",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getOptionContractsResponse",
            "schema" : {
              "$ref" : "#/definitions/getOptionContractsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getActiveIPOsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getActiveIPOsResponseBody"
        }
      },
      "description" : "getActiveIPOsResponse"
    },
    "getActiveIPOsResponseBody" : {
      "type" : "object",
      "properties" : {
        "securityMaster" : {
          "type" : "array",
          "description" : "File is used to record and maintain details of all securities opened within the Securities module",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              },
              "stockExchange" : {
                "type" : "string",
                "description" : "The stock exchange identifier"
              },
              "startDate" : {
                "type" : "string",
                "description" : "Contains the date on which the transaction or payment gets initiated."
              },
              "endDate" : {
                "type" : "string",
                "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned"
              },
              "lot" : {
                "type" : "string",
                "description" : "The number of lots/contracts traded"
              },
              "priceCurrency" : {
                "type" : "string",
                "description" : "The currency of the Price"
              },
              "minOfferPrice" : {
                "type" : "string",
                "description" : "Minimum price used for bidding in IPO order"
              },
              "maxOfferPrice" : {
                "type" : "string",
                "description" : " Maximum price allowed to bid in IPO order"
              },
              "issueOfferPrice" : {
                "type" : "string",
                "description" : "Price used in IPO order when the Type of Issue is Single Bid."
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "getInstrumentsBondsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getInstrumentsBondsResponseBody"
        }
      },
      "description" : "getInstrumentsBondsResponse"
    },
    "getInstrumentsBondsResponseBody" : {
      "type" : "object",
      "properties" : {
        "securityMaster" : {
          "type" : "array",
          "description" : "File is used to record and maintain details of all securities opened within the Securities module",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "ISIN" : {
                "type" : "string",
                "description" : "The International Securities Identification Number of the instrument"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "shortName" : {
                    "type" : "string",
                    "description" : "Contains the name of the account, basically the short title of the account."
                  }
                }
              },
              "instrumentCurrencyId" : {
                "type" : "string",
                "description" : "The currency of the instrument"
              },
              "stockExchange" : {
                "type" : "string",
                "description" : "The stock exchange identifier"
              },
              "priceCurrency" : {
                "type" : "string",
                "description" : "The currency of the Price"
              },
              "lastPrice" : {
                "type" : "string",
                "description" : "Indicates the last recorded price of the instrument"
              },
              "lastPriceDate" : {
                "type" : "string",
                "description" : "Effective Date of Last Price of the Security"
              },
              "priceType" : {
                "type" : "string",
                "description" : "Defines the method to be used when calculating the price of a trade"
              },
              "interestRate" : {
                "type" : "object",
                "description" : "Identifies the bid rate of the related currency for the defined time period",
                "properties" : {
                  "interestRate" : {
                    "type" : "string",
                    "description" : "Identifies the bid rate of the related currency for the defined time period"
                  }
                }
              },
              "couponDate" : {
                "type" : "object",
                "description" : "Effective Date of Coupon Rate",
                "properties" : {
                  "inflationIndex" : {
                    "type" : "string",
                    "description" : "Inflation Index to be considered for the Bonds"
                  },
                  "couponRate" : {
                    "type" : "string",
                    "description" : "Rate at which a periodic payment is made under a bond/security and also in interest rate derivatives such as Interest rate Swaps."
                  },
                  "couponDate" : {
                    "type" : "string",
                    "description" : "Effective Date of Coupon Rate"
                  }
                }
              },
              "inflationIndexComponent" : {
                "type" : "string",
                "description" : "Component of Bond Security on which the inflation Index is applicable. - Interest - Principal - Both (Interest and Pricipal)"
              },
              "maturityDate" : {
                "type" : "string",
                "description" : "Indicates maturity date of the contract"
              },
              "tradingUnit" : {
                "type" : "string",
                "description" : "Specifies the smallest nominal amount that may be traded"
              },
              "depositoryId" : {
                "type" : "string",
                "description" : "Id of the securities depository."
              }
            }
          }
        }
      }
    },
    "getFutureContractsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getFutureContractsResponseBody"
        }
      },
      "description" : "getFutureContractsResponse"
    },
    "getFutureContractsResponseBody" : {
      "type" : "object",
      "properties" : {
        "contractMaster" : {
          "type" : "array",
          "description" : "Holds the contract definitions of all of the contract types tradable in the derivatives module",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              }
            }
          }
        }
      }
    },
    "getOptionContractsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getOptionContractsResponseBody"
        }
      },
      "description" : "getOptionContractsResponse"
    },
    "getOptionContractsResponseBody" : {
      "type" : "object",
      "properties" : {
        "contractMaster" : {
          "type" : "array",
          "description" : "Holds the contract definitions of all of the contract types tradable in the derivatives module",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}