{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the Derivatives trade data details of OPTION type contract",
    "version" : "v1.0.0",
    "title" : "Derivative instrument operations"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/instruments/options/assigns" : {
      "get" : {
        "summary" : "Retrieves the Derivatives Active SELL trade data details of OPTION type contract",
        "operationId" : "getSellOptionTrades",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "tradeStatus",
          "in" : "query",
          "description" : "The status of the trade in the system defaulted to either ACTIVE or CLOSED",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lot",
          "in" : "query",
          "description" : "The number of lots/contracts traded",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tradeType",
          "in" : "query",
          "description" : "The type of contract that has been traded on an exchange, FUTURE, OPTION or STOCK",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "syTransactionReference",
          "in" : "query",
          "description" : "Structured Product reference through which the trade is created",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PndSett",
          "in" : "query",
          "description" : "ID of any DX.CLOSEOUT pending (Unauthorised) for this PRI.CUSTOMER.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dxCloseoutPendingId",
          "in" : "query",
          "description" : "DX.CLOSEOUT pending ID for this PRI.CUSTOMER",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "buyOrSell",
          "in" : "query",
          "description" : "Indicates whether the Customer is buying or selling",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "portfolioId",
          "in" : "query",
          "description" : "Id of the portfolio or security account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "instrumentId",
          "in" : "query",
          "description" : "The identifier of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maturityDate",
          "in" : "query",
          "description" : "Indicates maturity date of the contract",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "strikePrice",
          "in" : "query",
          "description" : "The price at which the option holder has the right to buy (Call Options) or sell (Put Options) the underlying instrument, or to cash-settle the option if appropriate",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "callOrPut",
          "in" : "query",
          "description" : "Indicates whether the transaction is a call or put.  Allowed values: - CALL  - PUT",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tradeCurrency",
          "in" : "query",
          "description" : "The trade currency is the settlement currency for the trade",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "contractCurrency",
          "in" : "query",
          "description" : "Indicates the Contract currency ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "optionStyle",
          "in" : "query",
          "description" : "The type of settlement rule that should be applied on the option. AMERICAN: An option that may be exercised at any time prior to its expiry date. EUROPEAN: An option that may only be exercised on its expiry date. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "referenceId",
          "in" : "query",
          "description" : "Identifies the unique identifier of the activity.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getSellOptionTradesResponse",
            "schema" : {
              "$ref" : "#/definitions/getSellOptionTradesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/instruments/options/exercises" : {
      "get" : {
        "summary" : "Retrieves the Derivatives Active BUY trade data details of OPTION type contract",
        "operationId" : "getBuyOptionTrades",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "tradeStatus",
          "in" : "query",
          "description" : "The status of the trade in the system defaulted to either ACTIVE or CLOSED",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lot",
          "in" : "query",
          "description" : "The number of lots/contracts traded",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tradeType",
          "in" : "query",
          "description" : "The type of contract that has been traded on an exchange, FUTURE, OPTION or STOCK",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "syTransactionReference",
          "in" : "query",
          "description" : "Structured Product reference through which the trade is created",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PndSett",
          "in" : "query",
          "description" : "ID of any DX.CLOSEOUT pending (Unauthorised) for this PRI.CUSTOMER.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dxCloseoutPendingId",
          "in" : "query",
          "description" : "DX.CLOSEOUT pending ID for this PRI.CUSTOMER",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "buyOrSell",
          "in" : "query",
          "description" : "Indicates whether the Customer is buying or selling",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "portfolioId",
          "in" : "query",
          "description" : "Id of the portfolio or security account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "instrumentId",
          "in" : "query",
          "description" : "The identifier of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maturityDate",
          "in" : "query",
          "description" : "Indicates maturity date of the contract",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "strikePrice",
          "in" : "query",
          "description" : "The price at which the option holder has the right to buy (Call Options) or sell (Put Options) the underlying instrument, or to cash-settle the option if appropriate",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "callOrPut",
          "in" : "query",
          "description" : "Indicates whether the transaction is a call or put.  Allowed values: - CALL  - PUT",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tradeCurrency",
          "in" : "query",
          "description" : "The trade currency is the settlement currency for the trade",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "contractCurrency",
          "in" : "query",
          "description" : "Indicates the Contract currency ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "optionStyle",
          "in" : "query",
          "description" : "The type of settlement rule that should be applied on the option. AMERICAN: An option that may be exercised at any time prior to its expiry date. EUROPEAN: An option that may only be exercised on its expiry date. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "referenceId",
          "in" : "query",
          "description" : "Identifies the unique identifier of the activity.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getBuyOptionTradesResponse",
            "schema" : {
              "$ref" : "#/definitions/getBuyOptionTradesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/instruments/options/expires" : {
      "get" : {
        "summary" : "Retrieves the Derivatives Active trade data details of OPTION type contract",
        "operationId" : "getActiveOptionTrades",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "tradeStatus",
          "in" : "query",
          "description" : "The status of the trade in the system defaulted to either ACTIVE or CLOSED",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lot",
          "in" : "query",
          "description" : "The number of lots/contracts traded",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tradeType",
          "in" : "query",
          "description" : "The type of contract that has been traded on an exchange, FUTURE, OPTION or STOCK",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "syTransactionReference",
          "in" : "query",
          "description" : "Structured Product reference through which the trade is created",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "PndSett",
          "in" : "query",
          "description" : "ID of any DX.CLOSEOUT pending (Unauthorised) for this PRI.CUSTOMER.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dxCloseoutPendingId",
          "in" : "query",
          "description" : "DX.CLOSEOUT pending ID for this PRI.CUSTOMER",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "portfolioId",
          "in" : "query",
          "description" : "Id of the portfolio or security account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "instrumentId",
          "in" : "query",
          "description" : "The identifier of the instrument",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maturityDate",
          "in" : "query",
          "description" : "Indicates maturity date of the contract",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "strikePrice",
          "in" : "query",
          "description" : "The price at which the option holder has the right to buy (Call Options) or sell (Put Options) the underlying instrument, or to cash-settle the option if appropriate",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "callOrPut",
          "in" : "query",
          "description" : "Indicates whether the transaction is a call or put.  Allowed values: - CALL  - PUT",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tradeCurrency",
          "in" : "query",
          "description" : "The trade currency is the settlement currency for the trade",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "contractCurrency",
          "in" : "query",
          "description" : "Indicates the Contract currency ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "optionStyle",
          "in" : "query",
          "description" : "The type of settlement rule that should be applied on the option. AMERICAN: An option that may be exercised at any time prior to its expiry date. EUROPEAN: An option that may only be exercised on its expiry date. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "referenceId",
          "in" : "query",
          "description" : "Identifies the unique identifier of the activity.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getActiveOptionTradesResponse",
            "schema" : {
              "$ref" : "#/definitions/getActiveOptionTradesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getSellOptionTradesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getSellOptionTradesResponseBody"
        }
      },
      "description" : "getSellOptionTradesResponse"
    },
    "getSellOptionTradesResponseBody" : {
      "type" : "object",
      "properties" : {
        "dxtrade" : {
          "type" : "array",
          "description" : "The main trade input application for the Derivatives",
          "items" : {
            "type" : "object",
            "properties" : {
              "tradeDate" : {
                "type" : "string",
                "description" : "Standard date field which records trade date of the account"
              },
              "customerId" : {
                "type" : "object",
                "description" : "Identifier of the customer",
                "properties" : {
                  "lot" : {
                    "type" : "string",
                    "description" : "The number of lots/contracts traded"
                  },
                  "originalLot" : {
                    "type" : "string",
                    "description" : "Number of lots originally transacted on this trade for the customer"
                  },
                  "priTransKey" : {
                    "type" : "string",
                    "description" : "Indicates the transaction generated by this leg of the trade"
                  }
                }
              },
              "callOrPut" : {
                "type" : "string",
                "description" : "Indicates whether the transaction is a call or put.  Allowed values: - CALL  - PUT"
              },
              "priceOrPremium" : {
                "type" : "string",
                "description" : "The price per unit of lot/lots traded. For option trades, it denotes the premium price in the trade currency."
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "getBuyOptionTradesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getBuyOptionTradesResponseBody"
        }
      },
      "description" : "getBuyOptionTradesResponse"
    },
    "getBuyOptionTradesResponseBody" : {
      "type" : "object",
      "properties" : {
        "dxtrade" : {
          "type" : "array",
          "description" : "The main trade input application for the Derivatives",
          "items" : {
            "type" : "object",
            "properties" : {
              "tradeDate" : {
                "type" : "string",
                "description" : "Standard date field which records trade date of the account"
              },
              "customerId" : {
                "type" : "object",
                "description" : "Identifier of the customer",
                "properties" : {
                  "lot" : {
                    "type" : "string",
                    "description" : "The number of lots/contracts traded"
                  },
                  "originalLot" : {
                    "type" : "string",
                    "description" : "Number of lots originally transacted on this trade for the customer"
                  },
                  "priTransKey" : {
                    "type" : "string",
                    "description" : "Indicates the transaction generated by this leg of the trade"
                  }
                }
              },
              "callOrPut" : {
                "type" : "string",
                "description" : "Indicates whether the transaction is a call or put.  Allowed values: - CALL  - PUT"
              },
              "priceOrPremium" : {
                "type" : "string",
                "description" : "The price per unit of lot/lots traded. For option trades, it denotes the premium price in the trade currency."
              }
            }
          }
        }
      }
    },
    "getActiveOptionTradesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getActiveOptionTradesResponseBody"
        }
      },
      "description" : "getActiveOptionTradesResponse"
    },
    "getActiveOptionTradesResponseBody" : {
      "type" : "object",
      "properties" : {
        "dxtrade" : {
          "type" : "array",
          "description" : "The main trade input application for the Derivatives",
          "items" : {
            "type" : "object",
            "properties" : {
              "tradeDate" : {
                "type" : "string",
                "description" : "Standard date field which records trade date of the account"
              },
              "customerId" : {
                "type" : "object",
                "description" : "Identifier of the customer",
                "properties" : {
                  "lot" : {
                    "type" : "string",
                    "description" : "The number of lots/contracts traded"
                  },
                  "originalLot" : {
                    "type" : "string",
                    "description" : "Number of lots originally transacted on this trade for the customer"
                  },
                  "priTransKey" : {
                    "type" : "string",
                    "description" : "Indicates the transaction generated by this leg of the trade"
                  }
                }
              },
              "callOrPut" : {
                "type" : "string",
                "description" : "Indicates whether the transaction is a call or put.  Allowed values: - CALL  - PUT"
              },
              "priceOrPremium" : {
                "type" : "string",
                "description" : "The price per unit of lot/lots traded. For option trades, it denotes the premium price in the trade currency."
              }
            }
          }
        }
      }
    }
  }
}