{
    "swagger": "2.0",
    "info":
    {
        "description": "APIs to create and manage customer’s consent",
        "version": "v1.0.0",
        "title": "PSD II Consent management services"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": [ "http", "https" ],
    "security": [
    {
        "basicAuth": [ ]
    } ],
    "paths":
    {
        "/party/PSD2/customers/consentInititation":
        {
            "post":
            {
                "summary": "Consent management.",
                "description": "Consent creation. For PSD2, this API can be linked to 'create consent' and 'delete consent'published API in accordance to open banking standards. ",
                "operationId": "createConsent",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/Consent"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "createConsentResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessArrangementErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemArrangementErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/PSD2/customers/consentInititation/{consentId}":
        {
            "put":
            {
                "summary": "Consent Initiation ",
                "description": "Consent initiation and deletion. For PSD2, this API can be linked to 'initiateConsent' published API in accordance to open banking standards. ",
                "operationId": "initiateConsent",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/Consent"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "initiateConsentResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessArrangementErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemArrangementErrorResponse"
                        }
                    }
                }
            },
            "delete":
            {
                "summary": "Consent deletion.",
                "description": "Consent initiation and deletion. For PSD2, this API can be linked to 'initiateConsent' published API in accordance to open banking standards. ",
                "operationId": "deleteConsent",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "deleteConsentResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessArrangementErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemArrangementErrorResponse"
                        }
                    }
                }
            },
            "parameters": [
            {
                "name": "consentId",
                "in": "path",
                "required": true,
                "type": "string"
            } ]
        },
        "/party/PSD2/customers/consentApprovals/{consentId}":
        {
            "put":
            {
                "summary": "Consent authorization",
                "description": "Consent authorization. For PSD2, this API can be linked to 'approveConsent' published API in accordance to open banking standards. ",
                "operationId": "approveConsent",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/Consent"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "approveConsentResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessArrangementErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemArrangementErrorResponse"
                        }
                    }
                }
            },
            "parameters": [
            {
                "name": "consentId",
                "in": "path",
                "required": true,
                "type": "string"
            } ]
        },
        "/party/PSD2/customers/consents/{consentId}":
        {
            "get":
            {
                "summary": "Retrieves consent record",
                "description": "Retrieves entire consent record. For PSD2, this API can be linked to 'get consent status request' published API in accordance to open banking standards.",
                "operationId": "getConsentRequest",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "consentId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "ConsentRequestResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentRequestResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            },
            "put":
            {
                "summary": "Consent withdrawal.",
                "description": "Consent withdrawal. For PSD2, this API can be linked to 'withdrawConsent' published API in accordance to open banking standards. ",
                "operationId": "withdrawConsent",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/Consent1"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "withdrawConsentResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentResponse1"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessArrangementErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemArrangementErrorResponse"
                        }
                    }
                }
            },
            "parameters": [
            {
                "name": "consentId",
                "in": "path",
                "required": true,
                "type": "string"
            } ]
        },
        "/party/PSD2/customers/consents/{consentId}/status":
        {
            "get":
            {
                "summary": "Retrieves consent status",
                "description": "Retrieves status of the consent record. For PSD2, this API can be linked to 'get consent status request' published API in accordance to open banking standards.",
                "operationId": "getConsentStatus",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "consentId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "ConsentStatusResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentStatusResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/PSD2/customers/{customerId}/consents":
        {
            "get":
            {
                "summary": "Retrieves the consent information and status of TPP",
                "description": "Retrieves the detailed consent information along with the status of third party payment provider, with specified consent id, consent status and customer. For PSD2 this API can be linked to 'getConsentData' published API in accordance to open banking standards to return details of all consents.",
                "operationId": "getConsentData",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "consentStatus",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "consentId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "ConsentDataResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentDataResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "PayloadHeader":
        {
            "properties":
            {
                "override":
                {
                    "type": "object",
                    "properties":
                    {
                        "overrideDetails":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "id":
                                    {
                                        "type": "string",
                                        "description": "The identifier of the override"
                                    },
                                    "description":
                                    {
                                        "type": "string",
                                        "description": "The actual override message"
                                    },
                                    "responseCode":
                                    {
                                        "type": "string",
                                        "description": "The user input to accept/reject the override."
                                    }
                                }
                            }
                        }
                    }
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        }
                    }
                }
            }
        },
        "Consent":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/ConsentBody"
                }
            },
            "description": "Consent"
        },
        "ConsentBody":
        {
            "type": "object",
            "properties":
            {
                "arrangement":
                {
                    "type": "string",
                    "description": ""
                },
                "customer":
                {
                    "type": "string",
                    "description": ""
                },
                "product":
                {
                    "type": "string",
                    "description": ""
                },
                "arrangementEffectiveDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": ""
                },
                "activity":
                {
                    "type": "string",
                    "description": ""
                },
                "reason":
                {
                    "type": "string",
                    "description": ""
                },
                "accountConsent":
                {
                    "type": "object",
                    "properties":
                    {
                        "consentTypes":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "consentType":
                                    {
                                        "type": "string",
                                        "description": ""
                                    }
                                }
                            }
                        },
                        "accountIBANs":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "accountIBAN":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "isConsentGiven":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "accountBlock":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "blockFrom":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "blockTill":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "blockNotes":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "consentSubTypes":
                                    {
                                        "type": "array",
                                        "items":
                                        {
                                            "type": "object",
                                            "properties":
                                            {
                                                "consentSubType":
                                                {
                                                    "type": "string",
                                                    "description": ""
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "consentStatuses":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "consentStatus":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "lastActionDate":
                                    {
                                        "type": "string",
                                        "format": "date",
                                        "description": ""
                                    }
                                }
                            }
                        },
                        "thirdpartyproviderId":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "signUpService":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "recurringIndicator":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "validUntil":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "frequencyPerDay":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "combinedServiceIndicator":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "scaStatus":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "link":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "thirdpartyprovider":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "externalUserId":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "onlineArrangement":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                }
            }
        },
        "ArrangementHeader":
        {
            "properties":
            {
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "aaaId":
                {
                    "type": "string",
                    "description": "The Identifier of the aa record created"
                },
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "The status of the record"
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "ConsentResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/ConsentResponseBody"
                }
            },
            "description": "ConsentResponse"
        },
        "ConsentResponseBody":
        {
            "type": "object",
            "properties":
            {
                "arrangementActivity":
                {
                    "type": "object",
                    "properties":
                    {
                        "arrangement":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "customer":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "product":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "arrangementEffectiveDate":
                        {
                            "type": "string",
                            "format": "date",
                            "description": ""
                        },
                        "activity":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "reason":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "activities":
                {
                    "type": "object",
                    "properties":
                    {
                        "{activityName}":
                        {
                            "type": "object",
                            "properties":
                            {
                                "activity":
                                {
                                    "type": "string"
                                },
                                "transactionStatus":
                                {
                                    "type": "string",
                                    "description": "The status of the transaction"
                                },
                                "id":
                                {
                                    "type": "string",
                                    "description": "The Identifier of the record created"
                                }
                            }
                        }
                    }
                },
                "properties":
                {
                    "type": "object",
                    "properties":
                    {
                        "customer":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "officers":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "accountConsent":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string",
                                            "description": "The status of the transaction"
                                        },
                                        "audit":
                                        {
                                            "type": "object",
                                            "properties":
                                            {
                                                "parseTime":
                                                {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Time taken to parse the response by IRIS"
                                                }
                                            }
                                        },
                                        "id":
                                        {
                                            "type": "string",
                                            "description": "The Identifier of the record created"
                                        },
                                        "status":
                                        {
                                            "type": "string",
                                            "description": "The status of the record"
                                        }
                                    }
                                },
                                "body":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "consentTypes":
                                        {
                                            "type": "array",
                                            "items":
                                            {
                                                "type": "object",
                                                "properties":
                                                {
                                                    "consentType":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    }
                                                }
                                            }
                                        },
                                        "accountIBANs":
                                        {
                                            "type": "array",
                                            "items":
                                            {
                                                "type": "object",
                                                "properties":
                                                {
                                                    "accountIBAN":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "isConsentGiven":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "accountBlock":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "blockFrom":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "blockTill":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "blockNotes":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "consentSubTypes":
                                                    {
                                                        "type": "array",
                                                        "items":
                                                        {
                                                            "type": "object",
                                                            "properties":
                                                            {
                                                                "consentSubType":
                                                                {
                                                                    "type": "string",
                                                                    "description": ""
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "consentStatuses":
                                        {
                                            "type": "array",
                                            "items":
                                            {
                                                "type": "object",
                                                "properties":
                                                {
                                                    "consentStatus":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "lastActionDate":
                                                    {
                                                        "type": "string",
                                                        "format": "date",
                                                        "description": ""
                                                    }
                                                }
                                            }
                                        },
                                        "thirdpartyproviderId":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "signUpService":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "recurringIndicator":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "validUntil":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "frequencyPerDay":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "combinedServiceIndicator":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "scaStatus":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "link":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "thirdpartyprovider":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "externalUserId":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "onlineArrangement":
                                        {
                                            "type": "string",
                                            "description": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "overrideBody":
        {
            "properties":
            {
                "overrideDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "id":
                            {
                                "type": "string",
                                "description": "The identifier of the override"
                            },
                            "description":
                            {
                                "type": "string",
                                "description": "The actual override message"
                            },
                            "options":
                            {
                                "type": "array",
                                "description": "The usable options for the override",
                                "items":
                                {
                                    "type": "string"
                                }
                            },
                            "type":
                            {
                                "type": "string",
                                "description": "The type of the override"
                            }
                        }
                    }
                }
            }
        },
        "ArrangementErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/ArrangementErrorResponseBody"
                },
                "override":
                {
                    "$ref": "#/definitions/overrideBody"
                }
            },
            "description": "ArrangementErrorResponse"
        },
        "ArrangementErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "errorDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "fieldName":
                            {
                                "type": "string",
                                "description": "The name of the field"
                            },
                            "code":
                            {
                                "type": "string",
                                "description": "The identifier of the error message"
                            },
                            "message":
                            {
                                "type": "string",
                                "description": "The actual t24 error message "
                            },
                            "property":
                            {
                                "type": "string",
                                "description": "The corresponding property"
                            }
                        }
                    }
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type: "
                }
            }
        },
        "BusinessArrangementErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/BusinessArrangementErrorResponseBody"
                },
                "override":
                {
                    "$ref": "#/definitions/overrideBody"
                }
            },
            "description": "BusinessArrangementErrorResponse"
        },
        "BusinessArrangementErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "errorDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "fieldName":
                            {
                                "type": "string",
                                "description": "The name of the field"
                            },
                            "code":
                            {
                                "type": "string",
                                "description": "The identifier of the error message"
                            },
                            "message":
                            {
                                "type": "string",
                                "description": "The actual t24 error message for bad requests"
                            },
                            "property":
                            {
                                "type": "string",
                                "description": "The corresponding property"
                            }
                        }
                    }
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type: Business"
                }
            }
        },
        "SystemArrangementErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/SystemArrangementErrorResponseBody"
                },
                "override":
                {
                    "$ref": "#/definitions/overrideBody"
                }
            },
            "description": "SystemArrangementErrorResponse"
        },
        "SystemArrangementErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "errorDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "fieldName":
                            {
                                "type": "string",
                                "description": "The name of the field"
                            },
                            "code":
                            {
                                "type": "string",
                                "description": "The identifier of the error message"
                            },
                            "message":
                            {
                                "type": "string",
                                "description": "The actual t24 error message caused by server"
                            },
                            "property":
                            {
                                "type": "string",
                                "description": "The corresponding property"
                            }
                        }
                    }
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type: System"
                }
            }
        },
        "Consent1":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/Consent1Body"
                }
            },
            "description": "Consent1"
        },
        "Consent1Body":
        {
            "type": "object",
            "properties":
            {
                "arrangement":
                {
                    "type": "string",
                    "description": ""
                },
                "customer":
                {
                    "type": "string",
                    "description": ""
                },
                "product":
                {
                    "type": "string",
                    "description": ""
                },
                "arrangementEffectiveDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": ""
                },
                "activity":
                {
                    "type": "string",
                    "description": ""
                },
                "reason":
                {
                    "type": "string",
                    "description": ""
                },
                "accountConsent":
                {
                    "type": "object",
                    "properties":
                    {
                        "consentTypes":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "consentType":
                                    {
                                        "type": "string",
                                        "description": ""
                                    }
                                }
                            }
                        },
                        "accountIBANs":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "accountIBAN":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "isConsentGiven":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "accountBlock":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "blockFrom":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "blockTill":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "blockNotes":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "consentSubTypes":
                                    {
                                        "type": "array",
                                        "items":
                                        {
                                            "type": "object",
                                            "properties":
                                            {
                                                "consentSubType":
                                                {
                                                    "type": "string",
                                                    "description": ""
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "consentStatuses":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "consentStatus":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "lastActionDate":
                                    {
                                        "type": "string",
                                        "format": "date",
                                        "description": ""
                                    }
                                }
                            }
                        },
                        "thirdpartyproviderId":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "signUpService":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "recurringIndicator":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "validUntil":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "frequencyPerDay":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "combinedServiceIndicator":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "scaStatus":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "link":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "thirdpartyprovider":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "externalUserId":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "onlineArrangement":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                }
            }
        },
        "ConsentResponse1":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/ConsentResponse1Body"
                }
            },
            "description": "ConsentResponse1"
        },
        "ConsentResponse1Body":
        {
            "type": "object",
            "properties":
            {
                "arrangementActivity":
                {
                    "type": "object",
                    "properties":
                    {
                        "arrangement":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "customer":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "product":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "arrangementEffectiveDate":
                        {
                            "type": "string",
                            "format": "date",
                            "description": ""
                        },
                        "activity":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "reason":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "activities":
                {
                    "type": "object",
                    "properties":
                    {
                        "{activityName}":
                        {
                            "type": "object",
                            "properties":
                            {
                                "activity":
                                {
                                    "type": "string"
                                },
                                "transactionStatus":
                                {
                                    "type": "string",
                                    "description": "The status of the transaction"
                                },
                                "id":
                                {
                                    "type": "string",
                                    "description": "The Identifier of the record created"
                                }
                            }
                        }
                    }
                },
                "properties":
                {
                    "type": "object",
                    "properties":
                    {
                        "accountConsent":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string",
                                            "description": "The status of the transaction"
                                        },
                                        "audit":
                                        {
                                            "type": "object",
                                            "properties":
                                            {
                                                "parseTime":
                                                {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Time taken to parse the response by IRIS"
                                                }
                                            }
                                        },
                                        "id":
                                        {
                                            "type": "string",
                                            "description": "The Identifier of the record created"
                                        },
                                        "status":
                                        {
                                            "type": "string",
                                            "description": "The status of the record"
                                        }
                                    }
                                },
                                "body":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "consentTypes":
                                        {
                                            "type": "array",
                                            "items":
                                            {
                                                "type": "object",
                                                "properties":
                                                {
                                                    "consentType":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    }
                                                }
                                            }
                                        },
                                        "accountIBANs":
                                        {
                                            "type": "array",
                                            "items":
                                            {
                                                "type": "object",
                                                "properties":
                                                {
                                                    "accountIBAN":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "isConsentGiven":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "accountBlock":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "blockFrom":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "blockTill":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "blockNotes":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "consentSubTypes":
                                                    {
                                                        "type": "array",
                                                        "items":
                                                        {
                                                            "type": "object",
                                                            "properties":
                                                            {
                                                                "consentSubType":
                                                                {
                                                                    "type": "string",
                                                                    "description": ""
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "consentStatuses":
                                        {
                                            "type": "array",
                                            "items":
                                            {
                                                "type": "object",
                                                "properties":
                                                {
                                                    "consentStatus":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "lastActionDate":
                                                    {
                                                        "type": "string",
                                                        "format": "date",
                                                        "description": ""
                                                    }
                                                }
                                            }
                                        },
                                        "thirdpartyproviderId":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "signUpService":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "recurringIndicator":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "validUntil":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "frequencyPerDay":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "combinedServiceIndicator":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "scaStatus":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "link":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "thirdpartyprovider":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "externalUserId":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "onlineArrangement":
                                        {
                                            "type": "string",
                                            "description": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "QueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                }
            }
        },
        "ConsentStatusResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/ConsentStatusResponseBody"
                }
            },
            "description": "ConsentStatusResponse"
        },
        "ConsentStatusResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "consentStatus":
                    {
                        "type": "string",
                        "description": ""
                    }
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "QueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/QueryErrorResponseBody"
                }
            },
            "description": "QueryErrorResponse"
        },
        "QueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message "
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message "
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type: "
                }
            }
        },
        "BusinessQueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/BusinessQueryErrorResponseBody"
                }
            },
            "description": "BusinessQueryErrorResponse"
        },
        "BusinessQueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message "
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message for bad requests"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type: Business"
                }
            }
        },
        "SystemQueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/SystemQueryErrorResponseBody"
                }
            },
            "description": "SystemQueryErrorResponse"
        },
        "SystemQueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message "
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message caused by server"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type: System"
                }
            }
        },
        "ConsentRequestResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/ConsentRequestResponseBody"
                }
            },
            "description": "ConsentRequestResponse"
        },
        "ConsentRequestResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "defConsentTypes":
                    {
                        "type": "array",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "defConsentType":
                                {
                                    "type": "array",
                                    "description": "",
                                    "items":
                                    {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "consentTypes":
                    {
                        "type": "array",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "consentType":
                                {
                                    "type": "array",
                                    "description": "",
                                    "items":
                                    {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "consentStatuses":
                    {
                        "type": "array",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "consentStatus":
                                {
                                    "type": "array",
                                    "description": "",
                                    "items":
                                    {
                                        "type": "string"
                                    }
                                },
                                "lastActionDate":
                                {
                                    "type": "array",
                                    "description": "",
                                    "items":
                                    {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "accountId":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "accountName":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "recurringIndicator":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "validUntil":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "frequencyPerDay":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "arrangementId":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "currency":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "category":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "productDescription":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "availableBalance":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "sortCode":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "IBAN":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "productId":
                    {
                        "type": "string",
                        "description": ""
                    }
                }
            }
        },
        "ConsentDataResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/ConsentDataResponseBody"
                }
            },
            "description": "ConsentDataResponse"
        },
        "ConsentDataResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "accountIBANs":
                    {
                        "type": "array",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "accountIBAN":
                                {
                                    "type": "string",
                                    "description": ""
                                },
                                "isConsentGiven":
                                {
                                    "type": "string",
                                    "description": ""
                                },
                                "accountBlock":
                                {
                                    "type": "string",
                                    "description": ""
                                },
                                "blockFrom":
                                {
                                    "type": "string",
                                    "description": ""
                                },
                                "blockTill":
                                {
                                    "type": "string",
                                    "description": ""
                                },
                                "blockNotes":
                                {
                                    "type": "string",
                                    "description": ""
                                },
                                "categoryId":
                                {
                                    "type": "string",
                                    "description": ""
                                },
                                "shortName":
                                {
                                    "type": "string",
                                    "description": ""
                                },
                                "consentTypes":
                                {
                                    "type": "array",
                                    "items":
                                    {
                                        "type": "object",
                                        "properties":
                                        {
                                            "consentType":
                                            {
                                                "type": "string",
                                                "description": ""
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "consentId":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 35
                    },
                    "thirdpartyproviderId":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "thirdpartyprovider":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "tppStatus":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 35
                    },
                    "signUpService":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "recurringIndicator":
                    {
                        "type": "string",
[...]
