{
    "swagger": "2.0",
    "info":
    {
        "description": "Creates a Corporate Current Account",
        "version": "v1.0.0",
        "title": "createCorporateAccount"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/holdings/accounts/corporateAccounts":
        {
            "post":
            {
                "operationId": "createCorporateAccount",
                "produces": ["application/json"],
                "description": "Create a corporate account",
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/holdingsCorporateAccount"
                    }
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "createCorporateAccountResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/holdingsCorporateAccountResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "PayloadHeader":
        {
            "properties":
            {
                "override":
                {
                    "type": "object",
                    "properties":
                    {
                        "overrideDetails":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "id":
                                    {
                                        "type": "string",
                                        "description": "The identifier of the override"
                                    },
                                    "description":
                                    {
                                        "type": "string",
                                        "description": "The actual override message"
                                    },
                                    "responseCode":
                                    {
                                        "type": "string",
                                        "description": "The user input to accept/reject the override."
                                    }
                                }
                            }
                        }
                    }
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        }
                    }
                }
            }
        },
        "holdingsCorporateAccount":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/holdingsCorporateAccountBody"
                }
            },
            "description": "holdingsCorporateAccount"
        },
        "holdingsCorporateAccountBody":
        {
            "type": "object",
            "properties":
            {
                "parties":
                {
                    "type": "array",
                    "description": "",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "partyId":
                            {
                                "type": "string",
                                "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
                            },
                            "partyRole":
                            {
                                "type": "string",
                                "description": "The role of the customer on the account - select from standard list"
                            }
                        }
                    }
                },
                "activityId":
                {
                    "type": "string",
                    "description": "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
                },
                "effectiveDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "The date on which the principal movement is effected"
                },
                "productId":
                {
                    "type": "string",
                    "description": "Id of the product."
                },
                "currencyId":
                {
                    "type": "string",
                    "description": "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
                },
                "simulationId":
                {
                    "type": "string",
                    "description": ""
                },
                "balance":
                {
                    "type": "object",
                    "properties":
                    {
                        "accountType":
                        {
                            "type": "string",
                            "description": "",
                            "enum": ["Type Of Account"]
                        },
                        "accountName":
                        {
                            "type": "string",
                            "description": "The name of the account ",
                            "enum": ["Account Name"]
                        },
                        "accountNumber":
                        {
                            "type": "string",
                            "description": "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.",
                            "enum": ["Account Number"]
                        },
                        "portfolioId":
                        {
                            "type": "string",
                            "description": "Id of the portfolio or security account",
                            "enum": ["Portfolio Reference"]
                        },
                        "alternateAccountId":
                        {
                            "type": "string",
                            "description": "",
                            "enum": ["Alternative Id"]
                        },
                        "altId1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Anniversary":
                        {
                            "type": "string",
                            "description": "",
                            "enum": ["Anniversary Date Of Arrangement"]
                        }
                    }
                },
                "messaging":
                {
                    "type": "object",
                    "properties":
                    {
                        "advice1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "activityClass1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "activityId1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "role11":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "msgContent1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "sendAdvice1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "preNotice":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "preNoticeDays1":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "activityCharges":
                {
                    "type": "object",
                    "properties":
                    {
                        "appPeriod11":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "appMethod11":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "chargeAutoSettle11":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "agentCommission":
                {
                    "type": "object",
                    "properties":
                    {
                        "agentId1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "agentArrId1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "agentRole1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "onlineEvent11":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "scheduledEvent11":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "fixedAmount11":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "marginOperand11":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "marginRate11":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "marginPercent11":
                        {
                            "type": "number",
                            "description": ""
                        }
                    }
                },
                "rewardsPoints":
                {
                    "type": "object",
                    "properties":
                    {
                        "agentId1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "agentArrId1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "agentRole1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "onlineEvent11":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "scheduledEvent11":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "fixedAmount11":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "marginOperand11":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "marginRate11":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "marginPercent11":
                        {
                            "type": "number",
                            "description": ""
                        }
                    }
                },
                "alerts":
                {
                    "type": "object",
                    "properties":
                    {
                        "event1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "field11":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "operand11":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "value11":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "highestdebit":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "chequewd":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "minbalfee":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "noofcredits":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "noofdebits":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "turnovercredit":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "turnoverdebit":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "bonus":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "investcredit":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "achcreditfee":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "achdebitfee":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "atmdebitfee":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "atmposfee":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "wirefee":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "overdraft":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "odnotification":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "withdrawalfee":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "packagefee":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "closurefee":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "accharge":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "dormancyfee":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "mgmtfee":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "cardissuefee":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "commitmentfee":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "relationshipVariation":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                },
                "setupfee":
                {
                    "type": "object",
                    "properties":
                    {
                        "Type":
                        {
                            "type": "string",
                            "description": "The product condition has an activity type associated that drives an action."
                        },
                        "fixedAmount":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "chargeRoutine":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierGroups":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierType":
                        {
                            "type": "string",
                            "description": "Type of the tier rate. Allowed values: - BAND: rates apply within each band - LEVEL: a common rate applies, determined by the highest level"
                        },
                        "calcType":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "Charge":
                        {
                            "type": "string",
                            "description": "The charges or fees for this transaction"
                        },
                        "chgAmount1":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "Tier":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierMaxCharge1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "upTo":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "tierCount1":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipProduct":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "relationshipPercentage":
                        {
                            "type": "number",
                            "description": ""
                        },
[...]
