{"swagger":"2.0","info":{"description":"List Live arrangements for a particular product line","version":"v1.0.0","title":"getApprovedArrangements"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/productLine/{productLineId}/approvedArrangements":{"get":{"operationId":"getApprovedAccounts","produces":["application/json"],"parameters":[{"name":"productLineId","in":"path","required":true,"type":"string"},{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"arrangementId","in":"query","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","required":false,"type":"string"},{"name":"productLine","in":"query","description":"","required":false,"type":"string"},{"name":"productGroup","in":"query","description":"","required":false,"type":"string"},{"name":"product","in":"query","description":"","required":false,"type":"string"},{"name":"currency","in":"query","description":"","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ApprovedAccountsResponse","schema":{"$ref":"#/definitions/ApprovedAccountsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/productLine/{productLineId}/approvedArrangements2":{"get":{"operationId":"getApprovedDeposits","produces":["application/json"],"parameters":[{"name":"productLineId","in":"path","required":true,"type":"string"},{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"arrangementId","in":"query","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","required":false,"type":"string"},{"name":"productGroup","in":"query","description":"","required":false,"type":"string"},{"name":"product","in":"query","description":"","required":false,"type":"string"},{"name":"currency","in":"query","description":"","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ApprovedDepositsResponse","schema":{"$ref":"#/definitions/ApprovedDepositsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/productLine/{productLineId}/approvedArrangements3":{"get":{"operationId":"getApprovedLoans","produces":["application/json"],"parameters":[{"name":"productLineId","in":"path","required":true,"type":"string"},{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"arrangementId","in":"query","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","required":false,"type":"string"},{"name":"productLine","in":"query","description":"","required":false,"type":"string"},{"name":"productGroup","in":"query","description":"","required":false,"type":"string"},{"name":"product","in":"query","description":"","required":false,"type":"string"},{"name":"currency","in":"query","description":"","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ApprovedLoansResponse","schema":{"$ref":"#/definitions/ApprovedLoansResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"ApprovedAccountsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/ApprovedAccountsResponseBody"}},"description":"ApprovedAccountsResponse"},"ApprovedAccountsResponseBody":{"type":"array","items":{"type":"object","properties":{"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"accountNumber":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":35},"productDescription":{"type":"string","description":"Description for the product"},"CustomerId":{"type":"string","description":"The identifier of the customer","maxLength":10},"customerName":{"type":"string","description":"The name that is displayed for the customer","maxLength":35},"Status":{"type":"string","description":"Get a detail status of the specified service/services","maxLength":15}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"ApprovedDepositsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/ApprovedDepositsResponseBody"}},"description":"ApprovedDepositsResponse"},"ApprovedDepositsResponseBody":{"type":"array","items":{"type":"object","properties":{"arrrangementId":{"type":"string","description":""},"accountNumber":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":35},"productDescription":{"type":"string","description":"Description for the product"},"customerId":{"type":"string","description":"The identifier of the customer"},"customerName":{"type":"string","description":"The name that is displayed for the customer","maxLength":35},"Status":{"type":"string","description":"Get a detail status of the specified service/services","maxLength":15}}}},"ApprovedLoansResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/ApprovedLoansResponseBody"}},"description":"ApprovedLoansResponse"},"ApprovedLoansResponseBody":{"type":"array","items":{"type":"object","properties":{"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"accountNumber":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":35},"productDescription":{"type":"string","description":"Description for the product"},"CustomerId":{"type":"string","description":"The identifier of the customer","maxLength":10},"customerName":{"type":"string","description":"The name that is displayed for the customer","maxLength":35},"Status":{"type":"string","description":"Get a detail status of the specified service/services","maxLength":15}}}}}}