{"swagger":"2.0","info":{"description":"User Administration","version":"v1.0.0","title":"UserAdministration"},"host":"api.server.com","basePath":"/api/v1.0.0/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/onlineServices":{"get":{"operationId":"getOnlineServices","produces":["application/json"],"parameters":[{"name":"arrangementId","in":"query","description":"The identifier of the arrangement","required":false,"type":"string"},{"name":"arrangementStatus","in":"query","description":"Status of the arrangement: UNAUTH - input but not authorised yet. AUTH - authorised. AUTH-FWD (Forward) - authorised, will become active on a future date. CURRENT - the arrangement has begun full or partial disbursement. MATURED - the contract has matured and all dues have been cleared. EXPIRED - the contract has gone past its final payment date with some dues left unsettled. REVERSED - reversed. CANCELLED - cancelled (only for deposits) CLOSE - closed PENDING.CLOSURE - ready for closure","required":false,"type":"string"},{"name":"masterOnly","in":"query","required":false,"type":"string"},{"name":"roleOnly","in":"query","required":false,"type":"string"},{"name":"masterArrangementId","in":"query","required":false,"type":"string"},{"name":"productGroupId","in":"query","description":"The group, as defined by the institution, that the product belongs to.","required":false,"type":"string"},{"name":"productId","in":"query","description":"Id of the product.","required":false,"type":"string"},{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"subArrangementName","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OnlineServicesResponse","schema":{"$ref":"#/definitions/holdingsOnlineServicesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}},"post":{"operationId":"createOnlineService","produces":["application/json"],"parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/holdingsOnlineService"}},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"createOnlineServiceResponse","schema":{"$ref":"#/definitions/holdingsOnlineServiceResponse"}},"default":{"description":"ArrangementErrorResponse","schema":{"$ref":"#/definitions/ArrangementErrorResponse"}}}}},"/holdings/onlineServiceApprovals/amendments/{arrangementActivityId}":{"put":{"operationId":"amendOnlineService","produces":["application/json"],"parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/holdingsOnlineService1"}},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"amendOnlineServiceResponse","schema":{"$ref":"#/definitions/holdingsOnlineServiceResponse1"}},"default":{"description":"ArrangementErrorResponse","schema":{"$ref":"#/definitions/ArrangementErrorResponse"}}}},"parameters":[{"name":"arrangementActivityId","in":"path","required":true,"type":"string"}]},"/holdings/onlineServiceApprovals/{arrangementActivityId}":{"put":{"operationId":"approveOnlineService","produces":["application/json"],"parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/holdingsOnlineService1"}},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"approveOnlineServiceResponse","schema":{"$ref":"#/definitions/holdingsOnlineServiceResponse1"}},"default":{"description":"ArrangementErrorResponse","schema":{"$ref":"#/definitions/ArrangementErrorResponse"}}}},"parameters":[{"name":"arrangementActivityId","in":"path","required":true,"type":"string"}]},"/holdings/onlineServiceApprovals":{"get":{"operationId":"getOnlineServiceApprovals","produces":["application/json"],"parameters":[{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"arrangementId","in":"query","description":"The identifier of the arrangement","required":false,"type":"string"},{"name":"masterOnly","in":"query","required":false,"type":"string"},{"name":"roleOnly","in":"query","required":false,"type":"string"},{"name":"masterArrangementId","in":"query","required":false,"type":"string"},{"name":"productId","in":"query","description":"Id of the product.","required":false,"type":"string"},{"name":"arrangementStatus","in":"query","description":"Status of the arrangement: UNAUTH - input but not authorised yet. AUTH - authorised. AUTH-FWD (Forward) - authorised, will become active on a future date. CURRENT - the arrangement has begun full or partial disbursement. MATURED - the contract has matured and all dues have been cleared. EXPIRED - the contract has gone past its final payment date with some dues left unsettled. REVERSED - reversed. CANCELLED - cancelled (only for deposits) CLOSE - closed PENDING.CLOSURE - ready for closure","required":false,"type":"string"},{"name":"productGroupId","in":"query","description":"The group, as defined by the institution, that the product belongs to.","required":false,"type":"string"},{"name":"subArrangementName","in":"query","required":false,"type":"string"},{"name":"inputter","in":"query","description":"The user identifier who input the transaction","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OnlineServiceApprovalsResponse","schema":{"$ref":"#/definitions/holdingsOnlineServiceApprovalsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}},"post":{"operationId":"initiateOnlineService","produces":["application/json"],"parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/holdingsOnlineService"}},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"initiateOnlineServiceResponse","schema":{"$ref":"#/definitions/holdingsOnlineServiceResponse"}},"default":{"description":"ArrangementErrorResponse","schema":{"$ref":"#/definitions/ArrangementErrorResponse"}}}}},"/holdings/customers/{customerId}/productGroups/{productGroupId}/products":{"get":{"operationId":"getCustomerProductsByProductGroup","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"productGroupId","in":"path","description":"The group, as defined by the institution, that the product belongs to.","required":true,"type":"string"},{"name":"allowedProducts","in":"query","description":"Product or products allowed to be used within the product bundle.","required":false,"type":"string"},{"name":"companyId","in":"query","description":"The identifier of the underlying Entity/Company/Branch.","required":false,"type":"string"},{"name":"productId","in":"query","description":"Id of the product.","required":false,"type":"string"},{"name":"onlineServicesProductId","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerProductsByProductGroupResponse","schema":{"$ref":"#/definitions/holdingsCustomerProductsByProductGroupResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/customers/{customerId}/onlineServices/{onlineServicesProductId}/products":{"get":{"operationId":"getCustomerProductsByOnlineServicesProduct","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"onlineServicesProductId","in":"path","required":true,"type":"string"},{"name":"allowedProducts","in":"query","description":"Product or products allowed to be used within the product bundle.","required":false,"type":"string"},{"name":"companyId","in":"query","description":"The identifier of the underlying Entity/Company/Branch.","required":false,"type":"string"},{"name":"productId","in":"query","description":"Id of the product.","required":false,"type":"string"},{"name":"productGroupId","in":"query","description":"The group, as defined by the institution, that the product belongs to.","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerProductsByOnlineServicesProductResponse","schema":{"$ref":"#/definitions/holdingsCustomerProductsByProductGroupResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/onlineServices/{arrangementId}/externalUserAllocations":{"get":{"operationId":"getExternalUserAllocations","produces":["application/json"],"parameters":[{"name":"arrangementId","in":"path","description":"The identifier of the arrangement","required":true,"type":"string"},{"name":"subArrangementId","in":"query","required":false,"type":"string"},{"name":"masterOnly","in":"query","required":false,"type":"string"},{"name":"countOnly","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalUserAllocationsResponse","schema":{"$ref":"#/definitions/holdingsExternalUserAllocationsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"holdingsOnlineService":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/holdingsOnlineServiceBody"}},"description":"holdingsOnlineService"},"holdingsOnlineServiceBody":{"type":"object","properties":{"customerIds":{"type":"array","description":"The identifier of the customer","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"}}}},"properties":{"type":"array","description":"Input is the� valid field name for the metrics evaluation of alerts","items":{"type":"object","properties":{"propertyId":{"type":"string","description":"The identifier of the product condition"},"fields":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"fieldValue":{"type":"string","description":""}}}}}}},"overrides":{"type":"array","description":"The override message is captured  that was generated at the time of commitment of the transaction to the database.","items":{"type":"object","properties":{"override":{"type":"string","description":"The override message is captured  that was generated at the time of commitment of the transaction to the database."}}}},"productId":{"type":"string","description":"Id of the product."},"masterArrangementId":{"type":"string","description":""},"subArrangementName":{"type":"string","description":""},"currencyId":{"type":"string","description":"Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"activityId":{"type":"string","description":"Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"},"customer":{"type":"object","properties":{"customers":{"type":"array","description":"The customer number","items":{"type":"object","properties":{"customer":{"type":"string","description":"The customer number"},"customerRole":{"type":"string","description":"The customer role with drop down of standard selections"},"taxLiabilityPercentage":{"type":"number","description":""},"limitAllocactionPercentage":{"type":"number","description":""},"GLAllocactionPercentage":{"type":"number","description":""}}}},"jointLiability":{"type":"string","description":"Identifies if there is a joint liability on the limit record Allowed values: -YES -NO  "}}},"tcpermissions":{"type":"object","properties":{"definedCustomers":{"type":"array","items":{"type":"object","properties":{"definedCustomer":{"type":"string","description":""},"definedCustomerSel":{"type":"string","description":""},"definedCompanies":{"type":"array","items":{"type":"object","properties":{"definedCompany":{"type":"string","description":""}}}}}}},"defPrdGroups":{"type":"array","items":{"type":"object","properties":{"definedProductGroups":{"type":"string","description":""},"definedProductGroupSel":{"type":"string","description":""}}}},"relCustomers":{"type":"array","description":"The product for which the pricing plan is applicable","items":{"type":"object","properties":{"relationCustomer":{"type":"string","description":""},"productGroups":{"type":"string","description":"The group, as defined by the institution, that the product belongs to."},"productGroupSel":{"type":"string","description":""},"products":{"type":"array","items":{"type":"object","properties":{"product":{"type":"string","description":"The product for which the pricing plan is applicable"},"productSel":{"type":"string","description":""}}}}}}},"masterLevelChange":{"type":"string","description":""}}},"tcprivileges":{"type":"object","properties":{"services":{"type":"array","description":"Identifies the required operation to be executed for a Trade Finance contract. Input of valid codes as: O for opening of LC, P for Pre-advise of LC, A for Amend LC, C for Collect Charges, D for Decision on Amendments, T for Tracer, IO for LC through Internet Banking Operation and M for Ancillary Message (MT759)","items":{"type":"object","properties":{"service":{"type":"string","description":""},"serviceActive":{"type":"string","description":""},"operations":{"type":"array","items":{"type":"object","properties":{"operation":{"type":"string","description":"Identifies the required operation to be executed for a Trade Finance contract. Input of valid codes as: O for opening of LC, P for Pre-advise of LC, A for Amend LC, C for Collect Charges, D for Decision on Amendments, T for Tracer, IO for LC through Internet Banking Operation and M for Ancillary Message (MT759)"},"operationActive":{"type":"string","description":""}}}}}}},"masterLevelChange":{"type":"string","description":""}}},"tcavailability":{"type":"object","properties":{"day":{"type":"array","items":{"type":"object","properties":{"dayName":{"type":"string","description":""},"daySelect":{"type":"string","description":""},"time":{"type":"array","items":{"type":"object","properties":{"startTime":{"type":"string","description":"The time job was started"},"endTime":{"type":"string","description":"The time the job was ended.  "}}}}}}},"masterLevelChange":{"type":"string","description":""}}},"dailylimits":{"type":"object","properties":{"system":{"type":"array","description":"","items":{"type":"object","properties":{"systemId":{"type":"string","description":"The system application identifier from which the entry was generated"},"application":{"type":"array","items":{"type":"object","properties":{"applicationId":{"type":"string","description":"Application id."}}}}}}},"transaction":{"type":"array","description":"","items":{"type":"object","properties":{"type":{"type":"string","description":"The product condition has an activity type associated that drives an action."}}}},"currency":{"type":"string","description":"Identifies the underlying currency used for the transaction."},"riskRate":{"type":"array","items":{"type":"object","properties":{"benRiskRate":{"type":"string","description":""}}}},"timeOfDay":{"type":"string","description":""},"limitAmount":{"type":"number","description":"The Limit amount that is actually available for use.�The system limit checks are preformed against the online limit"}}},"tclicensing":{"type":"object","properties":{"noOfUsers":{"type":"string","description":""},"noOfRoles":{"type":"string","description":""}}}}},"ArrangementHeader":{"properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"aaaId":{"type":"string","description":"The Identifier of the aa record created"},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"holdingsOnlineServiceResponse":{"properties":{"header":{"$ref":"#/definitions/ArrangementHeader"},"body":{"$ref":"#/definitions/holdingsOnlineServiceResponseBody"}},"description":"holdingsOnlineServiceResponse"},"holdingsOnlineServiceResponseBody":{"type":"object","properties":{"arrangementActivity":{"type":"object","properties":{"customerIds":{"type":"array","description":"The identifier of the customer","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"}}}},"properties":{"type":"array","description":"Input is the� valid field name for the metrics evaluation of alerts","items":{"type":"object","properties":{"propertyId":{"type":"string","description":"The identifier of the product condition"},"fields":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"fieldValue":{"type":"string","description":""}}}}}}},"overrides":{"type":"array","description":"The override message is captured  that was generated at the time of commitment of the transaction to the database.","items":{"type":"object","properties":{"override":{"type":"string","description":"The override message is captured  that was generated at the time of commitment of the transaction to the database."}}}},"arrangementId":{"type":"string","description":"The identifier of the arrangement"},"productId":{"type":"string","description":"Id of the product."},"masterArrangementId":{"type":"string","description":""},"subArrangementName":{"type":"string","description":""},"currencyId":{"type":"string","description":"Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"activityId":{"type":"string","description":"Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"}}},"activities":{"type":"object","properties":{"{activityName}":{"type":"object","properties":{"activity":{"type":"string"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"id":{"type":"string","description":"The Identifier of the record created"}}}}},"properties":{"type":"object","properties":{"customer":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"customers":{"type":"array","description":"The customer number","items":{"type":"object","properties":{"customer":{"type":"string","description":"The customer number"},"customerRole":{"type":"string","description":"The customer role with drop down of standard selections"},"taxLiabilityPercentage":{"type":"number","description":""},"limitAllocactionPercentage":{"type":"number","description":""},"GLAllocactionPercentage":{"type":"number","description":""}}}},"jointLiability":{"type":"string","description":"Identifies if there is a joint liability on the limit record Allowed values: -YES -NO  "}}}}},"tcpermissions":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"definedCustomers":{"type":"array","items":{"type":"object","properties":{"definedCustomer":{"type":"string","description":""},"definedCustomerSel":{"type":"string","description":""},"definedCompanies":{"type":"array","items":{"type":"object","properties":{"definedCompany":{"type":"string","description":""}}}}}}},"defPrdGroups":{"type":"array","items":{"type":"object","properties":{"definedProductGroups":{"type":"string","description":""},"definedProductGroupSel":{"type":"string","description":""}}}},"relCustomers":{"type":"array","description":"The product for which the pricing plan is applicable","items":{"type":"object","properties":{"relationCustomer":{"type":"string","description":""},"productGroups":{"type":"string","description":"The group, as defined by the institution, that the product belongs to."},"productGroupSel":{"type":"string","description":""},"products":{"type":"array","items":{"type":"object","properties":{"product":{"type":"string","description":"The product for which the pricing plan is applicable"},"productSel":{"type":"string","description":""}}}}}}},"masterLevelChange":{"type":"string","description":""}}}}},"tcprivileges":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"services":{"type":"array","description":"Identifies the required operation to be executed for a Trade Finance contract. Input of valid codes as: O for opening of LC, P for Pre-advise of LC, A for Amend LC, C for Collect Charges, D for Decision on Amendments, T for Tracer, IO for LC through Internet Banking Operation and M for Ancillary Message (MT759)","items":{"type":"object","properties":{"service":{"type":"string","description":""},"serviceActive":{"type":"string","description":""},"operations":{"type":"array","items":{"type":"object","properties":{"operation":{"type":"string","description":"Identifies the required operation to be executed for a Trade Finance contract. Input of valid codes as: O for opening of LC, P for Pre-advise of LC, A for Amend LC, C for Collect Charges, D for Decision on Amendments, T for Tracer, IO for LC through Internet Banking Operation and M for Ancillary Message (MT759)"},"operationActive":{"type":"string","description":""}}}}}}},"masterLevelChange":{"type":"string","description":""}}}}},"tcavailability":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"day":{"type":"array","items":{"type":"object","properties":{"dayName":{"type":"string","description":""},"daySelect":{"type":"string","description":""},"time":{"type":"array","items":{"type":"object","properties":{"startTime":{"type":"string","description":"The time job was started"},"endTime":{"type":"string","description":"The time the job was ended.  "}}}}}}},"masterLevelChange":{"type":"string","description":""}}}}},"dailylimits":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"system":{"type":"array","description":"","items":{"type":"object","properties":{"systemId":{"type":"string","description":"The system application identifier from which the entry was generated"},"application":{"type":"array","items":{"type":"object","properties":{"applicationId":{"type":"string","description":"Application id."}}}}}}},"transaction":{"type":"array","description":"","items":{"type":"object","properties":{"type":{"type":"string","description":"The product condition has an activity type associated that drives an action."}}}},"currency":{"type":"string","description":"Identifies the underlying currency used for the transaction."},"riskRate":{"type":"array","items":{"type":"object","properties":{"benRiskRate":{"type":"string","description":""}}}},"timeOfDay":{"type":"string","description":""},"limitAmount":{"type":"number","description":"The Limit amount that is actually available for use.�The system limit checks are preformed against the online limit"}}}}},"tclicensing":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"noOfUsers":{"type":"string","description":""},"noOfRoles":{"type":"string","description":""}}}}}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ArrangementErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ArrangementHeader"},"error":{"$ref":"#/definitions/ArrangementErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ArrangementErrorResponse"},"ArrangementErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"property":{"type":"string","description":"The corresponding property"}}}},"type":{"type":"string","description":"The identifier of error type"}}},"holdingsOnlineService1":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/holdingsOnlineService1Body"}},"description":"holdingsOnlineService1"},"holdingsOnlineService1Body":{"type":"object","properties":{"customerIds":{"type":"array","description":"The identifier of the customer","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"}}}},"properties":{"type":"array","description":"Input is the� valid field name for the metrics evaluation of alerts","items":{"type":"object","properties":{"propertyId":{"type":"string","description":"The identifier of the product condition"},"fields":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"fieldValue":{"type":"string","description":""}}}}}}},"overrides":{"type":"array","description":"The override message is captured  that was generated at the time of commitment of the transaction to the database.","items":{"type":"object","properties":{"override":{"type":"string","description":"The override message is captured  that was generated at the time of commitment of the transaction to the database."}}}},"productId":{"type":"string","description":"Id of the product."},"masterArrangementId":{"type":"string","description":""},"subArrangementName":{"type":"string","description":""},"currencyId":{"type":"string","description":"Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"activityId":{"type":"string","description":"Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"},"customer":{"type":"object","properties":{"customers":{"type":"array","description":"The customer number","items":{"type":"object","properties":{"customer":{"type":"string","description":"The customer number"},"customerRole":{"type":"string","description":"The customer role with drop down of standard selections"},"taxLiabilityPercentage":{"type":"number","description":""},"limitAllocactionPercentage":{"type":"number","description":""},"GLAllocactionPercentage":{"type":"number","description":""}}}},"jointLiability":{"type":"string","description":"Identifies if there is a joint liability on the limit record Allowed values: -YES -NO  "}}},"tcpermissions":{"type":"object","properties":{"definedCustomers":{"type":"array","items":{"type":"object","properties":{"definedCustomer":{"type":"string","description":""},"definedCustomerSel":{"type":"string","description":""},"definedCompanies":{"type":"array","items":{"type":"object","properties":{"definedCompany":{"type":"string","description":""}}}}}}},"defPrdGroups":{"type":"array","items":{"type":"object","properties":{"definedProductGroups":{"type":"string","description":""},"definedProductGroupSel":{"type":"string","description":""}}}},"relCustomers":{"type":"array","description":"The product for which the pricing plan is applicable","items":{"type":"object","properties":{"relationCustomer":{"type":"string","description":""},"productGroups":{"type":"string","description":"The group, as defined by the institution, that the product belongs to."},"productGroupSel":{"type":"string","description":""},"products":{"type":"array","items":{"type":"object","properties":{"product":{"type":"string","description":"The product for which the pricing plan is applicable"},"productSel":{"type":"string","description":""}}}}}}},"masterLevelChange":{"type":"string","description":""}}},"tcprivileges":{"type":"object","properties":{"services":{"type":"array","description":"Identifies the required operation to be executed for a Trade Finance contract. Input of valid codes as: O for opening of LC, P for Pre-advise of LC, A for Amend LC, C for Collect Charges, D for Decision on Amendments, T for Tracer, IO for LC through Internet Banking Operation and M for Ancillary Message (MT759)","items":{"type":"object","properties":{"service":{"type":"string","description":""},"serviceActive":{"type":"string","description":""},"operations":{"type":"array","items":{"type":"object","properties":{"operation":{"type":"string","description":"Identifies the required operation to be executed for a Trade Finance contract. Input of valid codes as: O for opening of LC, P for Pre-advise of LC, A for Amend LC, C for Collect Charges, D for Decision on Amendments, T for Tracer, IO for LC through Internet Banking Operation and M for Ancillary Message (MT759)"},"operationActive":{"type":"string","description":""}}}}}}},"masterLevelChange":{"type":"string","description":""}}},"tcavailability":{"type":"object","properties":{"day":{"type":"array","items":{"type":"object","properties":{"dayName":{"type":"string","description":""},"daySelect":{"type":"string","description":""},"time":{"type":"array","items":{"type":"object","properties":{"startTime":{"type":"string","description":"The time job was started"},"endTime":{"type":"string","description":"The time the job was ended.  "}}}}}}},"masterLevelChange":{"type":"string","description":""}}},"dailylimits":{"type":"object","properties":{"system":{"type":"array","description":"","items":{"type":"object","properties":{"systemId":{"type":"string","description":"The system application identifier from which the entry was generated"},"application":{"type":"array","items":{"type":"object","properties":{"applicationId":{"type":"string","description":"Application id."}}}}}}},"transaction":{"type":"array","description":"","items":{"type":"object","properties":{"type":{"type":"string","description":"The product condition has an activity type associated that drives an action."}}}},"currency":{"type":"string","description":"Identifies the underlying currency used for the transaction."},"riskRate":{"type":"array","items":{"type":"object","properties":{"benRiskRate":{"type":"string","description":""}}}},"timeOfDay":{"type":"string","description":""},"limitAmount":{"type":"number","description":"The Limit amount that is actually available for use.�The system limit checks are preformed against the online limit"}}},"tclicensing":{"type":"object","properties":{"noOfUsers":{"type":"string","description":""},"noOfRoles":{"type":"string","description":""}}}}},"holdingsOnlineServiceResponse1":{"properties":{"header":{"$ref":"#/definitions/ArrangementHeader"},"body":{"$ref":"#/definitions/holdingsOnlineServiceResponse1Body"}},"description":"holdingsOnlineServiceResponse1"},"holdingsOnlineServiceResponse1Body":{"type":"object","properties":{"arrangementActivity":{"type":"object","properties":{"customerIds":{"type":"array","description":"The identifier of the customer","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"}}}},"properties":{"type":"array","description":"Input is the� valid field name for the metrics evaluation of alerts","items":{"type":"object","properties":{"propertyId":{"type":"string","description":"The identifier of the product condition"},"fields":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"fieldValue":{"type":"string","description":""}}}}}}},"overrides":{"type":"array","description":"The override message is captured  that was generated at the time of commitment of the transaction to the database.","items":{"type":"object","properties":{"override":{"type":"string","description":"The override message is captured  that was generated at the time of commitment of the transaction to the database."}}}},"arrangementId":{"type":"string","description":"The identifier of the arrangement"},"productId":{"type":"string","description":"Id of the product."},"masterArrangementId":{"type":"string","description":""},"subArrangementName":{"type":"string","description":""},"currencyId":{"type":"string","description":"Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"activityId":{"type":"string","description":"Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"}}},"activities":{"type":"object","properties":{"{activityName}":{"type":"object","properties":{"activity":{"type":"string"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"id":{"type":"string","description":"The Identifier of the record created"}}}}},"properties":{"type":"object","properties":{"customer":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"customers":{"type":"array","description":"The customer number","items":{"type":"object","properties":{"customer":{"type":"string","description":"The customer number"},"customerRole":{"type":"string","description":"The customer role with drop down of standard selections"},"taxLiabilityPercentage":{"type":"number","description":""},"limitAllocactionPercentage":{"type":"number","description":""},"GLAllocactionPercentage":{"type":"number","description":""}}}},"jointLiability":{"type":"string","description":"Identifies if there is a joint liability on the limit record Allowed values: -YES -NO  "}}}}},"tcpermissions":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"definedCustomers":{"type":"array","items":{"type":"object","properties":{"definedCustomer":{"type":"string","description":""},"definedCustomerSel":{"type":"string","description":""},"definedCompanies":{"type":"array","items":{"type":"object","properties":{"definedCompany":{"type":"string","description":""}}}}}}},"defPrdGroups":{"type":"array","items":{"type":"object","properties":{"definedProductGroups":{"type":"string","description":""},"definedProductGroupSel":{"type":"string","description":""}}}},"relCustomers":{"type":"array","description":"The product for which the pricing plan is applicable","items":{"type":"object","properties":{"relationCustomer":{"type":"string","description":""},"productGroups":{"type":"string","description":"The group, as defined by the institution, that the product belongs to."},"productGroupSel":{"type":"string","description":""},"products":{"type":"array","items":{"type":"object","properties":{"product":{"type":"string","description":"The product for which the pricing plan is applicable"},"productSel":{"type":"string","description":""}}}}}}},"masterLevelChange":{"type":"string","description":""}}}}},"tcprivileges":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"services":{"type":"array","description":"Identifies the required operation to be executed for a Trade Finance contract. Input of valid codes as: O for opening of LC, P for Pre-advise of LC, A for Amend LC, C for Collect Charges, D for Decision on Amendments, T for Tracer, IO for LC through Internet Banking Operation and M for Ancillary Message (MT759)","items":{"type":"object","properties":{"service":{"type":"string","description":""},"serviceActive":{"type":"string","description":""},"operations":{"type":"array","items":{"type":"object","properties":{"operation":{"type":"string","description":"Identifies the required operation to be executed for a Trade Finance contract. Input of valid codes as: O for opening of LC, P for Pre-advise of LC, A for Amend LC, C for Collect Charges, D for Decision on Amendments, T for Tracer, IO for LC through Internet Banking Operation and M for Ancillary Message (MT759)"},"operationActive":{"type":"string","description":""}}}}}}},"masterLevelChange":{"type":"string","description":""}}}}},"tcavailability":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"day":{"type":"array","items":{"type":"object","properties":{"dayName":{"type":"string","description":""},"daySelect":{"type":"string","description":""},"time":{"type":"array","items":{"type":"object","properties":{"startTime":{"type":"string","description":"The time job was started"},"endTime":{"type":"string","description":"The time the job was ended.  "}}}}}}},"masterLevelChange":{"type":"string","description":""}}}}},"dailylimits":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"system":{"type":"array","description":"","items":{"type":"object","properties":{"systemId":{"type":"string","description":"The system application identifier from which the entry was generated"},"application":{"type":"array","items":{"type":"object","properties":{"applicationId":{"type":"string","description":"Application id."}}}}}}},"transaction":{"type":"array","description":"","items":{"type":"object","properties":{"type":{"type":"string","description":"The product condition has an activity type associated that drives an action."}}}},"currency":{"type":"string","description":"Identifies the underlying currency used for the transaction."},"riskRate":{"type":"array","items":{"type":"object","properties":{"benRiskRate":{"type":"string","description":""}}}},"timeOfDay":{"type":"string","description":""},"limitAmount":{"type":"number","description":"The Limit amount that is actually available for use.�The system limit checks are preformed against the online limit"}}}}},"tclicensing":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"noOfUsers":{"type":"string","description":""},"noOfRoles":{"type":"string","description":""}}}}}}}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"holdingsCustomerProductsByProductGroupResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsCustomerProductsByProductGroupResponseBody"}},"description":"holdingsCustomerProductsByProductGroupResponse"},"holdingsCustomerProductsByProductGroupResponseBody":{"type":"array","items":{"type":"object","properties":{"products":{"type":"array","description":"The product for which the pricing plan is applicable","items":{"type":"object","properties":{"productId":{"type":"string","description":"Id of the product."},"currency":{"type":"string","description":"Identifies the underlying currency used for the transaction."},"productPermission":{"type":"string","description":""}}}},"productGroupName":{"type":"string","description":"Description of the product group"},"onlineServicesProductId":{"type":"string","description":""}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"holdingsOnlineServiceApprovalsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsOnlineServiceApprovalsResponseBody"}},"description":"holdingsOnlineServiceApprovalsResponse"},"holdingsOnlineServiceApprovalsResponseBody":{"type":"array","items":{"type":"object","properties":{"linkedSubArrangements":{"type":"array","items":{"type":"object","properties":{"linkedSubArrangementId":{"type":"string","description":""},"linkedSubArrangementName":{"type":"string","description":""}}}},"audit":{"type":"array","description":"The user identifier who input the transaction","items":{"type":"object","properties":{"recordStatus":{"type":"string","description":"General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides"},"inputterName":{"type":"string","description":""},"externalInputterName":{"type":"string","description":""},"inputters":{"type":"array","items":{"type":"object","properties":{"inputter":{"type":"string","description":"The user identifier who input the transaction"}}}}}}},"arrangementId":{"type":"string","description":"The identifier of the arrangement"},"arrangementStatus":{"type":"string","description":"Status of the arrangement: UNAUTH - input but not authorised yet. AUTH - authorised. AUTH-FWD (Forward) - authorised, will become active on a future date. CURRENT - the arrangement has begun full or partial disbursement. MATURED - the contract has matured and all dues have been cleared. EXPIRED - the contract has gone past its final payment date with some dues left unsettled. REVERSED - reversed. CANCELLED - cancelled (only for deposits) CLOSE - closed PENDING.CLOSURE - ready for closure"},"subArrangementName":{"type":"string","description":""},"productGroupId":{"type":"string","description":"The group, as defined by the institution, that the product belongs to."},"productGroupName":{"type":"string","description":"Description of the product group"},"productId":{"type":"string","description":"Id of the product."},"productName":{"type":"string","description":"Name of the product, which is also its Id."},"customerId":{"type":"string","description":"The identifier of the customer"},"customerName":{"type":"string","description":"Name of the customer"},"startDate":{"type":"string","format":"date","description":"Specifies the start date when the instruction will be made active"},"masterArrangementId":{"type":"string","description":""},"activityId":{"type":"string","description":"Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"},"pendingActivityId":{"type":"string","description":""}}}},"holdingsOnlineServicesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsOnlineServicesResponseBody"}},"description":"holdingsOnlineServicesResponse"},"holdingsOnlineServicesResponseBody":{"type":"array","items":{"type":"object","properties":{"linkedSubArrangements":{"type":"array","items":{"type":"object","properties":{"linkedSubArrangementId":{"type":"string","description":"","maxLength":20},"linkedSubArrangementName":{"type":"string","description":"","maxLength":35}}}},"audit":{"type":"array","items":{"type":"object","properties":{"pendingActivityId":{"type":"string","description":""},"recordStatus":{"type":"string","description":"General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides"},"inputter":{"type":"string","description":"The user identifier who input the transaction"},"inputterName":{"type":"string","description":""},"externalInputterName":{"type":"string","description":""}}}},"arrangementId":{"type":"string","description":"The identifier of the arrangement","maxLength":17},"arrangementStatus":{"type":"string","description":"Status of the arrangement: UNAUTH - input but not authorised yet. AUTH - authorised. AUTH-FWD (Forward) - authorised, will become active on a future date. CURRENT - the arrangement has begun full or partial disbursement. MATURED - the contract has matured and all dues have been cleared. EXPIRED - the contract has gone past its final payment date with some dues left unsettled. REVERSED - reversed. CANCELLED - cancelled (only for deposits) CLOSE - closed PENDING.CLOSURE - ready for closure","maxLength":15},"subArrangementName":{"type":"string","description":"","maxLength":35},"productGroupId":{"type":"string","description":"The group, as defined by the institution, that the product belongs to.","maxLength":30},"productGroupName":{"type":"string","description":"Description of the product group","maxLength":30},"productId":{"type":"string","description":"Id of the product.","maxLength":30},"productName":{"type":"string","description":"Name of the product, which is also its Id.","maxLength":30},"customerId":{"type":"string","description":"The identifier of the customer","maxLength":10},"customerName":{"type":"string","description":"Name of the customer","maxLength":35},"masterArrangementId":{"type":"string","description":"","maxLength":20},"activityId":{"type":"string","description":"Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"}}}},"holdingsExternalUserAllocationsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsExternalUserAllocationsResponseBody"}},"description":"holdingsExternalUserAllocationsResponse"},"holdingsExternalUserAllocationsResponseBody":{"type":"array","items":{"type":"object","properties":{"externalUserId":{"type":"string","description":"The identifier of the external user","maxLength":18},"customerId":{"type":"string","description":"The identifier of the customer","maxLength":18},"externalUserName":{"type":"string","description":"External or Digital Channel User Name","maxLength":30},"arrangementId":{"type":"string","description":"The identifier of the arrangement","maxLength":30},"subArrangementId":{"type":"string","description":"","maxLength":30},"subArrangementName":{"type":"string","description":"","maxLength":35},"externalUserStatus":{"type":"string","description":"External User Access status. Can be Active,  Inactive, Barred, Initiated","maxLength":10},"usersCount":{"type":"string","description":"","maxLength":6},"totalUsersCount":{"type":"string","description":"","maxLength":6},"countUserLicensese":{"type":"string","description":"","maxLength":6},"subArrangementsCount":{"type":"string","description":"","maxLength":6},"subArrangementLicensesCount":{"type":"string","description":"","maxLength":6}}}}}}