{"swagger":"2.0","info":{"description":"List unauthorised activities","version":"v1.0.0","title":"getUnapprovedActivities"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/arrangements/unapprovedAAActivites":{"get":{"operationId":"getUnauthorisedAAA","produces":["application/json"],"parameters":[{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"activity","in":"query","description":"","required":false,"type":"string"},{"name":"arrangementId","in":"query","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","required":false,"type":"string"},{"name":"product","in":"query","description":"","required":false,"type":"string"},{"name":"currency","in":"query","description":"","required":false,"type":"string"},{"name":"contractId","in":"query","description":"The identifier of the contract","required":false,"type":"string"},{"name":"transactionAmount","in":"query","description":"The transaction amount","required":false,"type":"string"},{"name":"transactionAmountLocalCurrency","in":"query","required":false,"type":"string"},{"name":"applicationId","in":"query","description":"The identifier of the application","required":false,"type":"string"},{"name":"inputter","in":"query","description":"This shows the user who entered the transaction","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"UnauthorisedAAAResponse","schema":{"$ref":"#/definitions/UnauthorisedAAAResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"UnauthorisedAAAResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/UnauthorisedAAAResponseBody"}},"description":"UnauthorisedAAAResponse"},"UnauthorisedAAAResponseBody":{"type":"array","items":{"type":"object","properties":{"customer":{"type":"string","description":"","maxLength":10},"customerName":{"type":"string","description":"The name that is displayed for the customer","maxLength":19},"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","maxLength":20},"productDescription":{"type":"string","description":"Description for the product","maxLength":40},"currency":{"type":"string","description":"","maxLength":3},"transactionAmount":{"type":"string","description":"The transaction amount","maxLength":19},"arrangementActivity":{"type":"string","description":"","maxLength":40},"activityName":{"type":"string","description":"The name of the activity that is displayed","maxLength":40},"transactionType":{"type":"string","description":"","maxLength":6},"transactionId":{"type":"string","description":"The unique transaction identifier"},"inputter":{"type":"string","description":"This shows the user who entered the transaction","maxLength":40},"date":{"type":"string","description":"","maxLength":10},"status":{"type":"string","description":"Get a detail status of the specified service/services","maxLength":4}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}