{
    "swagger": "2.0",
    "info":
    {
        "description": "Overall cash inflow and outflow projection ",
        "version": "v1.0.0",
        "title": "Get Cash Flow Position"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/holdings/treasury/positions/cash":
        {
            "get":
            {
                "operationId": "getTreasuryCashPosition",
                "produces": ["application/json"],
                "description": "Gets the cash flow position of the holdings",
                "parameters": [
                {
                    "name": "currency",
                    "in": "query",
                    "description": "Identifies the underlying currency used for the transaction.",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "dealerDesk",
                    "in": "query",
                    "description": "The dealer/desk responsible for monitoring and managing the currency positions.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "currencyMarket",
                    "in": "query",
                    "description": "",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "calendar",
                    "in": "query",
                    "description": "",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "TreasuryCashPositionResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/TreasuryCashPositionResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "QueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                }
            }
        },
        "TreasuryCashPositionResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/TreasuryCashPositionResponseBody"
                }
            },
            "description": "TreasuryCashPositionResponse"
        },
        "TreasuryCashPositionResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "date":
                    {
                        "type": "string",
                        "description": "Date",
                        "maxLength": 12
                    },
                    "amountIn":
                    {
                        "type": "number",
                        "description": "The amount of cash inflow."
                    },
                    "amountOut":
                    {
                        "type": "number",
                        "description": "The amount of cash outflow. "
                    },
                    "netAmount":
                    {
                        "type": "number",
                        "description": "Holds the total amount"
                    },
                    "amountCarryForward":
                    {
                        "type": "number",
                        "description": "The balance amount carried forward for the next period."
                    },
                    "transactionIds":
                    {
                        "type": "string",
                        "description": "The unique transaction identifier",
                        "maxLength": 35
                    }
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "QueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/QueryErrorResponseBody"
                }
            },
            "description": "QueryErrorResponse"
        },
        "QueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        }
    }
}