{
    "swagger": "2.0",
    "info":
    {
        "description": "Enquiry for claims received under guarantees",
        "version": "v1.0.0",
        "title": "getReceivedClaimsUnderGuarantees"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/holdings/guarantees/{guaranteeId}/receivedClaims":
        {
            "get":
            {
                "operationId": "getReceivedClaimsUnderGuarantees",
                "produces": ["application/json"],
                "description": "Gets the claims paid or cancelled",
                "parameters": [
                {
                    "name": "guaranteeId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "beneficiary",
                    "in": "query",
                    "description": "",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "debitAccountId",
                    "in": "query",
                    "description": "The identifier of the debit account",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "creditAccountId",
                    "in": "query",
                    "description": "The identifier of the credit account",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "amount",
                    "in": "query",
                    "description": "",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "debitValueDate",
                    "in": "query",
                    "description": "The date on which the Invocation amount will be debited for settlement",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "creditValueDate",
                    "in": "query",
                    "description": "The value date applied to the credit side of a payment",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "correspondentBank",
                    "in": "query",
                    "description": "Field to state the Customer of the Nostro account",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "getReceivedClaimsUnderGuaranteesResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/getReceivedClaimsUnderGuaranteesResponse"
                        }
                    },
                    "default":
                    {
                        "description": "getReceivedClaimsUnderGuaranteesErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/getReceivedClaimsUnderGuaranteesErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "QueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                }
            }
        },
        "getReceivedClaimsUnderGuaranteesResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/getReceivedClaimsUnderGuaranteesResponseBody"
                }
            },
            "description": "getReceivedClaimsUnderGuaranteesResponse"
        },
        "getReceivedClaimsUnderGuaranteesResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "beneficiaries":
                    {
                        "type": "array",
                        "description": "",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "beneficiary":
                                {
                                    "type": "string",
                                    "description": "",
                                    "maxLength": 50
                                }
                            }
                        }
                    },
                    "debitValueDates":
                    {
                        "type": "array",
                        "description": "The date on which the Invocation amount will be debited for settlement",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "debitValueDate":
                                {
                                    "type": "string",
                                    "description": "The date on which the Invocation amount will be debited for settlement",
                                    "maxLength": 12
                                }
                            }
                        }
                    },
                    "debitAccountIds":
                    {
                        "type": "array",
                        "description": "The identifier of the debit account",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "debitAccountId":
                                {
                                    "type": "string",
                                    "description": "The identifier of the debit account"
                                }
                            }
                        }
                    },
                    "creditValueDates":
                    {
                        "type": "array",
                        "description": "The value date applied to the credit side of a payment",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "creditValueDate":
                                {
                                    "type": "string",
                                    "description": "The value date applied to the credit side of a payment",
                                    "maxLength": 11
                                }
                            }
                        }
                    },
                    "creditAccountIds":
                    {
                        "type": "array",
                        "description": "The identifier of the credit account",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "creditAccountId":
                                {
                                    "type": "string",
                                    "description": "The identifier of the credit account"
                                }
                            }
                        }
                    },
                    "amounts":
                    {
                        "type": "array",
                        "description": "",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "amount":
                                {
                                    "type": "string",
                                    "description": ""
                                }
                            }
                        }
                    },
                    "correspondentBanks":
                    {
                        "type": "array",
                        "description": "Field to state the Customer of the Nostro account",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "correspondentBank":
                                {
                                    "type": "string",
                                    "description": "Field to state the Customer of the Nostro account",
                                    "maxLength": 10
                                }
                            }
                        }
                    },
                    "transactionReference":
                    {
                        "type": "string",
                        "description": "The transaction reference identifier",
                        "maxLength": 16
                    },
                    "invocationStatus":
                    {
                        "type": "string",
                        "description": "Indicaties the status of Invocation recived under a guarantee",
                        "maxLength": 7
                    }
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "getReceivedClaimsUnderGuaranteesErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/getReceivedClaimsUnderGuaranteesErrorResponseBody"
                }
            },
            "description": "getReceivedClaimsUnderGuaranteesErrorResponse"
        },
        "getReceivedClaimsUnderGuaranteesErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        }
    }
}