{
    "swagger": "2.0",
    "info":
    {
        "description": "List history hierarchy details for Bundle Arrangements",
        "version": "v1.0.0",
        "title": "Bundle History Detail APIs"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/holdings/cashManagement/bundles/{bundleId}/status":
        {
            "get":
            {
                "description": "History of Bundle Hierarchy",
                "operationId": "getBundleHistoryDetails",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "bundleId",
                    "in": "path",
                    "description": "",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "BundleHistoryDetailsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BundleHistoryDetailsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "QueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                }
            }
        },
        "BundleHistoryDetailsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/BundleHistoryDetailsResponseBody"
                }
            },
            "description": "BundleHistoryDetailsResponse"
        },
        "BundleHistoryDetailsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "account":
                    {
                        "type": "string",
                        "description": "Account Identifier in the transaction/deal"
                    },
                    "product":
                    {
                        "type": "string",
                        "description": "The product for which the pricing plan is applicable"
                    },
                    "customer":
                    {
                        "type": "string",
                        "description": "The customer number",
                        "maxLength": 17
                    },
                    "customerName":
                    {
                        "type": "string",
                        "description": "Name of the customer",
                        "maxLength": 35
                    },
                    "parentAccount":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 19
                    },
                    "country":
                    {
                        "type": "string",
                        "description": "The country component of the base address of a customer",
                        "maxLength": 40
                    },
                    "name":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 35
                    },
                    "status":
                    {
                        "type": "string",
                        "description": "The status identifier"
                    },
                    "date":
                    {
                        "type": "string",
                        "description": "Date"
                    },
                    "currency":
                    {
                        "type": "string",
                        "description": "Identifies the underlying currency used for the transaction.",
                        "maxLength": 3
                    },
                    "bookingBalance":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "valueDatedBalance":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "balance":
                    {
                        "type": "string",
                        "description": "The monetary value of each balance type for an account is itemised."
                    }
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "QueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/QueryErrorResponseBody"
                }
            },
            "description": "QueryErrorResponse"
        },
        "QueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        }
    }
}