{
    "swagger": "2.0",
    "info":
    {
        "description": "Enquiry for Guarantees expiring for the client",
        "version": "v1.0.0",
        "title": "getExpiringGuarantees"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/holdings/customers/{customerId}/guarantees/expiries":
        {
            "get":
            {
                "operationId": "getExpiringGuarantees",
                "produces": ["application/json"],
                "description": "Gets the expiring guarantees of the customer",
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "The identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "transactionReference",
                    "in": "query",
                    "description": "The transaction reference identifier.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "currency",
                    "in": "query",
                    "description": "Identifies the underlying currency used for the transaction.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "amount",
                    "in": "query",
                    "description": "This is the payment amount",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "maturityDate",
                    "in": "query",
                    "description": "The delivery period or maturity date of the contract transacted",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "gteeReturnDate",
                    "in": "query",
                    "description": "Date on which the original Guarantee will be returned by the customer to the Bank that issued it",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "ExpiringGuaranteesResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ExpiringGuaranteesResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "QueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                }
            }
        },
        "ExpiringGuaranteesResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/ExpiringGuaranteesResponseBody"
                }
            },
            "description": "ExpiringGuaranteesResponse"
        },
        "ExpiringGuaranteesResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "transactionReference":
                    {
                        "type": "string",
                        "description": "The transaction reference identifier.",
                        "maxLength": 17
                    },
                    "customer":
                    {
                        "type": "string",
                        "description": "The customer number",
                        "maxLength": 20
                    },
                    "guaranteeType":
                    {
                        "type": "string",
                        "description": "Refers to the type of the contract that is being issued.",
                        "maxLength": 25
                    },
                    "currency":
                    {
                        "type": "string",
                        "description": "Identifies the underlying currency used for the transaction.",
                        "maxLength": 3
                    },
                    "amount":
                    {
                        "type": "number",
                        "description": "This is the payment amount"
                    },
                    "issueDate":
                    {
                        "type": "string",
                        "format": "date",
                        "description": "The date the item was issued."
                    },
                    "expiryDate":
                    {
                        "type": "string",
                        "format": "date",
                        "description": "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
                    },
                    "maturityDate":
                    {
                        "type": "string",
                        "format": "date",
                        "description": "The delivery period or maturity date of the contract transacted"
                    },
                    "autoExpiry":
                    {
                        "type": "string",
                        "description": "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not Allowed values: - YES - NO - null (default value, same as NO)",
                        "maxLength": 3
                    }
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "QueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/QueryErrorResponseBody"
                }
            },
            "description": "QueryErrorResponse"
        },
        "QueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        }
    }
}