{
    "swagger": "2.0",
    "info":
    {
        "description": "Retrieves Nostro position information for the legal entity",
        "version": "v1.0.0",
        "title": "Holdings Nostros APIs"
    },
    "host": "api.temenos.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/holdings/nostros/forwardBalances":
        {
            "get":
            {
                "operationId": "getNostroForwardBalances",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "valueDate",
                    "in": "query",
                    "description": "Shows the date on which the underlying accounting entry is to be given value (for interest purposes).",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "description": "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "NostroForwardBalancesResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/NostroForwardBalancesResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/holdings/nostros/currencyBalances/{currencyId}/accounts":
        {
            "get":
            {
                "operationId": "getNostroBalances",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "currencyId",
                    "in": "path",
                    "description": "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "nostroId",
                    "in": "query",
                    "description": "Nostro account id",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "NostroBalancesResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/NostroBalancesResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/holdings/nostros/currencyBalances/{currencyId}":
        {
            "get":
            {
                "operationId": "getNostroCurrencyPositions",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "currencyId",
                    "in": "path",
                    "description": "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "NostroCurrencyPositionsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/NostroCurrencyPositionsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/holdings/nostros/positions/{currencyId}":
        {
            "get":
            {
                "operationId": "getNostroPositions",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "currencyId",
                    "in": "path",
                    "description": "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "longPositionSign",
                    "in": "query",
                    "description": "Polarity (sign) used to denote buy position balance.  ",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "NostroPositionsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/NostroPositionsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "NostroForwardBalancesResponseQueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                },
                "data":
                {
                    "type": "object",
                    "properties":
                    {
                        "H_ACCOUNT":
                        {
                            "type": "number",
                            "description": ""
                        },
                        "H_CUSTOMER":
                        {
                            "type": "string",
                            "description": "",
                            "maxLength": 19
                        },
                        "H_CUSTOMER_NAME":
                        {
                            "type": "string",
                            "description": "",
                            "maxLength": 30
                        },
                        "H_CURRENCY":
                        {
                            "type": "string",
                            "description": "",
                            "maxLength": 3
                        },
                        "BGT_FWD":
                        {
                            "type": "number",
                            "description": ""
                        }
                    }
                }
            }
        },
        "NostroForwardBalancesResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/NostroForwardBalancesResponseQueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/NostroForwardBalancesResponseBody"
                }
            },
            "description": "NostroForwardBalancesResponse"
        },
        "NostroForwardBalancesResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "valueDate":
                    {
                        "type": "string",
                        "format": "date",
                        "description": "Shows the date on which the underlying accounting entry is to be given value (for interest purposes)."
                    },
                    "displayName":
                    {
                        "type": "string",
                        "description": "Name used for display or enrichment purposes",
                        "maxLength": 25
                    },
                    "transactionReference":
                    {
                        "type": "string",
                        "description": "The transaction reference identifier.",
                        "maxLength": 100
                    },
                    "bookingDate":
                    {
                        "type": "string",
                        "description": "The business date on which the accounting entry was generated.",
                        "maxLength": 11
                    },
                    "balance":
                    {
                        "type": "number",
                        "description": "The monetary value of each balance type for an account is itemised."
                    }
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "QueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/QueryErrorResponseBody"
                }
            },
            "description": "QueryErrorResponse"
        },
        "QueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        },
        "QueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                }
            }
        },
        "NostroBalancesResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/NostroBalancesResponseBody"
                }
            },
            "description": "NostroBalancesResponse"
        },
        "NostroBalancesResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "balances":
                    {
                        "type": "array",
                        "description": "The monetary value of each balance type for an account is itemised.",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "date":
                                {
                                    "type": "array",
                                    "description": "Date",
                                    "items":
                                    {
                                        "type": "string"
                                    }
                                },
                                "balance":
                                {
                                    "type": "array",
                                    "description": "The monetary value of each balance type for an account is itemised.",
                                    "items":
                                    {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "accountId":
                    {
                        "type": "string",
                        "description": "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.",
                        "maxLength": 3
                    }
                }
            }
        },
        "NostroCurrencyPositionsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/NostroCurrencyPositionsResponseBody"
                }
            },
            "description": "NostroCurrencyPositionsResponse"
        },
        "NostroCurrencyPositionsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "currency":
                    {
                        "type": "string",
                        "description": "Identifies the underlying currency used for the transaction.",
                        "maxLength": 3
                    },
                    "balance1":
                    {
                        "type": "number",
                        "description": "Balance corresponding to first day."
                    },
                    "balance2":
                    {
                        "type": "number",
                        "description": "Balance corresponding to second day."
                    },
                    "balance3":
                    {
                        "type": "number",
                        "description": "Balance corresponding to third day."
                    },
                    "balance4":
                    {
                        "type": "number",
                        "description": "Balance corresponding to fourth day."
                    },
                    "balance5":
                    {
                        "type": "number",
                        "description": "Balance corresponding to fifth day."
                    }
                }
            }
        },
        "NostroPositionsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/NostroPositionsResponseBody"
                }
            },
            "description": "NostroPositionsResponse"
        },
        "NostroPositionsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "bankName":
                    {
                        "type": "string",
                        "description": "\"The name of the bank being referred to.\r \"",
                        "maxLength": 20
                    },
                    "accountId":
                    {
                        "type": "string",
                        "description": "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."
                    },
                    "balance1":
                    {
                        "type": "number",
                        "description": "Balance corresponding to first day."
                    },
                    "balance2":
                    {
                        "type": "number",
                        "description": "Balance corresponding to second day."
                    },
                    "balance3":
                    {
                        "type": "number",
                        "description": "Balance corresponding to third day."
                    },
                    "balance4":
                    {
                        "type": "number",
                        "description": "Balance corresponding to fourth day."
                    },
                    "balance5":
                    {
                        "type": "number",
                        "description": "Balance corresponding to fifth day."
                    }
                }
            }
        }
    }
}