{
    "swagger": "2.0",
    "info":
    {
        "description": "Enquiry for export LCs outstanding",
        "version": "v1.0.0",
        "title": "getExportLCsOutstanding"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/holdings/LetterOfCredits/{letterOfCreditId}/exports/outstandings":
        {
            "get":
            {
                "operationId": "getExportLCsOutstanding",
                "produces": ["application/json"],
                "description": "Gets the outstanding Letter of credits of a customer",
                "parameters": [
                {
                    "name": "letterOfCreditId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "issuingBankId",
                    "in": "query",
                    "description": "Identifies the Issuing bank ID under the LC, who issues the LC",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "lcCurrency",
                    "in": "query",
                    "description": "Denote the currency of the Letter of Credit.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "lcAmount",
                    "in": "query",
                    "description": "This field indicates the amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "beneficiaryCustomerId",
                    "in": "query",
                    "description": "The customer identifier where the beneficiary is a customer of the bank",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "expiryDate",
                    "in": "query",
                    "description": "The date an agreement such as a credit facility or limit is due to expire",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "liabilityReversalDate",
                    "in": "query",
                    "description": "Date on which the contigent entries and the limits raised on the LC will be reversed.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "getExportLCsOutstandingResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/getExportLCsOutstandingResponse"
                        }
                    },
                    "default":
                    {
                        "description": "getExportLCsOutstandingErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/getExportLCsOutstandingErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "QueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                }
            }
        },
        "getExportLCsOutstandingResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/getExportLCsOutstandingResponseBody"
                }
            },
            "description": "getExportLCsOutstandingResponse"
        },
        "getExportLCsOutstandingResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "beneficiaries":
                    {
                        "type": "array",
                        "description": "",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "beneficiary":
                                {
                                    "type": "string",
                                    "description": ""
                                }
                            }
                        }
                    },
                    "transactionReference":
                    {
                        "type": "string",
                        "description": "The transaction reference identifier",
                        "maxLength": 14
                    },
                    "advisingReference":
                    {
                        "type": "string",
                        "description": "Identifies the Advising banks LCs number (or reference of the L/C from legacy system)",
                        "maxLength": 16
                    },
                    "lcNumber":
                    {
                        "type": "string",
                        "description": "Identifies the banks LCs number (or reference of the L/C from legacy system)",
                        "maxLength": 16
                    },
                    "lcType":
                    {
                        "type": "string",
                        "description": "Indicates the type of LC, whether this is an Import/Export, Confirmed/Unconfirmed/Revolving/Transferrable/Back to Back LC/documentary collection/Clean collection etc.",
                        "maxLength": 35
                    },
                    "issueDate":
                    {
                        "type": "string",
                        "format": "date",
                        "description": "The date the item was issued."
                    },
                    "issuingBankId":
                    {
                        "type": "string",
                        "description": "Identifies the Issuing bank ID under the LC, who issues the LC",
                        "maxLength": 35
                    },
                    "currency":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 3
                    },
                    "amount":
                    {
                        "type": "number",
                        "description": ""
                    },
                    "outstandingAmount":
                    {
                        "type": "string",
                        "description": "Identifies the total outstanding amount for the corresponding Liability number and Limit reference. "
                    },
                    "liabilityAmount":
                    {
                        "type": "string",
                        "description": "It’s a system populated field that indicates the total liability amount in respect of each issued or confirmed letters of credit"
                    },
                    "expiryDate":
                    {
                        "type": "string",
                        "format": "date",
                        "description": "The date an agreement such as a credit facility or limit is due to expire"
                    },
                    "liabilityReversalDate":
                    {
                        "type": "string",
                        "format": "date",
                        "description": "Date on which the contigent entries and the limits raised on the LC will be reversed."
                    }
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "getExportLCsOutstandingErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/getExportLCsOutstandingErrorResponseBody"
                }
            },
            "description": "getExportLCsOutstandingErrorResponse"
        },
        "getExportLCsOutstandingErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        }
    }
}