{
    "swagger": "2.0",
    "info":
    {
        "description": "View of the customer's Forex orders, create and cancellation of Forex Limit Orders, Creation of Forex Orders and View of Forex Orders",
        "version": "v1.0.0",
        "title": "Get FX Customer Orders"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/order/forexOrders/limitOrders/{limitOrderId}":
        {
            "get":
            {
                "operationId": "getCustomerForexLimitOrders",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "limitOrderId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "customerId",
                    "in": "query",
                    "description": "The identifier of the customer",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "CustomerForexLimitOrdersResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/CustomerForexLimitOrdersResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            },
            "put":
            {
                "operationId": "updateForexLimitOrder",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "limitOrderId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/ForexLimitOrder"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "ForexLimitOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ForexLimitOrderResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/forexOrders/limitOrders":
        {
            "post":
            {
                "operationId": "createForexLimitOrder",
                "produces": ["application/json"],
                "description": "Create limit order for Forex",
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/ForexLimitOrder1"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "ForexLimitOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ForexLimitOrderResponse1"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/forexOrders/customers/{customerId}":
        {
            "get":
            {
                "operationId": "getCustomerForexDeals",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "The identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "CustomerForexDealsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/CustomerForexDealsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/forexOrders":
        {
            "post":
            {
                "operationId": "createForexOrder",
                "produces": ["application/json"],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/ForexOrder"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "ForexOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ForexOrderResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "QueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                }
            }
        },
        "CustomerForexLimitOrdersResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/CustomerForexLimitOrdersResponseBody"
                }
            },
            "description": "CustomerForexLimitOrdersResponse"
        },
        "CustomerForexLimitOrdersResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "transactionReference":
                    {
                        "type": "string",
                        "description": "The transaction reference identifier.",
                        "maxLength": 14
                    },
                    "dealDate":
                    {
                        "type": "string",
                        "format": "date",
                        "description": "Date on which the deal was agreed. "
                    },
                    "orderCurrency":
                    {
                        "type": "string",
                        "description": "Currency to be bought or sold through the limit  order.",
                        "maxLength": 3
                    },
                    "orderAmount":
                    {
                        "type": "number",
                        "description": "The amount of the order"
                    },
                    "contraCurrency":
                    {
                        "type": "string",
                        "description": "Opposite to order currency. Currency of the amount paid or received against order amount bought/sold.",
                        "maxLength": 3
                    },
                    "contraAmount":
                    {
                        "type": "number",
                        "description": "Opposite to order amount. Amount paid or received against order amount bought/sold."
                    },
                    "buyOrSell":
                    {
                        "type": "string",
                        "description": "Whether the transaction is a buy or a sell.",
                        "maxLength": 4
                    },
                    "orderStatus":
                    {
                        "type": "string",
                        "description": "Status of the order.",
                        "maxLength": 12
                    },
                    "exchangeRate":
                    {
                        "type": "number",
                        "description": "Contains the exchange rate applicable"
                    },
                    "forexDealId":
                    {
                        "type": "string",
                        "description": "The  FX deal reference number. ",
                        "maxLength": 15
                    },
                    "orderRateLow":
                    {
                        "type": "number",
                        "description": "The low rate stipulated for order execution."
                    },
                    "orderRateHI":
                    {
                        "type": "number",
                        "description": "The high rate stipulated for order execution."
                    }
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "QueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/QueryErrorResponseBody"
                }
            },
            "description": "QueryErrorResponse"
        },
        "QueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        },
        "PayloadHeader":
        {
            "properties":
            {
                "override":
                {
                    "type": "object",
                    "properties":
                    {
                        "overrideDetails":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "id":
                                    {
                                        "type": "string",
                                        "description": "The identifier of the override"
                                    },
                                    "description":
                                    {
                                        "type": "string",
                                        "description": "The actual override message"
                                    },
                                    "responseCode":
                                    {
                                        "type": "string",
                                        "description": "The user input to accept/reject the override."
                                    }
                                }
                            }
                        }
                    }
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        }
                    }
                }
            }
        },
        "ForexLimitOrder":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/ForexLimitOrderBody"
                }
            },
            "description": "ForexLimitOrder"
        },
        "ForexLimitOrderBody":
        {
            "type": "object",
            "properties":
            {
                "orderCurrency":
                {
                    "type": "string",
                    "description": "Currency to be bought or sold through the limit  order."
                },
                "contraCurrency":
                {
                    "type": "string",
                    "description": "Opposite to order currency. Currency of the amount paid or received against order amount bought/sold."
                },
                "orderAmount":
                {
                    "type": "number",
                    "description": "The amount of the order"
                },
                "cancelOrder":
                {
                    "type": "string",
                    "description": "Option to cancel an order."
                },
                "remarks":
                {
                    "type": "string",
                    "description": "General comments / notes."
                }
            }
        },
        "ScreenHeader":
        {
            "properties":
            {
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "The status of the record"
                },
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "ForexLimitOrderResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ScreenHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/ForexLimitOrderResponseBody"
                }
            },
            "description": "ForexLimitOrderResponse"
        },
        "ForexLimitOrderResponseBody":
        {
            "type": "object",
            "properties":
            {
                "orderCurrency":
                {
                    "type": "string",
                    "description": "Currency to be bought or sold through the limit  order."
                },
                "contraCurrency":
                {
                    "type": "string",
                    "description": "Opposite to order currency. Currency of the amount paid or received against order amount bought/sold."
                },
                "orderAmount":
                {
                    "type": "number",
                    "description": "The amount of the order"
                },
                "cancelOrder":
                {
                    "type": "string",
                    "description": "Option to cancel an order."
                },
                "remarks":
                {
                    "type": "string",
                    "description": "General comments / notes."
                }
            }
        },
        "overrideBody":
        {
            "properties":
            {
                "overrideDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "id":
                            {
                                "type": "string",
                                "description": "The identifier of the override"
                            },
                            "description":
                            {
                                "type": "string",
                                "description": "The actual override message"
                            }
                        }
                    }
                }
            }
        },
        "ScreenErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/ScreenErrorResponseBody"
                },
                "override":
                {
                    "$ref": "#/definitions/overrideBody"
                }
            },
            "description": "ScreenErrorResponse"
        },
        "ScreenErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "errorDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "fieldName":
                            {
                                "type": "string",
                                "description": "The name of the field"
                            },
                            "code":
                            {
                                "type": "string",
                                "description": "The identifier of the error message"
                            },
                            "message":
                            {
                                "type": "string",
                                "description": "The actual t24 error message"
                            }
                        }
                    }
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        },
        "ForexLimitOrder1":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/ForexLimitOrder1Body"
                }
            },
            "description": "ForexLimitOrder1"
        },
        "ForexLimitOrder1Body":
        {
            "type": "object",
            "properties":
            {
                "buyOrSells":
                {
                    "type": "array",
                    "description": "Whether the transaction is a buy or a sell.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "buyOrSell":
                            {
                                "type": "string",
                                "description": "Whether the transaction is a buy or a sell."
                            },
                            "orderItemType":
                            {
                                "type": "string",
                                "description": "Purpose of the order i.e. stop loss , take profit or one cancels the other."
                            },
                            "orderAmount":
                            {
                                "type": "number",
                                "description": "The amount of the order"
                            },
                            "orderRateLow":
                            {
                                "type": "string",
                                "description": "The low rate stipulated for order execution."
                            },
                            "orderRateHI":
                            {
                                "type": "string",
                                "description": "The high rate stipulated for order execution."
                            }
                        }
                    }
                },
                "dealType":
                {
                    "type": "string",
                    "description": "Foreign Exchange deal type. Allowed values: - SP(spot) - FW(forward) - SW(Swap)"
                },
                "customerId":
                {
                    "type": "string",
                    "description": "The identifier of the customer"
                },
                "dealerDesk":
                {
                    "type": "string",
                    "description": "The dealer/desk responsible for monitoring and managing the currency positions."
                },
                "orderCurrency":
                {
                    "type": "string",
                    "description": "Currency to be bought or sold through the limit  order."
                },
                "contraCurrency":
                {
                    "type": "string",
                    "description": "Opposite to order currency. Currency of the amount paid or received against order amount bought/sold."
                },
                "valueDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Shows the date on which the underlying accounting entry is to be given value (for interest purposes)."
                },
                "expiryDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
                },
                "expiryTime":
                {
                    "type": "string",
                    "description": "The time when the order expires."
                },
                "goodTillCancel":
                {
                    "type": "string",
                    "description": "The  order does not expire until it is cancelled. "
                },
                "orderType":
                {
                    "type": "string",
                    "description": "Order type i.e.  single, if done, revolving and one cancels other."
                },
                "receiveAccount":
                {
                    "type": "string",
                    "description": "The account used for payment received."
                },
                "payAccount":
                {
                    "type": "string",
                    "description": "The account used for payment made."
                },
                "remarks":
                {
                    "type": "string",
                    "description": "General comments / notes."
                }
            }
        },
        "ForexLimitOrderResponse1":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ScreenHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/ForexLimitOrderResponse1Body"
                }
            },
            "description": "ForexLimitOrderResponse1"
        },
        "ForexLimitOrderResponse1Body":
        {
            "type": "object",
            "properties":
            {
                "buyOrSells":
                {
                    "type": "array",
                    "description": "Whether the transaction is a buy or a sell.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "buyOrSell":
                            {
                                "type": "string",
                                "description": "Whether the transaction is a buy or a sell."
                            },
                            "orderItemType":
                            {
                                "type": "string",
                                "description": "Purpose of the order i.e. stop loss , take profit or one cancels the other."
                            },
                            "orderAmount":
                            {
                                "type": "number",
                                "description": "The amount of the order"
                            },
                            "orderRateLow":
                            {
                                "type": "string",
                                "description": "The low rate stipulated for order execution."
                            },
                            "orderRateHI":
                            {
                                "type": "string",
                                "description": "The high rate stipulated for order execution."
                            }
                        }
                    }
                },
                "dealType":
                {
                    "type": "string",
                    "description": "Foreign Exchange deal type. Allowed values: - SP(spot) - FW(forward) - SW(Swap)"
                },
                "customerId":
                {
                    "type": "string",
                    "description": "The identifier of the customer"
                },
                "dealerDesk":
                {
                    "type": "string",
                    "description": "The dealer/desk responsible for monitoring and managing the currency positions."
                },
                "orderCurrency":
                {
                    "type": "string",
                    "description": "Currency to be bought or sold through the limit  order."
                },
                "contraCurrency":
                {
                    "type": "string",
                    "description": "Opposite to order currency. Currency of the amount paid or received against order amount bought/sold."
                },
                "valueDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Shows the date on which the underlying accounting entry is to be given value (for interest purposes)."
                },
                "expiryDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
                },
                "expiryTime":
                {
                    "type": "string",
                    "description": "The time when the order expires."
                },
                "goodTillCancel":
                {
                    "type": "string",
                    "description": "The  order does not expire until it is cancelled. "
                },
                "orderType":
                {
                    "type": "string",
                    "description": "Order type i.e.  single, if done, revolving and one cancels other."
                },
                "receiveAccount":
                {
                    "type": "string",
                    "description": "The account used for payment received."
                },
                "payAccount":
                {
                    "type": "string",
                    "description": "The account used for payment made."
                },
                "remarks":
                {
                    "type": "string",
                    "description": "General comments / notes."
                }
            }
        },
        "CustomerForexDealsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/CustomerForexDealsResponseBody"
                }
            },
            "description": "CustomerForexDealsResponse"
        },
        "CustomerForexDealsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "contractId":
                    {
                        "type": "string",
                        "description": "The identifier of the contract",
                        "maxLength": 16
                    },
                    "dealDate":
                    {
                        "type": "string",
                        "description": "Date on which the deal was agreed. ",
                        "maxLength": 11
                    },
                    "buyCurrency":
                    {
                        "type": "string",
                        "description": "ISO Currency code for the bought currency.  ",
                        "maxLength": 3
                    },
                    "buyAmount":
                    {
                        "type": "string",
                        "description": "Amount bought in the FX deal.",
                        "maxLength": 19
                    },
                    "sellCurrency":
                    {
                        "type": "string",
                        "description": "ISO Currency code for the sold currency.  ",
                        "maxLength": 3
                    },
                    "sellAmount":
                    {
                        "type": "string",
                        "description": "Amount sold in the FX deal.",
                        "maxLength": 19
                    },
                    "valueDate":
                    {
                        "type": "string",
                        "description": "Shows the date on which the underlying accounting entry is to be given value (for interest purposes).",
                        "maxLength": 15
                    },
                    "customerRate":
                    {
                        "type": "number",
                        "description": "The exchange rate that is actually applied for currency conversion in case of transactions involving FX conversion. "
                    },
                    "limOrderReference":
                    {
                        "type": "string",
                        "description": "Transaction reference ID of the limit order.",
                        "maxLength": 20
                    },
                    "dealType":
                    {
                        "type": "string",
                        "description": "Foreign Exchange deal type. Allowed values: - SP(spot) - FW(forward) - SW(Swap)",
                        "maxLength": 2
                    }
                }
            }
        },
        "ForexOrder":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/ForexOrderBody"
                }
            },
            "description": "ForexOrder"
        },
        "ForexOrderBody":
        {
            "type": "object",
            "properties":
            {
                "customerName":
                {
                    "type": "string",
                    "description": "Name of the customer"
                },
                "dealDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Date on which the deal was agreed. "
                },
                "buyDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Value date of the buy currency. "
                },
                "buyCurrency":
                {
                    "type": "string",
                    "description": "ISO Currency code for the bought currency.  "
                },
                "sellCurrency":
                {
                    "type": "string",
                    "description": "ISO Currency code for the sold currency.  "
                },
                "baseCurrency":
                {
                    "type": "string",
                    "description": "Currency against which exchange rate is quoted."
                },
                "buyAmount":
                {
                    "type": "number",
                    "description": "Amount bought in the FX deal."
                },
                "sellAmount":
                {
                    "type": "number",
                    "description": "Amount sold in the FX deal."
                },
                "treasuryRate":
                {
                    "type": "string",
                    "description": "The Treasury rate for the conversion between payment currency and the ordering currency"
                },
                "portfolioId":
                {
                    "type": "string",
                    "description": "Id of the portfolio or security account"
                },
                "dealType":
                {
                    "type": "string",
                    "description": "Foreign Exchange deal type. Allowed values: - SP(spot) - FW(forward) - SW(Swap)"
                },
                "dealerDesk":
                {
                    "type": "string",
                    "description": "The dealer/desk responsible for monitoring and managing the currency positions."
                },
                "treasuryCustomer":
                {
                    "type": "string",
                    "description": "Indicates whether an additional customer spread is to be applied on top of the treasury rate and booked as a marketing P/L. Null (default) - no additional spread NO - not a treasury customer, therefore apply a customer spread"
                },
                "marginPercent":
                {
                    "type": "string",
                    "description": "Field to state the percentage of provision to be taken"
                },
                "marginPips":
                {
                    "type": "string",
                    "description": "The spread applied on the treasury rate to derive the customer rate."
                }
            }
        },
        "ForexOrderResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ScreenHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/ForexOrderResponseBody"
                }
            },
            "description": "ForexOrderResponse"
        },
        "ForexOrderResponseBody":
        {
            "type": "object",
            "properties":
            {
                "customerName":
                {
                    "type": "string",
                    "description": "Name of the customer"
                },
                "dealDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Date on which the deal was agreed. "
                },
                "buyDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Value date of the buy currency. "
                },
                "buyCurrency":
                {
                    "type": "string",
                    "description": "ISO Currency code for the bought currency.  "
                },
                "sellCurrency":
                {
                    "type": "string",
                    "description": "ISO Currency code for the sold currency.  "
                },
                "baseCurrency":
                {
                    "type": "string",
                    "description": "Currency against which exchange rate is quoted."
                },
                "buyAmount":
                {
                    "type": "number",
                    "description": "Amount bought in the FX deal."
                },
                "sellAmount":
                {
                    "type": "number",
                    "description": "Amount sold in the FX deal."
                },
                "treasuryRate":
                {
                    "type": "string",
                    "description": "The Treasury rate for the conversion between payment currency and the ordering currency"
                },
                "portfolioId":
                {
                    "type": "string",
                    "description": "Id of the portfolio or security account"
                },
                "dealType":
                {
                    "type": "string",
                    "description": "Foreign Exchange deal type. Allowed values: - SP(spot) - FW(forward) - SW(Swap)"
                },
                "dealerDesk":
                {
                    "type": "string",
                    "description": "The dealer/desk responsible for monitoring and managing the currency positions."
                },
                "treasuryCustomer":
                {
                    "type": "string",
                    "description": "Indicates whether an additional customer spread is to be applied on top of the treasury rate and booked as a marketing P/L. Null (default) - no additional spread NO - not a treasury customer, therefore apply a customer spread"
                },
                "marginPercent":
                {
                    "type": "string",
                    "description": "Field to state the percentage of provision to be taken"
                },
                "marginPips":
                {
                    "type": "string",
                    "description": "The spread applied on the treasury rate to derive the customer rate."
                }
            }
        }
    }
}