{
    "swagger": "2.0",
    "info":
    {
        "description": "Allows the creation, viewing and management of IPO orders",
        "version": "v1.0.0",
        "title": "Order IPO Security Orders APIs"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/order/securityOrders/initialPublicOfferings":
        {
            "post":
            {
                "operationId": "createSecuritiesIPOOrder",
                "produces": ["application/json"],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/SecuritiesIPOOrder"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "SecuritiesIPOOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SecuritiesIPOOrderResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/order/securityOrders/{securityOrderId}/initialPublicOfferings":
        {
            "get":
            {
                "operationId": "getSecuritiesIPOOrder",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "securityOrderId",
                    "in": "path",
                    "description": "",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "SecuritiesIPOOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SecuritiesIPOOrderResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            },
            "put":
            {
                "operationId": "updateSecuritiesIPOOrder",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "securityOrderId",
                    "in": "path",
                    "description": "",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/SecuritiesIPOOrder"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "SecuritiesIPOOrderResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SecuritiesIPOOrderResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "PayloadHeader":
        {
            "properties":
            {
                "override":
                {
                    "type": "object",
                    "properties":
                    {
                        "overrideDetails":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "id":
                                    {
                                        "type": "string",
                                        "description": "The identifier of the override"
                                    },
                                    "description":
                                    {
                                        "type": "string",
                                        "description": "The actual override message"
                                    },
                                    "responseCode":
                                    {
                                        "type": "string",
                                        "description": "The user input to accept/reject the override."
                                    }
                                }
                            }
                        }
                    }
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        }
                    }
                }
            }
        },
        "SecuritiesIPOOrder":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/SecuritiesIPOOrderBody"
                }
            },
            "description": "SecuritiesIPOOrder"
        },
        "SecuritiesIPOOrderBody":
        {
            "type": "object",
            "properties":
            {
                "brokers":
                {
                    "type": "array",
                    "description": "Specifies the counterparty with whom the trade is to be effected.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "broker":
                            {
                                "type": "string",
                                "description": "Specifies the counterparty with whom the trade is to be effected."
                            },
                            "dateToBroker":
                            {
                                "type": "string",
                                "format": "date",
                                "description": "Specifies the date a particular Order has been placed with the Broker/Counterparty"
                            },
                            "amountToBroker":
                            {
                                "type": "number",
                                "description": "Specifies the particular amount of an order which has been placed with the previously defined Broker"
                            }
                        }
                    }
                },
                "customers":
                {
                    "type": "array",
                    "description": "The type of charge or tax to be paid by the customer",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "customerId":
                            {
                                "type": "string",
                                "description": "The identifier of the customer"
                            },
                            "portfolioId":
                            {
                                "type": "string",
                                "description": "Id of the portfolio or security account"
                            },
                            "depository":
                            {
                                "type": "string",
                                "description": "The custodian where securities are held"
                            },
                            "accountId":
                            {
                                "type": "string",
                                "description": "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."
                            },
                            "bidType":
                            {
                                "type": "string",
                                "description": "Bid Type can be Competitive: Multiple Bidding  is possible with varying Bid Price and Bid Quantity Non-Competitive: Equvalent to Single Bid where the Maximum price offerred is used for bidding"
                            },
                            "subscriptionAmount":
                            {
                                "type": "number",
                                "description": "Subscription Amount"
                            },
                            "quantity":
                            {
                                "type": "number",
                                "description": "The nominal quantity"
                            },
                            "amount":
                            {
                                "type": "number",
                                "description": "This is the payment amount"
                            },
                            "percentage":
                            {
                                "type": "number",
                                "description": "The percentage of holdings redeemed/subscribed"
                            },
                            "price":
                            {
                                "type": "number",
                                "description": "The Price at which the nominal amount of the Security is to be valued for the transaction."
                            },
                            "calculateCharges":
                            {
                                "type": "boolean",
                                "description": "Indicates whether charges will be calculated.  Allowed values: - YES - null (default)"
                            },
                            "chargesGrossOrNet":
                            {
                                "type": "string",
                                "description": "Indicates whether the cash amount is to include charges (NET) or have charges applied in addition to the trade consideration (GROSS). Allowed values: - NET - GROSS"
                            },
                            "rounding":
                            {
                                "type": "string",
                                "description": "Defines the rounding type for the amount calculated or input"
                            },
                            "adjustCommission":
                            {
                                "type": "boolean",
                                "description": "Determine whether to reduce the commission in order to make the total trade match the cash amount exactly."
                            },
                            "settlementCurrency":
                            {
                                "type": "string",
                                "description": "The currency of the trade settlement"
                            },
                            "brokerCommission":
                            {
                                "type": "number",
                                "description": "Amount of broker commission charged to the customer for the trade."
                            },
                            "foreignFee":
                            {
                                "type": "number",
                                "description": "This field Records the Foreign Fee amount charged to the Customer for the trade."
                            },
                            "commission":
                            {
                                "type": "number",
                                "description": "The bank fees or commission charged for the transaction"
                            },
                            "customerCommissionTax":
                            {
                                "type": "number",
                                "description": "Specifies the tax amount based on the commission charged"
                            },
                            "stampTax":
                            {
                                "type": "number",
                                "description": "The Stamp Tax amount charged to the Customer for the trade"
                            },
                            "EBVFee":
                            {
                                "type": "number",
                                "description": "This field Records the amount of EBV Fees charged to the Customer for the trade."
                            },
                            "miscellaneousFees":
                            {
                                "type": "number",
                                "description": "The amount of miscellaneous fees charged to the Customer for the trade"
                            },
                            "incomeAccount":
                            {
                                "type": "string",
                                "description": "The customer account to which income or expenses are debited/credited"
                            },
                            "incomeAccountCurrency":
                            {
                                "type": "string",
                                "description": "The currency of the customer's income account"
                            },
                            "orderAmount":
                            {
                                "type": "number",
                                "description": "The amount of the order"
                            },
                            "bids":
                            {
                                "type": "array",
                                "items":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "bidQuantity":
                                        {
                                            "type": "number",
                                            "description": "Number of shares applied by the customer"
                                        },
                                        "bidPrice":
                                        {
                                            "type": "number",
                                            "description": "The price at which the shares are bid"
                                        }
                                    }
                                }
                            },
                            "instructions":
                            {
                                "type": "array",
                                "items":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "customerInstructions":
                                        {
                                            "type": "string",
                                            "description": "Instructions given by the customer"
                                        }
                                    }
                                }
                            },
                            "customerWitholdingTaxes":
                            {
                                "type": "array",
                                "items":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "customerWitholdingTax":
                                        {
                                            "type": "number",
                                            "description": "Specifies the amount of Tax on the Securities up to the Value Date of the trade"
                                        }
                                    }
                                }
                            },
                            "customerChargeTaxTypes":
                            {
                                "type": "array",
                                "items":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "customerChargeTaxType":
                                        {
                                            "type": "string",
                                            "description": "The type of charge or tax to be paid by the customer"
                                        },
                                        "customerChargeTaxAmount":
                                        {
                                            "type": "number",
                                            "description": "The amount of charges or taxes to be paid by customer"
                                        },
                                        "customerChargeTaxCode":
                                        {
                                            "type": "string",
                                            "description": "The Charge or tax identifier"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "transactionChannel":
                {
                    "type": "string",
                    "description": "The channel through which the transaction has been placed"
                },
                "instrumentId":
                {
                    "type": "string",
                    "description": "The identifier of the instrument"
                },
                "tradeCurrency":
                {
                    "type": "string",
                    "description": "The trade currency is the settlement currency for the trade"
                },
                "stockExchange":
                {
                    "type": "string",
                    "description": "The stock exchange identifier"
                },
                "transactionType":
                {
                    "type": "string",
                    "description": "This is the type of transaction for which Beneficiary is created i.e. within bank account transfer or other bank transfer etc."
                },
                "orderDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "The order date of the instructions contained within the transaction"
                },
                "valueDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Shows the date on which the underlying accounting entry is to be given value (for interest purposes)."
                },
                "orderedAt":
                {
                    "type": "string",
                    "description": "The time at which the order has been transacted"
                },
                "tradeType":
                {
                    "type": "string",
                    "description": "The trade type"
                },
                "threadKey":
                {
                    "type": "string",
                    "description": "The thread key for an order created by a service"
                },
                "depositoryId":
                {
                    "type": "string",
                    "description": "Id of the securities depository."
                },
                "frontOfficeInstructions":
                {
                    "type": "string",
                    "description": "Optional free text field to capture any narrative for the account officer."
                },
                "approximateSettlementAmount":
                {
                    "type": "number",
                    "description": "The order value (Nominal x Price ) for each customer in the security currency. If a limit price is input and transaction code is debit, lower price among market and limit price is used for sell and higher price is used for buy. If transaction code is credit, then lowest is used."
                },
                "parent":
                {
                    "type": "string",
                    "description": "This Field is to determine whether the order is a parent order, Allowed value is YES"
                },
                "parentReference":
                {
                    "type": "string",
                    "description": "The parent reference that is common for both parent and child orders and will serve as a link."
                },
                "dealStatus":
                {
                    "type": "string",
                    "description": "The status of the deal"
                },
                "orderStatus":
                {
                    "type": "string",
                    "description": "Status of the order."
                }
            }
        },
        "ScreenHeader":
        {
            "properties":
            {
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "The status of the record"
                },
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "SecuritiesIPOOrderResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ScreenHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/SecuritiesIPOOrderResponseBody"
                }
            },
            "description": "SecuritiesIPOOrderResponse"
        },
        "SecuritiesIPOOrderResponseBody":
        {
            "type": "object",
            "properties":
            {
                "brokers":
                {
                    "type": "array",
                    "description": "Specifies the counterparty with whom the trade is to be effected.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "broker":
                            {
                                "type": "string",
                                "description": "Specifies the counterparty with whom the trade is to be effected."
                            },
                            "dateToBroker":
                            {
                                "type": "string",
                                "format": "date",
                                "description": "Specifies the date a particular Order has been placed with the Broker/Counterparty"
                            },
                            "amountToBroker":
                            {
                                "type": "number",
                                "description": "Specifies the particular amount of an order which has been placed with the previously defined Broker"
                            }
                        }
                    }
                },
                "customers":
                {
                    "type": "array",
                    "description": "The type of charge or tax to be paid by the customer",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "customerId":
                            {
                                "type": "string",
                                "description": "The identifier of the customer"
                            },
                            "portfolioId":
                            {
                                "type": "string",
                                "description": "Id of the portfolio or security account"
                            },
                            "depository":
                            {
                                "type": "string",
                                "description": "The custodian where securities are held"
                            },
                            "accountId":
                            {
                                "type": "string",
                                "description": "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."
                            },
                            "bidType":
                            {
                                "type": "string",
                                "description": "Bid Type can be Competitive: Multiple Bidding  is possible with varying Bid Price and Bid Quantity Non-Competitive: Equvalent to Single Bid where the Maximum price offerred is used for bidding"
                            },
                            "subscriptionAmount":
                            {
                                "type": "number",
                                "description": "Subscription Amount"
                            },
                            "quantity":
                            {
                                "type": "number",
                                "description": "The nominal quantity"
                            },
                            "amount":
                            {
                                "type": "number",
                                "description": "This is the payment amount"
                            },
                            "percentage":
                            {
                                "type": "number",
                                "description": "The percentage of holdings redeemed/subscribed"
                            },
                            "price":
                            {
                                "type": "number",
                                "description": "The Price at which the nominal amount of the Security is to be valued for the transaction."
                            },
                            "calculateCharges":
                            {
                                "type": "boolean",
                                "description": "Indicates whether charges will be calculated.  Allowed values: - YES - null (default)"
                            },
                            "chargesGrossOrNet":
                            {
                                "type": "string",
                                "description": "Indicates whether the cash amount is to include charges (NET) or have charges applied in addition to the trade consideration (GROSS). Allowed values: - NET - GROSS"
                            },
                            "rounding":
                            {
                                "type": "string",
                                "description": "Defines the rounding type for the amount calculated or input"
                            },
                            "adjustCommission":
                            {
                                "type": "boolean",
                                "description": "Determine whether to reduce the commission in order to make the total trade match the cash amount exactly."
                            },
                            "settlementCurrency":
                            {
                                "type": "string",
                                "description": "The currency of the trade settlement"
                            },
                            "brokerCommission":
                            {
                                "type": "number",
                                "description": "Amount of broker commission charged to the customer for the trade."
                            },
                            "foreignFee":
                            {
                                "type": "number",
                                "description": "This field Records the Foreign Fee amount charged to the Customer for the trade."
                            },
                            "commission":
                            {
                                "type": "number",
                                "description": "The bank fees or commission charged for the transaction"
                            },
                            "customerCommissionTax":
                            {
                                "type": "number",
                                "description": "Specifies the tax amount based on the commission charged"
                            },
                            "stampTax":
                            {
                                "type": "number",
                                "description": "The Stamp Tax amount charged to the Customer for the trade"
                            },
                            "EBVFee":
                            {
                                "type": "number",
                                "description": "This field Records the amount of EBV Fees charged to the Customer for the trade."
                            },
                            "miscellaneousFees":
                            {
                                "type": "number",
                                "description": "The amount of miscellaneous fees charged to the Customer for the trade"
                            },
                            "incomeAccount":
                            {
                                "type": "string",
                                "description": "The customer account to which income or expenses are debited/credited"
                            },
                            "incomeAccountCurrency":
                            {
                                "type": "string",
                                "description": "The currency of the customer's income account"
                            },
                            "orderAmount":
                            {
                                "type": "number",
                                "description": "The amount of the order"
                            },
                            "bids":
                            {
                                "type": "array",
                                "items":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "bidQuantity":
                                        {
                                            "type": "number",
                                            "description": "Number of shares applied by the customer"
                                        },
                                        "bidPrice":
                                        {
                                            "type": "number",
                                            "description": "The price at which the shares are bid"
                                        }
                                    }
                                }
                            },
                            "instructions":
                            {
                                "type": "array",
                                "items":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "customerInstructions":
                                        {
                                            "type": "string",
                                            "description": "Instructions given by the customer"
                                        }
                                    }
                                }
                            },
                            "customerWitholdingTaxes":
                            {
                                "type": "array",
                                "items":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "customerWitholdingTax":
                                        {
                                            "type": "number",
                                            "description": "Specifies the amount of Tax on the Securities up to the Value Date of the trade"
                                        }
                                    }
                                }
                            },
                            "customerChargeTaxTypes":
                            {
                                "type": "array",
                                "items":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "customerChargeTaxType":
                                        {
                                            "type": "string",
                                            "description": "The type of charge or tax to be paid by the customer"
                                        },
                                        "customerChargeTaxAmount":
                                        {
                                            "type": "number",
                                            "description": "The amount of charges or taxes to be paid by customer"
                                        },
                                        "customerChargeTaxCode":
                                        {
                                            "type": "string",
                                            "description": "The Charge or tax identifier"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "transactionChannel":
                {
                    "type": "string",
                    "description": "The channel through which the transaction has been placed"
                },
                "instrumentId":
                {
                    "type": "string",
                    "description": "The identifier of the instrument"
                },
                "tradeCurrency":
                {
                    "type": "string",
                    "description": "The trade currency is the settlement currency for the trade"
                },
                "stockExchange":
                {
                    "type": "string",
                    "description": "The stock exchange identifier"
                },
                "transactionType":
                {
                    "type": "string",
                    "description": "This is the type of transaction for which Beneficiary is created i.e. within bank account transfer or other bank transfer etc."
                },
                "orderDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "The order date of the instructions contained within the transaction"
                },
                "valueDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Shows the date on which the underlying accounting entry is to be given value (for interest purposes)."
                },
                "orderedAt":
                {
                    "type": "string",
                    "description": "The time at which the order has been transacted"
                },
                "orderType":
                {
                    "type": "string",
                    "description": "Order type i.e.  single, if done, revolving and one cancels other."
                },
                "tradeType":
                {
                    "type": "string",
                    "description": "The trade type"
                },
                "threadKey":
                {
                    "type": "string",
                    "description": "The thread key for an order created by a service"
                },
                "depositoryId":
                {
                    "type": "string",
                    "description": "Id of the securities depository."
                },
                "frontOfficeInstructions":
                {
                    "type": "string",
                    "description": "Optional free text field to capture any narrative for the account officer."
                },
                "approximateSettlementAmount":
                {
                    "type": "number",
                    "description": "The order value (Nominal x Price ) for each customer in the security currency. If a limit price is input and transaction code is debit, lower price among market and limit price is used for sell and higher price is used for buy. If transaction code is credit, then lowest is used."
                },
                "parent":
                {
                    "type": "string",
                    "description": "This Field is to determine whether the order is a parent order, Allowed value is YES"
                },
                "parentReference":
                {
                    "type": "string",
                    "description": "The parent reference that is common for both parent and child orders and will serve as a link."
                },
                "dealStatus":
                {
                    "type": "string",
                    "description": "The status of the deal"
                },
                "orderStatus":
                {
                    "type": "string",
                    "description": "Status of the order."
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "The status of the record"
                },
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "overrideBody":
        {
            "properties":
            {
                "overrideDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "id":
                            {
                                "type": "string",
                                "description": "The identifier of the override"
                            },
                            "description":
                            {
                                "type": "string",
                                "description": "The actual override message"
                            }
                        }
                    }
                }
            }
        },
        "ScreenErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/ScreenErrorResponseBody"
                },
                "override":
                {
                    "$ref": "#/definitions/overrideBody"
                }
            },
            "description": "ScreenErrorResponse"
        },
        "ScreenErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "errorDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "fieldName":
                            {
                                "type": "string",
                                "description": "The name of the field"
                            },
                            "code":
                            {
                                "type": "string",
                                "description": "The identifier of the error message"
                            },
                            "message":
                            {
                                "type": "string",
                                "description": "The actual t24 error message"
                            }
                        }
                    }
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        }
    }
}