{
    "swagger": "2.0",
    "info":
    {
        "description": "Update Settlement Account",
        "version": "v1.0.0",
        "title": "Update Settlement Account API"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/order/cashManagement/bundles/settlements":
        {
            "put":
            {
                "description": "Update Settlement Account",
                "operationId": "updateBundleSettlementAccount",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/BundleSettlementAccount"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "updateBundleSettlementAccountResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BundleSettlementAccountResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "PayloadHeader":
        {
            "properties":
            {
                "override":
                {
                    "type": "object",
                    "properties":
                    {
                        "overrideDetails":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "id":
                                    {
                                        "type": "string",
                                        "description": "The identifier of the override"
                                    },
                                    "description":
                                    {
                                        "type": "string",
                                        "description": "The actual override message"
                                    },
                                    "responseCode":
                                    {
                                        "type": "string",
                                        "description": "The user input to accept/reject the override."
                                    }
                                }
                            }
                        }
                    }
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        }
                    }
                }
            }
        },
        "BundleSettlementAccount":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/BundleSettlementAccountBody"
                }
            },
            "description": "BundleSettlementAccount"
        },
        "BundleSettlementAccountBody":
        {
            "type": "object",
            "properties":
            {
                "partyIds":
                {
                    "type": "array",
                    "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "partyId":
                            {
                                "type": "string",
                                "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
                            }
                        }
                    }
                },
                "arrangmentId":
                {
                    "type": "string",
                    "description": ""
                },
                "arrangementEffectiveDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Date from which the arrangement is effective"
                },
                "productId":
                {
                    "type": "string",
                    "description": "Id of the product."
                },
                "activityId":
                {
                    "type": "string",
                    "description": "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
                },
                "settlement":
                {
                    "type": "object",
                    "properties":
                    {
                        "settlement":
                        {
                            "type": "array",
                            "description": "The Account number, arrangement id or Portfolio No, subscribing to the alerts. ",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "payinSettlement":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "payoutSettlement":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "reference":
                                    {
                                        "type": "array",
                                        "items":
                                        {
                                            "type": "object",
                                            "properties":
                                            {
                                                "ddMandateReference":
                                                {
                                                    "type": "string",
                                                    "format": "date",
                                                    "description": ""
                                                },
                                                "payinAccount":
                                                {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "payinBeneficiary":
                                                {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "payinPercentage":
                                                {
                                                    "type": "number",
                                                    "description": ""
                                                },
                                                "payinAmount":
                                                {
                                                    "type": "number",
                                                    "description": ""
                                                },
                                                "payoutAccount":
                                                {
                                                    "type": "string",
                                                    "description": "The account to which a settlement amount is transferred."
                                                },
                                                "payoutBeneficiary":
                                                {
                                                    "type": "string",
                                                    "description": "The beneficiary that payment should be made to ."
                                                },
                                                "payoutPercentage":
                                                {
                                                    "type": "number",
                                                    "description": ""
                                                },
                                                "payoutAmount":
                                                {
                                                    "type": "number",
                                                    "description": ""
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "assocSettlement":
                        {
                            "type": "array",
                            "description": "The Account number, arrangement id or Portfolio No, subscribing to the alerts. ",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "payinSettlement":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "payinRule":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "payinSettlementActivity":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "payinRCType":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "payinRCCondition":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "reference":
                                    {
                                        "type": "array",
                                        "items":
                                        {
                                            "type": "object",
                                            "properties":
                                            {
                                                "ddMandateReference":
                                                {
                                                    "type": "string",
                                                    "format": "date",
                                                    "description": ""
                                                },
                                                "payinAccount":
                                                {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "payinBeneficiary":
                                                {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "payinPOProduct":
                                                {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "payinPercentage":
                                                {
                                                    "type": "number",
                                                    "description": ""
                                                },
                                                "payinAmount":
                                                {
                                                    "type": "number",
                                                    "description": ""
                                                },
                                                "payinActivity":
                                                {
                                                    "type": "string",
                                                    "description": ""
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "payout":
                        {
                            "type": "array",
                            "description": "Id of the product property",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "payoutSettlement":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "payoutSettlementActivity":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "property":
                                    {
                                        "type": "array",
                                        "items":
                                        {
                                            "type": "object",
                                            "properties":
                                            {
                                                "payoutPropertyClass":
                                                {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "payoutProperty":
                                                {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "payoutAccount":
                                                {
                                                    "type": "string",
                                                    "description": "The account to which a settlement amount is transferred."
                                                },
                                                "payoutBeneficiary":
                                                {
                                                    "type": "string",
                                                    "description": "The beneficiary that payment should be made to ."
                                                },
                                                "payoutPOProduct":
                                                {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "payoutPercentage":
                                                {
                                                    "type": "number",
                                                    "description": ""
                                                },
                                                "payoutAmount":
                                                {
                                                    "type": "number",
                                                    "description": ""
                                                },
                                                "payoutActivity":
                                                {
                                                    "type": "string",
                                                    "description": ""
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "paymentType":
                        {
                            "type": "string",
                            "description": "Indicates if the payment is Customer (C) type or Bank (B) type"
                        },
                        "defaultSettlementAccount":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                }
            }
        },
        "ArrangementHeader":
        {
            "properties":
            {
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "aaaId":
                {
                    "type": "string",
                    "description": "The Identifier of the aa record created"
                },
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "The status of the record"
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "BundleSettlementAccountResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/BundleSettlementAccountResponseBody"
                }
            },
            "description": "BundleSettlementAccountResponse"
        },
        "BundleSettlementAccountResponseBody":
        {
            "type": "object",
            "properties":
            {
                "arrangementActivity":
                {
                    "type": "object",
                    "properties":
                    {
                        "partyIds":
                        {
                            "type": "array",
                            "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "partyId":
                                    {
                                        "type": "string",
                                        "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
                                    }
                                }
                            }
                        },
                        "arrangmentId":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "arrangementEffectiveDate":
                        {
                            "type": "string",
                            "format": "date",
                            "description": "Date from which the arrangement is effective"
                        },
                        "productId":
                        {
                            "type": "string",
                            "description": "Id of the product."
                        },
                        "activityId":
                        {
                            "type": "string",
                            "description": "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
                        }
                    }
                },
                "activities":
                {
                    "type": "object",
                    "properties":
                    {
                        "{activityName}":
                        {
                            "type": "object",
                            "properties":
                            {
                                "activity":
                                {
                                    "type": "string"
                                },
                                "transactionStatus":
                                {
                                    "type": "string",
                                    "description": "The status of the transaction"
                                },
                                "id":
                                {
                                    "type": "string",
                                    "description": "The Identifier of the record created"
                                }
                            }
                        }
                    }
                },
                "properties":
                {
                    "type": "object",
                    "properties":
                    {
                        "settlement":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string",
                                            "description": "The status of the transaction"
                                        },
                                        "audit":
                                        {
                                            "type": "object",
                                            "properties":
                                            {
                                                "parseTime":
                                                {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Time taken to parse the response by IRIS"
                                                }
                                            }
                                        },
                                        "id":
                                        {
                                            "type": "string",
                                            "description": "The Identifier of the record created"
                                        },
                                        "status":
                                        {
                                            "type": "string",
                                            "description": "The status of the record"
                                        }
                                    }
                                },
                                "body":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "settlement":
                                        {
                                            "type": "array",
                                            "description": "The Account number, arrangement id or Portfolio No, subscribing to the alerts. ",
                                            "items":
                                            {
                                                "type": "object",
                                                "properties":
                                                {
                                                    "payinSettlement":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "payoutSettlement":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "reference":
                                                    {
                                                        "type": "array",
                                                        "items":
                                                        {
                                                            "type": "object",
                                                            "properties":
                                                            {
                                                                "ddMandateReference":
                                                                {
                                                                    "type": "string",
                                                                    "format": "date",
                                                                    "description": ""
                                                                },
                                                                "payinAccount":
                                                                {
                                                                    "type": "string",
                                                                    "description": ""
                                                                },
                                                                "payinBeneficiary":
                                                                {
                                                                    "type": "string",
                                                                    "description": ""
                                                                },
                                                                "payinPercentage":
                                                                {
                                                                    "type": "number",
                                                                    "description": ""
                                                                },
                                                                "payinAmount":
                                                                {
                                                                    "type": "number",
                                                                    "description": ""
                                                                },
                                                                "payoutAccount":
                                                                {
                                                                    "type": "string",
                                                                    "description": "The account to which a settlement amount is transferred."
                                                                },
                                                                "payoutBeneficiary":
                                                                {
                                                                    "type": "string",
                                                                    "description": "The beneficiary that payment should be made to ."
                                                                },
                                                                "payoutPercentage":
                                                                {
                                                                    "type": "number",
                                                                    "description": ""
                                                                },
                                                                "payoutAmount":
                                                                {
                                                                    "type": "number",
                                                                    "description": ""
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "assocSettlement":
                                        {
                                            "type": "array",
                                            "description": "The Account number, arrangement id or Portfolio No, subscribing to the alerts. ",
                                            "items":
                                            {
                                                "type": "object",
                                                "properties":
                                                {
                                                    "payinSettlement":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "payinRule":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "payinSettlementActivity":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "payinRCType":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "payinRCCondition":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "reference":
                                                    {
                                                        "type": "array",
                                                        "items":
                                                        {
                                                            "type": "object",
                                                            "properties":
                                                            {
                                                                "ddMandateReference":
                                                                {
                                                                    "type": "string",
                                                                    "format": "date",
                                                                    "description": ""
                                                                },
                                                                "payinAccount":
                                                                {
                                                                    "type": "string",
                                                                    "description": ""
                                                                },
                                                                "payinBeneficiary":
                                                                {
                                                                    "type": "string",
                                                                    "description": ""
                                                                },
                                                                "payinPOProduct":
                                                                {
                                                                    "type": "string",
                                                                    "description": ""
                                                                },
                                                                "payinPercentage":
                                                                {
                                                                    "type": "number",
                                                                    "description": ""
                                                                },
                                                                "payinAmount":
                                                                {
                                                                    "type": "number",
                                                                    "description": ""
                                                                },
                                                                "payinActivity":
                                                                {
                                                                    "type": "string",
                                                                    "description": ""
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "payout":
                                        {
                                            "type": "array",
                                            "description": "Id of the product property",
                                            "items":
                                            {
                                                "type": "object",
                                                "properties":
                                                {
                                                    "payoutSettlement":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "payoutSettlementActivity":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "property":
                                                    {
                                                        "type": "array",
                                                        "items":
                                                        {
                                                            "type": "object",
                                                            "properties":
                                                            {
                                                                "payoutPropertyClass":
                                                                {
                                                                    "type": "string",
                                                                    "description": ""
                                                                },
                                                                "payoutProperty":
                                                                {
                                                                    "type": "string",
                                                                    "description": ""
                                                                },
                                                                "payoutAccount":
                                                                {
                                                                    "type": "string",
                                                                    "description": "The account to which a settlement amount is transferred."
                                                                },
                                                                "payoutBeneficiary":
                                                                {
                                                                    "type": "string",
                                                                    "description": "The beneficiary that payment should be made to ."
                                                                },
                                                                "payoutPOProduct":
                                                                {
                                                                    "type": "string",
                                                                    "description": ""
                                                                },
                                                                "payoutPercentage":
                                                                {
                                                                    "type": "number",
                                                                    "description": ""
                                                                },
                                                                "payoutAmount":
                                                                {
                                                                    "type": "number",
                                                                    "description": ""
                                                                },
                                                                "payoutActivity":
                                                                {
                                                                    "type": "string",
                                                                    "description": ""
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "paymentType":
                                        {
                                            "type": "string",
                                            "description": "Indicates if the payment is Customer (C) type or Bank (B) type"
                                        },
                                        "defaultSettlementAccount":
                                        {
                                            "type": "string",
                                            "description": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "overrideBody":
        {
            "properties":
            {
                "overrideDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "id":
                            {
                                "type": "string",
                                "description": "The identifier of the override"
                            },
                            "description":
                            {
                                "type": "string",
                                "description": "The actual override message"
                            }
                        }
                    }
                }
            }
        },
        "ArrangementErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/ArrangementErrorResponseBody"
                },
                "override":
                {
                    "$ref": "#/definitions/overrideBody"
                }
            },
            "description": "ArrangementErrorResponse"
        },
        "ArrangementErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "errorDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "fieldName":
                            {
                                "type": "string",
                                "description": "The name of the field"
                            },
                            "code":
                            {
                                "type": "string",
                                "description": "The identifier of the error message"
                            },
                            "message":
                            {
                                "type": "string",
                                "description": "The actual t24 error message"
                            },
                            "property":
                            {
                                "type": "string",
                                "description": "The corresponding property"
                            }
                        }
                    }
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        }
    }
}