{
  "swagger": "2.0",
  "info": {
    "description": "Allows the creation, viewing and management of payment orders",
    "version": "v1.0.0",
    "title": "Order Payment Orders APIs"
  },
  "host": "api.server.com",
  "basePath": "/api/v1.0.0/",
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/order/paymentOrders/{paymentOrderId}": {
      "get": {
        "operationId": "getPaymentOrder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentOrderId",
            "in": "path",
            "description": "The unique reference number of payment",
            "required": true,
            "type": "string"
          },
          {
            "name": "currentPaymentState",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "paymentStatus",
            "in": "query",
            "description": "Indicates the Status Code of the payment. Every payment in the hub is tracked using a status code which depicts the current stage at which payment is in the workflow",
            "required": false,
            "type": "string"
          },
          {
            "name": "paymentOrderProductId",
            "in": "query",
            "description": "Indicates the payment order product for which payment is initiated",
            "required": false,
            "type": "string"
          },
          {
            "name": "debitAccountId",
            "in": "query",
            "description": "Indicates the debit account number of the payment",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderingCustomerId",
            "in": "query",
            "description": "Indicates the customer id for the ordering customer",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "credentials",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "PaymentOrderResponse",
            "schema": {
              "$ref": "#/definitions/PaymentOrderResponse3"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "updatePaymentOrder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentOrderId",
            "in": "path",
            "description": "The unique reference number of payment",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentOrder"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "credentials",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "PaymentOrderResponse",
            "schema": {
              "$ref": "#/definitions/PaymentOrderResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePaymentOrder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentOrderId",
            "in": "path",
            "description": "The unique reference number of payment",
            "required": true,
            "type": "string"
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "credentials",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "PaymentOrderResponse",
            "schema": {
              "$ref": "#/definitions/PaymentOrderResponse2"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders": {
      "get": {
        "operationId": "getPaymentOrders",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentOrderId",
            "in": "query",
            "description": "The unique reference number of payment",
            "required": false,
            "type": "string"
          },
          {
            "name": "currentPaymentState",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "paymentStatus",
            "in": "query",
            "description": "Indicates the Status Code of the payment. Every payment in the hub is tracked using a status code which depicts the current stage at which payment is in the workflow",
            "required": false,
            "type": "string"
          },
          {
            "name": "paymentOrderProductIdNE",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "paymentOrderProductId",
            "in": "query",
            "description": "Indicates the payment order product for which payment is initiated",
            "required": false,
            "type": "string"
          },
          {
            "name": "debitAccountId",
            "in": "query",
            "description": "Indicates the debit account number of the payment",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderingCustomerId",
            "in": "query",
            "description": "Indicates the customer id for the ordering customer",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "credentials",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "PaymentOrdersResponse",
            "schema": {
              "$ref": "#/definitions/PaymentOrdersResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "createPaymentOrder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentOrder1"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "credentials",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "PaymentOrderResponse",
            "schema": {
              "$ref": "#/definitions/PaymentOrderResponse1"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/purposes": {
      "get": {
        "operationId": "getPaymentOrderPurposes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentOrderPurposeCodeId",
            "in": "query",
            "description": "Indicates the Id of payment purpose code i.e. purpose of the instruction based on a set of pre-defined categories.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "credentials",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "PaymentOrderPurposesResponse",
            "schema": {
              "$ref": "#/definitions/PaymentOrderPurposesResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/products": {
      "get": {
        "operationId": "getPaymentOrderProducts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentProductGroupId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "paymentOrderProductId",
            "in": "query",
            "description": "Indicates the payment order product for which payment is initiated",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "credentials",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "PaymentOrderProductsResponse",
            "schema": {
              "$ref": "#/definitions/PaymentOrderProductsResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/countryRules": {
      "get": {
        "operationId": "getPaymentOrderCountryRules",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "countryId",
            "in": "query",
            "description": "ISO country code of the financial institution. ",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "credentials",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "PaymentOrderCountryRulesResponse",
            "schema": {
              "$ref": "#/definitions/PaymentOrderCountryRulesResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/sepaInstantPayment": {
      "post": {
        "operationId": "createSepaInstantPayment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SepaInstantPayment"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "credentials",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "SepaInstantPaymentResponse",
            "schema": {
              "$ref": "#/definitions/SepaInstantPaymentResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/sepaInstantTransfer": {
      "post": {
        "operationId": "createSepaInstantTransfer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SepaInstantTransfer"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "credentials",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "SepaInstantTransferResponse",
            "schema": {
              "$ref": "#/definitions/SepaInstantTransferResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/sepaPayment": {
      "post": {
        "operationId": "createSepaPayment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SepaPayment"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "credentials",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "SepaPaymentResponse",
            "schema": {
              "$ref": "#/definitions/SepaPaymentResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/swiftPayment": {
      "post": {
        "operationId": "createSwiftPayment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SwiftPayment"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "credentials",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "SwiftPaymentResponse",
            "schema": {
              "$ref": "#/definitions/SwiftPaymentResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/fasterPayment": {
      "post": {
        "operationId": "createFasterPayment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FasterPayment"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "credentials",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "FasterPaymentResponse",
            "schema": {
              "$ref": "#/definitions/FasterPaymentResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/{paymentOrderId}/cancelPaymentOrder": {
      "put": {
        "operationId": "cancelExternalPaymentOrder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentOrderId",
            "in": "path",
            "description": "The unique reference number of payment",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "body Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExternalPaymentOrder"
            }
          },
          {
            "name": "validate_only",
            "in": "query",
            "description": "The identifier to indicate if it is set to only validate or not.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "credentials",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ExternalPaymentOrderResponse",
            "schema": {
              "$ref": "#/definitions/ExternalPaymentOrderResponse"
            }
          },
          "default": {
            "description": "ScreenErrorResponse",
            "schema": {
              "$ref": "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/ISOClearingCodes": {
      "get": {
        "operationId": "getISOClearingCodes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "credentials",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ISOClearingCodesResponse",
            "schema": {
              "$ref": "#/definitions/ISOClearingCodesResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "PayloadHeader": {
      "properties": {
        "override": {
          "type": "object",
          "properties": {
            "overrideDetails": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier of the override"
                  },
                  "description": {
                    "type": "string",
                    "description": "The actual override message"
                  },
                  "responseCode": {
                    "type": "string",
                    "description": "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit": {
          "type": "object",
          "properties": {
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "PaymentOrder": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/PaymentOrderBody"
        }
      },
      "description": "PaymentOrder"
    },
    "PaymentOrderBody": {
      "type": "object",
      "properties": {
        "narratives": {
          "type": "array",
          "description": "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items": {
            "type": "object",
            "properties": {
              "narrative": {
                "type": "string",
                "description": "The additional text printed on descriptive statements in addition to the standard narrative and/or reference"
              }
            }
          }
        },
        "additionalInformations": {
          "type": "array",
          "description": "Additional Information provided to add context",
          "items": {
            "type": "object",
            "properties": {
              "additionalInformation": {
                "type": "string",
                "description": "Additional Information provided to add context"
              }
            }
          }
        },
        "remittanceInformations": {
          "type": "array",
          "description": "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
          "items": {
            "type": "object",
            "properties": {
              "remittanceInformation": {
                "type": "string",
                "description": "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form."
              }
            }
          }
        },
        "signatories": {
          "type": "array",
          "description": "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction",
          "items": {
            "type": "object",
            "properties": {
              "signatory": {
                "type": "string",
                "description": "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction"
              }
            }
          }
        },
        "invoiceReferences": {
          "type": "array",
          "description": "It provides the reference of the invoice ",
          "items": {
            "type": "object",
            "properties": {
              "invoiceReference": {
                "type": "string",
                "description": "It provides the reference of the invoice "
              }
            }
          }
        },
        "charges": {
          "type": "array",
          "description": "The charges or fees for this transaction",
          "items": {
            "type": "object",
            "properties": {
              "chargeType": {
                "type": "string",
                "description": "Holds the type of the charges to be collected"
              },
              "chargeName": {
                "type": "string",
                "description": "The description of the charge to be taken for payment"
              },
              "chargeCurrency": {
                "type": "string",
                "description": "Indicates the charge currency in which charge amount will be taken for the instruction"
              },
              "chargeAmount": {
                "type": "number",
                "description": "Indicates the charge amount in the charge currency which is to be applied for instruction for e.g. charge to be taken for payment stop instruction"
              },
              "chargeAccountCurrencyAmount": {
                "type": "number",
                "description": ""
              }
            }
          }
        },
        "overrides": {
          "type": "array",
          "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items": {
            "type": "object",
            "properties": {
              "override": {
                "type": "string",
                "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database."
              }
            }
          }
        },
        "paymentOrderProductId": {
          "type": "string",
          "description": "Indicates the payment order product for which payment is initiated"
        },
        "debitAccountId": {
          "type": "string",
          "description": "Indicates the debit account number of the payment"
        },
        "debitAccountIBAN": {
          "type": "string",
          "description": "Indicates the debit account IBAN of the payment"
        },
        "debitCurrency": {
          "type": "string",
          "description": "Indicates the currency of debit account"
        },
        "debitValueDate": {
          "type": "string",
          "format": "date",
          "description": "The date on which the Invocation amount will be debited for settlement"
        },
        "creditAccountId": {
          "type": "string",
          "description": "This is the account which will be credited for the instruction"
        },
        "creditAccountIBAN": {
          "type": "string",
          "description": "Indicates the IBAN of the credit account"
        },
        "orderingCustomerId": {
          "type": "string",
          "description": "Indicates the customer id for the ordering customer"
        },
        "orderingCustomerName": {
          "type": "string",
          "description": "Indicates the name of Ordering Customer"
        },
        "paymentCurrencyId": {
          "type": "string",
          "description": "The currency of payment."
        },
        "amount": {
          "type": "number",
          "description": "This is the payment amount"
        },
        "executionDate": {
          "type": "string",
          "format": "date",
          "description": "The date when payment will be processed"
        },
        "treasuryRate": {
          "type": "string",
          "description": "The Treasury rate for the conversion between payment currency and the ordering currency"
        },
        "forexSpread": {
          "type": "string",
          "description": "The spread that is applied to the published internal exchange rates to derive the final exchange rate or the customer rate for the transaction for currency conversion between ordering currency and payment currency"
        },
        "forexCustomerRate": {
          "type": "string",
          "description": "The exchange rate that is actually applied for currency conversion between ordering currency and payment currency in case of transactions involving FX conversion. "
        },
        "orderingPortfolio": {
          "type": "string",
          "description": "Indicates the portfolio id for the debit side if the account belongs to a specific portfolio"
        },
        "creditPortfolio": {
          "type": "string",
          "description": "Indicates the portfolio id for the credit side if the account belongs to a specific portfolio"
        },
        "orderingReference": {
          "type": "string",
          "description": "The reference related to the ordering details"
        },
        "chargeBearer": {
          "type": "string",
          "description": "Indicates who will bear all charges for the payment. Allowed options are Recipient To Pay All Charges, Pay My Bank's Charges or Pay My Bank Charges Only"
        },
        "beneficiaryId": {
          "type": "string",
          "description": "Indicates the Id of beneficiary when beneficiary details are stored"
        },
        "beneficiaryAccountId": {
          "type": "string",
          "description": "Indicates the account number of the beneficiary"
        },
        "beneficiaryBIC": {
          "type": "string",
          "description": "BIC (Bank Identifier Code) of the beneficiary customer "
        },
        "beneficiaryName": {
          "type": "string",
          "description": "Name of beneficiary"
        },
        "accountWithBankBIC": {
          "type": "string",
          "description": "This is the BIC code of the institution where beneficiary holds an account"
        },
        "beneficiaryBankClearingCode": {
          "type": "string",
          "description": "Clearing code or sort code of the beneficiary bank"
        },
        "accountWithBankClearingCode": {
          "type": "string",
          "description": "This is the national clearing code or sort code of the institution where beneficiary holds an account"
        },
        "clearingChannel": {
          "type": "string",
          "description": "Indicates the clearing channel for the payment in the ISO format of the Clearing System Identifiers"
        },
        "structuredCreditorReference": {
          "type": "string",
          "description": "This is the unique reference, as assigned by the creditor, to unambiguously refer to the payment"
        },
        "beneficiaryCountryCode": {
          "type": "string",
          "description": ""
        },
        "beneficiaryIBAN": {
          "type": "string",
          "description": "The IBAN of the beneficiary's account"
        },
        "accountWithBankIBAN": {
          "type": "string",
          "description": "This is the IBAN of the institution where beneficiary holds an account"
        },
        "requiredCreditValueDate": {
          "type": "string",
          "format": "date",
          "description": "The credit value date i.e. tentative date on which the payment system will process the payment"
        },
        "purpose": {
          "type": "string",
          "description": "Indicates the purpose code of the payment"
        },
        "structuredCommunicationCode": {
          "type": "string",
          "description": "Creditor reference in a coded form i.e - RADM (RemittanceAdviceMessage) - RPIN (RelatedPaymentInstruction) - FXDR (ForeignExchangeDealReference) - DISP (DispatchAdvice) - PUOR (PurchaseOrder) - SCOR (StructuredCommunicationReference)"
        },
        "structuredIssuer": {
          "type": "string",
          "description": "Entity that assigns the identification"
        },
        "endToEndReference": {
          "type": "string",
          "description": "This indicates the end to end reference for the payment. This field can be provided by one who instructs the payment and flows through the lifecycle of payment. "
        },
        "instructionIdReference": {
          "type": "string",
          "description": "\"Indicates the unique identification as assigned by an instructing party for an instructed party to\r unambiguously identify the instruction.\""
        },
        "termsAndConditions": {
          "type": "string",
          "description": "Specifies the terms and conditions in the text format for the payment instruction, if any."
        },
        "indicativeRate": {
          "type": "string",
          "description": "The indicative rate at the time of submitting a payment initiation request. Actual rate with which the payment will be processed will be calculated/ fetched during payment processing. "
        },
        "chargeAccountId": {
          "type": "string",
          "description": "Indicates the account to which the charges has to be levied. Used when charges are to be taken from a separate account"
        },
        "chargeAccountCurrencyId": {
          "type": "string",
          "description": "When a charge account is specified, this field indicates the currency of the charge account"
        },
        "creditValueDate": {
          "type": "string",
          "format": "date",
          "description": "The value date applied to the credit side of a payment"
        },
        "PSDCompliant": {
          "type": "string",
          "description": "Defines whether the transaction is PSD (Payment Services Directive) compliant or not."
        },
        "totalDebitAmount": {
          "type": "number",
          "description": "The total debit amount including the charges associated for the payment"
        },
        "localInstrumentCode": {
          "type": "string",
          "description": ""
        },
        "recordStatus": {
          "type": "string",
          "description": "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides"
        }
      }
    },
    "ScreenHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "PaymentOrderResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/PaymentOrderResponseBody"
        }
      },
      "description": "PaymentOrderResponse"
    },
    "PaymentOrderResponseBody": {
      "type": "object",
      "properties": {
        "narratives": {
          "type": "array",
          "description": "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items": {
            "type": "object",
            "properties": {
              "narrative": {
                "type": "string",
                "description": "The additional text printed on descriptive statements in addition to the standard narrative and/or reference"
              }
            }
          }
        },
        "additionalInformations": {
          "type": "array",
          "description": "Additional Information provided to add context",
          "items": {
            "type": "object",
            "properties": {
              "additionalInformation": {
                "type": "string",
                "description": "Additional Information provided to add context"
              }
            }
          }
        },
        "remittanceInformations": {
          "type": "array",
          "description": "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
          "items": {
            "type": "object",
            "properties": {
              "remittanceInformation": {
                "type": "string",
                "description": "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form."
              }
            }
          }
        },
        "signatories": {
          "type": "array",
          "description": "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction",
          "items": {
            "type": "object",
            "properties": {
              "signatory": {
                "type": "string",
                "description": "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction"
              }
            }
          }
        },
        "invoiceReferences": {
          "type": "array",
          "description": "It provides the reference of the invoice ",
          "items": {
            "type": "object",
            "properties": {
              "invoiceReference": {
                "type": "string",
                "description": "It provides the reference of the invoice "
              }
            }
          }
        },
        "charges": {
          "type": "array",
          "description": "The charges or fees for this transaction",
          "items": {
            "type": "object",
            "properties": {
              "chargeType": {
                "type": "string",
                "description": "Holds the type of the charges to be collected"
              },
              "chargeName": {
                "type": "string",
                "description": "The description of the charge to be taken for payment"
              },
              "chargeCurrency": {
                "type": "string",
                "description": "Indicates the charge currency in which charge amount will be taken for the instruction"
              },
              "chargeAmount": {
                "type": "number",
                "description": "Indicates the charge amount in the charge currency which is to be applied for instruction for e.g. charge to be taken for payment stop instruction"
              },
              "chargeAccountCurrencyAmount": {
                "type": "number",
                "description": ""
              }
            }
          }
        },
        "overrides": {
          "type": "array",
          "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items": {
            "type": "object",
            "properties": {
              "override": {
                "type": "string",
                "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database."
              }
            }
          }
        },
        "paymentOrderProductId": {
          "type": "string",
          "description": "Indicates the payment order product for which payment is initiated"
        },
        "debitAccountId": {
          "type": "string",
          "description": "Indicates the debit account number of the payment"
        },
        "debitAccountIBAN": {
          "type": "string",
          "description": "Indicates the debit account IBAN of the payment"
        },
        "debitCurrency": {
          "type": "string",
          "description": "Indicates the currency of debit account"
        },
        "debitValueDate": {
          "type": "string",
          "format": "date",
          "description": "The date on which the Invocation amount will be debited for settlement"
        },
        "creditAccountId": {
          "type": "string",
          "description": "This is the account which will be credited for the instruction"
        },
        "creditAccountIBAN": {
          "type": "string",
          "description": "Indicates the IBAN of the credit account"
        },
        "orderingCustomerId": {
          "type": "string",
          "description": "Indicates the customer id for the ordering customer"
        },
        "orderingCustomerName": {
          "type": "string",
          "description": "Indicates the name of Ordering Customer"
        },
        "paymentCurrencyId": {
          "type": "string",
          "description": "The currency of payment."
        },
        "amount": {
          "type": "number",
          "description": "This is the payment amount"
        },
        "executionDate": {
          "type": "string",
          "format": "date",
          "description": "The date when payment will be processed"
        },
        "treasuryRate": {
          "type": "string",
          "description": "The Treasury rate for the conversion between payment currency and the ordering currency"
        },
        "forexSpread": {
          "type": "string",
          "description": "The spread that is applied to the published internal exchange rates to derive the final exchange rate or the customer rate for the transaction for currency conversion between ordering currency and payment currency"
        },
        "forexCustomerRate": {
          "type": "string",
          "description": "The exchange rate that is actually applied for currency conversion between ordering currency and payment currency in case of transactions involving FX conversion. "
        },
        "orderingPortfolio": {
          "type": "string",
          "description": "Indicates the portfolio id for the debit side if the account belongs to a specific portfolio"
        },
        "creditPortfolio": {
          "type": "string",
          "description": "Indicates the portfolio id for the credit side if the account belongs to a specific portfolio"
        },
        "orderingReference": {
          "type": "string",
          "description": "The reference related to the ordering details"
        },
        "chargeBearer": {
          "type": "string",
          "description": "Indicates who will bear all charges for the payment. Allowed options are Recipient To Pay All Charges, Pay My Bank's Charges or Pay My Bank Charges Only"
        },
        "beneficiaryId": {
          "type": "string",
          "description": "Indicates the Id of beneficiary when beneficiary details are stored"
        },
        "beneficiaryAccountId": {
          "type": "string",
          "description": "Indicates the account number of the beneficiary"
        },
        "beneficiaryBIC": {
          "type": "string",
          "description": "BIC (Bank Identifier Code) of the beneficiary customer "
        },
        "beneficiaryName": {
          "type": "string",
          "description": "Name of beneficiary"
        },
        "accountWithBankBIC": {
          "type": "string",
          "description": "This is the BIC code of the institution where beneficiary holds an account"
        },
        "beneficiaryBankClearingCode": {
          "type": "string",
          "description": "Clearing code or sort code of the beneficiary bank"
        },
        "accountWithBankClearingCode": {
          "type": "string",
          "description": "This is the national clearing code or sort code of the institution where beneficiary holds an account"
        },
        "clearingChannel": {
          "type": "string",
          "description": "Indicates the clearing channel for the payment in the ISO format of the Clearing System Identifiers"
        },
        "structuredCreditorReference": {
          "type": "string",
          "description": "This is the unique reference, as assigned by the creditor, to unambiguously refer to the payment"
        },
        "beneficiaryCountryCode": {
          "type": "string",
          "description": ""
        },
        "beneficiaryIBAN": {
          "type": "string",
          "description": "The IBAN of the beneficiary's account"
        },
        "accountWithBankIBAN": {
          "type": "string",
          "description": "This is the IBAN of the institution where beneficiary holds an account"
        },
        "requiredCreditValueDate": {
          "type": "string",
          "format": "date",
          "description": "The credit value date i.e. tentative date on which the payment system will process the payment"
        },
        "purpose": {
          "type": "string",
          "description": "Indicates the purpose code of the payment"
        },
        "structuredCommunicationCode": {
          "type": "string",
          "description": "Creditor reference in a coded form i.e - RADM (RemittanceAdviceMessage) - RPIN (RelatedPaymentInstruction) - FXDR (ForeignExchangeDealReference) - DISP (DispatchAdvice) - PUOR (PurchaseOrder) - SCOR (StructuredCommunicationReference)"
        },
        "structuredIssuer": {
          "type": "string",
          "description": "Entity that assigns the identification"
        },
        "endToEndReference": {
          "type": "string",
          "description": "This indicates the end to end reference for the payment. This field can be provided by one who instructs the payment and flows through the lifecycle of payment. "
        },
        "instructionIdReference": {
          "type": "string",
          "description": "\"Indicates the unique identification as assigned by an instructing party for an instructed party to\r unambiguously identify the instruction.\""
        },
        "termsAndConditions": {
          "type": "string",
          "description": "Specifies the terms and conditions in the text format for the payment instruction, if any."
        },
        "indicativeRate": {
          "type": "string",
          "description": "The indicative rate at the time of submitting a payment initiation request. Actual rate with which the payment will be processed will be calculated/ fetched during payment processing. "
        },
        "chargeAccountId": {
          "type": "string",
          "description": "Indicates the account to which the charges has to be levied. Used when charges are to be taken from a separate account"
        },
        "chargeAccountCurrencyId": {
          "type": "string",
          "description": "When a charge account is specified, this field indicates the currency of the charge account"
        },
        "creditValueDate": {
          "type": "string",
          "format": "date",
          "description": "The value date applied to the credit side of a payment"
        },
        "PSDCompliant": {
          "type": "string",
          "description": "Defines whether the transaction is PSD (Payment Services Directive) compliant or not."
        },
        "totalDebitAmount": {
          "type": "number",
          "description": "The total debit amount including the charges associated for the payment"
        },
        "localInstrumentCode": {
          "type": "string",
          "description": ""
        },
        "recordStatus": {
          "type": "string",
          "description": "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides"
        }
      }
    },
    "ErrorHeader": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The Identifier of the record created"
        },
        "status": {
          "type": "string",
          "description": "The status of the record"
        },
        "transactionStatus": {
          "type": "string",
          "description": "The status of the transaction"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody": {
      "properties": {
        "overrideDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier of the override"
              },
              "description": {
                "type": "string",
                "description": "The actual override message"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/ScreenErrorResponseBody"
        },
        "override": {
          "$ref": "#/definitions/overrideBody"
        }
      },
      "description": "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fieldName": {
                "type": "string",
                "description": "The name of the field"
              },
              "code": {
                "type": "string",
                "description": "The identifier of the error message"
              },
              "message": {
                "type": "string",
                "description": "The actual t24 error message"
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type"
        }
      }
    },
    "PaymentOrder1": {
      "properties": {
        "header": {
          "$ref": "#/definitions/PayloadHeader"
        },
        "body": {
          "$ref": "#/definitions/PaymentOrder1Body"
        }
      },
      "description": "PaymentOrder1"
    },
    "PaymentOrder1Body": {
      "type": "object",
      "properties": {
        "narratives": {
          "type": "array",
          "description": "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items": {
            "type": "object",
            "properties": {
              "narrative": {
                "type": "string",
                "description": "The additional text printed on descriptive statements in addition to the standard narrative and/or reference"
              }
            }
          }
        },
        "additionalInformations": {
          "type": "array",
          "description": "Additional Information provided to add context",
          "items": {
            "type": "object",
            "properties": {
              "additionalInformation": {
                "type": "string",
                "description": "Additional Information provided to add context"
              }
            }
          }
        },
        "remittanceInformations": {
          "type": "array",
          "description": "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
          "items": {
            "type": "object",
            "properties": {
              "remittanceInformation": {
                "type": "string",
                "description": "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form."
              }
            }
          }
        },
        "signatories": {
          "type": "array",
          "description": "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction",
          "items": {
            "type": "object",
            "properties": {
              "signatory": {
                "type": "string",
                "description": "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction"
              }
            }
          }
        },
        "invoiceReferences": {
          "type": "array",
          "description": "It provides the reference of the invoice ",
          "items": {
            "type": "object",
            "properties": {
              "invoiceReference": {
                "type": "string",
                "description": "It provides the reference of the invoice "
              }
            }
          }
        },
        "charges": {
          "type": "array",
          "description": "The charges or fees for this transaction",
          "items": {
            "type": "object",
            "properties": {
              "chargeType": {
                "type": "string",
                "description": "Holds the type of the charges to be collected"
              },
              "chargeName": {
                "type": "string",
                "description": "The description of the charge to be taken for payment"
              },
              "chargeCurrency": {
                "type": "string",
                "description": "Indicates the charge currency in which charge amount will be taken for the instruction"
              },
              "chargeAmount": {
                "type": "number",
                "description": "Indicates the charge amount in the charge currency which is to be applied for instruction for e.g. charge to be taken for payment stop instruction"
              },
              "chargeAccountCurrencyAmount": {
                "type": "number",
                "description": ""
              }
            }
          }
        },
        "overrides": {
          "type": "array",
          "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items": {
            "type": "object",
            "properties": {
              "override": {
                "type": "string",
                "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database."
              }
            }
          }
        },
        "paymentOrderProductId": {
          "type": "string",
          "description": "Indicates the payment order product for which payment is initiated"
        },
        "debitAccountId": {
          "type": "string",
          "description": "Indicates the debit account number of the payment"
        },
        "debitAccountIBAN": {
          "type": "string",
          "description": "Indicates the debit account IBAN of the payment"
        },
        "debitCurrency": {
          "type": "string",
          "description": "Indicates the currency of debit account"
        },
        "debitValueDate": {
          "type": "string",
          "format": "date",
          "description": "The date on which the Invocation amount will be debited for settlement"
        },
        "creditAccountId": {
          "type": "string",
          "description": "This is the account which will be credited for the instruction"
        },
        "creditAccountIBAN": {
          "type": "string",
          "description": "Indicates the IBAN of the credit account"
        },
        "orderingCustomerId": {
          "type": "string",
          "description": "Indicates the customer id for the ordering customer"
        },
        "orderingCustomerName": {
          "type": "string",
          "description": "Indicates the name of Ordering Customer"
        },
        "paymentCurrencyId": {
          "type": "string",
          "description": "The currency of payment."
        },
        "amount": {
          "type": "number",
          "description": "This is the payment amount"
        },
        "executionDate": {
          "type": "string",
          "format": "date",
          "description": "The date when payment will be processed"
        },
        "treasuryRate": {
          "type": "string",
          "description": "The Treasury rate for the conversion between payment currency and the ordering currency"
        },
        "forexSpread": {
          "type": "string",
          "description": "The spread that is applied to the published internal exchange rates to derive the final exchange rate or the customer rate for the transaction for currency conversion between ordering currency and payment currency"
        },
        "forexCustomerRate": {
          "type": "string",
          "description": "The exchange rate that is actually applied for currency conversion between ordering currency and payment currency in case of transactions involving FX conversion. "
        },
        "orderingPortfolio": {
          "type": "string",
          "description": "Indicates the portfolio id for the debit side if the account belongs to a specific portfolio"
        },
        "creditPortfolio": {
          "type": "string",
          "description": "Indicates the portfolio id for the credit side if the account belongs to a specific portfolio"
        },
        "orderingReference": {
          "type": "string",
          "description": "The reference related to the ordering details"
        },
        "chargeBearer": {
          "type": "string",
          "description": "Indicates who will bear all charges for the payment. Allowed options are Recipient To Pay All Charges, Pay My Bank's Charges or Pay My Bank Charges Only"
        },
        "beneficiaryId": {
          "type": "string",
          "description": "Indicates the Id of beneficiary when beneficiary details are stored"
        },
        "beneficiaryAccountId": {
          "type": "string",
          "description": "Indicates the account number of the beneficiary"
        },
        "beneficiaryBIC": {
          "type": "string",
          "description": "BIC (Bank Identifier Code) of the beneficiary customer "
        },
        "beneficiaryName": {
          "type": "string",
          "description": "Name of beneficiary"
        },
        "accountWithBankBIC": {
          "type": "string",
          "description": "This is the BIC code of the institution where beneficiary holds an account"
        },
        "beneficiaryBankClearingCode": {
          "type": "string",
          "description": "Clearing code or sort code of the beneficiary bank"
        },
        "accountWithBankClearingCode": {
          "type": "string",
          "description": "This is the national clearing code or sort code of the institution where beneficiary holds an account"
        },
        "clearingChannel": {
          "type": "string",
          "description": "Indicates the clearing channel for the payment in the ISO format of the Clearing System Identifiers"
        },
        "structuredCreditorReference": {
          "type": "string",
          "description": "This is the unique reference, as assigned by the creditor, to unambiguously refer to the payment"
        },
        "beneficiaryCountryCode": {
          "type": "string",
          "description": ""
        },
        "beneficiaryIBAN": {
          "type": "string",
          "description": "The IBAN of the beneficiary's account"
        },
        "accountWithBankIBAN": {
          "type": "string",
          "description": "This is the IBAN of the institution where beneficiary holds an account"
        },
        "requiredCreditValueDate": {
          "type": "string",
          "format": "date",
          "description": "The credit value date i.e. tentative date on which the payment system will process the payment"
        },
        "purpose": {
          "type": "string",
          "description": "Indicates the purpose code of the payment"
        },
        "structuredCommunicationCode": {
          "type": "string",
          "description": "Creditor reference in a coded form i.e - RADM (RemittanceAdviceMessage) - RPIN (RelatedPaymentInstruction) - FXDR (ForeignExchangeDealReference) - DISP (DispatchAdvice) - PUOR (PurchaseOrder) - SCOR (StructuredCommunicationReference)"
        },
        "structuredIssuer": {
          "type": "string",
          "description": "Entity that assigns the identification"
        },
        "endToEndReference": {
          "type": "string",
          "description": "This indicates the end to end reference for the payment. This field can be provided by one who instructs the payment and flows through the lifecycle of payment. "
        },
        "instructionIdReference": {
          "type": "string",
          "description": "\"Indicates the unique identification as assigned by an instructing party for an instructed party to\r unambiguously identify the instruction.\""
        },
        "termsAndConditions": {
          "type": "string",
          "description": "Specifies the terms and conditions in the text format for the payment instruction, if any."
        },
        "indicativeRate": {
          "type": "string",
          "description": "The indicative rate at the time of submitting a payment initiation request. Actual rate with which the payment will be processed will be calculated/ fetched during payment processing. "
        },
        "chargeAccountId": {
          "type": "string",
          "description": "Indicates the account to which the charges has to be levied. Used when charges are to be taken from a separate account"
        },
        "chargeAccountCurrencyId": {
          "type": "string",
          "description": "When a charge account is specified, this field indicates the currency of the charge account"
        },
        "creditValueDate": {
          "type": "string",
          "format": "date",
          "description": "The value date applied to the credit side of a payment"
        },
        "PSDCompliant": {
          "type": "string",
          "description": "Defines whether the transaction is PSD (Payment Services Directive) compliant or not."
        },
        "totalDebitAmount": {
          "type": "number",
          "description": "The total debit amount including the charges associated for the payment"
        },
        "localInstrumentCode": {
          "type": "string",
          "description": ""
        },
        "recordStatus": {
          "type": "string",
          "description": "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides"
        }
      }
    },
    "PaymentOrderResponse1": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/PaymentOrderResponse1Body"
        }
      },
      "description": "PaymentOrderResponse1"
    },
    "PaymentOrderResponse1Body": {
      "type": "object",
      "properties": {
        "narratives": {
          "type": "array",
          "description": "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items": {
            "type": "object",
            "properties": {
              "narrative": {
                "type": "string",
                "description": "The additional text printed on descriptive statements in addition to the standard narrative and/or reference"
              }
            }
          }
        },
        "additionalInformations": {
          "type": "array",
          "description": "Additional Information provided to add context",
          "items": {
            "type": "object",
            "properties": {
              "additionalInformation": {
                "type": "string",
                "description": "Additional Information provided to add context"
              }
            }
          }
        },
        "remittanceInformations": {
          "type": "array",
          "description": "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
          "items": {
            "type": "object",
            "properties": {
              "remittanceInformation": {
                "type": "string",
                "description": "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form."
              }
            }
          }
        },
        "signatories": {
          "type": "array",
          "description": "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction",
          "items": {
            "type": "object",
            "properties": {
              "signatory": {
                "type": "string",
                "description": "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction"
              }
            }
          }
        },
        "invoiceReferences": {
          "type": "array",
          "description": "It provides the reference of the invoice ",
          "items": {
            "type": "object",
            "properties": {
              "invoiceReference": {
                "type": "string",
                "description": "It provides the reference of the invoice "
              }
            }
          }
        },
        "charges": {
          "type": "array",
          "description": "The charges or fees for this transaction",
          "items": {
            "type": "object",
            "properties": {
              "chargeType": {
                "type": "string",
                "description": "Holds the type of the charges to be collected"
              },
              "chargeName": {
                "type": "string",
                "description": "The description of the charge to be taken for payment"
              },
              "chargeCurrency": {
                "type": "string",
                "description": "Indicates the charge currency in which charge amount will be taken for the instruction"
              },
              "chargeAmount": {
                "type": "number",
                "description": "Indicates the charge amount in the charge currency which is to be applied for instruction for e.g. charge to be taken for payment stop instruction"
              },
              "chargeAccountCurrencyAmount": {
                "type": "number",
                "description": ""
              }
            }
          }
        },
        "overrides": {
          "type": "array",
          "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items": {
            "type": "object",
            "properties": {
              "override": {
                "type": "string",
                "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database."
              }
            }
          }
        },
        "paymentOrderProductId": {
          "type": "string",
          "description": "Indicates the payment order product for which payment is initiated"
        },
        "debitAccountId": {
          "type": "string",
          "description": "Indicates the debit account number of the payment"
        },
        "debitAccountIBAN": {
          "type": "string",
          "description": "Indicates the debit account IBAN of the payment"
        },
        "debitCurrency": {
          "type": "string",
          "description": "Indicates the currency of debit account"
        },
        "debitValueDate": {
          "type": "string",
          "format": "date",
          "description": "The date on which the Invocation amount will be debited for settlement"
        },
        "creditAccountId": {
          "type": "string",
          "description": "This is the account which will be credited for the instruction"
        },
        "creditAccountIBAN": {
          "type": "string",
          "description": "Indicates the IBAN of the credit account"
        },
        "orderingCustomerId": {
          "type": "string",
          "description": "Indicates the customer id for the ordering customer"
        },
        "orderingCustomerName": {
          "type": "string",
          "description": "Indicates the name of Ordering Customer"
        },
        "paymentCurrencyId": {
          "type": "string",
          "description": "The currency of payment."
        },
        "amount": {
          "type": "number",
          "description": "This is the payment amount"
        },
        "executionDate": {
          "type": "string",
          "format": "date",
          "description": "The date when payment will be processed"
        },
        "treasuryRate": {
          "type": "string",
          "description": "The Treasury rate for the conversion between payment currency and the ordering currency"
        },
        "forexSpread": {
          "type": "string",
          "description": "The spread that is applied to the published internal exchange rates to derive the final exchange rate or the customer rate for the transaction for currency conversion between ordering currency and payment currency"
        },
        "forexCustomerRate": {
          "type": "string",
          "description": "The exchange rate that is actually applied for currency conversion between ordering currency and payment currency in case of transactions involving FX conversion. "
        },
        "orderingPortfolio": {
          "type": "string",
          "description": "Indicates the portfolio id for the debit side if the account belongs to a specific portfolio"
        },
        "creditPortfolio": {
          "type": "string",
          "description": "Indicates the portfolio id for the credit side if the account belongs to a specific portfolio"
        },
        "orderingReference": {
          "type": "string",
          "description": "The reference related to the ordering details"
        },
        "chargeBearer": {
          "type": "string",
          "description": "Indicates who will bear all charges for the payment. Allowed options are Recipient To Pay All Charges, Pay My Bank's Charges or Pay My Bank Charges Only"
        },
        "beneficiaryId": {
          "type": "string",
          "description": "Indicates the Id of beneficiary when beneficiary details are stored"
        },
        "beneficiaryAccountId": {
          "type": "string",
          "description": "Indicates the account number of the beneficiary"
        },
        "beneficiaryBIC": {
          "type": "string",
          "description": "BIC (Bank Identifier Code) of the beneficiary customer "
        },
        "beneficiaryName": {
          "type": "string",
          "description": "Name of beneficiary"
        },
        "accountWithBankBIC": {
          "type": "string",
          "description": "This is the BIC code of the institution where beneficiary holds an account"
        },
        "beneficiaryBankClearingCode": {
          "type": "string",
          "description": "Clearing code or sort code of the beneficiary bank"
        },
        "accountWithBankClearingCode": {
          "type": "string",
          "description": "This is the national clearing code or sort code of the institution where beneficiary holds an account"
        },
        "clearingChannel": {
          "type": "string",
          "description": "Indicates the clearing channel for the payment in the ISO format of the Clearing System Identifiers"
        },
        "structuredCreditorReference": {
          "type": "string",
          "description": "This is the unique reference, as assigned by the creditor, to unambiguously refer to the payment"
        },
        "beneficiaryCountryCode": {
          "type": "string",
          "description": ""
        },
        "beneficiaryIBAN": {
          "type": "string",
          "description": "The IBAN of the beneficiary's account"
        },
        "accountWithBankIBAN": {
          "type": "string",
          "description": "This is the IBAN of the institution where beneficiary holds an account"
        },
        "requiredCreditValueDate": {
          "type": "string",
          "format": "date",
          "description": "The credit value date i.e. tentative date on which the payment system will process the payment"
        },
        "purpose": {
          "type": "string",
          "description": "Indicates the purpose code of the payment"
        },
        "structuredCommunicationCode": {
          "type": "string",
          "description": "Creditor reference in a coded form i.e - RADM (RemittanceAdviceMessage) - RPIN (RelatedPaymentInstruction) - FXDR (ForeignExchangeDealReference) - DISP (DispatchAdvice) - PUOR (PurchaseOrder) - SCOR (StructuredCommunicationReference)"
        },
        "structuredIssuer": {
          "type": "string",
          "description": "Entity that assigns the identification"
        },
        "endToEndReference": {
          "type": "string",
          "description": "This indicates the end to end reference for the payment. This field can be provided by one who instructs the payment and flows through the lifecycle of payment. "
        },
        "instructionIdReference": {
          "type": "string",
          "description": "\"Indicates the unique identification as assigned by an instructing party for an instructed party to\r unambiguously identify the instruction.\""
        },
        "termsAndConditions": {
          "type": "string",
          "description": "Specifies the terms and conditions in the text format for the payment instruction, if any."
        },
        "indicativeRate": {
          "type": "string",
          "description": "The indicative rate at the time of submitting a payment initiation request. Actual rate with which the payment will be processed will be calculated/ fetched during payment processing. "
        },
        "chargeAccountId": {
          "type": "string",
          "description": "Indicates the account to which the charges has to be levied. Used when charges are to be taken from a separate account"
        },
        "chargeAccountCurrencyId": {
          "type": "string",
          "description": "When a charge account is specified, this field indicates the currency of the charge account"
        },
        "creditValueDate": {
          "type": "string",
          "format": "date",
          "description": "The value date applied to the credit side of a payment"
        },
        "PSDCompliant": {
          "type": "string",
          "description": "Defines whether the transaction is PSD (Payment Services Directive) compliant or not."
        },
        "totalDebitAmount": {
          "type": "number",
          "description": "The total debit amount including the charges associated for the payment"
        },
        "localInstrumentCode": {
          "type": "string",
          "description": ""
        },
        "recordStatus": {
          "type": "string",
          "description": "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides"
        }
      }
    },
    "PaymentOrderResponse2": {
      "properties": {
        "header": {
          "$ref": "#/definitions/ScreenHeader"
        },
        "body": {
          "$ref": "#/definitions/PaymentOrderResponse2Body"
        }
      },
      "description": "PaymentOrderResponse2"
    },
    "PaymentOrderResponse2Body": {
      "type": "object",
      "properties": {
        "narratives": {
          "type": "array",
          "description": "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items": {
            "type": "object",
            "properties": {
              "narrative": {
                "type": "string",
                "description": "The additional text printed on descriptive statements in addition to the standard narrative and/or reference"
              }
            }
          }
        },
        "additionalInformations": {
          "type": "array",
          "description": "Additional Information provided to add context",
          "items": {
            "type": "object",
            "properties": {
              "additionalInformation": {
                "type": "string",
                "description": "Additional Information provided to add context"
              }
            }
          }
        },
        "remittanceInformations": {
          "type": "array",
          "description": "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
          "items": {
            "type": "object",
            "properties": {
              "remittanceInformation": {
                "type": "string",
                "description": "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form."
              }
            }
          }
        },
        "signatories": {
          "type": "array",
          "description": "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction",
          "items": {
            "type": "object",
            "properties": {
              "signatory": {
                "type": "string",
                "description": "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction"
              }
            }
          }
        },
        "invoiceReferences": {
          "type": "array",
          "description": "It provides the reference of the invoice ",
          "items": {
            "type": "object",
            "properties": {
              "invoiceReference": {
                "type": "string",
                "description": "It provides the reference of the invoice "
              }
            }
          }
        },
        "charges": {
          "type": "array",
          "description": "The charges or fees for this transaction",
          "items": {
            "type": "object",
            "properties": {
              "chargeType": {
                "type": "string",
                "description": "Holds the type of the charges to be collected"
              },
              "chargeName": {
                "type": "string",
                "description": "The description of the charge to be taken for payment"
              },
              "chargeCurrency": {
                "type": "string",
                "description": "Indicates the charge currency in which charge amount will be taken for the instruction"
              },
              "chargeAmount": {
                "type": "number",
                "description": "Indicates the charge amount in the charge currency which is to be applied for instruction for e.g. charge to be taken for payment stop instruction"
              },
              "chargeAccountCurrencyAmount": {
                "type": "number",
                "description": ""
              }
            }
          }
        },
        "overrides": {
          "type": "array",
          "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items": {
            "type": "object",
            "properties": {
              "override": {
                "type": "string",
                "description": "The override message is captured  that was generated at the time of commitment of the transaction to the database."
              }
            }
          }
        },
        "paymentOrderProductId": {
          "type": "string",
          "description": "Indicates the payment order product for which payment is initiated"
        },
        "debitAccountId": {
          "type": "string",
          "description": "Indicates the debit account number of the payment"
        },
        "debitAccountIBAN": {
          "type": "string",
          "description": "Indicates the debit account IBAN of the payment"
        },
        "debitCurrency": {
          "type": "string",
          "description": "Indicates the currency of debit account"
        },
        "debitValueDate": {
          "type": "string",
          "format": "date",
          "description": "The date on which the Invocation amount will be debited for settlement"
        },
        "creditAccountId": {
          "type": "string",
          "description": "This is the account which will be credited for the instruction"
        },
        "creditAccountIBAN": {
          "type": "string",
          "description": "Indicates the IBAN of the credit account"
        },
        "orderingCustomerId": {
          "type": "string",
          "description": "Indicates the customer id for the ordering customer"
        },
        "orderingCustomerName": {
          "type": "string",
          "description": "Indicates the name of Ordering Customer"
        },
        "paymentCurrencyId": {
          "type": "string",
          "description": "The currency of payment."
        },
        "amount": {
          "type": "number",
          "description": "This is the payment amount"
        },
        "executionDate": {
          "type": "string",
          "format": "date",
          "description": "The date when payment will be processed"
        },
        "treasuryRate": {
          "type": "string",
          "description": "The Treasury rate for the conversion between payment currency and the ordering currency"
        },
        "forexSpread": {
          "type": "string",
          "description": "The spread that is applied to the published internal exchange rates to derive the final exchange rate or the customer rate for the transaction for currency conversion between ordering currency and payment currency"
        },
        "forexCustomerRate": {
          "type": "string",
          "description": "The exchange rate that is actually applied for currency conversion between ordering currency and payment currency in case of transactions involving FX conversion. "
        },
        "orderingPortfolio": {
          "type": "string",
          "description": "Indicates the portfolio id for the debit side if the account belongs to a specific portfolio"
        },
        "creditPortfolio": {
          "type": "string",
          "description": "Indicates the portfolio id for the credit side if the account belongs to a specific portfolio"
        },
        "orderingReference": {
          "type": "string",
          "description": "The reference related to the ordering details"
        },
        "chargeBearer": {
          "type": "string",
          "description": "Indicates who will bear all charges for the payment. Allowed options are Recipient To Pay All Charges, Pay My Bank's Charges or Pay My Bank Charges Only"
        },
        "beneficiaryId": {
          "type": "string",
          "description": "Indicates the Id of beneficiary when beneficiary details are stored"
        },
        "beneficiaryAccountId": {
          "type": "string",
          "description": "Indicates the account number of the beneficiary"
        },
        "beneficiaryBIC": {
          "type": "string",
          "description": "BIC (Bank Identifier Code) of the beneficiary customer "
        },
        "beneficiaryName": {
          "type": "string",
          "description": "Name of beneficiary"
        },
        "accountWithBankBIC": {
          "type": "string",
          "description": "This is the BIC code of the institution where beneficiary holds an account"
        },
        "beneficiaryBankClearingCode": {
          "type": "string",
          "description": "Clearing code or sort code of the beneficiary bank"
        },
        "accountWithBankClearingCode": {
          "type": "string",
          "description": "This is the national clearing code or sort code of the institution where beneficiary holds an account"
        },
        "clearingChannel": {
          "type": "string",
          "description": "Indicates the clearing channel for the payment in the ISO format of the Clearing System Identifiers"
        },
        "structuredCreditorReference": {
          "type": "string",
          "description": "This is the unique reference, as assigned by the creditor, to unambiguously refer to the payment"
        },
        "beneficiaryCountryCode": {
          "type": "string",
          "description": ""
        },
        "beneficiaryIBAN": {
          "type": "string",
          "description": "The IBAN of the beneficiary's account"
        },
        "accountWithBankIBAN": {
          "type": "string",
          "description": "This is the IBAN of the institution where beneficiary holds an account"
        },
        "requiredCreditValueDate": {
          "type": "string",
          "format": "date",
          "description": "The credit value date i.e. tentative date on which the payment system will process the payment"
        },
        "purpose": {
          "type": "string",
          "description": "Indicates the purpose code of the payment"
        },
        "structuredCommunicationCode": {
          "type": "string",
          "description": "Creditor reference in a coded form i.e - RADM (RemittanceAdviceMessage) - RPIN (RelatedPaymentInstruction) - FXDR (ForeignExchangeDealReference) - DISP (DispatchAdvice) - PUOR (PurchaseOrder) - SCOR (StructuredCommunicationReference)"
        },
        "structuredIssuer": {
          "type": "string",
          "description": "Entity that assigns the identification"
        },
        "endToEndReference": {
          "type": "string",
          "description": "This indicates the end to end reference for the payment. This field can be provided by one who instructs the payment and flows through the lifecycle of payment. "
        },
        "instructionIdReference": {
          "type": "string",
          "description": "\"Indicates the unique identification as assigned by an instructing party for an instructed party to\r unambiguously identify the instruction.\""
        },
        "termsAndConditions": {
          "type": "string",
          "description": "Specifies the terms and conditions in the text format for the payment instruction, if any."
        },
        "indicativeRate": {
          "type": "string",
          "description": "The indicative rate at the time of submitting a payment initiation request. Actual rate with which the payment will be processed will be calculated/ fetched during payment processing. "
        },
        "chargeAccountId": {
          "type": "string",
          "description": "Indicates the account to which the charges has to be levied. Used when charges are to be taken from a separate account"
        },
        "chargeAccountCurrencyId": {
          "type": "string",
          "description": "When a charge account is specified, this field indicates the currency of the charge account"
        },
        "creditValueDate": {
          "type": "string",
          "format": "date",
          "description": "The value date applied to the credit side of a payment"
        },
        "PSDCompliant": {
          "type": "string",
          "description": "Defines whether the transaction is PSD (Payment Services Directive) compliant or not."
        },
        "totalDebitAmount": {
          "type": "number",
          "description": "The total debit amount including the charges associated for the payment"
        },
        "localInstrumentCode": {
          "type": "string",
          "description": ""
        },
        "recordStatus": {
          "type": "string",
          "description": "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides"
        }
      }
    },
    "QueryHeader": {
      "properties": {
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to response by T24"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "parse_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
[...]
