{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows to view,create and manage the fiduciary orders",
    "version" : "v1.0.0",
    "title" : "Order Fiduciary Order APIs"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/fiduciaryOrders/fiduciaryOrderInitiations" : {
      "post" : {
        "summary" : "Allows to create a fiduciary order Initiation",
        "description" : "Allows to create a fiduciary order Initiation",
        "operationId" : "createFiduciaryOrderInitiation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FiduciaryOrderInitiation"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FiduciaryOrderInitiationResponse",
            "schema" : {
              "$ref" : "#/definitions/FiduciaryOrderInitiationResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/fiduciaryOrders/fiduciaryOrderInitiations/{fiduciaryOrderId}" : {
      "get" : {
        "summary" : "Allows to view a fiduciary order Initiation",
        "description" : "Allows to view a fiduciary order Initiation",
        "operationId" : "getFiduciaryOrderInitiation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "fiduciaryOrderId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FiduciaryOrderInitiationResponse",
            "schema" : {
              "$ref" : "#/definitions/FiduciaryOrderInitiationResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "summary" : "Allows to update a fiduciary order Initiation",
        "description" : "Allows to update a fiduciary order Initiation",
        "operationId" : "updateFiduciaryOrderInitiation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "fiduciaryOrderId",
          "in" : "path",
          "description" : "Key or Identifier of the Fiduciary Order",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FiduciaryOrderInitiation"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FiduciaryOrderInitiationResponse",
            "schema" : {
              "$ref" : "#/definitions/FiduciaryOrderInitiationResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "FiduciaryOrderInitiation" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/FiduciaryOrderInitiationBody"
        }
      },
      "description" : "FiduciaryOrderInitiation"
    },
    "FiduciaryOrderInitiationBody" : {
      "type" : "object",
      "properties" : {
        "customerInstructions" : {
          "type" : "array",
          "description" : "Instructions given by the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerInstruction" : {
                "type" : "string",
                "description" : "Instructions given by the customer"
              }
            }
          }
        },
        "frontOfficeInstructions" : {
          "type" : "array",
          "description" : "Optional free text field to capture any narrative for the account officer.",
          "items" : {
            "type" : "object",
            "properties" : {
              "frontOfficeInstructions" : {
                "type" : "string",
                "description" : "Optional free text field to capture any narrative for the account officer."
              }
            }
          }
        },
        "dealerInstructions" : {
          "type" : "array",
          "description" : "Special instructions regarding the order for the attention of the dealer making the placement",
          "items" : {
            "type" : "object",
            "properties" : {
              "dealerInstruction" : {
                "type" : "string",
                "description" : "Special instructions regarding the order for the attention of the dealer making the placement"
              }
            }
          }
        },
        "chargeDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "The date on which the charge will be debited to the charge account"
              },
              "chargeEvent" : {
                "type" : "string",
                "description" : "Defines the event for which the charges are applicable.Possible Values : Change, Drawdown or Maturity"
              },
              "furtherDetails" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "chargeType" : {
                      "type" : "string",
                      "description" : "Holds the type of the charges to be collected"
                    },
                    "chargeAmount" : {
                      "type" : "number",
                      "description" : "Indicates the charge amount in the charge currency which is to be applied for instruction for e.g. charge to be taken for payment stop instruction"
                    }
                  }
                }
              }
            }
          }
        },
        "splitAmounts" : {
          "type" : "array",
          "description" : "The amount into which the existing order is to be split",
          "items" : {
            "type" : "object",
            "properties" : {
              "splitAmount" : {
                "type" : "number",
                "description" : "The amount into which the existing order is to be split"
              }
            }
          }
        },
        "customerId" : {
          "type" : "string",
          "description" : "The identifier of the customer"
        },
        "portfolioId" : {
          "type" : "string",
          "description" : "Id of the portfolio or security account"
        },
        "fiduciaryOrderType" : {
          "type" : "string",
          "description" : "The type of Fiduciary deposit  i.e. Fixed or Notice"
        },
        "bicId" : {
          "type" : "string",
          "description" : "Bank Identifier Code (BIC) of the Beneficiary bank."
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
        },
        "depositAmount" : {
          "type" : "number",
          "description" : "The principal to be deposited"
        },
        "orderDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The order date of the instructions contained within the transaction"
        },
        "valueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Shows the date on which the underlying accounting entry is to be given value (for interest purposes)."
        },
        "maturityDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The delivery period or maturity date of the contract transacted"
        },
        "depositTerm" : {
          "type" : "string",
          "description" : ""
        },
        "pooling" : {
          "type" : "string",
          "description" : "Specifies how the order is be pooled.Possible Values : MANUAL - The pool group can then be amended manually by the dealer, AUTO - The order will be pooled automatically at authorisation with other orders of the same currency, value date and maturity date and any additional pooling fields, NONE - The order will not be pooled"
        },
        "interestRate" : {
          "type" : "number",
          "description" : "Identifies the bid rate of the related currency for the defined time period"
        },
        "interestDayBasis" : {
          "type" : "string",
          "description" : "Defines the method of calculation for accrued interest on a Security"
        },
        "drawdownAccountId" : {
          "type" : "string",
          "description" : "The identifier of the drawdown account"
        },
        "principalLiquidationAccountId" : {
          "type" : "string",
          "description" : "The account to be credited with the principal at maturity of the order"
        },
        "interestLiquidationAccountId" : {
          "type" : "string",
          "description" : "The account to be credited with the interest at maturity of the order"
        },
        "accountOfficerId" : {
          "type" : "number",
          "description" : "The identifier of the department head or specific account officer responsible for the customer"
        },
        "commissionCode" : {
          "type" : "string",
          "description" : "The Commisssion Code to be applied"
        },
        "commissionAmount" : {
          "type" : "number",
          "description" : "The amount of commission charged"
        },
        "commissionTaken" : {
          "type" : "string",
          "description" : "Specifies whether commission is debited from the customer at the start of the contract, or at the end.Possible Values : ADVANCE, ARREARS, ARREARS-INT, ARREARS-PRIN or ARREARS-BOTH"
        },
        "commissionBasis" : {
          "type" : "string",
          "description" : "Specifies the base amount to be used in the calculation of commission.Possible Values : INTEREST, INCOME(PRINCIPAL+INTEREST) or PRINCIPAL"
        },
        "renewalType" : {
          "type" : "string",
          "description" : "Specifies the status that the new order will be created with AUTO - The order will be generated fully authorised subject to validation checks.SEMI - The order will be created in unauthorised status subject to validation checks.MANUAL - The order will be created with hold status.NONE -  No renewal will be generated"
        },
        "renewalAmount" : {
          "type" : "number",
          "description" : "Defines how the principal of an automatically renewed order is to be calculated"
        },
        "roundRenewal" : {
          "type" : "boolean",
          "description" : "Specifies whether the principal of the renewed order is to be rounded to the nearest multiple amount of the currency"
        },
        "renewalDrawdownAccountId" : {
          "type" : "string",
          "description" : "Account to be used as the drawdown account for the renewed order"
        },
        "minimumBalance" : {
          "type" : "number",
          "description" : "the minimum balance that must remain on the Drawdown account of the renewed order after deducting the renewed principal from the account balance"
        },
        "renewalPrincipalLiquidationAccountId" : {
          "type" : "string",
          "description" : "Account to be used as the principal liquidation account in the renewed order"
        },
        "renewalIntrestLiquidationAccountId" : {
          "type" : "string",
          "description" : "Account to be used as the interest liquidation account in the renewed order"
        },
        "renewalCommissionAccountId" : {
          "type" : "string",
          "description" : "Account to be used as the commission charge account in the renewed order"
        },
        "replaceOrder" : {
          "type" : "string",
          "description" : "Specifies the existing Order which is to be replaced"
        },
        "printDealSlip" : {
          "type" : "boolean",
          "description" : "Denotes whether a deal slip is to be produced if a deal slip is defined for the appropriate activity of the order"
        },
        "sendConfirm" : {
          "type" : "boolean",
          "description" : "Specifies whether a confirmation should be sent for the order if defined for the appropriate activity"
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "FiduciaryOrderInitiationResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/FiduciaryOrderInitiationResponseBody"
        }
      },
      "description" : "FiduciaryOrderInitiationResponse"
    },
    "FiduciaryOrderInitiationResponseBody" : {
      "type" : "object",
      "properties" : {
        "customerInstructions" : {
          "type" : "array",
          "description" : "Instructions given by the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerInstruction" : {
                "type" : "string",
                "description" : "Instructions given by the customer"
              }
            }
          }
        },
        "frontOfficeInstructions" : {
          "type" : "array",
          "description" : "Optional free text field to capture any narrative for the account officer.",
          "items" : {
            "type" : "object",
            "properties" : {
              "frontOfficeInstructions" : {
                "type" : "string",
                "description" : "Optional free text field to capture any narrative for the account officer."
              }
            }
          }
        },
        "dealerInstructions" : {
          "type" : "array",
          "description" : "Special instructions regarding the order for the attention of the dealer making the placement",
          "items" : {
            "type" : "object",
            "properties" : {
              "dealerInstruction" : {
                "type" : "string",
                "description" : "Special instructions regarding the order for the attention of the dealer making the placement"
              }
            }
          }
        },
        "chargeDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeDate" : {
                "type" : "string",
                "format" : "date",
                "description" : "The date on which the charge will be debited to the charge account"
              },
              "chargeEvent" : {
                "type" : "string",
                "description" : "Defines the event for which the charges are applicable.Possible Values : Change, Drawdown or Maturity"
              },
              "furtherDetails" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "chargeType" : {
                      "type" : "string",
                      "description" : "Holds the type of the charges to be collected"
                    },
                    "chargeAmount" : {
                      "type" : "number",
                      "description" : "Indicates the charge amount in the charge currency which is to be applied for instruction for e.g. charge to be taken for payment stop instruction"
                    }
                  }
                }
              }
            }
          }
        },
        "splitAmounts" : {
          "type" : "array",
          "description" : "The amount into which the existing order is to be split",
          "items" : {
            "type" : "object",
            "properties" : {
              "splitAmount" : {
                "type" : "number",
                "description" : "The amount into which the existing order is to be split"
              }
            }
          }
        },
        "customerId" : {
          "type" : "string",
          "description" : "The identifier of the customer"
        },
        "portfolioId" : {
          "type" : "string",
          "description" : "Id of the portfolio or security account"
        },
        "fiduciaryOrderType" : {
          "type" : "string",
          "description" : "The type of Fiduciary deposit  i.e. Fixed or Notice"
        },
        "bicId" : {
          "type" : "string",
          "description" : "Bank Identifier Code (BIC) of the Beneficiary bank."
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
        },
        "depositAmount" : {
          "type" : "number",
          "description" : "The principal to be deposited"
        },
        "orderDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The order date of the instructions contained within the transaction"
        },
        "valueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Shows the date on which the underlying accounting entry is to be given value (for interest purposes)."
        },
        "maturityDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The delivery period or maturity date of the contract transacted"
        },
        "depositTerm" : {
          "type" : "string",
          "description" : ""
        },
        "pooling" : {
          "type" : "string",
          "description" : "Specifies how the order is be pooled.Possible Values : MANUAL - The pool group can then be amended manually by the dealer, AUTO - The order will be pooled automatically at authorisation with other orders of the same currency, value date and maturity date and any additional pooling fields, NONE - The order will not be pooled"
        },
        "interestRate" : {
          "type" : "number",
          "description" : "Identifies the bid rate of the related currency for the defined time period"
        },
        "interestDayBasis" : {
          "type" : "string",
          "description" : "Defines the method of calculation for accrued interest on a Security"
        },
        "drawdownAccountId" : {
          "type" : "string",
          "description" : "The identifier of the drawdown account"
        },
        "principalLiquidationAccountId" : {
          "type" : "string",
          "description" : "The account to be credited with the principal at maturity of the order"
        },
        "interestLiquidationAccountId" : {
          "type" : "string",
          "description" : "The account to be credited with the interest at maturity of the order"
        },
        "accountOfficerId" : {
          "type" : "number",
          "description" : "The identifier of the department head or specific account officer responsible for the customer"
        },
        "commissionCode" : {
          "type" : "string",
          "description" : "These field control the allocation of Periodic commission where the field COMM.CODE is the trigger for periodic commission and the field CSN.CODE is a system maintained field and hold the commission amount relating to the period band"
        },
        "commissionAmount" : {
          "type" : "number",
          "description" : "The amount of commission charged"
        },
        "commissionTaken" : {
          "type" : "string",
          "description" : "Specifies whether commission is debited from the customer at the start of the contract, or at the end.Possible Values : ADVANCE, ARREARS, ARREARS-INT, ARREARS-PRIN or ARREARS-BOTH"
        },
        "commissionBasis" : {
          "type" : "string",
          "description" : "Specifies the base amount to be used in the calculation of commission.Possible Values : INTEREST, INCOME(PRINCIPAL+INTEREST) or PRINCIPAL"
        },
        "renewalType" : {
          "type" : "string",
          "description" : "Specifies the status that the new order will be created with AUTO - The order will be generated fully authorised subject to validation checks.SEMI - The order will be created in unauthorised status subject to validation checks.MANUAL - The order will be created with hold status.NONE -  No renewal will be generated"
        },
        "renewalAmount" : {
          "type" : "number",
          "description" : "Defines how the principal of an automatically renewed order is to be calculated"
        },
        "roundRenewal" : {
          "type" : "boolean",
          "description" : "Specifies whether the principal of the renewed order is to be rounded to the nearest multiple amount of the currency"
        },
        "renewalDrawdownAccountId" : {
          "type" : "string",
          "description" : "Account to be used as the drawdown account for the renewed order"
        },
        "minimumBalance" : {
          "type" : "number",
          "description" : "The minimum account balance required"
        },
        "renewalPrincipalLiquidationAccountId" : {
          "type" : "string",
          "description" : "Account to be used as the principal liquidation account in the renewed order"
        },
        "renewalIntrestLiquidationAccountId" : {
          "type" : "string",
          "description" : "Account to be used as the interest liquidation account in the renewed order"
        },
        "renewalCommissionAccountId" : {
          "type" : "string",
          "description" : "Account to be used as the commission charge account in the renewed order"
        },
        "replaceOrder" : {
          "type" : "string",
          "description" : "Specifies the existing Order which is to be replaced"
        },
        "printDealSlip" : {
          "type" : "boolean",
          "description" : "Denotes whether a deal slip is to be produced if a deal slip is defined for the appropriate activity of the order"
        },
        "sendConfirm" : {
          "type" : "boolean",
          "description" : "Specifies whether a confirmation should be sent for the order if defined for the appropriate activity"
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}