{"swagger":"2.0","info":{"description":"Transaction Stop related Enquiries","version":"v1.0.0","title":"Order transaction Stop"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/order/transactionStops/{transactionStopId}":{"get":{"operationId":"getStopInstructions","produces":["application/json"],"parameters":[{"name":"transactionStopId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"StopInstructionsResponse","schema":{"$ref":"#/definitions/orderStopInstructionsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/order/transactionStops/investigations":{"get":{"operationId":"getPaymentStopInvestigationDetails","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentStopInvestigationDetailsResponse","schema":{"$ref":"#/definitions/orderPaymentStopInvestigationDetailsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"orderStopInstructionsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/orderStopInstructionsResponseBody"}},"description":"orderStopInstructionsResponse"},"orderStopInstructionsResponseBody":{"type":"array","items":{"type":"object","properties":{"multigroup":{"type":"array","items":{"type":"object","properties":{"attributeName":{"type":"array","description":"","items":{"type":"string"}},"operand":{"type":"array","description":"This field along with fieldName and value, defines the conditions for the alert to be triggered.","items":{"type":"string"}},"attributeValue":{"type":"array","description":"This field along with 'attribute type' acts as a place holder for storing any parameters which are unique to that service.","items":{"type":"string"}}}}},"stopInstructionId":{"type":"string","description":"","maxLength":16},"createDate":{"type":"string","format":"date","description":""},"customerId":{"type":"number","description":"The identifier of the customer"},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as an arrangement, product, credit facility or limit is due to expire"},"cancelDate":{"type":"string","format":"date","description":""},"transactionStopStatus":{"type":"string","description":"","maxLength":35},"stopConditionId":{"type":"string","description":"","maxLength":35},"stopInstructionChannel":{"type":"string","description":"","maxLength":35},"stopReason":{"type":"string","description":"","maxLength":35},"transactionChannel":{"type":"string","description":"The channel through which the transaction has been placed","maxLength":35},"status":{"type":"string","description":"The status identifier","maxLength":35}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"orderPaymentStopInvestigationDetailsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/orderPaymentStopInvestigationDetailsResponseBody"}},"description":"orderPaymentStopInvestigationDetailsResponse"},"orderPaymentStopInvestigationDetailsResponseBody":{"type":"array","items":{"type":"object","properties":{"multigroup":{"type":"array","items":{"type":"object","properties":{"relatedInsructionid":{"type":"array","description":"","items":{"type":"string"}},"relatedDecision":{"type":"array","description":"","items":{"type":"string"}}}}},"acFundsAuthorisationId":{"type":"string","description":"","maxLength":16},"debitAccount":{"type":"number","description":""},"requestedAmount":{"type":"number","description":""},"originalTransactionReference":{"type":"string","description":"","maxLength":35},"setTypeOrOriginalDecision":{"type":"string","description":"","maxLength":4},"requestSource":{"type":"string","description":"","maxLength":6},"requestCode":{"type":"string","description":"","maxLength":15}}}}}}