{
    "swagger": "2.0",
    "info":
    {
        "description": "To block transaction accounts",
        "version": "v1.0.0",
        "title": "Block Transaction Accounts"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/order/cashManagement/bundles/accounts/transactionAccounts/transactionStops":
        {
            "post":
            {
                "description": "Initiate Block on Transaction Accounts",
                "operationId": "createBlockOnTransactionAccounts",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/BlockOnTransactionAccounts"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "createBlockOnTransactionAccountsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BlockOnTransactionAccountsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    }
                }
            },
            "put":
            {
                "description": "Edit / Amend Blocked Transaction accounts",
                "operationId": "updateBlockOnTransactionAccounts",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/BlockOnTransactionAccounts"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "updateBlockOnTransactionAccountsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BlockOnTransactionAccountsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "PayloadHeader":
        {
            "properties":
            {
                "override":
                {
                    "type": "object",
                    "properties":
                    {
                        "overrideDetails":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "id":
                                    {
                                        "type": "string",
                                        "description": "The identifier of the override"
                                    },
                                    "description":
                                    {
                                        "type": "string",
                                        "description": "The actual override message"
                                    },
                                    "responseCode":
                                    {
                                        "type": "string",
                                        "description": "The user input to accept/reject the override."
                                    }
                                }
                            }
                        }
                    }
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        }
                    }
                }
            }
        },
        "BlockOnTransactionAccounts":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/BlockOnTransactionAccountsBody"
                }
            },
            "description": "BlockOnTransactionAccounts"
        },
        "BlockOnTransactionAccountsBody":
        {
            "type": "object",
            "properties":
            {
                "partyIds":
                {
                    "type": "array",
                    "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "partyId":
                            {
                                "type": "string",
                                "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
                            }
                        }
                    }
                },
                "arrangmentId":
                {
                    "type": "string",
                    "description": ""
                },
                "arrangementEffectiveDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Date from which the arrangement is effective"
                },
                "productId":
                {
                    "type": "string",
                    "description": "Id of the product."
                },
                "activityId":
                {
                    "type": "string",
                    "description": "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
                },
                "balance":
                {
                    "type": "object",
                    "properties":
                    {
                        "restriction":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "blockingCode":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "blockingReason":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "startDate":
                        {
                            "type": "string",
                            "format": "date",
                            "description": "Specifies the start date when the instruction will be made active"
                        },
                        "expiryDate":
                        {
                            "type": "string",
                            "format": "date",
                            "description": "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
                        }
                    }
                }
            }
        },
        "ArrangementHeader":
        {
            "properties":
            {
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "aaaId":
                {
                    "type": "string",
                    "description": "The Identifier of the aa record created"
                },
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "The status of the record"
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "BlockOnTransactionAccountsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/BlockOnTransactionAccountsResponseBody"
                }
            },
            "description": "BlockOnTransactionAccountsResponse"
        },
        "BlockOnTransactionAccountsResponseBody":
        {
            "type": "object",
            "properties":
            {
                "arrangementActivity":
                {
                    "type": "object",
                    "properties":
                    {
                        "partyIds":
                        {
                            "type": "array",
                            "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "partyId":
                                    {
                                        "type": "string",
                                        "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
                                    }
                                }
                            }
                        },
                        "arrangmentId":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "arrangementEffectiveDate":
                        {
                            "type": "string",
                            "format": "date",
                            "description": "Date from which the arrangement is effective"
                        },
                        "productId":
                        {
                            "type": "string",
                            "description": "Id of the product."
                        },
                        "activityId":
                        {
                            "type": "string",
                            "description": "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
                        }
                    }
                },
                "activities":
                {
                    "type": "object",
                    "properties":
                    {
                        "{activityName}":
                        {
                            "type": "object",
                            "properties":
                            {
                                "activity":
                                {
                                    "type": "string"
                                },
                                "transactionStatus":
                                {
                                    "type": "string",
                                    "description": "The status of the transaction"
                                },
                                "id":
                                {
                                    "type": "string",
                                    "description": "The Identifier of the record created"
                                }
                            }
                        }
                    }
                },
                "properties":
                {
                    "type": "object",
                    "properties":
                    {
                        "balance":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string",
                                            "description": "The status of the transaction"
                                        },
                                        "audit":
                                        {
                                            "type": "object",
                                            "properties":
                                            {
                                                "parseTime":
                                                {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Time taken to parse the response by IRIS"
                                                }
                                            }
                                        },
                                        "id":
                                        {
                                            "type": "string",
                                            "description": "The Identifier of the record created"
                                        },
                                        "status":
                                        {
                                            "type": "string",
                                            "description": "The status of the record"
                                        }
                                    }
                                },
                                "body":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "restriction":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "blockingCode":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "blockingReason":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "startDate":
                                        {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Specifies the start date when the instruction will be made active"
                                        },
                                        "expiryDate":
                                        {
                                            "type": "string",
                                            "format": "date",
                                            "description": "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "overrideBody":
        {
            "properties":
            {
                "overrideDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "id":
                            {
                                "type": "string",
                                "description": "The identifier of the override"
                            },
                            "description":
                            {
                                "type": "string",
                                "description": "The actual override message"
                            }
                        }
                    }
                }
            }
        },
        "ArrangementErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/ArrangementErrorResponseBody"
                },
                "override":
                {
                    "$ref": "#/definitions/overrideBody"
                }
            },
            "description": "ArrangementErrorResponse"
        },
        "ArrangementErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "errorDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "fieldName":
                            {
                                "type": "string",
                                "description": "The name of the field"
                            },
                            "code":
                            {
                                "type": "string",
                                "description": "The identifier of the error message"
                            },
                            "message":
                            {
                                "type": "string",
                                "description": "The actual t24 error message"
                            },
                            "property":
                            {
                                "type": "string",
                                "description": "The corresponding property"
                            }
                        }
                    }
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        }
    }
}