{
    "swagger": "2.0",
    "info":
    {
        "description": "Setting cover control for Transaction / Summary / Currency Summary accounts",
        "version": "v1.0.0",
        "title": "Limit Conditions APIs"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/product/cashManagement/bundles/accounts/summaryAccounts/limits":
        {
            "post":
            {
                "description": "Setting cover control for Summary accounts",
                "operationId": "createSummaryAccountLimitConditions",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/SummaryAccountLimitConditions"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "createSummaryAccountLimitConditionsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SummaryAccountLimitConditionsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    }
                }
            }
        },
        "/product/cashManagement/bundles/accounts/currencySummaryAccounts/limits":
        {
            "post":
            {
                "description": "Setting cover control for Currency Summary accounts",
                "operationId": "createCurrencySummaryAccountLimitConditions",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/SummaryAccountLimitConditions"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "createCurrencySummaryAccountLimitConditionsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SummaryAccountLimitConditionsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    }
                }
            }
        },
        "/product/cashManagement/bundles/accounts/transactionAccounts/limits":
        {
            "post":
            {
                "description": "Setting cover control for Transaction accounts",
                "operationId": "createTransactionAccountLimitConditions",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/TransactionAccountLimitConditions"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "createTransactionAccountLimitConditionsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/TransactionAccountLimitConditionsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "PayloadHeader":
        {
            "properties":
            {
                "override":
                {
                    "type": "object",
                    "properties":
                    {
                        "overrideDetails":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "id":
                                    {
                                        "type": "string",
                                        "description": "The identifier of the override"
                                    },
                                    "description":
                                    {
                                        "type": "string",
                                        "description": "The actual override message"
                                    },
                                    "responseCode":
                                    {
                                        "type": "string",
                                        "description": "The user input to accept/reject the override."
                                    }
                                }
                            }
                        }
                    }
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        }
                    }
                }
            }
        },
        "SummaryAccountLimitConditions":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/SummaryAccountLimitConditionsBody"
                }
            },
            "description": "SummaryAccountLimitConditions"
        },
        "SummaryAccountLimitConditionsBody":
        {
            "type": "object",
            "properties":
            {
                "partyIds":
                {
                    "type": "array",
                    "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "partyId":
                            {
                                "type": "string",
                                "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
                            }
                        }
                    }
                },
                "arrangmentId":
                {
                    "type": "string",
                    "description": ""
                },
                "arrangementEffectiveDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Date from which the arrangement is effective"
                },
                "productId":
                {
                    "type": "string",
                    "description": "Id of the product."
                },
                "activityId":
                {
                    "type": "string",
                    "description": "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
                },
                "limit":
                {
                    "type": "object",
                    "properties":
                    {
                        "creditCheck":
                        {
                            "type": "string",
                            "description": "Set to yes if the Collateral Surplus Deficit is positive"
                        },
                        "transactionType":
                        {
                            "type": "string",
                            "description": "This is the type of transaction for which Beneficiary is created i.e. within bank account transfer or other bank transfer etc."
                        },
                        "internalLimit":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                }
            }
        },
        "ArrangementHeader":
        {
            "properties":
            {
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "aaaId":
                {
                    "type": "string",
                    "description": "The Identifier of the aa record created"
                },
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "The status of the record"
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "SummaryAccountLimitConditionsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/SummaryAccountLimitConditionsResponseBody"
                }
            },
            "description": "SummaryAccountLimitConditionsResponse"
        },
        "SummaryAccountLimitConditionsResponseBody":
        {
            "type": "object",
            "properties":
            {
                "arrangementActivity":
                {
                    "type": "object",
                    "properties":
                    {
                        "partyIds":
                        {
                            "type": "array",
                            "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "partyId":
                                    {
                                        "type": "string",
                                        "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
                                    }
                                }
                            }
                        },
                        "arrangmentId":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "arrangementEffectiveDate":
                        {
                            "type": "string",
                            "format": "date",
                            "description": "Date from which the arrangement is effective"
                        },
                        "productId":
                        {
                            "type": "string",
                            "description": "Id of the product."
                        },
                        "activityId":
                        {
                            "type": "string",
                            "description": "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
                        }
                    }
                },
                "activities":
                {
                    "type": "object",
                    "properties":
                    {
                        "{activityName}":
                        {
                            "type": "object",
                            "properties":
                            {
                                "activity":
                                {
                                    "type": "string"
                                },
                                "transactionStatus":
                                {
                                    "type": "string",
                                    "description": "The status of the transaction"
                                },
                                "id":
                                {
                                    "type": "string",
                                    "description": "The Identifier of the record created"
                                }
                            }
                        }
                    }
                },
                "properties":
                {
                    "type": "object",
                    "properties":
                    {
                        "limit":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string",
                                            "description": "The status of the transaction"
                                        },
                                        "audit":
                                        {
                                            "type": "object",
                                            "properties":
                                            {
                                                "parseTime":
                                                {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Time taken to parse the response by IRIS"
                                                }
                                            }
                                        },
                                        "id":
                                        {
                                            "type": "string",
                                            "description": "The Identifier of the record created"
                                        },
                                        "status":
                                        {
                                            "type": "string",
                                            "description": "The status of the record"
                                        }
                                    }
                                },
                                "body":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "creditCheck":
                                        {
                                            "type": "string",
                                            "description": "Set to yes if the Collateral Surplus Deficit is positive"
                                        },
                                        "transactionType":
                                        {
                                            "type": "string",
                                            "description": "This is the type of transaction for which Beneficiary is created i.e. within bank account transfer or other bank transfer etc."
                                        },
                                        "internalLimit":
                                        {
                                            "type": "string",
                                            "description": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "overrideBody":
        {
            "properties":
            {
                "overrideDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "id":
                            {
                                "type": "string",
                                "description": "The identifier of the override"
                            },
                            "description":
                            {
                                "type": "string",
                                "description": "The actual override message"
                            }
                        }
                    }
                }
            }
        },
        "ArrangementErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/ArrangementErrorResponseBody"
                },
                "override":
                {
                    "$ref": "#/definitions/overrideBody"
                }
            },
            "description": "ArrangementErrorResponse"
        },
        "ArrangementErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "errorDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "fieldName":
                            {
                                "type": "string",
                                "description": "The name of the field"
                            },
                            "code":
                            {
                                "type": "string",
                                "description": "The identifier of the error message"
                            },
                            "message":
                            {
                                "type": "string",
                                "description": "The actual t24 error message"
                            },
                            "property":
                            {
                                "type": "string",
                                "description": "The corresponding property"
                            }
                        }
                    }
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        },
        "TransactionAccountLimitConditions":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/TransactionAccountLimitConditionsBody"
                }
            },
            "description": "TransactionAccountLimitConditions"
        },
        "TransactionAccountLimitConditionsBody":
        {
            "type": "object",
            "properties":
            {
                "partyIds":
                {
                    "type": "array",
                    "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "partyId":
                            {
                                "type": "string",
                                "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
                            }
                        }
                    }
                },
                "arrangmentId":
                {
                    "type": "string",
                    "description": ""
                },
                "arrangementEffectiveDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Date from which the arrangement is effective"
                },
                "productId":
                {
                    "type": "string",
                    "description": "Id of the product."
                },
                "activityId":
                {
                    "type": "string",
                    "description": "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
                },
                "limit":
                {
                    "type": "object",
                    "properties":
                    {
                        "creditCheck":
                        {
                            "type": "string",
                            "description": "Set to yes if the Collateral Surplus Deficit is positive"
                        },
                        "transactionType":
                        {
                            "type": "string",
                            "description": "This is the type of transaction for which Beneficiary is created i.e. within bank account transfer or other bank transfer etc."
                        },
                        "internalLimit":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                }
            }
        },
        "TransactionAccountLimitConditionsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/TransactionAccountLimitConditionsResponseBody"
                }
            },
            "description": "TransactionAccountLimitConditionsResponse"
        },
        "TransactionAccountLimitConditionsResponseBody":
        {
            "type": "object",
            "properties":
            {
                "arrangementActivity":
                {
                    "type": "object",
                    "properties":
                    {
                        "partyIds":
                        {
                            "type": "array",
                            "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "partyId":
                                    {
                                        "type": "string",
                                        "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
                                    }
                                }
                            }
                        },
                        "arrangmentId":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "arrangementEffectiveDate":
                        {
                            "type": "string",
                            "format": "date",
                            "description": "Date from which the arrangement is effective"
                        },
                        "productId":
                        {
                            "type": "string",
                            "description": "Id of the product."
                        },
                        "activityId":
                        {
                            "type": "string",
                            "description": "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
                        }
                    }
                },
                "activities":
                {
                    "type": "object",
                    "properties":
                    {
                        "{activityName}":
                        {
                            "type": "object",
                            "properties":
                            {
                                "activity":
                                {
                                    "type": "string"
                                },
                                "transactionStatus":
                                {
                                    "type": "string",
                                    "description": "The status of the transaction"
                                },
                                "id":
                                {
                                    "type": "string",
                                    "description": "The Identifier of the record created"
                                }
                            }
                        }
                    }
                },
                "properties":
                {
                    "type": "object",
                    "properties":
                    {
                        "limit":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string",
                                            "description": "The status of the transaction"
                                        },
                                        "audit":
                                        {
                                            "type": "object",
                                            "properties":
                                            {
                                                "parseTime":
                                                {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Time taken to parse the response by IRIS"
                                                }
                                            }
                                        },
                                        "id":
                                        {
                                            "type": "string",
                                            "description": "The Identifier of the record created"
                                        },
                                        "status":
                                        {
                                            "type": "string",
                                            "description": "The status of the record"
                                        }
                                    }
                                },
                                "body":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "creditCheck":
                                        {
                                            "type": "string",
                                            "description": "Set to yes if the Collateral Surplus Deficit is positive"
                                        },
                                        "transactionType":
                                        {
                                            "type": "string",
                                            "description": "This is the type of transaction for which Beneficiary is created i.e. within bank account transfer or other bank transfer etc."
                                        },
                                        "internalLimit":
                                        {
                                            "type": "string",
                                            "description": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}