{"swagger":"2.0","info":{"description":"User Administration","version":"v1.0.0","title":"UserAdministration"},"host":"api.server.com","basePath":"/api/v1.0.0/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/product/{productId}/protectionLimitConditions":{"get":{"operationId":"getProtectionLimitConditions","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"The identifier of the product","required":true,"type":"string"},{"name":"propertyId","in":"query","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ProtectionLimitConditionsResponse","schema":{"$ref":"#/definitions/productProtectionLimitConditionsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/product/{productId}/availabilityConditions":{"get":{"operationId":"getAvailabilityConditions","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"The identifier of the product","required":true,"type":"string"},{"name":"propertyId","in":"query","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AvailabilityConditionsResponse","schema":{"$ref":"#/definitions/productAvailabilityConditionsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/product/{productLineId}/products":{"get":{"operationId":"getProductsByProductLine","produces":["application/json"],"parameters":[{"name":"productLineId","in":"path","description":"The identifier of the product line","required":true,"type":"string"},{"name":"productGroupId","in":"query","description":"The identifier of the product group","required":false,"type":"string"},{"name":"eligibilityFilter","in":"query","required":false,"type":"string"},{"name":"multiBookEligible","in":"query","required":false,"type":"string"},{"name":"productId","in":"query","description":"The identifier of the product","required":false,"type":"string"},{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ProductsByProductLineResponse","schema":{"$ref":"#/definitions/productProductsByProductLineResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/product/{productId}/permissionConditions":{"get":{"operationId":"getPermissionConditions","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"The identifier of the product","required":true,"type":"string"},{"name":"propertyId","in":"query","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PermissionConditionsResponse","schema":{"$ref":"#/definitions/productPermissionConditionsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/product/{productId}/licensingConditions":{"get":{"operationId":"getLicensingConditions","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"The identifier of the product","required":true,"type":"string"},{"name":"propertyId","in":"query","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"LicensingConditionsResponse","schema":{"$ref":"#/definitions/productLicensingConditionsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/product/{productId}/privilegeConditions":{"get":{"operationId":"getPrivilegeConditions","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"The identifier of the product","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PrivilegeConditionsResponse","schema":{"$ref":"#/definitions/productPrivilegeConditionsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"productProtectionLimitConditionsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/productProtectionLimitConditionsResponseBody"}},"description":"productProtectionLimitConditionsResponse"},"productProtectionLimitConditionsResponseBody":{"type":"array","items":{"type":"object","properties":{"negotiation":{"type":"array","description":"Activity Type","items":{"type":"object","properties":{"negotiationRulesAttribute":{"type":"string","description":""},"options":{"type":"array","items":{"type":"object","properties":{"negotiationRulesOptions":{"type":"string","description":""}}}},"type":{"type":"array","items":{"type":"object","properties":{"negotiationRulesType":{"type":"string","description":""},"negotiationRulesValue":{"type":"string","description":""},"negotiationRulesMessage":{"type":"string","description":""}}}}}}},"productId":{"type":"string","description":"The identifier of the product"},"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property"},"limitAmount":{"type":"number","description":"The amount allocated to a credit limit agreement"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"productAvailabilityConditionsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/productAvailabilityConditionsResponseBody"}},"description":"productAvailabilityConditionsResponse"},"productAvailabilityConditionsResponseBody":{"type":"array","items":{"type":"object","properties":{"day":{"type":"array","items":{"type":"object","properties":{"dayName":{"type":"string","description":"","maxLength":11},"daySelect":{"type":"string","description":"","maxLength":11},"time":{"type":"array","items":{"type":"object","properties":{"startTime":{"type":"string","description":"Indicates start time","pattern":"^([0-1]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"},"endTime":{"type":"string","description":"Indicates end time","pattern":"^([0-1]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"}}}}}}},"productId":{"type":"string","description":"The identifier of the product","maxLength":30},"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property","maxLength":30}}}},"productProductsByProductLineResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/productProductsByProductLineResponseBody"}},"description":"productProductsByProductLineResponse"},"productProductsByProductLineResponseBody":{"type":"array","items":{"type":"object","properties":{"currencies":{"type":"array","description":"","items":{"type":"object","properties":{"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"currencyName":{"type":"string","description":"The name that is displayed for the currency"}}}},"termDetails":{"type":"array","items":{"type":"object","properties":{"minimumTerm":{"type":"string","description":""},"maximumTerm":{"type":"string","description":""}}}},"productLineId":{"type":"string","description":"The identifier of the product line"},"productLineName":{"type":"string","description":"The name that is displayed for the product line"},"productGroupId":{"type":"string","description":"The identifier of the product group"},"productGroupName":{"type":"string","description":"The name that is displayed for the product group"},"productId":{"type":"string","description":"The identifier of the product"},"productName":{"type":"string","description":"The name that is displayed for the product"},"availableFromDate":{"type":"string","format":"date","description":"The date when the product is available for creating arrangements"}}}},"productPermissionConditionsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/productPermissionConditionsResponseBody"}},"description":"productPermissionConditionsResponse"},"productPermissionConditionsResponseBody":{"type":"array","items":{"type":"object","properties":{"productGroup":{"type":"array","description":"","items":{"type":"object","properties":{"productGroupId":{"type":"string","description":"The identifier of the product group","maxLength":30},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35},"permission":{"type":"string","description":"","maxLength":10}}}},"productId":{"type":"string","description":"The identifier of the product","maxLength":30},"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property","maxLength":30}}}},"productLicensingConditionsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/productLicensingConditionsResponseBody"}},"description":"productLicensingConditionsResponse"},"productLicensingConditionsResponseBody":{"type":"array","items":{"type":"object","properties":{"productId":{"type":"string","description":"The identifier of the product"},"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property"},"noOfUsers":{"type":"string","description":""},"noOfRoles":{"type":"string","description":""}}}},"productPrivilegeConditionsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/productPrivilegeConditionsResponseBody"}},"description":"productPrivilegeConditionsResponse"},"productPrivilegeConditionsResponseBody":{"type":"array","items":{"type":"object","properties":{"operations":{"type":"array","description":"Identifies the required operation to be executed for a Trade Finance contract. Input of valid codes as: O for opening of LC, P for Pre-advise of LC, A for Amend LC, C for Collect Charges, D for Decision on Amendments, T for Tracer, IO for LC through Internet Banking Operation and M for Ancillary Message (MT759)","items":{"type":"object","properties":{"operationId":{"type":"string","description":""},"operationName":{"type":"string","description":""},"mandatoryOperation":{"type":"string","description":""},"operationActive":{"type":"string","description":""},"dependency":{"type":"array","items":{"type":"object","properties":{"dependentService":{"type":"string","description":""},"dependentOperation":{"type":"string","description":""}}}}}}},"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property"},"productId":{"type":"string","description":"The identifier of the product"},"serviceId":{"type":"string","description":"This indicates the id of the TSA.SERVICE"},"serviceName":{"type":"string","description":"The service related to an arrangement"},"mandatoryService":{"type":"string","description":""},"serviceActive":{"type":"string","description":""}}}}}}