{
    "swagger": "2.0",
    "info":
    {
        "description": "Update Dedit Interest condition for Transaction / Summary / Currency Summary accounts",
        "version": "v1.0.0",
        "title": "updateDebitInterest"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/product/cashManagement/bundles/accounts/summaryAccounts/debitInterestConditions":
        {
            "post":
            {
                "description": "Update Dedit Interest condition for Summary Accounts",
                "operationId": "updateSummaryAccountDebitInterestConditions",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/SummaryAccountDebitInterestConditions"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "updateSummaryAccountDebitInterestConditionsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SummaryAccountDebitInterestConditionsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    }
                }
            }
        },
        "/product/cashManagement/bundles/accounts/currencySummaryAccounts/debitInterestConditions":
        {
            "post":
            {
                "description": "Update Dedit Interest condition for Currency Summary Accounts",
                "operationId": "updateCurrencyAccountDebitInterestConditions",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/SummaryAccountDebitInterestConditions"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "updateCurrencyAccountDebitInterestConditionsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SummaryAccountDebitInterestConditionsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    }
                }
            }
        },
        "/product/cashManagement/bundles/accounts/transactionAccounts/debitInterestConditions":
        {
            "post":
            {
                "description": "Update Dedit Interest condition for Transaction Accounts",
                "operationId": "updateTransactionAccountDebitInterestConditions",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/TransactionAccountDebitInterestConditions"
                    }
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "updateTransactionAccountDebitInterestConditionsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/TransactionAccountDebitInterestConditionsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ArrangementErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ArrangementErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "PayloadHeader":
        {
            "properties":
            {
                "override":
                {
                    "type": "object",
                    "properties":
                    {
                        "overrideDetails":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "id":
                                    {
                                        "type": "string",
                                        "description": "The identifier of the override"
                                    },
                                    "description":
                                    {
                                        "type": "string",
                                        "description": "The actual override message"
                                    },
                                    "responseCode":
                                    {
                                        "type": "string",
                                        "description": "The user input to accept/reject the override."
                                    }
                                }
                            }
                        }
                    }
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        }
                    }
                }
            }
        },
        "SummaryAccountDebitInterestConditions":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/SummaryAccountDebitInterestConditionsBody"
                }
            },
            "description": "SummaryAccountDebitInterestConditions"
        },
        "SummaryAccountDebitInterestConditionsBody":
        {
            "type": "object",
            "properties":
            {
                "partyIds":
                {
                    "type": "array",
                    "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "partyId":
                            {
                                "type": "string",
                                "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
                            }
                        }
                    }
                },
                "arrangmentId":
                {
                    "type": "string",
                    "description": ""
                },
                "arrangementEffectiveDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Date from which the arrangement is effective"
                },
                "productId":
                {
                    "type": "string",
                    "description": "Id of the product."
                },
                "activityId":
                {
                    "type": "string",
                    "description": "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
                },
                "drinterest":
                {
                    "type": "object",
                    "properties":
                    {
                        "interest":
                        {
                            "type": "array",
                            "description": "Interest amount",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "fixed":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "spread":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "minMaxRate":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "maxRate":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "effectiveRate":
                                    {
                                        "type": "string",
                                        "description": "The actual interest rate for the account at this point in time."
                                    },
                                    "upTo":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "negativeRate":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "orPercent":
                                    {
                                        "type": "number",
                                        "description": ""
                                    },
                                    "margins":
                                    {
                                        "type": "array",
                                        "items":
                                        {
                                            "type": "object",
                                            "properties":
                                            {
                                                "margin":
                                                {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "marginOperation":
                                                {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "marginRate":
                                                {
                                                    "type": "string",
                                                    "description": "This is the rate applied over the default interest rate or commission rate to achieve the actual rate."
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "attributes":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "attributes":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "value":
                                    {
                                        "type": "string",
                                        "description": "The value of the field on which the Alert criteria is based"
                                    },
                                    "linkedArrangement":
                                    {
                                        "type": "string",
                                        "description": "The account which is linked for calculating interest that should be applied to this account"
                                    }
                                }
                            }
                        },
                        "tiers":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "linkedProperty":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                }
            }
        },
        "ArrangementHeader":
        {
            "properties":
            {
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "aaaId":
                {
                    "type": "string",
                    "description": "The Identifier of the aa record created"
                },
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "The status of the record"
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "SummaryAccountDebitInterestConditionsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/SummaryAccountDebitInterestConditionsResponseBody"
                }
            },
            "description": "SummaryAccountDebitInterestConditionsResponse"
        },
        "SummaryAccountDebitInterestConditionsResponseBody":
        {
            "type": "object",
            "properties":
            {
                "arrangementActivity":
                {
                    "type": "object",
                    "properties":
                    {
                        "partyIds":
                        {
                            "type": "array",
                            "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "partyId":
                                    {
                                        "type": "string",
                                        "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
                                    }
                                }
                            }
                        },
                        "arrangmentId":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "arrangementEffectiveDate":
                        {
                            "type": "string",
                            "format": "date",
                            "description": "Date from which the arrangement is effective"
                        },
                        "productId":
                        {
                            "type": "string",
                            "description": "Id of the product."
                        },
                        "activityId":
                        {
                            "type": "string",
                            "description": "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
                        }
                    }
                },
                "activities":
                {
                    "type": "object",
                    "properties":
                    {
                        "{activityName}":
                        {
                            "type": "object",
                            "properties":
                            {
                                "activity":
                                {
                                    "type": "string"
                                },
                                "transactionStatus":
                                {
                                    "type": "string",
                                    "description": "The status of the transaction"
                                },
                                "id":
                                {
                                    "type": "string",
                                    "description": "The Identifier of the record created"
                                }
                            }
                        }
                    }
                },
                "properties":
                {
                    "type": "object",
                    "properties":
                    {
                        "crinterest":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "drinterest":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string",
                                            "description": "The status of the transaction"
                                        },
                                        "audit":
                                        {
                                            "type": "object",
                                            "properties":
                                            {
                                                "parseTime":
                                                {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Time taken to parse the response by IRIS"
                                                }
                                            }
                                        },
                                        "id":
                                        {
                                            "type": "string",
                                            "description": "The Identifier of the record created"
                                        },
                                        "status":
                                        {
                                            "type": "string",
                                            "description": "The status of the record"
                                        }
                                    }
                                },
                                "body":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "interest":
                                        {
                                            "type": "array",
                                            "description": "Interest amount",
                                            "items":
                                            {
                                                "type": "object",
                                                "properties":
                                                {
                                                    "fixed":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "spread":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "minMaxRate":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "maxRate":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "effectiveRate":
                                                    {
                                                        "type": "string",
                                                        "description": "The actual interest rate for the account at this point in time."
                                                    },
                                                    "upTo":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "negativeRate":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "orPercent":
                                                    {
                                                        "type": "number",
                                                        "description": ""
                                                    },
                                                    "margins":
                                                    {
                                                        "type": "array",
                                                        "items":
                                                        {
                                                            "type": "object",
                                                            "properties":
                                                            {
                                                                "margin":
                                                                {
                                                                    "type": "string",
                                                                    "description": ""
                                                                },
                                                                "marginOperation":
                                                                {
                                                                    "type": "string",
                                                                    "description": ""
                                                                },
                                                                "marginRate":
                                                                {
                                                                    "type": "string",
                                                                    "description": "This is the rate applied over the default interest rate or commission rate to achieve the actual rate."
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "attributes":
                                        {
                                            "type": "array",
                                            "items":
                                            {
                                                "type": "object",
                                                "properties":
                                                {
                                                    "attributes":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "value":
                                                    {
                                                        "type": "string",
                                                        "description": "The value of the field on which the Alert criteria is based"
                                                    },
                                                    "linkedArrangement":
                                                    {
                                                        "type": "string",
                                                        "description": "The account which is linked for calculating interest that should be applied to this account"
                                                    }
                                                }
                                            }
                                        },
                                        "tiers":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "linkedProperty":
                                        {
                                            "type": "string",
                                            "description": ""
                                        }
                                    }
                                }
                            }
                        },
                        "penalint":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "bundleinterest":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "infcrinterest":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "infdrinterest":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "inhcrinterest":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "inhdrinterest":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "inhpenalint":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "overrideBody":
        {
            "properties":
            {
                "overrideDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "id":
                            {
                                "type": "string",
                                "description": "The identifier of the override"
                            },
                            "description":
                            {
                                "type": "string",
                                "description": "The actual override message"
                            }
                        }
                    }
                }
            }
        },
        "ArrangementErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/ArrangementErrorResponseBody"
                },
                "override":
                {
                    "$ref": "#/definitions/overrideBody"
                }
            },
            "description": "ArrangementErrorResponse"
        },
        "ArrangementErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "errorDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "fieldName":
                            {
                                "type": "string",
                                "description": "The name of the field"
                            },
                            "code":
                            {
                                "type": "string",
                                "description": "The identifier of the error message"
                            },
                            "message":
                            {
                                "type": "string",
                                "description": "The actual t24 error message"
                            },
                            "property":
                            {
                                "type": "string",
                                "description": "The corresponding property"
                            }
                        }
                    }
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        },
        "TransactionAccountDebitInterestConditions":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/TransactionAccountDebitInterestConditionsBody"
                }
            },
            "description": "TransactionAccountDebitInterestConditions"
        },
        "TransactionAccountDebitInterestConditionsBody":
        {
            "type": "object",
            "properties":
            {
                "partyIds":
                {
                    "type": "array",
                    "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "partyId":
                            {
                                "type": "string",
                                "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
                            }
                        }
                    }
                },
                "arrangmentId":
                {
                    "type": "string",
                    "description": ""
                },
                "arrangementEffectiveDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Date from which the arrangement is effective"
                },
                "productId":
                {
                    "type": "string",
                    "description": "Id of the product."
                },
                "activityId":
                {
                    "type": "string",
                    "description": "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
                },
                "drinterest":
                {
                    "type": "object",
                    "properties":
                    {
                        "interest":
                        {
                            "type": "array",
                            "description": "Interest amount",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "fixed":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "spread":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "minMaxRate":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "maxRate":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "effectiveRate":
                                    {
                                        "type": "string",
                                        "description": "The actual interest rate for the account at this point in time."
                                    },
                                    "upTo":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "negativeRate":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "orPercent":
                                    {
                                        "type": "number",
                                        "description": ""
                                    },
                                    "margins":
                                    {
                                        "type": "array",
                                        "items":
                                        {
                                            "type": "object",
                                            "properties":
                                            {
                                                "margin":
                                                {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "marginOperation":
                                                {
                                                    "type": "string",
                                                    "description": ""
                                                },
                                                "marginRate":
                                                {
                                                    "type": "string",
                                                    "description": "This is the rate applied over the default interest rate or commission rate to achieve the actual rate."
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "attributes":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "attributes":
                                    {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "value":
                                    {
                                        "type": "string",
                                        "description": "The value of the field on which the Alert criteria is based"
                                    },
                                    "linkedArrangement":
                                    {
                                        "type": "string",
                                        "description": "The account which is linked for calculating interest that should be applied to this account"
                                    }
                                }
                            }
                        },
                        "tiers":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "linkedProperty":
                        {
                            "type": "string",
                            "description": ""
                        }
                    }
                }
            }
        },
        "TransactionAccountDebitInterestConditionsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ArrangementHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/TransactionAccountDebitInterestConditionsResponseBody"
                }
            },
            "description": "TransactionAccountDebitInterestConditionsResponse"
        },
        "TransactionAccountDebitInterestConditionsResponseBody":
        {
            "type": "object",
            "properties":
            {
                "arrangementActivity":
                {
                    "type": "object",
                    "properties":
                    {
                        "partyIds":
                        {
                            "type": "array",
                            "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "partyId":
                                    {
                                        "type": "string",
                                        "description": "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
                                    }
                                }
                            }
                        },
                        "arrangmentId":
                        {
                            "type": "string",
                            "description": ""
                        },
                        "arrangementEffectiveDate":
                        {
                            "type": "string",
                            "format": "date",
                            "description": "Date from which the arrangement is effective"
                        },
                        "productId":
                        {
                            "type": "string",
                            "description": "Id of the product."
                        },
                        "activityId":
                        {
                            "type": "string",
                            "description": "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
                        }
                    }
                },
                "activities":
                {
                    "type": "object",
                    "properties":
                    {
                        "{activityName}":
                        {
                            "type": "object",
                            "properties":
                            {
                                "activity":
                                {
                                    "type": "string"
                                },
                                "transactionStatus":
                                {
                                    "type": "string",
                                    "description": "The status of the transaction"
                                },
                                "id":
                                {
                                    "type": "string",
                                    "description": "The Identifier of the record created"
                                }
                            }
                        }
                    }
                },
                "properties":
                {
                    "type": "object",
                    "properties":
                    {
                        "crinterest":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "drinterest":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string",
                                            "description": "The status of the transaction"
                                        },
                                        "audit":
                                        {
                                            "type": "object",
                                            "properties":
                                            {
                                                "parseTime":
                                                {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Time taken to parse the response by IRIS"
                                                }
                                            }
                                        },
                                        "id":
                                        {
                                            "type": "string",
                                            "description": "The Identifier of the record created"
                                        },
                                        "status":
                                        {
                                            "type": "string",
                                            "description": "The status of the record"
                                        }
                                    }
                                },
                                "body":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "interest":
                                        {
                                            "type": "array",
                                            "description": "Interest amount",
                                            "items":
                                            {
                                                "type": "object",
                                                "properties":
                                                {
                                                    "fixed":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "spread":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "minMaxRate":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "maxRate":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "effectiveRate":
                                                    {
                                                        "type": "string",
                                                        "description": "The actual interest rate for the account at this point in time."
                                                    },
                                                    "upTo":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "negativeRate":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "orPercent":
                                                    {
                                                        "type": "number",
                                                        "description": ""
                                                    },
                                                    "margins":
                                                    {
                                                        "type": "array",
                                                        "items":
                                                        {
                                                            "type": "object",
                                                            "properties":
                                                            {
                                                                "margin":
                                                                {
                                                                    "type": "string",
                                                                    "description": ""
                                                                },
                                                                "marginOperation":
                                                                {
                                                                    "type": "string",
                                                                    "description": ""
                                                                },
                                                                "marginRate":
                                                                {
                                                                    "type": "string",
                                                                    "description": "This is the rate applied over the default interest rate or commission rate to achieve the actual rate."
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "attributes":
                                        {
                                            "type": "array",
                                            "items":
                                            {
                                                "type": "object",
                                                "properties":
                                                {
                                                    "attributes":
                                                    {
                                                        "type": "string",
                                                        "description": ""
                                                    },
                                                    "value":
                                                    {
                                                        "type": "string",
                                                        "description": "The value of the field on which the Alert criteria is based"
                                                    },
                                                    "linkedArrangement":
                                                    {
                                                        "type": "string",
                                                        "description": "The account which is linked for calculating interest that should be applied to this account"
                                                    }
                                                }
                                            }
                                        },
                                        "tiers":
                                        {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "linkedProperty":
                                        {
                                            "type": "string",
                                            "description": ""
                                        }
                                    }
                                }
                            }
                        },
                        "penalint":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "bundleinterest":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "infcrinterest":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "infdrinterest":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "inhcrinterest":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "inhdrinterest":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "inhpenalint":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "utllimitfees":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "ovdlimitfees":
                        {
                            "type": "object",
                            "properties":
                            {
                                "header":
                                {
                                    "type": "object",
                                    "properties":
                                    {
                                        "transactionStatus":
                                        {
                                            "type": "string"
                                        },
                                        "id":
                                        {
                                            "type": "string"
                                        },
                                        "status":
                                        {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}