{"swagger":"2.0","info":{"description":"List Short Term Finance Catalog Products","version":"v1.0.0","title":"getShortTermFinanceCatalog"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/product/products/shortTermFinance":{"get":{"operationId":"getShortTermFinanceCatalog","produces":["application/json"],"parameters":[{"name":"currency","in":"query","description":"Identifies the underlying currency used for the transaction.","required":false,"type":"string"},{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"minTerm","in":"query","description":"","required":false,"type":"string"},{"name":"maxTerm","in":"query","description":"","required":false,"type":"string"},{"name":"minAmount","in":"query","description":"","required":false,"type":"string"},{"name":"maxAmount","in":"query","description":"","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ShortTermFinanceCatalogResponse","schema":{"$ref":"#/definitions/productShortTermFinanceCatalogResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"productShortTermFinanceCatalogResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/productShortTermFinanceCatalogResponseBody"}},"description":"productShortTermFinanceCatalogResponse"},"productShortTermFinanceCatalogResponseBody":{"type":"array","items":{"type":"object","properties":{"productId":{"type":"string","description":"Id of the product.","maxLength":100},"currency":{"type":"string","description":"Identifies the underlying currency used for the transaction.","maxLength":100},"variation":{"type":"string","description":"Additional product specification based on particular criteria for example the account was opened on-line and attracted a higher interest rate.� Drop down list to select appropriate variation or applied automatically?","maxLength":100},"productDescription":{"type":"string","description":"Description of the product","maxLength":100},"minTerm":{"type":"string","description":"","maxLength":100},"maxTerm":{"type":"string","description":"","maxLength":100},"minAmount":{"type":"string","description":"","maxLength":100},"maxAmount":{"type":"string","description":"","maxLength":100},"rateType":{"type":"string","description":"Fixed or floating rate.","maxLength":100},"baseInterestRate":{"type":"string","description":"","maxLength":100},"interestMargin":{"type":"string","description":"","maxLength":100}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}