{
    "swagger": "2.0",
    "info":
    {
        "description": "Allows the viewing of Instruments - Bonds, Equities, Futures, Options and Active IPOs",
        "version": "v1.0.0",
        "title": "Reference Instruments APIs"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/reference/instruments/initialPublicOfferings":
        {
            "get":
            {
                "operationId": "getActiveIPOs",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "instrumentId",
                    "in": "query",
                    "description": "The identifier of the instrument",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "startDate",
                    "in": "query",
                    "description": "Beginning Date of IPO Subscription",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "endDate",
                    "in": "query",
                    "description": "End Date of IPO Subscription  or Amendment of earlier subscription",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "ActiveIPOsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ActiveIPOsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/reference/instruments/bonds":
        {
            "get":
            {
                "operationId": "getInstrumentsBonds",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "instrumentId",
                    "in": "query",
                    "description": "The identifier of the instrument",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "instrumentCurrencyId",
                    "in": "query",
                    "description": "The currency of the instrument",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "mnemonic",
                    "in": "query",
                    "description": "Shortcut code for referring an Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "subAssetTypeId",
                    "in": "query",
                    "description": "Identifies the group of like Securities, which are reported together ",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "priceType",
                    "in": "query",
                    "description": "Defines the method to be used when calculating the price of a trade",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "ISIN",
                    "in": "query",
                    "description": "The International Securities Identification Number of the instrument",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "stockExchange",
                    "in": "query",
                    "description": "The stock exchange identifier",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "depositoryId",
                    "in": "query",
                    "description": "Id of the securities depository.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "InstrumentsBondsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/InstrumentsBondsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/reference/instruments/shares":
        {
            "get":
            {
                "operationId": "getInstrumentShares",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "instrumentId",
                    "in": "query",
                    "description": "The identifier of the instrument",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "instrumentCurrencyId",
                    "in": "query",
                    "description": "The currency of the instrument",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "mnemonic",
                    "in": "query",
                    "description": "Shortcut code for referring an Entity/Company/Branch.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "subAssetTypeId",
                    "in": "query",
                    "description": "Identifies the group of like Securities, which are reported together ",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "priceType",
                    "in": "query",
                    "description": "Defines the method to be used when calculating the price of a trade",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "ISIN",
                    "in": "query",
                    "description": "The International Securities Identification Number of the instrument",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "stockExchange",
                    "in": "query",
                    "description": "The stock exchange identifier",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "depositoryId",
                    "in": "query",
                    "description": "Id of the securities depository.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "InstrumentSharesResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/InstrumentSharesResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/reference/instruments/futures":
        {
            "get":
            {
                "operationId": "getFutureContracts",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "FutureContractsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/FutureContractsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/reference/instruments/options":
        {
            "get":
            {
                "operationId": "getOptionContracts",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "OptionContractsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/OptionContractsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "QueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                }
            }
        },
        "ActiveIPOsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/ActiveIPOsResponseBody"
                }
            },
            "description": "ActiveIPOsResponse"
        },
        "ActiveIPOsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "instrumentId":
                    {
                        "type": "string",
                        "description": "The identifier of the instrument",
                        "maxLength": 12
                    },
                    "displayName":
                    {
                        "type": "string",
                        "description": "Name used for display or enrichment purposes",
                        "maxLength": 35
                    },
                    "stockExchange":
                    {
                        "type": "string",
                        "description": "The stock exchange identifier",
                        "maxLength": 5
                    },
                    "startDate":
                    {
                        "type": "string",
                        "format": "date",
                        "description": "Beginning Date of IPO Subscription"
                    },
                    "endDate":
                    {
                        "type": "string",
                        "format": "date",
                        "description": "End Date of IPO Subscription  or Amendment of earlier subscription"
                    },
                    "lot":
                    {
                        "type": "number",
                        "description": "The number of lots/contracts traded"
                    },
                    "priceCurrency":
                    {
                        "type": "string",
                        "description": "The currency of the Price",
                        "maxLength": 3
                    },
                    "minOfferPrice":
                    {
                        "type": "number",
                        "description": "Minimum price used for bidding in IPO order"
                    },
                    "maxOfferPrice":
                    {
                        "type": "number",
                        "description": " Maximum price allowed to bid in IPO order"
                    },
                    "price":
                    {
                        "type": "number",
                        "description": "The Price at which the nominal amount of the Security is to be valued for the transaction."
                    }
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "QueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/QueryErrorResponseBody"
                }
            },
            "description": "QueryErrorResponse"
        },
        "QueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        },
        "InstrumentsBondsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/InstrumentsBondsResponseBody"
                }
            },
            "description": "InstrumentsBondsResponse"
        },
        "InstrumentsBondsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "instrumentId":
                    {
                        "type": "string",
                        "description": "The identifier of the instrument",
                        "maxLength": 12
                    },
                    "ISIN":
                    {
                        "type": "string",
                        "description": "The International Securities Identification Number of the instrument",
                        "maxLength": 12
                    },
                    "instrumentName":
                    {
                        "type": "string",
                        "description": "The name that is displayed for the instrument, taken from the Security Master",
                        "maxLength": 35
                    },
                    "instrumentCurrencyId":
                    {
                        "type": "string",
                        "description": "The currency of the instrument",
                        "maxLength": 3
                    },
                    "stockExchange":
                    {
                        "type": "string",
                        "description": "The stock exchange identifier",
                        "maxLength": 5
                    },
                    "priceCurrency":
                    {
                        "type": "string",
                        "description": "The currency of the Price",
                        "maxLength": 3
                    },
                    "lastPrice":
                    {
                        "type": "number",
                        "description": "Indicates the last recorded price of the instrument"
                    },
                    "priceType":
                    {
                        "type": "string",
                        "description": "Defines the method to be used when calculating the price of a trade",
                        "maxLength": 5
                    },
                    "interestRate":
                    {
                        "type": "number",
                        "description": "Identifies the bid rate of the related currency for the defined time period"
                    },
                    "couponDate":
                    {
                        "type": "string",
                        "format": "date",
                        "description": "Effective Date of Coupon Rate"
                    },
                    "couponRate":
                    {
                        "type": "number",
                        "description": "Rate at which a periodic payment is made under a bond/security and also in interest rate derivatives such as Interest rate Swaps."
                    },
                    "inflationIndex":
                    {
                        "type": "number",
                        "description": "Inflation Index to be considered for the Bonds"
                    },
                    "inflationIndexComponent":
                    {
                        "type": "string",
                        "description": "Component of Bond Security on which the inflation Index is applicable. - Interest - Principal - Both (Interest and Pricipal)",
                        "maxLength": 11
                    },
                    "maturityDate":
                    {
                        "type": "number",
                        "description": "The delivery period or maturity date of the contract transacted"
                    },
                    "tradingUnits":
                    {
                        "type": "number",
                        "description": "Specifies the smallest nominal amount that may be traded"
                    },
                    "depositoryId":
                    {
                        "type": "string",
                        "description": "Id of the securities depository.",
                        "maxLength": 10
                    }
                }
            }
        },
        "InstrumentSharesResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/InstrumentSharesResponseBody"
                }
            },
            "description": "InstrumentSharesResponse"
        },
        "InstrumentSharesResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "instrumentId":
                    {
                        "type": "string",
                        "description": "The identifier of the instrument",
                        "maxLength": 12
                    },
                    "instrumentName":
                    {
                        "type": "string",
                        "description": "The name that is displayed for the instrument, taken from the Security Master",
                        "maxLength": 35
                    },
                    "companyDomicile":
                    {
                        "type": "string",
                        "description": "Specifies the country of domicile, of the parent company or government or establishment issuing the Security",
                        "maxLength": 2
                    },
                    "instrumentDomicile":
                    {
                        "type": "string",
                        "description": "Specifies the country domicile of the Security being issued",
                        "maxLength": 2
                    },
                    "instrumentCurrencyId":
                    {
                        "type": "string",
                        "description": "The currency of the instrument",
                        "maxLength": 3
                    },
                    "priceCurrency":
                    {
                        "type": "string",
                        "description": "The currency of the Price",
                        "maxLength": 3
                    },
                    "lastPrice":
                    {
                        "type": "number",
                        "description": "Indicates the last recorded price of the instrument"
                    },
                    "lastPriceDate":
                    {
                        "type": "string",
                        "format": "date",
                        "description": "Effective Date of Last Price of the Security"
                    },
                    "subAssetTypeId":
                    {
                        "type": "number",
                        "description": "Identifies the group of like Securities, which are reported together "
                    },
                    "subAssetType":
                    {
                        "type": "string",
                        "description": "The name of the Sub Asset Type",
                        "maxLength": 20
                    },
                    "priceType":
                    {
                        "type": "string",
                        "description": "Defines the method to be used when calculating the price of a trade",
                        "maxLength": 5
                    },
                    "priceUpdateCode":
                    {
                        "type": "string",
                        "description": "Specifies the type of price update that will update the price of this security",
                        "maxLength": 5
                    },
                    "interestRate":
                    {
                        "type": "number",
                        "description": "Identifies the bid rate of the related currency for the defined time period"
                    },
                    "maturityDate":
                    {
                        "type": "string",
                        "format": "date",
                        "description": "The delivery period or maturity date of the contract transacted"
                    },
                    "tradingUnits":
                    {
                        "type": "number",
                        "description": "Specifies the smallest nominal amount that may be traded"
                    }
                }
            }
        },
        "FutureContractsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/FutureContractsResponseBody"
                }
            },
            "description": "FutureContractsResponse"
        },
        "FutureContractsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "contractId":
                    {
                        "type": "number",
                        "description": "The identifier of the contract"
                    },
                    "displayName":
                    {
                        "type": "string",
                        "description": "Name used for display or enrichment purposes",
                        "maxLength": 35
                    }
                }
            }
        },
        "OptionContractsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/OptionContractsResponseBody"
                }
            },
            "description": "OptionContractsResponse"
        },
        "OptionContractsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "contractId":
                    {
                        "type": "number",
                        "description": "The identifier of the contract"
                    },
                    "displayName":
                    {
                        "type": "string",
                        "description": "Name used for display or enrichment purposes",
                        "maxLength": 35
                    }
                }
            }
        }
    }
}