{
    "swagger": "2.0",
    "info":
    {
        "description": "Displays the process workflow pending items relating to treasury transactions and list of to do list for each participant.",
        "version": "v1.0.0",
        "title": "Work Lists"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/system/workflows/processes":
        {
            "get":
            {
                "operationId": "getPendingWorkflows",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "data",
                    "in": "query",
                    "description": "Input parameter",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "processNumber",
                    "in": "query",
                    "description": "",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "PendingWorkflowsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/PendingWorkflowsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/system/workflows/activities":
        {
            "get":
            {
                "operationId": "getWorkflowPendingActivities",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "activityTransaction",
                    "in": "query",
                    "description": "Process Workflow Activity Transactions",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "user",
                    "in": "query",
                    "description": "The user who created the project",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "transactionReference",
                    "in": "query",
                    "description": "The transaction reference identifier.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "process",
                    "in": "query",
                    "description": "Process",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "pwActivityStatus",
                    "in": "query",
                    "description": "Process workflow activity status  POSSIBLE VALUES: COMPLETED APPROVED AUTHORISED",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "WorkflowPendingActivitiesResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/WorkflowPendingActivitiesResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/system/workflows/transactions":
        {
            "get":
            {
                "operationId": "getTransactions",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "userRole",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "originateProcess",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "processId",
                    "in": "query",
                    "description": "Process ID",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "TransactionsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/TransactionsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/system/workflows/roleless/transactions":
        {
            "get":
            {
                "operationId": "getRolelessTransactions",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "processId",
                    "in": "query",
                    "description": "Process ID",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "RolelessTransactionsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/TransactionsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "QueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                }
            }
        },
        "PendingWorkflowsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/PendingWorkflowsResponseBody"
                }
            },
            "description": "PendingWorkflowsResponse"
        },
        "PendingWorkflowsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "dueDate":
                    {
                        "type": "string",
                        "format": "date",
                        "description": ""
                    },
                    "type":
                    {
                        "type": "string",
                        "description": "The product condition has an activity type associated that drives an action."
                    },
                    "clientName":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "displayName":
                    {
                        "type": "string",
                        "description": "Name used for display or enrichment purposes"
                    },
                    "owner":
                    {
                        "type": "string",
                        "description": "User who defines the Campaign"
                    },
                    "referenceId":
                    {
                        "type": "string",
                        "description": ""
                    },
                    "transactionReference":
                    {
                        "type": "string",
                        "description": "The transaction reference identifier."
                    },
                    "status":
                    {
                        "type": "string",
                        "description": "The status identifier or Status of the error account"
                    }
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "QueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/QueryErrorResponseBody"
                }
            },
            "description": "QueryErrorResponse"
        },
        "QueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        },
        "WorkflowPendingActivitiesResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/WorkflowPendingActivitiesResponseBody"
                }
            },
            "description": "WorkflowPendingActivitiesResponse"
        },
        "WorkflowPendingActivitiesResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "processId":
                    {
                        "type": "string",
                        "description": "Process ID",
                        "maxLength": 35
                    },
                    "activityId":
                    {
                        "type": "string",
                        "description": "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
                        "maxLength": 15
                    },
                    "activityName":
                    {
                        "type": "string",
                        "description": "Id of the selected activity",
                        "maxLength": 35
                    },
                    "activityStatus":
                    {
                        "type": "string",
                        "description": "Business Activity Status  POSSIBLE VALUES: 0: Ready  1: Running  2: Completed successfully  3: On hold or in error",
                        "maxLength": 15
                    },
                    "transactionReference":
                    {
                        "type": "string",
                        "description": "The transaction reference identifier.",
                        "maxLength": 35
                    },
                    "user":
                    {
                        "type": "string",
                        "description": "The user who created the project",
                        "maxLength": 35
                    },
                    "owner":
                    {
                        "type": "string",
                        "description": "User who defines the Campaign",
                        "maxLength": 35
                    },
                    "launch":
                    {
                        "type": "string",
                        "description": "Application Version or the enquiry name to be launched.",
                        "maxLength": 99
                    }
                }
            }
        },
        "TransactionsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/TransactionsResponseBody"
                }
            },
            "description": "TransactionsResponse"
        },
        "TransactionsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "displayName":
                    {
                        "type": "string",
                        "description": "Name used for display or enrichment purposes",
                        "maxLength": 15
                    },
                    "processId":
                    {
                        "type": "string",
                        "description": "Process ID",
                        "maxLength": 35
                    },
                    "activity":
                    {
                        "type": "string",
                        "description": "The name of the action that will be performed on a condition of an account.",
                        "maxLength": 20
                    },
                    "participantGroup":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 34
                    },
                    "transactionReference":
                    {
                        "type": "string",
                        "description": "The transaction reference identifier.",
                        "maxLength": 24
                    },
                    "target":
                    {
                        "type": "string",
                        "description": "Specifies how the Customer is considered by the bank and how he fits in with the Account Officer's overall marketing strategy",
                        "maxLength": 99
                    },
                    "targetId":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 99
                    },
                    "activityStatus":
                    {
                        "type": "string",
                        "description": "Business Activity Status  POSSIBLE VALUES: 0: Ready  1: Running  2: Completed successfully  3: On hold or in error",
                        "maxLength": 35
                    }
                }
            }
        }
    }
}